<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio06_2.1">Repeating Types</a>
    </li>
    <li>
      <a href="#wfaudio06_2.2">Returning to Characters</a>
    </li>
    <li>
      <a href="#wfaudio06_2.3">The Heart's Truth</a>
    </li>
    <li>
      <a href="#wfaudio06_2.4">Relationship to Society</a>
    </li>
    <li>
      <a href="#wfaudio06_2.5">A Fable's Setting</a>
    </li>
    <li>
      <a href="#wfaudio06_2.6">A Fable's Merit</a>
    </li>
    <li>
      <a href="#wfaudio06_2.7">What Bon Knew</a>
    </li>
    <li>
      <a href="#wfaudio06_2.8">The Greatest Sin</a>
    </li>
    <li>
      <a href="#wfaudio06_2.9">Nancy's Character</a>
    </li>
    <li>
      <a href="#wfaudio06_2.10">The Curse on the South</a>
    </li>
    <li>
      <a href="#wfaudio06_2.11">Integrating Society</a>
    </li>
    <li>
      <a href="#wfaudio06_2.12">Miscegenation</a>
    </li>
    <li>
      <a href="#wfaudio06_2.13">Sutpen and Society</a>
    </li>
    <li>
      <a href="#wfaudio06_2.14">Hope for the South</a>
    </li>
    <li>
      <a href="#wfaudio06_2.15">Responding to Sutpen</a>
    </li>
    <li>
      <a href="#wfaudio06_2.16">Mechanization</a>
    </li>
    <li>
      <a href="#wfaudio06_2.17">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio06_2.1"/>
  <p>Is there any purpose in the repetition of the same types of characters
                    throughout your writing?</p>
</div>
<div class="section">
  <a name="wfaudio06_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.3"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.6"/>
  <p>Sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.9"/>
  <p>Sir, did you feel any connection between the servant Nancy in Requiem for a Nun and the servant Nancy in "That Evening
                    Sun"?</p>
</div>
<div class="section">
  <a name="wfaudio06_2.10"/>
  <p>Mr. Faulkner.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.11"/>
  <p>Sir, along that line, how will it do it, and what will it do
                     to adjust its relationship with the Negro? Will it take the Negro into
                    society or what will ?</p>
</div>
<div class="section">
  <a name="wfaudio06_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_2.17"/>
  <p>Mr. Faulkner, I'm sure we're all very grateful to you for coming
                        down and answering our questions this morning. Thank you, sir.  </p>
</div>
