<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio11_1.1">Warmup</a>
    </li>
    <li>
      <a href="#wfaudio11_1.2">Blend Words</a>
    </li>
    <li>
      <a href="#wfaudio11_1.3">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio11_1.4">Mississippi v Southern Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.5">Types of Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.6">Dialect and Status</a>
    </li>
    <li>
      <a href="#wfaudio11_1.7">Suption</a>
    </li>
    <li>
      <a href="#wfaudio11_1.8">Pussel-gutted</a>
    </li>
    <li>
      <a href="#wfaudio11_1.9">Kernal v Cunnel</a>
    </li>
    <li>
      <a href="#wfaudio11_1.10">Peakling</a>
    </li>
    <li>
      <a href="#wfaudio11_1.11">Ay for Yes</a>
    </li>
    <li>
      <a href="#wfaudio11_1.12">Beholden</a>
    </li>
    <li>
      <a href="#wfaudio11_1.13">Spelling Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.14">Winder</a>
    </li>
    <li>
      <a href="#wfaudio11_1.15">Aguer</a>
    </li>
    <li>
      <a href="#wfaudio11_1.16">Ara v Ary</a>
    </li>
    <li>
      <a href="#wfaudio11_1.17">Awry and Ory</a>
    </li>
    <li>
      <a href="#wfaudio11_1.18">Dog v Dawg</a>
    </li>
    <li>
      <a href="#wfaudio11_1.19">Hit for It</a>
    </li>
    <li>
      <a href="#wfaudio11_1.20">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio11_1.21">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio11_1.22">Close</a>
    </li>
    <li>
      <a href="#wfaudio11_1.23">Break, 1</a>
    </li>
    <li>
      <a href="#wfaudio11_1.24">Break, 2</a>
    </li>
    <li>
      <a href="#wfaudio11_1.25">Elefunk</a>
    </li>
    <li>
      <a href="#wfaudio11_1.26">Jaybirds and Hell</a>
    </li>
    <li>
      <a href="#wfaudio11_1.27">No more despair</a>
    </li>
    <li>
      <a href="#wfaudio11_1.28">Technical Terms</a>
    </li>
    <li>
      <a href="#wfaudio11_1.29">Starting Program Two</a>
    </li>
    <li>
      <a href="#wfaudio11_1.30">Swurge for Surge</a>
    </li>
    <li>
      <a href="#wfaudio11_1.31">Opening Program Two</a>
    </li>
    <li>
      <a href="#wfaudio11_1.32">Hogfish</a>
    </li>
    <li>
      <a href="#wfaudio11_1.33">Frailed</a>
    </li>
    <li>
      <a href="#wfaudio11_1.34">Dust-dark and Dust-dawn</a>
    </li>
    <li>
      <a href="#wfaudio11_1.35">Kain't and Class</a>
    </li>
    <li>
      <a href="#wfaudio11_1.36">Holler</a>
    </li>
    <li>
      <a href="#wfaudio11_1.37">Figures of Speech</a>
    </li>
    <li>
      <a href="#wfaudio11_1.38">Sources of Figures</a>
    </li>
    <li>
      <a href="#wfaudio11_1.39">Christmas Masts</a>
    </li>
    <li>
      <a href="#wfaudio11_1.40">Bot as Misprint</a>
    </li>
    <li>
      <a href="#wfaudio11_1.41">Chapping</a>
    </li>
    <li>
      <a href="#wfaudio11_1.42">Lawed</a>
    </li>
    <li>
      <a href="#wfaudio11_1.43">Tongued</a>
    </li>
    <li>
      <a href="#wfaudio11_1.44">A Tie-up</a>
    </li>
    <li>
      <a href="#wfaudio11_1.45">Soopled</a>
    </li>
    <li>
      <a href="#wfaudio11_1.46">Regional Dialects Q</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio11_1.1"/>
  <p>
						 road shows, as he says.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.2"/>
  <p>Is that all right now? Can anyone tell me where these wonderful
						blend words in "Spotted Horses" are? "Sward" is one of them I remember. Can
						you hear me all right?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.3"/>
  <p>Today as our special guest we have with us the American novelist
						William Faulkner, author-in-residence at the University of Virginia this
						semester. We are indeed fortunate to have him with us. Also around our table
						today are our regular panel members Mr. Edward Stephenson and Mr. Robert
						Davis. As&#x2014;and, as another special panel member today, we have Mr. Joseph
						Blotner, of the English Department. And our subject today is Mr. Faulkner's
						dialect. And I suppose we might as well lay on the table one plain fact, one
						simple fact at first, that it is Mississippi dialect. Isn't it, Mr.
						Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.4"/>
  <p>Would you hear the same words, all the same vocabulary?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.5"/>
  <p> By the way, Mr. Faulkner, how many
						different types of dialect do you try to distinguish? Now I notice, of
						course, the difference between the speech of the Negroes and the poor white
						trash. Are there any other distinctions that you try to make?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.6"/>
  <p>Do you find that your characters change their dialect as they
						improve in financial status?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.7"/>
  <p>By the way, a friend of yours asked me to ask you a question today.
						He said that Flem Snopes doesn't smoke, but he'll chew a little tobacco till
						all the "suption" is out of it. He wanted me to ask you if you coined that
						word "suption."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.8"/>
  <p>Mr. Faulkner, I had&#x2014;have down here on a list several words that I
						would like to ask you about. It's&#x2014;one is the word "pussel-gutted." You spoke
						about Jewel calling his horse "pussel-gutted," and that was in mock
						affection. And then in another place Peabody&#x2014;this is in, by the way, in As I Lay Dying&#x2014;Peabody has "pussel-gutted" himself
						eating cold greens. I suppose that means make yourself flabby.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.9"/>
  <p>May I come back for a moment to this distinction between the speech
						of the Negroes and of the&#x2014;of what used to be called the poor white trash. In
						your short story "Wash," Mr. Faulkner, when Wash is talking about Colonel
						Sutpen, he call&#x2014;you spell it K-E-R-N-E-L, when the Negroes are talking you
						spell it C-U-N-N-E-L. Is that supposed to be "Kernal' that Wash says, and
						"Cunnel" that the Negroes say. In other words, Negroes drop the "r."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.10"/>
  <p>May I ask you about another word that I noticed, and that's the word
							"peakling."  You said about Jewel, or rather in
						connection with Jewel it was said, "I told them that's why ma always whipped
						him and petted him more. Because he was "peakling" around the house.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.11"/>
  <p>Mr. Faulkner, I noticed that Vernon and Uncle Billy, in As I Lay Dying, often say "ay" for "yes." I wondered
						if that was&#x2014;if that was common or whether it was just characteristic of the
						older generation?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.12"/>
  <p>Is the same thing true about "beholden"? I'm "beholden" to you.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.13"/>
  <p>I'd like to make a point about the importance of knowing the
						author's speech in interpreting his dialect spellings. Now Thomas Nelson
						Page, for instance, when he wants to represent an Old Virginia Negro who
						says "cawn't," will spell that sometimes C-A-R-N-T. And I noticed you've done
						the same thing in "Wash." When the old Negro woman is talking to Colonel
						Sutpen, she says "Yes, mawster," and you spell it M-A-R-S-T-E-R. Now we
						should interpret that "mawster" rather than "master", but it isn't "marster,"
						is it?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.14"/>
  <p>I suppose, Mr. Faulkner, that'd be the same thing as when Dilsey
						says, "winda," and you spell it W-I-N-D-E-R. That she says "winda," rather
						than "winder."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.15"/>
  <p>Is that&#x2014;is it the same way with that disease that I saw somewhere?
						A-G-U-E-R. An "aga"? Is that right? "Aga."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.16"/>
  <p>What did you mean, Mr. Faulkner, in&#x2014;I'm not quite sure how you
						intended this to be pronounced&#x2014;I know the word, but this particular spelling
						of it. Wash says, "if you was A-R-A other man." "Ary other man. Or
						"ara."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.17"/>
  <p>Mr. Faulkner, how do you pronounce these words: "A-W-R-Y haired" and
						"A-W-R-Y feathered."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.18"/>
  <p>I want to ask Mr. Faulkner&#x2014;ask you Mr. Faulkner why once you spell
						the word dog D-A-W-G for Wash. It seems to me that I don't approve of that
						spelling. That doesn't really differentiate Wash from any of the other
						characters. Wouldn't they all say "dawg"? Don't you say "dawg"? Doesn't
						everybody in Mississippi say "dawg."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.19"/>
  <p>Well another&#x2014;another point I'd like to ask you about. In the use of
						"hit" which I'm familiar with in Georgia. It's an old form that's survived.
						But it seems to me, at least in Georgia, the distinction is this. In an
						unstressed, where the&#x2014;where the syllable would not be accented&#x2014;for instance,
						you could hardly say&#x2014;if you wanted to say "Move it over thar," you&#x2014;it would
						be hard say "move hit over thar." But if you said, "Hit don't make no
						difference"&#x2014;or&#x2014;when it's stressed, it would be "hit." But I notice you use it
						rather indiscriminately whether it would be in a stress position or not in a
						stress position. I think&#x2014;I think you were careless in that regard.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.20"/>
  <p>Mr. Faulkner, one thing that I'd like to get in 
						I've wondered how you do it. Just how you go about it. I see some every now
						again, some of these words that I think are&#x2014;are brilliant. Luster, I
						remember, in the end of The Sound and the Fury, says&#x2014;
							</p>
</div>
<div class="section">
  <a name="wfaudio11_1.21"/>
  <p> in our memory I should think.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.22"/>
  <p>We've enjoyed being with you for the past fifteen minutes for this
						chat. There is much more on the subject that we could say, but our time has
						run out on us again. However, we cordially invite you to be in our listening
						audience next week at this same time, when Mr. Faulkner will again be in
						our&#x2014;will be our special guest. Joining us around the table today were Mr. Ed
						Stephenson, Mr. Joseph Blotner, and Mr. Robert Davis. Our special guest for
						this program was Mr. William Faulkner. This is Atcheson Hench thanking you
						for joining our discussion today and inviting you to listen again next week
						at this time for another chat on some aspect of the language we speak.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.23"/>
  <p>
						
					</p>
</div>
<div class="section">
  <a name="wfaudio11_1.24"/>
  <p>You may stretch your muscles just a moment just while we switch tapes
						and then we'll continue again as though we never stopped.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.25"/>
  <p>Oh dear. You know I&#x2014;you speaking about "elefunk".
						I think that's one of those rebuildings to suit what the man probably thinks
						it ought to be, like "plathform" instead of "platform."
						Though what "funk"&#x2014;"elefunk" would be I wouldn't have any idea. But he's got
						some notion in there.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.26"/>
  <p>There's something I've wondered about, and I don't guess 
						we can ask it on this program, so I'll just ask it
						now. I remember Luster says&#x2014;he chunks some rocks at some jaybirds, and he
						says, "Git on back to hell, whar you belong at. 'Taint Monday yit." I
						wondered what that superstition&#x2014;I never heard that superstition&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio11_1.27"/>
  <p>Gee, there was one that I wanted to ask about. In "Spotted Horses,"
						when Armstid's wife tells how badly off they are and says that "He aint no
						more despair than to spend four dollars for a horse." I know what she means,
						but I've just never heard those words put together that way before.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.28"/>
  <p>I'm glad you didn't use any&#x2014;any technical terms on us, Steve, like
							 post-vocalic "r."   Stuff like that it was the wrong
						thing to do.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.29"/>
  <p>Okay? You gentleman ready for&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.30"/>
  <p>Did you ever hear of "swurge" for "surge?"</p>
</div>
<div class="section">
  <a name="wfaudio11_1.31"/>
  <p>Today as our special guest again we have with us the American
						novelist Mr. William Faulkner, author-in-residence at the University of
						Virginia this semester. We are indeed fortunate, as we were last week, to
						have him with us. Also around our table today are our special&#x2014;are our
						regular panel members Mr. Edward Stephenson and Mr. Robert Davis. And as
						another panel member today, we have Mr. Joseph Blotner.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.32"/>
  <p>Mr. Faulkner, following up what we said last week, I should like to
						ask you about the meanings of one or two words. By the way, is there a fish
						in Mississippi called a "hog"?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.33"/>
  <p> What about the word "frailed"? He "frailed him time and
						time." What's that mean?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.34"/>
  <p>What about these two that are&#x2014;that always have interested me:
						"dust-dark" and "dust-dawn." The time of day which is "dust-dark" and
						"dust-dawn."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.35"/>
  <p>Mr. Faulkner, you have&#x2014;to come back to the story "Wash" again, which
						I read quite recently&#x2014;you have Wash say "kain't," but you don't represent
						the colonel as saying that. Don't you think he would have said "kaint"
						too?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.36"/>
  <p>In that same story, Millie says to Wash, "You'll have to
						holler&#x2014;you'll have to holler louder than that." "Holler," I suppose.
						H-O-L-L-E-R, you spelled it. That comes back to the question we asked last
						week about what would you do with "winder" if you wanted to have one of the
						poor white trash&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio11_1.37"/>
  <p>Mr. Faulkner, do you&#x2014;you have&#x2014;must have an astonishingly retentive
						memory for figures of speech. I noticed you spoke of a coffin "as neat as a
						sewing basket." And the talk of some women as kind of like "bees murmuring
						in a water bucket." Do you&#x2014;are these phrases that are proverbial in your
						talk&#x2014;in the talk of people in Mississippi, or do you make these up, or&#x2014;or
						what? They're delightful phrases.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.38"/>
  <p>Do you have any idea which kinds of things you like most to use
						figures of speech&#x2014;make figures of speech out of. Flowers or fish or horses
						or dogs or trees or just&#x2014;or don't you worry and care less?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.39"/>
  <p>Mr. Faulkner, may I ask you if I&#x2014;if there's something here in
						Mississippi folklore that I missed, not having grown up in Mississippi. Cora
						says, "His face looked like one of these here Christmas masts that had
						been&#x2014;that had done been buried a while and then dug up." What is a Christmas
						"mast"?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.40"/>
  <p>Mr. Faulkner, in "The Bear," here's a word I don't know.  I wonder if you
						can tell me what it means. The word is B-O-T: "The old game crossing over
						which he'd trailed bucks wounded and not wounded and more than once seen
						them anything but wounded bot out of the woods and up and across the
						embankment&#x2014;" What's that word B-O-T mean? It looks like a verb having to do
						with rapid motion or something of the sort.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.41"/>
  <p>Do all&#x2014;do many people use the word "chapping" for having children.
						Somebody said, "We ain't nigh done chapping yet."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.42"/>
  <p>Is "lawed"&#x2014;would you say of&#x2014;the same thing of "lawed." "He should be
						lawed for treating her so." In other words arrested or something.</p>
</div>
<div class="section">
  <a name="wfaudio11_1.43"/>
  <p>What does this mean, Mr. Faulkner? Let's see, "They all piled over
						the crest of the hill just in time to see Tomey's Turl a way out across the
						flat almost to the woods and the dogs streaking down the hill and out onto
						the flat. They just tongued once and when they
						came boiling up around Tomey's Turl they looked like they were going to jump
						up and lick him in the face."</p>
</div>
<div class="section">
  <a name="wfaudio11_1.44"/>
  <p>Mr. Faulkner, what is a tie-up in a barn?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.45"/>
  <p>And another place, Mr. Faulkner, "Black John came out of the trees,
						driving, soopled out flat and level as a hawk." Is that a verb made from the
						adjective "supple"?</p>
</div>
<div class="section">
  <a name="wfaudio11_1.46"/>
  <p>Mr. Faulkner, some days ago I remember your saying that you thought
						you could move, say, to a Maine village, a fishing village or a lumbering
						village, and it wouldn't be long before you would be writing about people
						there. Yet I remember yesterday you said that it was the inflection, the
						sound of the words and the dialect that was very much a part of the people
						that you write about. Don't you think that, though you could see stories
						quickly in the lives of this imagined Maine group of people, it would take
						you a long time to get on to their talk, their pronunciation, and so forth?
							</p>
</div>
