<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio12_2">Reading</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 8 May 1957</h3>
  <h3>OCCASION: Engineering School Students</h3>
  <h3>TAPE: T-125</h3>
  <h3>LENGTH: 8:25</h3>
  <h3>FAULKNER READING FROM  "Was" (concluded)</h3>
</div>
<div id="body">
  <a name="wfaudio12_2"/>
  <p><strong>William Faulkner:</strong>
					"I'll buy the damn girl then and we'll call the rest of
						this foolishness off."
						"Hah," Mr Hubert said again. "This is the most
						serious foolishness you ever took part in in your life. No, you said you
						wanted your chance, and now you've got it. Here it is, right here on this
						table, waiting on you."
						So Uncle Buck shuffled the cards and Mr Hubert cut them.
						Then he took up the deck and dealt in turn until Uncle Buck and Mr Hubert
						had five. And Uncle Buck looked at his hand a long time and then said two
						cards and he gave them to him, and Mr Hubert looked at his hand quick and
						said one card and he gave it to him and Mr Hubert flipped his discard onto
						the two which Uncle Buck had discarded and slid the new card into his hand
						and opened it out and looked at it quick again and closed it and looked at
						Uncle Buck and said, "Well? Did you help them threes?"
						"No," Uncle Buck said.
						"Well I did," Mr Hubert said. He shot his hand across the table so the
						cards fell face-up in front of Uncle Buck and they were three kings and two
						fives, and said, "By God, Buck McCaslin, you have met your match at
						last."
						"And that was all?" Uncle Buddy said. It was late then,
						near sunset; they would be at Mr Hubert's in another fifteen minutes.
						"Yes,
						sir," he said, telling that too: how Uncle Buck waked him at daylight and he
						climbed out a window and got the pony and left, and how Uncle Buck said that
						if they pushed him too close in the meantime, he would climb down the gutter
						too and hide in the woods until Uncle Buddy arrived.
						"Hah," Uncle&#x2014;Uncle Buddy
						said. "Was Tomey's Turl there?"
						"Yes, sir," he said. "He was waiting in the
						stable when I got the pony. He said, 'Aint they settled it yet?'"
						"And what
						did you say?" Uncle Buddy said.
						"I said, 'Uncle Buck looks like he's
						settled. But Uncle Buddy aint got here yet.'"
						"Hah," Uncle Buck&#x2014;Uncle Buddy
						said.
						And that was about all. They reached the house. Maybe
						Uncle Buck was watching them, but if he was, he never showed himself, never
						came out of the woods. So Miss Sophonsiba was nowhere in sight either, so at
						least Uncle Buck didn't give&#x2014;hadn't quite given up; at least he hadn't asked her yet.
						And he and Uncle Buddy and Mr Hubert ate supper and they came in from the
						kitchen and cleared the table, leaving only the lamp on it and the deck of
						cards. Then it was just like last night, except that Uncle Buddy had no
						necktie and Mr Hubert wore the clothes now instead of a nightshirt and it
						was a shaded lamp on the table instead of a candle, and Mr Hubert sitting at
						his end of the table with the deck in his hands, riffling the edges with his
						thumb and looking at Uncle Buddy. Then he tapped the edges even and set the
						deck out in the middle of the table under the lamp, and folded his arms on
						the edge of the table and leaned forward a little on the table, looking at
						Uncle Buddy, who was sitting at his end of the table with his hands in his
						lap, all one gray color, like an old gray rock or a stump with gray moss on
						it, that still, with his round white head like Uncle Buck's but he didn't
						blink like Uncle Buck and he was a little thicker than Uncle Buck, as if
						from sitting down so much watching food cook, as if the things he cooked had
						made him a little thicker than he would have been and the things he cooked
						with, and the flour and such, had made him all one same quiet color.
						"Little toddy before we start?" Mr Hubert said. "I dont
								drink," Uncle Buddy said.
								"That's right," Mr Hubert said. "I knew there was
						some thing else besides just being woman-weak that makes 'Filus seem human.
						But no matter." He batted his eyes twice at Uncle Buddy. "Buck McCaslin
						against the land and niggers you have heard me promise as Sophonsiba's dowry
						on the day she marries. If I beat you, 'Filus marries Sibbey without any
						dowry. If you beat me, you get 'Filus. But I still get the three hundred
								dollars 'Filus owes me for Tennie. Is that correct?"
								"That's correct," Uncle
								Buddy said.
								"Stud," Mr Hubert said. "One hand. You to shuffle, me to cut,
								this boy to deal."
								"No," Uncle Buddy said. "Not Cass. He's too young. I dont
								want him mixed up in any gambling."
								"Hah," Mr Hubert said. "It's said that a
						man playing cards with Amodeus McCaslin aint gambling. But no matter." 
						He was still looking at Uncle Buddy; he never even turned his head when he
						spoke: "Go to the back door and holler. Bring the first creature that
						answers, animal mule or human, that can deal ten cards."
						So he went to the back door. But he didn't even need to call
						because Tomey's Turl was squatting against the wall just outside the door,
						and they returned to the drawing-room where Mr Hubert still sat with his
						arms folded on his side of the table and Uncle Buddy sat with his hands in
						his lap on his side and the deck of cards face-down under the lamp between
						them. Neither of them even looked up when he and Tomey's Turl entered.
						"Shuffle," Mr Hubert said. Uncle Buddy shuffled and set the cards back under
						the lamp and put his hands back in his lap and Mr Hubert cut the deck and
						folded his arms back onto the table-edge. "Deal," he said. Still neither he
						nor Uncle Buddy looked up. They just sat there while&#x2014;while Tomey's Turl's
						saddle-colored hands came into the light and took up the deck and dealt, one
						card face-down to Mr Hubert and one face-down to Uncle Buddy, and one
						face-up to Mr Hubert and it was a king, and one face-up to Uncle Buddy and
						it was a six.
						"Buck McCaslin against Sibbey's dowry," Mr Hubert said. 
						"Deal." And the hand dealt Mr Hubert a card and it was a three, and Uncle
						Buddy a card and it was a two. Mr Hubert looked at Uncle Buddy. Uncle Buddy
								rapped once with his knuckles on the table.
								"Deal," Mr Hubert said. And the
						hand dealt Mr Hubert a card and it was another three, and Uncle Buddy a card
						and it was a four. Mr Hubert looked at Uncle Buddy's cards. Then he looked
						at Uncle Buddy and Uncle Buddy rapped on the table again with his
						knuckles.
						"Deal," Mr Hubert said, and the hand dealt him an ace
						and Uncle Buddy a five and now Mr Hubert just sat still. He didn't look at
						anything or move for a whole minute; he just sat there and watched Uncle
						Buddy put one hand onto the table for the first time since he shuffled and
						pinch up one corner of his face-down card and look at it and and then put
						his hand back into his lap. "Check," Mr Hubert said.
						"I'll bet you them two
						niggers," Uncle Buck&#x2014;Buddy said. He didn't move either. He just sat just like he
						sat in the wagon or on a horse or in the rocking chair he cooked from.
						"Against what?" Mr Hubert said.
						"Against the three hundred dollars
						Theophilus owes you for Tennie, and the three hundred you and Theophilus
						agreed on for Tomey's Turl," Uncle Buddy said.
						"Hah," Mr Hubert said, only
						it wasn't loud at all this time, nor even short. Then he said "Hah. Hah.
						Hah" and not loud either. Then he said, "Well." Then he said, "Well, well."
						Then he said: "We'll check up for a minute. If I win, you take Sibbey
						without a dowry and the two niggers, and I dont owe 'Filus anything. If you
						win&#x2014;"
						"&#x2014;Theophilus is free," Uncle Buddy said.  "And you owe him the three hundred dollars for
						Tomey's Turl."
						"That's just if I call you," Mr Hubert said. "If I dont
						call you, 'Filus wont owe me nothing and I wont owe 'Filus nothing, unless I
						take that nigger which I have been trying to explain to you and him both for
						years I wont have on my place. We will be right back where all this
						foolishness started from, except for that. So what it comes down to is, I
						either got to give a nigger away, or risk buying one that you done already
						admitted you cant keep at home." Then he stopped talking. For about a minute
						it was like he and Uncle Buddy had both gone to sleep. Then Mr Hubert picked
						up his face-down card and turned it over. It was another three, and Mr
						Hubert sat there without looking at anything at all, his fingers beating a
						tattoo, slow and steady and not very loud, on the table. "H'm," he said.
						"And you need a trey and there aint but four of them and I already got
						three. And you just shuffled. And I cut afterward. And if I call you, I will
						have to buy that nigger. Who dealt these cards, Amodeus?" Only he didn't
						wait to be answered. He reached out and tilted the lamp-shade, the light
						moving up Tomey's Turl's arms that were supposed to be black but were not
						quite white, up his Sunday shirt that was supposed to be white but wasn't
						quite either, that he put on every time he ran away just as Uncle Buck put
						on the necktie each time he went to bring him back, and on to his face; and
						Mr Hubert sat there, holding the lampshade and looking at Tomey's Turl. Then
						he tilted the shade back down and took up his cards and turned them
						face-down and pushed them across the middle of the table. "I pass, Amodeus,"
						he said.
						He was still too worn out for sleep to sit on a horse,
						so this time he and Uncle Buddy and Tennie all three rode in the wagon,
						while Tomey's Turl led the pony from old Jake. And when they got home just
						after daylight, this time Uncle Buddy never even had time to get breakfast
						started and the fox never even got out of the crate, because the dogs were
						right there in the room. Old Moses went right into the crate with the fox,
						so that both of them went right&#x2014;right on out through the back end of it. That is,
						the fox went through, because when Uncle Buddy opened the door to come in,
						old Moses was still wearing most of the crate around his neck until Uncle
						Buddy kicked it off of him. So they made just one run, across the front
						gallery and around the house and they could hear the fox's claws when&#x2014;when he
						went scrabbling up the lean-pole, onto the roof&#x2014;a fine race while it lasted,
						but&#x2014;but the tree was too quick.
					"What in damn's hell do you mean," Uncle Buddy said,
						"casting that damn thing with the dogs right in the same room?" "Damn the
						fox," Uncle Buck said. "Go on and start breakfast. It seems to me I've been
						away from home a whole damn month." <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
  <hr/>
</div>

		
