<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio26_2.1">Quentin and Father [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio26_2.2">The Name Candace</a>
    </li>
    <li>
      <a href="#wfaudio26_2.3">Caddy's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.4">Jason's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.5">Luster's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.6">Little Italian Girl</a>
    </li>
    <li>
      <a href="#wfaudio26_2.7">Quentin's Death</a>
    </li>
    <li>
      <a href="#wfaudio26_2.8">Psychological Critics</a>
    </li>
    <li>
      <a href="#wfaudio26_2.9">Darl Bundren</a>
    </li>
    <li>
      <a href="#wfaudio26_2.10">Successful Characters</a>
    </li>
    <li>
      <a href="#wfaudio26_2.11">Chickasaw Indians</a>
    </li>
    <li>
      <a href="#wfaudio26_2.12">Enduring</a>
    </li>
    <li>
      <a href="#wfaudio26_2.13">Macbeth and Compsons</a>
    </li>
    <li>
      <a href="#wfaudio26_2.14">Title and Benjy</a>
    </li>
    <li>
      <a href="#wfaudio26_2.15">Indian Stories</a>
    </li>
    <li>
      <a href="#wfaudio26_2.16">Heredity v Environment</a>
    </li>
    <li>
      <a href="#wfaudio26_2.17">Bayard's Heredity</a>
    </li>
    <li>
      <a href="#wfaudio26_2.18">"Delta Autumn"</a>
    </li>
    <li>
      <a href="#wfaudio26_2.19">Mississippi and Doom</a>
    </li>
    <li>
      <a href="#wfaudio26_2.20">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 2 May 1958</h3>
  <h3>OCCASION: Undergraduate Class in Contemporary American Literature,
                    Undergraduate Class in Writing, Graduate Class in American Fiction</h3>
  <h3>TAPE: T-143b</h3>
  <h3>LENGTH: 25:17</h3>
</div>
<div id="body">
  <a name="wfaudio26_2.1"/>
  <p><strong>William Faulkner:</strong> I live with. No, they were imaginary. He just said, "Suppose I
                    say this to my father, would it help me? Would it clarify? Would I see clearer
                    what it is that I anguish over?"</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>The feeling between him and his sister is pretty strong, though,
                        <span class="unclear tooltip" title="Text was unclear">[isn't it]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, yes. But in Caddy's opinion he was&#x2014;was such a&#x2014;a
                    weakling that even if they had been no kin, she would never had chosen him for
                    her sweetheart. She would have chosen one like the&#x2014;the ex-soldier she
                    did, but never anybody like Quentin.</p>
  <hr/>
  <a name="wfaudio26_2.2"/>
  <p><strong>Frederick Gwynn:</strong>Is Candace a common name in Mississippi or&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No. No, Caddy seemed a nice name for her, and I had to think of
                    something to justify it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio26_2.3"/>
  <p><strong>Joseph Blotner:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>You said that your vision of Caddy was one of the things that started you
                    on the novel. What qualities other than bravery seem to you to make her such a
                    person <span class="unclear tooltip" title="Text was unclear">[that you]</span> could feel that strongly about?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>She was independent herself. She was confident. She was compassionate
                    enough to take care of the idiot child. That was no burden to her.
                    If&#x2014;her mother never had to say "Caddy, I want you to look after
                    Benjamin this afternoon." Because she loved him. She would have done that
                    anyway. And she was convinced that she could do the best for him. If what she
                    couldn't do, Dilsey would tend to, <span class="unclear tooltip" title="Text was unclear">[with that]</span> Benjamin would
                    be all right with her. She could look after him. And that she could take care of
                    all of them. If there was something that would be pleasant for them to do, she
                    would run the affair.
                </p>
  <hr/>
  <a name="wfaudio26_2.4"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I'm curious about Jason  <span class="unclear tooltip" title="Text was unclear">[that Negro boy  
                        tells him to keep his hands out of his pockets, because he's falling on his
                        face all the time.  He stumbles. Why, was he fat and clumsy when he was younger]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Probably that was a mannerism, keeping his hands in his pocket. To me,
                    that&#x2014;that presaged his future, something of greediness and grasping,
                    selfishness. That he may have kept his hands in his pocket to guard whatever
                    colored rock that he had found that was for him&#x2014;represented the
                    million dollars he would like to have someday.
                </p>
  <hr/>
  <a name="wfaudio26_2.5"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In the thumbnail sketch you describe&#x2014;describe Luster as being a
                    man of fourteen capable of taking care of an idiot and entertaining him at the
                    same time. Why&#x2014;why do you consider Luster a man?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Because he could do a man's job. At this time the idiot was twice his
                    size, was actually dangerous. The idiot, by that time, was&#x2014;was a man,
                    and yet Luster at fourteen could cajole him when necessary, could trick him,
                    could even apply enough physical force when necessary to keep him in hand. It's
                    like the lion tamer is&#x2014;is a man. It means simply that he's big enough
                    for his job. That's what Luster&#x2014;I meant by that. In Luster's
                    terminology, a man is anyone who is big enough to do what he has to
                        do.
                </p>
  <hr/>
  <a name="wfaudio26_2.6"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, in part two of <em>The Sound and the Fury</em>, the
                    little Italian girl <span class="unclear tooltip" title="Text was unclear">[following Quentin, is this to
                        represent]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I'm sorry. I don't remember her. I'll have to get that book and look at
                    it.  I&#x2014;I can't remember her. Maybe
                    Mr. Gwynn could prompt me a little there?</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>She was the sister of Julio. Quentin really  sees in
                    her some innocence and calls her little sister quite a bit.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Is that in Cambridge?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Yes, sir, or outside of Cambridge&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I mean when he was Harvard. Well, that's probably what it was. No
                    symbolism. It was&#x2014;he had a&#x2014;a&#x2014;a&#x2014;a
                    tenderness, a&#x2014;an admiration for&#x2014;for women, for girls and
                    also a&#x2014;a sublimation of the concept of virginity after his tragic
                    situation with his sister. It may be that's what it was.
                </p>
  <hr/>
  <a name="wfaudio26_2.7"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Does Quentin commit suicide by jumping in the river or&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, by drowning. Yes.
                </p>
  <hr/>
  <a name="wfaudio26_2.8"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, you say that the&#x2014;some things you don't
                        know exactly why you put them in.  Would you say that the so-called
                        psychological critics could now <span class="unclear tooltip" title="Text was unclear">[tell]</span> you why you put them into your
                        books?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>A good psychologist certainly could or he would be a bad psychologist if
                    he couldn't. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that&#x2014;that one
                    reads a book from the same jumping off place that one writes a book, that one
                    reads a book from his own background of&#x2014;of observation, imagination,
                    and experience, too.  That no one man can put into a book what a dozen men
                    can&#x2014;can read into it.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>But don't you think artistic control keeps the psychologist from
                        analyzing the writing </p>
  <hr/>
  <p><strong>William Faulkner:</strong>No'm, I don't think so. Maybe I don't understand what you mean by
                    artistic control.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, don't you have to put the things in a certain order, objectify
                    them, and make them just the opposite from what a psychologist <span class="unclear tooltip" title="Text was unclear">[wants
                        them]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I wouldn't think so. The writer is&#x2014;is writing from his own
                    observation, imagination, experience, and out of the same background which the
                    psychologist operates from. That is, from the&#x2014;call it Christianity,
                    the&#x2014;the Caucasian race. The same background of education, of
                    environment, which is the same time&#x2014;period in time, and they would
                    have some of the identical ideas which came from that near to identical
                    backgrounds, which are identical in the period of time, in the&#x2014;the
                    culture of the country, of the speech, of the literature.
                </p>
  <hr/>
  <a name="wfaudio26_2.9"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, in <em>As I Lay Dying</em>, what was the significance
                    of Darl's lying in front of his mother's coffin after it was saved from the
                    fire?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Darl was mad. He did things which it seemed to me he&#x2014;he had to
                    do, or he insisted on doing. His reasons I could&#x2014;could try to
                    rationalize to&#x2014;to suit myself, or even if I couldn't rationalize his
                    reasons to please me, I had to accept the acts because Darl insisted on doing
                    that. I mean that&#x2014;that any character that you write takes charge of
                    his own behavior. You can't make him do things once he comes alive and stands up
                    and casts his own shadow. Darl did things which I'm&#x2014;I'm sure were for
                    his own mad reasons, quite logical. I couldn't always understand why he did
                    things, but he did insist on doing things, and when we would&#x2014;would
                    quarrel about it, he always won, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because at
                    that time he was alive. He was under his own power.
                </p>
  <hr/>
  <a name="wfaudio26_2.10"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, you mentioned that your characters are  dilemma of
                    life. Are any of them actually successful in reaching a point where life is
                    not&#x2014;does not present itself as a dilemma?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, they reach a point where life is no longer a&#x2014;a&#x2014;an
                    uncopeable dilemma. There is one, a sewing machine agent called Ratliff,
                    that&#x2014;that handled living pretty well. There are others that handled it
                    pretty well. I think Dilsey did, though hers was tragic. But it never
                    did&#x2014;it might have dented her head a little, but it
                    never beat her to her knees. Ratliff got along quite well with it, because he
                    realized&#x2014;recognized his own limitations and the fact that the dilemma,
                    although it was insoluble, was not uncopeable with. I think Flem
                    Snopes&#x2014;he coped with it pretty well.
                </p>
  <hr/>
  <a name="wfaudio26_2.11"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Where did you find all your information on the Chickasaw
                        Indians? Are there records]</span>
                    ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes'm. There&#x2014;there are records there, but I never did do much
                    research. I would&#x2014;I probably got my information about Indians as I've
                    got it about most of the other things I know, from listening to people and
                    adding a little imagination to it. I suspect that&#x2014;that no Chickasaw
                    would recognize my Chickasaws, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but people that
                    do know more about Mississippi's history don't quarrel too much with my picture
                    of Chickasaw Indians. And also, I have known some of their descendants. They
                    have mixed with white people or with Negroes&#x2014;are still in my country.
                    And I don't think that&#x2014;that people are all that different no matter
                    what color they are.  That people are different more because of the pressure of
                    their environment than because of their blood.
                </p>
  <hr/>
  <a name="wfaudio26_2.12"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    <span class="unclear tooltip" title="Text was unclear">[accept and endure]</span> throughout your work ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That probably refers to man getting along within the human predicament. 
                    That you've got to accept it because the only other choice is to cut your
                    throat. If you cope with it, within your capacity to give when it's stronger
                    than you, then you endure. And the only alternative to enduring is also
                    to&#x2014;to cease. And man is&#x2014;is here through no choice of his
                    own. He has&#x2014;as far as he knows he's not going anywhere else, and if he
                    does anything with what time he knows who he is, it will have to be while he is
                    here, and he had better, I think, teach himself to accept the predicament and to
                    endure in it and still get as much pleasure as he can without doing harm to
                    anyone. Or if he's bent on doing good to people, that's well enough. Let him
                    uplift man. But in order to accomplish anything, to be a writer, to be
                    a&#x2014;a doctor, to do anything well, to&#x2014;even to have fun, you've
                    got to accept the predicament and endure in it.
                </p>
  <hr/>
  <a name="wfaudio26_2.13"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I wonder how did you happen to have come up with the 
                    title <em>The Sound and the Fury</em> from <em>Macbeth</em>, and I thought that perhaps it came from the
                    speech&#x2014;I mean the speech that it came from&#x2014;"all our yesterdays"&#x2014;of Macbeth himself,
                    and I wondered if <span class="unclear tooltip" title="Text was unclear">[there was any merit in]</span> the analogy of the
                    character Macbeth who having created his own chaos, inflicted it on life and the
                    universe <span class="unclear tooltip" title="Text was unclear">[with the same actions of]</span>  <span class="unclear tooltip" title="Text was unclear">[Compson]</span> .</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, it came simply from the&#x2014;the words themselves,
                    the&#x2014;the ringing sound of the phrase&#x2014;"A tale told by an idiot
                    full of sound and fury." It had nothing to do with&#x2014;with Macbeth's
                    character. It was simply from the phrase.
                </p>
  <hr/>
  <a name="wfaudio26_2.14"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[The part of]</span> Benjy is the tale told by an idiot, I
                    would assume.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes.  Yes, the book began as a short story. Benjamin, of course, was a
                    deliberate choice from the biblical Benjamin.
                </p>
  <hr/>
  <a name="wfaudio26_2.15"/>
  <p><strong>William Faulkner:</strong>Sorry.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I was wondering in your Indian stories again, "Lo!" and "A Courtship" and
                    in "A Justice," except for the framework, your stories&#x2014;these stories
                    are very humorous, but in "Red Leaves," while there is a good deal of wry humor,
                    that story seems to be much more serious, and I wondered if you'd care to
                    comment.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Only, in primitive peoples&#x2014;I mean by primitive peoples
                    a&#x2014;a small group which are obsolete inside another
                    culture&#x2014;the&#x2014;the distance between what is humor and what is
                    tragic is never very great, that it&#x2014;it may be&#x2014;be funny now
                    but you better watch out. That was simply that&#x2014;that the same
                    conditions, the same ingredients, with just a little more or little less fire
                    under it might make something completely different. That the&#x2014;the
                    implacable pursuit of that poor Negro was funny to anybody but him, and that
                    not&#x2014;and also it was not funny to the Indians that had to stop sitting
                    down to get up and walk him down to catch him. But the
                    picture of&#x2014;of those lazy people that didn't want to do that having
                    to&#x2014;to catch that Negro, to me, was funny. But the result, the purpose
                    of it, was anything but funny. The Indians that went to call on President
                    Jackson was funny, but it wasn't funny to the Indians and certainly wasn't very
                    funny to President Jackson.
                </p>
  <hr/>
  <a name="wfaudio26_2.16"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think what I intend to say is man's immediate 
                    behavior is the result of the pressure of his environment. The&#x2014;the
                    method in which he behaves, of course, is&#x2014;is heredity.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I'm sorry.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think that heredity, if the word means anything, must be a constant
                    factor. That would not change. It would alter. It would evolve. Man's behavior,
                    which at one moment is this and in&#x2014;under another situation is that, is
                    because of the pressure of the immediate environment. But irregardless of
                    his&#x2014;his blood, his heritage, circumstance will compel him
                    to&#x2014;to make choices. He will make the choice according to the pressure
                    of the environment.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Maybe we mean different things by&#x2014;by environment. When I use
                    that term I mean the immediate conditions of&#x2014;of&#x2014;of a moment.
                    The environment that has&#x2014;has shaped a child's character from the time
                    it was born until it's ten years old has become a part of heritage, by that
                    time. I use environment as the immediate moment. That is, environment, to me,
                    now is&#x2014;is us in this room.
                </p>
  <hr/>
  <a name="wfaudio26_2.17"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Does this mean that young Bayard Sartoris, for example, inherited death
                    by violence?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Death by violence was&#x2014;was a part of his past. It was
                    a&#x2014;a&#x2014;a part of the creed of his family. He inherited that
                    creed. He didn't have to&#x2014;to function according to it. Which he didn't,
                    he refused to do that. Because he was&#x2014;was saying&#x2014;trying to
                    repudiate the past, not to cling to it. His tradition was that&#x2014;that
                    death by violence came sooner or later if you stuck to the creed of an
                    eye-for-an-eye, blood-for-blood, and the&#x2014;the emptiness of that sort of
                    pride. That was his inheritance.  But his behavior was because of his
                    environment, which had&#x2014;which was the result of a lost war in which
                    people should have had enough of blood-for-blood and an eye-for-an-eye. That
                    that solved nothing.
                </p>
  <hr/>
  <a name="wfaudio26_2.18"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, do you recall a short story you wrote called "Delta Autumn"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I wonder what would be the comment of Flem Snopes if such a story were
                    told to him as being true?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Why, I suppose he would&#x2014;he wouldn't be too interested in it
                    because there would be no percentage in going to the woods for two weeks just to
                    shoot deer. He would be familiar with it. It would be a&#x2014;a&#x2014;a
                    foolish way to spend two weeks. Was that what you meant?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> <span class="unclear tooltip" title="Text was unclear">[different stories.]</span> Is&#x2014;this is the story
                    where the  going off to Arizona <span class="unclear tooltip" title="Text was unclear">[with this Negro woman]</span>.
                    Isn't that part of the story of "Delta Autumn"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>"Delta Autumn" was a&#x2014;a camp of deer hunters in which
                    a&#x2014;a young woman, a Negress, the discarded mistress of&#x2014;of one
                    of the white hunters, came to the camp to see him.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>That was the part of the story that I was referring to, that what Flem Snopes' comment would be on that
                    sort of thing happening within his environment.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, that was his environment. He lived there, too. He just didn't go
                    deer hunting. He probably had&#x2014;had children by a Negro woman
                        himself.
                </p>
  <hr/>
  <a name="wfaudio26_2.19"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>John Church:</strong>Sir, you've mentioned that these people in <em>The Sound
                        and the Fury</em> are doomed. Is it your theory also that people everywhere
                    are doomed or is it just these people in Mississippi?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> only the&#x2014; <span class="event tooltip" title="There was some Faulkner laughing happening">[Faulkner laughing]</span> no, only&#x2014;only the Compson
                    family&#x2014;</p>
  <hr/>
  <p><strong>John Church:</strong>Sir?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>
                            Only that Compson family.</p>
  <hr/>
  <p><strong>John Church:</strong>Oh, the Compsons.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That they had refused to accept now and
                    tomorrow. And there's no place for them in now because they wouldn't accept it.
                    Or maybe that's backward, if there had been a place for them, they wouldn't have
                    been Compsons. No, that's what&#x2014;what Dilsey meant by the first and the
                    last. It was the Compsons, that family. That was Quentin's thought. It's not
                    Mississippians nor folks in Jefferson, but&#x2014;but "us Compsons are doomed,
                    that we have had it."</p>
  <hr/>
  <a name="wfaudio26_2.20"/>
  <p><strong>Frederick Gwynn:</strong>Mr. Faulkner, we're forced to accept now and tomorrow and thank you very
                    much.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, thank you all. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
