<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio29_1.1">Writing "The Bear"</a>
    </li>
    <li>
      <a href="#wfaudio29_1.2">Boon Hogganbeck</a>
    </li>
    <li>
      <a href="#wfaudio29_1.3">Meaning of the Hunt</a>
    </li>
    <li>
      <a href="#wfaudio29_1.4">Curse on the South</a>
    </li>
    <li>
      <a href="#wfaudio29_1.5">Sutpen Acknowledging Bon</a>
    </li>
    <li>
      <a href="#wfaudio29_1.6">Characters' Language</a>
    </li>
    <li>
      <a href="#wfaudio29_1.7">Old Ben</a>
    </li>
    <li>
      <a href="#wfaudio29_1.8">Bon's Knowledge</a>
    </li>
    <li>
      <a href="#wfaudio29_1.9">Bon and Judith</a>
    </li>
    <li>
      <a href="#wfaudio29_1.10">"Bear," Parts 4 and 5</a>
    </li>
    <li>
      <a href="#wfaudio29_1.11">Understanding Sutpen</a>
    </li>
    <li>
      <a href="#wfaudio29_1.12">Coldfield's Withdrawal</a>
    </li>
    <li>
      <a href="#wfaudio29_1.13">Coldfield's Character</a>
    </li>
    <li>
      <a href="#wfaudio29_1.14">The Train and the Bear</a>
    </li>
    <li>
      <a href="#wfaudio29_1.15">Sam Fathers</a>
    </li>
    <li>
      <a href="#wfaudio29_1.16">Melville and "The Bear"</a>
    </li>
    <li>
      <a href="#wfaudio29_1.17">His Style</a>
    </li>
    <li>
      <a href="#wfaudio29_1.18">Simon's Character</a>
    </li>
    <li>
      <a href="#wfaudio29_1.19">Favorite Character</a>
    </li>
    <li>
      <a href="#wfaudio29_1.20">Mastering Style</a>
    </li>
    <li>
      <a href="#wfaudio29_1.21">Truth about Sutpen</a>
    </li>
    <li>
      <a href="#wfaudio29_1.22">Quentin in Two Novels</a>
    </li>
    <li>
      <a href="#wfaudio29_1.23">Sutpen or Quentin</a>
    </li>
    <li>
      <a href="#wfaudio29_1.24">Ike's Wife [part 1]</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio29_1.1"/>
  <p>I think I'll take the moderator's privilege and ask the
                        first question, if I may. I'd like to know a little bit about the
                    circumstances of the composition of "The Bear." Can you remember when it was
                    that you first thought of it and put it down ?</p>
</div>
<div class="section">
  <a name="wfaudio29_1.2"/>
  <p>Have you written anything else about Boon Hogganbeck,
                    after "The Bear"?</p>
</div>
<div class="section">
  <a name="wfaudio29_1.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.4"/>
  <p>Yes ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.6"/>
  <p>Sir, you said that you, as the author, are not responsible for what your
                    character is saying. How about the language that they use? I noticed that some
                        of the dialogue in "The Bear" was a little bit above the level of the average
                    southerner, speaking as someone who has  . Did
                    you mean that to be realistic or is that just ?</p>
</div>
<div class="section">
  <a name="wfaudio29_1.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.8"/>
  <p>Yes ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.11"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.12"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.13"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.15"/>
  <p>Sir&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.20"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.21"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_1.22"/>
  <p>Sir, speaking of those two books, as you read Absalom,
                        Absalom!, how much can a reader feel that this is the Quentin, the same
                    Quentin, who appears in The Sound and the Fury, that is a
                    man thinking about his own Compson family, his own sister?</p>
</div>
<div class="section">
  <a name="wfaudio29_1.23"/>
  <p>It's still Sutpen's story, not Quentin's story.</p>
</div>
<div class="section">
  <a name="wfaudio29_1.24"/>
  <p>Yes, ma'am.</p>
</div>
