<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio29_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 8 May 1958</h3>
  <h3>OCCASION: Introductory Class in Types of Literature, Graduate Class in American
                    Literature</h3>
  <h3>This clip was created by splicing the end of T-144c and the beginning of T-144c2 together.</h3>
</div>
<div id="body">
  <a name="wfaudio29_1_2.1">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, I'd like some help on understanding the&#x2014;what I call the
                        bedroom scene in the fourth section of "The Bear." You made one statement, "She
                        is lost. She was born lost." Can you help me to understand what you meant by
                        that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Who does that refer to?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>That refers to Ike McCaslin's wife. In&#x2014;in that section
                        &#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, I&#x2014;I think I remember now. She&#x2014;from her
                        background, her tradition, sex was&#x2014;was something evil, that it had to
                        be justified by acquiring property. She was, ethically, a prostitute. Sexually
                        she was frigid. I think what he meant&#x2014;he knew that&#x2014;that
                        there was no warmth that he would ever find from her, no understanding,
                        no&#x2014;no chance ever to&#x2014;to accept love or return love because
                        she was incapable of it. That's probably what he meant.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And I wondered why she laughed <span class="unclear tooltip" title="Text was unclear">[and laughed]</span> when
                        ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>She realized then that he was going to give up the land. She married him
                        because she was going to be chatelaine of a plantation. And then she found he was
                        going to give all that away, and the only revenge she knew was deny&#x2014;to
                        deny him sexually, that was the only triumph she had. And she was going to make
                        him suffer for that just as much as she could to get even with him.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>So she intended from the beginning of her marriage to deny him this one
                        thing that he had requested until it was useful in blackmailing&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, she assumed when they got married that she was going to be
                        chatelaine of a plantation, and they would have children. And she was going to
                        be as&#x2014;according to the rules of the book&#x2014;a good wife to him.
                        She'd still be frigid and cold and a shrew probably, but she'd be a good wife.
                        Then when he was going to throw the plantation away for idealistic folly, all
                        she&#x2014;the only revenge she had was that. At least he would have no
                        children from her. He'd have no wife from her. And she hoped&#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, Ike &#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>And she hoped that he would&#x2014;would make him grieve.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well Ike says here 
                        <span class="unclear tooltip" title="Text was unclear">[Did she realize when he was saying this that he did not mean]</span>&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Did not mean what?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> that he would go back to the land.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>She must have <span class="unclear tooltip" title="Text was unclear">[understood]</span> he was not going to  take
                        his heritage. Yes, I'm sure she was convinced of that, no matter what he might
                        have said.
                    </p>
  <hr/>
</div>

        
