<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio07_2.1">Long Sentences</a>
    </li>
    <li>
      <a href="#wfaudio07_2.2">Greatness and Failure</a>
    </li>
    <li>
      <a href="#wfaudio07_2.3">Jason's Lineage</a>
    </li>
    <li>
      <a href="#wfaudio07_2.4">His Style</a>
    </li>
    <li>
      <a href="#wfaudio07_2.5">Revising</a>
    </li>
    <li>
      <a href="#wfaudio07_2.6">Most Splendid Failure</a>
    </li>
    <li>
      <a href="#wfaudio07_2.7">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio07_2.8">Ending of Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio07_2.14">Starting Stories</a>
    </li>
    <li>
      <a href="#wfaudio07_2.9">Dead Ends</a>
    </li>
    <li>
      <a href="#wfaudio07_2.10">Writing Sanctuary</a>
    </li>
    <li>
      <a href="#wfaudio07_2.11">Human Progress</a>
    </li>
    <li>
      <a href="#wfaudio07_2.12">Sanctuary and the South</a>
    </li>
    <li>
      <a href="#wfaudio07_2.13">Writing A Fable</a>
    </li>
    <li>
      <a href="#wfaudio07_2.15">Good People</a>
    </li>
    <li>
      <a href="#wfaudio07_2.16">Human Aspirations</a>
    </li>
    <li>
      <a href="#wfaudio07_2.17">Crucifixion Images</a>
    </li>
    <li>
      <a href="#wfaudio07_2.18">Writing and Reality</a>
    </li>
    <li>
      <a href="#wfaudio07_2.19">Written v Real Worlds</a>
    </li>
    <li>
      <a href="#wfaudio07_2.20">Writing v Reporting</a>
    </li>
    <li>
      <a href="#wfaudio07_2.21">Help from Higher Powers</a>
    </li>
    <li>
      <a href="#wfaudio07_2.22">As I Lay Dying</a>
    </li>
    <li>
      <a href="#wfaudio07_2.23">Prevailing</a>
    </li>
    <li>
      <a href="#wfaudio07_2.24">The Sound and the Fury</a>
    </li>
    <li>
      <a href="#wfaudio07_2.25">Other Fictions in The Town</a>
    </li>
    <li>
      <a href="#wfaudio07_2.26">Regional v Universal</a>
    </li>
    <li>
      <a href="#wfaudio07_2.27">Shocking Mississippians</a>
    </li>
    <li>
      <a href="#wfaudio07_2.28">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio07_2.29">Great Older Writers</a>
    </li>
    <li>
      <a href="#wfaudio07_2.30">Great Modern Writers</a>
    </li>
    <li>
      <a href="#wfaudio07_2.31">Writing Regularly</a>
    </li>
    <li>
      <a href="#wfaudio07_2.32">Stories Becoming Novels</a>
    </li>
    <li>
      <a href="#wfaudio07_2.33">Tennessee Williams</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio07_2.1"/>
  <p> and the long sentence is an attempt to get his past and possibly
                    his future into the instant in which he does something. But to me, what he does
                    is&#x2014;is not quite as important as who he is, the fact that he is a
                    continuity, that he has come a long way, that he has endured and he is, I hope,
                    we hope, better than&#x2014;than his ancestors were, that he's more
                    compassionate. He's more tolerant. We hope braver, more honest.
                    </p>
</div>
<div class="section">
  <a name="wfaudio07_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.3"/>
  <p>Yes, sir. I'm sorry. Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.4"/>
  <p>Do you find that it's easier to&#x2014;to write this&#x2014;this wonderful
                        rolling rhetoric of yours than it is to&#x2014;to
                        write a&#x2014;a completely objective scene?</p>
</div>
<div class="section">
  <a name="wfaudio07_2.5"/>
  <p>Mr. Faulkner&#x2014;oh, I'm sorry.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.6"/>
  <p>Yes'm.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.14"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio07_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.11"/>
  <p>Yes,
                    sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.12"/>
  <p>Yes,
                    ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.15"/>
  <p>Yes,
                    sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.17"/>
  <p>Sir, you indicated before that A Fable was a
                        departure in that&#x2014;insofar that it was the only book written from a&#x2014;an absolute
                        idea, with&#x2014;with regular city limits to it. But I find&#x2014;at least, I find,
                        that the&#x2014;the basic crucifixion image in A Fable occurs over
                    and over again in your books. It occurs in Light in
                        August. It happens in a kind of way even in&#x2014;in Sanctuary. It happens in Requiem for a
                        Nun, certainly, with&#x2014;with Nancy. Isn't A
                        Fable simply a more positive way of approaching the problem?</p>
</div>
<div class="section">
  <a name="wfaudio07_2.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.20"/>
  <p>Yes,
                    sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.22"/>
  <p>Yes,  sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.23"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.24"/>
  <p>Yes,
                    sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.25"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.26"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.27"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.28"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.29"/>
  <p>Does your criterion apply, to say, the great writers of the
                        past
                    ?</p>
</div>
<div class="section">
  <a name="wfaudio07_2.30"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.31"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio07_2.32"/>
  <p>Strictly as a matter of your choice of forms, do
                    you ever find yourself beginning a short story that suddenly blossoms or has to
                    blossom into a novel, or vice versa?</p>
</div>
<div class="section">
  <a name="wfaudio07_2.33"/>
  <p>Yes,
                    sir.</p>
</div>
