<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio20_2.1">New Forms of Labor A</a>
    </li>
    <li>
      <a href="#wfaudio20_2.2">Leisure v Laboring Classes</a>
    </li>
    <li>
      <a href="#wfaudio20_2.3">Egyptian Slavery</a>
    </li>
    <li>
      <a href="#wfaudio20_2.4">Negroes Voting</a>
    </li>
    <li>
      <a href="#wfaudio20_2.5">Northern Integration</a>
    </li>
    <li>
      <a href="#wfaudio20_2.6">Northern Racial Attitudes</a>
    </li>
    <li>
      <a href="#wfaudio20_2.7">Solving the Problem</a>
    </li>
    <li>
      <a href="#wfaudio20_2.8">The Silent Majority</a>
    </li>
    <li>
      <a href="#wfaudio20_2.9">Virginia's Responsibility</a>
    </li>
    <li>
      <a href="#wfaudio20_2.10">The Ku Klux Klan</a>
    </li>
    <li>
      <a href="#wfaudio20_2.11">KKK Membership</a>
    </li>
    <li>
      <a href="#wfaudio20_2.12">Pace of Change</a>
    </li>
    <li>
      <a href="#wfaudio20_2.13">Integration and Progress</a>
    </li>
    <li>
      <a href="#wfaudio20_2.14">Experience with KKK</a>
    </li>
    <li>
      <a href="#wfaudio20_2.15">Advice to VIrginia</a>
    </li>
    <li>
      <a href="#wfaudio20_2.16">Improving Negro Standards</a>
    </li>
    <li>
      <a href="#wfaudio20_2.17">Negroes as Citizens</a>
    </li>
    <li>
      <a href="#wfaudio20_2.18">Integration and Crime</a>
    </li>
    <li>
      <a href="#wfaudio20_2.19">Negro Leadership</a>
    </li>
    <li>
      <a href="#wfaudio20_2.20">Nation v Region</a>
    </li>
    <li>
      <a href="#wfaudio20_2.21">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio20_2.22">Opinion of the World</a>
    </li>
    <li>
      <a href="#wfaudio20_2.23">Assimilation</a>
    </li>
    <li>
      <a href="#wfaudio20_2.24">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 20 February 1958</h3>
  <h3>OCCASION: The Raven, Jefferson and Omicron Delta Kappa Societies</h3>
  <h3>TAPE: T-140ends</h3>
  <h3>LENGTH: 30:24</h3>
</div>
<div id="body">
  <a name="wfaudio20_2.1">&#xA0;</a>
  <p><strong>Unidentified participant:</strong> and the possible eventual destruction of the
                    remaining&#x2014;of the agrarian&#x2014;agrarian society will have any
                    effect upon this problem?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It will in that, I think&#x2014;the agrarian culture was the only culture the
                    white man went to much trouble to&#x2014;to train the Negro in. As that
                    vanishes, the Negro becomes more and more of a problem. When that's completely
                    gone, he will be still more and more of a problem, and for that reason
                    the white man will have to do something to&#x2014;to substitute that agrarian
                    economy, which took care of the Negro. I&#x2014;I mean by&#x2014;by "took
                    care," which assimilated the Negro. The Negro had a&#x2014;a definite place
                    in that economy. Now the only contact the Negro has with the white man's culture
                    is the time-payment icebox and&#x2014;and the automobile that he'll own some
                    day, if he don't tear it up before he finishes paying for it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but there's no other contact with the white man's
                    culture that the Negro has since he was&#x2014;since he left the agrarian
                    economy of slavery.
                </p>
  <hr/>
  <a name="wfaudio20_2.2">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I'd like to probe your question, your statement, that no nation can exist
                    with second-class citizens. I'm not aware of any civilization either ancient or
                    modern that has not, in some form, had a second-class citizenry. For example,
                    the Hellenic civilization probably reached its flower because the leisure
                    of&#x2014;of one class was made possible by the labors of ones who were not
                    only second-class citizens, but worse. I'm not defending second-class
                    citizenship, but it seems that some civilizations exist not only in spite of it
                    but, in fact, because of the second-class citizenship. So I would like to know
                    if there is historical precedent for your statements.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>This: I don't know any of those civilizations that have not had a
                    second-class citizenship, but I don't know of any of them in which that
                    second-class citizenship was an arbitrary condition compelled on the
                    second-class citizen by the others. He found his own second-class level. He was
                    not compelled to it by the color of his skin. If that second-class citizen could
                    rise from&#x2014;from his second-class citizenship, he was&#x2014;he was
                    allowed to. There was nothing to stop him. In our economy it's pretty hard for
                    the Negro to get very far. That's the only difference.
                </p>
  <hr/>
  <a name="wfaudio20_2.3">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In Egypt many thousands and tens of thousands and hundreds of thousands
                    of workers that were held in slavery, and they could not get out of it. 
                    those people .</p>
  <hr/>
  <p><strong>William Faulkner:</strong>True, but some of them broke out. You know, Moses led a big gang of them
                    out himself. <span class="event tooltip" title="There was some audience laughter and talking happening">[audience laughter and talking]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.4">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir. <span class="event tooltip" title="There was some audience talking happening">[audience talking]</span></p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[I think as you were talking, you're taking as the best
                    man being]</span>  <span class="unclear tooltip" title="Text was unclear">[and since]</span>  <span class="unclear tooltip" title="Text was unclear">[activities, 
                        eventually taking&#x2014;and taking]</span> interest in what
                        we're doing a while voting, you want the best way of educating people who
                    are thinking about the <span class="unclear tooltip" title="Text was unclear">[unity, not only themselves]</span>. Don't you think
                    that there should be a great attempt to encourage the Negro <span class="unclear tooltip" title="Text was unclear">[to vote
                        as]</span> much as possible in the South and to think of what he's doing,
                    rather than going to <span class="unclear tooltip" title="Text was unclear">[practically]</span> every means to discourage
                    him as at present?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, sir, in&#x2014;in principle, yes, but I think that to give a man a vote when
                    he has no conception of what he's voting for or against is not going to improve
                    him nor his condition much. I still think that the education should come first,
                    but then I agree that a lot of white folks that vote haven't got any business
                    voting, too, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but just because they do vote,
                    it's not going to help things to give a lot of Negroes that haven't got any
                    business voting the right to vote. I think that&#x2014;that if we've got to
                    start educating somebody somewhere, then let's start with&#x2014;with what is
                        amenable to it, and the Negro&#x2014;in his present condition he wants to advance
                    himself. He would be more amenable to education than the white man would because
                    the white man has got spoiled by it. The white man says, "My laws make me go to
                    school, and if it&#x2014;I've got to have a good school that suits me. I've
                    got to have a good football team, or I ain't going there. I've got to have
                    cheerleaders or I may not like it." The Negro, I think, anxious to better his
                    condition&#x2014;and I hope that some of his leaders tell him it can be done
                    only by education&#x2014;might be more amenable to education, to realize the
                    responsibility that he has when he has the right to vote.
                </p>
  <hr/>
  <a name="wfaudio20_2.5">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, do you think that the integration policies in the North have been
                    successful, and if not, why? <span class="event tooltip" title="There was some audience talking happening">[audience talking]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, probably no integration policies have been successful, but then
                    most of the agrarian policies have not been too successful, yet somehow
                    agriculture advances, somehow the&#x2014;the&#x2014;the human condition in
                    which Negroes and whites have to live has advanced slowly. It has gone backward
                    since that Supreme Court decision, but since '65, it had advanced gradually and
                    steadily, and I think that it will continue to advance gradually&#x2014;gradually
                    and steadily.
                </p>
  <hr/>
  <a name="wfaudio20_2.6">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, before you made the statement that the northerners were afraid of
                    the Negro. What are your reasons for that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That conclusion<span class="unclear tooltip" title="Text was unclear">['s]</span> drawn from&#x2014;from the experience I've
                    had with the northerners. They&#x2014;they&#x2014;they love the Negro in
                    theory, but they don't want much to do with him. I've noticed that the
                    southerner, he&#x2014;he don't love the Negro in quantities, but he will
                    defend some particular Negro. It may be the
                      nigger just owes him money&#x2014;but anyway, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> whatever the reason is, he will defend him. And
                    that's what I meant. I simply generalized from what I've heard northerners say.
                    They&#x2014;they&#x2014;they express so many, to me, bizarre reasons for
                    the Negro's desire to&#x2014;to advance himself. They seem to think
                    that&#x2014;that he's&#x2014;wants to take revenge on long oppression from
                    the white race. That may be true in&#x2014;in certain cases, but I think in
                    general the Negro don't especially want revenge on the white man,
                    that&#x2014;that his attitude toward the white man is something like the
                    white man's toward him. He likes a few of them, but he don't think much of all
                    of them. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But his low opinion of all of them is
                    not worth going to a great deal of trouble to get revenge.
                </p>
  <hr/>
  <a name="wfaudio20_2.7">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Sir, I don't mean]</span> to suggest that I'm a 
                        northerner, but <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> we often say that the <span class="unclear tooltip" title="Text was unclear">[northerner
                        ought to]</span> come down and see how things are going on, and we often
                    say that they don't understand our problems, yet we in the South have an
                    opportunity to do something progressive, and I don't think that any of our
                    leaders have ever come up with a good working plan yet. What do you think about
                    that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I agree with you. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's what I'm
                    talking about tonight. I agree with you. But then, I don't know of any
                    of&#x2014;of the northerners that have come up with a good practical working
                    plan yet.
                </p>
  <hr/>
  <a name="wfaudio20_2.8">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, as I understand it, you believe that much of the leadership problem
                    that we've got today is caused by an active noisy minority in each state, and if
                    so, if I've understood you correctly, I wonder what your reasons are for
                    believing, for thinking, or for wondering why the hapless majority refrains or
                    keeps from using their numerical superiority to overcome this leadership
                    problem.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, one reason is they don't want to be mixed up in something
                    unpleasant. Another reason is that&#x2014;that people that compose that noisy
                    majority&#x2014;minority&#x2014;in Mississippi, anyway, if you say
                    something or do something they don't like, they may set your house on fire.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.9">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, if Virginia's plea for moderation was ignored once before with
                    particularly disastrous consequences to her, as you mentioned before, do you
                    think there's much hope for Virginia particularly caring to take the lead in the
                    South on this question?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It seems to me she should. It seems to me that&#x2014;that Virginia
                    should feel something of the same responsibility toward the other states of the
                    South&#x2014;that the Virginia younger sons moved into with the surplus
                    slaves two hundred years ago&#x2014;that the father might feel toward his
                    sons. It's a&#x2014;I would say maybe the strongest tie would be some tie,
                    an&#x2014;an attenuation, but still intact, of blood, of culture, of thought,
                    of having shared in&#x2014;in the same disasters. I think
                    it's&#x2014;there's a definite tie. I think that&#x2014;that Virginia,
                    that what we'll, if you'll allow me, the soul of Virginia feels the same tie
                    toward Mississippi and Alabama and Georgia as the soul of Mississippi and
                    Alabama feel and of&#x2014;of&#x2014;of respect toward the&#x2014;the
                    mother stock in Virginia. I think that that's&#x2014;that's an&#x2014;an
                    actual condition.
                </p>
  <hr/>
  <a name="wfaudio20_2.10">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, in the Deep South, Mississippi and Alabama, the people seem to be
                    controlled, more or less, by the Ku Klux Klan. You mentioned the houseburnings
                    and stuff like that. And do you think any examples that we set or any reasons we
                    give, are going to break through those&#x2014;those members of the Ku Klux Klan who are
                    backed, in a lot of cases, by the law enforcement agencies, who
                    are&#x2014;are pretty ignorant, a lot of them? Do you think that we can do
                    anything to break through their attitude?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think so. That's the point I make. If&#x2014;if there was a
                    definite quality of&#x2014;of leadership in common sense, apart from emotion
                    and any dragging out of old battle flags, that the South, the wilderness, the
                    frontier part of the South, could hear and know about, they would have
                    some&#x2014;some reason to feel that if we can throw off these&#x2014;these noisy people, too, that there are people in other parts of the South that
                    feel as we do. The&#x2014;the liberal in Mississippi, he's hemmed in more or
                    less by the sort of people that burn crosses and&#x2014;and whip Negroes and
                    compose lynching parties, and he's afraid to say anything. Well, he knows that
                    if he says too much, something unpleasant may happen to him. Then no matter what
                    he says it may not do any good. But if he found out that there were people in
                    other states that felt the same way as he does, just as the people
                    that&#x2014;that form Citizens Councils and the KKK, they find out that there
                    are people in other states that&#x2014;that feel the same way, so it builds
                    them up. I think that's what we need. The people that&#x2014;that will look
                    on this as something that is&#x2014;is going to change, whether we like it or
                    not. It may be that&#x2014;that all of us curse the day when the first slave
                    was sold into this country, but that's too late now. And to live in&#x2014;in
                    this country, anywhere in the world today, and to&#x2014;to&#x2014;to be against giving
                    a man what equality&#x2014;cultural, educational, economic&#x2014;that
                    he's capable and responsible for, is like living in Alaska and being against
                    snow.  You've got snow. It's&#x2014;it's foolish to be against it.
                    You've got it.
                </p>
  <hr/>
  <a name="wfaudio20_2.11">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, this is just a simple question. I wondered if you could tell us if
                    there's any particular class or economic group in the South which the Klan draws
                    its members from, or whether they come from all walks of life in the South.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>By and large, they come from the&#x2014;the poor unsuccessful white
                    man. He has&#x2014;has worked hard by his lights, and, of course, he has
                    worked hard.  He never gets very far ahead, and he knows that he never will. He
                    sees the Negro with the same sort of land he's got, with poorer tools and not as
                    much credit as he's got, make a better job of it, to&#x2014;to raise his
                    family, and they seem to be happier than he does. And he&#x2014;he doesn't
                    like that. He's envious. He hates the Negro because the Negro is beating him at
                    his own poor game, which is&#x2014;is to make a living on forty acres of poor
                    land. His only superiority over that Negro is&#x2014;is not economic any
                    longer. It's because he's white, and that Negro's not white, and so he's going
                    to do everything he can to keep that Negro black, because it makes him feel
                    good. That's the only thing, the only edge he has.
                </p>
  <hr/>
  <a name="wfaudio20_2.12">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in the light of what you've just said, you also said that
                    the Negro won't wait any longer, and that he will demand rights, and that
                    there's not time to educate the white man, but don't you really think that
                    it's&#x2014;it is a matter of time and a long time before the Mississippian
                    or the south Alabamian will actually accept any sort of integration <span class="unclear tooltip" title="Text was unclear">[in the South]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, I agree with you. I think it will be at least fifty years.
                    I&#x2014;I meant that&#x2014;that the Negro is now in motion toward more
                    equality, and he's got a lot of white folks and government bureaus and courts
                    behind him. I didn't mean that he's going to&#x2014;going to either blow the
                    country up or change it tomorrow. I meant that&#x2014;that now he has got
                    pressure, outside forces, helping him move forward, and that is what I think
                    we've got to&#x2014;got to cope with. Either use it, direct it, or let it run
                    over us. But it will be fifty years before, at least, before the integration as
                    the NAACP talks about it, if that ever does come.  But he will&#x2014;it will
                    be less time than that before he gets more equality than he's got. I think it'll
                    be less time than that before he can vote in Mississippi, or before
                    his&#x2014;he&#x2014;he has to pay the same interest on his borrowed money
                    the white man does, that a white man can't cheat him, can't charge things on a
                    farm commissary book and refuse to let the Negro add up the figures, as he can
                    do now in Mississippi.
                </p>
  <hr/>
  <a name="wfaudio20_2.13">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, a lot of southerners argue that complete integration would greatly
                    lower our standards of education, but don't you believe that within a few years
                    after complete integration, if it worked even moderately well, there would be an
                    overall improvement in our standards of education?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't know. It seems to me to improve standards of education we've got
                    to get some folks out of the schools, not get more in it that don't belong
                    there. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.14">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Sir, being a liberal in Mississippi, as it seems to me you are, you have
                    probably had experiences with this vociferous group that seems to know only
                    violence to accomplish its means. It seems to me that&#x2014;that you might
                    have had some experience with this group, and my question is, have you, and if
                    you have, could you relate what they were?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, quite often, as individuals they are&#x2014;are not too
                    dangerous. They're just noisy. When enough of them get together, they can
                    usually be handled as those North Carolina Indians got rid of theirs. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That a little firmness will do a lot with them.
                    Of course, that don't keep them from coming around at night and setting fire to
                    the barn. That's just an occupational hazard you've got to live with. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.15">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Since you say Virginia must take the first step, how would you propose
                    this, especially since the administration has closed the door as far as
                    education is concerned?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, that would be something which Virginians must decide. What I hope
                    is that Virginia will say, "Something has got to be done about this, and you
                    people in Mississippi and Alabama and Georgia, let's decide what to do, either
                    to control it or let it run over us."</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>We did have a vote here, though, sir, and <span class="unclear tooltip" title="Text was unclear">[whether it
                        was]</span> overlooked&#x2014;the Gray Plan&#x2014;just a start in
                    the right direction. </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, the only answer to that is to vote again, and vote again, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and vote again. If you tell people something
                    often enough and long enough, whether they believe you or not, they may follow
                    you just to get you to hush. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.16">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, it seems to me that the main contention here tonight is that the
                    economic and educational status of the Negro has propagated in him mores which
                    are detrimental to our society. If this is so, why not, while segregated, raise
                    his economic standards and raise his educational standards?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Good, I agree with you. That's what I'd like to do. </p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Furthermore&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would like to give
                    him such good schools that he wouldn't want to go to the white schools. I would
                    like to give him so much equality in his own race and responsibility for it and
                    make him have to spend so much time being responsible for his own equality, 
                    he wouldn't have time to bother with the white man's. Yes, I agree with you.
                    That's what I would do.
                </p>
  <hr/>
  <a name="wfaudio20_2.17">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, would you advocate letting the Negro pay his own taxes, too?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, don't he?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> we know.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, he&#x2014;some of him does. He gets drafted into the Army just
                    like he was a white man. He risks the same death as a white man does. And
                    probably, if he had the vote, he'd vote for the same scalawag and scoundrel the
                    white folks elect, but he would at least have the&#x2014;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> have the right to have voted for him.
                </p>
  <hr/>
  <a name="wfaudio20_2.18">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, assuming that we in Virginia take the initiative to lead in this
                    integration movement for the South, what guarantee, if any, do we have that
                    incidents similar to those that just happened in New York in the last couple of
                    weeks won't happen again down here? If we don't have any guarantee, what steps
                    would you suggest that we take to stall off any such incidents? Particularly,
                     the knifing and robberies and so forth.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say that we train the Negro first into the responsibility of
                    having the privilege of going to the white school before we dump him into it,
                    that he should be&#x2014;be selected by rigorous examination before he was
                    permitted into the white schools. In the meantime, white teachers should be sent
                    to the Negro schools to train the Negro teachers how to teach the Negro
                        <span class="unclear tooltip" title="Text was unclear">[students]</span> to be equal, responsible for the right to go to
                    the white schools. I think if that's&#x2014;I'm sure what we all want not to
                    happen is a thing like Little Rock or Clinton, to have troops with bayonets
                    compel Negroes into white Virginia or Mississippi schools. That's exactly, as I
                    see it, what we're trying to prevent, which is&#x2014;if we don't do
                    something, we will have.
                </p>
  <hr/>
  <a name="wfaudio20_2.19">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, the Negro professional men of the South&#x2014;its
                    doctors, <span class="unclear tooltip" title="Text was unclear">[in particular,]</span> and the lawyers&#x2014;themselves
                    act as a blockade against the younger, the better-educated Negroes. In important
                    matters, in <span class="unclear tooltip" title="Text was unclear">[the]</span> medical societies, they won't let them pass
                    the board examinations, so what are we going to do about that? <span class="unclear tooltip" title="Text was unclear">[You
                        have]</span> these old guard Negroes who won't let the new,
                    better-educated&#x2014;the more liberal Negroes in as leaders.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>They will have to be bypassed, just like the&#x2014;the old-guard
                    white people that want to&#x2014;to stop progress will have to be bypassed.
                    We don't have time, any more, to&#x2014;to wait around for the old mossbacks
                    to die off. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That might solve it if we had more
                    time, but we don't. Something's got to be done pretty soon, and they would have
                    to be bypassed. And I'm quite sure there's a lot of that, that they prefer the
                    status quo, they don't want to change and upset things, that probably
                    they&#x2014;they don't want a lot of&#x2014;of smart young Negro doctors
                    and lawyers getting in their hair. It makes them behave a good deal like white
                    folks. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio20_2.20">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, as a foreigner, I have regarded the southerners and the
                    northerners, all Americans, as members of the American
                    nation, but here and elsewhere, I have observed that there is a difference
                    between the southerner and the northerner.  <span class="unclear tooltip" title="Text was unclear">[And]</span> I see a problem here which
                    seems to me greater or more dangerous than the problem of segregation against
                    the Negroes. Would you please comment?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think I understand what you mean, but I don't believe any problem can
                    face this country that we won't drop everything and confederate on, unless it
                    may be the abolishment of automobiles. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But we
                    are not going to confederate on the problem of segregation. That's the only
                    issue that&#x2014;that we&#x2014;we balk at.  But anything else is
                    ephemeral, and the&#x2014;and the American don't take that seriously any more
                    than he takes most of the&#x2014;of the stuff he talks seriously, that a
                    great deal of his talk that sounds serious and meaningful to the foreigner, it
                    don't to the American because he&#x2014;it never occurs to him that anybody's
                    going to really believe that, but&#x2014;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio20_2.21">&#xA0;</a>
  <p><strong>Dean F. D. G. Ribble:</strong> one or two more, Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Whatever&#x2014;whatever you ever like.</p>
  <hr/>
  <p><strong>Dean F. D. G. Ribble:</strong>Let's give them about two or three more and then . If we have
                    about two more questions, and then I think we've held Mr. Faulkner long
                    enough.</p>
  <hr/>
  <a name="wfaudio20_2.22">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I think this last comment is of some interest, and I was wondering if you
                    felt that the problem which we face in Virginia and in the South has any strong
                    international consequences insofar as the future of the Western civilization.
                    That is, what do our neighbors across the oceans think of us in Virginia, let's
                    say, as this young man has just pointed out, when they observe our actions in
                    regard to Negroes?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I imagine that they have a very&#x2014;pretty&#x2014;a very poor
                    opinion of us, but I think that their opinion of us is not near as important
                    right now as what&#x2014;what, we&#x2014;Virginians and Mississippians and
                    Alabamians&#x2014;have got to think about ourselves. Let's look after our own
                    opinion about our behavior, and then let's worry about what somebody else thinks
                    about it.</p>
  <hr/>
  <a name="wfaudio20_2.23">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>As slow and as inefficient as it may be, do you feel that the best
                    problem or the best solution to race integration would be race assimilation?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir, I don't think that that would&#x2014;would solve many
                    problems. The same amount of&#x2014;of bickering would go on, and they would
                    find another subject for it. I think that the only thing that will solve that
                    problem is&#x2014;is not integration but equality, for the Negro to know that
                    he has just as much and just as valid rights in this country as anybody else
                    has. That his money is just as secure. His children have a right to just as good
                    an education as anybody else does. His vote counts as much as anybody else's.
                    That he don't have to pay any more for the Cadillac that he dreams of owning
                    some day than the white man has to pay for it.</p>
  <hr/>
  <a name="wfaudio20_2.24">&#xA0;</a>
  <p><strong>Dean F. D. G. Ribble:</strong>I know I'm speaking for each one of us when I say we're all most
                    grateful to Mr. Faulkner for a very interesting and a very stimulating evening.
                    That concludes this evening. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
