<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio12_3.1">Readers' Meanings</a>
    </li>
    <li>
      <a href="#wfaudio12_3.2">Advice for Young Men</a>
    </li>
    <li>
      <a href="#wfaudio12_3.3">Writing a Biography</a>
    </li>
    <li>
      <a href="#wfaudio12_3.4">UVA as Setting</a>
    </li>
    <li>
      <a href="#wfaudio12_3.5">List of Virtues</a>
    </li>
    <li>
      <a href="#wfaudio12_3.6">A Roan Tooth</a>
    </li>
    <li>
      <a href="#wfaudio12_3.7">Sutpen as Blank</a>
    </li>
    <li>
      <a href="#wfaudio12_3.8">Failure and Success</a>
    </li>
    <li>
      <a href="#wfaudio12_3.9">Better v Good</a>
    </li>
    <li>
      <a href="#wfaudio12_3.10">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio12_3.1"/>
  <p>I would say as a&#x2014;as&#x2014;as an idea, someone with the
                    capacity to read English that appeared suddenly with no past, mature out of a
                    vacuum, would get nothing from reading the books, that he would have to have
                    something in his own experience of&#x2014;of man and man's condition and
                    man's behavior to have made the books comprehensible to him, so, of course, he
                    reads into the&#x2014;the books, things the writer didn't put in there, in
                    the terms that&#x2014;that his and the writer's experience could not possibly
                    be identical. That there are things the writer might think is in that book, which
                    the reader doesn't find for the same reason that&#x2014;that no two
                    experiences can be identical, but everyone reads according to&#x2014;to his
                    own&#x2014;own lights, his own experience, his own observation, imagination,
                    and experience.
                    </p>
</div>
<div class="section">
  <a name="wfaudio12_3.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.3"/>
  <p>Sir&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio12_3.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.7"/>
  <p>Well, let's have one more question for Mr.
                        Faulkner and then we'll close down for the night. Yes,  ask a
                        question.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.8"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio12_3.9"/>
  <p>And do you think that each new book is better than the old one?</p>
</div>
<div class="section">
  <a name="wfaudio12_3.10"/>
  <p>Well, ladies and gentleman, thank you for your interesting and
                    intelligent questions.  Thank you, Mr.
                        Faulkner.   </p>
</div>
