<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio16_2.1">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio16_2.2">Wave in "Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.3">Visualizing Scenes</a>
    </li>
    <li>
      <a href="#wfaudio16_2.4">Dialect in "Old Man:</a>
    </li>
    <li>
      <a href="#wfaudio16_2.5">Thomas Wolfe</a>
    </li>
    <li>
      <a href="#wfaudio16_2.6">Dream in "Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.7">Experience with Delta</a>
    </li>
    <li>
      <a href="#wfaudio16_2.8">Nose Bleed in "Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.9">Vizier in "Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.10">Planning the Story</a>
    </li>
    <li>
      <a href="#wfaudio16_2.11">For Whom the Bell Tolls</a>
    </li>
    <li>
      <a href="#wfaudio16_2.12">Demon-Driven</a>
    </li>
    <li>
      <a href="#wfaudio16_2.13">Writing Multiple Books</a>
    </li>
    <li>
      <a href="#wfaudio16_2.14">Strength in "Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.15">Judging Characters</a>
    </li>
    <li>
      <a href="#wfaudio16_2.16">Losing Humanity</a>
    </li>
    <li>
      <a href="#wfaudio16_2.17">"Old Man"/"Wild Palms"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.18">Defining His Audience</a>
    </li>
    <li>
      <a href="#wfaudio16_2.19">Writing for Money</a>
    </li>
    <li>
      <a href="#wfaudio16_2.20">Writing for Movies and TV</a>
    </li>
    <li>
      <a href="#wfaudio16_2.21">Drama as a Literary Form</a>
    </li>
    <li>
      <a href="#wfaudio16_2.22">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio16_2.23">A Fable</a>
    </li>
    <li>
      <a href="#wfaudio16_2.24">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio16_2.1"/>
  <p> and the
                    solitude, but she&#x2014;but she wasn't enough&#x2014;he had to go and get
                    into trouble over somebody else's wife.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.13"/>
  <p>Does the writer ever get involved in more than one book  at a time?</p>
</div>
<div class="section">
  <a name="wfaudio16_2.14"/>
  <p>Let's see. We'll
                    have to start at the left. Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.20"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.22"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.23"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio16_2.24"/>
  <p>Mr. Faulkner, I'm sure that we all thank you  to go on but I wanted
                    to give you an opportunity to no longer be subjected to
                    questions. I'm sure that we all appreciate Mr. Faulkner's coming and that we've
                    learned a great deal from his remarks.</p>
</div>
