<?xml version="1.0"?>

      
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio02_2.1">Dating a Story</a>
    </li>
    <li>
      <a href="#wfaudio02_2.2">Faulkner's Own Spotted Pony</a>
    </li>
    <li>
      <a href="#wfaudio02_2.3">The Next Book</a>
    </li>
    <li>
      <a href="#wfaudio02_2.4">Mrs. Armstid's Suit</a>
    </li>
    <li>
      <a href="#wfaudio02_2.5">Requiem on Stage</a>
    </li>
    <li>
      <a href="#wfaudio02_2.6">Eula's Character</a>
    </li>
    <li>
      <a href="#wfaudio02_2.7">Plot v Character</a>
    </li>
    <li>
      <a href="#wfaudio02_2.8">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio02_2.9">The Snopses' Respectability</a>
    </li>
    <li>
      <a href="#wfaudio02_2.10">Pressure to Conform</a>
    </li>
    <li>
      <a href="#wfaudio02_2.11">Conformity v Individualism</a>
    </li>
    <li>
      <a href="#wfaudio02_2.12">Flem Snopes</a>
    </li>
    <li>
      <a href="#wfaudio02_2.13">Good Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio02_2.14">Montgomery Ward Snopes</a>
    </li>
    <li>
      <a href="#wfaudio02_2.15">Resisting Snopesism</a>
    </li>
    <li>
      <a href="#wfaudio02_2.16">Retelling Stories</a>
    </li>
    <li>
      <a href="#wfaudio02_2.17">Sutpen's Quest</a>
    </li>
    <li>
      <a href="#wfaudio02_2.18">Individualism v Love</a>
    </li>
    <li>
      <a href="#wfaudio02_2.19">Pylon</a>
    </li>
    <li>
      <a href="#wfaudio02_2.20">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 7 March 1957</h3>
  <h3>OCCASION: The English Club</h3>
  <h3>TAPE: T-107</h3>
  <h3>LENGTH: 28:24</h3>
</div>
<div id="body">
  <a name="wfaudio02_2.1"/>
  <p><strong>William Faulkner:</strong>Well, when you go to the trouble to invent a&#x2014;a private domain of your own, then
          you're the master of time, too. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I have the right, I
          think, to shift these things around wherever it sounds best, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and I can move them about in time and, if necessary, change
          their names. This would be 1906 or '07 this happened. That is, the more you write, the
            more you've got to compromise with such facts as time and place, and so I've got to&#x2014;to agree
          with Mr.Gwynn and establish this somewhere in time, so it's about 1907.
            <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio02_2.2"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, have you ever such an auction taking place?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes'm. I bought one of these horses once. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> They
          appeared in our country. Every summer somebody would come in with another batch of them.
          They were western range-bred ponies, pintos. Had never had a bridle on them. Had never
          seen shell corn before.  And they'd brought&#x2014;be brought into our town and
          auctioned off for prices from three or four dollars up to six or seven, and I bought this
          one for four dollars and seventy-five cents. I was&#x2014;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> oh, I reckon ten years old. My father at that time ran a
          livery stable, and there was a&#x2014;a big man. He was six feet and a half tall. He weighed two
          hundred pounds, but mentally he was about ten years old, too.  And I wanted one of those
          horses. My father said, "Well, if you and Buster can buy one for what money you've saved,
          you can have it."  And so we went to the auction, and we bought one for four dollars and
          seventy-five cents. We got it home. We were going to gentle it. We had a two-wheel cart
          made out of the front axle of a buggy with shafts on it, and we fooled with that 
          <span class="unclear tooltip" title="Text was unclear">[creature]</span>. It was&#x2014;was a wild animal. It was a wild 
          beast. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It wasn't a domestic animal at all, and finally Buster said
          that it was about ready, so we had the cart in a shed. Estelle probably remembers this. We
          put a croaker sack over the horse's head and backed it into the cart with two niggers
          to&#x2014;to fasten it in, to buckle traces and toggles and 
          things, and me and Buster got in the seat, and Buster said, "All right boys, let him go."
            <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And they snatched the&#x2014;the sack off the
          horse's head, and it went across the lot. There was a big gate. The lane had turned at a
          sharp angle. It hung the inside wheel on the gatepost as it turned. We were down on one
          hub then. Then about that time, Buster caught me by the back of the neck and threw me,
          just like that, and then he jumped off. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And the cart was
          scattered up that lane, and we found the horse a&#x2014;a mile away run into a dead-end
          street. All he had left on him was just the hames, the harness was
          gone. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
          <span class="unclear tooltip" title="Text was unclear">[But]</span> that was a <span class="unclear tooltip" title="Text was unclear">[pleasant]</span> experience. But we kept that
          horse and gentled him to where I finally rode him.  But I loved that horse because that was
          my own horse. I bought that with my own money. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio02_2.3"/>
  <p><strong>Unidentified participant:</strong> Mr. Faulkner, how do you feel about your next novel, or do you always feel
          that your next one is the best?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, the&#x2014;the one that I'm going to write this year is going to be the
          best. The one that I finished last year, that's finished. That's behind me. There's
          nothing more I can do to that, but I'm going to do one this year that's still better,
          which is probably a happy attitude to have toward writing. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That is, it's&#x2014;it's 
          fun to do. It's like some people find playing golf fun to do or
          collecting stamps. If you ever get the perfect stamp, there's nothing else to collect. If
          you ever write a book that suits you exactly, there's nothing else to do, and so you hope
          that you really won't write one as good as you think it's going to be, and, of course, you
          won't.</p>
  <hr/>
  <a name="wfaudio02_2.4"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you feel that the gap between the people and the law that exists in "Spotted
          Horses" has closed any since then?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The gap between the people and&#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And the law.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>And the law?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Uh huh.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Will you explain a little more of what that means?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>The law is so inappropriate, and&#x2014;and&#x2014;and we feel that
          it's&#x2014;in the end, it's so ridiculous, really. It's&#x2014;it's so far from the
          people and the way they live, and it doesn't seem to apply to them. I just wondered if you
          felt that it were more appropriate now.</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>You mean that Mrs. Armstid doesn't get her money back in court?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Yes.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, well, that's one of the natural occupational hazards of breathing, is conflict
          with the law, with police. I think that all people have to face that and accept it and do
          the best they can with it. That's&#x2014;if she had got her money back, it'd been bad on me because my
          story would've blown up. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio02_2.5"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, have you seen any of the productions of <em>Requiem
            for a Nun</em>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I haven't. I have read the&#x2014;the version that&#x2014;that Camus
          did in French, but then he turned it into an existentialist play, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I've never seen it on the stage.
          I would like to.</p>
  <hr/>
  <a name="wfaudio02_2.6"/>
  <p><strong>Joseph Blotner:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Eula Varner seems to be the sort of character who would in some way seems almost
          larger than life, seems to be invested with a&#x2014;a meaning that's almost symbolic.
          When you conceived this character, did she seem to represent, let us say, some of the best
          aspects of the&#x2014;the Varners?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, you're quite right. She was larger than life, that she was&#x2014;was an
          anachronism. She had no place there, that that little&#x2014;little hamlet couldn't have held her, and
          when she moved on to Jefferson, that couldn't hold her either, but then that'll be in the
          next book, the one that'll be out next month. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> You're
          quite right. She was larger than life. She was too big for this world.</p>
  <hr/>
  <a name="wfaudio02_2.7"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>To what extent are your plots and characters preconceived, or in other words, to
          what extent do you outline what is going to happen to your characters before you begin to
          write?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't at all. I get a character and&#x2014;and get him or her started, get him or her
          involved with somebody else, and then they take charge of it. I just gallop along behind
          to put it down, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but they are writing the book by that
          time.</p>
  <hr/>
  <a name="wfaudio02_2.8"/>
  <p><strong>Unidentified participant:</strong>You&#x2014;you have said previously that&#x2014;that <em>The Sound and the
            Fury</em> came from an impression of a little girl up in a tree, and I wondered how you
          built it from that, and whether you just, as you said, let it&#x2014;let the story
          develop itself.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, impression is&#x2014;is the wrong word. It's more an image. A very
          moving image to me was of the children. Of course, we didn't know at that time that one
          was an idiot, but there were three boys&#x2014;one was a girl, and the girl was the
          only one that was brave enough to climb that tree to look in the forbidden window to see
          what was going on, and that's what the book , and <span class="unclear tooltip" title="Text was unclear">[it]</span> took the
          rest of the 400 pages to explain why she was brave enough to climb the tree to look in the
          window. It was an image, a&#x2014;a picture to me, a&#x2014;a very moving one, which
          was symbolized by the muddy bottom of her drawers as her brothers looked up into the apple
          tree that she had climbed to look in the window, and the symbolism of the muddy bottom of
          the drawers became the&#x2014;the lost Caddy, which had caused one
          brother to commit suicide, and the other brother had&#x2014;had misused her money that
          she'd sent back to the&#x2014;to the child, the daughter. It was a&#x2014;I thought&#x2014;a short story, 
          something that could be done in <span class="unclear tooltip" title="Text was unclear">[about]</span> two pages, a
          thousand words. I found out it couldn't. I finished it the first time, and it wasn't
          right, so I wrote it again, and that was Quentin. That wasn't right. I wrote it again.
          That was Jason. That wasn't right. Then I tried to let Faulkner do it. That still was
          wrong.</p>
  <hr/>
  <a name="wfaudio02_2.9"/>
  <p><strong>Joseph Blotner:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>One thing that we sometimes seem to see with acquisitive
          people like the Snopeses is that after they have made the gains which they want very much
          to make, respectability seems to set in and start to work on them, too. Do you see any
          signs of that happening in that clan?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, only that the rapacious people, if they're not careful, they are seduced
          away and decide that what they've got to have is respectability which destroys one, almost
          anybody. That is, nobody seems to be brave enough anymore to be a&#x2014;an out-and-out blackguard
          or rascal, that sooner or later he's got to be respectable, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and 
          that finishes it.</p>
  <hr/>
  <a name="wfaudio02_2.10"/>
  <p><strong>Unidentified participant:</strong>Why aren't there blackguards <span class="unclear tooltip" title="Text was unclear">[then]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>They ain't brave and strong and tough like they used to be. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And
          that's&#x2014; </p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[And]</span> why not?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It's the&#x2014;the curse of the times, maybe.  It may be there's a three or four color
          printing of advertisements have&#x2014;have been too seductive, or a picture of a fine
          big car in two colors with a handsome young woman by it, so that you almost think the
          woman comes with the new car <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> when you make the starter
          payments. Money is&#x2014;there's so much pressure to conform, to&#x2014;to be
          respectable.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>More than in the Victorian?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think so, yes. In the Victorian, they tried to&#x2014;to force you to be
          respectable to save your soul. Now, they compel you to be respectable
          to be rich.</p>
  <hr/>
  <a name="wfaudio02_2.11"/>
  <p><strong>Unidentified participant:</strong>Were these people blackguards to save their souls? I'm not quite sure I
          understand the connection.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I think that possibly the old Adam in man suggests to him to be a
          blackguard if he can get away with it, and when there's a great deal of pressure to be
          respectable, if there is&#x2014;is a great enough reward for the respectability, he
          will choose that in preference to the pleasure of being a scoundrel and a blackguard, that
          people don't have enough verve and zest anymore, which is not the fault of man so much as
          the fault of the times that we live in to where he&#x2014;there's too much pressure
          against being an individualist, and&#x2014;and a&#x2014;a good first-rate scoundrel
          is an individualist. He don't really belong to a gang. Once he's got to join a gang, he
          becomes a second-rate scoundrel, but a first-rate scoundrel is like a first-rate artist.
          He's an individualist, and the pressure's all against being an individualist. You've got
          to belong to a group. It don't matter much what group, but you've got to belong to it, or
          there's no place for you in the&#x2014;the culture or the economy. Maybe to belong to a
          gang you might escape the Atom bomb. <span class="unclear tooltip" title="Text was unclear">[This]</span>&#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Are you saying that he has to be a&#x2014;a scoundrel to be an individualist?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir. I say a scoundrel, to be a good one, must be an individualist. That
          only an individualist can be a first-rate scoundrel. Only an individualist can be a
          first-rate artist. He can't belong to a group or a school and be a first-rate writer.</p>
  <hr/>
  <a name="wfaudio02_2.12"/>
  <p><strong>Frederick Gwynn:</strong>You could have some grudging admiration for Flem Snopes who pretty well sticks to
          his character.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, until he was bitten by the bug to be respectable. Then he let me down.
            <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I had an admiration for him until then.</p>
  <hr/>
  <a name="wfaudio02_2.13"/>
  <p><strong>Frederick Gwynn:</strong>Any there good Snopeses? That boy of Eck's seems like a nice little fellow. Is
          he&#x2014;is he going to get depraved, too?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. He was&#x2014;he turned into a&#x2014;in his&#x2014;his way, a
          pretty good boy. He wanted no more of Snopes. He tried to remove himself from the&#x2014;the aura
          and orbit of <span class="unclear tooltip" title="Text was unclear">[the]</span> Snopes.</p>
  <hr/>
  <a name="wfaudio02_2.14"/>
  <p><strong>Joseph Blotner:</strong>Somebody once wrote, Mr. Faulkner, I&#x2014;maybe this is apocryphal, that
            a&#x2014;a couple of Snopeses who haven't yet been described, but who&#x2014;who might <span class="unclear tooltip" title="Text was unclear">[were
              to be described]</span>, were named Dollar Watch Snopes and Montgomery Ward Snopes. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>  Is
          there any truth to that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, there's a Montgomery Wards Snopes. He went to France in 1917 to keep from
          being drafted. He joined the YMCA, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and he came back with
          a batch of&#x2014;of French pornographic postcards and opened what he called a studio.
          <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> He&#x2014;he had a&#x2014;a Basque hat and a
            windsor tie by that time. He was an artist. His studio had a back door to it,
          and if people joined the club, they could look at the postcards <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> until 
          the government caught him. That was Montgomery
          Ward.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Did he ever make it back to America?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, yes. This was back in Jefferson where he opened his studio. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio02_2.15"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, you said before that it was your belief that man would prevail.
          Well, in the light of this book <em>The Hamlet</em> and several others that
          we've discussed recently, what type of man do you think will prevail? What kind? A
          scoundrel?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. The scoundrel in time is seduced away by the desire to be respectable,
          so he's finished. There's a&#x2014;what quality in man that prevails, it's&#x2014;it's difficult to
          be specific about, but somehow man does prevail. There's always someone that will&#x2014;will never
          stop trying to cope with Snopes, that will never stop trying to get rid of Snopes.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
          
          <span class="unclear tooltip" title="Text was unclear">[A sort of the lunatic fringe or something?]</span>
        </p>
  <hr/>
  <p><strong>William Faulkner:</strong>What?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[A remnant]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, the&#x2014;the impulse to eradicate Snopes is&#x2014;is, in my
          opinion, so strong that it&#x2014;it selects its champions when the crisis comes.  When the battle
          comes, it always produces a Roland. It doesn't mean that they will get rid of Snopes or
          the impulse which produces Snopes, but always there's something in man that&#x2014;that don't like
          Snopes and objects to Snopes and, if necessary, will step in to keep Snopes from doing
          some irreparable harm. There's whatever it is that&#x2014;that keeps us still trying to
          paint the pictures, to make the music, to write the books. There's a great deal of
          pressure not to do that because certainly the artist has no place in&#x2014;in nature,
          and almost no place at all in our American culture and economy, but yet people still try
          to write books, still try to paint pictures. They still go to a lot of trouble to&#x2014;to produce
          the music, and a few people will always go to hear the music, which still has nothing to
          do with&#x2014;with the number of people that will produce the Cadillac cars or the
          economies which will give everybody a chance to buy a Cadillac car on the installment plan
          or the deep freezers. That is, all that's advertised. It has to be advertised, in order to
          keep <span class="unclear tooltip" title="Text was unclear">[you provided,]</span> but the books, the music, that's not advertised, yet
          still there're people that will pay for it and buy the pictures. It's a slow process, but
          yet it apparently goes on, that we will even outlast the atom and
          hydrogen bombs. I don't know right now how we will do it, but my bet is we will.</p>
  <hr/>
  <a name="wfaudio02_2.16"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>There's another version of this story, isn't there? It seems to me I remember one
            with a sewing machine agent telling it.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I'm sure there is. I have written a dozen versions of it. I would&#x2014;I
          would have to see them all to unravel them myself, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but
          I'm sure there's any number of versions of it, which is simply the&#x2014;the
          craftsman's job to try it and try it and try it, to have infinite patience, to try and try and
          try until it comes as good as you can possibly make it. When you have reached that point,
          it still ain't good enough, so you write another one, and you try and try that one, to
          bring it to the nearest perfection that you are capable of, which still won't be the best
          one, so you write another one. When you reach this point where you don't do that anymore,
          you cut the throat.</p>
  <hr/>
  <a name="wfaudio02_2.17"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Along this respectability/scoundrel line, how do you explain Colonel Sutpen, who
          sweeps into Jefferson and grimly sets himself up, and <span class="unclear tooltip" title="Text was unclear">[along the line]</span>
          decides he'll have respectability? Marches into town with the willpower that's possibly
          equaled only by his mother&#x2014;his eventual mother-in-law. Does he really lose his
          individuality or is respectability just another notch on his rifle, so to speak?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He wanted more than that. He wanted revenge as he saw it, but also he wanted to
          establish the fact that man is&#x2014;is immortal. That&#x2014;that man, if&#x2014;if he is
          man, cannot be inferior to another man through artificial standards or circumstances. What
          he was trying to do&#x2014;when he was a boy, he had gone to the front door of a big
          house, and somebody, a servant, said, "Go around to the back door." He said, "I'm going to be
          the one that lives in the big house. I'm going to establish a dynasty. I don't care how."
          And he violated all the rules of&#x2014;of decency and honor and pity and compassion,
          and the fates took revenge on him. That's what that story was. But he was trying
          to&#x2014;to say in his blundering way that&#x2014;that, "Why
          should a man be better than me because he's richer than me, that if I had had the chance I&#x2014;I
          might be just as good as he thinks he is, so I'll make myself as good as he thinks he is
          by getting the same outward trappings which he had"&#x2014;which was a big house and servants in
          it. He didn't say, "I'm&#x2014;I'm going to be&#x2014;be braver or more compassionate
          or more honest than he." He just said, "I'm going to be as rich as he was, as big as he was
          on the outside."</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>He never really attained this respectability?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, he was&#x2014;the&#x2014;the Greeks destroyed him, the old Greek
          concept of tragedy. He wanted a son which symbolized this&#x2014;this ideal, and he got
          too many sons. His sons destroyed one another and then him. He was left with&#x2014;the
          only son he had left was a Negro.</p>
  <hr/>
  <a name="wfaudio02_2.18"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You've said that you regarded respectability as one of the prime enemies of
          individualism. Do you regard love as an enemy of individualism?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, <span class="unclear tooltip" title="Text was unclear">[not at all]</span>. What's love got to do with respectability?
            <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> No, sir, I&#x2014;I do not. Respectability
          is&#x2014;is an artificial standard, which&#x2014;which comes from up here. That is,
          respectability is&#x2014;is not your concept or my concept. It's what we think is
          Jones's concept of respectability.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I don't mean to defend respectability in love or out. What I mean <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> to 
          do is&#x2014;be quiet, please. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> What I mean to ask is&#x2014;is this. Isn't there a basic dichotomy
          between the kind of individualism which you are praising and the attitude of love?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>If you will substitute decency for respectability, I would agree with you. I
          don't quite follow you between respectability and love, but decency and love. That's an
          interesting point. Has anybody else got a thought on that?</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Well, that's what Harry Wilbourne and the girl in <em>Wild
            Palms</em> discovered, didn't they? That they couldn't get love and respectability
          together, they couldn't live in the twentieth century patterns the way they wanted to.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right, but then by Smith's conception of respectability, they
          couldn't have had that anyway because one was already married. So there was a choice about
          will we take what we can or will we have a little or nothing, and a little, I think, is
          always better than nothing. </p>
  <hr/>
  <a name="wfaudio02_2.19"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, do you regard <em>Pylon</em> a serious novel and what
          were you driving at in that novel?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>To me, they were a&#x2014;a fantastic and&#x2014;and bizarre phenomenon on
            the&#x2014;the&#x2014;the face of a&#x2014;of a contemporary scene, of our culture at a particular time. I
          wrote that book because I'd gotten in trouble with&#x2014;with <em>Absalom, Absalom!</em>, and 
          I had to get away from it for a while, so I thought a good
          way to get away from it was to write another book, so I wrote <em>Pylon</em>. They were 
          ephemera and a phenomena on the face of a&#x2014;of a
            contemporary scene. That is, there was really no place for them in&#x2014;in&#x2014;in the culture, in the
          economy, yet they were there at that time, and everyone knew that they wouldn't last very
          long, which it didn't. That time of those frantic little aeroplanes which dashed around
            the country, and people wanting just enough money to&#x2014;to live, to get to the next place to
          race again, something frenetic and, in a way, almost immoral about it, that they were
            outside&#x2014;outside the range of&#x2014;of God, not only respectability, of love, but of&#x2014;but of God,
            too, that they had escaped the&#x2014;the compulsion of&#x2014;of accepting a past and a future,
          that they were&#x2014;they had no past. They were as&#x2014;as ephemeral
          as&#x2014;as the butterfly that&#x2014;that's born this morning with no stomach and
          will&#x2014;will be gone tomorrow, which seemed to me interesting enough to make a
          story about. But that was just to get away from a book that wasn't going too well until I
          could get back at it.</p>
  <hr/>
  <a name="wfaudio02_2.20"/>
  <p><strong>Moderator:</strong>I think that perhaps we've used up enough of Mr. Faulkner's energy unless, sir,
          you feel the wish to carry on a bit more.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Surely. If anyone can suggest something we can discuss, by all means. You might&#x2014;when 
            should this stop? What do you&#x2014;</p>
  <hr/>
  <p><strong>Moderator:</strong>Well, it has no set closing hour, but&#x2014;but <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> we don't want to tire you.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I've told you&#x2014;this is a dreadful habit to get into where you can
          stand up in front of people and talk, and nobody can say shut up and sit down. <span class="event tooltip" title="There was some audience laughter and applause happening">[audience laughter and applause]</span>  <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

    
