
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 15 February 1957</h4>
<h4>OCCASION: Gwynn's American Fiction Class</h4>
<h4>TAPE: T-120_Gwynn</h4>
<h4>LENGTH: 51:03</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio01_1.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:02.90:00',
					'endtime','00:01:28.64:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div> I'd like for us to introduce this group to Mr.
							Faulkner. People generally in the back, as I see it, are
						dedicated souls who've given up a great deal, maybe even breakfast, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> to come
						in here and who are official auditors of this class today, and scattered
						toward the front are the real card-carrying, dues-paying members of a class
						in American fiction, who have a few questions and a few comments, possibly,
						on work we've been doing in the course, which has taken us from the&mdash;when was
						it&mdash;the first day that Ikkemotubbe came back from New Orleans, right up
						through the McCaslin and Compson sagas, to the Easter when Dilsey said she'd
						seed the first and the last. And as for introducing Mr. Faulkner to this
						group, it is something that needs not to be done, but I think it might make
						this moment even more historical in our minds if I remind you that there is
						no writer in the world today whose prestige is higher than this gentleman
						from Mississippi. Mr. Faulkner, we will be at ease, and questions may or may
						not come in the next few minutes. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:29.65:00',
					'endtime','00:02:45.91:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>I know I've got one somewhere, so if I may, I'd like to ask what you
						felt was the relationship between <em>The Sound and the
							Fury</em> and the short story, "That Evening Sun." Did one come before
						the other in some significant way?</p>
<p><div class="speaker">William Faulkner</div>The&mdash;"That Evening Sun" must have come after <em>The
							Sound and the Fury</em>. The first time I thought of&mdash;of those children,
						Caddy and Jason and Quentin, was when I did <em>The Sound and
							the Fury</em>, so the other story must've come after it, though it's
						hard to&mdash;for me to unravel these people, to say when one came to life. It's
						very difficult. I myself can't distinguish one book from another sometimes.
						I think not of books but of characters, and I can't remember which book has
						which characters in it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:48.45:00',
					'endtime','00:04:11.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Do you remember any kind of feeling of satisfaction when you finally
						finished <em>The Sound and the Fury</em>? I think most readers
						feel a&mdash;a great equilibrium at the end there. Do you recall any such feeling
						yourself?</p>
<p><div class="speaker">William Faulkner</div>No, I don't. That's the&mdash;the one that I love the best for the reason
						that it was the most splendid failure. I think that&mdash;that they all failed.
						Probably the reason the man writes another book is that he tried to&mdash;to tell
						some very important and very moving truth and failed. He's not satisfied, so
						he tries again. He writes another book, trying to tell some&mdash;the same
						moving truth, since there's only one truth, and they fail.  And this one I
						worked hardest at.  It's&mdash;it's like the&mdash;the idiot child
						that the parents love the best. This one was the&mdash;the most splendid failure,
						but I&mdash;I wish I hadn't done it because if I could do it now, I think I could
						do it better. Of course, I couldn't, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I
						would like to try it again if I had never written it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:14.57:00',
					'endtime','00:05:23.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>This is a question about writing in general. I think maybe you just
						answered it, but they say until Hawthorne came along that there were two
						ways to construct a story: either start with the characters and then a plot,
						or start with a plot and make up your characters, and they say that
						Hawthorne started with the idea and invented both. And I wonder, I know
						there's no one formula to producing a story, but I just wonder where you
						start most often and what you feel is most important, what pattern you
							<span class="unclear tooltip" title="Text was unclear">[have worked out]</span> to use?</p>
<p><div class="speaker">William Faulkner</div>Three methods you just stated, all will work but&mdash;but
						none&mdash;neither or none are more important than the others, and no one can say
						just what method the story demands. Apparently there's something inside the
						man or the woman that must be&mdash;be told, must be written. It could be an
						anecdote. It could be a character. It could be an idea, but I don't think
						you could say which system to&mdash;or which pattern to assume in order to&mdash;to
						create a story or a book.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:23.03:00',
					'endtime','00:05:42.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>You have no favorite pattern? It just depends on the individual&mdash;?</p>
<p><div class="speaker">William Faulkner</div>That's right, that's right. It could be an anecdote. <em>The Sound and the Fury</em> came out of an anecdote, a
						picture of a&mdash;a little girl, the muddy seat of her drawers when she climbed
						the tree to look in a parlor window, and that's&mdash;the book came from that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:49.16:00',
					'endtime','00:07:12.76:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner</p>
<p><div class="speaker">William Faulkner</div>Sir.</p>
<p><div class="speaker">Unidentified participant</div>In <em>The Sound and the Fury</em>, the
						first three sections of that book are narrated by one of the&mdash;of the four Compson
						children, and in view of the fact that Caddy figures so prominently, is
						there any particular reason why you didn't have a section with&mdash;giving her
						views or impressions of what went on?</p>
<p><div class="speaker">William Faulkner</div>That's a good question. That&mdash;the explanation of that whole book is
						in that. It began with the&mdash;the picture of the&mdash;the little girl's muddy
						drawers, climbing that tree to look in the parlor window with her brothers
						that didn't have the courage to climb the tree waiting to see what she saw.
						and I tried first to tell it with one brother, and that wasn't enough. That
						was Section One. I tried with another brother, and that wasn't enough. That
						was Section Two. I tried the third brother, because Caddy was still to me
						too beautiful and too moving to&mdash;to reduce her to telling what was going on,
						that it would be more&mdash;more passionate to see her through somebody else's
						eyes, I thought.  And that failed, and I tried myself, the fourth section, to
						tell what happened, and I still failed. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						So&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:12.77:00',
					'endtime','00:07:38.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, when you wrote this, did you have it thought out
						beforehand, the whole sequences, or did they sort of evolve as you wrote
						it?</p>
<p><div class="speaker">William Faulkner</div>It evolved as I wrote it. It began with the picture, as I said,
						of&mdash;of the little girl climbing the tree to tell her brothers what was going
						on in the room where the grandmother's funeral was taking place, and the
						rest grew from that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:39.91:00',
					'endtime','00:08:12.48:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Speaking of Caddy, is there any way of getting her back from the
						clutches of the Nazis, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> where she ends up
						in&mdash;in the appendix?</p>
<p><div class="speaker">William Faulkner</div>I think that that would be a betrayal of Caddy, that it's best to
						leave her where she is. If she were resurrected, there'd be something a
						little shabby, a little anti-climatic about it, about this. Her tragedy, to
						me, is&mdash;is the best I could do with it. Unless, as I said, I could start over
						and write the book again, which I can't do.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:15.90:00',
					'endtime','00:10:46.67:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, since we still seem to be discussing <em>The Sound and the Fury</em>, I have a question. In Parts Three and
						Four of <em>The Sound and the Fury</em>, the presentation of
						character is usually clear and convincing. The reader can never forget the
						viciousness of Jason or the amiable simplicity of Luster or the selfishness
						of Caroline. The reader comes to know these people through watching them
						act. At the same time, I shall say for the sake of discussion that the
						action in these two parts occasionally seems contrived. For example, why
						does not Candice solve the problem of getting money to her daughter by
						depositing it in Quentin's name or by sending gifts to Quentin, gifts that
						Jason could not use. Yet the vivid character development and ideas in this
						novel depends upon the action as we have it. Does not this show one of the
						dilemmas of art? That is, the difficulty of showing, at the same time,
						realistic character and action, and since the one must be somewhat
						sacrificed to the other, is not the expression of an idea or the
						presentation of the character more important artistically than the writing
						of realistic actions?</p>
<p><div class="speaker">William Faulkner</div>I would say that the&mdash;the creation of a character is the most
						important of all. Is&mdash;that is what the&mdash;the writer's trying to do, that he&mdash;he
						would use style when&mdash;when he thinks style is the tool best. He will use
						misrepresentation when that's what he thinks will serve best. He will use
						some&mdash;some outrageous&mdash;what&mdash;what am I trying to
						think now? He&mdash;he will have&mdash;he's writing, talking about
						one primary truth which has nothing to do with fact, so he will outrage
						fact. He will outrage simplicity. If he can find no better way to&mdash;to tell,
						to show some passionate and moving facet of the human heart, which moved him
						so much that he couldn't let be what he had to write. Does that answer your
						question? </p>
<p><div class="speaker">Unidentified participant</div>Yes, sir.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:51.09:00',
					'endtime','00:11:53.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>I am interested in the&mdash;in the symbolism in <em>The Sound and
							the Fury</em>, and I wasn't able to figure out
						exactly the significance of the shadow symbol with Quentin. It's referred to
						over and over again. He steps into the shadow, his shadow is before him, his
						shadow is over him, after him, <span class="unclear tooltip" title="Text was unclear">[behind]</span>.  More importantly, what is the
						significance of this shadow?</p>
<p><div class="speaker">William Faulkner</div>That wasn't a deliberate symbolism. I would say that that&mdash;that 
						shadow that stayed on his mind so much was a&mdash;a foreknowledge of his own
						death, that he was&mdash;death is here, shall I step into it, or&mdash;or shall I step
						away from it a little longer? I won't escape it, but shall I accept it now,
						or shall I put it off until next Friday or&mdash;I think that was&mdash;if it had any
						reason that must have been it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:54.49:00',
					'endtime','00:12:49.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, on the subject of symbolism, two or three years ago
						Carl Sandburg was asked to interpret one of his works . He  that
						he didn't read the stuff, he just wrote it, all of which in view of the fact
						that too many people, particularly professors, go to this
						extreme on symbolism. Do you think most authors are conscious at the time
						they're doing symbols or using symbols, that&mdash;are they conscious of
						everything they <span class="unclear tooltip" title="Text was unclear">[bring]</span> into it, or is this just something
						a good artist automatically does without realizing it?</p>
<p><div class="speaker">William Faulkner</div>I don't think that he's conscious of it, unless as we said a moment
						ago, symbolism is some tool that he is using for lack of a better one.  But,
						no, he's&mdash;he's not conscious of it. The symbolism lots of times is read into
						it. Of course, he put it there, but he didn't know it was there until
						somebody told him about it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:55.73:00',
					'endtime','00:13:16.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Certainly something like "The Bear," you must've felt that the
						bear himself was&mdash;stood for something more than just a big bear, as&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, but he was such an obvious symbol. He represented the
						vanishing wilderness. He was an obvious symbol.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:16.95:00',
					'endtime','00:13:53.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, what sort of symbol was the snake? We discussed that in both
						"The Bear" and in "Red Leaves."</p>
<p><div class="speaker">William Faulkner</div>Oh, the snake is&mdash;is&mdash;is the old grandfather, the old fallen angel,
						the unregenerate immortal. The&mdash;the&mdash;the good and shining angel ain't very
						interesting, you know. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It's the <span class="unclear tooltip" title="Text was unclear">[dark]</span>
						proud one that's interesting.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:01.52:00',
					'endtime','00:14:52.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, what would you advise a person to read first of yours?</p>
<p><div class="speaker">William Faulkner</div>Well, that's not a fair question to ask me because I would&mdash;I would
						like anyone to try the one that I love the best, which is a poor one to
						start on. If you are asking me to give an objective answer, I would say
						maybe&mdash;maybe <em>The Unvanquished.</em></p>
<p><div class="speaker">Unidentified participant</div>Why would you select that one?</p>
<p><div class="speaker">William Faulkner</div>Because it's easy to read. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						Compared to the others, I mean.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:53.04:00',
					'endtime','00:14:59.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Would it be fair to ask you what is your favorite of your books?</p>
<p><div class="speaker">William Faulkner</div><em>The Sound and the Fury</em>, yes.</p>
<p><div class="speaker">Unidentified participant</div>Thank you.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:02.52:00',
					'endtime','00:16:45.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, I'd like to ask you about Quentin
							<span class="unclear tooltip" title="Text was unclear">[and]</span> his father. I think many readers get the
						impression that Quentin is the way he is to a large extent because of his
						father's lack of values or the fact that he doesn't seem to pass down to
						his son many values that will sustain him. Do you think that Quentin winds
						up the way he does primarily because of that, or are we meant to see, would
						you say, that the action comes primarily from what he is, just abetted by
						what he gets from his father?</p>
<p><div class="speaker">William Faulkner</div>The action as portrayed by Quentin was transmitted to him through
						his father. There was a&mdash;a basic failure before that. The grandfather had
						been a failed brigadier twice in the Civil War. It was the&mdash;the basic failure
						Quentin inherited through his father, or beyond his father. It was
						a&mdash;it's&mdash;something had happened somewhere between the first Compson and&mdash;and
						Quentin. The first Compson was a&mdash;a bold ruthless man who came into
						Mississippi as a free forester to&mdash;to grasp where and when
						he could and wanted to, and established what should have been a princely
						line, and that princely line decayed.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:51.75:00',
					'endtime','00:17:27.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, how do you feel about your books after they've gone to press? Do
						you reread them or do you feel that they're cast&mdash;cast in
							stone?</p>
<p><div class="speaker">William Faulkner</div>I didn't hear you.</p>
<p><div class="speaker">Unidentified participant</div>I said, how do you feel about your books after they've gone to press?
						Do you reread them and puzzle over them or do you ?</p>
<p><div class="speaker">William Faulkner</div>No, I don't because by that time I know the book was not as good as
						it should've been, and so I'm usually busy at another one. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Unidentified participant</div>As a general rule, you never re-read?</p>
<p><div class="speaker">William Faulkner</div>No, that's&mdash;that one book the writer don't have to read any more.
							<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:34.43:00',
					'endtime','00:19:28.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, what are some of the problems that a person who is trying to
						publish his first novel would run into? In other words, how may he to his&mdash;to his 
						best advantage to get his first work in publication?</p>
<p><div class="speaker">William Faulkner</div>It's difficult to say. I think that if the writer is too interested
						in getting that book printed to where that takes up that much of his time,
						that he's not really a first-rate writer.  Probably the first-rate writer is
						angry and mad, but&mdash;but only when he brings himself to think about that first
						book. He's&mdash;he's working on the second one by that time. He's still trying to
						tell that truth, which by&mdash;by then he knows he failed in the first one, so
						he's&mdash;he's not interested in&mdash;in that book anymore. He wants it printed, of
						course. The mechanics of it is simply to send it to a publisher and then
						forget about it and work on the next one, and when it comes back, send it to
						another publisher. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Forget about it until
						you know that there's something basically wrong in that book, something
						unprintable about it, and then put it away and write another one, and maybe
						after you have written another one, you will have learned more about the
						trade.  You can see what might've been mechanically wrong in the first one.
				 You can go back to that. I've done that once, but I don't think that you
						should worry too much about getting the stuff printed. The main thing is to
						write it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:30.10:00',
					'endtime','00:22:44.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, you are reported as having said that you rate writers according
						to what they have attempted rather than what they have achieved. It seems
						that Wolfe and Hemingway and yourself are primarily concerned with the
						conflicts that plague and disturb a man's soul. In&mdash;in what particular way would
						you say that Wolfe's attempt was greater than that of you or Hemingway?</p>
<p><div class="speaker">William Faulkner</div>In that&mdash;that he&mdash;he ventured more and tried harder to&mdash;to inscribe the
						whole history of man's heart on the head of a pin, say. That's&mdash;that's not
						clear. That's not exactly it. What I'm trying to say is that&mdash;that what any
						writer wants to be is not better than&mdash;than the&mdash;his&mdash;his friend Hemingway or
						his friend Dos Passos. He wants to be better than Cervantes or Dostoevsky,
						and so I rate my coevals as to how near they were to Cervantes or Dostoevsky
						in&mdash;only in relation to one another. That none of them, none of us, were quite
						as good as Cervantes or Dostoevsky, that we all fail, that there's
						no&mdash;there're no degrees of failure in&mdash;in art. It either is or it ain't.  And
						Wolfe, in my opinion, risked more. He tried harder to&mdash;to use the short span
						of&mdash;of one life to inscribe the history of the human heart on the head of the
						pin. That Hemingway found a method that he could do marvelously well and
						stayed in it. Wolfe didn't.</p>
<p><div class="speaker">Unidentified participant</div>By that method, do you mean his&mdash;his style of writing short works in a
						very pure, limited language?</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right. That was&mdash;was perfect but minor.  But there're no
						degrees of&mdash;of failure. No, the best is&mdash;is the best, and the best is&mdash;is to&mdash;to put
						inside the covers of a book the&mdash;the complete turmoil and experience and 
						insight of the human heart, which is what Cervantes did, what Dostoevsky
						did, but&mdash;but Hemingway and us, the five that I mentioned, we&mdash;we attempted
						that but none of us did it.  None of us failed worse&mdash;more than another, but
						the best failure was the one that tried the hardest, that was the bravest,
						that used the most courage, and that, in my opinion, was Wolfe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:44.70:00',
					'endtime','00:24:06.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, do you rate Hemingway any higher since the publication of his
						last book, <em>The Old Man and the Sea</em>?</p>
<p><div class="speaker">William Faulkner</div>Not in&mdash;by the&mdash;the formula I use. I think that the last book was&mdash;was
						his best, and now if we're talking of&mdash;of Hemingway, yes, that was his best,
						that&mdash;that he has steadily improved, and the last, in my opinion, was the
						best, and the next one should be still better, but it doesn't <span class="unclear tooltip" title="Text was unclear">[look]</span> 
						, but what he has done is enough for a man to&mdash;to die in peace with,
						but it's not enough for a man to say, "I have done what I wanted to do," because
						nobody can do quite that. Probably Dostoevsky and Cervantes felt
							that way. Marlowe felt that way, probably. That if you ever do
						write that perfect one, then you&mdash;you break the pencil and throw it away, and
						there's nothing else to do except cut your throat. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:06.66:00',
					'endtime','00:24:31.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, when you are reading for your own pleasure, which
							authors do you consistently return to?</p>
<p><div class="speaker">William Faulkner</div>The ones I came to love when I was eighteen, nineteen, twenty years
						old. <em>Moby-Dick</em>, the Old Testament, Shakespeare, a lot
						of Conrad, Dickens. I read <em>Don Quixote</em> every
						year.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:40.88:00',
					'endtime','00:25:52.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you speak of writing the&mdash;the one great book, but in your
						own works, you&mdash;you keep returning to this fictitious county you've made. You
						don't consider that a pageant, the&mdash;the whole work. <span class="unclear tooltip" title="Text was unclear">[It was]</span>
						from the Indians through the early settlers&mdash;?</p>
<p><div class="speaker">William Faulkner</div>No, it was not my intention to&mdash;to write a&mdash;a&mdash;a pageant of a&mdash;of a
						county. I simply was using the quickest tool to hand. I was using what I
						knew best, which was the locale where I was born and had lived most of my
						life. That was just like the carpenter building the fence, he uses the&mdash;the&mdash;the 
						nearest hammer.  It&mdash;only I didn't realize myself that I was creating a&mdash;a&mdash;a
						pageantry of a particular part of the earth. That just simplified things to
						me.</p>
<p><div class="speaker">Unidentified participant</div>Well, of course  could be more than just the <span class="unclear tooltip" title="Text was unclear">[development]</span> of
						a particular part of the earth&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, it could be, sure. That's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:57.40:00',
					'endtime','00:27:08.57:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, when for a time you left that area to go to France
						in <em>A Fable</em>, it must've appeared perhaps that it 
						was a different aspect to this fundamental truth.</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
<p><div class="speaker">Joseph Blotner</div>That you were&mdash;</p>
<p><div class="speaker">William Faulkner</div>But&mdash;but the same truth. It was still an attempt to tell that
						fundamental, single, moving truth that was&mdash;was so moving and so disturbing
						to me that I had to do something about it, and the only thing I knew to do
						about it was to try to put it down on paper, and I was just using the
						nearest and most available and simplest tool by leaving my apocryphal county
						for another milieu. I wasn't trying to write a war story
						nor trying to write another <em>War and Peace</em> nor to&mdash;to
						write <em>A Fable</em> even. I was simply using the quickest,
						the simplest tool to try to tell the same fundamental truth, which had 
						worried me for fifty years.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:09.26:00',
					'endtime','00:28:44.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>In "The Bear," Mr. Faulkner, many readers come across Part Four and&mdash;and 
						find it written in quite a different style than the other parts and the
						conclusion&mdash;well, it gets far ahead in years beyond Part Five. Was there any
						conscious plan in that?</p>
<p><div class="speaker">William Faulkner</div>Only this. "The Bear" was a part of a novel. That novel was&mdash;happened
						to be composed of&mdash;of more or less complete stories, but&mdash;but it was
						held together by&mdash;by one family, the&mdash;the Negro and&mdash;and the white phase of the
						same family, the same people. "The Bear"&mdash;</p>
<p><div class="speaker">Frederick Gwynn</div><span class="unclear tooltip" title="Text was unclear">[I mean]</span> <em>Go Down, Moses.</em></p>
<p><div class="speaker">William Faulkner</div>Yeah, "The Bear" was just a&mdash;just a part of that&mdash;of a novel.</p>
<p><div class="speaker">Frederick Gwynn</div>So that it was all right for Ike to think ahead or  to run up
						to his thirty-fifth year&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right, because the rest of the book was a part of his
						past, too. To have taken that story out, to print it alone, I have always
						removed that part, which I have done in one anthology.</p>
<p><div class="speaker">Frederick Gwynn</div>Yes, some of the textbooks do that.</p>
<p><div class="speaker">William Faulkner</div>As a&mdash;as a short story, a long short story, it has no part in it, but
						to me "The Bear" is part of the novel, just a chapter in the novel.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:52.79:00',
					'endtime','00:30:05.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>There's a world of difference between wanting to express yourself and
						actually applying the elbow grease <span class="unclear tooltip" title="Text was unclear">[to]</span> a first painful
						attempt, and I wonder what made you bridge this gulf, or what&mdash;do your
						remember what&mdash;when you first discovered your own compulsion to write?</p>
<p><div class="speaker">William Faulkner</div>I think when I was about twenty, twenty-one, twenty-two.</p>
<p><div class="speaker">Unidentified participant</div>I was wondering if there was an incident or&mdash;or if you always wanted
						to write?</p>
<p><div class="speaker">William Faulkner</div>I don't think so. I think that&mdash;that all the time this quality I
						speak of as&mdash;as the truth had been worrying me, trying to get out, and&mdash;and
						nobody likes to work, at least I don't like to work, and I&mdash;I reckon I put it
						off as long as I could, but it wouldn't be quiet and let me alone. I had to
						try to do something about it, which was to put it down.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:07.20:00',
					'endtime','00:31:08.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>In what period of development did you write that book of poems, <em>A Green Bough</em>?</p>
<p><div class="speaker">William Faulkner</div>That was written at the time when&mdash;when you write poetry, which is
						seventeen, eighteen, nineteen <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> When you&mdash;you
						write poetry just for the pleasure of&mdash;of writing poetry, and you don't think
						of printing it until later. It may be&mdash; I've often thought that&mdash;that I wrote
						the novels because I found I couldn't write the poetry, that maybe I wanted
						to be a poet. Maybe I think of myself as a poet, and I failed at that. I
						couldn't write poetry, so I did the next best thing.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.27">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:15.98:00',
					'endtime','00:32:24.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, in your speech at Stockholm you expressed great faith
						in mankind, that you thought man not only was here to prevail because he had
						the capacity for compassion and sacrifice and endurance. Do you think that's the
						impression the average reader would get after reading <em>The
							Sound and the Fury</em>?</p>
<p><div class="speaker">William Faulkner</div>I can't answer that because I don't know what the&mdash;what the average
						reader gets from&mdash;from reading the book. I&mdash;I agree that what I tried to say,
						I failed to say, and I never have had time to read reviews, so I don't know
						what impression people might get from the book. But&mdash;but, in my opinion, yes,
						that's what I was talking about in all of the books, but 
						I failed to say it. I agree with you, I did fail. But that's what I was
						trying to say, that man will prevail, will endure because he is capable of
						compassion and honor and pride and endurance.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.28">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:33.73:00',
					'endtime','00:32:59.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, why do you use violence so often in trying to arrive at this
						truth?</p>
<p><div class="speaker">William Faulkner</div>I'm sorry. I couldn't hear.</p>
<p><div class="speaker">Unidentified participant</div>Why do you use violence so often in your novels in trying to depict
						this truth?</p>
<p><div class="speaker">William Faulkner</div>Well, that's the&mdash;the carpenter that&mdash;that thinks that the ax is a
						better tool to use than a hammer. He could be wrong, but he's using what
						seemed to him the best tool to <span class="unclear tooltip" title="Text was unclear">[properly]</span> build what he wants to build.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.29">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:33:06.78:00',
					'endtime','00:34:03.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, Hawthorne seemed to have found trouble in creating good
						characters, whereas his more or less bad characters stand out as&mdash;as
							works of art. Do you think that is a problem with
						all writers, that it's harder to create a&mdash;a good character than a&mdash;than an evil
						one?</p>
<p><div class="speaker">William Faulkner</div>It's possible that that's inherent in human nature, not so much in
						the&mdash;in the character of writers but in&mdash;in human nature itself.  That it's
						easier to conceive of&mdash;of evil than of good, or to make&mdash;that evil is easier to
						make believable, credible than good.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.30">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:34:04.99:00',
					'endtime','00:35:19.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, when you say man will prevail, do you mean individual
						man has prevailed or group man <span class="unclear tooltip" title="Text was unclear">[has prevailed]</span>?</p>
<p><div class="speaker">William Faulkner</div>Man as a&mdash;a part of&mdash;of life.</p>
<p><div class="speaker">Unidentified participant</div>Well, but in Quentin, for instance, <span class="unclear tooltip" title="Text was unclear">[he]</span> seems to
						have the cards stacked against him and his 
						<span class="unclear tooltip" title="Text was unclear">[prevailing]</span>&mdash;it seems to be inherently impossible, and I
						wondered&mdash;</p>
<p><div class="speaker">William Faulkner</div>True, and his mother wasn't much good and he had an idiot brother,
						and yet in that whole family, there was Dilsey that held the whole thing
						together and would continue to hold the whole thing together for no reward,
						that the&mdash;the will of man to prevail will even take the&mdash;the&mdash;the nether channel
						of&mdash;of the black man, black race, before it will relinquish, succumb, or be
						defeated.</p>
<p><div class="speaker">Frederick Gwynn</div>As she says, "I've known God to use curioser tools than that."</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.31">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:35:20.03:00',
					'endtime','00:36:47.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Well, sir, if you&mdash;if you seem to have <span class="unclear tooltip" title="Text was unclear">[this belief 
							in]</span> in that  you say the ultimate goodness of man, that
						he will come through in spite of all. How&mdash;how do you explain sort of the mass
						brutality, the things we practice on each other, the horrible things that
						take place in the <span class="unclear tooltip" title="Text was unclear">[lines]</span> of religion or our
						politics?</p>
<p><div class="speaker">William Faulkner</div>I didn't say in the ultimate goodness of man, I said only that man
						will prevail and will&mdash;and&mdash;and in order to prevail he has got to improve. As
						to whether he will stay on the earth long enough to attain ultimate
						goodness, nobody knows. But he&mdash;he does improve, since the only alternative
						to progress is death. And we can see that little children don't have to work. 
						A&mdash;a merchant can't sell you poisoned food. They are minor improvements, but
						they are improvements. Nobody is hanged for stealing bread any more. People
						are not put in jail for debt. It's some improvement. It's not a great deal,
						I grant you, as matched against atomic bombs and things like that. But
						it's some improvement. Man improves.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.32">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:36:47.25:00',
					'endtime','00:37:11.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>You don't feel that mass manipulation by fanatics along ideological
						or political lines will negate all this?</p>
<p><div class="speaker">William Faulkner</div>No, I don't. That, to me, is part of the ferment of&mdash;of&mdash;man's
						immortality, that these people, the&mdash;the nuts, are necessary too. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.33">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:13.67:00',
					'endtime','00:37:43.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you think that man will prevail against destroying himself or
						 <span class="unclear tooltip" title="Text was unclear">[force of nature]</span>?</p>
<p><div class="speaker">William Faulkner</div>I think he will&mdash;he will prevail against his own self-destruction,
						yes.</p>
<p><div class="speaker">Unidentified participant</div>What about the forces of nature too&mdash;as part of your scheme too&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Well, unless the earth gets sick and tired of him like an old dog,
						and just scratches him off like the old dog does fleas, which&mdash;<span class="unclear tooltip" title="Text was unclear">[is not likely to happen]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.34">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:44:09:00',
					'endtime','00:38:06.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, what do you think is man's most important tool? Is it
						the mind or the heart as far as <span class="unclear tooltip" title="Text was unclear">[the human]</span> goes? Do we
						feel this or do we think <span class="unclear tooltip" title="Text was unclear">[think our way through it]</span>?</p>
<p><div class="speaker">William Faulkner</div>I don't have much confidence in the mind. I think that here is where
						it should be, that the mind lets you down sooner or later, but this
						doesn't.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.35">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:38:07.75:00',
					'endtime','00:39:10.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I've been very much interested in what it seems to me
						you did&mdash;maybe you didn't&mdash;in <em>The Sound and the Fury</em>,
						in the character of Caddy. To me she is a very sympathetic character and
						perhaps the most sympathetic white woman in the book, and yet we get
						pictures of her only through someone else's comments, and most of these
						comments are quite hostile and&mdash;and wouldn't lead you to
						admire her on the surface, and yet&mdash;and yet I do. Did you mean for us to have
						this feeling about Caddy, and if so, how did you go about reducing it by 
						these negative pictures that we get of her?</p>
<p><div class="speaker">William Faulkner</div>To me she was the&mdash;the beautiful one.  She was&mdash;she was my heart's
						darling. That's what I wrote the book about&mdash;</p>
<p><div class="speaker">Unidentified participant</div>Well that's what I &mdash;</p>
<p><div class="speaker">William Faulkner</div>And I used the&mdash;the tools which seemed to me the&mdash;the proper tools to
						try to tell&mdash;try to draw the picture of Caddy.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.36">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:39:19.65:00',
					'endtime','00:42:14.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Mr. Faulkner, we've got a poker player over here, Mr. Jordan, who's
						holding back on a question that I'm dying to hear the answer to.</p>
<p><div class="speaker">William Faulkner</div>Let's have it.</p>
<p><div class="speaker">Unidentified participant</div>Well, I was wondering in the short story "Was," why Mr. Hubert does
						not call Uncle Buddy. It seems to me that must be the point of the story,
						and yet no one can&mdash;could understand why he did not call him.</p>
<p><div class="speaker">William Faulkner</div>I'll have to look at that&mdash;that page again. I don't remember exactly
						the&mdash;</p>
<p><div class="speaker">Frederick Gwynn</div>He looks up and see that Tomey's Turl is dealing the cards.</p>
<p><div class="speaker">William Faulkner</div>Oh, Tomey's Turl wants to be free, and so Tomey's Turl has dealt the
						right card to the right one, and Mr. Hubert knows that.  As soon as he sees
						that Tomey's Turl was the one that dealt the cards, he knows that he's
						beat.</p>
<p><div class="speaker">Unidentified participant</div>But Tomey's Turl&mdash;Tomey's Turl stood to win either way, didn't he? I mean, he was
						the&mdash;</p>
<p><div class="speaker">William Faulkner</div>No, he was&mdash;I don't remember the story too well, but I don't think
						so. That&mdash;that Tomey's Turl had a stake in that game, too.  As I&mdash;I remember it,
						Hubert Beauchamp would have taken his brother&mdash;no, what are the names? I
						can't even remember the names.</p>
<p><div class="speaker">Frederick Gwynn</div><span class="unclear tooltip" title="Text was unclear">[The names were]</span> Buck and Buddy.</p>
<p><div class="speaker">William Faulkner</div>Yes, Buck would have taken Buddy out of the clutches of Miss&mdash;what's
						her name?</p>
<p><div class="speaker">Frederick Gwynn</div>Sophonsiba.</p>
<p><div class="speaker">William Faulkner</div>Sophonsiba, if he had won.  And if that had happened then he would
						have taken Tomey's Turl back with him away from Tomey's Turl's girl.  So
						if&mdash;if&mdash;if Buck lost, then Miss Sophonsiba would take Tomey's Turl's girl home
						with&mdash;with&mdash;with her.  So Tomey's Turl was playing for his sweetheart. Yes,
						that's what the story was, I think.</p>
<p><div class="speaker">Frederick Gwynn</div>Well, since Mr. Jordan knows that no self-respecting southern poker
						play is gonna miss a chance to call&mdash;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div><span class="unclear tooltip" title="Text was unclear">[Well, I'm glad that came up.]</span> I remember that&mdash;yes, I'm sure that it's, that
						Tomey's Turl had a stake, too, and when Buck saw that Tomey's Turl had dealt
						that last card, he knew that he was finished.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.37">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:42:14.50:00',
					'endtime','00:42:47.77:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>I have another question about "The Bear." In the final scene of "The
						Bear," Boon is sitting under the tree with the squirrels, doing something
						with his shotgun, and it's not clear to me whether he is taking his
						shot&mdash;destroying his shotgun or trying to put it back together.</p>
<p><div class="speaker">William Faulkner</div>It had jammed. He was trying to get a jammed shell out to make it
						fire, and he didn't want anybody else to shoot the squirrels. He was under
						the tree where the squirrels couldn't get out of it, and he didn't want
						anybody else to shoot the squirrels until he could get his gun fixed.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.38">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:42:50.45:00',
					'endtime','00:44:13:42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, did you conceive of "The Wild Palms" and "The Old Man"
						as a single story. I had&mdash;had an enormous amount of trouble trying to link
						the two stories together.</p>
<p><div class="speaker">William Faulkner</div>That was <em>tour de force</em>. I wrote the&mdash;the book just as you read it,
						chapter by chapter. The story I was telling was of the&mdash;of Charlotte and&mdash;and
						Harry Wilbur. I simply used the other story as a&mdash;as counterpoint, just as
						the musician would, to emphasize what I was telling about Harry and
						Charlotte.</p>
<p><div class="speaker">Unidentified participant</div>Well, "The Wild Palms" is so very interesting. I think the other is a
						bit of a struggle. I just <span class="unclear tooltip" title="Text was unclear">[wondered]</span>&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, you&mdash;you may be right. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						They&mdash;as I say, they all failed, and maybe it was a mistake to&mdash;to dovetail
						two of them together that way, but to me it seemed that&mdash;that it was necessary
						to&mdash;to counterpoint the story of Harry and Charlotte, which I did with&mdash;with
						the complete antithesis&mdash;the man that had a woman he didn't want and was
						going to infinite trouble, even as far as going to jail, to get rid of
						her.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.39">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:44:20:18:00',
					'endtime','00:45:23.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>May I ask a couple of questions about the early Indian stories, about
						"Red Leaves"? Did Doom, in your mind, did he wreck the steamboat and maybe
						kill this man David Callicoat, whose name he took? Did he have some notion
						of getting that steamboat eventually, which he finally had transported
						twelve miles inland?</p>
<p><div class="speaker">William Faulkner</div>No, the steamboat simply got too far up the river and stayed too
						long, and when the water fell in the late summer, it couldn't get out again,
						and so the owners of it just took the valuable machinery out and left the
						hull there, and Doom decided that would make a nice addition to his house,
						and so he had his people drag it out of the river across to the
						plantation.</p>
<p><div class="speaker">Frederick Gwynn</div>Did you ever hear of anyone's really ever doing that  ?</p>
<p><div class="speaker">William Faulkner</div><span class="unclear tooltip" title="Text was unclear">[No]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.40">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:45:23:18:00',
					'endtime','00:46:10.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Were these Chickasaws ever known to be cannibals? There's some
						mention of how human flesh may have tasted between two of them once.</p>
<p><div class="speaker">William Faulkner</div>No, there's&mdash;there's no record, but then it's&mdash;who's to say whether at
						some time one of them might not have tried what it tasted like? Quite often
						young boys will try things that they are&mdash;are horrified to remember later just to
						see what it was like, what the sensation was like. Maybe as children they
						may have found a dead man and cooked some of him to see what he tasted like.
						But they were not cannibals as far as I know.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.41">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:46:10.02:00',
					'endtime','00:46:41.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div><span class="unclear tooltip" title="Text was unclear">[Do they exist just in memory now&mdash;]</span>?</p>
<p><div class="speaker">William Faulkner</div>There are a few. There's a reservation, a remnant of&mdash;of Choctaws.
						The others, the Indians in my part of Mississippi have vanished into the two
						races, either the white race or the Negro race. You see traces of the
						features in the Negroes and a few of the old names in&mdash;in among white
						families, old white families.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.42">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:46:40.72:00',
					'endtime','00:47:02.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Is it <span class="unclear tooltip" title="Text was unclear">[a question, Mr. Faulkner, of if]</span> there were
						Indians at one time in this area?</p>
<p><div class="speaker">William Faulkner</div>Oh, yes. Yes, all the&mdash;the land records go back to&mdash;to the Indian
						patents, and our country's not very old. Our land records are only a hundred
						and fifty years old. That was frontier then.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.43">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:47:03.04:00',
					'endtime','00:48:25.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, I'm curious about the occasional changes in personality that
						some of your characters undergo between novels. For instance, Narcissa
						Benbow is fairly sympathetic in <em>Sartoris</em>, but by
							<span class="unclear tooltip" title="Text was unclear">[the time you write]</span>
						<em>Sanctuary</em> she's vicious. How do you account for
						this?</p>
<p><div class="speaker">William Faulkner</div>There again I am using the&mdash;the most available tool to tell what I'm
						trying to tell, and my idea is that&mdash;that no person is wholly good or wholly
						bad, that all people, in my belief, try to be better than they are and
						probably will be.  And that if&mdash;when I need for a tool, a particular quality
						in an individual, I think that quality is there. It can be taken out,
						and&mdash;and for the moment it leaves the individual in an&mdash;an unhappy light.  But in
						my opinion it hasn't destroyed nor really harmed that individual.</p>
<p><div class="speaker">Unidentified participant</div>In other words, sir, she hadn't developed between novels. You're
						merely taking a different look at her <span class="unclear tooltip" title="Text was unclear">[as]</span> the same
						person.</p>
<p><div class="speaker">William Faulkner</div>That's right.  That's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.44">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:27.55:00',
					'endtime','00:49:06.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, to what extent are you&mdash;were you trying to picture the South or
						southern civilization as a whole, rather than just Mississippi, or were
						you?</p>
<p><div class="speaker">William Faulkner</div>Not at all. I was trying to talk about people, using the only tool I
						knew, which was the country that I knew. No, I wasn't trying to&mdash;to&mdash;wasn't
						writing sociology at all. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I was just
						trying to write about people, which to me are the important . Just the
						human heart. It's not&mdash;not ideas. I don't know anything about ideas, don't
						have much confidence in them.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.45">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:49:21.02:00',
					'endtime','00:50:28.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>In "The Bear," Mr. Faulkner, once again, 
						the&mdash;the end of Part Three, Sam Fathers has died. Does he die in his own
						little cabin or does he ask Boon Hogganbeck and Ike to take him out and
						expose him on the four-cornered platform?</p>
<p><div class="speaker">William Faulkner</div>He knew that he was finished. He was tired of&mdash;of his life, and he&mdash;if
						he had been strong, he could have done the deed himself. He couldn't. He
						asked Boon to, and I think Book murdered him, because Sam told him to. It
						was the Greek gesture, which Sam himself was too weak to do. He was done,
						finished. He told Boon to do it.</p>
<p><div class="speaker">Frederick Gwynn</div>And Ike knows this, and he tells the others to let Boon alone?</p>
<p><div class="speaker">William Faulkner</div>Ike knows this. Yes, that's right. That's right.  That's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio01_1.46">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:50:34.15:00',
					'endtime','00:51:00.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Is there another pressing question to bring forth at this time? Well,
						thank you very much, Mr. Faulkner on this occasion. We know it's the first
						of a number, and we look forward to the repetition.</p>
<p><div class="speaker">William Faulkner</div>Good. Well, thank you all for being kind enough to listen and to
						come here hungry. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio01_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio01_1.2" class="hidden">That Evening Sun</a></li>
<li><a href="#wfaudio01_1.3" class="hidden">Finishing Sound and Fury</a></li>
<li><a href="#wfaudio01_1.4" class="hidden">Character vs Plot</a></li>
<li><a href="#wfaudio01_1.5" class="hidden">Caddy in the Tree</a></li>
<li><a href="#wfaudio01_1.6" class="hidden">Telling Caddy's Story</a></li>
<li><a href="#wfaudio01_1.7" class="hidden">Writing Sound and Fury</a></li>
<li><a href="#wfaudio01_1.8" class="hidden">Caddy and the Nazis</a></li>
<li><a href="#wfaudio01_1.9" class="hidden">Truth vs Fact</a></li>
<li><a href="#wfaudio01_1.10" class="hidden">Quentin and Shadows</a></li>
<li><a href="#wfaudio01_1.11" class="hidden">Using Symbols</a></li>
<li><a href="#wfaudio01_1.12" class="hidden">The Bear as Symbol</a></li>
<li><a href="#wfaudio01_1.13" class="hidden">The Snake as Symbol</a></li>
<li><a href="#wfaudio01_1.14" class="hidden">First Novel to Read</a></li>
<li><a href="#wfaudio01_1.15" class="hidden">His Favorite Book</a></li>
<li><a href="#wfaudio01_1.16" class="hidden">Quentin and His Father</a></li>
<li><a href="#wfaudio01_1.17" class="hidden">Re-reading His Books</a></li>
<li><a href="#wfaudio01_1.18" class="hidden">Getting Published</a></li>
<li><a href="#wfaudio01_1.19" class="hidden">Wolfe and Failure</a></li>
<li><a href="#wfaudio01_1.20" class="hidden">Hemingway's Old Man</a></li>
<li><a href="#wfaudio01_1.21" class="hidden">His Favorite Authors</a></li>
<li><a href="#wfaudio01_1.22" class="hidden">Yoknapatawpha as Saga</a></li>
<li><a href="#wfaudio01_1.23" class="hidden">A Fable</a></li>
<li><a href="#wfaudio01_1.24" class="hidden">The Bear, Part Four</a></li>
<li><a href="#wfaudio01_1.25" class="hidden">Becoming a Writer</a></li>
<li><a href="#wfaudio01_1.26" class="hidden">A Green Bough</a></li>
<li><a href="#wfaudio01_1.27" class="hidden">Mankind Will Prevail?</a></li>
<li><a href="#wfaudio01_1.28" class="hidden">Using Violence</a></li>
<li><a href="#wfaudio01_1.29" class="hidden">Good and Bad Characters</a></li>
<li><a href="#wfaudio01_1.30" class="hidden">Who Will Prevail?</a></li>
<li><a href="#wfaudio01_1.31" class="hidden">Does Man Progress?</a></li>
<li><a href="#wfaudio01_1.32" class="hidden">The Ferment of History</a></li>
<li><a href="#wfaudio01_1.33" class="hidden">Threats to Progress</a></li>
<li><a href="#wfaudio01_1.34" class="hidden">Head or Heart</a></li>
<li><a href="#wfaudio01_1.35" class="hidden">Sympathy for Caddy</a></li>
<li><a href="#wfaudio01_1.36" class="hidden">Poker Game in "Was"</a></li>
<li><a href="#wfaudio01_1.37" class="hidden">The Bear, Part Five</a></li>
<li><a href="#wfaudio01_1.38" class="hidden">Structure of Wild Palms</a></li>
<li><a href="#wfaudio01_1.39" class="hidden">Red Leaves</a></li>
<li><a href="#wfaudio01_1.40" class="hidden">Historical Chickasaws</a></li>
<li><a href="#wfaudio01_1.41" class="hidden">Vestiges of Chickasaws</a></li>
<li><a href="#wfaudio01_1.42" class="hidden">Frontier Yoknapatawpha</a></li>
<li><a href="#wfaudio01_1.43" class="hidden">Narcissa in Two Novels</a></li>
<li><a href="#wfaudio01_1.44" class="hidden">Picturing the South</a></li>
<li><a href="#wfaudio01_1.45" class="hidden">Sam Fathers' Death</a></li>
<li><a href="#wfaudio01_1.46" class="hidden">Close</a></li>
</ul></aside>
		
