
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio22_1_2clip.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 26 February 1958</h4>
<h4>OCCASION: Undergraduate Writing Class</h4>
<h4>This clip was created by splicing the end of T-141classbegins and the beginning of T-141b together.</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1_2.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1_2clip.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.10:00',
					'endtime','00:01:14.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, would you say that that's a major flaw in your old southern
                        families that you picture, like the Sartorises and the Compsons, that they keep back from 
                        mankind, and they act
                        only for themselves and therefore turn instead of out?</p>
<p><span class="speaker">William Faulkner</span>If you mean by that&mdash;that's true of any family, whether
                        they are southern or not. They cling to an obsolence, whatever that obsolence
                        might be, yes. And people have a tendency to&mdash;to remember what was
                        pleasant, and the unpleasant part of that vanishes as memory attenuates, so that
                        all you remember is the happy part of it, and the instinct is to go back to that
                        happy part. You don't always remember <span class="unclear tooltip" title="Text was unclear">[that]</span> if you went back
                        to the happy part, you'd have to go through with the&mdash;with the unhappy
                        part again, too. That's partly clinging to the happy past. It's partly a lack
                        of&mdash;of something present to occupy. Everybody, in a sense, needs a tub
                        of washing, and the people like the Sartorises and Compsons, they don't have a
                        tub of washing anymore.
                    </p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio22_1_2.1" class="hidden">Spliced clip</a></li></ul></aside>
        
