<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio05_2.1">Observation</a>
    </li>
    <li>
      <a href="#wfaudio05_2.2">Televising His Stories</a>
    </li>
    <li>
      <a href="#wfaudio05_2.3">Horses as Symbols</a>
    </li>
    <li>
      <a href="#wfaudio05_2.4">His Reading</a>
    </li>
    <li>
      <a href="#wfaudio05_2.5">Where to Start Reading</a>
    </li>
    <li>
      <a href="#wfaudio05_2.6">Finding Peace</a>
    </li>
    <li>
      <a href="#wfaudio05_2.7">Reading Shakespeare</a>
    </li>
    <li>
      <a href="#wfaudio05_2.8">Doing the Work</a>
    </li>
    <li>
      <a href="#wfaudio05_2.9">Destroying the Wilderness</a>
    </li>
    <li>
      <a href="#wfaudio05_2.10">"Death Drag"</a>
    </li>
    <li>
      <a href="#wfaudio05_2.11">Dates in Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio05_2.12">Dostoevsky</a>
    </li>
    <li>
      <a href="#wfaudio05_2.13">Tomey's Turl's Advice</a>
    </li>
    <li>
      <a href="#wfaudio05_2.14">Dramatizing Requiem</a>
    </li>
    <li>
      <a href="#wfaudio05_2.15">Best Modern Writer</a>
    </li>
    <li>
      <a href="#wfaudio05_2.16">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio05_2.1"/>
  <p> Then he will need observation. He uses that, but I don't believe
          that&#x2014;that he&#x2014;he himself knows or has time to know just how much of
            which was where and when.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.4"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.7"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.9"/>
  <p>Yes, sir&#x2014;oh, yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.14"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_2.16"/>
  <p>Thank you very much, Mr. Faulkner.  </p>
</div>
