<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio24_2.1">Ratliff [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio24_2.2">Old Bayard's Wen</a>
    </li>
    <li>
      <a href="#wfaudio24_2.3">Old Bayard's Life</a>
    </li>
    <li>
      <a href="#wfaudio24_2.4">The McCaslins</a>
    </li>
    <li>
      <a href="#wfaudio24_2.5">Col's Falkner and Sartoris</a>
    </li>
    <li>
      <a href="#wfaudio24_2.6">Benbow Sartoris</a>
    </li>
    <li>
      <a href="#wfaudio24_2.7">Aunt Jenny</a>
    </li>
    <li>
      <a href="#wfaudio24_2.8">Bayard's Choice</a>
    </li>
    <li>
      <a href="#wfaudio24_2.9">Colonel Sartoris</a>
    </li>
    <li>
      <a href="#wfaudio24_2.10">Drusilla</a>
    </li>
    <li>
      <a href="#wfaudio24_2.11">Drusilla and Bayard</a>
    </li>
    <li>
      <a href="#wfaudio24_2.12">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio24_2.1"/>
  <p> he was, in his own lights, quite successful. That is, he wanted
                    no more than he knew within his capacity he would have, that he was going to
                    enjoy what he saw and heard and was going to live a long time in peace because
                    he had accepted, coped with environment, without trying to manipulate 
                    environment for his own aggrandizement as Snopes did.
                    </p>
</div>
<div class="section">
  <a name="wfaudio24_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.6"/>
  <p>Sir, I wonder what&#x2014;if you intended to&#x2014;to make us think was the
                    future of the&#x2014;the young&#x2014;young baby, John Sartoris, would
                    be. I know&#x2014;or whether it's just I read between the lines,
                        but I remember that Aunt Jenny said that when old Simon
                    died, that he was the last of the real Sartorises, and then again, Narcissa said
                    that&#x2014;when she wanted to change the name, Aunt Jenny said, "Well, you'd
                    better not. He'll turn out to be one anyway." So, is there any prediction that
                    you would make that he would turn out to be just like&#x2014;as&#x2014;as
                    violent as all the rest or whether he would turn out to be a new generation?</p>
</div>
<div class="section">
  <a name="wfaudio24_2.7"/>
  <p>Mr. Faulkner, toward the end of "An Odor of Verbena," she says to Bayard,
                    "Damn you Sartorises," even though she seems to approve of his not going out and
                    getting revenge. Is it some quality of heartlessness that she feels even in an
                    act that she approves of?</p>
</div>
<div class="section">
  <a name="wfaudio24_2.8"/>
  <p>In that&#x2014;that final section of The
                        Unvanquished, are you developing a notion of a changing and developing
                    tradition, and that Bayard doesn't reject the whole tradition. He keeps the
                        honor and the courage, but he rejects the&#x2014;part of the old tradition, and
                    that&#x2014;that is the vendetta. And I wondered if you&#x2014;that if the
                    sprig of verbena represented the old mechanical, unchanging tradition that he
                    was building from and rejecting partly but not altogether. I noticed that you
                    present that sprig of verbena as having the petals stamped out as
                    if&#x2014;as if by a machine. I wondered if&#x2014;if you&#x2014;in
                    your mind, that meant that this was the&#x2014;the mechanical, unchanging
                    tradition, that he was rejecting partly, what he was growing away from, but still
                    keeping the&#x2014;the honor and the courage.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.10"/>
  <p>Mr. Faulkner, were there many girls in the war who went off like
                    Drusilla, rode astride and went with the troops?</p>
</div>
<div class="section">
  <a name="wfaudio24_2.11"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_2.12"/>
  <p>Mr. Faulkner, let me thank you on behalf of the class and the visitors.</p>
</div>
