
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 20 May 1957</h4>
<h4>OCCASION: Freshman English Class</h4>
<h4>TAPE: T-132</h4>
<h4>LENGTH: 32:08</h4>
<h4>READING: From "Old Man"</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio16_1.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:02.32:00',
					'endtime','00:01:08.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator</div>
					has consented to come and talk to us about "The Old Man." We've been talking
					about "The Old Man" for the last week and been discussing it&mdash;its structure and
					its meaning and its techniques&mdash;in isolation, unconnected with the work with
					which it was originally published in alternating chapters, <em>The
						Wild Palms</em>. Our questions to Mr. Faulkner will be completely
					unrehearsed and unscreened, according to your desire, and I think this is the
					first time that you've talked to a freshman class, and so it will be interesting
					to observe what emerges. Mr. Faulkner has consented to begin the meeting by
						reading the end of "The Old Man." Mr. Faulkner.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:18.52:00',
					'endtime','00:02:24.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					That was all, the convict told them. They left the
						sawmill fast, he had no time to buy food until they reached the next&mdash;next
						landing. There he spent the whole sixteen dollars he had earned and they
						went on. The River was lower now, there was no doubt of it, and sixteen
						dollars' worth looked like a lot of food and he thought maybe it would do,
						would be enough. But maybe there was more current in the River still than it
						looked like. But this time it was Mississippi, it was cotton; the plow
						handles felt right to his palms again, the strain and squat of the thick 
						buttocks against the middle buster's blade was what he knew, even though
						they paid but a dollar a day here. But that did it. He told it: they told
						him it was Saturday again and paid him and he told about it&mdash;night, a smoked
						lantern in a disc of worn and barren earth as smooth as silver, a circle of
						crouching figures, the importunate murmurs and ejaculations, the meagre
						piles of worn bills beneath the crouching knees, the dotted cubes clicking
						and scuttering in the dust; that did it. "How much did you win?" the second
						convict said. "Enough," the tall one said. 
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:24.29:00',
					'endtime','00:03:11.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"How much?"
							"Enough," the tall one said. It was
						enough exactly; he gave it all to the man who owned the second motor boat
						(he would not need food now), he and the woman in the launch now and the
						skiff towing behind it, the woman with the baby and the paper-wrapped parcel
						beneath his peaceful hand, on his lap; almost at once he recognised, not
						Vicksburg because he had never seen Vicksburg, but the trestle beneath which
						on his roaring wave of trees and houses and dead animals he had shot,
						accompanied by thunder and lightning, a month and three weeks ago; he looked
						at it once without heat, even without interest as the launch went on. But
						now he began to watch the bank, the levee. He didn't know how he would know
						but he knew he would, and then it was early afternoon and sure enough the
						moment came and he said to the launch owner: "I reckon this will do."
					
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:11.11:00',
					'endtime','00:04:15.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					 "Here?" the launch owner said. "This dont look like
						anywhere to me."
						"I reckon this is it," the convict said. So the launch put
						inshore, the engine ceased, it drifted up and lay against the levee and the
						owner cast the skiff loose.
						"You better let me take you on until we come to
						something," he said. "That was what I promised."
						"I reckon this will do,"
						the convict said. So they got out and he stood with the grapevine painter in
						his hand while the launch purred again and drew away, already curving; he
						did not watch it. He laid the bundle down and made the painter fast to a
						willow root and picked up the bundle and turned. He said no word, he mounted
						the levee, passing the mark, the tide-line of the old raging, dry now and
						lined, traversed by shallow and empty cracks like foolish and deprecatory
						senile grins, and entered a willow clump and removed the overalls and shirt
						they had given him in New Orleans and dropped them without even looking to
						see where they fell and opened the parcel and took out the other, the known,
						the desired, faded a little, stained and worn, but clean, recognisable, and
						put them on and returned to the skiff and took up the paddle. The woman was
						already in it. 
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:15.12:00',
					'endtime','00:06:57.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					The plump convict stood blinking at him. "So you come
						back," he said. "Well well." Now they all watched the tall convict as he bit
						the end from the cigar neatly and with complete deliberation and spat it out
						and licked the bite smooth and damp and took a match from his pocket and
						examined the match for a moment as though to be sure it was a good one,
						worthy of the cigar perhaps, and raked it up his thigh with the same
						deliberation&mdash;a motion almost too slow to set fire to it, it would seem&mdash;and
						held it until the flame burned clear and free of sulphur, then he put it to the
						cigar. The plump one watched him, blinking rapidly and steadily. "And they
						give you ten years more for running. That's bad. A fellow can get used to
						what they give him at first, to start off with, I dont care how much it is,
						even a hundred and ninety-nine years. But ten more years. Ten years more, on
						top of that. When you never expected it. Ten more years to have to do
						without no society, no female companionship&mdash;" He blinked steadily at the
						tall convict. But he (the tall convict) had thought of that too. He had had
						a sweetheart. That is, he had gone to church singings and picnics with her&mdash;a
						girl a year or so younger than he, short-legged, with ripe breasts and a
						heavy mouth and dull eyes like ripe muscadines, who owned a baking-powder
						can almost full of ear-rings and brooches and rings bought (or presented at
						suggestion) from ten-cent stores. Presently he had divulged his plan to her,
						and there were times later when, musing, the thought occurred to him that
						perhaps if it had not been for her he would not actually have attempted 
						it&mdash;this a mere feeling, unworded, since he could not have phrased this either:
						that who to know what Capone's uncandled bridehood she might not have
						dreamed to be her destined fate, what fast car filled with authentic
						colored glass and machine guns, running traffic lights. But that was all
						past and done when the notion first occurred to him, and in the third month
						of his incarceration she came to see him. She wore ear-rings and a bracelet
						or so which he had never seen before and it never became quite clear how she
						had got that far from home, and she cried violently for the first three
						minutes though presently (and without his ever knowing either exactly how
						they had got separated or how she had made the acquaintance) he saw her in
						animated conversation with one of the guards. But she kissed him before she
						left that evening and said she would return the first chance she got,
						clinging to him, sweating a little, smelling of scent and soft young female
						flesh, slightly pneumatic. But she didn't come back though he continued to
						write to her, and seven months later he got an answer. It was a postcard, a
						colored lithograph of a Birmingham hotel, with a childish X inked heavily across
						one window, the heavy writing on the reverse slanted and primer-like too:
							<em>This is where were honnymonning at. Your friend (Mrs)
							Vernon Waldrip</em>
					
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:57.00:00',
					'endtime','00:07:26.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					 The plump convict stood blinking at the tall one,
						rapidly and steadily. "Yes, sir," he said. "It's them ten more years that
						hurt. Ten more years to do without a woman, no woman a tall a fellow wants&mdash;"
						He blinked steadily and rapidly, watching the tall one. The other did not
						move, jackknifed backward between the two bunks, grave and clean, the cigar
						burning smoothly and richly in his clean steady hand, the smoke wreathing
						upward across his face saturnine, humorless, and calm. "Ten more years&mdash;"
						"Women 'blank'!" the tall convict said.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:40.12:00',
					'endtime','00:08:27.91:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Was there something that influenced
					you to write this story?</p>
<p><div class="speaker">William Faulkner</div>Yes, the story I was trying to
					tell was the story of&mdash;of&mdash;of Charlotte and Harry Wilbourne. I decided that it
					needed a&mdash;a contrapuntal quality like music, and so I wrote the other story
					simply to underline the story of Charlotte and Harry. I wrote the&mdash;the two
					stories by alternate chapters. I'd write the chapter of one and then I would
					write the chapter of the other just as the musician puts in&mdash;puts counterpoint
					behind the theme that he is working with. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:27.52:00',
					'endtime','00:08:53.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Well, why don't, in this story, none of the characters have names?</p>
<p><div class="speaker">William Faulkner</div>To me, the story was simply for
					background effect, and&mdash;and they didn't need names. They just needed to be people
					in motion doing the exact opposite thing to the tragedy of&mdash;of Harry and
					Charlotte in the other story. To me they didn't need names&mdash;that they were not
					too important. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:54.59:00',
					'endtime','00:09:31.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, I noticed that you do have some names, though, in your story. Some
					names are mentioned, such as Bledsoe, the&mdash;the convict. Do you&mdash;do you have them in for any
					reason?</p>
<p><div class="speaker">William Faulkner</div>Well, the&mdash;the girl that jilted
					him, she had to have a name to sign to the postcard. The other people, if&mdash;I
					don't remember the rest of the story because I haven't read it in about thirty
					years, but when they had names it was for that&mdash;that reason, as simple as that.
					At&mdash;at the moment they had to have a name. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:31.54:00',
					'endtime','00:10:48.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Well, in the swamp, three of the men who lived in the swamp <span class="unclear tooltip" title="Text was unclear">[you did give]</span>
					names&mdash;Tine and Toto and Theule, and I wonder if those names had any type of
					significance or were supposed to be any type of literary allusion. They're
					rather colorful names, I think.</p>
<p><div class="speaker">William Faulkner</div>No, I don't think so. They were&mdash;were names, you might say, indigenous to
					that almost unhuman class of people which live between the Mississippi River and
					the levee. They belong to no state. They belong to no nation. They&mdash;they are not
					citizens of anything, and sometimes they behave like they don't even belong to
					the human race.</p>
<p><div class="speaker">Unidentified participant</div>So, you have had experiences with these people?</p>
<p><div class="speaker">William Faulkner</div>Yes. Yes, I remember once I was
					going&mdash;one of them was going to take me hunting. He invited me to come and stay
					with his kinfolks, whatever kin they were I never did know&mdash;a shanty boat in the
					river, and I remember the next morning for breakfast we had a&mdash;a bought chocolate
					cake and a cold possum and corn whiskey. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> They
					had given me the best they had. I was company. They had&mdash;had given me the best
					food they had. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:48.13:00',
					'endtime','00:12:04.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>If I may ask a question pursuing
					this idea. I believe that earlier in your life that you did quite a bit of
					traveling and had a lot of experiences as an apprentice seaman, I believe, and
					flying. Do you think that&mdash;to any author or even more generally, to anyone who
					wants to formulate ideas about life and all, do you think that this is very
						valuable while younger to travel around and not be fixed down, or&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Well, it&mdash;it don't do you any harm,
					but it's&mdash;you don't have to do it. Homer probably didn't do a great deal of
					traveling, and he did pretty well as a writer. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					I&mdash;that is, the&mdash;the material you write from has got to be a good deal more than
					just what you can see and remember. It's&mdash;it's got to be observation, experience
					which&mdash;and part of experience is what you read&mdash;plus imagination. So the
					observation&mdash;don't hurt you. You may need it, but you can get along without it if
					you have to with the imagination and experience.  I think the best source to learn
					to be a writer is from reading, what the&mdash;the best, the giants of&mdash;of the past
					have done. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:05.29:00',
					'endtime','00:13:09.51:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, did the tall convict in "The Old Man" believe in God?</p>
<p><div class="speaker">William Faulkner</div>He probably hadn't got around to
					that yet. His background would be the&mdash;the bucolic, provincial Southern Baptist,
					and it may be a&mdash;a debatable question whether that sort of Baptist believes in
					God or not, but&mdash; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>  Probably when he got older and
					got out of the penitentiary, if he ever did, and he didn't need to expend too
					much energy trying to have fun any more, he might have taken up religion, might
					have been a&mdash;a professor of, God whether he believed it or not or even know what
					God was. But at this time he would&mdash;would have said he did, and if anyone had
					told him he didn't, he would have fought him, but he probably didn't know what
					God meant.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:09.52:00',
					'endtime','00:13:53.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>It seems to me in reading the book
					that he was depending a lot on fate to lead his life&mdash;that he would be led by
						fate <span class="unclear tooltip" title="Text was unclear">[as much as religion]</span>.</p>
<p><div class="speaker">William Faulkner</div>Well, he depended more on
					himself, that to him fate was&mdash;was just his bad luck, the sort of thing that
					shouldn't happen to a dog. But he depended on himself, that he&mdash;he knew what he
					wanted, which was&mdash;was to be secure, to be back in that penitentiary. That's
					where he was secure because he didn't mind hard work. He didn't know anything
					else. And suddenly he was flung out into the world with another woman, and all
					he wanted was to get rid of that woman and get back there where he was safe. But
					he didn't depend&mdash;he was doing the best he could. He depended on his own
					efforts.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:53.02:00',
					'endtime','00:14:59.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Well, when he got back, sir, did
					he share this view with the others that it was ten years without women&mdash;I mean,
					do you think he minded this?</p>
<p><div class="speaker">William Faulkner</div>No, no. He had had enough of
					women. After that&mdash;that girl had jilted him&mdash;she was the one that&mdash;that put him
					there. It was to get a lot of money to buy her a lot more of the Woolworth
					bracelets and rings. If it hadn't been for her, he wouldn't have been there. He
					would have been back at his Mississippi hill home working hard all day long and
					drinking a little corn whiskey on Saturday nights and gambling. 
					Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, I'm interested in your saying that. <span class="unclear tooltip" title="Text was unclear">[I'd taken it that he <span class="unclear tooltip" title="Text was unclear">[had robbed 
					the train more for the adventure and to be able to say that he had evaded]</span>
						the authorities, rather than for the money.]</span></p>
<p><div class="speaker">William Faulkner</div>No. He wanted to please that
					girl. He didn't need a lot of money. He was doing all right with his mule, his
					little piece of corn land, but suddenly he ran into a girl that wanted a lot of
					Woolworth rings, and so he had to turn robber to get those rings. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:59.32:00',
					'endtime','00:17:05.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Well, is this <span class="unclear tooltip" title="Text was unclear">[inability]</span> or desire not to face women also <span class="unclear tooltip" title="Text was unclear">[the kind
						of thing]</span> that the plump convict wound up in this
					penitentiary&mdash;because he didn't want to face the raging woman with whom he had
					committed this crime? Did&mdash;do you mean this also to be his&mdash;his desire not to face
					life in  to face reality or the return to the womb? You mentioned, too&mdash;you
					spoke of Christmas as being chained by a&mdash;a "clanking umbilical" and we talked
					about this in this&mdash;in my class, his jackknife position and the whole idea of
					escaping from life&mdash;do&mdash;does the woman here, especially the pregnant woman, represent
					life in this sense?</p>
<p><div class="speaker">William Faulkner</div>Not to the convict. That is, not
					consciously. He&mdash;all he wanted to escape from was insecurity. He&mdash;anyone that
					could be taken over the jumps by the sort of girl that was&mdash;that&mdash;that got him
					into undertaking to be a&mdash;a bank robber couldn't have been very mature mentally.
					That convict was probably still about fifteen or sixteen years old. And like a
					boy of&mdash;of fifteen or sixteen, the&mdash;the first shock of&mdash;of disappointment in love, he
					thinks is going to last forever. Of course, it don't, but that's what he
					thinks, and the convict never had grown up yet. 
					Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Don't you think the seven weeks of  <span class="unclear tooltip" title="Text was unclear">[there]</span>, the
					seven years he lost ?</p>
<p><div class="speaker">William Faulkner</div>Well, now that's the sort of
					thing that if any reader likes to find that in the writer's work, he is, as far
					as the writer is concerned, perfectly welcome to find it, but the writer ain't
					got time to&mdash;to watch all those&mdash;all those corners and&mdash;and symbols and
					implications, so it's very possible you're right, but&mdash;but I&mdash;I never thought of
					that before. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:05.09:00',
					'endtime','00:17:36.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Do you think that if the convict had not been given the extra ten
					years&mdash;do you think he would have returned to the security of prison or to the
					security of his home?</p>
<p><div class="speaker">William Faulkner</div>Well, that extra ten years meant
					nothing to him because he was&mdash;was mentally about sixteen or seventeen years old,
					and anything&mdash;any sum of time longer than one year is all the same to you when
					you're fifteen or sixteen years old&mdash;that in another year, and you'll be an old
					man anyway, and so what's ten years more or a hundred years to him? </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:40.48:00',
					'endtime','00:18:53.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Getting back to this security or insecurity, do you think that enough
					background was given of the tall convict before he was in&mdash;in the penitentiary,
					before he was sentenced&mdash;to&mdash;to leave him feel insecure&mdash;do you think that he first
					became insecure when he was in the penitentiary for so long a time being
					out of it, of&mdash;of being insecure?</p>
<p><div class="speaker">William Faulkner</div>No, I would that the insecurity
					came to him with a shock when that woman betrayed him, and he was frightened, and
					he wanted to&mdash;to be where no other woman could catch him off balance and
					take him over the jumps again. And the place where he was safe from that was in
					that penitentiary, which wasn't so different from the life he would have led if
					he'd been home. He would have had to work very hard all day long at home. He
					would have had very little for it, which was just what he got there, but at
					least behind that barbed wire fence he was safe from another woman that would
					get him into the&mdash;the highwayman business.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:53.81:00',
					'endtime','00:19:27.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you think he would have stayed
						on the&mdash;the island with the Cajuns if&mdash;hadn't they had to leave?</p>
<p><div class="speaker">William Faulkner</div>No, no. He had to get rid of
					that woman, and the only way he knew to get rid of her was to bring her back to
					the folks that sent him to get her. Remember, he's&mdash;mentally only about fifteen
					or sixteen years old, and by his own lights, he's quite honorable and
					dependable. They had sent him out with a boat to get two people, and he did the
					best he could to get the two people and bring them and the boat back. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:27.25:00',
					'endtime','00:20:56.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Well, why&mdash;I know that you said that the woman was almost exactly like him&mdash;I
					mean the same type of background and everything, and also the woman must have
					realized that he was trying to get her back, but don't you&mdash;was the woman also
					in this immature state that she didn't realize that she could get back more
					quickly when they were in this armory, which is where they had all these other
					people, she was glad to leave with him, and when&mdash;when she was just about ready to
					have her child, and she&mdash;she made, as I recall, no&mdash;no cry to the people in this
					houseboat to let her come aboard. She was content almost, it seems like, to just
					stick with him. Why is this? I mean, why didn't she try to better herself?</p>
<p><div class="speaker">William Faulkner</div>She didn't know how. She was as
					ignorant as he was. She came from the same class of people that he came from.
					She was ignorant. She was&mdash;she was afraid of strangers. Of course, the convict
					was a stranger to her, too, but they had been hurled together by a circumstance,
					and it probably didn't take her very long to find out that all that convict
					wanted was to get her back where he got her from and get rid of her, and that's
					what she wanted, too&mdash;to get back and find her husband. She probably had a
					husband. She may have had other children, and she wanted to get back just as bad
					as he did, and since he&mdash;he was the man, her instinct was to let the man run
					things. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:56.42:00',
					'endtime','00:21:59.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Did you mean to show <span class="unclear tooltip" title="Text was unclear">[any]</span> miscarriage of justice by
					having the additional ten years, or rather just to show that although it seemed
					like injustice, that the jail warden was doing <span class="unclear tooltip" title="Text was unclear">[exactly]</span> what
					should have been done anyway <span class="unclear tooltip" title="Text was unclear">[just]</span> because of his knowledge of
					the people under his care?</p>
<p><div class="speaker">William Faulkner</div>That additional ten years
					was&mdash;was simply another quantity in&mdash;in fate, just like the flood that he ran
					into. Once he was in it, he had to accept the&mdash;the extra ten years, just as he
					accepted the flood and worked through it and survived it. There was no&mdash;no more
					injustice than there was to the flood. It was just something that was in the&mdash;the
					culture, the economy of&mdash;of the land he lived in, just like that flood was
					inherent in the&mdash;in the geography and the climate, and he was a man that&mdash;that
					said, Well, if this is what it is, I'll do the best I can to tough through it.
					That would have been his philosophy. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:59.28:00',
					'endtime','00:22:41.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>So when you set out to start a novel such as this, do you have a
					complete story in mind or is it just a thought that you build upon as you go
					along?</p>
<p><div class="speaker">William Faulkner</div>You remember this was a 
					counterpoint to the other story. This to me wasn't too important, that these
					were just the&mdash;the&mdash;the orchestration of sounds that the musician puts back of the
					theme of his symphony. That I didn't know where this story was going&mdash;I
					just wrote it. I was as surprised as anybody else to find where it was going,
					but the story that I was trying to tell was the story of&mdash;of Charlotte and
					Harry.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:41.04:00',
					'endtime','00:23:21.48:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>And when you reached the point
					where he met the woman, what was your purpose of having a pregnant woman?</p>
<p><div class="speaker">William Faulkner</div>It&mdash;I thought that made it
					funnier. To me all this is funny. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> A
					little&mdash;little more comical to show this man who meant well, to&mdash;to get involved
					in&mdash;in all sorts of things that would have made a&mdash;a weaker or less centered man
					blench and falter, but not him. It was because he was just stupid and ignorant
					enough to&mdash;to bull right on through this, to accept anything the gods threw at
					him without even knowing that he was being tried. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:21.46:00',
					'endtime','00:25:10.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Well, if this is primarily funny, and I do
						think that there's humor all through it, why do you put the humor
					in where you do, for example, the woman&mdash;I don't recall the remark&mdash;but she's just
					about ready to have her child, and you say something about hold on a little
					longer. It's an impossible thing. And then he's been kicked by a&mdash;kicked by the
					tail of the alligator, and she asks him if he's been kicked, and he says, no,
					that <span class="unclear tooltip" title="Text was unclear">[if]</span> he'd got hit in the rear end with a pea shooter. 
						<span class="unclear tooltip" title="Text was unclear">[It would make]</span>&mdash;there's humor all the way through, and then
					even at the end, do you still want the message of&mdash;this
						seeming injustice of society against him to come through or is
					that secondary?</p>
<p><div class="speaker">William Faulkner</div>Well, it's&mdash;secondary is not
					really wrong because it was&mdash;the injustice was necessary to make the story funny,
					and so it's not secondary because it was&mdash;was quite important, to make the story
					funny. It's&mdash;it's a fact, and if one begins to write about the injustice of
					society, then one has stopped being primarily a novelist and has become a
					polemicist or a propagandist. The fiction writer is not that. He will use the
					injustice of society, the inhumanity of people, as a&mdash;as any other tool in
					telling the story, which&mdash;which is about people, not about the injustice or the
					inhumanity of people, but of people, with their aspirations and their struggles
					and the&mdash;the bizarre, the&mdash;the comic, and the tragic conditions they get them
					in&mdash;themselves into simply coping with themselves and one another and
					environment. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:12.90:00',
					'endtime','00:25:49.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I think you must have put a great deal of time behind
					choosing the title of "The Old Man." I know you took it from the river, but I
					wonder what else you had in mind. Possibly does the river symbolize any other
					things or maybe nature or something else?</p>
<p><div class="speaker">William Faulkner</div>No. It's&mdash;it's not "The Old Man,"
					it's "Old Man." That's what the&mdash;the Negroes along the river call the river. They
					never call it the Mississippi nor the river. It's just Old Man. And this had to
					have some title and so that struck me as being a good title for it. That refers
					simply to the river.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:51.94:00',
					'endtime','00:26:15.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Did the tall convict have any
					subconscious attitudes toward <span class="unclear tooltip" title="Text was unclear">[the Mississippi]</span>?</p>
<p><div class="speaker">William Faulkner</div>No, he'd never seen it before.
					It was just a lot of water to him not behaving like any water he ever saw before
					behave, but it was&mdash;that was just something that&mdash;that you ran into and you had to
					handle it the best you could. He never did know where he was and didn't really
					care.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:15.35:00',
					'endtime','00:28:36.73:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>In the book, you had elaborated to
					some extent on the fact that the Old&mdash;the Old Man was fruitful and life-giving
					and such, and what it was to farmers and just to the people who lived along the
					Mississippi, and to&mdash;to that area. It&mdash;it was fruitful and not a destructive
					force.</p>
<p><div class="speaker">William Faulkner</div>Well, the destructive quantity 
					had to be accepted, too. That country where this took place was&mdash;is alluvial.
					It's lower than the river itself. In the winter, it stayed under water from&mdash;from
					the fall rains sometimes as late as June. That was why they had to build the
					levees, and so in the&mdash;the spring and the summer, the river is higher than the
					land. There's a levee, and then you look up in the sky and there goes a
					steamboat. If the levee ever gives way, the country will be flooded again. It's
					rich because the&mdash;the river for&mdash;for hundreds of years had deposited the rich silt
					on top of the ground.  And so the&mdash;the river dominates not only the economy of
					that country, but it&mdash;it dominates its&mdash;its spiritual life. That the river is&mdash;is
					master <span class="unclear tooltip" title="Text was unclear">[of it]</span>, and any time the Old Man wants to he can&mdash;can
					break the levee and can ruin the cotton crop. That, in a way, you're&mdash;the&mdash;the
					planter is at armistice with him, and the superstitious planter believes that he
					has got to&mdash;to make libations, make sacrifices to him. That every so often he's
					got to let the Old Man come in and take that cotton crop to keep the Old Man in
					a contented frame of mind, like the&mdash;the ancients with&mdash;with the dragon, the
					Minotaur, the&mdash;the symbols of&mdash;of destructiveness which they had to placate,
					sacrifice. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.27">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:37.89:00',
					'endtime','00:29:44.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>In putting this woman in the boat with the convict, did you want to draw
					a point to the lovers in the novel that went along with it or did you just put
					her in the boat as sort of a hindrance to progress and&mdash; ?</p>
<p><div class="speaker">William Faulkner</div>No, that was a definite
					parallel. The&mdash;the isolation, the solitude of&mdash;of the boat in that raging torrent
					was the&mdash;the solitude which Harry and Charlotte had&mdash;had tried so long to find,
					where they could be lovers, to escape from&mdash;from the world. They went to infinite
					labor and risk and sacrifice to escape from the world where this convict had
					been hurled out of the world against his will, whether he wanted to or not. That
					he and&mdash;and the woman he saved had what Charlotte and&mdash;and&mdash;and Wilbourne had
					sacrificed everything to get. That's what I mean by counterpoint to the theme of
					the other book, that these two people had what Charlotte and Harry had given up
					everything&mdash;respectability, future, everything, for. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.28">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:44.16:00',
					'endtime','00:30:15.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, the short fat convict which you placed in the book, you call him&mdash;you
					say he's somewhat like <span class="unclear tooltip" title="Text was unclear">[something]</span>  one might find under a
					log. Is he there just to emphasize the qualities of the tall convict?</p>
<p><div class="speaker">William Faulkner</div>That's right. And to have
					somebody for the tall convict to&mdash;or to&mdash;to dig out of the tall convict what had
					happened. The tall convict would never have told this himself. He'd just said he
					was away for a while and had a pretty hard time, but here he is. That's all he
					could have told about what happened to him. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio16_1.29">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:15.28:00',
					'endtime','00:31:58.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>You said that the convict wasn't afraid of work, so he returned. Yet when
					he was in the swamp with the Cajuns you say that he had forgotten what work was
					like or something like that. Do you make a distinction between work for a reward
					and then work simply for the sake of something to do?</p>
<p><div class="speaker">William Faulkner</div>He had been so busy trying to keep that boat from being swamped and to
					get them along from one day to another, which was terrific work, but to him that
					wasn't work, anymore than somebody falling off a roof that scrabbles at&mdash;at
					shingles and&mdash;and chimney pots would consider himself working. Work to him
					was&mdash;was the&mdash;the orderly&mdash;the work of&mdash;from sunup to sundown and then you rested
					and then tomorrow you worked again.</p>
<p><div class="speaker">Unidentified participant</div>But he did consider the work at the prison just as much as&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, but he had&mdash;he had been gone
					from there a long time, to him. That must have seemed like years to him that he
					had&mdash;had been in that boat with that woman, who was a nuisance. </p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>You sort of draw&mdash;you drew a line somewhere in there between the work at
					the prison and the work with the&mdash;with the alligators because he seemed to work
					just as hard trapping the alligators because he was going to get part of the
					profits from the alligators.</p>
<p><div class="speaker">William Faulkner</div>That's right.</p>
<p><div class="speaker">Unidentified participant</div>Was there&mdash;did&mdash;did that make a difference in the type of&mdash;in the work
						<span class="unclear tooltip" title="Text was unclear">[that]</span> he was doing and the way he went about it when he
					went to prison?</p>
<p><div class="speaker">William Faulkner</div>Well, work to him meant the
					orderly work of following a mule in a furrow. Catching alligators to&mdash;to him
					wasn't work in&mdash;in&mdash;by his lights anymore than struggling with that boat was work
					 <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio16_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio16_1.2" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio16_1.3" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio16_1.4" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio16_1.5" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio16_1.6" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio16_1.7" class="hidden">Origin of "Old Man"</a></li>
<li><a href="#wfaudio16_1.8" class="hidden">Nameless Characters</a></li>
<li><a href="#wfaudio16_1.9" class="hidden">Named Characters</a></li>
<li><a href="#wfaudio16_1.10" class="hidden">River People</a></li>
<li><a href="#wfaudio16_1.11" class="hidden">Value of Travel</a></li>
<li><a href="#wfaudio16_1.12" class="hidden">Convict's Belief</a></li>
<li><a href="#wfaudio16_1.13" class="hidden">Fate v Faith</a></li>
<li><a href="#wfaudio16_1.14" class="hidden">Convict and Women</a></li>
<li><a href="#wfaudio16_1.15" class="hidden">Gendered Meanings</a></li>
<li><a href="#wfaudio16_1.16" class="hidden">Convict's Sentence</a></li>
<li><a href="#wfaudio16_1.17" class="hidden">Prison Security</a></li>
<li><a href="#wfaudio16_1.18" class="hidden">Alternate Ending</a></li>
<li><a href="#wfaudio16_1.19" class="hidden">Woman's Behavior</a></li>
<li><a href="#wfaudio16_1.20" class="hidden">Morality v Fate</a></li>
<li><a href="#wfaudio16_1.21" class="hidden">Planning the Plot</a></li>
<li><a href="#wfaudio16_1.22" class="hidden">Meaning of Pregnancy</a></li>
<li><a href="#wfaudio16_1.23" class="hidden">Humor v Message</a></li>
<li><a href="#wfaudio16_1.24" class="hidden">Story's Title</a></li>
<li><a href="#wfaudio16_1.25" class="hidden">Convict and River</a></li>
<li><a href="#wfaudio16_1.26" class="hidden">The River's Power</a></li>
<li><a href="#wfaudio16_1.27" class="hidden">"Old Man" v "Wild Palms"</a></li>
<li><a href="#wfaudio16_1.28" class="hidden">Contrasting Convicts</a></li>
<li><a href="#wfaudio16_1.29" class="hidden">Convict at Work</a></li>
</ul></aside>
		
