<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio04.1">Light in August</a>
    </li>
    <li>
      <a href="#wfaudio04.2">Female v Male Characters</a>
    </li>
    <li>
      <a href="#wfaudio04.3">Integration</a>
    </li>
    <li>
      <a href="#wfaudio04.4">Source of Characters</a>
    </li>
    <li>
      <a href="#wfaudio04.5">Uncle Buck's Marriage</a>
    </li>
    <li>
      <a href="#wfaudio04.6">Sutpen's Money</a>
    </li>
    <li>
      <a href="#wfaudio04.7">Sam Fathers' Death</a>
    </li>
    <li>
      <a href="#wfaudio04.8">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio04.9">"Death Drag"</a>
    </li>
    <li>
      <a href="#wfaudio04.10">Novels v Stories</a>
    </li>
    <li>
      <a href="#wfaudio04.11">Reading Critics</a>
    </li>
    <li>
      <a href="#wfaudio04.12">Rereading His Work</a>
    </li>
    <li>
      <a href="#wfaudio04.13">Remembering His Works</a>
    </li>
    <li>
      <a href="#wfaudio04.14">Writers and Reading</a>
    </li>
    <li>
      <a href="#wfaudio04.15">Constructing Stories</a>
    </li>
    <li>
      <a href="#wfaudio04.16">Writing Hours</a>
    </li>
    <li>
      <a href="#wfaudio04.17">Writing Schedule</a>
    </li>
    <li>
      <a href="#wfaudio04.18">Integrating the South</a>
    </li>
    <li>
      <a href="#wfaudio04.19">Writing for Popularity</a>
    </li>
    <li>
      <a href="#wfaudio04.20">Peyton Place</a>
    </li>
    <li>
      <a href="#wfaudio04.21">Reading Others</a>
    </li>
    <li>
      <a href="#wfaudio04.22">Favorite Books</a>
    </li>
    <li>
      <a href="#wfaudio04.23">Erskine Caldwell</a>
    </li>
    <li>
      <a href="#wfaudio04.24">Good New Writers</a>
    </li>
    <li>
      <a href="#wfaudio04.25">Greek Tragedies</a>
    </li>
    <li>
      <a href="#wfaudio04.26">Recent Books</a>
    </li>
    <li>
      <a href="#wfaudio04.27">Aristotelian Tragedy</a>
    </li>
    <li>
      <a href="#wfaudio04.28">Creativity v Form</a>
    </li>
    <li>
      <a href="#wfaudio04.29">Indignation and Art</a>
    </li>
    <li>
      <a href="#wfaudio04.30">Good v Better</a>
    </li>
    <li>
      <a href="#wfaudio04.31">Joyce and Originality</a>
    </li>
    <li>
      <a href="#wfaudio04.32">Writer v Schoolman</a>
    </li>
    <li>
      <a href="#wfaudio04.33">Negro Writers</a>
    </li>
    <li>
      <a href="#wfaudio04.34">Ike McCaslin</a>
    </li>
    <li>
      <a href="#wfaudio04.35">The Characters' Lead</a>
    </li>
    <li>
      <a href="#wfaudio04.36">Long Sentences</a>
    </li>
    <li>
      <a href="#wfaudio04.37">Editing One's Work</a>
    </li>
    <li>
      <a href="#wfaudio04.38">Polemical Art</a>
    </li>
    <li>
      <a href="#wfaudio04.39">Flaubert v Tolstoy</a>
    </li>
    <li>
      <a href="#wfaudio04.40">Story v Craftmanship</a>
    </li>
    <li>
      <a href="#wfaudio04.41">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio04.1"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.7"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio04.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.13"/>
  <p>Do you have any trouble remembering, say, a short story you might've
                    written in 1925 or something like that?</p>
</div>
<div class="section">
  <a name="wfaudio04.14"/>
  <p>Mr. Faulkner, when you read, do you frequently find that you get so many
                        ideas after reading a few pages that you find yourself more willing and
                    interested in beginning to write something or continue to read? That is, do you
                    think writers find difficulty in reading?</p>
</div>
<div class="section">
  <a name="wfaudio04.15"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio04.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.17"/>
  <p>Do you ever jump up in the middle of the night and write something
                    down?</p>
</div>
<div class="section">
  <a name="wfaudio04.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.20"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.21"/>
  <p>Do you have time to read quite a bit?</p>
</div>
<div class="section">
  <a name="wfaudio04.22"/>
  <p>When you read these books you've read before, Mr. Faulkner, do you find
                    new things in them constantly?</p>
</div>
<div class="section">
  <a name="wfaudio04.23"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.24"/>
  <p>Sorry.  We'll go ahead here then.  Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.25"/>
  <p>I'm sorry, there were&#x2014;were
                    you next? Or you? Well, sir, you then.</p>
</div>
<div class="section">
  <a name="wfaudio04.26"/>
  <p>Sir, we take for granted .  Do you read primarily the books that you've read, you say, when
                    you were younger or the books of times gone by? You don't think terribly highly
                    of the books that are put out, say, in the last twenty years?</p>
</div>
<div class="section">
  <a name="wfaudio04.27"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.28"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.29"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio04.30"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.31"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio04.32"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.33"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.34"/>
  <p>Mr. Faulkner, do you look on Ike McCaslin as having fulfilled his destiny, the things
                    that he learned from Sam Fathers and from the other men as in his&#x2014;when
                    he was twelve to sixteen? Do you feel that they stood him in good stead all the
                    way through his life?</p>
</div>
<div class="section">
  <a name="wfaudio04.35"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio04.36"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.37"/>
  <p>Do you often find that you can improve on what you've originally put
                    down?</p>
</div>
<div class="section">
  <a name="wfaudio04.38"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.39"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio04.40"/>
  <p>Does the luxuriance of the foliage in War and
                        Peace offend your sense&#x2014;sense of craftsmanship?</p>
</div>
<div class="section">
  <a name="wfaudio04.41"/>
  <p>You filled the full hour, Mr. Faulkner, and thank 
		    you.  </p>
</div>
