<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio23_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio23_1_2.1"/>
  <p>Sir, this sounds an awful lot like
                            a novel called The Sound and the Fury
                            with Quentin Compson wanting to love people and the same sort
                            of relationship with his sister.</p>
</div>
