<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio08_2.1">Unfinished Business</a>
    </li>
    <li>
      <a href="#wfaudio08_2.2">Japanese Writers</a>
    </li>
    <li>
      <a href="#wfaudio08_2.3">Being in Japan</a>
    </li>
    <li>
      <a href="#wfaudio08_2.4">The Novel's Future</a>
    </li>
    <li>
      <a href="#wfaudio08_2.5">Future Themes</a>
    </li>
    <li>
      <a href="#wfaudio08_2.6">Translating His Works</a>
    </li>
    <li>
      <a href="#wfaudio08_2.7">Prodding Audience</a>
    </li>
    <li>
      <a href="#wfaudio08_2.8">His Literary Position</a>
    </li>
    <li>
      <a href="#wfaudio08_2.9">Conrad's Influence</a>
    </li>
    <li>
      <a href="#wfaudio08_2.10">Reading Critics</a>
    </li>
    <li>
      <a href="#wfaudio08_2.11">Writing about Mississippians</a>
    </li>
    <li>
      <a href="#wfaudio08_2.12">French Writers</a>
    </li>
    <li>
      <a href="#wfaudio08_2.13">Favorite Books</a>
    </li>
    <li>
      <a href="#wfaudio08_2.14">Continuing Stories</a>
    </li>
    <li>
      <a href="#wfaudio08_2.15">Writing Sanctuary</a>
    </li>
    <li>
      <a href="#wfaudio08_2.16">Sanctuary and Requiem</a>
    </li>
    <li>
      <a href="#wfaudio08_2.17">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio08_2.1"/>
  <p> it's kind of a story more or less overlapping with others and
                    keeping on  continuity it it's unfinished </p>
</div>
<div class="section">
  <a name="wfaudio08_2.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.3"/>
  <p>The published book about it sounded as though you had touched them very
                    much,  what they asked  you seemed to have 
                    touched them.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.4"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.5"/>
  <p>What themes do you most expect to find in these writers coming
                        now?</p>
</div>
<div class="section">
  <a name="wfaudio08_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.7"/>
  <p>Any other questions?</p>
</div>
<div class="section">
  <a name="wfaudio08_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.10"/>
  <p>Mr. Faulkner, if you do read them, how seriously do you take your
                    critics.  That is, those people who write in the literary magazines, Hudson Review and so forth? Do you think it's
                    particularly rewarding for students to read the critics of your work?</p>
</div>
<div class="section">
  <a name="wfaudio08_2.11"/>
  <p>A young lady up here.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.12"/>
  <p>Yes,
                    ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.13"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio08_2.15"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio08_2.16"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio08_2.17"/>
  <p>Any other questions, silly or otherwise?  Well, we're very, very grateful to you, sir.</p>
</div>
