
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 7 May 1957</h4>
<h4>OCCASION: University Radio Show</h4>
<h4>TAPE: T-123c</h4>
<h4>LENGTH: 31:47</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio11_1.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:02:06.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>
						 road shows, as he says.</p>
<p><div class="speaker">Joseph Blotner</div> Well, we haven't heard from the agent, the
							circuit.  Right now there are none planned. </p>
<p><div class="speaker">Engineer</div> Just a little bit there. If you can lean in, Mr. Faulkner, without
						hurting it. <span class="event tooltip" title="There was some laughter happening">[laughter]</span>
						</p>
<p><div class="speaker">Atcheson Hench</div> This is to remind us of our names. Wait a minute. I haven't got
						Blotner down there.</p>
<p><div class="speaker">Joseph Blotner</div> Yeah, you have.</p>
<p><div class="speaker">Edward Stephenson</div> But not&mdash;not&mdash;</p>
<p><div class="speaker">Joseph Blotner</div> No.</p>
<p><div class="speaker">Unidentified participant</div> Why don't you just turn it around?</p>
<p><div class="speaker">William Faulkner</div>Just write his name on a piece of paper and pin it to him. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
<p><div class="speaker">Unidentified participant</div> Like they do at conventions.</p>
<p><div class="speaker">Frederick Gwynn</div>Preferably on the inside.</p>
<p><div class="speaker">Atcheson Hench</div> 'Cause every now and then one of us just goes blind as far as the
						words are concerned&mdash;I mean names are concerned. Have you ever forgotten your
						own name, Joe?</p>
<p><div class="speaker">Joseph Blotner</div>No, but I've heard another announcer do it.</p>
<p><div class="speaker">Atcheson Hench</div> You did?</p>
<p><div class="speaker">Joseph Blotner</div>He said, "And your announcer has been"&mdash;<span class="event tooltip" title="There was some laughter happening">[laughter]</span>. He
						just turned on the record.</p>
<p><div class="speaker">Engineer</div>Mr. Faulkner, do you think you will be sitting forward like that most
						of the time?</p>
<p><div class="speaker">William Faulkner</div>I can sit wherever you want me to.</p>
<p><div class="speaker">Engineer</div>Well,that&mdash;that'll be fine. Just about like that. I think Mr. Hench
						has a slightly louder voice <span class="unclear tooltip" title="Text was unclear">[and so it should balance it out]</span>.</p>
<p><div class="speaker">Atcheson Hench</div>Does he want to try us out?</p>
<p><div class="speaker">Engineer</div> Yes, sir.  In just a second.</p>
<p><div class="speaker">Atcheson Hench</div>Alright. Well, this is cheating, in a way, to do these two fifteen
						minuteses and then to say that "Last week"&mdash;it's going to be awful hard&mdash; <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
<p><div class="speaker">Edward Stephenson</div>You just lie one thing after another, don't you?
						A terrible liar.</p>
<p><div class="speaker">Atcheson Hench</div>Who, me?</p>
<p><div class="speaker">Edward Stephenson</div>Mmhmm.</p>
<p><div class="speaker">Atcheson Hench</div>Well, how is this&mdash;how does this sound? Is that alright? And Mr.
						Faulkner you could say, "Eeny meeny miney mo" or anything else.</p>
<p><div class="speaker">William Faulkner</div>If I know it, I will. <span class="event tooltip" title="There was some laughter happening">[laughter]</span> You mean the rest of
						it or just "eeny meeny miney mo"?</p>
<p><div class="speaker">Atcheson Hench</div> just testing your voice.</p>
<p><div class="speaker">Engineer</div>All right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:06.48:00',
					'endtime','00:04:43.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>Is that all right now? Can anyone tell me where these wonderful
						blend words in "Spotted Horses" are? "Sward" is one of them I remember. Can
						you hear me all right?</p>
<p><div class="speaker">Robert Davis</div>I haven't read "Spotted Horses" in a year, so I won't be able to
						tell you about that one.</p>
<p><div class="speaker">Joseph Blotner</div>I'm not sure I know where they are, Steve.</p>
<p><div class="speaker">Edward Stephenson</div>Did you make up that word "sward" or is that something you've
						heard?</p>
<p><div class="speaker">William Faulkner</div>No, no, that's the way they pronounce it.</p>
<p><div class="speaker">Atcheson Hench</div>Joe, Joe.</p>
<p><div class="speaker">Joseph Blotner</div>One, two, three, four, five. How's that? Does that&mdash;is that alright? A
						little more volume? Do you need some more gain?</p>
<p><div class="speaker">Engineer</div>Down a little.</p>
<p><div class="speaker">Joseph Blotner</div>One two, three, four, five. How's that? Okay?</p>
<p><div class="speaker">Engineer</div>That's all right."</p>
<p><div class="speaker">Atcheson Hench</div>What'd you say, <span class="unclear tooltip" title="Text was unclear">[game?]</span></p>
<p><div class="speaker">Joseph Blotner</div>
						Gain, gain.
					</p>
<p><div class="speaker">Atcheson Hench</div>Oh, gain.</p>
<p><div class="speaker">Joseph Blotner</div>The engineer rides the gain. He picks it up or
						cuts it down.</p>
<p><div class="speaker">Atcheson Hench</div>Oh. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
<p><div class="speaker">Engineer</div>The opening is already on the tape, so any time you gentlemen feel
						ready. </p>
<p><div class="speaker">Atcheson Hench</div>Are you going to set the clock for us?</p>
<p><div class="speaker">Engineer</div>It is set, and we'll just start it. we'll give you twelve
						and a half minutes, <span class="unclear tooltip" title="Text was unclear">[sir]</span>, for the first show.</p>
<p><div class="speaker">Atcheson Hench</div><span class="unclear tooltip" title="Text was unclear">[He's got some signals]</span> he doesn't understand. Oh, yes.</p>
<p><div class="speaker">Engineer</div>No rattling of elbows, then.</p>
<p><div class="speaker">Atcheson Hench</div>No rattling of elbows then. Let's not pound the table for once,
						shall we?<span class="event tooltip" title="There was some laughter happening">[laughter]</span> I pounded the table once, and Steve
						pounded the table once in excitement.</p>
<p><div class="speaker">Engineer</div>It hasn't been done since.</p>
<p><div class="speaker">Atcheson Hench</div>I mustn't say <span class="unclear tooltip" title="Text was unclear">["uh-huh"]</span>.</p>
<p><div class="speaker">Joseph Blotner</div>Yesterday I opened that door, and it sounded like a pistol shot when
						it hit the wall in <span class="unclear tooltip" title="Text was unclear">[that basement]</span>.</p>
<p><div class="speaker">Atcheson Hench</div>It did.</p>
<p><div class="speaker">Joseph Blotner</div> jumped.</p>
<p><div class="speaker">Robert Davis</div>They ought to do something about ventilating that room. It was
						awfully hot in there.</p>
<p><div class="speaker">Joseph Blotner</div>It was getting pretty stuffy.</p>
<p><div class="speaker">Edward Stephenson</div>Blowers weren't on, were they?</p>
<p><div class="speaker">Atcheson Hench</div>I don't know.</p>
<p><div class="speaker">Edward Stephenson</div>It's supposed to be air conditioning with blowers, but I
							don't think they were on.</p>
<p><div class="speaker">Robert Davis</div>Mr. Stephenson, can I have a match, sir?</p>
<p><div class="speaker">Edward Stephenson</div>Sure.</p>
<p><div class="speaker">Robert Davis</div>Thank you.</p>
<p><div class="speaker">Joseph Blotner</div>Well, do you have&mdash;</p>
<p><div class="speaker">Robert Davis</div>Would you like to light it, Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>No, thank you, sir. I'm just about smoked out.</p>
<p><div class="speaker">Joseph Blotner</div>Do you have a lot of eloquent, impromptu comments there, Atch? Typed
						out?</p>
<p><div class="speaker">Atcheson Hench</div>I got my&mdash;my stuff. I&mdash; </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:53.40:00',
					'endtime','00:05:48.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Today as our special guest we have with us the American novelist
						William Faulkner, author-in-residence at the University of Virginia this
						semester. We are indeed fortunate to have him with us. Also around our table
						today are our regular panel members Mr. Edward Stephenson and Mr. Robert
						Davis. As&mdash;and, as another special panel member today, we have Mr. Joseph
						Blotner, of the English Department. And our subject today is Mr. Faulkner's
						dialect. And I suppose we might as well lay on the table one plain fact, one
						simple fact at first, that it is Mississippi dialect. Isn't it, Mr.
						Faulkner?</p>
<p><div class="speaker">William Faulkner</div>As far as I know. I wouldn't limit it to Mississippi, though. I
						think I've heard this same dialect in Arkansas, Louisiana, Alabama. And I
						imagine, in time, I'll hear it here in Virginia.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:48.41:00',
					'endtime','00:06:11.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Would you hear the same words, all the same vocabulary?</p>
<p><div class="speaker">William Faulkner</div>I wouldn't be surprised. <span class="unclear tooltip" title="Text was unclear">[I probably would.]</span></p>
<p><div class="speaker">Atcheson Hench</div>Do you think so, Mr. Stephenson?</p>
<p><div class="speaker">Unidentified participant</div>Well, I&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>Well, the southern dialect&mdash;of course, I'm a native of
						Georgia, and I read many things in Mr. Faulkner's writings that are familiar
						to me. I run across some things that are not. I expect there might be some
						small differences.</p>
<p><div class="speaker">William Faulkner</div>Oh, yes, there would be small differences.</p>
<p><div class="speaker">Edward Stephenson</div>But it is a southern dialect.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:11.10:00',
					'endtime','00:06:51.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div> By the way, Mr. Faulkner, how many
						different types of dialect do you try to distinguish? Now I notice, of
						course, the difference between the speech of the Negroes and the poor white
						trash. Are there any other distinctions that you try to make?</p>
<p><div class="speaker">William Faulkner</div>I would say there are three. The&mdash;the dialect, the diction, of the
						educated, semi-metropolitan white southerner, the dialect of the&mdash;of the
						hill, backwoods southerner, and the dialect of the Negro&mdash;four, the dialect
						of the Negro who has been influenced by the northern cities, who has been to
						Chicago and Detroit.</p>
<p><div class="speaker">Edward Stephenson</div>Four different dialects?</p>
<p><div class="speaker">William Faulkner</div>Four.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:51.56:00',
					'endtime','00:07:18.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Do you find that your characters change their dialect as they
						improve in financial status?</p>
<p><div class="speaker">William Faulkner</div>Not always. Sometimes. The ones that are&mdash;that take up snobbery
						easily, yes, they will change their dialect, and young people have an
						aptitude for changing their dialect, like a chameleon does.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:17.83:00',
					'endtime','00:08:04.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>By the way, a friend of yours asked me to ask you a question today.
						He said that Flem Snopes doesn't smoke, but he'll chew a little tobacco till
						all the "suption" is out of it. He wanted me to ask you if you coined that
						word "suption."</p>
<p><div class="speaker">William Faulkner</div>No, no. Did you ever hear of that in Georgia, Mr. Stephenson?</p>
<p><div class="speaker">Edward Stephenson</div>No, I'm not familiar with that.</p>
<p><div class="speaker">William Faulkner</div>Well, it means nourishment. Now I don't know that I&mdash;</p>
<p><div class="speaker">Atcheson Hench</div>It doesn't mean juice?</p>
<p><div class="speaker">William Faulkner</div>Well, nourishment. There's suption in meat, in bread, it's&mdash;I think
						it's more nourishment than juice.</p>
<p><div class="speaker">Robert Davis</div>The goodness. We'd&mdash;I think we'd say he got the goodness out of
						it.</p>
<p><div class="speaker">William Faulkner</div>Goodness, yes, that's right.</p>
<p><div class="speaker">Edward Stephenson</div>Have you heard that in Alabama, Mr. Davis?</p>
<p><div class="speaker">Robert Davis</div>Suption? I don't think I've heard of suption but&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>Maybe it's a Mississippi word.</p>
<p><div class="speaker">William Faulkner</div>When chewing gum is no longer sweet, the suption is gone.</p>
<p><div class="speaker">Edward Stephenson</div>Mmhmm.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:05.69:00',
					'endtime','00:09:05.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, I had&mdash;have down here on a list several words that I
						would like to ask you about. It's&mdash;one is the word "pussel-gutted." You spoke
						about Jewel calling his horse "pussel-gutted," and that was in mock
						affection. And then in another place Peabody&mdash;this is in, by the way, in <em>As I Lay Dying</em>&mdash;Peabody has "pussel-gutted" himself
						eating cold greens. I suppose that means make yourself flabby.</p>
<p><div class="speaker">William Faulkner</div>Bloated, yes.</p>
<p><div class="speaker">Edward Stephenson</div>That's a Georgia term. I know that term.</p>
<p><div class="speaker">Atcheson Hench</div>Is there a plant that you're&mdash;that is behind that figure of speech,
						pussel?</p>
<p><div class="speaker">William Faulkner</div>No.</p>
<p><div class="speaker">Atcheson Hench</div>There's a plant in Virginia called <span class="unclear tooltip" title="Text was unclear">[pussley]</span>, and
						I thought maybe it was the same thing. It's a hideous plant, an ugly plant.
						It gets full of water.</p>
<p><div class="speaker">William Faulkner</div>It could derive from that. I don't know. I've heard it all my life.
						It means someone that is bloated, that has a tremendous belly that he
						shouldn't have.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:05.11:00',
					'endtime','00:10:01.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>May I come back for a moment to this distinction between the speech
						of the Negroes and of the&mdash;of what used to be called the poor white trash. In
						your short story "Wash," Mr. Faulkner, when Wash is talking about Colonel
						Sutpen, he call&mdash;you spell it K-E-R-N-E-L, when the Negroes are talking you
						spell it C-U-N-N-E-L. Is that supposed to be "Kernal' that Wash says, and
						"Cunnel" that the Negroes say. In other words, Negroes drop the "r."</p>
<p><div class="speaker">William Faulkner</div>That's correct.</p>
<p><div class="speaker">Edward Stephenson</div>That's the idea.</p>
<p><div class="speaker">William Faulkner</div>That's correct. And the&mdash;what we call the redneck white man has a
						hard "r."</p>
<p><div class="speaker">Edward Stephenson</div>He has the&mdash;</p>
<p><div class="speaker">William Faulkner</div>He says "fur" for far. He says "far" for fire.</p>
<p><div class="speaker">Edward Stephenson</div>Yes.</p>
<p><div class="speaker">William Faulkner</div>The Negro don't have the hard "r."</p>
<p><div class="speaker">Edward Stephenson</div>I assumed that that was the purpose of that. Now if Colonel Sutpen
						or one of his&mdash;upper class characters was speaking, then you just use the
						conventional spelling, which really would be rather like Wash's
						pronunciation, though not as hard on "r"'s.</p>
<p><div class="speaker">William Faulkner</div>That's right, it's between&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>But the&mdash;between Wash and the Negroes, "Kernal" versus "Cunnel."</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:02.45:00',
					'endtime','00:10:37.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>May I ask you about another word that I noticed, and that's the word
							"peakling."  You said about Jewel, or rather in
						connection with Jewel it was said, "I told them that's why ma always whipped
						him and petted him more. Because he was "peakling" around the house.</p>
<p><div class="speaker">William Faulkner</div>That's probably a&mdash;a corruption or contraction between "puny" and
						"weakly." Just like the contraction or corruption between "mist" and
						"drizzle" becomes "mizzle."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:37.57:00',
					'endtime','00:11:17.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Davis</div>Mr. Faulkner, I noticed that Vernon and Uncle Billy, in <em>As I Lay Dying, </em>often say "ay" for "yes." I wondered
						if that was&mdash;if that was common or whether it was just characteristic of the
						older generation?</p>
<p><div class="speaker">William Faulkner</div>That is common among the older people whose ancestry was
						Scottish.</p>
<p><div class="speaker">Robert Davis</div>Oh, yes, sir.</p>
<p><div class="speaker">William Faulkner</div>They came to the mountains of North Carolina, then they came to the
						mountains of Virginia, then they came to the hills of Mississippi, and they
						kept their old ways. They would say to "red up" a room, just as you hear in
						Scotland&mdash;means to&mdash;to clean a room, to make the beds, sweep.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:17.60:00',
					'endtime','00:11:32.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Is the same thing true about "beholden"? I'm "beholden" to you.</p>
<p><div class="speaker">William Faulkner</div>Now would that be Scottish or is that Old English?</p>
<p><div class="speaker">Atcheson Hench</div>Well, I suppose it's English and Scottish.</p>
<p><div class="speaker">William Faulkner</div>Well, yes. That's right.</p>
<p><div class="speaker">Atcheson Hench</div>"Red" is certainly Scottish. You're right there.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:33.05:00',
					'endtime','00:12:16.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>I'd like to make a point about the importance of knowing the
						author's speech in interpreting his dialect spellings. Now Thomas Nelson
						Page, for instance, when he wants to represent an Old Virginia Negro who
						says "cawn't," will spell that sometimes C-A-R-N-T. And I noticed you've done
						the same thing in "Wash." When the old Negro woman is talking to Colonel
						Sutpen, she says "Yes, mawster," and you spell it M-A-R-S-T-E-R. Now we
						should interpret that "mawster" rather than "master", but it isn't "marster,"
						is it?</p>
<p><div class="speaker">William Faulkner</div>No.</p>
<p><div class="speaker">Edward Stephenson</div>It's "moster." And the "ar" spelling then, since we know that you
						are from a part of the country&mdash;and you yourself drop the "r" after a vowel,
						then the "ar" can be a symbol for the sound "aw."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:17.00:00',
					'endtime','00:12:58.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Davis</div>I suppose, Mr. Faulkner, that'd be the same thing as when Dilsey
						says, "winda," and you spell it W-I-N-D-E-R. That she says "winda," rather
						than "winder."</p>
<p><div class="speaker">William Faulkner</div>That's right. There's no "r."</p>
<p><div class="speaker">Robert Davis</div>But now the backwoodsman would say "winder."</p>
<p><div class="speaker">William Faulkner</div>That's right.</p>
<p><div class="speaker">Robert Davis</div>Wouldn't he?</p>
<p><div class="speaker">William Faulkner</div>"Winder."</p>
<p><div class="speaker">Robert Davis</div>"Winder."</p>
<p><div class="speaker">Edward Stephenson</div>And then you'd have a problem because you'd have to spell it the
						same way if you wanted to represent it in dialect, wouldn't you? That'd be a
						problem for the author to worry about there.</p>
<p><div class="speaker">William Faulkner</div>I should say, being a Mississippian, I would probably put two r's on
						it.</p>
<p><div class="speaker">Edward Stephenson</div>That's what Page does, by the way&mdash;no not Page, but James Russell
						Lowell in his "Bigelow Papers" when he wants to represent&mdash;in certain parts
						of New England where they have a very hard "r," he puts two "r"'s. That's
						the same thing he does.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:58.07:00',
					'endtime','00:13:08.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Is that&mdash;is it the same way with that disease that I saw somewhere?
						A-G-U-E-R. An "aga"? Is that right? "Aga."</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:10.44:00',
					'endtime','00:13:53.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>What did you mean, Mr. Faulkner, in&mdash;I'm not quite sure how you
						intended this to be pronounced&mdash;I know the word, but this particular spelling
						of it. Wash says, "if you was A-R-A other man." "Ary other man. Or
						"ara."</p>
<p><div class="speaker">William Faulkner</div>That's right, "ara."</p>
<p><div class="speaker">Edward Stephenson</div>"Ara."</p>
<p><div class="speaker">William Faulkner</div>"Ara" or "nara."</p>
<p><div class="speaker">Edward Stephenson</div>Mmhmm.</p>
<p><div class="speaker">Robert Davis</div>"Ara." I remember in Alabama, where I lived sort of back in the
						hills myself, and it was "ary" back there, rather than "ara." Funny&mdash;</p>
<p><div class="speaker">Atcheson Hench</div>"Ary."</p>
<p><div class="speaker">Robert Davis</div>"Ary." U-huh.</p>
<p><div class="speaker">Atcheson Hench</div>And "nary."</p>
<p><div class="speaker">Robert Davis</div>"Nary."</p>
<p><div class="speaker">Edward Stephenson</div>You know that may be an example of of over-correction, just like in
						the mountains when the name Andy becomes "Anda" sometimes, and Naomi becomes
						"Naoma."</p>
<p><div class="speaker">Robert Davis</div>Or it may be&mdash;it may be the&mdash;the mountain speech coming down into
						Northern Alabama there.</p>
<p><div class="speaker">Edward Stephenson</div>Might be.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:53.87:00',
					'endtime','00:14:31.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, how do you pronounce these words: "A-W-R-Y haired" and
						"A-W-R-Y feathered."</p>
<p><div class="speaker">William Faulkner</div>Awry.</p>
<p><div class="speaker">Atcheson Hench</div>Awry.</p>
<p><div class="speaker">William Faulkner</div>That's what I was trying to spell.</p>
<p><div class="speaker">Atcheson Hench</div>I see. Have you ever heard the pronunciation "ory" haired?</p>
<p><div class="speaker">William Faulkner</div>Not in Mississippi&mdash;</p>
<p><div class="speaker">Atcheson Hench</div>"Ory" feathered"?</p>
<p><div class="speaker">Joseph Blotner</div>Is that at all similar to <span class="unclear tooltip" title="Text was unclear">["ory eyed"]</span>? Or does that
						refer to another condition or pronunciation.</p>
<p><div class="speaker">Atcheson Hench</div>I think it is. I think it is.</p>
<p><div class="speaker">William Faulkner</div>Very likely is, but I never heard "ory" applied to anything except
						"eye."</p>
<p><div class="speaker">Joseph Blotner</div>Mmmhmm.  That's the only usage I know.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:31.04:00',
					'endtime','00:15:29.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>I want to ask Mr. Faulkner&mdash;ask you Mr. Faulkner why once you spell
						the word dog D-A-W-G for Wash. It seems to me that I don't approve of that
						spelling. That doesn't really differentiate Wash from any of the other
						characters. Wouldn't they all say "dawg"? Don't you say "dawg"? Doesn't
						everybody in Mississippi say "dawg."</p>
<p><div class="speaker">William Faulkner</div>Yes, the reason for that is that someone has said southerners don't
						read books; they write books. And I think that when the southerner writes
						deliberately spelled dialect, he is writing not for the man that calls "dog"
						"dawg," but for the man that calls "dog" "dog."</p>
<p><div class="speaker">Edward Stephenson</div>But "dawg"&mdash;"dawg" is very general all over the country. Of course in
						some parts of the Midwest people do say "dog." But in New England and the
						South, and a large part of the rest of the country D-O-G is "dawg"</p>
<p><div class="speaker">William Faulkner</div>Yes, but these people would speak with a&mdash;even more flatness than
						that. It would be "Dawg."</p>
<p><div class="speaker">Atcheson Hench</div>Stretched out.</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:29.08:00',
					'endtime','00:16:42.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>Well another&mdash;another point I'd like to ask you about. In the use of
						"hit" which I'm familiar with in Georgia. It's an old form that's survived.
						But it seems to me, at least in Georgia, the distinction is this. In an
						unstressed, where the&mdash;where the syllable would not be accented&mdash;for instance,
						you could hardly say&mdash;if you wanted to say "Move it over thar," you&mdash;it would
						be hard say "move hit over thar." But if you said, "Hit don't make no
						difference"&mdash;or&mdash;when it's stressed, it would be "hit." But I notice you use it
						rather indiscriminately whether it would be in a stress position or not in a
						stress position. I think&mdash;I think you were careless in that regard.</p>
<p><div class="speaker">William Faulkner</div>Perhaps so, but I think I have heard it used&mdash;sometimes the same man
						will say "move hit yonder" or "move it yonder."</p>
<p><div class="speaker">Atcheson Hench</div>And "make it now" and "make hit now."</p>
<p><div class="speaker">William Faulkner</div>That's right, the same&mdash;</p>
<p><div class="speaker">Atcheson Hench</div>More deliberation.</p>
<p><div class="speaker">William Faulkner</div>Well, I don't know. It's&mdash;he probably is not aware himself. At
						one time he puts an  and the next time he drops it.</p>
<p><div class="speaker">Joseph Blotner</div>I should think his&mdash;the speed with which he spoke or the emotion&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, has a lot to do with it.</p>
<p><div class="speaker">Joseph Blotner</div>That might even determine which spelling&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>For instance, here's one. Wash says, "You make hit right," and you
						spell it H-I-T, which&mdash;but again, he says, "Hit don't need no ticket."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:42.18:00',
					'endtime','00:17:11.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Davis</div>Mr. Faulkner, one thing that I'd like to get in 
						I've wondered how you do it. Just how you go about it. I see some every now
						again, some of these words that I think are&mdash;are brilliant. Luster, I
						remember, in the end of <em>The Sound and the Fury</em>, says&mdash;
							<span class="event tooltip" title="There was some recording is interrupted by seventeen seconds of music happening">[recording is interrupted by seventeen seconds of music]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:11.97:00',
					'endtime','00:17:28.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Davis</div> in our memory I should think.</p>
<p><div class="speaker">Atcheson Hench</div>Do you ever create these things?</p>
<p><div class="speaker">William Faulkner</div>Probably.</p>
<p><div class="speaker">Edward Stephenson</div>He doesn't mean to, though.</p>
<p><div class="speaker">William Faulkner</div>No, I don't deliberately, but I&mdash;probably I have corrupted words
							 on my own ticket.</p>
<p><div class="speaker">Edward Stephenson</div>To get a good result.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:27.94:00',
					'endtime','00:18:03.76:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>We've enjoyed being with you for the past fifteen minutes for this
						chat. There is much more on the subject that we could say, but our time has
						run out on us again. However, we cordially invite you to be in our listening
						audience next week at this same time, when Mr. Faulkner will again be in
						our&mdash;will be our special guest. Joining us around the table today were Mr. Ed
						Stephenson, Mr. Joseph Blotner, and Mr. Robert Davis. Our special guest for
						this program was Mr. William Faulkner. This is Atcheson Hench thanking you
						for joining our discussion today and inviting you to listen again next week
						at this time for another chat on some aspect of the language we speak.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:04.36:00',
					'endtime','00:18:18.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>
						<span class="event tooltip" title="There was some cough happening">[cough]</span>
					</p>
<p><div class="speaker">Robert Davis</div>Have you been waiting all that time to cough, Mr. Gwynn?</p>
<p><div class="speaker">William Faulkner</div>Now's the time for Mr. Hench to get up and do this again. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:18.31:00',
					'endtime','00:18:32.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Engineer</div>You may stretch your muscles just a moment just while we switch tapes
						and then we'll continue again as though we never stopped.</p>
<p><div class="speaker">Atcheson Hench</div>Well wasn't it brilliant?</p>
<p><div class="speaker">Frederick Gwynn</div>That worked very well.</p>
<p><div class="speaker">Joseph Blotner</div>You were great, Hench.  <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:34.24:00',
					'endtime','00:18:55.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Oh dear. You know I&mdash;you speaking about <span class="unclear tooltip" title="Text was unclear">["elefunk"]</span>.
						I think that's one of those rebuildings to suit what the man probably thinks
						it ought to be, like <span class="unclear tooltip" title="Text was unclear">["plathform"]</span> instead of "platform."
						Though what <span class="unclear tooltip" title="Text was unclear">["funk"]</span>&mdash;"elefunk" would be I wouldn't have any idea. But he's got
						some notion in there.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:57.47:00',
					'endtime','00:19:36.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Davis</div>There's something I've wondered about, and I don't guess 
						we can ask it on this program, so I'll just ask it
						now. I remember Luster says&mdash;he chunks some rocks at some jaybirds, and he
						says, "Git on back to hell, whar you belong at. 'Taint Monday yit." I
						wondered what that superstition&mdash;I never heard that superstition&mdash;</p>
<p><div class="speaker">William Faulkner</div>The superstition is that on Friday the jaybirds all go to hell; they
						don't come back till Monday.</p>
<p><div class="speaker">Robert Davis</div> around from that Monday until the next Friday.</p>
<p><div class="speaker">William Faulkner</div>Quite often you never hear a jaybird over the weekend, and the
						superstition is they've gone to hell.</p>
<p><div class="speaker">Joseph Blotner</div>That's probably what they've done.</p>
<p><div class="speaker">William Faulkner</div>Sometimes that is where they should go&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.27">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:36.70:00',
					'endtime','00:20:03.87:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Gee, there was one that I wanted to ask about. In "Spotted Horses,"
						when Armstid's wife tells how badly off they are and says that "He aint no
						more despair than to spend four dollars for a horse." I know what she means,
						but I've just never heard those words put together that way before.</p>
<p><div class="speaker">Edward Stephenson</div>
						
						I'm familiar with that.
					</p>
<p><div class="speaker">Joseph Blotner</div>Are you?</p>
<p><div class="speaker">William Faulkner</div>It means he has no more shame, no more consideration, for
							our trouble.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.28">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:17.35:00',
					'endtime','00:20:36.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>I'm glad you didn't use any&mdash;any technical terms on us, Steve, like
							 post-vocalic "r."   Stuff like that it was the wrong
						thing to do.</p>
<p><div class="speaker">Edward Stephenson</div>I slipped up and did that one time. It was the first program we did then I realized
						that was the wrong thing to do &mdash;</p>
<p><div class="speaker">Joseph Blotner</div>You might just as well use Esperanto.</p>
<p><div class="speaker">Edward Stephenson</div>I won't talk about this  vowel then.</p>
<p><div class="speaker">Joseph Blotner</div>Good.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.29">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:38.78:00',
					'endtime','00:20:51.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Engineer</div>Okay? You gentleman ready for&mdash;?</p>
<p><div class="speaker">Joseph Blotner</div>Do you want to reset the clock?</p>
<p><div class="speaker">Atcheson Hench</div>I think it does, and that every now and then helps me if I think of
						it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.30">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:59.58:00',
					'endtime','00:21:30.67:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Did you ever hear of "swurge" for "surge?"</p>
<p><div class="speaker">Edward Stephenson</div>No, that was another one I marked in "Spotted Horses." And you
						didn't invent that either. I thought maybe you invented that. It's a
						wonderful term, I think. It conveys the idea beautifully, but&mdash;</p>
<p><div class="speaker">Atcheson Hench</div>I think I've heard that "w" in certain places. I can't pull one out
						of my head right now. But I think in the mountains up here, in the Blue
						Ridge, I've heard a "w" that gets&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>It could be. I could see how it happens. It could be the reverse of
						the loss of the "w" in "sword." "Sward."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.31">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:37.66:00',
					'endtime','00:22:04.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Today as our special guest again we have with us the American
						novelist Mr. William Faulkner, author-in-residence at the University of
						Virginia this semester. We are indeed fortunate, as we were last week, to
						have him with us. Also around our table today are our special&mdash;are our
						regular panel members Mr. Edward Stephenson and Mr. Robert Davis. And as
						another panel member today, we have Mr. Joseph Blotner.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.32">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:04.88:00',
					'endtime','00:22:36.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, following up what we said last week, I should like to
						ask you about the meanings of one or two words. By the way, is there a fish
						in Mississippi called a "hog"?</p>
<p><div class="speaker">William Faulkner</div>No.</p>
<p><div class="speaker">Atcheson Hench</div>Then I misunderstood a line. Somewhere I thought you called a fish a
						hog. Maybe&mdash;there's no hogfish?</p>
<p><div class="speaker">William Faulkner</div>No, I think somebody said the catfish the little boy had was as
						bloody as a hog. It's as full of blood as a hog.</p>
<p><div class="speaker">Atcheson Hench</div>Oh, I see. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.33">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:36.07:00',
					'endtime','00:22:59.84:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div> What about the word "frailed"? He "frailed him time and
						time." What's that mean?</p>
<p><div class="speaker">William Faulkner</div>To whip, thrash.</p>
<p><div class="speaker">Edward Stephenson</div>It's a variant of flail, isn't it? Yes, I&mdash;I know that. It's a
						variant of flail.</p>
<p><div class="speaker">William Faulkner</div>&mdash;but they say "frail."</p>
<p><div class="speaker">Joseph Blotner</div>You use that, Mr. Davis?</p>
<p><div class="speaker">Robert Davis</div>No, sir, I never heard that&mdash;I don't think. Not frail.</p>
<p><div class="speaker">Edward Stephenson</div>Oh, you're too much of a city boy.</p>
<p><div class="speaker">Robert Davis</div>I guess so.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.34">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:00.98:00',
					'endtime','00:23:50.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>What about these two that are&mdash;that always have interested me:
						"dust-dark" and "dust-dawn." The time of day which is "dust-dark" and
						"dust-dawn."</p>
<p><div class="speaker">William Faulkner</div>Twilight.</p>
<p><div class="speaker">Atcheson Hench</div>What does "dust" mean there?</p>
<p><div class="speaker">William Faulkner</div>It's "dusk" really.</p>
<p><div class="speaker">Atcheson Hench</div>Dusk.</p>
<p><div class="speaker">William Faulkner</div>But they say "dust." That is, they say "dus-dark" and "dus-dawn."
						They don't say "dusk-dark" and "dusk-dawn."</p>
<p><div class="speaker">Edward Stephenson</div>If you all would let me be technical I'd say that's assimilation to
						the following "d." You see&mdash;</p>
<p><div class="speaker">Joseph Blotner</div>Of course.</p>
<p><div class="speaker">Edward Stephenson</div><span class="unclear tooltip" title="Text was unclear">[The assimilated "d."]</span></p>
<p><div class="speaker">Atcheson Hench</div>Dusky dark? Have you ever, Mr. Stephenson, heard "dusk-dawn," 
						"dusk-dark"?</p>
<p><div class="speaker">Edward Stephenson</div>No, I don't know that.</p>
<p><div class="speaker">Robert Davis</div>But I've heard "dust" for dusk. For the time of day, it's just
						"dust."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.35">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:50.87:00',
					'endtime','00:24:47.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>Mr. Faulkner, you have&mdash;to come back to the story "Wash" again, which
						I read quite recently&mdash;you have Wash say "kain't," but you don't represent
						the colonel as saying that. Don't you think he would have said "kaint"
						too?</p>
<p><div class="speaker">William Faulkner</div>That was to make a distinction between their social position.</p>
<p><div class="speaker">Edward Stephenson</div>It's&mdash;it's really a sort of faking in a way. I mean I don't mean to
						be nitpicking but&mdash;</p>
<p><div class="speaker">Joseph Blotner</div>Well, don't you think really the&mdash;the colonel himself would have been
						conscious of such things as pronunciation and perhaps would have stressed it
						where Colonel Sartoris might not have?</p>
<p><div class="speaker">William Faulkner</div>I doubt that. It was Wash's flat drawl. The colonel would have said
						"kaint"; Wash would have said "kayint." And the only way I know to do that
						is to spell it slightly different. Wash has a flatter voice than the
						plantation owner&mdash;and the master. <span class="unclear tooltip" title="Text was unclear">[Though they would use the
							same&mdash;]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.36">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:47.09:00',
					'endtime','00:25:19.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>In that same story, Millie says to Wash, "You'll have to
						holler&mdash;you'll have to holler louder than that." "Holler," I suppose.
						H-O-L-L-E-R, you spelled it. That comes back to the question we asked last
						week about what would you do with "winder" if you wanted to have one of the
						poor white trash&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>It's a problem, isn't it. Because now if this were one of the upper
						class characters, H-O-L-L-E-R would represent "holla," But knowing that it's
						Wash's daughter it's going to be "holler."</p>
<p><div class="speaker">William Faulkner</div>That's right.</p>
<p><div class="speaker">Edward Stephenson</div>So we have to know something about the background.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.37">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:19.04:00',
					'endtime','00:26:21.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, do you&mdash;you have&mdash;must have an astonishingly retentive
						memory for figures of speech. I noticed you spoke of a coffin "as neat as a
						sewing basket." And the talk of some women as kind of like "bees murmuring
						in a water bucket." Do you&mdash;are these phrases that are proverbial in your
						talk&mdash;in the talk of people in Mississippi, or do you make these up, or&mdash;or
						what? They're delightful phrases.</p>
<p><div class="speaker">William Faulkner</div>Those, I imagine, the circumstances of the story invent themselves,
						suggest to me. I've never heard them as&mdash; <span class="unclear tooltip" title="Text was unclear">[as
							analogies]</span>. Simply the circumstances of the story&mdash;or the desire
						to describe that the best I can in comprehensible phrases or figures of
						speech.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.38">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:21.45:00',
					'endtime','00:27:29.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Do you have any idea which kinds of things you like most to use
						figures of speech&mdash;make figures of speech out of. Flowers or fish or horses
						or dogs or trees or just&mdash;or don't you worry and care less?</p>
<p><div class="speaker">William Faulkner</div>I would say that the&mdash;the&mdash;the instant I am involved
						with does the commanding in that.</p>
<p><div class="speaker">Robert Davis</div>I think one of the most unusual kinds of figures of speech that I've
						noticed&mdash;when certain of your characters&mdash;certain of your more perceptive
						characters like Benjy in <em>The Sound and the fury </em>and
						Darl in <em>As I Lay Dying</em>&mdash;their sense of smell seems to
						be very acute. I know Darl says&mdash;when it's getting ready to rain he says it
						smells like sulfur. Well, even Quentin in <em>The Sound and
							the Fury</em> remembers the smell of the honeysuckle and so forth. I&mdash;I
						think that's particulary good and it's rather unusual, I think. Because usually that's one
						of the senses&mdash;one of the five that's left out so often in writing. It gives
						that added touch of realism to it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.39">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:29.10:00',
					'endtime','00:28:07.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, may I ask you if I&mdash;if there's something here in
						Mississippi folklore that I missed, not having grown up in Mississippi. Cora
						says, "His face looked like one of these here Christmas masts that had
						been&mdash;that had done been buried a while and then dug up." What is a Christmas
						"mast"?</p>
<p><div class="speaker">William Faulkner</div>Oh, the toy mask, the comic faces that children buy in the&mdash;in the
						stores for Halloween and&mdash;and Christmas time.</p>
<p><div class="speaker">Unidentified participant</div>And "mast" is really for "mask"?</p>
<p><div class="speaker">William Faulkner</div>Mask, yes.</p>
<p><div class="speaker">Unidentified participant</div>Just like "dusty" for "dusk."</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.40">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:07.23:00',
					'endtime','00:28:54.61:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>Mr. Faulkner, in "The Bear," here's a word I don't know.  I wonder if you
						can tell me what it means. The word is B-O-T: "The old game crossing over
						which he'd trailed bucks wounded and not wounded and more than once seen
						them anything but wounded bot out of the woods and up and across the
						embankment&mdash;" What's that word B-O-T mean? It looks like a verb having to do
						with rapid motion or something of the sort.</p>
<p><div class="speaker">William Faulkner</div>I would have to see it.</p>
<p><div class="speaker">Edward Stephenson</div>Maybe it's a misprint?</p>
<p><div class="speaker">William Faulkner</div>It is a misprint, yes. There's no such word as that. If it's not a
						misprint for "but" then&mdash;</p>
<p><div class="speaker">Edward Stephenson</div>"But out of the woods" would make sense. Or could it be "hot out of
						the woods"?</p>
<p><div class="speaker">William Faulkner</div>That's a good point.</p>
<p><div class="speaker">Edward Stephenson</div>Wherever </p>
<p><div class="speaker">William Faulkner</div>"Hot."</p>
<p><div class="speaker">Edward Stephenson</div>"Hot out of the woods."  I see.</p>
<p><div class="speaker">William Faulkner</div>Yes, I remember. It was hot.</p>
<p><div class="speaker">Edward Stephenson</div>"Hot out of the woods."  That's a misprint. </p>
<p><div class="speaker">William Faulkner</div>Running at top speed. Yes, "hot out of the woods."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.41">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:55.90:00',
					'endtime','00:29:25.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Do all&mdash;do many people use the word "chapping" for having children.
						Somebody said, "We ain't nigh done chapping yet."</p>
<p><div class="speaker">William Faulkner</div>That's quite colloquial. You hear that only in the remote hill
						country. People that&mdash;that have no&mdash;where there are no Negroes and their
						speech is not corrupted by&mdash;by Negro inflections and the Negro usage of words.
						That came from Scotland.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.42">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:25.90:00',
					'endtime','00:29:47.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Is "lawed"&mdash;would you say of&mdash;the same thing of "lawed." "He should be
						lawed for treating her so." In other words arrested or something.</p>
<p><div class="speaker">William Faulkner</div>That's <span class="unclear tooltip" title="Text was unclear">[not all]</span>&mdash;making a verb out of a noun.</p>
<p><div class="speaker">Atcheson Hench</div>You did that yourself?</p>
<p><div class="speaker">William Faulkner</div>No. I've heard that.</p>
<p><div class="speaker">Atcheson Hench</div>Oh, I see.</p>
<p><div class="speaker">William Faulkner</div>That's&mdash;I imagine that that's in Georgia and Alabama, too.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.43">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:47.42:00',
					'endtime','00:30:27.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>What does this mean, Mr. Faulkner? Let's see, "They all piled over
						the crest of the hill just in time to see Tomey's Turl a way out across the
						flat almost to the woods and the dogs streaking down the hill and out onto
						the flat. They just tongued once and when they
						came boiling up around Tomey's Turl they looked like they were going to jump
						up and lick him in the face."</p>
<p><div class="speaker">William Faulkner</div>Another verb made from a noun. They "gave tongue" once.</p>
<p><div class="speaker">Atcheson Hench</div>You've never hunted.</p>
<p><div class="speaker">Edward Stephenson</div>No, I'm not a hunter.</p>
<p><div class="speaker">Atcheson Hench</div>Well, Mr. Faulkner is. He's heard the sound of dogs.</p>
<p><div class="speaker">William Faulkner</div>That means they were&mdash;they were on game. They bayed once, then they
						recognized Tomey's Turl, a friend, so they quit.</p>
<p><div class="speaker">Edward Stephenson</div>I see.</p>
<p><div class="speaker">William Faulkner</div>They just caught up with him to lick his hand, to run along with
						him.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.44">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:29.08:00',
					'endtime','00:30:45.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, what is a tie-up in a barn?</p>
<p><div class="speaker">William Faulkner</div>That's anything you tie cattle to. It's near a rack for feeding.</p>
<p><div class="speaker">Atcheson Hench</div>Oh, I see. A rack or a bar.</p>
<p><div class="speaker">William Faulkner</div>A hitch or a lead is snapped into the halter&mdash;tied to a
						<span class="unclear tooltip" title="Text was unclear">[bar]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.45">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:46.83:00',
					'endtime','00:31:08.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edward Stephenson</div>And another place, Mr. Faulkner, "Black John came out of the trees,
						driving, soopled out flat and level as a hawk." Is that a verb made from the
						adjective "supple"?</p>
<p><div class="speaker">William Faulkner</div>Yes, they pronounce "supple," "soople."</p>
<p><div class="speaker">Edward Stephenson</div>I've heard the pronunciation of the adjective as "soople." This is a
						verb in the past tense, "soopled."</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right. To&mdash;to "soople" is to do something rapid and
							limber.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_1.46">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:09.00:00',
					'endtime','00:31:44.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Atcheson Hench</div>Mr. Faulkner, some days ago I remember your saying that you thought
						you could move, say, to a Maine village, a fishing village or a lumbering
						village, and it wouldn't be long before you would be writing about people
						there. Yet I remember yesterday you said that it was the inflection, the
						sound of the words and the dialect that was very much a part of the people
						that you write about. Don't you think that, though you could see stories
						quickly in the lives of this imagined Maine group of people, it would take
						you a long time to get on to their talk, their pronunciation, and so forth?
							<span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="post" action="/transcripts/search">
<input type="text" size="30" name="q[text]" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio11_1.1" class="hidden">Warmup</a></li>
<li><a href="#wfaudio11_1.2" class="hidden">Blend Words</a></li>
<li><a href="#wfaudio11_1.3" class="hidden">Introduction</a></li>
<li><a href="#wfaudio11_1.4" class="hidden">Mississippi v Southern Dialect</a></li>
<li><a href="#wfaudio11_1.5" class="hidden">Types of Dialect</a></li>
<li><a href="#wfaudio11_1.6" class="hidden">Dialect and Status</a></li>
<li><a href="#wfaudio11_1.7" class="hidden">Suption</a></li>
<li><a href="#wfaudio11_1.8" class="hidden">Pussel-gutted</a></li>
<li><a href="#wfaudio11_1.9" class="hidden">Kernal v Cunnel</a></li>
<li><a href="#wfaudio11_1.10" class="hidden">Peakling</a></li>
<li><a href="#wfaudio11_1.11" class="hidden">Ay for Yes</a></li>
<li><a href="#wfaudio11_1.12" class="hidden">Beholden</a></li>
<li><a href="#wfaudio11_1.13" class="hidden">Spelling Dialect</a></li>
<li><a href="#wfaudio11_1.14" class="hidden">Winder</a></li>
<li><a href="#wfaudio11_1.15" class="hidden">Aguer</a></li>
<li><a href="#wfaudio11_1.16" class="hidden">Ara v Ary</a></li>
<li><a href="#wfaudio11_1.17" class="hidden">Awry and Ory</a></li>
<li><a href="#wfaudio11_1.18" class="hidden">Dog v Dawg</a></li>
<li><a href="#wfaudio11_1.19" class="hidden">Hit for It</a></li>
<li><a href="#wfaudio11_1.20" class="hidden">Fragment</a></li>
<li><a href="#wfaudio11_1.21" class="hidden">Fragment</a></li>
<li><a href="#wfaudio11_1.22" class="hidden">Close</a></li>
<li><a href="#wfaudio11_1.23" class="hidden">Break, 1</a></li>
<li><a href="#wfaudio11_1.24" class="hidden">Break, 2</a></li>
<li><a href="#wfaudio11_1.25" class="hidden">Elefunk</a></li>
<li><a href="#wfaudio11_1.26" class="hidden">Jaybirds and Hell</a></li>
<li><a href="#wfaudio11_1.27" class="hidden">No more despair</a></li>
<li><a href="#wfaudio11_1.28" class="hidden">Technical Terms</a></li>
<li><a href="#wfaudio11_1.29" class="hidden">Starting Program Two</a></li>
<li><a href="#wfaudio11_1.30" class="hidden">Swurge for Surge</a></li>
<li><a href="#wfaudio11_1.31" class="hidden">Opening Program Two</a></li>
<li><a href="#wfaudio11_1.32" class="hidden">Hogfish</a></li>
<li><a href="#wfaudio11_1.33" class="hidden">Frailed</a></li>
<li><a href="#wfaudio11_1.34" class="hidden">Dust-dark and Dust-dawn</a></li>
<li><a href="#wfaudio11_1.35" class="hidden">Kain't and Class</a></li>
<li><a href="#wfaudio11_1.36" class="hidden">Holler</a></li>
<li><a href="#wfaudio11_1.37" class="hidden">Figures of Speech</a></li>
<li><a href="#wfaudio11_1.38" class="hidden">Sources of Figures</a></li>
<li><a href="#wfaudio11_1.39" class="hidden">Christmas Masts</a></li>
<li><a href="#wfaudio11_1.40" class="hidden">Bot as Misprint</a></li>
<li><a href="#wfaudio11_1.41" class="hidden">Chapping</a></li>
<li><a href="#wfaudio11_1.42" class="hidden">Lawed</a></li>
<li><a href="#wfaudio11_1.43" class="hidden">Tongued</a></li>
<li><a href="#wfaudio11_1.44" class="hidden">A Tie-up</a></li>
<li><a href="#wfaudio11_1.45" class="hidden">Soopled</a></li>
<li><a href="#wfaudio11_1.46" class="hidden">Regional Dialects Q</a></li>
</ul></aside>
		
