
            <section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 2 May 1958</h4>
<h4>OCCASION: Undergraduate Class in Contemporary American Literature,
                    Undergraduate Class in Writing, Graduate Class in American Fiction</h4>
<h4>TAPE: T-143b</h4>
<h4>LENGTH: 25:17</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio26_2.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.95:00',
					'endtime','00:00:54.48:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> I live with. No, they were imaginary. He just said, "Suppose I
                    say this to my father, would it help me? Would it clarify? Would I see clearer
                    what it is that I anguish over?"</p>
<p><div class="speaker">Frederick Gwynn</div>The feeling between him and his sister is pretty strong, though,
                        <span class="unclear tooltip" title="Text was unclear">[isn't it]</span>?</p>
<p><div class="speaker">William Faulkner</div>Yes, yes. But in Caddy's opinion he was&mdash;was such a&mdash;a
                    weakling that even if they had been no kin, she would never had chosen him for
                    her sweetheart. She would have chosen one like the&mdash;the ex-soldier she
                    did, but never anybody like Quentin.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:56.00:00',
					'endtime','00:01:17.95:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Is Candace a common name in Mississippi or&mdash;?</p>
<p><div class="speaker">William Faulkner</div>No. No, Caddy seemed a nice name for her, and I had to think of
                    something to justify it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:20.76:00',
					'endtime','00:02:27.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Joseph Blotner</div>You said that your vision of Caddy was one of the things that started you
                    on the novel. What qualities other than bravery seem to you to make her such a
                    person <span class="unclear tooltip" title="Text was unclear">[that you]</span> could feel that strongly about?</p>
<p><div class="speaker">William Faulkner</div>She was independent herself. She was confident. She was compassionate
                    enough to take care of the idiot child. That was no burden to her.
                    If&mdash;her mother never had to say "Caddy, I want you to look after
                    Benjamin this afternoon." Because she loved him. She would have done that
                    anyway. And she was convinced that she could do the best for him. If what she
                    couldn't do, Dilsey would tend to, <span class="unclear tooltip" title="Text was unclear">[with that]</span> Benjamin would
                    be all right with her. She could look after him. And that she could take care of
                    all of them. If there was something that would be pleasant for them to do, she
                    would run the affair.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:34.63:00',
					'endtime','00:03:17.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I'm curious about Jason  <span class="unclear tooltip" title="Text was unclear">[that Negro boy  
                        tells him to keep his hands out of his pockets, because he's falling on his
                        face all the time.  He stumbles. Why, was he fat and clumsy when he was younger]</span>?</p>
<p><div class="speaker">William Faulkner</div>Probably that was a mannerism, keeping his hands in his pocket. To me,
                    that&mdash;that presaged his future, something of greediness and grasping,
                    selfishness. That he may have kept his hands in his pocket to guard whatever
                    colored rock that he had found that was for him&mdash;represented the
                    million dollars he would like to have someday.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:17.25:00',
					'endtime','00:04:17.51:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>In the thumbnail sketch you describe&mdash;describe Luster as being a
                    man of fourteen capable of taking care of an idiot and entertaining him at the
                    same time. Why&mdash;why do you consider Luster a man?</p>
<p><div class="speaker">William Faulkner</div>Because he could do a man's job. At this time the idiot was twice his
                    size, was actually dangerous. The idiot, by that time, was&mdash;was a man,
                    and yet Luster at fourteen could cajole him when necessary, could trick him,
                    could even apply enough physical force when necessary to keep him in hand. It's
                    like the lion tamer is&mdash;is a man. It means simply that he's big enough
                    for his job. That's what Luster&mdash;I meant by that. In Luster's
                    terminology, a man is anyone who is big enough to do what he has to
                        do.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:24.21:00',
					'endtime','00:05:43.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in part two of <em>The Sound and the Fury</em>, the
                    little Italian girl <span class="unclear tooltip" title="Text was unclear">[following Quentin, is this to
                        represent]</span> ?</p>
<p><div class="speaker">William Faulkner</div>I'm sorry. I don't remember her. I'll have to get that book and look at
                    it.  I&mdash;I can't remember her. Maybe
                    Mr. Gwynn could prompt me a little there?</p>
<p><div class="speaker">Frederick Gwynn</div>She was the sister of Julio. Quentin really  sees in
                    her some innocence and calls her little sister quite a bit.</p>
<p><div class="speaker">William Faulkner</div>Is that in Cambridge?</p>
<p><div class="speaker">Unidentified participant</div>Yes, sir, or outside of Cambridge&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, I mean when he was Harvard. Well, that's probably what it was. No
                    symbolism. It was&mdash;he had a&mdash;a&mdash;a&mdash;a
                    tenderness, a&mdash;an admiration for&mdash;for women, for girls and
                    also a&mdash;a sublimation of the concept of virginity after his tragic
                    situation with his sister. It may be that's what it was.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:47.92:00',
					'endtime','00:05:55.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Does Quentin commit suicide by jumping in the river or&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Yes, by drowning. Yes.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:07.40:00',
					'endtime','00:08:08.86:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you say that the&mdash;some things you don't
                        know exactly why you put them in.  Would you say that the so-called
                        psychological critics could now <span class="unclear tooltip" title="Text was unclear">[tell]</span> you why you put them into your
                        books?</p>
<p><div class="speaker">William Faulkner</div>A good psychologist certainly could or he would be a bad psychologist if
                    he couldn't. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that&mdash;that one
                    reads a book from the same jumping off place that one writes a book, that one
                    reads a book from his own background of&mdash;of observation, imagination,
                    and experience, too.  That no one man can put into a book what a dozen men
                    can&mdash;can read into it.</p>
<p><div class="speaker">Unidentified participant</div>But don't you think artistic control keeps the psychologist from
                        analyzing the writing </p>
<p><div class="speaker">William Faulkner</div>No'm, I don't think so. Maybe I don't understand what you mean by
                    artistic control.</p>
<p><div class="speaker">Unidentified participant</div>Well, don't you have to put the things in a certain order, objectify
                    them, and make them just the opposite from what a psychologist <span class="unclear tooltip" title="Text was unclear">[wants
                        them]</span> ?</p>
<p><div class="speaker">William Faulkner</div>I wouldn't think so. The writer is&mdash;is writing from his own
                    observation, imagination, experience, and out of the same background which the
                    psychologist operates from. That is, from the&mdash;call it Christianity,
                    the&mdash;the Caucasian race. The same background of education, of
                    environment, which is the same time&mdash;period in time, and they would
                    have some of the identical ideas which came from that near to identical
                    backgrounds, which are identical in the period of time, in the&mdash;the
                    culture of the country, of the speech, of the literature.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:10.68:00',
					'endtime','00:09:27.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in <em>As I Lay Dying</em>, what was the significance
                    of Darl's lying in front of his mother's coffin after it was saved from the
                    fire?</p>
<p><div class="speaker">William Faulkner</div>Darl was mad. He did things which it seemed to me he&mdash;he had to
                    do, or he insisted on doing. His reasons I could&mdash;could try to
                    rationalize to&mdash;to suit myself, or even if I couldn't rationalize his
                    reasons to please me, I had to accept the acts because Darl insisted on doing
                    that. I mean that&mdash;that any character that you write takes charge of
                    his own behavior. You can't make him do things once he comes alive and stands up
                    and casts his own shadow. Darl did things which I'm&mdash;I'm sure were for
                    his own mad reasons, quite logical. I couldn't always understand why he did
                    things, but he did insist on doing things, and when we would&mdash;would
                    quarrel about it, he always won, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because at
                    that time he was alive. He was under his own power.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:33.48:00',
					'endtime','00:10:41.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you mentioned that your characters are  dilemma of
                    life. Are any of them actually successful in reaching a point where life is
                    not&mdash;does not present itself as a dilemma?</p>
<p><div class="speaker">William Faulkner</div>Well, they reach a point where life is no longer a&mdash;a&mdash;an
                    uncopeable dilemma. There is one, a sewing machine agent called Ratliff,
                    that&mdash;that handled living pretty well. There are others that handled it
                    pretty well. I think Dilsey did, though hers was tragic. But it never
                    did&mdash;it might have dented her head a little, but it
                    never beat her to her knees. Ratliff got along quite well with it, because he
                    realized&mdash;recognized his own limitations and the fact that the dilemma,
                    although it was insoluble, was not uncopeable with. I think Flem
                    Snopes&mdash;he coped with it pretty well.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:51.71:00',
					'endtime','00:12:09.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div><span class="unclear tooltip" title="Text was unclear">[Where did you find all your information on the Chickasaw
                        Indians? Are there records]</span>
                    ?</p>
<p><div class="speaker">William Faulkner</div>Yes'm. There&mdash;there are records there, but I never did do much
                    research. I would&mdash;I probably got my information about Indians as I've
                    got it about most of the other things I know, from listening to people and
                    adding a little imagination to it. I suspect that&mdash;that no Chickasaw
                    would recognize my Chickasaws, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but people that
                    do know more about Mississippi's history don't quarrel too much with my picture
                    of Chickasaw Indians. And also, I have known some of their descendants. They
                    have mixed with white people or with Negroes&mdash;are still in my country.
                    And I don't think that&mdash;that people are all that different no matter
                    what color they are.  That people are different more because of the pressure of
                    their environment than because of their blood.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:12.37:00',
					'endtime','00:13:50.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>
                    <span class="unclear tooltip" title="Text was unclear">[accept and endure]</span> throughout your work ?</p>
<p><div class="speaker">William Faulkner</div>That probably refers to man getting along within the human predicament. 
                    That you've got to accept it because the only other choice is to cut your
                    throat. If you cope with it, within your capacity to give when it's stronger
                    than you, then you endure. And the only alternative to enduring is also
                    to&mdash;to cease. And man is&mdash;is here through no choice of his
                    own. He has&mdash;as far as he knows he's not going anywhere else, and if he
                    does anything with what time he knows who he is, it will have to be while he is
                    here, and he had better, I think, teach himself to accept the predicament and to
                    endure in it and still get as much pleasure as he can without doing harm to
                    anyone. Or if he's bent on doing good to people, that's well enough. Let him
                    uplift man. But in order to accomplish anything, to be a writer, to be
                    a&mdash;a doctor, to do anything well, to&mdash;even to have fun, you've
                    got to accept the predicament and endure in it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:50.70:00',
					'endtime','00:14:58.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I wonder how did you happen to have come up with the 
                    title <em>The Sound and the Fury</em> from <em>Macbeth</em>, and I thought that perhaps it came from the
                    speech&mdash;I mean the speech that it came from&mdash;"all our yesterdays"&mdash;of Macbeth himself,
                    and I wondered if <span class="unclear tooltip" title="Text was unclear">[there was any merit in]</span> the analogy of the
                    character Macbeth who having created his own chaos, inflicted it on life and the
                    universe <span class="unclear tooltip" title="Text was unclear">[with the same actions of]</span>  <span class="unclear tooltip" title="Text was unclear">[Compson]</span> .</p>
<p><div class="speaker">William Faulkner</div>No, it came simply from the&mdash;the words themselves,
                    the&mdash;the ringing sound of the phrase&mdash;"A tale told by an idiot
                    full of sound and fury." It had nothing to do with&mdash;with Macbeth's
                    character. It was simply from the phrase.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:58.28:00',
					'endtime','00:15:22.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div><span class="unclear tooltip" title="Text was unclear">[The part of]</span> Benjy is the tale told by an idiot, I
                    would assume.</p>
<p><div class="speaker">William Faulkner</div>Yes.  Yes, the book began as a short story. Benjamin, of course, was a
                    deliberate choice from the biblical Benjamin.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:22.94:00',
					'endtime','00:17:22.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Sorry.</p>
<p><div class="speaker">Unidentified participant</div>I was wondering in your Indian stories again, "Lo!" and "A Courtship" and
                    in "A Justice," except for the framework, your stories&mdash;these stories
                    are very humorous, but in "Red Leaves," while there is a good deal of wry humor,
                    that story seems to be much more serious, and I wondered if you'd care to
                    comment.</p>
<p><div class="speaker">William Faulkner</div>Only, in primitive peoples&mdash;I mean by primitive peoples
                    a&mdash;a small group which are obsolete inside another
                    culture&mdash;the&mdash;the distance between what is humor and what is
                    tragic is never very great, that it&mdash;it may be&mdash;be funny now
                    but you better watch out. That was simply that&mdash;that the same
                    conditions, the same ingredients, with just a little more or little less fire
                    under it might make something completely different. That the&mdash;the
                    implacable pursuit of that poor Negro was funny to anybody but him, and that
                    not&mdash;and also it was not funny to the Indians that had to stop sitting
                    down to get up and walk him down to catch him. But the
                    picture of&mdash;of those lazy people that didn't want to do that having
                    to&mdash;to catch that Negro, to me, was funny. But the result, the purpose
                    of it, was anything but funny. The Indians that went to call on President
                    Jackson was funny, but it wasn't funny to the Indians and certainly wasn't very
                    funny to President Jackson.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:24.99:00',
					'endtime','00:20:04.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>I think what I intend to say is man's immediate 
                    behavior is the result of the pressure of his environment. The&mdash;the
                    method in which he behaves, of course, is&mdash;is heredity.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>I'm sorry.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>I think that heredity, if the word means anything, must be a constant
                    factor. That would not change. It would alter. It would evolve. Man's behavior,
                    which at one moment is this and in&mdash;under another situation is that, is
                    because of the pressure of the immediate environment. But irregardless of
                    his&mdash;his blood, his heritage, circumstance will compel him
                    to&mdash;to make choices. He will make the choice according to the pressure
                    of the environment.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>Ma'am.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>Maybe we mean different things by&mdash;by environment. When I use
                    that term I mean the immediate conditions of&mdash;of&mdash;of a moment.
                    The environment that has&mdash;has shaped a child's character from the time
                    it was born until it's ten years old has become a part of heritage, by that
                    time. I use environment as the immediate moment. That is, environment, to me,
                    now is&mdash;is us in this room.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:11.19:00',
					'endtime','00:21:25.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Does this mean that young Bayard Sartoris, for example, inherited death
                    by violence?</p>
<p><div class="speaker">William Faulkner</div>Death by violence was&mdash;was a part of his past. It was
                    a&mdash;a&mdash;a part of the creed of his family. He inherited that
                    creed. He didn't have to&mdash;to function according to it. Which he didn't,
                    he refused to do that. Because he was&mdash;was saying&mdash;trying to
                    repudiate the past, not to cling to it. His tradition was that&mdash;that
                    death by violence came sooner or later if you stuck to the creed of an
                    eye-for-an-eye, blood-for-blood, and the&mdash;the emptiness of that sort of
                    pride. That was his inheritance.  But his behavior was because of his
                    environment, which had&mdash;which was the result of a lost war in which
                    people should have had enough of blood-for-blood and an eye-for-an-eye. That
                    that solved nothing.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:31.85:00',
					'endtime','00:23:19.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, do you recall a short story you wrote called "Delta Autumn"?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I wonder what would be the comment of Flem Snopes if such a story were
                    told to him as being true?</p>
<p><div class="speaker">William Faulkner</div>Why, I suppose he would&mdash;he wouldn't be too interested in it
                    because there would be no percentage in going to the woods for two weeks just to
                    shoot deer. He would be familiar with it. It would be a&mdash;a&mdash;a
                    foolish way to spend two weeks. Was that what you meant?</p>
<p><div class="speaker">Unidentified participant</div> <span class="unclear tooltip" title="Text was unclear">[different stories.]</span> Is&mdash;this is the story
                    where the  going off to Arizona <span class="unclear tooltip" title="Text was unclear">[with this Negro woman]</span>.
                    Isn't that part of the story of "Delta Autumn"?</p>
<p><div class="speaker">William Faulkner</div>"Delta Autumn" was a&mdash;a camp of deer hunters in which
                    a&mdash;a young woman, a Negress, the discarded mistress of&mdash;of one
                    of the white hunters, came to the camp to see him.</p>
<p><div class="speaker">Unidentified participant</div>That was the part of the story that I was referring to, that what Flem Snopes' comment would be on that
                    sort of thing happening within his environment.</p>
<p><div class="speaker">William Faulkner</div>Well, that was his environment. He lived there, too. He just didn't go
                    deer hunting. He probably had&mdash;had children by a Negro woman
                        himself.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:22.05:00',
					'endtime','00:24:22.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">John Church</div>Sir, you've mentioned that these people in <em>The Sound
                        and the Fury</em> are doomed. Is it your theory also that people everywhere
                    are doomed or is it just these people in Mississippi?</p>
<p><div class="speaker">William Faulkner</div>No, no, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> only the&mdash; <span class="event tooltip" title="There was some Faulkner laughing happening">[Faulkner laughing]</span> no, only&mdash;only the Compson
                    family&mdash;</p>
<p><div class="speaker">John Church</div>Sir?</p>
<p><div class="speaker">William Faulkner</div>
                            Only that Compson family.</p>
<p><div class="speaker">John Church</div>Oh, the Compsons.</p>
<p><div class="speaker">William Faulkner</div>That they had refused to accept now and
                    tomorrow. And there's no place for them in now because they wouldn't accept it.
                    Or maybe that's backward, if there had been a place for them, they wouldn't have
                    been Compsons. No, that's what&mdash;what Dilsey meant by the first and the
                    last. It was the Compsons, that family. That was Quentin's thought. It's not
                    Mississippians nor folks in Jefferson, but&mdash;but "us Compsons are doomed,
                    that we have had it."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio26_2.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:24.14:00',
					'endtime','00:24:39.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Mr. Faulkner, we're forced to accept now and tomorrow and thank you very
                    much.</p>
<p><div class="speaker">William Faulkner</div>Oh, thank you all. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio26_2.1" class="hidden">Quentin and Father [part 2]</a></li>
<li><a href="#wfaudio26_2.2" class="hidden">The Name Candace</a></li>
<li><a href="#wfaudio26_2.3" class="hidden">Caddy's Character</a></li>
<li><a href="#wfaudio26_2.4" class="hidden">Jason's Character</a></li>
<li><a href="#wfaudio26_2.5" class="hidden">Luster's Character</a></li>
<li><a href="#wfaudio26_2.6" class="hidden">Little Italian Girl</a></li>
<li><a href="#wfaudio26_2.7" class="hidden">Quentin's Death</a></li>
<li><a href="#wfaudio26_2.8" class="hidden">Psychological Critics</a></li>
<li><a href="#wfaudio26_2.9" class="hidden">Darl Bundren</a></li>
<li><a href="#wfaudio26_2.10" class="hidden">Successful Characters</a></li>
<li><a href="#wfaudio26_2.11" class="hidden">Chickasaw Indians</a></li>
<li><a href="#wfaudio26_2.12" class="hidden">Enduring</a></li>
<li><a href="#wfaudio26_2.13" class="hidden">Macbeth and Compsons</a></li>
<li><a href="#wfaudio26_2.14" class="hidden">Title and Benjy</a></li>
<li><a href="#wfaudio26_2.15" class="hidden">Indian Stories</a></li>
<li><a href="#wfaudio26_2.16" class="hidden">Heredity v Environment</a></li>
<li><a href="#wfaudio26_2.17" class="hidden">Bayard's Heredity</a></li>
<li><a href="#wfaudio26_2.18" class="hidden">"Delta Autumn"</a></li>
<li><a href="#wfaudio26_2.19" class="hidden">Mississippi and Doom</a></li>
<li><a href="#wfaudio26_2.20" class="hidden">Close</a></li>
</ul></aside>
        
