<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio21.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio21.2">Dramatizing His Works</a>
    </li>
    <li>
      <a href="#wfaudio21.3">Writing from Experience</a>
    </li>
    <li>
      <a href="#wfaudio21.4">Writing a Character</a>
    </li>
    <li>
      <a href="#wfaudio21.5">The Creative Process</a>
    </li>
    <li>
      <a href="#wfaudio21.6">Fact v Truth</a>
    </li>
    <li>
      <a href="#wfaudio21.7">Writing Humor</a>
    </li>
    <li>
      <a href="#wfaudio21.8">Anderson's Writing Process</a>
    </li>
    <li>
      <a href="#wfaudio21.9">Anderson and Stein</a>
    </li>
    <li>
      <a href="#wfaudio21.10">Anderson's Symbolism</a>
    </li>
    <li>
      <a href="#wfaudio21.11">Meeting Anderson</a>
    </li>
    <li>
      <a href="#wfaudio21.12">New Orleans</a>
    </li>
    <li>
      <a href="#wfaudio21.13">Writers and Society</a>
    </li>
    <li>
      <a href="#wfaudio21.14">Nature as Redemptive</a>
    </li>
    <li>
      <a href="#wfaudio21.15">Winesburg v Yoknapatawpha</a>
    </li>
    <li>
      <a href="#wfaudio21.16">Communicating with Others</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio21.1"/>
  <p> and as we get into the final month, he's answered a good many
                    questions. About the only one he hasn't heard that's familiar to all teachers
                    is, "Will that be on the examination?" Mr. Faulkner's by now an old member of the
                    English Department, although we did not accord him with the title of professor we can
                    ask him almost&#x2014;we can ask him a lot more things than we can ask
                    professors, so now's our chance.</p>
</div>
<div class="section">
  <a name="wfaudio21.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.5"/>
  <p> Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio21.6"/>
  <p>This sort of relates to the question before that, but when you are
                    writing a novel about a particular group of people and a particular environment,
                    just to what extent&#x2014;how fully do you imagine these people and this
                    environment beyond what actually goes into the novel?</p>
</div>
<div class="section">
  <a name="wfaudio21.7"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.11"/>
  <p>Do you happen to remember how you first met Mr. Anderson?</p>
</div>
<div class="section">
  <a name="wfaudio21.12"/>
  <p>Sir, I'd like to follow that up just once, if I may, sir. We were talking
                    about the background of Anderson's writing, and all of the writing out of the
                    '20s, and how people often gathered in groups in Greenwich Village and Chicago
                    and New Orleans. Was there something in New Orleans that pulled you down there,
                        or were&#x2014;were you just making a&#x2014;a trip?</p>
</div>
<div class="section">
  <a name="wfaudio21.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.15"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio21.16"/>
  <p>Yes, sir.</p>
</div>
