
			<div id="side_nav"><ul>
<li><a href="#wfaudio23_2.1" class="hidden">Fragment</a></li>
<li><a href="#wfaudio23_2.2" class="hidden">Compulsion to Belong</a></li>
<li><a href="#wfaudio23_2.3" class="hidden">Influence of TV</a></li>
<li><a href="#wfaudio23_2.4" class="hidden">Communication Gaps</a></li>
<li><a href="#wfaudio23_2.5" class="hidden">Individuals Today</a></li>
<li><a href="#wfaudio23_2.6" class="hidden">Need for Communication</a></li>
<li><a href="#wfaudio23_2.7" class="hidden">Mass Man</a></li>
<li><a href="#wfaudio23_2.8" class="hidden">Extremes v Middle</a></li>
<li><a href="#wfaudio23_2.9" class="hidden">The Beat Poets</a></li>
<li><a href="#wfaudio23_2.10" class="hidden">Prosperity v Creativity</a></li>
<li><a href="#wfaudio23_2.11" class="hidden">Hoping to Prevail</a></li>
<li><a href="#wfaudio23_2.12" class="hidden">Public v Private Art</a></li>
<li><a href="#wfaudio23_2.13" class="hidden">Misunderstood Writers</a></li>
<li><a href="#wfaudio23_2.14" class="hidden">The Hamlet as Movie</a></li>
<li><a href="#wfaudio23_2.15" class="hidden">Engaging Society</a></li>
<li><a href="#wfaudio23_2.16" class="hidden">DIdacticism</a></li>
<li><a href="#wfaudio23_2.17" class="hidden">Urban Literature</a></li>
<li><a href="#wfaudio23_2.18" class="hidden">Salinger's Characters</a></li>
<li><a href="#wfaudio23_2.19" class="hidden">Modernist Literature</a></li>
<li><a href="#wfaudio23_2.20" class="hidden">Modern Alienation</a></li>
</ul></div><div id="header">
<h3>DATE: 24 April 1958</h3>
<h3>OCCASION: Undergraduate Writing Class</h3>
<h3>TAPE: T-142b</h3>
<h3>LENGTH: 29:49</h3>
<script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit');
		      }
		      catch (e) {
			     //document.write(e);
			  }</script><hr>
</div><div id="body">
<a name="wfaudio23_2.1">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:03.76:00',
				'endtime','00:00:21.71:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong> not
					only a privilege, but everybody's right, to find mankind and love mankind and be
					accepted into mankind, and he couldn't, because mankind, as I tried to say in my
					paper, in Holden's terms, wasn't there anymore.
					</p>
<hr>
<a name="wfaudio23_2.2">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:21.72:00',
				'endtime','00:01:34.39:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, mankind, as you say, wasn't there. That&mdash;in this time, well,
						<span class="unclear tooltip" title="Text was unclear">[it isn't.]</span> The problem is  <span class="unclear tooltip" title="Text was unclear">[in things before these, would you say 
						like]</span>
					<em>Hamlet</em> or times past <span class="unclear tooltip" title="Text was unclear">[these same]</span> conditions
						<span class="unclear tooltip" title="Text was unclear">[point&mdash;man]</span> has always struggled to find mankind and often he
					can't do it.  <span class="unclear tooltip" title="Text was unclear">[It's]</span> sort of <span class="unclear tooltip" title="Text was unclear">[universal]</span>.</p>
<p><strong>William Faulkner: </strong>Except it's only now in history
					that&mdash;that man has been compelled into groups, that there was no way for him to
					exist unless he belonged to a group, that everybody has to belong to a group. If
					it's a not a union, not a trade union, not a guild&mdash;of course, they existed five
					hundred years ago&mdash;but now everybody&mdash;a teacher has got to belong to a group.
					It's&mdash;it's got to be a Phi Beta Kappa badge or got to be an income tax bracket or
					if nothing else, as I said, it's how many installments he still owes on his
					icebox or his car, that nobody belongs to himself anymore. He belongs to a
					finance company or a group or an organization. If he don't, there's no place for
					him.</p>
<hr>
<a name="wfaudio23_2.3">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:01:34.40:00',
				'endtime','00:02:04.25:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Would you <span class="unclear tooltip" title="Text was unclear">[believe that
						this system]</span>&mdash;it seems to me that this is a certain class of people,
					and it may prevail because we have television. We have certain
						<span class="unclear tooltip" title="Text was unclear">[standardizations]</span>. But I&mdash;I still think there are as many
					individuals growing up now as there were in times before.</p>
<p><strong>William Faulkner: </strong>I would like to think so. I'm
					afraid, though, that it takes so much of a man's time to be an individual now
					that he don't have very much left be a&mdash;a poet.</p>
<hr>
<a name="wfaudio23_2.4">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:02:06.52:00',
				'endtime','00:03:40.20:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Mr. Faulkner, how does a man who
					works in a chewing gum factory in Detroit communicate with a man who shepherds
					sheep in Algeria? Let's say that they're both simple, <span class="unclear tooltip" title="Text was unclear">[pensive]</span>
					men, <span class="unclear tooltip" title="Text was unclear">[and you]</span> put them together. This is the man-to-man
					confrontation that you speak of. On what terms can they communicate?</p>
<p><strong>William Faulkner: </strong>It's almost impossible because
					the only way two people can communicate is to meet one another in&mdash;in quiet. I
					don't think they can do it over any artificial means of&mdash;of communication
					like radio or&mdash;or telephone. They've got to meet face-to-face because only a very
					small part of communication is from speech, and how a&mdash;a man in Detroit and an
					Algerian shepherd can&mdash;can meet I don't know, but all they need to do to
					communicate is to meet in solitude and peace, I think. To sit on the same sand
					hill together for a while.  But the pressure is against that, that people mustn't
					do that. They must function through committees with slogans and catch phrases,
						<span class="unclear tooltip" title="Text was unclear">[the]</span> polysyllabic abstractions that really mean
					nothing.</p>
<hr>
<a name="wfaudio23_2.5">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:03:44.15:00',
				'endtime','00:04:41.58:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Don't you think nowadays that
					possibly there are a great many individuals whom&mdash;whom you don't recognize as
					individuals because they don't&mdash;don't seem to be doing anything, and that's where
					they are individuals&mdash;they're not belonging? They're not necessarily worrying
					about the next ?</p>
<p><strong>William Faulkner: </strong>I hope so. I hope there are a lot of them.</p>
<p><strong>Unidentified participant: </strong>
					
				</p>
<p><strong>William Faulkner: </strong>I don't know very many of them that are&mdash;that are free of the pressure to
					belong to something. There may be some. I would like to&mdash;to know that there are a
					great many of them.</p>
<p><strong>Unidentified participant: </strong>Well, I should think that probably in&mdash;in the teaching world, in universities
					and colleges, there might be more than elsewhere. Would you disagree with
					that?</p>
<p><strong>William Faulkner: </strong>No, I would say that there would
					be. That is the&mdash;the best, the happiest place, for the man to be an individual,
					is in college.</p>
<hr>
<a name="wfaudio23_2.6">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:04:48.22:00',
				'endtime','00:05:55.57:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong><span class="unclear tooltip" title="Text was unclear">[You're saying]</span>
					the solution is talk to everybody?</p>
<p><strong>William Faulkner: </strong>Yes.</p>
<p><strong>Unidentified participant: </strong>I'd like to suggest that this talk <span class="unclear tooltip" title="Text was unclear">[has been]</span> profoundly true, as
						I recall a <span class="unclear tooltip" title="Text was unclear">[white paper]</span> 
					if you'll examine earlier propaganda you will find an appeal to the individual,
					the individual by the millions, <span class="unclear tooltip" title="Text was unclear">[very much]</span> to the individual as he sits in a
						bazaar in Baghdad or  or in Calcutta, in his own
					language  as for one individual to another, that is where I think that they
					have their <span class="unclear tooltip" title="Text was unclear">[big success]</span>.</p>
<p><strong>William Faulkner: </strong>Yes, sir, but&mdash;but ain't most of that telling the individual something?
					It's not saying to the individual, "Talk to me." It's saying, "Listen to me."
					That's the trouble with all propaganda.</p>
<p><strong>Unidentified participant: </strong>No, sir, it is not, if I may contradict that. I think the African is very
					much invited to talk, and the proof of it that's he
					talking today, in Ghana.</p>
<p><strong>William Faulkner: </strong>Well, I certainly hope you're
					right.</p>
<hr>
<a name="wfaudio23_2.7">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:05:58.21:00',
				'endtime','00:07:00.00:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>And I would say that your
						<span class="unclear tooltip" title="Text was unclear">[mass man]</span> is a creation of western civilization. I don't
					think he exists in India. I must say  individual of the individual
					which is probably so intense. There again, I was <span class="unclear tooltip" title="Text was unclear">[very much
						struck]</span>. I couldn't help wondering whether all this about the
					howling and the hardship of the present generation couldn't be found very much
					more profoundly if you look at the lives <span class="unclear tooltip" title="Text was unclear">[of the poets]</span> and
						 <span class="unclear tooltip" title="Text was unclear">[the lives of Dickens]</span>, and the hardships . Aren't
					we merely basing ourselves upon the Cadillac standard? <span class="unclear tooltip" title="Text was unclear">[He doesn't have
						any ideals]</span>.</p>
<p><strong>William Faulkner: </strong>Isn't that the point I'm trying to make, that our culture is&mdash;is founded
					on the Cadillac ideal?</p>
<p><strong>Unidentified participant: </strong>Yes, <span class="unclear tooltip" title="Text was unclear">[that's where I agree
					with you]</span>.</p>
<hr>
<a name="wfaudio23_2.8">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:07:00.00:00',
				'endtime','00:08:08.86:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong> to inform you how 
					howl  juxtaposed to the academics, I suppose . Now, my point is that
					these are extremes of the arts. One is the&mdash;the breaking away, which is not
						<span class="unclear tooltip" title="Text was unclear">[true]</span>  howl, not speech, and I juxtapose this to the
					academic poets.  And I think we used the term a&mdash;just a shrill shriek. Now, this is not
					speech. Speech is somewhere in the middle.</p>
<p><strong>William Faulkner: </strong>Yes, that's right. I agree with that.</p>
<p><strong>Unidentified participant: </strong>You're not breaking it up, and
					you're not holding it back, but you're <span class="unclear tooltip" title="Text was unclear">[comfortable]</span>. I think
					our culture is <span class="unclear tooltip" title="Text was unclear">[accustomed]</span>  <span class="unclear tooltip" title="Text was unclear">[extremes]</span>  Perhaps it's waiting
					for <span class="unclear tooltip" title="Text was unclear">[the poet in the middle, before it starts]</span> talking and
					talking.</p>
<hr>
<a name="wfaudio23_2.9">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:08:12.09:00',
				'endtime','00:10:13.95:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Mr. Faulkner,  background of
						<span class="unclear tooltip" title="Text was unclear">[the San Francisco]</span> poets. They seem to get together in a
					group and play music and generally carouse while they create.
					And I was wondering how this would fit in with your ideas that the artist is an
					individual. Can they be individuals when they're creating as a group?</p>
<p><strong>William Faulkner: </strong>Oh, I'm sure he can. His&mdash;his pursuits in his spare time wouldn't have to
					do with his&mdash;his attitude toward his own freedom, as freedom is no good to you if
					you can't&mdash;it's worth nothing if&mdash;if you can't relinquish it now and then, use it.
					The only way you can test that you've got it is to see how far it will go.</p>
<p><strong>Unidentified participant: </strong>Can I say one more thing?</p>
<p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>The poets in San Francisco are
					unlearned. They've not read the <span class="unclear tooltip" title="Text was unclear">[greats]</span>&mdash;they've not read their
					predecessors in literature, and they resist any kind of
						<span class="unclear tooltip" title="Text was unclear">[learning]</span>, and it seems to me all the great poets, all the
					great writers have read and know <span class="unclear tooltip" title="Text was unclear">[their style]</span>, and these don't
					. And I would say that the academic poets are over-read and have no
					vitality. These people have all the vitality, and no control, and the others are
					over-controlled. Where are the middle people  <span class="unclear tooltip" title="Text was unclear">[in the poems that I read and
						the novels I read]</span>?</p>
<hr>
<a name="wfaudio23_2.10">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:10:25.61:00',
				'endtime','00:11:25.36:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Sir, do you think economically
					hard times could aid creative energy? People can't go on buying pricey cars and
					living , and it seems like a little more aggressive spirit. In
						times like this, if there were a real recession, it might not harm
					some of the individualism <span class="unclear tooltip" title="Text was unclear">[that seems to die if there is plenty of
						everything.]</span> Do you agree at all?</p>
<p><strong>William Faulkner: </strong>I don't know whether that
					would&mdash;would produce any&mdash;any more and better poetry. More people might buy what
					poetry is for sale. That&mdash;that is, if they couldn't buy the Cadillacs&mdash;and nobody likes
					to sit down and just think. He has to do something with himself, so maybe they
					may even buy poetry at the last, but it wouldn't make people write any better poetry I
					think.</p>
<hr>
<a name="wfaudio23_2.11">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:11:26.45:00',
				'endtime','00:14:02.17:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>A. K. Davis: </strong>Mr. Faulkner, your&mdash;your&mdash;your speech of
					acceptance of the Nobel Prize was one of the most encouraging things that I've
					ever heard said in my very long lifetime. You haven't changed your mind, have you?</p>
<p><strong>William Faulkner: </strong>No, sir.</p>
<p><strong>A. K. Davis: </strong>You don't think that this generation, like a former neighbor of yours
					said, is poor in spirit and common as hell, do you?</p>
<p><strong>William Faulkner: </strong>No, sir, I don't think so. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><strong>A. K. Davis: </strong>Well, then&mdash;then what do you mean in relation to what you said at that time, 
					when you accepted your Nobel Prize?</p>
<p><strong>William Faulkner: </strong>Well, I&mdash;I mean what I thought I said. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					I&mdash;I'm sorry. Maybe I don't understand your question.</p>
<p><strong>A. K. Davis: </strong>Well, I&mdash;I'm sure it's my fault, but it seems to me now that you seem
					rather hopeless about the&mdash;the prevalence of individuality and the&mdash;the human spirit,
					and that in that speech you seemed to have stressed the importance of that by
					strongly <span class="unclear tooltip" title="Text was unclear">[agreeing]</span>. Do you feel the world has changed now to
					the point where it's all but impossible for individualism <span class="unclear tooltip" title="Text was unclear">[to
						prevail]</span>?</p>
<p><strong>William Faulkner: </strong>No, sir. I've never said that. I
					was simply pointing out to&mdash;to the young writer what I believe was his trouble.
					He knows there's something wrong, but maybe he hasn't seen this, that I was
					simply trying to show him what a&mdash;a little more experience than he&mdash;has suggested
					to me may be the trouble.  That he himself without knowing it is&mdash;is constricted
					too much by the regimentation necessary for a&mdash;a nation to sacrifice as much as
					nations have to to oppose two antipathetic ideologies, that I'm convinced that
					the poet can do his bit toward supporting the manufacture of&mdash;of A-bombs and
					things like that if that is necessary and can still be a good poet. I'm
					convinced, too, that if anyone is to bring us to some sense, it's not going to
					be the people that make the A-bombs nor sell the Cadillacs. It'll be the poets,
					the artists.</p>
<hr>
<a name="wfaudio23_2.12">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:14:17.30:00',
				'endtime','00:17:04.57:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Floyd Stovall: </strong>Mr. Faulkner, I can't resist asking 
						one more question a propos of what you've just said&mdash;interests me considerably.
					If the poet must not address himself to the world to try to change it but
					must write what's in him, what he knows, then is the benefit which the poet is
					to give to the world to come from the world's recognition of what he writes or
					is he to find some point in between, writing in and of himself exclusively and
					writing what the world needs for him to write? I'm not sure whether&mdash;where&mdash;where
					a poet must fall in that dilemma, if it is a dilemma.</p>
<p><strong>William Faulkner: </strong>I still don't think he needs to
					worry about that. If&mdash;if he is writing of the&mdash;the struggles of the human heart in
					conflict with itself or with others or with its environment, he'll be writing in
					the&mdash;the recognizable terms which people have all met in their own private
					dilemmas.</p>
<p><strong>Floyd Stovall: </strong>Well, if&mdash;if it's his own&mdash;suppose
					if it's his own private world that he knows, which happens to be unlike the real
					world but is quite real to him. How is that to&mdash;how is the world to interpret
					that?</p>
<p><strong>William Faulkner: </strong>Well, we would say that&mdash;that
					every man has what you have called his own private world, but if he does not
					write about that in recognizable terms, in terms which everybody else can apply
					to his and her own private world, then it's not going to be of much value.  That
					he's got to write of his own private world in universal terms. That's what I
					mean by the&mdash;the eternal, simple, few verities which man's heart anguishes over.
					They are recognizable by anyone, who wouldn't recognize the&mdash;the&mdash;the culture and
					the economy of&mdash;of 1950. He would have to translate that into his own terms, but
					these verities that I speak of, the&mdash;the&mdash;the simple truth would be recognized
					by&mdash;by anyone of any age, of any time, which I think is the reason
					that&mdash;that&mdash;the&mdash;the good music, good poetry, the good pictures don't have any date,
					because anyone recognizes them. They're still true, what they were talking
					about, no matter what costume they wore.</p>
<hr>
<a name="wfaudio23_2.13">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:17:04.58:00',
				'endtime','00:18:47.24:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Mr. Faulkner, isn't it possible,
					though, that these eternal verities may be spoken of in certain styles,
					addressed to contemporaries and yet misunderstood and therefore neglected?
					Aren't there&mdash;aren't there writers who are addressed by their contemporary
						audiences who are totally neglected because of the&mdash;of the manner in which they were
					addressed and not because of the subject matter?</p>
<p><strong>William Faulkner: </strong>I don't know, sir. It's seemed
					that <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span> in recognizable terms&mdash;there'll always be somebody 
					to read it. I mean by recognizable terms you can write a long treatise about
					honesty, and your audience&mdash;will go to sleep in a few minutes, but if you write
					about honesty in some dramatic form in terms of recognizable people, then the
					audience will stay awake to see what happened to them, whether they got away
					with be&mdash;being dishonest or whether honesty paid. That's what I mean by
					recognizable terms.  That if you write in a&mdash;in a language, an essay, people won't
					listen because it's not familiar, but if&mdash;if you write in terms of people in
					motion, they will listen and they will learn. The&mdash;the poet can talk to people
					that way when they wouldn't listen to him at all if he wrote a speech or an
					essay.</p>
<hr>
<a name="wfaudio23_2.14">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:18:50.81:00',
				'endtime','00:20:06.90:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>How do you feel about <em>The Hamlet</em> being made into a movie and did you work on
					the script of that?</p>
<p><strong>William Faulkner: </strong>No, I'm not a moving picture man and don't probably&mdash;don't really care
					for pictures. Oh, I see one occasionally, but I suppose I don't take moving
					pictures very seriously. Maybe they come at the wrong time of day <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					to go to see. And they make too much noise, too.
					I'd rather sit down with a book and read it than to listen to something.</p>
<p><strong>Unidentified participant: </strong>Mr. Faulkner, <span class="unclear tooltip" title="Text was unclear">[but]</span> that is the great medium it seems
					for the artist . Shakespeare  Shakespeare who speaks to all
					people&mdash;to the people who can't read.</p>
<p><strong>William Faulkner: </strong>That's right. What's against it is it costs too much money. It's
					impossible for one man to have the&mdash;the camera and the film and to make exactly
					what he thinks is right and true to make. You can do that with a dollar's worth
					of paper and a nickel pencil but you can't do with that film. It costs too
					much.</p>
<p><strong>Unidentified participant: </strong>
					<span class="unclear tooltip" title="Text was unclear">[You can write a bad novel but you can't make a bad movie.]</span> 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
<hr>
<a name="wfaudio23_2.15">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:20:06.91:00',
				'endtime','00:21:11.81:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Mr. Faulkner, did you say that the
					highest form of endeavors is not to sit back and say, "Well, I won't be a part
					of this," but it's saying that "It's is sad, and I'm going to do something about
					it." How&mdash;how do you reconcile this to what you say, the fact that the writer
					shouldn't care whether he makes any effect on society?</p>
<p><strong>William Faulkner: </strong>Oh, that's easy, because you
					can't&mdash;the&mdash;the one thing that&mdash;that man can do for eight hours a day is work, but
					you can't work even longer than eight hours a day. You can be a reformer, but
					you don't need to be a poet at the same time. You'll be a poet for eight hours
					and be a reformer for eight hours and sleep for eight hours.
					It's&mdash;there's&mdash;there's no reason why they should ever conflict. If you try to be a
					reformer and a poet at the same time, then you're going to be writing propaganda,
					which stops being poetry.</p>
<hr>
<a name="wfaudio23_2.16">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:21:12.77:00',
				'endtime','00:22:37.84:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>I&mdash;I disagree with you. Some of the
					greatest poetry in the English literature is didactic. It's teaching, preaching
						<span class="unclear tooltip" title="Text was unclear">[poetry]</span>. I mean, Wordsworth was one of them, I think. I
					think we underrate the&mdash;the&mdash;the didactic <span class="unclear tooltip" title="Text was unclear">[element in
					poetry]</span>.</p>
<p><strong>William Faulkner: </strong>Wouldn't you have liked his poetry if he were not preaching?</p>
<p><strong>Unidentified participant: </strong>Yes, but I think that&mdash;I think we need to come again to an appreciation of
					his didacticism. I think it's a time again almost for preaching
						poetry.</p>
<p><strong>William Faulkner: </strong>Well, that's&mdash;</p>
<p><strong>Unidentified participant: </strong>
					
				</p>
<p><strong>William Faulkner: </strong>Well, maybe a poet could be&mdash;be happier being a preacher and a poet, too,
					but I think that&mdash;that he's primarily either a poet or primarily either a
					preacher, and if he's got to try to be both at the same time, one is going to
					suffer.</p>
<p><strong>Unidentified participant: </strong>Well, I don't know. I like your <em>Fable</em> very much and admire it as a great,
						great novel, but I think <span class="unclear tooltip" title="Text was unclear">[it's a]</span> &mdash;a terrible sermon, <span class="unclear tooltip" title="Text was unclear">[a
						frightening sermon]</span>. I use the word terrible as you do.</p>
<p><strong>William Faulkner: </strong>It wasn't intended to be a
					sermon. That is, it was a matter of indifference to the writer whether it was a
					sermon or not. He was simply writing about something that seemed&mdash;seemed true and
					moving to him.</p>
<hr>
<a name="wfaudio23_2.17">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:22:38.77:00',
				'endtime','00:24:47.23:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Joseph Blotner: </strong>Sir, last spring you spoke of the
					work of&mdash;when you were asked, of William Styron and Shelby Foote and Warren Eyster
					as young writers whose novels elicited some approval from you. They seemed
					promising writers. Do you think that the fact that they, as far as I know,
					write&mdash;do not write about cities gives them more of a possibility for showing the
					human heart in conflict with itself?</p>
<p><strong>William Faulkner: </strong>I would say that in a city,
					the&mdash;to belong, to conform that I spoke of is more apparent, not necessarily more
					prevalent, but there's&mdash;there's&mdash;there's more space between you and&mdash;and the wall
					of pressure in the country where there is&mdash;is not so much fewer people but&mdash;but
					fewer of the constant symptoms of&mdash;of belonging, of being grouped, of being
					pressed. I don't think that their work is any better because they&mdash;they&mdash;they
					write about the country. I think that to me that work, too, reflects the same
					thing, that&mdash;that the characters don't participate in that free, almost jolly,
					<span class="unclear tooltip" title="Text was unclear">[ordinary]</span> moil and seethe of simple people, that the characters of&mdash;of Dickens,
					every time they stepped outdoors, they were in it. They were right in the middle of the human
					race. Every simple act they performed they were in the middle of mankind,
					the human race, which the characters in the books today don't seem to be able to
					attain.</p>
<hr>
<a name="wfaudio23_2.18">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:24:50.46:00',
				'endtime','00:26:28.45:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Joseph Blotner: </strong>You'd feel that Salinger, for
					example, just hasn't created enough characters who seem to be a part of this big
					human race. There isn't just a&mdash;there just isn't enough for Holden Caulfield to
					come in contact with before he can get anywhere?</p>
<p><strong>William Faulkner: </strong>He couldn't get to them. He
					tried. There was the chance with the professor that understood him and&mdash;and could
					have helped him, but there he had&mdash;right in there he had run into a&mdash;a
					preconception which was foisted on him, that every man if&mdash;if&mdash;if he's not happily
					married, he must be homosexual. That's the&mdash;the pressure to belong to a group, to
					be typed, that you can't be yourself, you've got to&mdash;to belong to something. If
					he&mdash;if he ran into two people that should have been a part of the&mdash;of the moil and
					seethe of&mdash;of simple people which I spoke about, that was the prostitute and the
					pimp, and the only point they met on was that&mdash;that shabby five-dollar bill, that
					there was no human contact otherwise, even when the&mdash;the man hit him it might
					have been a door swinging into him. There's nothing human in it. The only human
					contact he could reach was with his little sister, who was too young to&mdash;to see
					that she knew that he was in trouble, but she had no conception of&mdash;of what
					the anguish and trouble was.</p>
<hr>
<a name="wfaudio23_2.19">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:26:33.29:00',
				'endtime','00:28:34.30:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Mr. Faulkner&mdash;</p>
<p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Joseph Blotner: </strong>Before you spoke about, when you gave your list of the great masters
					 you seemed to end with Twain and with James, and then later when you
					spoke about the subject of our cycle of decadence, you named the years 1912,
					'13, '14. Do you think it may be possible that there is a coincidence between
					that time, and the beginning of the cycle, if indeed there is one, and the works
					of such great European masters as Joyce, Proust, Mann, Gide, the people who seem
					to deal with fiction in an interiorizing way as opposed to the outdoor world of
					such earlier masters that you mentioned like Fielding, Smollett?</p>
<p><strong>William Faulkner: </strong>I would say that the&mdash;the people
					who had matured as writers by 1910 had the same concept of&mdash;of the world of
					humanity as the people two hundred years ago, but since 1910, the&mdash;the young man
					who had no actual experience of that world had no concept of it, that he had&mdash;has
					been born into a different world, that the world he is born into is the world
					that is&mdash;is enclosed by all the&mdash;the subtle pressure to belong to something.
					Whatever the&mdash;the reason that&mdash;that everyone must belong to something is&mdash;is not
					the point that I was trying to make. The fact is that, it seems to me, it is
					there, that if&mdash;if you're going to be an eccentric, the first thing you know
					you're going to be lumped with a group of eccentrics.</p>
<hr>
<a name="wfaudio23_2.20">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:28:40.18:00',
				'endtime','00:29:42.63:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>But isn't it just as greatly
					pronounced in the 19th century novels, both English and French, Dickens' <em>Great 
						Expectations</em> or Stendhal's <em>Red and the Black</em>, the heroes in both of those novels?  Aren't they
					betrayed once they tried to touch out or reach out and touch society?</p>
<p><strong>William Faulkner: </strong>Yes, sir, but the society they
					touched was a&mdash;a moil and seethe of simple people. When the&mdash;the character
					nowadays reaches out to touch something, he&mdash;he touches a&mdash;a formula. He touches
					something that&mdash;that's called "labor" or called "people's democracy" or "social
					welfare" or "communism" or "anti-communism" or "Citizen's Council." He's don't
					touch just a moil and seethe of simple people functioning on man's own simple
					desires to&mdash;to have&mdash;have fun at no cost or as little cost as possible. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
<hr>
</div>
		
