<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio06_1.1">Opening</a>
    </li>
    <li>
      <a href="#wfaudio06_1.2">Lyrical Narrative</a>
    </li>
    <li>
      <a href="#wfaudio06_1.3">Absalom's Central Character</a>
    </li>
    <li>
      <a href="#wfaudio06_1.4">Mr. Coldfield</a>
    </li>
    <li>
      <a href="#wfaudio06_1.5">Sutpen's Dealings</a>
    </li>
    <li>
      <a href="#wfaudio06_1.6">Christmas' Race</a>
    </li>
    <li>
      <a href="#wfaudio06_1.7">Gavin's Racial Theory</a>
    </li>
    <li>
      <a href="#wfaudio06_1.8">Clytie and Bon</a>
    </li>
    <li>
      <a href="#wfaudio06_1.9">Bon and Christmas</a>
    </li>
    <li>
      <a href="#wfaudio06_1.10">Christmas and Oedipus</a>
    </li>
    <li>
      <a href="#wfaudio06_1.11">Sutpen and Heathcliff</a>
    </li>
    <li>
      <a href="#wfaudio06_1.12">Individual Religion</a>
    </li>
    <li>
      <a href="#wfaudio06_1.13">The Writing Process</a>
    </li>
    <li>
      <a href="#wfaudio06_1.14">Revising</a>
    </li>
    <li>
      <a href="#wfaudio06_1.15">Absalom's Origin</a>
    </li>
    <li>
      <a href="#wfaudio06_1.16">Using Real People</a>
    </li>
    <li>
      <a href="#wfaudio06_1.17">Sutpen and Civil War</a>
    </li>
    <li>
      <a href="#wfaudio06_1.18">Origin of Light in August</a>
    </li>
    <li>
      <a href="#wfaudio06_1.19">Sutpen's Wrestling Negroes</a>
    </li>
    <li>
      <a href="#wfaudio06_1.20">Popeye's Character</a>
    </li>
    <li>
      <a href="#wfaudio06_1.21">Title of Light in August</a>
    </li>
    <li>
      <a href="#wfaudio06_1.22">Pronouncing Yoknapatawpha</a>
    </li>
    <li>
      <a href="#wfaudio06_1.23">Wash and Sutpen</a>
    </li>
    <li>
      <a href="#wfaudio06_1.24">Dark Rooms</a>
    </li>
    <li>
      <a href="#wfaudio06_1.25">The South of Today</a>
    </li>
    <li>
      <a href="#wfaudio06_1.26">Hightower's Fate</a>
    </li>
    <li>
      <a href="#wfaudio06_1.27">Quentin and Shreve</a>
    </li>
    <li>
      <a href="#wfaudio06_1.28">Writing Absalom</a>
    </li>
    <li>
      <a href="#wfaudio06_1.29">Ike Learning Courage</a>
    </li>
    <li>
      <a href="#wfaudio06_1.30">Absalom's Title</a>
    </li>
    <li>
      <a href="#wfaudio06_1.31">Failure as a Poet</a>
    </li>
    <li>
      <a href="#wfaudio06_1.32">His Best Book</a>
    </li>
    <li>
      <a href="#wfaudio06_1.33">Style in Light in August</a>
    </li>
    <li>
      <a href="#wfaudio06_1.34">Absalom's Lawyer</a>
    </li>
    <li>
      <a href="#wfaudio06_1.35">Readers' Meanings</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio06_1.1"/>
  <p> questions having to do with his own work and on anything that 
                        people want to consider about the problems of writing in general.  It would help everybody in the room, 
                        I think, if each questioner spoke up not only for Mr. Faulkner&#x2019;s hearing but for everyone else&#x2019;s.  Mr. Faulkner. </p>
</div>
<div class="section">
  <a name="wfaudio06_1.2"/>
  <p>Sir, I come from India, and I've been trying to read a good many of your
                    books. The problem I am finding it extremely difficult to follow
                    the narrative method that you adopt. Is it true to say that you adopt a lyrical
                    method to a narrative, and a novel is also a narrative of certain events and what the
                    characters do, what happens to them? We find that in a novel like As I Lay Dying or The Sound and the
                        Fury or the Sanctuary that it's difficult to
                    follow the event. Is it true to say that you follow the lyrical method while
                    trying to tell a story? Am I correct?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.3"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.6"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.7"/>
  <p>Sir, if&#x2014;if he is not&#x2014;does not definitely have Negro blood, well,
                    what is the significance of Gavin Stevens's surmise there at the end when he
                    explains that there's a conflict of blood? That that is only a guess that stands
                    for a guess and not a final knowledge of &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.8"/>
  <p>Sir, when in Absalom, Absalom!, after the killing
                        of Charles Bon, Clytie tries to keep Rosa Coldfield from&#x2014;from coming in, does Clytie
                    realize that Charles Bon is her own half-brother? Is that the reason that she's
                    trying to keep Rosa out, do you think? Does she feel any relationship?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.9"/>
  <p>Mr. Faulkner, do you think that a comparison can justly be made between
                    Joe Christmas and Charles Bon's son? Is there much in their behavior you think
                    that's similar?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.10"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.12"/>
  <p>Mr. Faulkner, in Wild Palms, there is a passage
                    strongly reminiscent of the Grand Inquisitor in Dostoevsky's Brothers 
                        Karamazov, the import of which seems to condemn not Christ
                    but organized religion. In Light in August, much of the
                    action seems to stem from almost fanatical Calvinism. Would it be true to
                    surmise that you favor strongly individual rather than an organized
                    religion?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.14"/>
  <p>How many times do you rewrite the 
                    hundreds of drafts?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.15"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.20"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.21"/>
  <p>Sir, I've been told that the title of Light in August
                    came from a colloquialism for the completion of a pregnancy. Is that true?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.22"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.23"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.24"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.25"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.26"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.27"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.28"/>
  <p>Sir, along that same line, you mentioned at the English Club that you had
                    had to lay aside Absalom at one point and then resume it
                        later on. I wonder if it might not have been the point where&#x2014;toward the end of
                    Miss Rosa's section where you might have felt that she was running away with
                    you, because right after that Shreve comes in. Is that in your memory at all,
                    sir?</p>
</div>
<div class="section">
  <a name="wfaudio06_1.29"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.30"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.31"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.32"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio06_1.33"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.34"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio06_1.35"/>
  <p>Yes, sir.</p>
</div>
