
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio11_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 7 May 1957</h4>
<h4>OCCASION: University Radio Show</h4>
<h4>TAPE: T-123d</h4>
<h4>LENGTH: 5:34</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio11_2.1">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:03.95:00',
					'endtime','00:01:43.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>I've had no trouble yet when I have been in New England. I would
						have to listen to it and get into the habit of&mdash;of remembering to use their
						own terms, their own diction, but there was no difficulty about
						understanding what they meant.</p>
<p><span class="speaker">Edward Stephenson</span>Some of&mdash;some of us were talking about Thomas Wolfe this morning, and
						we were under the impression&mdash;though I don't know that anyone has studied it
						closely&mdash;that he's very good at handling New England dialect and New York
						dialect as well as his native southern, so perhaps you could.</p>
<p><span class="speaker">Joseph Blotner</span>Well, you have dealt with English speech in&mdash;in some of your short
						stories and French speech in <em>A Fable</em>, it seems to
						me.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.2">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:45.33:00',
					'endtime','00:02:25.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward Stephenson</span>I don't mean to be nitpicking. I'm really asking these questions for
						my own information. But another time you have Wash say "whupped" for the&mdash;for
						"whipped." Wouldn't the colonel have said "whupped" too? And if so, why did
						you give Wash the spelling&mdash;?</p>
<p><span class="speaker">William Faulkner</span>Probably not. The colonel wouldn't have said "whupped." He&mdash;by&mdash;by
						nature, he might've&mdash;have said "whupped," but he had associated with gentle
						folk and other plantation owners long enough to have said "whipped" without
						knowing he was changing his speech. But Wash would still have said
						"whupped," just like the Negro would say "whupped."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.3">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:25.74:00',
					'endtime','00:02:44.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Atcheson Hench</span>Mr. Faulkner, what is a "gout"? A "gout" of mud, 
							<span class="unclear tooltip" title="Text was unclear">[or a ]</span> ?</p>
<p><span class="speaker">William Faulkner</span>Or&mdash;or a gob</p>
<p><span class="speaker">Atcheson Hench</span>I see. A blob or something of that sort.</p>
<p><span class="speaker">William Faulkner</span><span class="unclear tooltip" title="Text was unclear">[That's right.  A blob]</span>, yes.</p>
<p><span class="speaker">Atcheson Hench</span>Is that used a great deal in Mississippi? It must be, of course.</p>
<p><span class="speaker">William Faulkner</span>I've&mdash;I've heard that in England.</p>
<p><span class="speaker">Atcheson Hench</span>Have you?</p>
<p><span class="speaker">William Faulkner</span>Mmhmm.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.4">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:44.01:00',
					'endtime','00:03:21.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Robert Davis</span>I wondered, Mr. Faulkner, when the Reverend Shegog talks about the
						"whelming flood," just what that meant.</p>
<p><span class="speaker">William Faulkner</span>The overwhelming.</p>
<p><span class="speaker">Robert Davis</span>"Overwhelming flood."</p>
<p><span class="speaker">Joseph Blotner</span>I think that's one of the most interesting passages from the point of
						view of what happens to speech under the stress of strong emotion. At the
						beginning of his sermon he speaks very properly and with elegant
						enunciation <span class="unclear tooltip" title="Text was unclear">[and diction]</span>.</p>
<p><span class="speaker">Atcheson Hench</span>Then when he warms up.</p>
<p><span class="speaker">Joseph Blotner</span>And at the end, there's an immense difference, I think.</p>
<p><span class="speaker">Robert Davis</span>I think "recollection" becomes "ricklickshun." Is that right Mr.
						Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Robert Davis</span>And "brethren and sisteren" becomes "breddren en sistuhn."</p>
<p><span class="speaker">William Faulkner</span>That's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.5">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:21.01:00',
					'endtime','00:03:39.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward Stephenson</span>Here's one good pronunciation I'd like to commend Mr. Faulkner for.
						The old colored woman says, "Stop right whar you is. You ain't never crossed
						dese steps whilst the Cunnel's here and you ain't ghy' do hit now." And it's
						spelled G-H-Y-apostrophe. And I've heard that very often. Of course, it's a
						reduced form of "gwine."</p>
<p><span class="speaker">William Faulkner</span>That's right</p>
<p><span class="speaker">Edward Stephenson</span>"You ain't ghyn do it now."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.6">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:39.57:00',
					'endtime','00:04:08.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Atcheson Hench</span>We've enjoyed being with you for the past fifteen minutes for this
						chat. There is much more on the subject that we could say, but our time has
						run out on us again. Joining us around the table today were Mr. Ed
						Stephenson, Mr. Joseph Blotner, and Mr. Robert Davis, and our special guest
						for the program was Mr. William Faulkner. This is Atcheson Hench thanking
						you for joining our discussion and inviting you to listen again next week
						at this time for another chat on some interesting aspect of the language we
						speak.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.7">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:12.36:00',
					'endtime','00:04:35.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Atcheson Hench</span><span class="unclear tooltip" title="Text was unclear">[Well,]</span> the operation's over.</p>
<p><span class="speaker">Edward Stephenson</span><span class="unclear tooltip" title="Text was unclear">[It's a wonder]</span> we didn't get in another one I'd
						like to ask you about.</p>
<p><span class="speaker">Atcheson Hench</span>I had a good one I&mdash;<span class="event tooltip" title="There was some laughter happening">[laughter]</span>  
						<span class="unclear tooltip" title="Text was unclear">[a real one.]</span></p>
<p><span class="speaker">Joseph Blotner</span>We're off the air, fellows.</p>
<p><span class="speaker">Atcheson Hench</span>The Bible one.  I meant to ask you, has Bible language had much to do with them. And
						it's down here at the bottom, and I didn't see it.</p>
<p><span class="speaker">Edward Stephenson</span>That would have been a good question. Shame on you.</p>
<p><span class="speaker">Joseph Blotner</span>Well how about it? Why don't you ask it?</p>
<p><span class="speaker">William Faulkner</span>We'll save that for next week then.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.8">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:35.84:00',
					'endtime','00:05:02.80:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward Stephenson</span>You have Wash say, "Sho, Kernel." Now what would
							the colonel have said? <span class="unclear tooltip" title="Text was unclear">["Shore."]</span> He wouldn't
						have said <span class="unclear tooltip" title="Text was unclear">["sure"]</span>.</p>
<p><span class="speaker">William Faulkner</span>No, he would have said "shur." There would be a little "r."</p>
<p><span class="speaker">Edward Stephenson</span>Yeah, a little "r" on the end of it.</p>
<p><span class="speaker">William Faulkner</span>And with Wash there wouldn't be one.</p>
<p><span class="speaker">Edward Stephenson</span>Well I thought that was your point. "Sho" is without the
						 and the Colonel would have said "shore."</p>
<p><span class="speaker">Joseph Blotner</span>One of the most interesting words I found, I think, is "sholly." When&mdash;I
						notice peace officers very often seem to say that in the books.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.9">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:03.71:00',
					'endtime','00:05:22.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Atcheson Hench</span>What is the answer to that question? Does the Bible English have
						much influence on  I suppose that it did.</p>
<p><span class="speaker">William Faulkner</span>Yes. It's the only&mdash;only reading a lot of them do. And it's the only
						speech delivered by one&mdash;<span class="event tooltip" title="There was some introductory announcer happening">[introductory announcer]</span> individual.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio11_2.10">&nbsp;</a><div class="audio play-clip" id="wfaudio11_2.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio11_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:22.30:00',
					'endtime','00:05:34.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Atcheson Hench</span><span class="event tooltip" title="There was some introductory music happening">[introductory music]</span> He's going to play it over for us. You don't have time, I'm
						sure.</p>
<p><span class="speaker">Joseph Blotner</span>No, I don't know that we'd be interested in hearing it&mdash;would you?</p>
<p><span class="speaker">Atcheson Hench</span>No, you don't care for it.</p>
<p><span class="speaker">Edward Stephenson</span>I want to hear.</p>
<p><span class="speaker">Atcheson Hench</span>Mr. Faulkner, I&mdash; 
						<span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio11_2.1" class="hidden">Regional Dialects A</a></li>
<li><a href="#wfaudio11_2.2" class="hidden">Whupped v Whipped</a></li>
<li><a href="#wfaudio11_2.3" class="hidden">Gout</a></li>
<li><a href="#wfaudio11_2.4" class="hidden">Shegog's Dialect</a></li>
<li><a href="#wfaudio11_2.5" class="hidden">Ghy' for Gwine</a></li>
<li><a href="#wfaudio11_2.6" class="hidden">Close</a></li>
<li><a href="#wfaudio11_2.7" class="hidden">Scriptural Influence 1</a></li>
<li><a href="#wfaudio11_2.8" class="hidden">Sho and Sholly</a></li>
<li><a href="#wfaudio11_2.9" class="hidden">Scriptural Influence 2</a></li>
<li><a href="#wfaudio11_2.10" class="hidden">Close</a></li>
</ul></aside>
		
