
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio04.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 11 March 1957</h4>
<h4>OCCASION: McAleer's Twentieth-Century Literature Class</h4>
<h4>TAPE: T-110andT-111</h4>
<h4>LENGTH: 50:36</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio04.1">&nbsp;</a><div class="audio play-clip" id="wfaudio04.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:01:47.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This question is about <em>Light in August</em>. Could you
                    tell me your purpose in placing the chapter about Hightower's early life in the
                    end of the novel rather than when Hightower first appeared?</p>
<p><span class="speaker">William Faulkner</span>It may be this. Unless a&mdash;a book follows a&mdash;a simple direct line
                        such as a story of&mdash;of adventure, it becomes a&mdash;a series of pieces. It's a good deal
                    like&mdash;like dressing a showcase window. It takes a certain amount
                        of&mdash;of judgment and&mdash;and taste to arrange the different pieces in the most
                    effective place in juxtaposition to one another. That was the reason. It seemed
                    to me that was the most effective place to put that to&mdash;to underline
                    the&mdash; the tragedy of Christmas's story by the tragedy of&mdash;of
                    his antithesis. A man who&mdash;Hightower was a man who&mdash;who wanted
                    to be better than he was afraid he would. He had failed his wife. Here was
                    another chance he had, and he failed his&mdash;his Christian oath as a man
                    of God, and he escaped into&mdash;to his past where some member of his
                    family was brave enough to match the moment.  But it was put at that point in the
                    book, I think, because I thought that was the most effective place for
                    it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.2">&nbsp;</a><div class="audio play-clip" id="wfaudio04.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:49.96:00',
					'endtime','00:02:13.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, do you find it easier to create a female character in literature or
                    a male character?</p>
<p><span class="speaker">William Faulkner</span>It's much more fun to try to write about women because I think women are
                    marvelous. They're wonderful, and I know very little about them, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and so I&mdash;it's much more fun to try to
                    write about women than about men. More difficult, yes.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.3">&nbsp;</a><div class="audio play-clip" id="wfaudio04.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:15.55:00',
					'endtime','00:03:36.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in "Delta Autumn," in a&mdash;the thoughts of Ike McCaslin when he's talking
                    to the colored girl, you write, "Maybe in a thousand or two thousand years in
                        America, but not now, not now." I was&mdash;I was wondering how you might apply that to the
                    present-day conditions that have happened since the writing of the story, with
                    the Supreme Court decision and what-not.</p>
<p><span class="speaker">William Faulkner</span>He used "a thousand or two thousand years" in his despair. He had seen a
                    condition which was intolerable, which shouldn't be, but it was, and he was
                    saying, in effect, that&mdash;that this&mdash;this must be changed. This
                    cannot go on, but I'm too old to do anything about it, that maybe in a thousand
                    years, somebody will be young enough and strong enough to do something about it.
                    That was&mdash;that was all he meant by the numbers, but I think that he
                    saw, as&mdash;as everybody that thinks, that a condition like that is&mdash;is
                    intolerable, not so much intolerable to man's sense of justice but maybe
                    intolerable to&mdash;to a condition, to the condition, that&mdash;that
                    any country has reached the point where, if it is to endure, it must have no
                    inner conflicts based on a&mdash;a wrong, a basic human wrong.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.4">&nbsp;</a><div class="audio play-clip" id="wfaudio04.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:42.06:00',
					'endtime','00:05:10.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in your&mdash;your story "A Rose&mdash;A Rose for Emily," was she drawn from a&mdash;from a real
                    person&mdash;real character, or is she made up out of your mind?</p>
<p><span class="speaker">William Faulkner</span>No, no, I think a writer uses observation, experience, imagination. He
                    never knows just how much of which he does use, but I don't believe you can
                    write a very good or very moving story about a human being in the&mdash;the&mdash;the 
                    proscribed limits of&mdash;of a story or a book and take a human being from life. It
                    takes sixty years to&mdash;to create a complete and rounded human being, but
                    the writer hasn't got that much time. He's only got thirty minutes, or at the
                    best, three or four hours, and so probably any writer is&mdash;has made a
                    composite picture. It's&mdash;it's people he knew or things he imagined,
                    things he read, things he heard, but he wouldn't bother with trying to&mdash;to reduce
                    to paper or to put onto paper any living creature. Also, there's a&mdash;a 
                    quality of&mdash;of God-like omnipotence that the fury of&mdash;of
                    creating something gives you, and you're not satisfied with the way God did it.
                    You can improve on him just a little. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.5">&nbsp;</a><div class="audio play-clip" id="wfaudio04.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:11.01:00',
					'endtime','00:05:54.57:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in "Was," can you tell us how Uncle Buck successfully foiled an
                    attempt by Mr. Hubert Beauchamp to get him to marry Sophonsiba? Well, eventually
                    they do get married, and I wonder if you could give us any idea as to how she
                    eventually caught him?</p>
<p><span class="speaker">William Faulkner</span>Oh, I think that&mdash;that women are much stronger, much more
                    determined than men, and just because these men had wasted an evening over a
                    deck of cards, that hadn't changed Miss Sophonsiba's intentions at all. And
                    probably Uncle Buck finally just gave up. That was his fate, and he&mdash;he
                    might just as well quit struggling. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.6">&nbsp;</a><div class="audio play-clip" id="wfaudio04.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:54.58:00',
					'endtime','00:07:03.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, can you tell us where Sutpen acquired his money in "Wedding in the
                    Rain," when he came back and he&mdash;first, he came back with the architect
                    and all his&mdash;the Negroes or sort of creatures that he had, and built
                    his house, and later on came back with the furnishings.</p>
<p><span class="speaker">William Faulkner</span>He very likely looted his Caribbean father-in-law's plantation when he
                    married the daughter. I don't know that I ever decided myself just how he did
                    it, but very likely he looted and wrecked&mdash;wrecked the whole place,
                    took&mdash;took the girl because he didn't want her especially. He wanted a
                    son. He wanted to establish his dynasty. And I imagine that&mdash;that he&mdash;he got
                    that money to the States and then had to hide it here and there. There were no
                    banks in those days, no safe place to put it. Probably was&mdash;was gold,
                    something that was intrinsic of itself, and he would go off wherever he had
                    buried it and dig up a little more when he needed it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.7">&nbsp;</a><div class="audio play-clip" id="wfaudio04.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:05.85:00',
					'endtime','00:08:08.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in your story "The Bear," why did Boon kill Sam Fathers?</p>
<p><span class="speaker">William Faulkner</span>Because Sam asked him to. Sam's life had finished then. He was an old
                    man. He was sick, and&mdash;and Sam at that point represented his whole
                    race. The white man had dispossessed the whole race. They had nothing left, and
                    Sam was old. He was weak and sick. That was the&mdash;the Greek conception.
                    And Sam knew that Boon and this little boy who was too young to have used the
                    knife, or whatever it was, would defend Sam's right to die and would approve of
                    the fact that Boon, the instrument, was willing to&mdash;to kill Sam. But
                    Sam was done with life, and he wanted that done, and&mdash;and Boon was the
                    servant that did it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.8">&nbsp;</a><div class="audio play-clip" id="wfaudio04.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:11.96:00',
					'endtime','00:09:53.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in "A Rose for Emily," is it possible to take Homer Barron and Emily
                    and sort of show that one represents the South and the North? Was there&mdash;was there anything
                    on your part there trying to show the North and the South in sort of a battle?
                    Maybe Miss Emily representing the South coming out victorious in the odd way
                    that she did?</p>
<p><span class="speaker">William Faulkner</span>That would be only incidental. I think that&mdash;that the writer is
                    too busy trying to create flesh and blood people that will stand up and cast a
                    shadow to have time to&mdash;to be conscious of&mdash;of all the
                    symbolism that he may put into what he does or what people may read into it,
                    that <span class="unclear tooltip" title="Text was unclear">[if]</span>he had time to&mdash;that is, if one individual could&mdash;could write the
                    authentic, credible flesh-and-blood character and at the same time deliver the
                    message, maybe he would, but I don't believe any writer is&mdash;is capable of doing
                    both, that he's got to choose one of the two. Either he is delivering a message,
                    or he's trying to create flesh-and-blood, living, suffering, anguishing human
                    beings. And as any man works out of his&mdash;his past, since any man&mdash;no man is
                    himself, he's a sum of his past, and in a way, if you can accept
                    the&mdash;the term, of his future, too. And this struggle between the South
                    and the North could have been a part of my background, my experience, without me
                    knowing it. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.9">&nbsp;</a><div class="audio play-clip" id="wfaudio04.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:56.74:00',
					'endtime','00:11:04.67:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, why is it in "Death Drag," Jock left Captain&mdash;despite
                    Captain Warren's plea to stay there or to accept the raincoat or to accept any
                    sort of job. Was there anything besides pride that made him leave, <span class="unclear tooltip" title="Text was unclear">[fly off in]</span>
                        that old crate?</p>
<p><span class="speaker">William Faulkner</span>Yes, it was&mdash;well, pride was about what it was.
                    The&mdash;it's, of course&mdash;It is probably true of all&mdash;all flying
                    people, but I do know that&mdash;that the flying people out of that war,
                    most of them would've been better off if they had died on the eleventh of
                    November, that few of them were any good to&mdash;to try to take up the
                    burden of peace, and this&mdash;this man was&mdash;was lost and doomed.
                    Of course, Warren was different. He had managed to cope with&mdash;with
                    1919, but this other man would never cope with 1919. He was hopeless. He was
                    doomed.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.10">&nbsp;</a><div class="audio play-clip" id="wfaudio04.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:05.89:00',
					'endtime','00:12:49.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in your novels, you said in one of the other classes that you begin
                    with a character in mind, or more than one character. In your short stories, do
                    they&mdash;do you conceive of them in the same way, or do you start with a
                    person or do you&mdash;?</p>
<p><span class="speaker">William Faulkner</span>Sometimes with a person, sometimes with an anecdote. But
                    the&mdash;the short story is conceived in the same terms that the book is.
                    The&mdash;the first job the craftsman faces is to tell this as quickly and
                    as simply as I can. And if he's good, if he's of&mdash;of the first <span class="unclear tooltip" title="Text was unclear">[order]</span>,
                    like Chekhov, he can do it every time in two or three thousand words, but if
                    he's not that good, sometimes it takes him eighty thousand words. But they
                    are&mdash;are similar, and he is simply trying to tell something which was
                    true and moving in the shortest time he can, and then, if he has sense enough,
                    stop. That is, I don't believe the man or the woman sits down and says, "Now I'm
                    going to write a short story," or "Now I'm going to write a novel." It's an idea
                    that begins with the&mdash;with the&mdash;the thought, the image of a
                    character or of an anecdote and, even in the same breath, almost like lightning,
                    it&mdash;it begins to take a shape that he can see whether it's going to be
                    a short story or a novel. Sometimes, not always. Sometimes he thinks it'll be a
                    short story and finds that he can't. Sometimes it looks like it's to be a novel,
                    and then, after he works on it, he sees that it's not, that he can tell it in
                    two thousand or five thousands words. No rule to it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.11">&nbsp;</a><div class="audio play-clip" id="wfaudio04.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:51.90:00',
					'endtime','00:13:22.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, is it true that you don't read your critics?</p>
<p><span class="speaker">William Faulkner</span>Yes, that's right. </p>
<p><span class="speaker">Unidentified participant</span>Could you elaborate on that? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, when the&mdash;the work is finished, and it don't suit me, and
                    I'm the one that's got to be suited, and that one didn't, so by that time I'm
                    busy working on another one, and I just don't get around to reading the critics
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because that to me is water under the
                    bridge. You see, there's nothing more I can do to it. And he can't do anything
                    to it either. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.12">&nbsp;</a><div class="audio play-clip" id="wfaudio04.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:23.89:00',
					'endtime','00:13:35.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Do you ever read your own work over again after a lapse of,
                    say&mdash;</p>
<p><span class="speaker">William Faulkner</span>No, that's the nice thing about writing. That's always one book you
                    won't have to read, no matter how long <span class="unclear tooltip" title="Text was unclear">[it is]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.13">&nbsp;</a><div class="audio play-clip" id="wfaudio04.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:34.25:00',
					'endtime','00:13:53.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you have any trouble remembering, say, a short story you might've
                    written in 1925 or something like that?</p>
<p><span class="speaker">William Faulkner</span>I remember the people, but I can't remember what story they are in, nor
                    always what they did. I have to go back and look at it to unravel what the
                    person was doing. I remember the character, though.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.14">&nbsp;</a><div class="audio play-clip" id="wfaudio04.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:53.60:00',
					'endtime','00:14:40.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. Faulkner, when you read, do you frequently find that you get so many
                        ideas after reading a few pages that you find yourself more willing and
                    interested in beginning to write something or continue to read? That is, do you
                    think writers find difficulty in reading?</p>
<p><span class="speaker">William Faulkner</span>Well, I'm&mdash;I'm convinced that the writer never stops working, that even when
                    he's reading, he&mdash;he is not deliberately looking for&mdash;for
                    ideas or what we might say&mdash;call inspiration, but he never knows just
                    when from&mdash;from what page, what paragraph, in what book something might
                    strike him. He's got to put that book down and get a piece of paper and write.
                    I'm convinced of that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.15">&nbsp;</a><div class="audio play-clip" id="wfaudio04.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:40.95:00',
					'endtime','00:15:52.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>When you think of a short story or a novel taking shape in
                    your mind, and you know which form it's to take, how much of a pattern do you
                    have in mind as it takes shape, before you get it down on paper?</p>
<p><span class="speaker">William Faulkner</span>Not always too much. If you&mdash;if it's all complete,
                    the&mdash;the form and the pattern, too, then it's a <em>tour de force</em>. That's
                    just a matter of sitting down and swatting it out, but if&mdash;if it's an
                    idea and then begins to take a&mdash;a tremendous and nebulous, almost
                    formless shape, then the book itself commands its&mdash;its progress, that
                    the book itself takes charge and does a certain amount of selecting. I think
                    that you think of&mdash;of any number of&mdash;of things, actions, that
                    the characters might perform and what they might say that there's no place in
                    the story that you're telling for. They sound fine to you, but there just ain't
                    any place in that story, that the&mdash;the book itself has taken charge,
                    says, "No, no, we don't want that. We'll have this one."
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.16">&nbsp;</a><div class="audio play-clip" id="wfaudio04.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:55.28:00',
					'endtime','00:16:36.76:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>When writing a novel or a short story, do you get obsessed with your
                    thoughts, and do you write constantly for hours on end, or do you more or less
                    look at it objectively&mdash; ?</p>
<p><span class="speaker">William Faulkner</span>Well, it's&mdash;it's fun to do, and the tendency is to&mdash;to
                    overdo it just like you're in a game, something you like, that
                    you&mdash;your judgment would say you'd better stop now, you're getting
                    tired, you're not&mdash;not doing too well, but it's still fun, and you keep
                    on. I've made&mdash;I tried to make one rule, to stop while it's still hot.
                    That is, to leave it while I'm looking good, as <em>Gentlemen
                        Prefer Blondes</em> says.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.17">&nbsp;</a><div class="audio play-clip" id="wfaudio04.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:36.73:00',
					'endtime','00:17:06.26:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you ever jump up in the middle of the night and write something
                    down?</p>
<p><span class="speaker">William Faulkner</span>Oh, yes. Yes, lots of times. I've never had any&mdash;any order. I
                    have heard of people that can set aside so many hours a day and&mdash;or to
                    write so many words a day, but that has never been for me. I write when it's
                    hot, then I quit and rest, and then I get at it again, sometimes fourteen or
                    sixteen hours a day, and then sometimes I won't write a word for fourteen or
                    sixteen days.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.18">&nbsp;</a><div class="audio play-clip" id="wfaudio04.18">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:10.83:00',
					'endtime','00:20:04.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in <em>Intruder in the Dust</em>, I believe you say that
                    integration in the South could only be accomplished by the South itself through
                    some external means of triggering, you might say? I think you used the
                    expression "a snowball starting an avalanche."</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>Well, exactly how far do you think this is going right now, this
                    snowball?</p>
<p><span class="speaker">William Faulkner</span>It was going along too slowly, I&mdash;I mean, not too slowly for
                    the white people in the South, but too slowly for&mdash;for the Negro. But
                    it was moving. It&mdash;it was actually in motion. The last two or three
                    years, it has stopped and&mdash;and in ways, has retrograded. There was a
                    little too much pressure from outside. But there are&mdash;are people in the
                    South that, more than&mdash;than just&mdash;just me, that recognize the
                    situation as being intolerable, not from a humanitarian point of view, but from
                    a practical point of view, that a country cannot endure with a minority as big
                    as seventeen million people, second-rate citizens. It just&mdash;faced with
                    the&mdash;with the trouble that we face in the world,
                    that's&mdash;that's bad&mdash;bad business.</p>
<p><span class="speaker">Unidentified participant</span>And you think that this triggering effect lasted too long, that it
                    should've been ceased sooner?</p>
<p><span class="speaker">William Faulkner</span>Well, it&mdash;the&mdash;the push carried on too long. If there'd been a nudge
                    and then, stop, and let the ball move of its own weight. But success goes to
                    anyone's head, and it creates its own illusion, and the people who had felt that
                    things were going too slow, that that's&mdash;anything that slow was not
                    progress, it was difficult to tell them to stop. You couldn't expect them to
                    stop. That that has&mdash; has done harm, but I think that will not really
                    delay equality for the Negro. It will cause a great deal of&mdash;of trouble
                    and anguish, and individuals will suffer, but I think the course of&mdash;of
                    the Negro's advancement in the South hasn't been hurt by this. I don't think
                    it's been helped very much by it, except that&mdash;that somebody somewhere
                    has got to nudge us now and then, that we do go too slow if it's left to
                    ourselves. People are too prone to say, "Oh, well, things are all right." Like the
                    sign in the Pullman Car that says, "Quiet is requested for the sake of those
                    who have already retired." That sort of thing, you know.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.19">&nbsp;</a><div class="audio play-clip" id="wfaudio04.19">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:09.03:00',
					'endtime','00:21:28.84:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I&mdash;I understand with <em>Sanctuary</em>, you've said that
                    it was written for the sensational value of it. Would you say now for a young
                    writer, who might be trying to break into it, do you think that he should devote
                    his time and talents, if any, towards a sensational type of work, or do you
                    think that he should try and write more or less from the soul, you might say, or
                        write as he&mdash;as he feels, rather than what he feels might be accepted?</p>
<p><span class="speaker">William Faulkner</span>I would say, if he is creating characters which are flesh-and-blood
                    people, are believable, and are honest and true, then he can use sensationalism
                    if he thinks that's an effective way to tell his story. But if he's writing just
                    for sensationalism, then he has betrayed the&mdash;his vocation, and he
                    deserves to suffer from it. That is, sensationalism is&mdash;is, in a way,
                    an incidental tool, that he might use sensationalism as the carpenter picks up
                    another hammer to drive a nail, but he doesn't&mdash;the carpenter don't
                    build a house just to drive nails. He drives nails to build a house.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.20">&nbsp;</a><div class="audio play-clip" id="wfaudio04.20">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:34.02:00',
					'endtime','00:21:57.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Would you say <em>Peyton Place</em> was justified in the&mdash;in the
                    sensationalism? Have you read that?</p>
<p><span class="speaker">William Faulkner</span>I don't know the book, but if&mdash;if they are flesh-and-blood
                    people, if&mdash;if he was trying to write about human beings rather than
                    about sensation in the sensationalism, Yes, I will accept and pass. But if he was
                    just trying to write sensationalism, then that's another horse.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.21">&nbsp;</a><div class="audio play-clip" id="wfaudio04.21">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:57.78:00',
					'endtime','00:22:18.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you have time to read quite a bit?</p>
<p><span class="speaker">William Faulkner</span>Plenty of time. I don't do it. I read the books I knew and loved when I
                    was a young man, read them over and over. The new ones I don't&mdash;don't
                    keep up with too well, unless someone tells me, "This is a&mdash;a good book,
                    you should read it." Then I will stop and read it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.22">&nbsp;</a><div class="audio play-clip" id="wfaudio04.22">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:20.32:00',
					'endtime','00:24:26.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>When you read these books you've read before, Mr. Faulkner, do you find
                    new things in them constantly?</p>
<p><span class="speaker">William Faulkner</span>In the sense that&mdash;that you find new things in&mdash;in old
                    friends.  That is, there's some reason that&mdash;that you like to go back
                    and spend a&mdash;an hour or two with an old friend. It may not
                    be&mdash;be for anything new, unless the evocation with a little more
                    experience on your own part will&mdash;will throw a new light onto something that you
                    thought you knew before, and you find now you didn't, that you maybe know a
                    little more about truth, that what the&mdash;the good writers say to the
                    young man, he knows instinctively are true things.  Later on, as he knows a little
                    more, he knows why they're true and, in that sense, it is something new,
                    yes.</p>
<p><span class="speaker">Unidentified participant</span>Could you give us some of the titles of these books, Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes'm. I read <em>Don Quixote</em> ever year. I read the
                    Old Testament. I read some of Dickens ever year, and I've got a portable
                    Shakespeare, a one-volume Shakespeare that I carry along with me. Conrad. <em>Moby-Dick</em>. Chekhov. <em>Madame Bovary</em>.
                    Some of Balzac almost every year. Tolstoy. I haven't&mdash;haven't thought
                    of Artzybashev in years. I think I'll get the&mdash;him out and read him again.
                    Artzybashev. Gogol. Most of the Frenchmen of the nineteenth century
                    I&mdash;I read in every year.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.23">&nbsp;</a><div class="audio play-clip" id="wfaudio04.23">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:30.70:00',
					'endtime','00:24:46.73:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you must've read some of Erskine Caldwell once upon a
                    time.</p>
<p><span class="speaker">William Faulkner</span>I did, yes. When he first began to write and the stuff was&mdash;was
                    first rate, I did. I read a lot of it. I read a lot of all my
                    coevals at that time. 
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.24">&nbsp;</a><div class="audio play-clip" id="wfaudio04.24">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:49.94:00',
					'endtime','00:25:46.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Sorry.  <span class="unclear tooltip" title="Text was unclear">[We'll go ahead here then.]</span>  Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, of the new books you say you occasionally read, have you found any
                    in the last few years that you regard as superior books, superior writing?</p>
<p><span class="speaker">William Faulkner</span>I remember one about a destroyer in the Pacific by, I believe he was
                    a&mdash;a Virginia man, Eyster? That was I thought&mdash;thought
                    a&mdash;a pretty good book. There's a young man in Mississippi named Shelby
                    Foote that&mdash;that shows promise if he'll just stop trying to write
                    Faulkner and write some Shelby Foote. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And&mdash;yes,
                    I've seen a&mdash;seen a few books, but I don't remember titles nor writers
                    too well. I remember characters and&mdash;and incidents that seem to be me to be true,
                    which is&mdash;is the test.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.25">&nbsp;</a><div class="audio play-clip" id="wfaudio04.25">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:47.16:00',
					'endtime','00:26:06.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>I'm sorry, there were&mdash;were
                    you next? Or you? Well, sir, you then.</p>
<p><span class="speaker">Unidentified participant</span>What about the Greek tragedies? Do you ever enjoy reading those?</p>
<p><span class="speaker">William Faulkner</span>When I was young, yes. I haven't&mdash;haven't read it any of the
                    Greek tragedies in a long time. But when I was young, yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.26">&nbsp;</a><div class="audio play-clip" id="wfaudio04.26">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:07.57:00',
					'endtime','00:27:43.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, we take for granted .  Do you read primarily the books that you've read, you say, when
                    you were younger or the books of times gone by? You don't think terribly highly
                    of the books that are put out, say, in the last twenty years?</p>
<p><span class="speaker">William Faulkner</span>Well, I don't know, you see, because I haven't&mdash;haven't seen
                    them. It's simply because as&mdash;as the writer grows old&mdash;I've heard other
                    writers say this, too, they read less and less. I don't know why that is,
                    but&mdash;but most writers, as they grow old, they seem to read less and
                    less. It's not that they're indifferent to their&mdash;to their juniors.
                    It's&mdash;it can't be any jealousy because I think that any sincere writer
                    has&mdash;has failed to do what he'd like to do. That is, it&mdash;it's
                    not better than was ever done before.  But he has enough belief in
                    his&mdash;in his craft, his&mdash;his avocation, to be convinced that
                    behind him someone is come&mdash;coming that will do it, that may do it. And
                    as I say, I&mdash;it's not because I&mdash;I don't like to read anymore. I simply
                    read less than I did. And when I do read, it's&mdash;it's when there's
                    nothing better to do, you might say, and so I'll pick up the book just to pass
                    time. When I was younger, I was an avid reader because I was learning. That was
                    the way I learned my craft. I read everything I could get my hands on to see how
                    it was done, what to do.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.27">&nbsp;</a><div class="audio play-clip" id="wfaudio04.27">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:47.48:00',
					'endtime','00:29:55.73:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what do you think of Aristotle's theories about tragedy? There's
                    wide dispute about that now with <em>Death of a Salesman</em>, do
                    you think he's right or ?</p>
<p><span class="speaker">William Faulkner</span>What theory is this?</p>
<p><span class="speaker">Unidentified participant</span>That&mdash;that a tragedy must&mdash;the hero must be a man of high place so
                    that he can fall all the further.</p>
<p><span class="speaker">William Faulkner</span>Well, I don't think Aristotle meant by high place what&mdash;what it
                    sounds like. I think he meant a&mdash;a man of&mdash;of integrity more than
                    a&mdash;than a man of aristocracy, unless&mdash;is that what you meant
                    by high place?</p>
<p><span class="speaker">Unidentified participant</span>Well, that's what I say. I believe he does mean money-wise and
                    society-wise rather than integrity, but I'm not an authority <span class="unclear tooltip" title="Text was unclear">[on that, but
                        that's]</span>&mdash;</p>
<p><span class="speaker">William Faulkner</span>Well, I think that was because he used the&mdash;the high place,
                    the&mdash;the money, the riches or the&mdash;the title as&mdash;as
                    symbols, that a&mdash;that a king must be brave, a queen must be chaste, as
                    simple symbols, as puppets. But tragedy as Aristotle saw it, it's&mdash;I
                    would say is&mdash;is the same conception of tragedy that all writers have.
                    It&mdash;it's man wishing to be braver than he is, in&mdash;in combat with his heart
                    or with his fellows or with the environment, and how he fails. At
                    the&mdash;the splendor, the courage of his failure, that&mdash;and
                    the&mdash;the trapping of royalty, of kingship were simply trappings to make
                    him more splendid so that he was worthy of&mdash;of being selected by the
                    gods, by Olympus as an opponent, that man couldn't cope with him, so it would
                    take a god to do it, to cast him down.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.28">&nbsp;</a><div class="audio play-clip" id="wfaudio04.28">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:00.60:00',
					'endtime','00:32:11.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I'm interested in the relationship between your observation
                    about the critical process as being primarily an imaginative one, in which
                    you&mdash;you do not simply try to hold a mirror up to a particular
                    character in the scene, but in which your product is the product of your
                    imagination, which is in the background, the product of all that you've learned.
                    This, you&mdash;you've said, meant that&mdash;means that, if a writer sets a pattern
                    for himself and sees the pattern of the whole work, then his writing becomes
                    merely a matter of swatting it out. Does this mean, for example, that <em>Paradise Lost</em>, in which the pattern was set, is to a
                    large extent, merely a matter of swatting it out, or that any man who, like
                    Spenser in the <em>Faerie Queen</em>, conceives of an idea as the
                    objective, rather than the production of the mere product of imagination, does
                    this mean also that Spenser did just swatting it out?</p>
<p><span class="speaker">William Faulkner</span>I don't think so. I don't think that the pattern as he sees it
                    is&mdash;is that rigid, that the pattern is&mdash;is a&mdash;is a general idea
                    within accepted or circumscribed limits, but not rigid limits. They're simply
                    circumscribed. That&mdash;that the imagination must be checked by <span class="unclear tooltip" title="Text was unclear">[something]</span> and
                    the pattern conform or&mdash;or meet or be amicable, we'll say, and when one
                    has to give, I believe it's always the pattern that has to give, and so he's got
                    to rewrite to create a new pattern with a <span class="unclear tooltip" title="Text was unclear">[bulge]</span> that will take
                    this&mdash;this <span class="unclear tooltip" title="Text was unclear">[bulge]</span> of the imagination which insists that it's true. It
                    must be.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.29">&nbsp;</a><div class="audio play-clip" id="wfaudio04.29">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:14.94:00',
					'endtime','00:33:49.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, before I ask this question, I'd like to say that I really
                    agree with what you said a while ago about the races in the South. Carlyle I
                    believe said of <span class="unclear tooltip" title="Text was unclear">[words]</span> that indignation makes verses. Do you
                    also think that indignation makes great novels?</p>
<p><span class="speaker">William Faulkner</span>Yes'm, it depends on what the indignation is toward. If it's indignation
                    toward a condition, it doesn't always make a great novel. It could maybe. It's
                    got to be an indignation at&mdash;at man's condition, not his&mdash;his
                    particular situation, but at his condition. It's something
                    that's&mdash;that's got to be strong enough to&mdash;to raise the steam,
                    to make the artist assume the anguish and trouble and travail of putting
                    something down on paper or in music or to paint it or to hack it out of a piece
                    of marble. That's&mdash;could be indignation, but it's&mdash;it's indignation at
                    man's condition, I believe, not at a&mdash;at a particular instance of
                    injustice or cowardice. That might be the germ in which an individual,
                    the&mdash;the conception of a man, the idea of an individual against
                    that&mdash;that temporary condition could make the book, but that book
                    didn't create the&mdash;the individual. The individual is the&mdash;the
                    tool to&mdash;to show the condition.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.30">&nbsp;</a><div class="audio play-clip" id="wfaudio04.30">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:33:52.42:00',
					'endtime','00:34:33.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, did you ever find yourself surprised at repeating yourself
                    when you say, "By Jove, I did that thing better twenty-five years ago," or, "By
                    Jove, this is better than it was twenty-five years ago"?</p>
<p><span class="speaker">William Faulkner</span>No, because to me, there ain't any better. It's either good or it's
                    nothing, and it's&mdash;what I did twenty-five years ago didn't suit me, and
                    so I forgot that. I'm&mdash; I'm working on another one.  I hope that
                    this one is going to be the right one. Of course, I know it ain't, but <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> the one twenty-five years ago is under the
                    bridge. It's too bad, but there's nothing I can do about it anymore, except
                    write a new one.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.31">&nbsp;</a><div class="audio play-clip" id="wfaudio04.31">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:34:33.55:00',
					'endtime','00:36:25.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Do you think the author has the prerogative to create his own language,
                    in other words, to go against what the people create, vernacular? Do you think
                    an author has the right to create his own&mdash;I believe Joyce and Eliot have
                    done it, have tried to create&mdash;they found that language was
                    not&mdash;did not suit their purpose, so they had to go beyond and make
                    their own language.</p>
<p><span class="speaker">William Faulkner</span>He has the right to do that, provided he don't insist on anyone
                    understanding it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That&mdash;that is, what I'm
                    trying&mdash;trying to say is that&mdash;I believe I'm paraphrasing Whitman;
                    didn't he say, "To have good poets we must have good readers, too," something
                    like that? Who knows?</p>
<p><span class="speaker">Joseph Blotner</span>Great audiences.</p>
<p><span class="speaker">William Faulkner</span>That's&mdash;well, the writer actually&mdash;that's
                    an&mdash;an obligation that he assumes with his vocation, that he's going to
                    write it in a way that&mdash;that people can understand it. He doesn't have
                    to write it in the way that&mdash;that every idiot can understand it, every
                    imbecile in the third grade can understand it, but he's got to use a language
                    which&mdash;which is accepted, and in which the words have a specific
                    meaning that everybody agrees on. I think that&mdash;that <em>Finnegan's
                        Wake</em> and <em>Ulysses</em> were&mdash;were justified,
                    but then it's hard to say on what terms they were justified. That was a case of
                    a genius who was electrocuted by the divine fire. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.32">&nbsp;</a><div class="audio play-clip" id="wfaudio04.32">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:36:27.16:00',
					'endtime','00:37:11.64:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, it's often been said about great novels or great short
                    stories that they wouldn't pass muster in the freshman English composition
                    course. Now I was wondering, since this is your first day at the University, if
                    you had any comments on the traditional or the apparently traditional conflict
                    between the creative writer and the schoolman?</p>
<p><span class="speaker">William Faulkner</span>Well, as an old veteran sixth grader, that question is I think
                    out&mdash;outside of my province, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because
                    I never got to freshman English. I don't know how much it would conflict. Maybe
                    before I've left the University, I will be able to pass freshman English. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.33">&nbsp;</a><div class="audio play-clip" id="wfaudio04.33">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:11.65:00',
					'endtime','00:38:57.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, with more and more capable Negroes coming to the fore in
                    all facets of the public life, do you believe that half a dozen capable Negro
                    fiction writers could do a world of good for the segregation problem?</p>
<p><span class="speaker">William Faulkner</span>I do, yes.</p>
<p><span class="speaker">Unidentified participant</span>Out of seventeen million people and some of them becoming very adequate
                    physicians and lawyers, don't you believe that they can develop some writers of
                    stature also?</p>
<p><span class="speaker">William Faulkner</span>I do, yes. I think that&mdash;that people like Armstrong and Dr.
                    Ralph Bunche and George Washington Carver have done much more for the Negro race
                    than&mdash;than all of the&mdash;the NAACP leaders, much more. And
                    there's no reason at all why&mdash;why the Negro shouldn't produce good
                    writers. He has got to have&mdash; he has got to be freed of&mdash;of
                    the&mdash;of the curse of his color. He's&mdash;he's got to&mdash;to have equality in
                    terms that he can get used to it and forget that&mdash;that he
                    is&mdash;is a Negro while he's writing, just like the white man hasn't got
                    time to remember whether he's a&mdash;a Gentile or a Catholic while he's writing. And
                    the Negro has got to&mdash;to reach that stage, and the white man's got to
                    help him, because he can't do it by himself under these conditions.</p>
<p><span class="speaker">Unidentified participant</span>He's in the best position to write sympathetically about his own
                    conditions?</p>
<p><span class="speaker">William Faulkner</span>He should be, yes.  But you can't write sympathetically about a condition
                    when it's&mdash;when it's a constant outrage to you, you see. You've got to
                    be objective about it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.34">&nbsp;</a><div class="audio play-clip" id="wfaudio04.34">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:39:09.22:00',
					'endtime','00:40:38.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Mr. Faulkner, do you look on Ike McCaslin as having fulfilled his destiny, the things
                    that he learned from Sam Fathers and from the other men as in his&mdash;when
                    he was twelve to sixteen? Do you feel that they stood him in good stead all the
                    way through his life?</p>
<p><span class="speaker">William Faulkner</span>I do, yes. They&mdash;they didn't give him success, but they gave
                    him something a lot more important, even in this country. They gave him
                    serenity. They gave him what would pass for wisdom. I mean,
                    wisdom as contradistinct from the schoolman's wisdom of education. They gave him
                    that.</p>
<p><span class="speaker">Frederick Gwynn</span>And was&mdash;did he ever have any children?</p>
<p><span class="speaker">William Faulkner</span>No.</p>
<p><span class="speaker">Frederick Gwynn</span>Was he able to pass on this wisdom&mdash;</p>
<p><span class="speaker">William Faulkner</span>No, no, children.</p>
<p><span class="speaker">Unidentified participant</span>That had been transmitted to him?</p>
<p><span class="speaker">William Faulkner</span>In a way, every&mdash;every little eight- or ten-year-old boy was
                    his son, his child, the ones that he taught how to hunt. He had passed on what
                    he had. He was not trying to tell them how to slay animals. He was trying
                    to&mdash;to teach them what he knew of&mdash;of respect for whatever
                    your lot in life is, that if&mdash;if your lot is to be a hunter, to slay
                    animals, you slay the animals with&mdash;with the nearest approach you can
                    to dignity and to decency.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.35">&nbsp;</a><div class="audio play-clip" id="wfaudio04.35">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:40:47.31:00',
					'endtime','00:42:09.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>I think you were speaking about the act of creation a while ago.
                    Sometimes we read that many authors seem to&mdash;to create with a&mdash;with a high degree of
                    objectivity, and that other authors have the feeling that when they're going
                    about this process, they are almost in the very act of experiencing, literally,
                    the things that&mdash;that their created people are experiencing. In some
                    of&mdash;of the people that you've created that you have enjoyed doing most,
                    or felt you hit off most truly, have you ever had the illusion, or the
                    feeling, that in the act of creation that the sensations were&mdash;you were
                    experiencing them almost as if this act were literally happening to you?</p>
<p><span class="speaker">William Faulkner</span>Not exactly, because when my people come alive, they take charge of what
                    we're doing, and I'm going at a&mdash;a dead run to keep up and put down
                    what they do and say. I don't have time to&mdash;to think much about myself in this
                    business. I'm too busy trying to keep up with them, that they&mdash;they
                    talk and act too fast. I'm afraid that&mdash;that if I stop for a minute,
                    I'll miss something.  And I know that I can't invent it because they've taken
                    charge. They're doing the inventing by that time. I'm just the secretary by
                    then.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.36">&nbsp;</a><div class="audio play-clip" id="wfaudio04.36">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:42:10.77:00',
					'endtime','00:43:53.64:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, you say you invent that. Well, I&mdash;I imagine this might come of one of
                    your very, very long sentences, but yet you say they're very carefully
                    contrived. Well, what do you do? Get down what comes out and then go back and
                    work over it?</p>
<p><span class="speaker">William Faulkner</span>That's right.</p>
<p><span class="speaker">Unidentified participant</span>Perfect it?</p>
<p><span class="speaker">William Faulkner</span>That's right. It's&mdash;I think that probably goes
                    back to the burden which man carries all his life, is the knowledge of 
                    death. That is, he knows that he won't live forever, and he's found something so
                    amazing and so moving, which is&mdash;is breathing or being&mdash;being
                    in the world, a part of it, and in a way he is attempting to write the whole
                    history of the human heart on the head of a pin, because he thinks he may not
                    last long enough to put it down on anything as big as a piece of paper. Also, I
                    think that a man at any moment of action is the living sum of his past,
                    that&mdash;and the reason for&mdash;for the long sentences that go so
                    far into the past and into the future is that belief, that man at the very
                    moment at which he is doing something, he did that particular thing exactly in
                    that way because of the hundred years before him that made him, and that's
                    simply a matter of trying to remind the reader that&mdash;that this man is&mdash;is
                    complete in motion, only because he is the sum of his ancestors and his
                    condition, his times.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.37">&nbsp;</a><div class="audio play-clip" id="wfaudio04.37">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:43:53.70:00',
					'endtime','00:44:52.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you often find that you can improve on what you've originally put
                    down?</p>
<p><span class="speaker">William Faulkner</span>Oh, yes, yes. I think any writer keeps at it until he knows that that's
                    the best he can do. It may not be good enough, but when he realized that's the
                    best he can do, then he moves on to the next sentence or the next paragraph.</p>
<p><span class="speaker">Unidentified participant</span>That's not exactly what I meant. I mean, you say you write as fast as you
                    can to get it out, and then you go back and build up the constructions in there and
                    &mdash;</p>
<p><span class="speaker">William Faulkner</span>No, no. I&mdash;I didn't mean that. I mean that I&mdash;I don't
                    like to&mdash;the mechanics of putting the stuff on paper, and I try to get
                    it in shape in my mind before I take the&mdash;do the work. I didn't mean
                    that I scribble and then went back over it and&mdash;and edit it, no.
                    It's&mdash;it's done as much as possible mentally, until it begins to sound
                    right. Then I put it down.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.38">&nbsp;</a><div class="audio play-clip" id="wfaudio04.38">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:44:54.10:00',
					'endtime','00:46:29:40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in your writing, you&mdash;you find you get very close to people and draw
                    people as you think they are. What do you think of the approach of men like
                    Mencken and Shaw who really&mdash;or possibly I'm wrong, but I don't think
                    they're trying to give the public a picture of people. They're rather trying
                    to slap them in the face a little bit and paint in extremes.</p>
<p><span class="speaker">William Faulkner</span>Well, they were&mdash;were using the tools of their trade as they believed they
                        were the best tools. I&mdash;I think that&mdash;that&mdash;that Shaw
                    was&mdash;was trying to write about human beings in the&mdash;in the
                    light of his own intelligence and his own wit and his&mdash;his own distaste
                    for certain conditions. I think that Mencken was&mdash;was still
                        a&mdash;a&mdash;a constantly angry, indignant man, more&mdash;he was first that.
                    He was only second a critic or a sociologist. He was mainly just a mad man.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Shaw, of course, wasn't. Shaw
                        was&mdash;was&mdash;was an artist.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.39">&nbsp;</a><div class="audio play-clip" id="wfaudio04.39">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:46:35.34:00',
					'endtime','00:48:57.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You mentioned a while ago, in noting some of the books that you liked
                    particularly, <em>Madame Bovary</em> and also Tolstoy. I take from
                    what you also said, that the things you admire about these two very different
                    artists would be the fact that they both hit the truth, Flaubert in his
                    extremely precise &mdash;</p>
<p><span class="speaker">William Faulkner</span>Oh, yes.</p>
<p><span class="speaker">Unidentified participant</span>Tolstoy in his almost shapeless way. Would you&mdash;would you say
                    something about your own preferences or attitudes toward the different extremes
                    of craftsmanship in <em>War and Peace</em> as opposed to <em>Bovary</em>?</p>
<p><span class="speaker">William Faulkner</span>Well, in <em>Bovary</em> I saw, or thought I saw, a man
                    who wasted nothing, who was&mdash;whose approach toward his language was
                    almost the lapidary's, that he was&mdash;he&mdash;whether he had the
                    leisure, I&mdash;I don't know exactly for what the&mdash;what the term I
                    want&mdash;that is, a man who&mdash;who elected to do one book
                    perfectly, in the&mdash;in the characters and in the method, in the style,
                    as&mdash;as against a man who was so busy writing about people that he
                    didn't have much time to bother about style, and when he did attain style, he
                    was just as astonished as anybody else. Though that&mdash;that comparison, I
                    grant you, is&mdash;is better between Flaubert and Balzac, maybe. Well
                    I&mdash;I think of the man that&mdash;that wrote <em>Salammbo</em> and 
		    the <em>La Tentation de St. Antoine</em>
                    and <em>Madame Bovary</em> was a stylist who was
                    also&mdash;had&mdash;had enough talent to write about people, too. But
                    everybody can't do that. Everybody can't do both. You have to choose, maybe,
                    what shall I do? Shall I try to tell the truth about people, or shall I try to
                    tell the truth in a&mdash;in a chalice?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.40">&nbsp;</a><div class="audio play-clip" id="wfaudio04.40">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:58.20:00',
					'endtime','00:50:20.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Does the luxuriance of the foliage in <em>War and
                        Peace</em> offend your sense&mdash;sense of craftsmanship?</p>
<p><span class="speaker">William Faulkner</span>No. No, nothing&mdash;I'm not enough of a conscious craftsman
                    to&mdash;to remember that I have ever been offended by&mdash;by any
                    style or&mdash;or method. That I&mdash;I think that&mdash;that the
                    moment in&mdash;in the book, the story, demands its own style, and seems to
                    me just as natural as the moment in the year produces the leaf. It's when
                    Melville becomes Old Testament Biblical, that seems natural to me. When he
                    becomes gothic, that seems natural to me, too, and I hadn't&mdash;really
                    hadn't stopped to think, Now where does one change and become another? Though
                    with&mdash;with the <em>Bovary</em>, it's as though you know from the very
                    first, as soon as you see what is going, that he will never disappoint you, that
                    it would be as&mdash;as&mdash;as absolute as mathematics.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio04.41">&nbsp;</a><div class="audio play-clip" id="wfaudio04.41">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio04.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:50:23.18:00',
					'endtime','00:50:35.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward McAleer</span><span class="unclear tooltip" title="Text was unclear">[You filled]</span> the full hour, Mr. Faulkner, and thank 
		    you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio04.1" class="hidden">Light in August</a></li>
<li><a href="#wfaudio04.2" class="hidden">Female v Male Characters</a></li>
<li><a href="#wfaudio04.3" class="hidden">Integration</a></li>
<li><a href="#wfaudio04.4" class="hidden">Source of Characters</a></li>
<li><a href="#wfaudio04.5" class="hidden">Uncle Buck's Marriage</a></li>
<li><a href="#wfaudio04.6" class="hidden">Sutpen's Money</a></li>
<li><a href="#wfaudio04.7" class="hidden">Sam Fathers' Death</a></li>
<li><a href="#wfaudio04.8" class="hidden">"A Rose for Emily"</a></li>
<li><a href="#wfaudio04.9" class="hidden">"Death Drag"</a></li>
<li><a href="#wfaudio04.10" class="hidden">Novels v Stories</a></li>
<li><a href="#wfaudio04.11" class="hidden">Reading Critics</a></li>
<li><a href="#wfaudio04.12" class="hidden">Rereading His Work</a></li>
<li><a href="#wfaudio04.13" class="hidden">Remembering His Works</a></li>
<li><a href="#wfaudio04.14" class="hidden">Writers and Reading</a></li>
<li><a href="#wfaudio04.15" class="hidden">Constructing Stories</a></li>
<li><a href="#wfaudio04.16" class="hidden">Writing Hours</a></li>
<li><a href="#wfaudio04.17" class="hidden">Writing Schedule</a></li>
<li><a href="#wfaudio04.18" class="hidden">Integrating the South</a></li>
<li><a href="#wfaudio04.19" class="hidden">Writing for Popularity</a></li>
<li><a href="#wfaudio04.20" class="hidden">Peyton Place</a></li>
<li><a href="#wfaudio04.21" class="hidden">Reading Others</a></li>
<li><a href="#wfaudio04.22" class="hidden">Favorite Books</a></li>
<li><a href="#wfaudio04.23" class="hidden">Erskine Caldwell</a></li>
<li><a href="#wfaudio04.24" class="hidden">Good New Writers</a></li>
<li><a href="#wfaudio04.25" class="hidden">Greek Tragedies</a></li>
<li><a href="#wfaudio04.26" class="hidden">Recent Books</a></li>
<li><a href="#wfaudio04.27" class="hidden">Aristotelian Tragedy</a></li>
<li><a href="#wfaudio04.28" class="hidden">Creativity v Form</a></li>
<li><a href="#wfaudio04.29" class="hidden">Indignation and Art</a></li>
<li><a href="#wfaudio04.30" class="hidden">Good v Better</a></li>
<li><a href="#wfaudio04.31" class="hidden">Joyce and Originality</a></li>
<li><a href="#wfaudio04.32" class="hidden">Writer v Schoolman</a></li>
<li><a href="#wfaudio04.33" class="hidden">Negro Writers</a></li>
<li><a href="#wfaudio04.34" class="hidden">Ike McCaslin</a></li>
<li><a href="#wfaudio04.35" class="hidden">The Characters' Lead</a></li>
<li><a href="#wfaudio04.36" class="hidden">Long Sentences</a></li>
<li><a href="#wfaudio04.37" class="hidden">Editing One's Work</a></li>
<li><a href="#wfaudio04.38" class="hidden">Polemical Art</a></li>
<li><a href="#wfaudio04.39" class="hidden">Flaubert v Tolstoy</a></li>
<li><a href="#wfaudio04.40" class="hidden">Story v Craftmanship</a></li>
<li><a href="#wfaudio04.41" class="hidden">Close</a></li>
</ul></aside>
        
