<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio01_2.1">Revisions</a>
    </li>
    <li>
      <a href="#wfaudio01_2.2">Writing Schedule</a>
    </li>
    <li>
      <a href="#wfaudio01_2.3">Style</a>
    </li>
    <li>
      <a href="#wfaudio01_2.4">Teaching Writing</a>
    </li>
    <li>
      <a href="#wfaudio01_2.5">Conrad's Influence</a>
    </li>
    <li>
      <a href="#wfaudio01_2.6">Writer's Limits</a>
    </li>
    <li>
      <a href="#wfaudio01_2.7">Telling or Showing</a>
    </li>
    <li>
      <a href="#wfaudio01_2.8">Great Writing</a>
    </li>
    <li>
      <a href="#wfaudio01_2.9">The Writer's Truth</a>
    </li>
    <li>
      <a href="#wfaudio01_2.10">Symbolism</a>
    </li>
    <li>
      <a href="#wfaudio01_2.11">Conrad</a>
    </li>
    <li>
      <a href="#wfaudio01_2.12">The Character "Jesus"</a>
    </li>
    <li>
      <a href="#wfaudio01_2.13">Writing Sanctuary</a>
    </li>
    <li>
      <a href="#wfaudio01_2.14">Beginning as a Writer</a>
    </li>
    <li>
      <a href="#wfaudio01_2.15">Mountain Victory</a>
    </li>
    <li>
      <a href="#wfaudio01_2.16">Story v Novel</a>
    </li>
    <li>
      <a href="#wfaudio01_2.17">Characters vs Ideas</a>
    </li>
    <li>
      <a href="#wfaudio01_2.18">Carcassone</a>
    </li>
    <li>
      <a href="#wfaudio01_2.19">Source for Carcassone</a>
    </li>
    <li>
      <a href="#wfaudio01_2.20">World War I Pilots</a>
    </li>
    <li>
      <a href="#wfaudio01_2.21">Literary v Writing Men</a>
    </li>
    <li>
      <a href="#wfaudio01_2.22">Contemporary Short Stories</a>
    </li>
    <li>
      <a href="#wfaudio01_2.23">Eudora Welty</a>
    </li>
    <li>
      <a href="#wfaudio01_2.24">Choosing Titles</a>
    </li>
    <li>
      <a href="#wfaudio01_2.25">Constructing Plots</a>
    </li>
    <li>
      <a href="#wfaudio01_2.26">Creating Characters</a>
    </li>
    <li>
      <a href="#wfaudio01_2.27">Wolfe's Failure</a>
    </li>
    <li>
      <a href="#wfaudio01_2.28">Writers Write</a>
    </li>
    <li>
      <a href="#wfaudio01_2.29">Red Leaves</a>
    </li>
    <li>
      <a href="#wfaudio01_2.30">Hightower's Ending</a>
    </li>
    <li>
      <a href="#wfaudio01_2.31">Identifying with a Character</a>
    </li>
    <li>
      <a href="#wfaudio01_2.32">Heart v Glands</a>
    </li>
    <li>
      <a href="#wfaudio01_2.33">A Rose for Emily</a>
    </li>
    <li>
      <a href="#wfaudio01_2.34">Point of VIew</a>
    </li>
    <li>
      <a href="#wfaudio01_2.35">A Fable</a>
    </li>
    <li>
      <a href="#wfaudio01_2.36">A Fable's Symbolism</a>
    </li>
    <li>
      <a href="#wfaudio01_2.37">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio01_2.1"/>
  <p>  what he means and probably any story that
                    can't be told in one sentence or at least one paragraph is not worth writing.
                    The&#x2014;the revision, the&#x2014;the cutting out&#x2014;in my own
                    case, I'm lazy. I don't like to work, and so I will do as much of it as possible
                    in&#x2014;in the mind, in thinking, before I undertake the arduous, hateful
                    job of swatting it out on paper. I think the revision quite often follows
                    because when the job is down on paper at last, it still is not quite what it
                        should be, and so you&#x2014;you&#x2014;you change, you revise, you edit,
                    you&#x2014;you try to bring it closest to the ideal of perfection, which, of
                    course, you're not going to reach either. That is, what I'm trying to say, is
                    that the revision is I think for the writer more than&#x2014;than the
                    editor's revision, which is for the reader.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.2"/>
  <p>Do you work, so to speak, eight hours a day at a desk and just
                    concentrate on it all day long, or do you just sort of let it come to you and
                    work spasmodically?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.3"/>
  <p>Did you have a question, Thomas?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.4"/>
  <p>Mr. Faulkner, do you think that a writer can teach young writers?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.5"/>
  <p>Mr. Faulkner, to get back to the business of style for just a minute. You
                    mentioned in some class that I attended that Dostoevsky and Conrad were two
                    people you read a good deal when you were eighteen and nineteen years old. Would
                    you say that you had gotten something in the way of arrangement of words from
                    Conrad? Every now and then in your stories&#x2014;I was thinking of a couple
                    of passages in "The Bear," passages here and there in other
                    stories&#x2014;there are arrangements of cadence, rhythm, that seems to me to
                    be rather like Conrad. I'm thinking of a passage in "Youth," an arrangement of
                    adjectives, "resplendent yet somber, full of danger, yet promising." It's the
                    description of the East when that young boy comes upon it. There's something of
                    the same kind of use of those kind of&#x2014;kind of heavy arrangement of
                    adjectives I've noticed in your writing. Does that seem fair?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.7"/>
  <p>Sir, back to your writing, Mr. Faulkner, often it seemed to me that you
                        choose questions and then answer them yourself as you
                    develop your story, rather than letting the reader answer them, letting them to
                    go unanswered. Is that a lack of confidence in your reading audience or merely a
                    trick of style?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.9"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.14"/>
  <p>When did you first realize that you wanted to write, sir?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.16"/>
  <p>Mr. Faulkner, so much&#x2014;so much of your material seems to be connected. Is there
                    any way you determine what is short story material and what is novel
                    material?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.17"/>
  <p>I remember asking you a question the other day about two stories, one
                    called "Two Soldiers," a story that I like very much and some of the people in
                    my class have read, and what I consider a sequel to that story called "The Country
                    Will&#x2014;She Shall Survive." I think that's it's it or&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_2.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.20"/>
  <p>What do you mean, Mr. Faulkner, in your story, "All the Dead Pilots,"
                        and I believe a story called "Honor," in which you give
                    the impression that those people who fought in the war, after those experiences
                    of war, will be dead the rest of their lives?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.22"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_2.23"/>
  <p>What about the present writers in your area of the country, a writer like
                    Eudora Welty?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.24"/>
  <p>Did you want to ask a question, ?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.25"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.26"/>
  <p>Mr. , you had a question.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.27"/>
  <p>In light of that, when you think about the failure of Thomas Wolfe, do
                    you feel that there is any connection with  the necessity,  the way
                    you feel about how characters ?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.28"/>
  <p>Mr. Faulkner, how much do you feel that the writer's being involved with
                    people in his writing is dependent upon his being actively involved with real
                    people in the real world?</p>
</div>
<div class="section">
  <a name="wfaudio01_2.29"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_2.30"/>
  <p>Mr. Faulkner, </p>
</div>
<div class="section">
  <a name="wfaudio01_2.31"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.32"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.33"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.34"/>
  <p>Mr. Faulkner, you seem to find the easiest message for writing as a kind
                    of easy first-person with his message or something of that sort. You're always
                    there in your stories, is my hunch.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.35"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.36"/>
  <p>Yes.</p>
</div>
<div class="section">
  <a name="wfaudio01_2.37"/>
  <p>They have&#x2014;anyone have any one more question you want to ask
                    because we'll have to stop pretty soon. We got classes coming on. Anybody want
                    to ask a question? Mr. Faulkner, thank you very much for coming into this
                    classroom. It's been very nice indeed having you. Thank you.</p>
</div>
