
            <div id="side_nav"><ul><li><a href="#wfaudio30_1_2.1" class="hidden">Spliced clip</a></li></ul></div><div id="header">
<h3>DATE: 12 May 1958</h3>
<h3>OCCASION: Representatives from Other Colleges</h3>
<h3>This clip was created by splicing the end of T-145a and the beginning of T-145b together.</h3>
<script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit');
		      }
		      catch (e) {
			     //document.write(e);
			  }</script><hr>
</div><div id="body">
<a name="wfaudio30_1_2.1">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:00.00:00',
				'endtime','00:02:09.55:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, ma'am.</p>
<p><strong>Unidentified participant: </strong>I'm curious as to when&mdash;why  I wonder how the modern
                        writer justifies using violence in his work. <span class="unclear tooltip" title="Text was unclear">[I've been struck by it and
                            sometimes upset by it.]</span></p>
<p><strong>William Faulkner: </strong>I think that is one of the tools. That's a particular saw, hammer that the
                        particular carpenter feels he can do most with, that he might not like the
                        violence either. It's simply because he does not have a better tool to show man
                        in his tragic or comic moments inside the predicament. That is, the dramatic
                        story is, man is faced&mdash;the frail, fragile creature of flesh and bone,
                        mostly water, in a ramshackle universe stuck together with electricity, faced
                        with problems which are usually bigger than he is. The story is, does he face
                        it? Does it lick him? Or does he beat it? Or if it licks him, does he get beaten
                        to his knees still, as Hemingway says, "Looking good." That, I think,
                        is&mdash;is what anyone writes about. It's man that is striving to be braver
                        than he might be, more honest than he might be, to be compassionate.</p>
<p><strong>Unidentified participant: </strong>And it's so important in twentieth century, more than in other centuries 
                        <span class="unclear tooltip" title="Text was unclear">[to write about this]</span>?</p>
<p><strong>William Faulkner: </strong>Well, no, it's always been important. I think that's what makes man
                        endure and what will cause him to endure, that he is capable of wanting to be
                        brave and to be honest and to be compassionate, and he will last. He's outlasted
                        his dinosaurs. He'll outlast his atom bomb. My belief is that the last sound on
                        earth, when this earth is a red rock freezing, will be two folks building an
                        airship and fussing about where they're going next. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Man is all right. You can't beat him. No,
                        there'll be three. The other one will be writing a book about it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    </p>
<hr>
</div>
        
