<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio27.1">Program Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.2">Show 1 Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.3">Doom's Name</a>
    </li>
    <li>
      <a href="#wfaudio27.4">Use of Aint</a>
    </li>
    <li>
      <a href="#wfaudio27.5">Title Light in August</a>
    </li>
    <li>
      <a href="#wfaudio27.6">Character Names</a>
    </li>
    <li>
      <a href="#wfaudio27.7">Sartoris' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.8">Lief</a>
    </li>
    <li>
      <a href="#wfaudio27.9">Dialect and Characterization</a>
    </li>
    <li>
      <a href="#wfaudio27.10">Ourn and Hisn</a>
    </li>
    <li>
      <a href="#wfaudio27.11">Old Man Falls' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.12">Y'awl</a>
    </li>
    <li>
      <a href="#wfaudio27.13">Sophonisba v Sophonsiba</a>
    </li>
    <li>
      <a href="#wfaudio27.14">Dialect and Caste</a>
    </li>
    <li>
      <a href="#wfaudio27.15">Show 1 Close</a>
    </li>
    <li>
      <a href="#wfaudio27.16">Program Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.17">Show 2 Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.18">Short v Long Titles</a>
    </li>
    <li>
      <a href="#wfaudio27.19">Jefferson's Name</a>
    </li>
    <li>
      <a href="#wfaudio27.20">Use of Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.21">Child Narrators</a>
    </li>
    <li>
      <a href="#wfaudio27.22">Historicizing Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.23">Faulkner's Own Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.24">Negro Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.25">Molly Beauchamp v Falls</a>
    </li>
    <li>
      <a href="#wfaudio27.26">Southern Dialects</a>
    </li>
    <li>
      <a href="#wfaudio27.27">Wash Jones' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.28">Use of Alliteration</a>
    </li>
    <li>
      <a href="#wfaudio27.29">Show 2 Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio27.1"/>
  <p>You can hear the opening for the program.</p>
</div>
<div class="section">
  <a name="wfaudio27.2"/>
  <p>Today we are very fortunate to have as our special guest Mr. William
                    Faulkner of Oxford, Mississippi, the celebrated&#x2014;justly celebrated
                    Southern writer of fiction and winner of the Nobel Prize for Literature in 1949.
                    Our panel is somewhat larger than usual today, as several of the students from
                    my English 32 class have joined us. In addition to Mr. Robert Kellogg of the
                    Department of English, one of our regular panel members, we have with us
                    also today Mr. Houk, Mrs. Massey, Miss Winslow, Miss Taylor, Miss Marston, Mr.
                    Bagley, Mr. Nesbit, Mr. Miller, Mr. Carlson and Miss Frame of
                    the class in the history of the English language who are here to ask Mr.
                    Faulkner some questions about his use of dialect and other questions concerning
                    language in his fiction writing. And I suppose without further ado we might as
                    well start on the questions. 
                        Mr. Houk, will you lead off with the first question, please?   
                    </p>
</div>
<div class="section">
  <a name="wfaudio27.3"/>
  <p>Yes. Mr. Faulkner, your character Doom has the&#x2014;a curious
                    history for his name. His Indian name Ikkemotubbe was translated  
                    L'homme or De l'homme in French,
                    then was translated by him back to Doom in English. I understand that's
                    correct.</p>
</div>
<div class="section">
  <a name="wfaudio27.4"/>
  <p>Mr. Faulkner, I'd like to ask you about your use of "aint" in the
                    dialogue of your characters. In particular, in As I Lay
                        Dying. When Anse Bundren is talking to Vernon Tull he says, "I aint
                    asking it of you, he says, I can always do it for me and mine. I aint asking you to
                    risk your mule. It aint your dead; I am not blaming you." Now why do you have
                    the switch between&#x2014;from "aint" to "am not"?</p>
</div>
<div class="section">
  <a name="wfaudio27.5"/>
  <p>Mr. Faulkner, in The Portable Faulkner the editor
                    says, "Incidentally the title of the novel has nothing to do with August
                    sunlight; it refers to Lena Grove and her baby. In the Mississippi backwoods, it
                    is sometimes said of a pregnant woman, but more often of a mare or cow, that she
                    will be light in August or September." Is this how you meant it to
                    be&#x2014;the title?</p>
</div>
<div class="section">
  <a name="wfaudio27.6"/>
  <p>Mr. Faulkner, in connection with this class in particular, we've been
                    very interested in reading about names in America, about personal and
                    geographical names. I wonder to what extent the names that you use parallel
                    those that have actually occurred in your lifetime, or in any history that you
                    may have learned.</p>
</div>
<div class="section">
  <a name="wfaudio27.7"/>
  <p>Mr. Faulkner, does the speech of Sartoris in the story "Ad Astra" have
                    any special dialect qualities? Is it a southern speech, or is it just the speech
                    of an average educated American?</p>
</div>
<div class="section">
  <a name="wfaudio27.8"/>
  <p>Mr. Faulkner, Ek Snopes uses the archaic word "lief"
                    in "I'd just as lief let them stay out there." Is this word still common in
                    Mississippi?</p>
</div>
<div class="section">
  <a name="wfaudio27.9"/>
  <p>Mr. Faulkner, to what degree do you consider dialect in speech important
                    in characterization?</p>
</div>
<div class="section">
  <a name="wfaudio27.10"/>
  <p>Here's an example, Mr. Faulkner, that might have a bearing on that. In
                    the story "Barn Burning," the little boy, Sarty Snopes, uses the forms, the
                    grammatical forms, "ourn" and "hisn." What do these tell the reader about the
                    speaker, would you say?</p>
</div>
<div class="section">
  <a name="wfaudio27.11"/>
  <p>Mr. Faulkner, again from Sartoris: Old Man Falls is a
                    strong dialect characterization. How did you arrive at his speech, and what
                    level of society is he intended to represent?</p>
</div>
<div class="section">
  <a name="wfaudio27.12"/>
  <p>Mr. Faulkner, I was wondering, from your short story "That Evening
                    Sun"&#x2014;there's a section when Jason talks with Nancy, he says, I'm
                    quoting now, "'I didn't have fun,' Jason said. 'You hurt me. You put smoke in my
                    eyes. Y'awl made me come.'" And I wonder, are you using "y'awl" there as
                    a&#x2014;directed at Nancy? In other words, is he&#x2014;is that
                    singular?</p>
</div>
<div class="section">
  <a name="wfaudio27.13"/>
  <p>Mr. Faulkner, there's a traditional character in literature, Sophonisba,
                    who was the daughter of Hasdrubal, and the subject of many tragedies. She is not
                    known too much today, I don't think, but your character from the short story
                    "Was," from Go Down, Moses I believe, Miss Sophonsiba I
                    believe is the way you pronounce her name, is that&#x2014;is the change of
                    that "s" from Sophonisba to Sophonsiba, a change just of the "s" not of the
                    accent, is that your&#x2014;is that intentional?</p>
</div>
<div class="section">
  <a name="wfaudio27.14"/>
  <p>We've sort of talked around this. I was wondering, do you have any key by
                    which you go to make a distinction between the dialogue of your
                    various&#x2014;the various levels of your characters, such as between the
                    Compsons, the Snopes, the Negroes, and the Indians and so forth? Is there
                    anything that you use as a distinction between these two, between all of
                    these?</p>
</div>
<div class="section">
  <a name="wfaudio27.15"/>
  <p>Thank you very much, Mr. Faulkner. Our time will not permit further
                    questioning at this session, but be with us again next week, when again our
                    Writer in Residence, Mr. William Faulkner of Oxford, Mississippi, will be with
                    the members of the English 32 class in order to answer questions concerning his
                    use of dialect and of language in general in his fiction. With us on the panel
                    today have been Mr. Robert Kellogg of the Department of English, and various and
                    sundry members of the English 32 class whose names I haven't time to mention at
                    this time. This is Edward Stevenson with the Department of English, asking you
                    to be again with us at the same next week for another session on this same
                        subject.</p>
</div>
<div class="section">
  <a name="wfaudio27.16"/>
  <p>Our host for the pr&#x2014; 
                    Stevenson of the Department English Language and Literature of the University in
                    Charlottesville.  Now here's Mr. Stevenson.</p>
</div>
<div class="section">
  <a name="wfaudio27.17"/>
  <p>We're very happy to bring you again today our Writer in Residence at the
                    University, Mr. William Faulkner of Oxford, Mississippi, who has consented to
                    speak to the members of the English 32 class in the history of the English
                    language concerning matters involving his use of dialect or any feature of his
                    use of language in his fiction. Our panel is therefore somewhat larger than
                    usual. Besides myself and Mr. Kellogg of the Department of English, we have Mr.
                    Houk, Mrs. Massey, Miss Winslow, Miss Taylor, Miss Marston, Mr. Bagley, Mr.
                    Nesbit, Mr. Miller, Mr. Carlson and Miss Frame of the English
                    32 class. 
                      And now without further ado, Miss Winslow, will you please lead off with the first question?
                    </p>
</div>
<div class="section">
  <a name="wfaudio27.18"/>
  <p>Mr. Faulkner, I've noticed a lot of your short stories have very short
                    titles. Do you think that's more effective than a long title?</p>
</div>
<div class="section">
  <a name="wfaudio27.19"/>
  <p>Mr. Faulkner, this might sound like a typical question from a proud
                    Virginian, but how did you arrive at&#x2014;at&#x2014;arrive at the name
                    Jefferson for the town?</p>
</div>
<div class="section">
  <a name="wfaudio27.20"/>
  <p>Mr. Faulkner, in your writing of dialogues, do you present the words of
                    your characters as they would have spoken them? Or do you just use a touch of
                    dialect to color the character?</p>
</div>
<div class="section">
  <a name="wfaudio27.21"/>
  <p>Mr. Faulkner, I'd like to ask you a question if it's not too involved
                    along those lines. Last week we were talking about the use of dialect to
                    differentiate the classes that people originated in, the social classes, the
                    geographical location. I was wondering perhaps about the use of language of a
                    child narrator. I've noticed in, say for example "That Evening Sun," lots of
                    Quentin's sentences seem short and perhaps the way a child might speak them and
                    yet it's pretty grown-up for a nine-year-old to report all of the things he
                    does. I wonder whether you'd comment on his rather accurate reporting.</p>
</div>
<div class="section">
  <a name="wfaudio27.22"/>
  <p>Sir, would you make any distinction between what, say, a southern
                    mountain character would say in 1920 and what he would say in 1950, or is it
                    just all what you heard when you were in ?</p>
</div>
<div class="section">
  <a name="wfaudio27.23"/>
  <p>Mr. Faulkner, in listening to several of your talks I find it sort 
                        of curious and rather remarkable that often you use what is generally considered to be bad
                    grammar, for instance "he dont," "aint." Do you have a conscious intent in
                    talking in this manner?</p>
</div>
<div class="section">
  <a name="wfaudio27.24"/>
  <p>Sir, do you think that the dialect or speech of southern Negroes is a
                    deterrent to his progress ?</p>
</div>
<div class="section">
  <a name="wfaudio27.25"/>
  <p>Mr. Faulkner, the wife in "The Fire and the Hearth,"  an educated
                    Negro woman, seems in direct contrast to Old Man Falls in Sartoris. This is a transcription of her speech: "Where are you going
                    this time of night? Messing around up yonder in the bottom all last night!
                    Getting back home just in time to hitch up and get to the field a good hour
                    after sunup." Whereas Old Man Falls is: "Cunnel was settin' thar in a cheer, his
                    sock feet propped on the po'ch railin', smokin' this hyer very pipe." Since the
                    copyright date on Sartoris is 1929 and the copyright date
                    on Go Down, Moses, from which "The Fire and the Hearth"
                    is taken, is much later, does this difference in true&#x2014;in the
                    representation of dialect indicate a definite trend on your part, or is this
                    merely a social difference?</p>
</div>
<div class="section">
  <a name="wfaudio27.26"/>
  <p>Mr. Faulkner, there has appeared in American
                        Speech magazine some articles on the Southern dialect, and it points
                    out certain peculiarities about the Southern dialect. Now these articles were
                    written by men who&#x2014;in the Mississippi and Louisiana area. The
                    inconsistency seems to appear in the fact that some of these examples that they
                    show are not consistent with examples shown in the Georgia dialect, or perhaps
                    in the Carolinas. My question is this: do you think that there could possibly be
                    a split in the Southern dialect, between the Carolinas and Georgia, and perhaps
                    draw a rough line down Alabama, and have a different dialect on your side?</p>
</div>
<div class="section">
  <a name="wfaudio27.27"/>
  <p>In connection with this, sir, Wash Jones uses speech characterized by the
                    following: "air" for "are," "yit" for "yet," and "hit" for "it," and various
                    others of course. Although we know from our studies in our class that this is
                    generally common Southern speech, many of your characters on somewhat the same
                    social plane as Wash Jones do not use this type of speech. In the genealogy at
                    the rear of the&#x2014;Absalom, 
                    Modern Library 
                    Absalom, Absalom!, Wash Jones is said to&#x2014;it's
                    said that the date and location of his birth is unknown. Could we assume possibly
                    that he comes from&#x2014;from somewhere in Tennessee, if he uses this
                    speech?</p>
</div>
<div class="section">
  <a name="wfaudio27.28"/>
  <p>Here's a question I'd like to get in before our time runs out, about a
                    linguistic device that writers often use, more commonly seen in poets perhaps
                    than in prose fiction, in poetry rather than in prose fiction. Mr. Faulkner, I
                    refer to the use of alliteration. And let me read you a sentence from "Barn
                    Burning," and note the alliteration on the "s" sounds. "His two hulking
                    sisters"&#x2014;this is the little boy's point of view&#x2014;"His two
                    hulking sisters in their Sunday dresses and his mother and her sister in calico
                    and sunbonnets were already in it, sitting on and among the sorry residue of the
                    dozen and more movings which even the boy could remember." Was that a conscious
                    use of alliteration, or is it just happenstance?</p>
</div>
<div class="section">
  <a name="wfaudio27.29"/>
  <p>Well, I see our time has run out. I want to thank Mr.
                        Faulkner&#x2014; </p>
</div>
