
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio08_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 25 April 1957</h4>
<h4>OCCASION: At Mary Washington College</h4>
<h4>TAPE: T-122d</h4>
<h4>LENGTH: 18:59</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio08_2.1">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:08.22:00',
					'endtime','00:01:01.91:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span> it's kind of a story more or less overlapping with others and
                    keeping on  <span class="unclear tooltip" title="Text was unclear">[continuity it it's unfinished]</span> </p>
<p><span class="speaker">William Faulkner</span>Well, it's&mdash;it's not finished in the sense that&mdash;that
                    it's not&mdash;it don't suit me. It's not as good as&mdash;as I want it
                    to be. None of my work is. That one I worked the hardest at, I&mdash;I love
                    the best.  And that one I'm more&mdash;more anxious to&mdash;to finish
                    it in a way that'll suit me. I feel that if&mdash;if I hadn't written it and
                    could&mdash;could go back and&mdash;and do it over, I would do it
                    better. Of course I wouldn't. I would do it the same way, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I would&mdash;if I had the chance, I would do it
                    better. Maybe it would please me <span class="unclear tooltip" title="Text was unclear">[then]</span>.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.2">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:14.02:00',
					'endtime','00:02:33.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, when you were in Japan and talked to the young Japanese
                    writers, did you find that their problems were the same as the young American
                    writers?</p>
<p><span class="speaker">William Faulkner</span>I'm sure they were, but it was&mdash;I never did touch the Japanese.
                    They all spoke English, but it was like two people running at top
                    speed&mdash;top speed on opposite sides of a plate-glass window. You could
                    see the mouth move, you could see the human features, the gestures, but there
                    was no communication, and then suddenly the paths parted, and one went this way. 
                    That was all. There was no communication. I'm sure their problems were the same
                    problems, but their culture is&mdash;is so different. It's a culture of&mdash;of the
                    intellectual process.  The result doesn't matter, it's the&mdash;it's for the
                    wheels to click properly, which is completely alien to&mdash;to me, to any
                    Occidental, but I&mdash;I never did touch the Japanese.</p>
<p><span class="speaker">Unidentified participant</span>
                    
                </p>
<p><span class="speaker">William Faulkner</span>But I'm quite sure that their problems were the same as mine, and that
                    if we could've spoken to one another, we would have benefited both of us, but we
                    simply couldn't&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.3">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:33.09:00',
					'endtime','00:04:18.87:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>The published book about it sounded as though you had touched them very
                    much,  what they <span class="unclear tooltip" title="Text was unclear">[asked]</span>  you seemed to have 
                    touched them.</p>
<p><span class="speaker">William Faulkner</span>Well, I hope so, but I wasn't aware of it at the time. They would ask me
                    the same questions over and over and then answer them themselves. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                     I remember I saw the&mdash;the chief archer of Japan. He
                    had been knighted by the Emperor. It was a ritual. The target was, oh, as far
                    from here to the bookcase, and he would get up, and go through certain motions
                    to free his&mdash;his forearm from his kimono, and then he would pace
                    forward so many paces and bow to where the Emperor would be. Then he would get
                    up and go through some more ritual and fit the arrow to the string, and then he
                    would pace towards the target and stop and turn and do a sort of a&mdash;a 
                    ballet almost and draw the arrow back and let it go, and sometimes it hit the
                    target but that didn't matter. Nobody cared, you see. He had . <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    It was no trouble to hit it. It was only about as
                    far as the bookcase. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I realize that I had
                    committed a&mdash;a fearful&mdash;it was more than a <em>faux pas</em>. It was <em>lese majesty</em>
                    somehow. I&mdash;I had made a&mdash;a dreadful social error, and
                    that is the Japanese&mdash;we simply could not communicate.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.4">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:21.61:00',
					'endtime','00:05:26.48:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, what do you expect of the future of the American
                        novel as it is today?</p>
<p><span class="speaker">William Faulkner</span>I think that as long as man exists on the earth he will continue to
                    produce art. I think that&mdash;that the&mdash;the young writer who
                    keeps on writing, he learns more and more. He's got to&mdash;to waste a
                    certain amount of his energy fending off from the pressure to make him conform
                    to something, <span class="unclear tooltip" title="Text was unclear">[to a group]</span>, but there's nothing wrong about&mdash;about writing in
                    this country. It goes through  dead times. It goes in cycles, and
                    the young man today may not come to his&mdash;his best powers until maybe
                    another fifteen, another twenty years. Then suddenly there'll be
                    a&mdash;another renaissance of&mdash;of writing in this country.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.5">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:26.49:00',
					'endtime','00:07:03.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What themes do you most expect to find <span class="unclear tooltip" title="Text was unclear">[in these writers coming
                        now]</span>?</p>
<p><span class="speaker">William Faulkner</span>I'm sorry. I couldn't hear that.</p>
<p><span class="speaker">Unidentified participant</span>What themes do you think <span class="unclear tooltip" title="Text was unclear">[you'd be]</span> most apt to find in writers <span class="unclear tooltip" title="Text was unclear">[coming
                        now]</span>?</p>
<p><span class="speaker">William Faulkner</span>Oh, the only theme that is worth writing about, that anyone ever has
                    written about, which is the human heart in conflict with itself, its fellows and its environment, 
                    its people. You write about people, not about social conditions. They're only
                    coincidental to it. The social condition is a part of the environment,
                    which&mdash;which one writes from. That's part of your background, and he
                    writes from that just <span class="unclear tooltip" title="Text was unclear">[as you do from the]</span> observation ,
                    but if you write about a social condition or an injustice, you're a propagandist
                    or a reporter. The novelist is writing about people, the human heart in conflict
                    with the same hopes and fears and aspirations it's always had, no matter what
                    color of the skin or what race, and the&mdash;the young writer, if&mdash;if he will
                    resist the pressure to make him conform to a group or a mass, then he
                    will&mdash;will learn that the only thing worth writing about is the
                    individual human heart and its own <span class="unclear tooltip" title="Text was unclear">[problems]</span>  <span class="unclear tooltip" title="Text was unclear">[in conflict with itself]</span>, man that wants to be better
                    than he thinks he might be, and suddenly he finds that he is better, that he has
                    done something brave or a man that wants to be&mdash;be brave and failed.
                    They are the problems  to write about, not the social
                    conditions, and those are the problems that <span class="unclear tooltip" title="Text was unclear">[are eternal.]</span>
                    They don't change.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.6">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:04.29:00',
					'endtime','00:07:46.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What I want to ask you, do you get any reaction from readers of, say,
                    your translated works, where the non-American reader is difficult or he
                    distorts the meaning of American <span class="unclear tooltip" title="Text was unclear">[words]</span>?</p>
<p><span class="speaker">William Faulkner</span>The only language I read with any ease is French, and the French
                    translations I've read have been very fine, I thought. The others, of course,
                    I&mdash;I don't know because I'm not familiar with the language and know too
                    few&mdash;well, I'm not really a literary man to&mdash;to discuss books
                    and things like that. I'm a country man, a farmer. I write as a hobby <span class="unclear tooltip" title="Text was unclear">[because it's fun]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.7">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:54.78:00',
					'endtime','00:08:06.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>Any other questions?</p>
<p><span class="speaker">William Faulkner</span>Whether you think it's silly or not, ask it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.8">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:06.44:00',
					'endtime','00:09:18.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span> or when you  novelist, is the difference in what you 
                    what </p>
<p><span class="speaker">William Faulkner</span>No. I haven't had time to think about it. I've been too busy writing
                    books. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That&mdash;that goes back to how I
                    just said I'm not a literary man, you see. I don't think of myself as having
                    a&mdash;any position, any particular niche in the establishment of
                    literature. I think of myself as having a particular niche in the establishment
                    of&mdash;of farming, of&mdash;of raising grain to feed cattle and
                    horses, but not as a&mdash;as a literary man, and I think
                    that&mdash;that probably when the writer runs dry, and he has nothing more
                    to say <span class="unclear tooltip" title="Text was unclear">[or]</span> know, then he begins to think of his position <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> as of literary import, but while
                    he's&mdash;he's busy writing, I doubt if he has the time to have
                        thought about it too much because he's still trying to write a
                    book which pleases him. That's why he writes another one because the one he
                    finished is not quite good enough to suit him, so he writes another one and
                    tries it again.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.9">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:19.78:00',
					'endtime','00:10:37.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I have a very specific question, which I think will come
                    under the category of silly. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Frequently, in
                    your works the story is told by a narrator, and his personality has a strong
                    influence <span class="unclear tooltip" title="Text was unclear">[in your work]</span>, and <span class="unclear tooltip" title="Text was unclear">[this just]</span> seems
                    to me frequently very similar to the use of the narrator that Conrad uses,
                    particularly in Marlow. Had you, by any chance, read Conrad in your youth?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>And did it conceivably have any influence on your use of
                    such&mdash;</p>
<p><span class="speaker">William Faulkner</span>As I said, everything the writer reads influences him, but he himself
                    can't say just how much what did when.  But I'm quite sure that Conrad did,
                    though Conrad wasn't the first one to use that method. At&mdash;there's times when the
                    story itself demands that that method be used, that my experience is that once I
                    have thought about the characters until they come alive, they stand up and cast
                    a shadow, then they take charge of the story. I run along at their heels at a
                    dead run, trying to put down what they say and do. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> They have taken charge, and they're the ones that
                    demand which method shall be used.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.10">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:39.97:00',
					'endtime','00:11:34.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, if you do read them, how seriously do you take your
                    critics.  That is, those people who write in the literary magazines, <em>Hudson Review</em> and so forth? Do you think it's
                    particularly rewarding for students to read the critics of your work?</p>
<p><span class="speaker">William Faulkner</span>I should think so. I don't read that <span class="unclear tooltip" title="Text was unclear">[sort of thing]</span>.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I'm&mdash;I'm too busy. But
                    I&mdash;I should think it might be&mdash;be valuable for&mdash;for
                    students to read that. I'm sure it would be valuable, but the writer, if&mdash;if he's as
                    busy as I am and has got as much that he needs to say as I have and knows he
                    never will live long enough to say it all, he ain't got time to&mdash;to
                    read what anybody else says about his work because he already knows what it
                    is.  It ain't good enough.  That's why he's writing another
                        <span class="unclear tooltip" title="Text was unclear">[one]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.11">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:39.15:00',
					'endtime','00:12:21.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>A young lady up here.</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you enjoy writing more about the people in your own
                    locale of Oxford, Mississippi, than of other countries and nations?</p>
<p><span class="speaker">William Faulkner</span>I write about the people in my own country because it's simpler. I don't
                    have to do any research. I know them. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I'm writing about people, not about
                    Mississippians. I simply use Mississippi because that's what I know best. I
                    don't have to hunt around to&mdash;to keep from making mistakes that
                    somebody would catch me out on, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but
                    I&mdash;I&mdash;I write to&mdash;yes, I write because it's fun.  Not
                    for glory but because it's&mdash;it's fun to do.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.12">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:29.65:00',
					'endtime','00:13:29.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes,
                    ma'am.</p>
<p><span class="speaker">Unidentified participant</span>How great do you feel the French influence is on the American novel
                    today?</p>
<p><span class="speaker">William Faulkner</span>Now, that question I can't answer because the reading I do is the books
                    that I knew and loved when I was twenty-one years old. I haven't read
                    a&mdash;a new book in fifteen, twenty years, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and I don't know literary or writing people, and
                    I&mdash;I&mdash;I couldn't attempt to answer that question because I
                    don't know enough about it. But I would say that there is a&mdash;a great
                    deal of influence because the French writers, the young writers, have been the
                    most&mdash;most prominent lately. Sartre and&mdash;and Camus. people like that, seem
                    to be doing better work than&mdash;than the writers of any other country at
                    the present, and I would say that they have had a great influence on the young
                    American writers, <span class="unclear tooltip" title="Text was unclear">[I think]</span>.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.13">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:33.16:00',
					'endtime','00:14:31.20:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, would you mind telling us what some of the books are that
                    you knew and loved when you were twenty-one?</p>
<p><span class="speaker">William Faulkner</span><em>Don Quixote</em>, most of Dickens, <em>Moby Dick, The Brothers Karamazov, Madame Bovary</em>, the Old Testament. I
                    have a one-volume Shakespeare which I carry around with me. Balzac, I read a
                    little in that every year. Conrad, I read some of Conrad almost every year.
                    That's&mdash;there're a few more that I don't recall now, but&mdash;but 
                    they are the&mdash;the ones I&mdash;I'm never too far from, and <span class="unclear tooltip" title="Text was unclear">[I read]</span> 
                    every year.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.14">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:33.71:00',
					'endtime','00:15:39.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Frederick Gwynn</span>You have a new novel coming out soon which is a continuation of <em>The 
                    Hamlet</em>. Have you had that&mdash;did you have that
                    in mind a long time?</p>
<p><span class="speaker">William Faulkner</span>Yes, I thought of the whole story at once like a bolt of lightning
                    lights up a landscape, and you see everything, but it takes time to write it.
                    And this story I've had in my mind for about thirty years, and the&mdash;the
                    one which I will do next, it&mdash;it happened at that same moment thirty
                    years ago and it was sort of a matter of getting at it.</p>
<p><span class="speaker">Unidentified participant</span>Is this a unique situation or have other sequences occurred to you like
                    Quentin Compson in both <em>The Sound and the Fury</em> and <em>Absalom, Absalom!</em>?</p>
<p><span class="speaker">William Faulkner</span>No. I used Quentin in <em>Absalom, Absalom!</em> as a 
                         protagonist. His story was in <em>The Sound and the Fury</em>. I 
                    just suddenly needed Quentin Compson. In the
                    sense that he belonged to me, I just reached around and got him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.15">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:42.03:00',
					'endtime','00:17:47.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You're sometimes quoted as saying that <em>Sanctuary</em>
                    was a pot-boiler. Will you repudiate that&mdash;that idea? I would like for
                    you&mdash;I would like to repudiate it for you if you
                        <span class="unclear tooltip" title="Text was unclear">[don't]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, that book was&mdash;was basely conceived. I had&mdash;had
                    written and had never made much money, and I&mdash;when I was&mdash;was
                    footloose I could do things to make money. I could&mdash;could run a
                    bootlegging boat, I was a commercial airplane pilot, things like that.  Then
                    I got married, and I couldn't do things like that anymore, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and so I thought I would make a little money
                    writing a book. And I thought of the most horrific idea I could think of and
                    wrote it and sent it to the publisher, and he wrote me back. He said, "Good
                    Lord, if we print this, we'll both be in jail." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That was about 1920&mdash;about 1930, I think, when you couldn't say
                    things in print like you can now. So I forgot it. I wrote two more books. They
                    were published, and then one day I got the galleys for <em>Sanctuary</em>, and I read it, and&mdash;probably it was because I
                    didn't need money so badly then, but anyway, I&mdash;I saw what
                    a&mdash;a&mdash;a base thing it was in concept, what&mdash;what a&mdash;a
                    shabby thing it was, and so I wrote the publisher and said, "Let's throw it
                    away." He didn't have much money at that time. He said, "We can't do that
                    because I've had plates made, and that costs something." And I said, "Well, I'll
                    just have to rewrite it." And he said, "All right, you rewrite it, and I'll pay
                    half of the new plates, and you pay half of the new plates." So I rewrote it,
                    did the best I could with it. I got a job passing coal to earn the two hundred
                    and seventy dollars to pay my half for the plates for printing the book and then
                    the publisher went bankrupt. I didn't get any money at all. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So it&mdash;I did the best I could with&mdash;with the
                    book. It was in a way, already in the public domain. I couldn't throw it away,
                    and&mdash;and I rewrote it and did the best I could with it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.16">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:53.18:00',
					'endtime','00:18:27.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>You liked the characters in it enough, though, to write <em>Requiem of a Nun</em> later.</p>
<p><span class="speaker">William Faulkner</span>Well, there was nothing wrong with the characters in it. It was
                    the&mdash;the story itself, the first draft of it. The second draft was the
                    best I could do with it, and so I'm not ashamed of the second draft because it
                    was the best I could do. It wasn't good enough, but it was the best I could do,
                    and they did establish a problem that demanded the question, what
                    happened?  what could come of&mdash;of this marriage founded on
                        that?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio08_2.17">&nbsp;</a><div class="audio play-clip" id="wfaudio08_2.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:37:14:00',
					'endtime','00:18:58.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>Any other questions, silly or otherwise?  Well, we're very, very grateful to you, sir.</p>
<p><span class="speaker">William Faulkner</span>Thank you, sir.  Thank you, ladies.  <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio08_2.1" class="hidden">Unfinished Business</a></li>
<li><a href="#wfaudio08_2.2" class="hidden">Japanese Writers</a></li>
<li><a href="#wfaudio08_2.3" class="hidden">Being in Japan</a></li>
<li><a href="#wfaudio08_2.4" class="hidden">The Novel's Future</a></li>
<li><a href="#wfaudio08_2.5" class="hidden">Future Themes</a></li>
<li><a href="#wfaudio08_2.6" class="hidden">Translating His Works</a></li>
<li><a href="#wfaudio08_2.7" class="hidden">Prodding Audience</a></li>
<li><a href="#wfaudio08_2.8" class="hidden">His Literary Position</a></li>
<li><a href="#wfaudio08_2.9" class="hidden">Conrad's Influence</a></li>
<li><a href="#wfaudio08_2.10" class="hidden">Reading Critics</a></li>
<li><a href="#wfaudio08_2.11" class="hidden">Writing about Mississippians</a></li>
<li><a href="#wfaudio08_2.12" class="hidden">French Writers</a></li>
<li><a href="#wfaudio08_2.13" class="hidden">Favorite Books</a></li>
<li><a href="#wfaudio08_2.14" class="hidden">Continuing Stories</a></li>
<li><a href="#wfaudio08_2.15" class="hidden">Writing Sanctuary</a></li>
<li><a href="#wfaudio08_2.16" class="hidden">Sanctuary and Requiem</a></li>
<li><a href="#wfaudio08_2.17" class="hidden">Close</a></li>
</ul></aside>
        
