<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio29_2.1">Ike's Wife [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio29_2.2">Ike's Marriage</a>
    </li>
    <li>
      <a href="#wfaudio29_2.3">Man v Nature</a>
    </li>
    <li>
      <a href="#wfaudio29_2.4">Change as Destructive</a>
    </li>
    <li>
      <a href="#wfaudio29_2.5">Boon Killing Old Ben</a>
    </li>
    <li>
      <a href="#wfaudio29_2.6">Ike as Christ-Figure</a>
    </li>
    <li>
      <a href="#wfaudio29_2.7">Boon's Breakdown</a>
    </li>
    <li>
      <a href="#wfaudio29_2.8">Lion's Role</a>
    </li>
    <li>
      <a href="#wfaudio29_2.9">Boon's Last Scene</a>
    </li>
    <li>
      <a href="#wfaudio29_2.10">Human Dilemma</a>
    </li>
    <li>
      <a href="#wfaudio29_2.11">Ending of "The Bear"</a>
    </li>
    <li>
      <a href="#wfaudio29_2.12">Miscegenation in Novel</a>
    </li>
    <li>
      <a href="#wfaudio29_2.13">Annual Hunt</a>
    </li>
    <li>
      <a href="#wfaudio29_2.14">Sam v Boon</a>
    </li>
    <li>
      <a href="#wfaudio29_2.15">Origin of Lion</a>
    </li>
    <li>
      <a href="#wfaudio29_2.16">[Inaudible]</a>
    </li>
    <li>
      <a href="#wfaudio29_2.17">Bravery</a>
    </li>
    <li>
      <a href="#wfaudio29_2.18">"Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio29_2.20">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 8 May 1958</h3>
  <h3>OCCASION: Introductory Class in Types of Literature, Graduate Class in
                    American Literature</h3>
  <h3>TAPE: T-144c2</h3>
  <h3>LENGTH: 27:58</h3>
</div>
<div id="body">
  <a name="wfaudio29_2.1"/>
  <p><strong>William Faulkner:</strong> he would ever find from her, no understanding, no&#x2014;no
                    chance ever to&#x2014;to accept love or return love because she was incapable
                    of it. That's probably what he meant.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And I wondered why she laughed <span class="unclear tooltip" title="Text was unclear">[and laughed]</span> when
                    ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>She realized then that he was going to give up the land. She married him
                    because she was going to be chatelaine of a plantation. And then she found he was
                    going to give all that away, and the only revenge she knew was deny&#x2014;to
                    deny him sexually, that was the only triumph she had. And she was going to make
                    him suffer for that just as much as she could to get even with him.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>So she intended from the beginning of her marriage to deny him this one
                    thing that he had requested until it was useful in blackmailing&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, she assumed when they got married that she was going to be
                    chatelaine of a plantation, and they would have children. And she was going to
                    be as&#x2014;according to the rules of the book&#x2014;a good wife to him.
                    She'd still be frigid and cold and a shrew probably, but she'd be a good wife.
                    Then when he was going to throw the plantation away for idealistic folly, all
                    she&#x2014;the only revenge she had was that. At least he would have no
                    children from her. He'd have no wife from her. And she hoped&#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, Ike &#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>And she hoped that he would&#x2014;would make him grieve.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well Ike says here 
                    <span class="unclear tooltip" title="Text was unclear">[Did she realize when he was saying this that he did not mean]</span>&#x2014;?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Did not mean what?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> that he would go back to the land.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>She must have <span class="unclear tooltip" title="Text was unclear">[understood]</span> he was not going to  take
                    his heritage. Yes, I'm sure she was convinced of that, no matter what he might
                    have said.
                </p>
  <hr/>
  <a name="wfaudio29_2.2"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, if she had been the kind of wife he needed and been able to
                    give him love and companionship and had stuck by him and had children and had a
                    home for him, do you think that his&#x2014;that he would have ever
                    compromised with his ideals? After all, he had no training, no way of providing
                    for her.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say, since we are supposing, if she had been that sort of woman,
                    she would have understood his&#x2014;his hatred of that condition. She might
                    have been practical enough to say, "This is the way we'll do it. We can't
                    abandon these people. But let's do it this way." And he would have said, "You're
                    wiser than I. Let's try it your way." That's possible. I would like to think
                    that. But he would have stuck to his&#x2014;his position that "I will not
                    profit from this which is&#x2014;is wrong and sinful."
                </p>
  <hr/>
  <a name="wfaudio29_2.3"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, one of the most interesting aspects of "The Bear," to me, is the
                    conflict between man and the wilderness. I would like to ask you if you intend for
                    the reader to sympathize more with Old Ben and his conflict with hunters or with
                    the hunters and their conflict with Old Ben?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, not sympathize. I&#x2014;I doubt if&#x2014;if
                    the&#x2014;the writer is asking anyone to sympathize, to choose sides. That
                    is the reader's right. What the writer is asking is compassion, understanding
                    that&#x2014;that change must alter, must happen, and change is going to alter
                    what was. That no matter how fine anything seems, it can't endure because
                    it&#x2014;once it stops&#x2014;abandons motion, it is dead. It's to have
                    compassion for the&#x2014;for the anguish that&#x2014;that the wilderness
                    itself may have felt by being ruthlessly destroyed by axes, by&#x2014;by men
                    who simply wanted to&#x2014;to make that earth grow something that
                        they could sell for a profit, which brought into it a
                    condition based on an evil like human bondage. It's not to&#x2014;to choose
                    sides at all, just to compassionate the&#x2014;the&#x2014;the good,
                    splendid things which change must destroy, the splendid, fine things which are a
                    part of man's past, too, part of man's heritage, too. But they were obsolete and
                    had to go. But that's no need to&#x2014;to not feel compassion for
                    them, simply because they were obsolete.
                </p>
  <hr/>
  <a name="wfaudio29_2.4"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, is that what you meant by the ending of this, then, that
                    change must destroy all goodness?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Change, if it is not controlled by wise people, destroys sometimes more
                    than it&#x2014;it brings. That&#x2014;unless some
                    wise person comes along in&#x2014;in the&#x2014;in the middle of the
                    change and takes charge of it, change can destroy what is irreplaceable. If the
                    reason for the change is&#x2014;is base in motive. That is, to&#x2014;to
                    clear the wilderness just to make cotton land, to raise cotton on a&#x2014;on
                    an agrarian economy of&#x2014;of peonage, slavery, is&#x2014;is base
                    because it's not as good as that wilderness which it replaced. But if in the end
                    that makes more education for more people and more food for more people, more of
                    the&#x2014;the good things of life&#x2014;I mean by that to give man
                    leisure to&#x2014;to use what's up here, instead of just leisure to ride
                    around in automobiles, then the&#x2014;it was worth destroying the
                    wilderness. But if all&#x2014;if all the destruction of the wilderness does
                    is to give more people more automobiles just to ride around in, then the
                    wilderness was better.
                </p>
  <hr/>
  <a name="wfaudio29_2.5"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner,]</span> in "The Bear," does Boon Hogganbeck have
                    some particular trait or characteristic that made him <span class="unclear tooltip" title="Text was unclear">[the choice 
                        of&#x2014;of person to kill the bear]</span> rather than Sam Fathers or
                    Ike or some of the older hunters?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, yes, Boon had his size, his physical size and strength. He had the
                    mentality of a child, and he wouldn't stop to think, "This may be a little
                    dangerous to run in there." He had the&#x2014;the capacity to&#x2014;to
                    love that dog, enough to&#x2014;to risk being mauled to save that dog's life.
                    That Boon with his unreliability, his lack of&#x2014;of intellect, had
                    God-like attributes if he ever met the opportunity to show. And he met,
                    probably, his great moment in life, when he could use his strength
                    and&#x2014;and his capacity to be&#x2014;be brave, to&#x2014;to save,
                    to protect the weak from the strong, even though the weak was just a dog. Also,
                    Boon was a descendant of the same Indian clan that Sam Fathers was descended
                    from. Sam Fathers, whether Boon knew it or not, was descended from the chief. He
                    was Boon's superior in the <span class="unclear tooltip" title="Text was unclear">[woods]</span> because he had better blood.
                    Boon was&#x2014;Boon's Chickasaw ancestor was probably just a
                        <span class="unclear tooltip" title="Text was unclear">[hunter]</span>. Sam's, even though his mother was a Negro, his
                    father was a chief, a king. And maybe Boon was doing what he knew Sam expected
                    him to do.
                </p>
  <hr/>
  <a name="wfaudio29_2.6"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>If I understood you correctly, earlier you said that you did not use any
                    intentional symbolism in "The Bear." But yet, towards the end of the
                    story&#x2014;well, after the end, Ike appears <span class="unclear tooltip" title="Text was unclear">[from now on he's going
                        to lead a]</span> very Christ-like existence, and he becomes a carpenter,
                    and was that not intentional?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, not deliberately intentional. I mean this, the&#x2014;the
                    symbolism, is&#x2014;is literary. It's a part of&#x2014;of anyone's past,
                    background. So these symbols will appear, just as the way you&#x2014;you
                    pronounce your words appear. You don't know where you learned to pronounce words
                    the way you do because you&#x2014;you inherited that or it came from your
                    early environment, and these symbols, which are Christian symbols, are a part of
                    the&#x2014;the Christian background which all of us in this country came
                    from. That's why I think critics read into books what the writer didn't know was
                    there, because he reads from the same background of Christian symbolism which
                    the writer unconsciously <span class="unclear tooltip" title="Text was unclear">[wrote]</span> from. And I'm sure that these
                    symbols are all there, but the writer himself don't know it till somebody points
                    them out to him. Because he is too busy simply telling about people to have to
                    hunt around to&#x2014;to use symbols to tell about people with. The symbols
                    insert themselves just as the proper word does. Because that is a part of his
                    culture, part of his literary background.
                </p>
  <hr/>
  <a name="wfaudio29_2.7"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What is the function of Boon's breakdown ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No function. He had&#x2014;had gone beyond even his strength, the
                    strain. He had&#x2014;he&#x2014;at the last, he killed Sam Fathers by Sam
                    Father's command, just as a King would say to one of his&#x2014;his faithful
                    body servants, when he has lost the war and lost the battle, "Don't let my head
                    fall into the enemy's hands." Boon had simply exceeded his own emotional and
                    physical strength. He just <span class="unclear tooltip" title="Text was unclear">[stayed awake]</span> too long.
                </p>
  <hr/>
  <a name="wfaudio29_2.8"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What significance do <span class="unclear tooltip" title="Text was unclear">[you attach to the dog Lion]</span>  <span class="unclear tooltip" title="Text was unclear">[left out of the story?  Why wasn't the bear
                        killed]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, that's sort of like saying, "How would Shakespeare have got along
                    without his gravediggers." That is, it's more than atmosphere. It's necessary
                    to&#x2014;to&#x2014;to create the full complete atmospheric picture in
                    which man faces the&#x2014;the natural, normal dilemmas of&#x2014;of his
                    condition. That Lion was simply necessary, just like the bear was necessary.
                    There was no intent that they should symbolize anything. They were just
                    necessary components to a moving, dramatic story which approached a climax.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>He was just needed?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, yes. Just like the boy was needed as a protagonist on one side,
                    just as the bear was needed, just as the wilderness was needed,
                    as&#x2014;they're props to tell the&#x2014;the story, which
                    was&#x2014;a boy to face the adult world and to see how he copes with it.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Because he was a part of the wilderness ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, the wilderness where the bear ran had not been tamed yet. Men went
                    into it, but they didn't live there. They went in to match their strength
                    against the wilderness, which was older and stronger than they were, yes. The
                    edges of it would be <span class="unclear tooltip" title="Text was unclear">[gnawed off]</span>, but&#x2014;but where the bear ran was not tamed
                    yet. But when they went in to&#x2014;to that bear country, they had to accept
                    the bear's conditions, not theirs anymore. The only advantage they had were
                    guns. And the boy, who&#x2014;he met the&#x2014;the&#x2014;the symbol
                    of the wilderness, had a chance to use his gun. He didn't use it. He was testing
                        himself.
                </p>
  <hr/>
  <a name="wfaudio29_2.9"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner,  <span class="unclear tooltip" title="Text was unclear">[extreme end of "The Bear"]</span>  <span class="unclear tooltip" title="Text was unclear">[where Boon is at
                        the base of the tree]</span>  <span class="unclear tooltip" title="Text was unclear">[gun to shoot the squirrels he has up the
                        tree.]</span> Is that showing that Boon is unable to cope with modern
                    instruments like the gun? The only way he could kill something was <span class="unclear tooltip" title="Text was unclear">[by
                        the way he killed the bear]</span>?  <span class="unclear tooltip" title="Text was unclear">[ gun and]</span> not being able to hit
                    anything when he uses it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, that, to me, was a&#x2014;a promise of optimism, a belief of mine
                    that&#x2014;that man, no matter how frail he is, is tougher than anything,
                    that he can stand anything, that Boon, having served his purpose in
                    this&#x2014;the old bear's saga and Sam Father's finish, was still going on,
                    he will still Boon. If he were needed again by another Old Ben, another Sam
                    Fathers, he would have served again. That he was&#x2014;that, to me, is
                    a&#x2014;a sign of&#x2014;of optimism, that man is pretty good after all,
                    that even his <span class="unclear tooltip" title="Text was unclear">[moments]</span>  of heroism don't necessarily need to
                        destroy.
                </p>
  <hr/>
  <a name="wfaudio29_2.10"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner,  <span class="unclear tooltip" title="Text was unclear">[of man's dilemma]</span>   <span class="unclear tooltip" title="Text was unclear">[in terms of this dilemma, in
                        our current society]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>His struggle is, "Shall I do what I can to&#x2014;to get rid of what
                    I know of evil? Or shall I say, 'Well, that's none of my business, and I'll let
                    it alone?' If what I know to be evil, injustice, worries me so, I must do
                    something about it. Or how can I, as frail as I am and as solitary as I am,
                    against a vast weight of public opinion who wants to let this alone?" That's his
                    struggle and his dilemma and his dramatic moment, in terms of&#x2014;of
                        <span class="unclear tooltip" title="Text was unclear">[story is]</span>&#x2014;when he faces this problem, this battle,
                    does he lick it or does it lick him? If&#x2014;if it beats his brains out,
                    does he still look good while he is having his head <span class="unclear tooltip" title="Text was unclear">[battered]</span>?
                    Or does he turn tail and run from it? They are&#x2014;they are his problems.
                    Will I be as brave as I want to be? Will I be as honest as I want to be?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right. Yes, he wants to do something about it.
                </p>
  <hr/>
  <a name="wfaudio29_2.11"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner,  <span class="unclear tooltip" title="Text was unclear">[in the ending of "The Bear"]</span>  
                    optimistic intentions, I thought of it <span class="unclear tooltip" title="Text was unclear">[more so as]</span> a warning
                    to man that <span class="unclear tooltip" title="Text was unclear">[he can not really conquer nature, that in the end nature
                        will win out, and]</span> in order to lead a good life he must be at peace
                    with nature rather than trying to constantly conquer it.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I'm not too certain that man could&#x2014;can be at peace with
                    nature because nature ain't very peaceful itself. I think, in&#x2014;in this
                    instance, Boon&#x2014;he did everything full out. If it was something
                    worthwhile, and he could be convinced by someone he believed in that he should
                    go full out at it, he would. Just as he&#x2014;he went at the bear and just
                    as he helped Sam Fathers to die. He was hunting squirrels, and he had got the
                    squirrels up that tree, and the gun, as usual, let him down. If anything, that's
                    a&#x2014;a contemptive commentary on the machine that man thinks he
                    can depend on when he can't. It lets him down. And Boon's machine let him down. But
                    that hadn't frightened Boon. He could fix that thing just as long as somebody
                    else didn't come along with a machine that did work and kill all the
                    squirrels.</p>
  <hr/>
  <a name="wfaudio29_2.12"/>
  <p><strong>Joseph Blotner:</strong>Mr. Faulkner, does the miscegenation and incest of Roth Edmunds in "Delta
                    Autumn" complete a cycle of incest and miscegenation begun by old McCaslin and
                    only interrupted by the goodness of Buck and Buddy and Ike in the middle?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, it&#x2014;it came home. It&#x2014;if you&#x2014;if that's
                    what you mean by complete the cycle, yes, it did.
                </p>
  <hr/>
  <a name="wfaudio29_2.13"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, the purpose of having the annual&#x2014;the annual hunt
                        <span class="unclear tooltip" title="Text was unclear">[just a&#x2014;just the opportunity to allow these people to commune
                        again with nature]</span>  nature?</p>
  <hr/>
  <p><strong>William Faulkner:</strong><span class="unclear tooltip" title="Text was unclear">[No,]</span> it was to go hunting. They liked to go hunting,
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and that was&#x2014;it  that
                    simple.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> they were going to hunt deer&#x2014;bear and
                    deer&#x2014;they were not going to hunt bear and deer, but to keep a yearly
                    rendezvous with a bear they did not intend to kill.</p>
  <hr/>
  <p><strong>William Faulkner:</strong><span class="unclear tooltip" title="Text was unclear">[Well, now,]</span> that's&#x2014;that's that little boy
                    remember that has gone into the adult world with&#x2014;with all the
                    illusions of something fine and splendid. The old people, when they first went
                    there, they had that same thought, but now they went back to hunt. <span class="unclear tooltip" title="Text was unclear">[It
                        could&#x2014;also they could]</span> go back because they liked it,
                    because they liked the&#x2014;liked the freedom. They liked the sense
                    of&#x2014;of <span class="unclear tooltip" title="Text was unclear">[atavistic]</span> desire to go back to the beginning.
                    Also, they&#x2014;for two weeks, they were free of the women folk. There were
                    all sorts of reasons why they would like to go. It could be summed up simply
                    because they liked 
                    <span class="unclear tooltip" title="Text was unclear">[in the bottom during the hunt]</span>. They wouldn't have
                        <span class="unclear tooltip" title="Text was unclear">[paused]</span> to dig out the other reasons as the little boy
                    did. They could have been there. But those men would never meet on the street,
                    say, "Now boys, let's hook up the mules and go back to commune for two weeks
                    with nature." They'd say, "Let's go back there and kill that big bear that's
                    there." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio29_2.14"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, after Sam <span class="unclear tooltip" title="Text was unclear">[had taken&#x2014;taken&#x2014;captured
                        Lion,]</span> Boon took the dog. Now, why didn't Sam mind that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sam was a king. He was going to have his&#x2014;his hunter folks take
                    care of the dogs and horses. He turned the dog over to&#x2014;to <span class="unclear tooltip" title="Text was unclear">[a groom]</span>.
                    Sam was a king. He wasn't going to sleep with a dog. He'd let Boon do 
                        that.
                </p>
  <hr/>
  <a name="wfaudio29_2.15"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    <span class="unclear tooltip" title="Text was unclear">[Sir, you said that this story, you think, comes out of your own background. Was there really a
                        dog]</span>  <span class="unclear tooltip" title="Text was unclear">[actual dog that might have inspired Lion]</span>?
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>We usually had one dog of that&#x2014;that general type in our pack
                    of bear dogs. He was a&#x2014;usually part Airedale. The hounds
                    would&#x2014;would trail the bear and bay him. And the Airedale
                    would&#x2014;would hold him there until the men on the horses could get up.
                        <span class="unclear tooltip" title="Text was unclear">[Lion, as he is in the story, is a fabrication,]</span> but
                    he's based on the&#x2014;the dog that we would usually have in our pack,
                    always keep one of that sort.
                </p>
  <hr/>
  <a name="wfaudio29_2.16"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir have you ever  <span class="unclear tooltip" title="Text was unclear">[the idea of]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, not <span class="unclear tooltip" title="Text was unclear">[for me]</span>.</p>
  <hr/>
  <a name="wfaudio29_2.17"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[I hope this is not too obvious a question, but this is not the sort of thing]</span>  novels. As we
                    read your books, we see dogs, mules, colored people, white people, Indians,
                    half-breeds who are brave. Bravery permeates your work. Could you say something
                    about bravery in general? Do you think that&#x2014;that a man should feel
                    that he has to be brave or do you think that men are brave by definition? Do you
                    think, also&#x2014;is there less bravery today than there was forty years
                    ago?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't think so. I think
                    there's&#x2014;there's&#x2014;bravery is like&#x2014;like the water in
                    the earth. It&#x2014;it don't diminish. It might alter. Some it's clouds.
                    Sometimes it's&#x2014;it's rivers in the land. Sometimes it's back in the
                    ocean again, but it's the same quantity of water. It's constant.
                    That&#x2014;I would say that&#x2014;that man falls into courage just as
                    you walk along the street and fall into manhole, that no&#x2014;nobody
                    possesses it at&#x2014;at his beck and call always, that he himself never
                    knows whether he will be able to be brave enough. Quite often he is to his
                    astonishment. I think that some people feel better to believe or have proof that
                    they are brave, that they may do dangerous things, just as you take a drink. It
                    makes you feel good to know that you are brave. Some people are content
                    to&#x2014;to believe that "I'm going be brave, but I ain't going to go to
                    much trouble to find out right now." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But I
                    would say that the&#x2014;the quantity of it is&#x2014;is a constant
                    factor, , a constant <span class="unclear tooltip" title="Text was unclear">[apportioning]</span> to individual people,
                    that too many things will have to do with&#x2014;with why you're brave at one
                    particular moment. Too much goes into it. Maybe somebody's watching you. You
                    want to look good, so you're brave. You might be scared to death, but for the
                    moment you're brave because you want to look good to your&#x2014;to your
                    sweetheart or to a friend or to newspapers or whatever.</p>
  <hr/>
  <a name="wfaudio29_2.18"/>
  <p><strong>Moderator:</strong>One last question?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I remember I read most&#x2014;a good bit of your work
                    about&#x2014;oh, about six years ago, I guess, and I read it without any
                    particular direction, in no particular sequence. I can remember sort of
                    struggling through it and trying to figure out the genealogical table to figure
                    out whose family the people belong to and all. And then one day I 
                        read "The Old Man." I never read <em>The Wild Palms</em>. 
                        I know it was published in conjunction with "The Old Man." I never 
                        read that. But The
                        Old Man," I remember, struck me because, as I remember, basically it was
                    a very simple story. The language was pretty straightforward. There weren't very
                    many people involved in it. It was sort of a nice, tight, short novel, I guess.
                    And it was in&#x2014;to me, at that time, as I remember, it was
                    entirely&#x2014;it struck me as being entirely unlike&#x2014;I guess from
                    the point of view of style, if you want to use the term, from anything else I'd
                    read of yours&#x2014;and I always was interested in how you thought about
                    that particular piece of work in relation to the other things
                    you've&#x2014;you've written.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's only half of&#x2014;of another book. They should never have
                    been broken apart that way. That's half, chapter by chapter, with a book called
                        <em>The Wild Palms</em>. They should be read together, as I
                    wrote them. That is&#x2014;is simply a&#x2014;a&#x2014;a background.
                    It's a counterpoint in a fugue.  And, to me, to&#x2014;to
                    break them to pieces is&#x2014;is just as dull as&#x2014;as listening to
                    the left hand part of&#x2014;of a&#x2014;a piece of Beethoven
                    or&#x2014;or Bach. It don't mean anything to me without both hands. That was
                    not my idea to do that. That was the publisher's. It was printed properly in a
                    book called <em>The Wild Palms</em>. They were alternate chapters.
                    This was to emphasize and underline the other story. One was the story of
                    a&#x2014;of a man and a woman who&#x2014;who fell in love
                    and&#x2014;and were destroyed by it, played against the background of a man
                    who got involved with a woman and went through incredible trouble to get rid of
                    her, even to go back to the penitentiary to get rid of her.</p>
  <hr/>
  <a name="wfaudio29_2.20"/>
  <p><strong>Moderator:</strong><span class="unclear tooltip" title="Text was unclear">[Thank you very much, Mr. Faulkner]</span>.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
