
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio12_3.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 8 May 1957</h4>
<h4>OCCASION: Engineering School Students</h4>
<h4>TAPE: T-126</h4>
<h4>LENGTH: 11:07</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:01:02.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>I would say as a&mdash;as&mdash;as an idea, someone with the
                    capacity to read English that appeared suddenly with no past, mature out of a
                    vacuum, would get nothing from reading the books, that he would have to have
                    something in his own experience of&mdash;of man and man's condition and
                    man's behavior to have made the books comprehensible to him, so, of course, he
                    reads into the&mdash;the books, things the writer didn't put in there, in
                    the terms that&mdash;that his and the writer's experience could not possibly
                    be identical. That there are things the writer might think is in that book, which
                    the reader doesn't find for the same reason that&mdash;that no two
                    experiences can be identical, but everyone reads according to&mdash;to his
                    own&mdash;own lights, his own experience, his own observation, imagination,
                    and experience.
                    </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:02.46:00',
					'endtime','00:02:27.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Most of us here tonight, I think, are rather young men in&mdash;in
                    the field of engineering. A lot of us hope to be getting out this year. I wonder
                    if you have&mdash;this may be an offbeat question&mdash;I wonder if you
                    have any advice to young men getting ready to go out in the light, you might
                    say, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> from the point of view of someone who's
                    studied human beings and people as much as you have.</p>
<p><span class="speaker">William Faulkner</span>There was a very wise man said to me once, "I never give anybody advice
                    because they might take it." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And at first I
                    didn't understand what he meant by that, but&mdash;but now I think I do.
                    Actually nobody can bathe for you, you know. You've got to do that yourself,
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and the experience, the&mdash;the
                    advice you get, I think, is not by asking for it. You&mdash;you get that
                    through some form of osmosis. You will get it from the books you read, from your
                    experiences in college. Every man has got to stand on his own feet, and I think
                    now that I wouldn't accept anyone's advice, that I would rather make my own
                    mistakes than to accept advice which&mdash;which might save me because I
                    know now that&mdash;that mistakes don't hurt you.</p>
<p><span class="speaker">Unidentified participant</span>Well, that's good advice in itself, I think. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, thank you.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:27.05:00',
					'endtime','00:02:54.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>If you were to undertake a biography, what characteristics would you
                    consider?</p>
<p><span class="speaker">William Faulkner</span>I wouldn't undertake one for the reason I just stated before, that any
                    writer worth his salt is convinced he can improve on anything that God ever
                    made. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I would never write my own because I
                    know, being a congenital liar, I never could tell the truth about
                        <span class="unclear tooltip" title="Text was unclear">[things]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:54.95:00',
					'endtime','00:03:37.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, if you were to write a book based around the University here, what
                    sort of characters and situations <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    <span class="unclear tooltip" title="Text was unclear">[would you put in it]</span>?</p>
<p><span class="speaker">William Faulkner</span>Now, that question in a way has been answered before. The writing I have
                    done has always been from the character. Now, if the character that I thought of
                    said, "I'm going to go to the University of Virginia," then I would have to write
                    about the University of Virginia, but the character would have to command that I
                    write about the University of Virginia. It's&mdash;it's not in&mdash;in
                    my line of work to say, "Now, I'm going to write a story about any place," and
                    then put people into it, that the people themselves say, "Come on here, Faulkner,
                    we're going to write this one about the University of Virginia." 
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:39.34:00',
					'endtime','00:05:56.86:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I&mdash;someone who talked to you gave a list of virtues. I've heard
                    you mention some of them tonight. Do you have that ready? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that courage and honesty were among your
                    list of virtues.</p>
<p><span class="speaker">William Faulkner</span>Well, let's use a&mdash;a little better word to me than virtues.
                    They're the verities of the human heart. They are courage, honor, pride,
                    compassion, pity. That they are&mdash;they are not virtues. One doesn't try
                    to practice them, in my opinion, simply because they are good. One
                    practices&mdash;tries to practice them simply because they are the edifice
                    on which the whole history of man has been founded, and by means of which
                    his&mdash;as a race, he has endured this long. That
                    without&mdash;without those verities, he would have vanished, just like the
                    mastodon and the other ephemeral phenomena of nature which have come and gone in
                    the history of the world. Man has endured despite his frailty because he accepts
                    and believes in those verities, that one must be honest not because
                    it's&mdash;it's&mdash;it's virtuous, but because that's the only way to
                    get along. That if people lied constantly to one another, you would never know
                    where you were, you would never know what was going on. That if people didn't
                    practice compassion, there would be nothing to <span class="unclear tooltip" title="Text was unclear">[defend]</span> the
                    weak until they got enough strength to stand for themselves. If one didn't
                    practice something of&mdash;of pride, one would have nothing to be proud
                    about, to have said, "I&mdash;I did well.  I&mdash;I did nothing that I
                    was ashamed of. I can lie down with myself and sleep." That is, they
                    are&mdash;they are the verities to be practiced not because they are a
                    virtue but because that's the best way to live in peace with yourself and your
                        fellows.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:57.90:00',
					'endtime','00:06:20.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what is a roan tooth?</p>
<p><span class="speaker">William Faulkner</span>Oh, it was a&mdash;probably a dead tooth that had turned a bluish color, which
                    to this little boy was the color of roan horse. That was the first color he
                    thought of, that it was a dead tooth in this lady's mouth here that had a bluish
                        cast or purplish cast to it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:26.66:00',
					'endtime','00:08:53.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Longley, Jr.</span>Well, let's have one more question <span class="unclear tooltip" title="Text was unclear">[for Mr.
                        Faulkner]</span> and then we'll close down for the night. Yes,  ask a
                        question.</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In some of your books, I have noticed the characters tend to be sort of
                    blanks. You don't know what they are. A good example of this is Sutpen in <em>Absalom, Absalom!</em> He's a blank until the end of the book.
                    You don't know what motivates him. You see him motivated; you see him doing
                    these things, but you don't see what motivates him. Do you start with knowing
                    what the character is and describe his motivations, describe his actions, and
                    then get around to describing what motivates the actions?</p>
<p><span class="speaker">William Faulkner</span>No, it is&mdash;is the writer's fault. Before the writer begins to put that
                    character down, he has got to understand him, and <span class="unclear tooltip" title="Text was unclear">[if]</span> he
                    hasn't made perfectly plain and coherent the motivations necessary to make that
                    character real to the reader, then the&mdash;the writer himself is at fault.
                    He hasn't, probably, learned enough of his craft by that time.  But to the
                    writer, of course, that character is&mdash;is intact and whole and is
                    breathing and is standing up, and if to the reader he doesn't stand up and is
                    not real and actual, then that is the fault of the craftsman.</p>
<p><span class="speaker">Unidentified participant</span>I didn't say&mdash;he's real and actual, and I realize this, but I
                    don't see the reasons for his actions until the&mdash;until the very end of
                    the book. I just didn't see why he did these things. I see that he did them, and
                    I knew there was a reason for it, but I didn't know what it was.</p>
<p><span class="speaker">William Faulkner</span>Well, you can meet an actual living creature or man, you can see him in
                    the throes of some action, and it won't be until after the action is complete
                    that you'll find out why he did that. You agree to that, that that's
                    possible?</p>
<p><span class="speaker">Unidentified participant</span>Yeah.</p>
<p><span class="speaker">William Faulkner</span>Well, that's the case of Sutpen. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    It's&mdash;simply was a matter of&mdash;of&mdash;of where you
                    happened to be standing, where the reader happened to be standing, that he
                    didn't&mdash;the observer happened to be standing, that he didn't see the
                    motives in time. Now, that&mdash;that can be used as a&mdash;as a trick
                    to be more effective. I don't remember if&mdash;if that was my intent then,
                    but that is a&mdash;a valid trick which&mdash;which applies one of the
                    simple primary rules of&mdash;of writing any paragraph, which is
                    emphasis.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:57.26:00',
					'endtime','00:09:55.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I was wondering, you said that in your list of the five authors, you
                    thought you had all failed, and I wondered just what it was you thought you had
                    failed at and what you thought, if there is such a thing, as
                        <span class="unclear tooltip" title="Text was unclear">[success]</span>?</p>
<p><span class="speaker">William Faulkner</span>Oh, it&mdash;I mean by it this, that what saves any artist, any
                    writer, is that he will never quite attain the image, the shape, the dream. It's
                    always out of his reach. If he ever attained it, then he would be miserable for
                    the rest of his life, but he never quite matches that, so he writes again and
                    again and again, and that's&mdash;that's why the&mdash;the artist's life
                    is such a happy one. He never does reach satiety. He never
                    will. He will believe that next time, he will write the thing that will match
                    that&mdash;that marvelous dream that he has, but&mdash;but he knows he
                    won't. But he will still try. There's always some reason for him to wake up
                    tomorrow morning. There's something to do. That's why he's the happiest man of
                    all of them.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:54.98:00',
					'endtime','00:10:49.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>And do you think that each new book is better than the old one?</p>
<p><span class="speaker">William Faulkner</span>Well, to me, there're no degrees. It's either good or
                    it's&mdash;it's bad, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and
                    it's got to be perfect, then I'll say it's good.  But there are not degrees of it.
                    The only consistent opinion I have is that it's another failure, neither good
                    nor bad. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It just&mdash;it just <span class="unclear tooltip" title="Text was unclear">[a failure]</span>.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But never a shameful failure.
                    It's&mdash;it's when the&mdash;the book was basely conceived and
                    executed it failed. That's the shameful failure. That is something to writhe
                    over, but just a&mdash;a decent, honest failure is all right because, as I
                    just said, failure and mistakes never hurt you. Nothing to&mdash;to dread or
                    fear or&mdash;or dodge is an opportunity in which you might make a mistake.
                        <span class="unclear tooltip" title="Text was unclear">[There's]</span> nothing to be ashamed of in that, nothing to hurt
                    you.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_3.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:52.81:00',
					'endtime','00:11:06.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Longley, Jr.</span>Well, ladies and gentleman, thank you for your interesting and
                    intelligent questions. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Thank you, Mr.
                        Faulkner.  <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio12_3.1" class="hidden">Readers' Meanings</a></li>
<li><a href="#wfaudio12_3.2" class="hidden">Advice for Young Men</a></li>
<li><a href="#wfaudio12_3.3" class="hidden">Writing a Biography</a></li>
<li><a href="#wfaudio12_3.4" class="hidden">UVA as Setting</a></li>
<li><a href="#wfaudio12_3.5" class="hidden">List of Virtues</a></li>
<li><a href="#wfaudio12_3.6" class="hidden">A Roan Tooth</a></li>
<li><a href="#wfaudio12_3.7" class="hidden">Sutpen as Blank</a></li>
<li><a href="#wfaudio12_3.8" class="hidden">Failure and Success</a></li>
<li><a href="#wfaudio12_3.9" class="hidden">Better v Good</a></li>
<li><a href="#wfaudio12_3.10" class="hidden">Close</a></li>
</ul></aside>
        
