
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio14_1.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 15 May 1957</h4>
<h4>OCCASION: Session with the General Public</h4>
<h4>TAPE: T-129</h4>
<h4>LENGTH: 31:46</h4>
<div class="audio play-all" id="event1">
        				Play entire recording
        			</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio14_1.1">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:33.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> I think that nobody can say, "I'm going to use 
                        stream-of-consciousness as my method for writing." That's&mdash;that's wrong. He'd get
                    into trouble. He must use that simply as a tool, only when nothing else will do
                    the work. It's much better to show the character in familiar terms
                    of&mdash;of action, of speech, but sometimes that's not sufficient. Then you
                    have to use another tool, just as at times the carpenter realizes that his
                    familiar tool is not quite enough to do what he wants to do, so he's got to stop
                        and make something, make a tool <span class="unclear tooltip" title="Text was unclear">[to use]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.2">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:34.22:00',
					'endtime','00:01:49.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>The <em>New York Times</em> spoke of your
                    brooding concern for people. This&mdash;were you born with that brooding
                    concern for the human being or was that&mdash;that a
                    <span class="unclear tooltip" title="Text was unclear">[vision]</span>&mdash;adulthood approaches, or when did this
                    brooding concern <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> happen?</p>
<p><div class="speaker">William Faulkner</div>Now, I think that's a question you should ask the man who wrote the
                    piece in the <em>New York Times</em>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I don't think I have any brooding concerns for
                    people. I like people. There's no brooding concern about it.</p>
<p><div class="speaker">Unidentified participant</div>You don't&mdash;you don't feel that you have a brooding concern?</p>
<p><div class="speaker">William Faulkner</div>I didn't know I had until this man told me, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I think people are&mdash;are
                    something that one doesn't need to brood about. People are interesting. They are
                    the&mdash;the most interesting, diverting thing on earth.
                    It's&mdash;it's fun to&mdash;to watch people and wonder why they do
                    what they do, not to brood over them. Of course, one has got to be concerned
                    over man's condition because if&mdash;if man is to advance, he must take
                    cognizance of man's condition to improve it, but you don't brood over it. You do
                    something about it. When you see injustice, you raise your voice
                    and&mdash;and state that "This is&mdash;this is bad, I don't like it," but
                    you don't brood over it.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.3">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:52.42:00',
					'endtime','00:04:03.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, why is it that most of your short stories and hunting stories are so
                    clear and simple like the one you just read, yet&mdash;yet some of your
                    novels that you think are your finest, are, you know, <span class="unclear tooltip" title="Text was unclear">[have]</span> to
                    be so mixed up psychologically in that they're hard for the average reader to&mdash;to
                    understand?</p>
<p><div class="speaker">William Faulkner</div>Well, that is something like the first question we had. The story
                    commands its own method of telling it. Some stories can be told quite simply and
                    objectively, like this little boy's reactions to the adult world that he had to
                    cope with. Other stories demand more probing into what makes men and women tick.
                    That is, this little boy could show&mdash;could show what made him tick by
                    his simple speech and actions. There are other times when the action and the
                    speech won't show that, so the craftsman's got to dig around to find some other
                    method to use to&mdash;to show what he hopes to tell. And it's not
                    that&mdash;that the ones I like are the ones in which I've done
                    the&mdash;in which I'm obscure. They're the&mdash;they're the ones that
                    have caused me the most trouble. I think none of the books that any writer does
                    are quite good enough. That's why he writes another one. The ones that he labors
                    the hardest over or worries the most about, he develops this&mdash;the same
                    affection for that the parent does for the&mdash;for the
                    unfortunate child, the sick child, or the&mdash;the mentally unbalanced
                    child, but they&mdash;they all are failures in his opinion because they're
                    not as good. He don't want to be as good as his&mdash;his coevals or even
                    just as good as Shakespeare. He wants to be better than Shakespeare and Homer.
                    He knows he can't, but that's&mdash;that's what he works for. That's what
                    makes a&mdash;a writer's life such a happy one. He always has something to
                    get up tomorrow that he's anxious to do, which is to&mdash;to attain the
                    impossible, never to&mdash;to reach satiety, always to have
                    something a little beyond his reach but still to jump at it, to try for it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.4">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:07.41:00',
					'endtime','00:07:13.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I was speaking to somebody and they mentioned the
                    fact that one of the <span class="unclear tooltip" title="Text was unclear">[Adams]</span>, or I don't know who, as a young
                    boy of nine seemed to have the future weight of the world on his
                    shoulder&mdash;shoulders. As a young child, did you show this great genius
                    or future genius? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Did you write or did your
                    mother and father know that you were going to be a great writer some day? What
                    indications were there that you were&mdash;? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Well, I suspect that&mdash;that to any mother, the child is a genius
                    no matter what he does, <span class="unclear tooltip" title="Text was unclear">[and I suspect]</span>
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> that to any father <span class="unclear tooltip" title="Text was unclear">[a boy]</span>
                    that&mdash;that showed no inclination to be anything but a tramp
                    is&mdash;is not much of anything to him and never will be, but I think that
                    probably the writer is&mdash;is being a writer from the time he begins to
                    observe long before he learns to spell. It's&mdash;sometimes a man or woman
                    begins to write at an early age. Sometimes they wait until middle age or even
                    late in life.</p>
<p><div class="speaker">Unidentified participant</div>Well, did you write very early?</p>
<p><div class="speaker">William Faulkner</div>Yes, but not seriously. I never thought of taking up writing as
                    a&mdash;a serious trade until I&mdash;I met Mr. Sherwood Anderson in New
                    Orleans, and I liked him at once. We would meet in the afternoon. I
                    had a&mdash;had other jobs then, but I would be <span class="unclear tooltip" title="Text was unclear">[off at]</span>
                    times, and we would walk down <span class="unclear tooltip" title="Text was unclear">[in]</span> New Orleans, and he would
                    talk, and I would listen. We would meet in the evening and go to a&mdash;a
                    courtyard, and&mdash;and he would talk, and I would listen until twelve or
                    one o'clock over a bottle of whiskey. The next morning he would be in seclusion
                    working. I wouldn't see him until afternoon, and then we would walk, and I would
                    listen, and he would talk, and we would talk and laugh again in the evening, and
                    the next morning he'd still be  writing. And I thought that if that's the
                    sort of life being a writer was then that's the life for me, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> that I would become a writer. And so I started
                    writing a book and after the first page or two, I found it was fun, and I was at
                    it every day, and I hadn't seen Mr. Anderson in three or four weeks, and I met
                    Mrs. Anderson on the street one day. She said, "We haven't seen you in a long
                    time. What's wrong? Are you mad at us?" I said, "No, ma'am, I'm writing a book."
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And she said, "Good Lord." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I saw her later, and she said, "I told Sherwood
                    you were writing a book. He said, 'Do you want him to read it?'" I hadn't
                    thought of anybody reading it. I said, "Well'm, if he wants to, he can." She said,
                    "Well, he told me he would make a trade with you. If he don't have to read that
                    manuscript, he'll tell his publisher to take it." I said, "Done." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so he told his publisher to take it. That's
                    how I became a&mdash;a writer.</p>
<p><div class="speaker">Unidentified participant</div>Which book was that, Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>That was one called <em>Soldier's Pay</em>, the first one.
                    That was back in 1922, I believe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.5">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:13.65:00',
					'endtime','00:08:41.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, to what extent can a professional writer call his own
                    shots? Do you feel that the publisher <span class="unclear tooltip" title="Text was unclear">[senses]</span> what your
                        public expects you to write <span class="unclear tooltip" title="Text was unclear">[and puts]</span>
                    the pressure on you to write a certain way?</p>
<p><div class="speaker">William Faulkner</div>In my case, there's never been any pressure. Never&mdash;never been
                    any pressure at all. I have written manuscripts which&mdash;which before
                    they were&mdash;were done, I myself decided were not good enough, and I
                    burned them up. There have been other manuscripts which I would send to the
                    publisher, and he'd say for a certain reason, "We can't print this," so I would
                    keep it until times changed, and then he'd say, "We can print them now <span class="unclear tooltip" title="Text was unclear">[or
                        something like that]</span>," but there're never been any pressure on me.
                    I&mdash;I've either had the best publishers or maybe some providence watched
                    over me and kept me from&mdash;from getting into trouble, but there's never
                    been any pressure on me, and I think that is&mdash;is what makes
                    the&mdash;the fiction writer, the poet's life, the best one because he is
                    his own man or woman. Nobody tells him what to do or say. If you're a dramatist,
                    then you've got to compromise with actors and directors and with the public or
                    whoever's puts up the money for it. <span class="unclear tooltip" title="Text was unclear">[But]</span> the writer is probably
                    the only person alive who can be completely individual, to&mdash;to do
                    exactly as he wants to do.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.6">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:43.70:00',
					'endtime','00:11:08.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I saw something not long ago that took <em>The Sound and
                        the Fury</em>
                    <span class="unclear tooltip" title="Text was unclear">[in the]</span> four sections and tried to draw a parallel between the id
                    and ego and super-ego and the author <span class="unclear tooltip" title="Text was unclear">[as a]</span> person. Don't you
                    think that is indicative of what a lot of critics and scholars are doing with
                    <span class="unclear tooltip" title="Text was unclear">[not only]</span> you but with contemporary writers, making psychological inferences and
                    finding symbols that the author never intended?</p>
<p><div class="speaker">William Faulkner</div>Well, I would say that the author didn't deliberately intend, but I
                    think that&mdash;that in the same culture, the background
                    of&mdash;of&mdash;of the critic and of the writer are so similar that a
                    part of&mdash;of each one's history is the&mdash;the seed, which can be
                    translated into the symbols which are standardized within that culture. That
                    is, the writer don't have to know Freud to have&mdash;have written things
                    which anyone who does know Freud can divine and reduce into&mdash;to
                    symbols. And so when the critic finds those symbols, they are, of course, there.
                    But they were there as&mdash;as&mdash;as inevitably as the critic
                    should&mdash;should stumble on his own knowledge of Freud to discern the
                    symbol. But I think the writer is primarily concerned in telling about people,
                    in the only terms he knows, which is out of his experience, his observation, and
                    his imagination. And the experience and the imagination and the observation of a
                    culture are&mdash;are all the people in that culture partake of it, of the
                    same three things, more or less. The&mdash;the critic has a&mdash;a
                    valid part in any culture. I think that it's&mdash;it might be a good thing
                    if most writers were like me and didn't bother to read him. That is, the writer
                    knows what is in his book, and he knows whether it&mdash;it failed or didn't
                    fail. The&mdash;and so it's possible that&mdash;that reading the
                    criticisms could do a young writer harm because it could confuse him.  It could
                    be&mdash;get him to think in terms of the symbolism which the critic, who is usually a
                    good deal more erudite than the writer, can find in his work.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.7">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:12.08:00',
					'endtime','00:11:58.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, what was your reaction to the Greek production of <em>Requiem for a Nun</em>?</p>
<p><div class="speaker">William Faulkner</div>I didn't get to see it. It was a&mdash;a gala night, and there was
                    so much running back and forth. That was the&mdash;the day
                    that&mdash;that Makarios was freed by the British, which was the first day
                    that the British Ambassador could come out on the streets of Athens at night,
                    and so there was a good deal of a celebration, so much of being hauled around
                    from one ambassadorial box to another, then having to go backstage,
                    and&mdash;and so I didn't get a chance to see the play. I just saw scraps
                    and fragments of it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.8">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:58.93:00',
					'endtime','00:12:30.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>How do pronounce that county of yours correctly? 
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>If you break it down into syllables, it's&mdash;it's not too
                    difficult. YAK-NA-PA-TAW-PHA, Yoknapatawpha. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It's a Chickasaw word meaning water runs slow
                    through the flatland.</p>
<p><div class="speaker">Unidentified participant</div>
                    <span class="unclear tooltip" title="Text was unclear">[Means what?]</span>
                </p>
<p><div class="speaker">William Faulkner</div>Water flows through slow through the flatland.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.9">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:33.91:00',
					'endtime','00:14:50.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, in line with the question about the sometimes
                    incomprehensibility of the novels to the average reader, I will confess it took
                    a little more than three years to read <em>The Sound and the
                        Fury</em>, not only because at first I found it difficult to understand, but
                    because later, as I did begin to understand it, I found it very strong stuff,
                        really stronger than I could&mdash;could take all at once, and I wondered how long it took
                    you to write <span class="unclear tooltip" title="Text was unclear">[this]</span>.</p>
<p><div class="speaker">William Faulkner</div>It didn't take too long to write it. It started out as a short story and
                    then grew. The&mdash;the obscurity in a writer's work is the&mdash;is
                    the writer's fault. It comes from a vali&mdash;very valid reason to him.
                    It's the sense, the foreknowledge of death which everyone has. The writer
                    has&mdash;has been stricken with the&mdash;the passion and beauty of
                    life, the world, and a&mdash;a demon-driven need to&mdash;to express
                    that, to put it down on paper or cut it into marble or into music, and with that
                    foreknowledge that he has only a limited time to do it, he may be dead 
                    tomorrow&mdash;he's got to do it all while he can still breathe, and it's a&mdash;a desire,
                    a need, to put the whole history of the human heart into any and every word,
                    every paragraph that he writes, and the obscurity comes from a belief which I
                    hold, that&mdash;that there is no such thing as "was."  That is that every man
                    at any moment in any action of his life is the sum of his whole past, and
                    to&mdash;to show that man in a book or story intact and whole,
                        <span class="unclear tooltip" title="Text was unclear">[all]</span> the long thread of his past has got to be implied or
                    inferred or suggested, and I haven't yet found any simple method to do that. The
                    obscurity is not deliberate. I hate that obscurity as much as any reader, but I
                    haven't found a&mdash;a better way yet to do it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.10">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:50.86:00',
					'endtime','00:17:07.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div><span class="unclear tooltip" title="Text was unclear">[I bet it was a]</span> rewarding experience to keep at it. I
                        wondered, too, as I've noticed evidences of&mdash;of characters of&mdash;in various
                    works of yours of mental instability of one kind or another. For instance, the
                    idiot in <em>The Sound and the Fury</em>, and then I remember
                        a&mdash;a&mdash;an old woman who kept the body of her murdered lover for years and
                    years and  maybe that was one of your short stories.</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
<p><div class="speaker">Unidentified participant</div>I wondered whether this comes from study of mental instability or
                    observation or is it imagination.  For instance, an idiot? How can people know
                    how these mental processes work?</p>
<p><div class="speaker">William Faulkner</div>One can't, of course. That to the writer is a part of the&mdash;the
                    tragic yet immortal human condition. Of course, there're not as many idiots in
                    Mississippi as in my&mdash;my books probably, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but&mdash;but there are some, and&mdash;and since there
                    are some, that is a fact, a verity in the&mdash;the tragic and&mdash;and
                    beautiful human condition, though the&mdash;the&mdash;the novelist is
                    not trying to&mdash;to preach or deliver a message. He&mdash;he is
                    showing to anyone that will take the trouble to read that&mdash;that there
                    is pity, there is injustice, there are things in man's condition which should be
                    changed, should be rectified, and if not that, should be&mdash;be looked on
                    with pity and compassion, which is&mdash;which is a part of beauty, too, the
                    capacity to&mdash;for compassion, for pity is&mdash;is to me just as
                    splendid as the capacity to be brave, heroic. And
                    the&mdash;the&mdash;the capacity, the&mdash;the failure,
                    which&mdash;which is baseness and sin are&mdash;are&mdash;are just
                    as&mdash;have just as much need for compassion as
                    the&mdash;the&mdash;the mentality which is bad, that if one is
                    to&mdash;to change man's condition, must&mdash;one must believe
                    in&mdash;in the verities of&mdash;of not only baseness
                    but&mdash;and bravery, but of compassion, too, never to judge.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.11">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:09.05:00',
					'endtime','00:18:13.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Does it give the author as much pain as it does the reader to produce
                    scenes such as when Caddy wanted to see her baby and Jason just drove by?</p>
<p><div class="speaker">William Faulkner</div>Yes, it does, but that's&mdash;the&mdash;the writer is not
                    simply dragging that in to&mdash;to&mdash;to pull a few tears, he
                    is&mdash;he puts that down as an instance of man's injustice to man. That
                    man will always be unjust to man, yet there must always be&mdash;be people,
                    men and women who are capable of the compassion toward that injustice and the
                    hatred of that injustice, and the will to risk public opprobrium, to stand up
                    and say, "This is rotten, this stinks, I won't have it."</p>
<p><div class="speaker">Unidentified participant</div>Do you think anyone really wants to be pitied, though?</p>
<p><div class="speaker">William Faulkner</div>No, nobody does. Because nobody believe that he deserves pity.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.12">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:16.55:00',
					'endtime','00:19:56.52:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, how do you feel about <span class="unclear tooltip" title="Text was unclear">[the Negro in the
                        South]</span>?</p>
<p><div class="speaker">William Faulkner</div>About what?</p>
<p><div class="speaker">Unidentified participant</div>About the Negro in the South?</p>
<p><div class="speaker">William Faulkner</div>Well, that's a&mdash;that's a big question. Could you be a little
                    specific?</p>
<p><div class="speaker">Unidentified participant</div>Well, no. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>The Negro is&mdash;is a part of our economy and our&mdash;our
                    southern traditions. It's true anywhere, Virginia, Mississippi, or Texas.
                    The&mdash;the&mdash;the southern&mdash;southern&mdash;the white
                    southerner loves Negroes as individual Negroes, and&mdash;but
                    he&mdash;he don't like Negroes in the mass, as apart from the northerner who
                    in theory loves the Negroes in the mass but he's terrified and frightened of
                    individual Negroes. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that is
                    a&mdash;the&mdash;the condition of the Negro in the South has got to be
                    changed for the simple reason, two simple reasons. One is that
                    he's&mdash;there's seventeen million of him now. He is diffuse over the
                    country to where he can be a political factor anywhere.  And also, if we are to
                    cope with&mdash;with a&mdash;a culture which says that man
                    is&mdash;is of no importance as measured and matched against the state, if
                    we're to cope with that and be successful, we ourselves have got to have a
                    culture in which any man is of infinite importance, much more important than the
                    state, and we can't have seventeen million second class citizens in a culture
                    like that and have anybody believe it. But it's a slow
                    process. It will take a great deal of patience and&mdash;and good sense.  But
                    it must be done.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.13">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:55.87:00',
					'endtime','00:21:47.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Do you believe that integration as defined by the Supreme Court will come
                    to Mississippi at any time in the near future or future?</p>
<p><div class="speaker">William Faulkner</div>It won't come into Mississippi or anywhere else because of any decision
                    of any court. That's something that has got to be settled by people. But
                    the&mdash;yes, I&mdash;I think that&mdash;that
                    whether&mdash;integration may possibly never come in&mdash;in the sense
                    that people think of it, I think that&mdash;that equality for the Negro will
                    come. I think if the Negro has political equality to vote, if he has economic
                    equality, if he has educational equality, then he won't want to mix with white
                    folks any more than white folks wanted to mix him, because I can't imagine any
                    Negro after the&mdash;his experience with white folks wanting to be that
                    close to them. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But he has&mdash;he will
                    get equality. If it's given to him by a Supreme Court ukase and enforced with
                    police, as soon as the police are gone then some smart white man or even smart
                    Negro will take his equality away from him again. He has got to be taught the
                    responsibility of equality. That the&mdash;that the Constitution never said
                    everybody is to have happiness. They want to have&mdash;have the right to
                    gain happiness, if they could, and&mdash;and happiness or freedom is
                    something that you've got to work for. If it&mdash;if it were not to be
                    worked for it wouldn't be worth having. It's got to be worked for and defended.
                    Who was the Irish Member of Parliament who said, "Man&mdash;God hath
                    vouchsafed man liberty only under condition of eternal vigilance, which
                    condition if he break it, servitude is the consequence of his crime, the
                    punishment of his guilt"? Well, that's true of anyone. You can't have freedom
                    unless you deserve it and work to keep it. That's&mdash;and equality, of
                    course, is freedom.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.14">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:50.89:00',
					'endtime','00:22:27.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, which book do you consider to be your greatest book?</p>
<p><div class="speaker">William Faulkner</div>None of them are good enough for me. They all failed. The one
                    that&mdash;that I'm&mdash;I love the best is the one that made the most
                    splendid failure, which is <em>The Sound and the Fury.</em> That's
                    the one I worked at the hardest, but none of them are good enough, which is why I
                    wrote another one this year, and I'll write another one next year, and I have
                    every intention of living to be about a hundred years old still trying to write
                    a book . <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Of
                    course, I won't, but I'll still try. <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.15">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:28.46:00',
					'endtime','00:23:14.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you've written for both TV and motion pictures. I wondered
                    which medium you would prefer to work with?</p>
<p><div class="speaker">William Faulkner</div>I didn't work for either one seriously because that is not my bent, for
                    the reason I stated that in either one, it is a matter of compromise, a
                    compromise with&mdash;with the actor, with the director, and mainly with the
                    people that put up the money. It's&mdash;it's so expensive, a TV show, or a
                    moving picture show. I've had a great deal of&mdash;of fun working for
                    moving pictures because I liked the people I worked with, but I never took
                    working for any of them seriously. It was just a pleasant way to get a check
                    every Saturday night, to me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.16">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:14.93:00',
					'endtime','00:24:40.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>I would like to know what you think of Ernest Hemingway as a writer, what
                    is your opinion of him?</p>
<p><div class="speaker">William Faulkner</div>He is a man who has&mdash;has never betrayed the&mdash;his
                    integrity, which&mdash; which one accepts to be a writer. He learned early
                    in life a&mdash;a method by which he could do his work. He has never varied
                    from that method. It&mdash;it suited him. He handled it well. If his work
                    continues, then it's going to get better. His last book, I think, <em>The Old Man and the Sea</em>, was&mdash;was the best
                    because he discovered something which he had never found before, which was God.
                    Up to that time his people functioned in a vacuum, they had no past, but
                    suddenly in <em>The Old Man and the Sea</em>, he found God. There
                    was the&mdash;the big fish&mdash;God made the big fish that had to be
                    caught. God made the&mdash;the old man that had to catch the big fish. God
                    made the shark that had to eat the fish, and God loved all of them.  And if his
                    work goes on from that, then it will&mdash;will still be better, which is
                    something that&mdash;that not all writers can say. They&mdash;too many
                    tragically write themselves out too young, and then their lives are unhappy.
                    That happened with Fitzgerald, happened with Sherwood Anderson, and so
                    they&mdash;they go to pieces.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.17">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:42.78:00',
					'endtime','00:25:29.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, can you keep up with the younger generation, the  and
                    all the younger people, and what the young people are doing? Or is that too
                        <span class="unclear tooltip" title="Text was unclear">[important]</span>?</p>
<p><div class="speaker">William Faulkner</div>Not actually. I think that&mdash;that all writers, or maybe all
                    people, as they get older, they read less and less. The books I read now are the
                    books that I read and loved when I was twenty-one years old. Unless someone puts
                    the book in my hand and says, "Read this." Then I read it.  So I
                    don't&mdash;I'm not too familiar with&mdash;with the work
                    of&mdash;of the young writer nowadays. Young writers come to see me and talk
                    to me, and so I know more young writers than I know their work.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.18">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.18">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:33.07:00',
					'endtime','00:25:56.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I wondered what's your opinion of John Steinbeck now?</p>
<p><div class="speaker">William Faulkner</div>Steinbeck to me has probably not done his best work. So far, he's a
                    better reporter than he is a&mdash;a novelist. And I think maybe
                    his&mdash;his best work is still to come.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.19">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.19">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:58.78:00',
					'endtime','00:26:42.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, what are some of your favorite books?</p>
<p><div class="speaker">William Faulkner</div><em>Don Quixote</em>, some of Conrad, <em>Heart of Darkness</em>, <em>The Nigger of the Narcissus,</em> most of
                        Dickens, <em>The Brothers Karamazov</em>, <em>Anna Karenina</em>, <em>Madame
                        Bovary</em>, the Old Testament. I suppose I have about fifty that I
                    read&mdash;I go in and out like you go into a room to meet old friends. I
                    open the book in the middle and read for a little while, and I imagine over the
                    course of every ten years, I would have read all of them through.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.20">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.20">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:47.73:00',
					'endtime','00:29:13.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Are these books then indicative of the authors who have written them, and
                    people who have had the most influence on you as a writer?</p>
<p><div class="speaker">William Faulkner</div>I think that&mdash;that any writer is influenced by every word he
                    ever read in his life, from the telephone book up and down, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> that he himself cannot say what book influenced
                    him at what time. It may be if he went back over his work, he could pick out
                    pages, scenes, and could see the derivation, but he never has time to do that
                    because by that time he's busy writing another book. Actually, as I've
                    said&mdash;said before, one virtue in being a writer is that every time you
                    finish a book, that's one book you'll never have to read. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> You're finished with that one. But I'm sure that
                    any writer is influenced by everything that he has read, by everything he has
                    seen. He is completely amoral. He will take what he needs from any source, but
                    then he is willing to reciprocate, that anyone after him can take what they find
                    in his work that they can use, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but he'll have
                    no compunction about stealing right and left. Not deliberately, but
                    he's&mdash;it's his storehouse, and when he needs it, he uses it.</p>
<p><div class="speaker">Unidentified participant</div>This pertains then to both ideas and techniques of writing?</p>
<p><div class="speaker">William Faulkner</div>Well, ideas in the sense of learning how people behave. I think
                    that&mdash;that he doesn't bother about taking the abstract ideas of other
                    writers, because unless that abstract idea fits some character which he himself
                    feels that he's invented, then he will take it, but&mdash;but the fiction
                    writer is not too interested in ideas any more than he's very interested in
                    facts.  That he's interested in people and&mdash;and in man and
                    his&mdash;the infinite variety of his mutations and his struggles and
                    comical errors and tragic mistakes and his successes, his hopes.  Not in his
                    ideas, but in his eternal conflict with himself, with his fellows, or with his
                    environment. That's what the&mdash;the fiction writer's writing about. It
                    takes a philosopher to write about ideas, and most writers have been so busy
                    scribbling from childhood that they never had time to get much schooling to know
                    much about ideas.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.21">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.21">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:14.48:00',
					'endtime','00:30:23.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Sherwood Anderson and T.S. Eliot seem to feel that there has been no
                    classic since Virgil's <em>Aeneid</em>, and I wonder to what extent
                    you have grown up in philosophy or ideas.</p>
<p><div class="speaker">William Faulkner</div>Well, I'm sure if I ever read Virgil&mdash;I can't remember whether
                    I did or not&mdash;I've stolen from him too, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> for the reason that the writer is influenced by everything he
                    ever&mdash;ever read. But I don't think that as long as the writer
                    is&mdash;is busy writing he's got time to make any didactic statements about
                    where culture stopped and where it didn't stop. That he's not really interested
                    in culture or even interested in literature, until he writes himself out, and he
                    has been corrupted by&mdash;by books so much that he has nothing else to do
                    with his time save to take up being a literary man. Most writers are not
                    literary men. They're really&mdash;they're craftsmen.</p>
<p><div class="speaker">Unidentified participant</div>Then you believe that Mr. Eliot underestimates his culture,
                    apparently?</p>
<p><div class="speaker">William Faulkner</div>No, no. That he's perfectly&mdash;I'm perfectly willing for him to
                    have his opinions, but to me I ain't interested in it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.22">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.22">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:23.90:00',
					'endtime','00:31:15.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>You said a writer knows when he succeeds or fails, and I gather you don't
                    use the critics' opinions as a guide. What gives you the sense of having failed
                    or succeeded in a book?</p>
<p><div class="speaker">William Faulkner</div>That would probably be the worst day the writer ever&mdash;ever
                    faces, because then nothing remains but to cut his throat. I think that he
                    would <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>&mdash;the only way to express it is&mdash;is what Hemingway means
                    by saying "to feel good." He finishes the&mdash;the job, and&mdash;and
                    there's nothing that is still dangling, nothing more he wants to do to it. It's
                    finished. It's complete. As long as it's failed, there's always something you
                    think, now, if I could just go back and do this over, I could do it better. But
                    you know that's a waste of time. The best thing is to take a new story. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_1.23">&nbsp;</a><div class="audio play-clip" id="wfaudio14_1.23">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:18.29:00',
					'endtime','00:31:45.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div><span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span> all the horror, and difficulty,
                        pessimism&mdash;<span class="unclear tooltip" title="Text was unclear">[a lot of pessimism]</span> in the world
                    today. Do you sort of take a dim view of the human race surviving, or do you
                    think we'll go on forever and ever and ever?</p>
<p><div class="speaker">William Faulkner</div>No, no. I don't think that anything scientists can cook up in a
                    laboratory is going to do away with man. That when this&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio14_1.1" class="hidden">Stream-of-Consciousness</a></li>
<li><a href="#wfaudio14_1.2" class="hidden">A Brooding Concern</a></li>
<li><a href="#wfaudio14_1.3" class="hidden">Simplicity v Complexity</a></li>
<li><a href="#wfaudio14_1.4" class="hidden">Beginnings as a Writer</a></li>
<li><a href="#wfaudio14_1.5" class="hidden">The Writer's Freedom</a></li>
<li><a href="#wfaudio14_1.6" class="hidden">Critical Interpretations</a></li>
<li><a href="#wfaudio14_1.7" class="hidden">Dramatization of Requiem</a></li>
<li><a href="#wfaudio14_1.8" class="hidden">Pronouncing Yoknapatawpha</a></li>
<li><a href="#wfaudio14_1.9" class="hidden">Writing Sound and Fury</a></li>
<li><a href="#wfaudio14_1.10" class="hidden">Mental Cases</a></li>
<li><a href="#wfaudio14_1.11" class="hidden">Compassion</a></li>
<li><a href="#wfaudio14_1.12" class="hidden">The Negro in the South</a></li>
<li><a href="#wfaudio14_1.13" class="hidden">Integrating Mississippi</a></li>
<li><a href="#wfaudio14_1.14" class="hidden">His Greatest Book</a></li>
<li><a href="#wfaudio14_1.15" class="hidden">Television v Movies</a></li>
<li><a href="#wfaudio14_1.16" class="hidden">Ernest Hemingway</a></li>
<li><a href="#wfaudio14_1.17" class="hidden">The Younger Generation</a></li>
<li><a href="#wfaudio14_1.18" class="hidden">John Steinbeck</a></li>
<li><a href="#wfaudio14_1.19" class="hidden">Favorite Books</a></li>
<li><a href="#wfaudio14_1.20" class="hidden">Influences</a></li>
<li><a href="#wfaudio14_1.21" class="hidden">Modern Classics</a></li>
<li><a href="#wfaudio14_1.22" class="hidden">Measuring Success</a></li>
<li><a href="#wfaudio14_1.23" class="hidden">Human Survival</a></li>
</ul></aside>
        
