<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio28_2.1">[fragment]</a>
    </li>
    <li>
      <a href="#wfaudio28_2.2">Education [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio28_2.3">Respectability</a>
    </li>
    <li>
      <a href="#wfaudio28_2.4">Psychology of Segregation</a>
    </li>
    <li>
      <a href="#wfaudio28_2.5">Racial Distrust</a>
    </li>
    <li>
      <a href="#wfaudio28_2.6">Diagnosing Racism</a>
    </li>
    <li>
      <a href="#wfaudio28_2.7">Race in Europe</a>
    </li>
    <li>
      <a href="#wfaudio28_2.8">Origins of Racism</a>
    </li>
    <li>
      <a href="#wfaudio28_2.9">Pressure to Integrate</a>
    </li>
    <li>
      <a href="#wfaudio28_2.10">Black Exodus</a>
    </li>
    <li>
      <a href="#wfaudio28_2.11">Passion v Detachment</a>
    </li>
    <li>
      <a href="#wfaudio28_2.12">Experience and Perception</a>
    </li>
    <li>
      <a href="#wfaudio28_2.13">Cultural Conditioning</a>
    </li>
    <li>
      <a href="#wfaudio28_2.14">Writer's Beliefs</a>
    </li>
    <li>
      <a href="#wfaudio28_2.15">Writer's Motives</a>
    </li>
    <li>
      <a href="#wfaudio28_2.16">Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio28_2.17">Discovering the Demon</a>
    </li>
    <li>
      <a href="#wfaudio28_2.18">Beginning to Write</a>
    </li>
    <li>
      <a href="#wfaudio28_2.19">Writer v State</a>
    </li>
    <li>
      <a href="#wfaudio28_2.20">Madness and Genius</a>
    </li>
    <li>
      <a href="#wfaudio28_2.21">Failed Artists</a>
    </li>
    <li>
      <a href="#wfaudio28_2.22">Craft of Writing</a>
    </li>
    <li>
      <a href="#wfaudio28_2.23">Suffering and Art</a>
    </li>
    <li>
      <a href="#wfaudio28_2.24">His Family</a>
    </li>
    <li>
      <a href="#wfaudio28_2.25">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio28_2.1"/>
  <p> problem, the old folks will probably have to die off. The tragedy
                    is that right now white people and colored people simply do not like and trust
                        each other.</p>
</div>
<div class="section">
  <a name="wfaudio28_2.2"/>
  <p>What are the greatest defects that you see in our current education
                    system other than this mediocrity, mass leveling thing that certainly
                        applies ?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.3"/>
  <p>Along with this business of conforming, this business
                    of respectability so often comes in. Do you have any particular ideas or
                    opinions on this, particularly in terms of the conflict between being a member
                    of the human race, yes, but also not getting lost in it in terms of
                    the&#x2014;the super-respectable, should also to some degree
                        be a conforming person?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.4"/>
  <p>Do you think, at this time, that economic factors are influencing
                    policies about segregation much? Are there largely&#x2014;the difficulties
                    are largely the results of prejudices&#x2014;prejudices based on&#x2014;on
                    other matters, such as the fear of the sexual intermingling?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.5"/>
  <p>Do you think the white man trusts the white man?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.6"/>
  <p>Don't you think that this is the rationalization of the person in order
                    to discharge by channeling his hostilities on something?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.7"/>
  <p>Do you think this is true of European white person too?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.8"/>
  <p>Do you have any idea how this started in the beginning ?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.9"/>
  <p>Do you feel that this innate&#x2014;whatever type of dislike for
                    colored people by white people, is going to cause a terrific,
                    long lasting struggle, say in the South, if the Supreme Court
                    decision is forced on the South in regard to pressure for
                        ending segregation?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.10"/>
  <p>How much effect do you think the exodus of the Negro  will
                        have on the situation down ?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.11"/>
  <p>Mr. Faulkner, you're not entirely dispassionate about this problem are
                    you? I mean you show concern as a person about what you might call social
                    problems. As a writer would you be able to divorce yourself entirely from
                    passionate feelings?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.12"/>
  <p>But now what we see about something depends on how we
                    have had our experience. I mean, I can see to the same thing, you will see
                    different things and everyone else is going to see different
                    things. Anything that we use, our imagination, our observation, is just based on
                    our previous experience.</p>
</div>
<div class="section">
  <a name="wfaudio28_2.13"/>
  <p>Don't you think that these are the basic experiences that the culture
                    gives to us? I mean, to a certain extent we have all the same ideas, to a
                    certain extent, because the culture has incultured them to
                    us? If you go to another culture, they won't do the same. They won't feel the
                    same, maybe. The basic areas are going to change, to a certain extent.</p>
</div>
<div class="section">
  <a name="wfaudio28_2.14"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio28_2.15"/>
  <p>Mr. Faulkner, maybe this sounds like a stupid question, but why does the
                    writer write? Is it just to depict people in action or what they're doing? Why
                    would you be motivated to write if you don't particularly have a point to prove
                    or a sermon to preach? Is it just to put down what you observe and see
                        how it works out or&#x2014;? Could you comment on that?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.16"/>
  <p>Do you have any idea where this demon comes from or
                    why some people seem to have it? Others wish they have it or try to convince
                    themselves they do and others don't.</p>
</div>
<div class="section">
  <a name="wfaudio28_2.17"/>
  <p>How old were you when you first were aware of the possession by this devil
                    that you must write?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.18"/>
  <p>How old were you when you first started to&#x2014;to write, to as a
                    career, as a way of life, to&#x2014;? Were you in a teens?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.19"/>
  <p>Okay, back to &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio28_2.20"/>
  <p>Could you discuss your feeling about genius
                    and&#x2014;and the&#x2014;the artist and maybe&#x2014;maybe in
                    relative&#x2014;in relationship to madness? What is a genius?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.21"/>
  <p>A lot of our patients are either writers or want to be or artists in one
                    way or another. And are coming really pretty close
                    sometimes to being good. It often puzzles me as to why, or what is the
                    difference, as far as some don't quite gel and others do?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.22"/>
  <p>Does that mean that you place little emphasis on craft
                    and such things as revision and&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio28_2.23"/>
  <p>I think all the&#x2014;I think  What Doctor
                        Nigims was saying, he feels stress and unfortunate
                    situations are necessary for genius. Do you think that's so?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.24"/>
  <p>What was the actions of your family all along
                    ?</p>
</div>
<div class="section">
  <a name="wfaudio28_2.25"/>
  <p>
                    Mr. Faulkner, we certainly thank you.
                </p>
</div>
