<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio03.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio03.2">The Fyce</a>
    </li>
    <li>
      <a href="#wfaudio03.3">Beauchamps' Class</a>
    </li>
    <li>
      <a href="#wfaudio03.4">The Title "Was"</a>
    </li>
    <li>
      <a href="#wfaudio03.5">Sophonsiba's Ribbon</a>
    </li>
    <li>
      <a href="#wfaudio03.6">Role of Humor</a>
    </li>
    <li>
      <a href="#wfaudio03.7">Title "Red Leaves"</a>
    </li>
    <li>
      <a href="#wfaudio03.8">Hunting Tomey's Turl</a>
    </li>
    <li>
      <a href="#wfaudio03.9">"Going to Earth"</a>
    </li>
    <li>
      <a href="#wfaudio03.10">Tomey's Turl as Dealer</a>
    </li>
    <li>
      <a href="#wfaudio03.11">Percy Grimm</a>
    </li>
    <li>
      <a href="#wfaudio03.12">Grimm's Punishment</a>
    </li>
    <li>
      <a href="#wfaudio03.13">Modernity v Tragedy</a>
    </li>
    <li>
      <a href="#wfaudio03.14">Sprig of Verbena</a>
    </li>
    <li>
      <a href="#wfaudio03.15">Southern Renaissance</a>
    </li>
    <li>
      <a href="#wfaudio03.16">Displacing the Indians</a>
    </li>
    <li>
      <a href="#wfaudio03.17"/>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio03.1"/>
  <p>Mr. Faulkner will answer questions now. We will have a number of them
                        on "Was," preferably.</p>
</div>
<div class="section">
  <a name="wfaudio03.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.3"/>
  <p>Yes sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.7"/>
  <p>Yes sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.8"/>
  <p>Yes sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.9"/>
  <p>Sir, never having been fox-hunting, what do you mean by "going to earth,"
                    as far as Tomey's Turl was concerned?</p>
</div>
<div class="section">
  <a name="wfaudio03.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio03.17"/>
  <p> Mr. Faulkner,   I want to thank you on behalf of me and the class members.  We meet in this room on Monday
                    and Wednesday.</p>
</div>
