
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio23_1read.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 24 April 1958</h4>
<h4>OCCASION: Undergraduate Writing Class</h4>
<h4>TAPE: T-142a</h4>
<h4>LENGTH: 11:56</h4>
<h4>FAULKNER READING "A Word to Young Writers"</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio23_1">&nbsp;</a><div class="audio play-clip" id="wfaudio23_1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_1read.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:36.10:00',
					'endtime','00:10:31.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					Two years ago President Eisenhower conceived a plan based
						on an idea which is basically a sound one. This was that world conditions,
						the universal dilemma of mankind at this moment, are what they are simply
						because individual men and women of different races and tongues and
						conditions cannot discuss with one another these problems and dilemmas,
						which are primarily theirs, but must attempt to do so only through the
						formal organizations of their antagonistic and seemingly irreconcilable
						governments. That is, that individual people in all walks of life should be
						given opportunity to speak to their individual opposite numbers all over the
						earth&mdash;laborer to laborer, scientist to scientist, doctors and
						lawyers and merchants and bankers and artists to their opposite numbers
						everywhere. There was nothing wrong with this idea. Certainly no
						artist&mdash;painter, musician, sculptor, architect, or
						writer&mdash;would dispute it because this, trying to communicate man
						to man regardless of race or color or condition, is exactly what every
						artist has already spent all his life trying to do, and as long as he
						breathes, will continue to do.
						What doomed it, in my opinion, was symptomized by the
						phraseology of the President's own concept&mdash;laborer to laborer,
						artist to artist, banker to banker, tycoon to tycoon. What doomed it, in my
						opinion, was an evil inherent in our culture itself. An evil quality
						inherent in and perhaps necessary, though I do&mdash;though I, for one,
						do not believe this last, in the culture of any country capable of enduring
						and surviving through this period of history. This is the mystical belief,
						almost a religion, that individual man cannot speak to individual man
						because individual man can no longer exist. A belief that there is no place
						anymore where individual man can speak quietly to individual man of such
						simple things as honesty to oneself and responsibility toward others and
						protection for the weak and compassion and pity for all, because such
						individual things as honesty and pity and responsibility and compassion no
						longer exist, and man himself can hope to continue only by relinquishing and
						denying his individuality into a regimented group of his arbitrary,
						factional kind, arrayed against an opposite opposed arbitrary, factional,
						regimented group, both filling the same air at the same time with the same
						double-barreled abstractions of "peoples' democracy" and "minority rights"
						and "equal justice" and "social welfare"&mdash;all the synonyms which
						take all the shame out of irresponsibility by not merely inviting but even
						compelling everyone to participate in it.
						So, in this case&mdash;I mean the President's
						People-to-People Committee&mdash;the artist, too, who has already spent
						his life trying to communicate simply people-to-people the problems and
						passions of the human heart and how to survive them or, anyway, endure them,
						has in effect been asked by the president of his country to affirm that
						mythology which has&mdash;which he has already devoted his life to
						denying: the mythology that one single individual man is nothing, and
						can&mdash;can have weight and substance only when organized into the
						anonymity of a group where he will have surrendered his individual soul for
						a number. It would be sad enough if only at such moments as this&mdash;I
						mean, formal recognition by his country of the validity of his life's
						dedication&mdash;did the artist have to run full-tilt into what might be
						called almost a universal will to regimentation, a universal will to
						obliterate the humanity from even&mdash;from man even to the extent of
						relieving him not only of moral responsibility, but even of physical pain
						and mortality, by effacing his individuality into any&mdash;it does not matter
						which as long as he has vanished into one of them&mdash;nationally-recognized
						economic group by profession or trade or occupation or income-tax bracket
						or, if nothing else offers, finance-company list. His tragedy is that today
						he must even combat this pressure, waste some part of his puny but, if he is
						an artist, precious individual strength against this universal will to
						efface his individual humanity, in order to be an artist. Which comes at
						last to the idea I want to suggest, which is what seems to me to be the one
						dilemma in which all young writers today participate.
						I think that perhaps all writers, while they are hot,
						working at top speed to try to get said all they feel the terrific urgency
						to say, don't read the writers younger, after themselves. Perhaps for the
						same reason which the sprinter or the distance-runner has&mdash;he does
						not have time to be interested in who is behind him or even up with him, but
						only in who is in front. That was true in my own case, anyway, so there was
						a gap of about twenty-five years during which I had almost no acquaintance
						whatever with contemporary literature.
						So, when a short time ago I did begin to read the
						writing being done now, I brought to it not only ignorance but a kind of
						innocence, freshness, what you might call a point of view and an
							interest virgin of preconceptions. Anyway, I got
						from the first story an impression which has repeated itself so consistently
						since that I shall offer it as a generalization. This is, that the young
						writer of today is compelled by the present state of our culture, which I
						tried to describe, to function in a kind of vacuum of the human race. His
						characters do not function, live, breathe, struggle, in that moil and seethe
						of simple humanity as did those of our predecessors who were the masters
						from whom we learned our craft&mdash;Dickens, Fielding, Thackeray,
						Conrad, Twain, Smollett, Hawthorne, Melville, James. Their names are legion
						whose created characters were not just weaned but even spawned into a moil
						and seethe of simple human beings whose very existence was an affirmation of
						an incurable and indomitable optimism&mdash;men and women like
						our&mdash;themselves, understandable and comprehensible even when
						antipathetical, even in the very moment while they were murdering or robbing
						or betraying you, since theirs too were the same simple human lusts and
						hopes and fears uncomplicated by regimentation or group compulsion. A moil
						and seethe of humanity into which they could venture, not only unappalled
						and welcome, but with pleasure too, since with no threat of
						harm&mdash;and with no threat of harm since the worst that could happen
						to them would be a head butt by what was only another human head. An elbow
						or a knee skinned, but that too was only another human knee or elbow which
						did the skinning. A moil and seethe of mankind which accepted and believed
						in and functioned according, not to angles, but to moral principles. Where
						truth was not where you were standing when you looked at it, but was an
						unalterable quality or thing which could and would knock your brains out if
						you did not accept it or at least respect it. While today the young writer's
						characters must function not in individuality but in isolation, not to
						pursue in myriad company the anguishes and hopes of all human hearts in a
						world of a few simple, comprehensible truths and moral principles, but to
						exist alone inside a vacuum of facts which he did not choose and cannot cope
						with and cannot escape from like a fly inside an inverted tumbler.
						Let me repeat. I have not read all the work of this
						present generation of writing. I have not had time yet. So I must speak only
						of the ones I do know. I am thinking now of what I rate the best one,
						Salinger's <em>Catcher in the Rye</em>, perhaps because this
						one expresses so completely what I have tried to say. A youth, father to
						what will&mdash;must&mdash;someday be a man, more intelligent than some and more
						sensitive than most, who&mdash;he would not even have called it by
						instinct because he did not know he possessed it because God perhaps had put
						it there, loved man and wished to be a part of mankind, humanity, who tried
						to join the human race and failed. To me, his tragedy was not that he was,
						as he perhaps thought, not tough enough or brave enough or deserving enough
						to be accepted into humanity. His tragedy was that when he attempted to
						enter the human race, there was no human race there. There was nothing for
						him to do save buzz, frantic and inviolate, inside the glass wall of his
						tumbler, until he either gave up or was himself, by himself, by his own
						frantic buzzing, destroyed.
						One thinks of course immediately of Huck Finn, another
						youth already father to what will some day soon now be a man. But in Huck's
						case all he had to combat was his small size, which time would cure for him.
						In time he would be as big as any man he had to cope with. And even as it
						was, all the adult world could do to harm him was to skin his nose a little.
						Humanity, the human race, would and was accepting him already. All he needed
						to do was just to grow up into it. That is the young writer's dilemma as I see
						it. Not just his, but all our problems is to save mankind from being
						de-souled as the stallion or boar or bull is gelded, to save the individual
						from anonymity before it is too late, and humanity has vanished from the
						animal called man. And who better to save man's humanity than the writer,
						the poet, the artist, since who should fear the loss of it more, since the
						humanity of man is the artist's life's blood? <span class="event tooltip" title="There was some applause happening">[applause]</span>
					
					</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio23_1" class="hidden">Speech</a></li></ul></aside>
		
