<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio13.1">Opening</a>
    </li>
    <li>
      <a href="#wfaudio13.2">A Southern Renaissance</a>
    </li>
    <li>
      <a href="#wfaudio13.3">Scott and the South</a>
    </li>
    <li>
      <a href="#wfaudio13.4">Expatriates in France</a>
    </li>
    <li>
      <a href="#wfaudio13.5">Northern Readership</a>
    </li>
    <li>
      <a href="#wfaudio13.6">Idealizing the South</a>
    </li>
    <li>
      <a href="#wfaudio13.7">Regional Responses</a>
    </li>
    <li>
      <a href="#wfaudio13.8">Region and Writing</a>
    </li>
    <li>
      <a href="#wfaudio13.9">Environment and Art</a>
    </li>
    <li>
      <a href="#wfaudio13.10">Topography as Influence</a>
    </li>
    <li>
      <a href="#wfaudio13.11">Time in Long Sentences</a>
    </li>
    <li>
      <a href="#wfaudio13.12">A Writer's Omniscience</a>
    </li>
    <li>
      <a href="#wfaudio13.13">Telescoping Time</a>
    </li>
    <li>
      <a href="#wfaudio13.14">Prompting Audience</a>
    </li>
    <li>
      <a href="#wfaudio13.15">Civil War vs WW I</a>
    </li>
    <li>
      <a href="#wfaudio13.16">Children, Idiots, Truth</a>
    </li>
    <li>
      <a href="#wfaudio13.17">Nature of Children</a>
    </li>
    <li>
      <a href="#wfaudio13.18">Charles in The Town</a>
    </li>
    <li>
      <a href="#wfaudio13.19">Charles Growing Up</a>
    </li>
    <li>
      <a href="#wfaudio13.20">Gavin in The Town</a>
    </li>
    <li>
      <a href="#wfaudio13.21">Gavin in Intruder</a>
    </li>
    <li>
      <a href="#wfaudio13.22">Gavin and Quentin</a>
    </li>
    <li>
      <a href="#wfaudio13.23">Intruder's Origin</a>
    </li>
    <li>
      <a href="#wfaudio13.24">Joyce and Influence</a>
    </li>
    <li>
      <a href="#wfaudio13.25">Conrad's Influence</a>
    </li>
    <li>
      <a href="#wfaudio13.26">Conrad's Technique</a>
    </li>
    <li>
      <a href="#wfaudio13.27">Frontiers in Writing</a>
    </li>
    <li>
      <a href="#wfaudio13.28">Past and Present</a>
    </li>
    <li>
      <a href="#wfaudio13.29">Wolfe and the Past</a>
    </li>
    <li>
      <a href="#wfaudio13.30">Facts v Truth</a>
    </li>
    <li>
      <a href="#wfaudio13.31">Ranking Writers</a>
    </li>
    <li>
      <a href="#wfaudio13.32">A Historical Novel</a>
    </li>
    <li>
      <a href="#wfaudio13.33">Hemingway's Recent Work</a>
    </li>
    <li>
      <a href="#wfaudio13.34">Contemporary Books</a>
    </li>
    <li>
      <a href="#wfaudio13.35">Favorite Writers</a>
    </li>
    <li>
      <a href="#wfaudio13.36">Reading Conrad</a>
    </li>
    <li>
      <a href="#wfaudio13.37">Stories v Novels</a>
    </li>
    <li>
      <a href="#wfaudio13.38">Distilling the Truth</a>
    </li>
    <li>
      <a href="#wfaudio13.39">Requests from Young Writers</a>
    </li>
    <li>
      <a href="#wfaudio13.40">Prompting Audience</a>
    </li>
    <li>
      <a href="#wfaudio13.41">Long v Short Books</a>
    </li>
    <li>
      <a href="#wfaudio13.42">Favorite Poetry</a>
    </li>
    <li>
      <a href="#wfaudio13.43">Poet v Novelist</a>
    </li>
    <li>
      <a href="#wfaudio13.44">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio13.1"/>
  <p>We all know why we're here, and we're very lucky to be here with Mr. Faulkner,
						and that's all I'll say, and ask you to begin. Any questions you want to ask
						Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio13.2"/>
  <p>Mr. Faulkner, there's been a lot
						of talk about the&#x2014;some kind of Southern Renascence, an outburst of
						creativity in the South. I wonder&#x2014;from your own experience&#x2014;you have any
						ideas on why it should come at this time, or is there one?</p>
</div>
<div class="section">
  <a name="wfaudio13.3"/>
  <p>It's been both stated and denied
						that Sir Walter Scott has greatly influenced southern people, especially
						during the&#x2014;not the recent unpleasantness but the less recent unpleasantness,
						the mid-nineteenth century war, the War Between the States. I notice you
						name one of your characters Quentin, as a rather romantic-minded individual.
						Do you  suggest by that name that he is the type of southerner who
						was influenced by the kind of things that Walter Scott&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio13.4"/>
  <p>While we are on that literary
						angle, which we dreamed up a little bit on the literary side, do you feel
						that the&#x2014;the subject Mr. Boggs raised about the literary renaissance, or
						whatever you want to call it, the flourishing of literature in the South,
						has been in any notable way indebted to the fact that a number of young
						people, writers, were resident in Paris, came under French influence perhaps
						in the Twenties?</p>
</div>
<div class="section">
  <a name="wfaudio13.5"/>
  <p>In that connection&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio13.6"/>
  <p>The clash, sir, between
						the explanations of the South, does that help square the fact that the
						explanations offered are not always greeted with warmth in the  South
							itself?</p>
</div>
<div class="section">
  <a name="wfaudio13.7"/>
  <p>Does any locality like to read
						the books that are written about that locality, do you think? Is it
						characteristic that a locality is&#x2014;is generally offended when it finds itself
						in a novel or a story?</p>
</div>
<div class="section">
  <a name="wfaudio13.8"/>
  <p>Well, that gets back to
						something else. Can a man write about ideas except in&#x2014;in the provincial
						terms of his background?</p>
</div>
<div class="section">
  <a name="wfaudio13.9"/>
  <p>That reminds&#x2014;that&#x2014;that brings up
						this question, Mr. Faulkner, in my mind, that I often&#x2014;Carlyle says Walt
						Whitman&#x2014;he says, "Walt Whitman thinks that because he lives in a big
						country, he's a big man." What do you suppose&#x2014;I&#x2014;I gather that he thought that
						Whitman thought that the climate and the general landscape, background
						of&#x2014;the geographical features of a place had some influence on the&#x2014;on the
						person who grows up in that, whether he be a writer or not. Do you suppose
						there's anything in that? In the South, for example, what&#x2014;how does that turn
						out in the South?</p>
</div>
<div class="section">
  <a name="wfaudio13.10"/>
  <p>What I was getting at was
						whether the peculiarities of Southern climate and topography might possibly
						have any influence on the nature of the writing?</p>
</div>
<div class="section">
  <a name="wfaudio13.11"/>
  <p>Mr. Faulkner, I spoke to you
						about your long sentences and asked you if one reason for them were not that
						you were trying to give the past and the present and the future, more or
						less all at the same time, to throw light on the present action by referring
						to the past and to the future. And I understand why throwing light on the
						past would throw light on a present action. And I think I understand why
						reference to the future would do it. But I am not sure that I do understand,
						and I would like to ask you why you&#x2014;you feel it is necessary to bring in the
						future while you are telling the present. Why&#x2014;why the&#x2014;why is that
						significant? It's not going to happen yet. So why&#x2014;why bring in something
						that has not yet happened while you are recounting something that is
						happening?</p>
</div>
<div class="section">
  <a name="wfaudio13.12"/>
  <p>So you&#x2014;so you arrogate to
						yourself the power of knowing the future of your characters and use that in
						your depicting of them and what happens to them.</p>
</div>
<div class="section">
  <a name="wfaudio13.13"/>
  <p>I&#x2014;I was thinking of something a
						little more specific than&#x2014;than that. You&#x2014;you are talking about a man brushing
						his hair, and you refer to the fact that twenty years ago he was a child
						playing in the dust, and at the same time you know he's going to commit a
						murder up here. And you bring in the murder, and you bring in the playing in
						the dust, and you bring in the combing of his hair, all together, we will
						say, as I see it, in&#x2014;in one passage, in one&#x2014;one sentence.</p>
</div>
<div class="section">
  <a name="wfaudio13.14"/>
  <p>Didn't you have a question you
						wanted to ask in connection with Dostoevsky, the Russians in general?</p>
</div>
<div class="section">
  <a name="wfaudio13.15"/>
  <p>Well, what&#x2014;what do you think is
						the&#x2014;was the difference in quality of the impact on the&#x2014;to the southern
						people after the Civil War and the&#x2014;as a mental experience and though&#x2014;and say
						World War I&#x2014;the people that were involved in World War I?</p>
</div>
<div class="section">
  <a name="wfaudio13.16"/>
  <p>I suppose my question in
						reference to Dostoevsky boils down to this. Why do you consider Benjy a good
						tool in the&#x2014;the telling of this story, one of the&#x2014;the instruments in telling
						the story? The same question, why do you often use children who are quite
						young and not much of a&#x2014;the one in&#x2014;Vardaman. Is it
						possibly because the idiot and the child are free of any preconceived ideas 
						about the truth? They have no convention. They haven't had any religion
							to fog them or anything like that. They're sort of
						open-minded and free. And are they better judges of the truth? Can they see
						the truth better than the more sophisticated and more intelligent
							human beings?</p>
</div>
<div class="section">
  <a name="wfaudio13.17"/>
  <p>Mr. Faulkner, I think it's a
						very interesting point you raise, and&#x2014;and&#x2014;but how do you reconcile that view
						of the&#x2014;of the child, which I think is the correct one and agreeable to me,
						with the other aspects of the child, as children are very often the most
						savage to each other, hurt each other, have&#x2014;have less sensitivity toward
						each other than&#x2014;than adults do. Whereas they sometimes seem to perceive the
						truth, seem to cut through so much of the&#x2014;the sham that adults build up, still
						we have to educate children to be&#x2014;on the whole, to be considerate.</p>
</div>
<div class="section">
  <a name="wfaudio13.18"/>
  <p>You have various children. You
						spoke of Benjy. There is&#x2014;and also of The Sound and the
							Fury and Vardaman. I was thinking&#x2014;been thinking recently about this
						boy who participates in the telling of the story in The
							Town. I don't know&#x2014;I'm not sure that I know how you would explain
						the function of Charles Mallison in&#x2014;in this last novel, whether he
						has&#x2014;whether he is&#x2014;his part of the story is supposed to have any particular
						value because he is a child or&#x2014;and&#x2014;and whether&#x2014;and then Ratliff&#x2014;there are three
						people, you see. There is yourself, and I&#x2014;I'm&#x2014;I haven't been able to see at
						the moment, and I've only read it one time, quite as well as I do in The Sound and the Fury the 
						distinct values which come
						from the three points of view. I don't know whether I am making myself clear
						or not. You can comment on that problem.</p>
</div>
<div class="section">
  <a name="wfaudio13.19"/>
  <p>And yet you didn't mean that
						Charles Mallison was quite as much of a child or an innocent as some of
						these other children?</p>
</div>
<div class="section">
  <a name="wfaudio13.20"/>
  <p>One other question about that
						book. Someone has said recently&#x2014;and I don't present this as my view, it is
						something that&#x2014;that I would like you to comment on if you will&#x2014;that Gavin
						Stevens in The Town is a less mature, a less
						responsible, somehow or other a less likable person than he appears in some
						other places, as in the stories of Knight's
						Gambit.</p>
</div>
<div class="section">
  <a name="wfaudio13.21"/>
  <p>Did you mean Gavin Stevens to be
						like that in Intruder in the Dust?</p>
</div>
<div class="section">
  <a name="wfaudio13.22"/>
  <p>Mr. Faulkner, the fight that
						Gavin has with de Spain in The Town reminded me in
						some ways of the fight that Quentin had when he was in Cambridge. They both
						seemed a little bit like Don Quixote&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio13.23"/>
  <p>Mr. Faulkner, what did you start
						with in Intruder in the Dust? Was it the idea of a
						single character or ?</p>
</div>
<div class="section">
  <a name="wfaudio13.24"/>
  <p>Sir, speaking of technique and
						the way characters are handled, somebody's accused you of going to school to
						Joyce. Would you mind commenting on his and perhaps any other individual
						influences on you?</p>
</div>
<div class="section">
  <a name="wfaudio13.25"/>
  <p>Sir, do you look at your own
						work and look at the&#x2014;and look at the novels of Joseph Conrad, which I've heard
						you express a liking for&#x2014;do you see any sort of similarities in method?</p>
</div>
<div class="section">
  <a name="wfaudio13.26"/>
  <p>We&#x2014;we discussed Joseph Conrad in
						the course that I teach. We frequently come up against you, and vice versa,
						and&#x2014;and I was&#x2014;I was curious to know whether you&#x2014;you saw any similarities?</p>
</div>
<div class="section">
  <a name="wfaudio13.27"/>
  <p>Sir, some months ago you
						expressed a fear in the loss of frontiers in American writing. Do you see
						any new frontiers opening up?</p>
</div>
<div class="section">
  <a name="wfaudio13.28"/>
  <p>Do you find as your own work
						comes nearer to the future, that you yourself alter in any respect in
							relation to it?</p>
</div>
<div class="section">
  <a name="wfaudio13.29"/>
  <p>I know you admire Wolfe
						tremendously, but don't you feel that as Wolfe caught up to the present that
						he lost something that he had when he had a little more time between him and
						the&#x2014;and the event to digest?</p>
</div>
<div class="section">
  <a name="wfaudio13.30"/>
  <p>Do you think that
						question goes a little&#x2014;I'm&#x2014;I'm interested in&#x2014;in this
						question, which I come across in Henry James, for example, that an
						author has a&#x2014;a given&#x2014;has something to
							write&#x2014;you get an idea such as you mentioned a while ago in
						connection to Intruder in the Dust. Which&#x2014;and I&#x2014;I ask
						you for yourself because I think it will have a bearing on the question in
						general&#x2014;which is better for you, to have a great mass of facts and details,
						which are facts, and belong to a human situation, and all you got to do is
						work them up and give them order, or would you rather just have the
						essential things, the germ of the idea, so that you can build in all the
						other things with the imagination?</p>
</div>
<div class="section">
  <a name="wfaudio13.31"/>
  <p>Mr. Faulkner, in view of the
						fact that those people asked you for ratings when the&#x2014;when the horse race
						had gotten maybe to the first quarter mark, and we're now perhaps halfway
						around the course, would you feel inclined to make any revision in the order
						that you saw at that time?</p>
</div>
<div class="section">
  <a name="wfaudio13.32"/>
  <p>You've almost answered this, but
						I'll ask you anyway. Do you think you'll ever write an historical novel
						set&#x2014;dealing with the last century? Would it interest you to do so?</p>
</div>
<div class="section">
  <a name="wfaudio13.33"/>
  <p>Mr. Faulkner, you said that
						Hemingway developed a method he could control. What do you think&#x2014;what is
						your personal opinion of Across the River and into the
							Trees?</p>
</div>
<div class="section">
  <a name="wfaudio13.34"/>
  <p>Do you still read any of the
						books that come out today, like the books by Herman Wouk and writers like him?</p>
</div>
<div class="section">
  <a name="wfaudio13.35"/>
  <p>What were the books that you
						read at twenty-one that you&#x2014;you set store by? Can you mention a few of
						them?</p>
</div>
<div class="section">
  <a name="wfaudio13.36"/>
  <p>Which one of Conrad do&#x2014;do you
						read?</p>
</div>
<div class="section">
  <a name="wfaudio13.37"/>
  <p>Mr. Faulkner, there's a question
						that you may have&#x2014;it may have been asked of you. I haven't been to all of the
						meetings and if you have answered it already, you can just
						ignore it. But a question that always comes up in the classroom in teaching
						an author who writes both short stories and novels, as to what&#x2014;what, if 
						any, is the essential distinction in the&#x2014;in the mind of the author, say, when he
						writes the story, whether it is to be a short story&#x2014;is it merely a matter of
						the&#x2014;of the quantity of materials, or is it a matter of the purpose which he
						wishes to produce, the effect, or is it simply a combination of various
						things?</p>
</div>
<div class="section">
  <a name="wfaudio13.38"/>
  <p>Sir, you&#x2014;you seemed from that to
						place a premium on conciseness, yet your most brilliant successes seem to
						have been in the other direction.</p>
</div>
<div class="section">
  <a name="wfaudio13.39"/>
  <p>You were saying that you
						sometimes read something that you wouldn't ordinarily because somebody asked
						you to or puts it in your hands. Are you besieged with aspiring writers who
						wish an opinion on a manuscript or something of that sort?</p>
</div>
<div class="section">
  <a name="wfaudio13.40"/>
  <p>I'm not quite sure how
						long this meeting is supposed to last. We've had an hour. Could you bear a
						few more questions, if there are questions?</p>
</div>
<div class="section">
  <a name="wfaudio13.41"/>
  <p>I&#x2014;I will say this, sir. You speak
						of Don Quixote as well as your&#x2014;as one of your&#x2014;one of
						the great books, one of the books that you most admire. It's a right long
						book, isn't it?</p>
</div>
<div class="section">
  <a name="wfaudio13.42"/>
  <p>Well, you have mentioned some of
						the&#x2014;the novels that you like most. Is there any particular poetry that you
						think came closest to saying the truth in a few words?</p>
</div>
<div class="section">
  <a name="wfaudio13.43"/>
  <p>Which do you suppose is&#x2014;is the
						most difficult, the most unattainable, for an ambitious youngster who wants
						to write but doesn't know yet whether he is a poet or a novelist or what? I
						gather&#x2014;I may be wrong&#x2014;from what you say that&#x2014;that in general you think
						that&#x2014;that poetry is&#x2014;is perhaps the most difficult thing to achieve 
						real intentions.</p>
</div>
<div class="section">
  <a name="wfaudio13.44"/>
  <p>Well, if there are no
						further questions, we're very much obliged to you indeed, Mr. Faulkner.</p>
</div>
