
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudioUVA.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 6 July 1962</h4>
<h4>OCCASION: English Department Press Conference</h4>
<h4>TAPE: </h4>
<h4>LENGTH: 27:55</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:07.64:00',
					'endtime','00:02:04.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span>Mr. Faulkner came to this university, as so many things happen in real life, more by good luck than by good management on our part, as
                        we later found. In the winter of 1956-57, the Department of English had received some&mdash;a bequest from the estate of Emily Clark Balch
                        for the advancement of American letters at this university. We felt that we wanted to expend this on a Writer-in-Residence program. We discussed
                        various prominent American writers who might be persuaded to come here to be in residence to talk to our students, to the public here, to meet in
                        conferences, meet classes, and so on. We had difficulty deciding really the person we wanted to choose. And finally, by great good fortune,
                        someone said, "You know, Mr. Faulkner, who is a very devoted grandfather, is often in town visiting his daughter and grandchild." We had all seen
                        him, of course, walking the streets inconspicuously. We knew that he liked to keep to himself and not to be spoken to. We had not made any
                        effort. We wrote him, therefore, suggested that perhaps he would like to come, and to our great pleasure, he did want to come. He responded
                        that he would come. He didn't know what he could do for us but at least he wanted to try. This, therefore, in the year of&mdash;the winter of
                        '57 he came and took up duties as Writer-in-Residence at this university. We were so pleased with his&mdash;the ardent following of the students and his
                        popularity that we invited him back for a second&mdash;second year of&mdash;round of conferences.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.2">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:04.79:00',
					'endtime','00:05:26.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span>In those early days,
                        Mr.&mdash;Professor Stovall was chairman and dealt with Mr. Faulkner most directly. I want to ask him now to say something of the early life
                        that we had when Mr. Faulkner first came to this university's grounds.</p>
<p><span class="speaker">Floyd Stovall</span>We gave a reception for Mr. and Mrs. Faulkner. He accepted rather reluctantly because he was not accustomed to that sort of formality,
                        but it went off all right. I remember standing by Mr. Faulkner in some trepidation lest he should turn and flee at any moment, but he stuck it
                        out and having got through that hurdle, he didn't seem to have any more trouble. He was a little nervous the first time he met a class, and he
                        worked out some answers at that time, which I think served him pretty well thereafter, and as he told me later, he never was really nervous after
                        that first class. He was nervous then because he said he'd never done anything of that sort before, and he didn't know what he could do, whether
                        he could do anything or not, whether he would have anything to say, but he has proved to have a great deal to say. A whole book full has been
                        published and much else that has not and never will get published people remember who heard him and talked to him on those occasions. He was
                        always very faithful, one of the most conscientious members of the faculty I have known. He would come to me sometime or other and say, "Well
                        now, what do you think I ought to do?" When somebody would ask him to do some service, meet the radio or something of that sort, sometimes he
                        would come to me and say, "Well, what do you think I ought to do?" I would say, "Well, Mr. Faulkner, I have nothing to do with it. You're your
                        own boss. Do what you please." And usually he didn't make [an] appearance. 
                        I remember one time when
                        the editor of a distinguished quarterly in this country called him up, and I&mdash;I happened to be in the office, and the
                        secretary received the message, and the editor wanted to speak to Mr. Faulkner, and so the secretary went across the hall where Mr. Faulkner was
                        sitting in my private office, as a matter of fact, which I turned over to him, and said, "Do you want to speak to Mr. So-and-So, the
                        distinguished editor," and Mr. Faulkner said, "Tell him I'm not here." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But he was the soul of courtesy and of
                        generosity. When you went to his house, I never have known a person who could make you feel so much at home, and, in general, I would say he was
                        a very sweet-tempered, a very gentlemanly person, a person who I feel is&mdash;was more of a poet really than what I ordinarily think of a
                        novelist as being.  I was&mdash;I was delighted every time I met him. He wasn't much of a talker. You had to lead the way a little bit,
                        but if you didn't get on the wrong subjects, and the wrong subject was usually literature, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> he would talk rather
                        freely.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.3">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:28.84:00',
					'endtime','00:08:29.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span><span class="unclear tooltip" title="Text was unclear">[Mr.]</span> Faulkner, at the university, did not like to deliver formal lectures so much as he enjoyed the informal conferences with students.
                        When he addressed the various public meetings that were&mdash;were held, the last of which in Cabell Hall this past spring, we could've
                        filled the Cabell&mdash;Cabell Hall three times over with people from the whole state who came to hear him give the first reading from his
                        new novel, <em>The Reivers</em>. He always liked to read from his novels or short stories and then to answer questions afterwards.
                        Many of these questions and the answers are, of course, perpetuated in the little book, <em>Faulkner at the University</em>, and
                        they are, indeed, most illuminating for his own comments, because he loved to talk about his characters beyond what you found in the books, to
                        speculate sometimes as to what they did in&mdash;after&mdash;after the book had ended and why they did certain things that were not
                        always so clear in the book itself.  But perhaps his most intimate talks were given to the students in the classes, and Professor
                        Colvert, whose classes Mr. Faulkner often attended, wants to say a few words about what this was like in the classroom.</p>
<p><span class="speaker">James Colvert</span>As everyone knows, Mr. Faulkner was not always patient with or even accessible to the professional critic and the professional
                        student, but he was always most kind and considerate of the students at the university, and when he met with classes of undergraduate and
                        graduate students, it was most impressive as to how considerate he could be of questions that were not always the most sophisticated and the most
                        perceptive, but I don't think in any of the several classes which he visited, I ever heard him make a remark or use a tone of voice to any of the
                        students' questions which might be construed to be the slightest bit ironic or acid. I think that his kindness and consideration toward the
                        students with their questions, which they often repeated over and over and over again, asking him the same questions again and again, he must've
                        gotten tired of some of these questions. Of course, they were different students, but as he came from class to class, he would encounter the same
                        questions, and, of course, he would sometimes give the same answers, but he always did so as if it was the first time he had ever heard the
                        question itself. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.4">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:39.92:00',
					'endtime','00:13:16.60:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span>Mr. Faulkner did a great deal of good by stealth. He didn't really like everyone to know many of the things he was doing for the
                        students and for the benefit of other writers. One of his good was the Faulkner Foundation that was set up in Charlottesville. It had two
                        purposes: one, to devoting itself to scholarships, to bringing students to the University for&mdash;who were good&mdash;good writers;
                        secondly, to award a special plaque and prize for the best first novels of the year. Several such awards were made, the most recent to Mr. John
                        Knowles. Mr. <span class="unclear tooltip" title="Text was unclear">[Bornhauser]</span> was present&mdash;was a member of this Faulkner Foundation Committee for the awards of these
                        prize&mdash;book prizes and attended the Knowles' presentation as well as others.</p>
<p><span class="speaker">Bornhauser</span>When the Faulkner Foundation First Novel Award Committee was first formed, the members of it were at first very concerned about the
                        actual criteria which were to be applied and wanted to know about the usual questions, whether the novel was supposed to show promise of an
                        extended career, how old the young novelist ought to be and so on, but it was typical of Mr. Faulkner not to say more than the most general sort
                        of thing about this. He wanted to be sure, in spite of his own keen interest in the project and in his desire to encourage young novelists,
                        authors of first novels, not to intrude any way on the decision made by a committee, which he did stipulate should be what he called the younger
                        members of the English Department. This made the job much more interesting, of course, to see whether we could come up with something entirely on
                        our own without any restrictive conditions which would really honor the name of the man who had founded the project. 
                        We never were able to
                        find out whether we had pleased him or not. As a matter of fact, he, as far as I know, never committed himself as to his reaction to the choices
                        made by the committee in the first two years of its operation. It's not even certain that he ever read the selections, 
                        but I remember last winter when John Knowles, the author of the first year's award, came to Charlottesville for the
                        presentation, which presumably was going to be a formal occasion, Faulkner begged off from any appearance in public, and John Knowles, with
                        members of the Committee and the President of the Foundation, traveled five or six miles out into the country to the little house where Faulkner
                        lived on the estate of his daughter, for this presentation to be made. There we were greeted quietly but warmly by Faulkner, who then seemed more
                        concerned with allowing his wife to show her latest paintings than he was with talking about the award or anything else to do with
                        literature. However, the award had to be made and after a lengthy introduction on the part of the President of the Foundation to make clear
                        to John Knowles that this award was coming directly from the hand of William Faulkner and so on, he presented&mdash;that is, the President of
                        the Foundation, Mr. Massey&mdash;presented the medallion, the plaque, to Faulkner for presentation to Knowles. Faulkner received it in one
                        hand, transferred it to the other, passed it to Knowles, saying, "Here it is, sir." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That was the whole extent
                        of the ceremony and a cause for certain subdued amusement on the part of all those who observed. After that, the conversation quickly turned to
                        matters of art and sherry. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.5">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:20.78:00',
					'endtime','00:16:15.78:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span>Among Faulkner's benefactions to the university, the great collection of manuscripts and books that has been formed in great part by
                        the local collector, Mr. Linton Massey, was greatly amplified. The account of this collection of&mdash;of Faulkner's works with
                        all&mdash; with its manuscripts is properly in the hands of Mr. John Wyllie, the librarian.</p>
<p><span class="speaker">John Wyllie</span>I hadn't, as a matter of fact, planned to say anything specifically about this great collection. So much has been published about it
                        that it seems to me to require no special additional comment, but in trying to think what would be of most interest to you, I was dredging around
                        in my files and came up with a letter from Mr. Faulkner acknowledging the appointment to the post of Honorary Consultant in the library, an
                        appointment that we made in 1958, trying not so much to confer honor on Faulkner as on ourselves, and he wrote a very nice letter here saying,
                        "I'm most happy over my appointment, which will be a thread connecting me with a place and community which I've come to love even after my
                        present tenure of Writer-in-Residence has ended." But the reason I bring this letter the&mdash;is not so much the letter itself as the envelope. I've had a
                        dozen or so letters I suppose from Faulkner in my&mdash;in the few years that I've known him, and every one of them has been a self-addressed
                        envelope addressed to somebody else that's been sent to Faulkner, which has been crossed out and had my name&mdash;with my name practically
                        always misspelled a slightly different way&mdash;and addressed to me. This particular one is addressed to the
                        <span class="unclear tooltip" title="Text was unclear">[Von]</span> Brown-Teller Dinner Committee of some People-to-People program, who are apparently inviting him or trying to inveigle him
                        into doing something, and they'd sent this self-addressed envelope. Faulkner simply penciled the thing out and typed in his erratic manner my
                        name and address. It&mdash;it seems to me one of the great honors that's been conferred on the library that Mr. Faulkner's next-to-last
                        book, <em>The Mansions</em>, was written in that building. I tried&mdash;kept trying to get him to come back to the faculty
                        study that he occupied there, telling him that I'd nursed his old Remington in his absence to keep it warm and reporting that only the quality of
                        its prose had dropped off during his absence, and he frequently said that he planned to come back, and I'm sorry now that he never will be able
                        to.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.6">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:24.96:00',
					'endtime','00:19:02.26:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Fredson Bowers</span>This is not really the place for any eloquent remarks except to say that&mdash;that we all miss Mr. Faulkner greatly here. This
                        little figure strolling through our Grounds with his alpine hat, sometimes his cape, and always a very sporty coat or&mdash;or vest, with the
                        students speaking to him, coming up into the English office, having his door open as he sat and students would drift by, occasionally coming in
                        to read to him and to hear him talk about their writing, about his own. This is a statement in the name of the Department of English of the
                        University of Virginia: "William Faulkner's death will be felt as a personal loss by every reader in English-speaking countries, as well as in
                        all the nations of the world that know him in translation. He was a magnificently individual writer whose view of life was communicated to
                        readers in terms of personal immediacy. Faulkner felt deeply about the subjects of his narratives, and since he was a born storyteller, he always
                        spoke directly, as to a friend, when he re-created in his books the life that he had observed with admiration for its tenacious struggle and with
                        compassion for its fate. The largeness of his understanding made significant to the reader the great arch of life from outrageous comedy to a
                        tragedy that was Greek in its inevitability. Fittingly, his last book, <em>The Reivers</em>, was his most comic and relaxed in its reminiscences of
                        boyhood and of lost innocence. The Faulkner narrative could never be fully appreciated except from his own lips. The University of Virginia and
                        its Department of English are proud that in his latter years he chose to associate himself with academic life as Balch Lecturer in American
                        Literature. By his public readings and discussions of his books, he brought to students the direct experience of life as his mind and memory had
                        formed it and as his colorful Mississippi speech gave it vigor and reality."</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.7">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:06.15:00',
					'endtime','00:20:26.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Dr. Bowers, I think you say&mdash;stated or one of you gentlemen stated that Mr. Faulkner didn't particularly care to discuss
                        literature at any time in more-or-less of a social atmosphere. What was his favorite topic of discussion at that time?</p>
<p><span class="speaker">Fredson Bowers</span>He liked&mdash;he would talk about his own books if people confined their questions pretty largely to the characters and the
                        situations in them and from a storyteller's point of view. What he would not do was to discuss symbolism in them, any ulterior motives that he
                        may have had in&mdash;in them, or points that would be called literary critical questions, but he did love to talk about the characters
                        because they were the real things for him. He always spoke of them with respect, with amusement, with admiration, no matter how ornery they were.
                        He sort of admired them, I think, down underneath. He always said that he&mdash;they formed themselves in his character&mdash;mind, that
                        he began hearing these people talk to each other, and all he wanted to do was to run along fast enough behind them with a notebook, catching what
                        they were saying and their situations. Now, we may privately say that the beginning of such a book as <em>Light in August</em>,
                        say, is not precisely written in this manner, but once he got going in it, possibly something of the sort really did happen.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.8">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:27.84:00',
					'endtime','00:21:31.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Dr. Bowers, you mentioned that&mdash;you pointed out that Mr. Faulkner was a little hesitant in speaking before audiences. Was he
                        by nature a shy man or did he ever give any explanation for not appearing to want to appear before audiences?</p>
<p><span class="speaker">Fredson Bowers</span>I think he was by nature a&mdash;a shy man, who liked to be alone, but liked to be alone with his intimates. I don't think he
                        really liked strangers very much. When he was telling stories, he always spoke of his days in New Orleans when he and Sherwood Anderson would
                        just swap&mdash;sit on the sidewalk cafe, I expect, and swap stories by the hour. Those were golden days for him, but when he saw his duty,
                        he faced up to it all right, and he addressed large audiences, but he did want always something definite such as reading his own works or
                        answering a&mdash;a precise question&mdash;question. The general discussion before strangers, this he really did not much like I think.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.9">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:33.89:00',
					'endtime','00:25:07.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>The breadth of some of his interest, I think, is&mdash;could be shown by his conversations with Mr. Colvert about airplanes. I
                        just want to throw in a special question you might want to ask because I think it's unusual&mdash;ask what he talked to you about.</p>
<p><span class="speaker">James Colvert</span>Me?</p>
<p><span class="speaker">Unidentified participant</span>Yeah. What did he used to talk to you about?</p>
<p><span class="speaker">James Colvert</span>Well, I'd always heard that Mr. Faulkner was especially interested in horses and dogs and hunting and that sort of thing, but when I
                        got to know him briefly last spring, I discovered that he was also an enthusiast about airplanes. He had an enthusiastic interest in them, and he
                        knew a great deal about them. As a matter of fact, he was a pilot during the First World War. He was in the Royal Canadian Air Force,
                        as&mdash;as we know and was a pilot of the old Sopwith Camel, one of the famous&mdash; well, what he always insisted on calling not
                        pursuit, but scouts, and he knew a great deal about this, and it's amazing to me how much technical knowledge about airplanes that he managed to
                        retain over all the years that he was not particularly associated actively with flying. 
                        He had some very amusing stories to tell about his
                        experiences with airplanes. He said once that he was on a little airport, and&mdash;on a little field in Ohio, and he saw a beastly looking airplane
                        sitting off on the tarmac. Incidentally, he always used the terms and expressions of the&mdash;the First World War when he talked about
                        flying. An airport was a tarmac or pursuit ships were scouts and Germans were Huns, and so on. He saw this airplane on this field in Ohio and
                        went over to look at it because it was a strange looking thing. It was an old Aeronca which had a radial engine, as he says, and he looked into
                        the cockpit and he found a placard on the instrument panel which said, "Do not fly this airplane over 73 miles an hour. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Do not land this airplane under 71 miles an hour. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Do not take off in this airplane
                        under 72 miles an hour. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>" This intrigued him. He looked up the owner and found that the&mdash;the owner was on the field,
                        and he asked if he might fly it around the field, and he was given permission. He flew it around the field and brought it back and bought it.
                        This was one of the three airplanes of this type manufactured, and as he said himself, "The first one was the&mdash;the first prototype.
                        The second one was the second prototype. And the one I bought was the first and last production model." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">Unidentified participant</span>Did he keep up with modern-day aircraft at all. I mean, did he discuss this with you?</p>
<p><span class="speaker">Fredson Bowers</span>Not much. He didn't keep up. He&mdash;as a matter of fact, his interest was pretty much historical, and he knew a lot about World
                        War I airplanes, but not very much about airplanes after about the mid '30s. He sold his Aeronca in 1941, he said, and I don't think he was very
                        active after that.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.10">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:10.25:00',
					'endtime','00:27:25.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What was his feeling about the community of Charlottesville in itself, Sto&mdash;Stovall?</p>
<p><span class="speaker">Floyd Stovall</span>He was very fond of Charlottesville, in particular, and of the state of Virginia as a whole. I think that Mr. Faulkner has in a sense
                        come into his own during his residency in Virginia. I think he has found something here, particularly in the foxhunting part of the country and
                        group, which he had greatly missed and which he enjoys&mdash;has always enjoyed more than anything else, I believe, as far as I know, that he
                        has done in recent years. I made the remark to someone a while ago that probably Faulkner had had more pure enjoyment out of life, aside from the
                        artist pleasure in producing, during his residency in Virginia than he had before that, and I think one can see that he&mdash;the best part
                        of his nature came out. He became far more genial than, as far as I have heard, he had been before that. I believe he felt a sort of debt, sort
                        of obligation to the world, which had been very good to him and honored him in many ways, and insofar as he was able, he wished to do something
                        in return. That, at any rate, was one of the statements he made to me when we were discussing his coming here as Writer-in-Residence. He
                        refused to&mdash;when I asked him about salary, he refused to mention any salary. He said, "I don't think I'm worth anything, and so don't
                        pay me anything until I produce something and see what I can do." And, as a matter of fact, he has never&mdash;he never accepted anything
                        more than just a nominal fee, enough to pay for, he said, for tobacco and whiskey. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudioUVA.11">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudioUVA.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:25.08:00',
					'endtime','00:27:49.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Did he ever express specifically a philosophy of life?</p>
<p><span class="speaker">Floyd Stovall</span>Not privately. I would be very much surprised if he ever philosophized on life in <span class="unclear tooltip" title="Text was unclear">[a]</span>conversation. Of course, he does in his books as
                        you know, and his Nobel Prize speech had something to say about that, but he was a very reticent man in private conversation.</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudioUVA.1" class="hidden">Bowers' Introduction</a></li>
<li><a href="#wfaudioUVA.2" class="hidden">Faulkner at UVA</a></li>
<li><a href="#wfaudioUVA.3" class="hidden">Faulkner in the Classroom</a></li>
<li><a href="#wfaudioUVA.4" class="hidden">The Faulkner Foundation</a></li>
<li><a href="#wfaudioUVA.5" class="hidden">Faulkner's Papers</a></li>
<li><a href="#wfaudioUVA.6" class="hidden">Departmental Statement</a></li>
<li><a href="#wfaudioUVA.7" class="hidden">Faulkner's Favorite Topic</a></li>
<li><a href="#wfaudioUVA.8" class="hidden">Faulkner's Shyness</a></li>
<li><a href="#wfaudioUVA.9" class="hidden">Faulkner and Flying</a></li>
<li><a href="#wfaudioUVA.10" class="hidden">Faulkner and Charlottesville</a></li>
<li><a href="#wfaudioUVA.11" class="hidden">Faulkner's Philosophy</a></li>
</ul></aside>
        
