<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio24_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio24_1_2.1"/>
  <p>When you speak of a man in motion, do you think that that person who
                        moves along with it is apt to be the most successful or&#x2014;?</p>
</div>
