
            <section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 20 May 1957</h4>
<h4>OCCASION: Press Conference</h4>
<h4>TAPE: T-134</h4>
<h4>LENGTH: 32:05</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio17.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:02.51:00',
					'endtime','00:00:08.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator</div> <span class="unclear tooltip" title="Text was unclear">[pick up from where he left off this
                        morning]</span>&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:08.14:00',
					'endtime','00:02:02.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, what I would sort of like to ask you is, after four months
                    of contact with students at the University, sort of what you feel in the rising
                    generation, whether&mdash;we've heard a lot of talk that they 
                        are very much driven toward conformity and
                    security, just the things I think that you probably would oppose in anyone who
                    wanted to be a writer. But I'm thinking more of what you see in the students
                    you've talked to?</p>
<p><div class="speaker">William Faulkner</div>Tell me that again. I got lost. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Unidentified participant</div>I'm sorry   my sentence was
                    <span class="unclear tooltip" title="Text was unclear">[involved]</span>. What I&mdash;what I'm thinking of is what
                    you&mdash;what you think of the generations of students that you've had
                    contact with over the last four months here and possibly a year or so
                    ago&mdash;well, let's limit it to the United States. Are they more
                    conventional than they were when they&mdash;when you were their age? Are
                    they more seeking of conformity? What&mdash;well, what&mdash;are they
                    less intellectually curious? Are they less daring?</p>
<p><div class="speaker">William Faulkner</div>No, I would say that they are more intellectually curious. They are more
                    daring, but they have more pressure to conform. There's&mdash;there's more
                    and more constant pressure to belong to something, to be submerged into a mass,
                    that they have got to&mdash;got to struggle with. But I would say that they
                    are&mdash;they are more curious than they were, that they have more
                    opportunities to be curious, to&mdash;to know, to keep up with
                    what&mdash;what cooks, what does go on.  But there is that&mdash;that
                    tremendous pressure to conform, which I think they don't&mdash;don't always
                    realize is there.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:03.76:00',
					'endtime','00:03:48.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Well, do you think most of them are resisting it? I would doubt it.</p>
<p><div class="speaker">William Faulkner</div>I think that all young people resist it, but there's no ordered
                    resistance. They themselves don't&mdash;don't realize how much and how constant that
                    pressure is or that they would confederate against it. They are given too many
                    things that take the form of&mdash;of bribery to not resist it, to be
                    unaware of it.</p>
<p><div class="speaker">Unidentified participant</div>What sort of bribery?</p>
<p><div class="speaker">William Faulkner</div>Well, the&mdash;the&mdash;the pleasant things
                    of&mdash;of&mdash;of existence, of being a student, the motor cars, and
                    the&mdash;the things that make the&mdash;the day-by-day life of a
                    student simpler than it used to be when there was some question to keep warm in
                    winter. You had to go to a little trouble to keep a fire going, if nothing else.
                    There were&mdash;it was a little more difficult to&mdash;to find
                    pleasure. You couldn't go out and go to the theater by paying sixty or seventy
                    cents at the moving-picture show every night. The books were not always
                    available. And because things like that are available, the student
                    is&mdash;the young man is&mdash;is tricked into not realizing
                    the&mdash;the pressure on him to belong to a mass or a group which wants to
                    do his thinking for him, to give him the ideas that that group that&mdash;of
                    the overlords of the group and mass want him to have. But I'm convinced he still
                    resists it, and it breaks out in all sorts of&mdash;of queer and
                    unpredictable places.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:48.53:00',
					'endtime','00:04:24.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>What are they, sir?</p>
<p><div class="speaker">William Faulkner</div>Well, I think of young Mr. Plowden-Wardlaw, whose avocation seems to be
                    taking part in a Calypso band, yet suddenly he and his friends on the magazine
                    here have thought of that issue stating different notions about segregation.
                    That's interesting. He should&mdash;they should do more with that. There
                    should be more of that in the University, I think, than there is. But that's a
                    very good, a very hopeful symptom.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:30.50:00',
					'endtime','00:05:57.78:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>You said something about wishing that the University of Virginia and the
                    State of Virginia would take more leadership in the South. You were asked that
                    question the other night in conversation.</p>
<p><div class="speaker">William Faulkner</div>Well, yes, that's because of the&mdash;the respectful, almost
                    abject, reverence which the rest of the South has toward the State of Virginia
                    and toward the University, that when the State of Virginia makes mistakes which
                    should have been made not by Virginia but by Mississippi or Alabama, we are a
                    little ashamed.</p>
<p><div class="speaker">Unidentified participant</div>Do you have any mistakes in mind?</p>
<p><div class="speaker">William Faulkner</div>Well, the unhappy business of the invitations they sent out for that
                    dinner, and they found that some of them had gone to Negroes, and they had to
                    recall them, that sort of thing. That's the sort of thing that you expect
                    Mississippi to do but not Virginia. To the&mdash;the rest of the South,
                    Virginia must be like Caesar's wife.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:22.49:00',
					'endtime','00:08:21.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, last week you went to see a play written by one of the
                    students here. I would be interested in any comments you would care to make on
                    the play.</p>
<p><div class="speaker">William Faulkner</div>Hopeful. It was another instance of&mdash;of&mdash;of that
                    pressure to conform. I think that a&mdash;a sad and tragic thing, a
                    condition which the&mdash;the young writer today has to face is that the
                    middle class has been broken down. It no longer exists as a&mdash;a homogeneous
                    condition recognized by everyone everywhere. It exists, but it exists,
                    as&mdash;as you might say, individual cells. The&mdash;the best of the
                    writing of the old days&mdash;not so much done by members of the middle
                    class, but it was about the&mdash;the tragedies, the problems which existed
                    in the middle class, and now there's no middle class anymore as
                    a&mdash;a&mdash;a&mdash;a definite condition recognizable everywhere
                    to create those problems, and so the&mdash;the plays have a&mdash;a
                    flavor a little too preciously proletarian, that they are concerned with
                    conditions and not problems of the human heart. Mr. Coffey's play showed
                    a&mdash;it was&mdash;was very hopeful, I think. It&mdash;it showed a&mdash;a
                    sense of&mdash;of his craft, and it was very well done to have been done by
                    amateurs because that was pretty difficult for amateurs to do, that sort of
                    thing, to make it believable.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:24.71:00',
					'endtime','00:09:44.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you say the middle class, but if there is no more middle
                    class, what do you think has happened to the middle class
                        <span class="unclear tooltip" title="Text was unclear">[when]</span> there was one?</p>
<p><div class="speaker">William Faulkner</div>Conditions of over-population, the&mdash;the confederation of
                    the&mdash;the various labor unions which are&mdash;are&mdash;have
                    transposed, are transposing what was the proletariat into a new middle class.
                    I&mdash;by the middle class having hard and fixed recognizable boundaries, I
                    mean that class which decreed that&mdash;that there should be banks, a
                    stable currency. There should be churches. There should be schools. A class in
                    which even the ones who couldn't cope financially were still supported by the
                    middle class. They still belonged to it. Now, that class doesn't exist with the
                    rigid boundaries, so that&mdash;that when the&mdash;the ex-member of it,
                    the member of what was the middle class, has failed financially, he is
                    submerged. He is passed by people who rise through the old middle class without
                    having learned any of the discipline, the responsibility of their class, of a
                    middle class.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:45.51:00',
					'endtime','00:10:28.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Is part of that transition what you recorded in <em>The
                        Town</em>? &mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, it's&mdash;what everybody writing records. I think
                    it's&mdash;it definitely is a fact, and every&mdash;</p>
<p><div class="speaker">Unidentified participant</div>
                     rise.
                </p>
<p><div class="speaker">William Faulkner</div>Well, people like the Snopeses always have risen&mdash;risen
                    in a country like this where there is freedom in which
                    to&mdash;to make the best of your capacities.  But there was no middle class
                    to give him a check&mdash;probably he couldn't have risen as rapidly as he
                    did fifty years ago when there was a definite and rigid middle class.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:31.67:00',
					'endtime','00:11:20.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I'm interested in something that seems to have happened to
                    you. It seemed to me, using the Nobel Prize as a mark in time rather than any
                    special significance, that you seem to have moved to a certain extent from
                    communicating only through your works to&mdash;well, for example, going to
                    Japan or coming to the University of Virginia and going to other places for the
                    State Department. I wondered if this marked any sort of change or departure in
                    your own thinking, or sort of why you moved out.</p>
<p><div class="speaker">William Faulkner</div>Well, sir, you are constantly changing. Your skin, your fingernails, is
                    constantly changing. The&mdash;the only alternative, you know, is death.  And
                    let's hope that we won't have to keep on doing tomorrow what we are doing today.
                    There wouldn't be much fun in it. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:26.40:00',
					'endtime','00:11:51.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>In your talk to the students, you said, as I remember, that it's a
                    question whether Southern Baptists are religious, and I was wondering if
                    you could elaborate on that and say if they are not religious, then
                    what are they?</p>
<p><div class="speaker">William Faulkner</div>Well, they're <span class="event tooltip" title="There was some laughter happening">[laughter]</span> Southern Baptist. I think that is
                    an&mdash;an emotional condition that has nothing to do with God or <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    politics or anything else.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:01.55:00',
					'endtime','00:12:57.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>What is involved in this emotional condition of the
                    Southern&mdash;Southern Baptist?</p>
<p><div class="speaker">William Faulkner</div>It came from&mdash;from times of hardship in the South where there
                    was little or no food for the human spirit, where there were no books, no
                    theater, no music, and life was pretty hard. It&mdash;a lot of it happened
                    out in the sun, for very little reward, and that was the only escape they had. I
                    think that is the&mdash;the human spirit aspiring toward something. Of
                    course, it got warped and twisted in the process.</p>
<p><div class="speaker">Unidentified participant</div>Now this&mdash;this condition, do you limit that to Southern Baptists
                    or do you visualize something larger than actually the Baptist churches in the
                    South?</p>
<p><div class="speaker">William Faulkner</div>Well, I imagine that it exists almost everywhere, though it may take
                    other forms. It would exist wherever people have been starved, spiritually
                    starved.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:06.23:00',
					'endtime','00:13:56.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, one other question, can you&mdash;have you gotten
                    anything particularly out of this four months in Charlottesville yourself, and
                    can you, at this point, in any way distill sort of any feeling you might have
                    about Charlottesville and about the University?</p>
<p><div class="speaker">William Faulkner</div>The writer writes from the three tanks I spoke of&mdash;observation,
                    imagination, and experience. He's got to constantly replenish them and fill
                    them, and so I&mdash;I couldn't say exactly what I've got from
                    my&mdash;my stay here to replenish those tanks, though the tanks have been
                    replenished because, as&mdash;as we agreed, life is in constant flux, in
                    constant change, and the time that you don't learn something new every day you're 
                    dead.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:59.13:00',
					'endtime','00:15:28.95:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Based on your four months here, I was wondering if your opinion of
                    university education or college education has changed. As I understand, when you
                    first came here, you said that a university&mdash;a college education was
                    good for some people and not&mdash;not necessary for others, and I was
                        wondering if&mdash;whether your opinion has been modified at all.</p>
<p><div class="speaker">William Faulkner</div>No, because I've had that opinion for about fifty years. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    I&mdash;I think that&mdash;that all
                    education in this country has got to be overhauled. I think that there's
                    a&mdash;it's basically bad when&mdash;when its premise is that everybody
                    must be educated willy nilly, that some people don't deserve to be educated, and
                    if everyone is to be educated, unless enough money is spent on education to
                    where the&mdash;the best student can have the best of the treatment, the
                    best of the education, then he is going to have to be stultified and held back
                    by a scheme which has got to take the&mdash;the one that is least fitted.
                    Probably the&mdash;the ideal form of education would be one professor to one
                    student, or one professor to no more than ten students.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:51.02:00',
					'endtime','00:17:12.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Last week you were talking about the cultural interchange through the
                    State Department and wishing more of it could be done and done better. Do you
                    care to comment on that?</p>
<p><div class="speaker">William Faulkner</div>I think my opinion is that we go about it the wrong way. We should stop
                    trying to sell our country to Europe or to anywhere else. We should bring the
                    people that don't like our country to this country and let them alone and let
                    them see what it is about it that makes us like it.  That
                    it's&mdash;we&mdash;we try to&mdash;to choose a people who are
                    already our friends and then sell them some illusory picture of America. Let's
                    bring our enemies here. We&mdash;we can't keep communist spies out of this
                    country anyway. You might just as well bring all the communists that will come
                    here and let them see what there is about this country that makes us like it,
                    not try to sell them anything. Just let them see a country where everybody has a
                    job, and he can always hope for a Cadillac. His children can go to the corner
                    drugstore and&mdash;and get an ice cream cone every day, buy all the junk
                    that Americans love on the installment plan. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:28.43:00',
					'endtime','00:18:11.60:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Do you think the thing that has broken down the middle class is
                    materialism?</p>
<p><div class="speaker">William Faulkner</div>No, it's the&mdash;the&mdash;the terrific increase of
                    population, people that have got to be cared for, that if we had spent as much
                    attention to breeding people as we do to breeding horses and dogs, we would've
                    had a&mdash;a better world probably and stayed out of a lot of trouble.
                    Changing conditions. The machine is responsible for a great deal of it, the
                    machine that has given us more leisure than we have taught ourselves what to do
                    with.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:33.89:00',
					'endtime','00:19:49.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>You&mdash;your statements that you think education should be
                    overhauled, and you said that you thought it would do good to&mdash;if possible, to have
                    maybe one professor to one student or one to ten students, and that generally I
                    believe is what colleges are trying to work for. Now, do you think they are on
                    the right track generally, or do you think they are making some mistakes, and if
                    so, what mistakes?</p>
<p><div class="speaker">William Faulkner</div>I'm sure that they are working toward something like that or maybe even
                    a better idea, and I'm convinced, too, that&mdash;that with&mdash;with
                    all the&mdash;the problems, the&mdash; the&mdash;the social problems
                    which we face, which is the leisure that we don't know what to do with, with too
                    many people, with the need for housing, that it's amazing that the&mdash;the
                    colleges advance as they do. That is, if&mdash;if suddenly things could be
                    stopped to give the colleges one year in which to make their plans, they might
                    do something, but now they can't because here's another flux of&mdash;of
                    young men and women that have got to go to school, and they don't have any
                    chance to stop and get their breath and take stock and make plans.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:07.34:00',
					'endtime','00:21:03.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>What comparison, if any, can you make really between the Japanese
                    students you talked to at Nagano and elsewhere and the ones you've found
                    here?</p>
<p><div class="speaker">William Faulkner</div>I don't think that anyone can understand Japanese, so the impression I
                    got could be completely wrong, <span class="unclear tooltip" title="Text was unclear">[you see.]</span> The impression I got
                    is that they are&mdash;that their culture is a culture
                    of&mdash;of&mdash;how to phrase it? Of the functioning of
                    the&mdash;of the intellect, not intelligence, but of the intellect,
                    the&mdash;the little clicking of&mdash;of&mdash;of the wheels that
                    turn and <span class="unclear tooltip" title="Text was unclear">[then just]</span> what it produces don't matter, just so
                    the&mdash;all the little wheels are running constantly.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:10.48:00',
					'endtime','00:22:20.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>You've made a comparison the other night of students, different types of
                    students in Austria, I believe.  Isn't that true?</p>
<p><div class="speaker">William Faulkner</div>Well, sir, I don't remember. I've done a lot of talking in these four
                    months, but you'd have to look <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> at the tape
                    recorder to remember just what it was.</p>
<p><div class="speaker">Unidentified participant</div>At the University of&mdash;it would've been at the University of
                    Vienna?</p>
<p><div class="speaker">William Faulkner</div>I don't know. Keep on. Maybe I'll remember it.</p>
<p><div class="speaker">Unidentified participant</div> With a group who were studying&mdash;to whom you were talking in English&mdash;were 
                        studying for Foreign Service and had definite ideas of what they wanted and so forth.  
                   They were much more seriously interested in .</p>
<p><div class="speaker">William Faulkner</div>I don't know. Can you help us out on that?</p>
<p><div class="speaker">Joseph Blotner</div>No, sir. I don't recall that question or that answer.</p>
<p><div class="speaker">William Faulkner</div>Do you remember any more of it, Mr. <span class="unclear tooltip" title="Text was unclear">[Ranick]</span>? Maybe
                    we'll get to it in a minute.</p>
<p><div class="speaker">Unidentified participant</div>No. I&mdash;that&mdash;I was asking partly trying to find what the answer was
                    because I missed part of it. I was too far back in the room to catch <span class="unclear tooltip" title="Text was unclear">[it
                        all]</span>.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I remember you <span class="unclear tooltip" title="Text was unclear">[stated]</span> .</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:28.97:00',
					'endtime','00:23:31.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, in this cultural interchange you speak of, wouldn't the
                    student serve as well, the student maybe and his family and  the
                    communists ?. How would you go about <span class="unclear tooltip" title="Text was unclear">[arranging]</span> 
                    something like that?</p>
<p><div class="speaker">William Faulkner</div>I would import the whole family. The&mdash;the first requirement
                    would be that be communists. I would bring the whole family intact. I would
                    arrange for labor to find a&mdash;a&mdash;a job for him, a house for
                    him, and schools for his children. Let them stay two years, and then send them
                    back, and then bring another intact family. Yes, to bring the father and the
                    mother and&mdash;and two or three children and not bother them at all. Just let them see
                    this country, how it actually is, instead of trying to give them
                    the&mdash;the false, phony picture which the people that put out our
                    propaganda seem to think it is.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:34.71:00',
					'endtime','00:24:47.52:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you feel that if you had been born and grown up someplace else, you
                        would've written pretty much the same kind of book and <span class="unclear tooltip" title="Text was unclear">[laid the environment]</span>
                    there or do you think Mississippi is particularly strong in bringing out
                    the&mdash;these conditions in the human race?</p>
<p><div class="speaker">William Faulkner</div>No, no, the imagination would be the same. The observation 
                    we&mdash; would be different and assuming that&mdash;that the experience,
                    the&mdash;the books were&mdash;were Russian books or French books, that
                    would be a little different.</p>
<p><div class="speaker">Unidentified participant</div>I mean&mdash;</p>
<p><div class="speaker">William Faulkner</div>But the people I write about are the same people. People haven't changed
                    that much. The&mdash;the locale is&mdash;is just incidental. The writer uses that
                    because that's easier.</p>
<p><div class="speaker">Unidentified participant</div>You wouldn't say there's anything significant about&mdash;</p>
<p><div class="speaker">William Faulkner</div>No.</p>
<p><div class="speaker">Unidentified participant</div>&mdash;about  Mississippi beyond&mdash;</p>
<p><div class="speaker">William Faulkner</div>No, it's just because it's there. That's easier. If I wrote about
                    another locale, I'd have to do some research or risk somebody saying, "Uh-uh,
                    that's wrong." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Unidentified participant</div>Do you feel you would have been influenced also probably to write the
                    same type of thing?</p>
<p><div class="speaker">William Faulkner</div>Yes, people are the same. People don't change that much. Their problems
                    are the same problems.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:53.59:00',
					'endtime','00:26:30.61:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you may have touched on this previously, but could you give
                    some advice to young writers? What advice would you give to young writers?</p>
<p><div class="speaker">William Faulkner</div>At one time I thought the most important thing was talent. I think now
                    that&mdash;that the young man or the young woman must possess or teach
                    himself, train himself, in infinite patience, which is to&mdash;to try and
                    to try and to try until it comes right. He must train himself in ruthless
                    intolerance. That is, to throw away anything that is false no matter how much he
                    might love that page or that paragraph. The most important thing is insight,
                    that is, to be&mdash;to curiosity&mdash;to&mdash;to wonder, to mull,
                    and to&mdash;to&mdash;to muse why it is that man does what he does. And
                    if you have that, then I don't think the talent makes much difference, whether
                    you've got that or not.</p>
<p><div class="speaker">Unidentified participant</div>How would you suggest that he get this insight? Through experience?</p>
<p><div class="speaker">William Faulkner</div>Yes, and then the greatest part of experience is in the books, to read.
                    To read and to read and to read and to read. To watch people, to
                    have&mdash;to never judge people. To watch people, what they do,
                    with&mdash;with&mdash;without intolerance. Simply to&mdash;to learn why it is
                    they did what they did.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:35.05:00',
					'endtime','00:28:46.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I believe earlier you were talking about reading when you
                    were speaking to the class and <span class="unclear tooltip" title="Text was unclear">[a lot of it was]</span> about
                    symbolism. You said since the writers cannot follow a lot of turns and corners,
                    the symbols, <span class="unclear tooltip" title="Text was unclear">[and must get on with the]</span> writing and that's for
                    the reader to follow up. I was wondering when you did your reading, did you
                        follow the turns and the corners in&mdash;in looking for symbolism?</p>
<p><div class="speaker">William Faulkner</div>No, I didn't. The&mdash;the reader reads out of the same three
                    reservoirs&mdash;imagination, observation, and experience that the writer
                    writes from. The&mdash;the reader and the writer in the same culture have
                    the same cultural background. That is, the same religious symbols are a part
                    of&mdash;of both backgrounds, and it's&mdash;the writer, by simple
                    instinct, will match those symbols and the old stories of his folklore for the
                    reason that there're&mdash;there're only two or three stories anyone can
                    write, and they are bound to repeat themselves. There're only a certain number
                    of symbols, which are the cultural background, the spiritual background of
                    anyone, and, of course, they're going to appear when he begins to translate his
                    own observation and imagination and experience onto paper. He will use the terms
                    of his environment, and a part of his environment is the&mdash;the
                    symbolism which he inherited, took in with his mother's milk, you might say, as
                    a part of his own past, of the&mdash;the long generations
                    which&mdash;which bought him to A.D. 1957, and so it's not surprising that
                    they should all be there, and it's not surprising that he, taking them for
                    granted, doesn't bother to&mdash;to see, "Well, here's where I've used a
                    symbol, and so I got this symbol how many years ago." That's not too important to
                    him. It's there.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:51.85:00',
					'endtime','00:29:42.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, have you found any promising young writers during your stay
                    here, anyone who looks <span class="unclear tooltip" title="Text was unclear">[good]</span> for the future <span class="unclear tooltip" title="Text was unclear">[of
                        fiction]</span>?</p>
<p><div class="speaker">William Faulkner</div>Any promising young writer to me is one that's really working at it. His
                    promise will be in the work. The&mdash;the&mdash;the symptom of promise
                    is that he really is interested enough to&mdash;to accept the anguish and
                    the frustration and the disappointment and&mdash;and the final fun and&mdash;and
                    ecstasy of working at it, so any young man that is sincerely working at it and
                    sincerely interested in&mdash;in the&mdash;the verities of
                    man's condition shows promise. It may take him years before he lives up to that
                    promise, but if he's working at it, that's all the promise he needs to give
                        anybody.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:46.30:00',
					'endtime','00:30:48.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>What specifically in your memory did you&mdash;you read that helped you more than
                    anything else?</p>
<p><div class="speaker">William Faulkner</div>Everything I ever read, from the telephone book up and down. Trash. The
                    good stuff. All of it.</p>
<p><div class="speaker">Unidentified participant</div>It all&mdash;</p>
<p><div class="speaker">William Faulkner</div>And I think that no writer can say just how much influence he had from
                    what source. That is, he might be able to go back over his work and pick out
                    pages or scenes or chapters that show&mdash;show a derivation from a
                    specific source, but then the writer don't do that because by that time he's
                    busy writing another book.  That he feels at&mdash;at perfect liberty to take
                    whatever he needs from whatever source he can find it, just as he is perfectly
                    willing to let anyone after him take whatever they can get from him with no
                    jealousy whatever, or no feeling that he has&mdash;has&mdash;what
                    he&mdash;he's amoral, not immoral.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:51.95:00',
					'endtime','00:31:46.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>To return to the idea about&mdash;about bringing in communists and&mdash;and
                    letting them live here and&mdash;and see our way of life, and&mdash;and
                    not bother them, and&mdash;well, along that idea&mdash;you said
                    that usually&mdash;you think they would return with a better picture of
                    America than they're getting through our propaganda, and I was wondering if you
                    had any&mdash;what kind of picture do you think they're getting now?</p>
<p><div class="speaker">William Faulkner</div>It would be a true picture. I think the picture that they get from what
                    we export is not a true picture of America because we want to be liked. We
                    wanted to be thought well of, and despite ourselves, we dress up the image that
                    we send abroad, simply because we want to be liked and want to be thought well
                    of, but that ain't it. It's to let them see themselves what it is in this
                    country that makes us for some strange reason like it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio17.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio17.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:50.65:00',
					'endtime','00:31:57.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Have you given this enough consideration that you would probably be tempted 
                    to write  <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio17.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio17.2" class="hidden">The Rising Generation</a></li>
<li><a href="#wfaudio17.3" class="hidden">Resisting Conformity</a></li>
<li><a href="#wfaudio17.4" class="hidden">Individualism at UVA</a></li>
<li><a href="#wfaudio17.5" class="hidden">Virginia and the South</a></li>
<li><a href="#wfaudio17.6" class="hidden">Student-Playwright</a></li>
<li><a href="#wfaudio17.7" class="hidden">The Middle Class</a></li>
<li><a href="#wfaudio17.8" class="hidden">The Rise of Snopes</a></li>
<li><a href="#wfaudio17.9" class="hidden">A More Public Role</a></li>
<li><a href="#wfaudio17.10" class="hidden">Southern Baptists</a></li>
<li><a href="#wfaudio17.11" class="hidden">The Baptist Condition</a></li>
<li><a href="#wfaudio17.12" class="hidden">His Time at UVA</a></li>
<li><a href="#wfaudio17.13" class="hidden">A College Education</a></li>
<li><a href="#wfaudio17.14" class="hidden">Cultural Interchanges</a></li>
<li><a href="#wfaudio17.15" class="hidden">Loss of MIddle Class</a></li>
<li><a href="#wfaudio17.16" class="hidden">Improving Colleges</a></li>
<li><a href="#wfaudio17.17" class="hidden">Comparing Students</a></li>
<li><a href="#wfaudio17.18" class="hidden">Austrian Students</a></li>
<li><a href="#wfaudio17.19" class="hidden">Cultural Interchange</a></li>
<li><a href="#wfaudio17.20" class="hidden">Regional v Universal</a></li>
<li><a href="#wfaudio17.21" class="hidden">Advice to Young Writers</a></li>
<li><a href="#wfaudio17.22" class="hidden">Symbols</a></li>
<li><a href="#wfaudio17.23" class="hidden">UVA's Young Writers</a></li>
<li><a href="#wfaudio17.24" class="hidden">Writing and Reading</a></li>
<li><a href="#wfaudio17.25" class="hidden">America to Communists</a></li>
<li><a href="#wfaudio17.26" class="hidden">Fragment</a></li>
</ul></aside>
        
