<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio11_2.1">Regional Dialects A</a>
    </li>
    <li>
      <a href="#wfaudio11_2.2">Whupped v Whipped</a>
    </li>
    <li>
      <a href="#wfaudio11_2.3">Gout</a>
    </li>
    <li>
      <a href="#wfaudio11_2.4">Shegog's Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_2.5">Ghy' for Gwine</a>
    </li>
    <li>
      <a href="#wfaudio11_2.6">Close</a>
    </li>
    <li>
      <a href="#wfaudio11_2.7">Scriptural Influence 1</a>
    </li>
    <li>
      <a href="#wfaudio11_2.8">Sho and Sholly</a>
    </li>
    <li>
      <a href="#wfaudio11_2.9">Scriptural Influence 2</a>
    </li>
    <li>
      <a href="#wfaudio11_2.10">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio11_2.1"/>
  <p>I've had no trouble yet when I have been in New England. I would
						have to listen to it and get into the habit of&#x2014;of remembering to use their
						own terms, their own diction, but there was no difficulty about
						understanding what they meant.</p>
</div>
<div class="section">
  <a name="wfaudio11_2.2"/>
  <p>I don't mean to be nitpicking. I'm really asking these questions for
						my own information. But another time you have Wash say "whupped" for the&#x2014;for
						"whipped." Wouldn't the colonel have said "whupped" too? And if so, why did
						you give Wash the spelling&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio11_2.3"/>
  <p>Mr. Faulkner, what is a "gout"? A "gout" of mud, 
							or a  ?</p>
</div>
<div class="section">
  <a name="wfaudio11_2.4"/>
  <p>I wondered, Mr. Faulkner, when the Reverend Shegog talks about the
						"whelming flood," just what that meant.</p>
</div>
<div class="section">
  <a name="wfaudio11_2.5"/>
  <p>Here's one good pronunciation I'd like to commend Mr. Faulkner for.
						The old colored woman says, "Stop right whar you is. You ain't never crossed
						dese steps whilst the Cunnel's here and you ain't ghy' do hit now." And it's
						spelled G-H-Y-apostrophe. And I've heard that very often. Of course, it's a
						reduced form of "gwine."</p>
</div>
<div class="section">
  <a name="wfaudio11_2.6"/>
  <p>We've enjoyed being with you for the past fifteen minutes for this
						chat. There is much more on the subject that we could say, but our time has
						run out on us again. Joining us around the table today were Mr. Ed
						Stephenson, Mr. Joseph Blotner, and Mr. Robert Davis, and our special guest
						for the program was Mr. William Faulkner. This is Atcheson Hench thanking
						you for joining our discussion and inviting you to listen again next week
						at this time for another chat on some interesting aspect of the language we
						speak.</p>
</div>
<div class="section">
  <a name="wfaudio11_2.7"/>
  <p>Well, the operation's over.</p>
</div>
<div class="section">
  <a name="wfaudio11_2.8"/>
  <p>You have Wash say, "Sho, Kernel." Now what would
							the colonel have said? "Shore." He wouldn't
						have said "sure".</p>
</div>
<div class="section">
  <a name="wfaudio11_2.9"/>
  <p>What is the answer to that question? Does the Bible English have
						much influence on  I suppose that it did.</p>
</div>
<div class="section">
  <a name="wfaudio11_2.10"/>
  <p> He's going to play it over for us. You don't have time, I'm
						sure.</p>
</div>
