<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio20_2.1">New Forms of Labor A</a>
    </li>
    <li>
      <a href="#wfaudio20_2.2">Leisure v Laboring Classes</a>
    </li>
    <li>
      <a href="#wfaudio20_2.3">Egyptian Slavery</a>
    </li>
    <li>
      <a href="#wfaudio20_2.4">Negroes Voting</a>
    </li>
    <li>
      <a href="#wfaudio20_2.5">Northern Integration</a>
    </li>
    <li>
      <a href="#wfaudio20_2.6">Northern Racial Attitudes</a>
    </li>
    <li>
      <a href="#wfaudio20_2.7">Solving the Problem</a>
    </li>
    <li>
      <a href="#wfaudio20_2.8">The Silent Majority</a>
    </li>
    <li>
      <a href="#wfaudio20_2.9">Virginia's Responsibility</a>
    </li>
    <li>
      <a href="#wfaudio20_2.10">The Ku Klux Klan</a>
    </li>
    <li>
      <a href="#wfaudio20_2.11">KKK Membership</a>
    </li>
    <li>
      <a href="#wfaudio20_2.12">Pace of Change</a>
    </li>
    <li>
      <a href="#wfaudio20_2.13">Integration and Progress</a>
    </li>
    <li>
      <a href="#wfaudio20_2.14">Experience with KKK</a>
    </li>
    <li>
      <a href="#wfaudio20_2.15">Advice to VIrginia</a>
    </li>
    <li>
      <a href="#wfaudio20_2.16">Improving Negro Standards</a>
    </li>
    <li>
      <a href="#wfaudio20_2.17">Negroes as Citizens</a>
    </li>
    <li>
      <a href="#wfaudio20_2.18">Integration and Crime</a>
    </li>
    <li>
      <a href="#wfaudio20_2.19">Negro Leadership</a>
    </li>
    <li>
      <a href="#wfaudio20_2.20">Nation v Region</a>
    </li>
    <li>
      <a href="#wfaudio20_2.21">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio20_2.22">Opinion of the World</a>
    </li>
    <li>
      <a href="#wfaudio20_2.23">Assimilation</a>
    </li>
    <li>
      <a href="#wfaudio20_2.24">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio20_2.1"/>
  <p> and the possible eventual destruction of the
                    remaining&#x2014;of the agrarian&#x2014;agrarian society will have any
                    effect upon this problem?</p>
</div>
<div class="section">
  <a name="wfaudio20_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.4"/>
  <p>Yes, sir. </p>
</div>
<div class="section">
  <a name="wfaudio20_2.5"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.9"/>
  <p>Yes, sir. </p>
</div>
<div class="section">
  <a name="wfaudio20_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.14"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.18"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.20"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.21"/>
  <p> one or two more, Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio20_2.22"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio20_2.23"/>
  <p>As slow and as inefficient as it may be, do you feel that the best
                    problem or the best solution to race integration would be race assimilation?</p>
</div>
<div class="section">
  <a name="wfaudio20_2.24"/>
  <p>I know I'm speaking for each one of us when I say we're all most
                    grateful to Mr. Faulkner for a very interesting and a very stimulating evening.
                    That concludes this evening.  </p>
</div>
