<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio32.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio32.2">Faulkner's Introduction</a>
    </li>
    <li>
      <a href="#wfaudio32.3">Story, Excerpt 1</a>
    </li>
    <li>
      <a href="#wfaudio32.4">Story, Excerpt 2</a>
    </li>
    <li>
      <a href="#wfaudio32.5">Story, Excerpt 3</a>
    </li>
    <li>
      <a href="#wfaudio32.6">Story, Excerpt 4</a>
    </li>
    <li>
      <a href="#wfaudio32.7">Story, Excerpt 5</a>
    </li>
    <li>
      <a href="#wfaudio32.8">Story, Excerpt 6</a>
    </li>
    <li>
      <a href="#wfaudio32.9">Story, Excerpt 7</a>
    </li>
    <li>
      <a href="#wfaudio32.10">Story, Excerpt 8</a>
    </li>
    <li>
      <a href="#wfaudio32.11">Story, Excerpt 9</a>
    </li>
    <li>
      <a href="#wfaudio32.12">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio32.13">First Book to Read</a>
    </li>
    <li>
      <a href="#wfaudio32.14">Film Long Hot Summer</a>
    </li>
    <li>
      <a href="#wfaudio32.15">Writer and Characters</a>
    </li>
    <li>
      <a href="#wfaudio32.16">Sound and Fury as Favorite</a>
    </li>
    <li>
      <a href="#wfaudio32.17">Dramatization of Requiem</a>
    </li>
    <li>
      <a href="#wfaudio32.18">Walter Scott</a>
    </li>
    <li>
      <a href="#wfaudio32.19">Fugal Effect</a>
    </li>
    <li>
      <a href="#wfaudio32.20">Characters' Names</a>
    </li>
    <li>
      <a href="#wfaudio32.21">Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio32.22">Writer's Stimulus</a>
    </li>
    <li>
      <a href="#wfaudio32.23">Movies and Plays</a>
    </li>
    <li>
      <a href="#wfaudio32.24">Art v Science</a>
    </li>
    <li>
      <a href="#wfaudio32.25">Humor</a>
    </li>
    <li>
      <a href="#wfaudio32.26">Writing Methods</a>
    </li>
    <li>
      <a href="#wfaudio32.27">Writer and Characters</a>
    </li>
    <li>
      <a href="#wfaudio32.28">Sentence Structure</a>
    </li>
    <li>
      <a href="#wfaudio32.29">Books v Movies</a>
    </li>
    <li>
      <a href="#wfaudio32.30">Being Writer-in-Residence</a>
    </li>
    <li>
      <a href="#wfaudio32.31">Mood v Plot</a>
    </li>
    <li>
      <a href="#wfaudio32.32">All the King's Men</a>
    </li>
    <li>
      <a href="#wfaudio32.33">Reading Critics</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio32.1"/>
  <p>It's with pleasure that I make this
					introduction today because it's always a pleasure for me to introduce and for
					all of us to hear our speaker, but it's with regret, too, because this is our
					last session today. It's our last session with the world's greatest living
					novelist and with our own Writer-in-Residence, who today will read from the book
					he has referred to as his favorite, The Sound and the
						Fury. He'll read from Dilsey's section, and at the conclusion of his
					reading, he will answer such questions as you care to put to him. I'll resist at
					this time all temptations to quote lines of poetry, to say ave
						atque vale or anything of that sort, because we hope to see him again
					and again in Charlottesville in the years to come. Mr. William Faulkner.
						</p>
</div>
<div class="section">
  <a name="wfaudio32.2"/>
  <p>Since this is my last day here in my
					sojourn as Writer-in-Residence, I could use this last hour to try to say thank
					you to the people of Albemarle County and Charlottesville and the University for
					making my stay here this pleasant and this happy. I won't do that. I won't even
					say goodbye. Every individual is the sum total of his past, so when I leave
					here, I will leave something of Faulkner in Albemarle County, where Faulkner was
					happy. When I go away, I will take with me something of
					Albemarle County. I will always come back so that those two separates can be
					joined again. I won't need to say goodbye. And each time I come back, I'll be
					saying, "Much obliged."
					</p>
</div>
<div class="section">
  <a name="wfaudio32.3"/>
  <p>
					The road rose again, to a scene like a painted backdrop.
						Notched into a cut of red clay crowned with oaks the road appeared to stop
						short off, like a cut ribbon. Beside it a weathered church lifted its crazy
						steeple like a painted church, and the whole scene was as flat and without
						perspective as a painted cardboard set upon the ultimate edge of the flat
						earth, against the windy sunlight of space and April and a midmorning filled
						with bells. Toward the church they thronged with slow sabbath deliberation,
						the women and children went on in, the men stopped outside and talked in
						quiet groups until the bell ceased ringing. Then they too entered.
						The
						church had been decorated, with sparse flowers from kitchen gardens and
						hedgerows, and with streamers of colored crepe paper. Above the pulpit hung
						a battered Christmas bell, the accordion sort that collapses. The pulpit was
						empty, though the choir was already in place, fanning themselves although it
						was not warm.
						</p>
</div>
<div class="section">
  <a name="wfaudio32.4"/>
  <p>
					Most of the women were gathered on one side of the room.
						They were talking. Then the bell struck one time and they dispersed to their
						seats and the congregation sat for an instant, expectant. The bell struck
						again one time. The choir rose and began to sing and the congregation turned
						its head as one as six small children&#x2014;four girls with tight
						pigtails bound with small scraps of cloth like butterflies, and two boys
						with close napped heads&#x2014;entered and marched up the aisle, strung
						together in a harness of white ribbons and flowers, and followed by two men
						in single file. The second man was huge, of a light coffee color, imposing
						in a frock coat and white tie. His head was magisterial and profound, his
						neck rolled above his collar in rich folds. But he was familiar to them, and
						so the heads were still reverted when he had passed, and it was not until
						the choir ceased singing that they realised that the visiting clergyman had
						already entered, and when they saw the man who had preceded their minister
						enter the pulpit still ahead of him an indescribable sound went up, a sigh,
						a sound of astonishment and disappointment.
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.5"/>
  <p>
					The visitor was undersized, in a shabby alpaca coat. He
						had a wizened black face like a small, aged monkey. And all the while that
						the choir sang again and while the six children rose and sang in thin,
						frightened, tuneless whispers, they watched the insignificant looking man
						sitting dwarfed and countrified by the minister's imposing bulk, with
						something like consternation. They were still looking at him with
						consternation and unbelief when the minister rose and introduced him in
						rich, rolling tones whose very unction served to increase the visitor's
						insignificance.
						"En dey brung dat all de way fum Saint Looey," Frony
						whispered.
						"I've knowed de Lawd to use cuiser tools den dat," Dilsey
						said. "Hush, now," she said to Ben. "Dey fixin to sing again in a
							minute."
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.6"/>
  <p>
					When the visitor rose to speak he sounded like a white
						man. His voice was level and cold. It sounded too big to have come from him
						and they listened at first through with curiosity, as they would have to a monkey
						talking. They began to watch him as they would a man on a tight rope. They
						even forgot his insignificant appearance in the virtuosity with which he ran
						and poised and swooped upon the cold inflectionless wire of his voice, so
						that at last, when with a sort of swooping glide he came to rest again
						beside the reading desk with one arm resting upon it at shoulder height and
						his monkey body as reft of all motion as a mummy or an emptied vessel, the
						congregation sighed as if it waked from a collective dream and moved a
						little in its seats. Behind the pulpit the choir fanned steadily. Dilsey
						whispered, "Hush, now. Dey fixin to sing in a minute."
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.7"/>
  <p>
						Then a voice said, "Brethren."
							The preacher had not
						moved. His arm lay yet across the desk, and he still held that pose while
						the voice died in sonorous echoes between the walls. It was as different as
						day and dark from his former tone, with a sad, timbrous quality like an alto
						horn, sinking into their hearts and speaking there again when it had ceased
							in fading and cumulate echoes.
							"Brethren and sisteren," it said again.
						The preacher removed his arm and he began to walk back and forth before the
						desk, his hands clasped behind him, a meagre figure, hunched over upon
						itself like that of one long immured in striving with the implacable earth,
						"I got the recollection and the blood of the Lamb!" He tramped steadily back
						and forth beneath the twisted paper and the Christmas bell, hunched, his
						hands clasped behind him. He was like a worn small rock whelmed by the
						successive waves of his voice. With his body he seemed to feed that voice
						that, succubus like, had fleshed its teeth in him. And the congregation
						seemed to watch with its own eyes while the voice consumed him, until he was
						nothing and they were nothing and there was not even a voice but instead
						their hearts were speaking to one another in chanting measures beyond the
						need for words, so that when he came to rest again against the reading desk, his
						monkey face lifted and his whole attitude that of a serene, tortured
						crucifix that transcended its shabbiness and insignificance and made it of
						no moment, a long moaning expulsion of breath rose from them, and a woman's
						single soprano: "Yes, Jesus!"
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.8"/>
  <p>
					As the scudding day passed overhead the dingy windows
						glowed and faded in ghostly retrograde. A car passed along the road outside,
						laboring in the sand, died away. Dilsey sat bolt upright, her hand on Ben's
						knee. Two tears slid down her fallen cheeks, in and out of the myriad
						coruscations of immolation and abnegation and time.
						"Brethren," the
						minister said in a harsh whisper, without moving.
						"Yes, Jesus!" the
						woman's voice said, hushed yet.
						"Breddren en sistuhn!" His voice rang
						again, with the horns. He removed his arm and stood erect and raised his
						hands. "I got de ricklickshun en de blood of de Lamb!" They did not mark
						just when his intonation, his pronunciation, became negroid, they just sat
						swaying a little in their seats as the voice took them into itself.
						
						"When de long, cold&#x2014;Oh, I tells you, breddren, when de long, cold.
						. . . I sees de light en I sees de word, po sinner! Dey passed away in
						Egypt, de swingin chariots; de generations passed away. Wus a rich man: whar
						he now, O breddren? Wus a po man: whar he now, O sistuhn? Oh I tells you, ef
						you aint got de milk en de dew of de old salvation when de long, cold years
						rolls away!"
						"Yes, Jesus!"
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.9"/>
  <p>
					"I tells you, breddren, en I tells you, sistuhn, dey'll
						come a time. Po sinner sayin Let me lay down wid de Lawd, lemme lay down my
						load. Den whut Jesus "wine say, O breddren? O sistuhn? Is you got de
						ricklickshun en de Blood of de Lamb? Case I aint gwine load down
						heaven!"
						He fumbled in his coat and took out a handkerchief and mopped
						his face. A low concerted sound rose from the congregation: "Mmmmmmmmmmmmm!"
						The woman's voice said, "Yes, Jesus! Jesus!"
						"Breddren! Look at dem
						little chillen settin dar. Jesus wus like dat once. He mammy suffered de
						glory en de pangs. Sometime maybe she helt him at de nightfall, whilst de
						angels singin him to sleep; maybe she look out de do en see de Roman po-lice
						passin." He tramped back and forth, mopping his face. "Listen, breddren! I
						sees de day. Ma'y settin in de do wid Jesus on her lap, de little Jesus.
						Like dem chillen dar, de little Jesus. I hears de angels singin de peaceful
						songs en de glory; I sees de closin eyes; sees Mary jump up, sees de sojer
						face: We gwine to kill! We gwine to kill! We gwine to kill yo little Jesus!
						I hears de weepin en de lamentation of de po mammy widout de salvation en de
						word of God!"
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.10"/>
  <p>
					"Yes Jesus! Little Jesus!" and another
						voice, rising:
						"I sees, O Jesus! Oh I sees!" and still another, without
						words, like bubbles rising in water.
						"I sees hit, breddren! I sees hit!
						Sees de blastin, blindin sight! I sees Calvary, wid de sacred trees, sees de
						thief en de murderer en de least of dese; I hears de boastin en de braggin:
						Ef you be Jesus, lif up yo tree en walk! I hears de wailin of women en de
						evenin lamentations; I hears de weepin en de cryin en de turned-away face of
						God: dey done kilt Jesus; dey done kilt my Son!"
						"Jesus! 
						I sees, O Jesus!"
						"O blind sinner! Breddren, I tells you; sistuhn, I
						says to you, when de Lawd did turn His mighty face, say, Aint gwine overload
						heaven! I can see de widowed God shet His do; I sees de whelmin flood roll
						between; I sees de darkness en de death everlastin upon de generations. Den,
						lo! Breddren! Yes, breddren! Whut I see? Whut I see, O sinner? I sees de
						resurrection en de light; sees de meek Jesus sayin Dey kilt me dat ye shall
						live again; I died dat dem whut sees en believes shall never die. Breddren,
						O breddren! I sees de doom crack en hears de golden horns shoutin down de glory,
						en de arisen dead whut got de blood en de ricklickshun of de Lamb!"
						In
						the midst of the voices and the hands Ben sat, rapt in his sweet blue gaze.
						Dilsey sat bolt upright beside, crying rigidly and quietly in the annealment
						and the blood of the remembered Lamb.
					
					</p>
</div>
<div class="section">
  <a name="wfaudio32.11"/>
  <p>
					As they walked through the bright noon, up the sandy
						road with the dispersing congregation talking easily again group to group,
						she continued to weep, unmindful of the talk.
						"He sho a preacher, mon! 
						He didn't look like much at first, but hush!"
						"He seed de power en de
						glory."
						"Yes, suh. He seed hit. Face to face he seed hit."
						Dilsey
						made no sound, her face did not quiver as the tears took their sunken and
						devious courses, walking with her head up, making no effort to dry them away
						even.
						"Whyn't you quit dat, mammy?" Frony said. "Wid all dese people
						lookin. We be passin white folks soon."
						"I've seed de first en de
						last," Dilsey said. "Never you mind me."
						"First en de last whut?" Frony
						said.
						"Never you mind," Dilsey said. "I seed de beginnin, en now I sees
						de endin."
					</p>
</div>
<div class="section">
  <a name="wfaudio32.12"/>
  <p>Any questions, from anyone?</p>
</div>
<div class="section">
  <a name="wfaudio32.13"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio32.14"/>
  <p>Is the present movie a compilation
					of various episodes in different novels? I'm thinking of the horse particularly.
					Did that come from the "Spotted Horses," that's so much like
						it?</p>
</div>
<div class="section">
  <a name="wfaudio32.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio32.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.17"/>
  <p>Has Requiem for a Nun ever been acted on the stage?</p>
</div>
<div class="section">
  <a name="wfaudio32.18"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.19"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.20"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio32.22"/>
  <p>Do you think&#x2014;what I'm trying . 
					. Do you&#x2014;do you think before you write or do you write&#x2014; </p>
</div>
<div class="section">
  <a name="wfaudio32.23"/>
  <p>Sir, are there particular reasons
					why you do not go to the movies? </p>
</div>
<div class="section">
  <a name="wfaudio32.24"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio32.25"/>
  <p>Have you ever been called a
					humorist?</p>
</div>
<div class="section">
  <a name="wfaudio32.26"/>
  <p>Sir, how do you&#x2014;how do you
					organize your novels? Do you have any outline or do you just begin writing it?</p>
</div>
<div class="section">
  <a name="wfaudio32.27"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.28"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.29"/>
  <p> Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.30"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio32.31"/>
  <p>Mr. Faulkner, you would&#x2014;do
					you prefer to create a mood rather than a plot when writing?</p>
</div>
<div class="section">
  <a name="wfaudio32.32"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio32.33"/>
  <p>Mr. Faulkner, do the critics bother
					you in any way or change the tenor or direction of your thinking or actions?</p>
</div>
