<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio15.1">Virginia v Mississippi</a>
    </li>
    <li>
      <a href="#wfaudio15.2">Use of the Bible</a>
    </li>
    <li>
      <a href="#wfaudio15.3">Snopesism and America</a>
    </li>
    <li>
      <a href="#wfaudio15.4">Deeper Meanings</a>
    </li>
    <li>
      <a href="#wfaudio15.5">Regional v Universal</a>
    </li>
    <li>
      <a href="#wfaudio15.6">Writing v Living</a>
    </li>
    <li>
      <a href="#wfaudio15.7">McCarthyism v Freedom</a>
    </li>
    <li>
      <a href="#wfaudio15.8">Writing v Revising</a>
    </li>
    <li>
      <a href="#wfaudio15.9">Subsidizing Writers</a>
    </li>
    <li>
      <a href="#wfaudio15.10">Arthur Miller's Case</a>
    </li>
    <li>
      <a href="#wfaudio15.11">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio15.1"/>
  <p> make the statements which&#x2014;which we will
                        follow, which the rest of the South must follow. I was a&#x2014;a little ashamed for all
                    of us when your government issued those invitations and then had to retract some
                    of them, the sort of thing that you'd expect Mississippi to do but Mississippi
                    don't expect Virginia to. 
                         experiences here that&#x2014;that I will&#x2014;after I
                    had left Virginia and have thought about it, I will realize more and more
                    how&#x2014;how pleasant it was, the contact with the people, the young people
                    that have come into my office with their carefully rehearsed literary questions,
                         and once we get past
                        them  we just talk, and that's interesting. They&#x2014;they
                    tell me what they want to do and what they think about the condition, what we
                    should do about it. Almost every day one comes in, and once we get past the
                    stiffness of that first question which&#x2014;which they have rehearsed
                    because they're seeing me, then you get down to&#x2014;to a
                        human being, as someone said the . That's&#x2014;that's better. I went out to Albemarle
                    School one morning, and it&#x2014;it took a little thawing but after a while,
                    it became quite well. By the end of it, there was a young man trying to sell me
                    some cattle. Another man wanted to swap horses with me. 
                    </p>
</div>
<div class="section">
  <a name="wfaudio15.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.3"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.4"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.6"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio15.8"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio15.9"/>
  <p>There was a young lady
                    back there that&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio15.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio15.11"/>
  <p>Are there any other questions? Well, Mr. Faulkner, we want you to
                    know how glad we are that your demon let you come over here tonight and be with
                    us, and we'll all remember this as a highlight of this year and probably a long
                    time to come.</p>
</div>
