
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio30_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 12 May 1958</h4>
<h4>OCCASION: Representatives from Other Colleges</h4>
<h4>TAPE: T-145b</h4>
<h4>LENGTH: 23:35</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:05.96:00',
					'endtime','00:01:59.77:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> one of the tools. That's a particular saw, hammer that the
                    particular carpenter feels he can do most with, that he might not like the
                    violence either. It's simply because he does not have a better tool to show man
                    in his tragic or comic moments inside the predicament. That is, the dramatic
                    story is, man is faced&mdash;the frail, fragile creature of flesh and bone,
                    mostly water, in a ramshackle universe stuck together with electricity, faced
                    with problems which are usually bigger than he is. The story is, does he face
                    it? Does it lick him? Or does he beat it? Or if it licks him, does he get beaten
                    to his knees still, as Hemingway says, "Looking good." That, I think,
                    is&mdash;is what anyone writes about. It's man that is striving to be braver
                    than he might be, more honest than he might be, to be compassionate.</p>
<p><span class="speaker">Unidentified participant</span>And it's so important in twentieth century, more than in other centuries 
                    <span class="unclear tooltip" title="Text was unclear">[to write about this]</span>?</p>
<p><span class="speaker">William Faulkner</span>Well, no, it's always been important. I think that's what makes man
                    endure and what will cause him to endure, that he is capable of wanting to be
                    brave and to be honest and to be compassionate, and he will last. He's outlasted
                    his dinosaurs. He'll outlast his atom bomb. My belief is that the last sound on
                    earth, when this earth is a red rock freezing, will be two folks building an
                    airship and fussing about where they're going next. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Man is all right. You can't beat him. No,
                    there'll be three. The other one will be writing a book about it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.2">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:59.78:00',
					'endtime','00:02:51.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, when you begin to write a novel, do you have it planned
                    from beginning to end?</p>
<p><span class="speaker">William Faulkner</span>Not always. It's&mdash;it's a little more instinctive than that. It
                    could begin with a&mdash;a character. It could begin with an anecdote. And
                    out of that the book grows in order to explain why the person got in that
                    particular pro&mdash;complexity. I&mdash;some people work from plots,
                    but I never could do it, just like I never did do any research. I&mdash;it's
                    more fun to me to&mdash;to invent, I think, than to hunt up a fact.
                    But&mdash;and this&mdash;I wish it were as simple as that, but
                    it's&mdash;it's not. You&mdash;the writer, I think, never knows just
                    where that germ came from that started him off.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.3">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:52.85:00',
					'endtime','00:05:09.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Well, in some of our writing classes at Chapel Hill, we
                    have&mdash;well, we've been discussing with&mdash;the ways you go about
                    writing a novel and a short story. And&mdash;and one of the theories we've
                    been <span class="unclear tooltip" title="Text was unclear">[dealing]</span> with is that a short story is planned, outlined,
                    from beginning to end, whereas in a novel&mdash;it seems that most novelists
                    tend to just find themselves as they go along. Do you find that's
                        <span class="unclear tooltip" title="Text was unclear">[true]</span>?</p>
<p><span class="speaker">William Faulkner</span>I don't quite agree with that. If you mean by planned, outlined into a
                    pattern&mdash;</p>
<p><span class="speaker">Unidentified participant</span>That's for short stories.</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>And the novel, you just kind of find the novel and yourself in it,
                    or&mdash;</p>
<p><span class="speaker">William Faulkner</span>No, I think they both come from the same source. I rate
                    the&mdash;the ability to write in three degrees. The first degree, the
                    highest, of course, is the poet. He can say in&mdash;say it in fourteen
                    lines. I rate next the short story writer. He can say it in ten pages. I rate
                    last the novelist because it takes him three or four hundred pages. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    But it&mdash;that's a matter of working. If
                    you work from notes, from something physical that you can look at in front of
                    you, then you work that way, no matter what you're writing. Maybe the poet does.
                    If you plan it all inside before you put down anything, then that's the way that
                    you do it, novel, short story, or sonnet. I don't think that&mdash;that
                    could be a&mdash;a procedure, a rule for procedure. Actually, the novelist
                    wishes he could say it in ten pages. In fact, all that any writer wants to do is
                    to say it in one absolute word, the poet, the short story writer, or the
                    novelist. If he could state some moving, tragic, fundamental, eternal truth of
                    man's struggle within man's heart in one word, that's what he wants to do. He'll
                    never do it, and that's why he's never bored. He never touches satiation in his
                    vocation. There's always some reason to get up tomorrow morning and rub your
                    hands and go back to work.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.4">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:11.50:00',
					'endtime','00:06:36.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Apropos of the last question asked, so far as I understood it, and apropos of
                    the first question asked, I wonder if you would care to comment a little more
                    broadly upon the effect of formal education on the creative writer?</p>
<p><span class="speaker">William Faulkner</span>I hope I'm not going to step on any toes now. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I don't believe that formal education ever made a
                    writer or ever hurt him. I think a writer is omnivorous. He will use <span class="unclear tooltip" title="Text was unclear">[someday]</span> any
                    experience. That formal education has taught him one very valuable quality,
                    which is mental discipline. He could teach himself mental discipline. He
                    wouldn't have to have formal education for that. Formal education simply
                    simplifies his field of research. That he is offered by experts, in&mdash;in
                    the simplest way, knowledge, which he probably very likely will need and will
                    use. Without formal education he would have to dig it out himself. But I don't
                    think that formal education could take a man and turn him into a
                        writer.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.5">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:42.05:00',
					'endtime','00:08:05.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, a few minutes ago you mentioned personal experience as one
                    of the sources, including in that books that you have read. According to that,
                    what is your opinion of such writers as Stephen Crane and Dreiser and Frank
                    Norris in relation to your own work?</p>
<p><span class="speaker">William Faulkner</span>No writer is really interested in who wrote the book. He's interested
                    only in the book. So I could probably find more influence of characters of
                    Crane's on what I've written than influence from Crane himself.  That the only
                    thing that's interesting to the writer is how someone else has taken man and
                    from those three sources has created him in a slightly new or slightly awry
                    light in his comic or tragic struggle within his own environment or his own
                    dilemma. Everything the writer has read from the telephone book up has
                    influenced him. He's amoral, omnivorous. He will rob and steal from any source,
                    because he is not only willing but if anyone after him robs and steals from him,
                    he's flattered. That means that he did it pretty well if somebody else wants to
                    steal it. 
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.6">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:11.46:00',
					'endtime','00:09:38.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, with all this talk of conformity, particularly literary
                    conformity, don't you suppose that there's either less of it than talk of it has
                    taken for granted or that it's ?</p>
<p><span class="speaker">William Faulkner</span>Would you ask me that again please, Ma'am?</p>
<p><span class="speaker">Unidentified participant</span>In other words, don't you think there's less literary conformity than is
                    constantly talked about?</p>
<p><span class="speaker">William Faulkner</span>Oh. Well, I&mdash;I don't think there's any such thing as literary
                    conformity. The pressure to conform is not to be literary. It's to belong to an
                    economic strata. That litera&mdash;literature can't be conformed. The only
                    restriction it submits to is that of language. And that's only in the terms of
                    the reader. That no first-rate writer is going to&mdash;to bother about
                    writing like Hemingway or like Mark Twain. He's too busy. He's writing about
                    people. If anything&mdash;any trick Hemingway learned is good, he will steal
                    it from Hemingway or from Twain, but he's not going to conform anybody's school
                    of&mdash;of literature. He's writing about people. And if he belongs to a
                    school of literature, it's because they are pleasant folks to talk to and drink
                    with until two and three o'clock in the morning, not to write like.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.7">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:43.42:00',
					'endtime','00:12:26.87:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Speaking of language, you said that the two great influences on the
                    western world and writing are the Bible and the Greek myths and that the latter
                    are dying out such as, in terms that we speak of, cultures or parts of cultures
                    dying out, and yet it's feasible that a writer understands those myths and works
                    with them. It's a tenuous question but is it still legitimate for him to express
                    himself in&mdash;in an old, outmoded form of language, such as myths, even
                    though he's pretty sure that people who read him will not understand him, at
                    least right away?</p>
<p><span class="speaker">William Faulkner</span>If he feels that that is the best way for him to&mdash;to isolate
                    man in the motion of being alive, inside his dilemma, yes, by all means. He can
                    use any&mdash;any means, any method, he likes. But if he is going to write
                    just to use means or method of style, he's simply writing rhetoric, and he would
                    be better off at something a little more fun than that. That the&mdash;the
                    story itself compels its symbolism, compels its&mdash;its style, I think.
                    That the writer, as I said, simply reaches behind him with one hand while he's
                    writing with the other and drags out a symbol which he thinks is exactly the
                    scrap of wood he needs to make that joint with, which is, in my opinion,
                    perfectly legitimate. If he is dealing simply with man in motion then he has
                    obeyed all the&mdash;the compulsion of his craft on him. He can use whatever
                    method he likes, just as long as he sticks to the primary compulsion, which is
                    to deal with man in motion, in a&mdash;a believable, a credible, dramatic
                    way. Not to judge, simply to describe man struggling within his predicament, in
                    his unceasing conflict with himself, with his fellows, with his environment. Any
                    method he uses, in my opinion, is all right.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.8">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:29.32:00',
					'endtime','00:13:00.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>You tell us in <em>Absalom</em> that Miss Rosa writes
                    poetry, and I've always been curious about what kind of poetry Miss Rosa .
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>It would probably have been gothic love poetry, fourth-rate. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.9">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:06.64:00',
					'endtime','00:14:26.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>What do you think of the dramatizations that have been made of your work
                    for the movies and for the play coming out next year?</p>
<p><span class="speaker">William Faulkner</span>I saw <em>Intruder in the Dust</em>.  I thought that was
                    a&mdash;a pretty good picture.  It was a
                    good deal like my book. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> The others, I never
                    saw. That play which will be in New York next&mdash;next fall
                    is&mdash;is the way I wrote it. That hasn't been changed. That
                    was&mdash;was sections of a book that was told in play form because that
                    seemed to me the best way to tell the story of man struggling in his dilemma. So
                    I used play form. The others I haven't seen because&mdash;well, I've done
                    the best I could with that book, and I was interested in writing another one
                    which would be better, I thought, and I just didn't have time to go to see it.
                    And then picture shows come at the wrong time of day for me.
                    It's&mdash;that's the time of day I like to&mdash;to be at home and have
                    a drink or two and then eat supper and sit down and smoke and read for a while,
                    not to go out to the picture show.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.10">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:28.39:00',
					'endtime','00:15:36.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes'm.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner,  <span class="unclear tooltip" title="Text was unclear">[you often]</span> talk about man's  and
                    man's dilemma, and I hear people 
                    <span class="unclear tooltip" title="Text was unclear">[more poignant in the South]</span>
                    ?</p>
<p><span class="speaker">William Faulkner</span>No, that's simply because the writer to save time can write about what
                    he knows best. Then there's less chance of somebody, saying "Uh uh, you're
                    wrong. That&mdash;folks don't do that in Keokuk." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">Unidentified participant</span> the same  for your ideas?</p>
<p><span class="speaker">William Faulkner</span>Yes, I think that people are the same everywhere. Their problems, their
                    immediate problems, are different but, their&mdash;their struggle
                    within&mdash;within the&mdash;the fundamental, simple human truths is
                    the same everywhere, I think. One writes about his own native land simply
                    because that saves him having to do research to keep people from checking up on
                    him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That it's&mdash;it's easier. It
                    saves&mdash;saves time. He's writing about something that's familiar, that
                    he has&mdash;well, you might say, not only seen, but smelled, too.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.11">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:37.08:00',
					'endtime','00:16:16.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Does that mean in a short story like "Dry September" the situation is
                     ?</p>
<p><span class="speaker">William Faulkner</span>Yes. In which a&mdash;a&mdash;a woman, in that condition of
                    frustration after menopause or about menopause, could have caused that sort of
                    tragedy. It wouldn't necessarily have to have a&mdash;a&mdash;a colored
                    note in it. Not necessarily that same story, but she could have caused that same
                    grief, injustice, crime.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.12">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:17.10:00',
					'endtime','00:17:05.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Pertinent to that, I'd like to ask why is it that Mississippi seems so
                    very active in a literary way, and yet we don't find the same phenomenon in New
                    Jersey? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, that's&mdash;that's because Mississippi is in the South and
                    New Jersey's in the North. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think&mdash;I
                    think that the wisest thing any nation can do when it gets itself into any sort
                    of a economic muddle is to pick out some rich nation and declare war on it, and
                    get licked and then be supported. The folks in the South write because the North
                    has supported us ever since 1865. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> We had
                    plenty of time to write.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.13">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:09.18:00',
					'endtime','00:17:42.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Would you comment on this? It would seem to me in talking to other people
                    about your work that&mdash;the ladies in Richmond, this class, southern
                    ladies in general, do not know your work as well as people in other parts of the
                    country, in Europe. Have you observed that? Do you think that's true?</p>
<p><span class="speaker">William Faulkner</span>I think that's because everybody in the South is writing. Nobody has
                    time to read <span class="unclear tooltip" title="Text was unclear">[anything]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.14">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:48.49:00',
					'endtime','00:18:43.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, you speak of finishing a novel and then sitting down to write a
                    better one. Do you feel that your last book is&mdash;whatever it is, is the
                    best that you've done, to date I mean? Taken at any time?</p>
<p><span class="speaker">William Faulkner</span>No, sir. I think to the writer there's no good, better, best. It's got
                    to be the best or it's nothing. And none of them are good enough to suit me. I
                    don't&mdash;as I said, the writer don't give a damn what anybody else thinks
                    about this book.</p>
<p><span class="speaker">Unidentified participant</span>Yeah.</p>
<p><span class="speaker">William Faulkner</span>It ain't good enough to suit me, so I'm gonna write another one. And if
                    I live another hundred years, maybe I'll do it. I&mdash;I probably won't,
                    but I'll keep on trying. But the work is&mdash;never suits the&mdash;the
                    writer. That's why it's the&mdash;the happiest of all vocations because you
                    never touch satiation. You're never bored. There's something to get up to and go
                    to work at tomorrow.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.15">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:46.68:00',
					'endtime','00:19:46.81:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I've been puzzling since asking my question. What did you
                    mean when you said that Joyce was electrocuted?</p>
<p><span class="speaker">William Faulkner</span>Only that he had a&mdash;a tremendous talent. He tried too hard to
                    put the whole tragic history of man's struggle within his dilemma on the head of
                    a pin. I think that is&mdash;is a feeling that every&mdash;every writer,
                    every artist has, that I will be here only for a very short time, and
                    this&mdash;this tragic, beautiful dilemma of mankind is so moving that I
                    must put it down, and I may not live long enough to finish the book, so I'll try
                    to do it in one sentence, one word. Joyce was trying to do it all in one English
                    sentence, which was <em>Ulysses,</em> and in one English word,
                    which was <em>Finnegans Wake.</em>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.16">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:58.49:00',
					'endtime','00:20:55.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Do you feel that a good writer should necessarily be a regionalist in the
                    sense that he should write about those things that he knows best?</p>
<p><span class="speaker">William Faulkner</span>He is writing about people, and people, in my opinion, are not regional.
                    They are universal. They&mdash;the same hopes, aspirations, tragedies are
                    universal everywhere, no matter what color nor what race. The writer is regional
                    only in the sense that he is using something that he is familiar with to save
                    himself the time of research. He is not trying to be a regional writer when he
                    writes about the East Tennessee mountains or about California. He is simply
                    using the material that he is most familiar with to save himself the trouble of
                    having to read up Chamber of Commerce brochures on Portland, Oregon, for
                    instance. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.17">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:10.73:00',
					'endtime','00:22:14.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Where did you first get your&mdash;get your interest in Indians? Was
                    it from relics or living near them in Mississippi or&mdash;?</p>
<p><span class="speaker">William Faulkner</span>That's a part of&mdash;of my culture, my North Mississippi culture.
                    Our country is&mdash;compared to the country east of the mountains
                    is&mdash;is&mdash;was frontier only a hundred years ago. Remnants of
                    Chickasaw families still live. They're still my neighbors. Some
                    are&mdash;are&mdash;are mixed with Negroes. Others are mixed with white
                    people. The traditions are still there. There&mdash;in my childhood,
                    boyhood, there were old men that could remember having heard their fathers tell
                    them about the old days. The Indian names are still on the creeks and branches.
                    The old roads, the old hilltops, still have the Indian names with the tribal
                        significance.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.18">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:23.53:00',
					'endtime','00:23:14.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner,  work a certain number of hours , or do you
                    wait for inspiration?</p>
<p><span class="speaker">William Faulkner</span>I don't have to wait for inspiration, if we can use that term. My
                    trouble now is to&mdash;to keep from&mdash;to find some good reason not
                    to work. I don't like to work. I put it off as long as I can. When the demon
                    begins to worry me and nag me too much, then I will sit down and write. But I
                    never have used any system, though some people do. Just like I've never kept
                    notes. I will put off the work of&mdash;by any means I can think of. Then
                    when I've got to get it done, I will sit down and write a batch of it, so I can
                    take off a week and not work. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I'm lazy.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_2.19">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:16.89:00',
					'endtime','00:23:30.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, I'm sure that we all join in thanking you for being with us
                    today.</p>
<p><span class="speaker">William Faulkner</span>Well, thank you, ladies and gentlemen. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio30_2.1" class="hidden">Using Violence [part 2]</a></li>
<li><a href="#wfaudio30_2.2" class="hidden">Planning a Novel</a></li>
<li><a href="#wfaudio30_2.3" class="hidden">Stories v Novels</a></li>
<li><a href="#wfaudio30_2.4" class="hidden">Education and the Writer</a></li>
<li><a href="#wfaudio30_2.5" class="hidden">Crane, Dreiser, Norris</a></li>
<li><a href="#wfaudio30_2.6" class="hidden">Literary Conformity</a></li>
<li><a href="#wfaudio30_2.7" class="hidden">Using Myths</a></li>
<li><a href="#wfaudio30_2.8" class="hidden">Miss Rosa's Poetry</a></li>
<li><a href="#wfaudio30_2.9" class="hidden">His Work in Other Media</a></li>
<li><a href="#wfaudio30_2.10" class="hidden">South as His Setting</a></li>
<li><a href="#wfaudio30_2.11" class="hidden">"Dry September"</a></li>
<li><a href="#wfaudio30_2.12" class="hidden">Mississippi's Writers</a></li>
<li><a href="#wfaudio30_2.13" class="hidden">Southerners as Readers</a></li>
<li><a href="#wfaudio30_2.14" class="hidden">Writer's Growth</a></li>
<li><a href="#wfaudio30_2.15" class="hidden">James Joyce</a></li>
<li><a href="#wfaudio30_2.16" class="hidden">Regionalism</a></li>
<li><a href="#wfaudio30_2.17" class="hidden">Indians</a></li>
<li><a href="#wfaudio30_2.18" class="hidden">Writing Habits</a></li>
<li><a href="#wfaudio30_2.19" class="hidden">Close</a></li>
</ul></aside>
        
