
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio05_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 13 March 1957</h4>
<h4>OCCASION: Edward McAleer's Twentieth Century Literature Class</h4>
<h4>TAPE: T-112</h4>
<h4>LENGTH: 35:01</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:14.65:00',
					'endtime','00:00:21.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward McAleer</span>Well, we'll begin by <span class="unclear tooltip" title="Text was unclear">[asking Mr. Faulkner
						questions]</span>, raise your hand if you have one.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.2">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:25.08:00',
					'endtime','00:01:49.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, this is sort of a question of motivation for the writer, and
					many of the best southern writers write about the degeneration of the old
					aristocracy and its determination to live and to think according to the old
					traditions and standards. Now, do you think that this continued determination on
					the part of those around him causes the writer to revolt against this system,
					and accordingly, is it a&mdash;does this attitude, does it furnish a&mdash;a motivation for
					writing?</p>
<p><span class="speaker">William Faulkner</span>It does, in that that is a&mdash;a
					condition of environment. It's something that is handed to the writer. He is
					writing about people in the terms that he's most familiar with. That is, it
					could have sociological implications, but he's not too interested in that. He is
					writing about people. He is using the material which he knows, the tools which
					are at hand, and so he uses the&mdash;the instinct or the desire or what&mdash;whatever you
					will call it of the old people to be reactionary and tory, to stick to the old
					ways. It's simply a condition. And since it is a condition, it lives and
					breathes, and it is valid as material. 
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.3">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:54.45:00',
					'endtime','00:03:06.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I believe you were in Europe in 1923 at the same time as Anderson
					and Hemingway and others. At that time, did you associate with them and, if not,
					was there any specific reason why you were not thrown together, and do you think
					that that group was influenced or influenced each other in any way as&mdash;from their
					association?</p>
<p><span class="speaker">William Faulkner</span>They may have. I&mdash;I think the
					artist is influenced by all in his environment. He's maybe more sensitive to it
					because he's&mdash;has got to get the materials, the lumber that he's going to build
					his edifice with. I&mdash;at that time, I didn't think of myself as a writer. I was a
					tramp then, and I didn't&mdash;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I wasn't interested
					in literature nor literary people. They were&mdash;I was there at the same time. I
					knew Joyce&mdash;I knew of Joyce, and I would go to some effort to go to the caf&eacute; that
					he inhabited to look at him, but that was the only literary man that I remember
					seeing in Europe in those days.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.4">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:13.18:00',
					'endtime','00:04:24.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>How did Sutpen get all his money in "Wedding for the&mdash;Wedding in the Rain"? It was said
					that he got it by robbing showboats, I think, but how did he get&mdash;</p>
<p><span class="speaker">William Faulkner</span>I think that he looted his
					father-in-law's Caribbean plantation. I think that&mdash;that his drive to&mdash;to revenge
					himself on the&mdash;on the man who had told him to go around to the back door, by
					establishing a dynasty of his own, and he was ruthless about it, and he probably
					picked out the easiest money he could get, and one quick way to get some of it
					was to marry the daughter. Another quick way, instead of waiting for the old man
					to die, <span class="unclear tooltip" title="Text was unclear">[was]</span> to loot the plantation, which I think he did, and
					he probably brought it to the mainland and hid it, and whenever he needed more
					money, he would go and dig up a little more of it. It was probably in bullion,
					gold, jewels, maybe. But I'm sure that's the way he got it.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.5">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:27.06:00',
					'endtime','00:05:33.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, would you say that much writing is the result of unrest
					within the writer?</p>
<p><span class="speaker">William Faulkner</span>I think it's all a result of unrest in the writer. I think&mdash;think the
					writer is demon-driven, that he can't be at peace unless he is&mdash;is trying to
					take the sorry, shabby world which he finds, and he can't change it physically,
					so he can&mdash;can create a world of his own, in which people are&mdash;are braver or
					better blackguards or better heroes or more chaste or better villains than he
					finds in the world around him. He's demon-driven, I think.</p>
<p><span class="speaker">Unidentified participant</span>Is this ever really satisfying him?</p>
<p><span class="speaker">William Faulkner</span>Yes, what satisfies him is the
					belief that, this time, he's going to create that world which will match the
					dream. Of course, it don't, and so he writes another book tomorrow. That one
					won't either, and he'll write another one. Maybe if he ever did write one that
					pleased him, he would be miserable. Nothing else to do.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.6">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:38.20:00',
					'endtime','00:09:44.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, it has been argued that "A Rose for Emily" is a criticism of the
					North, and others have argued saying that it is a criticism of the South. Now,
					could this story, shall we say, be more properly classified as a criticism of
					the time?</p>
<p><span class="speaker">William Faulkner</span>Now that I don't know because I was simply trying to write about people.
					The writer uses environment&mdash;what he knows&mdash;and if there's a symbolism in which
					the&mdash;the lover represented the North and the&mdash;and the&mdash;the woman who murdered him
					represents the South, I don't say that's not valid and not there, but it was no
					intention of the writer to&mdash;to say, "Now let's see, I'm going to write a piece in
					which I will&mdash;will use a symbolism for the North and another symbol for the
					South," that he was simply writing about people, a story which he thought was&mdash;was
					tragic and true because it&mdash;it came out of the&mdash;out of the human heart, of human
					aspiration, the human&mdash;the conflict of&mdash;of conscience with&mdash;with glands, with the
					Old Adam. It was a conflict not between the North and South so much as between,
					well, you might say, God and Satan. Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, just a little more on that thing. You say it's a conflict between
					God and Satan. Well, I don't quite understand what&mdash;what you mean there. Who
					is&mdash;did one represent the ?</p>
<p><span class="speaker">William Faulkner</span>The conflict was&mdash;was in Miss Emily, that she knew that you do not murder
					people. She was&mdash;she had been trained that&mdash;that&mdash;that you do not take a lover, you
					marry. You don't take a lover. She had broken all the&mdash;the&mdash;the laws of her tradition,
					her background, and she had finally broken the law of God, too, which says you
					do not take human life. And she knew she was doing wrong, and that's why her&mdash;her
					own life was wrecked. Instead of having murdered one lover, and then to go on
					and&mdash;and take another and when she used him up to murder him, she was expiating
					her crime. Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>But can't a person like Miss Emily, though she did do all the things that
					she had been taught not to, and being a sensitive sort of a woman, it was sure
					to have told on her, but do you think it's fair to feel pity for her because, in
					a way, she made her adjustment, and it seemed to have wound up in a happy sort
					of a way&mdash;certainly tragic&mdash;but maybe it suited her just fine.</p>
<p><span class="speaker">William Faulkner</span>Yes, it may have, but then I
					don't think that&mdash;that one should withhold pity simply because the&mdash;the subject of
					the pity, object of the pity, is pleased and satisfied. I think the&mdash;the pity is
					in&mdash;in the&mdash;the human striving against its own nature, against its own conscience.
					That's what deserves the pity. It's not the fate of the individual. It's man in
					conflict with his heart or with his fellows or with his environment.
					That's&mdash;that's what deserves the pity. It's not that the man suffered or that he
					fell off the house or was run over by the train. It's that he was&mdash;that man is
					trying to do the best he can with his&mdash;his desires and impulses, against his&mdash;his
					own moral conscience and the&mdash; the conscience of&mdash;the social conscience of&mdash;of his
					time and his place, the&mdash;the little town he must live in, the family he's a part
					of.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.7">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:00.21:00',
					'endtime','00:10:50.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>In "The Bear," Mr. Faulkner, was
					there a dog, a real Lion?</p>
<p><span class="speaker">William Faulkner</span>Yes, there was. I can remember
					that dog. I was about the age of that little boy, and he belonged to our pack of
					bear and deer dogs, and he was a complete individualist. He&mdash;he didn't love
					anybody. The other dogs were all afraid of him. He was a savage.  But he&mdash;he
					did&mdash;did love to&mdash;to run the bear. Yes, I remember him quite well. He was mostly
					Airedale. He had some hound, and Lord only knows what else might've been in him.
					He was a tremendous big brute, stood about that high. Must've weighed
					seventy-five or eighty pounds.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.8">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:52.91:00',
					'endtime','00:11:33.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, in any bear hunt that
					Lion participated in, did he ever perform heroic action like the one in the
					story?</p>
<p><span class="speaker">William Faulkner</span>No, not really. There's a case of
					the&mdash;the sorry, shabby world that don't quite please you, so you create one of
					your own, so you&mdash;you make Lion a little braver than he was, and you make the
					bear a little more the bear than he actually was. I'm&mdash;I'm sure that Lion could
					have done that and&mdash;and&mdash;would have done it, and it may be at times when I wasn't
					there to record the&mdash;the action he did do things like that.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.9">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:34.22:00',
					'endtime','00:12:56.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This question is also concerned with "The Bear." In the conclusion of the
					story, Ike McCaslin finds Boon destroying his rifle. Now, I was wondering if
					this incident just showed that Boon could not, so you say, compete with the
					mechanical age, or whether this was showing the end of an order, the fact that
					Lion and that Old Ben were dead, that the hunters weren't returning to the cabin
					any more, and the land had been sold to a lumber company.</p>
<p><span class="speaker">William Faulkner</span>A little of both. It was that
					Boon, with the mentality of a&mdash;of a child, a boy of&mdash;of sixteen or seventeen,
					couldn't cope not only with the mechanical age, but he couldn't cope with any
					time. Also, it&mdash;to me, it underlined the&mdash;the&mdash;the heroic tragedy of the bear and the
					dog by the last survival being reduced to the sort of&mdash;of petty comedy of someone
					trying to patch up a gun in order to shoot a squirrel. That made the&mdash;the tragedy
					of&mdash;of the dog and the bear a little more poignant to me. That's the sort of <em>tour 
						de force</em> that I think the writer is entitled to use.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.10">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:01.28:00',
					'endtime','00:14:26.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, the other day you said that you don't try to inject yourself into a
					situation about which you're writing and&mdash;and feel how you might react if you were a
					certain person. You said you didn't do that. Is it&mdash;do your characters&mdash;do their
					actions come about strictly from an&mdash;an unconscious feeling on your part, or do they
					just flow out or&mdash; ?</p>
<p><span class="speaker">William Faulkner</span>I prefer to think that&mdash;that the
					characters are&mdash;are alive enough to stipulate and postulate their own behavior
					and actions, that the actions of&mdash;of course, they come from my own experience of
					people, but I prefer to think that the characters, by that time, have taken
					charge of the story, and that they're ones that are saying what they would do
					and what they will say, that all they need then is&mdash;is someone to trot along and
					put it down. That actually, it wouldn't be, to me, much fun in inventing <span class="unclear tooltip" title="Text was unclear">[lay]</span> 
					figures just to&mdash;to project my own ideas. These ideas I grant you are mine,
					but&mdash;but they are the lumber in&mdash;in the attic that&mdash;that&mdash;in the carpenter's
					workshop. Now and then he needs a board, so he reaches back and finds it, and
					sure enough it fits. That is, he has to cut it and trim it a little, but it
					fits.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.11">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:31.71:00',
					'endtime','00:15:25.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I know that you've stated that you don't read the critics regarding your own
					work. However, I wonder what ideas you have regarding the aims or the proper
					function of a literary critic, not only of your works but, shall we say, of
					others as well?</p>
<p><span class="speaker">William Faulkner</span>I would say he has a&mdash;a valid
					function, a very important function, but&mdash; but to me he's a good deal like the
					minister. You don't need to listen to him unless you need him, and I, in my own
					case, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&mdash;I know I have already decided about
					the value of my work. There's nothing anybody can tell me I don't know about it,
					and the critic, nor I either, can improve it any by that time, and the only way
					to improve it is to write one that will be better next time, and so I'm at that,
					and I probably just don't have time to read the critic.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.12">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:27.78:00',
					'endtime','00:17:42.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, when you started to write, did you write to&mdash;to say something to other
					people or did you write mostly for your own satisfaction?</p>
<p><span class="speaker">William Faulkner</span>Because it was fun.  I became a
					writer by a chance. I've told this story before, some of you may have heard it.
					I was running whiskey for a New Orleans bootlegger back in Prohibition days, and
					I met Sherwood Anderson, and I liked him from the first. We would meet in the
					afternoons, and we would walk around New Orleans, and&mdash;and he would talk and I
					would listen. Then in the evening, we would meet, and we'd sit somewhere and
					drink, and he would talk and I would listen. In the morning, he would be in
					seclusion working, and that went on day after day, and I thought that if that
					was what a writer's life was, that would be the life for me, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and 
					so I wrote a book and&mdash;and after the first day
					or two, I found out that writing was fun. It was just about the nicest thing
					anybody could do, and I was having so much fun at it that I even forgot about
					Mr. Anderson. I hadn't seen him in, oh, several weeks, and I met Mrs. Anderson
					on the street, and she said, "We haven't seen you in some time." I said, "Yes'm,
					I'm writing a book." So I saw her again on the street, and she said, "I told
					Sherwood you were writing a book, and Sherwood said, 'My God,'" 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and I saw her later on. She said, "How's the book
					getting along?" I said, "I'm just about to finish it." And she said, "Do you
					want Sherwood to read it?" I hadn't thought about anybody reading the thing 
					because it was fun, and I said, "Yes'm, I don't mind if he wants to," so she
					told him about it. I saw her again, and she says, "Sherwood says if he don't
					have to read it, he'll make a trade with you. If he don't have to read it, he'll
					tell his publisher to take it." So I said, "Done." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>  And 
					so he told Mr. Liveright to take it, and
					that's how I got published. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But by that time,
					I'd found out that&mdash;that writing was fun to do, and that that was simply my cup
					of tea, and I've been at it since, ever since.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.13">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:43.63:00',
					'endtime','00:18:29.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Did they take it just the way it was or &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes'm.</p>
<p><span class="speaker">Unidentified participant</span>Now, what would you have done if they had asked you to make changes?</p>
<p><span class="speaker">William Faulkner</span>Well, I don't know because I had
					lost my bootlegging job, or <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> the&mdash;I believe
					the&mdash;the Federal people finally caught him, and I had a&mdash;a job as an ordinary
					seaman in a freighter then. I was&mdash;I spent the next year or two in ships, and by
					that time, I was working on another book, and so I was&mdash;got out of touch with this
					one. I don't&mdash;I reckon I would've changed it probably, if the publisher had said,
					"If you make a few changes, we'll print it," I probably would.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.14">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:32.64:00',
					'endtime','00:20:14.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I think you said that you haven't yet achieved your own personal
					goal as a writer. What is that goal, and is it likely that you will succeed  <span class="unclear tooltip" title="Text was unclear">[or achieving it]</span>?</p>
<p><span class="speaker">William Faulkner</span>That's difficult to say.
					It's&mdash;it's when I have done something that, to use Hemingway's phrase, makes me
					feel good, that is&mdash;that is completely satisfactory. Maybe that will be the goal,
					and I hope just a little that I'll never quite do that because if I do, there
					won't be any reason to go on writing, and I'm too old to take up another hobby.
					It's&mdash;I&mdash;I think that&mdash;that a&mdash;a writer wants to&mdash;to make something that he knows that&mdash;
					that a&mdash;a hundred or two hundred or five hundred, a thousand years later will make
					a people feel what they feel when they read Homer or read Dickens or Balzac,
					Tolstoy, that that's probably his goal. I don't think that he bothers until he
					gets old like this and has the right to spend a lot of time talking about it to
					put that into&mdash;into actual words, but probably that's what he wants, that really
					the writer doesn't want success, that he knows he has a short span of life, that
					the day will come when he must pass through the wall of oblivion, and he wants
					to leave a scratch on that wall, "Kilroy was here," that somebody a hundred or a
					thousand years later will see.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.15">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:18.14:00',
					'endtime','00:21:04.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, why do you regard <em>The Sound and the Fury</em> as
					your best work?</p>
<p><span class="speaker">William Faulkner</span>It was the best failure. It was
					the one that&mdash;that I anguished the most over, that I worked the hardest at, that
					even when I knew I couldn't bring it off, I still worked at it.  Like the parent
					feels toward the&mdash;the unfortunate child maybe. The others&mdash;others that have been
					easier to write than that, and in ways are better books than that, but I don't
					have the feeling toward any of them that I do toward that one because that was
					the&mdash;the most gallant, the most magnificent failure.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.16">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:04.41:00',
					'endtime','00:21:48.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you said that even though you did not bring it off, you
					worked hardest at it. How do you feel that you failed to bring <em>The Sound and the Fury</em> off?</p>
<p><span class="speaker">William Faulkner</span>It don't make me feel good enough, to use Hemingway's phrase. That's a&mdash;a
					condition that probably I can't put into words, but if I ever do strike it, I
					will know it. I think that&mdash;that's true of any writer.</p>
<p><span class="speaker">Unidentified participant</span>Well, aren't there parts of it that make you feel good enough?</p>
<p><span class="speaker">William Faulkner</span>Well, that's not enough, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> parts of it are not enough. It must be all, you
					see. You can't compromise, you know.  It's&mdash;it's either good or it ain't. There's
					no degrees of goodness. It's either all right or it's not all right.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.17">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:49.73:00',
					'endtime','00:22:30.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, how do you feel about <em>A Fable</em>?</p>
<p><span class="speaker">William Faulkner</span>The <em>Fable</em>
					was&mdash;I don't have the same feeling toward that because the <em>Fable</em> was a 
					book that came out of an idea. The others were&mdash;came out
					of people. The <em>Fable</em> was an idea, and at that time, I
					felt that I had learned enough about my craft to do it about as well as&mdash;as
					anyone could have done it, and that's, to me, a satisfactory book, but it&mdash;it&mdash;it
					doesn't move me like <em>The Sound and the Fury</em> did. <em>The Sound 
						and the Fury</em> is one book that I would like to
					write over, I know I couldn't do it better. But the <em>Fable</em>, no, I don't want to write that anymore.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.18">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:30.30:00',
					'endtime','00:24:47.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Can you make any comment on the part that the old general plays in <em>A 
					Fable</em>? He seemed to me to take two distinct, different
					parts if not more, in the theme of passion week including the three temptations.
					Would you care to elaborate at all on that character?</p>
<p><span class="speaker">William Faulkner</span>Well, to me he was the&mdash;the dark, splendid fallen angel. The good shining
					cherubim, to me, are not very interesting. It's&mdash;it's the dark, gallant fallen one
					that is moving to me. He was an&mdash;an&mdash;an implement really. What I was&mdash;was writing
					about was the trilogy of man's conscience, represented by the&mdash;the young British
					pilot officer, the runner, and the quartermaster general. The one that said,
					"This is&mdash;is dreadful, terrible, and I won't face it even at the cost of my life."
					That was the&mdash;the British aviator. The old general, who said, "This is terrible
					but&mdash;but we can bear it." The third one, the battalion runner, who said, "This is
					dreadful, I won't stand it, I'll do something about it."  The old general was&mdash;was
					Satan, who had been cast out of heaven and&mdash;because God himself feared him.</p>
<p><span class="speaker">Unidentified participant</span>Well, what&mdash;the thing that had puzzled me was that going back, as far as I
					could gather, he also had been the father of the corporal.</p>
<p><span class="speaker">William Faulkner</span>Yes, that's right.</p>
<p><span class="speaker">Unidentified participant</span>And that is what had somewhat puzzled me in the allegorical &mdash;</p>
<p><span class="speaker">William Faulkner</span>That was a part of&mdash;of Satan's
					fearsomeness, that he could usurp the&mdash;the legend of God. That was what made him
					so&mdash;so fearsome and so powerful, that he could&mdash;could usurp the legend of God and
					then discard God. That's why God feared him.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.19">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:50.37:00',
					'endtime','00:25:56.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, would you care to
					say anything about the allegorical function of the horse in the <em>Fable</em>? He seems to have some very complex or interesting
					characteristics.</p>
<p><span class="speaker">William Faulkner</span>Not to me, no. That was simply
					another struggle between man and his conscience and his environment. The horse
					was&mdash;was&mdash;simply a&mdash;a tool. That is, that&mdash;that foul and filthy Cockney hostler was
					still capable of love for something. That if he had maybe&mdash;if he had&mdash;had a
					better&mdash;better childhood, a better&mdash;better background, he might've been capable of
					better love of something more worthy than&mdash;than a horse. But he was capable of love
					for one thing, that he could sacrifice to and could defend, even though it was
					only a horse.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.20">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:58.24:00',
					'endtime','00:27:07.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>In the story "Red Leaves," in the Indian burial ritual, would it have
					brought disgrace to that had the man-servant committed suicide during the
					chase?</p>
<p><span class="speaker">William Faulkner</span>Tell me that again. During the &mdash;</p>
<p><span class="speaker">Unidentified participant</span>In the&mdash;in the short story, "Red Leaves" &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, I know.</p>
<p><span class="speaker">Unidentified participant</span>During the burial, the burial ritual &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>Would it have brought disgrace to that whole ritual had the man-servant
					committed suicide during the chase, before they caught him?</p>
<p><span class="speaker">William Faulkner</span>No, they could still have&mdash;have
					brought his body back and immolated that. No, they were simply cleaning house.
					That was what the rule said, when the chief went back to the earth, his&mdash;his body
					servant and his dogs and his horse went with him. No, it would have been no
					disgrace. It&mdash;in fact, if he had done that quicker, they would've been pleased
					because it would have saved them all the trouble of tracking him back and forth
					through that swamp, which they didn't want to do. They were a lazy, indolent
					people and there wasn't any use of anyone causing all that trouble when he
					couldn't get away.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.21">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:09.60:00',
					'endtime','00:28:34.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What is your purpose in writing into the first section of <em>The Sound 
					and the Fury</em> passages that seem 
					disjointed within themselves, the ideas not connected with one another?</p>
<p><span class="speaker">William Faulkner</span>That was part of the failure. It
					seemed to me that&mdash;that the book approached nearer the dream if&mdash;if the groundwork
					of it was laid by the idiot, who was incapable of relevancy. That's&mdash;I agree with
					you, too, that's a bad method, but to me, it seemed the best way to do it, that
					I&mdash;I shifted those sections back and forth to see where they went best, but my
					final decision was that, though that was not right, that was the best to do it,
					that it was simply the&mdash;the groundwork of that story, as that idiot child saw it.
					He himself didn't know what he was seeing, that the only thing that&mdash;that held
					him into any sort of reality, into the world at all was&mdash;was the trust that he
					had for&mdash;for his sister, that he knew that she loved him and would defend him,
					and so she was&mdash;was the&mdash;the whole world to him, and these things were flashes
					that were reflected on her as in a mirror. He didn't know what they meant.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.22">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:37.28:00',
					'endtime','00:29:55.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You spoke a minute ago of the writer seeking to leave some creative mark
					on&mdash;on posterity. I was wondering if you think that the effect on the artist is
					better today when he can somehow achieve his immorality&mdash;immortality during his
					lifetime, because the communication being so much wider and greater than
					formerly, when perhaps the writer's fame came to him long after his death, and
					maybe he was the only one during his lifetime that was satisfied with his
					work?</p>
<p><span class="speaker">William Faulkner</span>I don't think so. I believe the writer takes a longer view than that. He
					ain't too interested in&mdash;in what the contemporary world thinks about it. He has a
					longer view, that&mdash;he&mdash;he is aimed not at&mdash;at Jones of 1957 but at Jones of 2057 or
					4057.</p>
<p><span class="speaker">Unidentified participant</span>Well, do you think that the&mdash;the&mdash;you would have been just as satisfied if your
					work maybe had never been discovered until 4057?</p>
<p><span class="speaker">William Faulkner</span>I think so, sure. Yes. Of
					course, the&mdash;when they began to bring in a little money, that was 
					nice. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&mdash;I liked the money, but the&mdash;the glory, the rest of
					it's not very valuable.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.23">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:57.28:00',
					'endtime','00:31:02.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Well, then, thinking that this period doesn't matter too much, do you go
					back over the things <span class="unclear tooltip" title="Text was unclear">[and you still have]</span> a lot of time left to work over the ones
					that you've already written. Do you go back and worry about them and wish you
					had done them differently?</p>
<p><span class="speaker">William Faulkner</span>I wish I had done them better,
					but I don't have time to worry about it too much. That's just a constant&mdash;thought
					or&mdash;or belief that&mdash;that I would like to be able to do them over again. That is, not
					to&mdash;to go back and take one single book and write a&mdash;another version of it, but if I
					could go back to, say, 1920 when I started, that I could do a better job. Of
					course, I wouldn't, but that's an idle thought that&mdash;that occurs only when I
					haven't gotten anything better to do. The&mdash;the best thing is to&mdash;to write another
					book to do it. Because it takes only one book to do it. It's not the sum of a
					lot of scribbling. It's&mdash; it's one perfect book, you see. It's&mdash;it's one&mdash;one
					single urn or shape that you want to do.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.24">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:05.15:00',
					'endtime','00:32:38.20:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you said that when you wrote the <em>Fable</em> that 
					you&mdash;you had an idea, and you made the characters develop the
					plot through that, and that you did that because you thought you knew your trade
					well enough by that time to do that. Now, does that mean that when you first
					start out, that you think that it's better to make the characters shape the plot
					and sort of let it unfold as&mdash;?</p>
<p><span class="speaker">William Faulkner</span>I do, yes. Unless you have a&mdash;an
					extremely interesting and moving idea, which to me I thought I had 
						in the <em>Fable</em>&mdash;was the&mdash;the thought, Just suppose that had been
					Christ under the cenotaph with the eternal fire burning, and&mdash;and all the&mdash;the
					temporarily well-known world figures to come and put a&mdash;a wreath of moribund
					flowers on it. Suppose that had been Christ crucified again. That would be
					twice, and would we have another chance? But it's best, I think, for the writer
					to write about people. That's&mdash;that's your trade, you know. Your craft is to
					write about people. They're infinitely interesting. They're infinitely capable
					of diversion, of change, of aberrations. Yet they're intrinsically the same
					thing. It's the same heart, the same anguish, the same desire to be better than
					you are, the same passion that the&mdash;the heart feels, the same ambition,
					aspiration, hope. That's what you're writing about.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.25">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:40.32:00',
					'endtime','00:34:49.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes'm.</p>
<p><span class="speaker">Unidentified participant</span>When you do write about people that way&mdash;well, of course, you don't have
					to put up with the critics, but I noticed particularly that when a new book
					comes out, all these Freudian implications are pulled out and all sorts of
					undercurrents, rather than just the simple here's what happened, and&mdash;and of course,
					there's always more to it than that, but all kinds of weird things are just
					pulled out of the hat and thrown around. Does that bother you? Does it disturb
					you that everything is sort of misconstrued?</p>
<p><span class="speaker">William Faulkner</span>I can't say because I'm not
					aware of it. I don't&mdash;don't read the&mdash;the critics. I don't know any literary
					people. The people I know are&mdash;are other farmers and&mdash;and horse people and
					hunters, and we talk about horses and dogs and&mdash;and guns and&mdash;and&mdash;and what to do about
					this hay crop or this cotton crop, not about literature. I&mdash;I think, I'm convinced 
					though, that&mdash;that sort of criticism, whether it's&mdash;it's nonsensical or not is
					valid because it is a&mdash;a symptom of&mdash;of&mdash;of change or motion, which is life. And also,
					it's a proof that&mdash;that literature, art, is a&mdash;is a living quantity in our social
					condition. If it were not, then there&mdash;there'd be no reason for people to&mdash;to&mdash;to
					delve and find all sorts of symbolisms and psychological strains and currents in
					it. And I'm quite sure that there are some writers to&mdash;to whom that criticism is
					good, that it could help them find themselves. I don't know that the critic
					could&mdash;could teach the writer anything because I'm inclined to think that&mdash;that
					nobody really can teach anybody anything, that you offer it, and it's there, and
					if&mdash;and if it is your will or urge to learn it, you do, and the writer that does
					need the criticism can get quite a lot of benefit from it.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio05_1.26">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio05_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:34:50.27:00',
					'endtime','00:35:00.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in "That Evening Sun," is the ditch symbolical of the color
					line?</p>
<p><span class="speaker">William Faulkner</span>Could be, but, you see, I&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio05_1.1" class="hidden">Opening</a></li>
<li><a href="#wfaudio05_1.2" class="hidden">The Southern Environment</a></li>
<li><a href="#wfaudio05_1.3" class="hidden">The Expatriate Writers</a></li>
<li><a href="#wfaudio05_1.4" class="hidden">Sutpen's Money</a></li>
<li><a href="#wfaudio05_1.5" class="hidden">The Writer's Demon</a></li>
<li><a href="#wfaudio05_1.6" class="hidden">"A Rose for Emily"</a></li>
<li><a href="#wfaudio05_1.7" class="hidden">The Source for Lion</a></li>
<li><a href="#wfaudio05_1.8" class="hidden">Re-imagining Lion</a></li>
<li><a href="#wfaudio05_1.9" class="hidden">The Bear, Part 5</a></li>
<li><a href="#wfaudio05_1.10" class="hidden">Creating Characters</a></li>
<li><a href="#wfaudio05_1.11" class="hidden">The Critic's Function</a></li>
<li><a href="#wfaudio05_1.12" class="hidden">Becoming a Writer</a></li>
<li><a href="#wfaudio05_1.13" class="hidden">Revising His First Novel</a></li>
<li><a href="#wfaudio05_1.14" class="hidden">Personal Goal</a></li>
<li><a href="#wfaudio05_1.15" class="hidden">Most Magnificent Failure</a></li>
<li><a href="#wfaudio05_1.16" class="hidden">Sound and Fury as Failure</a></li>
<li><a href="#wfaudio05_1.17" class="hidden">A Fable</a></li>
<li><a href="#wfaudio05_1.18" class="hidden">A Fable's Dark Angel</a></li>
<li><a href="#wfaudio05_1.19" class="hidden">A Fable's Horse</a></li>
<li><a href="#wfaudio05_1.20" class="hidden">"Red Leaves"</a></li>
<li><a href="#wfaudio05_1.21" class="hidden">Sound and Fury's Shifts</a></li>
<li><a href="#wfaudio05_1.22" class="hidden">Writing and Fame</a></li>
<li><a href="#wfaudio05_1.23" class="hidden">Reviewing His Work</a></li>
<li><a href="#wfaudio05_1.24" class="hidden">Plot v Character</a></li>
<li><a href="#wfaudio05_1.25" class="hidden">Freudian Criticism</a></li>
<li><a href="#wfaudio05_1.26" class="hidden">"That Evening Sun"</a></li>
</ul></aside>
		
