
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio20_1_2clip.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 20 February 1958</h4>
<h4>OCCASION: The Raven, Jefferson and Omicron Delta Kappa Societies</h4>
<h4>This clip was created by splicing the end of T-140begins and the beginning of T-140ends together.</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio20_1_2.1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio20_1_2clip.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.32:00',
					'endtime','00:01:55.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, it seems that the need by the early first colonies, the
					need for an agrarian society to have labor, gave birth to this great problem,
					and it also seems that the continual effort and attempt to maintain the society
					even after 1865 has prolonged and added to the problem. Do you think, and this
					is my question, that the advent of industry in the South, the industrialization
					of the South, and the possible eventual destruction of the
				    remaining&mdash;of the agrarian&mdash;agrarian society will have any
                    effect upon this problem?</p>
<p><span class="speaker">William Faulkner</span>It will in that, I think, the agrarian culture was the only culture the
                    white man went to much trouble to&mdash;to train the Negro in. As that
                    vanishes, the Negro becomes more and more of a problem. When that's completely
                    gone, he will be still more and more of a problem, and for that reason
                    the white man will have to do something to&mdash;to substitute that agrarian
                    economy, which took care of the Negro. I&mdash;I mean by&mdash;by "took
                    care," which assimilated the Negro. The Negro had a&mdash;a definite place
                    in that economy. Now the only contact the Negro has with the white man's culture
                    is the time-payment icebox and&mdash;and the automobile that he'll own some
                    day, if he don't tear it up before he finishes paying for it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but there's no other contact with the white man's
                    culture that the Negro has since he was&mdash;since he left the agrarian
                    economy of slavery.
                </p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio20_1_2.1" class="hidden">Spliced clip</a></li></ul></aside>

