
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio22_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 26 February 1958</h4>
<h4>OCCASION: Undergraduate Writing Class</h4>
<h4>TAPE: T-141classbegins</h4>
<h4>LENGTH: 32:31</h4>
<h4>READING: "Race at Morning"</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:16.63:00',
					'endtime','00:01:35.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>It gives me a great deal of
					pleasure to have Mr. Faulkner in this class, in which we are trying to put down
					feelings and thoughts on paper and shaping observation and experience into
					narrative and essay. For I don't know of anyone who really understands so well
					the longings and frustrations of human beings, and has demonstrated so
					consistently his ability to record this understanding, in what constitutes a
					sort of vision of humanity, in a series of stories and novels that are so
					remarkably skillfully written. I asked Mr. Faulkner if he would read
					something to us, and he chose a story entitled "Race at Morning." He will read
					some portions of it, which will make <span class="unclear tooltip" title="Text was unclear">[make time]</span> connect the whole. After he has
					finished his reading, I hope that you will ask questions on that story and any
					other questions that seem appropriate to the occasion.  It gives me a great deal of
					pleasure to introduce Mr. Faulkner <span class="unclear tooltip" title="Text was unclear">[to this class]</span>.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.2">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:53.71:00',
					'endtime','00:02:50.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					It was jest dust-dark when I seen him, about half a
						quarter up the river, swimming, jest his head above the water. But I could
						see that rocking chair he toted on it and I knowed it was him, going right
						back to that canebrake in the fork of the bayou where he lived all year
						until the day before the season opened, like the game wardens had give him a
						calendar, when he would clear out and disappear, nobody knowed where, until
						the day after the season closed. But here he was, coming back a day ahead of
						time, like maybe he had gotten mixed up and was using last year's calendar by
						mistake. Which was jest too bad for him, because me and Mister Ernest would
						be setting on the horse right over him when the sun rose tomorrow morning.
						So we et supper and fed the dogs, and then I holp Mister Ernest in the poker
						game, standing behind his chair until about ten o'clock, when Roth Edmonds
						said, "Why don't you go to bed, boy?"
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.3">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:50.47:00',
					'endtime','00:04:02.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					"Or if you're going to set up," Willy Legate said, "why
						don't you take a spelling book to set up over? . . . He knows every cuss
						word in the dictionary, every poker hand in the deck and every whisky label
						in the distillery, but he can't even write his name. . . . Can you?" he says
						to me.
						"I don't need to write my name down," I said. "I can remember in my
						mind who I am."
						"You're twelve years old," Walter Ewell said. "Man to man
						now, how many days in your life did you ever spend in school?"
						"He ain't got
						time to go to school," Willy Legate said. "What's the use in going to school
						from September to middle of November, when he'll have to quit then to come
						in here and do Ernest's hearing for him? And what's the use in going back to
						school in January, when in jest eleven months it will be November fifteenth
						again and he'll have to start all over telling Ernest which way the dogs
						went?"
						"Well, stop looking into my hand, anyway," Roth Edmonds said.
						"What's
						that? What's that?" Mister Ernest said. He wore his listening button in his
						ear all the time, but he never brought the battery to camp with him because
						the cord would of bound to get snagged ever time we run through a thicket.
						In fact the only time he ever admitted he couldn't hear was when we'd be
						sitting on the horse waiting for me to tell him which way the dogs
							went.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.4">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:02.69:00',
					'endtime','00:05:24.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then it was morning.  We et, and set the stand-holder across
						for Uncle Ike McCaslin to put them on the stands where he thought they ought
						to be, because he was the oldest man in the camp. He had been hunting deer
						in these woods for about a hundred years, I reckon, and if anybody would
						know where a buck would pass, it would be him. Maybe with a big old buck
						like this one, that had been running the woods for what would amount to a
						hundred years in a deer's life, too, him and Uncle Buck&mdash;Uncle Ike would sholy manage to
						be at the same place at the same time this morning&mdash;provided, of course, he
						managed to git away from me and Mister Ernest on the jump. Because me and
						Mister Ernest was going to git him.
						And sho enough, as soon as we come to
						the bayou we seen his foot in the mud where he had come up out of the river
						last night, spread in the soft mud like a cow's foot, big as a cow's, big as
						a mule's, with Eagle and the other dogs laying into the leash rope now until
						Mister Ernest told me to jump down and help Simon hold them. Because me and
						Mister Ernest knowed exactly where he would be&mdash;a little canebrake island in
						the middle of the bayou, where he could lay up until whatever doe or little
						deer the dogs had happened to jump could go up or down the bayou in either
						direction and take the dogs on away, so he could steal out and creep back
						down the bayou to the river and swim it, and leave the country like he
						always done the day the season opened.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.5">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:24.11:00',
					'endtime','00:06:42.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					Which is jest what we never aimed for him to do this
						time. So we left Roth on his horse to cut him off and turn him over Uncle
						Ike's standers if he tried to slip back down the bayou, and me and Simon,
						with the leashed dogs, walked on up the bayou until Mister Ernest on the
						horse said it was fur enough; then turned up into the woods about half a
						quarter above the brake because the wind was going to be south this morning
						when it riz, and turned down toward the brake, and Mister Ernest give the
						word to cast them, and we slipped the leash and Mister Ernest give me the
						stirrup again and I got up.
						Old Eagle had done already took off because he
						knowed where that old son of a gun would be laying as good as we did, not
						making no racket atall yet, but jest boring on through the buck vines with
						the other dogs trailing along behind him, and even Dan seemed to know about
						that buck, too, beginning to souple up and jump a little through the vines,
						so that I taken my holt on Mister Ernest's belt already before the time had
						come for Mister Ernest to touch him. Because when we got strung out, going
						fast behind a deer, I wasn't on Dan's back much of the time nohow, but
						mostly jest strung out from my holt on Mister Ernest's belt, so that Willy
						Legate said that when we was going through the woods fast, it looked like
						Mister Ernest had a boy-size pair of empty overhalls blowing out of his hind
							pocket.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.6">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:42.20:00',
					'endtime','00:08:21.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					So it wasn't even a strike, it was a jump. Eagle must
						'a' walked right up behind him or maybe even stepped on him while he was
						laying there still thinking it was day after tomorrow. Eagle jest throwed
						his head back and up and said, "There he goes," and we even heard the buck
						crashing through the first of the cane. Then all the other dogs was
						hollering behind him, and Dan give a squat to jump, but it was against the
						curb this time, not jest the snaffle, and Mister Ernest let him down into
						the bayou and swung him around the brake and up the other bank. Only he
						never had to say, "Which way?" because I was already pointing past his
						shoulder, freshening my holt on the belt jest as Mister Ernest touched Dan
						with that big old rusty spur on his nigh heel, because when Dan felt like it he
						could go off jest like a stick of dynamite, straight through whatever he
						could bust and over or under what he couldn't.
						The dogs was already  
						out of hearing. Eagle must 'a' been looking right up that big son of a gun's
						tail until he finally decided he better git  out of there. And now they
						must 'a' been getting pretty close to Uncle Ike's standers, and Mister
						Ernest reined Dan back and held him, squatting and bouncing and trembling
						like a mule having his tail roached, until we listened for the shots. But
						never none come, and I hollered to Mister Ernest we better go on while I
						could still hear the dogs, and he let Dan off, but still there wasn't no
						shots, and now we knowed the race had done already passed the standers; and
						we busted out of a thicket, and sho enough there was Uncle Ike and Willy
						standing beside his foot in a soft patch.
						"He got through us all," Uncle Ike
						said. "I don't know how he done it. I just had a glimpse of him. He looked
						big, big as a elephant, with a rack on his head you could cradle a yellin'
						calf in. He went right on down the ridge. You better get on, too; that Hog
						Bayou camp might not miss him."
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.7">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:21.63:00',
					'endtime','00:10:20.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					So I freshened my holt and Mister Ernest touched Dan
						again. The ridge run due south; it was clear of vines and bushes so we could
						go fast, into the wind, too, because it had riz now, and now the sun was up
						too. So we could hear the dogs again any time now as the wind got up; we
						could even make time now, but still holding Dan to a canter, because it
						was either going to be quick, when he got down to the standers from that Hog
						Bayou camp eight miles below ourn, or a long time, in case he got by them
						too. And sho enough, after a while we heard the dogs; we was walking Dan now
						to let him blow a while, and we heard them, the sound coming faint up the
						wind, not running now, but trailing because the big son of a gun had decided
						a good piece back, probably, to put a end to all the foolishness, and picked
						hisself up and soupled out and put about a mile between hisself and the
						dogs&mdash;until he run up on them other standers from that camp below. I could
						almost see him stopped behind a bush, peeping out and saying, "What's this?
						What's this? Is this whole durn country full of folks this morning?" Then
						he looked back over his shoulder at where old Eagle and the others was
						hollering along after him while he decided how much time he had to decide
						what to do next.
						We was in strange country now because we never had to run
						this fur before, we had always killed before now; now we had come to Hog
						Bayou that runs into the river a good fifteen miles below our camp. It had
						water in it, not to mention a mess of down trees and logs and such, and
						Mister Ernest checked Dan again, saying, "Which way?" I could just barely
						hear them, off to the east a little, like the old son of a gun had give up
						the idea of Vicksburg or New Orleans, like he first seemed to have, and had
						decided to have a look at Alabama; so I pointed and we turned up the bayou
						hunting for a crossing, and maybe we could 'a' found one, except that I
						reckon Mister Ernest decided we never had time to wait.
						We come to a place
						where the bayou had narrowed down to about twelve or fifteen feet, and
						Mister Ernest said, "Look out, I'm going to touch him" and done
							it.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.8">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:20.04:00',
					'endtime','00:11:40.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					 I didn't even have time to freshen my holt when we was
						already in the air, and then I seen the vine&mdash;it was a loop of grapevine nigh
						as big as my wrist, looping down right across the middle of the bayou&mdash;and I
						thought Mister Ernest seen it, too, and was jest waiting to grab it and
						fling it up over our heads to go under it, and I know Dan seen it because he
						even ducked his head to jump under it. But Mister Ernest never seen it atall
						until it skun back along Dan's neck and hooked under the head of the saddle
						horn, us flying on through the air, the loop of the vine gitting tighter and
						tighter until something somewhere was going to have to give. It was the
						saddle girth. It broke, and Dan going on and scrabbling up the other bank
						bare nekkid except for the bridle, and me and Mister Ernest and the saddle,
						Mister Ernest still setting in the saddle holding the gun, and me still
						holding onto Mister Ernest's belt, hanging in the air over the bayou in the
						tightened loop of that vine like in the drawed-back loop of a big
						rubber-banded slingshot, until it snapped back and shot us back across the
						bayou and flang us clear, me still holding onto Mister Ernest's belt and on
						the bottom now, so that when we lit I would 'a' had Mister Ernest and the
						saddle both on top of me if I hadn't clumb fast around the saddle and up
						Mister Ernest's side, so that when we landed, it was the saddle first, then
						Mister Ernest, and me on top, until I jumped up, and Mister Ernest still
						laying there with jest the white rim of his eyes showing.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.9">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:40.54:00',
					'endtime','00:13:08.95:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					"Mister Ernest!" I hollered, and then clumb down to the
						bayou and scooped my cap full of water and clumb back and throwed it in his
						face, and he opened his eyes and laid there on the saddle cussing me.
						"God
						dawg it," he said, "why didn't you stay behind where you started out?"
						"You
						was the biggest!" I said. "You would 'a' mashed me flat!" <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
						
						"What do you think you done to me?" Mister
						Ernest said. "Next time, if you can't stay where you start out, jump clear.
						Don't climb up on top of me no more. You hear?"
						"Yes, sir," I said. <span class="event tooltip" title="There was some sound of turning pages happening">[sound of turning pages]</span> 
						
						So we caught Dan and got up and went on.
						Then we seen him for the first time. We was out of the cut-over now; we
						coulda even 'a' cantered, except that all three of us was long past that. So
						we was walking, too, when we come on the dogs&mdash; the puppies and one of the
						old ones&mdash;played out, laying in a little wet swag, panting, jest looking up
						at us when we passed. Then we come to a long open glade, and we seen the
						three other old dogs and about a hundred yards ahead of them Eagle, all
						walking, not making no sound; and then suddenly, at the fur end of the
						glade, the buck hisself getting up from where he had been resting for the
						dogs to come up, getting up without no hurry, big, big as a mule, tall as a
						mule, and turned, and the white underside of his tail for a second or two
						 before the thicket taken him.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.10">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:08.94:00',
					'endtime','00:14:32.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					 It might 'a' been a signal, a good-by, a farewell.
						Still walking, we passed the other three old dogs in the middle of the
						glade, laying down, too; and still that hundred yards ahead of them, Eagle,
						too, not laying down, because he was still on his feet, but his legs was
						spraddled and his head was down; maybe jest waiting until we was out of
						sight of his shame, his eyes saying plain as talk when we passed, "I'm
						sorry, boys, but this here is all."
						Mister Ernest stopped Dan. "Jump down
						and look at his feet," he said.
						"Nothing wrong with his feet," I said. "It's
						his wind has done give out."
						"Jump down and look at his feet," Mister Ernest
						said.
						So I done it, and while I was stooping over Eagle I could hear the
						pump gun go, "Snick-cluck. Snick-cluck. Snick-cluck" three times, except
						that I never thought nothing then. Maybe he was jest running the shells
						through to be sho it would work when we seen him again or maybe to make sho
						they was all buckshot. Then I got up again, and we went on, still walking; a
						little west of north now, because when we seen his white flag that second or
						two before the thicket hid it, it was on a beeline for that notch in the
						bayou. And it was evening, too, now. The wind had done dropped and there was
						a edge in the air and the sun jest touched the tops of the trees. And he was
						taking the easiest way, too, now, going straight as he could. When we seen
						his foot in the soft places he was running for a while at first after his
						rest. But soon he was walking, too, like he knowed, too, where Eagle and the
						dogs was.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.11">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:38.76:00',
					'endtime','00:16:28.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					And then we seen him again. It was the last time&mdash;a
						thicket, with the sun coming through a hole onto it like a searchlight. He
						crashed jest once; then he was standing there broadside to us, not twenty
						yards away, big as a statue and red as gold in the sun, and the sun sparking
						on the tips of his horns&mdash;they was twelve of them &mdash;so he looked like he
						had twelve lighted candles branched around his head, standing there looking
						at us while Mister Ernest raised the gun and aimed at his neck, and the gun
						went, "Click. Snick-cluck. Click. Snick-cluck. Click. Snick-cluck" three
						times, and Mister Ernest still holding the gun aimed while the buck turned
						and give us just one long bound, the white underside of his tail like a blaze of
						fire, too, until the thicket and the shadows put it out; and Mister Ernest
						laid the gun down slow and gentle back across the saddle in front of him,
						saying quiet and peaceful, and not much louder than jest breathing, "God
						dawg. God dawg."  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						Then he jogged me with his elbow and we got down, easy and
						careful because of that ere cinch strop, and he reached into his vest and
						taken out one of the cigars. It was busted where I had fell on it, I reckon,
						when we hit the ground. He throwed it away and taken out the other one. It
						was busted, too, so he bit off a hunk of it to chew and throwed the rest
						away. And now the sun was gone even from the tops of the trees and there
						wasn't nothing left but a big&mdash;big red glare in the west. "Don't worry," I said.
						"I ain't going to tell them you forgot to load your gun. For that matter,
						they don't need to know we even seed him."
						"Much oblige," Mister Ernest
						said. There wasn't going to be no moon tonight neither, so he taken the
						compass off the whang leather loop in his buttonhole and handed me the gun
						and set the compass on a stump and stepped back and looked at it. "Jest
						about the way we're headed now," he said, and taken the gun from me and
						opened it and put one shell in the britch and taken up the compass, and I
						taken Dan's reins and we started, with him in front with the compass in his
							hand.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.12">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:31.50:00',
					'endtime','00:18:06.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					 Then it was morning, tomorrow; it was all over now
						until next November, next year, and we could come back. Uncle Ike and Willy
						and Walter and Roth and the rest of them had come in yestiddy, soon as Eagle
						taken the buck out of hearing and they knowed that deer was gone, to pack up
						and be ready to leave this morning for Yoknapatawpha, where they lived,
						until it would be November again and they could come back.
						So, as soon as we
						et breakfast, Simon run them back up the river in the big boat to where they
						left their cars and pickups, and now it wasn't nobody but jest me and Mister
						Ernest setting on the bench against the kitchen wall in the sun; Mister
						Ernest smoking a cigar&mdash;a whole one this time that Dan hadn't had no chance
						to jump him through a grapevine and bust. He hadn't washed his face neither
						when&mdash;where that vine had throwed him into the mud. But that was all right, too;
						his face usually did have a smudge of mud or tractor grease or beard stubble
						on it, because he wasn't jest a planter; he was a farmer, he worked as hard
						as ara one of his hands and tenants&mdash;which is why I knowed from the very
						first that we would git along, that I wouldn't have no trouble with him and
						he wouldn't have no trouble with me, from that very first day when I woke up
						and maw had done gone off with that Vicksburg road-house feller without even
						waiting to cook breakfast, and the next morning pap was gone, too, and it
						was almost night and the next day when I heard a horse coming up and I taken
						the gun that I had already throwed a shell into the britch when pap never
						come home last night, and stood in the door while Mister Ernest rid up and
						said, "Come on. Your paw ain't coming back neither."
						"You mean he give me to
						you?" I said.
						"Who cares?" he said. "Come on. I brought a lock for the door.
						We'll send the pickup back tomorrow for whatever you want."
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.13">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:06.43:00',
					'endtime','00:19:53.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					So I come home with him and it was all right, it was
						jest fine&mdash; his wife had died about three years ago&mdash;without no women to worry
						us or take off in the middle of the night with a durn Vicksburg roadhouse
						jake without even waiting to cook breakfast. And we would go home this
						afternoon, too, but not jest yet; we always stayed one more day after the
						others left because Uncle Ike always left what grub they hadn't et, and the
						rest of the homemade corn whisky he drunk and that town whisky of Roth
						Edmondziz he called Scotch that smelled like it come out of a old bucket of
						roof paint; setting in the sun for one more day before we went back home to
						git ready to put in next year's crop of cotton and oats and beans and hay;
						and across the river yonder, behind the wall of trees where the big woods
						started, that old buck laying up in&mdash;up today in the sun, too&mdash;resting today, too,
						without nobody to bother him until next November.
						So at least one of us was
						glad it would be eleven months and two weeks before he would have to run
						that fur that fast again. So he was glad of the very same thing we was sorry
						of, and so all of a sudden I thought how maybe planting and working
						and then harvesting oats and cotton and beans and hay wasn't jest something
						me and Mister Ernest done three hundred and fifty-one days to fill in the
						time until we could come back hunting again, but it was something we had to
						do, to do honest and good during the three hundred and fifty-one days, to
						have the right to come back into the big woods and hunt for the other
						fourteen; and the fourteen days that the old buck run in front of dogs wasn't
						jest something to fill his time until the three hundred and fifty-one when
						he didn't have to, but the running and the risking in front of the guns and dogs
						was something he had to do for fourteen days to have the right not to be
						bothered for the other three hundred and fifty-one. And so all the hunting
						and the farming wasn't two different things at all&mdash;they was jest the other
						side of each other.
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.14">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:53.48:00',
					'endtime','00:21:04.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					"Yes," I said. "All we got to do now is put in that next
						year's crop. Then November won't be no time away."
						"You ain't going to put
						in the crop next year," Mister Ernest said. "You're going to school."
						So at
						first I didn't even believe I had heard him. "What?" I said. "Me? Go to
						school?"
						"Yes," Mister Ernest said. "You must take&mdash;make something out of
						yourself."
						"I am," I said. "I'm doing it now. I'm going to be a hunter and a
						farmer like you."
						"No," Mister Ernest said. "That ain't enough any more.
						Time was when all a man had to do was just farm eleven and a half months,
						and hunt the other half. But not now. Now just to belong to the farming
						business and the hunting business ain't enough. You got to belong to the
						business of mankind."
						"Mankind?" I said.
						"Yes," Mister Ernest said. "So
						you're going to school. Because you got to know why. You can belong to the
						farming and hunting business and you can learn the difference between what's
						right and what's wrong, and do right. And that used to be enough&mdash;just to do
						right. But not now. You got to know why it's right and why it's wrong, and
						be able to tell the folks that never had no chance to learn it; teach them
						how to do what's right, not just because they know it's right, but because
						they know now why it's right because you just showed them, told them, taught
						them why. So you're going to school."
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.15">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:04.04:00',
					'endtime','00:22:29.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					 "It's because you been listening to that durn Will
						Legate and Walter Ewell!" I said.
						"No," Mister Ernest said.
						"Yes!" I said.  "No wonder you missed that buck yestiddy, taking ideas from the very fellers
						that let him git away, after me and you had run Dan and the dogs durn nigh
						clean to death! Because you never even missed him! You never&mdash;you never forgot to load
						that gun! You had done already&mdash;you had done already unloaded it a purpose! I heard you!"
						"All
						right, all right," Mister Ernest said. "Which would you rather have? His
						bloody head and hide on the kitchen floor yonder and half his meat in a
						pickup truck on the way to Yoknapatawpha County, or him with his head and
						hide and meat still together over yonder in that <span class="unclear tooltip" title="Text was unclear">[thicket]</span>, waiting for next
						November for us to run him again?" "And git him, too," I said. "We won't
						even fool with no Willy Legate and Walter Ewell next time." "Maybe," Mister
						Ernest said.
						"Yes," I said.
						"Maybe," Mister Ernest said. "The best word in
						our language, the best of all. That's what mankind keeps going on: Maybe.
						The best days of his life ain't the ones when he said 'Yes' beforehand:
						they're the ones when all he knew to say was 'Maybe.' He can't say 'Yes'
						until afterward because he not only don't know it until then, he don't want
						to know 'Yes' until then. . . . Step in the kitchen and make me a toddy.
						Then we'll see about dinner."
						"All right," I said. I got up. "You want some
						of Uncle Ike's corn or that town whisky of Roth Edmondziz?"
						"Can't you say
						Mister Roth or Mister Edmonds?" Mister Ernest said.
						"Yes, sir," I said.
						"Well, which do you want? Uncle Ike's corn or that ere stuff of Roth
						Edmondziz?" 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.16">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:29.08:00',
					'endtime','00:22:31.81:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Thank you very much, Mr.
						Faulkner.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.17">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:31.82:00',
					'endtime','00:24:01.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>In writing such a story as that,
					which must be about concrete things that you've experienced&mdash;I don't know whether
					you've had a collision with a grapevine or not when you were on a horse&mdash;but do
					you see that kind of a story from beginning to end when you start writing? Do
					you have that story sort of in mind, the&mdash;the ending as part of the
					beginning?</p>
<p><span class="speaker">William Faulkner</span>No, I think a story like that invents itself as you go along. That one
					began with the&mdash;with the picture of&mdash;of that&mdash;that little boy&mdash;been abandoned by
					his mother and his father. They were no good. And&mdash;and by rights he should have
					been no good, too. But this man, Mr. Ernest, with all his ignorance, could see
					that&mdash;that here is a human being, and a human being is capable of anything if he
					has a chance to do it, and&mdash;and the story came out of the fact that this&mdash;this
					crabbed old bachelor would see this&mdash;this waif and suddenly say, He's too
					valuable to&mdash;to leave in the woods there. And the story was simply a matter of
					showing incidences to&mdash;to show the relationship between these two people, that
					this&mdash;this old man suddenly had seen a duty and was going to do it, that he
					didn't know&mdash;he'd probably never been to school himself, but he saw that
					something could be made out of this waif simply because that little waif was a
					human being.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.18">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:04.58:00',
					'endtime','00:24:30.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, in <span class="unclear tooltip" title="Text was unclear">[your
						own]</span> words, in the beginning we were showing the hunt, the way Mr.
					Ernest took the boy&mdash;this was showing how he's&mdash;he sort of took him in and how he
					took him on things that he&mdash;went <span class="unclear tooltip" title="Text was unclear">[hunting or things like that]</span>&mdash;and how he
					took him into his life?</p>
<p><span class="speaker">William Faulkner</span>Yes, and the interdependence. The man was deaf. He couldn't hear which
					way the dogs went. This little boy would ride behind him and say, "They went that
					way."</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.19">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:30.03:00',
					'endtime','00:25:39.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Well, then couldn't you perhaps
						put the&mdash;the part toward the end where he took the boy after
					his parents had gone away, first say, and then have the hunt come afterwards,
					after we know that the&mdash;that the man has taken the boy? <span class="unclear tooltip" title="Text was unclear">[And
						then]</span>&mdash;</p>
<p><span class="speaker">William Faulkner</span>Could, but I think that my way made a better story. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					That's&mdash;that's a matter of opinion, but I think
					that mine, to&mdash;for the payoff to come last, was a little more effective. If
					anything, it makes the story seem a little more condensed, shorter maybe.</p>
<p><span class="speaker">Unidentified participant</span>But you had first, in&mdash;in mind the ending <span class="unclear tooltip" title="Text was unclear">[how it
						was]</span>?</p>
<p><span class="speaker">William Faulkner</span>Yes, yes.</p>
<p><span class="speaker">Unidentified participant</span>When you wrote your&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes. Well, it was the relationship between these&mdash;these two people. It
					was a bizarre relationship. The&mdash;the story itself was&mdash;was simply an invention
					of&mdash;of anecdotes to tell the story, and they come out of&mdash;of the storehouse
					which&mdash;which any writer has of experience, of observation, of imagination, that
					he reaches around in his workbox and picks up whatever plank or board he will
					need.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.20">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:41.07:00',
					'endtime','00:26:14.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>You think it is always
						the&mdash;the little twist <span class="unclear tooltip" title="Text was unclear">[that]</span> comes from the imagination which
					really makes a kind of a story out of what <span class="unclear tooltip" title="Text was unclear">[is]</span> experienced,
					that the additional thing which is really not experience which shapes it into 
						some kind of story?</p>
<p><span class="speaker">William Faulkner</span>I would say so. That that has to be there. It's&mdash;it's something of&mdash;of&mdash;of
					gold in&mdash;in the imagination which takes the&mdash;the trite, familiar, even dull
					incident and&mdash;and gives&mdash;gives it a shine.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.21">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:16.30:00',
					'endtime','00:26:29.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>One small point, sir.
						<span class="unclear tooltip" title="Text was unclear">[Did]</span> you say a "bayou"? Is that what we 
					who don't live around them call a "bayou"?</p>
<p><span class="speaker">William Faulkner</span>Yes, they would've said "bayou."
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.22">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:31.37:00',
					'endtime','00:28:17.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>When you were talking about the education being so that he could learn
					not only what was right, but since he already knew what was right, were you
					being&mdash;was that supposed to be sort of comical?</p>
<p><span class="speaker">William Faulkner</span>No. This uneducated, ignorant man was fumbling after something which he
					had realized late in his life was not only true but important. That&mdash;that no man
					can be an island to himself, that you have a responsibility toward mankind. That
					is, you may do right because&mdash;through instinct, or because it's been beat into
					you, but that&mdash;that may be all right for you, but you have a responsibility
					toward people that have not been trained to do right. They've got to know why
					they must do right, and only education can give you the&mdash;the&mdash;the rhetoric,
					the&mdash;the&mdash;the capacity to think on your feet, to explain to the&mdash;to the ignorant, the
					intractable, why something is right, why he must do something because it's
					right. That was&mdash;in fact, the association with that child had&mdash;had done that much
					to the man. If they hadn't met, the man would have gone on and would have been
					content to&mdash;to be crabbed and ignorant and a&mdash;a&mdash;a hard farmer, to make a little
					money every year, but suddenly the responsibility of that child&mdash;that man, too,
					had entered the human race. In a way they were&mdash;were to be the salvation of one
					another, mutual salvation of one another.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.23">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:17.84:00',
					'endtime','00:29:33.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You think then that the boy will go to school?</p>
<p><span class="speaker">William Faulkner</span>I should think so, yes. He may&mdash;will probably never be a Phi Beta Kappa,
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but this man will&mdash;will see that he learns
					to read and write and&mdash;and with the hope, the idea that maybe once he learns to
					read he will of his own curiosity read enough to&mdash;to learn why man does right,
					himself.</p>
<p><span class="speaker">Unidentified participant</span>The&mdash;the boy then will be changed by going to school and the man will be
					changed also by having the responsibility of this orphan?</p>
<p><span class="speaker">William Faulkner</span>Well, the man would be changed by the responsibility of the orphan. The
					little boy, at that age, was pretty well started in the way he would go. All he
					needed was just an&mdash;an occasional prod and some directing, that already he
					was&mdash;was truthful and&mdash;and brave, and he was willing to&mdash;to give devotion,
					fidelity. All he needed was education, to learn to read, to&mdash;to&mdash;to know more of
					the history of his race. The man was probably changed more than that little boy
					was. The little boy was not changed so much as saved.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.24">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:35.14:00',
					'endtime','00:30:26.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Then were they hunting not only the deer but, in a way, themselves,
					too?</p>
<p><span class="speaker">William Faulkner</span>Well, of course, they didn't know that, but that's what they were
					finding. That is, the&mdash;the man had&mdash;in teaching the little boy that&mdash;that&mdash;that
					never to touch satiety was valid. Maybe he had never thought of that before,
					that his notion was to take the two weeks off and get out there and&mdash;and kill
					every deer that got up in front of him, until suddenly his responsibility for
					the little boy made him stop and think, Well, what is better, to just drag the
					dead meat in or&mdash;or to see the beautiful, splendid creature run
					 its native element?
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.25">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:30.53:00',
					'endtime','00:31:41.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I&mdash;I thought I heard a little bit of a wistfulness for the time when a man
					didn't have to do anything but farm and hunt, that maybe this&mdash;you said, "Time
					was when all man had to do was&mdash;was farm and hunt."</p>
<p><span class="speaker">William Faulkner</span>Surely, nobody really likes responsibility. It may be this man hated the
					fact that he couldn't stay in his home at night and go on to sleep and let that
					little boy, which he knew was&mdash;was lost and abandoned in a&mdash;in a hut in the woods,
					<span class="unclear tooltip" title="Text was unclear">[to]</span> shift for himself, but he couldn't. He had to go and get him. And, yes, he
					probably thought it, "I&mdash;I wish we could go on like it used to be, where people
					didn't have to be responsible, where a man could be an island unto himself." But
					once he realized that he couldn't, he realized that neither could this little
					boy, neither could any other human being, that the responsibility&mdash;the acceptance
					of the responsibility increased all of us, just like the refusal of it
					diminished all of us.
				</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio22_1.26">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio22_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:41.58:00',
					'endtime','00:31:56.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, would you say that that's a major flaw in your old southern
					families that you picture, like the Sartorises and the Compsons, that they keep back from 
					 mankind, and they act only for themselves and therefore turn in instead of
						out? <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio22_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio22_1.2" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio22_1.3" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio22_1.4" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio22_1.5" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio22_1.6" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio22_1.7" class="hidden">Story, Excerpt 6</a></li>
<li><a href="#wfaudio22_1.8" class="hidden">Story, Excerpt 7</a></li>
<li><a href="#wfaudio22_1.9" class="hidden">Story, Excerpt 8</a></li>
<li><a href="#wfaudio22_1.10" class="hidden">Story, Excerpt 9</a></li>
<li><a href="#wfaudio22_1.11" class="hidden">Story, Excerpt 10</a></li>
<li><a href="#wfaudio22_1.12" class="hidden">Story, Excerpt 11</a></li>
<li><a href="#wfaudio22_1.13" class="hidden">Story, Excerpt 12</a></li>
<li><a href="#wfaudio22_1.14" class="hidden">Story, Excerpt 13</a></li>
<li><a href="#wfaudio22_1.15" class="hidden">Story, Excerpt 14</a></li>
<li><a href="#wfaudio22_1.16" class="hidden">Segue</a></li>
<li><a href="#wfaudio22_1.17" class="hidden">Inventing the Story</a></li>
<li><a href="#wfaudio22_1.18" class="hidden">Mr. Ernest and the Boy</a></li>
<li><a href="#wfaudio22_1.19" class="hidden">Story's Structure</a></li>
<li><a href="#wfaudio22_1.20" class="hidden">The Imagination</a></li>
<li><a href="#wfaudio22_1.21" class="hidden">Pronouncing Bayou</a></li>
<li><a href="#wfaudio22_1.22" class="hidden">Human Responsibility</a></li>
<li><a href="#wfaudio22_1.23" class="hidden">Role of Education</a></li>
<li><a href="#wfaudio22_1.24" class="hidden">Hunting Themselves</a></li>
<li><a href="#wfaudio22_1.25" class="hidden">Growth and Loss</a></li>
<li><a href="#wfaudio22_1.26" class="hidden">Old Southern Families Q</a></li>
</ul></aside>
		
