
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio28_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 7 May 1958</h4>
<h4>OCCASION: Department of Psychiatry</h4>
<h4>TAPE: T-144a</h4>
<h4>LENGTH: 32:09</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.87:00',
					'endtime','00:00:37.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span> that there was a possibility of meeting with you, we
                    thought it might be an opportunity for us to get together and talk about some of
                    these <span class="unclear tooltip" title="Text was unclear">[things]</span>.</p>
<p><span class="speaker">William Faulkner</span>That's good. You'll find a complete amateur in me. I don't know whether
                    you can find anything in me that would interest the people in your
                    profession.</p>
<p><span class="speaker">Moderator</span>Well, I think that&mdash;that&mdash;that we've decided
                    maybe we're the amateurs in a great many respects. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:46.82:00',
					'endtime','00:03:10.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>From your people that you select&mdash;of course, they're unusual
                    people, in a way. Do you select the&mdash;them as unusual? Or is there a
                    type <span class="unclear tooltip" title="Text was unclear">[that seems to appeal to you]</span>?</p>
<p><span class="speaker">William Faulkner</span>I doubt if&mdash;if I know whether I select these people or they
                    select me. I think that the writer is&mdash;is trying to&mdash;to take
                    some comic or tragic moment of man in his struggle inside the human condition
                    and tell it in some form which other people would find comic or tragic.
                    I&mdash;as far as I know, I am dealing simply with people in
                    the&mdash;the condition that I have seen people.  That these people, to me,
                    seem quite sane and quite normal, even ones that&mdash;that are mad, seem to
                    me quite sane people. Probably that's because the writer has already accepted
                    the premise that the man believes he's Mahatma Gandhi, so when he lies on a
                    board full of tacks, he's a rational creature.</p>
<p><span class="speaker">Unidentified participant</span>By man <span class="unclear tooltip" title="Text was unclear">[do you mean]</span> society ?</p>
<p><span class="speaker">William Faulkner</span>Yes, sir. Yes, sir. The&mdash;the character in the book <em>As I Lay Dying</em>, 
                    Darl, one of the sons, was mad, as
                    society would call him mad. To me, he wasn't&mdash;wasn't mad. Or, that is,
                    I didn't set out to say, "Now, one of these brothers will have to be mad, so I
                    will invent a good mad one according to what I do know of the rules of
                    insanity." I was just writing about what was, to me, a&mdash;a pitiable,
                    tragic human being.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:13.50:00',
					'endtime','00:04:03.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>And you haven't had much experience in state hospitals or anything
                    ?</p>
<p><span class="speaker">William Faulkner</span>None whatever. None whatever. I think you don't need to go to state
                    hospitals to find people that society calls mad. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">Unidentified participant</span>There certainly seems to be a common denominator of interest. So often
                    the psychiatrist is interested in much of the same area of human function that
                    comes out in so-called madness or the&mdash;the different individuals
                        <span class="unclear tooltip" title="Text was unclear">[who crave these things]</span>. It seems to me a very definite
                    similarity in at least perception, interest, on the part of the novelist and the
                    psychiatrist, perhaps, in this vein.</p>
<p><span class="speaker">William Faulkner</span>I should agree with you.  Yes, sir.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:03.90:00',
					'endtime','00:06:25.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, could you say a few words about what you might consider as
                    irrational human behavior?</p>
<p><span class="speaker">William Faulkner</span>No, I couldn't. I've never tried to set up what might be a pattern for
                    me to measure irrational human behavior. To me, all human behavior
                    is&mdash;is unpredictable, and considering man's frailty the&mdash;in
                    the ramshackle universe he functions in, it's&mdash;it's all irrational. It
                    couldn't be very rational because his universe is not a very rational one, it
                    seems to me. I&mdash;I think that probably no writer would set himself up to
                    judge. If he had begun to judge the people he writes about, his&mdash;all
                    the&mdash;the&mdash;whatever the gods are that lets him do something
                    which is his cup of tea, he likes, might withdraw the gift. If he begins
                    to&mdash;to preach or&mdash;or proselytize or&mdash;or pass
                    judgment, that the fire might go out. Also, I think the&mdash;the writer is
                    not really interested in&mdash;in bettering man's condition. He really
                    doesn't care <span class="unclear tooltip" title="Text was unclear">[a damn]</span> about man's condition. He is interested
                    in all man's behavior, with no judgment whatever. That it's&mdash;it's
                    motion. It's life. The only alternative is&mdash;is nothingness, death. And
                    so, to the writer, anything man does is fine because it's motion. If he were not
                    doing that, he would be nothing. He'd be dead. Maybe the writer has no 
                    concept <span class="unclear tooltip" title="Text was unclear">[of morality]</span> at all, only an integrity to hold always to
                    what he believes to be the&mdash;the facts and truth of human behavior, not 
                    moral standards at all. But that man in his books does what man will do, not
                    what man should do, but what he will do, maybe what he can't help but do.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:25.46:00',
					'endtime','00:07:30.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Is the writer's motivation then simply just a portrayal of that which
                    most people see but perhaps don't take in?</p>
<p><span class="speaker">William Faulkner</span>Did you say the writer? No, I think that his aim is&mdash;is maybe
                    more specific. He simply wants to make something which wasn't here yesterday.
                    There's not much that he can do. He can take only the&mdash;the old
                    struggles of man within the human predicament, and by showing it slightly awry
                    or with some faint new light from an individual perception,
                    make something which was a little different from what was here before. That is,
                    what&mdash;what the writer ahead of him did. There's nothing new he can
                    write about. I think that's maybe the&mdash;the writer's denial
                    of&mdash;of mortality, of death, that he's going to write on the wall,
                    "Kilroy was here."</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:33.37:00',
					'endtime','00:10:08.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Theoretically, the psychiatrist also does not make judgments. He
                    <span class="unclear tooltip" title="Text was unclear">[essentially]</span> takes man as he is, and life as it is, and tries to understand him.
                    And yet  we think that we would be kidding ourselves if we  <span class="unclear tooltip" title="Text was unclear">[do
                        nevertheless]</span> look at these
                    things from our own perspective, and certainly when&mdash;when the idea
                    comes in of trying to do anything about it, which the writer doesn't do and
                    which we do actually do attempt to do as we attempt to better the situation,
                    you've got to think in terms of bettering it to what aim or what goal, and those
                    are essentially the goals that we, ourselves, will hold at the&mdash;at the
                    present time or at any given time. Can a writer really avoid personal judgment
                    or value systems or &mdash;?</p>
<p><span class="speaker">William Faulkner</span>He can, as long as he is a writer. I think that&mdash;that a writer
                    is a&mdash;a perfect case of split personality, that he is one thing while
                    he is a writer, and he is something else while he's a&mdash;a&mdash;a
                    denizen of&mdash;of the world. It may be that&mdash;that that's
                    not&mdash;that he can't be rid of that split, that&mdash;that maybe he
                    has a hope that what he does may improve man in the sense that it will give to
                    man some instance of&mdash;of man's fine record, being fragile and frail
                    and&mdash;and not his own boss by any manner of means,
                    yet out of that he has managed to somehow to endure, to have accomplished a
                    few things which have lasted. Maybe, in that sense, the writer has got to work
                    for man's betterment, even if he is not deliberately trying to. I think that, in
                    a way, the&mdash;the psychiatrist is doing that too. That&mdash;I
                    imagine a psychiatrist in&mdash;with one human being could learn about all
                    he would need to know about what makes man do what he does, and he would stop
                    then, and since he will devote his life to it, he must have some thought that
                    somehow he will improve, in the end, man's condition.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:10.86:00',
					'endtime','00:11:18.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What is your idea of what makes man do what he does?</p>
<p><span class="speaker">William Faulkner</span>I think that man is trying to do what he does because he wants to, that
                    he himself does not always know why he wants to, but it&mdash;it makes him
                    feel good. It makes his glands function right. People do foolhardy, reckless,
                    dangerous things because it makes the glands flow good, makes them feel good. I
                    think that man is&mdash;is not a gambler just to get a lot of money, that he
                    gets some pleasure. His system works good when he is engaged in taking chance
                    for money or using his skill to gain money. The money is just a symbol of it. I
                    think he would be a gambler if he were&mdash;had to gamble for matches. I
                    would say that man does what he does because he wants to.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:23.74:00',
					'endtime','00:12:09.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Wilson</span>You don't have a&mdash;any idea of <span class="unclear tooltip" title="Text was unclear">[the subconscious,
                        something going on]</span> ?</p>
<p><span class="speaker">William Faulkner</span>No, sir, I don't. Only what I have&mdash;have learned about it from
                    listening to people that do know. What little of psychology I know, the
                    characters I have invented and playing poker have taught me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But Freud I'm&mdash;I'm not familiar
                    with.</p>
<p><span class="speaker">Unidentified participant</span>You apparently believe in <span class="unclear tooltip" title="Text was unclear">[human]</span> extra sensory
                    perception, though, don't you?</p>
<p><span class="speaker">William Faulkner</span>Yes, I probably depend almost completely on it. I don't
                    have&mdash;have a trained mind. I've got to depend on extra sensory
                    perception.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:34.90:00',
					'endtime','00:14:22.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Would you tell us something perhaps about your acquaintanceship with some
                    of the people that  have been the&mdash;the prototypes for the characters in
                    your writing? I'm just wondering how you got to know them so well, to
                    have been able to pick their thoughts. I think this is related to Dr. Wilson's
                    idea about the subconscious.</p>
<p><span class="speaker">William Faulkner</span>Yes, sir. That would be through a&mdash;a&mdash;an unflagging
                    curiosity about people, interest in what people are doing, how they do it, and
                    what they say. Not with any desire to study people or to store up material to
                    work from, but out of simple curiosity, I reckon. Though it&mdash;it may be
                    that no man could be that&mdash;that disinterested in the material he works
                    from. Maybe that any writer's something like a packrat. He gathers up every
                    scrap he sees on the chance that someday he may need it, and sure enough, there
                    it is. The characters, I think, are composite of experience, observation and
                    imagination, but nobody could say just how much of which goes into it. I'm
                    convinced, though, that no writer's going to be satisfied just to&mdash;to
                    write&mdash;use people as he saw them, because he's convinced that he can do
                    a better job of creating credible people than the Lord can. He can always
                    improve on <span class="unclear tooltip" title="Text was unclear">[it.]</span> And he's also probably a congenital liar.
                    That's why they call it fiction, I suppose. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> He
                    probably couldn't tell the truth on any subject.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:24.03:00',
					'endtime','00:14:40.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you actually make notes of people who arouse your curiosity?</p>
<p><span class="speaker">William Faulkner</span>No, sir. Never did any research, never made any notes. I have a lot of
                    faith in my memory. If I can't remember it, it wasn't worth keeping anyway,
                    probably. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:43.33:00',
					'endtime','00:15:28.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, as I understand it&mdash;correctly when you said that
                    you thought the psychiatrist took a man and was capable of knowing him well
                    enough or understanding him well enough, he would know about the nature of man
                    more as&mdash;as much as that you would otherwise, for example studying
                    people as a group or as a culture?</p>
<p><span class="speaker">William Faulkner</span>I would assume so. But then I&mdash;I don't know. I'm ignorant. As I
                    say, I have no training in psychology, psychiatry. I would assume that
                    psychiatrists could learn as much about man from one man as a surgeon could
                    about man from one cadaver. That's probably wrong, but that's my assumption.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:28.43:00',
					'endtime','00:16:14.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How much influence in&mdash;for example, in your portrayal and
                    creation of people, how much influence does&mdash;does a given culture have
                    in determining this person that you make or write about?</p>
<p><span class="speaker">William Faulkner</span>It'd have a great deal of influence, but&mdash;but mostly on the
                    surface. It would influence his idioms, his&mdash;his surface actions,
                    his&mdash;his manners. But I would say if you went deep enough, he would
                    look a good deal like the same individual of his&mdash;his age and physical
                    condition in some African culture.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:24.92:00',
					'endtime','00:17:43.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>You don't deliberately use symbolism, <span class="unclear tooltip" title="Text was unclear">[do you]</span>?</p>
<p><span class="speaker">William Faulkner</span>I suspect the writer's too busy to deliberately use anything, even good
                    grammar.  That he is simply trying to get something down, and he
                    has&mdash;he's completely immoral. He will rob and steal from any source he
                    finds, just like the packrat, against the day when maybe he'll need it. And writing
                    out of a culture, which&mdash;which has certain symbols, in time he will
                    reproduce those symbols without any deliberation. That's not himself, not his
                    own erudition. It was simply the culture, which he&mdash;which was the
                    environment he grew up in, and maybe something of <span class="unclear tooltip" title="Text was unclear">[its residue]</span>
                    which produced <span class="unclear tooltip" title="Text was unclear">[it]</span>. But I think any writer's too busy dealing
                    with people, and&mdash;and people are incredible and in motion. All the
                    writer can do once the characters come to life is to&mdash;to run at top
                    speed behind them and try to put down everything they do and say before they get
                    out of sight, out of hearing, that he hasn't got time to&mdash;to use
                    symbols deliberately.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:46.77:00',
					'endtime','00:19:26.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Most of your characters are]</span> certainly highly
                    individualized human beings. Do you have any particular ideas on the
                    so-called trend toward conformity or loss of individualization in our current
                    society?</p>
<p><span class="speaker">William Faulkner</span>Yes. I have very definite ideas about that, and if I ever become
                    a&mdash;a preacher, it will be to preach against man, individual man,
                    relinquishing into groups, any group. I'm&mdash;I'm against belonging to
                    anything. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Of course, when&mdash;when I was
                    young, I belonged to young people's fraternities and things like that, but now I
                    don't want to belong to anything except the human race.</p>
<p><span class="speaker">Unidentified participant</span>Why is that?</p>
<p><span class="speaker">William Faulkner</span>I think that there's too much pressure to make people conform, and I
                    think that&mdash;that one man may be first-rate, but if you get one man and
                    two second-rate men together then he's not going to be first-rate any longer
                    because the&mdash;the&mdash;the voice of that majority will be a
                    second-rate voice. The behavior of that majority will be second-rate. And I
                    think that a second-rate man to <span class="unclear tooltip" title="Text was unclear">[state]</span> himself at least won't
                    be third grade. But no second-rate man is going to become first-rate just by
                    joining one or two more first-rate people.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:26.44:00',
					'endtime','00:20:41.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Could you go further and say how you rate people like that, for instance
                    second-rate?</p>
<p><span class="speaker">William Faulkner</span>Well, sir, that would be a little difficult and maybe a little trite. I
                    would say that&mdash;that a first-rate man is one&mdash;is a man that
                    did the best he could with what talents he had to make something which wasn't
                    here yesterday and also to&mdash;that never hurt an inferior, never harmed
                    the weak, practiced honesty and courtesy and tried to be as brave as he
                        wanted to be whether he always was that brave or not. I
                    think that a man that&mdash;that held to&mdash;to those tenets wouldn't
                    get very far if he were involved in a&mdash;a group of people that had
                    relinquished their individualities to some one voice which would&mdash;could
                    control their behavior.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:44.21:00',
					'endtime','00:22:27.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you feel like&mdash;that man is, you might say, by
                    nature, first-rate or second-rate <span class="unclear tooltip" title="Text was unclear">[and]</span> influences or
                    circumstances lead to he being what he is? By nature being
                    one&mdash;being other&mdash;in other words, man, by nature,
                    has to pull himself up or&mdash;to first-rate&mdash;being a first-rate
                    person or man, by nature, would be a first-rate person, and some are pulled down
                    to being second-rate people?</p>
<p><span class="speaker">William Faulkner</span>I would say that he would have to pull himself up to be what I have
                    premised as a first-rate human being, that the child is not born a first-rate
                    human being, in that sense, because the child is still a savage until
                    it&mdash;well, until a little boy is not civilized until
                    he&mdash;about thirteen or fourteen when he falls in love with his teacher.
                    She teaches him to wash his face, behave like a member of the human race. I
                    don't believe that all people are&mdash;are born equal, if that's what you
                    mean, that they are all&mdash;people are not born second-rate or tenth-rate,
                    that some people may be incapable of ever becoming first-rate. But that would be
                    from possibly&mdash;yes, it would have to be heredity because environment
                    could be changed, and if all&mdash;if there was only environment that held
                    people second-rate that <span class="unclear tooltip" title="Text was unclear">[could]</span> be changed, but some people are
                    born incapable of being first-rate.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:37.41:00',
					'endtime','00:24:47.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>This freedom that you insist on interests me a great deal. It seems to me
                    that that's where much of psychiatry goes astray, is in loss of&mdash;of
                    freedom to think and act and so forth as we would if we were totally free or, as
                    you say, relinquish our individuality. Aside from <span class="unclear tooltip" title="Text was unclear">[joining the things,
                        though]</span>, do you find&mdash;find that it's a constant path of
                    maintaining freedom or is&mdash;is it something that comes natural to you.
                    In other words, are you a natural rebel against convention or conformity?</p>
<p><span class="speaker">William Faulkner</span>I don't know whether I believe there's such things as a natural rebel. I
                    think that man's impulse&mdash;that man really doesn't want to be free, that
                    he is willing to relinquish his freedom to anyone that will give him bread and
                    circuses, that it takes a certain amount of education or precept by someone
                    older and wiser to make a&mdash;a young man value freedom enough to struggle
                    for it. It's very easy for him to submit to the constant pressure from the
                    people who have got to sell him something in order to keep an economy of waste
                    in motion like ours. To be free, he's an anachronism. He's
                    against&mdash;he's a fly in their ointment. And whether he had
                    a&mdash;an impulse to be free, that impulse will not be enough in a young
                    man against all the concerted, organized pressure to make him relinquish freedom
                    into the hands of whoever runs the finance company that collects on his
                    automobile or&mdash;or compels him to be married in order to sell
                    a&mdash;another dishwashing machine to somebody.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:49.57:00',
					'endtime','00:26:19.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How long do you think that&mdash;if we know an individual's
                    experiences&mdash;I mean, which is very difficult to do, but if we just say
                    that ideally we know all these <span class="unclear tooltip" title="Text was unclear">[experiences]</span> that a person
                    has&mdash;have, don't you think that we can predict his behavior?</p>
<p><span class="speaker">William Faulkner</span>I would think if anybody could predict his behavior, it would be the
                    psychologist, the psychiatrist.</p>
<p><span class="speaker">Unidentified participant</span>I mean, don't you think that a person, what he does, is based on the way
                    he has been <span class="unclear tooltip" title="Text was unclear">[raised]</span>,, the experiences he has had in the past?
                    Are they <span class="unclear tooltip" title="Text was unclear">[formative]</span> of his conduct, of what he does or what he
                    says?</p>
<p><span class="speaker">William Faulkner</span>I was&mdash;to an extent, and&mdash;and also, to an extent, what
                    he does at the moment is&mdash;is&mdash;his environment is responsible
                    for it.  That he would have impulses which&mdash;which his heredity may have
                    taught him to keep down, but his environment may have released him from the
                    prohibition. That if you change his environment, he&mdash;he might behave
                    differently. It wouldn't alter what he wanted to do, but probably any morality
                    is simply a system of&mdash;of&mdash;of enabling a man to say "don't" to
                    himself.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:20.91:00',
					'endtime','00:28:07.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>With this loss of freedom and conformity, materialism, and so forth, how
                    optimistic or pessimistic do you feel about our current culture, as we see it
                    today?</p>
<p><span class="speaker">William Faulkner</span>Well, pessimism is&mdash;I wouldn't&mdash;don't like to accept
                    that term because I have a great belief in man. He has survived the dinosaur,
                    and I am convinced he will survive his atom bombs. I am convinced that the last
                    sound on earth will be two people building an air ship arguing about where
                    they're going next. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I have a great faith in
                    man.</p>
<p><span class="speaker">Unidentified participant</span>More specifically, in terms of our west&mdash;so called western
                    culture?</p>
<p><span class="speaker">William Faulkner</span>It's a&mdash;an unpleasant one. It's a&mdash;a&mdash;a
                    nuisance to have to live through, but the only alternative is to get out if it,
                    and you can't. 
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It won't last any more than the other
                    cultures. And this one, as soon as we have used up the last of the natural
                    resources, we will have another one. This is&mdash;we are living in an
                    economy of waste, to buy a new one next year. We clutter the earth up with the
                    automobiles and washing machines we turned in in order to buy a new one, and
                    that may create jobs, and maybe the scientists will invent some way to vaporize
                    all these things. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And that'll be something for
                    General Motors. They could have a gas that would vaporize every car in the
                    street <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and leave us sitting there
                    with&mdash;with the steering wheel in your hand, nothing <span class="unclear tooltip" title="Text was unclear">[behind
                        you]</span>  <span class="unclear tooltip" title="Text was unclear">[start all over again]</span>. It's that or finally choke the earth
                    up and build a roof over it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:10.24:00',
					'endtime','00:28:23.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>You're writing a novel now, I guess. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, I just said&mdash;said that the writer don't ever stop. People
                    ask me what time of day I work, and I say, "All the time." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:23.40:00',
					'endtime','00:29:59.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, let me ask you to discuss very briefly the character of Monk, in
                    light of his freedom and inevitability  <span class="unclear tooltip" title="Text was unclear">[and so on]</span>?</p>
<p><span class="speaker">William Faulkner</span>Monk, he was the&mdash;it's&mdash;I don't re-read this, and
                    I'm&mdash;I'll have to remember just who Monk was. Right now
                    I&mdash;</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[I thought it was]</span> one of the short stories .</p>
<p><span class="speaker">William Faulkner</span>Oh, yes, the one that&mdash;that went to the penitentiary, was sent
                    to the penitentiary. Well, he was a&mdash;a&mdash;probably a moron that
                    just wanted to&mdash;to get along, just wanted enough to eat, and probably
                    liked for people to speak kindly to him. He got involved in&mdash;in a crime
                    which he didn't commit, was sent to the penitentiary, and was used as a tool by
                    an evil man that wanted to get revenge on the warden. He was innocent, and
                    innocence possibly has no safe place in this world, that you can't be that
                    innocent and survive in it, that you've got to have a little of evil in your
                    nature to cope with <span class="unclear tooltip" title="Text was unclear">[the]</span> world <span class="unclear tooltip" title="Text was unclear">[and]</span>
                    mankind.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:05.18:00',
					'endtime','00:30:39.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span> do you think that man changes <span class="unclear tooltip" title="Text was unclear">[chiefly through]</span>
                    economic changes, that educational measures, for example, have rather little
                    impact ?</p>
<p><span class="speaker">William Faulkner</span>No, I think that&mdash;that he withstands economic changes pretty
                    well. The only thing that will&mdash;will help him, will change him, in my
                    opinion, is education. If we ever do get education in this country. I mean
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> the&mdash;the
                        <span class="unclear tooltip" title="Text was unclear">[schools]</span> that&mdash;that children go to. That that
                    is&mdash;that is the hope.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:41.17:00',
					'endtime','00:31:42.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Some of us have been very interested in the psychological aspects of
                    segregation. I should be interested to know whether you believe that hope for
                    that problem lies in education?</p>
<p><span class="speaker">William Faulkner</span>I think if we improve the schools, integration of schools would solve
                    itself. I think that if the schools were up to the standard of the best that
                    went there, only the best could stay and the ones that <span class="unclear tooltip" title="Text was unclear">[went
                        in]</span> would be so busy working they wouldn't have time to bother about
                    what color who was sitting next to them. And I&mdash;my hope is, that all
                    this uproar over integration will improve schools to that point. To get rid of
                    the emotional problem, the old folks will probably have to die off. The tragedy
                    is that right now white people and colored people simply do not like and trust
                    each other.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_1.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:52.96:00',
					'endtime','00:32:02.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What are the greatest defects that you see in our current education
                    system other than this mediocrity <span class="unclear tooltip" title="Text was unclear">[and]</span> mass leveling
                        thing? <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio28_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio28_1.2" class="hidden">Eccentric Characters</a></li>
<li><a href="#wfaudio28_1.3" class="hidden">Experience with Madness</a></li>
<li><a href="#wfaudio28_1.4" class="hidden">Irrationality</a></li>
<li><a href="#wfaudio28_1.5" class="hidden">Writer's Aim</a></li>
<li><a href="#wfaudio28_1.6" class="hidden">Making Judgments</a></li>
<li><a href="#wfaudio28_1.7" class="hidden">Human Motives</a></li>
<li><a href="#wfaudio28_1.8" class="hidden">The Subconscious</a></li>
<li><a href="#wfaudio28_1.9" class="hidden">Character Prototypes</a></li>
<li><a href="#wfaudio28_1.10" class="hidden">Observing People</a></li>
<li><a href="#wfaudio28_1.11" class="hidden">One Person v People</a></li>
<li><a href="#wfaudio28_1.12" class="hidden">Cultural Conditioning</a></li>
<li><a href="#wfaudio28_1.13" class="hidden">Symbolism</a></li>
<li><a href="#wfaudio28_1.14" class="hidden">Modern Conformity</a></li>
<li><a href="#wfaudio28_1.15" class="hidden">Second-Rate People</a></li>
<li><a href="#wfaudio28_1.16" class="hidden">Innate Character</a></li>
<li><a href="#wfaudio28_1.17" class="hidden">Freedom</a></li>
<li><a href="#wfaudio28_1.18" class="hidden">Predicting Behavior</a></li>
<li><a href="#wfaudio28_1.19" class="hidden">Future of Culture</a></li>
<li><a href="#wfaudio28_1.20" class="hidden">Work in Progress</a></li>
<li><a href="#wfaudio28_1.21" class="hidden">Monk</a></li>
<li><a href="#wfaudio28_1.22" class="hidden">Human Change</a></li>
<li><a href="#wfaudio28_1.23" class="hidden">Segregation v Education</a></li>
<li><a href="#wfaudio28_1.24" class="hidden">Education [part 1]</a></li>
</ul></aside>
        
