<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio14_1.1">Stream-of-Consciousness</a>
    </li>
    <li>
      <a href="#wfaudio14_1.2">A Brooding Concern</a>
    </li>
    <li>
      <a href="#wfaudio14_1.3">Simplicity v Complexity</a>
    </li>
    <li>
      <a href="#wfaudio14_1.4">Beginnings as a Writer</a>
    </li>
    <li>
      <a href="#wfaudio14_1.5">The Writer's Freedom</a>
    </li>
    <li>
      <a href="#wfaudio14_1.6">Critical Interpretations</a>
    </li>
    <li>
      <a href="#wfaudio14_1.7">Dramatization of Requiem</a>
    </li>
    <li>
      <a href="#wfaudio14_1.8">Pronouncing Yoknapatawpha</a>
    </li>
    <li>
      <a href="#wfaudio14_1.9">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio14_1.10">Mental Cases</a>
    </li>
    <li>
      <a href="#wfaudio14_1.11">Compassion</a>
    </li>
    <li>
      <a href="#wfaudio14_1.12">The Negro in the South</a>
    </li>
    <li>
      <a href="#wfaudio14_1.13">Integrating Mississippi</a>
    </li>
    <li>
      <a href="#wfaudio14_1.14">His Greatest Book</a>
    </li>
    <li>
      <a href="#wfaudio14_1.15">Television v Movies</a>
    </li>
    <li>
      <a href="#wfaudio14_1.16">Ernest Hemingway</a>
    </li>
    <li>
      <a href="#wfaudio14_1.17">The Younger Generation</a>
    </li>
    <li>
      <a href="#wfaudio14_1.18">John Steinbeck</a>
    </li>
    <li>
      <a href="#wfaudio14_1.19">Favorite Books</a>
    </li>
    <li>
      <a href="#wfaudio14_1.20">Influences</a>
    </li>
    <li>
      <a href="#wfaudio14_1.21">Modern Classics</a>
    </li>
    <li>
      <a href="#wfaudio14_1.22">Measuring Success</a>
    </li>
    <li>
      <a href="#wfaudio14_1.23">Human Survival</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio14_1.1"/>
  <p> I think that nobody can say, "I'm going to use 
                        stream-of-consciousness as my method for writing." That's&#x2014;that's wrong. He'd get
                    into trouble. He must use that simply as a tool, only when nothing else will do
                    the work. It's much better to show the character in familiar terms
                    of&#x2014;of action, of speech, but sometimes that's not sufficient. Then you
                    have to use another tool, just as at times the carpenter realizes that his
                    familiar tool is not quite enough to do what he wants to do, so he's got to stop
                        and make something, make a tool to use.</p>
</div>
<div class="section">
  <a name="wfaudio14_1.2"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio14_1.4"/>
  <p>Mr. Faulkner, I was speaking to somebody and they mentioned the
                    fact that one of the Adams, or I don't know who, as a young
                    boy of nine seemed to have the future weight of the world on his
                    shoulder&#x2014;shoulders. As a young child, did you show this great genius
                    or future genius?  Did you write or did your
                    mother and father know that you were going to be a great writer some day? What
                    indications were there that you were&#x2014;? </p>
</div>
<div class="section">
  <a name="wfaudio14_1.5"/>
  <p>Mr. Faulkner, to what extent can a professional writer call his own
                    shots? Do you feel that the publisher senses what your
                        public expects you to write and puts
                    the pressure on you to write a certain way?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.6"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.7"/>
  <p>Mr. Faulkner, what was your reaction to the Greek production of Requiem for a Nun?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.8"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.9"/>
  <p>Mr. Faulkner, in line with the question about the sometimes
                    incomprehensibility of the novels to the average reader, I will confess it took
                    a little more than three years to read The Sound and the
                        Fury, not only because at first I found it difficult to understand, but
                    because later, as I did begin to understand it, I found it very strong stuff,
                        really stronger than I could&#x2014;could take all at once, and I wondered how long it took
                    you to write this.</p>
</div>
<div class="section">
  <a name="wfaudio14_1.10"/>
  <p>I bet it was a rewarding experience to keep at it. I
                        wondered, too, as I've noticed evidences of&#x2014;of characters of&#x2014;in various
                    works of yours of mental instability of one kind or another. For instance, the
                    idiot in The Sound and the Fury, and then I remember
                        a&#x2014;a&#x2014;an old woman who kept the body of her murdered lover for years and
                    years and  maybe that was one of your short stories.</p>
</div>
<div class="section">
  <a name="wfaudio14_1.11"/>
  <p>Does it give the author as much pain as it does the reader to produce
                    scenes such as when Caddy wanted to see her baby and Jason just drove by?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.12"/>
  <p>Mr. Faulkner, how do you feel about the Negro in the
                        South?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.13"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.14"/>
  <p>Mr. Faulkner, which book do you consider to be your greatest book?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.15"/>
  <p>Mr. Faulkner, you've written for both TV and motion pictures. I wondered
                    which medium you would prefer to work with?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.16"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.17"/>
  <p>Mr. Faulkner, can you keep up with the younger generation, the  and
                    all the younger people, and what the young people are doing? Or is that too
                        important?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio14_1.19"/>
  <p>Sir, what are some of your favorite books?</p>
</div>
<div class="section">
  <a name="wfaudio14_1.20"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.21"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.22"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio14_1.23"/>
  <p> all the horror, and difficulty,
                        pessimism&#x2014;a lot of pessimism in the world
                    today. Do you sort of take a dim view of the human race surviving, or do you
                    think we'll go on forever and ever and ever?</p>
</div>
