
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio31read.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 15 May 1958</h4>
<h4>OCCASION: At Washington &amp; Lee University</h4>
<h4>TAPE: T-146</h4>
<h4>LENGTH: 5:45</h4>
<h4>FAULKNER READING FROM The Town</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio31">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio31read.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:41.92:00',
					'endtime','00:07:26.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
					There is a ridge; you drive on beyond Seminary Hill and
						in time you come upon it: a mild unhurried farm road presently mounting to
						cross the ridge and on to join the main highway leading from Jefferson to
						the world. And now, looking back and down, you see all Yoknapatawpha in the
						dying last of day beneath you. There are stars now, just pricking out as you
						watch them among the others already coldly and softly burning; the end of
						day is one vast green soundless murmur up the northwest toward the zenith.
						Yet it is as though light were not being subtracted from earth, drained from
						earth backward and upward into that cooling green, but rather had gathered,
						pooling for an unmoving moment yet, among the low places of the ground so
						that ground, earth itself is luminous and only the dense clumps of trees are
						dark, standing darkly and immobile out of it. 
						Then, as though at signal, the
						fireflies&mdash;lightning-bugs of the Mississippi child's
						vernacular&mdash;myriad and frenetic, random and frantic, pulsing; not
						questing, not quiring, but choiring as if they were tiny incessant
						appeaseless voices, cries, words. And you stand suzerain and solitary above
						the whole sum of your life beneath the incessant ephemeral spangling. First
						is Jefferson, the center, radiating weakly its puny glow into space; beyond
						it, enclosing it, spreads the County, tied by the diverging roads to that
						center as is the rim to the hub by its spokes, yourself detached as God
						Himself for this moment above the cradle of your nativity and of the men and
						women who made you, the record and chronicle of your native land proffered
						for your perusal in ring by concentric ring like the ripples on living water
						above the dreamless slumber of your past; you to preside unanguished and
						immune above this miniature of man's passions and hopes and
						disasters&mdash;ambition and fear and lust and courage and abnegation
						and pity and honor and sin and pride all bound, precarious and ramshackle,
						held together by the web, the iron-thin warp and woof of his rapacity but
						withal yet dedicated to his dreams. 
						They are all here, supine beneath you, stratified and
						superposed, osseous and durable with the frail dust and the
						phantoms&mdash;the rich alluvial river-bottom land of old Issetibbeha,
						the wild Chickasaw king, with his Negro slaves and his sister's son called
						Doom who murdered his way to the throne and, legend said (record itself said
						since there were old men in the county in my own childhood who had actually
						seen it), stole an entire steamboat and had it dragged intact eleven miles
						overland to convert into a palace proper to aggrandise his state; the same
						fat black rich plantation earth still synonymous of the proud fading white
						plantation names whether we&mdash;I mean of course they&mdash;ever
						actually owned a plantation or not: Sutpen and Sartoris and Compson and
						Edmonds and McCaslin and Beauchamp and Grenier and Habersham and Holston and
						Stevens and De Spain, generals and governors and judges, soldiers (even if
						only Cuban lieutenants) and statesmen failed or not, and simple politicians
						and over-reachers and just simple failures, who snatched and grabbed and
						passed and vanished, name and face and all. Then the roadless, almost
						pathless perpendicular hill-country of McCallum and Gowrie and Frazier and
						Muir translated intact with their pot stills and speaking only the old
						Gaelic and not much of that, from Culloden to Carolina, then from Carolina
						to Yokpatawpha still intact and not speaking much of anything except now
						they called the pots "kettles" though the drink (even I can remember this)
						was still usquebaugh; then and last on to where Frenchman's Bend lay beyond
						the southeastern horizon, cradle of Varners and ant-heap for the northeast
						crawl of Snopes.
						And you stand there&mdash;you, the old man, already
						white-headed (because it doesn't matter if they call your gray hairs
						premature because life itself is always premature which is why it aches and
						anguishes) and pushing forty, only a few years from forty&mdash;while
						there rises up to you, proffered up to you, the spring darkness, the
						unsleeping darkness which, although it is of the dark itself, declines the
						dark since dark is of the little death called sleeping. Because look how,
						even though the last of west is no longer green and all of firmament is now
						one unlidded studded slow-wheeling arc and the last of earth-pooled
						visibility has drained away, there still remains one faint diffusion, since
						everywhere you look about the dark panorama you still see them, faint as
						whispers: the faint and shapeless lambence of blooming dogwood returning
						loaned light to light as the phantoms of candles would.
						And you, the old man, standing there while there rises
						to you, about you, suffocating you, the spring dark peopled and myriad, two
						and two seeking never at all solitude but simply privacy, the privacy
						decreed and created for them by the spring darkness, the spring weather, the
						spring which an American poet, a fine one, a woman and so she knows, called
						girls' weather and boys' luck. Which was not the first day at all, not Eden
						morning at all because girls' weather and boys' luck is the sum of all the
						days: the cup, the bowl proffered once to the lips in youth and then no
						more; proffered to quench or sip or drain that lone one time and even that
						sometimes premature, too soon. Because the tragedy of life is, it must be
						premature, inconclusive and inconcludable, in order to be life; it must be
						before itself, in advance of itself, to have been at all.
					
					</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio31" class="hidden">Reading</a></li></ul></aside>
		
