<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio18_3.1">Light in August</a>
    </li>
    <li>
      <a href="#wfaudio18_3.2">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio18_3.3">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio18_3.1"/>
  <p> the&#x2014;and from&#x2014;from Greece, from Olympus in it somewhere. It lasts just for a
                    day or two, then it's gone, but every year in August that occurs in our
                        country, and that's all that title meant.  It was just&#x2014;to
                    me a&#x2014;a pleasant, evocative title because it&#x2014;it reminded me
                    of&#x2014;of that time, of a luminosity older than our Christian
                    civilization. Maybe the connection was with Lena Grove who had something of that
                        pagan quality of&#x2014;of being able to&#x2014;to assume everything, the desire
                    for&#x2014;for that child. She was never ashamed of that child, whether it
                    had any father or not. She was simply going to follow the conventional laws of
                    the time in which she was and find its father. But as far as she was concerned,
                    she didn't especially need the father for it, any more than the&#x2014;than
                    the women that&#x2014;on whom Jupiter begot children were anxious for a home
                    and a father. It was enough to have had the child. And that was all that meant,
                        just that luminous, lambent quality of an older light than ours.</p>
</div>
<div class="section">
  <a name="wfaudio18_3.2"/>
  <p>Is ""Rose for Emily" all fiction?</p>
</div>
<div class="section">
  <a name="wfaudio18_3.3"/>
  <p>Mr. Faulkner, we're all very grateful to you for coming this
                    afternoon. I want to thank you so much.</p>
</div>
