
            <section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 9 March 1957</h4>
<h4>OCCASION: Undergraduate Class in Contemporary Literature</h4>
<h4>TAPE: T108-T109</h4>
<h4>LENGTH: 22:21 (reading of "Was" not transcribed)</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio03.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:09.72:00',
					'endtime','00:28:15.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator</div>Mr. Faulkner will answer questions <span class="unclear tooltip" title="Text was unclear">[now]</span>. We will have a number of them
                        on "Was," preferably.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:19.36:00',
					'endtime','00:29:41.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, a fyce plays a minor part in "Was" and in a few more of your
                    stories, I believe. Well, is a fyce just a mongrel or is he an
                    out-of-the-ordinary mongrel that you might equate with the primitive?</p>
<p><div class="speaker">William Faulkner</div>He is&mdash;in our Mississippi jargon, he is any small dog, usually
                    he was a fox or rat terrier at one time that has gotten mixed up with hound,
                    with bird-dog, everything else, but any small dog in my country is called a
                    fyce.</p>
<p><div class="speaker">Unidentified participant</div>Can we look upon him as representing the primitive, such as the bear and
                    the forest?</p>
<p><div class="speaker">William Faulkner</div>No, he's the&mdash;in a way, the&mdash;the&mdash;the antithesis of the bear. The bear
                        represented the obsolete primitive. The fyce represents the&mdash;the creature who has
                    coped with environment and is still on top of it, you might say. That he
                        has&mdash;instead of sticking to his breeding and&mdash;and becoming a&mdash;a decadent,
                    degenerate creature, he has mixed himself up with the good stock where he picked
                    and chose. And he's quite smart.  He's quite brave. All's against him is his
                    size. But I never knew a fyce yet that realized that he wasn't as big as
                    anything else he ever saw, even a bear. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:43.50:00',
					'endtime','00:30:54.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, into what strata would these people fit&mdash;Mr.
                    Hubert and Miss Sophonsiba ?</p>
<p><div class="speaker">William Faulkner</div>They were the aristocracy of provincial Mississippi at that time. It was
                    still frontier. In Natchez they had the fine Empire furniture. People
                    had&mdash;they spent their money on <em>objets-d'art</em> from
                    Europe, furnishings and fine clothes. In&mdash;in the country, these people, they were
                    aristocracy, but they were still frontier, they were still the&mdash;the tall man with the
                    long rifle, in a way. That even their splendor was a little on the&mdash;the slovenly
                    side, that they went through the motions of&mdash;of living like dukes and princes but
                    their life wasn't too different from the man who lived in a mud-floored hovel.
                    No, they represented the aristocracy.  They were the wealthy, the men of power,
                    the owners of slaves. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:55.34:00',
					'endtime','00:31:50.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Could you explain the significance of the title "Was"?</p>
<p><div class="speaker">William Faulkner</div>Yes, I was&mdash;this was the first chapter in a book. The book was
                    composed of short stories. It covered a&mdash;a great deal of time. The central
                    character in the book was a man named Isaac McCaslin, who was old at the time of
                    the book. But this background which produced Isaac McCaslin had to be told by
                    somebody, and so this is Isaac McCaslin's uncle.  This Cass here is not old Ike,
                    this is Ike's uncle. And "Was" simply because Ike is saying to the reader, "I'm
                    not telling this, this was my uncle, my great-uncle that told it." That's the
                    only reason for "Was," that this was the old time. But it's part of
                    him, too.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:54.50:00',
					'endtime','00:32:15.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, does the presentation of the ribbon to Uncle Buddy have any
                    significance from medieval tales or anything?</p>
<p><div class="speaker">William Faulkner</div>Yes, that was Miss Sophonsiba with that belief of hers and her brother
                    too that they were the rightful heirs to  <span class="unclear tooltip" title="Text was unclear">[to die for
                        his choice]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:16.41:00',
					'endtime','00:33:38.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, do you look at your humor as a&mdash;with the same inspiration
                    as you do a serious thing, or is it more a relaxing kind of work?</p>
<p><div class="speaker">William Faulkner</div>No, no, it's a part of man, too.  It's a part of life. That people
                    are&mdash;there's not too fine a distinction between humor and tragedy, that
                    even tragedy is&mdash;is in a way walking a tightrope between the
                    ridiculous&mdash;between the bizarre and the&mdash;and the terrible. That
                    it's&mdash;possibly the writer uses humor as a tool, that he's still trying
                    to&mdash;to write about people, to write about man, about the human heart in some moving
                    way, and so he uses whatever tool that he thinks will do most to finish the&mdash;the 
                    picture which at the moment he is&mdash;he is trying to paint, of man. That he will use
                    humor, tragedy, just as he uses violence. They are tools, but an ineradicable
                    part of life, humor is.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:33:38.54:00',
					'endtime','00:34:13.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes sir.</p>
<p><div class="speaker">Unidentified participant</div>What is the significance of the title "Red Leaves"?</p>
<p><div class="speaker">William Faulkner</div>Well, that was probably symbolism. The&mdash;the red leaves referred to the
                        Indian. It was the&mdash;the deciduation of nature which no one could stop that had
                    suffocated, smothered, destroyed the Negro. That the red leaves had nothing
                    against him when they suffocated and destroyed him. They had nothing against
                    him.  They probably liked him, but it was normal deciduation which the red
                    leaves, whether they regretted it or not, had nothing more to say in.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:34:15.17:00',
					'endtime','00:35:57.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, you use hunting terms all through "Was" when they're chasing Tomey's
                    Turl. Is there any significance to this&mdash;I mean, do they think that
                    perhaps this colored man is not about&mdash;well, say he's on the same plane
                    as the fox?</p>
<p><div class="speaker">William Faulkner</div>At that&mdash;at that time he was, at the very time that these twin brothers had believed
                    that there was something outrageous and wrong in slavery, and they had done what
                        they could. In fact, they had&mdash;had given up their father's fine mansion to let the
                    slaves live in it and they had built a two-room log cabin that they lived in.
                        That they by instinct knew that&mdash;that slavery was wrong, but they didn't know quite
                        what to do about it. And in the heat of&mdash;of the pursuit&mdash;of, well, in&mdash;in&mdash;in daily
                    life, they would use the terms in which the Negro was on a level with the dog or
                    the animal they ran. And especially in the heat of a race,
                        which&mdash;though&mdash;though this was more of&mdash;of deadly purpose than simple pleasure,
                        in the heat of running&mdash;running this man, the man became quarry that would have received
                        the same respect that&mdash;that the bear or the deer would&mdash;that is, the bear or
                    the deer would have  his chance for his life. They wouldn't have betrayed
                    him, tricked him.  They wouldn't have built a deadfall for him. They would have
                    run him all fair with the dogs and if he could escape, could kill the dogs and
                    get away, good for him. If he couldn't, it was too bad.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:35:57.13:00',
					'endtime','00:36:32.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, never having been fox-hunting, what do you mean by "going to earth,"
                    as far as Tomey's Turl was concerned?</p>
<p><div class="speaker">William Faulkner</div>That's when the quarry finds a&mdash;a hole in the ground, a den, and runs into
                        it. The fox before the dogs, he will try first to&mdash;to trick the dogs, and if he
                    can't, then he gets into something that the dogs can't follow him into. He
                        goes&mdash;finds an old fox den or something that he knows, that&mdash;that the dog is
                    too big to follow, he gets in there, he's gone to earth.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:36:37.74:00',
					'endtime','00:37:47.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, did Tomey's Turl stack the deck? And if so &mdash;</p>
<p><div class="speaker">William Faulkner</div>Oh yes, because he wanted Tennie, and he wanted to go back home and take
                    Tennie with him.</p>
<p><div class="speaker">Unidentified participant</div>Well, I understood that in the last thing it says that if he&mdash;if
                    Mr. Hubert didn't call Uncle Buddy, then everything would stay just the way it
                    was, and that Tomey's Turl would go back with Uncle Buddy and Uncle Buck and
                    that Tennie would stay with Mr. Hubert and leave it just the way it was
                    before.</p>
<p><div class="speaker">William Faulkner</div>No, no, if Uncle Buddy saved Uncle Buck from Miss Sophonsiba, then Uncle
                    Buddy would have to buy Tennie. That was the way the bet was settled, and so
                    Tomey's Turl, he didn't care whether Uncle Buck was safe from Miss Sophonsiba or
                    not, but he wanted Tennie to go back home with him, and so he&mdash;he hunted around,
                    found that last deuce for Uncle Buddy. He was playing for Tennie. Uncle Buddy
                    was playing for his brother, to save his brother. Their aims were the same,
                    though the end was slightly different.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:51.32:00',
					'endtime','00:38:36.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in another one of your stories, "Percy Grimm," do you think that the
                    type of person that is exemplified there is prevalent in the South today,
                    perhaps in the White Citizens Councils?</p>
<p><div class="speaker">William Faulkner</div>I wouldn't say prevalent. He exists everywhere. I wrote that&mdash;that book in
                        1932, before I'd ever heard of Hitler's Storm Troopers.  What he was was a Nazi
                    Storm Trooper, but then I'd never heard of one then, and he's not prevalent, but
                    he's everywhere. I wouldn't say that there are more of him in the South, but I
                    would say that there are probably more of him in the White Citizens Council than
                        anywhere else in the South, but I&mdash;I think you find him everywhere, in all
                    countries, in all people.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:38:38.98:00',
					'endtime','00:39:36.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, was Percy Grimm ever punished for his crime?</p>
<p><div class="speaker">William Faulkner</div>I think in time that&mdash;that every Storm Trooper suffers for it. He don't suffer any
                    retribution, any stroke of lightning from the gods, but he's got to live with
                    himself, and there comes a time when you've got to live with that, when you're
                        too old and the&mdash;the&mdash;the fire which enables you to get a certain amount of hysterical
                        adrenalic pleasure out of things like that is gone, and&mdash;and all you have left is to
                    remember what you did, and you probably wonder why in God's name you did things
                        like that, and you have to live with it. And I&mdash;I think that quite often
                    unexplained suicides go back to some man who has done something like that, and he
                    gets old, and he's got to live with it, and decides it's not worth living with
                    it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:39:38.58:00',
					'endtime','00:41:52.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>You spoke a little while ago of Greek themes. I was wondering if you
                    think that modern literature or twentieth-century literature, so to speak, could
                    feature the truly tragic hero that you would find in Greek times, or do you
                    think the characters should be meaner or more simple? </p>
<p><div class="speaker">William Faulkner</div>That's a difficult question to answer. I think the writer has got to
                    write in terms of his environment, and his environment consists not only in&mdash;in the&mdash;the
                    immediate scene, but his readers are part of that environment too, and maybe
                    nobody can&mdash;can write forever without expecting to be read, and probably a writer,
                    whether he intends to or not, or knows it or not, is going to shape what he
                    writes in&mdash;in the terms of&mdash;of who will read it. So&mdash;so maybe when there are fine listeners,
                    there will be fine poets again, that maybe the&mdash;the writing that is not too good is&mdash;is
                    not just the writer's fault, it may be because of the environment, a part of
                    which is the general effluvium of&mdash;of the readers, the people who will read it, that
                    does something to the air they all breathe together, that compels the shape of
                    the book. It would be fine if people could write in&mdash;in the old, simple, clear
                    Hellenic tradition, but then maybe that would be now obsolete, that there was a
                    time for that, the time for that is not now.  It may come back, if life does go
                    in cycles.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:41:56.84:00',
					'endtime','00:43:50.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in your excerpt from <em>The Unvanquished</em>, "An
                    Odor of Verbena," why is that sprig of verbena left on Bayard's pillow right at
                    the very end, when she leaves, she says she's going to abjure verbena for ever
                    and ever, and then he goes off, he walks into town, and he meets Mr. Redmond, I
                    believe it is, and then without any gun or anything, and then comes back, and
                    the sprig of verbena is left on his pillow.</p>
<p><div class="speaker">William Faulkner</div>That&mdash;of&mdash;of course, the&mdash;the verbena was associated with Drusilla, with
                        that woman, and she had wanted him to take a pistol and&mdash;and avenge his father's
                        death. He&mdash;he went to the man who had shot his father, unarmed, and instead of
                        killing the man, by that&mdash;that gesture he drove the man out of town, and although that
                        had&mdash;had violated Drusilla's traditions of an eye for an eye, she&mdash;the
                    spring of verbena meant that she realized that that took courage too and maybe
                        more moral courage than to&mdash;to have drawn blood, or to have taken another step in an
                    endless feud of an eye for an eye.</p>
<p><div class="speaker">Unidentified participant</div>But then why did she leave?</p>
<p><div class="speaker">William Faulkner</div>Because she was at that time too old, she was still too involved in it
                    to accept that morally. I mean accept it physically, that her husband had not
                    been&mdash;been avenged by his own son. That is, her intellect said&mdash;said, "This was a brave
                    thing," but the Eve in her said, "My husband, my lover has not been avenged."  And
                    she could say, "You were brave," but she&mdash;"this is not for me, that
                    I&mdash;that sort of bravery is not for me."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:43:52.68:00',
					'endtime','00:44:46.61:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, is there any reason for the Southern&mdash;the blossoming of
                    Southern writing, that is, are there any circumstances in the Southern
                    environment that would bring about the blossoming of great writers as it
                    has?</p>
<p><div class="speaker">William Faulkner</div>I don't know. That's a literary question.  And I wouldn't undertake to
                    answer it. I might say that when that so-called blossoming of Southern writers
                    came along, it was at a time when nobody in the South had much money.  They
                    couldn't travel, and they had to invent a world a little different from the
                    shabby one they lived in, so they took to writing, which is cheaper
                    than a&mdash;that is a ream of paper and a pencil is cheaper than a railroad
                    ticket. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:44:49.65:00',
					'endtime','00:48:19.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, why, in the beginning of your book about&mdash;you mention
                    Ikkemotubbe, why does Ikkemotubbe cease to own the land as soon as he realizes
                    that it is saleable, and do the people like the Compsons who have bought the
                    land, do they ever belong to the land in the sense that Ikkemotubbe previously
                    had?</p>
<p><div class="speaker">William Faulkner</div>No, I don't think they do. I think the&mdash;the ghost of&mdash;of that&mdash;that ravishment
                    lingers in the land, that the land is inimical to the white man because of the
                    unjust way in which it was taken from Ikkemotubbe and his people. That happened
                    by treaty, which President Jackson established with the Chickasaws and the
                    Choctaws, in which they would take land in Oklahoma in exchange for their
                    Mississippi land. And they were paid for it, but they were compelled to leave
                        it, either to&mdash;to leave on&mdash;to follow a chimera in the West or to stay
                        there in a&mdash;a condition even worse than the&mdash;the Negro slave, in isolation. There are a
                    few of them still in Mississippi, but they fair a good deal like animals in a
                        zoo: they have no&mdash;no place in the culture, in the economy, unless they become white
                        men, and they have in some cases mixed with white people, and the&mdash;their own
                    conditions have vanished, or they have mixed with Negroes, and they have descended
                    into the Negroes' condition of semi-peonage.</p>
<p><div class="speaker">Unidentified participant</div>And even the aristocracy, the original aristocracy was tainted. They
                    never owned the land. The land was never theirs.</p>
<p><div class="speaker">William Faulkner</div>That's right. They&mdash;the Indians held the land communally, a&mdash;a few of them that
                    were wise enough to see which way the wind was blowing would get government
                    patents for the land. There was one of them, a Choctaw chief, was one of the
                        wealthiest men in Mississippi, Greenwood Leflore.  He was wise enough to&mdash;to get a
                    patented deed to his land and to take up the white man's ways. He was a cotton
                    planter. He built a tremendous mansion and imported the furnishings from
                    France, and he was quite wealthy. And then when in '61, he declined to accept the
                        Confederacy, and Confederate troops were sent in there and his&mdash;his&mdash;his stables were
                        set on fire, the story is that when&mdash;when they demanded that he accept an oath to the
                    Confederacy, he went into the house and got a United States flag and wrapped it
                        around himself, and&mdash;and came out and walked into that burning barn and died there,
                    but that's&mdash;we don't know whether that's so or not, but that's the
                        legend. But the house is still there. It's a museum now, and&mdash;and his descendants,
                    they are two great-great-nieces. They're mostly white now. They own the
                    place.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio03.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio03.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:20.03:00',
					'endtime','00:50:20.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator</div> Mr. Faulkner,   I want to thank you on behalf of me and the class members.  <span class="unclear tooltip" title="Text was unclear">[We meet in this room on Monday
                    and Wednesday.]</span></p>
<p><div class="speaker">William Faulkner</div>Thank you.<span class="event tooltip" title="There was some applause happening">[applause]</span>  </p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio03.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio03.2" class="hidden">The Fyce</a></li>
<li><a href="#wfaudio03.3" class="hidden">Beauchamps' Class</a></li>
<li><a href="#wfaudio03.4" class="hidden">The Title "Was"</a></li>
<li><a href="#wfaudio03.5" class="hidden">Sophonsiba's Ribbon</a></li>
<li><a href="#wfaudio03.6" class="hidden">Role of Humor</a></li>
<li><a href="#wfaudio03.7" class="hidden">Title "Red Leaves"</a></li>
<li><a href="#wfaudio03.8" class="hidden">Hunting Tomey's Turl</a></li>
<li><a href="#wfaudio03.9" class="hidden">"Going to Earth"</a></li>
<li><a href="#wfaudio03.10" class="hidden">Tomey's Turl as Dealer</a></li>
<li><a href="#wfaudio03.11" class="hidden">Percy Grimm</a></li>
<li><a href="#wfaudio03.12" class="hidden">Grimm's Punishment</a></li>
<li><a href="#wfaudio03.13" class="hidden">Modernity v Tragedy</a></li>
<li><a href="#wfaudio03.14" class="hidden">Sprig of Verbena</a></li>
<li><a href="#wfaudio03.15" class="hidden">Southern Renaissance</a></li>
<li><a href="#wfaudio03.16" class="hidden">Displacing the Indians</a></li>
<li><a href="#wfaudio03.17" class="hidden"></a></li>
</ul></aside>
        
