<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio02_2.1">Dating a Story</a>
    </li>
    <li>
      <a href="#wfaudio02_2.2">Faulkner's Own Spotted Pony</a>
    </li>
    <li>
      <a href="#wfaudio02_2.3">The Next Book</a>
    </li>
    <li>
      <a href="#wfaudio02_2.4">Mrs. Armstid's Suit</a>
    </li>
    <li>
      <a href="#wfaudio02_2.5">Requiem on Stage</a>
    </li>
    <li>
      <a href="#wfaudio02_2.6">Eula's Character</a>
    </li>
    <li>
      <a href="#wfaudio02_2.7">Plot v Character</a>
    </li>
    <li>
      <a href="#wfaudio02_2.8">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio02_2.9">The Snopses' Respectability</a>
    </li>
    <li>
      <a href="#wfaudio02_2.10">Pressure to Conform</a>
    </li>
    <li>
      <a href="#wfaudio02_2.11">Conformity v Individualism</a>
    </li>
    <li>
      <a href="#wfaudio02_2.12">Flem Snopes</a>
    </li>
    <li>
      <a href="#wfaudio02_2.13">Good Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio02_2.14">Montgomery Ward Snopes</a>
    </li>
    <li>
      <a href="#wfaudio02_2.15">Resisting Snopesism</a>
    </li>
    <li>
      <a href="#wfaudio02_2.16">Retelling Stories</a>
    </li>
    <li>
      <a href="#wfaudio02_2.17">Sutpen's Quest</a>
    </li>
    <li>
      <a href="#wfaudio02_2.18">Individualism v Love</a>
    </li>
    <li>
      <a href="#wfaudio02_2.19">Pylon</a>
    </li>
    <li>
      <a href="#wfaudio02_2.20">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio02_2.1"/>
  <p>Well, when you go to the trouble to invent a&#x2014;a private domain of your own, then
          you're the master of time, too.  I have the right, I
          think, to shift these things around wherever it sounds best,  and I can move them about in time and, if necessary, change
          their names. This would be 1906 or '07 this happened. That is, the more you write, the
            more you've got to compromise with such facts as time and place, and so I've got to&#x2014;to agree
          with Mr.Gwynn and establish this somewhere in time, so it's about 1907.
            </p>
</div>
<div class="section">
  <a name="wfaudio02_2.2"/>
  <p>Mr. Faulkner, have you ever such an auction taking place?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.3"/>
  <p> Mr. Faulkner, how do you feel about your next novel, or do you always feel
          that your next one is the best?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.4"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.5"/>
  <p>Mr. Faulkner, have you seen any of the productions of Requiem
            for a Nun?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.6"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.7"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.8"/>
  <p>You&#x2014;you have said previously that&#x2014;that The Sound and the
            Fury came from an impression of a little girl up in a tree, and I wondered how you
          built it from that, and whether you just, as you said, let it&#x2014;let the story
          develop itself.</p>
</div>
<div class="section">
  <a name="wfaudio02_2.9"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.10"/>
  <p>Why aren't there blackguards then?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.11"/>
  <p>Were these people blackguards to save their souls? I'm not quite sure I
          understand the connection.</p>
</div>
<div class="section">
  <a name="wfaudio02_2.12"/>
  <p>You could have some grudging admiration for Flem Snopes who pretty well sticks to
          his character.</p>
</div>
<div class="section">
  <a name="wfaudio02_2.13"/>
  <p>Any there good Snopeses? That boy of Eck's seems like a nice little fellow. Is
          he&#x2014;is he going to get depraved, too?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.14"/>
  <p>Somebody once wrote, Mr. Faulkner, I&#x2014;maybe this is apocryphal, that
            a&#x2014;a couple of Snopeses who haven't yet been described, but who&#x2014;who might were
              to be described, were named Dollar Watch Snopes and Montgomery Ward Snopes.   Is
          there any truth to that?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.15"/>
  <p>Mr. Faulkner, you said before that it was your belief that man would prevail.
          Well, in the light of this book The Hamlet and several others that
          we've discussed recently, what type of man do you think will prevail? What kind? A
          scoundrel?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.16"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.17"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.18"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio02_2.19"/>
  <p>Mr. Faulkner, do you regard Pylon a serious novel and what
          were you driving at in that novel?</p>
</div>
<div class="section">
  <a name="wfaudio02_2.20"/>
  <p>I think that perhaps we've used up enough of Mr. Faulkner's energy unless, sir,
          you feel the wish to carry on a bit more.</p>
</div>
