
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio15.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>FILENAME: wfaudio15</h4>
<h4>DATE: 16 May 1957</h4>
<h4>OCCASION: Law School Wives</h4>
<h4>TAPE: T-131ends</h4>
<h4>LENGTH: 17:14</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:01.86:00',
					'endtime','00:01:40.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> make the statements which&mdash;which we will
                        follow, which the rest of the South must follow. I was a&mdash;a little ashamed for all
                    of us when your government issued those invitations and then had to retract some
                    of them, the sort of thing that you'd expect Mississippi to do but Mississippi
                    don't expect Virginia to. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                         experiences here that&mdash;that I will&mdash;after I
                    had left Virginia and have thought about it, I will realize more and more
                    how&mdash;how pleasant it was, the contact with the people, the young people
                    that have come into my office with their carefully rehearsed literary questions,
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and once we get past
                        them  we just talk, and that's interesting. They&mdash;they
                    tell me what they want to do and what they think about the condition, what we
                    should do about it. Almost every day one comes in, and once we get past the
                    stiffness of that first question which&mdash;which they have rehearsed
                    because they're seeing me, then you get down to&mdash;to a
                        human being, as someone said the . That's&mdash;that's better. I went out to Albemarle
                    School one morning, and it&mdash;it took a little thawing but after a while,
                    it became quite well. By the end of it, there was a young man trying to sell me
                    some cattle. Another man wanted to swap horses with me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.2">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:43.55:00',
					'endtime','00:02:50.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Well, I don't mean this to be a carefully rehearsed literary question,
                    but I did notice in the paper where you mentioned that the Old Testament was
                    among your old literary friends, or one of the ones that you like to browse in
                    and re-read&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>And I realize it is a classic, but I was wondering why the New Testament
                    did not have as much to offer? Is it because it is so narrative or some of it isn't 
                    useful?</p>
<p><span class="speaker">William Faulkner</span>To me, the New Testament is full of ideas, and I don't know much about
                    ideas. The Old Testament is full of people, perfectly ordinary, normal heroes
                    and blackguards just like everybody else nowadays, and I&mdash;I like to
                    read the Old Testament because it's full of people, not ideas. It's people all
                    trying to get something for nothing or 
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> or to be braver than they are. Just ordinary,
                    everyday folks, people&mdash;that's why I like to read that. That's apart
                    from the fine poetry of the&mdash;of the prose.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.3">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:52.65:00',
					'endtime','00:04:51.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I do have a carefully rehearsed one, but I'm really interested in your
                     to build a picture of this vastly materialistic American society which
                    can't tolerate a&mdash;a writer or <span class="unclear tooltip" title="Text was unclear">[human beings, even.]</span>
                    And yet you seem to indicate that there was some hope to get&mdash;for
                    Americans to get beyond this purely materialistic
                        stage, and yet in your writing, it&mdash;it seems
                    that the Snopeses have triumphed, and I wondered if you'd care to comment on
                    that.</p>
<p><span class="speaker">William Faulkner</span>I don't believe I said that our culture can't tolerate it. What I meant
                    to say there was, that so far, our culture is not aware, that there is a force
                      We deal in terms of the <span class="unclear tooltip" title="Text was unclear">[human
                        spirit,]</span> that the day will come when it will have to become aware
                    of it. So far, it doesn't need to, and it's not that it 
                        objects. It simply isn't aware yet that that's a force that exists.
                    About the Snopes, the&mdash;no fiction writer is interested primarily in
                    messages or warnings, but indirectly and by coincidence, he does suggest
                    messages and warnings. The&mdash;the&mdash;the story of the
                    Snopes is not: This is what the South is coming to. It's&mdash;it's simply:
                    This is what can happen if we don't watch these people. That it's all
                    imaginary. They are underlined for emphasis. They are exaggerated for emphasis.
                    But this is what can happen if we don't watch it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.4">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:53.85:00',
					'endtime','00:06:55.87:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>As a student who always had to struggle through literature courses trying
                    to dig out the meanings of things which seemed obvious to other people, I'd be
                    curious to know if, as a writer,  you sort of do have these messages in mind,
                    greater ideas which the English teachers and so forth always produce so readily,
                    and some of the <span class="unclear tooltip" title="Text was unclear">[students]</span>
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> can't find them anywhere.</p>
<p><span class="speaker">William Faulkner</span>No'm, not really. The writer is writing about people. He has got to use
                    the tools he has, which is his own experience, his own observation, and out of
                    that, in the course of&mdash;of twenty-one, twenty-two years it takes to
                    mature, then whatever years after that, come the opinions. He doesn't have to
                    stop and say, "Now, this is what I believe." It's there. He don't know he's
                    got it. Then when he writes, suddenly something&mdash;somebody says
                    something, he says, "Well, yes, that's so. That's what I believe, too." He
                    didn't put that in the character's mouth. The character said, "This is what I
                    think." The writer says, "Yes, I agree with you." That he is too busy dealing
                    with people to have time to deliver messages to anyone. The messages happen
                    just by chance. That he is interested in&mdash;in creating flesh and blood
                    people to do the&mdash;the tragic or the comic things which people do
                    for&mdash;for pleasure. That is, I think that one should read for pleasure,
                    that one doesn't necessarily have to read for pleasure, but I myself read for
                    pleasure, not for ideas.  That if it's&mdash;I've got to hunt around in a book
                    to&mdash;looking for an idea, then I'd rather do something else. I'd rather
                    do something that's more fun than that. It won't be reading.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.5">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:56.91:00',
					'endtime','00:08:21.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, although you primarily write about the South and southern
                    people, are you striving for universality, <span class="unclear tooltip" title="Text was unclear">[that people who live in another 
                    locality can use it]</span>?</p>
<p><span class="speaker">William Faulkner</span>That's it. It's to use a&mdash;a locale which the writer is most
                    familiar with. It saves him doing research. That is, if he don't know anything
                    about California or Canada or Australia, if he don't do a little research first,
                    he'll write something, and somebody will say, "Hold up here. That ain't so. This
                    is the way it is in Australia." Where if he writes about what he knows, nobody
                    is going to bother him that way because he knows what he is putting down. People
                    are the same, but it's the&mdash;the differences in their background, the milieu
                    they function in, which is different, not their behavior. But then, of course,
                    the milieu, the background, the environment will&mdash;will change
                    the&mdash;the terms of the behavior, not the act itself, and so the writer
                    simply uses the&mdash;the background he knows just as the carpenter uses the
                    tools that he has at his hand. Rather than to go somewhere to borrow a hammer or
                    a saw, he will use the one he's got, so he won't have to fetch one.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.6">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:24.27:00',
					'endtime','00:10:17.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I believe Somerset Maugham said at one time that he felt it
                    was rather a sad thing in his own life and assumed it to be in the life of any
                    writer in that he felt that he had to divorce himself from life itself, to a
                    certain extent, in that he was continually observing and thinking in terms of
                    writing down what he saw. And I think that possibly he felt a little deprived in
                    that he had this demon which caused him to want to do this, and that he could
                    not live himself more as ordinary people do and&mdash;well, in that he was
                    more concerned with recording life as he saw it and living <span class="unclear tooltip" title="Text was unclear">[it]</span>
                    was more like a vicarious sense. Do you feel that that is
                    true of most writers or did you find <span class="unclear tooltip" title="Text was unclear">[something else true]</span>?</p>
<p><span class="speaker">William Faulkner</span>Well, it is not true of&mdash;of me, and I imagine it's not true
                    of&mdash;of many other writers. It would be true of&mdash;would be true
                    of&mdash;of many other writers. I think that&mdash;that Maugham,
                    of an older&mdash;older culture, had more time to be that
                    objective about his own sub&mdash;subjectivity, if you can accept that
                    paradoxical statement. I think that&mdash;that maybe Henry James, for
                    instance, had the same approach toward his work that Maugham did, but Henry
                    James had not got far enough to&mdash;to realize that that was depriving him
                    of something that he didn't want to be deprived of. That is, Henry James
                    probably was quite happy to live detached from life to write Henry
                        James.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.7">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:20.90:00',
					'endtime','00:11:38.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I hesitate to ask such a broad question, sir, but what effect do you
                    think McCarthyism has had on freedom of thought and expression in American
                    universities?</p>
<p><span class="speaker">William Faulkner</span>I would say that&mdash;that McCarthyism, that whole thing, has had a
                    good effect on American universities in that it has&mdash;has shown, not
                    the&mdash;the educated man, but has shown a lot of&mdash;of uneducated
                    people what that sort of thing can cause, that uneducated people have a greater
                    belief in the&mdash;that&mdash;that <span class="unclear tooltip" title="Text was unclear">[the]</span> thought&mdash;the freedom of thought must be inviolable, that they never thought
                    about it before, and so, in that sense, McCarthy served a purpose. It's too bad
                    that that should be one of the curses of democracy, too, that that purpose
                    can't&mdash;must be paid for with the three or four years of McCarthy. In a
                    way, democracy has the capacity to use, somehow, almost everything.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.8">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:53.25:00',
					'endtime','00:13:33.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, this&mdash;this is a question about your way of
                    writing. I was wondering whether you&mdash;you constantly <span class="unclear tooltip" title="Text was unclear">[go about]</span> the writing, or whether it just comes out all at
                    once. Because to read a book of yours, it seems to come all at once, but I just wondered, you hear of so many writers
                    who are working over their novels and rewriting parts until they're
                    finished.</p>
<p><span class="speaker">William Faulkner</span>That depends, and I don't think that any writer could have a hard and
                    fast rule about it. In my own case, I'm lazy. That is, I don't like to sit down
                    and&mdash;and put a hundred thousand words on paper. I hate to face the fact
                    that I've got to do it. I will put that off as long as possible, and so in the
                    meantime, as much of the revising as possible happens up here. Then when the
                    demon won't let me alone any longer I sit down to write, and I try
                    to&mdash;to do it so I won't have to revise it, won't have to do it again.
                    Sometimes it works. Sometimes I'll have to re-write and re-write and re-write
                    and re-write.  Sometimes it&mdash;it never comes out to suit me. I'll
                    throw it away. But occasionally I'm lucky, and the first time's enough.  But no
                    writer can know beforehand whether he'll have to do it once or a dozen times,
                    but he has got to please himself, and he will&mdash;he will curse it. He
                    will curse his fate that he ever got into such a racket, but he will keep on
                    until it's the best he can do with it. 
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.9">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:35.97:00',
					'endtime','00:15:42.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>There was a young lady
                    back there that&mdash;</p>
<p><span class="speaker">Unidentified participant</span>I was just wondering if you thought that some sort of form of government
                    subsidy  some of the European writers ?</p>
<p><span class="speaker">William Faulkner</span>I don't think I heard that too well. If you will <span class="unclear tooltip" title="Text was unclear">[tell me again, ma'am]</span>?</p>
<p><span class="speaker">Unidentified participant</span>Do you think that artists in this country would benefit from some form of
                    government subsidization <span class="unclear tooltip" title="Text was unclear">[that is like]</span> like the author
                    programs Italy has or&mdash; ?</p>
<p><span class="speaker">William Faulkner</span>I don't think that an artist should be subsidized too much by anyone. I
                    think that&mdash;that he has got to be free, and even a little hardship may
                    be good for him. That&mdash;I'm assuming that most artists are like me,
                    and&mdash;and they are lazy, and if they had too much money, they would do
                    that much less work. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That if they ain't got
                    much money, just enough to buy a little tobacco and occasionally a drink
                    and&mdash;and something to eat, that they might work a little more. If it
                    was too easy for them, they would put off the work. That&mdash;now, that's
                    different from the opera because opera, theater, requires so much more money
                    than the cost of a ream of paper and&mdash;and three or four pencils, so
                    theater has got to be subsidized, and&mdash;and if&mdash;if private capital is ever
                    obliterated then there will have to be subsidy to print the books, but
                    the&mdash;the artist himself shouldn't be subsidized too much. He would be a
                    little better off if he had to hold another job and&mdash;and wrote in his
                    spare time because that would keep his&mdash;his work on the
                    plane of the amateur, which it should be. That when he begins to think of
                    himself as a professional writer, he is sunk. He's got to do it because it's
                    fun. It's got to be a hobby.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.10">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:44.64:00',
					'endtime','00:16:45.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I'm <span class="unclear tooltip" title="Text was unclear">[going to]</span> put you on the spot with this. You say that a
                    writer must write truth, and he must&mdash;therefore he must search for truth. If Arthur
                    Miller is found guilty of contempt on the grounds that, as he claims,
                    moral&mdash;his own moral character, which kept him from revealing the names
                    of other writers in his <span class="unclear tooltip" title="Text was unclear">[cell that he once visited]</span>, would you
                    publicly come out in favor of his position?</p>
<p><span class="speaker">William Faulkner</span>Sure. Yes, if&mdash;if there&mdash;there's something you believe
                    is&mdash;is wrong to do, then don't do it, no matter who else disagrees with
                    you. That would have nothing to do with&mdash;what whether he writes from
                    now on, whether he's in contempt of&mdash;of court or not. Whether he is
                    sent to jail or not would have nothing to do with what he writes. Yes, if you
                    believe that something is wrong to do, don't do it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio15.11">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio15.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:51.04:00',
					'endtime','00:17:08.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>Are there any other questions? Well, Mr. Faulkner, we want you to
                    know how glad we are that your demon let you come over here tonight and be with
                    us, and we'll all remember this as a highlight of this year and probably a long
                    time to come.</p>
<p><span class="speaker">William Faulkner</span>Thank you, ma'am. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio15.1" class="hidden">Virginia v Mississippi</a></li>
<li><a href="#wfaudio15.2" class="hidden">Use of the Bible</a></li>
<li><a href="#wfaudio15.3" class="hidden">Snopesism and America</a></li>
<li><a href="#wfaudio15.4" class="hidden">Deeper Meanings</a></li>
<li><a href="#wfaudio15.5" class="hidden">Regional v Universal</a></li>
<li><a href="#wfaudio15.6" class="hidden">Writing v Living</a></li>
<li><a href="#wfaudio15.7" class="hidden">McCarthyism v Freedom</a></li>
<li><a href="#wfaudio15.8" class="hidden">Writing v Revising</a></li>
<li><a href="#wfaudio15.9" class="hidden">Subsidizing Writers</a></li>
<li><a href="#wfaudio15.10" class="hidden">Arthur Miller's Case</a></li>
<li><a href="#wfaudio15.11" class="hidden">Close</a></li>
</ul></aside>
        
