<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio17.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio17.2">The Rising Generation</a>
    </li>
    <li>
      <a href="#wfaudio17.3">Resisting Conformity</a>
    </li>
    <li>
      <a href="#wfaudio17.4">Individualism at UVA</a>
    </li>
    <li>
      <a href="#wfaudio17.5">Virginia and the South</a>
    </li>
    <li>
      <a href="#wfaudio17.6">Student-Playwright</a>
    </li>
    <li>
      <a href="#wfaudio17.7">The Middle Class</a>
    </li>
    <li>
      <a href="#wfaudio17.8">The Rise of Snopes</a>
    </li>
    <li>
      <a href="#wfaudio17.9">A More Public Role</a>
    </li>
    <li>
      <a href="#wfaudio17.10">Southern Baptists</a>
    </li>
    <li>
      <a href="#wfaudio17.11">The Baptist Condition</a>
    </li>
    <li>
      <a href="#wfaudio17.12">His Time at UVA</a>
    </li>
    <li>
      <a href="#wfaudio17.13">A College Education</a>
    </li>
    <li>
      <a href="#wfaudio17.14">Cultural Interchanges</a>
    </li>
    <li>
      <a href="#wfaudio17.15">Loss of MIddle Class</a>
    </li>
    <li>
      <a href="#wfaudio17.16">Improving Colleges</a>
    </li>
    <li>
      <a href="#wfaudio17.17">Comparing Students</a>
    </li>
    <li>
      <a href="#wfaudio17.18">Austrian Students</a>
    </li>
    <li>
      <a href="#wfaudio17.19">Cultural Interchange</a>
    </li>
    <li>
      <a href="#wfaudio17.20">Regional v Universal</a>
    </li>
    <li>
      <a href="#wfaudio17.21">Advice to Young Writers</a>
    </li>
    <li>
      <a href="#wfaudio17.22">Symbols</a>
    </li>
    <li>
      <a href="#wfaudio17.23">UVA's Young Writers</a>
    </li>
    <li>
      <a href="#wfaudio17.24">Writing and Reading</a>
    </li>
    <li>
      <a href="#wfaudio17.25">America to Communists</a>
    </li>
    <li>
      <a href="#wfaudio17.26">Fragment</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio17.1"/>
  <p> pick up from where he left off this
                        morning&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio17.2"/>
  <p>Mr. Faulkner, what I would sort of like to ask you is, after four months
                    of contact with students at the University, sort of what you feel in the rising
                    generation, whether&#x2014;we've heard a lot of talk that they 
                        are very much driven toward conformity and
                    security, just the things I think that you probably would oppose in anyone who
                    wanted to be a writer. But I'm thinking more of what you see in the students
                    you've talked to?</p>
</div>
<div class="section">
  <a name="wfaudio17.3"/>
  <p>Well, do you think most of them are resisting it? I would doubt it.</p>
</div>
<div class="section">
  <a name="wfaudio17.4"/>
  <p>What are they, sir?</p>
</div>
<div class="section">
  <a name="wfaudio17.5"/>
  <p>You said something about wishing that the University of Virginia and the
                    State of Virginia would take more leadership in the South. You were asked that
                    question the other night in conversation.</p>
</div>
<div class="section">
  <a name="wfaudio17.6"/>
  <p>Mr. Faulkner, last week you went to see a play written by one of the
                    students here. I would be interested in any comments you would care to make on
                    the play.</p>
</div>
<div class="section">
  <a name="wfaudio17.7"/>
  <p>Mr. Faulkner, you say the middle class, but if there is no more middle
                    class, what do you think has happened to the middle class
                        when there was one?</p>
</div>
<div class="section">
  <a name="wfaudio17.8"/>
  <p>Is part of that transition what you recorded in The
                        Town? &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio17.9"/>
  <p>Mr. Faulkner, I'm interested in something that seems to have happened to
                    you. It seemed to me, using the Nobel Prize as a mark in time rather than any
                    special significance, that you seem to have moved to a certain extent from
                    communicating only through your works to&#x2014;well, for example, going to
                    Japan or coming to the University of Virginia and going to other places for the
                    State Department. I wondered if this marked any sort of change or departure in
                    your own thinking, or sort of why you moved out.</p>
</div>
<div class="section">
  <a name="wfaudio17.10"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio17.11"/>
  <p>What is involved in this emotional condition of the
                    Southern&#x2014;Southern Baptist?</p>
</div>
<div class="section">
  <a name="wfaudio17.12"/>
  <p>Mr. Faulkner, one other question, can you&#x2014;have you gotten
                    anything particularly out of this four months in Charlottesville yourself, and
                    can you, at this point, in any way distill sort of any feeling you might have
                    about Charlottesville and about the University?</p>
</div>
<div class="section">
  <a name="wfaudio17.13"/>
  <p>Based on your four months here, I was wondering if your opinion of
                    university education or college education has changed. As I understand, when you
                    first came here, you said that a university&#x2014;a college education was
                    good for some people and not&#x2014;not necessary for others, and I was
                        wondering if&#x2014;whether your opinion has been modified at all.</p>
</div>
<div class="section">
  <a name="wfaudio17.14"/>
  <p>Last week you were talking about the cultural interchange through the
                    State Department and wishing more of it could be done and done better. Do you
                    care to comment on that?</p>
</div>
<div class="section">
  <a name="wfaudio17.15"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio17.16"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio17.17"/>
  <p>What comparison, if any, can you make really between the Japanese
                    students you talked to at Nagano and elsewhere and the ones you've found
                    here?</p>
</div>
<div class="section">
  <a name="wfaudio17.18"/>
  <p>You've made a comparison the other night of students, different types of
                    students in Austria, I believe.  Isn't that true?</p>
</div>
<div class="section">
  <a name="wfaudio17.19"/>
  <p>Mr. Faulkner, in this cultural interchange you speak of, wouldn't the
                    student serve as well, the student maybe and his family and  the
                    communists ?. How would you go about arranging 
                    something like that?</p>
</div>
<div class="section">
  <a name="wfaudio17.20"/>
  <p>Do you feel that if you had been born and grown up someplace else, you
                        would've written pretty much the same kind of book and laid the environment
                    there or do you think Mississippi is particularly strong in bringing out
                    the&#x2014;these conditions in the human race?</p>
</div>
<div class="section">
  <a name="wfaudio17.21"/>
  <p>Mr. Faulkner, you may have touched on this previously, but could you give
                    some advice to young writers? What advice would you give to young writers?</p>
</div>
<div class="section">
  <a name="wfaudio17.22"/>
  <p>Mr. Faulkner, I believe earlier you were talking about reading when you
                    were speaking to the class and a lot of it was about
                    symbolism. You said since the writers cannot follow a lot of turns and corners,
                    the symbols, and must get on with the writing and that's for
                    the reader to follow up. I was wondering when you did your reading, did you
                        follow the turns and the corners in&#x2014;in looking for symbolism?</p>
</div>
<div class="section">
  <a name="wfaudio17.23"/>
  <p>Mr. Faulkner, have you found any promising young writers during your stay
                    here, anyone who looks good for the future of
                        fiction?</p>
</div>
<div class="section">
  <a name="wfaudio17.24"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio17.25"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio17.26"/>
  <p>Have you given this enough consideration that you would probably be tempted 
                    to write  </p>
</div>
