
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 23 May 1958</h4>
<h4>OCCASION: General Public</h4>
<h4>TAPE: T-145c</h4>
<h4>LENGTH: 33:04</h4>
<h4>READING: From The Sound and the Fury</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio32.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:32.03:00',
					'endtime','00:01:55.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>It's with pleasure that I make this
					introduction today because it's always a pleasure for me to introduce and for
					all of us to hear our speaker, but it's with regret, too, because this is our
					last session today. It's our last session with the world's greatest living
					novelist and with our own Writer-in-Residence, who today will read from the book
					he has referred to as his favorite, <em>The Sound and the
						Fury</em>. He'll read from Dilsey's section, and at the conclusion of his
					reading, he will answer such questions as you care to put to him. I'll resist at
					this time all temptations to quote lines of poetry, to say <em>ave
						atque vale</em> or anything of that sort, because we hope to see him again
					and again in Charlottesville in the years to come. Mr. William Faulkner.
						<span class="event tooltip" title="There was some applause happening">[applause]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:07.55:00',
					'endtime','00:03:02.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Since this is my last day here in my
					sojourn as Writer-in-Residence, I could use this last hour to try to say thank
					you to the people of Albemarle County and Charlottesville and the University for
					making my stay here this pleasant and this happy. I won't do that. I won't even
					say goodbye. Every individual is the sum total of his past, so when I leave
					here, I will leave something of Faulkner in Albemarle County, where Faulkner was
					happy. When I go away, I will take with me something of
					Albemarle County. I will always come back so that those two separates can be
					joined again. I won't need to say goodbye. And each time I come back, I'll be
					saying, "Much obliged."
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:07.65:00',
					'endtime','00:04:10.82:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					The road rose again, to a scene like a painted backdrop.
						Notched into a cut of red clay crowned with oaks the road appeared to stop
						short off, like a cut ribbon. Beside it a weathered church lifted its crazy
						steeple like a painted church, and the whole scene was as flat and without
						perspective as a painted cardboard set upon the ultimate edge of the flat
						earth, against the windy sunlight of space and April and a midmorning filled
						with bells. Toward the church they thronged with slow sabbath deliberation,
						the women and children went on in, the men stopped outside and talked in
						quiet groups until the bell ceased ringing. Then they too entered.
						The
						church had been decorated, with sparse flowers from kitchen gardens and
						hedgerows, and with streamers of colored crepe paper. Above the pulpit hung
						a battered Christmas bell, the accordion sort that collapses. The pulpit was
						empty, though the choir was already in place, fanning themselves although it
						was not warm.
						</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:10.74:00',
					'endtime','00:05:23.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					Most of the women were gathered on one side of the room.
						They were talking. Then the bell struck one time and they dispersed to their
						seats and the congregation sat for an instant, expectant. The bell struck
						again one time. The choir rose and began to sing and the congregation turned
						its head as one as six small children&mdash;four girls with tight
						pigtails bound with small scraps of cloth like butterflies, and two boys
						with close napped heads&mdash;entered and marched up the aisle, strung
						together in a harness of white ribbons and flowers, and followed by two men
						in single file. The second man was huge, of a light coffee color, imposing
						in a frock coat and white tie. His head was magisterial and profound, his
						neck rolled above his collar in rich folds. But he was familiar to them, and
						so the heads were still reverted when he had passed, and it was not until
						the choir ceased singing that they realised that the visiting clergyman had
						already entered, and when they saw the man who had preceded their minister
						enter the pulpit still ahead of him an indescribable sound went up, a sigh,
						a sound of astonishment and disappointment.
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:23.17:00',
					'endtime','00:06:09.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					The visitor was undersized, in a shabby alpaca coat. He
						had a wizened black face like a small, aged monkey. And all the while that
						the choir sang again and while the six children rose and sang in thin,
						frightened, tuneless whispers, they watched the insignificant looking man
						sitting dwarfed and countrified by the minister's imposing bulk, with
						something like consternation. They were still looking at him with
						consternation and unbelief when the minister rose and introduced him in
						rich, rolling tones whose very unction served to increase the visitor's
						insignificance.
						"En dey brung dat all de way fum Saint Looey," Frony
						whispered.
						"I've knowed de Lawd to use cuiser tools den dat," Dilsey
						said. "Hush, now," she said to Ben. "Dey fixin to sing again in a
							minute."
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:09.34:00',
					'endtime','00:06:59.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					When the visitor rose to speak he sounded like a white
						man. His voice was level and cold. It sounded too big to have come from him
						and they listened at first through with curiosity, as they would have to a monkey
						talking. They began to watch him as they would a man on a tight rope. They
						even forgot his insignificant appearance in the virtuosity with which he ran
						and poised and swooped upon the cold inflectionless wire of his voice, so
						that at last, when with a sort of swooping glide he came to rest again
						beside the reading desk with one arm resting upon it at shoulder height and
						his monkey body as reft of all motion as a mummy or an emptied vessel, the
						congregation sighed as if it waked from a collective dream and moved a
						little in its seats. Behind the pulpit the choir fanned steadily. Dilsey
						whispered, "Hush, now. Dey fixin to sing in a minute."
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:59.09:00',
					'endtime','00:08:28.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						Then a voice said, "Brethren."
							The preacher had not
						moved. His arm lay yet across the desk, and he still held that pose while
						the voice died in sonorous echoes between the walls. It was as different as
						day and dark from his former tone, with a sad, timbrous quality like an alto
						horn, sinking into their hearts and speaking there again when it had ceased
							in fading and cumulate echoes.
							"Brethren and sisteren," it said again.
						The preacher removed his arm and he began to walk back and forth before the
						desk, his hands clasped behind him, a meagre figure, hunched over upon
						itself like that of one long immured in striving with the implacable earth,
						"I got the recollection and the blood of the Lamb!" He tramped steadily back
						and forth beneath the twisted paper and the Christmas bell, hunched, his
						hands clasped behind him. He was like a worn small rock whelmed by the
						successive waves of his voice. With his body he seemed to feed that voice
						that, succubus like, had fleshed its teeth in him. And the congregation
						seemed to watch with its own eyes while the voice consumed him, until he was
						nothing and they were nothing and there was not even a voice but instead
						their hearts were speaking to one another in chanting measures beyond the
						need for words, so that when he came to rest again against the reading desk, his
						monkey face lifted and his whole attitude that of a serene, tortured
						crucifix that transcended its shabbiness and insignificance and made it of
						no moment, a long moaning expulsion of breath rose from them, and a woman's
						single soprano: "Yes, Jesus!"
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:28.64:00',
					'endtime','00:09:35.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					As the scudding day passed overhead the dingy windows
						glowed and faded in ghostly retrograde. A car passed along the road outside,
						laboring in the sand, died away. Dilsey sat bolt upright, her hand on Ben's
						knee. Two tears slid down her fallen cheeks, in and out of the myriad
						coruscations of immolation and abnegation and time.
						"Brethren," the
						minister said in a harsh whisper, without moving.
						"Yes, Jesus!" the
						woman's voice said, hushed yet.
						"Breddren en sistuhn!" His voice rang
						again, with the horns. He removed his arm and stood erect and raised his
						hands. "I got de ricklickshun en de blood of de Lamb!" They did not mark
						just when his intonation, his pronunciation, became negroid, they just sat
						swaying a little in their seats as the voice took them into itself.
						
						"When de long, cold&mdash;Oh, I tells you, breddren, when de long, cold.
						. . . I sees de light en I sees de word, po sinner! Dey passed away in
						Egypt, de swingin chariots; de generations passed away. Wus a rich man: whar
						he now, O breddren? Wus a po man: whar he now, O sistuhn? Oh I tells you, ef
						you aint got de milk en de dew of de old salvation when de long, cold years
						rolls away!"
						"Yes, Jesus!"
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:35.54:00',
					'endtime','00:10:45:11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					"I tells you, breddren, en I tells you, sistuhn, dey'll
						come a time. Po sinner sayin Let me lay down wid de Lawd, lemme lay down my
						load. Den whut Jesus "wine say, O breddren? O sistuhn? Is you got de
						ricklickshun en de Blood of de Lamb? Case I aint gwine load down
						heaven!"
						He fumbled in his coat and took out a handkerchief and mopped
						his face. A low concerted sound rose from the congregation: "Mmmmmmmmmmmmm!"
						The woman's voice said, "Yes, Jesus! Jesus!"
						"Breddren! Look at dem
						little chillen settin dar. Jesus wus like dat once. He mammy suffered de
						glory en de pangs. Sometime maybe she helt him at de nightfall, whilst de
						angels singin him to sleep; maybe she look out de do en see de Roman po-lice
						passin." He tramped back and forth, mopping his face. "Listen, breddren! I
						sees de day. Ma'y settin in de do wid Jesus on her lap, de little Jesus.
						Like dem chillen dar, de little Jesus. I hears de angels singin de peaceful
						songs en de glory; I sees de closin eyes; sees Mary jump up, sees de sojer
						face: We gwine to kill! We gwine to kill! We gwine to kill yo little Jesus!
						I hears de weepin en de lamentation of de po mammy widout de salvation en de
						word of God!"
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:45:11:00',
					'endtime','00:12:08.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					"Yes Jesus! Little Jesus!" and another
						voice, rising:
						"I sees, O Jesus! Oh I sees!" and still another, without
						words, like bubbles rising in water.
						"I sees hit, breddren! I sees hit!
						Sees de blastin, blindin sight! I sees Calvary, wid de sacred trees, sees de
						thief en de murderer en de least of dese; I hears de boastin en de braggin:
						Ef you be Jesus, lif up yo tree en walk! I hears de wailin of women en de
						evenin lamentations; I hears de weepin en de cryin en de turned-away face of
						God: dey done kilt Jesus; dey done kilt my Son!"
						"Jesus! 
						I sees, O Jesus!"
						"O blind sinner! Breddren, I tells you; sistuhn, I
						says to you, when de Lawd did turn His mighty face, say, Aint gwine overload
						heaven! I can see de widowed God shet His do; I sees de whelmin flood roll
						between; I sees de darkness en de death everlastin upon de generations. Den,
						lo! Breddren! Yes, breddren! Whut I see? Whut I see, O sinner? I sees de
						resurrection en de light; sees de meek Jesus sayin Dey kilt me dat ye shall
						live again; I died dat dem whut sees en believes shall never die. Breddren,
						O breddren! I sees de doom crack en hears de golden horns shoutin down de glory,
						en de arisen dead whut got de blood en de ricklickshun of de Lamb!"
						In
						the midst of the voices and the hands Ben sat, rapt in his sweet blue gaze.
						Dilsey sat bolt upright beside, crying rigidly and quietly in the annealment
						and the blood of the remembered Lamb.
					
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:08.28:00',
					'endtime','00:12:50.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
					As they walked through the bright noon, up the sandy
						road with the dispersing congregation talking easily again group to group,
						she continued to weep, unmindful of the talk.
						"He sho a preacher, mon! 
						He didn't look like much at first, but hush!"
						"He seed de power en de
						glory."
						"Yes, suh. He seed hit. Face to face he seed hit."
						Dilsey
						made no sound, her face did not quiver as the tears took their sunken and
						devious courses, walking with her head up, making no effort to dry them away
						even.
						"Whyn't you quit dat, mammy?" Frony said. "Wid all dese people
						lookin. We be passin white folks soon."
						"I've seed de first en de
						last," Dilsey said. "Never you mind me."
						"First en de last whut?" Frony
						said.
						"Never you mind," Dilsey said. "I seed de beginnin, en now I sees
						de endin."
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:09.66:00',
					'endtime','00:13:12.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Any questions, from anyone?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:13.59:00',
					'endtime','00:13:47.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Do you think that there's a
					particular order in which your works should be read ? Many people have
					offered a sequence. Do you think there's a particular sequence that your books
					should be read in?</p>
<p><div class="speaker">William Faulkner</div>Probably to begin with a book called <em>Sartoris</em>. 
					That has the germ of my apocrypha in it. A lot of the characters are postulated
					in that book. I'd say that's a good one to begin with.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:52.39:00',
					'endtime','00:15:16.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Is the present movie a compilation
					of various episodes in different novels? I'm thinking of the horse particularly.
					Did that come from the "Spotted Horses," that's so much like
						it?</p>
<p><div class="speaker">William Faulkner</div>I don't know, ma'am, because I'm not a moving picture-goer. I haven't
					seen <span class="unclear tooltip" title="Text was unclear">[the move]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I
					really don't know. My experience with moving pictures is that they have almost
					any reason for buying the book except to make it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I 
					remember M-G-M bought a book of mine called <em>The Unvanquished</em>. They were stories of the Civil War. I
					found out later that a producer named Selznick had bought <em>Gone
						With the Wind</em>, and he wanted to use Clark Gable in the picture, but
					Clark Gable belonged to M-G-M, and M-G-M wouldn't let Mr. Selznick have Clark
					Gable unless Mr. Selznick let M-G-M make the picture, which Mr. Selznick
					wouldn't do, so M-G-M hunted around for another book to buy of the Civil War to
					tell Mr. Selznick they were going to make a <em>GoneWith the
						Wind</em> themselves if he didn't let them make his, so they bought my book
					with no intention of making it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:16.38:00',
					'endtime','00:16:01.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I just wanted to ask you&mdash;<span class="unclear tooltip" title="Text was unclear">[out of your answer]</span>  during the previous
					 year, it came out that you don't take full responsibility for your
					characters. <span class="unclear tooltip" title="Text was unclear">[As if the created art with you]</span> was something unconscious, not a willful act?</p>
<p><div class="speaker">William Faulkner</div>I didn't make that statement clear. What I said was that I'm not
					responsible for the ideas and opinions that my characters express. 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I assume responsibility for the people, but they
					have their own ideas and opinions that I don't always agree with. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:04.92:00',
					'endtime','00:16:54.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>What is the reason that this book from which you read is your favorite
						<span class="unclear tooltip" title="Text was unclear">[novel]</span>?</p>
<p><div class="speaker">William Faulkner</div>I think that&mdash;that no writer is ever quite satisfied
					with&mdash;with the book. That's why he writes another one. That he is
					trying to put on paper something that is going to be a little better than
					anybody else has put on paper up to date, and this is my favorite one because I
					worked the hardest on it, not to accomplish what I hoped to do with it, but I
					anguished and&mdash;and raged over it more than over any other to try to
					make something out of it, that it was impossible for&mdash;for me to do.
					It's the same feeling that the parent may have toward the&mdash;the
					incorrigible or the abnormal child, maybe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:56.26:00',
					'endtime','00:17:16.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Has <em>Requiem for a Nun</em> ever been acted on the stage?</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am. It's been knocking around Europe for the last six or seven
					years. It has been in every language until last fall it was three weeks at the
					Court Theater in London. It will be in&mdash;in New York this fall.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:26.71:00',
					'endtime','00:18:00.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I have been trying to trace a tradition in your work, and
					I'm curious to know whether you read Sir Walter Scott to any extent in the time
					previous to writing your novels.</p>
<p><div class="speaker">William Faulkner</div>Yes'm, I did. I read everything I could get my hands on without any
					discretion or judgment at one time, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and I'm
					sure that everything I've read from the telephone book up has influenced what
					I've done since. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that's true of any
						writer.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:04.72:00',
					'endtime','00:19:09.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Your books have been compared to Bach's fugues. Do you
						objectively plan out that they're going to have that  
						effect or does it just come naturally?</p>
<p><div class="speaker">William Faulkner</div>Well, it's&mdash;it's not quite planned because probably I am not
					capable of that, but I think that there's too much work goes into&mdash;to
					any book to call it a natural process.  But as&mdash;about reading, any
					experience the writer has ever suffered is going to influence what he does, and
					that is not only what he's read, but the music he's heard, the pictures he's
					seen, and it wasn't that I went to Bach to&mdash;to get myself out of
					a&mdash;a&mdash;a jam in the work, but probably what I had heard of
					Bach&mdash;at the moment when I needed to use counterpoint, there it was.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:14.96:00',
					'endtime','00:20:05.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>How do you arrive at names for your characters?</p>
<p><div class="speaker">William Faulkner</div>The only rule is to do the best you can not to use the name of any
					living person because you'll spend the next ten or fifteen dollars in stamps
					explaining that you didn't mean so and so. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					Characters quite often name themselves just like the story itself will select
					its own title. Some people, to me, look and behave just like their names. 
					But&mdash;that is, I don't remember that I ever any trouble trying to get a name for a
					character. I never had to&mdash;to look through city directories for names.
					The&mdash;the people themselves said, "I'm going to be named so and so."
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:13.27:00',
					'endtime','00:20:28.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>What is the immediate stimulus that makes you write?</p>
<p><div class="speaker">William Faulkner</div>Oh, it's a demon. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I don't know where
					it came from. I think every artist has got one.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:28.00:00',
					'endtime','00:23:03.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you think&mdash;what I'm trying . <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					. Do you&mdash;do you think before you write or do you write&mdash; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Well, I'm glad you stopped there. Thank you. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Did&mdash;I think I know what you mean by the
					stimulus. It's&mdash;you're alive in the world. You see man. You have an
					insatiable curiosity about him, but more than that you have an admiration for
					him. He is frail and fragile, a web of flesh and bone and mostly water. He's
					flung willy nilly into a ramshackle universe stuck together with electricity.
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> The problems he faces are always a little
					bigger than he is, and yet, amazingly enough, he copes with them, not
					individually but&mdash;but as a race. He endures. He's outlasted dinosaurs.
					He's outlasted atom bombs. He'll outlast communism. Simply because there's some
						part in him that keeps him from ever knowing that he's
					whipped, I suppose. That as frail as he is, he&mdash;he lives up to his
					codes of behavior. He shows compassion when there's no reason why he should.
					He's braver than he should be. He's more honest. The writer is&mdash;is so
					interested, he sees this as so amazing and&mdash;and you might say so
					beautiful. Anyway, it&mdash;it's so moving to him that he wants to put it
					down on paper or in music or on canvas, that he simply wants to isolate one of
					these instances in which man&mdash;frail, foolish man&mdash;has acted
					miles above his head in some amusing or dramatic or tragic way. Anyway, some
					gallant way. That, I suppose, is the incentive to write, apart from it being
					fun. I sort of believe that is the reason that people are
					artists. It's&mdash;it's the most satisfying occupation man has discovered
					yet, because you never can quite do it as well as you want to, so there's always
					something to wake up tomorrow morning to do. You're never bored. You never reach
					satiation.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:06.00:00',
					'endtime','00:24:11.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, are there particular reasons
					why you do not go to the movies? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Yes, sir. They come at the wrong time of day. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's the time of day I like to have two or
					three drinks and eat supper and then sit down and smoke and read. If
					the&mdash;if they had moving pictures&mdash;well, I don't know, I'd have
					something else better to do any time of day. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I
					think maybe I'd rather read it than listen to it. I'd rather read Shakespeare
					than see his plays.</p>
<p><div class="speaker">Unidentified participant</div>Would that apply to drama, too?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir. I&mdash;I can count on my thumbs the plays I've seen in my
					life, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and that's&mdash;one is <em>Ben Hur</em>. 
					The other is&mdash;was <em>East Lynne.</em>
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I reckon I was eight, nine years old. I
					remember <em>Ben Hur</em> because it had live horses <span class="unclear tooltip" title="Text was unclear">[in
						it]</span> and a camel. I'd never seen a camel before. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:11.67:00',
					'endtime','00:25:03.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, are there things you can know about the world that
					scientists can't, you as an artist?</p>
<p><div class="speaker">William Faulkner</div>No, I think that&mdash;that the sort of facts a 
					scientist knows no artist is really interested in. That his interest is in the
					simple, eternal, fundamental truths of man's behavior, not the facts
					of&mdash;of his behavior <span class="unclear tooltip" title="Text was unclear">[nor the facts he lives among]</span>.
					That the&mdash;the writer is&mdash;is&mdash;has no concern with
					facts. He's a congenital liar to begin with. That's why they call it fiction.
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That he makes his own facts just to suit
					whatever phase of&mdash;of the eternal truth he is trying to make
					dramatic.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:07.38:00',
					'endtime','00:25:22.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Have you ever been called a
					humorist?</p>
<p><div class="speaker">William Faulkner</div>I think some of the things I write is funny. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I don't know .</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:22.71:00',
					'endtime','00:26:05.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, how do you&mdash;how do you
					organize your novels? Do you have any outline or do you just begin writing it?</p>
<p><div class="speaker">William Faulkner</div>There's no rules for that. Occasionally, one is&mdash;is complete
					before you begin it, which is <em>tour de force</em>, but most of them begin with some
					incident in which man is acting in that gallant way despite his fragility.
					Others begin with a character who has in himself the seed of tragedy. After
					that, the&mdash;all the writer has to do is to run along behind with a
					notebook and put down what they say and do. They've taken charge by
					then&mdash;by then.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.27">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:09.67:00',
					'endtime','00:27:18.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>
					 <span class="unclear tooltip" title="Text was unclear">[difficult to describe]</span> ?
				</p>
<p><div class="speaker">William Faulkner</div>Why, if you will agree that the writer is never quite satisfied
					with&mdash;with anything he does, then none of them are difficult or none of
					them are easy.  That emotion&mdash;the emotion the character shows is simply
					one of the&mdash;the tools in the craftsman's toolbox, and when he needs to
					show anger, he can always steal from somebody else that has shown anger and copy
					it. If he believes in his characters enough, and they themselves have stood up
					on their own hind legs and begun to move, then all he has to do is just put down
					what they say and do, that he doesn't have
					to&mdash;to create emotional states for them. They're doing that. He just is
					the stenographer.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.28">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:22.70:00',
					'endtime','00:28:32.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div> <span class="unclear tooltip" title="Text was unclear">[go back,]</span>. I'm going to say the sentence structure is
					different in the later books than in the earlier ones. Is that by intention or
					just an evolution in style?</p>
<p><div class="speaker">William Faulkner</div>I prefer to think that&mdash;that no writer has got time to be too
					concerned with style, that he is simply telling this dramatic instance in the
					most effective way he knows, that the book, the story, creates its own style.
					Long and involved sentences&mdash;I don't like them any&mdash;any more
					than the people that have to read them do, but I couldn't think of any, to me,
					better, more effective, way to tell what I was trying to tell.  And it's not
					really an evolution, simply that&mdash;that one story in my opinion
					demanded, compelled a certain diction and style. The story next to it has
					compelled a completely different one.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.29">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:32.74:00',
					'endtime','00:29:03.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Going back to the movies, do you mind that they buy your movie and then
					treat it in an entirely different way from the way you would want it to be
					treated?</p>
<p><div class="speaker">William Faulkner</div>Well, I wouldn't have any wants in the matter. I have done the best I
					could with that book myself. It wasn't quite as good as I thought it was going
					to be, and I'm convinced that nobody can else improve on it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					and every now and then I like a little money
					myself, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and so they are welcome to do whatever
					they want to because they can't really think of that book as I wrote it.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.30">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:07.57:00',
					'endtime','00:30:16.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>It occurs to me that as Writer-in-Residence we are making you look
					for&mdash;backwards instead of forwards. We are making you analyze what
					you've already done. Has this affected your writing career?</p>
<p><div class="speaker">William Faulkner</div>I think as long as the demon's on my back, nothing can affect my writing
					career. I think that&mdash;that it&mdash;it pleases anyone to find that
					there are enough people who are moved or entertained by what he did to where
					they will&mdash;will come in a group like this asking questions. It may be
					that that's a poor habit for an&mdash;an aged writer like me to form, that
					he will get to where he'd rather talk to folks than to go home and work. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					In that way, it may damage his work a little, but
					I suspect that&mdash;that when the writer's young and still hot, he's not
					going to become Writer-in-Residence, <span class="unclear tooltip" title="Text was unclear">[anyway]</span>. He's too busy.
					It's when he begins to scrape the bottom of the barrel, then he 
					can <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> become a philosopher and a sage,
					but&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.31">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:18.21:00',
					'endtime','00:31:43.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you would&mdash;do
					you prefer to create a mood rather than a plot when writing?</p>
<p><div class="speaker">William Faulkner</div>I am simply writing about people. I have taken man in one of his amazing
					victories and have tried to put it down on paper. If it takes plot to do that,
					then I will&mdash;will borrow a plot from somebody. There ain't but two or
					three plots, you know. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> If&mdash;if it
					takes a mood, then I will hunt around to where somebody's written the
					sort&mdash;in memory, I mean&mdash;where somebody has portrayed that
					mood, and I will borrow from him.</p>
<p><div class="speaker">Unidentified participant</div><span class="unclear tooltip" title="Text was unclear">[Then]</span> you are writing an emotion, not&mdash;?</p>
<p><div class="speaker">William Faulkner</div>I'm writing about people. Man involved in the human dilemma, facing the
					problems bigger than he, whether he licks them or whether they lick him.  But man
					as frail and fragile as he is, yet he will keep on trying to be brave and honest
					and compassionate, and that, to me, is very fine and very interesting, and that
					is the reason I think any writer writes. He's not trying to write
						<span class="unclear tooltip" title="Text was unclear">[style]</span>. He's not trying to&mdash;to uplift, to deliver
					a message. He is simply writing about a man in the infinite 
					mutations of&mdash;of man's capacity.
				</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.32">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:50.35:00',
					'endtime','00:32:34.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Would you make a sort of general statement about the seed of tragedy as
					found in the hero of <em>All the King's Men</em> by Mr. Warren?</p>
<p><div class="speaker">William Faulkner</div>I don't know that book. I&mdash;I read a&mdash;a story that
					was&mdash;was inside the story of a man named Cass <span class="unclear tooltip" title="Text was unclear">[something]</span>.
					That was the best part of that book. As far as I'm concerned, he can throw the
					rest of the book away, but that is a very fine story. So I can't speak about
					that book. I&mdash;I didn't read it with&mdash;with enough attention
					to&mdash;to remember it, only that story of the man Cass, I
					believe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio32.33">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio32.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:34.94:00',
					'endtime','00:32:58.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do the critics bother
					you in any way or change the tenor or direction of your thinking or actions?</p>
<p><div class="speaker">William Faulkner</div>I don't read critics. I'd rather read imaginary fiction. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I'm not a&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio32.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio32.2" class="hidden">Faulkner's Introduction</a></li>
<li><a href="#wfaudio32.3" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio32.4" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio32.5" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio32.6" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio32.7" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio32.8" class="hidden">Story, Excerpt 6</a></li>
<li><a href="#wfaudio32.9" class="hidden">Story, Excerpt 7</a></li>
<li><a href="#wfaudio32.10" class="hidden">Story, Excerpt 8</a></li>
<li><a href="#wfaudio32.11" class="hidden">Story, Excerpt 9</a></li>
<li><a href="#wfaudio32.12" class="hidden">Audience Prompt</a></li>
<li><a href="#wfaudio32.13" class="hidden">First Book to Read</a></li>
<li><a href="#wfaudio32.14" class="hidden">Film Long Hot Summer</a></li>
<li><a href="#wfaudio32.15" class="hidden">Writer and Characters</a></li>
<li><a href="#wfaudio32.16" class="hidden">Sound and Fury as Favorite</a></li>
<li><a href="#wfaudio32.17" class="hidden">Dramatization of Requiem</a></li>
<li><a href="#wfaudio32.18" class="hidden">Walter Scott</a></li>
<li><a href="#wfaudio32.19" class="hidden">Fugal Effect</a></li>
<li><a href="#wfaudio32.20" class="hidden">Characters' Names</a></li>
<li><a href="#wfaudio32.21" class="hidden">Writer's Demon</a></li>
<li><a href="#wfaudio32.22" class="hidden">Writer's Stimulus</a></li>
<li><a href="#wfaudio32.23" class="hidden">Movies and Plays</a></li>
<li><a href="#wfaudio32.24" class="hidden">Art v Science</a></li>
<li><a href="#wfaudio32.25" class="hidden">Humor</a></li>
<li><a href="#wfaudio32.26" class="hidden">Writing Methods</a></li>
<li><a href="#wfaudio32.27" class="hidden">Writer and Characters</a></li>
<li><a href="#wfaudio32.28" class="hidden">Sentence Structure</a></li>
<li><a href="#wfaudio32.29" class="hidden">Books v Movies</a></li>
<li><a href="#wfaudio32.30" class="hidden">Being Writer-in-Residence</a></li>
<li><a href="#wfaudio32.31" class="hidden">Mood v Plot</a></li>
<li><a href="#wfaudio32.32" class="hidden">All the King's Men</a></li>
<li><a href="#wfaudio32.33" class="hidden">Reading Critics</a></li>
</ul></aside>
		
