
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio24_1_2clip.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 28 April 1958</h4>
<h4>OCCASION: First-Year English Class</h4>
<h4>This clip was created by splicing the end of T-142c and the beginning of T-142d together.</h4>
<div class="audio play-all" id="event1">
        				Play entire recording
        			</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio24_1_2.1">&nbsp;</a><div class="audio play-clip" id="wfaudio24_1_2.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1_2clip.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:01:34.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>When you speak of a man in motion, do you think that that person who
                        moves along with it is apt to be the most successful or&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Well, he&mdash;he might have more peace. He may not be more
                        successful. By a man in motion, I meant simply that motion is life,
                        that&mdash;that man, if he's alive, he is in motion, and whether you like
                        where he's going or not, your only alternative is stasis or death, and the
                        choice which Ratliff had no trouble making is, "Either&mdash;either I will take this or
                        nothing, and I would prefer this to nothing, that I'd prefer breathing to not
                        breathing." But success&mdash;it would depend on what anyone means by
                        success. Maybe Ratliff never used that term to himself at all, but probably he
                        was, in own lights, quite successful. That is, he wanted 
                        no more than he knew within his capacity he would have, that he was going to
                        enjoy what he saw and heard and was going to live a long time in peace because
                        he had accepted, coped with environment, without trying to manipulate 
                        environment for his own aggrandizement as Snopes did.
                    </p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio24_1_2.1" class="hidden">Spliced clip</a></li></ul></aside>
        
