
            <div id="side_nav"><ul>
<li><a href="#wfaudio16_2.1" class="hidden">Fragment</a></li>
<li><a href="#wfaudio16_2.2" class="hidden">Wave in "Old Man"</a></li>
<li><a href="#wfaudio16_2.3" class="hidden">Visualizing Scenes</a></li>
<li><a href="#wfaudio16_2.4" class="hidden">Dialect in "Old Man:</a></li>
<li><a href="#wfaudio16_2.5" class="hidden">Thomas Wolfe</a></li>
<li><a href="#wfaudio16_2.6" class="hidden">Dream in "Old Man"</a></li>
<li><a href="#wfaudio16_2.7" class="hidden">Experience with Delta</a></li>
<li><a href="#wfaudio16_2.8" class="hidden">Nose Bleed in "Old Man"</a></li>
<li><a href="#wfaudio16_2.9" class="hidden">Vizier in "Old Man"</a></li>
<li><a href="#wfaudio16_2.10" class="hidden">Planning the Story</a></li>
<li><a href="#wfaudio16_2.11" class="hidden">For Whom the Bell Tolls</a></li>
<li><a href="#wfaudio16_2.12" class="hidden">Demon-Driven</a></li>
<li><a href="#wfaudio16_2.13" class="hidden">Writing Multiple Books</a></li>
<li><a href="#wfaudio16_2.14" class="hidden">Strength in "Old Man"</a></li>
<li><a href="#wfaudio16_2.15" class="hidden">Judging Characters</a></li>
<li><a href="#wfaudio16_2.16" class="hidden">Losing Humanity</a></li>
<li><a href="#wfaudio16_2.17" class="hidden">"Old Man"/"Wild Palms"</a></li>
<li><a href="#wfaudio16_2.18" class="hidden">Defining His Audience</a></li>
<li><a href="#wfaudio16_2.19" class="hidden">Writing for Money</a></li>
<li><a href="#wfaudio16_2.20" class="hidden">Writing for Movies and TV</a></li>
<li><a href="#wfaudio16_2.21" class="hidden">Drama as a Literary Form</a></li>
<li><a href="#wfaudio16_2.22" class="hidden">"A Rose for Emily"</a></li>
<li><a href="#wfaudio16_2.23" class="hidden">A Fable</a></li>
<li><a href="#wfaudio16_2.24" class="hidden">Close</a></li>
</ul></div><div id="header">
<h3>DATE: 20 May 1957</h3>
<h3>OCCASION: Freshman English Class</h3>
<h3>TAPE: T-133</h3>
<h3>LENGTH: 29:25</h3>
<script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit');
		      }
		      catch (e) {
			     //document.write(e);
			  }</script><hr>
</div><div id="body">
<a name="wfaudio16_2.1">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:07.08:00',
				'endtime','00:00:13.50:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong> and the
                    solitude, but she&mdash;but she wasn't enough&mdash;he had to go and get
                    into trouble over somebody else's wife.</p>
<hr>
<a name="wfaudio16_2.2">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:16.11:00',
				'endtime','00:01:11.00:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>What did the tremendous wave signify and what caused it?</p>
<p><strong>William Faulkner: </strong>That simply is a physical fact in that country when a levee breaks. The
                    water rushed through the crevasse, and it&mdash;it came to the lowest place,
                    which was a stream, which up to that time had been flowing toward the river.
                    This wave of water from the&mdash;at that time the river, the Mississippi,
                    was&mdash;was forty feet higher than the country, and when that levee gave
                    way, that&mdash;that mass of water that came through had to go somewhere,
                    and it broke on the east side of the river, so that wave of water simply
                    continued to go east until it spent itself, and in this&mdash;this stream,
                    which up till that time had been flowing placidly west, it turned around and ran
                    backward. That's just a physical fact of&mdash;of hydraulics and
                        levee.
                </p>
<hr>
<a name="wfaudio16_2.3">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:01:11.02:00',
				'endtime','00:01:55.08:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>It seems that you draw a picture for yourself before you  
                        draw a picture.
                    Do you do that in your writing itself when you are writing a book, draw another
                            picture for yourself before  ?</p>
<p><strong>William Faulkner: </strong>Oh, well, any writer puts down what he sees and what he hears, and that
                    image and&mdash;and that sound come from the proper blending of observation,
                    experience, and imagination. Yes, you've got to see what you&mdash;the scene
                    you describe. You've got to hear the voice speaking the speech that you put
                    down. You've&mdash;you have to hear the vernacular he speaks in, rather than
                    to&mdash;to think of the speech and then translate into the
                        vernacular.
                </p>
<hr>
<a name="wfaudio16_2.4">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:01:56.14:00',
				'endtime','00:03:01.13:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, you want  to establish the intellectual level of these people
                    you're talking about, but I noticed we're missing this Mississippi accent which
                    is so prevalent in those people. You made no attempt to
                    simulate that in the dialect. Is there any reason for that?</p>
<p><strong>William Faulkner: </strong>If the writer puts too much attention to transcribing literally
                    the&mdash;the dialogue he hears, it's confusing to people who have never
                    heard that speech. That is, some&mdash;some of the words are difficult to
                    spell. They would be&mdash;to a Mississippian, he would see the words
                    spelled the way a Mississippian would spell it, he would know how it sounded,
                    but to an outlander, he wouldn't know. He would mispronounce that word wrong.
                    You can&mdash;can go only so far with&mdash;with dialect, and then
                    there's a point where for&mdash;for the simple reason not to make too much
                    demand on the writer, to distract his attention from the story you're telling,
                    you've got to draw the line.
                </p>
<hr>
<a name="wfaudio16_2.5">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:03:03.07:00',
				'endtime','00:03:53.00:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, you said imagination is <span class="unclear tooltip" title="Text was unclear">[enough for]</span> writing.
                        It makes a good writer. Do you believe that Thomas Wolfe
                    uses a lot of imagination in his writing, or do you think that he just wrote 
                    primarily from experience?</p>
<p><strong>William Faulkner: </strong>I think that no writer writes primarily from experience or observation
                    or imagination. It's as though he has three tanks with three lines and maybe a
                    mixing valve, and he draws from that tap, from all three of them, and he himself
                    can never say how much of this was imagination, how much was observation, how
                    much was experience. He&mdash;he couldn't and then he&mdash;he wouldn't
                    bother to because that's not too important. If what he tells seems real and
                    seems true, then how much of what came from where and when makes no difference
                    to him.
                </p>
<hr>
<a name="wfaudio16_2.6">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:03:54.77:00',
				'endtime','00:04:35.99:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>It's a rather small passage, but in one place he's on the Indian mound
                    with the woman, and he's lost his oar, and he's trying to make a new one, and he
                    has this dream that he's trying&mdash;that he's back at the bunk house, and
                    he's attempting to sleep, but there is a mule, John Henry, keeps trying to crawl
                    into bed with him, and he licks him with his cold tongue. Is that supposed to
                    have any special symbolism such as work or anything or is this&mdash;?</p>
<p><strong>William Faulkner: </strong>No, no, that's what it felt like to him when whatever the animal was
                    that was crawling over him while he was asleep made him think of.
                    He&mdash;he reduced that to&mdash;to his own imagination, observation,
                    and experience.
                </p>
<hr>
<a name="wfaudio16_2.7">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:04:42.05:00',
				'endtime','00:05:48.09:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>When did you come into the close contact with a flood on the Mississippi
                    that the text would indicate and when did you observe all these things, the way
                    the flood happened and so forth? .</p>
<p><strong>William Faulkner: </strong>Hmmm, why, I can't say. I've known it all my life. That is, this country
                    is&mdash;is not very far from where I was born and have lived all my life,
                    and I have known these people. I have known that country. Every fall as long as
                    I can remember, we would go there to hunt bear and deer, which was close to the
                    levee, and so we would know these people. They would cross the levee and come
                    into our camp. They would&mdash;they were lawless people. They would be
                    beggars, and on occasion they would be thieves, but if we were ever
                    benighted&mdash;lost at night&mdash;we could go to their shanty boats
                    and shacks, and they would give us what they had to eat and let us sleep that 
                    night.
                </p>
<hr>
<a name="wfaudio16_2.8">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:05:51.45:00',
				'endtime','00:06:39.44:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>On several occasions the tall convict is plagued by this nose bleed that
                    he can't control. This usually follows some period where he's had a great
                    struggle and shown his bravery and his strength, such as with the alligator. Is
                    this helplessness in the face of this nose bleed supposed to be a humorous
                    contrast with his strength and his usual self-sufficiency? Or did you want to
                    ?</p>
<p><strong>William Faulkner: </strong>Well, to me that was just something else comical and&mdash;and
                    bizarre that should have&mdash;he should be afflicted with that also. With
                    all his other troubles, he had&mdash;had that&mdash;what's the name of it, the ailment
                    when your blood won't clot?</p>
<p><strong>Unidentified participant: </strong>Hemophilia.</p>
<p><strong>William Faulkner: </strong>Yes, that on top of everything else, he had to have that, too.
                </p>
<hr>
<a name="wfaudio16_2.9">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:06:42.80:00',
				'endtime','00:07:32.38:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>This is just one sentence which I wonder about. In the beginning of this
                    final chapter, and you told&mdash;you sort of described the Governor's
                    emissary, and you say that he just sat down on the desk, you say "almost between
                    the warden and the caller, the emissary" and you say&mdash;this is the
                    sentence or these are the sentences: "Or the vizier, V-I-Z-I-E-R, with the
                    command, the knotted cord, has began to appear immediately." Exactly what does
                    that mean? I&mdash;</p>
<p><strong>William Faulkner: </strong>Oh, that's Eastern, from the&mdash;the Middle East. When the sultan
                    decided he was tired of a&mdash;of a courtier he would send his Prime Minister
                    with a knotted cord to suggest that he choke himself to death. That's all.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
<hr>
<a name="wfaudio16_2.10">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:07:33.62:00',
				'endtime','00:09:23.94:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, when you write any of your novels, do you usually have a definite
                    idea of how it's going to happen and outline it or do you just
                    let the novel carry itself as you go along?</p>
<p><strong>William Faulkner: </strong>Sometimes there is a&mdash;a general idea of what the end might be.
                    That is, an anecdote or a scene, or it could be a scene at the&mdash;at the
                    first&mdash;first of the book, or I don't know until I start where the scene
                    might come. It could begin with a character, or it could begin with
                    a&mdash;with an idea&mdash;an idea out of man's condition. That is, in <em>Absalom, 
                        Absalom!</em>&mdash;that began with the idea of a man that
                    wanted&mdash;a ruthless man that wanted a son and got so many that they
                    destroyed one another and destroyed him, but the idea almost at once produced
                    the protagonist, which was the man himself. Some writers, I think, have to have a
                    plot. They&mdash;they do research. They have notebooks and graphs and charts
                    and things, but I never have worked that way. Mine begin with&mdash;with a&mdash;a 
                    scene or an anecdote to write toward, or with a character, and after the
                    characters, the people come alive, then all the writer has to do is to trot
                    along beside them with a notebook and a pencil, and put down what they say and
                    do. Of course, at the end, you've got to&mdash;to use some discipline, to do
                    editing, to pick and choose and make the&mdash;give the whole thing
                    coherence and emphasis at the right place and unity, but with me, the characters
                    take charge of the story, and all I have to do is just put down what they do and
                        say.
                </p>
<hr>
<a name="wfaudio16_2.11">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:09:23.93:00',
				'endtime','00:10:36.34:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, this is slightly <span class="unclear tooltip" title="Text was unclear">[pointing out]</span> toward another
                    tangent. We were having a discussion in our class as to whether Ernest
                    Hemingway's novel <em>For Whom the Bell Tolls</em> was didactic or
                    not.   Would you give your opinion to that?</p>
<p><strong>William Faulkner: </strong>I would say simply that Hemingway was writing&mdash;well, in a
                    sense, the same story&mdash;every writer in a way is writing one
                    story. That he&mdash;there's one thing in man's condition that seems to him
                    the most moving, the most tragic, and this time Hemingway was writing the story
                    which still seemed to him moving and tragic, which like all writers he never had
                    told well enough to please him. This one was brought into urgency by
                    the&mdash;the condition <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span>, that he was not really
                    writing primarily about the Spanish Civil War, but he was writing about
                    the&mdash;the human condition, which to him was moving and tragic in the
                    terms of that war.
                </p>
<hr>
<a name="wfaudio16_2.12">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:10:37.76:00',
				'endtime','00:11:35.96:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Does the writer write usually from urge or from a sense of ?</p>
<p><strong>William Faulkner: </strong>A little of both. I think that&mdash;that most writers are
                    demon-driven. Whether to say that it's&mdash;he has to or&mdash;or
                    whether it's an urge, it's difficult to say, but he is driven by a demon, that
                    he has found this world amazing and&mdash;and disturbing or tragic or comic
                    or anyway passionate enough, so that he has got to use the time he's on earth
                    to express maybe his appreciation of the fact that he lived for a little while.
                    Maybe he's in a way saying, "Much obliged God that I was here for a while."
                    It&mdash;it's a demon, that he's driven by that.</p>
<hr>
<a name="wfaudio16_2.13">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:11:36.01:00',
				'endtime','00:11:52.65:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Unidentified participant: </strong>Does the writer ever get involved in more than one book  at a time?</p>
<p><strong>William Faulkner: </strong>Oh, yes. Yes, I've written&mdash;one time I was working on three at
                    one time. I have written awhile on one and put it aside and then write another,
                    then come back to the first one again. 
                </p>
<hr>
<a name="wfaudio16_2.14">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:11:54.95:00',
				'endtime','00:13:25.96:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Let's see. We'll
                    have to start at the left. Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Does the&mdash;does the convict in "The Old Man" gain his strength from
                    the fact that he does have the mind of a sixteen- or seventeen-year-old and
                        his perceptions are limited?</p>
<p><strong>William Faulkner: </strong>No, I wouldn't say he gained his strength from that. I would say that he
                    gained his strength because he had a&mdash;a&mdash;a very simple moral
                    standard. That he made one aberration from it because he was tempted by Delilah,
                    but he would&mdash;he would never make that aberration again, and 
                    he&mdash;the&mdash;he&mdash;the reason for the security he wanted was that he would never
                    be tempted, he would believe that&mdash;that he wouldn't, that his own
                    strength would keep him from being taken over the hurdles by another woman
                    like that, but he wasn't too sure. He knew as long as he was in
                    that&mdash;that penitentiary, and he was expiating the crime&mdash;he
                    did something wrong, he knew that, and he was expiating his crime. He was
                    doing the best he could to lead a decent life while he was there, to expiate his
                    crime against society. He had a&mdash;a standard of morals, and that was, I
                    think, his strength. He had been sent out to&mdash;to rescue two people in a
                    flood, and he did the best he could to rescue both of them and bring them back.
                    That took a certain sort of morality to do that. He could have escaped at any
                    time, but he didn't.
                </p>
<hr>
<a name="wfaudio16_2.15">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:13:28.26:00',
				'endtime','00:15:03.87:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Do you condone his attempt to&mdash;to escape from his insecurity? I
                    mean, do you think it's commendable to do what one wants even though it's
                    escape, or do you think that one should try and better himself.  And should he
                    have become a trustee and&mdash;and attempted to face life more
                    squarely?</p>
<p><strong>William Faulkner: </strong>I think people should never judge one another.  Least of all should the
                    writer judge his characters. I think that&mdash;that man is&mdash;is
                    trying to do better than he thinks he can maybe, that he wants to be braver,
                    more honorable. He wants to&mdash;to have compassion. He's&mdash;he's
                    afraid that maybe he won't, that maybe he won't be as brave as he wants to be,
                    and then suddenly something happens, and he finds to his astonishment that he
                    was as brave as he wanted to be, that he is as honorable as he wanted to be,
                    that he does have compassion, so I would&mdash;I would never judge him. I
                    would&mdash;I would say about him that&mdash;that within
                    his&mdash;his lights to have accepted a condition and to do the best he can
                    in it, whether that&mdash;that best is very intelligent or not is not too
                    important. The fact is that by his lights he's doing the best he can in a
                    condition. He's not whining to anybody. He didn't ask for&mdash;for that
                    condition, but there it is, and he's going to do the best in it. He's not going
                    to whine, and I think that's admirable.
                </p>
<hr>
<a name="wfaudio16_2.16">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:15:03.88:00',
				'endtime','00:16:04.07:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, you have painted his fellow convicts as being almost
                    animals&mdash;they turn their backs to the rain, and they crowd around the
                    empty stove in the train, and they&mdash;they seem to have absolutely no
                    personality. They're&mdash;they're just animals. Would the tall convict have
                    been exactly the same?</p>
<p><strong>William Faulkner: </strong>He would, yes. That is the&mdash;the result of having been in
                    prison. Being in prison makes a man an animal. What it divides&mdash;deprives him of is the
                    thing that differentiates him from beast, which is the capacity for free will,
                    for liberty, freedom, and so, of course, they were animals to turn their backs
                    to a rain and&mdash;and&mdash;and hover over the symbol of&mdash;of
                    heat and warmth. That's the bad thing about prison, about deprivation of simple
                    liberty and free will&mdash;worst thing can happen to you.
                </p>
<hr>
<a name="wfaudio16_2.17">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:16:04.08:00',
				'endtime','00:17:04.10:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Did you show that the convict had high moral standards in one
                        <span class="unclear tooltip" title="Text was unclear">[sense]</span>  <span class="unclear tooltip" title="Text was unclear">[by emphasizing]</span> the moral standards of Charlotte and
                    Harry and ?</p>
<p><strong>William Faulkner: </strong>No, no. I wasn't interested in the convict's moral standards any more
                    than I was interested in Harry's and Charlotte's. I was simply writing about
                    people. I was writing the story of&mdash;of a man and a woman
                    who&mdash;who threw away everything for love, and the story
                    wasn't&mdash;wasn't emphasized, it wasn't moving enough, so I&mdash;I
                    wrote the second story of&mdash;of a man and a woman who got the very thing
                    that Harry and Charlotte had thrown away everything to have and wasn't happy
                    until the man, the convict, got rid of it. I wasn't writing about their moral
                    standards. They themselves exposed their moral standards to me simply by doing
                    and saying things which I transcribe, put down.
                </p>
<hr>
<a name="wfaudio16_2.18">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:17:04.11:00',
				'endtime','00:18:48.91:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Sir, when you write a book, do you write just to or at a certain group of
                    people, because when a person starts reading your book, his first <span class="unclear tooltip" title="Text was unclear">[shock,
                        as you said,]</span> was the length of your sentences, first of all, and
                    by the insight which is required to get to the meat out of the story, to get the
                    meaning that you want to convey. Do you write to <span class="unclear tooltip" title="Text was unclear">[an]</span> above
                    average class of people, <span class="unclear tooltip" title="Text was unclear">[or I should say]</span>, way above average <span class="unclear tooltip" title="Text was unclear">[class of
                        people]</span>?</p>
<p><strong>William Faulkner: </strong>No, I don't think any writer does that. I know that in my own case I
                    wrote books for years before it ever occurred to me that strangers might read
                    them. The writer is demon-driven. He is writing something which seemed to him
                    so&mdash;so moving, so tragic, so passionate, that he had to&mdash;to
                    put it down in his short span on this earth if for no other reason than to say I
                    was here.  That he is not writing at&mdash;at the time when
                    the&mdash;when the fire is hot, and the demon has&mdash;is really got
                    him at a&mdash;a dead run for anybody. He's simply trying to
                    put&mdash;put this&mdash;this passionate dream that he has seen or
                    imagined down. Later on, he begins to realize that people do read it, but at the
                    time he&mdash;he's not interested in that. He hasn't thought about that. The
                    first one wasn't good enough, so he's busy writing another one. He hasn't had
                    time yet to realize that people will read it.
                </p>
<hr>
<a name="wfaudio16_2.19">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:18:50.15:00',
				'endtime','00:20:20.63:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Judging from that, sir, you might say your idea&mdash;your idea of
                    a true author isn't one who sculpts his material toward the commercial side?</p>
<p><strong>William Faulkner: </strong>That's right. Yes, if&mdash;if what he wants is money, then there
                    are probably easier ways to make money than being an author. I think
                    that&mdash;that the young man or young woman that wants to write will have
                    to make that choice. He has got to decide, "Do I want to do this because
                    I have a demon that won't let me alone or do I want to make some money at this?"
                    I think, in the case of&mdash;of the men and women who have been the good
                    writers, that choice never occurred to them, that they had never had to stop to
                    decide, "I&mdash;I have a choice to make, now, which shall I choose," because
                    he has made that choice. The alternative has never occurred to him, any more
                    than he would choose, "Now shall I be a writer or shall I be a banker?" That if he
                    wants to be a banker, he will be a banker, but he will be a writer, too. If he
                    wants to be a doctor, he will be a doctor, but if he has a demon to write he
                    will still be a writer, too. He will find plenty of time to be a writer, be a
                    painter, be anything else.
                </p>
<hr>
<a name="wfaudio16_2.20">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:20:23.11:00',
				'endtime','00:21:01.35:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Have you been approached, and I'm sure you have, to express yourself in a
                    medium other than a book or a play? For instance, have you ever been asked to
                    write a television play or a movie <span class="unclear tooltip" title="Text was unclear">[that implies]</span> .</p>
<p><strong>William Faulkner: </strong>Well, when I have needed money, I have worked for moving pictures and
                    television, but that was simply a&mdash;a pleasant way to get a check every
                    Saturday night, and it had nothing to do with writing. It was just a job. 
                    </p>
<hr>
<a name="wfaudio16_2.21">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:21:01.36:00',
				'endtime','00:22:37.24:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Would you comment on drama as a literary form, <span class="unclear tooltip" title="Text was unclear">[putting on
                        the]</span> plays that perhaps were never meant for production. Do you
                    like this type <span class="unclear tooltip" title="Text was unclear">[of art]</span>?</p>
<p><strong>William Faulkner: </strong>Well, I think that&mdash;that the&mdash;the play is&mdash;or&mdash;or
                    the&mdash;the novel, the short story, that is&mdash;is a medium which
                    fits the writer's temperament best. It may be that someone who thinks in term
                    of&mdash;of the drama sees more of what he wants to write than he hears.
                    Maybe the&mdash;the man who&mdash;or woman who instinctively takes
                    the novel form hears voices rather than sees. That is a&mdash;a matter
                        of&mdash;of probably individual temperament and character, which method is
                    the one that you can&mdash;can do, what is to yourself the most satisfactory
                    work, which is the primary reason why the writer writes, is&mdash;is for
                    himself. I think that&mdash;that&mdash;that all writers wanted to be
                    poets, maybe, which is the highest form. Then they would accept having failed to
                    be poets, to write the poetry which was as good as&mdash;as they wanted it
                    to be, as they dreamed it to be. Then he would take whatever medium is closest
                    to his own nature and character, which could be the stage or could be short
                    stories or could be novels.
                </p>
<hr>
<a name="wfaudio16_2.22">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:22:39.09:00',
				'endtime','00:24:38.07:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>I was just wondering, one of your short stories, "A Rose For Emily," what ever
                    inspired you to write this story ?</p>
<p><strong>William Faulkner: </strong>That, to me, was&mdash;was another sad and tragic manifestation of
                    man's condition in which he&mdash;he dreams and hopes, in which he is in
                    conflict with himself or with his environment or with others. In this case,
                    there was the young girl, with a young girl's normal aspirations, to find love
                    and then a husband and a family, who was browbeaten
                    and&mdash;and kept down by her father, a selfish man
                    who&mdash;who didn't want her to leave home because he wanted a housekeeper,
                    and it was a natural instinct repressed, which&mdash;which you can't repress
                    it. You can mash it down, but it comes up somewhere else in a&mdash;very
                    likely a tragic form, and that was simply another manifestation
                    of man's injustice to man, of&mdash;of the poor tragic human being
                    struggling with its own heart, with others, with its environment, for the simple
                    things which all human beings want. In that case it was a young girl that&mdash;that just
                    wanted to be loved and to love and to have a husband and a family.</p>
<p><strong>Unidentified participant: </strong>And that purely came from your imagination?</p>
<p><strong>William Faulkner: </strong>Well, the story did, but the&mdash;the condition is&mdash;is
                    there. It exists. I didn't invent that condition. I&mdash;I didn't invent
                    the fact that young girls dream of&mdash;of someone to love and children and
                    a home, but the story of what her own particular tragedy was was invented,
                        yes.
                </p>
<hr>
<a name="wfaudio16_2.23">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:24:38.08:00',
				'endtime','00:25:35.06:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong> Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Concerning <em>A Fable</em>, which I&mdash;in my humble
                    opinion is your greatest book although the critics didn't seem to think so.
                    What, sir, prompted you to write along those lines, the history of a battlefield
                    in France during the First World War and the mutinies in the French Army
                    and&mdash;</p>
<p><strong>William Faulkner: </strong>That was the only book I ever wrote that came from an intellectual idea
                    purely and simply. It was the&mdash;the thought occurred to me, who might
                    that be under the splendid marble cenotaph with the eternal fire burning over it
                    forever and forever. That if&mdash;suppose that had been Christ. If Christ
                    had&mdash;had returned again, of course he would have been crucified again,
                    which would be twice, and maybe, just maybe, man would not be offered but one
                    more chance.</p>
<hr>
<a name="wfaudio16_2.24">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio16_2.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:25:36.68:00',
				'endtime','00:26:03.77:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>Moderator: </strong>Mr. Faulkner, I'm sure that we all thank you  <span class="unclear tooltip" title="Text was unclear">[to go on]</span> but I wanted
                    to <span class="unclear tooltip" title="Text was unclear">[give you an opportunity to]</span> no longer be subjected to
                    questions. I'm sure that we all appreciate Mr. Faulkner's coming and that we've
                    learned a great deal from his remarks.</p>
<p><strong>William Faulkner: </strong>Thank you, ladies and gentlemen. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
<hr>
</div>
        
