<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio09_1.1">Opening</a>
    </li>
    <li>
      <a href="#wfaudio09_1.2">Christmas and Christ</a>
    </li>
    <li>
      <a href="#wfaudio09_1.3">Exchange with Audience</a>
    </li>
    <li>
      <a href="#wfaudio09_1.4">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio09_1.5">Writer's Sources</a>
    </li>
    <li>
      <a href="#wfaudio09_1.6">Plot v Character</a>
    </li>
    <li>
      <a href="#wfaudio09_1.7">Opinion of Tennyson</a>
    </li>
    <li>
      <a href="#wfaudio09_1.8">When Bon Knows</a>
    </li>
    <li>
      <a href="#wfaudio09_1.9">Bon and Oedipus</a>
    </li>
    <li>
      <a href="#wfaudio09_1.10">Knowing His Characters</a>
    </li>
    <li>
      <a href="#wfaudio09_1.11">Snopes Trilogy</a>
    </li>
    <li>
      <a href="#wfaudio09_1.12">Absalom and Race</a>
    </li>
    <li>
      <a href="#wfaudio09_1.13">Changing Southern Prejudice</a>
    </li>
    <li>
      <a href="#wfaudio09_1.14">The Ku Klux Klan</a>
    </li>
    <li>
      <a href="#wfaudio09_1.15">Absalom's Erotics</a>
    </li>
    <li>
      <a href="#wfaudio09_1.16">Writing for Effect</a>
    </li>
    <li>
      <a href="#wfaudio09_1.17">Sound and Fury's Chronology</a>
    </li>
    <li>
      <a href="#wfaudio09_1.18">Sound and Fury's Stylistics</a>
    </li>
    <li>
      <a href="#wfaudio09_1.19">The Town's Italics</a>
    </li>
    <li>
      <a href="#wfaudio09_1.20">Love in Light in August</a>
    </li>
    <li>
      <a href="#wfaudio09_1.21">Theories of Evolution</a>
    </li>
    <li>
      <a href="#wfaudio09_1.22">His Favorite Work</a>
    </li>
    <li>
      <a href="#wfaudio09_1.23">His First Reader</a>
    </li>
    <li>
      <a href="#wfaudio09_1.24">Reasons for Writing</a>
    </li>
    <li>
      <a href="#wfaudio09_1.25">Writing Sanctuary</a>
    </li>
    <li>
      <a href="#wfaudio09_1.26">Sanctuary and Requiem</a>
    </li>
    <li>
      <a href="#wfaudio09_1.27">The Writer's Development</a>
    </li>
    <li>
      <a href="#wfaudio09_1.28">Light in August</a>
    </li>
    <li>
      <a href="#wfaudio09_1.29">Populating Yoknapatawpha</a>
    </li>
    <li>
      <a href="#wfaudio09_1.30">Naming Characters</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio09_1.1"/>
  <p>Mr. Faulkner's once again ready for anything. </p>
</div>
<div class="section">
  <a name="wfaudio09_1.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.3"/>
  <p>Can you put that microphone a little closer to you or something?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.4"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.7"/>
  <p>Mr. Faulkner, is your opinion of Tennyson in Light in
                        August, as expressed by Hightower's remark that reading Tennyson is
                    "like listening in a cathedral to a eunuch chanting in a language which he does
                    not even need to not understand," is that your opinion of Tennyson?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.8"/>
  <p>In Absalom, Absalom!, which you said you didn't
                    remember very well last time, do you happen to remember when Charles Bon
                    realizes that Sutpen is his father? Is it before or after he leaves New Orleans
                    to go to the university?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.9"/>
  <p>Does the New Orleans lawyer have personal gain in mind in helping Bon and
                    his mother?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.10"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.11"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.13"/>
  <p>Yes,  sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.16"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio09_1.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.18"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.20"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.22"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.23"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.24"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.25"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.26"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio09_1.27"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.28"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.29"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_1.30"/>
  <p>Yes, sir.</p>
</div>
