<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio22_2.1">Old Southern Families A</a>
    </li>
    <li>
      <a href="#wfaudio22_2.2">Education v Book Learning</a>
    </li>
    <li>
      <a href="#wfaudio22_2.3">Education as Discipline</a>
    </li>
    <li>
      <a href="#wfaudio22_2.4">Reading as Education</a>
    </li>
    <li>
      <a href="#wfaudio22_2.5">Story's Title</a>
    </li>
    <li>
      <a href="#wfaudio22_2.6">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio22_2.7">Stories v Messages</a>
    </li>
    <li>
      <a href="#wfaudio22_2.8">Place of Theme</a>
    </li>
    <li>
      <a href="#wfaudio22_2.9">Role of Choice</a>
    </li>
    <li>
      <a href="#wfaudio22_2.10">Writing Full-time</a>
    </li>
    <li>
      <a href="#wfaudio22_2.11">Author v Characters</a>
    </li>
    <li>
      <a href="#wfaudio22_2.12">Functions of Writing</a>
    </li>
    <li>
      <a href="#wfaudio22_2.13">Impressions of UVA</a>
    </li>
    <li>
      <a href="#wfaudio22_2.14">Choosing Techniques</a>
    </li>
    <li>
      <a href="#wfaudio22_2.15">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio22_2.1"/>
  <p> if you mean by that&#x2014;that's true of any family, whether
                    they are southern or not. They cling to an obsolence, whatever that obsolence
                    might be, yes. And people have a tendency to&#x2014;to remember what was
                    pleasant, and the unpleasant part of that vanishes as memory attenuates, so that
                    all you remember is the happy part of it, and the instinct is to go back to that
                    happy part. You don't always remember that if you went back
                    to the happy part, you'd have to go through with the&#x2014;with the unhappy
                    part again, too. That's partly clinging to the happy past. It's partly a lack
                    of&#x2014;of something present to occupy. Everybody, in a sense, needs a tub
                    of washing, and the people like the Sartorises and Compsons, they don't have a
                    tub of washing anymore.
                    </p>
</div>
<div class="section">
  <a name="wfaudio22_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.3"/>
  <p> you concede that some education happens in the
                        school?</p>
</div>
<div class="section">
  <a name="wfaudio22_2.4"/>
  <p>Do you mean the process of him going to school is&#x2014;actually in
                    the subjects that he would be taught he probably wouldn't learn anything that
                    would be practical as far as him making a living
                    or&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio22_2.5"/>
  <p>Mr. Faulkner, when you put that title down, "Race at Morning," did you
                    think of the appropriateness of that title on really various levels. That is,
                    the fact that the "morning" is the boy. The "race" means human race as well
                    as the literal race in the hunt? You can interpret that title in various ways. I
                    was just thinking about it as you were talking.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.6"/>
  <p>Sir, do you find it best that&#x2014;once you get an idea, to sit right down 
                        and write it, or is it best to think it over and sort of let it
                    gel?</p>
</div>
<div class="section">
  <a name="wfaudio22_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.8"/>
  <p>I was just wondering, if you have this&#x2014;have a story, then your
                    purpose is more producing something that's enjoyable to be read, but if it has a
                    theme in it, in order to focus on the theme, in order to make the theme
                    as&#x2014;as fully developed, I should think you'd have to keep that in mind,
                    keep what the&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio22_2.9"/>
  <p>Someone once remarked&#x2014;I don't know where I read it&#x2014;he
                    said none of your characters ever made any conscious choice between 
                       good and evil. Does that seem to you a true statement
                        or not?</p>
</div>
<div class="section">
  <a name="wfaudio22_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.11"/>
  <p>Sir, when you find that if you were going to, say, put a message or a
                    theme in a certain story, that you would probably sit down and alter, say,
                    perhaps the realistic events of what you've seen in order to make
                    it tell this message or the theme of which would alter the story, say the hunter 
                        story there, merely to put across
                    a certain point.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio22_2.15"/>
  <p>Who was first? Yes, sir, I believe you are.</p>
</div>
