<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio22_2.1">Old Southern Families A</a>
    </li>
    <li>
      <a href="#wfaudio22_2.2">Education v Book Learning</a>
    </li>
    <li>
      <a href="#wfaudio22_2.3">Education as Discipline</a>
    </li>
    <li>
      <a href="#wfaudio22_2.4">Reading as Education</a>
    </li>
    <li>
      <a href="#wfaudio22_2.5">Story's Title</a>
    </li>
    <li>
      <a href="#wfaudio22_2.6">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio22_2.7">Stories v Messages</a>
    </li>
    <li>
      <a href="#wfaudio22_2.8">Place of Theme</a>
    </li>
    <li>
      <a href="#wfaudio22_2.9">Role of Choice</a>
    </li>
    <li>
      <a href="#wfaudio22_2.10">Writing Full-time</a>
    </li>
    <li>
      <a href="#wfaudio22_2.11">Author v Characters</a>
    </li>
    <li>
      <a href="#wfaudio22_2.12">Functions of Writing</a>
    </li>
    <li>
      <a href="#wfaudio22_2.13">Impressions of UVA</a>
    </li>
    <li>
      <a href="#wfaudio22_2.14">Choosing Techniques</a>
    </li>
    <li>
      <a href="#wfaudio22_2.15">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 26 February 1958</h3>
  <h3>OCCASION: Undergraduate Writing Class</h3>
  <h3>TAPE: T-141b</h3>
  <h3>LENGTH: 18:48</h3>
</div>
<div id="body">
  <a name="wfaudio22_2.1">&#xA0;</a>
  <p><strong>William Faulkner:</strong> if you mean by that&#x2014;that's true of any family, whether
                    they are southern or not. They cling to an obsolence, whatever that obsolence
                    might be, yes. And people have a tendency to&#x2014;to remember what was
                    pleasant, and the unpleasant part of that vanishes as memory attenuates, so that
                    all you remember is the happy part of it, and the instinct is to go back to that
                    happy part. You don't always remember <span class="unclear tooltip" title="Text was unclear">[that]</span> if you went back
                    to the happy part, you'd have to go through with the&#x2014;with the unhappy
                    part again, too. That's partly clinging to the happy past. It's partly a lack
                    of&#x2014;of something present to occupy. Everybody, in a sense, needs a tub
                    of washing, and the people like the Sartorises and Compsons, they don't have a
                    tub of washing anymore.
                    </p>
  <hr/>
  <a name="wfaudio22_2.2">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In the&#x2014;the story <span class="unclear tooltip" title="Text was unclear">[and]</span> your discussion, are you equating having
                    education to book learning?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Book learning is&#x2014;is a part of education that&#x2014;I would
                    say if I had to define education, I'd say it's a capacity to increase always,
                    to&#x2014;to know more tomorrow than you knew today no matter where you get
                    it from. You might get it from&#x2014;from playing poker or from farming or
                    from going to school or from fighting. Book learning, of course, is a part of
                    education, but book learning, to my notion, does not constitute education.
                    It's&#x2014;nothing is of any value if you can't use it. If you can't use it,
                    not so much to make other people better tomorrow, but to make yourself a little
                    better tomorrow than you are, to know more, to be a little wiser, to be more
                    sure of&#x2014;of your own capacity to&#x2014;to be honorable and
                    brave.</p>
  <hr/>
  <a name="wfaudio22_2.3">&#xA0;</a>
  <p><strong>Unidentified participant:</strong> <span class="unclear tooltip" title="Text was unclear">[you concede that some]</span> education <span class="unclear tooltip" title="Text was unclear">[happens in the
                        school]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, yes. Oh, yes.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>So do you think then by going to school&#x2014;if he wanted to just
                    hunt and&#x2014;and farm, do you think he might have gone into something else
                    now that he has gone to school and learned ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I doubt it. He would have&#x2014;have found out that&#x2014;what
                    Mr. Ernest tried to tell him, that to have the&#x2014;the&#x2014;the
                    right, the privilege to do what you want for a fortnight in the year, you've got
                    to do something for the other 351 days that maybe you won't like,
                    that&#x2014;that you have got to teach yourself or be taught discipline, or
                    nothing that you ever acquire will be any good to you if you don't have
                    discipline. And to go to school at his age was mainly the discipline of
                    something that must be done.</p>
  <hr/>
  <a name="wfaudio22_2.4">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Do you mean the process of him going to school is&#x2014;actually in
                    the subjects that he would be taught he probably wouldn't learn anything that
                    would be practical as far as <span class="unclear tooltip" title="Text was unclear">[him making]</span> a living
                    or&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right. Not until he found out, for instance, that he liked to
                    read. Once you discover you like to read, then nobody really needs to worry
                    about your book education anymore. You tend to that yourself, unless you want to
                    specialize <span class="unclear tooltip" title="Text was unclear">[in something]</span>.</p>
  <hr/>
  <a name="wfaudio22_2.5">&#xA0;</a>
  <p><strong>John Coleman:</strong>Mr. Faulkner, when you put that title down, "Race at Morning," did you
                    think of the appropriateness of that title on really various levels. That is,
                    the fact that the "morning" is the boy. The "race" means human race as well
                    as the literal race in the hunt? You can interpret that title in various ways. I
                    was just thinking about it as you were talking.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>John Coleman:</strong>About the value of the title.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, the title is in the little boy's terms, the morning of his life, and
                    it happened in the morning, and I&#x2014;I used the word "race"
                    as&#x2014;to the&#x2014;the exuberation&#x2014; the exuberance
                    of&#x2014;of speed. That, to him, was&#x2014;that life at that age never
                    does go slow. When it begins to slow up you get bored. It's always at top speed.
                    No, I hadn't thought of it in reference to humanity. It just&#x2014;it was
                    his&#x2014;his title, his terms.
                </p>
  <hr/>
  <a name="wfaudio22_2.6">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Sir, do you find it best that&#x2014;once you get an idea, to sit right down 
                        and write it, or is it best to think it over and sort of let it
                    <span class="unclear tooltip" title="Text was unclear">[gel]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>After you have been properly snake-bit with writing, you don't have any
                    spare time to sit down and think something over. You get one idea while you're
                    in the middle of&#x2014;of getting another one down, and the
                    new&#x2014;new idea has simply got to&#x2014;got to take its chance,
                    unless it's, as they say, so hot at the moment that you will put down what
                    you're doing to take it up. But probably some sort of a&#x2014;you might call
                    it protective coloration, that that idea don't come into the mind as new until
                    subconsciously it has been hovered over for a while.  That it has begun to take
                    its final shape before it ever comes into the conscious mind as an idea to
                    write. That you don't know where you got it, you don't know how long you've had
                    it.  That it&#x2014;it was an&#x2014;was an egg, or&#x2014;or a hen
                    that's been sitting over that single egg for the&#x2014;whatever length of
                    time it takes to hatch the thing out, before it comes into the conscious
                        mind.
                </p>
  <hr/>
  <a name="wfaudio22_2.7">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>When you think of stories <span class="gap tooltip" title="There was a gap in the tape">[gap in tape]</span> like this did in a
                    way, before it's really worth being developed.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's all right if it has, but I think that the primary purpose of a
                    story is, first, to be fun to the bloke writing it and, the second, to be fun to
                    the bloke reading it. That if&#x2014;if it has a message, that's all right.
                    The message don't do any harm.  But you're doing something that you like to do.
                    It's fun to do, and if it's done well&#x2014;if it was true, it's done the best you
                    can in a&#x2014;a&#x2014;a moving, dramatic form, it will please who reads
                    it. The message is incidental. I&#x2014;that is, what I'm trying to say is, I
                    don't think that&#x2014;that any good story ever came because someone was
                    trying to tell somebody a message with it. If he's got a message that worries
                    him, the best thing is to tell that message in the simplest sort of way instead
                    of trying to invent a story to fit it, because if the characters are true to
                    themselves sometimes they might not believe in that message. They may take
                    charge of the story, so the message is&#x2014;is, you might say,
                    a&#x2014;a byproduct of something that had&#x2014;had no concern with the message.</p>
  <hr/>
  <a name="wfaudio22_2.8">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>I was just wondering, if you have this&#x2014;have a story, then your
                    purpose is more producing something that's enjoyable to be read, but if it has a
                    theme in it, in order to focus on the theme, in order to make the theme
                    as&#x2014;as fully developed, I should think you'd have to keep that in mind,
                    keep what the&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>If I understand you right, in that case the message would be one of the
                    craftsman's tools.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That&#x2014;well, that's&#x2014;that's perfectly valid. A message
                    is one of his tools, just like the rhetoric, just like the punctuation. That's
                    quite valid, but you don't write a story just to show your versatility with your
                    tools. You write a story to tell about people, man in his constant struggle with
                    his own heart, with the hearts of others, or with his environment.
                    It's&#x2014;it's man in&#x2014;in the ageless, eternal struggles which we
                    inherit and we go through as though they've never happened before, shown for a
                    moment in a dramatic instant of&#x2014;of the furious motion of being alive.
                    That's all any story is. You can catch this fluidity which is&#x2014;is human
                    life, and you focus a light on it, and you stop it long enough for people to be
                    able to see it.</p>
  <hr/>
  <a name="wfaudio22_2.9">&#xA0;</a>
  <p><strong>John Coleman:</strong>Someone once remarked&#x2014;I don't know where I read it&#x2014;he
                    said none of your characters ever made any conscious choice between 
                       good and evil. Does that seem to you a true statement
                        <span class="unclear tooltip" title="Text was unclear">[or not]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't&#x2014;don't remember my characters that well. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I would have to read Faulkner again.
                    I&#x2014;so I can't dispute that nor&#x2014;nor agree with it. I don't believe I would
                    agree with it offhand, though, but I&#x2014;I can't cite you an
                        instance.
                </p>
  <hr/>
  <a name="wfaudio22_2.10">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, in order to be a good writer or a polished writer, do you consider
                    that writing must be a full-time job, or do you feel like you can have some of
                    other business interest on the <span class="unclear tooltip" title="Text was unclear">[outside]</span> and also devote your
                    spare time to writing, say?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Probably you're better off if you have other interests and maybe other
                    compulsions. I&#x2014;I think that&#x2014;that the writer, even though
                    he&#x2014;he don't&#x2014;can't spend all his time writing, he is never
                    free of that demon which he invited or which took possession of him, to live with
                    him for the rest of his life, that he's always writing. He may not
                    carry&#x2014;carry a notebook with him, but he's listening to terms of
                    speech. He's struck by what people do, to wonder why he did that, why he didn't
                    do the other. In that sense, he never stops being a writer, but he can't spend
                    all his time at it because he might&#x2014;well, probably would, if he spent
                    too much time at it he'd begin to write nonsense, balderdash. It's always good
                    never to write yourself out at any time. It's fine to need to stop, and always
                    stop, as the book says, while you're looking good. Never write yourself to the
                    end of a chapter or the end&#x2014;end of <span class="unclear tooltip" title="Text was unclear">[a]</span> thought.
                    Always stop just before you get there, to have something to start on next time. And
                    if you have something else to do, going to school, a whole new job, or raising a
                    family or babysitting, then you are anxious and eager enough to get back to the
                    writing to where you will come at with a new head of steam.</p>
  <hr/>
  <a name="wfaudio22_2.11">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Sir, when you find that if you were going to, say, put a message or a
                    theme in a certain story, that you would probably sit down and alter, say,
                    perhaps the realistic events of what you've seen in order to make
                    it tell this message or the theme of which would alter the story, say the hunter 
                        story there, merely to put across
                    a certain point.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>You can't do that. Once the characters are realized, they&#x2014;they
                    take charge, and they're going to do only what they're going to do. You can't do
                    anything about it.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In other words, first comes the story and then .</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right. That's right. That is, most of&#x2014;of a man's private
                    beliefs will appear sooner or later in his behavior, his actions. The message, I
                    think, comes from the story, not from the author's private beliefs, but from
                    the&#x2014;the characters in his story, that the author is not telling you a
                    message, but the characters in the story have told you something that they believe is
                    necessary that you know. Because no author can be responsible for the ideas of
                    his characters.
                </p>
  <hr/>
  <a name="wfaudio22_2.12">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you think that one of the functions of writing is to, not teach, but
                    to make the writer himself enjoy the life that he leads aside from his writing
                    more fully?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>May I have that again please, sir?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you think that writing makes&#x2014;helps the writer or
                    not&#x2014;doesn't help him but that the <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span> they can
                    learn more themselves and know more and enjoy life more fully?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>They do learn more as they write, but I doubt if they write just to
                    teach themselves. They write because it's fun, because some&#x2014;well, fun
                    is a bad term too, but something has&#x2014;has struck them as being so true
                    and so important and so moving that they've got to do something with it, and, of
                    course, he does learn. He learns all the time he's writing just as the carpenter
                    learns all the time he's building houses or stables, but the writer writes
                    because he is&#x2014;he is on fire with something, an idea or a character
                    that seems to him so true, so moving, that it won't let him rest. He's got to
                    put it down. That's what I mean by fun. It's&#x2014;fun is the wrong word.
                    It's&#x2014;passion is a better word.
                </p>
  <hr/>
  <a name="wfaudio22_2.13">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I was wondering if your impression of the University has
                    changed since the impressions you had before you came here? Sir, I don't know
                    how many of your characters but one at least in <em>Requiem for a
                        Nun</em> went here, and so you must have had some impression of the University
                    itself, and I wonder if it's changed since you've actually been here?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not really. A school with a&#x2014;with a&#x2014;a tradition of
                    behavior, certain standards which&#x2014;which the undergraduates follow,
                    whether from choice or whether they are compelled to by the general atmosphere
                    of the school, changes only as&#x2014;as life itself changes. If
                    you&#x2014;if you mean by change, if there're more automobiles parked around
                    the Lawn and the Grounds than there were thirty years ago, yes, the place has
                    changed. But they are ephemeral changes. They're not too
                    significant and don't have too much to do with&#x2014;with
                    the&#x2014;what's basic in this school as a school, and I doubt that there
                    ever will be great changes. The great changing would have to come from some
                    loosening of the&#x2014;of the strictures which control it, the tenets,
                    not&#x2014;not so much the&#x2014;the bylaws, but the unspoken&#x2014;the moral
                    tenets that this university functions within, accepts not because it's
                    compelled, but because they like it or it may have&#x2014;they may have found
                    that that's the most practical.
                </p>
  <hr/>
  <a name="wfaudio22_2.14">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, you said, I believe, last year that <em>The Sound and
                        the Fury</em> was your best effort as a story. I was wondering if you have tried to use
                    that narrative method again <span class="unclear tooltip" title="Text was unclear">[in other works]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would if the story I'm working at requires it. I think the story
                    compels its own style to a great extent, that the writer don't need to bother
                    too much about style. If he's bothering about style, then he's&#x2014;he's
                    going to write precious emptiness, not necessarily nonsense, but
                    there'll&#x2014;it'll be quite beautiful and quite pleasing to the ear, but
                    there won't be much content in it.  That the&#x2014;the story, the characters,
                    they&#x2014;they have their own laws which the&#x2014;the writer simply must follow. 
                    That they will elect what they're going to do and what they won't do. The story
                    itself elects its own style. The writer's job is merely to&#x2014;to pick and
                    choose between two more or less identical anecdotes. You won't need but one of
                    them, and he will chose the one that seems to him the most tragic or the
                    funniest, but the&#x2014;the characters themselves are saying "This is what I
                    will do or what I won't do." If the writer is going to force and compel them he's
                    destroyed them, that what he will wind up with is&#x2014;is something
                    that&#x2014;that he&#x2014;he himself will&#x2014;will never be
                    satisfied with, will get no pleasure from, and as I've said before,
                    the&#x2014;the end in writing is not for success and not really for glory.
                    It's because it's fun. Of course, any man likes to think of&#x2014;of glory, but he would
                    write if he knew that he would never be able to put his name on it. </p>
  <hr/>
  <a name="wfaudio22_2.15">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Who was first? Yes, sir, I believe you are.</p>
  <hr/>
  <p><strong>John Coleman:</strong>I think that the hour is up. I don't think the bells are working
                    this morning. Thank you very much indeed, Mr. Faulkner. I appreciate your being
                        here ever so much. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
