<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio12_2.1">Story, Excerpt 31</a>
    </li>
    <li>
      <a href="#wfaudio12_2.2">Story, Excerpt 32</a>
    </li>
    <li>
      <a href="#wfaudio12_2.3">Story, Excerpt 33</a>
    </li>
    <li>
      <a href="#wfaudio12_2.4">Story, Excerpt 34</a>
    </li>
    <li>
      <a href="#wfaudio12_2.5">Story, Excerpt 35</a>
    </li>
    <li>
      <a href="#wfaudio12_2.6">Story, Excerpt 36</a>
    </li>
    <li>
      <a href="#wfaudio12_2.7">Story, Excerpt 37</a>
    </li>
    <li>
      <a href="#wfaudio12_2.8">Story, Excerpt 38</a>
    </li>
    <li>
      <a href="#wfaudio12_2.9">Story, Excerpt 39</a>
    </li>
    <li>
      <a href="#wfaudio12_2.10">Story, Excerpt 40</a>
    </li>
    <li>
      <a href="#wfaudio12_2.11">Break</a>
    </li>
    <li>
      <a href="#wfaudio12_2.12">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio12_2.13">Theme of Races</a>
    </li>
    <li>
      <a href="#wfaudio12_2.14">Trip to Greece</a>
    </li>
    <li>
      <a href="#wfaudio12_2.15">Flem in The Town</a>
    </li>
    <li>
      <a href="#wfaudio12_2.16">Characters v Theme</a>
    </li>
    <li>
      <a href="#wfaudio12_2.17">Germ of "Was"</a>
    </li>
    <li>
      <a href="#wfaudio12_2.18">Using Experience</a>
    </li>
    <li>
      <a href="#wfaudio12_2.19">Sojourn at UVA</a>
    </li>
    <li>
      <a href="#wfaudio12_2.20">Decision to Write</a>
    </li>
    <li>
      <a href="#wfaudio12_2.21">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio12_2.22">Deeper Meanings</a>
    </li>
    <li>
      <a href="#wfaudio12_2.23">Ike Snopes</a>
    </li>
    <li>
      <a href="#wfaudio12_2.24">Thomas Wolfe</a>
    </li>
    <li>
      <a href="#wfaudio12_2.25">Symbolic Characters</a>
    </li>
    <li>
      <a href="#wfaudio12_2.26">Theory of Absurdity</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 8 May 1957</h3>
  <h3>OCCASION: Engineering School Students</h3>
  <h3>TAPE: T-125</h3>
  <h3>LENGTH: 31:11</h3>
  <h3>READING: "Was"</h3>
</div>
<div id="body">
  <a name="wfaudio12_2.1"/>
  <p><strong>William Faulkner:</strong>
					"I'll buy the damn girl then and we'll call the rest of
						this foolishness off."
						"Hah," Mr Hubert said again. "This is the most
						serious foolishness you ever took part in in your life. No, you said you
						wanted your chance, and now you've got it. Here it is, right here on the 
						table, waiting on you."
					
				</p>
  <hr/>
  <a name="wfaudio12_2.2"/>
  <p><strong>William Faulkner:</strong>
					So Uncle Buck shuffled the cards and Mr Hubert cut them.
						Then he took up the deck and dealt in turn until Uncle Buck and Mr Hubert
						had five. And Uncle Buck looked at his hand a long time and then said two
						cards and he gave them to him, and Mr Hubert looked at his hand quick and
						said one card and he gave it to him and Mr Hubert flipped his discard onto
						the two which Uncle Buck had discarded and slid the new card into his hand
						and opened it out and looked at it quick again and closed it and looked at
						Uncle Buck and said, "Well? Did you help them threes?"
						"No," Uncle Buck said.
						"Well I did," Mr Hubert said. He shot his hand across the table so the
						cards fell face-up in front of Uncle Buck and they were three kings and two
						fives, and said, "By God, Buck McCaslin, you have met your match at
							last."
					
				</p>
  <hr/>
  <a name="wfaudio12_2.3"/>
  <p><strong>William Faulkner:</strong>
					"And that was all?" Uncle Buddy said. It was late then,
						near sunset; they would be at Mr Hubert's in another fifteen minutes.
						"Yes,
						sir," he said, telling that too: how Uncle Buck waked him at daylight and he
						climbed out a window and got the pony and left, and how Uncle Buck said that
						if they pushed him too close in the meantime, he would climb down the gutter
						too and hide in the woods until Uncle Buddy arrived.
						"Hah," Uncle&#x2014;Uncle Buddy
						said. "Was Tomey's Turl there?"
						"Yes, sir," he said. "He was waiting in the
						stable when I got the pony. He said, 'Aint they settled it yet?'"
						"And what
						did you say?" Uncle Buddy said.
						"I said, 'Uncle Buck looks like he's
						settled. But Uncle Buddy aint got here yet.'"
						"Hah," Uncle Buck&#x2014;Uncle Buddy
							said.
					
				</p>
  <hr/>
  <a name="wfaudio12_2.4"/>
  <p><strong>William Faulkner:</strong>
					And that was about all. They reached the house. Maybe
						Uncle Buck was watching them, but if he was, he never showed himself, never
						came out of the woods. So Miss Sophonsiba was nowhere in sight either, so at
						least Uncle Buck didn't give&#x2014;hadn't quite given up; at least he hadn't asked her yet.
						And he and Uncle Buddy and Mr Hubert ate supper and they came in from the
						kitchen and cleared the table, leaving only the lamp on it and the deck of
						cards. Then it was just like last night, except that Uncle Buddy had no
						necktie and Mr Hubert wore the clothes now instead of a nightshirt and it
						was a shaded lamp on the table instead of a candle, and Mr Hubert sitting at
						his end of the table with the deck in his hands, riffling the edges with his
						thumb and looking at Uncle Buddy. Then he tapped the edges even and set the
						deck out in the middle of the table under the lamp, and folded his arms on
						the edge of the table and leaned forward a little on the table, looking at
						Uncle Buddy, who was sitting at his end of the table with his hands in his
						lap, all one gray color, like an old gray rock or a stump with gray moss on
						it, that still, with his round white head like Uncle Buck's but he didn't
						blink like Uncle Buck and he was a little thicker than Uncle Buck, as if
						from sitting down so much watching food cook, as if the things he cooked had
						made him a little thicker than he would have been and the things he cooked
						with, and the flour and such, had made him all one same quiet color.
					
				</p>
  <hr/>
  <a name="wfaudio12_2.5"/>
  <p><strong>William Faulkner:</strong>
							"Little toddy before we start?" Mr Hubert said. "I dont
								drink," Uncle Buddy said.
								"That's right," Mr Hubert said. "I knew there was
						some thing else besides just being woman-weak that makes 'Filus seem human.
						But no matter." He batted his eyes twice at Uncle Buddy. "Buck McCaslin
						against the land and niggers you have heard me promise as Sophonsiba's dowry
						on the day she marries. If I beat you, 'Filus marries Sibbey without any
						dowry. If you beat me, you get 'Filus. But I still get the three hundred
								dollars 'Filus owes me for Tennie. Is that correct?"
								"That's correct," Uncle
								Buddy said.
								"Stud," Mr Hubert said. "One hand. You to shuffle, me to cut,
								this boy to deal."
								"No," Uncle Buddy said. "Not Cass. He's too young. I dont
								want him mixed up in any gambling."
								"Hah," Mr Hubert said. "It's said that a
						man playing cards with Amodeus McCaslin aint gambling. But no matter." 
						He was still looking at Uncle Buddy; he never even turned his head when he
						spoke: "Go to the back door and holler. Bring the first creature that
						answers, animal mule or human, that can deal ten cards."
					
				</p>
  <hr/>
  <a name="wfaudio12_2.6"/>
  <p><strong>William Faulkner:</strong>
					So he went to the back door. But he didn't even need to call
						because Tomey's Turl was squatting against the wall just outside the door,
						and they returned to the drawing-room where Mr Hubert still sat with his
						arms folded on his side of the table and Uncle Buddy sat with his hands in
						his lap on his side and the deck of cards face-down under the lamp between
						them. Neither of them even looked up when he and Tomey's Turl entered.
						"Shuffle," Mr Hubert said. Uncle Buddy shuffled and set the cards back under
						the lamp and put his hands back in his lap and Mr Hubert cut the deck and
						folded his arms back onto the table-edge. "Deal," he said. Still neither he
						nor Uncle Buddy looked up. They just sat there while&#x2014;while Tomey's Turl's
						saddle-colored hands came into the light and took up the deck and dealt, one
						card face-down to Mr Hubert and one face-down to Uncle Buddy, and one
						face-up to Mr Hubert and it was a king, and one face-up to Uncle Buddy and
						it was a six.
					
				</p>
  <hr/>
  <a name="wfaudio12_2.7"/>
  <p><strong>William Faulkner:</strong>
							"Buck McCaslin against Sibbey's dowry," Mr Hubert said. 
						"Deal." And the hand dealt Mr Hubert a card and it was a three, and Uncle
						Buddy a card and it was a two. Mr Hubert looked at Uncle Buddy. Uncle Buddy
								rapped once with his knuckles on the table.
								"Deal," Mr Hubert said. And the
						hand dealt Mr Hubert a card and it was another three, and Uncle Buddy a card
						and it was a four. Mr Hubert looked at Uncle Buddy's cards. Then he looked
						at Uncle Buddy and Uncle Buddy rapped on the table again with his
							knuckles.
					
				</p>
  <hr/>
  <a name="wfaudio12_2.8"/>
  <p><strong>William Faulkner:</strong>
					"Deal," Mr Hubert said, and the hand dealt him an ace
						and Uncle Buddy a five and now Mr Hubert just sat still. He didn't look at
						anything or move for a whole minute; he just sat there and watched Uncle
						Buddy put one hand onto the table for the first time since he shuffled and
						pinch up one corner of his face-down card and look at it and and then put
						his hand back into his lap. "Check," Mr Hubert said.
						"I'll bet you them two
						niggers," Uncle Buck&#x2014;Buddy said. He didn't move either. He just sat just like he
						sat in the wagon or on a horse or in the rocking chair he cooked from.
						"Against what?" Mr Hubert said.
						"Against the three hundred dollars
						Theophilus owes you for Tennie, and the three hundred you and Theophilus
						agreed on for Tomey's Turl," Uncle Buddy said.
						"Hah," Mr Hubert said, only
						it wasn't loud at all this time, not even short. Then he said "Hah. Hah.
						Hah" and not loud either. Then he said, "Well." Then he said, "Well, well."
						Then he said: "We'll check up for a minute. If I win, you take Sibbey
						without a dowry and the two niggers, and I dont owe 'Filus anything. If you
						win&#x2014;"
						"&#x2014;Theophilus is free," Uncle Buddy said.  "And you owe him the three hundred dollars for
						Tomey's Turl."
					
				</p>
  <hr/>
  <a name="wfaudio12_2.9"/>
  <p><strong>William Faulkner:</strong>
					"That's just if I call you," Mr Hubert said. "If I dont
						call you, 'Filus wont owe me nothing and I wont owe 'Filus nothing, unless I
						take that nigger which I have been trying to explain to you and him both for
						years I wont have on my place. We will be right back where all this
						foolishness started from, except for that. So what it comes down to is, I
						either got to give a nigger away, or risk buying one that you done already
						admitted you cant keep at home." Then he stopped talking. For about a minute
						it was like he and Uncle Buddy had both gone to sleep. Then Mr Hubert picked
						up his face-down card and turned it over. It was another three, and Mr
						Hubert sat there without looking at anything at all, his fingers beating a
						tattoo, slow and steady and not very loud, on the table. "H'm," he said.
						"And you need a trey and there aint but four of them and I already got
						three. And you just shuffled. And I cut afterward. And if I call you, I will
						have to buy that nigger. Who dealt these cards, Amodeus?" Only he didn't
						wait to be answered. He reached out and tilted the lamp-shade, the light
						moving up Tomey's Turl's arms that were supposed to be black but were not
						quite white, up his Sunday shirt that was supposed to be white but wasn't
						quite either, that he put on every time he ran away just as Uncle Buck put
						on the necktie each time he went to bring him back, and on to his face; and
						Mr Hubert sat there, holding the lampshade and looking at Tomey's Turl. Then
						he tilted the shade back down and took up his cards and turned them
						face-down and pushed them across the middle of the table. "I pass, Amodeus,"
						he said.
					
				</p>
  <hr/>
  <a name="wfaudio12_2.10"/>
  <p><strong>William Faulkner:</strong>
					He was still too worn out for sleep to sit on a horse,
						so this time he and Uncle Buddy and Tennie all three rode in the wagon,
						while Tomey's Turl led the pony from old Jake. And when they got home just
						after daylight, this time Uncle Buddy never even had time to get breakfast
						started and the fox never even got out of the crate, because the dogs were
						right there in the room. Old Moses went right into the crate with the fox,
						so that both of them went right&#x2014;right on out through the back end of it. That is,
						the fox went through, because when Uncle Buddy opened the door to come in,
						old Moses was still wearing most of the crate around his neck until Uncle
						Buddy kicked it off him. So they made just one run, across the front
						gallery and around the house and they could hear the fox's claws when&#x2014;when he
						went scrabbling up the lean-pole, onto the roof&#x2014;a fine race while it lasted,
						but&#x2014;but the tree was too quick.
					"What in damn's hell do you mean," Uncle Buddy said,
						"casting that damn thing with the dogs right in the same room?" "Damn the
						fox," Uncle Buck said. "Go on and start breakfast. It seems to me I've been
						away from home a whole damn month." <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
  <hr/>
  <a name="wfaudio12_2.11"/>
  <p><strong>John Longley, Jr.:</strong>Let's give Mr. Faulkner
						and Mr. Faulkner's voice a moment's rest, and&#x2014;and he has told me that he'll be glad
					to have questions. And so we'll take about a five-minute break, and then have a
						question period.</p>
  <hr/>
  <a name="wfaudio12_2.12"/>
  <p><strong>John Longley, Jr.:</strong>I think Mr. Faulkner will
					be very interested to see what questions you might have to ask him, so go right
						ahead and volunteer. </p>
  <hr/>
  <a name="wfaudio12_2.13"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, are you playing a
					kind of fugue on the theme of races here? Are you having a lot of fun with
					that?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I had a lot of fun with it. I wasn't playing a fugue on the theme of
					races. I was writing about people in what I&#x2014;what to me was amusing terms, and I
					hoped it would be amusing terms to the reader. No, it was primarily about
					people, about people who had got into a&#x2014;a predicament and solved it with the
					only tools they had.
				</p>
  <hr/>
  <a name="wfaudio12_2.14"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, this is a little bit off the theme of literature, but I'd
					like to&#x2014;if you wouldn't mind tell us a little about your trip to Greece? <span class="unclear tooltip" title="Text was unclear">[I think]</span> I would
					like to hear a little about that, if that's not getting too far off the subject,
					too far away from it.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It was a&#x2014;a strange experience in that that was the only country that
					looked exactly like&#x2014;we had&#x2014;I mean, the&#x2014;the background, the&#x2014;the educational
					background of&#x2014;of the Anglo-Saxon had taught him to expect it to look. And sure
					enough, there was the Hellenic light that I had heard of, had read about. And I
					saw Homer's wine-dark sea, too. And there was a&#x2014;the only place I was in where
					there was a sense of a very distant past, but there was nothing inimical in it.
					In the other parts of&#x2014;of the Old World there's a sense of&#x2014;of the past, but
					there is something&#x2014;something <span class="unclear tooltip" title="Text was unclear">[Gothic]</span>&#x2014;Gothic and in a sense 
					a little terrifying. In Greece, the people seem to function against that past
					that for all its&#x2014;its remoteness in time, it was&#x2014;was still inherent in
					the&#x2014;the&#x2014;the light, the resurgence of spring. You didn't expect to see the&#x2014;the
					ghost of&#x2014;of the old Greeks, or expect to see the actual figures of the gods, but
					you had a sense that they&#x2014;they were near, and they were still powerful, not
					inimical, just&#x2014;just powerful. That they themselves had&#x2014;had reached and were
					enjoying a&#x2014;a kind of a nirvana. They existed, but they were free of&#x2014;of man's
					folly and trouble, of having to involve themselves in man's problem. That they
					were&#x2014;at last had the time to watch what man did without having to be involved in
					it. Yes, it was&#x2014;was very interesting. I&#x2014;I think that&#x2014;that two weeks is not only
					too short, it's an insult to that country, that one should go with&#x2014;with no limit
					to his visit. That there's no end to what you can see, and then sure enough, you
					see something which is exactly like what you imagined. There will be the plain
					and&#x2014;and across it, suddenly there is Parnassus with snow on it, and the old
					ruins&#x2014;they look ancient, but there's a sense as though it happened only
					yesterday. That whether Agamemnon ever lived, ever was an actual man or not,
					there he was, he&#x2014;because he had to be. It was necessary. That he&#x2014;he was in the
					literary history of man's spirit, so therefore he must have existed at one time
					as a flesh and blood man.
				</p>
  <hr/>
  <a name="wfaudio12_2.15"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in your new book, <em>The Town</em>, you have
					Flem Snopes assuming the mask of respectability. And I was wondering, since you,
					I think, are going to write a trilogy, that&#x2014;I was wondering what type of
					character would Flem Snopes assume, say, in your next book?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He had never heard of respectability. He didn't even know it existed,
					until suddenly <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> he found that he needed it. And
					so he assumed it, and as soon as he doesn't need respectability any longer, he
					will cast it away. That he had a certain aim which he intended to attain. He
					would use whatever tools necessary, with complete ruthlessness, to gain that
					end. And if he had to use respectability, he would use that. If he had to use
					religious observance, he would use that. If he has to destroy his wife, he will
					do that. If he has to&#x2014;to trick a&#x2014;a&#x2014;a child, a girl child, into&#x2014;to being his
					tool, he will do that with no compunction whatever. That respectability to him
					was just a tool.</p>
  <hr/>
  <a name="wfaudio12_2.16"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>May I ask <span class="unclear tooltip" title="Text was unclear">[you]</span>, to what extent when you're composing your stories, are your
					characters&#x2014; do they represent ideas or a theme consciously on your part, or to
					what extent are they just people who keep developing as characters and let 
					theme and plot fall where they may?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, the character comes first as people. I&#x2014;I didn't have enough formal
					education to&#x2014;to know really what ideas are, that ideas to me must be translated
					into&#x2014;to the human being struggling against his own problems. The ideas are only
					incidental or maybe coincidental to writing about people, and the&#x2014;the ideas of
					the&#x2014;the symbolism, they are simply, in my own case, the tools which the
					craftsman uses to tell the story, but his interest is primarily in the
					characters, not in the plot, not really so much in what they do, but it's in&#x2014;in
					making the&#x2014;the&#x2014;the figure of his imagination assume three dimensions and stand
					on its own feet and cast its own shadow. The symbolism, the style, the ideas are
					only coincidental to that and are simply the tools which the craftsman
					uses.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>But would&#x2014;would you say then, sir,
					that you have to&#x2014;you would begin with an idea for a character rather than an
					anecdote or an idea?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well&#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Of an event?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It could be an anecdote or a scene, but it would be not an idea. It
					would be people in motion, people in some tragic or comic situation struggling
					to get out of it, or it could be&#x2014;come&#x2014;the first conception would be the character
					itself.</p>
  <hr/>
  <a name="wfaudio12_2.17"/>
  <p><strong>Unidentified participant:</strong>For example, this story you read
					us this evening, do you recall&#x2014;this is probably so far back, I wondered, though,
					what was the germ of that story? Do you recall it, perhaps?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The germ of the story was one of the three oldest ideas that&#x2014;that man
					can write about, which is&#x2014;is love, sex. And to me it was&#x2014;was comic, of the man
					that had got himself involved in an engagement, and he himself couldn't
					extricate himself, and his&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> he had to call on
					his brother, and his brother used the only tools he had, which was his ability
					to play poker. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Which to me what was funny. It
					was funny. Also, it was&#x2014;it had a certain sociological importance in, to show my
					country as it really was in those days. The&#x2014;the&#x2014;the elegance of the colonial
					plantation didn't exist in my country. My country was still frontier. The
					plantation, the&#x2014;the&#x2014;the columned porticos, that was Charleston and Natchez. But
					in my country it was still frontier. People lived from day to day, with a&#x2014;with a
					bluff and crude hardiness, but with a&#x2014;a certain simplicity, which to me is very
					interesting because the&#x2014;the common picture of the South is all magnolias and
					crinoline and&#x2014;and Grecian portals and things like that, which was true only
					around the fringes of the South, not in the interior, the backwoods.
				</p>
  <hr/>
  <a name="wfaudio12_2.18"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, to what extent have you drawn directly on experience for
					these stories?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's difficult to say. The writer, I think, has three reservoirs: one
					is experience, which includes what he has read. The other is observation, which,
					of course, is what he has seen and done. The third is imagination.  And he
					himself doesn't know, and, in fact, he hasn't gotten time to be concerned or to
					care how much of which he draws on at any one time. It's as though he had three
					reservoirs with three pipes that go to a common tap, with maybe a&#x2014;an automatic
					selector somewhere that&#x2014;that when&#x2014;when observation doesn't go far enough, it
					tries experience. When experience hasn't gone far enough, it reverts to
					imagination, that the only check is some rigid concept of what is truth and what
					is not truth in&#x2014;in the craftsman, which what he does has got to match. If it
					doesn't match, he throws it away, and then he's got to&#x2014;to go back to
					imagination. If that is not enough, then he's got to&#x2014;to increase his experience
					or his observation. But no man can say just how much of&#x2014;of each he uses. He
					knows, any writer, that he is going to change and alter anything he writes
					because any fiction writer is a congenital liar to begin with, you see. He is
					not going to&#x2014;to take anything as is. He's going to change it.
				</p>
  <hr/>
  <a name="wfaudio12_2.19"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Have you enjoyed your stay here at the University?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir, very much.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>We were interested in your comment of&#x2014;of coming to Virginia because you
					liked snobs, I wonder if you <span class="unclear tooltip" title="Text was unclear">[might care to]</span>&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, that was&#x2014;I thought that we were more or less informal then, and I
					didn't really mean that as a serious observation. But&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Now, let me define what I mean by a snob, is
					someone who is so complete in himself and so satisfied with what he has that he
					needs nothing from anybody. That when a stranger comes up, he can accept that
					stranger on the stranger's terms provided only the stranger observe only a few
					amenities of civilization. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And to me that&#x2014;that's
					what the people, what Virginians do. They don't&#x2014;they never push at me. They want
					nothing of me. They&#x2014;they will&#x2014;will offer me their hospitability, and they
					will&#x2014;will accept me. All I have to do is just to behave decently. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <a name="wfaudio12_2.20"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, is there any one incident in your life that you just decided then
					that you were going to become a writer?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I was living in New Orleans. I was running a&#x2014;a power boat for a
					bootlegger. I would go down <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and take the boat
					with a&#x2014;a&#x2014;a man with a gun and a&#x2014;a&#x2014;a&#x2014;Negro hand for the crew through the industrial
					canal across the&#x2014;the Mississippi Sound to an island where the schooner would
					bring the raw alcohol up from the Indies, and we would load the cargo and bring
					it back to town. I'd get a hundred dollars for each trip, and in those days,
					that was a lot of money, so I wouldn't have to work until I began to run out of
					money. Then I would make another run with the boat, and I met Sherwood Anderson,
					and I liked him at once. We would meet and walk around the French Quarter, and
					he would talk, and I would listen. We would meet again in the evening. We'd go
					to some pleasant courtyard, and we'd sit over a bottle of whiskey, and he would
					talk, and I would listen. In the mornings, he would be in seclusion working.
					That went on day after day, and I thought if&#x2014;if that's all you had to do to be a
					writer, then that was the life for me, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> so I
						<span class="unclear tooltip" title="Text was unclear">[decided I wanted to]</span> become a writer, and I started a
					book, and right away I found it was fun to do, and I hadn't seen Mr. Anderson in
					weeks. I met Mrs. Anderson on the street, and she said, "We haven't seen you." I
					said, "Yes'm, I'm writing a book." She said, "Good God." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I saw her again a few weeks later. She said, "I
					told Anderson&#x2014;Sherwood you were writing a book. She says, "Do I want him,
						Mr. Anderson, to read it?'" I said, "Well'm, he can if he
					wants to." She said, "Well, he told me to tell you he'll make a trade with you.
					If he don't have to read that manuscript, he'll tell his publisher to take it."
					So I said, "done." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And I finished the
					manuscript, and he told his publisher to take it, and that's how I got to be a
					professional writer. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But, of course, by that
					time, I'd found that writing was fun. It was&#x2014;was&#x2014;was the most fun I'd found yet,
					and I knew then that I had been bitten and was incurable.
				</p>
  <hr/>
  <a name="wfaudio12_2.21"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I was wondering how long you can write&#x2014;for how long at a stretch can you
					write before you feel tired, before you've tired yourself out?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>You get tired, I think, before you realize it. I took a leaf from&#x2014;from
						<em>Gentlemen Prefer Blondes</em> when she says, "Always leave
					him while you're looking good." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Well, I&#x2014;I
					always try to remind myself to stop before I'm&#x2014;have found out I'm tired, but as
					long as it's hot, it's&#x2014;it's difficult to break off and&#x2014;and quit. That takes a
					certain amount of discipline, to stop and always leave something fresh to start
					on tomorrow. That's the only rule about writing I have, is never to write
					completely out at one stretch. That could be an hour or sixteen hours in a day,
					though there're some workmen that&#x2014;that have to have a rigid discipline. They sit
					so many hours a day whether they write anything or not. They do research. They
					have notebooks, and they&#x2014;they take a piece of paper and&#x2014;and plot a graph for
					the story to follow, which I've never done, because I'm lazy, and I&#x2014;I don't like
					the effort of putting the words on the paper, so I put that on&#x2014;put that off as
					long as possible, and a great deal of that is&#x2014;is done here before I start to
					write.</p>
  <hr/>
  <a name="wfaudio12_2.22"/>
  <p>
    <strong>John Longley, Jr.:</strong>
    <span class="unclear tooltip" title="Text was unclear">[Did you have a question?]</span>
  </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I have a question I've always wanted to ask an author, is do they really
					put all the significance and meaning and trying to teach this big lesson in the
					book, and I&#x2014;I had thought that you answered it once, but then you seem to
					contradict yourself. Do you write to try to teach somebody a lesson, to describe
					your state, or just because you think you've got to write a good story and make
					some money off of it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. All that is incidental. What the writer is&#x2014;is&#x2014;is doing is trying
					to create people. He hasn't got time to bother with the symbols and the message.
					The first-rate writer hasn't. He is busy creating people, and he would do that
					even if he had to pay for the privilege. He's not interested in the money. The
					money is&#x2014;is incidental, too, that he is having a&#x2014;a good time creating living
					people.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And that's motive enough <span class="unclear tooltip" title="Text was unclear">[to write a book]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Uh, yes, I think so. Actually, he's&#x2014;he's demon-driven. The&#x2014;the writer
					who is trying to&#x2014;to tell a message is not primarily a writer. He is&#x2014;he's more of 
					an&#x2014;an evangelist or a propagandist <span class="unclear tooltip" title="Text was unclear">[maybe]</span>. 
					But&#x2014;but the writer, the&#x2014;the true fictioneer is
					interested only in creating human beings.</p>
  <hr/>
  <a name="wfaudio12_2.23"/>
  <p><strong>Unidentified participant:</strong>Then could I ask you what Ike
					Snopes is supposed to be in&#x2014;in <em>The Hamlet</em>? What were you
						creating then? Is he someone like whom&#x2014;like someone whom you knew or what?  I&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. No writer is satisfied with&#x2014;with the folks that God creates.
					He's convinced that he can do much better than that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> To me, Ike Snopes was simply an interesting human
					being with&#x2014;with man's natural, normal failings, his&#x2014;the baseness which man
					fights against, the&#x2014;the honor which he hopes that he can always match. The
					honesty, the courage which he hopes that he can always match. And at times he
					fails. And then he is&#x2014;he is pitiable. But he's still human, and he still
					believes that man can be better than he is, and that is what the writer is&#x2014;is
					trying to do, is interested in, to&#x2014;to show man as he is in conflict with his
					problems, with his nature, with his own heart, with his fellows, and with his
					environment. That's all I&#x2014;in my opinion, any book or story is about. Of course it
					has mutations. The problems fall into the categories of money or sex or death.
					But the&#x2014;the basic story is man in conflict with his own heart, with his fellows,
					or with his environment.</p>
  <hr/>
  <a name="wfaudio12_2.24"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, is there any special reason why you consider Wolfe such a
					great author?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That was an unfortunate remark I made about twenty years ago that I've
					been explaining ever since.  It was at a&#x2014;a
					group meeting something like this. Someone asked me how I rated my
					contemporaries. I said it's too soon to rate us, we haven't finished yet. He
					said, "Well, you have&#x2014;haven't you any opinion at all about them?" I said, "About
					who?" He named Wolfe, Dos Passos, Caldwell, and Hemingway. I said, "Well," and
					this was sort of off the cuff. I never thought of it before. I said, "Well, I&#x2014;I
					think we all failed, and so I would rate them on the&#x2014;the splendor of the
					failure." I put Wolfe first because he made the&#x2014;the&#x2014;the most splendid failure. I
					put myself second. I put Dos Passos third, Caldwell fourth and Hemingway fifth.
					It had nothing to do with the value of the work we'd done but on the&#x2014;on the
					splendor with which we had failed. I put Hemingway last because he had found
					quickly a&#x2014;a method in which he was secure, and he didn't need to splash around,
					to experiment, that he stuck to that, and he didn't&#x2014;didn't need to&#x2014;to try to&#x2014;to
					put all the history of man's heart onto one pinhead and one paragraph, which
					Wolfe had tried to do, which is why Wolfe's material would have been unreadable
					had it not been for his editor, Mr. Maxwell Perkins at Scribner's, and Mr.
					Perkins in&#x2014;in a way really wrote Wolfe's book because the mass of incoherent
					material that&#x2014;which Wolfe sent to him would've been unreadable, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> if it hadn't been for Mr. Perkins.
				</p>
  <hr/>
  <a name="wfaudio12_2.25"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, you say that your characters are, and as much as possible anyway,
					just people. And yet I sort of got the idea that Flem Snopes is sort of a&#x2014;a
					practically inhuman character and sort of symbolic himself. Does that ever&#x2014;did
					that enter when you wrote that, or&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it would depend on what he is symbolic of. You see people who are
					inhuman people. I think that I didn't invent an inhuman&#x2014;the inhuman type, which&#x2014;
					which Flem is a&#x2014;a manifestation of. I think that Jason Compson in another book
					of mine is&#x2014;is completely inhuman. But in a way, he is, I hope, a living man. I
					have known people in actual life who were hopeless, who in&#x2014;in the terms of&#x2014;of&#x2014;of
					the humanities, in the terms of&#x2014;of the&#x2014;of the verities of&#x2014;of man's condition,
					compassion and pity and courage, unselfishness&#x2014;he was inhuman, but he was still
					a living man. He was not created to be a symbol of anything. He was simply
					created because suddenly he had a place in&#x2014;in that particular scene that I was
					writing about, in that particular problem of human beings that I was writing
					about. Not to symbolize anything at all.
				</p>
  <hr/>
  <a name="wfaudio12_2.26"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, do you believe that the theory of absurdity is applicable to man
					himself?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I doubt if I understand you. You'll have to explain a little more what
					you mean by that.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, the theory of absurdity implies that man is completely
					unintelligent. He&#x2014;it's absurd for him to ever </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, I see.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Putting myself on the <span class="unclear tooltip" title="Text was unclear">[plane]</span> of being or to come in
					contact with God or anything like that.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't. That would take a&#x2014;a different mentality from mine to accept
					man as absurd. He is ridiculous at times. He is&#x2014;he is nothing consistently <span class="unclear tooltip" title="Text was unclear">[absurd]</span>,
					except these&#x2014;these exceptions we spoke of, who are inhuman and who are&#x2014;are&#x2014;are
					devils, but in general, man is capable of&#x2014;of absurdity, just as he's capable of
					grandeur, but he is not consistently capable of any. My belief is that he wants
					to be consistently capable always of&#x2014;of the best things of&#x2014;of&#x2014;of grandeur, of
					courage, of compassion, of honesty, but he fails.  But&#x2014;but to me he's not absurd.
					It's only in his&#x2014;his ephemeral manifestation of the moment. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

		
