
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio23_1_2clip.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 24 April 1958</h4>
<h4>OCCASION: Undergraduate Writing Class</h4>
<h4>This clip was created by splicing the end of T-142a and the beginning of T-142b together.</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio23_1_2.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio23_1_2clip.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.44:00',
					'endtime','00:02:00.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Sir, this sounds an awful lot like
                            a novel called <em>The Sound and the Fury</em>
                            <span class="unclear tooltip" title="Text was unclear">[with]</span> Quentin Compson wanting to love people and the same sort
                            of relationship with his sister.</p>
<p><span class="speaker">William Faulkner</span>I don't quite agree with you. I don't believe that&mdash;that
                            Quentin and Holden were very much alike except in being a little too sensitive
                            and coming from a somewhat similar background of&mdash;of people that
                            were&mdash;were over-intelligent but incapable of&mdash;of any strength
                            of&mdash;of mutual affection and tenderness, which, as I got it,
                            was&mdash;was Holden's home.</p>
<p><span class="speaker">A. K. Davis</span>Mr. Faulkner, Holden wasn't grown up, and Quentin was grown up. He was
                            holding onto something.  He was a case of arrested
                            development, and Holden was a case of . Isn't that true?</p>
<p><span class="speaker">William Faulkner</span>Yes, sir, there was that difference.</p>
<p><span class="speaker">A. K. Davis</span>I don't know whether I read Quentin right or not, but he was holding onto
                            an ideal, wasn't he, sir?</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">A. K. Davis</span>That&mdash;that simply could not be lived up to in his terms.</p>
<p><span class="speaker">William Faulkner</span>Yes, that's right. That couldn't have been lived up to in any time
                            maybe. But Holden Caulfield was simply looking for something which should be
                            everybody's right, not only a privilege, but everybody's right, to find mankind
                            and&mdash;and love mankind and be accepted into mankind, and he couldn't,
                            because mankind, as I tried to say in my paper, in Holden's terms, wasn't there anymore.</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio23_1_2.1" class="hidden">Spliced clip</a></li></ul></aside>
        
