
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 30 April 1957</h4>
<h4>OCCASION: The Jefferson Society</h4>
<h4>TAPE: T-118andT-119</h4>
<h4>LENGTH: 54:52</h4>
<h4>READING: "The Waifs" (from The Town)</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio10.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:08.91:00',
					'endtime','00:01:07.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator 1</div>Good evening ladies and gentlemen. Tonight we bring you <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span></p>
<p><div class="speaker">Moderator 2</div>If ever there was no need for introduction I
						suppose it's tonight, so I won't. One thing before we begin: is anyone
						expecting to hear Mr. Faulkner discuss <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						 To begin I thought we'd ask Mr. Faulkner to read a part from
						his new novel that will be published in today's issue of <em>The Saturday Evening Post</em>
						 "The Waifs"  and he will read from that selection.
						Mr. Faulkner. <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:08.35:00',
					'endtime','00:01:55.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Mr. <span class="unclear tooltip" title="Text was unclear">[Noblet]</span> was kind enough to say that the
						amplifier might disconcert me a little, but I think that, as I told him
						that&mdash;that nobody's here that don't want to be here, so there's no reason for
						me to be disconcerted, and if I don't speak clearly enough be sure and tell me
						and I'll try to do better. I'm not in the&mdash;not too accustomed to this sort of
						thing. So anytime I get slack about speaking, please tell me.
						Do we take the
						whole thing or have you <span class="unclear tooltip" title="Text was unclear">[blue-pencilled in here]</span>?</p>
<p><div class="speaker">Frederick Gwynn</div>No, sir.  just where it begins where the children come.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:56.07:00',
					'endtime','00:03:02.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						 And one more thing. One morning&mdash;it was summer again
							now, July&mdash;the northbound train from New Orleans stopped and the first
							man off was usually the Negro porter&mdash;not the Pullman porters, they were
							always back down the track at the end; we hardly ever saw them, but the
							one from the day coaches at the front end&mdash;to get down and strut a little
							while&mdash;while he talked to the section hands and the other Negroes that were
							always around to meet the passenger trains. But this time it was the
							conductor himself, almost jumping down before the train stopped, with
							the white flagman at his heels, almost stepping on them; the porter
							himself didn't get off at all: he&mdash;just his head sticking out a window
							about half way down the car. Then four things got off. I mean, they
							were children. The tallest was a girl though we never did know whether
							she was the oldest or just the tallest, then two boys, all three in
							overalls, and then a little one in a single garment down to its heels
							like a man's shirt and made out of a flour- or meal-sack or maybe a
							scrap of an old tent. Wired to the front of each one of them was a
							shipping tag written in pencil:
							FROM: BYRON SNOPES, EL PASO, TEXAS TO: MR&gt; FLEM
								SNOPES, JEFFERSON, MISSISSIPPI
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:03.27:00',
					'endtime','00:03:49.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						Though Mr Snopes wasn't there. He was busy being a
							banker now and a deacon in the Baptist church, living in solitary
							widowerhood in the old De Spain house which he had remodeled into an
							ante-bellum Southern mansion; he wasn't there to meet them. It was Dink
							Quistenberry. He had married one of Mr Snopes's sisters or nieces or
							something out at Frenchman's Bend and when Mr Snopes sent I.O. Snopes
							back to the country the Quistenberrys came in to buy or rent or anyway
							to run the Snopes Hotel, which wasn't the Snopes Hotel any more now but
							the Jefferson Hotel though the people that stayed there were still the
							stock traders and juries locked up by the Circuit Court. I mean, Dink
							was old enough to be Mr Snopes's brother-in-law or whatever it was but
							he was the kind of man it just didn't occur to you to say Mister to.
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:49.83:00',
					'endtime','00:04:32.95:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						He was there; I reckon Mr Snopes sent him. And when
							he saw them I reckon he felt just like we did when we saw them, and like
							the conductor and the flagman and the porter all looked like they had
							been feeling ever since the train left New Orleans, which was evidently
							where they got on it. Because they didn't look like people. They looked
							like snakes. Or maybe that's too strong too. Anyway, they didn't look
							like children; if there was one thing in the world they didn't look like
							it was children, with kind of dark pasty faces and black hair that
							looked like somebody had put a bowl on top of their heads and then cut
							their hair up to the rim of the bowl with a dull knife, and perfectly
							black perfectly still eyes that nobody in Jefferson (Yoknapatawpha
							County either) ever afterward claimed they saw blink. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:32.95:00',
					'endtime','00:05:27.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						I dont know how Dink talked to them because the
							conductor had already told everybody listening (there was a good crowd
							by that time) that they didn't talk any language or anything else that
							he had ever heard of&mdash;heard of and that to watch them because one of them
							had a switch knife with a six-inch blade, he didn't know which one and
							he himself wasn't going to try to find out. But anyway Dink got them
							into his car and the train went on. Maybe it was the same thing
							they used in drugstores or at least with Skeets McGowan in Christian's
							because it wasn't a week before they could go into Christian's, all four
							of them (it was always all four of them, as if when the medicine man or
							whoever it was separated each succeeding one from the mother, he just
							attached the severed cord to the next senior child. Because by that time
							we knew who they were: Byron Snopes's children out of a&mdash;a Jicarilla
							Apache squaw in Old Mexico), and come out two minutes later all eating
							ice-cream cones. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:27.75:00',
					'endtime','00:06:44.67:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						They were always together and anywhere in town or
							near it at any time of day, until we found out it was any time of night
							too; one night at two oclock in the morning when Otis Harker caught them
							coming in single file from behind the Coca-Cola bottling plant; Otis
							said he didn't know how in the world they got into it because no door
							was open nor window broken, but he could smell warm Coca-Cola syrup
							spilled down the front of the little one's nightshirt or dressing-sacque
							or whatever it was from five or six feet away. Because that was as close
							as he got; he said he hollered at them to go on home to the Snopeses, I
							mean the Jefferson Hotel but they just stood there looking at him and he
							said he never intended anything: just to get them moving since maybe
							they didn't understand what he meant yet. So he sort of flung his arms
							out and was kind of jumping at them, hollering again, when he
							stopped himself just in time, the knife already in one of their hands
							with the blade open at least six inches long; so fast that he never even
							saw where it came from and in the next minute gone so fast he still
							didn't even know which one of the three in over-alls&mdash;the girl or the two
							boys&mdash;had it; that was when Mr Connors went to Dink Quistenberry the next
							morning and told him he would have to keep them off the streets at
							night. "Sure," Dink said. "You try it. You keep them off the
							streets or off anywhere else. You got my full permission. You're welcome
							to it!" 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:44.65:00',
					'endtime','00:07:47.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						So when the dog business happened, even Mr Hub
							Hampton himself didn't get any closer to them than that. This was the
							dog business. We were getting paved streets in Jefferson now and so more
							new families, engineers and contractors and such like the little Riddell
							boys' papa&mdash;the little Riddell boys that gave us that holiday two years
							ago, had moved to Jefferson. One of them didn't&mdash;them didn't have any
							children but they had a Cadillac and his wife had a dog that they said
							cost five hundred dollars, the only dog higher than fifty dollars except
							a field-trial pointer or setter (and a part Airedale bear dog named Lion
							that Major de Spain, Mr de Spain's father, owned once that hunting
							people in north Mississippi still talked about) that Jefferson ever
							heard of, let alone saw&mdash;a Pekinese with a gold name-plate on its collar
							that probably didn't even know it was a dog, that rode in the Cadillac
							and sneered through the windows not just at other dogs but at people
							too, and even ate special meat that Mr Wall Snopes's butcher ordered
							special from Kansas City because it cost too much for just people to buy
							and eat. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:47.35:00',
					'endtime','00:08:49.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						One day it disappeared. Nobody knew how, since the
							only time it wasn't sneering out through the Cadillac window, it was
							sneering out through a window in the house where it&mdash;they&mdash;lived. But it
							was gone and I dont think anywhere else ever saw a woman take on over
							anything like Mrs Widrington did, with rewards in all the Memphis and
							north Mississippi and west Tennessee and east Arkansas papers and Mr
							Hampton and Mr Connors neither able to sleep at night for Mrs Widrington
							ringing their telephone, and the man from the insurance company (its
							life was insured too so maybe there were more people insured in
							Jefferson than there were dogs but then there was more of them not
							insured in Jefferson than there was dogs too) <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and Mrs Widrington herself likely at
							almost any time of day or night to be in your back yard calling what
							Aleck Sander and I thought was Yow! Yow! Yow! until Uncle Gavin told us
							it was named Lao T'se for a Chinese poet. Until one day the four Snopes
							Indians came out of the Christian's drugstore and somebody passing on
							the street pointed his finger and hollered "Look!" 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:49.03:00',
					'endtime','00:10:02.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						It was the collar with the gold name-plate. The
							little one was wearing it around its neck above the nightshirt. Mr
							Connors&mdash;Connors came quick and sent about as quick for Mr Hampton. And
							that was when Mr Hampton didn't come any closer either and I reckon we
							was all thinking about what he was: what a mess that big gut of his
							would make on the sidewalk if he got too close to that knife before he
							knew it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And the four Snopes Indians
							or Indian Snopeses, whichever is right, standing in a row watching him,
							not looking dangerous, not looking anything; not innocent
							especially at nobody&mdash;especially and nobody would have called it affectionate, but
							not dangerous in the same sense that four shut pocket knives dont look
							threatening. They look just like four shut pocket knives but they dont look
							lethal. Until Mr Hampton said: "What do they do when they aint
							eating ice cream up here or breaking in or out of that bottling plant at
							two oclock in the morning?" "They got a kind of camp or reservation
							or whatever you might call it in a cave they dug in the big di&mdash;big ditch
							behind the school house," Mr Connors said. "Did you look there?" Mr
							Hampton said. "Sure," Mr Connors said. "Nothing there but just some
							trash and bones and stuff they play with." "Bones?" Mr Hampton
							said. "What bones?" "Just bones," Mr Connors said. "Chicken bones,
							spare rib, stuff like that they been eating I reckon." 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:02.01:00',
					'endtime','00:10:42.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						So Mr Hampton went and got in his car and Mr Connors
							went to his that had the red light and the sireen on it and a few others
							got in while there was still room, and the two cars went to the school
							house, the rest of us walking because we wanted to see if Mr Hampton
							with his belly really would try to climb down into that ditch and if he
							did know how he was going to get out again. But he did it, with Mr
							Connors showing him where the cave was but letting him go first since he
							was the sheriff, on to where the little pile of bones was behind the
							fireplace and turned them over with his toe and then raked a few of them
							to one side. Because he was a hunter, a woods man, a good one before his
							belly got too big to go through a thicket. "There's your dog," he said.
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:42.62:00',
					'endtime','00:12:02.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						And I remember that time, five years ago now, when
							we were all at the table and Matt Levitt's cut-out passing in the street
							and Father says <span class="unclear tooltip" title="Text was unclear">[now]</span> Uncle Gavin: "What's that sound I
							smell?" Except that Mr Snopes's brass business at the power-plant was
							before I was even born: Uncle Gavin's office that morning and Mrs
							Widrington and the insurance man because the dog's life had been insured
							only against disease or accident or acts of God, and the insurance man's
							contention (I reckon he had been in Jefferson long enough to have talked
							with Ratliff; any stranger in town for just half a day, let alone a
							week, would find himself doing that) was that four half-Snopeses and
							half-Jicarilla Apache Indians were none of them and so Jefferson
							him&mdash;itself was liable and vulnerable to suit. So I had only heard about
							Mr Snopes and the missing brass from Uncle Gavin, but I thought about
							what Father said that day because I had been there then: "What's that
							sound I smell?" when Mr Snopes came in, removing his hat and saying
							"Morning" to everybody without saying it to anybody; then to the
							insurance man: "How much on that dog?" "Full pedigree value, Mr
							Snopes. Five hundred dollars," the insurance man said and Mr Snopes (the
							insurance man himself got up and turned his chair around to the desk for
							him) sat down and took out a blank check from his pocket and filled in
							the amount and pushed it across the desk in front of Uncle Gavin and got
							up and said "Morning" without saying it to anybody and put on his hat
							and went out. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:02.04:00',
					'endtime','00:12:36.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						Except that he didn't stop there. Because the next
							day Byron Snopes's Indians were gone. Ratliff came in and told us.
							"Sho," he said. "Flem sent them out to the Bend. Neither&mdash;neither of
							their grandmaws, I mean I.O.'s wives, would have them but finally
							Dee-wit Binford"&mdash;Dewitt Binford had married another of the Snopes girls.
							They lived near Varner's store&mdash;"taken them in. On a contract, the
							Snopeses all clubbing together pro rata and paying Dee-wit a dollar a
							head a week on them, providing of course he can last a week. Though
							naturally the first four dollars was in advance, what you might call a
							retainer you might say." 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:36.39:00',
					'endtime','00:13:13.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						It was. I mean, just about a week. Ratliff came in
							again; it was in the morning. "We jest finished using up Frenchman's
							Bend at noon yesterday, and that jest about cleans up the county. We 
							down at the dee-po now, all tagged and the waybill paid, waiting for
							Number Twenty-three southbound or any other train that will connect more
							or less or thereabouts for El Paso, Texas"&mdash;telling about that too: "A
							combination you might say of scientific interest and what's that word?"
							until Uncle Gavin told him anthropological "anthropological coincidence;
							them four vanishing Americans coming durn nigh taking one white man with
							them if Clarence Snopes's maw and a few neighbors hadn't got there in
							time." 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:13.22:00',
					'endtime','00:13:45.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						He told it: how when Dewitt Binford got them home he
							discovered they wouldn't stay in bed at all, dragging a quilt off onto
							the floor and lying in a row on it and the next morning he and his wife
							found the bedstead itself dismantled and leaned against the wall in a
							corner out of the way; and they hadn't heard a sound during the process.
							He&mdash;Dewitt&mdash;said that's what got on his mind even before he begun to worry
							about the little one: you couldn't hear them; you didn't even know they
							were in the house or not, when they had entered it or left it; for all
							you knew, they might be right there in your bedroom in the dark, looking
							at you. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:45.29:00',
					'endtime','00:14:20.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						 "So he tried it," Ratliff said. "He went over to
							Tull's and borrowed Vernon's flashlight and waited until about midnight
							and he said he never moved quieter in his life, across the hall to the
							door of the room, trying to not even breathe if he could help it; he had
							done already cut out <span class="unclear tooltip" title="Text was unclear">[three]</span> sighting notches in the
							door-frame so that when he laid the flashlight into them by feel it
							would be aimed straight at where&mdash;where the middle two heads would be on
							the pallet; and held his breath again, listening until he was sho there
							wasn't a sound, and snapped on the light. And them four faces and them
							eight black eyes already laying there wide open looking straight at him.
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:20.05:00',
					'endtime','00:15:27.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"And Dee-wit said he would like to have give up
							then. But by that time that least un wouldn't give him no rest a-tall.
							Only he didn't know what to do because he had done been warned about
							that knife even if he hadn't never seen it. Then he remembered them
							pills, that bottle of knock-out opium pills that Doc Peabody had give
							Miz Dee-wit that time the brooder lamp blowed up and burnt most of her
							front hair off, so he taken eight of them and bought four bottles of
							sody pop at the store and put two capsules into each bottle and druv the
							caps back on and hid the bottles jest exactly where he figgered they
							would have to hunt jest exactly hard enough to find them. And by dark
							the four bottles was gone and he waited again to be sho it had had
							plenty of time to work and taken Vernon's flashlight and went across the
							hall and got on his hands and knees and crawled across to the pallet&mdash;he
							knowed by practice now exactly where on the pallet that least un slept
							or anyway lay&mdash;and reached out easy and found the hem of that nightshirt
							with one hand and the flashlight ready to snap on in the other.
							"And when he told about it, he was downright crying not jest skeer so
							much as pure and simple unbelief. 'I wasn't doing nothing' he says. 'I
							wasn't going to hurt it. All in the world I wanted was jest to see which
							it was&mdash;'" 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:27.65:00',
					'endtime','00:16:29.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"Which is it?" Uncle Gavin said. "That's what
							I'm telling you," Ratliff said. "He never even got to snap on the
							flashlight. He jest felt them two quick thin streaks of fire, one down
							either cheek of his face; he said that all that time he was already
							running backward on his hands and knees toward the door he knowed there
							wouldn't even be time to turn around, let alone get on his feet and run,
							not to mention shutting the door behind him; and when he run back into
							his and Miz Deewit's room there wasn't&mdash;there wouldn't be no time to shut
							that one neither except he had to, banging it shut and hollering for Miz
							Dee-wit now, dragging the bureau against it while Miz Dee-wit lit the
							lamp and then come and holp him until he hollered at her to shut the
							windows first; almost crying with them two slashes running from each
							ear, jest missing his eye on one side, right down to the corners of his
							mouth like a great big grin that would bust scab and all if he ever let
							his face go, telling how they would decide that the best thing would be
							to put out the lamp too and set in the dark until he remembered how they
							had managed somehow to get inside that locked-up Coca-Cola plant without
							even touching the patented burglar alarm. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:29.12:00',
					'endtime','00:17:18.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"So they jest shut and locked the windows and left
							the lamp burning, sitting there in that air-tight room on that hot
							summer night, until it come daylight enough for Miz Dee-wit to at least
							jump and dodge on the way back to the kitchen to start the fire in the
							stove and cook breakfast. Though the house was empty then. Not safe of
							course: jest empty except for themselves while they tried to decide
							whether to try to get word in to Flem or Hub Hampton to come out and get
							them, or jest pack up themselves without even waiting to wash the
							breakfast dishes, and move over to Tull's. Anyhow Dee-wit said him and
							Miz Dee-wit was through and they knowed it, four dollars a week or no
							four dollars a week; so, it was about nine oclock, he was on his way
							to the store to use the telephone to call Jefferson, when Miz I.O.
							Snopes, I mean the number-two one that got superseded back before she
							ever had a chance to move to town, saved him the trouble." 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:18.40:00',
					'endtime','00:18:03.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						We knew Clarence Snopes ourselves. He would be in
							town every Saturday or every other time he could ge a ride in according
							to Ratliff&mdash;a big hulking man now eighteen or nineteen who was all a gray
							color: a graying tinge already to his tow-colored hair, a grayish pasty
							look to his flesh, which looked as if it would not flow blood from a
							wound but instead a pallid fluid like thin oatmeal; he was the only
							Snopes or resident of Frenchman's Bend or Yoknapatawpha County either,
							for that matter, who made his Texas cousins welcome. "You might say he
							adopted them," Ratliff said. "Right from that first day. He even claimed
							he could talk to them and that he was going to train them to hunt in a
							pack; they would be better than any jest pack of dogs because sooner or
							later dogs always quit and went home, while it didn't matter to them
							where they was. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:03.31:00',
					'endtime','00:19:17.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"So he trained them. The first way he done it was to
							set a bottle of sody pop on a stump in front of the store with a string
							running from it to where he would be setting on the gallery, until they
							would maneuver around and finally bushwack up to where one of them could
							reach for it, then he would snatch it off the stump with the string and
							drag it out of their reach. Only that never worked but once so then he
							would have to drink the bottles empty and fill them again with muddy
							water or some such, or another good training method was to gather up a few
							throwed-away candy-bar papers and wrap them up again with mud inside or
							maybe jest not nothing a-tall because it taken them a good while to give
							up then, especially if now and then he had a sho enough candy bar or a
							sho enough bottle of strawberry or orange shuffled into the other
							ones. "Anyhow he was always with them, hollering at them and waving
							his arms to go this way or that way when folks was watching, like dogs;
							they even had some kind of a play house or cave or something in another
							ditch about half a mile up the road. That's right. What you think you
							are laughing at is the notion of a big almost growed man like Clarence,
							playing, all of a sudden&mdash;that's right. What you think you are laughing
							at is the notion of a big almost growed man like Clarence, playing until
							all of a sudden you find out that what you're laughing at is calling
							anything playing that them four things would be interested in.
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.22">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:17.45:00',
					'endtime','00:20:14.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"So Dee-wit had jest reached the store when here
							come Clarence's maw, down the road hollering 'Them Indians! Them
							Indians!' jest like that: a pure and simple case of mother love and
							mother instinct. Because likely she didn't know anything yet and even if
							she had, in that state she couldn't a told nobody: jest standing there
							in the road in front of the store wringing her hands and hollering Them
							Indians until the men squatting along the gallery begun to get up and
							then to run because about that time Dee-wit come up. Because he knowed
							what Miz Snopes was trying to say. Maybe he never had no mother love and
							mother instinct but then neither did Miz Snopes have a last-night's
							knife-slash down both cheeks. "'Them Indians?' he says. 'Fore God,
							men, run. It may already be too late.' "But it wasn't. They was in
							time. Pretty soon they could hear Clarence bellowing and screaming and
							then they could line him out and the fastest ones run on ahead and down
							into the ditch to where Clarence was tied to a blackjack sapling with
							something less than a cord of wood stacked around him jest beginning to
							burn good. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.23">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:14.78:00',
					'endtime','00:21:02.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						"So they was in time. Jody telephoned Flem right
							away and in fact all this would a formally took place yesterday evening
							except that Clarence's hunting pack never reappeared in sight until this
							morning when Dee-wit lifted the shade enough to see them waiting on the
							front gallery for breakfast. But then his house was barred in time
							because he hadn't never unbarred it from last night. And Jody's car was
							already standing by on emergency alert as they say and it wasn't much
							trouble to toll them into it since like Clarence said one place was jest
							like another to them. "So they're down at the dee-po now. Would either
							of you gentlemen like to go down with me and watch what&mdash;what they call
							the end of a erea, if that's what they call what I'm trying to say? The
							last and final end of Snopes' out-and-out unvarnished behavior in
							Jefferson, if that's what I'm trying to say." 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.24">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:02.15:00',
					'endtime','00:21:47.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						So Ratliff and I went to the station while he told
							me the rest of it. It was Miss Emily Habersham; she had done the
							telephoning herself: to the Travellers' Aid in New Orleans to meet the
							Jefferson train and put them on the one for El Paso, and to the El Paso
							Aid to get them across the border and turn them over to the Mexican
							police to send them back home, to Byron Snopes or the reservation or
							wherever it was. Then I noticed the package and said, "What's that?" but
							he didn't answer. He just parked the pickup and took the cardboard
							carton and we went around onto the platform where they were: the three
							in the overalls and what Ratliff called the least un in the nightshirt,
							each with a new shipping tag wired to the front of its garment, but
							printed in big block capitals this time, like shouting this time:
							FROM: FLEM SNOPES, JEFFERSON, MISS. TO: BYRON
								SNOPES, EL PASO, TEXAS
						
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.25">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:47.20:00',
					'endtime','00:22:45.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						There was a considerable crowd around them, at a
							safe distance, when we come up and Ratliff opened the carton; it
							contained four of everything: four oranges and apples and candy bars and
							bags of peanuts and packages of chewing gum. "Watch out, now," Ratliff
							said. "Maybe we better set it on the ground and shove it up with a stick
							or something." But he didn't mean that. Anyway, he didn't do it. He just
							said to me, "Come on; you aint quite growed so may&mdash;they may not snap at
							you," and moved near and held out one of the oranges, the eight eyes not
							once looking at it nor at us nor at anything that we could see; until
							the girl, the tallest one, said something, something quick and brittle
							that sounded quite strange in the treble of a child; whereupon the first
							hand came out and took the orange, then the next and the next, orderly,
							not furtive: just quick, while Ratliff and I dealt out the fruit and
							bars and paper bags, the empty hand already extended again, the objects
							vanishing somewhere faster than we could follow, except the little one
							in the nightshirt which apparently had no pockets: until the girl
							herself leaned and relieved the overflow. 
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.26">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:45.16:00',
					'endtime','00:23:35.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>
						Then the train came in and stopped; the day coach
							vestibule clanged and clashed open, the narrow steps hanging downward
							from the orifice like a narrow dropped jaw. Evidently, obviously, Miss
							Habersham had telephoned a trainmaster or a superintendent (maybe a vice
							president) somewhere too because the conductor and the porter both got
							down and the conductor looked rapidly at the four tags and motioned, and
							we&mdash;all of us; we represented Jefferson&mdash;watched them mount and vanish one
							by one into that iron impatient maw: the girl and the two boys in
							overalls and Ratliff's least un in ankle-length single garment like a
							man's discarded shirt made out of flour- or meal-sacking or perhaps the
							remnant of an old tent. We never did know which it was. 
						<span class="event tooltip" title="There was some applause happening">[applause]</span>
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.27">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:36.99:00',
					'endtime','00:25:52.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, the first question that interests us&mdash;interested us was
						this statement you made that one time in your career you felt that to write
						is a good thing. Could you tell us about that experience?</p>
<p><div class="speaker">William Faulkner</div>Well that was more or less with humorous intent. I was&mdash;was running
						a&mdash;a launch for New Orleans bootlegger then, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> down&mdash;across Pontchartrain down the Industrial Canal into the Gulf, to an
						island and where we would pick up the&mdash;the raw sugar cane alcohol that came
						up from the Caribbean and bring that back to his kitchen and he would turn
						it into scotch and gin and bourbon, whatever you wanted. I met Sherwood
						Anderson who lived in New Orleans at that time, and I liked him very much,
						just as you meet a man and you know that you get along with him. We would
						meet in the afternoons and sit in parks, and he would talk, and I would
						listen. We would meet again in the evening, and we'd go to a&mdash;a well known,
						very elegant brothel then, and the&mdash;the madam had literary aspirations, and
						the three of us would sit in <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> &mdash;would sit in
						the courtyard and she would supply the&mdash;the whiskey, and we would drink, and
						Anderson would talk, and she would talk, and I would listen. Then the next
						morning, I wouldn't see him. He was in seclusion working. That would go on
						day after day, the afternoons we would meet, in the evenings we'd sit over
						the whiskey, and he would talk, and I would listen, and I thought that if
						that was the life it took to be a writer, that was the life for me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so I wrote my first book, and when I
						finished it Mr. Anderson said, "I'll make a trade with you. If I don't have
						to read it, I'll tell my publisher to take it." So he&mdash;I said, "Done" and
						he told his publisher to take it. That's how I got printed the first
						time.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.28">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:53.05:00',
					'endtime','00:28:33.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, the publication of <em>Sanctuary</em> &mdash;some of that story, that it began and then you took it up
						again, along that same line is the idea of producing something good came <span class="unclear tooltip" title="Text was unclear">[in there]</span> 
						 &mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, I wrote the other books, I was still a bachelor and&mdash;and
						footloose and a tramp and there were things I could do. I could be a
						bootlegger and I&mdash;I flew airplanes, barnstorming airplanes, stunting and
						hauling passengers out of cow pastures. I was a housepainter and I had
						apprentice seaman's papers. I could go as a forecastle hand in freighters,
						things like that. Then I got married, and my father died, and I had to
						settle down and become respectable. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so
						I thought I would write a book that would make money, see if I could make a
						little money writing, and so I wrote <em>Sanctuary</em>,
						thought of the most horrific notion I could invent and wrote it, sent it to
						the publisher. The publisher said, "Good Lord, if we print this we'll both
						be in jail." This was in '27, '28 when you couldn't&mdash;couldn't print what you
						can nowadays. So I forgot it. I wrote two more books, and they were printed,
						and then one day I got the galleys for <em>Sanctuary</em>. And
						I read it, and I didn't need money so badly then, and anyway I had enough
						perspective to see that it was a&mdash;a base notion, basely conceived and
						executed. And I wrote the publisher that we'd throw it away, it was no good.
						And he said, "We can't do that, I have had plates made. I've got money tied
						up in it." I said, "Well, I'll&mdash;I'll rewrite it then." He said, "All right,
						I'll pay half the new plates, and you pay half the new plates." So I said
						all right, and I got a job and earned enough money to pay my half of the new
						plates and rewrote the book, and I made the best book I could out of it so
						that&mdash;that its inception was basely conceived, but now I'd done the best I
						could with it, and I'm not ashamed of it. I don't like it, but I'm not
						ashamed of it anymore. It was the first book that sold any, and I had a
						statement that I was going to get more&mdash;more money than I'd ever seen before,
						and before the money came the publisher went bankrupt, which served me
						exactly right. I felt that that was exactly what I deserved, that whole
						thing. Taught me a lesson. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.29">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:40.14:00',
					'endtime','00:29:19.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, I <span class="unclear tooltip" title="Text was unclear">[have a comparatively easy question:]</span> the
						story you just read "The Waifs" was  tall story&mdash;tall stories.
						Does it have any other meaning other than just being a tall story?</p>
<p><div class="speaker">William Faulkner</div>No, to me it was just funny. Funny and a little terrible too, those
						waif children with&mdash;with absolutely no future. I&mdash;it was funny, yes.
						As it &mdash;yes, that's right, a tall story. But with the tragic implications,
						assuming that&mdash;that any&mdash;any infant human is of some value, should be of some
						value in any culture.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.30">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:24.39:00',
					'endtime','00:32:23.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I understand that in the last year or so you've&mdash;you've done some work
						cooperating with the State Department.</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
<p><div class="speaker">Unidentified participant</div> Person-to-Person diplomacy I believe it's been referred to, trying to have&mdash;produce better
						relations between individuals in this country and different fields in the
						arts and sciences. Could you tell us a little bit about that and do you
						think&mdash;how successful it can be, and how <span class="unclear tooltip" title="Text was unclear">[it has been run]</span>?</p>
<p><div class="speaker">William Faulkner</div>It's interesting work and very necessary work. Our culture in this
						country is so different from European culture in that there's really no
						place in it for the artist, for a man of&mdash;of simple ideas or even, probably,
						of principles. Ours is a culture of success, of&mdash;of&mdash;of power and strength,
						and the representatives of that culture are not understood by the people in
						the rest of the world. We&mdash;we seem gauche and&mdash;and crude and ill-mannered,
						which I don't think we are. It's simply because we are alien to the culture
						of the rest of the world. And the purpose of this was to&mdash;to let the people
						in the rest of the world see that there were other sorts of American beside
						successful chairmen of General Motors and&mdash;and congressmen and senators. It is
						the reason for sending people like Louis Armstrong that&mdash;that blow horns 
						and&mdash;just for the sheer pleasure of blowing horns and writers and people that are
						interested in something else besides success, interested in things of the
						human spirit rather than in things on&mdash;in&mdash;the black ink on the ledger. It was
						interesting work. I myself of course can't see just how much good it does.
						The report from it is that it does a lot of good, but I&mdash;I don't&mdash;am not aware
						of it myself. I do know that&mdash;that the&mdash;the foreign people I have&mdash;have visited have&mdash;have
						seemed quite anxious to&mdash;to learn things about our country, which I would have
						thought they could have known easily. Then I realized that the usual
						travelled American is not interested in these things and had no reason to
						tell them, and they were too timid to ask. But to someone who approaches
						them in their own cultural terms of believing that things of the spirit are
						important, they have less shyness about asking these questions. And so in
						that sense, it probably does a lot of good to give the foreigner a truer
						picture of what this country actually is. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.31">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:23.38:00',
					'endtime','00:35:16.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I wonder if you'd care to elaborate on that, sir, and indicate a few
						of the questions that they sometimes ask.</p>
<p><div class="speaker">William Faulkner</div>They are questions about the&mdash;the experiences the young writer might
						have, as though they expect to find that his problems in America would be
						different from the problems of a young writer or young painter anywhere. And
						they are not really. I explain to them that&mdash;that to be a good artist of any
						sort you've got primarily be an individualist and an individualist who is
						demon driven to where he wants to be a good writer or a good philosopher or
						a good anything else is going to resist the mass pressure to belong to a
						mass. And so he does that, and that is no problem to him. They expect
						that&mdash;that his greatest problem will be to&mdash;to resist the pressure of General
						Motors. Which it's not really. His problem is the same as the problem of the
						artist anywhere, which is to understand why people as individuals, not as
						members of groups, do what they as individuals do. The same&mdash; <span class="gap tooltip" title="There was a gap in the tape">[gap in tape]</span></p>
<p><div class="speaker">William Faulkner</div>Well, I think the first would be to believe in&mdash;in me, in "I," rather
						than "we," to be oneself, to resist the pressure to relinquish
						individuality. That's the first thing, and maybe that's all anyone has to do
						to combat communism. That is, I think that it can be combated, must be
						combated and conquered, if it is to be conquered, not by people forming mass
						movements and groups but by individuals. That if the&mdash;the&mdash;we who would try to
						proselytize our fellows into resisting communism, I think that's all we have
						to teach them, the importance of "me," of "I," of "myself." That&mdash;that the
						individual is more important than any mass or group he belongs to. That the
						individual is always more important than any state that&mdash;that he belongs to.
						That the state must never be the master of the individual, it's a servant of
						the individual. That the individual&mdash;and to retain that superiority over the
						state, the individual must be independent of the state, he mustn't accept
						gratuity from the state, he mustn't let the state buy him by pensions or
						relief or dole or grant of any sort. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.32">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:35:19.22:00',
					'endtime','00:37:24.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I'd&mdash;I'd just like to find out what the people in the
						deep South&mdash;how they react to your books, whether <span class="unclear tooltip" title="Text was unclear">[they read them
							as much, say, as]</span> much as people in the North or people in Europe.
						I know that people in Europe think that you are the greatest writer in the
						United States. I was wondering how the people in the deep South think about
						you.</p>
<p><div class="speaker">William Faulkner</div>Someone has said that&mdash;that people in the South don't read books,
						they write them. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> In my own little town
						there are a few people that&mdash;that read the books. They read them for different
						reasons, some because they&mdash;they like me as a friend, some because they are
						convinced that sooner or later they will find the people in the town in the
						books, because they don't believe anybody can invent enough people to write
						for thirty or forty years, that you might invent one, but the rest of the
						time you'll be copying somebody you knew. And they still think that sooner
						or later they'll catch me having put somebody that they know into a book.
						Others read the books in a sort of outraged bafflement. Our country is poor
						country. Nobody is rich there and few people ever have as much as thirty
						thousand dollars. They know they'll never have as much as thirty thousand
						dollars, and if they ever did they would have got it out in the sun, doing
						hard work. And a foreign government suddenly gives me thirty thousand
						dollars just for sitting on my backside, writing books, and they simply
						cannot get over that <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and they will really
						never forgive me or Sweden for that. That somehow that was an outrage to all
						the proprieties. And they read the book to see why in the world anybody
						should have given anybody thirty thousand dollars for writing the books like
						that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.33">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:24.05:00',
					'endtime','00:38:40.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, along these lines how do you think the position of the artist in
						the South, in the deep South, compares with that of the artist in, say, the
						North, or in Europe?</p>
<p><div class="speaker">William Faulkner</div>Well I would say that in our culture there's really no place for the
						artist. In Europe, the old cultures, there's a definite place, the artist
						quite often&mdash;because he is a good artist, he suddenly find himself a power in
						politics. Which never happens in this country because he is a good artist, a
						good writer, or a good painter, or a good philosopher. He&mdash;he becomes a power in
						politics in our culture, so far, because he's been successful. It doesn't
						matter what he's successful in. That's because we still haven't quite
						exhausted the natural resources where we have got to use the best in people.
						When we reach the point where we have exhausted natural resources and all we
						have left will be people, then the artist, I think, will find a&mdash;a place for
						himself in the&mdash;the fabric of the culture. So far he hasn't. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.34">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:38:40.07:00',
					'endtime','00:40:02.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in light of the same thing, when this point is reached when our
						natural resources are exhausted, and people begin to develop, do you think
						individuality will begin to develop also?</p>
<p><div class="speaker">William Faulkner</div>Well individuality must have developed or we'll never reach that
						point.  We will&mdash;will have been&mdash;be sunk by then, we will be conquered.</p>
<p><div class="speaker">Unidentified participant</div>I'm sorry, I didn't state that very clearly. Do you think that what
						 faculty has developed in some people, artists who have been
						successful, will have developed on a larger scale, a broader scale?</p>
<p><div class="speaker">William Faulkner</div>I believe I know what you mean. I would say that&mdash;that we will&mdash;we
						will reach a point where we will say that America was the greatest country
						in the world, but we couldn't keep on affording it, that we will have to
						change and then the natural resource which we will have to fall back on,
						which may be our salvation, will be the&mdash;the will of the few that have
						insisted on being individuals against all the pressure. They will come to
						the top then. That&mdash;that will to be individual was there. It&mdash;it won't need to
						develop. It'll&mdash;suddenly it will come to the top where we will need that. As a&mdash;as a
						nation we will need that. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.35">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:40:03.05:00',
					'endtime','00:41:35.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, you state that in order to be an artist one has to be
						individualistic, and then you said that in order to combat communism one
						must foster or foster the spirit of individualist&mdash;individualism. Now I was
						wondering if there was a contradiction between this. In the case of the
						Soviet artists, if we can call them artists, do they have individualism or
						if they have&mdash;are they communists?</p>
<p><div class="speaker">William Faulkner</div>The ones that we know about, whose work we see are not
						individualists. They have&mdash;have been compressed, repressed into the mass. I'm
						convinced that the&mdash;the heirs to Dostoyevsky, Gogol, Tolstoy are still writing
						the&mdash;the good books. They are hidden in out-houses, under floors in Russia,
						because they don't dare let the government find them, that some day they
						will appear, and those people are the ones who insist on being
						individualists, even in a totalitarian condition like Russia. I think that
						no condition, no government can destroy the will among a few to be
						individuals. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.36">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:41:36.34:00',
					'endtime','00:43:20.52:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, your theory to combat such a political and social theory as
						Communism by being an individual sounds very good, but is it possible to
						achieve today in our society, for an individual to do that, without
						isolating himself from our society? If&mdash;if it is possible, what means would you
						 for becoming an individual ?</p>
<p><div class="speaker">William Faulkner</div>Well I will use an analogy. There are some people, writers, who
						believe they have talent, they believe in the&mdash;the dream of perfection. They get
						offers to go to Hollywood where they can make a lot of money. They begin to
						acquire junk, swimming pools and imported cars, and they can't quit their
						jobs because they've got to continue to own that swimming pool and the
						imported car. There are others with the same dream of perfection, the same
						belief that maybe they can match it, that go there, and&mdash;and they&mdash;they resist the
						money. They don't own the swimming pool, the imported cars. They will do
						enough work to&mdash;to get what they need of the money without becoming a slave to
						it.  And that, in that sense, it's&mdash;as you say, it is going to be difficult to
						go completely against the&mdash;the grain of the current of a culture. But you can&mdash;can 
						compromise&mdash;you&mdash;you&mdash;without selling your individuality completely to it.
						You've got to compromise because it makes things easier.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.37">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:43:21.51:00',
					'endtime','00:44:19.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>  In social legislation how can you combat something like that, such as
						pensions or social security? What can an individual do about that?</p>
<p><div class="speaker">William Faulkner</div>Well you&mdash;</p>
<p><div class="speaker">Unidentified participant</div>
						
					</p>
<p><div class="speaker">William Faulkner</div>Your&mdash;you probably can't, but you can insist on&mdash;on yourself keeping
						free of it.</p>
<p><div class="speaker">Unidentified participant</div>I would still have to be paying taxes &mdash;</p>
<p><div class="speaker">William Faulkner</div>Sure you'd have to pay taxes but&mdash;but then we haven't quite reached
						the stage where one has got to accept social benefits. You can&mdash;you can do
						work, you can join a union. Of course, you have got to acquiesce to an
						extent to&mdash;to a mass if you join a union. But you don't have to accept a social
						benefit, you can still be an individualist and belong to a union and work.
						And there probably is somewhere in the country still ways that a man can&mdash;can 
						earn a living without having to belong to a union. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.38">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:44:19.48:00',
					'endtime','00:47:12.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, a few minutes ago you mentioned that people
						in your hometown were looking into your books for familiar characters.
						Realizing that you've got a rich legacy as it were, of experiences, it seems
						to me that nowadays the modern novelist is writing merely thinly disguised
						autobiography. Which do you think is really more valuable <span class="unclear tooltip" title="Text was unclear">[in]</span> the sense of
						the artist, the disguised autobiography, or making it up from whole cloth,
						as it were?</p>
<p><div class="speaker">William Faulkner</div>I would say that the writer has three sources: imagination,
						observation, and experience. He himself doesn't know how much of which he
						uses at any given moment because each of the sources themselves are not too
						important to him, that he is writing about people, and he uses his material
						from the three sources, as&mdash;as&mdash;as the carpenter reaches into his&mdash;his lumber room
						and finds a board that fits the particular corner he's building. Of course,
						any writer, to begin with, is writing his&mdash;his own biography, because he has&mdash;has
						discovered the world and suddenly discovered that it&mdash;the world is&mdash;is
						important enough or moving enough or tragic enough to put down on paper or
						in music or on canvas. And at that time all he knows is what has happened to
						him because he has not developed his capacity to&mdash;to perceive, to draw
						conclusions, to have an insight into people. His only insight in it is into
						himself. And it's biographical because that's the only gauge he has to
						measure, is what he has experienced himself. As he gets older and works
						more, the imagination is like any muscle, it improves with use. Imagination
						develops. His observation gets shrewder as he gets older, as he writes, and
						so that when he reaches his peak, his best years, when his work is best, he
						himself doesn't know and doesn't have time to bother and doesn't really care
						how much of what comes from each of these sources. That then he is writing
						about people, writing about the aspirations, the&mdash;the troubles, the
						anguishes, the&mdash;the&mdash;the courage and the cowardice, the baseness and the splendor
						of&mdash;of man, of the human heart. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.39">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:47:12.19:00',
					'endtime','00:48:27.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you think a writer writes better when he's young or
						writes better when he's older ?</p>
<p><div class="speaker">William Faulkner</div>Well, that's something you can't say. Some write best when they're
						young, write themselves out; some never reach their&mdash;their top speed until&mdash;till
						late in life. That's&mdash;you just can't say. That no man knows when he will
						reach his&mdash; will do his best, and very few have the courage to say,
						"I've done my best, and now is the time to break the pencil and quit." Very
						few can do that. It's a lack of courage, but probably more a lack of
						judgment. That the artist is trying to match a dream of perfection, and he
						still believes as long as he can breathe that he will do it, even though his
						judgment might tell him that he's failed, that his work is&mdash;is going downhill.
						That's difficult to face. When you've given&mdash;dedicated your life to something
						like that and then before life is over to find out that you've picked the
						wrong racket, you might say, when it's too late.</p>
<p><div class="speaker">Unidentified participant</div>Well, do you think you've reached your peak ?</p>
<p><div class="speaker">William Faulkner</div>No. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> No, I intend to live to be at
						least a hundred, and I'll probably still be writing. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's my&mdash;my thought now. It may change
						tomorrow, but right now that's my thought.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.40">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:28.29:00',
					'endtime','00:50:25.95:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, concerning individuality you were discussing a moment ago, you've often 
						said&mdash;been quoted that you're a literary man&mdash;I beg your pardon, you are not a literary man.  
					By implication one might think that you'd prefer the author who is so to speak spontaneous 
					and not always steady against one who's read all the literature in his culture and <span class="unclear tooltip" title="Text was unclear">[gives]</span> 
					a steady effort to produce, and works on his style.  Is that correct ?</p>
<p><div class="speaker">William Faulkner</div>How do you mean prefer the author, to spend an evening with him or
						the work he does?</p>
<p><div class="speaker">Unidentified participant</div>
						The work he does 
					</p>
<p><div class="speaker">William Faulkner</div>Now you&mdash;</p>
<p><div class="speaker">Unidentified participant</div> clear up: do you mean by implication that you prefer the man who writes
						 so to speak spontaneously or the man who studies his style, reads and 
						learns techniques and works out something <span class="unclear tooltip" title="Text was unclear">[totally]</span> ?</p>
<p><div class="speaker">William Faulkner</div>I would say first that&mdash;the the author is not&mdash;is of no importance at
						all, it's what he writes. It don't matter who wrote it. If&mdash;and&mdash;to&mdash;if you
						mean prefer him as an individual, then I will take the former because the
						intellectual man and I wouldn't have anything to talk about. But the man has&mdash;has 
						very little to do with his work in my opinion. The work is the thing. It
						don't matter who wrote it.</p>
<p><div class="speaker">Unidentified participant</div>Well then let's say it's work, <span class="unclear tooltip" title="Text was unclear">[which type of work do you prefer]</span>?</p>
<p><div class="speaker">William Faulkner</div>Well, I think that some people must be intellectual, must be
						interested, immersed in&mdash;in his craft, in literature, to write, to do the
						work. Other people must be immersed in something completely different. They
						must in a sense lead a Jekyll and Hyde existence to do the work. It's the
						work that matters. It's not how he did it. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.41">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:50:27.67:00',
					'endtime','00:51:11.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you spend as much time in reading as you do in
						writing?</p>
<p><div class="speaker">William Faulkner</div>Not anymore. When I was young I read everything. After the&mdash;the first
						war when I came home, I didn't feel too good. I couldn't get around much,
						and I spent&mdash;couldn't sleep at night, and I spent about a year reading
						probably twenty hours a day. I just read everything I could get my hands on.
						Now, like most writers as they get older, they read less and less. Now I
						read the books again which I knew and liked when I was twenty one years old.
						It's very seldom I read a new book.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.42">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:51:12.25:00',
					'endtime','00:51:49.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner.</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Earlier in the evening I believe you said that you&mdash;you differentiate
						between the European artist and the American artist, in that the European
						artist was accepted as a part of society. It's easier for him to express
						himself  over there, whereas here in America because of our
						current trends the artist is not so easy to recognize <span class="unclear tooltip" title="Text was unclear">[as accepted]</span> in
						society. Is that true, is that what you said?</p>
<p><div class="speaker">William Faulkner</div>Well, I&mdash;I didn't&mdash;didn't mean that the European artist has less trouble
						expressing himself. I meant that&mdash;that he had more of a definite place of
						importance in the culture of the old countries.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.43">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:51:49.41:00',
					'endtime','00:54:28.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>But, well &mdash;in one of your recent lectures I asked you
						whether you thought the artist in the United States is part of the society
						in which he lives or whether he was an outsider looking in on
						society&mdash;looking out at society. Now, is the American artist part of his
						society today? Do you still feel that? If he&mdash;if it is hard to be an
						individualist in the United States, then how can the artist, who is
						obviously individualistic, be part of a society that is strictly
							anti-<span class="unclear tooltip" title="Text was unclear">[individualistic]</span>?</p>
<p><div class="speaker">William Faulkner</div>Because with few exceptions the artist in&mdash;in America is&mdash;is something else
						too. Like me he's a farmer. or he's a lawyer like Edgar Masters, or a doctor
						like William Carlos Williams. The exceptions are the people who are
						literary and nothing else and they have no place in the culture until they
						are successful and make money at it at&mdash;at their own trade. In&mdash;in that sense the
						man can be an individualist and be a&mdash;an artist. Also a lawyer can be a
						lawyer, can be member of the&mdash;of the profession of law or medicine and still
						be an individualist in his own philosophy of living. I meant only that&mdash;that
						in the old countries a man that&mdash;that attains a renown as an artist, before he
						knows it he becomes a part of the philosophy of his culture&mdash;of his&mdash;he has a place
						in his government quite often. In this country that don't happen. If he ever
						turns up with a place in the American government, it's because he was also a
						successful famer or a successful doctor or builder of motor cars. Not
						because he was a successful philosopher or successful artist.</p>
<p><div class="speaker">Unidentified participant</div>In other words, it's a joint occupation? He has to have a joint
						occupation, in other words?</p>
<p><div class="speaker">William Faulkner</div>That's right, to be perfectly at home anywhere in the American
						culture, yes he&mdash;</p>
<p><div class="speaker">Unidentified participant</div>And if he doesn't have a joint occupation, then he's no longer a part
						of  <span class="unclear tooltip" title="Text was unclear">[the fabric of that culture, is that correct]</span>?</p>
<p><div class="speaker">William Faulkner</div>That's right, he's recognized only by his fellows, by his fellow
						craftsmen.</p>
<p><div class="speaker">Unidentified participant</div>And not by society ?</p>
<p><div class="speaker">William Faulkner</div>That's right. Yes, I doubt if Mr. Charles E. Wilson, for instance,
						knows who Edmund Wilson is, ever heard of him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio10.44">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio10.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:54:28.08:00',
					'endtime','00:54:37.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Moderator 2</div>At this point, I suggest that we announce the public meeting.  <span class="unclear tooltip" title="Text was unclear">[I'm 
					invited and we're all getting a beer]</span>.</p>
<p><div class="speaker">William Faulkner</div>Good. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" class="search-text span-4" name="q"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio10.1" class="hidden">Introduction 1</a></li>
<li><a href="#wfaudio10.2" class="hidden">Faulkner's Introduction</a></li>
<li><a href="#wfaudio10.3" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio10.4" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio10.5" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio10.6" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio10.7" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio10.8" class="hidden">Story, Excerpt 6</a></li>
<li><a href="#wfaudio10.9" class="hidden">Story, Excerpt 7</a></li>
<li><a href="#wfaudio10.10" class="hidden">Story, Excerpt 8</a></li>
<li><a href="#wfaudio10.11" class="hidden">Story, Excerpt 9</a></li>
<li><a href="#wfaudio10.12" class="hidden">Story, Excerpt 10</a></li>
<li><a href="#wfaudio10.13" class="hidden">Story, Excerpt 11</a></li>
<li><a href="#wfaudio10.14" class="hidden">Story, Excerpt 12</a></li>
<li><a href="#wfaudio10.15" class="hidden">Story, Excerpt 13</a></li>
<li><a href="#wfaudio10.16" class="hidden">Story, Excerpt 14</a></li>
<li><a href="#wfaudio10.17" class="hidden">Story, Excerpt 15</a></li>
<li><a href="#wfaudio10.18" class="hidden">Story, Excerpt 16</a></li>
<li><a href="#wfaudio10.19" class="hidden">Story, Excerpt 17</a></li>
<li><a href="#wfaudio10.20" class="hidden">Story, Excerpt 18</a></li>
<li><a href="#wfaudio10.21" class="hidden">Story, Excerpt 19</a></li>
<li><a href="#wfaudio10.22" class="hidden">Story, Excerpt 20</a></li>
<li><a href="#wfaudio10.23" class="hidden">Story, Excerpt 21</a></li>
<li><a href="#wfaudio10.24" class="hidden">Story, Excerpt 22</a></li>
<li><a href="#wfaudio10.25" class="hidden">Story, Excerpt 23</a></li>
<li><a href="#wfaudio10.26" class="hidden">Story, Excerpt 24</a></li>
<li><a href="#wfaudio10.27" class="hidden">Becoming a Writer</a></li>
<li><a href="#wfaudio10.28" class="hidden">Writing Sanctuary</a></li>
<li><a href="#wfaudio10.29" class="hidden">"The Waifs"</a></li>
<li><a href="#wfaudio10.30" class="hidden">Person-to-Person Program</a></li>
<li><a href="#wfaudio10.31" class="hidden">Foreign Questions about U.S.</a></li>
<li><a href="#wfaudio10.32" class="hidden">Readers in Deep South</a></li>
<li><a href="#wfaudio10.33" class="hidden">Southern Artist's Position</a></li>
<li><a href="#wfaudio10.34" class="hidden">Developing Individualism</a></li>
<li><a href="#wfaudio10.35" class="hidden">Artists in Russia</a></li>
<li><a href="#wfaudio10.36" class="hidden">Individualism Today</a></li>
<li><a href="#wfaudio10.37" class="hidden">Individualism v Government</a></li>
<li><a href="#wfaudio10.38" class="hidden">The Writer's Sources</a></li>
<li><a href="#wfaudio10.39" class="hidden">Writer's Best Age</a></li>
<li><a href="#wfaudio10.40" class="hidden">The Writer v The Work</a></li>
<li><a href="#wfaudio10.41" class="hidden">Reading</a></li>
<li><a href="#wfaudio10.42" class="hidden">European v American Artists</a></li>
<li><a href="#wfaudio10.43" class="hidden">The Artist in America</a></li>
<li><a href="#wfaudio10.44" class="hidden">Close</a></li>
</ul></aside>
		
