
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio06_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 13 April 1957</h4>
<h4>OCCASION: Blotner's Novel and Gwynn's American Fiction Classes</h4>
<h4>TAPE: T-114</h4>
<h4>LENGTH: 33:54</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:17.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span> questions having to do with his own work and on anything that 
                        people want to consider about the problems of writing in general.  It would help everybody in the room, 
                        I think, if each questioner spoke up not only for Mr. Faulkner&rsquo;s hearing but for everyone else&rsquo;s.  Mr. Faulkner. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:44.07:00',
					'endtime','00:02:35.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, I come from India, and I've been trying to read a good many of your
                    books. The problem <span class="unclear tooltip" title="Text was unclear">[I am finding]</span> it extremely difficult to follow
                    the narrative method that you adopt. Is it true to say that you adopt a lyrical
                    method to a narrative, and <span class="unclear tooltip" title="Text was unclear">[a novel is also a]</span> narrative of certain events and what the
                    characters do, what happens to them? We find that in a novel like <em>As I Lay Dying</em> or <em>The Sound and the
                        Fury</em> or the <em>Sanctuary</em> that it's difficult to
                    follow the event. Is it true to say that you follow the lyrical method while
                    trying to tell a story? Am I correct?</p>
<p><span class="speaker">William Faulkner</span>No, I think the writer is concerned first in telling about people,
                    people in conflict with themselves and with others, with their environment, and
                    he uses whatever method seems to him the best to tell what he is trying to tell
                    in the most dramatic and passionate way, that he is not trying to use a lyrical
                    method deliberately. It may seem to him best to use a lyrical method or maybe
                    the result of&mdash;of his own agony and anguish to say what he wants to say
                    becomes lyrical.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:42.64:00',
					'endtime','00:03:32.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Who is the central character of <em>Absalom, Absalom!</em>?
                    It seems so obviously to be Sutpen, yet it's been said that it's also the story
                    of Quentin, and I was wondering just who is the central character?</p>
<p><span class="speaker">William Faulkner</span>The central character is Sutpen, yes. The story of a man who wanted a
                    son and got too many, got so many that they destroyed him. It's incidentally the
                    story of&mdash;of Quentin Compson's hatred of the&mdash;the bad
                    qualities in the country he loves. But the central character is Sutpen, the
                    story of a man who wanted sons.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:37.12:00',
					'endtime','00:04:06.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in the same book, I was wondering what is supposed to be the
                    reader's attitude towards Mr. Coldfield, the father of Ellen?</p>
<p><span class="speaker">William Faulkner</span>Well, my attitude is that he was a&mdash;a pretty poor man. I don't
                    know what the reader's attitude might be, but I still felt compassion and pity
                    for him, but he was a poor man in my opinion.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:09.37:00',
					'endtime','00:04:54.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what sort of a deal was made between Goodhue Coldfield and Sutpen in
                        reference to the bill of lading? It looked like they pulled some sort of
                    deal.</p>
<p><span class="speaker">William Faulkner</span>I don't remember. That book is so long ago to me, but&mdash;but
                    Coldfield was a&mdash;a petty, grasping man and Sutpen was a&mdash;a
                    bold, ruthless man, and Sutpen used Coldfield's pettiness for his, Sutpen's,
                    ends, but I don't remember exactly what it was.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:00.79:00',
					'endtime','00:06:02.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in <em>Light in August</em>, the central character Joe
                    Christmas had most of his troubles and his persecutions and in his search to
                    find himself was based on his belief that he was part Negro, and yet it's never
                    made really clear that he is. Was he supposed to be part Negro, or was this
                    supposed to add to the tragic irony of the story?</p>
<p><span class="speaker">William Faulkner</span>I think that was his tragedy. He didn't know what he was, and so he was
                    nothing. He&mdash;he deliberately evicted himself from the human race
                    because he didn't know which he was. That was his tragedy. That to me was the&mdash;the 
                    tragic, central idea of the story, that he didn't know what he was, and
                    there was no way possible in life for him to find out, which to me is the most
                    tragic condition a man could find himself in, not to know what he is
                    and to know that he will never know.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:08.95:00',
					'endtime','00:06:54.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, if&mdash;if he is not&mdash;does not definitely have Negro blood, well,
                    what is the significance of Gavin Stevens's surmise there at the end when he
                    explains that there's a conflict of blood? That that is only a guess that stands
                    for a guess and not a final knowledge of &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, yes, that is&mdash;is an assumption, a rationalization which Stevens
                    made. That is, the people that destroyed him made rationalizations about what he
                    was. They decided what he was. But Christmas himself didn't know, and he evicted
                    himself from mankind.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:05.68:00',
					'endtime','00:08:08.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Sir, when in <em>Absalom, Absalom!</em>, after the killing
                        of Charles Bon, Clytie tries to keep Rosa Coldfield from&mdash;from coming in, does Clytie
                    realize that Charles Bon is her own half-brother? Is that the reason that she's
                    trying to keep Rosa out, do you think? Does she feel any relationship?</p>
<p><span class="speaker">William Faulkner</span>I don't remember. I don't remember that. Let me think a minute.
                    I&mdash;I don't remember whether Clytie was any relation to Charles Bon's
                    mother. That's so long ago, too.</p>
<p><span class="speaker">Unidentified participant</span>They have the same father.</p>
<p><span class="speaker">William Faulkner</span>Well, then, yes, that would be the reason, of course.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:09.15:00',
					'endtime','00:08:39.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, do you think that a comparison can justly be made between
                    Joe Christmas and Charles Bon's son? Is there much in their behavior you think
                    that's similar?</p>
<p><span class="speaker">William Faulkner</span>There again you have me. I don't remember. They're both so long ago, and
                    that's one good thing about being a writer. You can get rid of one book you
                    don't have to read again. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:39.97:00',
					'endtime','00:09:30.87:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">John Coleman</span>In working out the situation of Joe Christmas, did you deliberately have
                    in mind a correspondence between his situation and Oedipus, for example, as has
                    recently been brought out in an essay published in the <em>Quarterly</em> magazine?</p>
<p><span class="speaker">William Faulkner</span>No, not deliberately and not consciously. That's another matter of the
                    writer reaching back into the lumber room of his memory for whatever he needs
                    to&mdash;to create the character or the situation. The&mdash;and
                    the&mdash;the similarity is there, but it was not by deliberate intent. It
                    was by&mdash;by coincidence, not accident, but by coincidence.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:32.82:00',
					'endtime','00:09:52.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Along those same lines, I noticed a similarity between Sutpen and
                    Heathcliff from Emily Bronte's <em>Wuthering Heights</em>, and I
                    was wondering if there's any intentional similarities here at all?</p>
<p><span class="speaker">William Faulkner</span>I don't know. I don't know <em>Wuthering Heights</em>. I
                    never read it.</p>
<p><span class="speaker">Unidentified participant</span>Thank you.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:52.00:00',
					'endtime','00:10:32.61:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in <em>Wild Palms</em>, there is a passage
                    strongly reminiscent of the Grand Inquisitor in Dostoevsky's <em>Brothers 
                        Karamazov,</em> the import of which seems to condemn not Christ
                    but organized religion. In <em>Light in August,</em> much of the
                    action seems to stem from almost fanatical Calvinism. Would it be true to
                    surmise that you favor strongly individual rather than an organized
                    religion?</p>
<p><span class="speaker">William Faulkner</span>I do, always.</p>
<p><span class="speaker">Unidentified participant</span>Then you think perhaps that man must work out his own salvation from
                    within rather than without?</p>
<p><span class="speaker">William Faulkner</span>I do, yes.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:37.30:00',
					'endtime','00:12:10.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I have often wondered through what process the author actually goes
                    when he writes a book. Could you briefly outline what process you go through?
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Now, I know I can't. I'm&mdash;I'm lazy. I hate to&mdash;the
                    mechanics of putting the words down on paper, and I do as much of it as possible
                    in my head. I will&mdash;that is, putting it down on paper is the last
                    resort. I've got to get it out of my system, and so I don't know what system I
                    might use mentally to get the&mdash;the facts in order, to&mdash;to
                    bring the&mdash;the mass of material into the&mdash;the&mdash;the form according
                    to the rules of&mdash;of unity and emphasis. I&mdash;I just don't know.
                    Some people work from notes. They&mdash;they make notes and then correlate
                    the notes and then edit and then write and then do a&mdash;a draft. I don't
                    do that. I try my best not to have to change anything because I'm lazy, I think,
                    that I don't like to work.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:10.76:00',
					'endtime','00:12:30.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How many times do you rewrite the 
                    <span class="unclear tooltip" title="Text was unclear">[hundreds of]</span> drafts?</p>
<p><span class="speaker">William Faulkner</span>Sometimes the first one is all right. Sometimes I will do three or four
                    or five until it comes right, but I will try my best not to do it but once
                    because I hate to work. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:30.36:00',
					'endtime','00:13:14.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>In another class, you stated that you seldom have the plot of your novels
                    worked about before you begin to write, but that they simply develop from
                    a&mdash;from a character or an incident. I was wondering if you remember
                    what character or what incident caused you to write <em>Absalom,
                        Absalom!</em>?</p>
<p><span class="speaker">William Faulkner</span>Sutpen.</p>
<p><span class="speaker">Unidentified participant</span>You thought about the character &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, the&mdash;the idea of a man who&mdash;who wanted sons and
                    got sons who destroyed him. The&mdash;the other characters I had to get out
                    of the attic to tell the story of Sutpen.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:16.47:00',
					'endtime','00:14:15.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you ever consciously base your&mdash;any of your
                    characters, either major characters or minor characters, on people you find in
                    every-day life. For example, during your time spent in Charlottesville, could
                    you possibly incorporate someone who lived here into one of your major books, as
                    a conscious exercise?</p>
<p><span class="speaker">William Faulkner</span>I will very likely do it, but not as a conscious exercise. The writer is
                    completely amoral. He&mdash;he will use experience. He will rob from other
                    writers. He will take from life, but he is&mdash;is trying to create a
                    character of his own, and so very likely in time, I will&mdash;will need
                    someone I have seen in Charlottesville, Virginia, and will without any
                    compunction use him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:15.05:00',
					'endtime','00:15:03.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I've been looking for Sutpen's&mdash;the reason for Sutpen's
                    downfall, Mr. Faulkner, and it seems to me that the Civil War plays a part in
                        it. Is that&mdash;is that true?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>But that's not&mdash;that's not the main reason?</p>
<p><span class="speaker">William Faulkner</span>No, this&mdash;I used the Civil War to&mdash;for my own ends
                    there. Sutpen&mdash;Sutpen's country was wrecked by the Civil
                    War, but that didn't stop Sutpen. He was still trying to get the son, still
                    trying to establish a dynasty. He was still trying to get even with that man who
                    in his youth had said, "Go to the back door."</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:07.28:00',
					'endtime','00:16:12.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in <em>Light in August,</em> much of the action comes
                    back to the scene or the picture of a column of yellow smoke coming up from
                    Joanna Burden's cabin. I was wondering&mdash;you had said that in <em>Sound and the Fury</em> you got the idea for the story
                    from seeing a little girl like Caddy in a tree. I was wondering if that happened
                    with <em>Light in August</em>. Perhaps that was the scene that you
                    had seen and that you started from in that story.</p>
<p><span class="speaker">William Faulkner</span>No, that story began with Lena Grove, the idea of&mdash;of&mdash;of the young
                    girl with nothing, pregnant, determined to find her sweetheart. It
                    was&mdash;that was out of my&mdash;my admiration for women, for the
                    courage and endurance of women. As I told that story, I had to get more and more
                    into it, but that was mainly the story of Lena Grove.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:16.67:00',
					'endtime','00:17:22.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In <em>Absalom, Absalom!</em>, what was the significance of
                    Sutpen pitting himself against his Negro servants, the wild Negro servants, and
                        especially in that scene where Ellen happened in when he had 
                    brought the children there to watch it? Was that another example of the
                    decadence of the South?</p>
<p><span class="speaker">William Faulkner</span>No, not&mdash;not by intent. That was&mdash;was another instance
                    of Sutpen's ruthlessness, of his will, his implacable will to create a dynasty
                    and fill it with sons, and I&mdash;I thought of&mdash;of rather these,
                    which seemed to me dramatic or&mdash;or amusing or tragic incidents, invented
                    themselves as props for Sutpen's will, implacable will, to get the son.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:24.29:00',
					'endtime','00:18:01.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In <em>Sanctuary</em>, Mr. Faulkner, is the character of
                    Popeye emblematic of evil in a materialistic society, or what would he stand
                    for?</p>
<p><span class="speaker">William Faulkner</span>No, he was to me another lost human being. He became a&mdash;a
                    symbol of evil in modern&mdash;modern society only by coincidence, but I was
                    still writing about people, not about ideas, not about symbols.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:04.01:00',
					'endtime','00:18:35.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, I've been told that the title of <em>Light in August</em>
                    came from a colloquialism for the completion of a pregnancy. Is that true?</p>
<p><span class="speaker">William Faulkner</span>No, I used it because in my country in August there's a&mdash;a&mdash;a
                    peculiar quality to light, and that's what that title means. It has in
                    a&mdash;a sense nothing to with the book at all, the story at all.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:39.31:00',
					'endtime','00:19:09.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>How do you pronounce the name of your mythical county?</p>
<p><span class="speaker">William Faulkner</span>If you break it down into syllables, it's simple. Y-o-k, n-a, p-a,
                    t-a-w, p-h-a, YOK-na-pa-TAW-pha. It's a Chickasaw Indian word, meaning water
                    runs slow through flat land. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:16.04:00',
					'endtime','00:20:08.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, what was the particular significance of having&mdash;of
                    having Wash Jones, a very humble man, be the instrument through which Sutpen met
                    his death? Is that to relate back to the social stratum from which Sutpen
                    himself came and have there a sort of ironic effect? Just what was the idea of
                    that?</p>
<p><span class="speaker">William Faulkner</span>In a sense. In another sense, Wash Jones represented the man
                    who survived the Civil War. The&mdash;the aristocrat in the columned house
                    was ruined, but Wash Jones survived it unchanged. He had been Wash Jones before
                    1861, and after 1865 he was still Wash Jones, and Sutpen finally collided with
                    him.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:15.63:00',
					'endtime','00:21:27.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in some of your stories, you've used scenes wherein two or more
                    people are sitting around or across from each other at a table or a desk, in a
                    very dark room where perhaps only the hands can be seen in the lighting. I was
                    wondering if that sort of scene meant anything to you, or that you felt that you
                    could use that particular scene for a certain type of information in your story,
                    or just what?</p>
<p><span class="speaker">William Faulkner</span>I think maybe instinctively I like understatement. Maybe I&mdash;I
                    have a feeling for&mdash;for somberness. Probably I do, but I&mdash;I do
                    like to&mdash;to tell things as simply by&mdash;by understatement, to&mdash;to
                    tell&mdash;to show just the&mdash;the surface with&mdash;with the dark
                    implications behind it of an instance <span class="unclear tooltip" title="Text was unclear">[or]</span> scene.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:32.36:00',
					'endtime','00:22:38.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Do you believe that the South of today is the South of people like Wash
                    Jones and the Snopes clan or do you think&mdash;<span class="unclear tooltip" title="Text was unclear">[do you still think
                        there's noble blood there]</span>?</p>
<p><span class="speaker">William Faulkner</span>I think that it's mostly the&mdash;the South of Wash Jones and
                    Snopeses, but there's&mdash;there's a&mdash;the&mdash;the something left by
                    the&mdash;the&mdash;the older, braver people that appears now and then, but it's a
                    country mainly of Snopeses and Wash Joneses. They survived. The&mdash;the
                    quality that was left by the&mdash;the old, brave aristocratic people shows
                    occasionally. Nobody knows where it might&mdash;when it might appear or
                    where from.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.26">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:49.70:00',
					'endtime','00:23:57.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>In <em>Light in August</em>, do you feel that Reverend
                    Hightower dies feeling that he has achieved a certain kind of salvation,
                        <span class="unclear tooltip" title="Text was unclear">[received]</span> some sort of salvation, <span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner]</span>?</p>
<p><span class="speaker">William Faulkner</span>He didn't die. He had&mdash;had wrecked his life. He had failed his
                    wife. He had failed himself, but there was one thing that he still had, which
                    was&mdash;was the&mdash;the&mdash;the brave grandfather that&mdash;that
                    galloped into the town to burn the Yankee stores, and at least he had that.
                    Everything else was gone, but since he had been a&mdash;a&mdash;a man of God, he
                    still tried to be a man of God, and he could not destroy himself. But he
                    had&mdash;had destroyed himself, but he still couldn't take his own life. He
                    had to&mdash;to endure it, to live, but that was one thing that
                    was&mdash;was pure and fine that he had, was the&mdash;the memory of his
                    grandfather, who had been brave.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.27">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:59.29:00',
					'endtime','00:25:03.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>So much of the story in <em>Absalom, Absalom!</em> is
                    reconstructed by Shreve and Quentin. How does the reader know which to accept as
                    objective truth and which to consider just a <span class="unclear tooltip" title="Text was unclear">[reflection]</span> of
                    their personalities?</p>
<p><span class="speaker">William Faulkner</span>Well, the&mdash;the story was told by Quentin to Shreve. Shreve
                    was&mdash;was the&mdash;the comment&mdash;the commentator that held
                    the thing to&mdash;to something of reality. If Quentin had been let alone to
                    tell it, it would have&mdash;have become completely unreal. It had to have
                    a&mdash;a&mdash;a solvent to keep it real, keep it believable, creditable.
                    Otherwise, it would have vanished into&mdash;to smoke and fury.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.28">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:03.40:00',
					'endtime','00:26:40.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Sir, along that same line, you mentioned at the English Club that you had
                    had to lay aside <em>Absalom</em> at one point and then resume it
                        later on. I wonder if it might not have been the point where&mdash;toward the end of
                    Miss Rosa's section where you might have felt that she was running away with
                    you, because right after that Shreve comes in. Is that in your memory at all,
                    sir?</p>
<p><span class="speaker">William Faulkner</span>I can't say just where it was that I had to put it down, that I decided
                    I didn't know enough at that time maybe or&mdash;or my feeling toward it
                    wasn't passionate enough or pure enough, but I don't remember at what point I
                    put it down. Though when I took it up again I almost rewrote the whole thing. I
                    think that what I put down were inchoate fragments that wouldn't coalesce, and
                    then when I took it up again, I&mdash;as I remember, I rewrote it.</p>
<p><span class="speaker">Frederick Gwynn</span>There's no break in style at that&mdash;no break in style at that
                    point, but the change in characters and point of view .</p>
<p><span class="speaker">William Faulkner</span>That's possible, but I&mdash;I don't remember just how much of the
                    first I rewrote when I began the second time.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.29">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:42.75:00',
					'endtime','00:27:57.64:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">John Coleman</span>I would like to ask you to identify a quality for me. I am thinking of a
                    sentence toward the end of "The Bear." I am going to read part of the sentence
                    so that you will understand what I am asking about. "There was a boy who wished
                    to learn humility and pride in order to become skillful and worthy in the woods.
                    He suddenly found himself becoming so skillful so rapidly that he feared that he
                    would never become worthy because he had not learned humility." Then finally, it
                    goes on, "until an old man who could not have defined either had led
                    him as though by the hand to that point where an old bear and a little mongrel
                    of a dog showed him that by possessing one thing other he would possess them
                    both." What is that "one thing other"?</p>
<p><span class="speaker">William Faulkner</span>Courage.</p>
<p><span class="speaker">John Coleman</span>Thank you very much.</p>
<p><span class="speaker">William Faulkner</span>That was the little dog that &mdash;</p>
<p><span class="speaker">John Coleman</span>Yes. I wondered if it was pity or truth, Mr. Faulkner.</p>
<p><span class="speaker">William Faulkner</span>Courage, it was. The little dog that&mdash;that never saw a bear
                    bigger than he was.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.30">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:00.09:00',
					'endtime','00:28:30.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Is the title of <em>Absalom, Absalom!</em> taken from the
                    passage in the Bible found in Second Samuel?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>Did you write the novel with this episode in your mind or did you first
                    write the novel and then realizing the similarity of the name &mdash;</p>
<p><span class="speaker">William Faulkner</span>They were simultaneous. As soon as I thought of the idea of
                    the&mdash;of the man who wanted sons and the sons destroyed him, then I
                    thought of the title.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.31">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:34.17:00',
					'endtime','00:28:59.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Did you expect to write a <span class="unclear tooltip" title="Text was unclear">[any more]</span> poetry? And if so, are
                    there any particular subjects you'd <span class="unclear tooltip" title="Text was unclear">[like to see in your poetry]</span>?</p>
<p><span class="speaker">William Faulkner</span>I'm a failed poet. I consider myself a failed poet. I've tried to be a
                    poet, and I couldn't be a good one, and so I did the next best thing which I
                    could do, but I'm still a&mdash;a failed poet, but what I write
                    is&mdash;is, in my opinion, poetry.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.32">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:05.80:00',
					'endtime','00:30:43.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, what do you consider your best book?</p>
<p><span class="speaker">William Faulkner</span>The one that&mdash;that failed the most tragically and the most
                    splendidly. That was <em>The Sound and the Fury</em>&mdash;the
                    one I worked at the longest, the hardest, that was to me the&mdash;the
                    most passionate and moving idea, and made the most splendid failure. That's the
                    one that's my&mdash;I consider the best, not&mdash;well, best is the
                    wrong word&mdash;that's the one that I love the most.</p>
<p><span class="speaker">Unidentified participant</span>I wanted to ask something about <span class="unclear tooltip" title="Text was unclear">[that]</span>. Was it very difficult to write the
                    stream-of-consciousness <span class="unclear tooltip" title="Text was unclear">[part of]</span> Benjamin?</p>
<p><span class="speaker">William Faulkner</span>No, no. Not&mdash;not once I understood Benjy and understood the
                    story.  It was very simple, very easy.</p>
<p><span class="speaker">Unidentified participant</span>That's such a difficult part to understand unless someone shows you
                    &mdash;</p>
<p><span class="speaker">William Faulkner</span>No, it was very easy to do. That's probably why it's so hard to read. I
                    think anything that is easy to do is&mdash;is per se probably
                    bad <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>, but I couldn't think of any better way to
                    tell about Benjy. I was trying to tell a story. I tried that way. That wasn't
                    enough. I tried with Quentin. That wasn't enough. I tried with Jason. That still
                    wasn't enough.  And then I tried Faulkner and that still wasn't enough. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It 
                    still failed, and that's why I love it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.33">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:46.61:00',
					'endtime','00:31:48.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Sir.</p>
<p><span class="speaker">Unidentified participant</span>Most people are very struck by your change of style in <em>Light in August</em>. For 
                    example, you use the present tense to tell the
                    story <span class="unclear tooltip" title="Text was unclear">[in]</span>, rather than the past. Was that&mdash;did you mean something by that or
                    were you just using a new form for dramatic import or &mdash; ?</p>
<p><span class="speaker">William Faulkner</span>No, that just seemed to me the best way to tell the story. It wasn't a
                    deliberate change of style. I don't know anything about style. I
                    don't&mdash;I think a writer with&mdash;with a lot to&mdash;pushing
                    inside him to get out hasn't got time to bother with style. If he just likes to
                    write and hasn't got anything urging him, then he can become a stylist, but the
                    ones with a&mdash;a great deal pushing to get out don't have time to be
                    anything but clumsy, like Balzac, for instance.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.34">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:53.14:00',
					'endtime','00:32:46.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>In <em>Absalom, Absalom!</em>, when Shreve and Quentin are
                    reconstructing the story for each other, they set up a lawyer who was directing
                    the campaign of Charles's mother to gain revenge against Sutpen. Was there
                    really a lawyer, do you think, or is it just a product of their imagination as
                    they reconstructed the story?</p>
<p><span class="speaker">William Faulkner</span>I'm sorry, I don't remember that.</p>
<p><span class="speaker">Joseph Blotner</span>They speak about the man who was counseling Charles's mother in trying to
                    get back at Sutpen.</p>
<p><span class="speaker">William Faulkner</span>There probably was a lawyer. I don't remember that book, but yes, yes,
                    there was a lawyer. That sounds too logical in Mississippi terms. Yes, he
                    was&mdash;there would have been lawyer there.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio06_1.35">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:52.52:00',
					'endtime','00:33:52.52:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what is your personal reaction to situations such as being in a
                    classroom when you discover that a lot of people who've read into your novels things
                    that you didn't intend them to read?</p>
<p><span class="speaker">William Faulkner</span>Interest. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I didn't know about all
                    these things and so I'm quite interested to hear that they were in there. They
                    must've been in there for people to find them.</p>
<p><span class="speaker">Unidentified participant</span>Do you feel that perhaps you've failed in&mdash;in just plain telling your story
                        or that perhaps you've done more than you realized ?</p>
<p><span class="speaker">William Faulkner</span>No, to me, it wasn't told as well as it should've been told, and that's
                    why I write another one. The one that&mdash;that I have finished,
                    that's&mdash;that's water under the bridge and I'm not interested any longer
                    because that wasn't good enough. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio06_1.1" class="hidden">Opening</a></li>
<li><a href="#wfaudio06_1.2" class="hidden">Lyrical Narrative</a></li>
<li><a href="#wfaudio06_1.3" class="hidden">Absalom's Central Character</a></li>
<li><a href="#wfaudio06_1.4" class="hidden">Mr. Coldfield</a></li>
<li><a href="#wfaudio06_1.5" class="hidden">Sutpen's Dealings</a></li>
<li><a href="#wfaudio06_1.6" class="hidden">Christmas' Race</a></li>
<li><a href="#wfaudio06_1.7" class="hidden">Gavin's Racial Theory</a></li>
<li><a href="#wfaudio06_1.8" class="hidden">Clytie and Bon</a></li>
<li><a href="#wfaudio06_1.9" class="hidden">Bon and Christmas</a></li>
<li><a href="#wfaudio06_1.10" class="hidden">Christmas and Oedipus</a></li>
<li><a href="#wfaudio06_1.11" class="hidden">Sutpen and Heathcliff</a></li>
<li><a href="#wfaudio06_1.12" class="hidden">Individual Religion</a></li>
<li><a href="#wfaudio06_1.13" class="hidden">The Writing Process</a></li>
<li><a href="#wfaudio06_1.14" class="hidden">Revising</a></li>
<li><a href="#wfaudio06_1.15" class="hidden">Absalom's Origin</a></li>
<li><a href="#wfaudio06_1.16" class="hidden">Using Real People</a></li>
<li><a href="#wfaudio06_1.17" class="hidden">Sutpen and Civil War</a></li>
<li><a href="#wfaudio06_1.18" class="hidden">Origin of Light in August</a></li>
<li><a href="#wfaudio06_1.19" class="hidden">Sutpen's Wrestling Negroes</a></li>
<li><a href="#wfaudio06_1.20" class="hidden">Popeye's Character</a></li>
<li><a href="#wfaudio06_1.21" class="hidden">Title of Light in August</a></li>
<li><a href="#wfaudio06_1.22" class="hidden">Pronouncing Yoknapatawpha</a></li>
<li><a href="#wfaudio06_1.23" class="hidden">Wash and Sutpen</a></li>
<li><a href="#wfaudio06_1.24" class="hidden">Dark Rooms</a></li>
<li><a href="#wfaudio06_1.25" class="hidden">The South of Today</a></li>
<li><a href="#wfaudio06_1.26" class="hidden">Hightower's Fate</a></li>
<li><a href="#wfaudio06_1.27" class="hidden">Quentin and Shreve</a></li>
<li><a href="#wfaudio06_1.28" class="hidden">Writing Absalom</a></li>
<li><a href="#wfaudio06_1.29" class="hidden">Ike Learning Courage</a></li>
<li><a href="#wfaudio06_1.30" class="hidden">Absalom's Title</a></li>
<li><a href="#wfaudio06_1.31" class="hidden">Failure as a Poet</a></li>
<li><a href="#wfaudio06_1.32" class="hidden">His Best Book</a></li>
<li><a href="#wfaudio06_1.33" class="hidden">Style in Light in August</a></li>
<li><a href="#wfaudio06_1.34" class="hidden">Absalom's Lawyer</a></li>
<li><a href="#wfaudio06_1.35" class="hidden">Readers' Meanings</a></li>
</ul></aside>
        
