<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio29_2.1">Ike's Wife [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio29_2.2">Ike's Marriage</a>
    </li>
    <li>
      <a href="#wfaudio29_2.3">Man v Nature</a>
    </li>
    <li>
      <a href="#wfaudio29_2.4">Change as Destructive</a>
    </li>
    <li>
      <a href="#wfaudio29_2.5">Boon Killing Old Ben</a>
    </li>
    <li>
      <a href="#wfaudio29_2.6">Ike as Christ-Figure</a>
    </li>
    <li>
      <a href="#wfaudio29_2.7">Boon's Breakdown</a>
    </li>
    <li>
      <a href="#wfaudio29_2.8">Lion's Role</a>
    </li>
    <li>
      <a href="#wfaudio29_2.9">Boon's Last Scene</a>
    </li>
    <li>
      <a href="#wfaudio29_2.10">Human Dilemma</a>
    </li>
    <li>
      <a href="#wfaudio29_2.11">Ending of "The Bear"</a>
    </li>
    <li>
      <a href="#wfaudio29_2.12">Miscegenation in Novel</a>
    </li>
    <li>
      <a href="#wfaudio29_2.13">Annual Hunt</a>
    </li>
    <li>
      <a href="#wfaudio29_2.14">Sam v Boon</a>
    </li>
    <li>
      <a href="#wfaudio29_2.15">Origin of Lion</a>
    </li>
    <li>
      <a href="#wfaudio29_2.16">[Inaudible]</a>
    </li>
    <li>
      <a href="#wfaudio29_2.17">Bravery</a>
    </li>
    <li>
      <a href="#wfaudio29_2.18">"Old Man"</a>
    </li>
    <li>
      <a href="#wfaudio29_2.20">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio29_2.1"/>
  <p> he would ever find from her, no understanding, no&#x2014;no
                    chance ever to&#x2014;to accept love or return love because she was incapable
                    of it. That's probably what he meant.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.4"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.10"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.12"/>
  <p>Mr. Faulkner, does the miscegenation and incest of Roth Edmunds in "Delta
                    Autumn" complete a cycle of incest and miscegenation begun by old McCaslin and
                    only interrupted by the goodness of Buck and Buddy and Ike in the middle?</p>
</div>
<div class="section">
  <a name="wfaudio29_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.14"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_2.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio29_2.17"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio29_2.18"/>
  <p>One last question?</p>
</div>
<div class="section">
  <a name="wfaudio29_2.20"/>
  <p>Thank you very much, Mr. Faulkner.</p>
</div>
