
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio09_1.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 27 April 1957</h4>
<h4>OCCASION: Blotner's Novel and Gwynn's American Fiction Classes</h4>
<h4>TAPE: T-116</h4>
<h4>LENGTH: 31:58</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:32.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Mr. Faulkner's once again ready for anything. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>And I hope you will take Mr. Gwynn at his word of anything. No matter
                    how silly it might sound to you, ask it. I've talked to several young gentlemen,
                    and they tell me that there's a feeling that the question has got to be one that
                    the answerer will approve of. I think that's not&mdash;not a very good idea,
                    so ask anything that&mdash;that you like.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.2">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:31.93:00',
					'endtime','00:01:30.42:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, sometimes I've heard it said that Joe Christmas in <em>Light in August</em> is 
                    supposed to be a Christ figure.
                    Now, there's some allusion to that or perhaps some evidence for it. He died at 33
                        <span class="unclear tooltip" title="Text was unclear">[at]</span> his lynching. There's a few things like that. Did you
                    intend for him to be a Christ figure?</p>
<p><span class="speaker">William Faulkner</span>No, not deliberately. That was coincidental. The writer has
                    a&mdash;a storeroom of&mdash;of recollections, of traditions, of
                    experience, of observation, that he uses in his trade, just as the carpenter has
                    a storeroom of planks that he uses when he wants to build a fence or a house,
                    and that's coincidental. I am writing about people, not about symbols, but when
                    it seems to me the symbol is a&mdash;a good trick to use, then I will use
                    the symbol.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.3">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:35.23:00',
					'endtime','00:01:48.51:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Can you put that microphone a little closer to you or something?</p>
<p><span class="speaker">Frederick Gwynn</span>That is not a public address system.</p>
<p><span class="speaker">Unidentified participant</span>Oh, it isn't?</p>
<p><span class="speaker">Frederick Gwynn</span><span class="unclear tooltip" title="Text was unclear">[It's a]</span> tape recorder.</p>
<p><span class="speaker">William Faulkner</span>Well, I'll&mdash;I'll try to speak louder then.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.4">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:54.47:00',
					'endtime','00:02:56.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>This is a silly question, but I&mdash;I'm curious about your daily habits of
                    writing. Do you make yourself write so often every day or do you 
                        <span class="unclear tooltip" title="Text was unclear">[wait for the mood?]</span> or&mdash;?</p>
<p><span class="speaker">William Faulkner</span>No, I am a very disorderly person. I don't know anything about discipline,
                    and that system works with some writers, but it never has worked with me. I put
                    off writing as long as I can because I don't like the&mdash;the mechanics
                    of&mdash;of getting the words down on paper. I put it off as long as
                    possible, and then when I can't put it off any longer, I seem to have generated
                    enough back pressure to where it goes for 10 or 12 hours some
                    day&mdash;sometimes. Then I will go to bed and sleep, and I will eat. Then I
                    will write again for ten or twelve hours the next day, until the steam runs out,
                    and then I will do nothing as long as I can put it off. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.5">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:04.51:00',
					'endtime','00:04:46.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>In your book, <em>Light in August</em> would you say that
                    the incidents that occurred there  were taken from life
                    that you actually happen to know about or were they more or less your
                    imagination? Could you&mdash;could you give me some idea if it's
                    half-imagination and half-truth or&mdash;</p>
<p><span class="speaker">William Faulkner</span>The writer has three sources: imagination, observation, and experience,
                    and he probably can't say himself just how much of which he has used when. I do
                    think that he feels that he can improve just a little on&mdash;on the world
                    as God made it and on people as God made them because he has got to do his job
                    in, well, five hours where God can take sixty years to complete a&mdash;a&mdash;a
                    human being. I think that the writer himself don't know how much he saw, how
                    much he imagined, how much he remembered, how much he read, but he certainly has
                    no compunctions about taking what he needs from any source. He will steal from
                    another writer without hesitation. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> He will use
                    his own observation, his own experience without hesitation, no matter how 
                    unhappy or how shameful it might have been. Because he is trying to&mdash;to
                    create flesh and blood people that will have three dimensions, that
                    will&mdash;can stand up and cast a shadow behind them.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.6">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:54.95:00',
					'endtime','00:05:42.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you believe that all fiction has to be plotted at the
                    beginning, a body and an ending <span class="unclear tooltip" title="Text was unclear">[in]</span> your mind, or go
                    ahead and work it out?</p>
<p><span class="speaker">William Faulkner</span>Some people have to have a plot, a framework, to begin on. I never did
                    because I think of&mdash;of mine as&mdash;as people, the characters, and
                    once they have come alive and have three dimensions, then they take charge of
                    the story. All I do is to run along at top speed behind them and try to put it
                    all down that they do and say. I've never&mdash;never used a plot,
                    and&mdash;and in my own case, I would waste my time if I tried to think of a
                    plot. I probably couldn't think of a plot.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.7">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:47.09:00',
					'endtime','00:06:24.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, is your opinion of Tennyson in <em>Light in
                        August</em>, as expressed by Hightower's remark that reading Tennyson is
                    "like listening in a cathedral to a eunuch chanting in a language which he does
                    not even need to not understand," is that your opinion of Tennyson?</p>
<p><span class="speaker">William Faulkner</span>No, sir, that was Hightower's opinion, and I'm not responsible for his
                    opinion. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I have a&mdash;a different
                    opinion of Tennyson myself, that when I was&mdash;was younger, I read
                    Tennyson with a great deal of pleasure. I can't read him at all now.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.8">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:32.11:00',
					'endtime','00:07:24.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>In <em>Absalom, Absalom!</em>, which you said you didn't
                    remember very well last time, do you happen to remember when Charles Bon
                    realizes that Sutpen is his father? Is it before or after he leaves New Orleans
                    to go to the university?</p>
<p><span class="speaker">William Faulkner</span>I should think that&mdash;that his mother dinned that into him as
                    soon as he was big enough to remember, and that he came deliberately to hunt out
                    his father, not for&mdash;for justice for himself, but for revenge for his
                    abandoned mother. He must have known that.  That must have been in
                    his&mdash;the background of his childhood, that this&mdash;this
                    abandoned woman never let him forget that.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.9">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:24.45:00',
					'endtime','00:08:56.60:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Does the New Orleans lawyer have personal gain in mind in helping Bon and
                    his mother?</p>
<p><span class="speaker">William Faulkner</span>Possibly, yes. Yes, when he located Sutpen, knew that Sutpen was a
                    wealthy man in his time, yes, he thought there would be gain, but Bon didn't
                    want gain, he wanted revenge, for his mother.
                    Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Then isn't that <span class="unclear tooltip" title="Text was unclear">[a fairly close]</span> parallel to the whole
                    Oedipus situation?</p>
<p><span class="speaker">William Faulkner</span>No, I can't say. It may be the&mdash;the writer is so busy writing
                    his own characters that he hasn't got time to find where they follow classical
                    patterns. It may be that since problems of the human heart are constant, they
                    don't change, that the&mdash;the dramatic shape of&mdash;of man's
                    conflict with himself and his fellows or&mdash;and his environment do follow
                    a pattern. Maybe they're&mdash;that&mdash;that the story of Oedipus was not the story
                    of Oedipus at all. It was the story of any man in that situation, that the
                    patterns&mdash;there're too few stories that one can tell. There're only two
                    or three stories actually, and any writer has got to repeat what was written
                    before him.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.10">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:07.38:00',
					'endtime','00:09:48.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you say that your characters create the situation. Do you
                    know your characters very, very well before you start your stories or do you
                    depend upon them, knowing them more thoroughly as you go along writing?</p>
<p><span class="speaker">William Faulkner</span>I think I know them very well because of the laziness I mentioned. I put
                    off writing it as long as possible, but it's still going on, churning around up
                    here, and when they become&mdash;when I&mdash;I know them completely,
                    that's when the urge is irresistible. I've got to get to work then. So I imagine
                    that I know the character pretty well, though they do surprise me, too, in what
                    they do.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.11">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:50.48:00',
					'endtime','00:10:58.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>When you write a&mdash;a series of books or two or three concerning the same
                    characters, like <em>The Hamlet</em> and then a number of years
                    later write <em>The Town</em>, when you finish <em>The 
                        Hamlet</em>, do you say yourself, "Well, I'm through with these people,
                    there they are"?  And you leave them with no intention of going on later and
                    picking them up again, and then they become active in your mind again, and
                    you've got to do something else with them, or did you have an idea of writing a
                    trilogy when you started <em>The Hamlet</em>?</p>
<p><span class="speaker">William Faulkner</span>That was a complete, intact idea. When I thought of Flem Snopes, I saw
                    like a flash of lightening the whole story, from Frenchmen's Bend on through
                    Jefferson to his death. When I began to write it, I saw that it couldn't
                    be&mdash;I thought at first it could be done in one volume. I found out it
                    couldn't, and when I'd written about a hundred thousand words, I knew I had to
                    quit. Nobody would read more than that, so it would <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> have to be another volume.  But the story
                    was&mdash;was intact as soon as I thought of Flem Snopes.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.12">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:07.82:00',
					'endtime','00:11:58.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>How far do you think the relationship between Charles Bon and Sutpen
                    parallels what you consider the generally racial situation in the South?</p>
<p><span class="speaker">William Faulkner</span>It was a&mdash;a manifestation of a general racial system in the
                    South, which was condensed and concentrated as the writer has got to do with any
                    incident or any character he takes, for the reason that he hasn't got sixty
                    years. He has got to do his job in&mdash;between the covers of a book, but
                    that is&mdash;epitomized a&mdash;a constant, general condition in the
                    South, yes.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.13">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:02.27:00',
					'endtime','00:13:51.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes,  sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, do you think the South can handle the problem of
                        <span class="unclear tooltip" title="Text was unclear">[de]</span>segregation and integration <span class="unclear tooltip" title="Text was unclear">[better]</span>
                    if they are left alone or do you think that Calvinism or
                        <span class="unclear tooltip" title="Text was unclear">[narrow-mindedness]</span> that you expressed in a lot of your
                    books is present <span class="unclear tooltip" title="Text was unclear">[and if so&mdash;do you think that they 
                        will&mdash;won't get rid of it]</span>?</p>
<p><span class="speaker">William Faulkner</span>I think that the Southerner, the&mdash;the provincial backwoods
                    Southerner, will have to be let alone because he is&mdash;he is ignorant, he
                    is proud, and he is&mdash;is limited to where he will let nobody tell him
                    what he must do. It's a&mdash;a childish sort of recalcitrance, that
                    anyone&mdash;when he is told that he must do something, he will do the
                    opposite just to show them. It becomes a principle with him. He knows that he
                    is&mdash;is wrong, that he has a condition which must be changed, and he has
                    been trying to change it by his own methods. He's too slow about it. He
                    should've known that this Supreme Court decision would be made. There was
                    a&mdash;a lawyer in my town that told people fifteen years ago that sooner
                    or later the Supreme Court would have to say that, but nobody believed him. They
                    were&mdash;in their&mdash;their slow way, they were doing things to improve the
                    Negro's condition. When the Supreme Court decision came out saying they must do
                    it now, people that&mdash;that were working in their slow way toward it,
                    took the other side. They say that the government shall not tell us what we will
                    do, can do, must do, in our own country, with our own people, with our own
                    culture and system.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.14">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:59.25:00',
					'endtime','00:15:12.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>There are so many parallels of violence in your writings which suggest
                    the actions of the Ku Klux Klan.  I am curious to know why you have never
                    mentioned it directly that I know of.</p>
<p><span class="speaker">William Faulkner</span>The&mdash;the spirit that moves a man to put on a sheet
                    and&mdash;and burn sticks in your yard is&mdash;is&mdash;is pretty prevalent in
                    Mississippi, but not all Mississippians wear the sheet and burn the sticks. That
                    they scorn and&mdash;and hate the&mdash;and look with contempt on the
                    people that do, but the same spirit, the same impulse, is&mdash;is in them
                    too, but they are going to&mdash;to use a different method from wearing a
                    nightshirt and burning sticks. The&mdash;the Ku Klux Klan is&mdash;is
                    the&mdash;the dull dreary minority. There's nothing dramatic enough in the
                    Ku Klux Klan for me to have needed to use that in a story, though I can't say
                    that some day I won't need to use it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.15">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:15.63:00',
					'endtime','00:15:49.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I was disturbed by a remark you made in <em>Absalom,
                        Absalom!</em> You said that Charles Bon made his half-sister the vessel of
                    love for his half-brother. I didn't quite understand that.</p>
<p><span class="speaker">William Faulkner</span>I will have to read that book again. I don't remember that myself.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&mdash; I will have to&mdash;if
                    Mr. Gwynn would look up that passage for me, if&mdash;if you remember it, then I'll read
                    it, and the next time we have a meeting, ask that again, and I'll&mdash;maybe I can have an
                    answer for you.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.16">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:02.19:00',
					'endtime','00:17:24.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I wonder if when you write you have a particular, definite effect in mind
                    that you want to achieve, or do you want the reader to bring their own
                    experience into <span class="unclear tooltip" title="Text was unclear">[focus]</span>  interaction which will produce immediate
                    reactions ?</p>
<p><span class="speaker">William Faulkner</span>Yes, but that is&mdash;is also coincidental. I think the writer
                    is&mdash;has thought of something from observation, imagination or
                    experience, of man in conflict with himself, with his problems, which is so
                    moving that to him it is worth showing to other people, and he tries to show it
                    to other people in the most effective way. If it seems to him it's best
                    to&mdash;to ask the reader to do a little work, too, then he does it that
                    way. If it's best to be explicit, he does it that way. But it's no deliberate
                    desire to&mdash;to make reading&mdash; the reading difficult to anyone
                    at all. He is simply trying to show something which moved him so much, he
                    thought it was important enough to put down on paper, so that other people could
                    see that this was true, this was moving, this was funny or it was tragic, or this
                    is man in conflict with his eternal problems.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.17">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:28.97:00',
					'endtime','00:18:30.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Was the fact that <em>The Sound and the Fury</em> was
                    written so confusingly the fact that it's a story told by an idiot ? Why&mdash;why
                    is it introduced backwards and forwards at different times?</p>
<p><span class="speaker">William Faulkner</span>It seemed to be the most moving way to tell that story was to show what
                    that&mdash;that idiot child saw. I wrote that. I thought that would be all
                    of it, and then I realized that wasn't enough, so I had to write more. Then
                    I&mdash;I let another brother tell it, and that wasn't enough, so I let the
                    third brother, the second brother tell it, and that still wasn't enough, and
                    then I let Faulkner try it for a while, and that still wasn't enough. That book
                    is still not finished, that I never did tell something which seemed so true, and
                    so moving, and so tragic, and so passionately beautiful to me that I wanted to
                    show it to people, and I didn't do it. It was a failure.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.18">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:31.88:00',
					'endtime','00:20:39.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in <em>The Sound and the Fury</em>, can you
                    tell me exactly why some of that is written in italics? What does that
                    denote?</p>
<p><span class="speaker">William Faulkner</span>I had to use some method to indicate to the reader that this idiot had
                    no sense of time, that what happened to him ten years ago was just yesterday.
                    The&mdash;the way I wanted to do it was to use different colored inks, but
                    that would have cost so much the publisher couldn't undertake it.</p>
<p><span class="speaker">Unidentified participant</span>Doesn't that go on with Quentin, too?</p>
<p><span class="speaker">William Faulkner</span>Yes, because he was about half-way between madness and sanity. It wasn't
                    as much as&mdash;as in Benjy's part, because Quentin was only half way
                    between Benjy and Jason. Jason didn't need italics because he was quite
                    sane.</p>
<p><span class="speaker">Unidentified participant</span>And another thing I&mdash;I noticed, you don't advise that people have to have a
                    subject, a predicate, and a verb, and all those things. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Well, I&mdash;I think that's really not a fair question. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I was&mdash;I was trying to&mdash;to tell
                    this story as it seemed to me that idiot child saw it. And that idiot child, to
                    me, didn't know what a question, what an interrogation was. He didn't know too
                    much about grammar. He spoke only through his senses.</p>
<p><span class="speaker">Unidentified participant</span>I'm referring mostly to Quentin, and he certainly&mdash;he attended
                    Harvard. He should have known.</p>
<p><span class="speaker">William Faulkner</span>Well, Quentin was&mdash;was an educated half-madman, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and so he dispensed with grammar. Because it was
                    all clear to his half-mad brain, and it seemed to him, it would be clear to
                    anybody else's brain, that what he saw was quite logical, quite clear.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.19">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:43.10:00',
					'endtime','00:21:41.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in <em>The Town</em> do italics indicate time
                    annotation? Were the italics in <em>The Town</em> used as they
                    were in <em>The Sound and the Fury</em>?</p>
<p><span class="speaker">William Faulkner</span>I don't remember that book either. That was a year ago. I
                    think that the italics there were mostly for emphasis, though there could've
                    been times when I used italics to indicate that something definitely distant in
                    the past had been brought into the present. I don't remember, but then
                    that's&mdash;has become more or less a universal trick, I think, to use
                    italics for that reason, to bring into the present something out of the distant
                        past.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.20">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:45.82:00',
					'endtime','00:23:32.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This is another na&iuml;ve question. In trying to get at a meaning
                    that ties all the characters together in <em>Light in August</em>,
                    it seems that all of them, in one way or another, have been deprived of love in
                    one form or another, and are trying to find something. Did it have some sort of
                    meaning like that to you?</p>
<p><span class="speaker">William Faulkner</span>That's&mdash;that's possible. Of course, I didn't think of that at
                    the time. I was simply writing about people, but that's&mdash;that's
                    possible. That's&mdash;that's valid. But that too was coincidental with the
                    writer.</p>
<p><span class="speaker">Unidentified participant</span>Well, they were all put into difficult circumstances, more or less, cut
                    off, sort of.</p>
<p><span class="speaker">William Faulkner</span>Well, yes, but then so many people are. So many people are seeking
                    something, and&mdash;and&mdash;and quite often it is love. It don't have to be love
                    between a man and woman. It's&mdash;to be&mdash;be one with some
                    universal force, power that goes through life, through the world. It could take
                    the form of&mdash;the object of it could be a man or woman because that is
                    a&mdash;a&mdash;a part of man's or woman's instinctive nature, to&mdash;to have
                    an object, an immediate object, to project that seeking for love on.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.21">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:32.99:00',
					'endtime','00:24:37.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Are you&mdash;in your&mdash;in your statement just made, it seems
                    that you are more a partisan of the Lamarckian theory of evolution than you are
                    of the Darwinian theory. However, as you know, <span class="unclear tooltip" title="Text was unclear">[clearly]</span>, the
                    mechanical version of the step-by-step process is not related to
                        <span class="unclear tooltip" title="Text was unclear">[any]</span> universal force whereas as you, just now, did, and I
                    wondered if you had obtained that idea by early reading of Butler, Samuel
                    Butler, who took Lamarckian theory&mdash;</p>
<p><span class="speaker">William Faulkner</span>I can't say. I&mdash;I think that there are some beliefs that maybe
                    one inherits, that he don't have to get from&mdash;through an intellectual
                    process like reading. Probably I&mdash;that was simply a part of me, that
                    there must be some universal electricity that holds this ramshackle earth
                        together.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.22">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:39.95:00',
					'endtime','00:25:01.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Which one of your works do you prefer and <span class="unclear tooltip" title="Text was unclear">[what]</span> ?</p>
<p><span class="speaker">William Faulkner</span>The one that&mdash;that failed the best, which was <em>The Sound and the Fury</em>. None of them are quite good enough to suit me
                    yet. That's why I keep on writing another one. I like <em>The
                        Sound and the Fury</em> because that gave me the most anguish, the most
                        trouble.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.23">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:04.57:00',
					'endtime','00:25:55.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I think a&mdash;a student's natural reaction after writing a paper,
                    or something at least to hand in at school, is to hand it to his roommate or
                    somebody close to him and have him read it and give an opinion on it. Do you do
                    this after you've written a story or a novel? Is there anybody in your family or
                    close friends that you give it to and just say, "What do you think of this?"</p>
<p><span class="speaker">William Faulkner</span>No, because I have more confidence in my own judgment than anybody
                    else's, and I know that it don't suit me yet, so I have never thought of showing
                    it to anybody else because I don't really care what they think. It hasn't suited
                    me yet. Probably if I do do something that does suit me, I will worry and harass
                    everybody to death to look at it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.24">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:57.68:00',
					'endtime','00:26:11.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Would you say that you work primarily to express yourself <span class="unclear tooltip" title="Text was unclear">[or more]</span>  to
                    communicate to others?</p>
<p><span class="speaker">William Faulkner</span>I would say I write primarily because it's fun.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.25">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:15.19:00',
					'endtime','00:28:25.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In the book <em>Sanctuary</em>, could you tell us how you
                    feel about the story, or what brought you to write it, to bring it
                        out&mdash;?</p>
<p><span class="speaker">William Faulkner</span>I have told this before. If any of you were at the class and heard it,
                    please forgive us. I had written several books. I didn't need money then because
                    I was single and footloose, and there were things I could do for money. I was a
                    bootlegger. I was a commercial aeroplane pilot. Then I got married, and I needed
                    money, and I had&mdash;had got the curse of writing then, so I thought I
                    would make a little money writing a book, and I thought of the most horrific
                    story I could imagine and wrote it, sent it to the publisher and he wrote back,
                    "Good God, if we print this, we'll both be in jail." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So I wrote two more books and forgot about it.
                    Then one day I got the galley proofs of <em>Sanctuary</em>, and I
                    looked at it, and I didn't need money then probably, though I like to think that
                    I had gotten my breath and could see that the whole thing was basely conceived
                    for a base purpose, and I wrote the publisher, "Let's throw it away." He said, "We
                    can't do that because I have spent money to have plates made." And I said, "Well,
                    I'll have to rewrite it because I can't let it be printed this way." And he said,
                    "All right, if you will pay your half of the new plates, I'll pay half, and you can
                    rewrite it." So I got a job and earned the two hundred and seventy dollars to pay
                    my half of the new plates and rewrote the book, and this time, I did the best I
                    could with it. I'm&mdash;I'm not ashamed of the book as it is. I'm ashamed
                    of the&mdash;the primary base notion to write something to make money, which
                    I shouldn't have done, that I&mdash;I betrayed something somewhere when
                    I&mdash;when I did that, but I did the best I could with the material as it
                    was, and so I'm not ashamed of the book now. It's not one that I would do again,
                    but I'm not ashamed of it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.26">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:30.64:00',
					'endtime','00:29:15.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Frederick Gwynn</span>When you revived Temple Drake and Gowan Stevens in <em>Requiem 
                    for a Nun</em>, I take it that was a later process. It
                    wasn't like <em>The Hamlet</em> and <em>The
                        Town</em> and <em>The Mansion</em>, where you conceived of the
                    whole thing at once?</p>
<p><span class="speaker">William Faulkner</span>Yes, that's right. It was&mdash;I began to think, What would be the
                    future of that girl?  And then I&mdash;I thought of, What could a marriage
                    come to which was founded on the vanity of a&mdash;of a weak man. What would
                    be the outcome of that? And suddenly that seemed to me dramatic
                    and&mdash;and worthwhile, but that was&mdash;you're quite right. I
                    hadn't thought of that when I wrote <em>Sanctuary</em>.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.27">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:20.47:00',
					'endtime','00:30:07.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, from your remarks, I would say that you have a belief that
                    in developing the characters in the story that the writer also develops, maybe.
                    Did I gather&mdash;is that correct?</p>
<p><span class="speaker">William Faulkner</span>I'm sure he does, that the writer is learning all the time he writes,
                    and&mdash;and he learns from his own people. Once he has conceived them
                    truthfully and has stuck to&mdash;to the verities of&mdash;of human
                    conduct, human behavior, human aspirations, then he learns. Yes, they teach him.
                    They surprise him.  They teach him things that he didn't know. They do things.
                    And suddenly he says to himself, "Why, yes, that is true, that is so."
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.28">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:12.22:00',
					'endtime','00:30:59.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Referring to an earlier question, did you say that <em>Light in August</em> 
                    argues  for the acceptance of an inevitably tragic view of life?</p>
<p><span class="speaker">William Faulkner</span>I wouldn't think so, that the only person in that book that accepted a
                    tragic view of life was Christmas, because he didn't know what he was and so he
                    deliberately repudiated man. He didn't belong to man any longer. He deliberately
                    repudiated man. The others seemed to me to have had a&mdash;a very fine
                    belief in&mdash;in life, in the basic possibility for happiness and
                    goodness&mdash;Byron Bunch and Lena Grove, to have gone to all that
                        trouble.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.29">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:01.86:00',
					'endtime','00:31:30.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This genealogy with all these people that were connected with each other,
                    the McCaslins and everybody&mdash;was that made up before the books were
                    written or as each one was written?</p>
<p><span class="speaker">William Faulkner</span>No, that came along as these people appeared. I would think
                    of&mdash;of one character to write a story about, and suddenly he would drag
                    in a lot of people I never saw or heard of before, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and so the&mdash;the genealogy developed
                        itself.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio09_1.30">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:32.26:00',
					'endtime','00:31:56.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, some of your names in your books are very suggestive, very
                    highly suggestive. I wonder if it's that or just pure coincidence or did you intend
                    to make names like Gail Hightower, Joanna Burden as
                    being symbolic of their own personal character?</p>
<p><span class="speaker">William Faulkner</span>Well, that is out of the tradition of the&mdash;the
                    pre&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio09_1.1" class="hidden">Opening</a></li>
<li><a href="#wfaudio09_1.2" class="hidden">Christmas and Christ</a></li>
<li><a href="#wfaudio09_1.3" class="hidden">Exchange with Audience</a></li>
<li><a href="#wfaudio09_1.4" class="hidden">Writing Habits</a></li>
<li><a href="#wfaudio09_1.5" class="hidden">Writer's Sources</a></li>
<li><a href="#wfaudio09_1.6" class="hidden">Plot v Character</a></li>
<li><a href="#wfaudio09_1.7" class="hidden">Opinion of Tennyson</a></li>
<li><a href="#wfaudio09_1.8" class="hidden">When Bon Knows</a></li>
<li><a href="#wfaudio09_1.9" class="hidden">Bon and Oedipus</a></li>
<li><a href="#wfaudio09_1.10" class="hidden">Knowing His Characters</a></li>
<li><a href="#wfaudio09_1.11" class="hidden">Snopes Trilogy</a></li>
<li><a href="#wfaudio09_1.12" class="hidden">Absalom and Race</a></li>
<li><a href="#wfaudio09_1.13" class="hidden">Changing Southern Prejudice</a></li>
<li><a href="#wfaudio09_1.14" class="hidden">The Ku Klux Klan</a></li>
<li><a href="#wfaudio09_1.15" class="hidden">Absalom's Erotics</a></li>
<li><a href="#wfaudio09_1.16" class="hidden">Writing for Effect</a></li>
<li><a href="#wfaudio09_1.17" class="hidden">Sound and Fury's Chronology</a></li>
<li><a href="#wfaudio09_1.18" class="hidden">Sound and Fury's Stylistics</a></li>
<li><a href="#wfaudio09_1.19" class="hidden">The Town's Italics</a></li>
<li><a href="#wfaudio09_1.20" class="hidden">Love in Light in August</a></li>
<li><a href="#wfaudio09_1.21" class="hidden">Theories of Evolution</a></li>
<li><a href="#wfaudio09_1.22" class="hidden">His Favorite Work</a></li>
<li><a href="#wfaudio09_1.23" class="hidden">His First Reader</a></li>
<li><a href="#wfaudio09_1.24" class="hidden">Reasons for Writing</a></li>
<li><a href="#wfaudio09_1.25" class="hidden">Writing Sanctuary</a></li>
<li><a href="#wfaudio09_1.26" class="hidden">Sanctuary and Requiem</a></li>
<li><a href="#wfaudio09_1.27" class="hidden">The Writer's Development</a></li>
<li><a href="#wfaudio09_1.28" class="hidden">Light in August</a></li>
<li><a href="#wfaudio09_1.29" class="hidden">Populating Yoknapatawpha</a></li>
<li><a href="#wfaudio09_1.30" class="hidden">Naming Characters</a></li>
</ul></aside>
        
