
            <section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 15 May 1957</h4>
<h4>OCCASION: Session with the General Public</h4>
<h4>TAPE: T-130</h4>
<h4>LENGTH: 3:41</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio14_2.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:02.47:00',
					'endtime','00:00:56.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div> completing your writing, whether you start writing it or does it
                    develop as you go?</p>
<p><div class="speaker">William Faulkner</div>It usually develops as I go. It can begin with an anecdote
                    or&mdash;or an action or a character. Then when enough people get in it to
                    begin to talk back and forth to each other and to impact on one another and to
                    begin to quarrel with one another, they take charge of the story. All I have to
                    do then is to trot along behind with a notebook and a pencil and put down what
                    they do or say. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Then, of course, at the end,
                    you have to go back to the rules of unity and coherence and emphasis and give
                    it some sort of shape, but&mdash;but the characters take&mdash;take
                    charge of the story. That's my own system. Other people work from plots and
                    diagrams and keep notes. I never had a notebook and never did any research. Mine
                    is done for pleasure, for fun.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_2.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:56.00:00',
					'endtime','00:01:03.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Will&mdash;will <em>A Mansion</em> follows the same characters as <em>The Town</em>?</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right.</p>
<p><div class="speaker">Unidentified participant</div>Do you see it? You're working on it now?</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_2.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:06.93:00',
					'endtime','00:02:19.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you believe that there is a American language 
                    developing as compared to the English language, or <span class="unclear tooltip" title="Text was unclear">[that they are]</span>
                    the same language?</p>
<p><div class="speaker">William Faulkner</div>Yes'm, I think so. I don't know how many generations, eons, before it
                    will be too distinct, but any language, if it is not changing, will not last
                    long. That is, the only alternative to change and progress is&mdash;is
                    death. It may be with the&mdash;with the world being condensed by rapid
                    transportation, there'll be even less divergence of the two languages than ever,
                    but I would say that&mdash;that there will be&mdash;be a
                    change, and in time, there will be just as much difference between the English
                    English and American English as&mdash;as there is between classic Greek and
                    modern Greek, unless both have been abolished in the meantime, and there's still
                    another language that comprises both, which will also be in a state of flux and
                    change and advancement.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_2.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:25.28:00',
					'endtime','00:03:22.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you think that an author is actually getting
                        into hot water if he doesn't stick to subjects that he
                    himself has experienced?</p>
<p><div class="speaker">William Faulkner</div>No, no, the imagination will serve. You stick to experience and
                    observation&mdash;are only shortcuts, but imagination will&mdash;will
                    well serve. It's&mdash;it has served so many writers when they need&mdash;I think
                    right now&mdash;all the&mdash;these books of so-called science fiction,
                    I think of H.G. Wells' <em>Time Machine</em>, that there's
                    absolutely no limit to what man can imagine, and he&mdash;and
                    by&mdash;by using a few simple mechanical facts, he can make it credible.
                    That is, nobody can dispute him if what he&mdash;he says holds together
                    assuming you grant his premise.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio14_2.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio14_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:30.71:00',
					'endtime','00:03:35.84:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Thank you, Mr. Faulkner, very much.</p>
<p><div class="speaker">William Faulkner</div>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="post" action="/transcripts/search">
<input type="text" size="30" name="q[text]" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio14_2.1" class="hidden">Composition Process</a></li>
<li><a href="#wfaudio14_2.2" class="hidden">The Mansion</a></li>
<li><a href="#wfaudio14_2.3" class="hidden">An American Language</a></li>
<li><a href="#wfaudio14_2.4" class="hidden">Imagination v Experience</a></li>
<li><a href="#wfaudio14_2.5" class="hidden">Close</a></li>
</ul></aside>
        
