<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio05_1.1">Opening</a>
    </li>
    <li>
      <a href="#wfaudio05_1.2">The Southern Environment</a>
    </li>
    <li>
      <a href="#wfaudio05_1.3">The Expatriate Writers</a>
    </li>
    <li>
      <a href="#wfaudio05_1.4">Sutpen's Money</a>
    </li>
    <li>
      <a href="#wfaudio05_1.5">The Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio05_1.6">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio05_1.7">The Source for Lion</a>
    </li>
    <li>
      <a href="#wfaudio05_1.8">Re-imagining Lion</a>
    </li>
    <li>
      <a href="#wfaudio05_1.9">The Bear, Part 5</a>
    </li>
    <li>
      <a href="#wfaudio05_1.10">Creating Characters</a>
    </li>
    <li>
      <a href="#wfaudio05_1.11">The Critic's Function</a>
    </li>
    <li>
      <a href="#wfaudio05_1.12">Becoming a Writer</a>
    </li>
    <li>
      <a href="#wfaudio05_1.13">Revising His First Novel</a>
    </li>
    <li>
      <a href="#wfaudio05_1.14">Personal Goal</a>
    </li>
    <li>
      <a href="#wfaudio05_1.15">Most Magnificent Failure</a>
    </li>
    <li>
      <a href="#wfaudio05_1.16">Sound and Fury as Failure</a>
    </li>
    <li>
      <a href="#wfaudio05_1.17">A Fable</a>
    </li>
    <li>
      <a href="#wfaudio05_1.18">A Fable's Dark Angel</a>
    </li>
    <li>
      <a href="#wfaudio05_1.19">A Fable's Horse</a>
    </li>
    <li>
      <a href="#wfaudio05_1.20">"Red Leaves"</a>
    </li>
    <li>
      <a href="#wfaudio05_1.21">Sound and Fury's Shifts</a>
    </li>
    <li>
      <a href="#wfaudio05_1.22">Writing and Fame</a>
    </li>
    <li>
      <a href="#wfaudio05_1.23">Reviewing His Work</a>
    </li>
    <li>
      <a href="#wfaudio05_1.24">Plot v Character</a>
    </li>
    <li>
      <a href="#wfaudio05_1.25">Freudian Criticism</a>
    </li>
    <li>
      <a href="#wfaudio05_1.26">"That Evening Sun"</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio05_1.1"/>
  <p>Well, we'll begin by asking Mr. Faulkner
						questions, raise your hand if you have one.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.7"/>
  <p>In "The Bear," Mr. Faulkner, was
					there a dog, a real Lion?</p>
</div>
<div class="section">
  <a name="wfaudio05_1.8"/>
  <p>Mr. Faulkner, in any bear hunt that
					Lion participated in, did he ever perform heroic action like the one in the
					story?</p>
</div>
<div class="section">
  <a name="wfaudio05_1.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.13"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio05_1.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.18"/>
  <p> Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.19"/>
  <p>Mr. Faulkner, would you care to
					say anything about the allegorical function of the horse in the Fable? He seems to have some very complex or interesting
					characteristics.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.20"/>
  <p>Mr. Faulkner &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio05_1.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.22"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.23"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.24"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.25"/>
  <p>Yes'm.</p>
</div>
<div class="section">
  <a name="wfaudio05_1.26"/>
  <p>Yes, sir.</p>
</div>
