<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio30_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio30_1.2">Grammatical Rules</a>
    </li>
    <li>
      <a href="#wfaudio30_1.3">Tradition v Industrialization</a>
    </li>
    <li>
      <a href="#wfaudio30_1.4">Redeeming the Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio30_1.5">Influences on Humor</a>
    </li>
    <li>
      <a href="#wfaudio30_1.6">Racial Changes</a>
    </li>
    <li>
      <a href="#wfaudio30_1.7">Selling to Hollywood</a>
    </li>
    <li>
      <a href="#wfaudio30_1.8">Northern Outsiders</a>
    </li>
    <li>
      <a href="#wfaudio30_1.9">South v Larger Nation</a>
    </li>
    <li>
      <a href="#wfaudio30_1.10">Gavin Stevens</a>
    </li>
    <li>
      <a href="#wfaudio30_1.11">Writing from Experience</a>
    </li>
    <li>
      <a href="#wfaudio30_1.12">Success for the Writer</a>
    </li>
    <li>
      <a href="#wfaudio30_1.13">Pylon and New Orleans</a>
    </li>
    <li>
      <a href="#wfaudio30_1.14">Laverne as Pylon</a>
    </li>
    <li>
      <a href="#wfaudio30_1.15">Symbolism</a>
    </li>
    <li>
      <a href="#wfaudio30_1.16">Symbols in "The Bear"</a>
    </li>
    <li>
      <a href="#wfaudio30_1.17">James Joyce</a>
    </li>
    <li>
      <a href="#wfaudio30_1.18">Pace of Modern Life</a>
    </li>
    <li>
      <a href="#wfaudio30_1.19">Human Dilemma</a>
    </li>
    <li>
      <a href="#wfaudio30_1.20">Southern Progress</a>
    </li>
    <li>
      <a href="#wfaudio30_1.21">Contemporary Writers</a>
    </li>
    <li>
      <a href="#wfaudio30_1.22">Using Violence [part 1]</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio30_1.1"/>
  <p> to share with them our good fortune in having as
                    Writer-In-Residence at the University of Virginia the world's greatest living
                    novelist. He began our program last year by reading from his works, but the
                    question and answer period that followed was so lively and so prolonged that we
                    thought that this year we would skip the appetizer and begin with the steak. Mr.
                        William Faulkner.   </p>
</div>
<div class="section">
  <a name="wfaudio30_1.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.3"/>
  <p> If I'm not speaking
                    loud enough, would you let me know?
                        Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.7"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.9"/>
  <p>Well, I was interested in what then should be the outsiders' point of
                    view, from outside the South. In worrying about the South, what if the South did
                    not pull itself up by its own bootstraps? They would be worried about the effect
                    upon the rest of the states.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.10"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.14"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio30_1.15"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.17"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.19"/>
  <p> Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.20"/>
  <p> Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_1.22"/>
  <p>Yes, ma'am.</p>
</div>
