
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio24_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 28 April 1958</h4>
<h4>OCCASION: First-Year English Class</h4>
<h4>TAPE: T-142d</h4>
<h4>LENGTH: 17:09</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.92:00',
					'endtime','00:00:34.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> he was, in his own lights, quite successful. That is, he wanted
                    no more than he knew within his capacity he would have, that he was going to
                    enjoy what he saw and heard and was going to live a long time in peace because
                    he had accepted, coped with environment, without trying to manipulate 
                    environment for his own aggrandizement as Snopes did.
                    </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.2">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:39.42:00',
					'endtime','00:02:32.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What was the purpose of the episode about the&mdash;the wart or the mole on Old
                    Bayard's face? <span class="unclear tooltip" title="Text was unclear">[He went to see]</span> Lucius Peabody and Dr. Alford
                    and somebody else. He went to see three doctors .</p>
<p><span class="speaker">William Faulkner</span>Well, that wasn't too important. It really proved nothing.
                    It&mdash;it simply stipulated a&mdash;a true fact that the&mdash;the
                    old people that have traditions of going out in the garden to get a few weeds
                    and stewing in tobacco juice can perform miracles of cure, when all the doctors
                    with their fine pharmacopoeia and all the rest of the gadgets sometimes fail,
                    and that's always a&mdash;a little amusing to me when I see somebody that
                    will&mdash;will go to the&mdash;what the trained doctor would call a
                    witch doctor, and get a little piece of salve that will cure something that the
                    doctor or the surgeon himself failed to do anything with. That, by optimism, I
                    mean that man himself is somehow indestructible, that he don't need education
                    and training at all, that&mdash;even he can cope with illiteracy. He
                    can cope with science, that all the atom bombs and things like that are not
                    going to destroy man, that he will find some little thing in his kitchen garden
                    to stew down that will efface the atom bomb from threat. I
                    mean, figuratively speaking.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.3">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:33.79:00',
					'endtime','00:02:57.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, did you have any reason for having Old Bayard live so much longer
                    than all the other Sartorises?</p>
<p><span class="speaker">William Faulkner</span>No.  Probably the only reason was a&mdash;a dramatic
                    and technical one. I simply needed him. As soon as I didn't need him anymore, I
                    got rid of him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.4">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:57.33:00',
					'endtime','00:04:26.51:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In <em>The Unvanquished</em>, the theory of the McCaslins,
                    that people belong to the land, is that to represent the belief of a general
                    class of people at that time, or was that just an individual case of ?</p>
<p><span class="speaker">William Faulkner</span>It was&mdash;well, not quite individual because there were more
                    McCaslins in that county than that one family. They didn't&mdash;well, they
                    might've represented a&mdash;a type, the type that didn't have
                    the&mdash;the education of the Sartorises and the Compsons, but had some of
                    the same traditions. They were close enough to the land, probably, to have a
                    little more toughness, that none of the McCaslins, MacCallums would
                    have&mdash;have produced the&mdash;the&mdash;the Caddys and Quentins of <em>The 
                        Sound and the Fury</em>.  That they would've&mdash;have
                    solved their problems, would have faced their problems better 
                    than&mdash;than Compsons and maybe Sartorises did, that no MacCallum would
                    have&mdash;would have wrecked a car in which his grandfather died and then
                    simply walked out of the scene.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.5">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:31.46:00',
					'endtime','00:05:42.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This question is related. Were Colonel Sartoris and your
                    great-grandfather, the Colonel Falkner&mdash;I mean&mdash;or how much
                    did you&mdash;how much did you draw on Colonel Falkner to get the picture of Colonel Sartoris?</p>
<p><span class="speaker">William Faulkner</span>That's difficult to say. That comes back to what we spoke
                    of&mdash;the three sources the writer draws from, and&mdash;and I myself
                    would have to stop and&mdash;and go page by page to see just how much I drew
                    from family annals that I had listened to from these old, undefeated spinster
                    aunts that&mdash;that children of my time grew up with. Probably, well,
                    the&mdash;the similarity of raising of that infantry regiment, that
                    was&mdash;that was the same. The&mdash;his death was about&mdash;was
                    pretty close, pretty close parallel.  But the rest of it I would have to go
                    through to&mdash;page by page and remember, did I hear this or did I imagine
                    this?</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.6">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:53.42:00',
					'endtime','00:07:46.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, I wonder what&mdash;if you intended to&mdash;to make us think was the
                    future of the&mdash;the young&mdash;young baby, John Sartoris, would
                    be. I know&mdash;or whether it's just I read between the lines,
                        <span class="unclear tooltip" title="Text was unclear">[but]</span> I remember that Aunt Jenny said that when old Simon
                    died, that he was the last of the real Sartorises, and then again, Narcissa said
                    that&mdash;when she wanted to change the name, Aunt Jenny said, "Well, you'd
                    better not. He'll turn out to be one anyway." So, is there any prediction that
                    you would make that he would turn out to be just like&mdash;as&mdash;as
                    violent as all the rest or whether he would turn out to be a new generation?</p>
<p><span class="speaker">William Faulkner</span>Probably, he wouldn't be as violent as the others. I think that what the
                    old aunt meant was that&mdash;that these people were&mdash;were her kin,
                    and&mdash;and she would have to be on their side and have to see that all
                    this was fine and gallant, but that&mdash;that they were obsolete, that the men, the
                    southern men, were the ones that&mdash;that couldn't bear 
                    being&mdash;having lost the war. The women were the ones that could bear it because they
                    never had surrendered. The men had given up and, in a sense, were&mdash;were
                    dead and&mdash;and even generations later were seeking death. And, in her
                    opinion, the sooner this quality in the Sartoris men died out, the better for
                    Sartoris, for the Sartoris clan, race.  And she&mdash;probably she believed
                    that&mdash;that this boy would have all the best of the Sartorises and none
                    of the vices.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.7">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:59.96:00',
					'endtime','00:09:47.72:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Mr. Faulkner, toward the end of "An Odor of Verbena," she says to Bayard,
                    "Damn you Sartorises," even though she seems to approve of his not going out and
                    getting revenge. Is it some quality of heartlessness that she feels even in an
                    act that she approves of?</p>
<p><span class="speaker">William Faulkner</span>No, no, she loves these people, and they have constantly&mdash;all
                    of her life, they have given her anguish and trouble.  That she can't help but
                    love them, and she believes in them, not in what they do, and they do these
                    reckless, completely self-centered things that have caused nothing but anguish
                    and grief to all their womenfolk. That's all that meant. That she's proud of
                    this boy, but he too has done something unexpected, that when she expects them
                    to act like human beings they act like Sartorises, then when she expects the
                    next one to behave like a Sartoris he behaves like a simple human 
                    being, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and she
                    has no&mdash;will never have any peace from them. That's all that
                        meant. 
                    Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>When the boy's aunt says, "Go upstairs until this blows over. It'll be
                    all right," is she saying that because she just doesn't want him to get
                    hurt?</p>
<p><span class="speaker">William Faulkner</span>Yes, that's it. That's&mdash;that's the woman&mdash;this is the
                    last one. And&mdash;and she knows that&mdash;that she expects him to go
                    out and get himself shot, because he's a child compared to this man, and he
                    wouldn't come out of a&mdash;of a duel with&mdash;with this man, and
                    she's willing for him to be a coward just so he stays alive. She knows that he's
                    not going to do that.  But that's&mdash;that's&mdash;that's the woman. She's been his
                    mother. She's telling him to do something that she herself probably wouldn't
                    really want him to do.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.8">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:50.20:00',
					'endtime','00:11:53.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>In that&mdash;that final section of <em>The
                        Unvanquished</em>, are you developing a notion of a changing and developing
                    tradition, and that Bayard doesn't reject the whole tradition. He keeps the
                        honor and the courage, but he rejects the&mdash;part of the old tradition, and
                    that&mdash;that is the vendetta. And I wondered if you&mdash;that if the
                    sprig of verbena represented the old mechanical, unchanging tradition that he
                    was building from and rejecting partly but not altogether. I noticed that you
                    present that sprig of verbena as having the petals stamped out as
                    if&mdash;as if by a machine. I wondered if&mdash;if you&mdash;in
                    your mind, that meant that this was the&mdash;the mechanical, unchanging
                    tradition, that he was rejecting partly, <span class="unclear tooltip" title="Text was unclear">[what]</span> he was growing away from, but still
                    keeping the&mdash;the honor and the courage.</p>
<p><span class="speaker">William Faulkner</span>No, the verbena&mdash;the fact that sprig of verbena was alive,
                    was&mdash;was an accolade, that the&mdash;the verbena, even though it
                    looked like it had been stamped out by a machine and was traditional, was still
                    alive, and there would be another one next year. And that was an accolade
                    of&mdash;of optimism, too.  That she could have left a&mdash;a note
                    scrawled on a&mdash;a piece of paper, but that would have been dead paper and dead ink.
                    This was&mdash;was alive, a promise of&mdash;of renewal for next
                    year. 
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.9">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:57.78:00',
					'endtime','00:14:14.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in the earlier chapters of <em>The Unvanquished</em>,
                    Colonel Sartoris is shown to be a very brave man and a very&mdash;could do
                    all sorts of wonderful things, and then in the last chapter, he seems to be
                    shown in a slightly different light, that he's not&mdash;not quite all these
                    things that he appeared to be earlier. Just what is your estimation of Colonel
                    Sartoris as a man?</p>
<p><span class="speaker">William Faulkner</span>As a&mdash;a simple human man. In the&mdash;the first stories in that book,
                    that was&mdash;was how this little boy saw him. Later, that little boy got
                        older and&mdash;and had some perspective. He could see that this man who had seemed
                    incapable of&mdash;of weakness or evil was human, too. It wasn't that
                    the&mdash;that Sartoris changed so much, but the boy had changed, could see
                    more than he had seen at first. The picture he had of him at first was someone
                    that would be gone away fighting in a war, and then he'd come back for a day or
                    two, and then be gone again, the picture that his grandmother and his aunt and
                    the servants that remained on the place had given him of what his father was.
                    Later, when he got older and had some perspective and could&mdash;could see
                        that&mdash;that war is&mdash;is not all that fine and&mdash;and gallant and that the people
                    that engage in war probably are&mdash;are harmed a little by it, too.  That
                    he got a&mdash;he knew more about people, about man, about his
                    grand&mdash;his father as he got older. That was the reason, not that
                    Sartoris changed, anymore than&mdash;than anyone changes by getting old, and
                    his arteries beginning to harden, and his blood running slower. His ideas
                    becoming a little more rigid.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.10">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:24.35:00',
					'endtime','00:15:06.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Mr. Faulkner, were there many girls in the war who went off like
                    Drusilla, rode astride and went with the troops?</p>
<p><span class="speaker">William Faulkner</span>Probably not. Probably she was the only one. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    I mean, her prototype, whoever it was that I got
                    the idea for her from, I imagine I read that somewhere, too, and just don't
                    remember it.  Just like whoever wrote about the <span class="unclear tooltip" title="Text was unclear">[Iversons]</span>
                    don't remember where he read that.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.11">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:11.83:00',
					'endtime','00:16:47.20:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>There is no romantic attraction between Drusilla and the boy?</p>
<p><span class="speaker">William Faulkner</span>I don't think so. They were nearer akin in age, but I don't think so. I
                    think certainly Drusilla would have made no effort to&mdash;to bring that
                    out in that boy because her husband, older than she though he was,
                    was&mdash;was&mdash;was her&mdash;her knight. He represented the
                    best of&mdash;of the masculine to her, to be ruthless and&mdash;and&mdash;and
                    brave and to demand&mdash;to brook no insult, to demand blood for blood,
                    that was exactly what she would have been if she'd been a boy. And she probably
                    never saw this boy other than someone who was close to her in age. And he had
                    never thought of her romantically, I am quite sure, because his father
                    had&mdash;had stamped the whole tone of that household with his, the
                    father's, importance, that nobody would have dared tamper with his wife, for
                    instance. And this boy, that would have&mdash;might have been the one thing
                    he would have shot a man for, for an insult to his father's wife, not his mother
                    necessarily, but his father's wife, because he would be preserving his father's
                    honor.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio24_2.12">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:47.21:00',
					'endtime','00:17:00.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Irby Cauthen</span>Mr. Faulkner, let me thank you on behalf of the class <span class="unclear tooltip" title="Text was unclear">[and the visitors]</span>.</p>
<p><span class="speaker">William Faulkner</span>Well, thank you. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio24_2.1" class="hidden">Ratliff [part 2]</a></li>
<li><a href="#wfaudio24_2.2" class="hidden">Old Bayard's Wen</a></li>
<li><a href="#wfaudio24_2.3" class="hidden">Old Bayard's Life</a></li>
<li><a href="#wfaudio24_2.4" class="hidden">The McCaslins</a></li>
<li><a href="#wfaudio24_2.5" class="hidden">Col's Falkner and Sartoris</a></li>
<li><a href="#wfaudio24_2.6" class="hidden">Benbow Sartoris</a></li>
<li><a href="#wfaudio24_2.7" class="hidden">Aunt Jenny</a></li>
<li><a href="#wfaudio24_2.8" class="hidden">Bayard's Choice</a></li>
<li><a href="#wfaudio24_2.9" class="hidden">Colonel Sartoris</a></li>
<li><a href="#wfaudio24_2.10" class="hidden">Drusilla</a></li>
<li><a href="#wfaudio24_2.11" class="hidden">Drusilla and Bayard</a></li>
<li><a href="#wfaudio24_2.12" class="hidden">Close</a></li>
</ul></aside>
        
