<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio25.1">Southern Chivalry</a>
    </li>
    <li>
      <a href="#wfaudio25.2">Ike and Christ</a>
    </li>
    <li>
      <a href="#wfaudio25.3">Ike's Story</a>
    </li>
    <li>
      <a href="#wfaudio25.4">Source of Laughter</a>
    </li>
    <li>
      <a href="#wfaudio25.5">Fun</a>
    </li>
    <li>
      <a href="#wfaudio25.6">Having Fun</a>
    </li>
    <li>
      <a href="#wfaudio25.7">Creating Atmosphere</a>
    </li>
    <li>
      <a href="#wfaudio25.8">Southern Writing and Reading</a>
    </li>
    <li>
      <a href="#wfaudio25.9">"Odor of Verbena"</a>
    </li>
    <li>
      <a href="#wfaudio25.10">Carson McCullers</a>
    </li>
    <li>
      <a href="#wfaudio25.11">Future Plans</a>
    </li>
    <li>
      <a href="#wfaudio25.12">Work in Progress</a>
    </li>
    <li>
      <a href="#wfaudio25.13">Painting</a>
    </li>
    <li>
      <a href="#wfaudio25.14">European Travels</a>
    </li>
    <li>
      <a href="#wfaudio25.15">Anderson's Winesburg</a>
    </li>
    <li>
      <a href="#wfaudio25.16">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio25.1"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio25.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.5"/>
  <p>I've&#x2014;I've heard you use the word "fun" several times,
                        and I wondered what is your idea of fun?</p>
</div>
<div class="section">
  <a name="wfaudio25.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.8"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.12"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio25.13"/>
  <p>Have you ever done any painting, Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio25.14"/>
  <p>Sir, I believe you took a walking tour through Europe for a
                        number of days, and I'm just wondering how much you got out of
                    that in observing people and seeing things in Europe?</p>
</div>
<div class="section">
  <a name="wfaudio25.15"/>
  <p>Sir, I'd like to ask you a question about Sherwood 
                        Anderson's Winesburg, Ohio. In Winesburg
                    Anderson refers to&#x2014;almost every character that he refers to is tall.
                    That is, Alice Hindman, Elizabeth Willard and Wash Williams's wife. Is there any
                    reason for this, using tall people, is it some sort of symbolism
                    or&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio25.16"/>
  <p>Thank you, Mr. Faulkner. I speak for all of
                        us.
                    </p>
</div>
