
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio01_2.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 25 February 1957</h4>
<h4>OCCASION: John Coleman's Writing Class</h4>
<h4>TAPE: T-120_Coleman</h4>
<h4>LENGTH: 49:13</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:01:18.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>  what he means and probably any story that
                    can't be told in one sentence or at least one paragraph is not worth writing.
                    The&mdash;the revision, the&mdash;the cutting out&mdash;in my own
                    case, I'm lazy. I don't like to work, and so I will do as much of it as possible
                    in&mdash;in the mind, in thinking, before I undertake the arduous, hateful
                    job of swatting it out on paper. I think the revision quite often follows
                    because when the job is down on paper at last, it still is not quite what it
                        should be, and so you&mdash;you&mdash;you change, you revise, you edit,
                    you&mdash;you try to bring it closest to the ideal of perfection, which, of
                    course, you're not going to reach either. That is, what I'm trying to say, is
                    that the revision is I think for the writer more than&mdash;than the
                    editor's revision, which is for the reader.</p>
<p><span class="speaker">Unidentified participant</span>Yes.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:19.08:00',
					'endtime','00:02:18.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you work, so to speak, eight hours a day at a desk and just
                    concentrate on it all day long, or do you just sort of let it come to you and
                    work spasmodically?</p>
<p><span class="speaker">William Faulkner</span>Oh, I think that&mdash;that the writer never quits working. All the
                    time he's awake, in, as I say, in my own case, I put off the actual work as long
                    as possible, but probably all the time I'm awake I'm thinking about the
                    particular job I'm at at the time, and I work at it only when I have to. The
                    only rule I have is to quit while it's still hot. Never write yourself out.
                    Always quit when it's going good. Then it's easier to&mdash;to take it up
                    again. If you exhaust yourself, then you'll get into a&mdash;a dead spell,
                    and you have trouble with it. It's&mdash;what's the saying, Leave
                    them while you're looking good. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:18.33:00',
					'endtime','00:03:59.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Did you have a question, <span class="unclear tooltip" title="Text was unclear">[Thomas]</span>?</p>
<p><span class="speaker">Unidentified participant</span>Yes. Mr. Faulkner, I'm particularly interested in your style, and I would
                    like to know have you developed it consciously and has it changed very much
                    since when you first began to write?</p>
<p><span class="speaker">William Faulkner</span>I did not develop it. I think style is one of the tools of the craft,
                    and I think anyone that&mdash;that spends too much of his time about his
                    style, developing a style, or following a style, probably hasn't got much to
                    say and knows it and is afraid of it, and so he writes a&mdash;a style, a
                    marvelous trove. He becomes Walter Pater, which is beautiful, but there ain't
                    too much in it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think style is simply one of
                    the tools of the craft. That&mdash;that&mdash;the&mdash;the story you're telling commands
                    its style, that one style is good for now and another style will be good for
                    tomorrow.  And&mdash;and like the good carpenter, one should&mdash;should
                    be able to&mdash;well, you might say almost imitate, that there's some
                    things that certain men have&mdash;women writers have told better
                    than others have, which is a good tool to use if you're trying to&mdash;to
                    give the same effect that that man or woman <span class="unclear tooltip" title="Text was unclear">[gave]</span>, but the
                    style is&mdash;is incidental, I think.</p>
<p><span class="speaker">Unidentified participant</span>In other words, it's intuitive?</p>
<p><span class="speaker">William Faulkner</span>That's right, yes. That the&mdash;the story commands its style and
                    in a way, creates its style. But you're writing primarily about people.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:02.58:00',
					'endtime','00:04:52.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you think that a writer can teach young writers?</p>
<p><span class="speaker">William Faulkner</span>I don't think anybody can teach anybody anything. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that you learn it, but&mdash;but the
                    young writer that is, as I say, demon-driven and&mdash;and wants to learn
                    and has&mdash;has got to write, he don't know why, he will learn
                    from&mdash;from almost any source that he finds. He will learn from older
                    people who are not writers, he will learn from writers, but he learns it. You
                    can't teach it. Then I think, too, that the&mdash;that the writer who's
                    actually hot to say something hasn't got time to be taught. He's too busy
                    learning. He knows what he wants. His instinct says to take this from this man
                    or that from that man, but he's not&mdash;he hasn't got time to sit under a
                    mentor and listen to try to learn.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:54.12:00',
					'endtime','00:06:54.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. Faulkner, to get back to the business of style for just a minute. You
                    mentioned in some class that I attended that Dostoevsky and Conrad were two
                    people you read a good deal when you were eighteen and nineteen years old. Would
                    you say that you had gotten something in the way of arrangement of words from
                    Conrad? Every now and then in your stories&mdash;I was thinking of a couple
                    of passages in "The Bear," passages here and there in other
                    stories&mdash;there are arrangements of cadence, rhythm, that seems to me to
                    be rather like Conrad. I'm thinking of a passage in "Youth," an arrangement of
                    adjectives, "resplendent yet somber, full of danger, yet promising." It's the
                    description of the East when that young boy comes upon it. There's something of
                    the same kind of use of those kind of&mdash;kind of heavy arrangement of
                    adjectives I've noticed in your writing. Does that seem fair?</p>
<p><span class="speaker">William Faulkner</span>Quite true. I got quite a lot from Conrad, and I got quite a lot from a
                    man that probably you gentlemen, young people, never heard of, a man called
                    Thomas Beer. You&mdash;you probably know the name.</p>
<p><span class="speaker">John Coleman</span>I know the name Thomas Beer in connection with a critical work. Did he
                    write <em>The Mauve Decade</em>?</p>
<p><span class="speaker">William Faulkner</span>He wrote the&mdash;yes.</p>
<p><span class="speaker">John Coleman</span>Yes, that's how I got to&mdash;</p>
<p><span class="speaker">William Faulkner</span>And I got quite a lot from him. It was to me a&mdash;a good tool, a
                    good&mdash;good method, a good usage&mdash;usage of words, approach
                    to&mdash;to an incident. I think the writer, as I've said before, is
                    completely amoral. He takes whatever he needs, wherever he needs, and he does
                    that openly and honestly because he himself hopes that what he does will be good
                    enough so that after him people will take from him, and they are welcome to take
                    from him, as he feels that he would be welcome by the best of his predecessors
                    to take what they had done.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:58.34:00',
					'endtime','00:07:36.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you think the writer is asking for trouble if he
                    attempts to write of things beyond his personal experience?</p>
<p><span class="speaker">William Faulkner</span>No, sir, I do not. I do not. There should be no limits to what the
                    writer tries to write about. He has got to tell it in terms that he does know.
                    That is, he can write about what is beyond his experience, but the only terms he
                    does know are within his&mdash;his experience, his observation.  But there
                    should be no limits to what he attempts. The&mdash;the higher the aim, the
                    better. If <span class="unclear tooltip" title="Text was unclear">[he wants]</span> to be a failure, <span class="unclear tooltip" title="Text was unclear">[well]</span>
                    let him be a fine bust, not just a petty little one.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:39.11:00',
					'endtime','00:09:26.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, back to your writing, Mr. Faulkner, often it seemed to me that you
                        <span class="unclear tooltip" title="Text was unclear">[choose]</span> questions and then answer them yourself as you
                    develop your story, rather than letting the reader answer them, letting them to
                    go unanswered. Is that a lack of confidence in your reading audience or merely a
                    trick of style?</p>
<p><span class="speaker">William Faulkner</span>It&mdash;it's not a conscious trick, and I&mdash;I'm sorry that
                    that word occurred to anyone about it. It&mdash;it's the&mdash;the&mdash;the 
                    desire to&mdash;to exhaust completely the&mdash;the human character
                    which one is trying to create, to probe and to probe and to probe, to never be
                    quite satisfied. The man with judgment will have enough of it that after he has
                    probed and probed to get the&mdash;the absolute essence, to have the taste
                    and the judgment to edit it then, to throw away a lot of it, but sometimes he
                    doesn't always do that. It may be lack of taste. It may be his hurry. It may be
                    that he himself thinks that this is necessary so that who reads it can follow
                    him, that he has probed and probed and probed to get to the absolute bottom of
                    the character he's trying to create. I don't believe that&mdash;that I've
                    ever used that as a trick. I may have. It's&mdash;it's hard to say. As I
                    say, the writer is amoral about other people's work and quite often about
                    himself. He is a congenital liar or he wouldn't be a writer, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and maybe he can't tell the truth about
                    anything.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:31.07:00',
					'endtime','00:12:34.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>This is sort of long question. In last week's issue of the <em>New York Times Book Review</em>, Colin Wilson discussed the
                    great&mdash;makings of a great writer, and he said writers today are of two
                    kinds, what he termed telescopic and microscopic, the telescopic writer
                    being one that gives a bird's eye, an extended view of nature, and the
                    microscopic writer being one who examines the life of ordinary people. He went
                    on to say that a great writer combines these two qualities and examines himself
                    at the same time, and finally, he said that your writing and that of Dos Passos,
                    Williams and Miller were all microscopic, and, he went on to say, third rate.
                    My question is do you agree with his statements of the
                    makings of a great writer and if not, what do you think makes a great
                    writer?</p>
<p><span class="speaker">William Faulkner</span>I think the&mdash;the question about telescopic writing and
                    microscopic writing, that's a literary question and is in Mr. Wilson's
                    provenance, but probably not in the provenance of a writer, unless that writer
                    is&mdash;is also literary. I don't think that you have to be literary just
                    to be a writer.</p>
<p><span class="speaker">John Coleman</span>I want to set the record straight. I don't think you quoted him quite
                    exactly, Joseph. I think he said people who imitated those writings were
                    third-rate writers. I think that Colin Wilson seems a very brash person, but I
                    don't think he's inclined to be that brash, do you? No. I think it's the
                    imitators he's thinking of.</p>
<p><span class="speaker">William Faulkner</span>Well, that is&mdash;resembles something that we just spoke about, is
                    that someone who hasn't got anything to say, he knows, if he has
                    the&mdash;the desire to write, will imitate for the sake of imitation. He
                    will think, Hemingway has written good books, so I'll write like
                    Hemingway, which is the third-rate writer in the sense that he hasn't gotten
                    something first-rate to say and probably never will have. Actually, I thought at
                    one time that&mdash;that what one needed to write with is talent, but I
                    think now it's probably patience to&mdash;to probe and to try and to probe
                    and to try, then ruthlessness to discard what is&mdash;is not necessary or
                    what is trashy, but mostly what you need is insight which is the probing, that
                    you don't need to have a telescopic eye nor a microscopic eye.
                    It's&mdash;it's insight, the desire to see why man does what he does.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:34.72:00',
					'endtime','00:13:20.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In doing that, do you find that you've done it yourself?</p>
<p><span class="speaker">William Faulkner</span>Oh, yes. That's&mdash;that's like we spoke of&mdash;of one has
                    got to&mdash;to&mdash;to write in the terms that he knows which is his own
                    environment, and&mdash;and man's closest environment is
                    his&mdash;himself. That he has got to measure everything against what he
                    believes and feels to be true. Now, his belief has&mdash;has come from
                    observation, from experience, from what he has read, mostly a lot from what he's
                    read, but he&mdash;yes, he's got to measure everything against what he
                    himself believes, not thinks up here, but believes here to be&mdash;be true,
                    and be moving.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:23.44:00',
					'endtime','00:14:36.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, a lot of people have said that your novels and short
                    stories contain many hidden meanings and subtle symbolisms and things like that.
                    Do you find that they more or less, as you&mdash;as you write, do they all fit some
                    preconceived design of yours, or the symbolism or the hidden meanings more or
                    less develop as you write, or do you find that people sometimes read more into
                    your stories than you yourself originally intended for them to read?</p>
<p><span class="speaker">William Faulkner</span>I wouldn't say that they do. They&mdash;they read into my stories
                    lots of things which I myself didn't know were there, but I'm sure that they're
                    quite right when they can find symbolism. The&mdash;the symbolism,
                    the&mdash;the pattern of symbolism is a part of&mdash;of the man, the
                    individual, too, and he's still writing in terms of his environment, and that's
                    part of his environment. The&mdash;the religious symbolism,
                    the&mdash;the mythological symbolism, the rest of it is all that he has
                    robbed and reft and stolen, as he read and grew up and
                    listened, and he's still writing in the terms which he knows because it
                    simplifies things.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:38.83:00',
					'endtime','00:15:34.51:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, could you tell me what do you think that Conrad was trying
                    to say or what <span class="unclear tooltip" title="Text was unclear">[he]</span> means to you as an author?</p>
<p><span class="speaker">William Faulkner</span>Yes. What they all mean to me is to&mdash;to write about man in
                    conflict with himself, his own heart, or with his fellows or with his
                    environment. I think that&mdash;that the writer that is trying to deliver
                    some sociological or some topical message is&mdash;is in
                    retrograde toward the second rate, that primarily the writer is writing about
                    people in conflict and the social message is incidental. The social message is
                    part of the environment, which he uses as a tool.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:39.10:00',
					'endtime','00:16:27.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, speaking of symbolism, in your story "That Evening Sun," why did you
                    name that fellow Jesus?</p>
<p><span class="speaker">William Faulkner</span>That was probably a deliberate intent to shock just a little. That's
                    a&mdash;it's a valid name among Negroes in&mdash;in Mississippi. That
                    is, you don't see it too often, but it's&mdash;it's nothing unusual.  It's
                    not uncommon.  But there may have been a little, not so much to shock but to
                    emphasize the point I was making, which was that this&mdash;this Negro woman
                    who had given devotion to the white family knew that when&mdash;when the
                    crisis of her need came, the white family wouldn't be there.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:31.09:00',
					'endtime','00:18:31.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>How serious were you in the preface to <em>Sanctuary</em>
                    when you said that you were writing for&mdash;to the reader instead for
                    yourself as you had in your other books?</p>
<p><span class="speaker">William Faulkner</span>Well, that's a long story. I wrote <em>Sanctuary</em>. I
                    needed money badly at that time, and so I thought of the most horrific story I
                    could and wrote it. I sent it to the publisher, and he said, "Good God, we can't
                    print this. We'd both be in a jail." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And I was
                    glad of it, because by that time, I had got a job and didn't need the money, and
                    I wrote two other books. They were printed, and then one day I got the galley
                    for <em>Sanctuary</em>, and I looked at it, and I didn't need the
                    money by that time, and it was a&mdash;a base, shoddy, shabby job, and so I
                    wrote the publisher to throw the whole thing out, that&mdash;that we
                    wouldn't print it, and he&mdash;he wrote me back that plates had been made.
                    He didn't have much money at that time either. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    He had money invested in this, and something must be done, and I said, "Well,
                    I'll rewrite it then and make it&mdash;do the best I can to make it a&mdash;a
                    decent, honest book." And he said, "Well, all right. I'll agree to that, and I'll
                    pay half the cost of the new plates, and you pay half." So I had to get another
                    job to earn the two hundred and seventy dollars to pay my share of the new
                    plates, and I rewrote the book and did the best I could with it, to make
                    it&mdash;make it an honest book, and I was still ashamed of that first
                    attempt because that was the only time I ever betrayed&mdash;well, call it
                    the muse, you might say, and I was so ashamed of it and when I wrote
                    that&mdash;that preface, I still didn't like the book, and I still am sorry
                    that I wrote the first version of it, and that was the reason for the
                    preface.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:33.57:00',
					'endtime','00:21:20.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>When did you first realize that you wanted to write, sir?</p>
<p><span class="speaker">William Faulkner</span>I think I had scribbled all my life, ever since I learned to read. I
                    wrote poetry when I was a young man, until I found that I&mdash;that it was
                    bad poetry, would never be first rate poetry. And I was&mdash;I was in New
                    Orleans. I&mdash;I worked for a bootlegger. This was in '20&mdash;'21, '22, '23. I ran
                    a launch from New Orleans across Pontchartrain down in the Industrial Canal, out
                    into the Gulf where the schooner from Cuba would bring the raw alcohol and bury
                    it on a sand-spit, and we'd dig it up and bring it back to the bootlegger and&mdash;and 
                    his mother, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> she was&mdash;she was an Italian. She was a nice
                    little old lady, and&mdash;and she was the expert. She would turn it
                    into&mdash;to scotch with a little creosote <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and bourbon. We had the&mdash;the labels, the bottles, everything. It was
                    quite a&mdash;quite a business. And I met Sherwood Anderson. He was living
                    there, and I liked him right off, and we would&mdash;we got along fine
                    together. We would meet in the evenings, in the afternoons.  We'd walk, and he'd
                    talk, and I'd listen. We'd meet in the evenings, and we'd go to a drinking place
                    and we'd sit around till one or two o'clock drinking, and still me listening and
                    him talking. Then in the morning he would be in seclusion working, and the next
                    time I'd see him, the same thing, we would spend the afternoon and evening
                    together, the next morning he'd be working. And I thought then, if that was the
                    life it took to be a writer, that was the life for me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So&mdash;so I wrote a book, and when I started, I found
                    that writing was fun, and I hadn't seen Mr. Anderson in some time, till I met
                    Mrs. Anderson on the street. She said, "We haven't seen you in a long time.
                    What's wrong?" I said, "I'm writing a book." And she said, "Do you want Sherwood
                    to look at it?" And I said, "No'm, it's not finished yet." I hadn't thought of
                    anybody looking at it. It was fun to write the book. And I saw her later, and
                    she said, "I told Sherwood you were writing a book, and he said, 'Good God.'
                    Then he said <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> that he&mdash;he will
                    make a trade with you. If he don't have to read it, he will tell his publisher
                    to take it." I said, "Done." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so that was
                    how my first book got published, and by that time I'd found that writing was
                    fun. I liked it.  That was my cup of tea, and I've been at it ever since and will
                    probably stick at it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:25.07:00',
					'endtime','00:23:07.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what gave you the idea for your short story "Mountain Victory"?</p>
<p><span class="speaker">William Faulkner</span>It&mdash;I believe, as I remember, that came from the&mdash;the
                    idea of the&mdash;let me see. I believe it was the idea of the
                    irreconcilable difference between two men of more or the less the same
                    background, the&mdash;the eastern Tennessee mountain man who was a
                    southerner too, and the&mdash;the descendant of a slave-owning aristocracy to
                    meet in those conditions never to&mdash;to be&mdash;be kin, yet never to touch. In a
                    way, both victims of the war. Probably that's what it came from. I don't
                    remember. I was still writing about people and as I recall, that
                    would&mdash;might've been. I just don't know.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:09.03:00',
					'endtime','00:24:02.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, so much&mdash;so much of your material seems to be connected. Is there
                    any way you determine what is short story material and what is novel
                    material?</p>
<p><span class="speaker">William Faulkner</span>No, the&mdash;the story itself does that. I never know myself which
                    it's going to be. <em>The Sound and the Fury</em> I thought was going to be a short
                    story. I think it would take a much better craftsman than I am, a more trained
                    craftsman, maybe a more literary craftsman to know beforehand what form the
                    material wants to take. I'm simply writing about people that I&mdash;I begin
                    when I can and stop as soon as I can.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:02.62:00',
					'endtime','00:25:46.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>I remember asking you a question the other day about two stories, one
                    called "Two Soldiers," a story that I like very much and some of the people in
                    my class have read, and what I consider a sequel to that story called "The Country
                    Will&mdash;She Shall Survive." I think that's it's it or&mdash;</p>
<p><span class="speaker">William Faulkner</span>Oh, "Shall Not Perish."</p>
<p><span class="speaker">Unidentified participant</span>"Shall Not Perish." That's it. It seems to me that there's a difference
                    between the two stories in a way. The first story I can read over and over
                    again with a great deal of pleasure and interest. The second story seems to me
                    to be something of a dead thing in comparison to the first, and I think you
                    started to tell me the other day when I was speaking of it, the first story had
                    to do with people's character, and the second story really had to do with an
                    idea.</p>
<p><span class="speaker">William Faulkner</span>That's right. The&mdash;the first story had to do with one of the
                    most interesting of all conflicts, all human conflicts. To me,
                    it's&mdash;it's the boy trying to&mdash;to reconcile, to&mdash;to
                    learn in order to accept the adult world he will have to cope with, and I
                    believed more in the story about the&mdash;the little boy and his brother
                    who got drafted than I believed in the&mdash;in the idea that I tried to
                    make into another story, the sequel to it.</p>
<p><span class="speaker">John Coleman</span>Do you feel that's why the second story may not seem as&mdash;</p>
<p><span class="speaker">William Faulkner</span>That's right. That I'm simply not an idea man.</p>
<p><span class="speaker">John Coleman</span>Yes.</p>
<p><span class="speaker">William Faulkner</span><span class="unclear tooltip" title="Text was unclear">[As]</span> I'm not&mdash;not really interested enough in ideas to take even my
                    own too seriously. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:46.91:00',
					'endtime','00:26:46.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, from what viewpoint did you write the&mdash;you write
                    the story from&mdash;I believe it was from <em>These
                        Thirteen</em>&mdash;it was called "Carcassonne" or "Carcassonne"?</p>
<p><span class="speaker">William Faulkner</span>That was&mdash;I was still writing about a&mdash;a young man in
                    conflict with his environment. I&mdash;it seemed to me that&mdash;that
                    fantasy was the best way to tell that story. To have told it in terms
                    of&mdash;of simple realism would have lost something, in my opinion. To use
                    fantasy was&mdash;was the best, and that's a&mdash;a piece that I've
                    always liked because there was&mdash;was the poet again. I&mdash;I
                    wanted to be a poet, and I&mdash;I think of myself now as a failed poet, not
                    as a novelist at all, but a failed poet who had to take up what he could
                    do.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:47.93:00',
					'endtime','00:27:18.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in connection with that, there's an old French poem by the name of
                    "Carcassonne." I forget the author. It has pretty much the general, the same
                    sort of theme. I wonder if that was in your mind at the time.</p>
<p><span class="speaker">William Faulkner</span>I don't know the poem, though if&mdash;if I did know it, and I had
                    needed to steal from it, I'm sure I would. I wouldn't have hesitated. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:20.51:00',
					'endtime','00:29:03.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>What do you mean, Mr. Faulkner, in your story, "All the Dead Pilots,"
                        and I believe a story called "Honor," in which you give
                    the impression that those people who fought in the war, after those experiences
                    of war, will be dead the rest of their lives?</p>
<p><span class="speaker">William Faulkner</span>Well, in a&mdash;in a way they were. That the&mdash;the ones
                    that&mdash;that even continued to live very long were the exceptions, and
                    the one among them that coped with the&mdash;the change of time
                    or&mdash;you can count them on your thumbs almost. Rickenbacker's one, but
                    there are not too many others. Bishop, he finally drank himself to death, died
                    last year, and the others, Victor Yeats didn't live ten years. But then in a way
                    they&mdash;they&mdash;they were dead, they had exhausted themselves psychically,
                    whatever it was, but anyway, they were unfitted for the world that they found
                    afterwards. Not that they rejected, they simply were unfitted.  They had worn
                    themselves out.</p>
<p><span class="speaker">John Coleman</span>You'd restrict that feeling to people who had been in aviation, not with
                    people who had served in other branches of the armed services?</p>
<p><span class="speaker">William Faulkner</span>At that time, yes, because there was more concentration of being
                    frightened of flying then than in infantry or&mdash;or ground troops. You
                    just got&mdash;got scared worse quicker and more often&mdash;</p>
<p><span class="speaker">John Coleman</span>Yes.</p>
<p><span class="speaker">William Faulkner</span>Flying than you did on the ground.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:05.51:00',
					'endtime','00:30:07.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You seem to distinguish between literary men and&mdash;and writing
                    men. I was wondering if you would elaborate on that. Are not the two
                    reconcilable? Cannot they be?</p>
<p><span class="speaker">William Faulkner</span>Yes, I&mdash;I think I said that&mdash;that some writing men are
                    literary men, but I&mdash;I don't think that you have to be a literary man
                    to be a writer. I think that&mdash;that to be a literary man infers a
                    certain amount of&mdash;of, well, even formal education, and there are some
                    writers that have never had formal education. Of course, you can be literary
                    without the formal education, but I've&mdash;I've got to talk in terms of
                    what I know about Faulkner now, you see, and Sherwood Anderson, that we were not
                    literary men in the sense that&mdash;that Edmund Wilson is a literary man or
                    Malcolm Cowley, for instance.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:12.01:00',
					'endtime','00:31:07.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Sorry.</p>
<p><span class="speaker">John Coleman</span>Mr. Faulkner, what short-story writers at the present time do you find
                    interesting people from the point of view of their&mdash;of their stories, something that
                    people might read with profit?</p>
<p><span class="speaker">William Faulkner</span>May I have that again?</p>
<p><span class="speaker">John Coleman</span>What short story writers do you admire at the present time?</p>
<p><span class="speaker">William Faulkner</span>Now, that's a difficult question for me because I think not of writers
                    but of the characters. I remember the characters they wrote about without being
                    able to remember always just&mdash;just who wrote the&mdash;wrote the
                    piece. But when I was a young man, Thomas Beer that I mentioned, he
                    influenced me a lot. Chekhov. <span class="unclear tooltip" title="Text was unclear">[I can't]</span> think of some of the
                    others.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:10.36:00',
					'endtime','00:32:56.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>What about the present writers in your area of the country, a writer like
                    Eudora Welty?</p>
<p><span class="speaker">William Faulkner</span>Well, I think again of&mdash;of the books rather than the
                    writer.</p>
<p><span class="speaker">John Coleman</span>Yes.</p>
<p><span class="speaker">William Faulkner</span>I think of a book of hers called <em>The Robber
                        Bridegroom</em>, which was quite different from any of the other things she
                    has done, which to me was&mdash;was the&mdash;the worthwhile one. I
                    think of&mdash;of stories of&mdash;of Hemingway. I wouldn't say that I
                    like all of Hemingway, but I remember stories of his that&mdash;that haven't
                    been matched in my time, though I can think of&mdash;of people that have
                    written better&mdash;better pages, better paragraphs than Hemingway. I can
                    think of&mdash;of stories of&mdash;of Erskine Caldwell. I have always
                    rated Thomas Wolfe first among my lot because of&mdash;of the failure, the
                    splendor of his failure as compared to the not quite splendor of&mdash;of
                    our failures, but I would never read Wolfe again. It would&mdash;it's still
                    a&mdash;a&mdash;a magnificent failure, but I would never read it again and I remember
                    very little of what I did read from Wolfe, but I remember characters from
                    Hemingway. I remember characters from Caldwell, but not from Wolfe.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:57.74:00',
					'endtime','00:33:40.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Did you want to ask a question, ?</p>
<p><span class="speaker">Unidentified participant</span>What importance do you attach to the titles of your stories and books,
                    and how do you go about selecting them?</p>
<p><span class="speaker">William Faulkner</span>I think a title is extremely important to a book, and I think
                    that&mdash;that a&mdash;a gift for choosing titles is a
                    mark of genius. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that&mdash;that
                    Balzac, the&mdash;the&mdash;the way he chose titles, that was genius, and I've
                    been&mdash;been quite lucky in the titles I've chosen, but some of them have
                    been wrong.  But&mdash;but most of them have been pretty good titles, I
                    think.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:33:42.17:00',
					'endtime','00:34:07.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, when you set out to write a book, do you usually know how
                    you're going to reconcile your characters in the end or how the plot is going to
                    work out or do you let this work itself out for itself as you go along?</p>
<p><span class="speaker">William Faulkner</span>After about the third or fourth page, the characters take charge of that
                    book. They write the rest of it. They just tell me what to put down.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.26">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:34:07.79:00',
					'endtime','00:35:22.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. , you had a question.</p>
<p><span class="speaker">Unidentified participant</span>It was almost the same question, but what happens&mdash;do you ever feel the characters
                         <span class="unclear tooltip" title="Text was unclear">[particularly]</span> one&mdash;do you feel a
                    necessity to give every character .
                    <span class="unclear tooltip" title="Text was unclear">[do you]</span> tell all the truth about that character that you feel
                    needs to be told regardless of whether ?</p>
<p><span class="speaker">William Faulkner</span>No, I think that&mdash;that after about ten books, I had learned
                    enough of&mdash;of judgment to where I could pick and choose
                    the&mdash;the facet of a character which I need at that particular time
                    to move the story I was telling, so that I can&mdash;can take a facet of one
                    character in one story and&mdash;and another facet of that character in
                    another story. To me, it's the same character, though sometimes to the reader
                    it may seem as though the character had changed or had developed
                    more. To me, he hasn't. That I used my editorial prerogative of choosing what I
                    needed from that particular character at that particular time.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.27">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:35:22.88:00',
					'endtime','00:37:03.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>In light of that, when you think about the failure of Thomas Wolfe, do
                    you feel that there is any connection with  the necessity,  the way
                    you feel about how characters ?</p>
<p><span class="speaker">William Faulkner</span>If I understand it right, I'm sure that Wolfe felt the same way that I
                    did about his editorial right to&mdash;to choose what he wanted from the
                    character in order to tell what he was trying to tell. To&mdash;to me, what
                    I mean by the&mdash;the splendor of Wolfe's failure is that&mdash;that
                    every man will&mdash;will live only a short time, his biblical three score
                    and ten. He knows that, that in time, soon, very soon or comparably, he will be
                    gone, finished and done, and his only chance is a very limited
                    one&mdash;limited one in which to&mdash;to express all living or <span class="unclear tooltip" title="Text was unclear">[earth]</span>
                    anguish or hope, aspiration has meant to him is in the short space he will have,
                    and he is in a way trying to&mdash;to write the whole history of the human
                    heart on the head of a pin. He'll have only one shot at it, and that's what I
                    mean by the splendor of Wolfe's failure, that he tried hardest, with the most
                    courage, to put the whole history of man's heart on the head of the pin.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[And that was your ambition&mdash;]</span></p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.28">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:37:02.47:00',
					'endtime','00:38:09.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, how much do you feel that the writer's being involved with
                    people in his writing is dependent upon his being actively involved with real
                    people in the real world?</p>
<p><span class="speaker">William Faulkner</span>I think that has nothing to do with the writing. That he can be involved
                    with people, he can be involved with alcohol, or with gambling or anything, and
                    it's not going to affect the writer. Now, I have no patience, and I don't hold
                    with the mute inglorious Miltons. I think if&mdash;if he's demon-driven with
                    something to be said, then he's going to write it. He can&mdash;can blame
                    his&mdash;the fact that he's not turning out the work on lots of things.
                    I've heard people say, "Well, if I were not married and&mdash;and had
                    children, I would be a writer." I've heard people say, "If I could just stop doing
                    this, I would be a writer." I don't believe that. I think if you're going to
                    write, you're going to write, and nothing will stop you. That you can be
                    involved, and probably the more you're involved, it may be better for you. That
                    maybe it's&mdash;it's bad to&mdash;to crawl off into the ivory tower and
                    stay there, that maybe you do need to be involved, to get the edges beaten off
                    of you a little every day may be good for the writer.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.29">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:38:12.60:00',
					'endtime','00:39:10.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In the story "Red Leaves," the slave escapes from his Indian captors and
                    goes and hides in the swamp and, in order to avert his capture, has the
                    cottonmouth strike him in the arm. Then the Indians come and capture him anyway.
                    And why did this happen in the story? Is this to show that man can't escape his
                    condition or&mdash;?</p>
<p><span class="speaker">William Faulkner</span>No, that was&mdash;the snake episode was to show&mdash;to show
                    that&mdash;that man, when he knows he's going to die, thinks that he can
                    accept death, but he doesn't, he doesn't, really. The Negro at the time,
                    he&mdash;he said I'm already dead, it doesn't matter, the snake can bite me
                    because I'm already dead, but yet at the end, he still wanted to put
                    off&mdash;that&mdash;that man will cling to life, that in a preference
                    between grief and nothing, man will take grief always.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.30">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:39:17.62:00',
					'endtime','00:40:51.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, </p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in the next to last chapter of <em>Light in
                        August</em>, you have the scene where Hightower is considering many things,
                        <span class="unclear tooltip" title="Text was unclear">[his]</span> past life, in particular, and there is the vision
                    that he sees of the dead face of the dead Christmas, and as he sees it,
                        <span class="unclear tooltip" title="Text was unclear">[it]</span> begins struggling trying to resolve itself into a
                    different focus, and while I think I know what that scene means to me, would you care
                    to comment on your meaning there?</p>
<p><span class="speaker">William Faulkner</span>Yes, he was a man of God who had&mdash;had failed always. He,
                    in&mdash;his belief was, that he had failed his wife, that if&mdash;if
                    he had been different, his wife wouldn't have gone bad, that here
                    was&mdash;was a time when a man of courage would've saved this man, and he,
                    the man of God, failed again, and so he resorted into fantasy to dream
                    when&mdash;when some Hightower was brave and gallant and courageous.  That it
                    was escape, that he hated himself.</p>
<p><span class="speaker">Unidentified participant</span>I have often wondered, did you mean in that scene that <span class="unclear tooltip" title="Text was unclear">[he is
                        approaching death]</span>
                    . <span class="unclear tooltip" title="Text was unclear">[Is he suffering]</span> a heart attack there  that he is dying in that chapter?</p>
<p><span class="speaker">William Faulkner</span>No. No, he wished he could die. No, he didn't. He would have to suffer a
                    little longer than that.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.31">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:40:54.18:00',
					'endtime','00:42:58.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Many writers beginning to write, usually in their first work, make one of
                    their characters, usually the hero, an image of himself. Now, I don't find this
                    true in&mdash;in your writings at all. But may I ask you, do you ever find yourself
                    identifying with one of your characters, and have to resist, for instance,
                    someone like Gavin Stevens or just <span class="unclear tooltip" title="Text was unclear">[for the moment say]</span>
                    the&mdash;the old man in the last pages of <em>A Fable</em>
                    who comes out of the crowd?</p>
<p><span class="speaker">William Faulkner</span>I don't know whether anyone could say, any writer could say, just how
                    much he identifies himself with his characters. Quite often the young man will
                    write about himself simply because himself is what he knows best. That he is
                    using himself as the standard of measure, and to simplify things, he writes
                    about himself as&mdash;perhaps as he presumes himself to be, maybe as he hopes himself to
                    be, or maybe as he hates himself for being. Though after that, the
                    more&mdash;the more you write, the&mdash;the more you&mdash;you see
                    you have to write, the more you have learned by writing, and probably you don't
                    really have time to identify yourself with a character, except at certain
                    moments when the character is in a position to&mdash;to express truthfully
                    things which you yourself believe to be true. Then you'll put your own ideas in
                    his mouth, but they&mdash;when you do that, they'll become his. I think that
                    you're not trying to&mdash;to preach through the character, that you're too
                    busy writing about people. It just happens that this man agrees with you on this
                    particular point, and so he says it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.32">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:42:59.62:00',
					'endtime','00:44:33.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you seem to say that a&mdash;a writer should write of
                    the heart, and I'm assuming that also&mdash;this is an
                    assumption&mdash;that you believe that a writer should write from the heart.
                    Now as opposed to writing from the&mdash;of the heart, there's writing of
                    the glands, which you've mentioned before. May a writer successfully write from
                    the glands rather than from the heart?</p>
<p><span class="speaker">William Faulkner</span>He can successfully do it, like&mdash;what's his name? 
                    Spillane? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and the toughs theme.  But it's not&mdash;it's
                    not good writing. It's not worth doing, in my opinion. It's successful, but it
                    ain't worth doing. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&mdash;what I meant, to
                    write from the heart is, it's&mdash;it's the heart that&mdash;that has
                    the&mdash; the desire to be better than man is, the&mdash;the&mdash;the up here
                    can know the&mdash;the distinction between good and evil, but it's the heart
                    that makes you want to be better than you are. That's what I mean by to write it
                    from the heart. That it's the&mdash;the heart that makes you want to be
                    brave when you are afraid that you might be a coward, that wants
                    you&mdash;wants you to be generous, or wants you to&mdash;to be
                    compassionate when you think that maybe you won't. I think that&mdash;that
                    the intellect, it might say, "Well, which is the most profitable? Shall I be
                    compassionate or shall I be uncompassionate? Which is most profitable? Which is
                    the most profitable? Shall I be brave or not?" But the heart wants always to be
                    better than man is.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.33">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:44:36.33:00',
					'endtime','00:44:59.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Was the "Rose for Emily" an idea or a character? Just how did you go
                    about that&mdash;?</p>
<p><span class="speaker">William Faulkner</span>That came from a&mdash;from a picture of the strand of hair on the
                    pillow. It was a ghost story. Simply a picture of a strand of hair on the pillow
                    in the abandoned house.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.34">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:45:00.77:00',
					'endtime','00:46:17.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>Mr. Faulkner, you seem to find the easiest message for writing as a kind
                    of easy first-person with his message or something of that sort. You're always
                    there in your stories, is my hunch.</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">John Coleman</span>That's the easiest, simplest method of doing it.</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">John Coleman</span>Is that how you started out in your first stories, from that point of
                    view?</p>
<p><span class="speaker">William Faulkner</span>No. I was still trying to&mdash;to talk about people in the simplest
                    way I could think of, and I myself probably never did decide, Now shall this be
                    told in the first person or the third person or how. I was simply talking
                    about&mdash;trying to tell about people, trying to create a&mdash;a man
                    which would have the solidity of&mdash;of a living man, that is, would be
                    capable of anguish and&mdash;and courage and compassion or baseness, be
                    human, so that he too would throw a shadow behind him, not a transparency, that
                    the others are just a&mdash;a matter of which tool to use.
                    It's&mdash;it's not&mdash;not too important.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.35">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:46:17.82:00',
					'endtime','00:47:34.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you say you're interested in, and have been throughout your
                    writing, in people rather than ideas. I'm just wondering, as you were saying
                    that, about, for example a book like the <em>Fable</em>, at what
                    point did the allegory&mdash;did you become conscious of it? Obviously you
                    didn't take the idea and impose it, I gather from what you say. What got you
                    into the <em>Fable</em>, what&mdash;what&mdash;</p>
<p><span class="speaker">William Faulkner</span>That was <em>tour de force</em>. It&mdash;the notion occurred to me one day
                    in 1940&mdash;'42, shortly after Pearl Harbor and the beginning of the&mdash;the
                    last great war. Suppose&mdash;who might that unknown soldier be? Suppose that had been
                    Christ again, under that fine big cenotaph with the eternal flame burning on it?
                    That he would naturally have got crucified again, and I had
                        to&mdash;then it became <em>tour de force</em>, because I had to invent enough stuff
                    to carry this notion.</p>
<p><span class="speaker">Unidentified participant</span>You were writing from an idea then?</p>
<p><span class="speaker">William Faulkner</span>That's right, that was an idea, and a hope that&mdash;an unexpressed thought
                    that Christ had appeared twice, had been crucified twice, and maybe we'd have
                    only one more chance.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.36">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:47:35.53:00',
					'endtime','00:48:42.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[As you started]</span>  <span class="unclear tooltip" title="Text was unclear">[had you ever read a book called]</span> 
                        <em>The Paths of Glory</em>?                
                </p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>
                    
                </p>
<p><span class="speaker">William Faulkner</span>Well, that was&mdash;his book, too, was based on an actual instance
                    in the French records. There was a regiment that&mdash;that refused, and
                    also that book, I&mdash;I did use&mdash;when it became <em>tour de force</em>, I
                    had to use all the symbolism I could think of, and I was using the&mdash;the
                    trinity of&mdash;of man's&mdash;of man's spirit, the&mdash;the one,
                    the&mdash;the&mdash;the young British pilot who said, "This is evil. I won't accept it.
                    I will decline the world before I will accept it." The old general who said, "This
                    is evil, but we can bear it." The runner who said, "This is evil, I'm going to do
                    something about it."</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio01_2.37">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio01_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:43.95:00',
					'endtime','00:49:08.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Coleman</span>They have&mdash;anyone have any one more question you want to ask
                    because we'll have to stop pretty soon. We got classes coming on. Anybody want
                    to ask a question? Mr. Faulkner, thank you very much for coming into this
                    classroom. It's been very nice indeed having you. Thank you.</p>
<p><span class="speaker">William Faulkner</span>Thank you, gentlemen. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio01_2.1" class="hidden">Revisions</a></li>
<li><a href="#wfaudio01_2.2" class="hidden">Writing Schedule</a></li>
<li><a href="#wfaudio01_2.3" class="hidden">Style</a></li>
<li><a href="#wfaudio01_2.4" class="hidden">Teaching Writing</a></li>
<li><a href="#wfaudio01_2.5" class="hidden">Conrad's Influence</a></li>
<li><a href="#wfaudio01_2.6" class="hidden">Writer's Limits</a></li>
<li><a href="#wfaudio01_2.7" class="hidden">Telling or Showing</a></li>
<li><a href="#wfaudio01_2.8" class="hidden">Great Writing</a></li>
<li><a href="#wfaudio01_2.9" class="hidden">The Writer's Truth</a></li>
<li><a href="#wfaudio01_2.10" class="hidden">Symbolism</a></li>
<li><a href="#wfaudio01_2.11" class="hidden">Conrad</a></li>
<li><a href="#wfaudio01_2.12" class="hidden">The Character "Jesus"</a></li>
<li><a href="#wfaudio01_2.13" class="hidden">Writing Sanctuary</a></li>
<li><a href="#wfaudio01_2.14" class="hidden">Beginning as a Writer</a></li>
<li><a href="#wfaudio01_2.15" class="hidden">Mountain Victory</a></li>
<li><a href="#wfaudio01_2.16" class="hidden">Story v Novel</a></li>
<li><a href="#wfaudio01_2.17" class="hidden">Characters vs Ideas</a></li>
<li><a href="#wfaudio01_2.18" class="hidden">Carcassone</a></li>
<li><a href="#wfaudio01_2.19" class="hidden">Source for Carcassone</a></li>
<li><a href="#wfaudio01_2.20" class="hidden">World War I Pilots</a></li>
<li><a href="#wfaudio01_2.21" class="hidden">Literary v Writing Men</a></li>
<li><a href="#wfaudio01_2.22" class="hidden">Contemporary Short Stories</a></li>
<li><a href="#wfaudio01_2.23" class="hidden">Eudora Welty</a></li>
<li><a href="#wfaudio01_2.24" class="hidden">Choosing Titles</a></li>
<li><a href="#wfaudio01_2.25" class="hidden">Constructing Plots</a></li>
<li><a href="#wfaudio01_2.26" class="hidden">Creating Characters</a></li>
<li><a href="#wfaudio01_2.27" class="hidden">Wolfe's Failure</a></li>
<li><a href="#wfaudio01_2.28" class="hidden">Writers Write</a></li>
<li><a href="#wfaudio01_2.29" class="hidden">Red Leaves</a></li>
<li><a href="#wfaudio01_2.30" class="hidden">Hightower's Ending</a></li>
<li><a href="#wfaudio01_2.31" class="hidden">Identifying with a Character</a></li>
<li><a href="#wfaudio01_2.32" class="hidden">Heart v Glands</a></li>
<li><a href="#wfaudio01_2.33" class="hidden">A Rose for Emily</a></li>
<li><a href="#wfaudio01_2.34" class="hidden">Point of VIew</a></li>
<li><a href="#wfaudio01_2.35" class="hidden">A Fable</a></li>
<li><a href="#wfaudio01_2.36" class="hidden">A Fable's Symbolism</a></li>
<li><a href="#wfaudio01_2.37" class="hidden">Close</a></li>
</ul></aside>
        
