<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio18_3.1">Light in August</a>
    </li>
    <li>
      <a href="#wfaudio18_3.2">"A Rose for Emily"</a>
    </li>
    <li>
      <a href="#wfaudio18_3.3">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 30 May 1957</h3>
  <h3>OCCASION: Local Public and University Community</h3>
  <h3>TAPE: T-137</h3>
  <h3>LENGTH: 2:29</h3>
</div>
<div id="body">
  <a name="wfaudio18_3.1"/>
  <p><strong>William Faulkner:</strong> <span class="unclear tooltip" title="Text was unclear">[the&#x2014;and]</span> from&#x2014;from Greece, from Olympus in it somewhere. It lasts just for a
                    day or two, then it's gone, but every year in August that occurs in <span class="unclear tooltip" title="Text was unclear">[our
                        country]</span>, and that's all that title meant.  It was just&#x2014;to
                    me a&#x2014;a pleasant, evocative title because it&#x2014;it reminded me
                    of&#x2014;of that time, of a luminosity older than our Christian
                    civilization. Maybe the connection was with Lena Grove who had something of that
                        pagan quality of&#x2014;of being able to&#x2014;to assume everything, the desire
                    for&#x2014;for that child. She was never ashamed of that child, whether it
                    had any father or not. She was simply going to follow the conventional laws of
                    the time in which she was and find its father. But as far as she was concerned,
                    she didn't especially need the father for it, any more than the&#x2014;than
                    the women that&#x2014;on whom Jupiter begot children were anxious for a home
                    and a father. It was enough to have had the child. And that was all that meant,
                        just that luminous, lambent quality of an older light than ours.</p>
  <hr/>
  <a name="wfaudio18_3.2"/>
  <p><strong>Unidentified participant:</strong>Is ""Rose for Emily" all fiction?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir. Yes, sir, that's&#x2014;that's all fiction, for the reason
                    I said, too. If any time a writer writes anything that&#x2014;that seems at
                    all familiar to anybody anywhere, he gets a letter about it, and if they think
                    he got enough money, he's sued, too, so he's awful careful <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> not to write anything he ever saw himself, or
                    anybody ever told him.</p>
  <hr/>
  <a name="wfaudio18_3.3"/>
  <p><strong>Joseph Blotner:</strong>Mr. Faulkner, we're all very grateful to you for coming this
                    afternoon. I want to thank you so much.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
