<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio01_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio01_1.2">That Evening Sun</a>
    </li>
    <li>
      <a href="#wfaudio01_1.3">Finishing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio01_1.4">Character vs Plot</a>
    </li>
    <li>
      <a href="#wfaudio01_1.5">Caddy in the Tree</a>
    </li>
    <li>
      <a href="#wfaudio01_1.6">Telling Caddy's Story</a>
    </li>
    <li>
      <a href="#wfaudio01_1.7">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio01_1.8">Caddy and the Nazis</a>
    </li>
    <li>
      <a href="#wfaudio01_1.9">Truth vs Fact</a>
    </li>
    <li>
      <a href="#wfaudio01_1.10">Quentin and Shadows</a>
    </li>
    <li>
      <a href="#wfaudio01_1.11">Using Symbols</a>
    </li>
    <li>
      <a href="#wfaudio01_1.12">The Bear as Symbol</a>
    </li>
    <li>
      <a href="#wfaudio01_1.13">The Snake as Symbol</a>
    </li>
    <li>
      <a href="#wfaudio01_1.14">First Novel to Read</a>
    </li>
    <li>
      <a href="#wfaudio01_1.15">His Favorite Book</a>
    </li>
    <li>
      <a href="#wfaudio01_1.16">Quentin and His Father</a>
    </li>
    <li>
      <a href="#wfaudio01_1.17">Re-reading His Books</a>
    </li>
    <li>
      <a href="#wfaudio01_1.18">Getting Published</a>
    </li>
    <li>
      <a href="#wfaudio01_1.19">Wolfe and Failure</a>
    </li>
    <li>
      <a href="#wfaudio01_1.20">Hemingway's Old Man</a>
    </li>
    <li>
      <a href="#wfaudio01_1.21">His Favorite Authors</a>
    </li>
    <li>
      <a href="#wfaudio01_1.22">Yoknapatawpha as Saga</a>
    </li>
    <li>
      <a href="#wfaudio01_1.23">A Fable</a>
    </li>
    <li>
      <a href="#wfaudio01_1.24">The Bear, Part Four</a>
    </li>
    <li>
      <a href="#wfaudio01_1.25">Becoming a Writer</a>
    </li>
    <li>
      <a href="#wfaudio01_1.26">A Green Bough</a>
    </li>
    <li>
      <a href="#wfaudio01_1.27">Mankind Will Prevail?</a>
    </li>
    <li>
      <a href="#wfaudio01_1.28">Using Violence</a>
    </li>
    <li>
      <a href="#wfaudio01_1.29">Good and Bad Characters</a>
    </li>
    <li>
      <a href="#wfaudio01_1.30">Who Will Prevail?</a>
    </li>
    <li>
      <a href="#wfaudio01_1.31">Does Man Progress?</a>
    </li>
    <li>
      <a href="#wfaudio01_1.32">The Ferment of History</a>
    </li>
    <li>
      <a href="#wfaudio01_1.33">Threats to Progress</a>
    </li>
    <li>
      <a href="#wfaudio01_1.34">Head or Heart</a>
    </li>
    <li>
      <a href="#wfaudio01_1.35">Sympathy for Caddy</a>
    </li>
    <li>
      <a href="#wfaudio01_1.36">Poker Game in "Was"</a>
    </li>
    <li>
      <a href="#wfaudio01_1.37">The Bear, Part Five</a>
    </li>
    <li>
      <a href="#wfaudio01_1.38">Structure of Wild Palms</a>
    </li>
    <li>
      <a href="#wfaudio01_1.39">Red Leaves</a>
    </li>
    <li>
      <a href="#wfaudio01_1.40">Historical Chickasaws</a>
    </li>
    <li>
      <a href="#wfaudio01_1.41">Vestiges of Chickasaws</a>
    </li>
    <li>
      <a href="#wfaudio01_1.42">Frontier Yoknapatawpha</a>
    </li>
    <li>
      <a href="#wfaudio01_1.43">Narcissa in Two Novels</a>
    </li>
    <li>
      <a href="#wfaudio01_1.44">Picturing the South</a>
    </li>
    <li>
      <a href="#wfaudio01_1.45">Sam Fathers' Death</a>
    </li>
    <li>
      <a href="#wfaudio01_1.46">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio01_1.1"/>
  <p> I'd like for us to introduce this group to Mr.
							Faulkner. People generally in the back, as I see it, are
						dedicated souls who've given up a great deal, maybe even breakfast,  to come
						in here and who are official auditors of this class today, and scattered
						toward the front are the real card-carrying, dues-paying members of a class
						in American fiction, who have a few questions and a few comments, possibly,
						on work we've been doing in the course, which has taken us from the&#x2014;when was
						it&#x2014;the first day that Ikkemotubbe came back from New Orleans, right up
						through the McCaslin and Compson sagas, to the Easter when Dilsey said she'd
						seed the first and the last. And as for introducing Mr. Faulkner to this
						group, it is something that needs not to be done, but I think it might make
						this moment even more historical in our minds if I remind you that there is
						no writer in the world today whose prestige is higher than this gentleman
						from Mississippi. Mr. Faulkner, we will be at ease, and questions may or may
						not come in the next few minutes. 
					</p>
</div>
<div class="section">
  <a name="wfaudio01_1.2"/>
  <p>I know I've got one somewhere, so if I may, I'd like to ask what you
						felt was the relationship between The Sound and the
							Fury and the short story, "That Evening Sun." Did one come before
						the other in some significant way?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.3"/>
  <p>Do you remember any kind of feeling of satisfaction when you finally
						finished The Sound and the Fury? I think most readers
						feel a&#x2014;a great equilibrium at the end there. Do you recall any such feeling
						yourself?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.4"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_1.5"/>
  <p>You have no favorite pattern? It just depends on the individual&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.6"/>
  <p>Mr. Faulkner</p>
</div>
<div class="section">
  <a name="wfaudio01_1.7"/>
  <p>Mr. Faulkner, when you wrote this, did you have it thought out
						beforehand, the whole sequences, or did they sort of evolve as you wrote
						it?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.8"/>
  <p>Speaking of Caddy, is there any way of getting her back from the
						clutches of the Nazis,  where she ends up
						in&#x2014;in the appendix?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.9"/>
  <p>Mr. Faulkner, since we still seem to be discussing The Sound and the Fury, I have a question. In Parts Three and
						Four of The Sound and the Fury, the presentation of
						character is usually clear and convincing. The reader can never forget the
						viciousness of Jason or the amiable simplicity of Luster or the selfishness
						of Caroline. The reader comes to know these people through watching them
						act. At the same time, I shall say for the sake of discussion that the
						action in these two parts occasionally seems contrived. For example, why
						does not Candice solve the problem of getting money to her daughter by
						depositing it in Quentin's name or by sending gifts to Quentin, gifts that
						Jason could not use. Yet the vivid character development and ideas in this
						novel depends upon the action as we have it. Does not this show one of the
						dilemmas of art? That is, the difficulty of showing, at the same time,
						realistic character and action, and since the one must be somewhat
						sacrificed to the other, is not the expression of an idea or the
						presentation of the character more important artistically than the writing
						of realistic actions?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.10"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_1.11"/>
  <p>Mr. Faulkner, on the subject of symbolism, two or three years ago
						Carl Sandburg was asked to interpret one of his works . He  that
						he didn't read the stuff, he just wrote it, all of which in view of the fact
						that too many people, particularly professors, go to this
						extreme on symbolism. Do you think most authors are conscious at the time
						they're doing symbols or using symbols, that&#x2014;are they conscious of
						everything they bring into it, or is this just something
						a good artist automatically does without realizing it?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.12"/>
  <p>Certainly something like "The Bear," you must've felt that the
						bear himself was&#x2014;stood for something more than just a big bear, as&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_1.13"/>
  <p>Sir, what sort of symbol was the snake? We discussed that in both
						"The Bear" and in "Red Leaves."</p>
</div>
<div class="section">
  <a name="wfaudio01_1.14"/>
  <p>Sir, what would you advise a person to read first of yours?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.15"/>
  <p>Would it be fair to ask you what is your favorite of your books?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.16"/>
  <p>Mr. Faulkner, I'd like to ask you about Quentin
							and his father. I think many readers get the
						impression that Quentin is the way he is to a large extent because of his
						father's lack of values or the fact that he doesn't seem to pass down to
						his son many values that will sustain him. Do you think that Quentin winds
						up the way he does primarily because of that, or are we meant to see, would
						you say, that the action comes primarily from what he is, just abetted by
						what he gets from his father?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.17"/>
  <p>Sir, how do you feel about your books after they've gone to press? Do
						you reread them or do you feel that they're cast&#x2014;cast in
							stone?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.18"/>
  <p>Sir, what are some of the problems that a person who is trying to
						publish his first novel would run into? In other words, how may he to his&#x2014;to his 
						best advantage to get his first work in publication?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.19"/>
  <p>Sir, you are reported as having said that you rate writers according
						to what they have attempted rather than what they have achieved. It seems
						that Wolfe and Hemingway and yourself are primarily concerned with the
						conflicts that plague and disturb a man's soul. In&#x2014;in what particular way would
						you say that Wolfe's attempt was greater than that of you or Hemingway?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.20"/>
  <p>Sir, do you rate Hemingway any higher since the publication of his
						last book, The Old Man and the Sea?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.21"/>
  <p>Sir, when you are reading for your own pleasure, which
							authors do you consistently return to?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.22"/>
  <p>Mr. Faulkner, you speak of writing the&#x2014;the one great book, but in your
						own works, you&#x2014;you keep returning to this fictitious county you've made. You
						don't consider that a pageant, the&#x2014;the whole work. It was
						from the Indians through the early settlers&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.23"/>
  <p>Mr. Faulkner, when for a time you left that area to go to France
						in A Fable, it must've appeared perhaps that it 
						was a different aspect to this fundamental truth.</p>
</div>
<div class="section">
  <a name="wfaudio01_1.24"/>
  <p>In "The Bear," Mr. Faulkner, many readers come across Part Four and&#x2014;and 
						find it written in quite a different style than the other parts and the
						conclusion&#x2014;well, it gets far ahead in years beyond Part Five. Was there any
						conscious plan in that?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.25"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio01_1.26"/>
  <p>In what period of development did you write that book of poems, A Green Bough?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.27"/>
  <p>Mr. Faulkner, in your speech at Stockholm you expressed great faith
						in mankind, that you thought man not only was here to prevail because he had
						the capacity for compassion and sacrifice and endurance. Do you think that's the
						impression the average reader would get after reading The
							Sound and the Fury?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.28"/>
  <p>Sir, why do you use violence so often in trying to arrive at this
						truth?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.29"/>
  <p>Sir, Hawthorne seemed to have found trouble in creating good
						characters, whereas his more or less bad characters stand out as&#x2014;as
							works of art. Do you think that is a problem with
						all writers, that it's harder to create a&#x2014;a good character than a&#x2014;than an evil
						one?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.30"/>
  <p>Mr. Faulkner, when you say man will prevail, do you mean individual
						man has prevailed or group man has prevailed?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.31"/>
  <p>Well, sir, if you&#x2014;if you seem to have this belief 
							in in that  you say the ultimate goodness of man, that
						he will come through in spite of all. How&#x2014;how do you explain sort of the mass
						brutality, the things we practice on each other, the horrible things that
						take place in the lines of religion or our
						politics?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.32"/>
  <p>You don't feel that mass manipulation by fanatics along ideological
						or political lines will negate all this?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.33"/>
  <p>Do you think that man will prevail against destroying himself or
						 force of nature?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.34"/>
  <p>Mr. Faulkner, what do you think is man's most important tool? Is it
						the mind or the heart as far as the human goes? Do we
						feel this or do we think think our way through it?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.35"/>
  <p>Mr. Faulkner, I've been very much interested in what it seems to me
						you did&#x2014;maybe you didn't&#x2014;in The Sound and the Fury,
						in the character of Caddy. To me she is a very sympathetic character and
						perhaps the most sympathetic white woman in the book, and yet we get
						pictures of her only through someone else's comments, and most of these
						comments are quite hostile and&#x2014;and wouldn't lead you to
						admire her on the surface, and yet&#x2014;and yet I do. Did you mean for us to have
						this feeling about Caddy, and if so, how did you go about reducing it by 
						these negative pictures that we get of her?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.36"/>
  <p>Mr. Faulkner, we've got a poker player over here, Mr. Jordan, who's
						holding back on a question that I'm dying to hear the answer to.</p>
</div>
<div class="section">
  <a name="wfaudio01_1.37"/>
  <p>I have another question about "The Bear." In the final scene of "The
						Bear," Boon is sitting under the tree with the squirrels, doing something
						with his shotgun, and it's not clear to me whether he is taking his
						shot&#x2014;destroying his shotgun or trying to put it back together.</p>
</div>
<div class="section">
  <a name="wfaudio01_1.38"/>
  <p>Mr. Faulkner, did you conceive of "The Wild Palms" and "The Old Man"
						as a single story. I had&#x2014;had an enormous amount of trouble trying to link
						the two stories together.</p>
</div>
<div class="section">
  <a name="wfaudio01_1.39"/>
  <p>May I ask a couple of questions about the early Indian stories, about
						"Red Leaves"? Did Doom, in your mind, did he wreck the steamboat and maybe
						kill this man David Callicoat, whose name he took? Did he have some notion
						of getting that steamboat eventually, which he finally had transported
						twelve miles inland?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.40"/>
  <p>Were these Chickasaws ever known to be cannibals? There's some
						mention of how human flesh may have tasted between two of them once.</p>
</div>
<div class="section">
  <a name="wfaudio01_1.41"/>
  <p>Do they exist just in memory now&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.42"/>
  <p>Is it a question, Mr. Faulkner, of if there were
						Indians at one time in this area?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.43"/>
  <p>Sir, I'm curious about the occasional changes in personality that
						some of your characters undergo between novels. For instance, Narcissa
						Benbow is fairly sympathetic in Sartoris, but by
							the time you write
						Sanctuary she's vicious. How do you account for
						this?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.44"/>
  <p>Sir, to what extent are you&#x2014;were you trying to picture the South or
						southern civilization as a whole, rather than just Mississippi, or were
						you?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.45"/>
  <p>In "The Bear," Mr. Faulkner, once again, 
						the&#x2014;the end of Part Three, Sam Fathers has died. Does he die in his own
						little cabin or does he ask Boon Hogganbeck and Ike to take him out and
						expose him on the four-cornered platform?</p>
</div>
<div class="section">
  <a name="wfaudio01_1.46"/>
  <p>Is there another pressing question to bring forth at this time? Well,
						thank you very much, Mr. Faulkner on this occasion. We know it's the first
						of a number, and we look forward to the repetition.</p>
</div>
