<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio22_1">Reading</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio22_1"/>
  <p>
					It was jest dust-dark when I seen him, about half a
						quarter up the river, swimming, jest his head above the water. But I could
						see that rocking chair he toted on it and I knowed it was him, going right
						back to that canebrake in the fork of the bayou where he lived all year
						until the day before the season opened, like the game wardens had give him a
						calendar, when he would clear out and disappear, nobody knowed where, until
						the day after the season closed. But here he was, coming back a day ahead of
						time, like maybe he had gotten mixed up and was using last year's calendar by
						mistake. Which was jest too bad for him, because me and Mister Ernest would
						be setting on the horse right over him when the sun rose tomorrow morning.
						So we et supper and fed the dogs, and then I holp Mister Ernest in the poker
						game, standing behind his chair until about ten o'clock, when Roth Edmonds
						said, "Why don't you go to bed, boy?"
						"Or if you're going to set up," Willy Legate said, "why
						don't you take a spelling book to set up over? . . . He knows every cuss
						word in the dictionary, every poker hand in the deck and every whisky label
						in the distillery, but he can't even write his name. . . . Can you?" he says
						to me.
						"I don't need to write my name down," I said. "I can remember in my
						mind who I am."
						"You're twelve years old," Walter Ewell said. "Man to man
						now, how many days in your life did you ever spend in school?"
						"He ain't got
						time to go to school," Willy Legate said. "What's the use in going to school
						from September to middle of November, when he'll have to quit then to come
						in here and do Ernest's hearing for him? And what's the use in going back to
						school in January, when in jest eleven months it will be November fifteenth
						again and he'll have to start all over telling Ernest which way the dogs
						went?"
						"Well, stop looking into my hand, anyway," Roth Edmonds said.
						"What's
						that? What's that?" Mister Ernest said. He wore his listening button in his
						ear all the time, but he never brought the battery to camp with him because
						the cord would of bound to get snagged ever time we run through a thicket.
						In fact the only time he ever admitted he couldn't hear was when we'd be
						sitting on the horse waiting for me to tell him which way the dogs
						went.
						Then it was morning. We et, and set the stand-holder across
						for Uncle Ike McCaslin to put them on the stands where he thought they ought
						to be, because he was the oldest man in the camp. He had been hunting deer
						in these woods for about a hundred years, I reckon, and if anybody would
						know where a buck would pass, it would be him. Maybe with a big old buck
						like this one, that had been running the woods for what would amount to a
						hundred years in a deer's life, too, him and Uncle Buck&#x2014;Uncle Ike would sholy manage to
						be at the same place at the same time this morning&#x2014;provided, of course, he
						managed to git away from me and Mister Ernest on the jump. Because me and
						Mister Ernest was going to git him.
						And sho enough, as soon as we come to
						the bayou we seen his foot in the mud where he had come up out of the river
						last night, spread in the soft mud like a cow's foot, big as a cow's, big as
						a mule's, with Eagle and the other dogs laying into the leash rope now until
						Mister Ernest told me to jump down and help Simon hold them. Because me and
						Mister Ernest knowed exactly where he would be&#x2014;a little canebrake island in
						the middle of the bayou, where he could lay up until whatever doe or little
						deer the dogs had happened to jump could go up or down the bayou in either
						direction and take the dogs on away, so he could steal out and creep back
						down the bayou to the river and swim it, and leave the country like he
						always done the day the season opened.
						Which is jest what we never aimed for him to do this
						time. So we left Roth on his horse to cut him off and turn him over Uncle
						Ike's standers if he tried to slip back down the bayou, and me and Simon,
						with the leashed dogs, walked on up the bayou until Mister Ernest on the
						horse said it was fur enough; then turned up into the woods about half a
						quarter above the brake because the wind was going to be south this morning
						when it riz, and turned down toward the brake, and Mister Ernest give the
						word to cast them, and we slipped the leash and Mister Ernest give me the
						stirrup again and I got up.
						Old Eagle had done already took off because he
						knowed where that old son of a gun would be laying as good as we did, not
						making no racket atall yet, but jest boring on through the buck vines with
						the other dogs trailing along behind him, and even Dan seemed to know about
						that buck, too, beginning to souple up and jump a little through the vines,
						so that I taken my holt on Mister Ernest's belt already before the time had
						come for Mister Ernest to touch him. Because when we got strung out, going
						fast behind a deer, I wasn't on Dan's back much of the time nohow, but
						mostly jest strung out from my holt on Mister Ernest's belt, so that Willy
						Legate said that when we was going through the woods fast, it looked like
						Mister Ernest had a boy-size pair of empty overhalls blowing out of his hind
						pocket.
						So it wasn't even a strike, it was a jump. Eagle must
						'a' walked right up behind him or maybe even stepped on him while he was
						laying there still thinking it was day after tomorrow. Eagle jest throwed
						his head back and up and said, "There he goes," and we even heard the buck
						crashing through the first of the cane. Then all the other dogs was
						hollering behind him, and Dan give a squat to jump, but it was against the
						curb this time, not jest the snaffle, and Mister Ernest let him down into
						the bayou and swung him around the brake and up the other bank. Only he
						never had to say, "Which way?" because I was already pointing past his
						shoulder, freshening my holt on the belt jest as Mister Ernest touched Dan
						with that big old rusty spur on his nigh heel, because when Dan felt like it he
						could go off jest like a stick of dynamite, straight through whatever he
						could bust and over or under what he couldn't.
						The dogs was already 
						out of hearing. Eagle must 'a' been looking right up that big son of a gun's
						tail until he finally decided he better git  out of there. And now they
						must 'a' been getting pretty close to Uncle Ike's standers, and Mister
						Ernest reined Dan back and held him, squatting and bouncing and trembling
						like a mule having his tail roached, until we listened for the shots. But
						never none come, and I hollered to Mister Ernest we better go on while I
						could still hear the dogs, and he let Dan off, but still there wasn't no
						shots, and now we knowed the race had done already passed the standers; and
						we busted out of a thicket, and sho enough there was Uncle Ike and Willy
						standing beside his foot in a soft patch.
						"He got through us all," Uncle Ike
						said. "I don't know how he done it. I just had a glimpse of him. He looked
						big, big as a elephant, with a rack on his head you could cradle a yellin'
						calf in. He went right on down the ridge. You better get on, too; that Hog
						Bayou camp might not miss him."
						So I freshened my holt and Mister Ernest touched Dan
						again. The ridge run due south; it was clear of vines and bushes so we could
						go fast, into the wind, too, because it had riz now, and now the sun was up
						too. So we could hear the dogs again any time now as the wind got up; we
						could even make time now, but still holding Dan to a canter, because it
						was either going to be quick, when he got down to the standers from that Hog
						Bayou camp eight miles below ourn, or a long time, in case he got by them
						too. And sho enough, after a while we heard the dogs; we was walking Dan now
						to let him blow a while, and we heard them, the sound coming faint up the
						wind, not running now, but trailing because the big son of a gun had decided
						a good piece back, probably, to put a end to all the foolishness, and picked
						hisself up and soupled out and put about a mile between hisself and the
						dogs&#x2014;until he run up on them other standers from that camp below. I could
						almost see him stopped behind a bush, peeping out and saying, "What's this?
						What's this? Is this whole durn country full of folks this morning?" Then
						he looked back over his shoulder at where old Eagle and the others was
						hollering along after him while he decided how much time he had to decide
						what to do next.
						We was in strange country now because we never had to run
						this fur before, we had always killed before now; now we had come to Hog
						Bayou that runs into the river a good fifteen miles below our camp. It had
						water in it, not to mention a mess of down trees and logs and such, and
						Mister Ernest checked Dan again, saying, "Which way?" I could just barely
						hear them, off to the east a little, like the old son of a gun had give up
						the idea of Vicksburg or New Orleans, like he first seemed to have, and had
						decided to have a look at Alabama; so I pointed and we turned up the bayou
						hunting for a crossing, and maybe we could 'a' found one, except that I
						reckon Mister Ernest decided we never had time to wait.
						We come to a place
						where the bayou had narrowed down to about twelve or fifteen feet, and
						Mister Ernest said, "Look out, I'm going to touch him" and done
						it.
						I didn't even have time to freshen my holt when we was
						already in the air, and then I seen the vine&#x2014;it was a loop of grapevine nigh
						as big as my wrist, looping down right across the middle of the bayou&#x2014;and I
						thought Mister Ernest seen it, too, and was jest waiting to grab it and
						fling it up over our heads to go under it, and I know Dan seen it because he
						even ducked his head to jump under it. But Mister Ernest never seen it atall
						until it skun back along Dan's neck and hooked under the head of the saddle
						horn, us flying on through the air, the loop of the vine gitting tighter and
						tighter until something somewhere was going to have to give. It was the
						saddle girth. It broke, and Dan going on and scrabbling up the other bank
						bare nekkid except for the bridle, and me and Mister Ernest and the saddle,
						Mister Ernest still setting in the saddle holding the gun, and me still
						holding onto Mister Ernest's belt, hanging in the air over the bayou in the
						tightened loop of that vine like in the drawed-back loop of a big
						rubber-banded slingshot, until it snapped back and shot us back across the
						bayou and flang us clear, me still holding onto Mister Ernest's belt and on
						the bottom now, so that when we lit I would 'a' had Mister Ernest and the
						saddle both on top of me if I hadn't clumb fast around the saddle and up
						Mister Ernest's side, so that when we landed, it was the saddle first, then
						Mister Ernest, and me on top, until I jumped up, and Mister Ernest still
						laying there with jest the white rim of his eyes showing.
						"Mister Ernest!" I hollered, and then clumb down to the
						bayou and scooped my cap full of water and clumb back and throwed it in his
						face, and he opened his eyes and laid there on the saddle cussing me.
						"God
						dawg it," he said, "why didn't you stay behind where you started out?"
						"You
						was the biggest!" I said. "You would 'a' mashed me flat!"  
						
						"What do you think you done to me?" Mister
						Ernest said. "Next time, if you can't stay where you start out, jump clear.
						Don't climb up on top of me no more. You hear?"
						"Yes, sir," I said.  
						
						So we caught Dan and got up and went on.
						Then we seen him for the first time. We was out of the cut-over now; we
						coulda even 'a' cantered, except that all three of us was long past that. So
						we was walking, too, when we come on the dogs&#x2014; the puppies and one of the
						old ones&#x2014;played out, laying in a little wet swag, panting, jest looking up
						at us when we passed. Then we come to a long open glade, and we seen the
						three other old dogs and about a hundred yards ahead of them Eagle, all
						walking, not making no sound; and then suddenly, at the fur end of the
						glade, the buck hisself getting up from where he had been resting for the
						dogs to come up, getting up without no hurry, big, big as a mule, tall as a
						mule, and turned, and the white underside of his tail for a second or two
						 before the thicket taken him.
						It might 'a' been a signal, a good-by, a farewell.
						Still walking, we passed the other three old dogs in the middle of the
						glade, laying down, too; and still that hundred yards ahead of them, Eagle,
						too, not laying down, because he was still on his feet, but his legs was
						spraddled and his head was down; maybe jest waiting until we was out of
						sight of his shame, his eyes saying plain as talk when we passed, "I'm
						sorry, boys, but this here is all."
						Mister Ernest stopped Dan. "Jump down
						and look at his feet," he said.
						"Nothing wrong with his feet," I said. "It's
						his wind has done give out."
						"Jump down and look at his feet," Mister Ernest
						said.
						So I done it, and while I was stooping over Eagle I could hear the
						pump gun go, "Snick-cluck. Snick-cluck. Snick-cluck" three times, except
						that I never thought nothing then. Maybe he was jest running the shells
						through to be sho it would work when we seen him again or maybe to make sho
						they was all buckshot. Then I got up again, and we went on, still walking; a
						little west of north now, because when we seen his white flag that second or
						two before the thicket hid it, it was on a beeline for that notch in the
						bayou. And it was evening, too, now. The wind had done dropped and there was
						a edge in the air and the sun jest touched the tops of the trees. And he was
						taking the easiest way, too, now, going straight as he could. When we seen
						his foot in the soft places he was running for a while at first after his
						rest. But soon he was walking, too, like he knowed, too, where Eagle and the
						dogs was.
						And then we seen him again. It was the last time&#x2014;a
						thicket, with the sun coming through a hole onto it like a searchlight. He
						crashed jest once; then he was standing there broadside to us, not twenty
						yards away, big as a statue and red as gold in the sun, and the sun sparking
						on the tips of his horns&#x2014;they was twelve of them &#x2014;so he looked like he
						had twelve lighted candles branched around his head, standing there looking
						at us while Mister Ernest raised the gun and aimed at his neck, and the gun
						went, "Click. Snick-cluck. Click. Snick-cluck. Click. Snick-cluck" three
						times, and Mister Ernest still holding the gun aimed while the buck turned
						and give us just one long bound, the white underside of his tail like a blaze of
						fire, too, until the thicket and the shadows put it out; and Mister Ernest
						laid the gun down slow and gentle back across the saddle in front of him,
						saying quiet and peaceful, and not much louder than jest breathing, "God
						dawg. God dawg."  
						Then he jogged me with his elbow and we got down, easy and
						careful because of that ere cinch strop, and he reached into his vest and
						taken out one of the cigars. It was busted where I had fell on it, I reckon,
						when we hit the ground. He throwed it away and taken out the other one. It
						was busted, too, so he bit off a hunk of it to chew and throwed the rest
						away. And now the sun was gone even from the tops of the trees and there
						wasn't nothing left but a big&#x2014;big red glare in the west. "Don't worry," I said.
						"I ain't going to tell them you forgot to load your gun. For that matter,
						they don't need to know we even seed him."
						"Much oblige," Mister Ernest
						said. There wasn't going to be no moon tonight neither, so he taken the
						compass off the whang leather loop in his buttonhole and handed me the gun
						and set the compass on a stump and stepped back and looked at it. "Jest
						about the way we're headed now," he said, and taken the gun from me and
						opened it and put one shell in the britch and taken up the compass, and I
						taken Dan's reins and we started, with him in front with the compass in his
						hand.
						Then it was morning, tomorrow; it was all over now
						until next November, next year, and we could come back. Uncle Ike and Willy
						and Walter and Roth and the rest of them had come in yestiddy, soon as Eagle
						taken the buck out of hearing and they knowed that deer was gone, to pack up
						and be ready to leave this morning for Yoknapatawpha, where they lived,
						until it would be November again and they could come back.
						So, as soon as we
						et breakfast, Simon run them back up the river in the big boat to where they
						left their cars and pickups, and now it wasn't nobody but jest me and Mister
						Ernest setting on the bench against the kitchen wall in the sun; Mister
						Ernest smoking a cigar &#x2014;a whole one this time that Dan hadn't had no chance
						to jump him through a grapevine and bust. He hadn't washed his face neither
						when&#x2014;where that vine had throwed him into the mud. But that was all right, too;
						his face usually did have a smudge of mud or tractor grease or beard stubble
						on it, because he wasn't jest a planter; he was a farmer, he worked as hard
						as ara one of his hands and tenants&#x2014;which is why I knowed from the very
						first that we would git along, that I wouldn't have no trouble with him and
						he wouldn't have no trouble with me, from that very first day when I woke up
						and maw had done gone off with that Vicksburg road-house feller without even
						waiting to cook breakfast, and the next morning pap was gone, too, and it
						was almost night and the next day when I heard a horse coming up and I taken
						the gun that I had already throwed a shell into the britch when pap never
						come home last night, and stood in the door while Mister Ernest rid up and
						said, "Come on. Your paw ain't coming back neither."
						"You mean he give me to
						you?" I said.
						"Who cares?" he said. "Come on. I brought a lock for the door.
						We'll send the pickup back tomorrow for whatever you want."
						So I come home with him and it was all right, it was
						jest fine&#x2014; his wife had died about three years ago&#x2014;without no women to worry
						us or take off in the middle of the night with a durn Vicksburg roadhouse
						jake without even waiting to cook breakfast. And we would go home this
						afternoon, too, but not jest yet; we always stayed one more day after the
						others left because Uncle Ike always left what grub they hadn't et, and the
						rest of the homemade corn whisky he drunk and that town whisky of Roth
						Edmondziz he called Scotch that smelled like it come out of a old bucket of
						roof paint; setting in the sun for one more day before we went back home to
						git ready to put in next year's crop of cotton and oats and beans and hay;
						and across the river yonder, behind the wall of trees where the big woods
						started, that old buck laying up in&#x2014;up today in the sun, too&#x2014;resting today, too,
						without nobody to bother him until next November.
						So at least one of us was
						glad it would be eleven months and two weeks before he would have to run
						that fur that fast again. So he was glad of the very same thing we was sorry
						of, and so all of a sudden I thought how maybe planting and working
						and then harvesting oats and cotton and beans and hay wasn't jest something
						me and Mister Ernest done three hundred and fifty-one days to fill in the
						time until we could come back hunting again, but it was something we had to
						do, to do honest and good during the three hundred and fifty-one days, to
						have the right to come back into the big woods and hunt for the other
						fourteen; and the fourteen days that the old buck run in front of dogs wasn't
						jest something to fill his time until the three hundred and fifty-one when
						he didn't have to, but the running and the risking in front of the guns and dogs
						was something he had to do for fourteen days to have the right not to be
						bothered for the other three hundred and fifty-one. And so all the hunting
						and the farming wasn't two different things at all&#x2014; they was jest the other
						side of each other.
						"Yes," I said. "All we got to do now is put in that next
						year's crop. Then November won't be no time away."
						"You ain't going to put
						in the crop next year," Mister Ernest said. "You're going to school."
						So at
						first I didn't even believe I had heard him. "What?" I said. "Me? Go to
						school?"
						"Yes," Mister Ernest said. "You must take&#x2014;make something out of
						yourself."
						"I am," I said. "I'm doing it now. I'm going to be a hunter and a
						farmer like you."
						"No," Mister Ernest said. "That ain't enough any more.
						Time was when all a man had to do was just farm eleven and a half months,
						and hunt the other half. But not now. Now just to belong to the farming
						business and the hunting business ain't enough. You got to belong to the
						business of mankind."
						"Mankind?" I said.
						"Yes," Mister Ernest said. "So
						you're going to school. Because you got to know why. You can belong to the
						farming and hunting business and you can learn the difference between what's
						right and what's wrong, and do right. And that used to be enough&#x2014;just to do
						right. But not now. You got to know why it's right and why it's wrong, and
						be able to tell the folks that never had no chance to learn it; teach them
						how to do what's right, not just because they know it's right, but because
						they know now why it's right because you just showed them, told them, taught
						them why. So you're going to school."
						"It's because you been listening to that durn Will
						Legate and Walter Ewell!" I said.
						"No," Mister Ernest said.
						"Yes!" I said.  "No wonder you missed that buck yestiddy, taking ideas from the very fellers
						that let him git away, after me and you had run Dan and the dogs durn nigh
						clean to death! Because you never even missed him! You never&#x2014;you never forgot to load
						that gun! You had done already&#x2014;you had done already unloaded it a purpose! I heard you!"
						"All
						right, all right," Mister Ernest said. "Which would you rather have? His
						bloody head and hide on the kitchen floor yonder and half his meat in a
						pickup truck on the way to Yoknapatawpha County, or him with his head and
						hide and meat still together over yonder in that brake, waiting for next
						November for us to run him again?" "And git him, too," I said. "We won't
						even fool with no Willy Legate and Walter Ewell next time." "Maybe," Mister
						Ernest said.
						"Yes," I said.
						"Maybe," Mister Ernest said. "The best word in
						our language, the best of all. That's what mankind keeps going on: Maybe.
						The best days of his life ain't the ones when he said 'Yes' beforehand:
						they're the ones when all he knew to say was 'Maybe.' He can't say 'Yes'
						until afterward because he not only don't know it until then, he don't want
						to know 'Yes' until then. . . . Step in the kitchen and make me a toddy.
						Then we'll see about dinner."
						"All right," I said. I got up. "You want some
						of Uncle Ike's corn or that town whisky of Roth Edmondziz?"
						"Can't you say
						Mister Roth or Mister Edmonds?" Mister Ernest said.
						"Yes, sir," I said.
						"Well, which do you want? Uncle Ike's corn or that ere stuff of Roth
						Edmondziz?" 
					
					</p>
</div>
