
            <section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 28 April 1958</h4>
<h4>OCCASION: First-Year English Class</h4>
<h4>TAPE: T-142c</h4>
<h4>LENGTH: 31:56</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio24_1.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.07:00',
					'endtime','00:00:08.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> That's the significance of it.</p>
<p><div class="speaker">Unidentified participant</div>Yes, sir.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:14.45:00',
					'endtime','00:00:19.83:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Irby Cauthen</div>Perhaps some of the others of you have a question now
                    about <em>The Unvanquished</em> or <em>Sartoris</em>?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:21.79:00',
					'endtime','00:02:19.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, I'd like to know what you consider the significance of the sprig of
                    verbena from&mdash;<span class="unclear tooltip" title="Text was unclear">[on young Bayard's pillow in]</span> <em>The Unvanquished</em>
                    at the end of the book.</p>
<p><div class="speaker">William Faulkner</div>That, too&mdash;that young man was the&mdash;it signified his
                    stepmother, who was also a young woman, who believed in the qualities which his
                    background, his tradition had taught him to believe a man should have to be
                    brave, to never brook an injury nor an insult. He had associated verbena with
                    her because she had said that was part of his awareness of her, that that was
                    the only flower she liked because that was one that smelled stronger than
                    courage and horses. She had assumed that after his father'd been killed, he
                    would take the pistols and go and&mdash;and kill his father's killer. He decided that
                    there'd been enough killing, but he couldn't run, so he went unarmed and faced
                    the man who had killed his father, and so he won the moral victory, which took
                    courage, too, and though his stepmother couldn't condone the fact that he had
                    not drawn blood for blood, an eye for an eye, she did realize that that took courage,
                    too, maybe more than to have gone armed.  And that was her way of
                    saying, "This is not my&mdash;my way of solving this, but what you did was
                    brave, too, and this is the way I'll say goodbye," so she left a sprig of
                    verbena where he could find it. That was&mdash;took the place of the note
                    she might have written him. She wasn't the sort to have written a
                        note.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:24.50:00',
					'endtime','00:03:25.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Why did you draw up this young Negro boy Ringo to be the smarter of the
                    two?</p>
<p><div class="speaker">William Faulkner</div>That was because&mdash;that's something that I think I have seen in
                    his race. That is, not all of his race are that smart and&mdash;and that
                    clever, but the ones that are smart and clever have never had a chance to
                    because of the condition in which the white man wants to hold the Negro. This
                    one, he had freedom. He had the same background, environment that the white
                    boy had, and so he had a chance for what genius, what talent he had,
                    to&mdash;to flower without being challenged. That won't happen
                    with&mdash;with any Negro, just like it won't happen with any white boy, but
                    occasionally there would be the Negro, I think, with talent and capacity to be
                    clever if he had the chance to.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:34.45:00',
					'endtime','00:05:17.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Were there&mdash;I am sure there must have been a number of
                    Confederate veterans around when you were growing up as a boy. Did you talk to
                    them, hear their reminiscences and&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Yes. I remember a&mdash;a lot of them. I was five, six, seven years old around
                    1904, 5, 6 and 7, old enough to&mdash;to understand, to listen. They didn't
                    talk so much about that war. I had got that from the&mdash;from the maiden,
                    spinster aunts which had never surrendered. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    But I can remember the&mdash;the old men, and they would get out the old,
                    shabby, grey uniforms and get out the old battle flag on Decoration, Memorial
                    Day. Yes, I remember any number of them. But it was the&mdash;the aunts, the
                    women, that had never given up. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&mdash;my
                    aunt, she liked to go to picture shows. They had <em>Gone with the
                        Wind</em> in the theatre at home, and she went to see it, and as soon as
                    Sherman came on the screen, she got up and left. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                        She had paid good money to go there, but she wasn't going to sit and look at
                    Sherman. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:22.44:00',
					'endtime','00:06:42.77:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Mr. Faulkner, at&mdash;toward the end of <em>The
                        Unvanquished</em>, Aunt Jenny tells Bayard about a blockade runner she knew
                    who used to have the toast "No bloody moon." Was that so that he could get
                    through the&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, yes.  That's right.</p>
<p><div class="speaker">Unidentified participant</div>&mdash;ships undetected. And she passes it on to Bayard as kind of a
                    good luck thing, no doubt?</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
<p><div class="speaker">Unidentified participant</div>Well, why does he say it to George Wyatt the next day? I wonder. He meets
                    him downtown and is supposed to avenge his father. Is he just being
                    humorous?</p>
<p><div class="speaker">William Faulkner</div>No, by that time, in his concept, that had begun&mdash;had become
                    a&mdash;a gesture of&mdash;of well-wishing. It's almost like "Here's
                    hoping" or&mdash;or "May you have an ace in the hole," that
                    sort of thing. It had no connection any more with moonlight, just a way
                    of&mdash;of saying, "May you&mdash;may you win this gambit." "May there
                    be nothing&mdash;may the gods be good to you."
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:50.07:00',
					'endtime','00:07:38.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, how deep was Ab Snopes into Grumby's business, and what
                    jobs do you think he did for Grumby?</p>
<p><div class="speaker">William Faulkner</div>Probably not very deep. He was a hanger-on. He was sort of a jackal.
                    Grumby in a way was a&mdash;was a lion. He was a&mdash;a shabby, sorry
                    lion, but Ab Snopes was never anything but a jackal, and I imagine that Grumby
                    would have had little patience with&mdash;with Ab Snopes. Ab Snopes hung
                    around the outskirts of the kill to get what scraps might be left. But nobody
                    would have depended on Ab Snopes because Ab probably wouldn't have stuck,
                    wouldn't have held together, when the pinch came.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:51.18:00',
					'endtime','00:08:58.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>What is the <span class="unclear tooltip" title="Text was unclear">[significance]</span> of the Snopes in this book and his relationship to the
                    Benbow girl, in <em>Sartoris</em>?  <span class="unclear tooltip" title="Text was unclear">[Do you remember?]</span></p>
<p><div class="speaker">William Faulkner</div>Snopes was clerk in the bank at that time. He saw that girl on the
                    street, and he began to write her letters&mdash;letters, probably anonymous
                    letters, containing indecent proposals.</p>
<p><div class="speaker">Unidentified participant</div>Was there any special significance that that was 
                    supposed to illustrate ?</p>
<p><div class="speaker">William Faulkner</div>Well, only to illustrate that&mdash;that there was not any sort of
                    shoddiness and sorriness and baseness that some Snopes wasn't capable 
                    of. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Not all of them would be capable of all baseness,
                    but any baseness you could think of, there would always be a&mdash;one
                    Snopes's footprint there. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:01.13:00',
					'endtime','00:13:01.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I'd like to know exactly what the train signified, since the white boy
                    had&mdash;had seen the train and <span class="unclear tooltip" title="Text was unclear">[the colored one hadn't]</span>. It meant the old train out may have been
                    ruined by the Yankees. Was that supposed to be some significant thing ruined by
                    the white people themselves?</p>
<p><div class="speaker">William Faulkner</div>No, only that the white boy had told the nigger boy about trains, and
                    the nigger boy had never seen one, and he wanted to see one, too. It was just
                    unlucky that the time the Negro boy got to see the train it&mdash;it
                    couldn't have been running fast and fine and free. It was involved in war and
                    destruction at that time, that the Negro boy didn't get to see the splendid,
                    gallant train which white boy had seen in peacetime. I think there was no
                    significance to the fact that the Negro boy had to see a&mdash;a ruined
                    train, but only that he was unlucky in that he couldn't see that at a better
                    time, but the fact that&mdash;that he&mdash;that's his own cleverness to
                    cope with&mdash;with his condition, his environment, that even
                    a train that might not have been as fine and beautiful as the one the white boy
                    saw, but he had seen a train, too, and the Negro boy could probably
                    have imagined what that train would look like if it hadn't been in war. The
                    white boy might not have been able to.</p>
<p><div class="speaker">Unidentified participant</div>Well, I was wondering if you had meant any significance concerning
                    freedom, any&mdash;any tangible thing?</p>
<p><div class="speaker">William Faulkner</div>No, that's the sort of symbolism which&mdash;which the reader must
                    bring to&mdash;to any&mdash;anything he reads. I mean must. He can't
                    help it. Because you&mdash;you read, just as you write, out of your own
                    experience of observation, imagination and actual seeing and hearing. You bring
                    that to what you read, and so the symbolism probably must be inherent in the
                    work, though the writer does not necessarily need to have said, "Now, I'm going
                    to put a little symbolism right here," because you write from the same thing you
                    read from, is the general fund of&mdash;of our record. I mean
                    by "our" all&mdash;all Americans, all the English-speaking people,
                        or we'll say all Christian people, read and write from
                    the same warehouse of&mdash;of experience, in the terms of culture.  So a 
                    reader, an erudite reader, can find more symbolism than an illiterate reader can
                    simply because the erudite bloke has read more. He has more to cast back to and
                    say, "Oh, yes, that's what this is." The&mdash;the&mdash;the illiterate
                    one would say, "Yes, this is true," but he sees no connection
                    with&mdash;with anything that somebody wrote 500 years ago or that
                    someone&mdash;some psychiatrist or psychologist has&mdash;has formulated
                    to explain behavior, which the erudite man knows. But the symbolism I'm sure are 
                    the&mdash;the&mdash;the symbols of the symbolism are inherent in the
                    work, if they came from the same culture as the reader and the writer.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:05.94:00',
					'endtime','00:14:38.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in&mdash;in <em>Sartoris</em>, it appears that when Bayard,
                    young Bayard, in the wreck after his grandfather is killed, that he commits a
                    kind of cowardly act by running away. Why didn't he go back and be more or less
                        brave, as the&mdash;to have&mdash;to show his courage like the Sartoris family
                    always has, instead of running away?</p>
<p><div class="speaker">William Faulkner</div>I expect that that one of the twins really wasn't brave and knew it. His
                    dead brother was the&mdash;the braver, I mean capable of&mdash;of the
                    sort of rash recklessness which&mdash;which passes for physical courage. That the one
                    that survived not only had&mdash;had suffered the&mdash;the psychotic
                    injury of having lost a twin, but also he would have to say to himself, "The
                    best one of us died. The brave one died." And he no longer wanted to live,
                    actually. He came&mdash;came back home, but he probably had no good reason
                    to&mdash;to live, or maybe he was&mdash;would have to salve himself by
                    saying, "Well, whether I'm brave or not, it doesn't matter, and I don't care."
                    It may&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:35.11:00',
					'endtime','00:17:09.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, I'm curious about <span class="unclear tooltip" title="Text was unclear">[your handling]</span> of the dialogue in
                    your writing. Your&mdash;your style is somewhat distinctive, and yet when
                    you <span class="unclear tooltip" title="Text was unclear">[weld them]</span> together in the dialogue, there doesn't appear
                    to be any separation  one <span class="unclear tooltip" title="Text was unclear">[seems]</span> to flow out of the
                    other. When you try to recreate the words that this character says, to what
                    extent do you enter your own idiosyncrasies into his speech, or to what extent
                    do you go to keep him pure and write the way he actually says?</p>
<p><div class="speaker">William Faulkner</div>Now, that is a question that probably no writer can answer for the
                    reason that the writer himself never knows just how much from which of the three
                    sources he has drawn to create his character. That is, the&mdash;the three
                    sources are observation, experience, and imagination. Of course, he's got to
                    write some of himself into&mdash;to whatever he writes, whether he wants to
                    or not. In a&mdash;a certain sense, anything anyone writes is biographical in that it
                    must come out of his own personal, private experience or imagination or
                    observation. I think that he lets his people speak in the&mdash;the terms,
                    in their own individual terms. He does not deliberately try to make them express
                    his own ideas unless he and they agree. You might say that&mdash;that any
                    writer is saying the writer is not responsible for any of the ideas these people
                    express. They are&mdash;the characters are not his own. He tries not to let
                    his own thoughts color what his characters see and do. It&mdash;I expect
                    it's impossible to keep them completely pure, or they would lack
                    the&mdash;the breath of life, emotion, which makes you want to read what
                    they say and what they do. But the writer is certainly trying to&mdash;to
                    submerge, relinquish himself completely into that character at the moment when
                    he is transcribing what that character said and did.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:12.68:00',
					'endtime','00:18:46.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, could I ask a question of interest to many historians also
                    interested in literature? You spoke of the three-fold fund: experience,
                    observation, and imagination. When you write about&mdash;as you did in <em>The Unvanquished</em>&mdash;the period of the
                    Reconstruction, do you find that works of historians about Reconstruction in
                    Mississippi are useful or do they just clutter the issue and deaden the
                    imagination? But to build up your knowledge of that period, do you&mdash;did
                    you find that you went naturally to historical works on the period, or was that
                    at all useful, that sort of thing?</p>
<p><div class="speaker">William Faulkner</div>As far as I know, I have never done one page of research in my life.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Also, I doubt if I've ever forgotten
                    anything I ever read, too. The research I did was&mdash;was coincidental to
                    the fact I was doing something which was fun, that is reading. I've never gone
                    to these things to&mdash;for information. It was because I was&mdash;was
                    reading about people in motion, alive, in the conflict of the heart with itself
                    or with its fellows or with its environment. That what research I read, I read
                    exactly as I do fiction because it's&mdash;it's people, man, in motion, and
                    the writer, as I say, never forgets that. He stores it away. He has no morals.
                    And when he needs it, he reaches around, and he drags it out, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    and if it don't quite fit what he wants to say, 
                    he'll probably change it just a little.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:50.30:00',
					'endtime','00:21:27.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> I believe you had another question, sir.</p>
<p><div class="speaker">Unidentified participant</div>Yes, sir. I was thinking of one. In <em>The
                    Unvanquished</em> up until the time&mdash;I imagine&mdash;I think the two boys were
                    about twelve years old. You played up the fact that the white boy was one
                    little step ahead of the colored boy at that time by having seen something that
                    the other hadn't. Then afterwards, the colored boy took command of the situation
                    when they started their reselling of the mules, and I was wondering if you
                    thought that the colored person was coming into the <span class="unclear tooltip" title="Text was unclear">[front]</span>, or
                    into more power or initiative, in that day and age?</p>
<p><div class="speaker">William Faulkner</div>Well, I can't say. I think that&mdash;that anyone, regardless
                    of&mdash;of color&mdash;No, let me&mdash;let me start over again. I
                    would say that the color had nothing to do with how much any individual, any
                    human being can take advantage of&mdash;of his advantages. In this case,
                    that&mdash;that&mdash;the Negro boy was faster on his feet than the
                    white boy. That is because maybe the Negro boy had brought something from
                    Africa, when he had to be pretty quick on his feet in the rain forest to stay
                    alive. The white boy had a tradition of an aristocracy in which God had
                    protected him. He could afford to be a little slow, though if they were put in  
                    <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span> <span class="unclear tooltip" title="Text was unclear">[for a 
                        second]</span>, I don't think anyone could say that the Negro boy would've been faster
                    then than the white boy. Once the white boy realized that the old, secure
                    condition was gone, then he had to be pretty quick on his feet, too. Though my
                    thought is that&mdash;that everybody can't handle freedom if he had it, but
                    that anyone should have the chance, the freedom to see just how good he can be
                    and whether he's white or black. That he won't fail because he is black. That he
                    will fail because it was in&mdash;inherent in him not to cope with freedom.
                    He, whether he was white or black, had no business with
                        freedom.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.14">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:30.56:00',
					'endtime','00:23:37.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, in <em>Sartoris</em>, you sort of skipped over one
                    generation of the Sartoris family between the old Bayard and the young Bayard.
                    Is there any reason for that?</p>
<p><div class="speaker">William Faulkner</div>Dramatically, yes. Dramatically, there was no&mdash;well, the twins'
                    father didn't have a story. He came at a&mdash;a period in history
                    which&mdash;which, in this country, people thought of and think of now as a
                    peaceful one. That it was an optimistic one. Nothing was happening. There would
                    be little brush-fire wars that nobody paid much attention to. The country was
                    growing. The time of&mdash;of travail and struggle where the hero came into
                    his own had passed. From '70 on to 1912, '14, nothing happened to Americans to
                    speak of, and this John Sartoris, the father, lived in that time when there was
                    nothing that brought the issue to him to be&mdash;be brave and strong or
                    dramatic&mdash;well, call it dramatic, not brave, but dramatic. Nothing
                    happened to him. But he had to be there for the simple continuity of the
                    family.</p>
<p><div class="speaker">Frederick Gwynn</div>And yet if you thought of a story some time about that&mdash;that
                    father, something that he could have done, you would have a right
                    to&mdash;to give it to him, wouldn't you?</p>
<p><div class="speaker">William Faulkner</div>Sure, he's already on record, and he's&mdash;he's in&mdash;in my
                    stable, too. I can run him any time I find&mdash; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Joseph Blotner</div>Sir?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Joseph Blotner</div>Sir, did any of the three manuscripts you burned relate to that
                    period?</p>
<p><div class="speaker">William Faulkner</div>No, no. None of them did.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.15">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:37.01:00',
					'endtime','00:24:57.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Irby Cauthen</div>Mr. Faulkner, <em>The Unvanquished</em> was published
                    originally as a series of short stories, I believe, and then revised for a novel
                    form. When you were writing those short stories, did you have the idea in mind
                    that these would make a novel eventually, or did they just appear after they
                    appeared in short story form to fit together so naturally that it was necessary
                    to make a novel out of them?</p>
<p><div class="speaker">William Faulkner</div>I saw them as a long series. I had never thought of it in&mdash;in
                    terms of a novel, exactly. I realized that they would be too episodic to be what
                    I considered a novel, so I thought of them as a series of stories. That when I
                    got into the first one, I could see two more, but by the time I'd finished the
                    first one, I saw that it was going further than that. And then when I'd finished
                    the fourth one, I had postulated too many questions that I had to answer for my
                    own satisfaction. So the others had to be&mdash;the other three or two,
                    whichever it was, had to be written then.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.16">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:57.34:00',
					'endtime','00:25:54.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Has Hollywood ever expressed any interest in these stories?</p>
<p><div class="speaker">William Faulkner</div>Yes, they&mdash;they bought the book. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    That is a funny story, too. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> A producer named David 
                    Selznick bought <em>Gone with the Wind</em>. M-G-M wanted to make it, and
                    he&mdash;he wouldn't let M-G-M make it. He wanted to use Gable, who was
                    under contract to M-G-M in it, and they&mdash;they wouldn't let him have
                    Gable, and he wouldn't let them have <em>Gone with the Wind</em>.
                    So they bought my book and told him that&mdash;that if he didn't let them
                    make <em>Gone with the Wind</em>, they were going to make 
                    a <em>Gone with the Wind</em> of their own. They had no intention of
                    making a moving picture out of my book. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so
                    Selznick let them make the picture. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.17">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:02.28:00',
					'endtime','00:28:16.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I'm interested in&mdash;in both <em>Sartoris</em> and
                    in <em>The Unvanquished</em> that were&mdash;the lines that
                    were always talking about smell. There was lines about the smell of the mules,
                    and about the smell of the verbena, and people playing tennis were 
                    smelly <span class="event tooltip" title="There was some laughter happening">[laughter]</span>, and&mdash;and things like that. I wondered why you did that all the
                    way through both books.</p>
<p><div class="speaker">William Faulkner</div>I can't say unless maybe smell is&mdash;is one of my sharper senses.
                    Maybe it's sharper than sight. There's no reason.  There's certainly no
                    deliberate intent. That's a part of the environment which the writer is trying
                    to describe.  That to me is&mdash;is as noticeable as the ear which hears
                    the&mdash;the turns of speech, which could be simply because that's a
                    sharper sense with me than maybe sight or hearing.</p>
<p><div class="speaker">Unidentified participant</div>Might it also be that it's just&mdash;just important in setting the
                    picture, and&mdash;and you didn't have to talk about the weather. You could just say the&mdash;that the 
                    smell and the smell <span class="unclear tooltip" title="Text was unclear">[would convey light and heat
                        and]</span> things like that?</p>
<p><div class="speaker">William Faulkner</div>Yes, naturally, because the writer is trying to&mdash;to describe
                    the&mdash;the particular instance, the scene, so well that anyone will
                    understand it, will see it, and feel it, too, and the writer whose sense of
                    smell is pretty sharp will use smell. Someone who had constant catarrh and
                    couldn't smell at all wouldn't do it, but he wouldn't think of smell because he
                    hadn't&mdash;never heard of smell, you might say. That he uses&mdash;the writer
                    uses all his senses to create a scene in which the reader will say, "Yes, that's
                    so. I understand. I can see that. I have seen that, too," or if the sense of
                    smell is strong, "Yes, I've smelled that, too." That's not really a&mdash;a
                    trick at all. It's&mdash;the end is the same as though it were a trick. It's
                    simply the writer is using all his&mdash;all the pressure, all the gasoline and
                    gas he's got to create a&mdash;a scene which the reader will understand and feel,
                    too.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.18">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:21.02:00',
					'endtime','00:28:38.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Do you still write poetry at all?</p>
<p><div class="speaker">William Faulkner</div>No, sir, I had sense enough to learn young <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    that I would be a bad poet and stopped. To me,
                    there're no degrees of poetry. It's either good poetry or it's trash, and I
                    couldn't write good poetry, so I quit.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.19">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:38.33:00',
					'endtime','00:29:14.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, are you currently writing a novel?</p>
<p><div class="speaker">William Faulkner</div>No writer ever really quits. He might think that he's taking a vacation
                    from it, but he's&mdash;he's not. It's&mdash;it's stewing and going on up here all the
                    time, and&mdash;and when he runs out of something to do and gets bored,
                    he'll sit down and go to work on it. As I get old, I&mdash;it's easier and
                    easier for me not to write, but in time I'll get bored, and I'll go back to work
                    again or the demon will begin to <span class="unclear tooltip" title="Text was unclear">[spur it out]</span>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.20">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:14.07:00',
					'endtime','00:30:35.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, especially in <em>The Unvanquished</em> and also in
                    your other novels there seems to be a general loosening of tradition or a sort
                    of rapid progress coming forth. What characters, in general, what types of
                    people in your novels, do you think respond best to the progress?</p>
<p><div class="speaker">William Faulkner</div>They respond in different ways. The Snopes have responded to it and have
                    coped with it pretty well. I would say the one that is least troubled by change
                    was the sewing-machine agent Ratliff, that he had accepted a&mdash;a change
                    in culture, a change in environment, and he has suffered no anguish, no grief
                    from it. In&mdash;for that reason, he's in favor of change, because it's
                    motion, and it's the world as he knows it, and he's&mdash;he's never one to
                    say, "I&mdash;I wish I had been born a hundred years ago," or "I'm sorry I was born now
                    and couldn't have put it off a hundred years." Ratliff will take what's now and
                    do the best he can with it because he is&mdash;possesses what you might call
                    a&mdash;a moral, spiritual eupepsia, that his digestion is good, all right,
                    nothing alarms him.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio24_1.21">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio24_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:35.93:00',
					'endtime','00:31:48.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>When you speak of a man in motion, do you think that that person who
                    moves along with it is apt to be the most successful or&mdash;?</p>
<p><div class="speaker">William Faulkner</div>Well, he&mdash;he might have more peace. He may not be more
                    successful. By a man in motion, I meant simply that motion is life,
                    that&mdash;that man, if he's alive, he is in motion, and whether you like
                    where he's going or not, your only alternative is stasis or death, and the
                    choice which Ratliff had no trouble making is, "Either&mdash;either I will take this or
                    nothing, and I would prefer this to nothing, that I'd prefer breathing to not
                    breathing." But success&mdash;it would depend on what anyone means by
                    success. Maybe Ratliff never used that term to himself at all, but probably he
                    was, in own lights, quite successful. That is, he wanted&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="post" action="/transcripts/search">
<input type="text" size="30" name="q[text]" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio24_1.1" class="hidden">Fragment</a></li>
<li><a href="#wfaudio24_1.2" class="hidden">Audience Prompt</a></li>
<li><a href="#wfaudio24_1.3" class="hidden">Sprig of Verbena</a></li>
<li><a href="#wfaudio24_1.4" class="hidden">Ringo's Intelligence</a></li>
<li><a href="#wfaudio24_1.5" class="hidden">Confederate Reminiscences</a></li>
<li><a href="#wfaudio24_1.6" class="hidden">"No bloody moon"</a></li>
<li><a href="#wfaudio24_1.7" class="hidden">Ab Snopes and Grumby</a></li>
<li><a href="#wfaudio24_1.8" class="hidden">Byron Snopes</a></li>
<li><a href="#wfaudio24_1.9" class="hidden">Symbol of the Train</a></li>
<li><a href="#wfaudio24_1.10" class="hidden">Young Bayard's Flight</a></li>
<li><a href="#wfaudio24_1.11" class="hidden">Dialogue</a></li>
<li><a href="#wfaudio24_1.12" class="hidden">Historical Research</a></li>
<li><a href="#wfaudio24_1.13" class="hidden">Ringo and Bayard</a></li>
<li><a href="#wfaudio24_1.14" class="hidden">Between the Wars</a></li>
<li><a href="#wfaudio24_1.15" class="hidden">Unity of Unvanquished</a></li>
<li><a href="#wfaudio24_1.16" class="hidden">Unvanquished and Movies</a></li>
<li><a href="#wfaudio24_1.17" class="hidden">Use of Odors</a></li>
<li><a href="#wfaudio24_1.18" class="hidden">Writing Poetry</a></li>
<li><a href="#wfaudio24_1.19" class="hidden">Work in Progress</a></li>
<li><a href="#wfaudio24_1.20" class="hidden">Adapting to Progress</a></li>
<li><a href="#wfaudio24_1.21" class="hidden">Ratliff [part 1]</a></li>
</ul></aside>
        
