
            <div id="side_nav"><ul><li><a href="#wfaudio26_1_2.1" class="hidden">Spliced clip</a></li></ul></div><div id="header">
<h3>DATE: 2 May 1958</h3>
<h3>OCCASION: Undergraduate Class in Contemporary American Literature,
                    Undergraduate Class in Writing, Graduate Class in American Fiction</h3>
<h3>This clip was created by splicing the end of T-143a and the beginning of T-143b together.</h3>
<script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit');
		      }
		      catch (e) {
			     //document.write(e);
			  }</script><hr>
</div><div id="body">
<a name="wfaudio26_1_2.1">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:00.82:00',
				'endtime','00:01:21.16:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong> Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Did Quentin, before, actually have a conversation with his father about
                        sleeping with his sister? Or was that part of his ?</p>
<p><strong>William Faulkner: </strong>He never did. He said, "If I were brave I would&mdash;I&mdash;I
                        might say this to my father, whether it was a lie or not." Or&mdash;or, "If
                        I were&mdash;if I would say this to my father, maybe he could answer me back
                        the magic word which would relieve me of this anguish and agony which I live
                        with." No, they were imaginary. He just said "Suppose I say this to my father.
                        Would it help me? Would it clarify? Would I see clearer
                        what it is that I anguish over?"</p>
<p><strong>Unidentified participant: </strong>The feeling between him and his sister is pretty strong, though,
                        <span class="unclear tooltip" title="Text was unclear">[isn't it]</span>?</p>
<p><strong>William Faulkner: </strong>Yes, yes. But in Caddy's opinion he was&mdash;was such a&mdash;a
                        weakling that even if they had been no kin, she would never had chosen him for
                        her sweetheart. She would have chosen one like the&mdash;the ex-soldier she
                        did, but never anybody like Quentin.</p>
<hr>
</div>
        
