<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio30_2.1">Using Violence [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio30_2.2">Planning a Novel</a>
    </li>
    <li>
      <a href="#wfaudio30_2.3">Stories v Novels</a>
    </li>
    <li>
      <a href="#wfaudio30_2.4">Education and the Writer</a>
    </li>
    <li>
      <a href="#wfaudio30_2.5">Crane, Dreiser, Norris</a>
    </li>
    <li>
      <a href="#wfaudio30_2.6">Literary Conformity</a>
    </li>
    <li>
      <a href="#wfaudio30_2.7">Using Myths</a>
    </li>
    <li>
      <a href="#wfaudio30_2.8">Miss Rosa's Poetry</a>
    </li>
    <li>
      <a href="#wfaudio30_2.9">His Work in Other Media</a>
    </li>
    <li>
      <a href="#wfaudio30_2.10">South as His Setting</a>
    </li>
    <li>
      <a href="#wfaudio30_2.11">"Dry September"</a>
    </li>
    <li>
      <a href="#wfaudio30_2.12">Mississippi's Writers</a>
    </li>
    <li>
      <a href="#wfaudio30_2.13">Southerners as Readers</a>
    </li>
    <li>
      <a href="#wfaudio30_2.14">Writer's Growth</a>
    </li>
    <li>
      <a href="#wfaudio30_2.15">James Joyce</a>
    </li>
    <li>
      <a href="#wfaudio30_2.16">Regionalism</a>
    </li>
    <li>
      <a href="#wfaudio30_2.17">Indians</a>
    </li>
    <li>
      <a href="#wfaudio30_2.18">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio30_2.19">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio30_2.1"/>
  <p> one of the tools. That's a particular saw, hammer that the
                    particular carpenter feels he can do most with, that he might not like the
                    violence either. It's simply because he does not have a better tool to show man
                    in his tragic or comic moments inside the predicament. That is, the dramatic
                    story is, man is faced&#x2014;the frail, fragile creature of flesh and bone,
                    mostly water, in a ramshackle universe stuck together with electricity, faced
                    with problems which are usually bigger than he is. The story is, does he face
                    it? Does it lick him? Or does he beat it? Or if it licks him, does he get beaten
                    to his knees still, as Hemingway says, "Looking good." That, I think,
                    is&#x2014;is what anyone writes about. It's man that is striving to be braver
                    than he might be, more honest than he might be, to be compassionate.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.2"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.4"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio30_2.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.6"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.7"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio30_2.8"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.9"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio30_2.10"/>
  <p>Yes'm.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.11"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.13"/>
  <p>Would you comment on this? It would seem to me in talking to other people
                    about your work that&#x2014;the ladies in Richmond, this class, southern
                    ladies in general, do not know your work as well as people in other parts of the
                    country, in Europe. Have you observed that? Do you think that's true?</p>
</div>
<div class="section">
  <a name="wfaudio30_2.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.15"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.16"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.18"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio30_2.19"/>
  <p>Mr. Faulkner, I'm sure that we all join in thanking you for being with us
                    today.</p>
</div>
