
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio08_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 25 April 1957</h4>
<h4>OCCASION: At Mary Washington College</h4>
<h4>TAPE: T-122c</h4>
<h4>LENGTH: 30:54</h4>
<h4>READING: "Shingles for the Lord"</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:16.92:00',
					'endtime','00:00:44.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>I
						know we all feel greatly indebted to the University of Virginia for making
						it possible for Mr. Faulkner to be here. We're indebted to Dr. Simpson who
						made his <span class="unclear tooltip" title="Text was unclear">[introduction]</span> to the university. And of course most of all we're
						indebted to Mr. Faulkner himself, for being willing to come along. I'm going
						to ask Professor Gwynn of the University's Department of English to introduce
						Mr. Faulkner.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:44.47:00',
					'endtime','00:01:34.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Thank you,
						Dr. <span class="unclear tooltip" title="Text was unclear">[Whitten]</span>. It might have been said at one time that Mr. Faulkner's
						works were known wherever the language was known. Today it has gone&mdash;gone far
						beyond, and wherever people read, his work is highly esteemed. It might be
						said fairly that he is the most distinguished writer in the world. At the
						University of Virginia we've been proud of his presence and pleased with the
						response. It is a great privilege to come over and bring Mr. Faulkner this
						afternoon. He will read from his short story "Shingles for the Lord," and
						then answer any questions that may be on one's mind.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:38.41:00',
					'endtime','00:01:58.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>I've already found out that the only way to hold an audience is to be a
						little higher than it is, and for a short man like me it's impossible to do
						it unless you are higher, so if it's all right, I'm going to stand up.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:09.11:00',
					'endtime','00:03:32.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Pap got up a good hour before daylight and caught
							the mule and rid down to Killegrews' to borrow the froe and maul. He
							ought to been back with it in forty minutes. But the sun had rose and I
							had done milked and fed and was eating my breakfast when he got back,
							with the mule not only in a lather but right on the edge of the thumps
							too.
							"Fox hunting," he said. "Fox hunting. A seventy-year-old man, with
							both feet and one knee, too, already in the grave, squatting all night
							on a hill and calling hisself listening to a fox race that he couldn't
							even hear unless they had come up onto the same log he was setting on
							and bayed into his ear trumpet. Give me my breakfast," he told maw.
							"Whitfield is standing there right this minute, straddle of that board
							tree with his watch in his hand."
							And he was. We rid on past the church,
							and there was not only Solon Quick's school-bus truck but Reverend
							Whitfield's old mare too. We tied the mule to a sapling and hung our
							dinner bucket on a limb, and with pap toting Killegrew's froe and maul
							and the wedges and me toting our ax, we went on to the board tree where
							Solon and Homer Bookwright, with their froes and mauls and axes and
							wedges, was setting on two upended cuts, and Whitfield was standing jest
							like pap said, in his boiled shirt and his black hat and pants and
							necktie, holding his watch in his hand. It was gold and in the morning
							sunlight it looked big as a full-growed squash. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:32.28:00',
					'endtime','00:04:49.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"You're late," he said.
							So pap told him again about how
							Old Man Killegrew had been off fox hunting all night, and nobody at home
							to lend him the froe but Mrs. Killegrew and the cook. And naturally, the
							cook wasn't going to lend none of Killegrew's tools out, and Mrs.
							Killegrew was worser than deaf than even Killegrew. If you was to run in and
							tell her the house was afire, she would jest keep on rocking and say she
							thought so, too, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> unless she began to holler back to the cook to turn the
							dogs loose before you could even open your mouth. 
							"You could have gone
							yesterday and borrowed the froe," Whitfield said. "You have known for a
							month now that you had promised this one day out of a whole summer
							toward putting a roof on the house of God."
							"We ain't but two hours
							late," pap said. "I reckon the Lord will forgive it. He ain't interested
							in time, nohow. He's interested in salvation."
							Whitfield never even
							waited for pap to finish. It looked to me like he even got taller,
							thundering down at pap like a cloudburst. "He ain't interested in
							neither! Why should He be, when He owns them both? And why He should
							turn around for the poor, mizzling souls of men that can't even borrow
							tools in time to replace the shingles on His church, I don't know
							either. Maybe it's just because He made them. Maybe He just said to
							Himself: 'I made them; I don't know why. But since I did, I Godfrey,
							I'll roll my sleeves up and drag them into glory whether they will or
							no!'" <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:49.11:00',
					'endtime','00:05:26.49:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						But that wasn't here nor there neither now, and I
							reckon he knowed it, jest like he knowed there wasn't going to be
							nothing atall here as long as he stayed. So he put the watch back into
							his pocket and motioned Solon and Homer up, and we all taken off our
							hats except him while he stood there with his face raised into the sun
							and his eyes shut and his eyebrows looking like a big iron-gray
							caterpillar laid along the edge of a cliff. "Lord," he said, "make them
							good straight shingles to lay smooth, and let them split out easy;
							they're for You," and opened his eyes and looked at us again, mostly at
							pap, and went and untied his mare and clumb up slow and stiff, like old
							men do, and rid away. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:26.50:00',
					'endtime','00:06:49.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Pap put down the froe and maul and laid the three
							wedges in a neat row on the ground and taken up the ax. 
							"Well, men," he
							said, "let's get started. We're already late."
							"Me and Homer ain't,"
							Solon said. "We was here." This time him and Homer didn't set on the
							cuts. They squatted on their heels. Then I seen that Homer was whittling
							on a stick. I hadn't noticed it before. "I make it two hours and a
							little over," Solon said. "More or less."
							Pap was still about half
							stooped over, holding the ax. "It's nigher one," he said. "But call it
							two for the sake of the argument. What about it?""What argument?" Homer
							said. "All right," pap said. "Two hours then. What about it?"
							"Which is
							three man-hour units a hour, multiplied by two hours," Solon said. "Or a
							total of six work units." When the WP and A first come to Yoknapatawpha
							County and started to giving out jobs and grub and mattresses, Solon
							went in to Jefferson to get on it. He would drive his school-bus truck
							the twenty-two miles in to town every morning and come back that night.
							He done that for almost a week before he found out he would not only
							have to sign his farm off into somebody else's name, he couldn't even
							own and run the school bus that he had built himself. So he come back
							that night and never went back no more, and since then hadn't nobody
							better mention WPandA to him unless they aimed to fight, too,  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> though every
							now and then he would turn up with something all figured down into work
							units like he done now. "Six units short." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:49.10:00',
					'endtime','00:08:07.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Four of which you and Homer could have already
							worked out while you was setting here waiting on me," pap said.
							"Except
							that we didn't," Solon said. "We promised Whitfield two units of twelve
							three-unit hours toward getting some new shingles on the church roof. We
							been here ever since sunup, waiting for the third unit to show up, so we
							could get started. You don't seem to kept up with these modern ideas about
							work that's been flooding and uplifting the country in the last few
							years."
							"What modren ideas?" pap said. "I didn't know there was but one
							idea about work&mdash;until it is done, it ain't done, and when it is done, it
							is." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
							Homer made another long, steady
							whittle on the stick. His knife was sharp as a razor. Solon taken out
							his snuffbox and filled the top and tilted the snuff into his lip and
							offered the box to Homer, and Homer shaken his head, and Solon put the
							top back on the box and put the box back into his pocket.
							"So," pap
							said, "jest because I had to wait two hours for a old seventy-year man
							to get back from fox hunting that never had no more business setting out
							in the woods all night than he would 'a' had setting all night in a
							highway juke joint, we all three got to come back tomorrow to
							finish them two hours that you and Homer &mdash; " "I ain't," Solon said. "I
							don't know about Homer. I promised Whitfield one day. I was here at
							sunup to start it. When the sun goes down, I will consider I have done
							finished it." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:07.00:00',
					'endtime','00:08:41.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"I see," pap said. "I see. It's me that's got to
							come back. By myself. I got to break into a full morning to make up them
							two hours that you and Homer spent resting. I got to spend two hours of
							the next day making up for the two hours of the day before that you and
							Homer never even worked."  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
							"It's going to more than jest break into a
							morning," Solon said. "It's going to wreck it. There's six units left
							over. Six one-man-hour units. Maybe you can work twice as fast as me and
							Homer put together and finish them in four hours, but I don't believe
							you can work three times as fast and finish them in two." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:48.53:00',
					'endtime','00:10:05.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Maybe there's something else besides cash you might
							be able to trade with, though" Solon said. "You might use that dog."
							That was when pap actually stopped. I didn't know it myself then either,
							but I found it out a good long time before Solon did. Pap set there with
							the maul up over his head and the blade of the froe set against the
							block for the next lick, looking at Solon. "The dog?" he said.
							It was
							a kind of mixed hound, with a little bird dog and some collie and maybe
							a considerable of almost anything else, but it would ease through the
							woods without no more noise than a hant and pick up a squirrel's trail
							on the ground and bark jest once, unless it knowed you was where you
							couldn't see it, and then tiptoe that trail out jest like a man and never
							make another sound until it treed, and only then when it knowed you
							hadn't kept in sight of it. It belonged to pap and Vernon Tull together.
							Will Varner give it to Tull as a puppy, and pap raised it for a half
							interest; me and him trained it and it slept in my bed with me until it
							got so big maw finally run it out of the house,  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and for the last six
							months Solon had been trying to buy it. Him and Tull had agreed on two
							dollars for Tull's half of it, but Solon and pap was still six dollars
							apart on ourn, because pap said it was worth ten dollars of anybody's
							money and if Tull wasn't going to collect his full half of that, he was
							going to collect it for him. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:05.00:00',
					'endtime','00:10:44.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"So that's it," pap said. "Them things wasn't work
							units atall. They was dog units." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
							
							"Jest a suggestion," Solon said. "Jest a friendly offer to keep them
							runaway shingles from breaking up your private business for six hours
							tomorrow morning. You sell me your half of that trick overgrown fyce and
							I'll finish these shingles for you."
							"Naturally including them extra&mdash;six extra
							units of one dollars," pap said.
							"No, no," Solon said. "I'll pay you the
							same two dollars for your half of that dog that me and Tull agreed on
							for his half of it. You meet me here tomorrow morning with the dog and
							you can go back home or wherever them urgent private affairs are
							located, and forget about that church roof." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:44.62:00',
					'endtime','00:11:51.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Your half of the dog for that half a day's work you
							still owe on them shingles."
							"And the two dollars," pap said. "That you
							and Tull agreed on. I sell you half the dog for two dollars, and you
							come back here tomorrow and finish the shingles. You give me the two
							dollars now, and I'll meet you here in the morning with the dog, and you
							can show me the receipt from Tull for his half then."
							"Me and Tull have
							done already agreed," Solon said.
							"All right," pap said. "Then you can
							pay Tull his two dollars and bring his receipt with you without no
							trouble."
							"Tull will be at the church tomorrow morning, pulling off them
							old shingles," Solon said. "All right," pap said. "Then it won't be no
							trouble at all for you to get a receipt from him. You can stop at the
							church when you pass. Tull ain't named Grier. He won't need to be off
							somewhere tomorrow borrowing a crowbar."
							So Solon taken out his purse
							and paid pap the two dollars and they went back to work. And now it
							looked like they was really trying to finish that afternoon, not jest
							Solon, but even Homer, that didn't seem to be concerned in it nohow, and
							pap, that had already swapped a half a dog to get rid of whatever work
							Solon claimed would be left over. I quit trying to stay up with them
							then; I jest stacked shingles. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:51.04:00',
					'endtime','00:12:23.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then Solon laid his froe and maul down. "Well, men,"
							he said, "I don't know what you fellers think, but I consider this a
							day."
							"All right," pap said. "You are the one to decide when to quit,
							since whatever elbow units you consider are going to be shy tomorrow
							will be yourn."
							"That's a fact," Solon said. "And since I am giving a
							day and a half to the church instead of jest a day, like I started out
							doing, I reckon I better get on home and tend to a little of my own
							work." He picked up his froe and maul and ax and went on to his truck and
							stood waiting for Homer to come and get in.
							"I'll be here in the morning
							with the dog," pap said. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:23.04:00',
					'endtime','00:13:15.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						 "Sholy," Solon said. It sounded like he had forgot
							about the dog, or that it wasn't no longer any importance. But he stood
							there again and looked hard and quiet at pap for about a second. "And a
							bill of sale from Tull for his half of it. As you say, it won't be no
							trouble a-tall to get that from him." Him and Homer got into the truck
							and he started the engine. You couldn't say jest what it was. It was
							almost like Solon was hurrying himself, so pap wouldn't have to make any
							excuse or pretense toward doing or not doing anything. "I have always
							understood the fact that lightning don't have to hit twice is one of the
							reasons why they named it lightning. So getting lightning-struck is a
							mistake that might happen to any man. The mistake I seem to have made is, I
							never realized in time that what I was looking at was a cloud. I'll see
							you in the morning.""With the dog," pap said.
							"Certainly," Solon said,
							again like it had slipped his mind completely. "With the dog."
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:15.10:00',
					'endtime','00:14:05.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then him and Homer drove off. Then pap got up.
							"What?" I said. "What? You swapped him your half of Tull's dog for that
							half a day's work tomorrow. Now what?"
							"Yes," pap&mdash;"Yes," pap said. "Only before
							that I had already swapped Tull a half a day's work pulling off them old
							shingles tomorrow, for Tull's half of that dog. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Only we ain't going to
							wait until tomorrow. We're going to pull them shingles off tonight, and
							without no more racket about it than is necessary. I don't aim to have
							nothing on my mind tomorrow but watching Mr. Solon Work-Unit Quick
							trying to get a bill of sale for two dollars or ten dollars either on&mdash;on
							the other half of that dog. And we'll do it tonight. I don't want him
							jest to find out at sunup tomorrow that he is too late. I want him to
							find out then that even when he laid down to sleep he was already too
							late." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:05.01:00',
					'endtime','00:14:42.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						So we went back home and I fed and milked while pap
							went down to Killegrews' to carry the froe and maul back and to borrow a
							crowbar. But of all places in the world and doing what under the sun
							with it, Old Man Killegrew had went and lost his crowbar out of a boat
							into forty feet of water. And pap said how he come within a inch of
							going to Solon's and borrowing his crowbar out of pure poetic justice,
								<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> only Solon might have smelled the
							rat jest from the idea of the crowbar. So pap went to Armstid's and
							borrowed hisn and come back and we et supper and cleaned and filled the
							lantern while maw still tried to find out what we was up to that
							couldn't wait till morning. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:42.76:00',
					'endtime','00:16:29.73:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						We left her still talking, even as far as the front
							gate, and come on back to the church, walking this time, with the rope
							and crowbar and a hammer for me, and the lantern still dark. Whitfield
							and Snopes was unloading a ladder from Snopes' wagon when we passed the
							church on the way home before dark, so all we had to do was to set the
							ladder up against the church. Then pap clumb up onto the roof with the
							lantern and pulled off shingles until he could hang the lantern inside
							behind the decking, where it could shine out through the cracks in the
							planks, but you couldn't see it unless you was passing in the road, and
							by that time anybody would 'a' already heard us. Then I clumb up with
							the rope, and pap reached it through the decking and around a rafter and
							back and tied the ends around our waists, and we started. And we went at
							it. We had them old shingles jest raining down, me using the claw hammer
							and pap using the crowbar, working the bar under a whole patch of
							shingles at one time and then laying back on the bar like in one more
							lick or if the crowbar ever happened for one second to get a solid holt,
							he would tilt that whole roof up at one time like a hinged box lid.
							
							That's exactly what he finally done, he laid back on the bar and this
							time it got a holt. It wasn't jest a patch of shingles, it was a whole
							section of decking, so that when he lunged back he snatched that whole
							section of roof from around the lantern like you would shuck a corn
							nubbin. The lantern was hanging on a nail. He never even moved the nail,
							he jest pulled the board off of it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> so that it looked like for a whole
							minute I watched the lantern, and the crowbar, too, setting there in the
							empty air in a little mess of floating shingles, with the empty nail
							still sticking through the bail of the lantern, before the whole thing
							started down into the church. It hit the floor and bounced once. Then it
							hit the floor again, and this time the whole church jest blowed up into
							a pit of yellow jumping fire, with me and pap hanging over the edge of
							it on two ropes.  
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:29.73:00',
					'endtime','00:17:20.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						I don't know what become of the rope nor how we got
							out of it. I don't remember climbing down. Jest pap yelling behind me
							and pushing me halfway down the ladder and then throwing me the
							rest of the way by a handful of my overhalls, and then we was both on
							the ground, running for the water barrel. It set under the gutter spout
							at the side, and Armstid was there then; he had happened to go out to
							his lot about a hour back and seen the lantern on the church roof, and
							it stayed on his mind until finally he come up to see what was going on,
							and got there jest in time to stand yelling back and forth with pap
							across the water barrel. And I believe we still would have put it out.
							Pap turned and squatted against the barrel and got a holt of it over his
							shoulder and stood up with that barrel that was almost full of water and
							run around the corner and up the steps of the church and hooked his toe
							on the top step and come down with the barrel busting on top of him and
							knocking him cold out as a wedge.  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:20.94:00',
					'endtime','00:18:34.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						So we had to drag him back first, and maw was there
							then, and Mrs. Armstid about the same time, and me and Armstid run with
							the two fire buckets to the spring, and when we got back there was a
							plenty of them, Whitfield, too, with more buckets, and we done what we
							could, but the spring was two hundred yards away and ten buckets emptied
							it and it taken five minutes to fill again, and so we finally all jest
							stood around where pap&mdash;where had come to again with a big cut on his head and
							watched it go. It was a old church, long dried out, and full of old
							colored-picture charts that Whitfield had accumulated for more than
							fifty years, that the lantern had lit right in the middle of when it
							finally exploded. There was a special nail where he would keep a old
							long nightshirt he would wear to baptize in. I would use to watch it all
							the time during church and Sunday school, and me and the other boys
							would go past the church sometimes jest to peep in at it, because to a
							boy of ten it wasn't jest a cloth garment or even a iron armor; it was
							the old strong Archangel Michael himself, that had fit and strove and
							conquered sin for so long that it finally had the same contempt for the
							human beings that returned always to sin as hogs and dogs done that the
							old strong archangel his self must have had. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:34.56:00',
					'endtime','00:19:36.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						For a long time it never burned, even after
							everything else inside had. We could watch it, hanging there among the
							fire, not like it had knowed its time&mdash;in its time too much water to burn easy,
							but like it had strove and fit with the devil and all the hosts of hell
							too long to burn in jest a fire that Res Grier started, trying to beat
							Solon Quick out of half a dog. But at last it went, too, not in a hurry
							still, but jest all at once, kind of roaring right on up and out against
							the stars and the far dark spaces. And then there wasn't nothing but
							jest pap, drenched and groggy-looking, on the ground, with the rest of
							us around him, and Whitfield like always in his boiled shirt and his
							black hat and pants, standing there with his hat on, too, like he had
							strove too long to save what hadn't ought to been created in the first
							place, from the damnation it didn't even want to escape, to bother to
							need to take his hat off in any presence. He looked around at us from
							under it; we was all there now, all that belonged to that church and
							used it to be born and marry and die from&mdash;us and the Armstids and Tulls,
							and Bookwrights and Quicks and Snopes. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:36.34:00',
					'endtime','00:20:12.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"I was wrong," Whitfield said. "I told you we would
							meet here tomorrow to roof a church. We'll meet here in the morning to
							raise one."
							"Of course we got to have a church," pap said. "We're going
							to have one. And we're going to have it soon. But there's some of us
							done already give a day or so this week, at the cost of our own work.
							Which is right and just, and we're going to give more, and glad to. But
							I don't believe that the Lord&mdash; "
							Whitfield let him finish. He never
							moved. He jest stood there until pap finally run down of his own accord
							and hushed and set there on the ground mostly not looking at maw, before
							Whitfield opened his mouth.
							"Not you," Whitfield said. "Arsonist."
							"Arsonist?" pap said. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
							"Yes," Whitfield said.
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:12.80:00',
					'endtime','00:20:46.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						 "If there is any pursuit in
							which you can engage without carrying flood and fire and destruction and
							death behind you, do it. But not one hand shall you lay to this new
							house until you have proved to us that you are to be trusted again with
							the powers and capacities of a man." He looked about at us again. "Tull
							and Snopes and Armstid have already promised for tomorrow. I understand
							that Quick had another half day he intended&mdash; "
							"I can give another
							day," Solon said. "I can give the rest of the week," Homer said. "I
							ain't rushed neither," Snopes said.
							"That will be enough to start with,
							then," Whitfield said. "It's late now. Let us all go home." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:46.46:00',
					'endtime','00:21:53.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						He went first. He didn't look back once, at the
							church or at us. He went to the old mare and clumb up slow and stiff and
							powerful, and was gone, and we went too, scattering. But I looked back
							at it. It was jest a shell now, with a red and fading core, and I had
							hated it at times and feared it at others, and I would have been glad&mdash;I should have been glad.
							But there was something that even that fire hadn't even touched. Maybe
							that's all it was&mdash;jest indestructibility, endurability&mdash;that old man that
							could plan to build it back while its walls was still fire-fierce and
							then calmly turn his back and go away because he knowed that the men
							that never had nothing to give toward the new one but their work would
							be there at sunup tomorrow, and the day after that, and the day after
							that, too, as long as it was needed, to give that work to build it back
							again. So it hadn't gone a-tall; it didn't no more care for that little
							fire and flood than Whitfield's old baptizing gown had done. Then we was
							home. Maw had left so fast the lamp was still lit, and we could see pap
							now, still leaving a puddle where he stood, with a cut across the back
							of his head where the barrel had busted and blood-streaked water
							soaking&mdash;soaking him to the waist. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:53.07:00',
					'endtime','00:22:32.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Get them wet clothes off," maw said.
							"I don't know
							as I will or not," pap said. "I been publicly notified that I ain't
							fitten to associate with white folks, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> so I publicly notify them same
							white folks and Methodists, too, not to try to associate with me, or the
							devil can have the hindmost." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
							But maw
							hadn't even listened. When she come back with a pan of water and a towel
							and the liniment bottle, pap was already in his nightshirt.
							"I don't
							want none of that neither," he said. "If my head wasn't worth busting,
							it ain't worth patching." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But she
							never paid no mind to that neither. She washed his head off and dried it
							and put the bandage on and went out again, and pap went and got into
							bed.
							"Hand me my snuff; then you get out of here and stay out too," he
							said. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:32.10:00',
					'endtime','00:23:23.47:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						But before I could do that maw come back. She had a
							glass of hot toddy, and she went to the bed and stood there with it, and
							pap turned his head and looked at it.
							"What's that?" he said.
							But maw
							never answered, and then he set up in bed and drawed a long, shuddering
							breath&mdash;we could hear it&mdash;and after a minute he put his hand out for the
							toddy and set there holding it and drawing his breath, and then he took 
							a sip of it.
							"I Godfrey, if him and all of them put together think they
							can keep me from working on my own church like ary other man, he better
							be a good man to try it." He taken&mdash;taken another sip of the toddy. Then he
							taken a long one. "Arsonist," he said. "Work units. Dog units. And now
							arsonist. I Godfrey, what a day!" <span class="event tooltip" title="There was some audience laughter and applause happening">[audience laughter and applause]</span>

					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.26">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:27.19:00',
					'endtime','00:23:45.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>Do we want to ask Mr. Faulkner anything?</p>
<p><span class="speaker">William Faulkner</span>And let them be anything. I
						think if you try to rehearse the question first, it's&mdash;it's not too good.
							<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Whether it seems frivolous to you or
						not, ask it. We'll take the gloves off. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.27">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:46.91:00',
					'endtime','00:24:29.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Would you discuss the religious symbolism in <em>The
							Sound and the Fury</em>?</p>
<p><span class="speaker">William Faulkner</span>That was&mdash;was not accidental
						but coincidental. The writer has a mass of&mdash;of lumber, just as the carpenter
						has, from experience, observation. He is writing about people, and he
						reaches back into his experience, his observations, his memory, to get what
						he thinks will be the most effective way to tell about the people he's
						talking about, and so I was not writing religious symbolism. I simply used that
						because it made, I thought, my story better. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.28">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:32.49:00',
					'endtime','00:25:27.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Can you discuss the most important problem that you think faces the
						young American writer today?</p>
<p><span class="speaker">William Faulkner</span>Yes, the&mdash;the most important
						problem is the pressure to relinquish individuality and belong to something,
						to&mdash;to become a member of a mass. That's what the young writer has got to
						struggle against because any art is&mdash;is composed, created 
						in complete solitude, and the&mdash;the man or the woman has got to be primarily
						himself. He's got to believe in&mdash;in men and women as individual men and
						women, not just as a mass of people, and so the first problem of the young
						writer is the time he lives in, the pressure to&mdash;to belong to something, to
						be a member of a mass of something and not himself. That's what <span class="unclear tooltip" title="Text was unclear">[the young
							writer]</span> . </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.29">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:33.14:00',
					'endtime','00:26:27.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I'd like to know if James Joyce had any influence in your work at
						all and to what extent?</p>
<p><span class="speaker">William Faulkner</span>Yes, a great deal. It's
						difficult for anyone to say because I think a writer is influenced by
						everything he ever reads from the telephone directory up and down, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and when I was young, I read
						voraciously with no judgment, no discretion, and no
						taste. I read everything and anything, and I'm quite sure it has all
						influenced me, but the writer, I think, is probably too busy to say, Now,
						let's see, I'll write a little Joyce today or <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						<span class="unclear tooltip" title="Text was unclear">[a little Proust in the morning]</span>. 
						He's influenced by it, but he&mdash; he doesn't know how much because he's
						too busy. That's part of the&mdash;of the lumber in his storehouse that the
						carpenter uses when he's building his house or fence.
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.30">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:33.42:00',
					'endtime','00:27:53.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, every once in a while an author reports that what he
						intended as a short story got out of hand and turned into a novel. Have you
						ever had this experience and if so, what novel was the result of it?</p>
<p><span class="speaker">William Faulkner</span><em>The Sound
							and the Fury</em> began as a short story. I think my own <span class="unclear tooltip" title="Text was unclear">[rating
							is]</span>, first is the poet. Next is the short story writer. Third
						is the novelist. The poet can say it in&mdash;in fourteen lines or maybe four. The
						short story writer has got to have a thousand or two thousand words to say
						it. The novelist has got to have up to a hundred thousand, and I think that
						what any writer would&mdash;would want to be is a poet. I think of myself as a failed
						poet, that I couldn't be a poet and&mdash;and had sense enough to stop trying and
						to use a method which I could use, and so any story starts out as&mdash;well, a
						good poet could put it in a poem, a good short story writer could put it in
						a short story, but the novelist, it takes him a thousand words to say what
						he wants to say. <em>The Sound and the Fury</em>, yes, began
						as a short story. I thought that that could be done in ten pages. It couldn't.
						It's not finished yet. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.31">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:56.95:00',
					'endtime','00:28:40.67:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Yes, your play 
						<em>Requiem for a Nun</em> was translated into French and put on the stage pretty successfully. I was wondering, do you
						think that could be done here in <span class="unclear tooltip" title="Text was unclear">[the States in an]</span> English
						version?</p>
<p><span class="speaker">William Faulkner</span>Yes, it could be done. The
						reason it's not done in America is I gave a young woman who wants to be an
						actress, and she has&mdash;has had bad luck. She's ambitious. She works hard, but
						she hasn't been successful.  I gave her the right to it and since she has
						no reputation or name, nobody will put up the money it costs to put on a
						play in this country, and I won't take it away from her. That's why it's
						been knocking about Europe for about five or six years. </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.32">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:44.39:00',
					'endtime','00:30:19.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I notice in a lot of your books you use double words,
						words that are usually used singularly and that are joined together. What effect
						are you trying to create with that, and why is it in some novels you use
						them in the beginning of the book and then in the middle or the end, you
						don't use them that way?</p>
<p><span class="speaker">William Faulkner</span>That, I think, goes back to
						the&mdash;the constant fear that probably every writer has. He&mdash;he knows he's a 
						mortal. He has only a&mdash;a&mdash;a limited number of years in which to work. He has
						found the world so amazing and&mdash;and so marvelous and so moving that, I
						believe I&mdash;by the world, I mean, man, human race, the human problems, that he
						is&mdash;is trying to get it all said before he dies, that he is in&mdash;in a sense
						trying to put the whole history of the human heart on the head of a pin, and
						he is using any method that will&mdash;will do it, he thinks, the most effective,
						most moving way, and sometimes making one word out of two seems to me the
						best, and then, again, it&mdash;it don't seem to be the right way to do it. It's
						the&mdash;that drive to&mdash;to get it all said while you can  
						still have time to say it, I think, was the reason for the&mdash;the
						experimenting, the&mdash;the style, the method. That was the reason for Joyce.
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio08_1.33">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio08_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:24.10:00',
					'endtime','00:30:49.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>You mentioned that <em>The Sound and the Fury&mdash;Fury</em>
						 was still not finished. I was wondering, do you feel that there's
						been a definite advantage in having the story more or less overlapping with
						others and keeping on <span class="unclear tooltip" title="Text was unclear">[in terms of]</span> continuity in an
						unfinished ?</p>
<p><span class="speaker">William Faulkner</span>Well, it's&mdash;it's not finished
						in the sense that&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio08_1.1" class="hidden">Introduction, 1</a></li>
<li><a href="#wfaudio08_1.2" class="hidden">Introduction, 2</a></li>
<li><a href="#wfaudio08_1.3" class="hidden">Faulkner's Introduction</a></li>
<li><a href="#wfaudio08_1.4" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio08_1.5" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio08_1.6" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio08_1.7" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio08_1.8" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio08_1.9" class="hidden">Story, Excerpt 6</a></li>
<li><a href="#wfaudio08_1.10" class="hidden">Story, Excerpt 7</a></li>
<li><a href="#wfaudio08_1.11" class="hidden">Story, Excerpt 8</a></li>
<li><a href="#wfaudio08_1.12" class="hidden">Story, Excerpt 9</a></li>
<li><a href="#wfaudio08_1.13" class="hidden">Story, Excerpt 10</a></li>
<li><a href="#wfaudio08_1.14" class="hidden">Story, Excerpt 11</a></li>
<li><a href="#wfaudio08_1.15" class="hidden">Story, Excerpt 12</a></li>
<li><a href="#wfaudio08_1.16" class="hidden">Story, Excerpt 13</a></li>
<li><a href="#wfaudio08_1.17" class="hidden">Story, Excerpt 14</a></li>
<li><a href="#wfaudio08_1.18" class="hidden">Story, Excerpt 15</a></li>
<li><a href="#wfaudio08_1.19" class="hidden">Story, Excerpt 16</a></li>
<li><a href="#wfaudio08_1.20" class="hidden">Story, Excerpt 17</a></li>
<li><a href="#wfaudio08_1.21" class="hidden">Story, Excerpt 18</a></li>
<li><a href="#wfaudio08_1.22" class="hidden">Story, Excerpt 19</a></li>
<li><a href="#wfaudio08_1.23" class="hidden">Story, Excerpt 20</a></li>
<li><a href="#wfaudio08_1.24" class="hidden">Story, Excerpt 21</a></li>
<li><a href="#wfaudio08_1.25" class="hidden">Story, Excerpt 22</a></li>
<li><a href="#wfaudio08_1.26" class="hidden">Prompting the Audience</a></li>
<li><a href="#wfaudio08_1.27" class="hidden">Sound and Fury's Symbolism</a></li>
<li><a href="#wfaudio08_1.28" class="hidden">Pressure to Conform</a></li>
<li><a href="#wfaudio08_1.29" class="hidden">James Joyce</a></li>
<li><a href="#wfaudio08_1.30" class="hidden">Story to Novel</a></li>
<li><a href="#wfaudio08_1.31" class="hidden">Dramatizing Requiem</a></li>
<li><a href="#wfaudio08_1.32" class="hidden">Double Words</a></li>
<li><a href="#wfaudio08_1.33" class="hidden">Finishing Sound and Fury</a></li>
</ul></aside>
		
