<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio09_2.1">Naming Characters</a>
    </li>
    <li>
      <a href="#wfaudio09_2.2">Sutpen and Snopes</a>
    </li>
    <li>
      <a href="#wfaudio09_2.3">Money v Respectability</a>
    </li>
    <li>
      <a href="#wfaudio09_2.4">Country to City</a>
    </li>
    <li>
      <a href="#wfaudio09_2.5">Light in August's Title</a>
    </li>
    <li>
      <a href="#wfaudio09_2.6">Respectability, North v South</a>
    </li>
    <li>
      <a href="#wfaudio09_2.7">Old v New South</a>
    </li>
    <li>
      <a href="#wfaudio09_2.8">Integration Efforts</a>
    </li>
    <li>
      <a href="#wfaudio09_2.9">Mississippi's Governor</a>
    </li>
    <li>
      <a href="#wfaudio09_2.10">Writing about Dead People</a>
    </li>
    <li>
      <a href="#wfaudio09_2.11">Joyce's Ulysses</a>
    </li>
    <li>
      <a href="#wfaudio09_2.12">Influence v Simultaneity</a>
    </li>
    <li>
      <a href="#wfaudio09_2.13">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio09_2.1"/>
  <p>  memory of the old miracle plays,
						the morality plays in early English literature, Chaucer.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.2"/>
  <p>Sir, are you conscious of any similarity between Thomas Sutpen and
						Flem Snopes? They are&#x2014;I don't suppose there's any comedy in Absalom anywhere, and there's a great deal, of
						course, in The Hamlet and The
							Town, but both of them are&#x2014;have a grand design and are unscrupulous
						about getting it&#x2014;and they use people.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.4"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.7"/>
  <p>And I would like to ask you on this business of the Old South and the
						New South, in "The Bear," where the young boy returns as a man and sees the
						forest cut down, I would like to know, do you like the Old South or the New
						South better? </p>
</div>
<div class="section">
  <a name="wfaudio09_2.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.9"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.10"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio09_2.11"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.12"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio09_2.13"/>
  <p>Gwynn: Mr. Faulkner, we're all very grateful to you for coming down
						and answering our questions at this point. Thank you, sir.</p>
</div>
