
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio28_2.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 7 May 1958</h4>
<h4>OCCASION: Department of Psychiatry</h4>
<h4>TAPE: T-144b</h4>
<h4>LENGTH: 31:28</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:05.49:00',
					'endtime','00:00:22.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> problem, the old folks will probably have to die off. The tragedy
                    is that right now white people and colored people simply do not like and trust
                        each other.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:33.14:00',
					'endtime','00:00:59.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What are the greatest defects that you see in our current education
                    system other than this mediocrity, mass leveling thing <span class="unclear tooltip" title="Text was unclear">[that certainly
                        applies]</span> ?</p>
<p><span class="speaker">William Faulkner</span>The level of the school, of the classes, is at the lowest so
                    that&mdash;that the&mdash;the one at the foot of the class won't be made
                    to feel inferior. And I never could understand why he shouldn't be made to feel
                    inferior since he is.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:11.01:00',
					'endtime','00:02:17.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Along with]</span> this business of conforming, this business
                    of respectability so often comes in. Do you have any particular ideas or
                    opinions on this, particularly in terms of the conflict between being a member
                    of the human race, yes, but also not getting lost in it in terms of
                    the&mdash;the super-respectable, should also to some degree
                        <span class="unclear tooltip" title="Text was unclear">[be a]</span> conforming person?</p>
<p><span class="speaker">William Faulkner</span>Yes, you've got to do a certain amount of compromising in order to have
                    room to be free as&mdash;who was it said, "Fear God, sir, and the police."
                    That there's simply not room on the earth, and it'd be pretty lonely to be too
                    free. And then, also, you probably wouldn't know what freedom was unless you had
                    some boundaries to it, that&mdash;that my freedom must stop where the end of
                    your nose begins.  <span class="unclear tooltip" title="Text was unclear">[One's]</span> got to be conscious of that, too,
                    know what the freedom is that he's trying to preserve and fight for.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:52.32:00',
					'endtime','00:05:24.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you think, at this time, that economic factors are influencing
                    policies about segregation much? Are there largely&mdash;the difficulties
                    are largely the results of prejudices&mdash;prejudices based on&mdash;on
                    other matters, such as the fear of the sexual intermingling?</p>
<p><span class="speaker">William Faulkner</span>I would say that the quarrel was, in the beginning, economic, that in my
                    country anyway, the South, I mean
                    Mississippi, where the agrarian economy was based on the necessity for the
                    cheapest sort of labor, that the&mdash;the white man didn't want to lose his
                    Negro peon, really. He dressed it up in all sorts of emotional conditions
                    because the&mdash;the poor white man, who was in actual economic conflict
                    with the Negro for the same crop on the same sort of poor land, could respond
                    to that. The white man would see the Negro with&mdash;with the same poor
                    land as he, but&mdash;and with worse tools, with worse stock, yet would seem
                    to be happier, to make a better living for his family. All that white man had to
                    justify himself was that he was white, so he was better than the Negro, so
                    he&mdash;then he wouldn't have to say, "I&mdash;I'm a worse farmer than
                    he is." <span class="unclear tooltip" title="Text was unclear">[He'd]</span> say, "That don't matter. I'm better than he is
                    because I'm white." I think that had a great deal to do with it in my country.
                    Apart from that notion of mine that, because of our mutual past the white man
                    and&mdash;and the black man simply don't like each other and can't trust
                    each other.  Which is a condition&mdash;I don't know what to do about that. It would
                    take a psychiatrist or psychologist to eradicate that <span class="unclear tooltip" title="Text was unclear">[one]</span>.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:27.99:00',
					'endtime','00:06:11.16:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you think the white man trusts the white man?</p>
<p><span class="speaker">William Faulkner</span>He will, yes. That's sort of a general&mdash;general statement, a
                    general answer. He will distrust the white man for any one of a number of
                    reasons. He&mdash;he may have indigestion or he may have had
                    dealings with another white man that looked like him or had the same name, but
                    he will distrust the colored man at once because the colored man has black skin.
                    Not because of his&mdash;his trade or profession or his appearance, simply
                    because he has a black skin.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:11.17:00',
					'endtime','00:07:50.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Don't you think that this is the rationalization of the person in order
                    to discharge by channeling his hostilities on something?</p>
<p><span class="speaker">William Faulkner</span>Yes, if you grant that that hostility is a&mdash;a&mdash;an
                    inability to&mdash;to trust a man of another race because of the color of
                    his skin.</p>
<p><span class="speaker">Unidentified participant</span>Well, what I mean is that there is not any basic hostility to a Negro, to
                    a colored man, but the only thing is that we are not able to show this
                    hostility, to come out at people, and we can find somebody on whom we can show
                    this hostility because he has a different color. I mean, it's something where
                    people can unify and forget their inter-hostilities in between themselves.</p>
<p><span class="speaker">William Faulkner</span>Yes, sir. People on the West Coast of this country distrust Japanese
                    because they're Japanese. There are other people that distrust Jewish people
                    because they're Jewish. But all white people seem, to me, to distrust Negroes.
                    Not white people on the West Coast to distrust Negroes, but all white people
                    seem to&mdash;to distrust Negroes, that they do not like Negroes.
                    It's&mdash;there's near as&mdash;as I can see without any geographical
                    reason, as the Californian has for not liking Japanese.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:51.34:00',
					'endtime','00:08:38.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you think this is true of European white person too?</p>
<p><span class="speaker">William Faulkner</span>It seems to be, that they got along with&mdash;with Negroes very
                    well until suddenly a lot of Negroes began to appear in&mdash;in European
                    countries. I have known Italians and French and Germans. Of course, in the
                    German could have been something of Nazism that still hung on. But
                    any&mdash;among all&mdash;any white people where there have been enough
                    Negroes to where the Negro was not a&mdash;a novelty and a curiosity, I
                    could&mdash;think that I could feel that distrust and that dislike.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:38.32:00',
					'endtime','00:10:12.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you have any idea how this started in the beginning ?</p>
<p><span class="speaker">Unidentified participant</span>Do you think it's the influence of our culture?</p>
<p><span class="speaker">William Faulkner</span>I would say, yes, because I don't know people too well of other
                    cultures, if you mean by our culture what we call the Christian culture. I don't
                    know how Russians, Siberians, might feel toward Negroes, if it would be
                    instinctive with them, too. I don't know that. I would think that&mdash;that
                    some of it would be because of our culture, yes'm. Certainly that's true
                    in&mdash;in my part of the South where part of our culture has been that
                    agrarian economy in which the Negro was inferior because it was necessary that
                    he be either a slave or a peon. It seems to me that in this country, once the
                    Negro was freed of that&mdash;the&mdash;his condition in that agrarian
                    economy, then the culture, his culture, and the white man's culture don't touch
                    anymore except in the installment plan, automobiles and juke boxes, things like
                    that.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:15.64:00',
					'endtime','00:11:45.60:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Do you feel that this innate&mdash;whatever type of dislike for
                    colored people <span class="unclear tooltip" title="Text was unclear">[by]</span> white people, is going to cause a terrific,
                    long lasting struggle, <span class="unclear tooltip" title="Text was unclear">[say]</span> in the South, if the Supreme Court
                    decision is forced on the South in regard to pressure for
                        <span class="unclear tooltip" title="Text was unclear">[ending]</span> segregation?</p>
<p><span class="speaker">William Faulkner</span>It would be a long time. I think that that Supreme Court decision has
                    caused a great deal of&mdash;of trouble. It has set back a gradual change
                    of&mdash;of the Negroes' condition for the better in the South, but it has
                    not changed it in the long run. In the long run, it was bound to come. The
                    Supreme Court had to make that decision. I would say that within five hundred
                    years the&mdash;the Negro race in this country will have disappeared. It
                    will be fifty years before Negroes are permitted in white schools in
                    Mississippi, I would guess, <span class="unclear tooltip" title="Text was unclear">[though]</span>. That would be the last of
                    the states. And that may be because Mississippi is&mdash;is last in
                    literacy, or they may go hand-in-hand, anyway.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:50.14:00',
					'endtime','00:13:25.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How much effect do you think the exodus of the Negro  <span class="unclear tooltip" title="Text was unclear">[will
                        have]</span> on the situation down ?</p>
<p><span class="speaker">William Faulkner</span>It's changed a lot, but that's a question like, which was first, the
                    chicken or the egg? We still don't know whether the invention of machines that
                    will do the work which mules and human hands had to do once has caused the
                    Negro to move or whether the Negro leaving the South has brought in the
                    machinery. But if&mdash;there's been a definite change. In my county, in the
                    last twelve months, there were thirty six hundred Negroes left for the North.
                    Out of that there will be&mdash;usually, ten percent will stay for a year or
                    two and then come back. But they are&mdash;the Negro is&mdash;is leaving
                    Mississippi, going to the big cities. It&mdash;it may be that
                    his&mdash;his young people were drafted. They saw something of the city and
                    just liked urban life and are&mdash;are going to the big town. Because there
                    were fifteen hundred white people left Lafayette County, too. And they were the
                    ex-soldier that had seen something of the world, of city life, and didn't want
                    to spend the rest of their lives looking at empty fields, feeding mules, and
                    running tractors to raise cotton.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:25.59:00',
					'endtime','00:15:07.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you're not entirely dispassionate about this problem are
                    you? I mean you show concern as a person about what you might call social
                    problems. As a writer would you be able to divorce yourself entirely from
                    passionate feelings?</p>
<p><span class="speaker">William Faulkner</span>I&mdash;I&mdash;hope that I'm not dispassionate about it, but I
                    think that a writer had better save all his passion to making credible the human
                    beings which he creates from the observation, the experience, and the
                    imagination, to set into dramatic instances of man's struggle in the condition,
                    to have any left to preach to anyone about segregation or about tolerance or
                    any&mdash;anything else. If he does that, he had better stop trying to be a
                    fiction writer and&mdash;and be a&mdash;an essayist or a propagandist.
                    I'm quite sure that&mdash;that&mdash;that you can't keep out
                    of&mdash;of your work your own opinions and&mdash;and convictions about
                    things, but I think the writer has no business dragging in his opinions. He'd
                    better stick to dealing with man in his dilemma, in his predicament, his
                    struggles with the human heart, the&mdash;the old verities that he has
                    always had to struggle with, which have&mdash;have outlasted
                    the&mdash;the changes in culture, economics.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:12.01:00',
					'endtime','00:16:16.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>But now what we <span class="unclear tooltip" title="Text was unclear">[see]</span> about something depends on how we
                    have had our experience. I mean, I can see to the same thing, you will see
                    different things <span class="unclear tooltip" title="Text was unclear">[and everyone else is]</span> going to see different
                    things. Anything that we use, our imagination, our observation, is just based on
                    our previous experience.</p>
<p><span class="speaker">William Faulkner</span>Surely. It&mdash;it won't chase&mdash;change the basic fact we
                    look at. I mean by the verities the people
                    that&mdash;that&mdash;the facts that&mdash;that young
                    people fall in love and want to sleep together, that man wants certain things,
                    and he knows if he gets it, the police may get him. He knows that&mdash;that
                    the weak should&mdash;should be protected by the strong, that he should have
                    com&mdash;be capable of compassion, of pity, of courage, of honor. I grant
                    you that&mdash;that everyone, in looking at these instances, will see them
                    from a slightly different point of view, with a slightly different illumination
                    on it, but it's basically the same truths which he looks at.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:16.41:00',
					'endtime','00:17:22.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Don't you think that these are the basic experiences that the culture
                    gives to us? I mean, to a certain extent we have all the same ideas, to a
                    certain extent, because the culture <span class="unclear tooltip" title="Text was unclear">[has incultured them]</span> to
                    us? If you go to another culture, they won't do the same. They won't feel the
                    same, maybe. The basic areas are going to change, to a certain extent.</p>
<p><span class="speaker">William Faulkner</span>Well, they are ephemeral changes, unless we mean different things by
                    culture. To me, a part of&mdash;of our American culture is the pressure of
                    everybody to throw his old car away every year and buy a new one. It's the
                    pressure of&mdash;not to read, but to listen to the television, to the
                    radio. That is what I mean by our culture. I don't mean that the&mdash;the
                    tradition of&mdash;of&mdash;of wisdom that we could get
                    from&mdash;from solitude or from&mdash;from reading books.
                        <span class="unclear tooltip" title="Text was unclear">[Because]</span> if we mean different things by culture then we
                    are at slightly cross purposes.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:22.31:00',
					'endtime','00:19:25.20:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Do you think we get certain things from reading books? And I'm sure there
                    are certain ways to communicate feelings about things, and I have a feeling,
                    from your books, that you are trying to communicate certain very strong feelings
                    that you have about things. Now you&mdash;you don't do them in an obvious,
                    sermonizing way, but I do think that your books,  <span class="unclear tooltip" title="Text was unclear">[that come to
                        memory]</span> are, to a certain extent, books which propound certain
                    systems of values. And I don't mean, again, to sound like that&mdash;by that
                        <span class="unclear tooltip" title="Text was unclear">[standing on a soap box]</span>, but, for instance, the one
                    on&mdash;on segregation,  <span class="unclear tooltip" title="Text was unclear">[<em>Intruder in the
                            Dust</em>]</span>,  I think you&mdash;you do more than just
                        <span class="unclear tooltip" title="Text was unclear">[sermons]</span>. I think you make certain points about people and
                        <span class="unclear tooltip" title="Text was unclear">[their]</span> values.</p>
<p><span class="speaker">William Faulkner</span>Yes'm. I agree with you, but they are&mdash;are coincidental. The
                    writer is too busy writing about people struggling with their own hearts, with
                    others, or with environment, that his own convictions and opinions about
                    injustices come out, but he's not, at that moment, concerned in telling the
                    reader, "This is what I think about injustice or morality." He's simply trying
                    to&mdash;to take from his experience and imagination and observation people
                    and make them stand up and assume enough of reality to, you might say, cast a
                    shadow behind them and themselves move, engage in the&mdash;in the struggles
                    which have been man's nature ever since he became man, for&mdash;for love,
                    for&mdash;for pleasure, for money, to be brave, to be honest, as much as he
                    can.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:25.21:00',
					'endtime','00:20:50.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, maybe this sounds like a stupid question, but why does the
                    writer write? Is it just to depict people in action or what they're doing? Why
                    would you be motivated to write if you don't particularly have a point to prove
                    or a sermon to preach? Is it just to put down what you observe and <span class="unclear tooltip" title="Text was unclear">[see
                        how it works out or&mdash;]</span>? Could you comment on that?</p>
<p><span class="speaker">William Faulkner</span>Yes. First, you are demon driven. You can't help it. Also, it's fun.
                    It's the one occupation you have found which is fun because you're never bored
                    by it, because you can't do it. There's no such thing as satiety. You never can
                    write the book which you want to write. It will never quite match that dream, so
                    you always have something to get up tomorrow to do. In the last analysis, as I
                    said a while ago, you know that you're here for a specific time, which is
                    comparatively very short, that someday you'll pass through the wall into what
                    you don't know, and you will have left on that wall simply, "Kilroy was here."
                    It's not especially for&mdash;for glory nor fame, but to just leave a
                    scratch on it. It's that it was me that made that scratch. It wasn't anybody
                    else but me. Just old Bill Shakespeare or whatever his name is. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:52.12:00',
					'endtime','00:22:10.52:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Do you have]</span> any idea where this demon comes from or
                    why some people seem to have it? Others wish they have it or try to convince
                    themselves they do and others don't.</p>
<p><span class="speaker">William Faulkner</span>Well it may be that it's from providence or&mdash;or
                    the&mdash;the boss of whoever runs things that feels it's necessary to keep
                    a record of&mdash;of frail, fragile man's struggle with his dilemma that
                    never has licked him and probably never will. Maybe it's necessary that record
                    be kept, and the painter, the musician, the people that delve into man's
                    mechanisms to find what makes him do and leave a record of it, are all leaving a
                    record of man's successful struggle, not his&mdash;not that he prevailed
                    over his dilemma, but that at least he endured it. And, in a sense, he has
                    prevailed because he continues to reproduce and will still endure it, and as I
                    said, the last sound in the dying world will be two folks going somewhere.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:10.53:00',
					'endtime','00:23:04.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How old were you when you first were aware of the possession by this devil
                    that you must write?</p>
<p><span class="speaker">William Faulkner</span>Oh, when I got slowed down. As long as I was writing, as I was
                        <span class="unclear tooltip" title="Text was unclear">[hot,]</span> I never had time to think about it. It was fun. But
                    when I got long in years and found that it was&mdash;was a chore. It was
                    work to write, and I'd say, "Well, I've done a few books now, so I think I'll
                    quit." I found out that I wasn't going to quit and that I never would quit. And
                    then I decided that it was&mdash;<span class="unclear tooltip" title="Text was unclear">[evidently]</span> it was a
                    demon.  That it certainly wasn't me, and it certainly wasn't any inclination of
                    mine to keep <span class="unclear tooltip" title="Text was unclear">[going.]</span> I just couldn't quit. It was less trouble
                    to go on and write than to fight the demon off. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:04.22:00',
					'endtime','00:23:42.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>How old were you when you first started to&mdash;to write, to as a
                    career, as a way of life, to&mdash;? Were you in a teens?</p>
<p><span class="speaker">William Faulkner</span>I had always been scribbling, as soon as I learned to spell.
                    I&mdash;from what my mother tells me, I was inventing fantastical romances
                    mainly to get out of having to do chores at home before that. But I never became
                    a serious writer until around&mdash;I was around twenty-two, three years
                    old.  </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:42.94:00',
					'endtime','00:25:12.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span><span class="unclear tooltip" title="Text was unclear">[Okay, back to]</span> &mdash;</p>
<p><span class="speaker">Unidentified participant</span>What do you think will happen to the&mdash;the artisan that you just
                    named a few minutes ago, when our schools become all scientific, when we copy
                    the Russians <span class="unclear tooltip" title="Text was unclear">[for our education]</span>?</p>
<p><span class="speaker">William Faulkner</span>Oh, he&mdash;he will&mdash;his&mdash;with the help of his
                    demon, he will withstand that too. He&mdash;he won't go to school if he can
                    help it, but if he's compelled to go to school that won't bother him. Because
                    even a totalitarian government ain't going to make him go to school longer than
                    eight hours a day. That still leaves him sixteen hours to sleep and eat and read
                    Dostoyevsky in. He'll find plenty of time. That won't stop him. Because
                    he's&mdash;as I said, he's doing something that's fun. In my opinion, it's
                    the&mdash;the most fun of any occupation a man could have, is to take the
                    old shopworn material and try to make something just a little new out of it,
                    with it. Something that wasn't quite here yesterday. Never to do it. Always to
                    spring out of bed the next morning, rubbing your hands, eager to go back to work
                    at it because this time it'll come off. You know it won't, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but it may.</p>
<p><span class="speaker">Unidentified participant</span>It sounds very much like psychotherapy. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>It probably is <span class="unclear tooltip" title="Text was unclear">[pretty good psychotherapy]</span>.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:12.30:00',
					'endtime','00:26:09.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Could you discuss]</span> your feeling about genius
                    and&mdash;and the&mdash;the artist and maybe&mdash;maybe in
                    relative&mdash;in relationship to madness? What is a genius?</p>
<p><span class="speaker">William Faulkner</span>Well, I&mdash;I think that&mdash;that he is a madman, but he's
                    driven by his demon so that he hasn't got time to be a public nuisance with it,
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> that he has a&mdash;has an escape for
                    it, that he concentrate on his piece of marble with his hammer and his chisel or
                    his canvas or his ream of typewriter paper, and he can discharge it
                    so&mdash;for the rest of the time he is socially immobilized, and nobody
                    pays any attention to him, that he's very likely insane, too.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:09.03:00',
					'endtime','00:29:03.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>A lot of our patients are either writers or want to be or artists in one
                    way or another. <span class="unclear tooltip" title="Text was unclear">[And are coming]</span> really pretty close
                    sometimes to being good. <span class="unclear tooltip" title="Text was unclear">[It often puzzles me as to]</span> why, or what is the
                    difference, as far as some don't quite gel and others do?</p>
<p><span class="speaker">William Faulkner</span>Probably that's why they become your patients. They&mdash;they
                    couldn't quite gel and couldn't bear it, that others couldn't quite gel, and
                    they&mdash;their frustration is channeled into some harmless condition.</p>
<p><span class="speaker">Unidentified participant</span>Or is it, sir, the tension that some have&mdash;have been <span class="unclear tooltip" title="Text was unclear">[in
                        is]</span> so big that they are completely disorganized in their
                    activities, and others who have been under pressure and have some good parts in
                    themselves, and then they reproduce that and can develop these ideas in order to
                    give them more security in their work or in their capacity. I mean
                    they&mdash;I do believe that genius don't grow in a family where the
                        <span class="unclear tooltip" title="Text was unclear">[equilibrium is very good]</span>. I mean they&mdash;they are
                    under pressure themselves, and they feel unhappy. They feel bad, and they have
                    to develop certain things that are going to make them feel more comfortable,
                    have some fun, and get something out of their lives. I have seen a lot of people
                    that have&mdash;were very brilliant, but they were in a class, for example,
                    where they had not to spend too much time, and they have been becoming lazy, and
                    they didn't work, because they were able to do&mdash;to produce very easily,
                    and when there was something that had to be done with difficulty, they never
                    produce anymore. But I have seen people that have been under pressure, and
                    they&mdash;they spend a lot of time, and they&mdash;they are a real
                    genius. I have seen people that were under pressure, in very difficult
                    situations, that have become genius, and people that have had a very easy life
                    never have produced anything.</p>
<p><span class="speaker">William Faulkner</span>I can't say. Of course, you would know more&mdash;better than I
                    because you would have had a wider range of observation than I. I would make
                    a&mdash;one simple, more or less hard and fast rule. If you have a first
                    rate demon, then he's going to take care of everything else for you. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:05.25:00',
					'endtime','00:29:25.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Does that mean that you place little emphasis on craft
                    and such things as revision and&mdash;</p>
<p><span class="speaker">William Faulkner</span>Oh, sure. There's always somebody will correct the grammar and
                        punctuate it for you. 
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> You don't need to worry about style. Get it
                    down on paper is all you need to do.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:25.89:00',
					'endtime','00:30:47.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[I think all the&mdash;I think]</span>  What Doctor
                        <span class="unclear tooltip" title="Text was unclear">[Nigims]</span> was saying, he feels stress and unfortunate
                    situations are necessary for genius. Do you think that's so?</p>
<p><span class="speaker">William Faulkner</span>No, sir, I don't think so, but then Doctor <span class="unclear tooltip" title="Text was unclear">[Nigims]</span> had
                    a wider range to observe than me, that he's interested in&mdash;in people as
                    people. I'm interested in people as material, you might say, that I really
                    don't&mdash;don't give a damn about that&mdash;</p>
<p><span class="speaker">Unidentified participant</span>Did you have a very hard and unfortunate life?</p>
<p><span class="speaker">William Faulkner</span>No, sir. As far as I know, I had a good life. I had&mdash;had a very
                    pleasant one.</p>
<p><span class="speaker">Unidentified participant</span>You don't think your reactions are in&mdash;in response to
                    stress?</p>
<p><span class="speaker">William Faulkner</span>No, sir. I think that the demon lit on my shoulders&mdash; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I don't know where he came from or why he picked
                    on me. That's the only explanation I have. It&mdash;it may be
                    that&mdash;that I took up writing as a&mdash;what do you
                    call it&mdash;a protest to being&mdash;against being small and
                    insignificant, that I wanted to be big and brave and handsome and rich. It could
                    be that. I don't know. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:47.15:00',
					'endtime','00:31:10.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>What was the <span class="unclear tooltip" title="Text was unclear">[actions]</span> of your family all along
                    ?</p>
<p><span class="speaker">William Faulkner</span>Well, my father thought that the oldest son ought to go to work and be
                    ready to take over the family when his time came, and I wanted to be a tramp,
                    and we never did see eye to eye on that, but I got along all right with it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio28_2.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio28_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:31:16.29:00',
					'endtime','00:31:21.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>
                    <span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner, we certainly thank you.]</span>
                </p>
<p><span class="speaker">William Faulkner</span>Well, thank you all.</p>
<p><span class="speaker">Moderator</span>We enjoyed it <span class="unclear tooltip" title="Text was unclear">[tremendously]</span>. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio28_2.1" class="hidden">[fragment]</a></li>
<li><a href="#wfaudio28_2.2" class="hidden">Education [part 2]</a></li>
<li><a href="#wfaudio28_2.3" class="hidden">Respectability</a></li>
<li><a href="#wfaudio28_2.4" class="hidden">Psychology of Segregation</a></li>
<li><a href="#wfaudio28_2.5" class="hidden">Racial Distrust</a></li>
<li><a href="#wfaudio28_2.6" class="hidden">Diagnosing Racism</a></li>
<li><a href="#wfaudio28_2.7" class="hidden">Race in Europe</a></li>
<li><a href="#wfaudio28_2.8" class="hidden">Origins of Racism</a></li>
<li><a href="#wfaudio28_2.9" class="hidden">Pressure to Integrate</a></li>
<li><a href="#wfaudio28_2.10" class="hidden">Black Exodus</a></li>
<li><a href="#wfaudio28_2.11" class="hidden">Passion v Detachment</a></li>
<li><a href="#wfaudio28_2.12" class="hidden">Experience and Perception</a></li>
<li><a href="#wfaudio28_2.13" class="hidden">Cultural Conditioning</a></li>
<li><a href="#wfaudio28_2.14" class="hidden">Writer's Beliefs</a></li>
<li><a href="#wfaudio28_2.15" class="hidden">Writer's Motives</a></li>
<li><a href="#wfaudio28_2.16" class="hidden">Writer's Demon</a></li>
<li><a href="#wfaudio28_2.17" class="hidden">Discovering the Demon</a></li>
<li><a href="#wfaudio28_2.18" class="hidden">Beginning to Write</a></li>
<li><a href="#wfaudio28_2.19" class="hidden">Writer v State</a></li>
<li><a href="#wfaudio28_2.20" class="hidden">Madness and Genius</a></li>
<li><a href="#wfaudio28_2.21" class="hidden">Failed Artists</a></li>
<li><a href="#wfaudio28_2.22" class="hidden">Craft of Writing</a></li>
<li><a href="#wfaudio28_2.23" class="hidden">Suffering and Art</a></li>
<li><a href="#wfaudio28_2.24" class="hidden">His Family</a></li>
<li><a href="#wfaudio28_2.25" class="hidden">Close</a></li>
</ul></aside>
        
