<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio18_2.1">Brown v Board of Education</a>
    </li>
    <li>
      <a href="#wfaudio18_2.2">Writing for Readers</a>
    </li>
    <li>
      <a href="#wfaudio18_2.3">Exaggeration</a>
    </li>
    <li>
      <a href="#wfaudio18_2.4">Struggles v Progress</a>
    </li>
    <li>
      <a href="#wfaudio18_2.5">The Unexpected</a>
    </li>
    <li>
      <a href="#wfaudio18_2.6">New Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.7">Writing v Reporting</a>
    </li>
    <li>
      <a href="#wfaudio18_2.8">Writer v His Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.9">Start as a Writer</a>
    </li>
    <li>
      <a href="#wfaudio18_2.10">Characters as Mouthpieces</a>
    </li>
    <li>
      <a href="#wfaudio18_2.11">The Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio18_2.12">Choosing Titles</a>
    </li>
    <li>
      <a href="#wfaudio18_2.13">The Nun in Requiem</a>
    </li>
    <li>
      <a href="#wfaudio18_2.14">Sound and Fury's Title</a>
    </li>
    <li>
      <a href="#wfaudio18_2.15">Being Understood</a>
    </li>
    <li>
      <a href="#wfaudio18_2.16">Universal v Regional</a>
    </li>
    <li>
      <a href="#wfaudio18_2.17">Writer as Creator</a>
    </li>
    <li>
      <a href="#wfaudio18_2.18">Cutting Out</a>
    </li>
    <li>
      <a href="#wfaudio18_2.19">Compsons v Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio18_2.20">As I Lay Dying</a>
    </li>
    <li>
      <a href="#wfaudio18_2.21">Dante</a>
    </li>
    <li>
      <a href="#wfaudio18_2.22">Learning Grammar</a>
    </li>
    <li>
      <a href="#wfaudio18_2.23">Living Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.24">Formal Education</a>
    </li>
    <li>
      <a href="#wfaudio18_2.25">Sutpen's Aspiration</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 30 May 1957</h3>
  <h3>OCCASION: Local Public and University Community</h3>
  <h3>TAPE: T-136</h3>
  <h3>LENGTH: 31:52</h3>
</div>
<div id="body">
  <a name="wfaudio18_2.1">&#xA0;</a>
  <p><strong>William Faulkner:</strong> change the Negro's condition, that the Negro's condition was
                    gradually being changed by the&#x2014;by the white man. He was being given
                    more and more of liberty, more and more of equality. That Supreme Court decision,
                        in Mississippi anyway, has&#x2014;has set things back, for the reason you say, that you
                    cannot legislate against&#x2014;against the mores and against a social
                    condition. You can only state that the social condition is bad and must be
                        changed, but you can't change it overnight by passing laws.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> Well, I'd say that in Mississippi the May 17,1954, decision was
                        not implemented, but it did move Mississippi to try and implement Plessy
                        vs. Fergusson.   <span class="unclear tooltip" title="Text was unclear">[the schools]</span> separate but equal.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, they had been moving in that direction for some time. They had not
                    moved fast enough. And if there had been no Supreme Court decision, the white
                    people in Mississippi would've been content with the infinitesimal progress they
                    were making. The Supreme Court decision only warned them that&#x2014;that
                    they must move faster or something must be done, but it still has not changed
                    the&#x2014;the situation in Mississippi. It has speeded up a gradual
                    evolution, but it hasn't changed overnight any situation there.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, my point is if it did accelerate even in Mississippi, then
                        it is laws that make effects.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, yes. It was a&#x2014;a statement which had effect. That was a
                    decision. That wasn't a law. It was simply a decision on&#x2014;on the law
                    which the Supreme Court made. It hadn't changed the law in Mississippi.</p>
  <hr/>
  <a name="wfaudio18_2.2">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Going back to your symbolism, you said that the symbol when you're
                    writing would mean one thing to one reader and perhaps another to another
                    reader. When you write, are you ever conscious of writing for a certain group of
                    readers? Do you ever write and then decide, "Well, this won't be
                        <span class="unclear tooltip" title="Text was unclear">[as]</span> good, and I'll change it"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. I think the writer writes for himself. In fact, I wrote for
                    years before it occurred to me that strangers might read what I was writing,
                    that the writer writes for himself. He's trying to make something
                    perfect which wasn't here before. When he begins to&#x2014;to temper what he
                    writes to&#x2014;to who will read it, then I think the writing itself
                    suffers, but he has got to observe certain rules of&#x2014;of coherence, but
                    he is writing primarily to depict the world&#x2014;man struggling in his
                    condition as he himself saw it, that he has seen man in his condition struggle
                    against it in his aspirations, his&#x2014;his follies, his hopes, his
                    tragedy, which to that writer was so moving that he himself has got to put that
                    down on paper, to&#x2014;to capture what to him was magic. It may be, though
                    he is not writing for glory, it may be that he knows all the time
                    that&#x2014;that some day, after his allotted span, he will pass through the
                    last wall of oblivion, and maybe what he's actually doing is simply writing on
                    that wall, "Kilroy was here." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio18_2.3">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[What do you think of]</span> exaggeration as a literary device?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think it's&#x2014;it's valid, just like fantasy, just like
                    comedy, just like tragedy, just like inversion. They are&#x2014;are valid in the sense
                    that&#x2014;that the carpenter's tools are valid. Whatever the carpenter
                    wants to use, which in his opinion will build the best chicken coop, is valid.
                    He may decide to use his hammer backward or to saw with&#x2014;with a
                    kitchen knife, but anything that to him is the best tool he can use to make the
                    chickenhouse as near perfect as he can make it is valid. I think that no one
                    should&#x2014;should write just to be funny or just to be fantastic.
                    I&#x2014;I'll take that back. He&#x2014;he is perfectly at liberty to
                    write just to be funny or just to be fantastic, but I think the one&#x2014;the 
                    man that's doing that is like the man that writes primarily to be a stylist,
                    that he hasn't got a whole lot to say, that what he has to say is not valid and
                    urgent in the sense of depicting man in his struggle with himself, with his
                    fellows, with his environment.</p>
  <hr/>
  <a name="wfaudio18_2.4">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think they're restatements. Actually, there're only three subjects to
                    write about: love, money and death. People&#x2014;writers write about men and
                    women in the&#x2014;the tragedy of the human condition, and the&#x2014;the
                    verities which man struggles with are&#x2014;are eternal. They
                    haven't changed much, and his problems are new only in that they are new and
                    novel to that individual, just like to the young man and young woman, there
                    never was love before like ours, like the one I feel now at 17 and 18 and 19. There
                    never was grief or tragedy like that which I feel now. In&#x2014;in that
                    sense only is the material new. Actually, it's&#x2014;it's very old, but
                    it's&#x2014;the very fact that it can be that old is&#x2014;is an
                    indication of man's immortality, I think, that he does endure. He
                    has&#x2014;has lasted so long that there's nothing new in his&#x2014;his
                    aspiration and hope, save to himself, that there's nothing new in his tragedy,
                    save to himself, that he still can want to be better than he is. He can still
                    believe that injustice shall not endure; it must be changed; it must be
                    corrected. His progress is very slow, almost infinitesimal, but there is
                    progress. Little children, for instance, don't have to work in sweatshops. Your
                    grocer can't sell you poisoned food. Some progress. People are concerned enough
                    to&#x2014;to try to do away with war, to do away with poverty. That's some
                    advancement. Man should've advanced much faster, I grant you. That's some
                    advancement, and&#x2014;and if it were not for that capacity to advance, that
                    desire to advance, very likely he would've been effaced from the earth long before
                    this, along with the dinosaur and the other big lizards.
                </p>
  <hr/>
  <a name="wfaudio18_2.5">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                     something that you wouldn't expect. 
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sometimes the characters in my books surprise me, yes. They don't surprise
                    me in doing something that I never heard of or never imagined human beings doing
                    before, but I hadn't expected them to do it at that moment. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's&#x2014;that's because, as I said, my
                    chore as a writer is to run along behind these people and put down what they say
                    and do, but if they do things which to me seem completely outside the realm of
                    human behavior, then I know that's wrong and that's false and&#x2014;and must
                    be thrown away.
                </p>
  <hr/>
  <a name="wfaudio18_2.6">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> <span class="unclear tooltip" title="Text was unclear">[Sir, do you constantly add to these characters]</span>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I don't add. The&#x2014;the stories I'm working on do,
                    suddenly it turns up with&#x2014;with some bloke I've never heard of before.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It doesn't mean&#x2014;
                </p>
  <hr/>
  <a name="wfaudio18_2.7">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, <span class="unclear tooltip" title="Text was unclear">[could you]</span> make the distinction between the description of a
                        character, having run behind them  <span class="unclear tooltip" title="Text was unclear">[and a news clip in the daily newspaper]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, there's&#x2014;it seems to me this difference,
                    the&#x2014;the piece in the daily newspaper is a&#x2014;a correlation, a
                    gathering of facts after the fact. That is, no reporter can follow along behind
                    the people who are approaching a crisis or a climax or a crime, say. The writer
                    can do that. He can start when they get up that morning and follow the
                    characters up to the moment when they pull the trigger or rob the bank
                    or&#x2014;or jump in the water and save the baby, but the reporter has got to
                    go around and&#x2014;and ask people what happened, what did you see. There's
                    that difference. It's&#x2014;you might say the same thing but&#x2014;but
                    one is approached from behind it, the other from in front of it.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Is that enough to warrant an approach to the subject&#x2014;I
                        mean do we find in this]</span>
                         <span class="unclear tooltip" title="Text was unclear">[position of the observer&#x2014;is that sufficient to give a title 
                           to a newspaper or to a novel]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it's sufficient. Only the&#x2014;the man that is writing the
                    same circumstances for the novel is compelled to do a little more research, that
                    is, the reporter can&#x2014;can ask, inquire, seek out and get the simple
                    facts, and since it's&#x2014;it's printed in the&#x2014;in the newspaper,
                    the reader will accept that. In the book, the&#x2014;the writer is not too
                    sure that his readers will accept that, so he's got to take the fact, if that's
                    where he starts, then he's got to go backward to&#x2014;to follow these
                    people up to the point, to explain why they&#x2014;they perform that action.
                    They are quite alike, the two crafts, but they must be approached, as I said,
                    one from&#x2014;from behind the fact, one from in front of the fact. We might
                    say that if it's in the newspaper, you believe it; if it's in the book, you've
                    got to prove it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Since one is, on its face,
                    fiction, and the other is supposed to be fact.</p>
  <hr/>
  <a name="wfaudio18_2.8">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Sir, in your writings, do you have a particular character or
                        situation or do you find that you like to have a specific character do a 
                        certain thing so that certain characteristics  ring true?  Or do you have that situation
                        come up a lot? I mean, in that you liked the sound of the bell, you like to
                        hear it, you like to put it down on paper regardless of the characters?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                     <span class="unclear tooltip" title="Text was unclear">[Some authors]</span> keep on doing that.
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no, it's that character that rings that bell, not me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    By that time, the character has taken charge
                    of&#x2014;of his own tale, and no matter what I want him to do, he may do it,
                    and he may not do it, but he's going to decide what he does next. He's going to
                    decide if he wants to ring that bell. I just report the fact that he rang that
                        bell.
                </p>
  <hr/>
  <a name="wfaudio18_2.9">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.  I believe you had a question.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I would like to know how you started writing?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>How did I start writing?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Yes, </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I'd always liked to scribble, probably, just like the&#x2014;the
                    would-be lawyer likes to argue maybe and the&#x2014;the would-be doctor or biologist likes
                    to cut up flies, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I think I became a
                    professional writer&#x2014;I was living in New Orleans, and I met Sherwood
                    Anderson, and I liked him at once. We would meet in the afternoon and walk
                    around New Orleans, and he would talk, and I would listen. We would meet again
                    in the evening, and we would go to a pleasant courtyard and sit over a bottle of
                    whiskey, and he would talk, and I would listen until 12 and 1 and 2
                    o'clock. The next morning he'd be in seclusion working. We'd meet again in the
                    afternoon, again in the evening, and the next morning he's in seclusion working,
                    and I thought to myself, if that's all it took to be a writer, then <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    . And so I&#x2014;I started a book, and right away I found that writing
                    was fun. And I hadn't seen Mr. Anderson in&#x2014;in weeks. I met Ms.
                    Anderson on the street one day. She said, "What the matter? Are you mad at us?"
                    I said, "No, ma'am. I'm writing a book." She said, "Good God." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I 
                    saw her again, and she asked me how the book was
                    getting on. I told her, "Just fine." She said, "Do you want Sherwood to read
                    it?" I hadn't thought of anybody reading it. I said, "Well'm, if he wants to, 
                    it's all right with me." She said, "Well, he says he'll make a trade with you. If
                    he don't have to read that book, he'll tell his publisher to take it." So I
                    said, "Done," <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>  And I finished the book, and he
                    told his publisher, Mr. Liveright, to take it, and that's how I got printed.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But up to that time, I'd never thought of
                    being a professional writer because it was still fun. That's 
                    the first time I'd ever really connected money with&#x2014;with writing a book. But
                    the&#x2014;I think the&#x2014;the pleasure in scribbling must have been
                    there all the time. I imagine that as soon as I learned to spell, I must have been trying to write
                    something, . I don't remember what it could've been, but that's&#x2014;that's a
                    curse that we're probably born with .
                </p>
  <hr/>
  <a name="wfaudio18_2.10">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes,
                    sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>When you are writing a book, Mr. Faulkner, are you ever conscious of
                    trying to put up a philosophy of your own through <span class="unclear tooltip" title="Text was unclear">[a reading of]</span> your
                    characters?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir, I'm not. I think that's&#x2014;that's one thing that should
                    be on the front page of every book: the author is not responsible for
                    the opinion of these people inside. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    That's&#x2014;that's their notion. Of course, when they agree with me, I'm
                    happy to&#x2014;to put down what they say. When they don't agree with me, I
                    still put it down, but their opinions are theirs. I think that if the writer is
                    going to write simply to express his own opinions, then he is not primarily a
                    fiction writer, he's a&#x2014;a propagandist or a polemicist, that the writer
                    is engaged primarily in writing about people engaged in the amazing, eternally
                    interesting follies and tragedies and heroism which people are engaged. That the
                    symbolism, the style, the philosophy, the ideas are only coincidental and
                    probably to the writer not too important.</p>
  <hr/>
  <a name="wfaudio18_2.11">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In some of the statements published about you in the news stories that you
                    have made the distinction between yourself and the demon who makes you write.
                    Who or what is that demon?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, sir, I&#x2014;I don't know myself. Probably he harasses me too
                    much for me to have a good chance to turn and look at him. It could be, as I
                    say, a desire to leave some mark on&#x2014;on the world so
                    that&#x2014;that people after you will know that for a little while that
                    Smith was here.  He made this scratch. It&#x2014;well, I don't think
                    it's&#x2014;it's&#x2014;it's for glory. It's certainly not for profit,
                    because there are many more&#x2014;more profitable things than being a
                    writer. It&#x2014;it's&#x2014;it's certainly not to&#x2014;to change
                    man's condition. If anything, I would say that's what it is, it's simply to
                    leave a scratch on&#x2014;on the earth that showed that you were here for a
                    little while.
                </p>
  <hr/>
  <a name="wfaudio18_2.12">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>When or how do you decide on the titles?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Titles, I think the&#x2014;well, in my case, the good titles are like
                    gentle lightning strokes. I don't know where they come from. Suddenly there is
                    just exactly the right title. The only time I ever hunt for&#x2014;ever had
                    to hunt for a title it was a bad one. It never did please me. The others I don't
                    know where they came from. Suddenly the situation, the character, the book or
                    something about it brings the title out of&#x2014;out of the mysterious
                    unknown or out of the background or experience. I don't know where it comes
                    from.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Not always at the beginning ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sometimes the title is the first thing, the title invents the story.
                    Sometimes the title appears in the middle of the story. I've never had one that
                    finished without a title, that I had to hunt around and invent one.
                </p>
  <hr/>
  <a name="wfaudio18_2.13">&#xA0;</a>
  <p><strong>Frederick Gwynn:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In the title of <em>Requiem for a Nun</em>, does the <em>Nun</em> have to refer to Temple Drake Stevens or to
                    Nancy?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The nun was Nancy.</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong><span class="unclear tooltip" title="Text was unclear">[That]</span> she was very separated from the world as a nun
                    is?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it was in the&#x2014;the&#x2014;that tragic life of a
                    prostitute which she had had to follow simply because she was compelled by her
                    environment, her circumstance, to be it. Not for profit nor any pleasure. She
                    was just doomed and damned by circumstances to that life. And despite that, she
                    was capable within her&#x2014;her poor dim lights and reasons of an act, which
                    whether it was right or wrong, was a&#x2014;was a complete, almost religious
                    abnegation of the world for&#x2014;for the sake of&#x2014;of an&#x2014;of
                    an innocent child. That was&#x2014;it was paradoxical, the use of the word
                    "nun" for her, but I&#x2014;but to me that&#x2014;that added something to
                    her tragedy.
                </p>
  <hr/>
  <a name="wfaudio18_2.14">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, did your title <em>The Sound and the
                        Fury</em> come from Shakespeare's <em>Macbeth</em>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes.  Yes, there must have been a dozen books titled from that speech. I
                    think that I had the best one. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But I can
                    think of six or seven books all from that same speech.</p>
  <hr/>
  <a name="wfaudio18_2.15">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you feel any compulsion to be understood? Does it make any difference
                    to you that a great many of <span class="unclear tooltip" title="Text was unclear">[us are]</span> confused by what you are driving
                        at?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it's not a compulsion. It's a regret that I'm not, but there's the
                        demon.  It's&#x2014;the writer has got to write so
                    fast because he knows that, anyway, he'll never live long enough to write all he
                    wants to, and he wishes that he could be more coherent and could write simpler
                    and plainer, but there's that&#x2014;that need to get the whole history of
                    man's heart onto the head of that pin during his threescore and ten years, and
                    he hasn't got time to go back and rewrite it, which he&#x2014;he wishes he
                    did have time.  If he could call time out and rewrite the book and make it
                    clear and simple, but he don't have time because that one was wrong, and he's
                    got to write another one, to still try to put the history of man's hope and
                    aspiration and passion and tragedy and folly and comedy on the head of a pin
                    before he has to go through the last ultimate bottomless wall.
                </p>
  <hr/>
  <a name="wfaudio18_2.16">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you feel that your characters are universal ? <span class="unclear tooltip" title="Text was unclear">[I know
                        that you are a regional writer]</span> and I just wondered, or do you
                    care? </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I feel that the verities which these people suffer are universal
                    verities. That is, that man, whether he's black or white or red or yellow, still
                    suffers the same anguishes, he has the same aspirations, his follies are the
                    same follies, his&#x2014;his triumphs are the same triumphs. That is,
                    his&#x2014;his struggle is against his own heart, against&#x2014;with the
                    hearts of his fellows, and with his background. And, in that sense, there's no
                    such thing as a regional writer. The writer simply uses the terms he is familiar
                    with best because that saves him having to do research. That he
                    write&#x2014;might write the&#x2014;the book about Chinese, but if he does that, he's got
                    to do some research or somebody'll say, "Ah! You're wrong there. That ain't the
                    way Chinese behave." But if he uses his own region, which he's familiar with, it
                    saves him that trouble.</p>
  <hr/>
  <a name="wfaudio18_2.17">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>To what degree  the characters ? </p>
  <hr/>
  <p><strong>William Faulkner:</strong>None. There was never a writer that&#x2014;that wasn't convinced that
                    he could create much better people than God can. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's 
                    why no writer can ever write his own biography. He can't tell the
                    truth that long. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Because a fiction writer
                    is&#x2014;is a congenital liar to begin with, you see.  That's what makes him
                    a fiction writer. That's what the word fiction means.  And so he not only
                    couldn't tell the truth, he's&#x2014;he's convinced that he could create 
                    much better truth than circumstance can.</p>
  <hr/>
  <a name="wfaudio18_2.18">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, do you ever have a character <span class="unclear tooltip" title="Text was unclear">[that you are so
                        enthused with]</span> and had to <span class="unclear tooltip" title="Text was unclear">[in a word]</span> cut him out?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, in the sense that&#x2014;yes, that you get too fond of a
                    character, too amused at him or too interested, and&#x2014;and he&#x2014;he will say and
                    do things which&#x2014;for which there's&#x2014;there's no place in the
                    story you're telling, that you have to throw away, yes. That's just a matter of
                    using the&#x2014;having enough ruthlessness to use the blue 
                        pencil. That what he&#x2014;he does is still true enough, still
                    human enough, but there's simply no place for that in the&#x2014;the pattern
                    of the story which you're trying to tell, so you've got to cut it out.
                        Yes, that happened once or twice.
                </p>
  <hr/>
  <a name="wfaudio18_2.19">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes,  ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, why are you so fond of the Compsons and the Snopses? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I feel sorry for the Compsons. That was&#x2014;was blood which was good and
                    brave once, but has&#x2014;has thinned and faded all the way out. Of the
                        Snopes, I'm terrified.   <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
  <hr/>
  <a name="wfaudio18_2.20">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
                    
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>That was&#x2014;was <em>tour de force</em>, of course. I
                    took these people of&#x2014;of the kind which I know, and  
                    simply subjected them to&#x2014;to the two fiercest natural cataclysms, which
                    are flood and fire. That was a certain amount of deliberate
                    symbolism.  But to me, the very fact that these people endured for a reason that
                    on the face of it was foolish, that is, to carry their mother that far just to
                    bury her, but it was noble in that they had promised her to do that, and so they
                    were&#x2014;they had dropped their own baseness, their own pettiness, to
                    follow out this simple wish of the mother, which
                    was&#x2014;was noble, even though it was foolish, and that to me is another
                    indication that man is immortal, that he will endure because even in his folly,
                    he's capable of doing something not for his profit at all but
                    simply because his conscience or something, call it God if you like, says do
                    this, and so even in his folly, without believing that he is that brave and that
                    compassionate, he does brave and noble things.</p>
  <hr/>
  <a name="wfaudio18_2.21">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Have you been influenced by <em>The Divine Comedy</em> <span class="unclear tooltip" title="Text was unclear">[in any way]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I have, like every writer, been influenced by every word I ever read
                    from the telephone book up and down. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think
                    that&#x2014;that that's true of anyone that writes, that he is completely
                    amoral. He steals right and left without even knowing he's doing that. He stows 
                    that away and then if he ever needs it, he reaches in his mind, and he digs it
                    up and uses it. Yes, sir, I've been influenced by that, by everything I've read.
                    Not deliberately. You just can't help it. That's a part of the&#x2014;of the
                    experience which makes man&#x2014;the man or the child want to be a
                    writer.</p>
  <hr/>
  <a name="wfaudio18_2.22">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>You said you only liked to scribble, did you like <span class="unclear tooltip" title="Text was unclear">[to parse
                        sentences]</span> <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir, I didn't. I had to&#x2014;to learn something about that in
                    order to&#x2014;to follow my craft, but I never did like to go to school, and
                    I stopped going to school as soon as I got big enough to&#x2014;to play hooky
                    and not be caught at it. That was about the sixth grade, but I had to learn
                    the&#x2014;to use the tools of my craft just as&#x2014;as the
                    woodchopper's got to learn to use an ax in order not to chop his own feet
                        off.
                </p>
  <hr/>
  <a name="wfaudio18_2.23">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, these characters that you follow along, do they come to a
                    natural conclusion, or do you have to cut them off, or do they tell the
                    story and that's the end of it, or what?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no, they exist. They are&#x2014;they are still in motion in my
                    mind. I can laugh at things they're doing that I haven't got around to writing
                    yet. No, that's where the&#x2014;the rules of the craft come in, that
                    someone, some editor, has got to give the whole thing unity, coherence, and
                    emphasis, to start at a decent starting place and then stop it somewhere at a
                    logical, reasonable place. But the characters themselves, they walk on out of
                    that book still in motion, still talking, and still acting.</p>
  <hr/>
  <a name="wfaudio18_2.24">&#xA0;</a>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner, because of your interrupted education, it makes me wonder
                        if formal education ]</span>
                </p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think that nobody can know too much, can learn too much. I think that
                    one can be a writer without the formal education. I think the formal education
                    will not do the writer any more harm than anybody else, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but I'm convinced that
                    nobody can be taught anything, that you must learn it. And the value of formal
                    education is that all the&#x2014;the knowledge, the wisdom, the opinions on
                    the wisdom, on the knowledge which makes wisdom, is there convenient for you to
                    get. Otherwise, you've got to run from pillar to post to find what is right
                    there offered to you. But nobody can teach anybody anything, I'm convinced of
                    that. You've got to want to know it. You've got to want to learn it.</p>
  <hr/>
  <a name="wfaudio18_2.25">&#xA0;</a>
  <p><strong>Frederick Gwynn:</strong>Sir, you mentioned love and money and death as the three subjects of
                    fiction. Isn't there something else, above that, such as represented in your
                    novel about Thomas Sutpen. He was motivated by something other than those three
                    things, involved in something higher than they?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I meant that love and money and death are
                    the&#x2014;the&#x2014;the skeletons on which the story is laid. They have
                    nothing to do with the&#x2014;with the aspirations and the conflicts of the
                    human heart involved. But&#x2014;but the story has&#x2014;has got to have
                    some skeleton, and the skeletons are&#x2014;are love or money or death. In
                    Sutpen's case, there was&#x2014;he&#x2014;he needed the money in order to
                    satisfy his&#x2014;his aspiration. And it was his foreknowledge of death
                    which compelled&#x2014;impelled in him the&#x2014;the haste to be
                    completely ruthless, to do it while he still could. The&#x2014;love was a&#x2014;a
                    part of&#x2014;of his&#x2014;his conflict, too. He wanted&#x2014;wanted
                    that son for&#x2014;for vanity, of course. But you've&#x2014;vanity is not
                    really enough. You've got&#x2014;got to love the thing that&#x2014;that
                    you can be vain because of, or proud because of. It had to be his son, not
                    just&#x2014;he could've adopted a child, you see, and&#x2014;and carved
                    out a plantation  <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
