
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio18_3.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 30 May 1957</h4>
<h4>OCCASION: Local Public and University Community</h4>
<h4>TAPE: T-137</h4>
<h4>LENGTH: 2:29</h4>
<div class="audio play-all" id="event1">
        				Play entire recording
        			</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio18_3.1">&nbsp;</a><div class="audio play-clip" id="wfaudio18_3.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio18_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.11:00',
					'endtime','00:01:19.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> <span class="unclear tooltip" title="Text was unclear">[the&mdash;and]</span> from&mdash;from Greece, from Olympus in it somewhere. It lasts just for a
                    day or two, then it's gone, but every year in August that occurs in <span class="unclear tooltip" title="Text was unclear">[our
                        country]</span>, and that's all that title meant.  It was just&mdash;to
                    me a&mdash;a pleasant, evocative title because it&mdash;it reminded me
                    of&mdash;of that time, of a luminosity older than our Christian
                    civilization. Maybe the connection was with Lena Grove who had something of that
                        pagan quality of&mdash;of being able to&mdash;to assume everything, the desire
                    for&mdash;for that child. She was never ashamed of that child, whether it
                    had any father or not. She was simply going to follow the conventional laws of
                    the time in which she was and find its father. But as far as she was concerned,
                    she didn't especially need the father for it, any more than the&mdash;than
                    the women that&mdash;on whom Jupiter begot children were anxious for a home
                    and a father. It was enough to have had the child. And that was all that meant,
                        just that luminous, lambent quality of an older light than ours.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio18_3.2">&nbsp;</a><div class="audio play-clip" id="wfaudio18_3.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio18_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:27.44:00',
					'endtime','00:01:57.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Is ""Rose for Emily" all fiction?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir. Yes, sir, that's&mdash;that's all fiction, for the reason
                    I said, too. If any time a writer writes anything that&mdash;that seems at
                    all familiar to anybody anywhere, he gets a letter about it, and if they think
                    he got enough money, he's sued, too, so he's awful careful <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> not to write anything he ever saw himself, or
                    anybody ever told him.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio18_3.3">&nbsp;</a><div class="audio play-clip" id="wfaudio18_3.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio18_3.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:03.14:00',
					'endtime','00:02:26.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, we're all very grateful to you for coming this
                    afternoon. I want to thank you so much.</p>
<p><div class="speaker">William Faulkner</div>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio18_3.1" class="hidden">Light in August</a></li>
<li><a href="#wfaudio18_3.2" class="hidden">"A Rose for Emily"</a></li>
<li><a href="#wfaudio18_3.3" class="hidden">Close</a></li>
</ul></aside>
        
