
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio20_1read.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 20 February 1958</h4>
<h4>OCCASION: The Raven, Jefferson and Omicron Delta Kappa Societies</h4>
<h4>TAPE: T-140begins</h4>
<h4>LENGTH: 30:33</h4>
<h4>FAULKNER READING "A Word to Virginians"</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio20_1">
			Play section
		
	    <script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio20_1read.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:43.60:00:00',
					'endtime','00:11:40.93:00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Mr. Chairman, members of the Jefferson Society, the Raven
						Society, ODK, and ladies and gentlemen, a hundred years ago Abraham Lincoln
						said, "This nation cannot endure half slave and half free." If he were alive
						today, he would amend it: "This nation cannot endure containing a minority
						as large as ten percent held second class in citizenship by the accident of
						physical appearance." As a lesser man might put it, this nor any country or
						community of people can no more get along in peace with ten percent of its
						population arbitrarily unassimilated than a town of five thousand people can
						get along in peace with five hundred unbridled horses loose in the streets,
						or, say, a community of five thousand cats with five hundred unassimilated
						dogs among them, or vice versa. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> For
						peaceful coexistence, all must be one thing&mdash;either all first-class citizens
						or all second-class citizens, either all people or all horses, either all
						cats or all dogs.
						Perhaps the Negro is not yet capable of more than
						second-class citizenship. His tragedy may be that so far he is competent for
						equality only in the ratio of his white blood. But even if that is so, the
						problem of the second-class citizens still remains. It would not solve the
						problem even if the Negro were himself content to remain only a second-class
						citizen, even though relieved of his first-class responsibilities by his
						classification. The fact would still remain that we are a nation established
						on the fact that we are only ninety percent unified in power. With only
						ninety percent of unanimity, we would face, and hope to survive in it, an
						inimical world unified against us, even if only in inimicality. We cannot be
						even ninety percent unified against that inimical world, which outnumbers
						us, because too much of even that ninety percent of power is spent and
						consumed by the physical problem of the ten percent of
						irresponsibles.
						It is easy enough for the North to blame on us, the
						South, the fact this problem is still unsolved. If I were a northerner,
						that's what I would do, tell myself that one hundred years ago we&mdash;both of
						us, North and South&mdash;had put this to the test and had solved it. That it is
						not us, the North, but you, the South, who have refused to accept that
						verdict. Nor will it help us any to remind the North that by ratio of Negro
						to white in population, there's probably more of inequality and injustice
						there than with us.
						Instead, we should accept that gambit. Let us say to the
						North, "All right, it is our problem, and we will solve it." For the sake of
						the argument, let us agree that as yet the Negro is incapable of equality
						for the reason that he could not hold and keep it, even if were forced on
						him with bayonets, that once the bayonets were removed, the first smart and
						ruthless man, black or white, who came along would take it away from him,
						because he, the Negro, is not yet capable of, or refuses to accept, the
						responsibilities of equality.
						So we, the white man, must take him in hand and teach
						him that responsibility. This will not be the first time nor the last time
						in the long record of man's history that moral principle has been identical
						with and even inextricable from practical common sense. Let us teach him
						that, in order to be free and equal, he must first be worthy of it, and then
						forever afterward work to hold and keep and defend it. He must learn to
						cease forever more thinking like a Negro and acting like a Negro. This will
						not be easy for him. His burden will be that, because of his race and color,
						it will not suffice for him to think and act like just any white man. He
						must think and act like the best among white men. Because where the white
						man, because of his race and color, can practice morality and rectitude just
						on Sunday and let the rest of the week go hang, the Negro can never let up
						nor deviate.
						That is our job here in the South. It is possible that
						the white race and the Negro race can never really like and trust each
						other&mdash;this for the reason that the white man can never really know the
						Negro, because the white man has forced the Negro to be always a Negro
						rather than another human being in their dealings. And therefore the Negro
						cannot afford, does not dare, to be open with the white man and let the
						white man know what he, the Negro, thinks. But I do know that we in the
						South, having grown up and lived among Negroes for generations, are capable
						in individual cases, of liking and trusting individual Negroes, which the
						North can never do because the northerner only fears him.
						So we alone can teach the Negro the responsibility of
						personal morality and rectitude, either by taking him into our white
						schools, or giving him white teachers in his own schools, until we have
						taught the teachers of his own race to teach and train him in these hard and
						unpleasant habits. Whether or not he ever learns his ABCs or what to do with
						common fractions won't matter. What he must learn are the hard
						things&mdash;self-restraint, honesty, dependability, purity, to act not even as
						well as just any white man, but to act as well as the best of white men. If
						we don't, we will spend the rest of our lives dodging among the five hundred
						unbridled horses. We will look forward each year to another Clinton or
						Little Rock, not only further and further to wreck what we have so far
						created of peaceful relations between the two races, but to be international
						monuments and milestones to our ridicule and shame.
						And the place for this to begin is Virginia, the mother
						of all the rest of us <span class="unclear tooltip" title="Text was unclear">[through]</span> the South. Compared to you, my
						country&mdash;Mississippi, Alabama, Arkansas&mdash;is still frontier, still wilderness.
						Yet even in our wilderness we look back to that mother stock as though it
						were not really so distant and so far removed. Even in our wilderness the
						old Virginia blood still runs, and the old Virginia names&mdash;Byrd and Lee and
						Carter&mdash;still endure. There is no family in our wilderness but has that old
						aunt or grandmother to tell the children as soon as they can hear and
						understand, "Your blood is Virginia blood, too. Your
						great-great-great-grandfather was born in Rockbridge or Fairfax or Prince
						George, Valley or Piedmont or Tidewater," right down to the nearest
						milestone, so that Virginia is a living place to that child long before he
						ever heard or cares about New York or, for that matter, America.
						So let it begin in Virginia, toward whom the rest of us
						are already looking as the child looks toward the parent for a sign, a
						signal where to go and how to go. A hundred years ago the hot-heads of
						Mississippi and Georgia and South Carolina would not listen when the mother
						of us all tried to check our reckless and headlong course. We ignored you
						then, to all our grief. Yours more than any since you bore more of the
						battles. But this time we will hear you. Let this be the voice of that
						wilderness, speaking not just to Mother Virginia but to the best of her
						children&mdash;sons found and chosen worthy to be trained to the old pattern in
						the University established by Mr. Jefferson to be not just a dead monument
						to, but the enduring fountain of his principles of order within the human
						condition and the relationship of man with man&mdash;the messenger, the mouthpiece
						of all, saying to the mother of us all, "Show us the way and lead us in it."  I
						believe we will follow you. <span class="event tooltip" title="There was some applause happening">[applause]</span>
				</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul><li><a href="#wfaudio20_1" class="hidden">Speech</a></li></ul></aside>
		
