<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio18_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio18_1.2">Faulkner's Introduction</a>
    </li>
    <li>
      <a href="#wfaudio18_1.3">Story, Excerpt 1</a>
    </li>
    <li>
      <a href="#wfaudio18_1.4">Story, Excerpt 2</a>
    </li>
    <li>
      <a href="#wfaudio18_1.5">Story, Excerpt 3</a>
    </li>
    <li>
      <a href="#wfaudio18_1.6">Story, Excerpt 4</a>
    </li>
    <li>
      <a href="#wfaudio18_1.7">Story, Excerpt 5</a>
    </li>
    <li>
      <a href="#wfaudio18_1.8">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio18_1.9">Long Sentences</a>
    </li>
    <li>
      <a href="#wfaudio18_1.10">Sequel to The Town</a>
    </li>
    <li>
      <a href="#wfaudio18_1.11">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio18_1.12">Writing Method</a>
    </li>
    <li>
      <a href="#wfaudio18_1.13">Pessimism v Hope</a>
    </li>
    <li>
      <a href="#wfaudio18_1.14">Plotting a Story</a>
    </li>
    <li>
      <a href="#wfaudio18_1.15">Living Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_1.16">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio18_1.17">Failure and Rewards</a>
    </li>
    <li>
      <a href="#wfaudio18_1.18">Person v Writer</a>
    </li>
    <li>
      <a href="#wfaudio18_1.19">Atmospheric Influences</a>
    </li>
    <li>
      <a href="#wfaudio18_1.20">Local Reputation</a>
    </li>
    <li>
      <a href="#wfaudio18_1.21">Eula and Linda</a>
    </li>
    <li>
      <a href="#wfaudio18_1.22">Use of Symbols</a>
    </li>
    <li>
      <a href="#wfaudio18_1.23">Advice to Negroes</a>
    </li>
    <li>
      <a href="#wfaudio18_1.24">Inferiority v Equality</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 30 May 1957</h3>
  <h3>OCCASION: Local Public and University Community</h3>
  <h3>TAPE: T-135</h3>
  <h3>LENGTH: 31:48</h3>
  <h3>READING: From The Town</h3>
</div>
<div id="body">
  <a name="wfaudio18_1.1">&#xA0;</a>
  <p><strong>Frederick Gwynn:</strong>Mr. Faulkner will read a
					wonderful passage from his new novel, <em>The Town</em>, this
					afternoon and thereafter answer any questions from the floor. You may be
					interested to know that your opinion of the temperature of this room, as time
					goes on, is shared by the writer-in-residence, who calls it "The Black Hole."
					But you might feel reassured if I remind you that this is not merely the only
					room in the University that fits exactly the acoustics of Mr. Faulkner's voice,
					but it's partly our contribution to acclimatizing him for his return to a
					Mississippi summer. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> For he must return, he
					says, after one of the most exciting terms for us. And in valedictory, one is
					tempted to point with local pride now to Mr. Faulkner along with Messrs.
					Jefferson and Poe. He has spent almost as much time at the University as Poe
					did. His&#x2014;his <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> work, like that of Poe, which
					seemed Gothic at one time to many readers, turns out to be not of Germany but of
					the soul, as Poe said himself. And he has proven himself a gentleman of not only
					of Mississippi or Virginia but, like Thomas Jefferson, of the world. And
					possibly this afternoon our response may help to induce him to return next year.
					This return would be that of the most distinguished writer of fiction in the
					world today, Mr. William Faulkner. <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
  <hr/>
  <a name="wfaudio18_1.2">&#xA0;</a>
  <p><strong>William Faulkner:</strong>I reckon the only way I can live
						up to that encomium is by going back to Mississippi right away.  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					</p>
  <hr/>
  <a name="wfaudio18_1.3">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					 There is a ridge; you drive on beyond Seminary Hill and
						in time you come upon it: a mild unhurried farm road presently mounting to
						cross the ridge and on to join the main highway leading from Jefferson to
						the world. And now, looking back and down, you see all Yoknapatawpha in the
						dying last of day beneath you. There are stars now, just pricking out as you
						watch them among the others already coldly and softly burning; the end of
						day is one vast green soundless murmur up the northwest toward the zenith.
						Yet it is as though light were not being subtracted from earth, drained from
						earth backward and upward into that cooling green, but rather had gathered,
						pooling for an unmoving moment yet, among the low places of the ground so
						that ground, earth itself is luminous and only the dense clumps of trees are
						dark, standing darkly and immobile&#x2014;immobile out of it.
					
					</p>
  <hr/>
  <a name="wfaudio18_1.4">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					Then, as though at signal, the fireflies&#x2014;lightning-bugs
						of the Mississippi child's vernacular&#x2014;myriad and frenetic, random and
						frantic, pulsing; not questing, not quiring, but choiring as if they were
						tiny incessant appeaseless voices, cries, words. And you stand suzerain and
						solitary above the whole sum of your life beneath that incessant ephemeral
						spangling. First is Jefferson, the center, radiating weakly its puny glow
						into space; beyond it, enclosing it, spreads the County, tied by the
						diverging roads to that center as is the rim to the hub by its spokes,
						yourself detached as God Himself for this moment above the cradle of your
						nativity and of the men and women who made you, the record and chronicle of
						your native land proffered for your perusal in ring by concentric ring like
						the ripples on living water above the dreamless slumber of your past; you to
						preside unanguished and immune above this miniature of man's passions and
						hopes and disasters&#x2014;ambition and fear and lust and courage and abnegation
						and pity and honor and sin and pride all bound, precarious and ramshackle,
						held together by the web, the iron-thin warp and woof of his rapacity but
						withal yet dedicated to his dreams.
					
					</p>
  <hr/>
  <a name="wfaudio18_1.5">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					They are all here, supine beneath you, stratified and
						superposed, osseous and durable with the frail dust and the phantoms&#x2014;the
						rich alluvial river-bottom land of old Issetibbeha, the wild Chickasaw king,
						with his Negro slaves and his sister's son called Doom who murdered his way
						to the throne and, legend said (record itself said since there were old men
						in the county in my own childhood who had actually seen it), stole an entire
						steamboat and had it dragged intact eleven miles overland to convert into a
						palace proper to aggrandise his state; the same fat black rich plantation
						earth still synonymous of the proud fading white plantation names whether
						we&#x2014;I mean of course they&#x2014;ever actually owned a plantation or not: Sutpen and
						Sartoris and Compson and Edmonds and McCaslin and Beauchamp and Grenier and
						Habersham and Holston and Stevens and De Spain, generals and governors and
						judges, soldiers (even if only Cuban lieutenants) and statesmen failed or
						not, and simple politicians and over-reachers and just simple failures, who
						snatched and grabbed and passed and vanished, name and face and all. Then
						the roadless, almost pathless perpendicular hill-country of McCallum and
						Gowrie and Frazier and Muir translated intact with their pot stills and still
						speaking only the old Gaelic and not much of that, from Culloden to
						Carolina, then from Carolina to Yokpatawpha still intact and still not speaking
						much of anything except that now they called the pots "kettles" though the drink
						(even I can remember this) was still usquebaugh; then and last on to where
						Frenchman's Bend lay beyond the southeastern horizon, cradle of Varners and
						ant-heap of the northeast crawl of Snopes.
					
					</p>
  <hr/>
  <a name="wfaudio18_1.6">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					And you stand there&#x2014;you, the old man, already
						white-headed (because it doesn't matter if they call your gray hairs
						premature because life itself is always premature which is why it aches and
						anguishes) and pushing forty, only a few years from forty&#x2014;while there rises
						up to you, proffered up to you, the spring darkness, the unsleeping darkness
						which, although is&#x2014;it is of the dark itself, declines the dark since dark is of
						the little death called sleeping. Because look how, even though the last of
						west is no longer green and all of firmament is now one unlidded studded
						slow-wheeling arc and the last of earth-pooled visibility has drained away,
						there still remains one faint diffusion, since everywhere you look about the
						dark panorama you still see them, faint as whispers: the faint and shapeless
						lambence of blooming dogwood returning loaned light to light as the phantoms
						of candles would.
					
					</p>
  <hr/>
  <a name="wfaudio18_1.7">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					And you, the old man, standing there while there rises
						to you, about you, suffocating you, the spring dark peopled and myriad, two
						and two seeking never at all solitude but simply privacy, the privacy
						decreed and created for them by the spring darkness, the spring weather, the
						spring which an American poet, a fine one, a woman and so she knows, called
						girls' weather and boys' luck. Which was not the first day at all, not Eden
						morning at all because girls' weather and boys' luck is the sum of all the
						days: the cup, the bowl proffered once to the lips in youth and then no
						more; proffered to quench or sip or drain that lone one time and even then&#x2014;that
						sometimes premature, too soon. Because the tragedy of life is, it must be
						premature, inconclusive and inconcludable, in order to be life; it must be
						before itself, in advance of itself, to have been at all. 
					
					</p>
  <hr/>
  <a name="wfaudio18_1.8">&#xA0;</a>
  <p><strong>William Faulkner:</strong>There's no questions?</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>This is the point in the program at which Mr. Faulkner usually
					consents to answer questions on many subjects. I'm sure he will entertain them
					now.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not consent, but anxious to do.  Anybody likes
					to stand up in front of a lot of nice people and talk and nobody can say, "Shut
					up and sit down." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio18_1.9">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, may I ask why in some of
						your writing that you use long&#x2014;such long sentences, and almost eliminate 
						punctuation?  I have in mind a case in point: the first story in
						<em>Go Down, Moses</em>, I think you call it 
					"Was."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am. The reason for that is, I think, that every man, every writer has a
					foreknowledge of death, as everyone does. He realizes that he has only a limited
					time in which to do the work he wants to do. He has found being alive so amazing
					and so marvelous, that he has got to&#x2014;to transcribe it onto paper, to shape it.
					And he, I think, is&#x2014;is trying to&#x2014;to tell the whole passion of man's condition,
					his hopes, his fears, his aspirations in the short time he has to live before he
					dies, and so by instinct, if he don't watch himself, he tries to put everything
					into one long sentence, like the&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> like the&#x2014;the man
					that used to inscribe all of the "Lord's Prayer" on the head of a pin. That he must
					do it while he has breath to do it in.
				</p>
  <hr/>
  <a name="wfaudio18_1.10">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>Mr. Faulkner, your publishers have announced a sequel to <em>The 
					Town</em>.  I think this is the first time this has
					happened to you as a writer, being under that kind of pressure or&#x2014;or no ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The pressure is not actually from the publisher. When I first thought
					of&#x2014;of these people and the idea of&#x2014;of a tribe of people which would come into an
					otherwise peaceful little southern town like&#x2014;like ants or&#x2014;or like mold on
					cheese, then&#x2014;I discovered then that to tell the story properly would be too many
					words to compress into one volume. It had to be two or three. So the pressure
					has been on me before I ever told the publisher about it&#x2014;that I would have to
					keep on writing about these people until I got it all told, and I assume that
					one more book will do it, though I don't have any great hopes that it will.
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio18_1.11">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you write in regular hours or do you write in irregular hours?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir. By nature I am completely disorderly. I never have learned
					to&#x2014;to hang up anything or put anything back where I got it, and so I work
					when&#x2014;well, as the&#x2014;the athlete says, when I'm hot. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					And I don't like to work. I'm by nature lazy. I
					will put it off as long as I can. Then when I get started it's&#x2014;it's fun. I think
					the reason anyone writes is because it's fun, and you like it. That's just your
					cup of tea. And so I will write until I have to make myself stop because I've
					found that&#x2014;that the only rule for writing I have is to&#x2014;to leave it while I'm
					still hot&#x2014;while I'm still looking good, as <em>Gentlemen Prefer
						Blondes</em> puts it&#x2014;so that I can take up again tomorrow. But I've have never had
					any order. Some people are orderly. They&#x2014;they lay out a plot or synopsis first.
					They make notes, which is valid and satisfactory for them but not for me. I would
					be completely lost. Probably if I'd begun to make a few notes, I could say, "Oh
					well, that's all, you don't need to work anymore," and I'd quit. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					So I think I put off working as long as possible
					and do as much of the research and the note-filing up here, and then begin to
					write.</p>
  <hr/>
  <a name="wfaudio18_1.12">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in your actual
					composition, do you write everything out in longhand or do you type or have
						somebody   ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir. I write it out in longhand because I never have learned to
					think good onto the typewriter. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That I've got
					to&#x2014;got to feel the pencil and see the words at the end of the pencil. Then if
					it's the wrong word, it's simple enough to scratch it out and try it again. I&#x2014;I
					reckon I was&#x2014;started writing too soon to have taken the typewriter as an
					extension of the hands, as&#x2014;as the young man nowadays can do. I have to put&#x2014;put
					it down on paper first. After that I do the rewriting on the typewriter, but
					something has got to be on paper first for me to look at and get the feel.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>How fast do you dash it off, sir? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>So fast that somebody said my handwriting looks like a caterpillar that
					crawled through an ink well and out on to a piece of paper. If I leave it until
					tomorrow, I can't read it myself, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> so it's got
					to be put down quick and then typed quick.
				</p>
  <hr/>
  <a name="wfaudio18_1.13">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner,  how do you  advantage to being 
					pessimistic?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I think the&#x2014;the writer's aim is not deliberately to be
					pessimistic. His aim is to&#x2014;to show people, human beings in the human condition,
					faced with the tragedies and the aspirations, the hopes, which all people are
					faced with, in the most moving way he can. If his outlook is&#x2014;is pessimistic, it's
					simply because&#x2014;that is not&#x2014;not his&#x2014;his intention to be pessimistic. It's&#x2014;it's
					because having watched people in their confusion and their aspirations that
					are&#x2014;what&#x2014;what he gets is an immediate feeling of pessimism, though the very fact
					that he keeps on trying to write about people implies that that he has some hope
					for man, that he sees man as trying to do better than he does, to be more honest
					than he is, to be braver. That the pessimism is a&#x2014;a matter of the moment. Maybe the
					writer does want to do his&#x2014;his bit toward making man better, and maybe he
					thinks if he shows man in his moments of baseness, it may be&#x2014;be a lesson to
					someone, either don't do this or&#x2014;or a reminder even when people do do this, at
					other times they do good things, fine things. That they will do things that
					other people shan't suffer.
				</p>
  <hr/>
  <a name="wfaudio18_1.14">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you always know how the book's going to come out 
					before you starting writing it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir, I don't. The&#x2014;the trick is to&#x2014;to get the characters and&#x2014;and work
					at them until they stand on their own feet and take three dimensions and cast a
					shadow and begin to move. After that, all the writer has to do is to run along
					behind them with a notebook <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and put down what
					they say and do, but he himself, or I anyway, don't know where they're going.
					All I&#x2014;I know is that they're alive, and they're in motion, and if I can keep up
					and write fast enough, I won't miss anything.</p>
  <hr/>
  <a name="wfaudio18_1.15">&#xA0;</a>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Do you expect them to prove]</span> 
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Only to the point that they are alive, and that the reader will believe
					that they are alive. They may do things that shock him and outrage him, and that
					he doesn't like, but&#x2014;but my hope is he'll say, "Well, they are alive anyway.
					They're scoundrels and rascals, but they are alive." That is&#x2014;is the hope, I
					think, that any writer has&#x2014;that people he creates are credible, that the&#x2014;the comedy, the
					tragedy they run into, the&#x2014;the silly things they do are things that are&#x2014;are
					within the scope of&#x2014;of a human being to do.
				</p>
  <hr/>
  <a name="wfaudio18_1.16">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir&#x2014;yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, when you wrote <em>The Sound and the
						Fury,</em> why did you suddenly switch from the first person ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That book began as&#x2014;as so many books do with&#x2014;with an anecdote, a picture.
					The picture was of both children who had been sent from the house. They didn't
					know why. Something was taking place in the house, in the parlor, and like
					children, they were curious to know what it was, and the only one that was brave
					enough to climb the tree was the little girl, and the book grew from that. It
					started off to be a simple short story. I wrote the&#x2014;the first section, which was
					the idiot brother's. I realized that that wasn't enough. I hadn't told that
					story. So I let another brother try to tell it. That's the second section. I
					realized that still wasn't enough. I hadn't told that story, so I let the second
					brother try, which was the third section. That still wasn't enough, so then I had
					Faulkner try it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And&#x2014;and still it was not
					enough. I still <span class="unclear tooltip" title="Text was unclear">[haven't]</span> told the story to suit me. That's the
					reason that to me is the one I&#x2014;I love the dearest, that I'm the most fond of,
					because that was the most splendid failure, and I still haven't told that story.
					I believe that if I had it to do over, I could do it better. Of course I
					wouldn't. But that's the one book I wish I hadn't written, so I could write it
						now.
				</p>
  <hr/>
  <a name="wfaudio18_1.17">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, you've spoken frequently <span class="unclear tooltip" title="Text was unclear">[I believe&#x2014;about]</span> 
						various ways that you've failed, giving us the impression that you&#x2014;you 
						never feel as if you've quite expressed yourself.  Is it <span class="unclear tooltip" title="Text was unclear">[really so 
						hard]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right. I think that's true of any writer. That's why he writes
					another book. If he wrote the book that pleased him absolutely, that was perfect
					by his own standards, then nothing remains <span class="unclear tooltip" title="Text was unclear">[but to cut his throat]</span>, but that
					book fails so he writes another one. He believes that the next one won't fail.
					Of course it will. Which is good for him because that keeps him working, and I
					think that no life is as happy as&#x2014;as a&#x2014;a life in which you've tried to make
					something which wasn't here before&#x2014;a picture or a symphony or a book or a piece
					of sculpture, and that is to me the best life of all. Not a happy life, because
					it's filled with&#x2014;with anger, frustration, because it's not perfect&#x2014;of rage and
					exhaustion, but it's&#x2014;it's really a matchless life. I
					wouldn't put any other occupation above it. I think that&#x2014;that
					a man that can ded&#x2014;a young man, young woman, who can dedicate himself or herself
					to that simple idea, to make something which didn't exist before.  It is the best
					life .</p>
  <hr/>
  <a name="wfaudio18_1.18">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>May I ask how much your daily variations of mood affect the actions of
					your characters? Suppose one day you get up feeling fine, do your characters seem
					to take on a cheerful aspect? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>I&#x2014;I don't believe so. I think that&#x2014;that anyone, the painter, the
					musician, the writer works in a&#x2014;a kind of an&#x2014;an insane fury. He's demon-driven. He
					can get up feeling rotten, with a hangover, or with&#x2014;with actual pain, and&#x2014;and if 
					he gets to work, the first thing he knows, he don't remember that pain, that
					hangover&#x2014;he's too busy. That his&#x2014;his feeling&#x2014;I doubt if that reflects too much
					in his work. That he can wake up and go to work feeling good, and the first
					thing he knows, he doesn't remember whether he feels good or not&#x2014;he's too busy.
					That he is in the&#x2014;in the clutch of a demon then.
				</p>
  <hr/>
  <a name="wfaudio18_1.19">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, does that mean that he also  
					impervious to atmosphere ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. I think the writer, any artist, is&#x2014;is completely amoral.
					He's&#x2014;robs and steals everywhere he can find anything he might need. The
					atmosphere, he has&#x2014;he's gathered up from observation, from experience, just from
					living and breathing. He stole that away and then when he needs it, to put into
					what he writes, he hunts around in his trash bin or his lumber room and picks
					out the atmosphere or the symbolism or the style, whatever he needs, but he
					has&#x2014;has acquired that long before he sits down to write. At the time he's
					writing, he's like the carpenter building a fence or a chicken coop, that he's
					busy sawing planks and driving nails&#x2014;that he has already got his&#x2014;his supply of
					nails and his boards at hand, where he can reach back into his workshop and get
					what plank or what size nails he needs.
				</p>
  <hr/>
  <a name="wfaudio18_1.20">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
					Do you feel that the people you associated with <span class="unclear tooltip" title="Text was unclear">[in Mississippi]</span>&#x2014;old 
					cronies and so forth&#x2014;<span class="unclear tooltip" title="Text was unclear">[do you feel like]</span> ?
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <p><strong>William Faulkner:</strong>As far as I know, they do, because the friends I have are&#x2014;are not
					literary friends. They are people engaged in other pursuits, and unless I'm as
					good in their pursuits as they are, they have, of course, a low opinion of me.
					If I'm as good in&#x2014;in their pursuits, that is, farming or hunting or with horses
					as they are, then they have a high opinion of me, which has nothing to do with my
					books because they don't read my books. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					Some artist said that nobody in Mississippi reads; they're all
					writing. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio18_1.21">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I want to ask you a question about
						<em>The Town</em>. The&#x2014;the heroine of this story, Eula Varner
					Snopes, at the end commits suicide. What do you think was her reason for it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It was for the sake of that child. She, at that&#x2014;that time had realized
					that&#x2014;that every child, a&#x2014;a young girl, especially, needed the&#x2014;the semblance of
					an intact home&#x2014;that is, to have a mother and a father, to have the same things
					that the other children had. And she had reached an impasse where&#x2014;where her&#x2014;her
					lover would have demanded that&#x2014;that she leave her&#x2014;her husband, and then that
					child would have found out that&#x2014;that it had grown up in a broken home. Up to
					this time, whether the child loved Flem or not, at least he was the symbol of
					the father which all the other children had, and with&#x2014;the mother felt it would
					be better for this girl to have a&#x2014;a mother who committed suicide than a mother
					who ran off with a lover, which was&#x2014;that may have been the wrong decision she
					made, but that was the decision she did make&#x2014;that at least this girl
					would've&#x2014;would've had the&#x2014;the similitude of an intact, though a&#x2014;
					tragedy&#x2014;tragedy-ridden home, just as other children did.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you by chance have in mind writing the story of this daughter now?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes sir. That will be in the&#x2014;in the next book. She's one of the most
					interesting people I've written about yet, I think. Her story will be in the
					next book.
				</p>
  <hr/>
  <a name="wfaudio18_1.22">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, how do you feel about the use of symbols. That seems to be quite
						the rage now. Do you consciously use symbols in your writing?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not deliberately. The&#x2014;the symbolism is a part of anyone's past. By&#x2014;I mean
					by that his environment, his background, his experience, his observation. And a
					part of that background is&#x2014;is the Christian religion. The writer is engaged
					primarily in&#x2014;in writing about people. He's doing this in the most moving and 
					most effective way he knows, and the symbolism, like the style, they are the&#x2014;the
					nails and the boards in&#x2014;in the carpenter's workshop, and these symbols appear
					almost by coincidence in what he does. He's simply writing out of his own
					background of observation and experience&#x2014;that he hasn't got time to say, "Now,
					I'm going to use a symbol." He's too busy writing about simple men and women
					engaged in&#x2014;in the tragedy of man's condition, engaged in the conflict with the
					human heart or with its fellows or with its environment, its background, and I
					think that the reader must read any book from the same background which the
					writer writes it from, that is from the background of observation, experience
					and imagination, and so the reader reads into the book, finds in the book
					symbolism which the writer didn't know was there and is not really interested in
					finding there. He was too busy, but he doesn't doubt that&#x2014;that that
					symbol&#x2014;symbolism is there or, even <span class="unclear tooltip" title="Text was unclear">[if it were not, what]</span>
					symbolism is there could be translated into someone else's understanding and
					comprehension. That is, a Chinese could probably find Chinese symbolism in an
					American book, just as the American can find American symbolism in a Chinese or a
					Japanese book.</p>
  <hr/>
  <a name="wfaudio18_1.23">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes'm.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[I heard of your]</span> article 
					in <em>Ebony</em>.magazine giving advice to the colored
						people as to the way they should act toward integration. What was your
						advice and do you think that they are heeding it in any way?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would like to think that some do. The advice was simply that&#x2014;that no
					law or edict passed by no matter whom is going to change the social condition
					until the people involved in that condition wish it changed. That is, if the
					Negro were given equality by a police force, he would keep that equality only as
					long as the police stood there. When the police were gone, then someone smarter
					or more <span class="unclear tooltip" title="Text was unclear">[ruthless]</span> would take it away from them again&#x2014;that he
					has got to earn that equality. He has got to&#x2014;to learn, as everybody must,
					that&#x2014;that liberty and freedom&#x2014;is not a condition like rainfall or sunshine or
					being too cold or being too hot. That's a condition that one must&#x2014;must work to
					gain and then work to hold, that&#x2014;that to keep equality and freedom, you must
					learn the responsibility of equality and freedom, that nobody can have the
					freedom given him by the police until he's willing to&#x2014;to deserve it and then
					work to keep it, which is to be responsible for it. And I do hope that&#x2014;that some
					people in the Negro race read it and believed in it and&#x2014;and will take heed to it,
					since it's a problem which has got to be solved, as we&#x2014;we can't&#x2014;can't deport the
					whole Negro race. He's a part of our country now, and&#x2014;and we must all, the white man
					and the Negro, too, must work together to&#x2014;to make his condition bearable.
					Otherwise, it's&#x2014;it's like having seventeen million mules running loose in the
						country.
				</p>
  <hr/>
  <a name="wfaudio18_1.24">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> <span class="unclear tooltip" title="Text was unclear">[It seems you have placed the Negro in an inferior position]</span> 
					
				</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I have not placed him in an inferior position. It's the&#x2014;the&#x2014;the
					whole white race and white economy has placed him in an inferior position
					economically and educationally, because in&#x2014;in that position, the&#x2014;the white man's
					revenues from his economy will be a little higher. It's not
					that the Negro&#x2014;we don't know whether the Negro is inferior to the white man or not. 
				He's had no chance <span class="unclear tooltip" title="Text was unclear">[to be anything else]</span>.  But I&#x2014;as I see it, he must have&#x2014;have the chance
					to prove whether he is inferior or not, that he is not going
					to be content any longer to be inferior. I mean, artificially
					inferior. He's got to have the chance to prove that he is equal<span class="unclear tooltip" title="Text was unclear">[or
						incapable of it]</span>.  And it's better to&#x2014;for the white man to give him that
					chance than to have that chance foisted on the white man <span class="unclear tooltip" title="Text was unclear">[by
						law]</span>.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner, the state
						of the Negro was forced upon him by law, was it not?]</span>.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, sir, I would say by custom, and then, of course, all our law is&#x2014;is or
						usually is&#x2014;it speaks after the fact. The law simply makes legal what has been a
					custom. The law don't change  <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

		
