
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio06_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 13 April 1957</h4>
<h4>OCCASION: Blotner's Novel and Gwynn's American Fiction Classes</h4>
<h4>TAPE: T-115</h4>
<h4>LENGTH: 17:13</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio06_2.1">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:44.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Is there any purpose in the repetition of the same types of characters
                    throughout your writing?</p>
<p><span class="speaker">William Faulkner</span>No, only that I have led a&mdash;all of my life has been lived in a
                    little Mississippi town, and there's not much variety there. A&mdash;a
                    writer writes from his experience, his&mdash;his background, in the terms of
                    his imagination and his observation. That would be the explanation, I think.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.2">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:44.75:00',
					'endtime','00:01:51.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in line with that, some of your novels pick up
                        <span class="unclear tooltip" title="Text was unclear">[the]</span> characters where you left them off in other novels
                    that you had written a good number of years before. For example, most of the
                    incidents involving the Snopes, as I understand it, were written from 1929 on
                    and yet you've come out with a book this year about the Snopes. Do you find it
                    difficult to, over a period of years, pick up those characters and carry their
                    personalities through along the same vein?</p>
<p><span class="speaker">William Faulkner</span>No, no, those characters to me are&mdash;are quite real and quite
                    constant. They are in my&mdash;my mind all the time. I don't have any trouble at all
                    going back to pick up one. I&mdash;I forget what they did, but&mdash;but
                    the character I&mdash;I don't forget, and when the book is finished, that
                    character is not done, he's still going on at some new devilment that sooner or
                    later I will find out about and write about. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.3">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:52.61:00',
					'endtime','00:02:55.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>It's been said that you write about the secret of the human heart. Is
                    there one major truth of the human heart?</p>
<p><span class="speaker">William Faulkner</span>Well, that's a question almost metaphysical. I would say if there is one
                    truth of the human heart, it would be to believe in itself, believe in
                    its&mdash;its capacity to aspire, to be better than it is, it might be. That
                    it does exist in all people.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.4">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:57.78:00',
					'endtime','00:03:58.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, it has been said that at certain points in the evolution of society,
                    an author is within the society describing his immediate surroundings and what
                    he sees at that time, but as that society degrades and goes down, the author is
                    thrown out and looks as an outsider on his society such that you might see when
                    you look at the <span class="unclear tooltip" title="Text was unclear">[South]</span> ? What do you feel is your position in
                    society today? Are you looking from within or are you out of the society looking
                    at it objectively, the South in particular?</p>
<p><span class="speaker">William Faulkner</span>I think that I'm still a part of society. I think that as I grow older I
                    know more, and I see more, understand more of what I see, but I am as much
                    involved in society as I was when I was a young man. I just&mdash;just know
                    more of what I see now, because I'm older. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.5">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:59.21:00',
					'endtime','00:05:05.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in light of the question out here and your answer about
                    writing about Jefferson because that's what you know, I've always been
                    interested in why you switched <span class="unclear tooltip" title="Text was unclear">[then]</span> to France with <em>A
                        Fable</em>, which is another treatment of the human heart? Why did you feel
                    that a European setting would be best for that theme?</p>
<p><span class="speaker">William Faulkner</span>The <em>Fable</em> was the only book I ever wrote on an
                    idea, and the idea was, who might that man be under the splendid cenotaph with
                    the eternal fire burning over him?  That if he had been Christ returned again and
                    crucified again for the second time, then maybe we would have only one more
                    chance. That was the only book I ever wrote from an idea, and that idea had
                    to&mdash;since the idea was, who might be under that cenotaph, it had to take
                    place in France.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.6">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:09.25:00',
					'endtime','00:06:01.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, on the inside of the cover of <em>A Fable</em>, I read
                    the comment that this work might possibly become a classic in the lifetime of
                    the author. I never finished the book, and so I don't have an opinion of it to
                    comment. Do you care to comment?</p>
<p><span class="speaker">William Faulkner</span>I don't think it's a&mdash;a very good book because
                    it's&mdash;as I say, that's the only book I ever tried to write on ideas,
                    and I'm not an idea man. I'm not a&mdash;a cerebral man. I write
                    from&mdash;from&mdash;from here, and so I don't consider that a very good book myself.
                    It was the best I could do with the idea, and I had to write it because the idea
                    worried me.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.7">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:15.65:00',
					'endtime','00:07:24.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I was wondering whether Charles Bon in <em>Absalom,
                        Absalom!</em> ever had <span class="unclear tooltip" title="Text was unclear">[concluded]</span> who his father was, Sutpen&mdash;</p>
<p><span class="speaker">William Faulkner</span>I think he knew. I don't know whether he&mdash;his mother probably
                    told him. I think he knew.</p>
<p><span class="speaker">Unidentified participant</span>Was it a conscious knowledge, would you say, or an unconscious
                    knowledge?</p>
<p><span class="speaker">William Faulkner</span>Probably it&mdash;it was a&mdash;a conscious knowledge, in the sense that his
                    mother had told him who his father was. It may be that he didn't believe it or
                    didn't know or didn't care. I think&mdash;I don't believe that he felt any
                    affinity with Sutpen, as father and son, but probably his mother had told him
                    and&mdash;that she had been deserted and if anything, if he did believe it,
                    he hated Sutpen, of course.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.8">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:28.70:00',
					'endtime','00:07:52.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, do you think&mdash;according to Nathaniel Hawthorne, the
                    greatest sin was the violation of the human heart. Would you say that you think
                    along those lines as far as what the greatest sin could be or the greatest
                    <span class="unclear tooltip" title="Text was unclear">[crime a character could commit]</span>? Would you agree with that
                    statement?</p>
<p><span class="speaker">William Faulkner</span>Yes, yes, I agree with that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.9">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:03.50:00',
					'endtime','00:08:34.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Sir, did you feel any connection between the servant Nancy in <em>Requiem for a Nun</em> and the servant Nancy in "That Evening
                    Sun"?</p>
<p><span class="speaker">William Faulkner</span>She is the same person, actually.</p>
<p><span class="speaker">Frederick Gwynn</span>They both have that incident about Mr. Stovall in the street.</p>
<p><span class="speaker">William Faulkner</span>Yes, she is the same personal actually. These people I figure belong to
                    me, and I have the right to move them about in time when I need them.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.10">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:40.07:00',
					'endtime','00:09:31.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner.</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, throughout your work there seems to be a theme that there's
                    a curse upon the South. I was wondering if you could explain what this curse is
                    and if there's any chance of the South of escaping it.</p>
<p><span class="speaker">William Faulkner</span>The&mdash;the curse is slavery, which is a&mdash;a&mdash;an intolerable
                    condition. No man shall be enslaved, and the South has got to
                    work&mdash;work that curse out, and it will, if it's let alone.
                    It&mdash;it can't be compelled to do it. It&mdash;it must do it of its
                    own will and&mdash;and desire, which I believe it will do, if it's let
                    alone.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.11">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:35.50:00',
					'endtime','00:11:02.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, along that line, how will it do it, and what will <span class="unclear tooltip" title="Text was unclear">[it do]</span>
                     to adjust its relationship with the Negro? Will it take the Negro into
                    society or what will ?</p>
<p><span class="speaker">William Faulkner</span>No, it will&mdash;it will never take the Negro into society. It will
                    give the Negro the right for equality, which to me is something different. It
                    will&mdash;will teach the Negro the responsibility of equality, of
                    the&mdash;the Negro's own people will teach him that. Then he
                    will&mdash;will receive equality. He&mdash;I think that the Negro
                    doesn't want to mix with the white man any more than the white man wants to mix
                    with the Negro, but I do think that the Negro wants to be equal with the white
                    man and have the right to, that once&mdash;once he has the same right to
                    enter the white man's house that&mdash;that another white man does, he
                    won't want to, that his&mdash;his grief is that he knows that he has not
                    that right. No matter how clean he is or how intelligent, he has not that right,
                    to enter the white man's restaurant, the white man's hotel. Once he has that
                    right, he won't want to. He'll prefer his own, I believe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.12">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:05.03:00',
					'endtime','00:11:49.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, so many of your books have certain characters of mixed blood. Do you
                    consider miscegenation absolute&mdash;an absolute wrong or is it just a mistake with the
                    current social ?</p>
<p><span class="speaker">William Faulkner</span>It's&mdash;no, not wrong. It's a mistake only in the current social
                    scheme. There's&mdash;there's no law that is going to&mdash;to prevent
                    Romeo and Juliet no matter what color they are. There's no wrong in it. It's
                    simply a mistake and an error as conditions are now, and an individual suffers
                    because of it. That's the tragedy of it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.13">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:55.16:00',
					'endtime','00:13:22.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span> In <em>Absalom, Absalom!</em>  reaction to Sutpen's marriage because of their 
                        concern for their    because there's  ?</p>
<p><span class="speaker">William Faulkner</span>I'm sorry. I couldn't hear that too well.</p>
<p><span class="speaker">Unidentified participant</span>Was the reaction of the people to Sutpen's second marriage, when they had&mdash;no one
                    showed up at the <span class="unclear tooltip" title="Text was unclear">[wedding]</span> &mdash;was that reaction caused by
                    people's&mdash;the people's dislike of his <span class="unclear tooltip" title="Text was unclear">[life]</span> or his
                    social errors or because of their not being told why&mdash;where he got his
                    money ?</p>
<p><span class="speaker">William Faulkner</span>Oh, he had violated the local mores. They&mdash;they feared him, and
                    they hated him, because of his ruthlessness. He made no pretence to be anything
                    else except what he was, and so he violated the local mores, and
                    they&mdash;they ostracized him. Not in revenge at all, but simply because
                    they wanted no part of Sutpen.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.14">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:24.25:00',
					'endtime','00:14:43.50:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you say that you feel that there is hope for the South, yet
                    the Snopeses have taken over Frenchmen's Bend, Flem is president of the bank in
                    Jefferson. Are those the men that are going to lead the South out of the
                    darkness in ?</p>
<p><span class="speaker">William Faulkner</span>They are the&mdash;the men that can cope with the new industrial
                    age, but there will be something left, as this&mdash;we mentioned a while
                    ago, of&mdash;of the old cavalier spirit that will appear, that does appear.
                    I&mdash;by cavalier spirit, I mean people who believe in&mdash;in simple
                    honor for the&mdash;for the sake of honor, and honesty for the sake of
                    honesty.
                    Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Do you think <span class="unclear tooltip" title="Text was unclear">[those]</span> people will band together, or how
                    do you think they will accomplish this feat?  <span class="unclear tooltip" title="Text was unclear">[Don't you feel that]</span>&mdash;that there is a
                    curse and that it should be removed? How do you feel <span class="unclear tooltip" title="Text was unclear">[that they will eventually overcome]</span>?</p>
<p><span class="speaker">William Faulkner</span>They&mdash;they won't band together. I doubt if people accomplish
                    very much by banding together. People accomplish things by individual
                    protest.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.15">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:45.89:00',
					'endtime','00:15:53.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Is Sutpen meant to be a completely depraved character, something like
                    Claggart in <em>Billy Budd</em> or Iago in <em>Othello</em>, or is he meant to be pitied?</p>
<p><span class="speaker">William Faulkner</span>To me, he is to be pitied. He was not&mdash;depraved.  He
                    was&mdash;was amoral. He was ruthless, completely self-centered. To me he is
                    to be pitied, as anyone who ignores man is to be pitied, who does not believe
                    that he belongs as a member of&mdash;of a human family, of the human family,
                    is to be pitied. Sutpen didn't believe that. He was Sutpen. He was going to take
                    what he wanted because he was big enough and strong enough, and I think that
                    people like that are destroyed sooner or later, because one has got to belong to
                    the human family, and to take a responsible part in the human family.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.16">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:54.89:00',
					'endtime','00:16:55.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[If you were]</span> to explain mechanization in the South
                    after the Civil War as a destructive force, part of the degeneration, do you
                    think this is inherent of mechanization in a society when it shifts from an
                    agrarian society or do you think this is because, as a person in the South, that
                    it is this way in the South?</p>
<p><span class="speaker">William Faulkner</span>Well, the South is&mdash;is a part of the United States, and I think
                    that&mdash;that we are&mdash;the whole world is going through a&mdash;a
                    tragic time now, not because of mechanization, but because we became slaves
                    to&mdash;to the machines&mdash;<span class="unclear tooltip" title="Text was unclear">[at]</span>&mdash;which we invented for man's
                    good. Instead of they being our slaves, we are their slaves.  And we will have
                    to&mdash;but man is tougher even than the machine, that he
                    will&mdash;will endure and will outlast the&mdash;the age in which that
                    machine dominates.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio06_2.17">&nbsp;</a><div class="audio play-clip" id="wfaudio06_2.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio06_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:56.32:00',
					'endtime','00:17:10.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner, I'm sure we're all very grateful to you for coming
                        down and answering our questions this morning. Thank you, sir. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio06_2.1" class="hidden">Repeating Types</a></li>
<li><a href="#wfaudio06_2.2" class="hidden">Returning to Characters</a></li>
<li><a href="#wfaudio06_2.3" class="hidden">The Heart's Truth</a></li>
<li><a href="#wfaudio06_2.4" class="hidden">Relationship to Society</a></li>
<li><a href="#wfaudio06_2.5" class="hidden">A Fable's Setting</a></li>
<li><a href="#wfaudio06_2.6" class="hidden">A Fable's Merit</a></li>
<li><a href="#wfaudio06_2.7" class="hidden">What Bon Knew</a></li>
<li><a href="#wfaudio06_2.8" class="hidden">The Greatest Sin</a></li>
<li><a href="#wfaudio06_2.9" class="hidden">Nancy's Character</a></li>
<li><a href="#wfaudio06_2.10" class="hidden">The Curse on the South</a></li>
<li><a href="#wfaudio06_2.11" class="hidden">Integrating Society</a></li>
<li><a href="#wfaudio06_2.12" class="hidden">Miscegenation</a></li>
<li><a href="#wfaudio06_2.13" class="hidden">Sutpen and Society</a></li>
<li><a href="#wfaudio06_2.14" class="hidden">Hope for the South</a></li>
<li><a href="#wfaudio06_2.15" class="hidden">Responding to Sutpen</a></li>
<li><a href="#wfaudio06_2.16" class="hidden">Mechanization</a></li>
<li><a href="#wfaudio06_2.17" class="hidden">Close</a></li>
</ul></aside>
        
