<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio19_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio19_1.2">Faulkner's Introduction</a>
    </li>
    <li>
      <a href="#wfaudio19_1.3">Story, Excerpt 1</a>
    </li>
    <li>
      <a href="#wfaudio19_1.4">Story, Excerpt 2</a>
    </li>
    <li>
      <a href="#wfaudio19_1.5">Story, Excerpt 3</a>
    </li>
    <li>
      <a href="#wfaudio19_1.6">Story, Excerpt 4</a>
    </li>
    <li>
      <a href="#wfaudio19_1.7">Story, Excerpt 5</a>
    </li>
    <li>
      <a href="#wfaudio19_1.8">The Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio19_1.9">Djuna Barnes</a>
    </li>
    <li>
      <a href="#wfaudio19_1.10">Jefferson's Future</a>
    </li>
    <li>
      <a href="#wfaudio19_1.11">Failed Poet</a>
    </li>
    <li>
      <a href="#wfaudio19_1.12">Drama as Genre</a>
    </li>
    <li>
      <a href="#wfaudio19_1.13">Favorite Poem</a>
    </li>
    <li>
      <a href="#wfaudio19_1.14">A Fable's Language</a>
    </li>
    <li>
      <a href="#wfaudio19_1.15">Rewriting</a>
    </li>
    <li>
      <a href="#wfaudio19_1.16">Source of Characters</a>
    </li>
    <li>
      <a href="#wfaudio19_1.17">Deeper Meanings</a>
    </li>
    <li>
      <a href="#wfaudio19_1.18">Women Writers</a>
    </li>
    <li>
      <a href="#wfaudio19_1.19">Wuthering Heights</a>
    </li>
    <li>
      <a href="#wfaudio19_1.20">Plot v Character</a>
    </li>
    <li>
      <a href="#wfaudio19_1.21">Beginning as Writer</a>
    </li>
    <li>
      <a href="#wfaudio19_1.22">Defining Poetry</a>
    </li>
    <li>
      <a href="#wfaudio19_1.23">Writing Plays</a>
    </li>
    <li>
      <a href="#wfaudio19_1.24">Anderson's Winesburg</a>
    </li>
    <li>
      <a href="#wfaudio19_1.25">Literary Theft</a>
    </li>
    <li>
      <a href="#wfaudio19_1.26">Christianity</a>
    </li>
    <li>
      <a href="#wfaudio19_1.27">Knowing His Plot</a>
    </li>
    <li>
      <a href="#wfaudio19_1.28">His Education</a>
    </li>
    <li>
      <a href="#wfaudio19_1.29">Characters'  Views</a>
    </li>
    <li>
      <a href="#wfaudio19_1.30">Writing Habits</a>
    </li>
    <li>
      <a href="#wfaudio19_1.31">Charlottesville</a>
    </li>
    <li>
      <a href="#wfaudio19_1.32">Memory</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 5 June 1957</h3>
  <h3>OCCASION: Local Public and University Community</h3>
  <h3>TAPE: T-138</h3>
  <h3>LENGTH: 32:51</h3>
  <h3>READING: From The Town</h3>
</div>
<div id="body">
  <a name="wfaudio19_1.1">&#xA0;</a>
  <p><strong>Blotner:</strong>For a while Dublin had
					James Joyce.  For a while L&#xFC;bech had Thomas Mann.  For a while,
					happily, Charlottesville has had William Faulkner. And as Dublin and
					L&#xFC;bech were home to Joyce and Mann, so we hope that Mr. Faulkner will
					regard Charlottesville as a kind of second home. In adding up some year's end
					statistics, we found that Mr. Faulkner had met on twenty-four different
					occasions with undergraduate and graduate classes, with university
					organizations, and with groups such as this one today. These audiences totaled
					more than fifteen hundred people. In his office on the fifth floor of Cabell
					Hall, he has held office hours two hours a day, six days a week throughout the
					semester. Besides being the most punctual and faithful man in the department in
					keeping office hours, he has, we estimate, counseled more than one hundred and
					fifty University of Virginia students. Speaking of the University and its
					students some time ago, Mr. Jefferson said, "I hope its influence on their
					virtue, freedom, fame, and happiness will be salutary and permanent." We think
					this is an accurate description of the service Mr. Faulkner has performed. It
					has been some time since one could say of a novel that it was both on the
					best-seller list and also the work of a Nobel-Prize winner. One can say this of
						<em>The Town</em>, and it is from this novel that Mr. Faulkner
					will read briefly this afternoon. Then he will answer any questions you care to
					put to him. Around the turn of the century, opera impresarios used to arrange
					very extended farewell tours for some of their stars. During the past few weeks
					both <em>Time Magazine</em> and some newspapers have reported Mr.
					Faulkner's last appearances, but now, for positively the last time this season, 
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>  Mr. William Faulkner. <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
  <hr/>
  <a name="wfaudio19_1.2">&#xA0;</a>
  <p><strong>William Faulkner:</strong>This interminable valedictory does
					seem to be coming to an end at last. I have tried to express to Mr. Gwynn and
					Mr. Blotner how much pleasure I have had here. I would like to say to the people
					of Charlottesville, too, how much pleasure this has been for me. It's been so
					much pleasure, that I am a little concerned about whether it could have done any
					good or not, that anything this much fun must be bad
						<span class="unclear tooltip" title="Text was unclear">[someway]</span>.  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					</p>
  <hr/>
  <a name="wfaudio19_1.3">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					 There is a ridge; you drive on beyond Seminary Hill and
						in time you come upon it: a mild unhurried farm road presently mounting to
						cross the ridge and on to join the main highway leading from Jefferson to
						the world. And now, looking back and down, you see all Yoknapatawpha in the
						dying last of day beneath you. There are stars now, just pricking out as you
						watch them among the others already coldly and softly burning; the end of
						day is one vast green soundless murmur up the northwest toward the zenith.
						Yet it is as though light were not being subtracted from earth, drained from
						earth backward and upward into that cooling green, but rather had gathered,
						pooling for an unmoving moment yet, among the low places of the ground so
						that ground, earth itself is luminous and only the dense clumps of trees are
						dark, standing dark and immobile out of it.
					
					</p>
  <hr/>
  <a name="wfaudio19_1.4">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					Then, as though at signal, the fireflies&#x2014;lightning-bugs
						of the Mississippi child's vernacular&#x2014;myriad and frenetic, random and
						frantic, pulsing; not questing, not quiring, but choiring as if they were
						tiny incessant appeaseless voices, cries, words. And you stand suzerain and
						solitary above the whole sum of your life beneath that incessant ephemeral
						spangling. First is Jefferson, the center, radiating weakly its puny glow
						into space; beyond it, enclosing it, spreads the County, tied by the
						diverging roads to that center as is the rim to the hub by its spokes,
						yourself detached as God Himself for this moment above the cradle of your
						nativity and of the men and women who made you, the record and chronicle of
						your native land proffered for your perusal in ring by concentric ring like
						the ripples on living water above the dreamless slumber of your past; you to
						preside unanguished and immune above this miniature of man's passions and
						hopes and disasters&#x2014;ambition and fear and lust and courage and abnegation
						and pity and honor and sin and pride all bound, precarious and ramshackle,
						held together by the web, the iron-thin warp and woof of his rapacity but
						withal yet dedicated to his dreams.
					
					</p>
  <hr/>
  <a name="wfaudio19_1.5">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					They are all here, supine beneath you, stratified and
						superposed, osseous and durable with the frail dust and the phantoms&#x2014;the
						rich alluvial river-bottom land of old Issetibbeha, the wild Chickasaw king,
						with his Negro slaves and his sister's son called Doom who murdered his way
						to the throne and, legend said (record itself said since there were old men
						in the county in my childhood who had actually seen it), stole an entire
						steamboat and had it dragged intact eleven miles overland to convert into a
						palace proper to aggrandise his state; the same fat black rich plantation
						earth still synonymous of the proud fading white plantation names whether
						we&#x2014;I mean of course they&#x2014;ever actually owned a plantation or not: Sutpen and
						Sartoris and Compson and Edmonds and McCaslin and Beauchamp and Grenier and
						Habersham and Holston and Stevens and De Spain, generals and governors and
						judges, soldiers (even if only Cuban lieutenants) and statesmen failed or
						not, and simple politicians and over-reachers and just simple failures, who
						snatched and grabbed and passed and vanished, name, face and all. Then
						the roadless, almost pathless perpendicular hill-country of McCallum and
						Gowrie and Frazier and Muir translated intact with their pot stills and still 
						peaking only&#x2014;speaking only the old Gaelic and not much of that, from Culloden to
						Carolina, then from Carolina to Yokpatawpha still intact and still speaking not 
						much of anything except that they now called the pots "kettles" though the drink
						(even I can remember this) was still usquebaugh; then and last on to where
						Frenchman's Bend lay beyond the south&#x2014;southeastern horizon, cradle of Varners and
						ant-heap of the northeast crawl of Snopes.
					
					</p>
  <hr/>
  <a name="wfaudio19_1.6">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					And you stand there&#x2014;you, the old man, already
						white-headed (because it doesn't matter if they call your gray hairs
						premature because life itself is always premature which is why it aches and
						anguishes) and pushing forty, only a few years from forty&#x2014;while there rises
						up to you, proffered up to you, the spring darkness, the unsleeping darkness
						which, although it is of the dark itself, declines the dark since dark is of
						the little death called sleeping. Because look how, even though the last of
						west is no longer green and all of firmament is now one unlidded studded
						slow-wheeling arc and the last of earth-pooled visibility has drained away,
						there still remains one faint diffusion, since everywhere you look about the
						dark panorama you can still see them, faint as whispers: the faint and shapeless
						lambence of dogwood blooming return loaned light to light as the phantoms
						of candles would.
					
					</p>
  <hr/>
  <a name="wfaudio19_1.7">&#xA0;</a>
  <p><strong>William Faulkner:</strong>
					And you, the old man, standing there while there rises
						to you, about you, suffocating you, the spring dark peopled and myriad, two
						and two seeking never at all solitude but simply privacy, the privacy
						decreed and created for them by the spring darkness, the spring weather, the
						spring which an&#x2014;which an American poet, a fine one, a woman and so she knows, called
						girls' weather and boys' luck. Which was not the first day at all, not Eden
						morning at all because girls' weather and boys' luck is the sum of all the
						days: the cup, the bowl proffered once to the lips in youth and then no
						more; proffered to quench or sip or drain that lone one time and even that
						sometimes premature, too soon. Because the tragedy of life is, it must be
						premature, inconclusive and inconcludable, in order to be life; it must be
						before itself, in advance of itself, to have been at all. </p>
  <hr/>
  <a name="wfaudio19_1.8">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In&#x2014;in this book, <em>The Town</em>, we come
					across so many of the characters we have met previously.
					Are those four snaky Snopeses new?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Are the what Snopes new?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>The four snaky Snopeses, in the last chapter?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not to me. I thought of&#x2014;of&#x2014;of these people thirty years ago, and&#x2014;and the
					more I thought about them, the more Snopes they invented. It's simply that I
					haven't got around yet to&#x2014;to telling about them. There's one more volume, which
					I hope will be the last, but I have no assurance that it will be. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It may be that when I finish that there will
					still be another. But they are&#x2014;are not new to me. They have been in&#x2014;been alive
					and have been in motion. I have hated them and laughed at them and been afraid
					of them for thirty years now. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Fascinating.</p>
  <hr/>
  <a name="wfaudio19_1.9">&#xA0;</a>
  <p><strong>Frederick Gwynn:</strong>Mr. Faulkner, who's that poetess
					quoted in the passage you just read?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That was Djuna Barnes. She belonged to one of the first minute, precious
					expatriate groups back in the&#x2014;when was that?</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>The Twenties, wasn't it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Twenties. Yes, the early Twenties. Djuna Barnes, it was. I don't know
					whether she's still alive or not. Do you know?</p>
  <hr/>
  <a name="wfaudio19_1.10">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Who will inherit Jefferson if and when the
						<span class="unclear tooltip" title="Text was unclear">[Snoopses]</span> or Snopeses are ever exterminated?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I believe that&#x2014;that man can cope with all his follies. I think
					that&#x2014;that the fact that Snopeses can flourish is just a symptom of man's folly
					but that man copes with it, that he will&#x2014;will rid himself of&#x2014;of even the
					Snopeses by some desire for simple decency. Maybe it's just in order to get
					along with&#x2014;with his fellow men and women in Jefferson, but he will cope with 
					Snopeses and&#x2014;and what is good in our country will&#x2014;will still endure. It may
					take a&#x2014;a&#x2014;a different phase from what our&#x2014;our ancestors knew it before 1861, but I
					think that even Snopeses can be coped with and even hydrogen bombs can be coped
						with.
				</p>
  <hr/>
  <a name="wfaudio19_1.11">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, you dabbled in poetry a little bit before you began writing. Did you
					ever have any published at all or&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>One book. I'm a failed poet. I still think of myself as a failed poet. I
					believe that any writer wants first to be a poetry&#x2014;a poet. When he finds that he
					can't write first-rate poetry, and poetry of all must be first-rate. There are
					no degrees of it. It's either first-rate or it's bad. It's rotten. Then he tries
					short stories, which is the next severe medium. When that fails, then he goes to the
					novel. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That is, he wants first to take&#x2014;take
					the tragedy and passion of&#x2014;of experience, of life, and put it into fourteen
					words. If he can't, he tries two thousand words. If he fails that, then he takes
					a hundred thousand. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <a name="wfaudio19_1.12">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Where do plays work with that  
					<span class="unclear tooltip" title="Text was unclear">[category]</span>?
				</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The play partakes of a little of all. That is, a&#x2014;a&#x2014;a special&#x2014;specialized
					medium almost. It&#x2014;it must&#x2014;to be good, it must partake of&#x2014;of all three: of the
					poetry, of the short story, and the&#x2014;the novel, but certainly it's&#x2014;it's above the
					novel because it don't take quite as many words.  That a good playwright don't
					have to talk as long as a novelist has to talk to tell his story.</p>
  <hr/>
  <a name="wfaudio19_1.13">&#xA0;</a>
  <p><strong>Frederick Gwynn:</strong>Mr. Faulkner, I read in
						Coughlan's book that "The Phoenix and the
						Turtle" is your favorite poem. Is that true and if so, is there
					any special reasons?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I doubt if anyone has a favorite poem, unless it's somebody that has
					a favorite poem by Edgar A. Guest that's good for visitors,
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and I&#x2014; I don't think anyone could have a
					favorite poem. It depends on&#x2014;on how you feel, what you like to read and
					remember, <span class="unclear tooltip" title="Text was unclear">[of]</span> something that you have seen or run into that&#x2014;that makes you think
					of truth as some poet has expressed it.</p>
  <hr/>
  <a name="wfaudio19_1.14">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In <em>A Fable</em> was there any definite attempt on your part
					to more or less put it in biblical language?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That was the only book I ever wrote from an idea, and so I can't say
					myself just how much of the intent was deliberate to follow the story of the
					Passion Week or a pattern of&#x2014;of any Christian legend or even the language of the
					Bible, though I'm&#x2014;I'm quite sure that the&#x2014;that the deliberate intent was there,
					but how much I&#x2014;I can't say because I think the writer, when he is busy telling
					his story, he hasn't really got time to think about style or&#x2014;or about the
					pattern of&#x2014;of his&#x2014;his sentences. He's too busy.  But anyone writing writes from
					his own experience, his own observations, his own imagination, and all he has
					read is a part of his experience, and so in the&#x2014;the heat and fury of&#x2014;of
					composing his piece, he will reach back into his memory, and he will dig up all
					sorts of things and will fit them into the joint just as the carpenter does with
					a board until he finds the one that&#x2014;that makes the best joint or makes the&#x2014;the
					soundest corner or the driest roof, and so I think that no man can say just how
					much of&#x2014;of a style, a method, is deliberately deliberate or unconsciously
					deliberate or what. In fact, he's so busy trying to tell his story that he don't
					really care.</p>
  <hr/>
  <a name="wfaudio19_1.15">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Do you do much rewriting, Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No more than I can help. I'm lazy, and I'd heap rather think of a story
					and&#x2014;and laugh over it myself than to go to the trouble to put it down on the
					paper. I put that off as long as possible. Then when it worries me so much I
					can't put it off anymore, then I put it down, and I try to be sure that it's
					right, so I won't to have to rewrite it, though sometimes it's&#x2014;it's wrong, and I
					do have to.</p>
  <hr/>
  <a name="wfaudio19_1.16">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Well, how are your&#x2014;are your
					characters created out of your own imagination or are they taken from people
					you've known?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Any writer is completely amoral. Any artist is. He takes what he thinks
					he will need from any source with no compunction and with no sense of being
					amoral or unmoral, because anyone after him is perfectly at liberty to take
					anything from him they want. Also, I doubt if any writer would be satisfied
					with&#x2014;with men and women just the way the Lord makes them. He's convinced he can
					make a much better job than that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And any
					fiction writer is a congenital liar to begin with, and he probably couldn't tell
					the truth about anything, that no matter what he tried to tell the truth about he
					would embroider just a little.</p>
  <hr/>
  <a name="wfaudio19_1.17">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>After you have written your book and maybe read it over two or three
					years later, do you find symbolism in it that you didn't realize at the time
					you were writing it? Do you find&#x2014;you ever find more in it than you realized at
						the time you were writing it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I doubt if a writer ever reads his&#x2014;his book again. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					I think that&#x2014;that&#x2014;that's one saving thing he has
					in his craft, that every time he writes a book, he knows that's one book he
					won't have to read. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Also, the reason that the
					writer writes another book is that one that he finished wasn't quite good enough
					to suit him, and he don't want to read that book anymore. He wants to forget
					that book because he's trying to write the next one, which may be good enough.
					Of course, he knows that one probably won't be good enough, too, but that's what
					keeps him going. That's why, taken by and large, his life is so happy. He has
					something to wake up tomorrow morning to&#x2014;to need to do, not to want to do, but
					to need to do, that drives him to do it. But it's never quite good enough for
					him, so he doesn't need to read it again. He's not interested in what anybody
					else thinks about it because he himself knows it ain't good enough for him, and
					that's the only opinion he really cares about.</p>
  <hr/>
  <a name="wfaudio19_1.18">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You often have referred to male authors that you have enjoyed. Are there
					are any women writers you esteem?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, any number. Bront&#x451; or Willa Cather, Ellen Glasgow&#x2014;any
					number. I think that&#x2014;that when I refer to&#x2014;to authors as males I'm simply using
					"he" as&#x2014;as sort of a&#x2014;a&#x2014;a simplified term to express an individual. Yes, any
					number of&#x2014;of good ones.</p>
  <hr/>
  <a name="wfaudio19_1.19">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Was <em>Wuthering
						Heights</em> one of your favorite books? I&#x2014;I remember you gave us a list, and
					I&#x2014;I don't remember them all.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't really have favorite books. I have books that I read many times
					over and over, but it's not for the book, it's for the people in it. There're
					certain people that I like to read about, just as you like to go into a room and
					spend thirty minutes with an old friend, and <em>Wuthering
						Heights</em> is a book that I have&#x2014;have admired for its craftsmanship,
					but&#x2014;but there's&#x2014;there's nothing in it that I would ever&#x2014;ever read again
					probably, though some day I might.</p>
  <hr/>
  <a name="wfaudio19_1.20">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>When an idea germinates for a story, do you start with the story or the
					situation or with the characters, a certain character that interests you?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sometimes it's a situation, an anecdote or&#x2014;or a picture. Usually,
					it's a character.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Usually it's a character?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>And the character takes charge of the&#x2014;of the whole thing and begins to
					invent his supporting cast, and&#x2014;and then they all go charging away at full speed
					and tell the story, and all I do is just to run along behind them and put it
					down. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But they take charge of it. It's&#x2014;it's
					usually a character, though occasionally an anecdote of something, a&#x2014;a picture,
					a mental image that has&#x2014;has to do with&#x2014;with something of the human condition. I
					wrote one book from&#x2014;from the mental picture of a little girl climbing a tree to
					look in a forbidden parlor window. She'd fallen down in the mud on a rainy
					afternoon, and the image was the&#x2014;the muddy seat of&#x2014;of that child about twelve or
					thirteen years old, the muddy seat of her drawers, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					and that was, I think, the&#x2014;what the book came from.</p>
  <hr/>
  <a name="wfaudio19_1.21">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, did you start
					writing&#x2014;now, you probably answered this question a million times&#x2014;but did you
					start writing at a definite period of your life or have you always written more
						or less since the time you were a&#x2014;a little boy?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I imagine that I had&#x2014;had been scribbling as soon as I learned to spell.
					I've told this story before. If anyone has heard it, I hope they will excuse it
					this time. That was as soon as I learned to spell, and I'd always liked to
					imagine stories and occasionally put something down, but I was still&#x2014;had not
					taken it seriously until I was in New Orleans. I was working for a bootlegger.
					This was back in the&#x2014;in the twenties, and I met Sherwood Anderson, and we liked
					each other right away. We would meet in the afternoon. We would walk around the
					French Quarter along the docks, and he would talk, and I would listen. We'd meet
					again in the evening. We'd go to a&#x2014;a nice patio or courtyard, and we'd sit over
					a bottle of whiskey, and he would talk, and I would listen. In the morning, I
					wouldn't see him. He'd be in seclusion working. And that would go on day after
					day, the afternoons to walk and laugh and talk, and the evenings to&#x2014;to drink and
					laugh and talk, in the mornings, in seclusion working. And I thought that if
					that was all it took to be a writer, that was exactly the life for me. 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So, I&#x2014;I started a book, and right away I found that
					it was fun, that I liked it, and I got so interested in it, I forgot about Mr.
					Anderson. I hadn't seen him for several weeks, and I met Mrs. Anderson on the
					street. She said, "What's wrong? Are you mad at us? We haven't seen you in a
					long time." I said, "No, ma'am. I'm writing book." She said, "Good God." 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&#x2014;I met her a week or two after, and she asked
					about the book. I said I was just about to finish it. She said, "Do you want
					Sherwood to read it?" I hadn't thought of anybody reading it. I said, "Well'm,
					he can if wants to." She said, "Well, Sherwood says he'll make a swap with you.
					If he don't have to read that book, he'll tell his publisher to take it." So I
					said, "Done," <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and he told his publisher to
					take the book, and that's how I became&#x2014;took up writing seriously. Up to that
					time, I'd done it&#x2014;well, it never occurred to me that anybody might want to read it or
					hadn't thought of it in public terms till then.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>But if you hadn't met Sherwood Anderson, it would have been inevitable,
					though.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, yes. Yes, indeed. I think the writer is driven by a demon that he
					can't help himself anymore. That's a vice, really. Nothing he can do about it.
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And he just wastes time fighting it.
						Best thing is to go on and be a writer.</p>
  <hr/>
  <a name="wfaudio19_1.22">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What, Mr. Faulkner, would you give as your definition of poetry?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It's some moving, passionate moment of the human condition distilled to
					its absolute essence.
				</p>
  <hr/>
  <a name="wfaudio19_1.23">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>This is a probably a question you've been asked many times also. Why have
					you&#x2014;or have you ever been tempted to do play-writing?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, probably because I have spent all my life in the country, and I can
					count on my thumbs almost the plays I've seen. <span class="unclear tooltip" title="Text was unclear">[And]</span> I have
					never thought in terms of&#x2014;of&#x2014;of theater. It may be it takes a&#x2014;a&#x2014;a special
					temperament to do it, but I have never&#x2014;never thought in terms of theater. I'm
					sure the main reason is that I've never seen enough of it, that I&#x2014;I like to read
					plays. I'd much rather read one than see one.</p>
  <hr/>
  <a name="wfaudio19_1.24">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Considering the Sherwood Anderson
					connection, had he written <em>Winesburg, Ohio</em> when you met
					him?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes. Yes, he was working on&#x2014;on <em>Dark Laughter</em>
					then. He&#x2014;that was after <em>Winesburg</em> and after <em>The 
						Triumph of the Egg</em>. His two best, I think.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, his best character seems to have been George Willard, and isn't it
					a bit tragic that he left him in <em>Winesburg</em> and never
					revived him?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't think so. That George Willard is alive enough. There's no need
					to&#x2014;to harass and worry the man to death. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> He
					has come alive, and, as&#x2014;as you say, he's the best character. That's
						enough.
				</p>
  <hr/>
  <a name="wfaudio19_1.25">&#xA0;</a>
  <p><strong>William Faulkner:</strong> Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Since your characters, for instance, <span class="unclear tooltip" title="Text was unclear">[sometimes]</span> come
					from your reading and your experiences, you must have occurrences of unconscious
					plagiarism or at least fears that you have read it somewhere before. How do you
					cope with such a situation?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, as I said, any writer is completely amoral, that he has very
					likely stolen it from somewhere, but then he has no qualms about that because
					anyone after him that steals from him flatters him, and he assumes that every
					other writer feels that way. There are so few things to write about, and the&#x2014;the
					human condition changes so slowly, that very likely almost any situation, except
					for a few minor differences, has already been written about by somebody, and
					very likely you read it somewhere. That reading to me is part of one's
					experience, as much of one's experience as&#x2014;as dealing with actual flesh&#x2014;fresh&#x2014;flesh 
					and blood people, but there's&#x2014;I'm sure that any writer is ready to admit that he
					has stolen from everything he ever read, and he has read everything from the
					telephone book up and down.
				</p>
  <hr/>
  <a name="wfaudio19_1.26">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, you have been called, among other things, a Christian
					humanist. I was wondering if you could tell me what you consider your
					relationship to the Christian religion?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Why, the Christian religion has never harmed me, and I hope I never have
					harmed it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I have the&#x2014;the sort of&#x2014;of
					provincial Christian background which one takes for granted without thinking too
					much about it, probably. That I'm&#x2014;probably within my own lights, I feel that I'm
					a&#x2014;a good Christian. Whether it would please anybody else's standard or not, I
					don't know.</p>
  <hr/>
  <a name="wfaudio19_1.27">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Do you know where your story is
					going when you start working, Mr. Faulkner? The end when you
					start?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Only&#x2014;only twice have I known where the story was going. Once was in&#x2014;in 
						<em>Fable</em>. The other was in a book called <em>As 
							I Lay Dying</em>. They were both <em>tour de
						force</em>, so I knew where they were going. The others, I don't know where
					they're going. I simply try to keep up with the people who have already gotten
					in motion, to put down what they do and say and then have a little time
					afterward to throw away the trash, but I&#x2014;that&#x2014;that's probably true with&#x2014;with
					most writers, unless they do write from a&#x2014;from a&#x2014;a synopsis, that they don't know
					where the story's going. Some writers can work that way, and the indecision is
					eliminated. That is, that first draft, that first synopsis, may have taken&#x2014;taken
					care of the&#x2014;of the&#x2014;the confusion which my method follows about where the thing
					is going.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you have a synopsis or do you&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No'm, I&#x2014;I never have a synopsis, and I never have made <span class="unclear tooltip" title="Text was unclear">[any]</span> research and
					don't keep notes, because if I was going to go to the trouble to keep notes, I'd
					try to write it so I could print it. It's too much trouble. I don't like to
					write that much.</p>
  <hr/>
  <a name="wfaudio19_1.28">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, did you study or
					have a formal <span class="unclear tooltip" title="Text was unclear">[writing classes]</span>  <span class="unclear tooltip" title="Text was unclear">[college]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I didn't go to college. I didn't like school and quit in the sixth
					grade. I'm the oldest living sixth grader. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I
					think I learned to write in the only possible way that there is to learn to write,
					which is to read and to read and to read and to try it and to try it and to try it 
					until it&#x2014;until it suits you, which, of course, it won't do. But to try and to try
					and to try, but reading is&#x2014;is the way to learn to write. I doubt if anyone can
					be taught anything anyhow, but I don't believe anyone can be taught to write.
					You've got to be demon-driven and to want to learn in spite of
					everything.</p>
  <hr/>
  <a name="wfaudio19_1.29">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You say you follow your characters with a notebook and recall what they
					do and say. You do not plan any of the conversations?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No'm, I don't.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Or any of the incidents?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You're not responsible for anything they do?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, ma'am. I'm not responsible for anything they do or say. 
					<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Any ideas they express are theirs and not mine.
					If I have the same idea, it's purely coincidental. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio19_1.30">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, do you find that you
					can write almost anywhere, on a train, or riding in the back seat of a car?  Or in
					an office?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, yes. Sure, just anywhere. I put it off as long as I can. Then when I
					can't put off any longer, I can write anywhere, on anything, and with anything
					except a typewriter. I'm not much good with a typewriter.</p>
  <hr/>
  <a name="wfaudio19_1.31">&#xA0;</a>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Have you picked up anything interesting, <span class="unclear tooltip" title="Text was unclear">[whether]</span> ideas
					or people, during your stay in Charlottesville? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>That comes back to the&#x2014;to the writer's complete
						amorality, that he don't have to say now, let's see if
					there's anything in this alley that I can use. He just picks it up, whether he
					can use it or not, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and later on he finds that maybe he can, but he
					don't&#x2014;he's&#x2014;</p>
  <hr/>
  <a name="wfaudio19_1.32">&#xA0;</a>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Calls for]</span> a phenomenal memory, then?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it's&#x2014;it's a phenomenal memory in the sense that&#x2014;that the muscle
					remembers, that it's not anything that&#x2014;that's really catalogued into the mind.
					It's catalogued into whatever muscles of the human spirit produce the&#x2014;the book
					or the music or the picture, and we'll assume that&#x2014;that there are muscles in the
					spirit that do that. The&#x2014;the&#x2014;the artist is&#x2014;well, it's a little more than
					kleptomania, it's a little of kleptomania.  But&#x2014;rather more of&#x2014;of whatever it
					is that makes the magpie pick up everything or the packrat pick up anything
					that's loose. I think that's the way the writer goes through life, through books
					and through the actual living world, too. That he misses very little, not
					because he's made up his mind before breakfast not to miss anything today, but
					because those muscles do it for him, and when the need comes, he digs out
					things that he didn't know where he saw them, which to him don't matter. He may
					have stolen it&#x2014;he probably did&#x2014;but to him that's not important. The important
					thing is if he uses it worthily. If he makes some base use of it then, of
					course, it's a shame. But he wants to&#x2014;when he steals, he wants&#x2014;he wants the
					owner that he stole from to approve of what he did with it, or not to disapprove
					too much. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

		
