
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio30_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 12 May 1958</h4>
<h4>OCCASION: Representatives from Other Colleges</h4>
<h4>TAPE: T-145a</h4>
<h4>LENGTH: 33:02</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:02.78:00',
					'endtime','00:01:05.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span> to share with them our good fortune in having as
                    Writer-In-Residence at the University of Virginia the world's greatest living
                    novelist. He began our program last year by reading from his works, but the
                    question and answer period that followed was so lively and so prolonged that we
                    thought that this year we would skip the appetizer and begin with the steak. Mr.
                        William Faulkner.   <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
<p><span class="speaker">William Faulkner</span>Any question? Somebody must have at least one. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.2">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:10.77:00',
					'endtime','00:02:43.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, during our formal education we are&mdash;are taught to
                    adhere to certain grammatical rules, punctuation rules, sentence structure and
                    so forth. Do you think that if a writer attempts to adhere to such rules that
                    his style is restricted or cramped in any sense?</p>
<p><span class="speaker">William Faulkner</span>No, sir. I don't think so. It may be that his opportunities for
                    experimentation are cramped. I think that&mdash;that any language must
                    continue to be alive. That is, it must continue to change or be susceptible to
                    change, and&mdash;and grammar, punctuation are&mdash;are part of that
                    fluidity. If by experimentation you&mdash;you find out if the old ways were
                    the best or maybe the old ways might be subject to change. I wouldn't say that
                    it restricts your style because style could be a part of the&mdash;the
                    fluidity of&mdash;of the change. Style, if it's a&mdash;like anything
                    else to be alive it must be in motion too. If it becomes fixed, then it's dead.
                    It's just rhetoric. The style must change according to what the writer is trying
                    to tell. What he is trying to tell, in fact, compels the style.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.3">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:50.97:00',
					'endtime','00:04:34.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> If I'm not speaking
                    loud enough, would you let me know?
                        Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you feel that the traditional values of the South have
                    been endangered by increased industrialization ?</p>
<p><span class="speaker">William Faulkner</span>They couldn't be. The&mdash;the values of any thing, to be of any
                    importance, must be alive, too. It may be that you won't like to see
                    industrialization. You won't like to see the old customs change. But the only
                    alternative to change is&mdash;is to cease, to die. And I think
                    that&mdash;that any culture that's worth its salt is going to cope with any
                    change. That industrialization is not going to destroy anything of value in the
                    South. The things of value which are&mdash;are obsolete will be remembered,
                    and they will be the material for&mdash;for writing, for
                    art, even though they no longer exist as a&mdash;a motivating quality in the
                    present culture. They will exist as a&mdash;well,
                    the&mdash;the jeweled casket to hold the
                        fine traditions. In the sense that&mdash;that there's
                    no such thing as "was" really, that every man is&mdash;is the sum of his
                    past, of his ancestry, and so there's nothing ever ends in that sense. As long
                    as somebody remembers it, it still exists. The good of it will still exist,
                    still be available.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.4">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:43.10:00',
					'endtime','00:06:21.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, this is a little bit more specific, but
                    is there any redemption <span class="unclear tooltip" title="Text was unclear">[within the Snopes family of itself?]</span>
                    Will that come or is that going too far <span class="unclear tooltip" title="Text was unclear">[into your next novel]</span>?</p>
<p><span class="speaker">William Faulkner</span>Possibly. I think that&mdash;that in time evil will&mdash;will
                    exhaust its own tools. That is, the&mdash;the Snopeses will vanish. There will
                    be some Snopeses named something else. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And
                    it's not really necessary to redeem Snopeses. Snopeses are an infinitesimal part
                    of the human race of man, and man is&mdash;is, I think, pretty good. That
                    he's&mdash;he's doing all right. That he can&mdash;can take on a tribe of
                    Snopeses and can get rid of them, and they will not have done any great harm to
                    the&mdash;to the record of man's endeavor. That they are not really
                    a&mdash;a problem. They are a problem of the moment. And there's always
                    someone that will&mdash;will cope with Snopeses or will&mdash;will
                    outlast Snopeses. The&mdash;the good, the people that are against what
                    Snopeses represent will last longer than the family of Snopeses will.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.5">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:47.55:00',
					'endtime','00:08:15.03:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What influenced your humor the most? Your&mdash;did you read
                    a&mdash;a lot of Mark Twain or something like that? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>That's a good question. That is, it's a question I'm&mdash;I'm happy
                    to try to answer. I think that&mdash;that humor is not influenced by what
                    anyone reads. It&mdash;it's a&mdash;an attitude of optimism toward man's
                    predicament. That if&mdash;if you take man's predicament, the dilemma, too
                    seriously, that's not too good for anybody. But if you are capable of seeing
                    that man with all his folly, all the&mdash;the harm <span class="unclear tooltip" title="Text was unclear">[and the
                       shoddiness]</span> he does, that even in his&mdash;at his worst, he
                    is capable of doing things in a comical way that he himself didn't intend to do.
                    I don't think you need to&mdash;to ape Mark Twain or&mdash;or Leacock or
                    any other humorist to write humor. It's a point of view toward man in his
                    dilemma, which is to me a very healthy point of view. If you can&mdash;can
                    laugh at what man does, then you agree that what he does is not going to endure
                    long enough to do a great deal of harm.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.6">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:25.57:00',
					'endtime','00:09:28.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Do you think that the southern attitude towards the Negro is the same
                    today as when you pictured it in your book <em>Intruder in the
                        Dust</em>?</p>
<p><span class="speaker">William Faulkner</span>No, sir, I think it has changed. I think it has got to change
                    because that was a part of a living culture, and as I just said, the only
                    alternative to motion is death. So the culture, the Negro's position in the
                    southern culture, will alter for the better. I&mdash;I believe that there
                    are enough people in the South that realize that whether the Negro is now
                    capable of equality with the white man, he will have to have the chance to try
                    to find out, simply because the Negro is also a human being. And there's no
                    position for a second class human being in a culture opposed to another
                    antipathetical culture as the world is today.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.7">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:30.18:00',
					'endtime','00:10:56.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, you've had a number of novels made into movies, and
                    I&mdash;I know you've written some screenplays, and I wonder if you think a
                    novelist, any novelist, if one jeopardizes his position as a
                    novelist by allowing Hollywood sometimes to do a bad job ?</p>
<p><span class="speaker">William Faulkner</span>No, sir, not at all. I think the writer has done the best he could, the
                    best he possibly could with that book, that nothing done to that book later can
                    change it&mdash;change what he did and the&mdash;the movies can take
                    that book and if they want to, if he wants to let them take that book
                    for&mdash;for any reason other than the belief that they're going to improve
                    on it, then they won't hurt it. If he's going to&mdash;when the book is
                    finished, and it is done the way he wants it done, then some movie picture
                    company says, "If you'll rewrite this to please us, then we'll give you money
                    for it," and he says, "All right, I will&mdash;I will rewrite this book before
                    anybody&mdash;I will destroy this book and write it to suit you," then he
                    has betrayed his own talent and his own trust, whatever it is that the artist
                    functions under. Integrity, call it what you like. But if he has finished the
                    work, done the best he can with it, then nothing can hurt it, in my
                        opinion.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.8">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:00.04:00',
					'endtime','00:12:00.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I'm interested in <em>Intruder in the Dust</em>, too, in
                    the last part there, that Gavin&mdash;you have the lawyer uncle in that say
                    that "It would be better if the North, the outsiders, left the South alone to
                    settle its own problems and sins." Do you still hold that theory, or am I right in
                    thinking that you meant that ?</p>
<p><span class="speaker">William Faulkner</span>I still hold that opinion, I think that&mdash;that no one can be
                    saved by an outsider. He must be saved from inside himself. That is, the South
                    must correct that evil, as it applies to the South, ourselves, that it can't be
                    done by&mdash;by laws or philosophical or political theories compelled on us
                    from the outside.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.9">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:00.09:00',
					'endtime','00:14:37.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Well, I was interested in what then should be the outsiders' point of
                    view, from outside the South. In worrying about the South, what if the South did
                    not pull itself up by its own bootstraps? They would be worried about the effect
                    upon the rest of the states.</p>
<p><span class="speaker">William Faulkner</span>Well, in my opinion, the South will have to pull itself by its own
                    bootstraps for the reason I just stated, that the only alternative to motion,
                    progress, is death. It's a condition which we have realized much further back
                    than 1954 was&mdash;was an impossible situation. Our forefathers that fought
                    the&mdash;the Civil War knew that. Mr. Jefferson knew that a hundred and
                    fifty years ago. There were people even before Mr. Jefferson that realized that
                    slavery was an&mdash;an impossible condition in this country that would have
                    to be remedied. I think that&mdash;that the&mdash;the outsider who is
                    doing it because he's a do-gooder serves some purpose in keeping a certain
                    pressure on.  But nobody knows when to let well enough alone, and if he could
                    just keep the constant, faint pressure and let be at that, he would serve his
                    purpose, but he gets too enthusiastic with changing overnight a&mdash;a
                    condition which is emotional according to a pattern of morality which he can't
                    do.</p>
<p><span class="speaker">Unidentified participant</span>Well, he might not be a do-gooder exactly. He&mdash;he might be a
                    person worried about the effect upon the country at large, foreign policies or
                    problems that come up out of traditional southern attitudes, and then I wonder
                    whether a Senator from Oregon, for instance, would
                    suppose&mdash;would do <span class="unclear tooltip" title="Text was unclear">[what position could he take that would be
                        acceptable, that would consist of]</span> certain rules and regulations to
                    impose for the whole country.</p>
<p><span class="speaker">William Faulkner</span>Well, of course, he would do what he thought the people that elected him
                    would expect him to do to get elected <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> next
                    time, but he would still be working on a&mdash;a&mdash;to&mdash;to
                    compel a system of economic morality on an emotional condition.
                    He&mdash;I'm not saying that he's wrong. I'm saying he's
                        impractical.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.10">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:50.26:00',
					'endtime','00:16:39.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Speaking of the character of Gavin Stevens in the book, did you have a
                    real life figure that you based him on?</p>
<p><span class="speaker">William Faulkner</span>I think a writer writes from three sources. One is his own personal
                    experience, which would include, of course, the books he reads, has read, his
                    observation, and his imagination. I doubt if he himself can say just how much of
                    each source he has drawn from for this particular page or story or book. I
                    believe, though, that he is convinced that he can create much better people than
                    God can. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That he will never be satisfied to
                    take anyone he has seen from real life, put into a book, because he would
                    improve on it. I think that maybe a writer is incapable of actually sticking to
                    the truth, that he is a congenital liar, and he is going to change, alter,
                    anything that he&mdash;he touches to put down on paper. So he himself can't
                    say just how much of the character he actually saw, how much he heard about, how
                    much he imagined. To him that's not too important. His&mdash;what he wants
                    to do is to create characters of his own, yet are so close to life, so
                    life-like, that the people that read the books will say, "Why yes,
                    that's&mdash;that man could be so. In fact, I know somebody a good deal like
                    him." Though, actually, the character that he put down is&mdash;is not what
                    he ever saw. He's added something to it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.11">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:41.99:00',
					'endtime','00:17:44.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What do you think of the Thomas Wolfe sort of writing
                     autobiographical and yet other <span class="unclear tooltip" title="Text was unclear">[things are just set in the
                        background, in personal observations]</span>? What do you think
                    ?</p>
<p><span class="speaker">William Faulkner</span>I think that any writer is&mdash;is autobiographical in the sense
                    that he is writing from those three reservoirs which I just spoke of.  That he is
                    writing a man in terms of himself. That is, he&mdash;he is writing a man as
                    he saw it. And I&mdash;I wouldn't know, probably Mr. Wolfe don't know how
                    much he was writing of what he himself saw. He is writing mainly of what he
                    himself believed he saw and heard and imagined, that what he believed is truth
                    as he knows it. But he will be, even if he were writing his own life, he
                    probably couldn't stick to the truth. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.12">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:46.01:00',
					'endtime','00:19:26.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>To what factors do you believe the success of your work has been what you hoped it would be??</p>
<p><span class="speaker">William Faulkner</span>I'd have to ask you what you mean by success. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">Unidentified participant</span>Popularity or the sale of the book, perhaps. </p>
<p><span class="speaker">William Faulkner</span>Well, I would&mdash;I'd say that&mdash;that came from the fact
                    that I have always kept myself an amateur. I've never thought of myself as a
                    professional. I've done this for fun, and it didn't really matter to me whether
                    anybody read it or not. Success is&mdash;is feminine, and quite often
                    if&mdash;if you&mdash;if you beg and plead, she scorns you. If you show
                    the back your hand to her, she clings to your knees. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But I think it's because I have tried
                    to&mdash;to be an amateur, and I've done it just for fun, not to get rich,
                    not to make money, nor to be famous, but because it was fun. It was something I
                    found to do that was the most fun of anything I'd tried yet. I never could quite
                    do it, and so I'd never be bored with it. That each time I finished a book it
                    wasn't as good as I wanted it to be, but I still had some more paper, so I'd
                    write another one tomorrow, and maybe that one would be. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> If any of you think of being writers that's the
                    first advice I would give you, is to keep it amateur, do it for fun. It's hard
                    work, I grant you, but do it for fun because you like to do it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.13">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:33.37:00',
					'endtime','00:21:01.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span> <span class="unclear tooltip" title="Text was unclear">[for example, in <em>Pylon</em>, you touch on the city of New Orleans,
                        where&mdash;was that in a way true to life]</span>  <span class="unclear tooltip" title="Text was unclear">[you had your
                        observations]</span> ?</p>
<p><span class="speaker">William Faulkner</span>That was a mixture of all three. That New Orleans wasn't quite the New
                    Orleans I lived in at one time. That airport wasn't quite the airport that I
                    have operated aircraft out of at various times. But just how much of it was
                    true, how much of it was lies, I would have to go back over the book with a
                    pencil and&mdash;and postulate as I went along. But the writer
                    is&mdash;he is&mdash;he is too busy. He is not interested in facts, you
                    see. He is interested in truth, the fundamental truth, of mans' struggle within
                    his&mdash;his predicament, his dilemma. That he will&mdash;will be as&mdash;as
                    strict as he can to the standards of integrity regarding the truth
                    of&mdash;of man's passions and hopes and fears and aspirations. But he will
                    pay very little attention to physical facts. He won't care whether it is
                    Tuesday, 1958 or Tuesday, 1956. Or whether New Orleans is in Louisiana or in
                    Oregon. It don't matter to him.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.14">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:04.62:00',
					'endtime','00:21:41.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Joseph Blotner</span>Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>In the novel&mdash;that novel <em>Pylon</em>, could the
                    title, could the title refer to the girl Laverne, the marker or beacon around
                    which all the other, all the men gravitate?</p>
<p><span class="speaker">William Faulkner</span>Now, there's some more of this erudite, professorial symbolism
                        <span class="unclear tooltip" title="Text was unclear">[gets into everything]</span>. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    I'm sure that you're quite right, I just hadn't thought of that.
                    I'm&mdash;I'm glad to know it. I'll remember that. I'll use that sometime
                    probably. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.15">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:46.17:00',
					'endtime','00:23:54.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>What about this matter of symbolism, Mr. Faulkner? Are you ever conscious
                    of some of the symbols you've been accused of using?</p>
<p><span class="speaker">William Faulkner</span>The writer's like a carpenter. He has a&mdash;a&mdash;a grab
                    bag, a barrel full of odds and ends, of boards and nails, and&mdash;and
                    the&mdash;the sort of things that he might possibly some day need, and when he's
                    busy in the heat of writing his story, he needs something, so he reaches back
                    and <span class="unclear tooltip" title="Text was unclear">[scrabble]</span> around in his barrel until he finds something
                    that fits. Of course, the&mdash;I think that&mdash;that one reads from
                    the same background that the writer writes from. That is, the culture. The
                    culture contains this symbolism which has been established and described by
                    the&mdash;the experts, the psychiatrists and psychologists, and since
                    the&mdash;one man writes from it, another reads from it, it's natural that
                    the symbolism should appear. And since the&mdash;well, in our case now, we
                    both read and write from a culture we call the culture of the Christian culture,
                    and naturally symbols will be identifiable because they are part of the very air
                    that both the writer and the reader have breathed through education, and the
                    experiences of being a child, of being taught to be a Christian child, or the
                    child of cultured parents. But I don't think the writer has got time to say "Now
                    I'm going to write&mdash;get a few symbols into this one." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    He's too busy. He's writing about people, you
                    see, writing about human beings and the individual people in their struggles
                    inside the human condition. He's trying to tell that story in the most dramatic
                    way he can, and when he realizes by instinct that a symbol will help him, he
                    reaches back in his carpenter's catch-all and gets out a symbol. But he's not
                    deliberately writing symbols.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.16">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:57.98:00',
					'endtime','00:25:06.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>You said you didn't deliberately write symbols, but you are <span class="unclear tooltip" title="Text was unclear">[doing
                    that]</span>, I think, and I would like to ask you <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
                    if you saw the symbol in the bear, in the short
                    story "The Bear"?</p>
<p><span class="speaker">William Faulkner</span>Since I've been up here and discussed it I see lots of symbolism that I was
                    too busy at the time, at the time&mdash;</p>
<p><span class="speaker">Unidentified participant</span>
                    <span class="unclear tooltip" title="Text was unclear">[I wish you'd tell me one, so I can tell my class.]</span>
                    <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
<p><span class="speaker">William Faulkner</span>The&mdash;well, the one symbol was the bear represented
                    the&mdash;the&mdash;the vanishing wilderness. The little dog that wasn't
                    scared of the bear represented the indomitable spirit of man. I'll have
                    to&mdash;have to dig back and get up some more of those symbols but I
                    have&mdash;have learned around an even dozen that I've put into that story
                    without knowing it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But they are two pretty
                    good ones that you can hold to.</p>
<p><span class="speaker">Unidentified participant</span>
                    <span class="unclear tooltip" title="Text was unclear">[Thank you.]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.17">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:06.98:00',
					'endtime','00:25:39.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>May I ask what you think of James Joyce?</p>
<p><span class="speaker">William Faulkner</span>James Joyce was one of the&mdash;the great men of my time. He was
                    electrocuted by the divine fire. He and Thomas Mann were the&mdash;the great
                    writers of my time. He was probably&mdash;might have been the greatest, but
                    he was electrocuted. He had more talent than he could control.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.18">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:44.54:00',
					'endtime','00:27:21.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, a great deal of attention in recent years has been
                    devoted to the idea that perhaps man's life as he lives it from day to day is
                    speeded up rather tremendously, and that this has had effects on his thinking.
                    I'm wondering first of all if you believe this is true, and if you do believe
                    it's true, if this has had an effect on what he wants to read or what he wants
                    to be told?</p>
<p><span class="speaker">William Faulkner</span>I don't believe it has had any effect on what he wants to read and what
                    he wants to be told, as it's inside him. The effect has been on&mdash;on
                    what he has been told he wants to read. That's the pressure to&mdash;to
                    conform, to belong to groups, to read the book of the month, or to own the same
                    Cadillac, or to have the same two children, or to have a house
                    that&mdash;that has everything in it that all the other houses on the street
                    have. But basically he&mdash;he&mdash;he&mdash;he is puzzling over
                    the same fundamental problems that he has always been puzzling over ever since
                    he found that he had a soul and stood up out of the mud. I think the other's
                    ephemeral and on the surface and&mdash;and will pass away. That it's nothing
                    to be concerned about. There's a great deal of pressure on him to&mdash;to
                    let somebody else decide for him what he shall read, what he shall think, what
                    he shall do. But I don't think that will last. I don't think that he pays any
                    attention to it, actually.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.19">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:23.75:00',
					'endtime','00:29:03.55:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, <span class="unclear tooltip" title="Text was unclear">[just what do you consider man's
                    dilemma]</span>?</p>
<p><span class="speaker">William Faulkner</span>I mean by that his&mdash;his situation. He wants to live in
                    a&mdash;a world that's peaceful, where he can have the&mdash;the simple
                    things he wants, and yet he's&mdash;he's always involved with overproduction
                    in one place and underproduction in another, and the threat of wars and atom
                    bombs, and he still&mdash;instead of giving up, he still tries to do
                    something about that, he still struggles within that dilemma to make it the one
                    he wants, in which all people can be happy, in which little children won't have
                    to suffer, in which the weak would be protected. His dilemma is simply to make
                    it work. There's a&mdash;stories from the Chinese, I think, at one time, you
                    may know this, cats were the first form of life on earth. They had tried to make
                    civilization work, to get rid of wars and poverty and pestilence, and it didn't
                    work, so they summoned all the wise cats to a congress, and they said that we
                    will choose some other form of life that is optimistic enough to believe that
                    man can live in peace and plenty, but foolish enough not to believe that he will
                    fail again. So that's why the cat lives with you, and he won't work, and he
                    don't love you. Maybe that's why the cat looks <span class="unclear tooltip" title="Text was unclear">[at us]</span> the way he does. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.20">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:06.53:00',
					'endtime','00:30:01.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what do you think will aid the South in pulling our
                    boot&mdash;bootstraps up?</p>
<p><span class="speaker">William Faulkner</span>Education. Better education than we've got.</p>
<p><span class="speaker">Unidentified participant</span>And do you think that&mdash;that education will  <span class="unclear tooltip" title="Text was unclear">[up
                    ]</span> the people <span class="unclear tooltip" title="Text was unclear">[in time before]</span> ?</p>
<p><span class="speaker">William Faulkner</span>It&mdash;</p>
<p><span class="speaker">Unidentified participant</span>
                    
                </p>
<p><span class="speaker">William Faulkner</span>Well that's a good question. The&mdash;the trouble is
                    the&mdash;the South has got to be educated better in order to educate the
                    inferior southerners, regardless of what color they are. The problem now is of
                    whether the&mdash;the inferior, the uneducated southerner will wait that
                    long anymore. But I don't know of anything better to do than to alter our system
                    of education so that the best can get the best of education. I don't know of
                    anything else that will help us or save us.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.21">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:09.16:00',
					'endtime','00:32:41.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, do you believe that&mdash;do you feel optimistic about
                    the enduring values in current American fiction by the younger writers, say
                    under forty-five?  Do you see any potential change in trends that will be <span class="unclear tooltip" title="Text was unclear">[of
                        lasting literary value.]</span></p>
<p><span class="speaker">William Faulkner</span>I can't give a good answer because like my most writers as I get older I
                    read less and less. It's been a long time since I have read my coevals. But I'm
                    convinced that that is the strongest motivation in man, is to&mdash;to create,
                    to produce literature, music, art. That's most enduring thing he has created and
                    I think that nothing, not even the atom bomb, is going to stop him. I would say
                    that now the&mdash;the young writer is subject to that same pressure to
                    conform, to belong to something, which I spoke of. But I think
                    that&mdash;that by the time he is thirty, if he has a
                    first rate talent, he will have outgrown that. And I'm convinced that the good
                    work will still be produced. It's comforting for a lazy man
                    to say, "Well, I would have been a good artist, if I'd been born&mdash;if I
                    hadn't been so unlucky as to be born in this time." I think that's nonsense.
                    That the good man is going to produce no matter when he's born, what age he's in.
                    That he will use that age as his material just as&mdash;as a part of the
                    reservoirs of observation and experience. And that he will produce the work,
                    too, if he has the talent and works, that nothing will stop him. And
                    I&mdash;I used to think that talent was important. I think maybe all he
                    needs is ruthlessness, industry and insight. That is to&mdash;to throw away
                    anything that seems to him untruthful or shoddy, to work hard, to be always
                    curious as to know why man does what he does. I think that if the young writer
                    has those three qualities he can write.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio30_1.22">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio30_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:41.06:00',
					'endtime','00:32:59.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I'm curious as to when&mdash;why  I wonder how the modern
                    writer justifies using violence in his work. <span class="unclear tooltip" title="Text was unclear">[I've been struck by it and
                        sometimes upset by it.]</span></p>
<p><span class="speaker">William Faulkner</span>I think that is&mdash; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio30_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio30_1.2" class="hidden">Grammatical Rules</a></li>
<li><a href="#wfaudio30_1.3" class="hidden">Tradition v Industrialization</a></li>
<li><a href="#wfaudio30_1.4" class="hidden">Redeeming the Snopeses</a></li>
<li><a href="#wfaudio30_1.5" class="hidden">Influences on Humor</a></li>
<li><a href="#wfaudio30_1.6" class="hidden">Racial Changes</a></li>
<li><a href="#wfaudio30_1.7" class="hidden">Selling to Hollywood</a></li>
<li><a href="#wfaudio30_1.8" class="hidden">Northern Outsiders</a></li>
<li><a href="#wfaudio30_1.9" class="hidden">South v Larger Nation</a></li>
<li><a href="#wfaudio30_1.10" class="hidden">Gavin Stevens</a></li>
<li><a href="#wfaudio30_1.11" class="hidden">Writing from Experience</a></li>
<li><a href="#wfaudio30_1.12" class="hidden">Success for the Writer</a></li>
<li><a href="#wfaudio30_1.13" class="hidden">Pylon and New Orleans</a></li>
<li><a href="#wfaudio30_1.14" class="hidden">Laverne as Pylon</a></li>
<li><a href="#wfaudio30_1.15" class="hidden">Symbolism</a></li>
<li><a href="#wfaudio30_1.16" class="hidden">Symbols in "The Bear"</a></li>
<li><a href="#wfaudio30_1.17" class="hidden">James Joyce</a></li>
<li><a href="#wfaudio30_1.18" class="hidden">Pace of Modern Life</a></li>
<li><a href="#wfaudio30_1.19" class="hidden">Human Dilemma</a></li>
<li><a href="#wfaudio30_1.20" class="hidden">Southern Progress</a></li>
<li><a href="#wfaudio30_1.21" class="hidden">Contemporary Writers</a></li>
<li><a href="#wfaudio30_1.22" class="hidden">Using Violence [part 1]</a></li>
</ul></aside>
        
