<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio22_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 26 February 1958</h3>
  <h3>OCCASION: Undergraduate Writing Class</h3>
  <h3>This clip was created by splicing the end of T-141classbegins and the beginning of T-141b together.</h3>
</div>
<div id="body">
  <a name="wfaudio22_1_2.1">&#xA0;</a>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, would you say that that's a major flaw in your old southern
                        families that you picture, like the Sartorises and the Compsons, that they keep back from 
                        mankind, and they act
                        only for themselves and therefore turn instead of out?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>If you mean by that&#x2014;that's true of any family, whether
                        they are southern or not. They cling to an obsolence, whatever that obsolence
                        might be, yes. And people have a tendency to&#x2014;to remember what was
                        pleasant, and the unpleasant part of that vanishes as memory attenuates, so that
                        all you remember is the happy part of it, and the instinct is to go back to that
                        happy part. You don't always remember <span class="unclear tooltip" title="Text was unclear">[that]</span> if you went back
                        to the happy part, you'd have to go through with the&#x2014;with the unhappy
                        part again, too. That's partly clinging to the happy past. It's partly a lack
                        of&#x2014;of something present to occupy. Everybody, in a sense, needs a tub
                        of washing, and the people like the Sartorises and Compsons, they don't have a
                        tub of washing anymore.
                    </p>
  <hr/>
</div>

        
