<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio19_2.1">Time in Charlottesville</a>
    </li>
    <li>
      <a href="#wfaudio19_2.2">The Writer's Sources</a>
    </li>
    <li>
      <a href="#wfaudio19_2.3">Part-Time Demons</a>
    </li>
    <li>
      <a href="#wfaudio19_2.4">Comedy</a>
    </li>
    <li>
      <a href="#wfaudio19_2.5">Sherwood Anderson</a>
    </li>
    <li>
      <a href="#wfaudio19_2.6">Writing and College</a>
    </li>
    <li>
      <a href="#wfaudio19_2.7">Modern Heroism</a>
    </li>
    <li>
      <a href="#wfaudio19_2.8">Effect of Critics</a>
    </li>
    <li>
      <a href="#wfaudio19_2.9">Rejection Slips</a>
    </li>
    <li>
      <a href="#wfaudio19_2.10">Rejected Stories</a>
    </li>
    <li>
      <a href="#wfaudio19_2.11">The Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio19_2.12">Seeing Characters</a>
    </li>
    <li>
      <a href="#wfaudio19_2.13">Naming Characters</a>
    </li>
    <li>
      <a href="#wfaudio19_2.14">Thomas Wolfe</a>
    </li>
    <li>
      <a href="#wfaudio19_2.15">Writing Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio19_2.16">Incidents in Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio19_2.17">Compson v Bundren Families</a>
    </li>
    <li>
      <a href="#wfaudio19_2.18">Stories v Novels</a>
    </li>
    <li>
      <a href="#wfaudio19_2.19">Favorite Work</a>
    </li>
    <li>
      <a href="#wfaudio19_2.20">Reading Modern Works</a>
    </li>
    <li>
      <a href="#wfaudio19_2.21">War Experience</a>
    </li>
    <li>
      <a href="#wfaudio19_2.22">Civil vs Great War</a>
    </li>
    <li>
      <a href="#wfaudio19_2.23">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio19_2.1"/>
  <p> happen among people, and if anything can happen to&#x2014;to
                    improve man's condition and get rid of his bother and trouble, it will be for
                    amateur to meet amateur, not for professional to meet professional, but for
                    amateur to meet amateur, and if I do have the amateur quality that
                    people in Charlottesville have&#x2014;have&#x2014;have felt and been in
                    sympathy with, then&#x2014;then my time here has been more than just happy,
                    it's been worthwhile, too. I imagine that&#x2014;that there could be circles,
                    conditions in which the Writer-In-Residence would have to be a literary man,
                    but&#x2014;but I'm not a literary man, and&#x2014;and I'm happy to know
                    that&#x2014;that in Charlottesville, at least, I've been forgiven for that.
                        
                    </p>
</div>
<div class="section">
  <a name="wfaudio19_2.2"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio19_2.3"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio19_2.4"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.5"/>
  <p>Mr. Faulkner, isn't it rather unusual for a man to write his
                        first book setting in full-blown and starting that way rather than an outline, maybe a first
                        chapter&#x2014;a whole book for the first time. Is that what's usually done?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.6"/>
  <p>Mr. Faulkner, do you feel that a writer might be hampered by a college
                    education? Keep him from creating the characters &#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio19_2.7"/>
  <p>Mr. Faulkner, in spite of what happens to General Compson and Colonel
                    Sutpen and Colonel Sartoris, there seems to be a heroic quality about them. Do
                    you think that it is still possible for that kind of heroism in the time of
                    which the story in The Town is set?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.8"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.9"/>
  <p>Have you ever received any rejection slips, Mr. Faulkner? </p>
</div>
<div class="section">
  <a name="wfaudio19_2.10"/>
  <p>Mr. Faulkner, what became of those stories that were rejected in the
                    first few years you were writing? Did you just abandon them?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.11"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.12"/>
  <p>Do you see any faces as you describe characters? Do you see a physical
                    person as you write?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.13"/>
  <p>So where did you get your names?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.14"/>
  <p>Mr. Faulkner, I read that you admired Mr. Wolfe&#x2014;Thomas Wolfe's
                    work very much. Just what about it, what&#x2014;what do you admire about his
                    work?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.15"/>
  <p>Mr. Faulkner, I understand that in writing The Sound
                        and the Fury, you meant for the first part, Benjy's story, to be the book
                    and then you went then on afterwards to add three more parts. What prompted you
                    to do that? Did you feel the need to go on and explain &#x2014; ?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.16"/>
  <p>Sir?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.17"/>
  <p>Sir, did&#x2014;when you wrote either The Sound and the Fury and&#x2014;or
                        As I Lay Dying, did you&#x2014;were you conscious
                    of&#x2014;of making the characters, the brothers and sisters and their
                    relationships, somewhat similar? I mean, would you think back, as
                        you&#x2014;as you recall&#x2014;that it seems to me that there's a certain type of
                    family relationship in each of the families, which&#x2014;I
                        wouldn't&#x2014;I don't know which one of the books you wrote first&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio19_2.18"/>
  <p>Mr. Faulkner, you spoke about The Sound and the
                        Fury as starting out to write a short story, and it kept growing. Well,
                    now, do you think that it's easier to write a novel than a short story?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio19_2.20"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio19_2.21"/>
  <p>Mr. Faulkner, do you feel that your war experiences in World War I had
                    any significant influence on the perspective of the South that you developed in
                    Yoknapatawpha County?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.22"/>
  <p>Can I have one other question in that general area?  Do
                    you see or have you seen in the South an analogy between the Civil War and the First 
                    World War as you knew it?</p>
</div>
<div class="section">
  <a name="wfaudio19_2.23"/>
  <p>Mr. Faulkner, we're very grateful to you for being with us, and we thank
                    you very much.</p>
</div>
