<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio31.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio31.2">Faulkner's Introduction</a>
    </li>
    <li>
      <a href="#wfaudio31.3">Story, Excerpt 1</a>
    </li>
    <li>
      <a href="#wfaudio31.4">Story, Excerpt 2</a>
    </li>
    <li>
      <a href="#wfaudio31.5">Story, Excerpt 3</a>
    </li>
    <li>
      <a href="#wfaudio31.6">Story, Excerpt 4</a>
    </li>
    <li>
      <a href="#wfaudio31.7">Story, Excerpt 5</a>
    </li>
    <li>
      <a href="#wfaudio31.8">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio31.9">Work in Progress</a>
    </li>
    <li>
      <a href="#wfaudio31.10">Snopes Trilogy</a>
    </li>
    <li>
      <a href="#wfaudio31.11">Best Novel</a>
    </li>
    <li>
      <a href="#wfaudio31.12">Artist's Aim</a>
    </li>
    <li>
      <a href="#wfaudio31.13">American Writers</a>
    </li>
    <li>
      <a href="#wfaudio31.14">Kerouac's On the Road</a>
    </li>
    <li>
      <a href="#wfaudio31.15">Reading Criticism</a>
    </li>
    <li>
      <a href="#wfaudio31.16">Long Hot Summer</a>
    </li>
    <li>
      <a href="#wfaudio31.17">Hollywood Writing</a>
    </li>
    <li>
      <a href="#wfaudio31.18">J. D. Salinger</a>
    </li>
    <li>
      <a href="#wfaudio31.19">The Novel</a>
    </li>
    <li>
      <a href="#wfaudio31.20">Writer in America</a>
    </li>
    <li>
      <a href="#wfaudio31.21">Hunting and Fishing</a>
    </li>
    <li>
      <a href="#wfaudio31.22">Writer and Audience</a>
    </li>
    <li>
      <a href="#wfaudio31.23">Southern Writing</a>
    </li>
    <li>
      <a href="#wfaudio31.24">His Style</a>
    </li>
    <li>
      <a href="#wfaudio31.25">Compulsion to Write</a>
    </li>
    <li>
      <a href="#wfaudio31.26">Brown v Board of Education</a>
    </li>
    <li>
      <a href="#wfaudio31.27">Writer's Prerequisites</a>
    </li>
    <li>
      <a href="#wfaudio31.28">Christian Viewpoint</a>
    </li>
    <li>
      <a href="#wfaudio31.29">Planning the Book</a>
    </li>
    <li>
      <a href="#wfaudio31.30">Writing Absalom!</a>
    </li>
    <li>
      <a href="#wfaudio31.31">Writing Sanctuary</a>
    </li>
    <li>
      <a href="#wfaudio31.32">Sanctuary and Requiem</a>
    </li>
    <li>
      <a href="#wfaudio31.33">Sherwood Anderson</a>
    </li>
    <li>
      <a href="#wfaudio31.34">Albert Camus</a>
    </li>
    <li>
      <a href="#wfaudio31.35">North as Setting</a>
    </li>
    <li>
      <a href="#wfaudio31.36">Stay in Virginia</a>
    </li>
    <li>
      <a href="#wfaudio31.37">Resisting the Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio31.38">Henry Miller</a>
    </li>
    <li>
      <a href="#wfaudio31.39">New American Literature</a>
    </li>
    <li>
      <a href="#wfaudio31.40">Snopeses and Society</a>
    </li>
    <li>
      <a href="#wfaudio31.41">Writer's Task</a>
    </li>
    <li>
      <a href="#wfaudio31.42">Thomas Wolfe</a>
    </li>
    <li>
      <a href="#wfaudio31.43">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 15 May 1958</h3>
  <h3>OCCASION: At Washington &amp; Lee University</h3>
  <h3>TAPE: T-146</h3>
  <h3>LENGTH: 55:31</h3>
  <h3>READING: From The Town</h3>
</div>
<div id="body">
  <a name="wfaudio31.1"/>
  <p><strong>Moderator:</strong>Ladies and gentlemen, on
					behalf of the seminar committee, may I welcome you to this twenty-sixth
					Washington and Lee seminar in literature. The committee wishes me also to
					express our appreciation to the University of Virginia for this gracious loan
					today of their most distinguished writer-in-residence. We are especially
					indebted to Professors Frederick Gwynn and Joseph Blotner, who have accompanied
					him here. Our speaker intends to read from his latest novel, <em>The Town</em>, 
						and at the conclusion of that he will welcome questions from
					you all. It would be presumptuous indeed for me to attempt any formal
					introduction of our speaker today, but it is certainly my very great privilege
						to present to you Mr. William Faulkner of Oxford, Mississippi.  <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
  <hr/>
  <a name="wfaudio31.2"/>
  <p><strong>William Faulkner:</strong>I'm an amateur at this. I don't
					think I have a very good voice, and if I don't speak loud enough, would you
					please tell me?
					</p>
  <hr/>
  <a name="wfaudio31.3"/>
  <p><strong>William Faulkner:</strong>
					There is a ridge; you drive on beyond Seminary Hill and
						in time you come upon it: a mild unhurried farm road presently mounting to
						cross the ridge and on to join the main highway leading from Jefferson to
						the world. And now, looking back and down, you see all Yoknapatawpha in the
						dying last of day beneath you. There are stars now, just pricking out as you
						watch them among the others already coldly and softly burning; the end of
						day is one vast green soundless murmur up the northwest toward the zenith.
						Yet it is as though light were not being subtracted from earth, drained from
						earth backward and upward into that cooling green, but rather had gathered,
						pooling for an unmoving moment yet, among the low places of the ground so
						that ground, earth itself is luminous and only the dense clumps of trees are
						dark, standing darkly and immobile out of it. 
					
					</p>
  <hr/>
  <a name="wfaudio31.4"/>
  <p><strong>William Faulkner:</strong>
					Then, as though at signal, the
						fireflies&#x2014;lightning-bugs of the Mississippi child's
						vernacular&#x2014;myriad and frenetic, random and frantic, pulsing; not
						questing, not quiring, but choiring as if they were tiny incessant
						appeaseless voices, cries, words. And you stand suzerain and solitary above
						the whole sum of your life beneath the incessant ephemeral spangling. First
						is Jefferson, the center, radiating weakly its puny glow into space; beyond
						it, enclosing it, spreads the County, tied by the diverging roads to that
						center as is the rim to the hub by its spokes, yourself detached as God
						Himself for this moment above the cradle of your nativity and of the men and
						women who made you, the record and chronicle of your native land proffered
						for your perusal in ring by concentric ring like the ripples on living water
						above the dreamless slumber of your past; you to preside unanguished and
						immune above this miniature of man's passions and hopes and
						disasters&#x2014;ambition and fear and lust and courage and abnegation
						and pity and honor and sin and pride all bound, precarious and ramshackle,
						held together by the web, the iron-thin warp and woof of his rapacity but
						withal yet dedicated to his dreams. 
					
					</p>
  <hr/>
  <a name="wfaudio31.5"/>
  <p><strong>William Faulkner:</strong>
					 They are all here, supine beneath you, stratified and
						superposed, osseous and durable with the frail dust and the
						phantoms&#x2014;the rich alluvial river-bottom land of old Issetibbeha,
						the wild Chickasaw king, with his Negro slaves and his sister's son called
						Doom who murdered his way to the throne and, legend said (record itself said
						since there were old men in the county in my own childhood who had actually
						seen it), stole an entire steamboat and had it dragged intact eleven miles
						overland to convert into a palace proper to aggrandise his state; the same
						fat black rich plantation earth still synonymous of the proud fading white
						plantation names whether we&#x2014;I mean of course they&#x2014;ever
						actually owned a plantation or not: Sutpen and Sartoris and Compson and
						Edmonds and McCaslin and Beauchamp and Grenier and Habersham and Holston and
						Stevens and De Spain, generals and governors and judges, soldiers (even if
						only Cuban lieutenants) and statesmen failed or not, and simple politicians
						and over-reachers and just simple failures, who snatched and grabbed and
						passed and vanished, name and face and all. Then the roadless, almost
						pathless perpendicular hill-country of McCallum and Gowrie and Frazier and
						Muir translated intact with their pot stills and speaking only the old
						Gaelic and not much of that, from Culloden to Carolina, then from Carolina
						to Yokpatawpha still intact and not speaking much of anything except now
						they called the pots "kettles" though the drink (even I can remember this)
						was still usquebaugh; then and last on to where Frenchman's Bend lay beyond
						the southeastern horizon, cradle of Varners and ant-heap for the northeast
						crawl of Snopes. 
					
					</p>
  <hr/>
  <a name="wfaudio31.6"/>
  <p><strong>William Faulkner:</strong>
					And you stand there&#x2014;you, the old man, already
						white-headed (because it doesn't matter if they call your gray hairs
						premature because life itself is always premature which is why it aches and
						anguishes) and pushing forty, only a few years from forty&#x2014;while
						there rises up to you, proffered up to you, the spring darkness, the
						unsleeping darkness which, although it is of the dark itself, declines the
						dark since dark is of the little death called sleeping. Because look how,
						even though the last of west is no longer green and all of firmament is now
						one unlidded studded slow-wheeling arc and the last of earth-pooled
						visibility has drained away, there still remains one faint diffusion, since
						everywhere you look about the dark panorama you still see them, faint as
						whispers: the faint and shapeless lambence of blooming dogwood returning
						loaned light to light as the phantoms of candles would.
					
					</p>
  <hr/>
  <a name="wfaudio31.7"/>
  <p><strong>William Faulkner:</strong>
					 And you, the old man, standing there while there rises
						to you, about you, suffocating you, the spring dark peopled and myriad, two
						and two seeking never at all solitude but simply privacy, the privacy
						decreed and created for them by the spring darkness, the spring weather, the
						spring which an American poet, a fine one, a woman and so she knows, called
						girls' weather and boys' luck. Which was not the first day at all, not Eden
						morning at all because girls' weather and boys' luck is the sum of all the
						days: the cup, the bowl proffered once to the lips in youth and then no
						more; proffered to quench or sip or drain that lone one time and even that
						sometimes premature, too soon. Because the tragedy of life is, it must be
						premature, inconclusive and inconcludable, in order to be life; it must be
						before itself, in advance of itself, to have been at all.
					
					</p>
  <hr/>
  <a name="wfaudio31.8"/>
  <p><strong>William Faulkner:</strong> Any questions, please don't hesitate.
					</p>
  <hr/>
  <a name="wfaudio31.9"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, are you working on a new novel at this time?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir. The&#x2014;the curse and the pleasure of being a writer is
					you never get done. You're always working at something. I think that's why it's
					the best vocation of all, because you never touch satiety. You're never bored.
					There's always something to wake up for tomorrow morning. And so any writer is
					always working. He never finishes work. He won't live that long.</p>
  <hr/>
  <a name="wfaudio31.10"/>
  <p><strong>Unidentified participant:</strong>Is <em>The Town</em> the second part of a trilogy?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir. The third one will be called the <em>The
						Mansion</em>. That will be the story of the family of Snopeses. That's the
					one I'm working at now.</p>
  <hr/>
  <a name="wfaudio31.11"/>
  <p><strong>Unidentified participant:</strong>What do you consider your best
					novel?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think that my feeling is the feeling that all writers have. None of
					them are quite good enough. They are&#x2014;they are failures. He has done
					the best he can with it. It wasn't quite good enough to suit him. He doesn't
					care what anybody else thinks about it. It's got to please himself, and so he is
					going to write another one tomorrow. And he will keep on planning to write that
					other one tomorrow as long as he lives. So I haven't written the one that I
					think is good enough to suit me yet. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think
					the only way that the writer can&#x2014;can measure, can gauge his work, is
					by the one that cost him the most anguish and trouble, just as the&#x2014;the
					parent has a tenderness for the&#x2014;the afflicted child. The one that I
					think of with the most tenderness is the one that caused me the most trouble.
					That is the most unsatisfactory because it&#x2014;it was trying to match what
					seemed to me the&#x2014;the finest dream, and it failed.
				</p>
  <hr/>
  <a name="wfaudio31.12"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> When you say it doesn't satisfy,  <span class="unclear tooltip" title="Text was unclear">[what would be the ideal literary work]</span>?  In other words, 
					 what would be the aim of a literary ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The aim, of course, is&#x2014;is unattainable, which is why it will
					always be an aim. I think it's to take&#x2014;to take man, an instance of man
					in his struggle, within his predicament&#x2014;to isolate it in the most moving
					instant which one can, so that in that single work there will
						be the whole history of the human heart,
					all the struggle and anguish of&#x2014;of man's heart, to be in one picture,
					one piece of music, one book. That's impossible to do. That's why the artist
					has&#x2014;is the luckiest of all occupations. He has something that
					he&#x2014;that's worth devoting his&#x2014;in his opinion, his life to,
					that he knows he will never touch and will never be bored with.</p>
  <hr/>
  <a name="wfaudio31.13"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, what American writers
					do you enjoy reading?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I enjoy reading all of them, and I think all writers agree with me,
					except Faulkner, we'll say. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I&#x2014;I
					think that any writer must have an insatiable curiosity about people, and
					fiction books are simply the records of man in the moments of his&#x2014;his
					triumphs or disasters, told by experts. For that reason, I doubt if any writer
					has very much judgment about what he reads. He will read anything. As he gets
					older, he will go back to certain books, to certain characters, as he would go
					into another town, say, twenty five miles away to spend an afternoon with an old
					friend. That to the writer it doesn't matter who wrote that book, so I can't
					speak of books in terms of who wrote them, but there are books that I will
					always like, that I loved when I was twenty-one years old, that I will still go
					back to.
				</p>
  <hr/>
  <a name="wfaudio31.14"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Could you say something about]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[On The Road]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[Kerouac]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The sad thing about a writer&#x2014;as he gets old, he reads less and
					less. The books that I read are the books I knew when I was twenty-one years
					old, unless somebody says, "This is a good book. You will like it. Read it." And
					so this book you speak of, I haven't read yet. I intend to, but I haven't read
					it yet. The only work of a young man I'm at all familiar with is Salinger. But
					I&#x2014;I intend to, and I'm ashamed that I have not read it yet, but I will
					do that. I think that&#x2014;that the pleasure in reading is&#x2014;is
					inexhaustible too, that one should read and one misses a great deal of pleasure
					simply because he is not familiar with the book. He hasn't seen that book. Also,
					living as I do, I'm a&#x2014;I consider writing my hobby, not my trade. I'm a
					farmer, actually, and the people I know are not literary people, and I don't
					keep up with <span class="unclear tooltip" title="Text was unclear">[these]</span> books. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio31.15"/>
  <p><strong>Unidentified participant:</strong>Sir, have you read any of the
					elaborate critical analyses of your own works ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, sir. I don't read that. I prefer to read fiction. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio31.16"/>
  <p><strong>Unidentified participant:</strong>Sir, I'd like to know 
					 What is your opinion of it?
				</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That in moving pictures?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><em>Long Hot Summer</em>.
					</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I haven't seen that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I'm not trying to
					be&#x2014;be funny about it. It's simply because the writer has done the best
					he can with his book. He works in complete isolation and solitude. To make a
					moving picture or&#x2014;or a theater play&#x2014;cannot be done that way.
					That is a&#x2014;a communal business. The actor gives something to it. The
					director gives something to it. And whatever the&#x2014;the moving picture
					does to that book, it can't change what I did. It may&#x2014;it may improve
					it, but what it improves, its result, will be something different from what I
					did. And that's one reason, and I reckon the other reason is in my hometown the
					picture show begins at seven o'clock in the evening, and that's the wrong time
					for me to go anywhere. That's when I like to be at home and have a drink or two
					and something to eat and then smoke for a while. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <a name="wfaudio31.17"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Would you care to comment on the writing <span class="unclear tooltip" title="Text was unclear">[you've done]</span>
					in Hollywood?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It was a&#x2014;a pleasant way to make some money.  I did it mainly because I know a director. He
					raises and breeds horses, and he has an airplane which he would let me fly when
					I needed one. He&#x2014;we hunt and fish together. And when he is making a picture, and he
					gets in trouble with it and thinks I might be able to do something about it, he
					sends for me. That's all the moving picture work I've done. It's not
					my&#x2014;my cup of tea, actually, for the reason I've stated.  That it
					is a matter of a lot of people working together, when the&#x2014;the writer
					has to get off into solitude and isolation to do the work. And I never could,
					well you might say, take it seriously. Even the money wasn't something to be
					taken seriously. It was too much for anybody raised in Mississippi to see all at
					once. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio31.18"/>
  <p><strong>Unidentified participant:</strong>Do you consider Salinger to
						be one of our better writers ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I was impressed with one book of his. It seemed to me that it showed
					a&#x2014;it's not a fault. It's an evil that the writer has got
					to&#x2014;to arm himself against, which is the pressure of our culture to
					compel everyone to belong to something, to a group. It's difficult to be an
					individual in our culture. I think that what I saw in&#x2014;in that book was
					a tragedy which, in a way, represented Salinger's own tragedy. There was
					a&#x2014;a&#x2014;a young man, intelligent, a little more sensitive than
					most, who simply wanted to love mankind, and when he tried to break into
					mankind, to love mankind, man wasn't there. That, to me, was the tragedy of that
					book. That, to me, is&#x2014;is the threat which all the young writers
					nowadays have got to be on guard against, the pressure to relinquish, submerge,
					individuality, the "me," into a mass of "us."  And I think
					that&#x2014;that any first-rate writing has been in terms of the individual,
					who even in the moil and teem of the world was still "me," "myself." He got
					his&#x2014;his elbows skinned and his head bumped now and then, but just with
					other heads and other elbows, not with machinery. There was nothing in the teem
					and moil of&#x2014;of the world to destroy his&#x2014;his soul by
					compressing him into a&#x2014;a relinquishment of the "I
						am."
				</p>
  <hr/>
  <a name="wfaudio31.19"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you think the novel ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say it&#x2014;it would go through phases like any other form
					of life or motion. It's got to be in motion. It's got to change. The only
					alternative to change is stasis, which is death. And it&#x2014;it will
					change, yes. It may go into another medium. The novel may go into something
					visual, into&#x2014;to moving pictures. But the novel as
					a&#x2014;a&#x2014;a quality will not change as long as&#x2014;as people
					are trying to record man's victories and defeats, in terms of the recognizable
					human heart. Let's say that, as I put it, the highest form of writing is
					the&#x2014;the poem. The poet has taken that&#x2014;that tragic, beautiful
					moment of man's struggle within his dilemma and put it into fourteen lines. The
					second highest is the short story writer, who has been able to do it in ten
					pages. The novelist is the failure. He's a failed poet. It took him three hundred pages to
					isolate that tragic, beautiful, moving dilemma, victory or defeat, of fragile,
					invincible man in his dilemma. So the novel may change, but it&#x2014;it
					will never vanish as a quality in culture.
				</p>
  <hr/>
  <a name="wfaudio31.20"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, John Steinbeck says that in America the writer is a little
					below the acrobat and a little above the seal, and I wonder what you thought
					about that? </p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't rate the writer quite between the acrobat and the seal, as
					Steinbeck said. I think that the fact that the writer in this country
					is&#x2014;is treated with a slightly cavalier treatment might be good for him
					because one thing that the writer must have in order to be a good writer is
					humility. He must not take himself too seriously. He must take what he is doing
					with complete seriousness, but he mustn't take what he does with very much
					seriousness. He must keep himself an amateur. And so that may be pretty good for
					him. Maybe if&#x2014;if this country gave writers more kudos and more
					recognition, then they'd spend all their time walking around with their chests
					swelled up, seeing who was looking at me now. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					But they wouldn't work. But I don't think I would rate&#x2014;you can't rate
					anyone dealing with something as intangible as&#x2014;as the human spirit.
					It's impossible to rate him, unless you are going to look on his rating with the
					finance company he is buying his refrigerator or his car from.
				</p>
  <hr/>
  <a name="wfaudio31.21"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner, have you done any hunting and fishing]</span>
					? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir, I have done some quail shooting up near Warrenton with some
					friends there, and two days ago I went up into the Blue Ridge on Mormon's River
					after trout. I have been up the headwaters of the Rapidan, but I have not been
					in Virginia in the fall enough to do much hunting.</p>
  <hr/>
  <a name="wfaudio31.22"/>
  <p><strong>Unidentified participant:</strong>Sir&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[When you are writing a book]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[very broad scope]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I think the writer is writing primarily for himself. He really don't
					care a continental whether anybody else reads it or not. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That he has, while&#x2014;while alive, he
					has&#x2014;has seen man in&#x2014;with all his baseness, his folly, a
					fragile web of&#x2014;of bones and flesh, mostly water, in a ramshackle
					universe stuck together with electricity, who&#x2014;and yet he has <span class="unclear tooltip" title="Text was unclear">[the faith]</span>
					to be braver than he thinks he can be, to be more honorable than he thinks he
					can be. He has had pity and compassion when he didn't know he was going to do
					it. He has met problems bigger than himself, and he has tried to solve them.
					Maybe he got his brains beaten out, but he still tried. The artist is not trying
					to deliver a message. He is simply&#x2014;has been moved so by thin, frail,
					fragile man in his dilemma, faced with things so much bigger and tougher and
					stronger than he, yet still trying to do something to solve his problem. That
					it's worth isolating in some tragic and moving moment, to get down on paper. 
					Then he worries about if somebody else might read it. At the moment, he simply
					has seen something so beautiful, so moving, so important to himself, that he
					wants to put it down lest he forget it. After that comes the thought somebody
					else might read this. In my own case, I think I wrote for ten or fifteen years
					before it ever occurred to me that strangers might read it.
				</p>
  <hr/>
  <a name="wfaudio31.23"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
					<span class="unclear tooltip" title="Text was unclear">[the South has been for the last fifty years one of the most backward
						areas]</span>
					 financially and in many other ways. The schools, also, are not considered
					by most people to be as good as in other areas. But yet your own state of
					Mississippi and the South in general have produced most 
					<span class="unclear tooltip" title="Text was unclear">[greater novelists]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[I wonder if you care to comment on this]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>One reason is that there's so many folks in Mississippi that can't read
					that they have to write. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I would say
					that&#x2014;that's not true only in Mississippi. I'd say that that's true
					almost throughout the&#x2014;what we think of as the South. I believe if I
					was a nation, and I had struggled along, and I wasn't doing too good, that I
					would pick out some big, rich country and declare war on them and let them lick
					me, and then they'd have to support me for the rest of my life. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And I think that&#x2014;that maybe with the
					North, having supported us since 1865, we've had plenty of time to write. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <a name="wfaudio31.24"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Did you have a certain style that you would more or less
						<span class="unclear tooltip" title="Text was unclear">[use]</span>
					? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't like my style either. I think that&#x2014;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> What I'm trying to say is that I think that no
					writer has got time to bother too much about writing style or writing rhetoric.
					If he does, he has probably got very little to say, that the story he's
					telling&#x2014;he is trying to isolate this moment of man's struggle in the
					most moving way he can. And he will try style. He'll try metaphor. He'll try
					symbolism, to&#x2014;to isolate that in the most moving way he can possibly
					do it. So the&#x2014;in my opinion, the work itself creates its own style. 
					That when it's done the writer can look back and say, "This is clumsy. I wish I
					could think of a better way to do that." But he can't. He has done the best he
					could with it. To get all he can into it. It's&#x2014;well, he has
					a&#x2014;as we all do, an awareness of death, that he will not be here
					forever, that&#x2014;that the end can be for him tomorrow. He has been
					troubled and moved so much by what he's seen of man's struggle that he wants to
					get that on paper, and he's afraid that if he puts it off, he will die before he
					does it. He, in effect, is like the man that's trying to carve the Lord's Prayer
					on the head of a pin. He's trying to put everything into one book, one
					page&#x2014;the perfect thing would be to put all that history and anguish
					into one word, which you can't do. And the fumbling with style, with metaphor,
					symbolism, is simply his desperate, tragic attempt to get the beauty he has seen
					by simply being alive down on paper before he&#x2014;before the lightning
					strikes. So he is&#x2014;he might&#x2014;that's why he could hate his
					style too, but this was the best he could do. That if he could do that over
					again, he is convinced he could do it better. I think every writer believes
					that, that if he could turn time back until this day last year that that book
					would be a better book. Of course, it wouldn't be, but he believes that. He
					can't do it, so he writes another book tomorrow. But he wants to be as lucid, as
					pure as light or clear water itself. And when it gets moiled and turgid, he is
					sorry. He grieves over that. Though&#x2014;of course, he don't have to read
					it anymore. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's one
						advantage&#x2014;
				</p>
  <hr/>
  <a name="wfaudio31.25"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Is writing a compulsion for you or could you stop ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I would like to say, "Sure, I can take it or leave it," but I
					don't believe that. I think that&#x2014;that any writer is&#x2014;is
					ridden by a demon.  That he really can't help himself.  That he will keep on
					writing as long as he lives. But he&#x2014;he is not so conscious of being
					driven by a demon to no destination. He is convinced that he will&#x2014;will
					make the&#x2014;the perfect work, so that as long as men live after him, they
					will see that work as perfect and will remember him.  That maybe what any artist
					is doing is simply writing "Kilroy was here" on the wall of the last oblivion
					before he passes through it and beyond it.
				</p>
  <hr/>
  <a name="wfaudio31.26"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, as a southerner and a man who writes about the South, can you give
					us your views of the Supreme Court decision? <span class="event tooltip" title="There was some audience murmur happening">[audience murmur]</span></p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's sort of got out of fiction, hasn't it? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I would say it was something that&#x2014;that
					had to&#x2014;to come. There was a&#x2014;the dean of the law school at
					the University of Mississippi said ten, twelve years ago that in time the
					Supreme Court would&#x2014;would hand down that opinion. Nobody believed him.
					It's&#x2014;it's our fault. If we had&#x2014;had given the Negro a chance
					to find whether or not he can be equal, there wouldn't be any need for it. It
					has set relations between the races back for some time, but it had to come. It's
					our fault. <span class="unclear tooltip" title="Text was unclear">[We could have prevented it.]</span>
				</p>
  <hr/>
  <a name="wfaudio31.27"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
					<span class="unclear tooltip" title="Text was unclear">[to create your characters]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>May I have the first part of that again?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The writer is&#x2014;has got to be born with curiosity about people
					more than anything else. I thought at one time it took talent, but now I'm not
					so sure. I think he has got to have ruthlessness to destroy what is not
					absolutely right, in his opinion. He's got to have industry to do it over and
					over again. He's got to have curiosity and insight. Curiosity and insight to
					wonder why man does what he does. I think that&#x2014;that he&#x2014;he
					doesn't need experience, personal experience, to write about people. Personal
					experience&#x2014;as far as man goes, can come from the books he reads. But
					certainly the&#x2014;the writer takes from every experience of any sort he's
					ever had. He&#x2014;he robs and steals from everything he's heard or seen or
					read. He's amoral, but he's perfectly willing for anyone after him to rob and
					steal from him. He has the three, you might say, reservoirs that what he writes
					comes from. One is that experience. One is observation. The other is
					imagination. And nobody's to say just how much comes from what. But the
					imagination can carry the load. There was one blind man who was a pretty good
					writer. You don't have to really experience nor even read. You can listen, and
					the imagination.  
				</p>
  <hr/>
  <a name="wfaudio31.28"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You said that the writer is somewhat unappreciated, amoral and 
					<span class="unclear tooltip" title="Text was unclear">[the short story "The Bear"]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[the trappings of that story]</span>
					
					<span class="unclear tooltip" title="Text was unclear">[whether despite its]</span>
					 Do you feel it is basically a Christian vision or a Christian viewpoint
						<span class="unclear tooltip" title="Text was unclear">[that you are trying to present]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I can't say. I think the writer is too busy writing about man in his
					dilemma, his predicament. Of course, he writes out of&#x2014;of the
					background, the reservoir, of his own culture. and naturally,
					in&#x2014;a&#x2014;a Christian and a southern culture,
					the&#x2014;the&#x2014;the symbolism of Christianity and of the southern
					culture will appear. That is, any&#x2014;any man is really
					writing&#x2014;still writing his own biography. He doesn't need
					to&#x2014;to hunt around for&#x2014;for symbolism, any more than he needs
					to&#x2014;to hunt around for a background from which to&#x2014;against
					which to&#x2014;to see these imaginary people that he's trying to put down on
					paper. That was something that he inherited, that he grew up with, that came
					from his&#x2014;his heredity and from his environment. But the writer himself
					is too busy telling about amazing, incalculable, marvelous man struggling within
					the dilemma of the human heart to bother too much about messages or
						symbols .
				</p>
  <hr/>
  <a name="wfaudio31.29"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, when you begin to write one of your books have you already 
					<span class="unclear tooltip" title="Text was unclear">[exactly what is going to happen or do you make up some of the details as you go
						along]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It begins with a seed. That seed could be anecdote. It could be a
					situation. It could be a character. Then you've got to explain how that
					situation came to be. You've got to explain where that character came from. And
					the first thing you know, you've got some more people in there explaining the
					situation and the character. Then they all stand up and&#x2014;on their feet
					and begin to move, and all you've got to do is after that is to trot along
					behind them and put down what they do and say. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
					That you can&#x2014;you can invent the <span class="unclear tooltip" title="Text was unclear">[finest,]</span> most
					watertight plot you can think of. You get these people into it, and if they are
					human, unpredictable people, they won't care a hoot about that plot. They'll go
					off and tell a story of their own. You can keep your plot. They don't want
						it.
				</p>
  <hr/>
  <a name="wfaudio31.30"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>
					<span class="unclear tooltip" title="Text was unclear">[did you find <em>Absalom, Absalom!</em> very difficult to
						write]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes'm, it&#x2014;it was difficult. I&#x2014;I worked on that next
					hardest to <em>The Sound and Fury</em>, as I remember. Yes, I
					worked on that for a year, and then put it away and wrote another book, and then
					the story still wouldn't let me alone&#x2014;I came back to it. Yes, that was
					very difficult. There was a lot of rewriting in that.
				</p>
  <hr/>
  <a name="wfaudio31.31"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I've heard it reported that you've said in the past that
						<em>Sanctuary</em> was written as a potboiler 
					<span class="unclear tooltip" title="Text was unclear">[Do you care to comment on this]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, it was. I had&#x2014;had been writing as an amateur and having a
					lot of fun at it. Then, all of a sudden, I found myself married, and I would
					need a little money, and I thought I might write something to make a little
					money with, so I thought of the most horrific story I could and wrote 
					it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Sent it in to the publisher.  He said, "Good Lord,
					man." This was nineteen&#x2014;in the nineteen twenties, when you couldn't
					say the sort of things in books you can now. He said, "If we print this, we'll
					both be in jail." So he put it away, and I got a job and didn't need money too
					much. I wrote two more books, which were printed, and then one day I got the
					galley for <em>Sanctuary</em>, and I read it, and it was so bad
					because it was basely conceived that I wrote him and said that "we will just
					burn this up and forget about it." He said, "Well, I&#x2014;I have had plates
						<span class="unclear tooltip" title="Text was unclear">[stamped]</span> for it." I said, "Well, then I'll rewrite it." He
					said, "That means that we'll have to make new plates. If you insist on
					rewriting, and if you will dig up $270, I will get the other $270, and we will
					make new plates." So I paid my half of the new plates and rewrote the book to
					make it at least honest. But I still don't like it because the whole conception
					was&#x2014;was base. It did sell, and was going to make me a lot of money. The
					publisher went bankrupt, so I got just exactly what I deserved, and I learned my
					lesson from it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Since then, I've remained
						amateur.
				</p>
  <hr/>
  <a name="wfaudio31.32"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Mr. Faulkner, why did you go back to those same]</span>
					characters in <em>Requiem for a Nun</em>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, sir. There was nothing wrong with the characters. The&#x2014;the
					conception of the&#x2014;the first story was base because it was done not to
					tell about man in his tragic struggle, but to make money. That's why it was
					base. But when I rewrote it, I'd already invested $270. In those days, I didn't
					have $270 every day. Then I did the best I could to make a&#x2014;an honest
					book out of it. And the characters&#x2014;there was nothing wrong with the
					characters, just the&#x2014;the concept of the book to begin with.
				</p>
  <hr/>
  <a name="wfaudio31.33"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, in light of your friendship with Sherwood Anderson, are you, as a
					writer, indebted to him? <span class="unclear tooltip" title="Text was unclear">[Or what is your opinion of his place in
						American literature]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>His&#x2014;he has never been given his rightful place in American
					literature. In my opinion, he's the father of&#x2014;of all of my generation:
					Hemingway, Erskine Caldwell, Thomas Wolfe, Dos Passos. Of course, Mark Twain
					is&#x2014;is all of our grandfather. But Sherwood Anderson has, in my
					opinion, has still to receive his rightful place in American letters.</p>
  <hr/>
  <a name="wfaudio31.34"/>
  <p><strong>Unidentified participant:</strong>I know that this year's Nobel
					Prize winner is a great admirer of yours, and I wonder if you
					could&#x2014;what is your impression or thoughts of Camus as a writer? If
					you're acquainted with him, ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, I know Camus best, and I&#x2014;I think highest of him. He
					is&#x2014;is one man that&#x2014;that has&#x2014;is doing what I have
					tried always to do, which is&#x2014;is to search, demand, ask always
					of&#x2014;of one's own soul. That is my reason for saying that he is the best
					of the living Frenchmen, better than Sartre or the others. Malraux was
					a&#x2014;he became obsessed with politics. But Camus has stuck to his
					principles, which was always to search the soul, which I think is&#x2014;is
					the writer's first job. To search his own soul, to give a proper moving picture
					of man in&#x2014;in the human dilemma.
				</p>
  <hr/>
  <a name="wfaudio31.35"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Have you ever tried to write a novel  in a northern atmosphere?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I haven't. I reckon I stick to Mississippi because I'm too lazy to
					do research. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> As long as I stick
					to&#x2014;to what I know&#x2014;dialect, habits, customs,
					folklore&#x2014;that I know, then nobody can check me on it, and say, "Uh uh,
					you're wrong there. This is the way they do it in New Hampshire." <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> 
					But people are&#x2014;are the same. There's
					too little difference. And I think when a man or woman writes about his own
					country, he's not regional, he's just too lazy to want to do any
						research.
				</p>
  <hr/>
  <a name="wfaudio31.36"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>How have you enjoyed your stay here in Virginia? And do you think
					Virginia as an area is 
					<span class="unclear tooltip" title="Text was unclear">[conducive]</span>
					 as Yoknapatawpha county?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I have been in Albemarle County off and on for two or three years
					now, and I have seen a few Snopeses there. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But
					I like Virginia and Virginians. The longer I stay in Albemarle County, the more
					like Mississippians they behave, but they don't have some of the&#x2014;the
					Mississippi vices. And I have&#x2014;I said last year that I like Virginians 
					because they were snobs, and since they seem to think that I'm all right, then
					maybe I am all right. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
				</p>
  <hr/>
  <a name="wfaudio31.37"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong><span class="unclear tooltip" title="Text was unclear">[Are the Snopeses really taking over Jefferson, and is there any
						group that might hold them out]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The Snopeses will destroy themselves. I really can't afford to answer
					that question, sir, because <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> you might not buy
					the next book if I do. They were&#x2014;that's the artist's prerogative, I
					think, is to emphasize, to underline, to&#x2014;to&#x2014;to blow up
					facts, distort facts in order to state a&#x2014;a truth. The&#x2014;there's probably
					no tribe of Snopeses in Mississippi or anywhere else outside of my own
					apocrypha. They were simply an invention of mine to&#x2014;to tell a story of
					man in his struggle. That I was not trying to say, "This is the sort of folks we
					raise in my part of Mississippi," at all. That they were simply over-emphasized,
					burlesqued if you like, which is what Mr. Dickens spent a lot of his time doing,
					for a&#x2014;a valid, to him and to me, reason, which was to tell a story in
					a moving, dramatic, tragic, or comical way.
				</p>
  <hr/>
  <a name="wfaudio31.38"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What is your opinion of Henry Miller?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sorry, I don't know him. Should I? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> You
					must believe me. I do live in the country, and I don't keep up with literary
					things. I ain't a literary man. So if I should know Henry Miller, I will find
					out about it.
				</p>
  <hr/>
  <a name="wfaudio31.39"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> Along those lines, do you think 
					<span class="unclear tooltip" title="Text was unclear">[the new American literature will develop]</span>
					,
					<span class="unclear tooltip" title="Text was unclear">[what will it have to say]</span> ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It will have to say the same things that people have had to say and have
					been saying ever since man first found some way to&#x2014;to paint pictures
					on the walls of the cave. It's to tell about the&#x2014;the eternal problems
					of man's heart, which have nothing to do with atom bombs nor&#x2014;nor labor
					unions, nor the price of motor cars, nor segregation, nor integration. It's man
					struggling with the eternal verities of&#x2014;of the soul. The young writer
					today, as I said, has got to&#x2014;to resist that pressure to belong to
					groups, to relinquish his&#x2014;his capacity to think and judge into
					the&#x2014;the mouth of a committee chairman. But he will write about the
					same passions and hopes and aspirations and griefs that people have written
					about ever since whoever wrote the Old Testament. His problem&#x2014;what to
					write about is there. He doesn't need .
				</p>
  <hr/>
  <a name="wfaudio31.40"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Would you say that the Snopeses are capable or incapable of
						<span class="unclear tooltip" title="Text was unclear">[participating in]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The ones which are incapable of it will&#x2014;will be obliterated.
					The Snopeses will evolve into&#x2014;you might say, an acceptable type of Snopes.
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Either that or he'll have to vanish. That
					he will have to cope with his environment or his environment will destroy
						him.
				</p>
  <hr/>
  <a name="wfaudio31.41"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You keep referring to the tragic struggle.  Sir, I wonder if
					you the artist's chief talent is to&#x2014;in his ability to perceive this struggle or in <span class="unclear tooltip" title="Text was unclear">[his ability to put down
						the struggle once he's perceived it]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>To perceive it, maybe to sympathize with it. Not to judge it, but simply
					to sympathize with it, to pity it. If he perceives it and anguishes enough over
					it, he will put it down. He may not be able to spell nor punctuate either, but
					somebody in the publisher's office will do that for him. He will put it down if
					he perceives it and anguishes over it, hates it or admires it or is troubled by
					it, then he will put it down. That will just take industry to work at it,
					ruthlessness to throw away what is not quite good, to keep at it.
				</p>
  <hr/>
  <a name="wfaudio31.42"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, you mentioned Thomas Wolfe 
					<span class="unclear tooltip" title="Text was unclear">[would you comment on his place in American]</span>
					?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It's too soon to&#x2014;to say, I think. It takes&#x2014;takes a
					little time before the&#x2014;the dross evaporates from anyone's work, until
					there is a distance for a true perspective. At one time, I was asked
					to&#x2014;what I thought of my contemporaries. I said, "It's too soon to
					tell." The questioner said, "Well, haven't you got any opinion of them at all."
					I&#x2014;I said, "Opinion of who?" He named Wolfe, Hemingway, Dos Passos,
					Caldwell, and me. I rated them then Wolfe first, me second, Dos Passos,
					Caldwell, and Hemingway. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Not on&#x2014;on
					what we'd accomplished, but only on the single general ground I could find,
					which was the&#x2014;the attempt to do more than we could do, on the failure.
					I rated Wolfe because his was the most splendid failure. He had tried hardest to
					take all the experience that he was capable of observing and imagining and put
					it down in one book, on the head of a pin. He had the courage to experiment, to
					be&#x2014;to write nonsense, to be foolish, to be sentimental, in the attempt
					to get down the&#x2014;that single moving and passionate instance of man's
					struggle. I rated myself next because I had tried next hardest to get everything
					on one page. I rated the others down to Hemingway, not on the value of his work,
					which I thought was, per se, the best because it was intact and complete. But
					his was&#x2014;showed less desire to try to get all of man's heart onto the
					pinhead. So I think it's too soon for anyone to have a&#x2014;have an opinion
					about Wolfe. Maybe the only opinion to have about anybody is, "Do I like to read
					him or don't I?" And if I like to read him, he's all right. If I don't like to
					read him, then he may be all right for somebody else, but he ain't my cup of
					tea. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio31.43"/>
  <p><strong>Moderator:</strong><span class="unclear tooltip" title="Text was unclear">[I think we
						have]</span>
					 We certainly appreciate his good nature, his stamina, and I know we want to 
					thank him for a really memorable occasion.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>  <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

		
