
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio25.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 1 May 1958</h4>
<h4>OCCASION: Undergraduate Class in Contemporary American Literature</h4>
<h4>TAPE: T-143d</h4>
<h4>LENGTH: 22:45</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:09.03:00',
					'endtime','00:01:24.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, do you feel that the code of southern chivalry as a
                        broad moral way of life&mdash;broad basis
                        for a moral way of life was ever any more than
                        a romantic dream or romantic ideal?</p>
<p><span class="speaker">William Faulkner</span>I would say it was moral standards which man over a long period of time
                    has found to be the best ones for himself and for everyone else, which had got
                        <span class="unclear tooltip" title="Text was unclear">[colored]</span> over with a certain amount of romanticism, and by
                    certain participants in it had come to be accepted&mdash;the romanticism I
                    mean&mdash;as the most valid part of it. That if you were romantic and
                    gallant about it, it didn't matter whether you were moral about it or not. In
                    that sense it&mdash;it was obsolescent, and it's a good thing it is
                    past, but I'm convinced it was based on simple standards
                    of&mdash;of good, decent behavior, which would be valid at any
                        time.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:27.92:00',
					'endtime','00:02:55.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in "The Bear" is there any intended symbolism in
                        Ike McCaslin taking on the profession of carpenter rather
                    than store clerk or&mdash;or training&mdash;training in some other
                    profession?</p>
<p><span class="speaker">William Faulkner</span>Not symbolism on my part but probably on&mdash;on Ike's part, in
                    that the symbols which the writer puts into his work are the same symbols which
                    the reader reads into it. That is, they come from a Christian background. It may
                    be that Ike, without stopping to rationalize it, had deliberately assumed the
                    symbol of&mdash;of Christ as a&mdash;a protest against an evil which he
                    could not and would not condone. He probably, at that moment, didn't have time
                    to hunt around and say "Oh let's see, what shall I do? I'll
                    do something that Christ did." He just said that "I will&mdash;I will become
                    a carpenter." He didn't go through the process of remembering&mdash;this was
                    the symbology which he had inherited from the moment his&mdash;his mama
                    taught him to say his prayers at night. That was a part of his&mdash;his
                    literate background.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:56.67:00',
					'endtime','00:04:38.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Was your purpose in "The Bear" to show the growing up of a boy?</p>
<p><span class="speaker">William Faulkner</span>I'm sorry would you&mdash;</p>
<p><span class="speaker">Unidentified participant</span>Was your purpose in "The Bear" to show the growing up of a small boy? How
                    he grew up?</p>
<p><span class="speaker">William Faulkner</span>Not the growing up, but to show a small boy in conflict with the adult
                    world which he would have to cope with. That is, he would have to be a part of
                    it and be a good decent man or it would destroy him. The&mdash;the small
                    boy's world is a&mdash;is a world of innocence, different from the adult
                    world, and his job is not in putting on inches and&mdash;and 
                    pounds. It is simply in adapting himself morally and mentally to the adult world
                    which he will have to be a part of, and that to me is&mdash;is one of the
                    most interesting phases of man's struggle with the human dilemma, is how the
                    child grows up to cope with the adult world. That to me is always interesting.
                    I've written about that lots of times for that reason. It's how the child grows
                    up and takes the&mdash;the knocks and the&mdash;the broken head and the
                    skinned knuckles, which he must take to become a man without being destroyed, to
                    bring into the adult world something of the&mdash;of the&mdash;the
                    child's belief in some innate goodness, or in decency, or in courage, in
                        compassion.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:47.06:00',
					'endtime','00:05:29.89:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, what do you find that makes people laugh?</p>
<p><span class="speaker">William Faulkner</span>I would like to think it is&mdash;is joy in seeing that man really
                    can survive his predicament. His predicament is represented by the&mdash;the
                    horrible, the outrageous things that might happen to him, yet he survives them.
                    I would like to think that is what makes people laugh. That it is not to see
                    your&mdash;your fellowman slip on a banana peel. It's to see him slip on
                    that banana peel, and yet he survives.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:30.89:00',
					'endtime','00:07:50.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>I've&mdash;I've heard you use the word "fun" several times,
                        <span class="unclear tooltip" title="Text was unclear">[and I wondered what is your]</span> idea of fun?</p>
<p><span class="speaker">William Faulkner</span>Well, fun, let's see if I can define that. In my own case, it is to
                      accomplish something which makes me feel
                    good, which may make somebody else feel good, which won't hurt anybody. Fun is
                    to accomplish something which&mdash;which I thought that perhaps I
                    couldn't, that I might not be brave enough or strong enough, and then I do it,
                    and I'm successful. I suppose that everyone has a different notion of what fun
                    means, so I can tell you only what it means to me and what I&mdash;when I
                    say that to write for fun&mdash;it's to take man's dilemma,
                    the&mdash;the old familiar things in which there's nothing new and can't be
                    anything new, and by the&mdash;the light of my own experience and
                    imagination and a great deal of hard work to make something which was a little
                    different, which wasn't here yesterday. People write about the same stories
                    because there's so few to write about. But to take one, human beings in the old
                    familiar dilemma and predicament and by the imagination and the hard work to
                    show them in some new interesting, tragic or comical instance of the struggle
                    within the dilemma. That to me is fun. But then so is getting a horse over a
                    fence that I wasn't too sure he could get over, or that I would still be
                        on him, fun.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:50.05:00',
					'endtime','00:08:44.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Is this fun for you right now? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><span class="speaker">William Faulkner</span>Yes. Because I'm still making something which wasn't here yesterday,
                    dealing with&mdash;with human beings which are all of you and me and Mr.
                        McAleer in classrooms like this, and then out of this I
                    learn a little more about people, and I would like to think that if some of you
                    here want to write, you may have learned a little more about how the writing gets
                    done by someone who's been at it for thirty years. It doesn't have to be a very
                    great new thing, but something new might come out of it, which is what I mean by
                    the fun of being a writer, that anybody likes to have a captive audience to talk
                    to probably. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:44.01:00',
					'endtime','00:10:14.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Edward McAleer</span>You have a great knack for creating atmosphere. Do you have to go about
                    it consciously, as Poe did it, or does it just sort of come
                    naturally?</p>
<p><span class="speaker">William Faulkner</span>Well there's&mdash;no writing comes naturally. It's a great deal of
                    concentration and hard work, because one's standards are pretty high.  And I don't
                    know, there are probably times when the writer's got to scrabble around and
                    invent, create some atmosphere. The  other times when the situation he
                    writes about, the characters in it, create the atmosphere. I think that every
                    writer has sort of a storehouse of what he has read, what he has seen and
                    smelled and heard and remembered. After practice, after a few years of writing,
                    he don't have to go through his files to get what he wants. He sort of reaches
                    one hand behind him and pulls out just what he needs for that moment. Be
                    something that he remembered, the way a bird in a tree looked or sounded, the
                    way an apple tree smelled, the way dirt looked that was just ploughed, and
                    suddenly he's putting that down before he has had time to say, "Now I need to
                    write about how an apple tree smells." He's already done that.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:14.95:00',
					'endtime','00:11:13.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, why do you think that there's so many good writers coming
                    out of the South when there's so few people in the South that like to read
                    literature?</p>
<p><span class="speaker">William Faulkner</span>Probably because the South has the leisure which is the dream of any
                    artist. I think that the&mdash;the best thing a nation can do if it really
                    wants peace to devote itself to things of the mind and human spirit is to pick
                    out a good, rich nation, declare war on them and let them&mdash;and let themselves get whipped. I think after the North whipped
                    us we had nothing to do but&mdash;but to write, paint, so
                    we became writers. The rest of the country was too busy supporting us. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:13.57:00',
					'endtime','00:14:08.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I'd like to ask a&mdash;a more specific question if I
                    may. In "An Odor of Verbena" I got the impression that Bayard
                    had been rather anticipating a violent death for his father for some time and
                    was braced for it in certain respects. Yet he still had this thing which he was
                    fighting all the way through the story, this "it" as he calls
                    it, "now it can begin again." Exactly what was this feeling he had that he had
                    to fight off before he could </p>
<p><span class="speaker">William Faulkner</span>He anticipated his father's violent death. He also knew that his father
                    represented an obsolescence.  That he did not want to participate in that
                    obsolescence. The&mdash;the anticipation of his father's death was not
                    the&mdash;the&mdash;the anguish and grief of the loss. It was the fact
                    that he knew that when that happened, this demand by all his tradition, all his
                    family, his father's new wife and his aunt would demand that he take a gun in
                    his turn and go and shed blood to pay for shed blood. And that he was not going
                    to do that. That's why he hated the moment when his father would meet that end,
                    that violent end, which the boy knew his father would meet. That he would be a
                    pariah to his tradition. That he was not going to take a gun and avenge his
                    father's blood. And that was the "it" that he hated. He didn't dread it. He was
                    going to accept <span class="unclear tooltip" title="Text was unclear">[his fate]</span>, but that was what he meant. That
                    even the war had not settled that. To any rational man the lost war should have
                    settled that. Men should have said, "Well, we tried blood, and that didn't work,
                    so let's quit it." But he knew that his father, his father's generation, would
                    not do that. And that he&mdash;he believed that he would be the only one he
                    knew that would&mdash;would want to accept the future. He probably didn't
                    realize that there were a lot of other young southerners that were willing to
                    accept the future. He thought he would be alone, a pariah to his country, his
                    tradition, his family, his blood, everything.</p>
<p><span class="speaker">Unidentified participant</span>But I believe that his Aunt Jenny who was of his father's generation
                    thought it was all right.</p>
<p><span class="speaker">William Faulkner</span>Yes'm, because as I say, women are adaptable. It's men
                    that&mdash;that cling to the old, obsolete ways. Women are adaptable, even a
                    woman as old as Aunt Jenny. That she was&mdash;knew that she would apostate to all
                    the family tradition, but she was on the side of the future
                    like the boy was.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:12.16:00',
					'endtime','00:14:58.75:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, do you think Carson McCullers is going to be <span class="unclear tooltip" title="Text was unclear">[one of
                        the]</span> leading writers in America today?</p>
<p><span class="speaker">William Faulkner</span>That's a&mdash;a question that&mdash;that is difficult for
                    somebody like me to answer because I don't judge writers. To me the book is the
                    important thing. It don't matter who wrote it. And some people&mdash;anyone
                    is going to have bad days when what he writes is not good. The book is important.
                    Who wrote it means nothing. I would say that she's done some&mdash;some of
                    the best work in our time, but I won't say that she is the best or the worst
                    writer or number three or number ten.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:58.73:00',
					'endtime','00:16:06.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>As far as your writing is concerned, what are your future plans for the
                    next forty or fifty years?</p>
<p><span class="speaker">William Faulkner</span>Well I intend to keep on writing longer than just forty or fifty years.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> It'll take at least a hundred
                    to&mdash;for me to get done all I want to write. And I will probably spend
                    that time still trying to make something new which wasn't here yesterday, because
                    writing is&mdash;is the one occupation which never bores you because
                    it's&mdash;satiation is impossible. You never can quite do what you want to
                    do. If what you want is money, then some day you get all the money you want. You
                    can't do any more with it. But you never get done with the writing because you
                    never quite do it as good as you think, if you live long enough, you can do it
                    tomorrow. That's what I mean by fun. It's the one thing that you can do and never get
                    bored with, never get tired.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:07.48:00',
					'endtime','00:16:43.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Are you writing anything on your stay up in Virginia?</p>
<p><span class="speaker">William Faulkner</span>I think the writer is always cooking something up here. As he gets
                    older, he don't like to sit down and put it on paper. He'd rather loaf or talk
                    to somebody or just sit and smoke. When he gets bored to a certain pitch, he
                    will face the&mdash;the job of putting it down on paper, but he never stops
                    inventing and weighing and discarding up here.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:45.28:00',
					'endtime','00:17:18.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Have you ever done any painting, Mr. Faulkner?</p>
<p><span class="speaker">William Faulkner</span>Not seriously. Occasionally when something comes to hand or when they're
                    painting barns and stables and things, and I'll get a smooth piece of plank and a
                    knife or something to smear with, and paint
                        mules and people plowing and things
                    like that, but never serious. Dogs in the woods. That sort of thing. Horses.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:19.52:00',
					'endtime','00:18:17.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, I believe you took a walking tour through Europe <span class="unclear tooltip" title="Text was unclear">[for a
                        number of days,]</span> and I'm just wondering how much you got out of
                    that in observing people and seeing things in Europe?</p>
<p><span class="speaker">William Faulkner</span>Probably a great deal, though it's impossible to say. I think the writer
                    gets something from every experience. He will store that away, and at need,
                    maybe ten or fifteen or thirty years later, he will find that he needs something
                    that he got then. He is omnivorous and amoral. He will take everything he sees,
                    with no judgment, no discretion. Since that is the&mdash;the material that
                    he works from. But no writer can say, I think, just how much he got from what,
                    when.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:17.32:00',
					'endtime','00:20:03.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, I'd like to ask you a question about Sherwood 
                        Anderson's <em>Winesburg, Ohio</em>. In <em>Winesburg</em>
                    Anderson refers to&mdash;almost every character that he refers to is tall.
                    That is, Alice Hindman, Elizabeth Willard and Wash Williams's wife. Is there any
                    reason for this, using tall people, is it some sort of symbolism
                    or&mdash;?</p>
<p><span class="speaker">William Faulkner</span>It could be that that was his first book, the first writing he did, and
                    probably more of&mdash;of his&mdash;his own subconscious wishes appeared
                    in that than would have appeared if he had got in the&mdash;the habit of
                    writing and discharging that young, but he was getting along towards forty years
                    old when he wrote that book. He was a&mdash;a short man that probably all
                    his boyhood had&mdash;had wished he were bigger, so he could fight
                        <span class="unclear tooltip" title="Text was unclear">[better]</span>, defend himself. It could be that that is
                    the reason, though it may be that he simply admired tall people, whatever the
                    reason that some people admire tall people. But it's just possible it's because
                    he himself was short. When he was sitting behind a table like this, he looked
                    like a big man, but when he stood up he wasn't. And I think that he maybe would
                    have liked to have been more imposing looking. At that time he didn't realize
                    that probably it's&mdash;it's not how high a man is. It's what's in his face
                    that makes him imposing looking.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio25.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio25.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:03.06:00',
					'endtime','00:20:14.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Edward McAleer</span>Thank you, Mr. Faulkner. I speak for <span class="unclear tooltip" title="Text was unclear">[all of
                        us.]</span>
                    <span class="event tooltip" title="There was some applause happening">[applause]</span></p>
<p><span class="speaker">William Faulkner</span>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some background talking happening">[background talking]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio25.1" class="hidden">Southern Chivalry</a></li>
<li><a href="#wfaudio25.2" class="hidden">Ike and Christ</a></li>
<li><a href="#wfaudio25.3" class="hidden">Ike's Story</a></li>
<li><a href="#wfaudio25.4" class="hidden">Source of Laughter</a></li>
<li><a href="#wfaudio25.5" class="hidden">Fun</a></li>
<li><a href="#wfaudio25.6" class="hidden">Having Fun</a></li>
<li><a href="#wfaudio25.7" class="hidden">Creating Atmosphere</a></li>
<li><a href="#wfaudio25.8" class="hidden">Southern Writing and Reading</a></li>
<li><a href="#wfaudio25.9" class="hidden">"Odor of Verbena"</a></li>
<li><a href="#wfaudio25.10" class="hidden">Carson McCullers</a></li>
<li><a href="#wfaudio25.11" class="hidden">Future Plans</a></li>
<li><a href="#wfaudio25.12" class="hidden">Work in Progress</a></li>
<li><a href="#wfaudio25.13" class="hidden">Painting</a></li>
<li><a href="#wfaudio25.14" class="hidden">European Travels</a></li>
<li><a href="#wfaudio25.15" class="hidden">Anderson's Winesburg</a></li>
<li><a href="#wfaudio25.16" class="hidden">Close</a></li>
</ul></aside>
        
