<?xml version="1.0"?>

      
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio05_2.1">Observation</a>
    </li>
    <li>
      <a href="#wfaudio05_2.2">Televising His Stories</a>
    </li>
    <li>
      <a href="#wfaudio05_2.3">Horses as Symbols</a>
    </li>
    <li>
      <a href="#wfaudio05_2.4">His Reading</a>
    </li>
    <li>
      <a href="#wfaudio05_2.5">Where to Start Reading</a>
    </li>
    <li>
      <a href="#wfaudio05_2.6">Finding Peace</a>
    </li>
    <li>
      <a href="#wfaudio05_2.7">Reading Shakespeare</a>
    </li>
    <li>
      <a href="#wfaudio05_2.8">Doing the Work</a>
    </li>
    <li>
      <a href="#wfaudio05_2.9">Destroying the Wilderness</a>
    </li>
    <li>
      <a href="#wfaudio05_2.10">"Death Drag"</a>
    </li>
    <li>
      <a href="#wfaudio05_2.11">Dates in Sound and Fury</a>
    </li>
    <li>
      <a href="#wfaudio05_2.12">Dostoevsky</a>
    </li>
    <li>
      <a href="#wfaudio05_2.13">Tomey's Turl's Advice</a>
    </li>
    <li>
      <a href="#wfaudio05_2.14">Dramatizing Requiem</a>
    </li>
    <li>
      <a href="#wfaudio05_2.15">Best Modern Writer</a>
    </li>
    <li>
      <a href="#wfaudio05_2.16">Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 13 March 1957</h3>
  <h3>OCCASION: Edward McAleer's Twentieth Century Literature Class</h3>
  <h3>TAPE: T-113</h3>
  <h3>LENGTH: 14:30</h3>
</div>
<div id="body">
  <a name="wfaudio05_2.1"/>
  <p><strong>William Faulkner:</strong> Then he will need observation. He uses that, but I don't believe
          that&#x2014;that he&#x2014;he himself knows or has time to know just how much of
            which was where and when.</p>
  <hr/>
  <a name="wfaudio05_2.2"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, when you were out in Hollywood, did you have anything to do with
          televising some of your stories? I heard that you . Now, they have been televised,
          haven't they?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, every now and then I&#x2014;I hear about one. I don't have a radio and
          television, so I don't keep up with what goes on, but I hear now and then that they have
          been on TV.</p>
  <hr/>
  <a name="wfaudio05_2.3"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, what are the spotted horses symbolic of, if anything?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>As spotted horses, I don't know. I&#x2014;that&#x2014;that may be
          symbolical, but as horses, that was&#x2014;was&#x2014;they&#x2014;they symbolized the&#x2014;the hope, the
          aspiration of&#x2014;of the masculine part of society, that is capable of&#x2014;of
          doing, of&#x2014;of committing puerile folly for some gewgaw that&#x2014;that has drawn him, as
          juxtaposed to the cold practicality of&#x2014;of the women, whose spokesman Mrs.
          Littlejohn was when she said "Them men!" or "What fools men are!" That the man even in a
          society where there's a constant pressure to conform can still be taken off by the chance
          to buy a horse for three dollars. Which to me is a good sign, I think. I hope that man can
          always be <span class="unclear tooltip" title="Text was unclear">[tolled]</span> off that way, to&#x2014;to buy a horse for three dollars.</p>
  <hr/>
  <a name="wfaudio05_2.4"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, what sort of reading do you best enjoy? Do you have much time for
          the work of contemporary novelists?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't. I haven't read a contemporary book in twenty-odd years, unless
          someone says, "This is a good book. I think you would like it," and so I will get that book
          and read it, but I've got out of the habit of keeping up with&#x2014;with
          contemporaries because I never was a&#x2014;a literary man in the sense of&#x2014;of&#x2014;of 
          needing to keep abreast of the establishment of literature. To me, reading is like
          writing&#x2014;I do it for fun. I'm not too interested in&#x2014;in what anybody
          else has done, that I read books because it's fun.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>How about the classics?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The classics? I read the books that I liked when I first began to read, and they
          are&#x2014;yes, what ranks as classics now, meaning by that any book that people still
          read after a hundred or two years.</p>
  <hr/>
  <a name="wfaudio05_2.5"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, could you suggest any books that one read first, in order to get a clearer
          and more comprehensive picture of your complete works, and if there are any, why these
          specific choices?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>There are none. I think the best way to read&#x2014;no, I can't say the best
          way, this is the way I read. I take the book, and I can tell within two or three pages if
          I want to read that book now. If I don't, I put that down, I take another. I would say
          to take Faulkner that&#x2014;that same way, and read a page or two until you find one
          that you want to read another page. It would be difficult for anyone, except an expert,
          to&#x2014;to plot out a schedule for you. I would do it that way, I think.</p>
  <hr/>
  <a name="wfaudio05_2.6"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, do you have any solution for a man to find peace if he cannot write, 
            as you?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I don't think the writer finds peace. If he did, he would&#x2014;he
          would quit writing. Maybe man is incapable of peace. Maybe that is what
          differentiates man from a vegetable. Though, maybe the vegetables don't even find peace.
          Maybe there's no such thing as peace, that it is a&#x2014;a negative quality, that &#x2014;</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And I understand. I am speaking of peace in his own heart.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, well, I'm&#x2014;I'm inclined to think that the only peace man knows
          is&#x2014;is he says, "Why good gracious, yesterday I was happy." That at the moment,
          he's&#x2014;he's too busy. That maybe peace is&#x2014;is only a condition in
          retrospect, when the&#x2014;the subconscious has&#x2014;has gotten rid
          of&#x2014;of the&#x2014;the&#x2014;the gnats and the tacks and the broken glass in experience and has left
          only the&#x2014;the peaceful, pleasant things. That was peace. Maybe peace is not "is,"
          but "was."</p>
  <hr/>
  <a name="wfaudio05_2.7"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Do you enjoy reading Shakespeare? I heard you speak of Homer. I was just
          wondering how you felt &#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes'm. I still read Shakespeare. I have a one-volume Shakespeare that I have
          just about worn out carrying around with me.</p>
  <hr/>
  <a name="wfaudio05_2.8"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I think you told somebody once that if you had a&#x2014;you were
          writing something, and you had something to get up to every morning and go to work on,
          you'd never have to be afraid of anything in the world any more. And I wonder what you
          meant by that.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I mean by that, that out of idleness, that if you have something to&#x2014;to
          get up to tomorrow morning, you're too busy to pay much attention to fear. Of course,
          you&#x2014;you have the fears, but you have&#x2014;you don't have time
          to&#x2014;to take them too seriously, if you have something to get up to do tomorrow.
          It don't matter too much what it is. And if it's something that you yourself believe is
          valid, in the sense that the artist believes what he's doing is valid, in that it may do
          something to uplift man's heart, not to make man any more successful, but to temporarily
          make him feel better than he felt before, to uplift his heart for a moment.
        </p>
  <hr/>
  <a name="wfaudio05_2.9"/>
  <p><strong>William Faulkner:</strong>Yes, sir&#x2014;oh, yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>In "The Bear," Mr. Faulkner, is the possession and destruction of the wilderness
          a symbolic indication of any sort of corruption in the South? And if this is true, what
          sort of prognostication does this have for the future of the South or of the country as
          a whole?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, of course, the destruction of the wilderness is not a phenomenon of the
          South, you know. That is a&#x2014;a change that's going on everywhere, and
          I&#x2014;I think that&#x2014;that man progresses mechanically and technically much faster than he
          does spiritually, that there may be something he could substitute for the ruined
          wilderness, but he hasn't found that. He spends more time ruining the wilderness than he
          does finding something to replace it, just like he spends more time producing more people
          than something good to do with the people, or to make better people out of them. That
          that's to me is a&#x2014;a sad and tragic thing for the&#x2014;for the old days, the old times,
          to go, providing you have the sort of background which a country boy like me had when that
          was a part of my life. That I don't want it to&#x2014;to change, but then that's true
          of everyone as he grows old. He thinks that&#x2014;that the old times were the best
          times, and he don't want it to change.</p>
  <hr/>
  <a name="wfaudio05_2.10"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Is your short story "Death Drag" based on an actual event or experience in your
          life?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not too much. They were&#x2014;I did a little, what they call barnstorming in
          the early days after the War, when aeroplanes were not too usual, and people would pay a
          hundred dollars to be taken for a short ride in one, but I don't remember anything that
          was specifically like this. This was, again, a human being in conflict with his
          environment and his time. This man who hated flying, but that was what he had to do,
          simply because he wanted to make a little money.</p>
  <hr/>
  <a name="wfaudio05_2.11"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What symbolic meaning did you give to the dates of <em>The Sound
            and the Fury</em>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Now there's a matter of hunting around in the carpenter's shop to find a tool
          that will make a better chicken-house. And probably&#x2014;I'm sure it was quite
          instinctive that I picked out Easter, but that I wasn't writing any symbolism of the
          Passion Week at all. I just&#x2014;that was a tool that was good for the particular
          corner I was going to turn in my chicken-house, and so I used it.</p>
  <hr/>
  <a name="wfaudio05_2.12"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Sir, you mentioned some of the Russian authors before. What do you think of
            Dostoevsky?  Do you consider him one of the best?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He's one that has not only influenced me a lot, but that I have got a great deal
          of pleasure out of reading, and I still read him again every year or so. That as
          a&#x2014;a craftsman, as well as&#x2014;as his insight into people, his capacity
          for compassion. He was one of the ones that any writer wants to&#x2014;to match if he
          can. That's&#x2014;he was a one that&#x2014; wrote a good "Kilroy Was Here."
        </p>
  <hr/>
  <a name="wfaudio05_2.13"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>There's a line in "Was" that I wonder if you would explain something about it, 
          that Tomey's Turl says to Cass. "Anytime you wants to get something done, from hoeing out
          a crop to getting married, just get the women-folks to working at it. That all you needs
          to do&#x2014;then all you needs to do is set down and wait." Well, that's good advice,
          but does he use it in this story? Does Tomey's Turl get the women folks to work for
          him?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I'm sure he would if he'd had time, but people were&#x2014;were running
          him with dogs so much and harrying and harassing from pillar to post, he didn't have time,
          but if he could have&#x2014;could've got the men to stop long enough, then Miss
          Sophonsiba would have settled that whole thing. She would have taken Uncle Buck home, and
          then Tomey's Turl and Tennie could have gotten married, and things would have been
          settled. It was the men that kept things stirred up. Probably Tomey's Turl knew that soon
          as the dust settled, no matter what was the outcome of that poker game, Miss Sophonsiba
          and Uncle Buck would get married, and that then he and Tennie would be let alone.</p>
  <hr/>
  <a name="wfaudio05_2.14"/>
  <p><strong>William Faulkner:</strong>Yes, ma'am.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, is <em>Requiem for a Nun</em> going to be put on
          as a play?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It has been knocking around Europe for about five years. I&#x2014;I wrote
          that not as a play but as another of the carpenter's tools which seemed to me the best way
          to tell a story. There was a young woman. She was a&#x2014;a&#x2014;a friend, a sweetheart
          of&#x2014;of my youngest brother's, that I knew of vaguely around home in Oxford, and
          she's trying to be an actress and so she asked me to let her do it as a play, so I gave
          her the rights to it, and that's why it has never been in the States because she hasn't
          got enough reputation for anyone to put up the money that a play in this country costs. It
          will, I assume, reach here in time sooner or later.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>But you haven't got any idea of your own about how it should be put on or whether
          there should be a chorus used?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No'm, I'm not a playwright, and I&#x2014;I never saw but three or four plays
          in my life.</p>
  <hr/>
  <a name="wfaudio05_2.15"/>
  <p><strong>William Faulkner:</strong>Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I wonder if you could comment on who you think in, say, two hundred years from
          now will leave the biggest "Kilroys Were Here."  Of this century, which writers will leave the
          biggest "Kilroy," if any?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I don't want to answer that question because I'm too unfamiliar
          with&#x2014;with contemporary writers. I haven't read any contemporaries since
          the&#x2014;the three or four of my time, and so often a remark like that in simple
          talk, it gets out, and someone's feelings have been hurt that the man that spoke it had no
          intention of hurting because he didn't even know he existed, and so for that reason
          I&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I wouldn't answer that question at all.
          I&#x2014;I would say that&#x2014;that I think that&#x2014;that Sherwood Anderson has not
          received the recognition that he deserves and some day will have.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>What about Hemingway?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Hemingway, now he's&#x2014;he's alive, and that&#x2014;that's where I'd
          better stay out of trouble by saying nothing, you see.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Would you say anything about your own writings&#x2014;or would you hurt your
          own feelings?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I still haven't done it, but I intend to live to be about a hundred years
          old, so I've got forty more years yet. By that time I'll answer your question, if you're
          still around. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio05_2.16"/>
  <p><strong>Edward McAleer:</strong>Thank you very much, Mr. Faulkner. <span class="event tooltip" title="There was some applause happening">[applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

    
