
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio26_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 2 May 1958</h4>
<h4>OCCASION: Undergraduate Class in Contemporary American Literature,
                    Undergraduate Class in Writing, Graduate Class in American Fiction</h4>
<h4>TAPE: T-143a</h4>
<h4>LENGTH: 32:15</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:03.68:00',
					'endtime','00:01:25.62:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Ladies and gentlemen, Mr. Faulkner is generously with us once again. On
                    two levels, one that came up last week when a young Polish visitor to the United
                    States came up to the fifth floor of Cabell Hall with a translation, a Polish
                    translation, of Mr. Faulkner's <em>The Wild Palms</em>. I suppose
                    it has some&mdash;emphasizes&mdash;or it was published because of the
                    theme of the difficulty of love in a capitalist society, but it shows
                    the&mdash;once again, the extent of Mr. Faulkner's current influence. On the
                    other hand, a colleague, Mr. Blotner, as a matter of fact,
                    reports that at the&mdash;during the comprehensives last week, an English
                    major&mdash;one boy identified the novel <em>The Town</em> as
                    simply "novel, twentieth century, by our own Mr. William Faulkner." So we run
                    between these two extremes of local pride and international pride. And I think
                    that may set the tone for the kind of questions we are allowed to ask Mr.
                    Faulkner, i.e. anything. Mr. Faulkner.</p>
<p><span class="speaker">William Faulkner</span>Would it be better if I stood up like this?</p>
<p><span class="speaker">Moderator</span>Yes, sir.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:46.59:00',
					'endtime','00:02:16.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Is David Hogganbeck in "A Courtship" an ancestor of Boon Hogganbeck in
                    "The Bear"?</p>
<p><span class="speaker">William Faulkner</span>Yes, that would be Boon's grandfather, probably. 1812 to&mdash;yes
                    that would be Boon's grandfather.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:19.79:00',
					'endtime','00:03:47.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in <em>Winesburg, Ohio,</em> Sherwood
                    Anderson has a section in there on Jesse Bentley that doesn't seem connected
                    with the rest of the book as much as the other chapters. That is, none of the
                    people in there knew George Willard. There's been criticism of this. Would you
                    care to comment on that <span class="unclear tooltip" title="Text was unclear">[as it stands&mdash;maybe your fourth
                        section of "The Bear," seems to bear a relation on the past to the present
                        whereas]</span>&mdash;is there much as much of a relationship in this
                    section of <em>Winesburg, Ohio</em>?</p>
<p><span class="speaker">William Faulkner</span>I'm sure there was in Mr. Anderson's concept of it. I think the writer
                    looks on his work as an entity, that it has got to&mdash;to please him by
                    its completeness, its wholeness. What seems extraneous to somebody else, to him
                    may seem completely necessary, that without that even though it might have
                    been&mdash;been out of&mdash;out of <span class="unclear tooltip" title="Text was unclear">[tune almost,]</span> was
                    necessary to the&mdash;the work as a whole, an entity. And I'm sure that Mr.
                    Anderson felt that his book without that was not finished, not complete. That it
                    wasn't intact.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:55.32:00',
					'endtime','00:05:57.64:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, Malcolm Cowley has written that not one of your characters
                        exercises the faculty of conscious choice between good
                    and evil, that they seem to be haunted, obsessed and driven&mdash;or driven
                    by some kind of destiny. Do you think that's a valid
                    statement?</p>
<p><span class="speaker">William Faulkner</span>Yes, it is quite valid, in&mdash;in the sense that&mdash;that
                    anyone who reads a&mdash;a book or story gives something to
                    that&mdash;something of himself to that book or that story. It takes that.
                    The&mdash;the&mdash;the man that wrote it offers a <span class="unclear tooltip" title="Text was unclear">[step]</span>. That is, he
                    offers his own opinion, which is his own concept of a fundamental truth. Someone
                    else sees it, sees the same fundamental truth, but he adds something to it. If
                    the&mdash;the critic is&mdash;is intelligent, is sympathetic and is
                    quite honest, of course, his criticism, even though I might not agree with it,
                    is valid. And I think the writer's not the one to say that it's wrong simply
                    because he doesn't agree with it. Mr. Cowley may be right. I don't think he is,
                    but I'm not the one to say that he's wrong just because we don't agree. But at
                    least he brought enough attention and sympathy to the book to have a sound or
                    valid opinion of it, which is certainly what the critic should do. Not to write
                    what the critic's own clients expect to hear from him the next time he reviews a
                    book, but to give his concept of a piece of work, a work of art.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:00.36:00',
					'endtime','00:07:10.25:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>Sir, in <em>As I Lay Dying</em>, do you conceive of Darl as
                    having more than one reason for burning the barn where his mother's body is
                    being stored for the night?</p>
<p><span class="speaker">William Faulkner</span>He probably did. Darl was mad. His reasons are&mdash;would be
                    completely valid reasons if you accept his premise. It's like the&mdash;the
                    man that&mdash;that sits on a&mdash;a plank full of tacks looks insane
                    until you find out he thinks he's Gandhi. Darl could have had our reasons and
                    his own mad reasons for what he did. Could have had any number of reasons.
                    The&mdash;the&mdash;the sane reason might be to&mdash;to efface a , but
                    his own reasons, we don't know what they might be because he was mad.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:11.81:00',
					'endtime','00:08:59.76:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, some of the prose writers in this so-called San Francisco
                    renaissance that's going on now feel that the novel form as a type is archaic
                    and that it won't make any progress until they can get rid of the discipline
                    imposed by simple grammar, punctuation, the language in general. I wonder how
                    you'd react to this idea <span class="unclear tooltip" title="Text was unclear">[of theirs]</span>.</p>
<p><span class="speaker">William Faulkner</span>I think the&mdash;the manner, the method is&mdash;is not too
                    important. The writer is simply trying to arrest in one dramatic moment an
                    instant of man's struggle within the human dilemma. I think that he should use
                    whatever method seems the best to him to do that. But I don't think that because
                    he believes that&mdash;that his method is the best one that all other methods are
                    bad. And I think that if&mdash;if anyone is going to waste his time trying
                    to abolish the&mdash;the form of the novel, then he's not going to get much
                    good work done. To use whatever form is&mdash;comes to hand that does his
                    job. If it's a moving picture camera, use that. If he'd rather use paint,
                    use that. If he'd rather&mdash;if he thinks he can do it better with sign
                    language, assuming that he can communicate with enough readers, use that. I
                    imagine that any form is&mdash;is going to change, but I don't think
                    that&mdash;that we will see the time when folks will get rid of grammar and
                        punctuation.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:02.48:00',
					'endtime','00:10:53.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>You use the term human dilemma. What do you describe as a human
                    dilemma?</p>
<p><span class="speaker">William Faulkner</span>The environment in which man, frail and fragile, with all his impulses,
                    his lusts, greeds, also his conscience, whatever it is that makes him want to be
                    better than he is and makes him, even when he's responsible for it, hate the
                    condition in which the weak suffer and anyone is hungry <span class="unclear tooltip" title="Text was unclear">[which will
                        always occur]</span>. That he would like to alter that. He hasn't been
                    able to so far, yet he doesn't quit trying. His dilemma is to&mdash;to
                    arrange the world in which he lives, in which he&mdash;and where he came
                    without any&mdash;any choice, into a condition in which he can get the most
                    for his money, you might say. His dilemma is his struggle with his own nature
                    against his conscience. Call that God or whatever you like. But whatever it is
                    that&mdash;that makes man want to be better than he is and that he is afraid
                    he may be able to be. That he wants to be braver than he is afraid he might be.
                    He wants to be more honest than he's afraid he might be able to be. And he
                    wants&mdash;wants peace. He wants happiness, what he calls happiness. And
                    his dilemma is his struggle and striving to get that.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:55.87:00',
					'endtime','00:11:45.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>I&mdash;in <em>The Sound and the Fury,</em> Mr.
                    Faulkner, Jason Compson  is one of your most memorable characters. To me,
                    he is one of the meanest, orneriest people who I have ever conceived of. Now, if
                    it's not a personal question, have you ever known anyone who was anywhere near
                    as mean and as hateful as Jason Compson?</p>
<p><span class="speaker">William Faulkner</span>I hope I haven't. No writer worth his salt is going to believe that
                    anybody can create better people than&mdash;than he can, more villainous or
                    more saintly. And so I prefer to believe that there ain't anybody quite that bad
                    because I would have lost the trick. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:45.19:00',
					'endtime','00:14:53.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[I have found that]</span> a number of characters,
                    particularly in <em>Absalom, Absalom!</em> and 
                    <em>The Sound and the Fury</em>, have a great obsession with time and through
                    their conception of time which often
                        tends&mdash;to define their characters. In other words, an
                    obsession with the past or with the future or&mdash;or placing time
                    altogether out of the  as the sum of their characters,
                    their&mdash;their&mdash;their own characters to their own detriment. And
                    that Dilsey, perhaps, and Lena, who approach time in a cyclical order, and
                    therefore have been able to make more order out of their lives. Perhaps
                        I have <span class="unclear tooltip" title="Text was unclear">[that in]</span> an inverted order, but I wonder if you would&mdash;if
                    you would comment on that.</p>
<p><span class="speaker">William Faulkner</span>Well, of course a part of&mdash;of man's dilemma, the individual
                    dilemma, is that man, individual man, is the victim of his past. Actually
                    there's&mdash;there's no such thing as "me," probably, that I am a
                    conglomeration of a lot of "us."  Probably a great deal of&mdash;of man's
                    behavior is from a pattern that was fixed long before he entered it. He
                    inherited it, that he can't help doing some of the thing he does. He can't help
                    his&mdash;his attitude toward that that he&mdash;he has. He&mdash;he
                    might be educated out of them. I think that the&mdash;the wise
                    person&mdash;I mean wise in the sense that Dilsey was wise, to do the best
                    she could with what she had, she would know by instinct that she
                    must&mdash;must abolish the past. That she must accept&mdash;accept
                    "now," and accept the&mdash;the moment in which "now" becomes "will be."
                    That she must be intact in "now" rather than to have one foot inside "now," and
                    the rest of&mdash;of the body in "yesterday," if she is to cope with
                    environment. I don't know whether that makes any clearer what you asked or not.
                    Does it?
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:56.24:00',
					'endtime','00:15:57.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I have two questions about your short story, "Lo!"  And the
                    first one is what is the relation of the chief, Francis Weddell, to the Indians
                    which we see in "A Courtship" or "Red Leaves" ?</p>
<p><span class="speaker">William Faulkner</span>Simply another&mdash;another clan. They were the same Chickasaw
                    people. That was just another clan. They may have been related by marriage, even
                    by blood, but they had begun to take white names by that time. When&mdash;as
                    they became plantation owners and held U.S. commissions.  But he
                    was&mdash;belonged to the same lot of people as Issetibbeha and his
                    descendants.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:57.99:00',
					'endtime','00:16:55.84:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Well, Mr. Faulkner could you tell me when Weddell takes his Chickasaws to
                    Washington, takes his nephews and besieges the president, whether this is just
                    the action of a naive savage or whether he, all the time, is planning on getting
                    the best of the President?</p>
<p><span class="speaker">William Faulkner</span>I think that required a great deal of shrewdness, that he was no longer
                    in a position to take his spears and bows and arrows and his warriors and go
                    there and get what he wanted, so he used the white man's tactics.  I think
                    that he was pretty shrewd about that, that he just behaved in a naive and
                    innocent way, but he wasn't. That he had&mdash;had abolished the past and
                    had taught himself pretty fast to cope with "now," with environment.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:58.56:00',
					'endtime','00:17:13.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, I have a couple of questions about <em>The
                        Sound and the Fury</em>. The first one, is Quentin the daughter of Dalton
                    Ames. Do you remember that?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
<p><span class="speaker">Unidentified participant</span>She is?</p>
<p><span class="speaker">William Faulkner</span>Yes.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:13.71:00',
					'endtime','00:18:45.73:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>And the second one, how do you think Quentin have turned out if
                        Jason wouldn't have been hounding her the all the time? Would she have
                        turned out well or ?</p>
<p><span class="speaker">William Faulkner</span>I don't know. That whole family was against her. I doubt if any child as
                    insecure as she was&mdash;to know, suspect that she was&mdash;was
                    insecure, could have coped with that family of adults, with nobody to defend her
                    except the Negro woman. Probably she was&mdash;was doomed in any environment
                    she would have found herself in.</p>
<p><span class="speaker">Unidentified participant</span>I had the impression that she would have turned out fine if it
                        hadn't have been for Jason.</p>
<p><span class="speaker">William Faulkner</span>I can't say. I'm&mdash;I'm inclined to think that she was doomed,
                    that no matter what the environment would have been, she was still doomed.
                    That's certainly poetically necessary in the book, that she be. That
                       was the reason for&mdash;part of the reason for her
                    uncle's Quentin's tragedy. I mean the poetic reason, not the actual
                        reason.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:45.74:00',
					'endtime','00:19:31.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>In <em>The Sound and the Fury</em> you said that Maury
                    Compson's name was changed to Benjamin. You mention it a 
                    number of times  in the book.  What was the purpose of changing his name and
                    why&mdash;what was the importance of <span class="unclear tooltip" title="Text was unclear">[the change]</span> ?</p>
<p><span class="speaker">William Faulkner</span>Maury was his mother's brother, the only brother, and they were a proud
                    named family. This child was given that proud name, and when he began to appear
                    to be an idiot, they didn't want him named Maury, so they changed his
                        name.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:31.18:00',
					'endtime','00:20:23.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, is there anything significance in the fact that at one point in <em>The Sound and the Fury</em> T.P.
                    says that Benjy was not only deaf&mdash;dumb but also deaf?</p>
<p><span class="speaker">William Faulkner</span>No, no, Benjy wasn't really deaf, but in T.P.'s concept,
                    if&mdash;if&mdash;if you're&mdash;you're "deaf and dumb," that means
                    you can't talk, and you&mdash;you just don't have any sense. And he was
                    saying "You're deaf 'cause you&mdash;you won't do what I tell you to do." He
                    didn't mean that Benjy couldn't hear because he knew Benjy could. But that was
                    T.P.'s exasperation with this creature who was bigger than he was and yet was
                    more trouble than an infant.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:25.53:00',
					'endtime','00:20:52.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Does the name T.P. stand for <span class="unclear tooltip" title="Text was unclear">[anything in
                    particular]</span>?</p>
<p><span class="speaker">William Faulkner</span>No, that was just his name.</p>
<p><span class="speaker">Frederick Gwynn</span><span class="unclear tooltip" title="Text was unclear">[Was]</span> Versh the same way?</p>
<p><span class="speaker">William Faulkner</span>Versh's name, back in slavery times, had probably been Virgil, and then
                    his people couldn't spell it, and it passed from son to son and finally wound up
                    as Versh. It may have gone from Virgil to Verge, and then it got to be Versh.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:54.66:00',
					'endtime','00:21:49.02:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir. This gentleman.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in <em>As I Lay Dying</em> which of Addie's children
                    has the most love&mdash;love for her and why?</p>
<p><span class="speaker">William Faulkner</span>I would say that Jewel did.  That Jewel himself didn't know why he did.
                    He was a&mdash;a child of love. That he was illegitimate. And he and his
                    mother were closer. He didn't know why. She did. And I imagine&mdash;and
                    also by his&mdash;his nature, that he was not the child of&mdash;of his
                    shiftless father who loved nothing but his own comfort, that Jewel had inherited
                    something of <span class="unclear tooltip" title="Text was unclear">[warmth]</span> from his&mdash;his father.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:52.13:00',
					'endtime','00:22:49.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Joseph Blotner</span>Sir, we're talking about names. Just as we learn that Eck Snopes is
                    really named Eckrum, is there any longer name for I.O., Mink, and Flem?</p>
<p><span class="speaker">William Faulkner</span>No, that's like T.P.'s name, the I.O. And Mink&mdash;Mink was an
                    orphan. He was raised by some kin people, and he himself had never heard himself
                    called anything but Mink. Someone asked him in a&mdash;a&mdash;a book
                    I'm at now what his name is. He says, "Mink." He says, "Is that all the name
                    you've got?" He says, "That's all I know." And he's asked, "What did your mother
                    call you?" He said, "I don't know. She died." That he&mdash;he doesn't know.
                    That's all he's heard cause he's raised&mdash;passed from hand to hand,
                    anybody that would feed a&mdash;a child like a stray dog.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:52.32:00',
					'endtime','00:24:19.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, would you say a few words about the significance of the Easter service 
                     in <em>The Sound and
                            the Fury</em>?</p>
<p><span class="speaker">William Faulkner</span>Only that, at that point, it seemed to me that was needed, just as
                    the&mdash;the&mdash;the musician will put certain chords or themes or
                    phrases into what he's doing. He himself may not know why. It seems obvious to
                    him that something like that was needed, and that's the best he could do. It may
                    be counterpoint to the&mdash;the dreary scene in the house with that selfish
                    woman, the mother, and this child who's taken out of the house to&mdash;just
                    so the&mdash;the woman&mdash;his own mother wouldn't be bad with him is
                    taken to church with these people going&mdash;trying to&mdash;to follow
                    the&mdash;the white man's concept of&mdash;of the passion story.  For
                    emphasis I suppose.
                </p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Was&mdash;was there resentment among the colored people
                        about]</span> Benjy going to church <span class="unclear tooltip" title="Text was unclear">[with Dilsey]</span>?</p>
<p><span class="speaker">William Faulkner</span>No, no, none whatever.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:19.31:00',
					'endtime','00:25:01.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, at one point in that Easter service, Dilsey mentions that she has
                    seen the beginning and the end. What was it that referred to? 
                    Was it religion or is it the family?</p>
<p><span class="speaker">William Faulkner</span>It's the family. She sees that there's doom on the family.
                    There&mdash;there may have been one hope&mdash;was&mdash;was that
                    girl, Quentin. And Quentin is gone. The doom which Dilsey had been fighting
                    against all her life had happened. And she saw the first of it, and she did the
                    best she could, and now she's seen the end.  All that remains is an idiot boy
                    that she takes to an Easter service in a Negro church that he can't even
                        understand.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:01.64:00',
					'endtime','00:26:08.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, in <em>As I Lay Dying</em> is there any
                    significance&mdash;significance&mdash;significance in the fact that
                    Vardaman catches the fish at the beginning, and <span class="unclear tooltip" title="Text was unclear">[keeps comparing the
                        death of it to that of]</span> his mother rather than it being some other
                    animal, perhaps?</p>
<p><span class="speaker">William Faulkner</span>Yes. That's a question that's a little&mdash;little hard for me to
                    answer because anything in the book has some need, more than significance. There
                    was a need, it seemed to me, that that should be there. The connection, I
                        felt, of the transference that the little boy made
                    between the dead fish and the blood and his dead mother was&mdash;was an
                    instance of a child's rationalizing, thinking. But there were no symbolism
                    intended there.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:09.58:00',
					'endtime','00:26:53.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Frederick Gwynn</span>Speaking of symbolism, on the dust jacket of first edition of <em>The Sound and the Fury</em> two figures
                    seem to be wrestling: 
                    a black one is pinning down a whiter one. Do you recall who
                    the artist was and whether anything particular was intended?</p>
<p><span class="speaker">William Faulkner</span>No I don't. I don't know who did that. Of course
                    the&mdash;the&mdash;the symbolism was simply the powers of&mdash;of
                    darkness and of light wrestling, struggling. I don't know whose idea that jacket
                    was or who did it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:00.07:00',
					'endtime','00:27:18.70:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, the title of <em>The Sound and the
                        Fury</em> is taken from Macbeth's speech, <span class="unclear tooltip" title="Text was unclear">[isn't
                        it]</span>?</p>
<p><span class="speaker">William Faulkner</span>Yes, yes. There must have&mdash;be at least a dozen books named from
                    that one speech.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:21.81:00',
					'endtime','00:30:11.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>It seems that one of the tragedies of Quentin Compson
                        <span class="unclear tooltip" title="Text was unclear">[that]</span> was the greatest is the inability to
                        <span class="unclear tooltip" title="Text was unclear">[remove]</span> himself at all in <span class="unclear tooltip" title="Text was unclear">[time]</span>. He
                    has the obsession to begin with, and then  confused, and then he battles
                        <span class="unclear tooltip" title="Text was unclear">[time]</span> altogether, mechanical and
                    natural time, <span class="unclear tooltip" title="Text was unclear">[destroys his clock,]</span> puts himself in the future and
                        looks back at himself. He's totally confused and yet
                    totally obsessed with time, trying to put it in some rational understanding for
                    himself, and he fails.  his&mdash;his failure after an
                        attempted intellectual approach, and Dilsey's success 
                    <span class="unclear tooltip" title="Text was unclear">[after more of]</span> an emotional approach, which seemed to
                    indicate a <span class="unclear tooltip" title="Text was unclear">[collective]</span> attempt at trying to relate to time,
                        to live with time  <span class="unclear tooltip" title="Text was unclear">[and that perspective cannot be reached in
                        an]</span> intellectual, rational manner but more or less comes from an
                    emotional or instinctive <span class="unclear tooltip" title="Text was unclear">[comprehension]</span>.</p>
<p><span class="speaker">William Faulkner</span>Remember Quentin was not trying to put time into perspective. He was
                    trying to escape from time into the past. He was trying to escape back into a
                    time when all this which I hate was not. He failed, and so he committed suicide.
                    There was only one more step left to him. He couldn't be alive and escape back
                    before when his sister was pure. And so he had to commit suicide. That was all
                    that remained for him. Dilsey accepted the past, and she didn't waste herself
                    trying to discard it or get away from it. She simply accepted it and said,
                    "All right. So it is. Let's go on. Let's go forward." That time was&mdash;was
                    in its perspective for, I think, the both of them, but&mdash;but one of them
                    hated "now" and wanted to return to "was," which you can't do because what was,
                    is. There's actually no such thing as "was." As we said any man is the victim
                    of&mdash;not only victim, but the sum of his past. He never escapes from it.
                    Quentin wanted to escape back into it.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:13.45:00',
					'endtime','00:30:50.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, how real are the&mdash;the&mdash;these amorous
                    exploits of Gerald Bland in <em>The Sound and the Fury</em>?
                    Is&mdash;is he just bragging, trying to live up to his mother's dramatic
                    conception of him or does he really ?</p>
<p><span class="speaker">William Faulkner</span>I suspect that most of them are lies.  That he would be like any
                        <span class="unclear tooltip" title="Text was unclear">[fictioneer]</span>&mdash;nothing that happened would be quite
                    as good as what he could imagine. So the&mdash;the ones that actually
                    happened would be dull to him. The ones he told about were probably all
                        lies.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio26_1.26">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio26_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:50.35:00',
					'endtime','00:31:33.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span> Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Did Quentin, before, actually have a conversation with his father about
                    sleeping with his sister? Or was that part of his ?</p>
<p><span class="speaker">William Faulkner</span>He never did. He said, "If I were brave I would&mdash;I&mdash;I
                    might say this to my father, whether it was a lie or not." Or&mdash;or, "If
                    I were&mdash;if I would say this to my father, maybe he could answer me back
                    the magic word which would relieve me of this anguish and agony which I live
                    with." No, they were imaginary. He just said "Suppose I say this to my father.
                    Would it help me?" <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio26_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio26_1.2" class="hidden">David and Boon Hogganbeck</a></li>
<li><a href="#wfaudio26_1.3" class="hidden">Winesburg, Ohio</a></li>
<li><a href="#wfaudio26_1.4" class="hidden">Cowley's Interpretation</a></li>
<li><a href="#wfaudio26_1.5" class="hidden">Darl Bundren</a></li>
<li><a href="#wfaudio26_1.6" class="hidden">Beat Prose Writers</a></li>
<li><a href="#wfaudio26_1.7" class="hidden">Human Dilemma</a></li>
<li><a href="#wfaudio26_1.8" class="hidden">Jason Compson</a></li>
<li><a href="#wfaudio26_1.9" class="hidden">Obsession with Time</a></li>
<li><a href="#wfaudio26_1.10" class="hidden">Indians in "Lo!"</a></li>
<li><a href="#wfaudio26_1.11" class="hidden">Weddell</a></li>
<li><a href="#wfaudio26_1.12" class="hidden">Girl Quentin's Father</a></li>
<li><a href="#wfaudio26_1.13" class="hidden">Quentin and Jason</a></li>
<li><a href="#wfaudio26_1.14" class="hidden">Benjy's Name</a></li>
<li><a href="#wfaudio26_1.15" class="hidden">Benjy's Deafness</a></li>
<li><a href="#wfaudio26_1.16" class="hidden">T.P.'s Name</a></li>
<li><a href="#wfaudio26_1.17" class="hidden">Addie's Children</a></li>
<li><a href="#wfaudio26_1.18" class="hidden">Names of Snopeses</a></li>
<li><a href="#wfaudio26_1.19" class="hidden">Benjy in Church</a></li>
<li><a href="#wfaudio26_1.20" class="hidden">The Beginning and the End</a></li>
<li><a href="#wfaudio26_1.21" class="hidden">Vardaman's Fish</a></li>
<li><a href="#wfaudio26_1.22" class="hidden">Sound and Fury Dust Jacket</a></li>
<li><a href="#wfaudio26_1.23" class="hidden">Sound and Fury Title</a></li>
<li><a href="#wfaudio26_1.24" class="hidden">Quentin and Time</a></li>
<li><a href="#wfaudio26_1.25" class="hidden">Gerald Bland</a></li>
<li><a href="#wfaudio26_1.26" class="hidden">Quentin and Father [part 1]</a></li>
</ul></aside>
        
