<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio24_1.1">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio24_1.2">Audience Prompt</a>
    </li>
    <li>
      <a href="#wfaudio24_1.3">Sprig of Verbena</a>
    </li>
    <li>
      <a href="#wfaudio24_1.4">Ringo's Intelligence</a>
    </li>
    <li>
      <a href="#wfaudio24_1.5">Confederate Reminiscences</a>
    </li>
    <li>
      <a href="#wfaudio24_1.6">"No bloody moon"</a>
    </li>
    <li>
      <a href="#wfaudio24_1.7">Ab Snopes and Grumby</a>
    </li>
    <li>
      <a href="#wfaudio24_1.8">Byron Snopes</a>
    </li>
    <li>
      <a href="#wfaudio24_1.9">Symbol of the Train</a>
    </li>
    <li>
      <a href="#wfaudio24_1.10">Young Bayard's Flight</a>
    </li>
    <li>
      <a href="#wfaudio24_1.11">Dialogue</a>
    </li>
    <li>
      <a href="#wfaudio24_1.12">Historical Research</a>
    </li>
    <li>
      <a href="#wfaudio24_1.13">Ringo and Bayard</a>
    </li>
    <li>
      <a href="#wfaudio24_1.14">Between the Wars</a>
    </li>
    <li>
      <a href="#wfaudio24_1.15">Unity of Unvanquished</a>
    </li>
    <li>
      <a href="#wfaudio24_1.16">Unvanquished and Movies</a>
    </li>
    <li>
      <a href="#wfaudio24_1.17">Use of Odors</a>
    </li>
    <li>
      <a href="#wfaudio24_1.18">Writing Poetry</a>
    </li>
    <li>
      <a href="#wfaudio24_1.19">Work in Progress</a>
    </li>
    <li>
      <a href="#wfaudio24_1.20">Adapting to Progress</a>
    </li>
    <li>
      <a href="#wfaudio24_1.21">Ratliff [part 1]</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio24_1.1"/>
  <p> That's the significance of it.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.2"/>
  <p>Perhaps some of the others of you have a question now
                    about The Unvanquished or Sartoris?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.5"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio24_1.6"/>
  <p>Mr. Faulkner, at&#x2014;toward the end of The
                        Unvanquished, Aunt Jenny tells Bayard about a blockade runner she knew
                    who used to have the toast "No bloody moon." Was that so that he could get
                    through the&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio24_1.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.8"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.11"/>
  <p>Sir, I'm curious about your handling of the dialogue in
                    your writing. Your&#x2014;your style is somewhat distinctive, and yet when
                    you weld them together in the dialogue, there doesn't appear
                    to be any separation  one seems to flow out of the
                    other. When you try to recreate the words that this character says, to what
                    extent do you enter your own idiosyncrasies into his speech, or to what extent
                    do you go to keep him pure and write the way he actually says?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.12"/>
  <p>Mr. Faulkner, could I ask a question of interest to many historians also
                    interested in literature? You spoke of the three-fold fund: experience,
                    observation, and imagination. When you write about&#x2014;as you did in The Unvanquished&#x2014;the period of the
                    Reconstruction, do you find that works of historians about Reconstruction in
                    Mississippi are useful or do they just clutter the issue and deaden the
                    imagination? But to build up your knowledge of that period, do you&#x2014;did
                    you find that you went naturally to historical works on the period, or was that
                    at all useful, that sort of thing?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.13"/>
  <p> I believe you had another question, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.15"/>
  <p>Mr. Faulkner, The Unvanquished was published
                    originally as a series of short stories, I believe, and then revised for a novel
                    form. When you were writing those short stories, did you have the idea in mind
                    that these would make a novel eventually, or did they just appear after they
                    appeared in short story form to fit together so naturally that it was necessary
                    to make a novel out of them?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.16"/>
  <p>Has Hollywood ever expressed any interest in these stories?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.17"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio24_1.18"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.19"/>
  <p>Sir, are you currently writing a novel?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.20"/>
  <p>Sir, especially in The Unvanquished and also in
                    your other novels there seems to be a general loosening of tradition or a sort
                    of rapid progress coming forth. What characters, in general, what types of
                    people in your novels, do you think respond best to the progress?</p>
</div>
<div class="section">
  <a name="wfaudio24_1.21"/>
  <p>When you speak of a man in motion, do you think that that person who
                    moves along with it is apt to be the most successful or&#x2014;?</p>
</div>
