<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio14_2.1">Composition Process</a>
    </li>
    <li>
      <a href="#wfaudio14_2.2">The Mansion</a>
    </li>
    <li>
      <a href="#wfaudio14_2.3">An American Language</a>
    </li>
    <li>
      <a href="#wfaudio14_2.4">Imagination v Experience</a>
    </li>
    <li>
      <a href="#wfaudio14_2.5">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio14_2.1"/>
  <p> completing your writing, whether you start writing it or does it
                    develop as you go?</p>
</div>
<div class="section">
  <a name="wfaudio14_2.2"/>
  <p>Will&#x2014;will A Mansion follows the same characters as The Town?</p>
</div>
<div class="section">
  <a name="wfaudio14_2.3"/>
  <p>Mr. Faulkner, do you believe that there is a American language 
                    developing as compared to the English language, or that they are
                    the same language?</p>
</div>
<div class="section">
  <a name="wfaudio14_2.4"/>
  <p>Mr. Faulkner, do you think that an author is actually getting
                        into hot water if he doesn't stick to subjects that he
                    himself has experienced?</p>
</div>
<div class="section">
  <a name="wfaudio14_2.5"/>
  <p>Thank you, Mr. Faulkner, very much.</p>
</div>
