
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio12_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 8 May 1957</h4>
<h4>OCCASION: Engineering School Students</h4>
<h4>TAPE: T-124</h4>
<h4>LENGTH: 29:22</h4>
<h4>READING: "Was"</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.1">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:29.15:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">John Longley, Jr.</span>Gentlemen, I had a speech all prepared tonight, but I've forgotten
						what it was. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So I'll just say that I would
						like to introduce to you an old hand on this campus. He's been around so
						long now that he's really become one of us: Mr. William Faulkner, who is
						going to entertain you now. <span class="event tooltip" title="There was some applause happening">[applause]</span>
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.2">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:29.68:00',
					'endtime','00:01:05.00:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.3">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:05.90:00',
					'endtime','00:01:49.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						When he and Uncle Buck ran back to the house from
							discovering that Tomey's Turl had run again, they heard Uncle Buddy
							cursing and bellowing in the kitchen, then the fox and the dogs came out
							of the kitchen and crossed the hall into the dogs' room and they heard
							them run through the dogs' room into his and Uncle Buck's room then they
							saw them cross the hall again into Uncle Buddy's room and heard them run
							through Uncle Buddy's room into the kitchen again and this time it
							sounded like the whole kitchen chimney had come down and Uncle Buddy
							bellowing like a steamboat blowing and this time the fox and the dogs
							and five or six sticks of firewood all came out of the kitchen together
							with Uncle Buddy in the middle of them hitting at everything in sight
							with another stick. It was a good race. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.4">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:49.57:00',
					'endtime','00:02:24.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						When he and Uncle Buck ran into their room to get
							Uncle Buck's necktie, the fox had treed behind the clock on the mantel.
							Uncle Buck got the necktie from the drawer and kicked the dogs off and
							lifted the fox down by the scruff of the neck and shoved it back into
							the crate under the bed and they went to the kitchen, where Uncle Buddy
							was picking the breakfast up out of the ashes and wiping it off with his
							apron. "What in damn's hell do you mean," he said, "turning that damn
							fox out with the dogs all loose in the house?" "Damn the fox,"
							Uncle Buck said. "Tomey's Turl has broke out again. Give me and Cass
							some breakfast quick. We might just barely catch him before he gets
							there." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.5">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:24.20:00',
					'endtime','00:04:40.97:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Because they knew exactly where Tomey's Turl had
							gone, he went there every time he could slip off, which was about twice
							a year. He was heading for Mr Hubert Beauchamp's place just over the
							edge of the next county, that Mr Hubert's sister, Miss Sophonsiba (Mr
							Hubert was a bachelor too, like Uncle Buck and Uncle Buddy) was still
							trying to make people call Warwick after the place in England that she
							said Mr Hubert was probably the true earl of only he never even had
							enough pride, not to mention energy, to take the trouble to establish
							his just rights. Tomey's Turl would go there to hang around Mr Hubert's
							girl, Tennie, until somebody came and got him. They couldn't keep him at
							home by buying Tennie from Mr Hubert because Uncle Buck said he and
							Uncle Buddy had so many niggers already that they could hardly walk
							around on their own land for them, and they couldn't sell Tomey's Turl
							to Mr Hubert because Mr Hubert said he not only wouldn't buy Tomey's
							Turl, he wouldn't have that damn white half-McCaslin on his place even
							as a free gift, not even if Uncle Buck and Uncle Buddy were to pay board
							and keep for him. And if somebody didn't go and get Tomey's Turl right
							away, Mr Hubert would fetch him back himself, bringing Miss Sophonsiba,
							and they would stay for a week or longer, Miss Sophonsiba living in
							Uncle Buddy's room and Uncle Buddy moved clean out of the house,
							sleeping in one of the cabins in the quarters where the niggers used to
							live in his great-grandfather's time until his great-grandfather
							died and Uncle Buck and Uncle Buddy moved all the niggers into the big
							house which his great-grandfather had not had time to finish, and not
							even doing the cooking while they were there and not even coming to the
							house any more except to sit on the front gallery after supper, sitting
							in the darkness between Mr Hubert and Uncle Buck until after a while
							even Mr Hubert would give up telling how many more head of niggers and
							acres of land he would add to what he would give Miss Sophonsiba when
							she married, and go to bed. And one midnight last summer Uncle Buddy
							just happened by accident to wake and hear Mr Hubert drive out of the
							lot and by the time he waked them and they got Miss Sophonsiba up and
							dressed and the team put to the wagon and caught Mr Hubert, it was
							almost daylight. So it was always he and Uncle Buck who went to fetch
							Tomey's Turl because Uncle Buddy never went anywhere, not even to town
							and not even to fetch Tomey's Turl from Mr Hubert's, even though they
							all knew that Uncle Buddy would have risked it ten times as much as
							Uncle Bud&mdash;Buck&mdash;Buck could have dared.
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.6">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:42.56:00',
					'endtime','00:05:50.60:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Now did you want us to go to&mdash;is that enough there, or did you want
						us to go to the fox&mdash;to the poker game&mdash;?</p>
<p><span class="speaker">John Longley, Jr.</span>Yes. I think reading about the poker prowess. And&mdash;let me see if I can
							<span class="unclear tooltip" title="Text was unclear">[find this one now]</span>.  </p>
<p><span class="speaker">William Faulkner</span>Not too long, yes.</p>
<p><span class="speaker">John Longley, Jr.</span>Oh yes, you can read it  If your voice doesn't give out.
						Let's see. You might explain it they're simply been&mdash;trying to catch Tomey's
						Turl. Then you might begin about here where they are going back
							into the bedroom again. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.7">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:56.96:00',
					'endtime','00:07:00.40:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						They ate breakfast fast. Uncle Buck put on his
							necktie while they were running toward the lot to catch the horses. The
							only time he wore the necktie was on Tomey's Turl's account and he
							hadn't even had it out of the drawer since that night last summer when
							Uncle Buddy had waked them in the dark and said, "Get up and out of that
							bed and damn quick." Uncle Buddy didn't own a necktie at all; Uncle Buck
							said Uncle Buddy wouldn't take the chance even in a section like
							theirs, where ladies were so damn seldom thank God that a man could ride
							for days in a straight line without having to dodge a single one. His
							grandmother (she was Uncle Buck's and Uncle Buddy's sister; she had
							raised him following his mother's death. That was where he had got his
							christian name: McCaslin, Carothers McCaslin Edmonds) said that Uncle
							Buck and Uncle Buddy both used the necktie just as another way of daring
							people to say they looked like twins, because even at sixty they would
							still fight anyone who claimed he could tell&mdash;could not tell them apart;
							whereupon his father had answered that any man who ever played poker
							once with Uncle Buddy would never misjudge him again for Uncle Buck or
							anybody else. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.8">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:00.41:00',
					'endtime','00:07:45.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Jonas had the two horses saddled and waiting. Uncle
							Buck didn't mount a horse like he was any sixty years old either, lean
							and active as a cat, with his round, close-cropped white head and his
							hard little gray eyes and his white-stubbled jaw, his foot in the iron
							and the horse already moving, already running at the open gate when
							Uncle Buck came into the seat. He scrabbled up too, onto the shorter
							pony, before Jonas could boost him up, clapping the pony with his heels
							into its own stiff, short-coupled canter, out the gate after Uncle Buck,
							when Uncle Buddy (he hadn't even noticed him) stepped out from the gate
							and caught the bit. "Watch him," Uncle Buddy said. "Watch Theophilus.
							The minute anything begins to look wrong, you ride to hell back here and
							get me. You hear?" "Yes, sir," he said. "Lemme go now. I wont even
							ketch Uncle Buck, let alone Tomey's Turl&mdash;" 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.9">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:45.29:00',
					'endtime','00:08:17.80:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Uncle Buck was riding Black John, because if they
							could just catch sight of Tomey's Turl at least one mile from Mr
							Hubert's gate, Black John would ride him down in two minutes. So when
							they came out on the long flat about three miles from Mr Hubert's, sure
							enough, there was Tomey's Turl on the Jake mule about a mile ahead.
							Uncle Buck flung his arm out and back, reining in, crouched on the big
							horse, his little round head and his gnarled neck thrust forward like a
							cooter's. "Stole away!" he whispered. "You stay back where he wont see
							you and flush. I'll circle him through the woods and we will bay him at
							the creek ford." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.10">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:17.81:00',
					'endtime','00:09:37.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						He waited until Uncle Buck had vanished into the
							woods. Then he went on. But Tomey's Turl saw him. He was closed&mdash;he
							closed in too fast; maybe he was afraid he wouldn't be there in time to
							see him when he treed. It was the best race he had ever seen. He had
							never seen old Jake go that fast, and nobody had ever known Tomey's Turl
							to go faster than his natural walk, even riding a mule. Uncle Buck
							whooped once from the woods, running on sight, then Black John came out
							of the trees, driving, soupled out flat and level as a hawk, with Uncle
							Buck right up&mdash;up behind his ears now and yelling so they looked
							exactly like a big black hawk with a sparrow riding it, across the field
							and over the ditch and across the next field, and he was running too;
							the mare went out before he even knew she was ready, he was yelling
							too. Because, being a nigger, Tomey's Turl should have jumped down and
							run for it afoot as soon as he seen them. But he didn't; maybe Tomey's
							Turl had been running off from Uncle Buck for so long that he had even
							got used to running away like a white man would do it. And it was like
							he and old Jake had added Tomey's Turl's natural walking speed to the
							best that old Jake had ever done in his life, and it was just exactly
							enough to beat Uncle Buck to the ford. Because when he and the pony
							arrived, Uncle&mdash;Black John was blown and lathered and Uncle Buck was
							down, leading him around in a circle slow&mdash;to slow him down, and they
							could already hear Mr Hubert's dinner horn a mile away. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.11">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:37.33:00',
					'endtime','00:10:24.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Only, for a while Tomey's Turl didn't seem to be at
							Mr Hubert's either. The boy was still sitting on the gatepost, blowing
							the horn&mdash;there was no gate there; just two posts and a nigger boy about
							his size sitting on one of them, blowing a fox-horn; this was what Miss
							Sophonsiba was still reminding people was named Warwick even when they
							had already known for a long time that's what she aimed to have it
							called, until they wouldn't call it Warwick she wouldn't even seem to
							know what they were talking about and it would sound as if she and Mr
							Hubert owned two separate plantations covering the same area of ground,
							one on top of the other. Mr Hubert was sitting in the spring-house with
							his boots off and his feet in the water, drinking a toddy. But nobody
							there had seen Tomey's Turl; for a time it looked like Mr Hubert
							couldn't even place who Uncle Buck was talking about. "Oh, that nigger,"
							he said at last. "We'll find him after dinner." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.12">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:24.34:00',
					'endtime','00:10:48.71:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Only it didn't seem as if they were going to eat
							either. Mr Hubert and Uncle Buck had a toddy, then Mr Hubert finally
							sent to tell the boy on the gate post he could quit blowing, and he and
							Uncle Buck and&mdash;had another toddy and Uncle Buck still saying, "I just want
							my nigger. Then we got to get on back home." "After dinner," Mr
							Hubert said. "If we dont start him somewhere around the kitchen, we'll
							put the dogs on him. They'll find him if it's in the power of mortal
							Walker dogs to do it." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.13">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:48.72:00',
					'endtime','00:11:42.05:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						But at last a hand began waving a handkerchief or
							something white through the broken place in an upstairs shutter. They
							went to the house, crossing the back gallery, Mr Hubert warning them
							again, as he always did, to watch out for the rotted floor-board he
							hadn't got around to having fixed yet. Then they stood in the hall,
							until presently there was a jangling and swishing noise and they began
							to smell the perfume, and Miss Sophonsiba came down the stairs. Her hair
							was roached under a lace cap; she had on her Sunday dress and beads and
							a red ribbon around her throat and a little nigger girl carrying her fan
							and he stood quietly a little behind Uncle Buck, watching her lips until
							they opened and he could see the roan tooth. He had never known anyone
							before with a roan tooth and he remembered how one time his grandmother
							and his father were talking about Uncle Buddy and Uncle Buck and his
							grandmother said that Miss Sophonsiba had matured into a fine-looking
							woman once. Maybe she had. He didn't know. He wasn't but nine.
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.14">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:42.03:00',
					'endtime','00:12:52.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Why, Mister Theophilus," she said. "And McCaslin,"
							she said. She had never looked at him and she wasn't talking to him and
							he knew it, although he was prepared to&mdash;to balanced to drag his foot
							when Uncle Buck did. "Welcome to Warwick." He and Uncle Buck
							dragged their foot. "I just come to get my nigger," Uncle Buck said.
							"Then we got to get on back home." Then Miss Sophonsiba said
							something about a bumblebee, but he couldn't remember that. It was too
							fast and there was too much of it, the earrings and beads clashing and
							jingling like little trace chains on a toy mule trotting and the perfume
							stronger too, like the earrings and the beads sprayed it out each time
							they moved and he watched the roan-colored tooth flick and glint between
							her lips; something about Uncle Buck was a bee sipping from flower to
							flower and not staying long anywhere and all that stored sweetness to be
							wasted on Uncle Buddy's desert air, calling Uncle Buddy Mister Amodeus
							like she called Uncle Buck Mister Theophilus, or maybe the honey was
							being stored up against the advent of a queen and who was the lucky
							queen and when? "Ma'am?" Uncle Buck said. Then Mr Hubert said:
							"Hah. A buck bee. I reckon that nigger's going to think he's a buck
							hornet, once he lays hands on him. But I reckon what Buck's thinking
							about sipping right now is some meat gravy and biscuit and a cup of
							coffee. And so am I." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.15">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:52.21:00',
					'endtime','00:13:34.39:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						They went into the dining room and ate and Miss
							Sophonsiba said how seriously now neighbors just a half day's ride apart
							ought not to be so long as Uncle Buck did, and Uncle Buck said Yessum,
							and Miss Sophonsiba said Uncle Buck was just a confirmed roving bachelor
							from the cradle born and this time Uncle Buck even quit chewing and
							looked at her and said, Yes, ma'am, he sure was, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and born too late at it to ever change
							now but at least he could thank God no lady would ever have to suffer
							the misery of living with him and Uncle Buddy, and Miss Sophonsiba said
							ah, then maybe Uncle Buck just aint met the woman yet who would not only
							accept what Uncle Buck was pleased to call misery, but who would make
							Uncle Buck consider even his freedom a small price to pay, and Uncle
							Buck said, "Nome. Not yet." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.16">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:34.30:00',
					'endtime','00:14:31.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then he and Mr. Hubert and Uncle Buck went out on
							the front gallery and sat down. Mr Hubert hadn't even got done taking
							his shoes off again and inviting Uncle Buck to take his off, when Miss
							Sophonsiba came out of the door carrying a tray with another toddy on
							it. "Damnit, Sibbey," Mr Hubert said. "He's just et. He dont want to
							drink now." Miss&mdash;but Miss Sophonsiba didn't seem to hear him at all. She
							stood there, the roan tooth not flicking now but fixed because she
							wasn't talking now, handing the toddy to Uncle Buck until after a while
							she said how her papa always said nothing sweetened a Missippi toddy
							like the hand of a Missippi lady and would Uncle Buck like to see how
							she use to sweeten her papa's toddy for him? So she lifted the toddy and
							took a sip of it and handed it again to Uncle Buck and this time Uncle
							Buck took it. He dragged his foot again and drank the toddy and said if
							Mr Hubert was going to lay down, he would lay down a while too, since
							from the way things looked Tomey's Turl was fixing to give them a long
							hard race unless Mr Hubert's dogs were a considerable better than they
							used to be. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.17">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:31.38:00',
					'endtime','00:15:31.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Mr Hubert and Uncle Buck went into the house. After
							a while he got up too and went around to the back yard to wait for them.
							The first thing he saw was Tomey's Turl's head slipping along behind the
							lane fence. But when he cut across the yard to turn him, Tomey's Turl
							wasn't even running. He was squatting behind a bush, watching the house,
							peering around the bush at the back door and the upstairs windows, not
							whispering exactly but not talking loud either: "Whut they doing
							now?" "They're taking a nap now," he said. "But never mind that;
							they're going to put the dogs on you when they get up." "Hah,"
							Tomey's Turl said. "And nemmind&mdash;nem you mind that neither. I got
							protection now. All I needs to do is to keep Old Buck from ketching me
							unto I gets the word." "What word?" he said. "Word from who? Is Mr
							Hubert going to buy you from Uncle Buck?" "Huh," Tomey's Turl said
							again. "I got more protection than whut Mr Hubert got even." He rose to
							his feet. "I gonter tell you something to remember: anytime you wants to
							git something done, from hoeing out a crop to getting married, just get
							the womenfolks to working at it. Then all you needs to do is set down
							and wait. You member that." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.18">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:31.29:00',
					'endtime','00:16:19.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then Tomey's Turl was gone. And after a while he
							went back to the house. But there wasn't anything but the snoring coming
							out of the room where Uncle Buck and Mr Hubert were, and some more
							light-sounding snoring coming from upstairs. He went to the spring-house
							and sat with his feet in the water as Mr Hubert had been doing, because
							now soon it would be cool enough for a race. And sure enough, after a
							while Mr Hubert and Uncle Buck came out onto the back gallery, with Miss
							Sophonsiba right behind them with the toddy tray only this time Uncle
							Buck drank his before Miss Sophonsiba had time to sweeten it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and Miss Sophonsiba told them to get
							back early, that all Uncle Buck knew of Warwick was just dogs and
							niggers and now that she had him, she wanted to show him her garden that
							Mr Hubert and nobody else had any sayso in. "Yessum," Uncle Buck said.
							"I just want to catch my nigger. Then we got to get on back home."
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.19">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:19.36:00',
					'endtime','00:17:45.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Four or five niggers brought up the three horses.
							They could already hear the dogs waiting still coupled in the lane, and
							they mounted and went on down the lane, toward the quarters, with Uncle
							Buck already out in front of even the dogs. So he never did know just
							when and where they jumped Tomey's Turl, whether he flushed out of one
							of the cabins or not. Uncle Buck was away out in front on Black John and
							they hadn't even cast the dogs yet when Uncle Buck roared, "Gone away! I
							godfrey, he broke cover then!" and Black John's feet clapped four times
							like pistol shots while he was gathering to go out, then he and Uncle
							Buck vanished over the hill like they had been&mdash;like they had run at the
							blank edge of the world itself. Mr Hubert was roaring too: "Gone away!
							Cast them!" and they all piled over the crest of the hill just in time
							to see Tomey's Turl away out across the flat, almost to the woods, and
							the dogs streaking down the hill and out onto the flat. They just
							tongued once and when they came boiling up around Tomey's Turl it looked
							like they were trying to jump up and lick him in the face until even
							Tomey's Turl slowed down and he and the dogs all went into the woods
							together, walking, like they were going home from a rabbit hunt. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And when they caught up with Uncle Buck
							in the woods, there was no Tomey's Turl and no dogs either, just nothing
							but old Jake about a half an hour later, hitched into a clump of bushes with
							Tomey's Turl's coat tied on him for a saddle and near half a bushel of
							Mr Hubert's oats scattered around on the ground that old Jake never even
							had enough appetite left to nuzzle up and spit back out again. It wasn't
							any race at all. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.20">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:45.19:00',
					'endtime','00:18:23.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"We'll get him tonight though," Mr Hubert said.
							"We'll bait for him. We'll throw a picquet of niggers and dogs around
							Tennie's house about midnight, and we'll get him." "Tonight, hell,"
							Uncle Buck said. "Me and Cass and that nigger all three are going to be
							half way home by dark. Aint one of your niggers got a fyce or something
							that will trail them hounds?" "And fool around here in the woods
							for half the night too?" Mr Hubert said. "When I'll bet you five hundred
							dollars that all you've got to do to catch that nigger is to walk up to
							Tennie's cabin after dark and call him?" "Five hundred dollars?"
							Uncle Buck said. "Done! Because me and him neither one aint going to be
							anywhere near Tennie's house by dark. Five hundred dollars!" He and Mr
							Hubert glared at each other. "Done!" Mr Hubert said. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.21">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:23.23:00',
					'endtime','00:19:04.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						So they waited while Mr Hubert sent one of the
							niggers back to the house on old Jake and in about a half an hour the
							nigger came back with a little bob-tailed black fyce and a new bottle of
							whisky. Then he rode up to Uncle Buck and held something out to him
							wrapped in a piece of paper. "What?" Uncle Buck said. "It's for
							you," the nigger said. Then Uncle Buck took it and unwrapped it. It was
							a piece of red ribbon that had been on Miss Sophonsiba's neck and Uncle
							Buck sat there on Black John, holding the ribbon like it was a little
							water moccasin only he wasn't going to let anybody see he was afraid of
							it, batting his eyes fast at the nigger. Then he stopped batting his
							eyes. "What for?" he said. "She just sont hit to you," the
							nigger said. "She say to tell you 'success'." "She said what?"
							Uncle Buck said. "I dont know, sir," the nigger said. "She just say
							success." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.22">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:04.23:00',
					'endtime','00:20:24.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Oh," Uncle Buck said. And the fyce found the
							hounds, They heard them first, from a considerable distance. It was just
							before sundown and they were not trailing&mdash;they were not, they were making the
							noise dogs make when they want to get out of something. They found out what
							that was too. It was a ten-foot-square cotton-house in a field about two
							miles from Mr Hubert's house and all eleven of the dogs were inside it
							and the door wedged with a chunk of wood. They watched the dogs come
							boiling out when the nigger opened the door, Mr Hubert sitting his horse
							and looking at the back of Uncle Buck's neck. "Well, well," Mr
							Hubert said. "That's something, anyway. You can use them again now. They
							dont seem to have no trouble&mdash;no more trouble with your nigger than he
							seems to have with them." "Not enough," Uncle Buck said. "That
							means both of them. I'll stick to the fyce." "All right," Mr Hubert
							said. Then he said, "Hell, 'Filus, come on. Let's go eat supper. I tell
							you, all you got to do to catch that nigger is&mdash;"
							"Five hundred dollars," Uncle Buck said.
							"What?" Mr Hubert said. He and Uncle Buck looked at each other. They
							were not glaring now. They were not joking each other either now. They
							sat there in the beginning of twilight, looking at each other, just
							blinking a little. "What five hundred dollars?" Mr Hubert said. "That
							you wont catch that nigger in Tennie's cabin at midnight tonight?"
							"That me or that nigger neither aint going to be near nobody's house but
							mine at midnight tonight." Now they did glare at each other. "Five
							hundred dollars," Mr Hubert said. "Done." "Done," Uncle Buck
							said. "Done," Mr Hubert said. "Done," Uncle Buck said.
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.23">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:24.38:00',
					'endtime','00:20:53.79:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						So Mr Hubert took the dogs and some of the niggers
							and went back to the house. Then he and Uncle Buck and the nigger with
							the fyce went on, the nigger leading old Jake with one hand and holding
							the fyce's leash (it was a piece of gnawed plowline) with the other. Now
							Uncle Buck let the fyce smell Tomey's Turl's coat; it was like for the
							first time now the fyce found out what they were after and they would
							have let him off the leash and kept up with him on the horses, only
							about that time the nigger boy began blowing the fox-horn for supper at
							the house and they didn't dare risk it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.24">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:53.50:00',
					'endtime','00:21:36.11:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Then it was full dark. And then&mdash;he didn't know how
							much later nor where they were, how far from the house, except that it
							was a good piece and it had been dark for good while and they were still
							going on, with Uncle Buck leaning down&mdash;leaning down from time to time to
							let the fyce have another smell of Tomey's Turl's coat while Uncle Buck
							took another drink from the whisky bottle&mdash;they found that Tomey's Turl
							had doubled and was making a long swing back toward the house. "I
							godfrey, we've got him," Uncle Buck said. "He's going to earth. We'll
							cut back to the house and head him before he can den." So they left the
							nigger to cast the fyce and followed him on old Jake, and he and Uncle
							Buck rode on to Mr Hubert's, stopping on the hills to blow the horses
							and listen to the fyce down in the creek bottom where Tomey's Turl was
							still making his swing. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.25">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:36.12:00',
					'endtime','00:22:41.23:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						But they never caught him. They reached the dark
							quarters; they could see lights still burning in Mr Hubert's house and
							somebody was blowing the fox-horn again and it wasn't any boy and he had
							never heard a fox-horn sound mad before, and he and Uncle Buck scattered
							out on the slope below Tennie's cabin. Then they heard the fyce, not
							trailing now but yapping, about a mile away, then the nigger whooped and
							they held the fyce&mdash;and they knew the fyce had faulted. It was at the
							creek. They hunted the banks both ways for more than an hour, but they
							couldn't straighten Tomey's Turl out. At last even Uncle Buck gave up
							and they started back toward the house, the fyce riding too now, in
							front of the nigger on the mule. They were just coming up the lane to
							the quarters; they could see on&mdash;on along the ridge to where Mr Hubert's
							house was all dark now, when all of a sudden the fyce gave a yelp and
							jumped down from old Jake and hit the ground running and yelling every
							jump, and Uncle Buck was down too and had snatched him off the pony
							almost before he could clear his feet from the irons, and they ran too,
							on past the dark cabins toward the one where the fyce had treed. "We got
							him!" Uncle Buck said. "Run around to the back. Dont holler; just grab
							up a stick and knock on the back door, loud." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.26">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:42.29:00',
					'endtime','00:23:32.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Afterward, Uncle Buck admitted that it was his own
							mistake, that he had forgotten when even a little child should have
							known: not ever to stand right in front of or right behind a nigger when
							you scare him; but always to stand to one side of him. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Uncle Buck forgot that. He was standing
							facing the front door and right in front of it, with the fyce right in
							front of him yelling fire and murder every time it could draw a new
							breath; he said the first he knew was when the fyce gave a shriek and
							whirled and Tomey's Turl was right behind it. Uncle Buck said he never
							saw the door open; that the fyce just screamed once and ran between his
							legs and then Tomey's Turl ran right clean over him. He never even
							bobbled; he knocked Uncle Buck down and then caught him up before he
							fell without even stopping, snatched him up under one arm, still
							running, and carrying him along for about ten feet, saying, "Look out of
							here, old Buck. Look out of here, old Buck," before he threw him away
							and went on. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> By that time they
							couldn't even hear the fyce any more at all. 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.27">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:50.06:00',
					'endtime','00:24:38.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Uncle Buck wasn't hurt; it was only the wind knocked
							out of him where Tomey's Turl had thrown him down on his back. But he
							had been carrying the whisky bottle in his back pocket, saving the last
							drink until Tomey's Turl was captured, and he refused to move until he
							knew for certain it was just whisky and not blood. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So Uncle Buck laid over on his side easy,
							and he knelt behind him and raked the broken glass out of his pocket.
							Then they went on to the house. They walked. The nigger came up with the
							horses, but nobody said anything to Uncle Buck about riding again. They
							couldn't hear the fyce at all now. "He was going fast, all right," Uncle
							Buck said, "But I dont believe that even he will catch that fyce, I
							godfrey, what a night." "We'll catch him tomorrow," he said.
							"Tomorrow, hell," Uncle Buck said. "We'll be at home tomorrow. And the
							first time Hubert Beauchamp or that nigger either one ever sets foot on
							my land, I'm going to have them arrested for trespass and vagrancy."
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.28">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:38.31:00',
					'endtime','00:26:00.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						The house was dark. They could hear Mr Hubert
							snoring good now, as if he had settled down to road-gaiting at it. But
							they couldn't hear anything from upstairs, even when they were inside
							the dark hall, at the foot of the stairs. "Likely her room will be at
							the back," Uncle Buck said. "Where she can holler down to the kitchen
							without having to get up. Besides, an unmarried lady will sholy have her
							door locked with strangers in the house." So Uncle Buck eased himself
							down onto the bottom step, and he knelt and drew Uncle Buck's boots off.
							Then he removed his own and set them against the wall, and he and Uncle
							Buck mounted the stairs, feeling their way up and into the upper hall.
							It was dark too, and still there was no sound anywhere except Mr Hubert
							snoring below, so they felt their way along the hall toward the front of
							the house, until they felt a door. They could hear nothing beyond the
							door, and when Uncle Buck tried the knob, it opened. "All right," Uncle
							Buck whispered. "Be quiet." They could see a little now, enough to see
							the shape of the bed and the mosquito-bar. Uncle Buck threw down his
							suspenders and unbuttoned his trousers and went to the bed and eased
							himself carefully down onto the edge of it, and he knelt again and drew
							Uncle Buck's trousers off and he was just removing his own when Uncle
							Buck lifted the mosquito-bar and raised his feet and rolled into the
							bed. That was when Miss Sophonsiba sat up on the other side of Uncle
							Buck and gave the first scream. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.29">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:04.62:00',
					'endtime','00:27:12.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						When he reached home just before dinner time the
							next day, he was just about worn out. He was too tired to eat, even if
							Uncle Buddy had waited to eat dinner first; he couldn't have stayed on
							the pony another mile without going to sleep. In fact, he must have gone
							to sleep while he was telling Uncle Buddy, because the next thing he
							knew it was late afternoon and he was lying on some hay in the jolting
							wagon-bed, with Uncle Buddy sitting on the seat above him exactly the
							same way he sat a horse or sat in his rocking chair before the kitchen
							hearth while he was cooking, holding the whip exactly as he held the
							<span class="unclear tooltip" title="Text was unclear">[spork or foon]</span> he stirred and tasted with. Uncle Buddy had some cold
							bread and meat and a jug of buttermilk wrapped in a&mdash;in damp towsacks
							waiting when he waked up. He ate, sitting in the wagon in almost the
							last of the afternoon. They must have come fast, because they were not
							more than two miles from Mr Hubert's. Uncle Buddy waited for him to eat.
							Then he said, "Tell me again," and he told it again: how he and Uncle
							Buck finally found a room without anybody in it, and Uncle Buck sitting
							on the side of the bed saying, "O godfrey, Cass. O godfrey, Cass," and
							then they heard Mr Hubert's feet on the stairs and watched the light
							come down the hall and Mr Hubert came in, in his nightshirt, and walked
							over and set the candle on the table and stood looking at Uncle Buck.
						
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.30">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:12.14:00',
					'endtime','00:27:54.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Well, 'Filus," he said. "She's got you at last."
								<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> "It was an accident," Uncle
							Buck said. "I swear to godfrey&mdash;" "Hah," Mr Hubert said. "Dont tell
							me. Tell her that." "I did," Uncle Buck said. "I did tell her. I
							swear to godfrey&mdash;" "Sholy," Mr Hubert said. "And just listen." They
							listened a minute. He had been hearing her all the time. She was nowhere
							near as loud as at first; she was just steady. "Dont you want to go back
							in there and tell her again it was an accident, that you never meant
							nothing and to just excuse you and forget about it? All right."
							"All right what?" Uncle Buck said. "Go back in there and tell her
							again," Mr Hubert said. Uncle Buck looked at Mr Hubert for a minute. He
							batted his eyes fast. "Then what will I come back and tell you?" he
							said. "To me?" Mr Hubert said. "I would call that a horse of
							another color. Wouldn't you?" 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.31">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:54.55:00',
					'endtime','00:28:52.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						Uncle Buck looked at Mr Hubert. He batted his eyes
							fast again. Then he stopped again. "Wait," he said. "Be reasonable. Say
							I did walk into a lady's bedroom, even Miss Sophonsiba's; say, just for
							the sake of the argument, there wasn't no other lady in the world but
							her and so I walked into hers and tried to get in bed with her, would
							I&mdash;would I have took a nine-year-old boy with me?" <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> "Reasonable is just what I'm being,"
							Mr Hubert said. "You come into bear-country of your own free will and
							accord. All right; you were a grown man and you knew it was bear-country
							and you knew the way back out like you knew the way in and you had your
							chance to take it. But no. You had to crawl into the den and lay down by
							the bear. And whether you did or didn't know the bear was in it dont
							make any difference. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So if you got
							back out of that den without even a claw-mark on you, I would not only
							be unreasonable, I'd be a damned fool. After all, I'd like a little
							peace and quiet and freedom myself, now I got a chance for it. Yes, sir.
							She's got you, 'Filus, and you know it. You run a hard race and you run
							a good one, but you skun the hen-house one time too many." 
					</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio12_1.32">
			Play section
	    	<script type="text/javascript" defer>
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio12_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:52.69:00',
					'endtime','00:29:22.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>
						"Yes," Uncle Buck said. He drew his breath in and
							let it out again, slow and not loud. But you could hear it. "Well," he
							said. "So I reckon I'll have to take the chance then." "You already
							took it," Mr Hubert said. "You did that when you came back here." Then he
							stopped too. Then he batted his eyes, but only about six times. Then he
							stopped and looked at Uncle Buck for more than a minute. "What chance?"
							he said. "That five hundred dollars," Uncle Buck said. "What
							five hundred dollars?" Mr Hubert said. He and Uncle Buck looked at each
							other. Now it was Mr&mdash;Mr Hubert that batted his eyes again and then
							stopped&mdash;
						<span class="event tooltip" title="There was some end of recording happening">[end of recording]</span>

					</p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio12_1.1" class="hidden">Introduction</a></li>
<li><a href="#wfaudio12_1.2" class="hidden">Inaudible</a></li>
<li><a href="#wfaudio12_1.3" class="hidden">Story, Excerpt 1</a></li>
<li><a href="#wfaudio12_1.4" class="hidden">Story, Excerpt 2</a></li>
<li><a href="#wfaudio12_1.5" class="hidden">Story, Excerpt 3</a></li>
<li><a href="#wfaudio12_1.6" class="hidden">Break</a></li>
<li><a href="#wfaudio12_1.7" class="hidden">Story, Excerpt 4</a></li>
<li><a href="#wfaudio12_1.8" class="hidden">Story, Excerpt 5</a></li>
<li><a href="#wfaudio12_1.9" class="hidden">Story, Excerpt 6</a></li>
<li><a href="#wfaudio12_1.10" class="hidden">Story, Excerpt 7</a></li>
<li><a href="#wfaudio12_1.11" class="hidden">Story, Excerpt 8</a></li>
<li><a href="#wfaudio12_1.12" class="hidden">Story, Excerpt 9</a></li>
<li><a href="#wfaudio12_1.13" class="hidden">Story, Excerpt 10</a></li>
<li><a href="#wfaudio12_1.14" class="hidden">Story, Excerpt 11</a></li>
<li><a href="#wfaudio12_1.15" class="hidden">Story, Excerpt 12</a></li>
<li><a href="#wfaudio12_1.16" class="hidden">Story, Excerpt 13</a></li>
<li><a href="#wfaudio12_1.17" class="hidden">Story, Excerpt 14</a></li>
<li><a href="#wfaudio12_1.18" class="hidden">Story, Excerpt 15</a></li>
<li><a href="#wfaudio12_1.19" class="hidden">Story, Excerpt 16</a></li>
<li><a href="#wfaudio12_1.20" class="hidden">Story, Excerpt 17</a></li>
<li><a href="#wfaudio12_1.21" class="hidden">Story, Excerpt 18</a></li>
<li><a href="#wfaudio12_1.22" class="hidden">Story, Excerpt 19</a></li>
<li><a href="#wfaudio12_1.23" class="hidden">Story, Excerpt 20</a></li>
<li><a href="#wfaudio12_1.24" class="hidden">Story, Excerpt 21</a></li>
<li><a href="#wfaudio12_1.25" class="hidden">Story, Excerpt 22</a></li>
<li><a href="#wfaudio12_1.26" class="hidden">Story, Excerpt 23</a></li>
<li><a href="#wfaudio12_1.27" class="hidden">Story, Excerpt 24</a></li>
<li><a href="#wfaudio12_1.28" class="hidden">Story, Excerpt 25</a></li>
<li><a href="#wfaudio12_1.29" class="hidden">Story, Excerpt 26</a></li>
<li><a href="#wfaudio12_1.30" class="hidden">Story, Excerpt 27</a></li>
<li><a href="#wfaudio12_1.31" class="hidden">Story, Excerpt 30</a></li>
<li><a href="#wfaudio12_1.32" class="hidden">Story, Excerpt 31</a></li>
</ul></aside>
		
