<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio26_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio26_1.2">David and Boon Hogganbeck</a>
    </li>
    <li>
      <a href="#wfaudio26_1.3">Winesburg, Ohio</a>
    </li>
    <li>
      <a href="#wfaudio26_1.4">Cowley's Interpretation</a>
    </li>
    <li>
      <a href="#wfaudio26_1.5">Darl Bundren</a>
    </li>
    <li>
      <a href="#wfaudio26_1.6">Beat Prose Writers</a>
    </li>
    <li>
      <a href="#wfaudio26_1.7">Human Dilemma</a>
    </li>
    <li>
      <a href="#wfaudio26_1.8">Jason Compson</a>
    </li>
    <li>
      <a href="#wfaudio26_1.9">Obsession with Time</a>
    </li>
    <li>
      <a href="#wfaudio26_1.10">Indians in "Lo!"</a>
    </li>
    <li>
      <a href="#wfaudio26_1.11">Weddell</a>
    </li>
    <li>
      <a href="#wfaudio26_1.12">Girl Quentin's Father</a>
    </li>
    <li>
      <a href="#wfaudio26_1.13">Quentin and Jason</a>
    </li>
    <li>
      <a href="#wfaudio26_1.14">Benjy's Name</a>
    </li>
    <li>
      <a href="#wfaudio26_1.15">Benjy's Deafness</a>
    </li>
    <li>
      <a href="#wfaudio26_1.16">T.P.'s Name</a>
    </li>
    <li>
      <a href="#wfaudio26_1.17">Addie's Children</a>
    </li>
    <li>
      <a href="#wfaudio26_1.18">Names of Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio26_1.19">Benjy in Church</a>
    </li>
    <li>
      <a href="#wfaudio26_1.20">The Beginning and the End</a>
    </li>
    <li>
      <a href="#wfaudio26_1.21">Vardaman's Fish</a>
    </li>
    <li>
      <a href="#wfaudio26_1.22">Sound and Fury Dust Jacket</a>
    </li>
    <li>
      <a href="#wfaudio26_1.23">Sound and Fury Title</a>
    </li>
    <li>
      <a href="#wfaudio26_1.24">Quentin and Time</a>
    </li>
    <li>
      <a href="#wfaudio26_1.25">Gerald Bland</a>
    </li>
    <li>
      <a href="#wfaudio26_1.26">Quentin and Father [part 1]</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio26_1.1"/>
  <p>Ladies and gentlemen, Mr. Faulkner is generously with us once again. On
                    two levels, one that came up last week when a young Polish visitor to the United
                    States came up to the fifth floor of Cabell Hall with a translation, a Polish
                    translation, of Mr. Faulkner's The Wild Palms. I suppose
                    it has some&#x2014;emphasizes&#x2014;or it was published because of the
                    theme of the difficulty of love in a capitalist society, but it shows
                    the&#x2014;once again, the extent of Mr. Faulkner's current influence. On the
                    other hand, a colleague, Mr. Blotner, as a matter of fact,
                    reports that at the&#x2014;during the comprehensives last week, an English
                    major&#x2014;one boy identified the novel The Town as
                    simply "novel, twentieth century, by our own Mr. William Faulkner." So we run
                    between these two extremes of local pride and international pride. And I think
                    that may set the tone for the kind of questions we are allowed to ask Mr.
                    Faulkner, i.e. anything. Mr. Faulkner.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.2"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio26_1.3"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.4"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.7"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.8"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.11"/>
  <p>Well, Mr. Faulkner could you tell me when Weddell takes his Chickasaws to
                    Washington, takes his nephews and besieges the president, whether this is just
                    the action of a naive savage or whether he, all the time, is planning on getting
                    the best of the President?</p>
</div>
<div class="section">
  <a name="wfaudio26_1.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.13"/>
  <p>And the second one, how do you think Quentin have turned out if
                        Jason wouldn't have been hounding her the all the time? Would she have
                        turned out well or ?</p>
</div>
<div class="section">
  <a name="wfaudio26_1.14"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.15"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.16"/>
  <p>Does the name T.P. stand for anything in
                    particular?</p>
</div>
<div class="section">
  <a name="wfaudio26_1.17"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio26_1.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.20"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.21"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.22"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.23"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.24"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.25"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_1.26"/>
  <p> Yes, sir.</p>
</div>
