<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio26_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio26_1_2.1"/>
  <p> Yes, sir.</p>
</div>
