<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio18_2.1">Brown v Board of Education</a>
    </li>
    <li>
      <a href="#wfaudio18_2.2">Writing for Readers</a>
    </li>
    <li>
      <a href="#wfaudio18_2.3">Exaggeration</a>
    </li>
    <li>
      <a href="#wfaudio18_2.4">Struggles v Progress</a>
    </li>
    <li>
      <a href="#wfaudio18_2.5">The Unexpected</a>
    </li>
    <li>
      <a href="#wfaudio18_2.6">New Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.7">Writing v Reporting</a>
    </li>
    <li>
      <a href="#wfaudio18_2.8">Writer v His Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.9">Start as a Writer</a>
    </li>
    <li>
      <a href="#wfaudio18_2.10">Characters as Mouthpieces</a>
    </li>
    <li>
      <a href="#wfaudio18_2.11">The Writer's Demon</a>
    </li>
    <li>
      <a href="#wfaudio18_2.12">Choosing Titles</a>
    </li>
    <li>
      <a href="#wfaudio18_2.13">The Nun in Requiem</a>
    </li>
    <li>
      <a href="#wfaudio18_2.14">Sound and Fury's Title</a>
    </li>
    <li>
      <a href="#wfaudio18_2.15">Being Understood</a>
    </li>
    <li>
      <a href="#wfaudio18_2.16">Universal v Regional</a>
    </li>
    <li>
      <a href="#wfaudio18_2.17">Writer as Creator</a>
    </li>
    <li>
      <a href="#wfaudio18_2.18">Cutting Out</a>
    </li>
    <li>
      <a href="#wfaudio18_2.19">Compsons v Snopeses</a>
    </li>
    <li>
      <a href="#wfaudio18_2.20">As I Lay Dying</a>
    </li>
    <li>
      <a href="#wfaudio18_2.21">Dante</a>
    </li>
    <li>
      <a href="#wfaudio18_2.22">Learning Grammar</a>
    </li>
    <li>
      <a href="#wfaudio18_2.23">Living Characters</a>
    </li>
    <li>
      <a href="#wfaudio18_2.24">Formal Education</a>
    </li>
    <li>
      <a href="#wfaudio18_2.25">Sutpen's Aspiration</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio18_2.1"/>
  <p> change the Negro's condition, that the Negro's condition was
                    gradually being changed by the&#x2014;by the white man. He was being given
                    more and more of liberty, more and more of equality. That Supreme Court decision,
                        in Mississippi anyway, has&#x2014;has set things back, for the reason you say, that you
                    cannot legislate against&#x2014;against the mores and against a social
                    condition. You can only state that the social condition is bad and must be
                        changed, but you can't change it overnight by passing laws.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.2"/>
  <p>Mr. Faulkner.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.3"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio18_2.4"/>
  <p>Mr. Faulkner.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.5"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.7"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.8"/>
  <p>Sir, in your writings, do you have a particular character or
                        situation or do you find that you like to have a specific character do a 
                        certain thing so that certain characteristics  ring true?  Or do you have that situation
                        come up a lot? I mean, in that you liked the sound of the bell, you like to
                        hear it, you like to put it down on paper regardless of the characters?</p>
</div>
<div class="section">
  <a name="wfaudio18_2.9"/>
  <p>Yes, ma'am.  I believe you had a question.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.10"/>
  <p>Yes,
                    sir.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.11"/>
  <p>Mr. Faulkner?</p>
</div>
<div class="section">
  <a name="wfaudio18_2.12"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.14"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.15"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio18_2.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.17"/>
  <p>To what degree  the characters ? </p>
</div>
<div class="section">
  <a name="wfaudio18_2.18"/>
  <p>Mr. Faulkner, do you ever have a character that you are so
                        enthused with and had to in a word cut him out?</p>
</div>
<div class="section">
  <a name="wfaudio18_2.19"/>
  <p>Yes,  ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.20"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.21"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio18_2.22"/>
  <p>You said you only liked to scribble, did you like to parse
                        sentences </p>
</div>
<div class="section">
  <a name="wfaudio18_2.23"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio18_2.24"/>
  <p>Mr. Faulkner, because of your interrupted education, it makes me wonder
                        if formal education 
                </p>
</div>
<div class="section">
  <a name="wfaudio18_2.25"/>
  <p>Sir, you mentioned love and money and death as the three subjects of
                    fiction. Isn't there something else, above that, such as represented in your
                    novel about Thomas Sutpen. He was motivated by something other than those three
                    things, involved in something higher than they?</p>
</div>
