<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio26_2.1">Quentin and Father [part 2]</a>
    </li>
    <li>
      <a href="#wfaudio26_2.2">The Name Candace</a>
    </li>
    <li>
      <a href="#wfaudio26_2.3">Caddy's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.4">Jason's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.5">Luster's Character</a>
    </li>
    <li>
      <a href="#wfaudio26_2.6">Little Italian Girl</a>
    </li>
    <li>
      <a href="#wfaudio26_2.7">Quentin's Death</a>
    </li>
    <li>
      <a href="#wfaudio26_2.8">Psychological Critics</a>
    </li>
    <li>
      <a href="#wfaudio26_2.9">Darl Bundren</a>
    </li>
    <li>
      <a href="#wfaudio26_2.10">Successful Characters</a>
    </li>
    <li>
      <a href="#wfaudio26_2.11">Chickasaw Indians</a>
    </li>
    <li>
      <a href="#wfaudio26_2.12">Enduring</a>
    </li>
    <li>
      <a href="#wfaudio26_2.13">Macbeth and Compsons</a>
    </li>
    <li>
      <a href="#wfaudio26_2.14">Title and Benjy</a>
    </li>
    <li>
      <a href="#wfaudio26_2.15">Indian Stories</a>
    </li>
    <li>
      <a href="#wfaudio26_2.16">Heredity v Environment</a>
    </li>
    <li>
      <a href="#wfaudio26_2.17">Bayard's Heredity</a>
    </li>
    <li>
      <a href="#wfaudio26_2.18">"Delta Autumn"</a>
    </li>
    <li>
      <a href="#wfaudio26_2.19">Mississippi and Doom</a>
    </li>
    <li>
      <a href="#wfaudio26_2.20">Close</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio26_2.1"/>
  <p> I live with. No, they were imaginary. He just said, "Suppose I
                    say this to my father, would it help me? Would it clarify? Would I see clearer
                    what it is that I anguish over?"</p>
</div>
<div class="section">
  <a name="wfaudio26_2.2"/>
  <p>Is Candace a common name in Mississippi or&#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio26_2.3"/>
  <p>Mr. Faulkner&#x2014;</p>
</div>
<div class="section">
  <a name="wfaudio26_2.4"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.5"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.6"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.7"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.8"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.9"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.10"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.11"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.12"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.13"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.14"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.15"/>
  <p>Sorry.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.16"/>
  <p>Yes, ma'am.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.17"/>
  <p> Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.18"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.19"/>
  <p>Yes, sir.</p>
</div>
<div class="section">
  <a name="wfaudio26_2.20"/>
  <p>Mr. Faulkner, we're forced to accept now and tomorrow and thank you very
                    much.</p>
</div>
