
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio29_1.mp4");
				
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 8 May 1958</h4>
<h4>OCCASION: Introductory Class in Types of Literature, Graduate Class in
                    American Literature</h4>
<h4>TAPE: T-144c</h4>
<h4>LENGTH: 32:49</h4></hgroup><div class="audio play-all" id="event1">
        				Play entire recording
        			</div></header><div id="transcript-body">
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.1">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:22.51:00',
					'endtime','00:03:00.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Moderator</span>I think I'll take the moderator's <span class="unclear tooltip" title="Text was unclear">[privilege and ask the
                        first question,]</span> if I may. I'd like to know a little bit about the
                    circumstances of the composition of "The Bear." Can you remember when it was
                    that you first thought of it and put it down ?</p>
<p><span class="speaker">William Faulkner</span>I couldn't&mdash;couldn't say. That story is probably a summation
                    of&mdash;of my whole experience from the first time I was big enough to go
                    into the woods where bears were with a gun until I became a man.
                    Probably&mdash;that story may be autobiographical, in the sense that it was
                    that little boy's confrontation with something big and important, for he himself
                    to find how he would meet it, to&mdash;as Hemingway says, "to meet it with
                    grace." What I mean is, probably I was composing that story from the first
                    moment I went into the&mdash;what we call the big woods and&mdash;and realized
                    what it was. There would be bigger animals, wilder animals than the rabbits and
                    possums and things that I had experience with when I was not big enough yet to
                    carry a gun into the woods.</p>
<p><span class="speaker">Unidentified participant</span>You really began composing it when you were Isaac's age?</p>
<p><span class="speaker">William Faulkner</span>I think so, yes, or remembered it, and then when I had acquired some
                    skill in the craft of writing, to write my own biography against something
                    which was a&mdash;a fine pleasure to me, a worthwhile pursuit, which is
                    probably a part of any boy's life, any American boy, unless he has&mdash;was
                    bred and lived all his life in the city. I imagine there are not many of you here
                    who haven't hunted. When you first have a gun, rabbits, possums, and then you
                    got big enough to hunt bigger game than that.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.2">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:09.20:00',
					'endtime','00:03:47.92:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Have you]</span> written anything else about Boon Hogganbeck,
                    after "The Bear"?</p>
<p><span class="speaker">William Faulkner</span>He is one of my favorite people that I consider myself the owner and
                    proprietor of <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>. I think I have used him
                    occasionally at need. I don't recall now specifically what stories or books, but
                    I&mdash;I believe I have used him. But he hasn't been the central character
                    in a&mdash;a story, like he was there, or one of the central
                        characters.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.3">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:51.67:00',
					'endtime','00:06:14.26:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, since you put such meaning into the hunt, could you tell us
                    just why you hunted when you were a young boy or&mdash;or what meaning the
                    hunt has to you?</p>
<p><span class="speaker">William Faulkner</span>The hunt was simply a&mdash;a symbol of pursuit. Most
                    of&mdash;of anyone's life is a pursuit of something. That is, the only
                    alternative to life is immobility, which is death. This was a&mdash;a
                    symbolization of the pursuit which is a normal part of&mdash;of anyone's
                    life while he stays alive, told in terms which were familiar to me
                    and&mdash;and dramatic to me. The protagonist could have been anything else
                    beside that bear. I simply told a story which was a&mdash;a natural, normal
                    part of anyone's life in a familiar and, to me, interesting terms, without any
                    deliberate intent to put symbolism in it. I was simply telling something which
                    was, in this case, the child, the&mdash;the need, the compulsion of the
                    child to adjust to the adult world. It's how he does it, how he survives it,
                    whether he is destroyed by trying to adjust to the adult world or whether,
                    despite his small size, he does adjust within his capacity. And always to learn
                    something, to learn something of&mdash;not only to pursue but
                    to&mdash;to overtake and then to have the compassion not to
                    destroy. To&mdash;to catch, to touch, and then let go
                    because then tomorrow you can pursue again. If you destroy what you caught, then
                    it's gone. It's finished. And that, to me, is&mdash;is sometimes the greater
                    part of valor, but always it's the greater part of pleasure, not to destroy what
                    you have pursued. The pursuit is the&mdash;is the thing, not the reward, not
                    the&mdash;the gain.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.4">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:18.81:00',
					'endtime','00:07:23.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes ma'am.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Sir, you explained to us]</span> that Ike&mdash;the story
                    of Ike in "The Bear" is, in a manner of speaking,
                    autobiographical. Does Ike's <span class="unclear tooltip" title="Text was unclear">[theory of a curse on the land in any way
                        reflect your feeling of a curse on the land]</span>?</p>
<p><span class="speaker">William Faulkner</span>No&mdash;well, if&mdash;if it&mdash;if it should, it would
                    not be, maybe, as strong as Ike's. I think that any author
                    should&mdash;should put on the&mdash;a full page in his book that he is
                    not responsible for the ideas expressed by any of his characters, their ideas or
                    political convictions or&mdash;or religious beliefs.  I&mdash;I think that Ike probably carried
                    that a little further than&mdash;than I might have because it was necessary
                    for my story that he should.  That he was a&mdash;he was a poet, in his way,
                    an idealist, which I probably am not or, anyway, not as good a one as
                        Ike.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.5">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:26.95:00',
					'endtime','00:09:15.57:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, <span class="unclear tooltip" title="Text was unclear">[a central theme of]</span>
                    <em>Absalom, Absalom!</em>
                    <span class="unclear tooltip" title="Text was unclear">[is that Sutpen]</span> will not or cannot acknowledge Charles Bon as
                    his son. Why does he not do this, why&mdash;why&mdash;why does he leave
                    it to Henry? It&mdash;it seemed to me it would have been more in keeping
                    with Sutpen's character <span class="unclear tooltip" title="Text was unclear">[to]</span>  <span class="unclear tooltip" title="Text was unclear">[confession of it to Bon or]</span>  <span class="unclear tooltip" title="Text was unclear">[to destroy
                        Bon so that he&mdash;]</span>&mdash;</p>
<p><span class="speaker">William Faulkner</span>Well, he didn't acknowledge Bon for the reason that&mdash;that Bon
                    was part Negro. To have acknowledged Bon as his son would have destroyed the
                    very dream, the drive, which had compelled him to go through hardship
                    and&mdash;and suffering to begin with. He couldn't acknowledge Bon as his
                    son.</p>
<p><span class="speaker">Unidentified participant</span>Did he acknowledge Clytemnestra as his daughter?</p>
<p><span class="speaker">William Faulkner</span>No. Well, that would not have mattered because Clytemnestra was a
                    female. The important thing to him was he should establish a line of dukes, you
                    see. He was going to create a dukedom. He'd have to have a male descendent. He
                    would have to establish a dukedom, which would be his revenge on the white
                    Virginian who told him to go to the back door. And so
                    he&mdash;he&mdash;to have a Negro&mdash;half-Negro for his son
                    would have wrecked the whole dream, so he couldn't. If he had thought
                    that&mdash;that it would ever be exposed that Bon was his son, he may have
                    killed Bon himself. If it'd ever come to that point, he would destroy Bon, just
                    as he would destroy any other individual that got in his way.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.6">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:19.52:00',
					'endtime','00:11:29.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir, you said that you, as the author, are not responsible for what your
                    character is saying. How about the language that they use? I noticed that some
                        of the dialogue in "The Bear" was a little bit above <span class="unclear tooltip" title="Text was unclear">[the level of]</span> the average
                    southerner, speaking as someone who has  <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>. Did
                    you mean that to be realistic or is that just ?</p>
<p><span class="speaker">William Faulkner</span>I think that's a license that the writer should be permitted. He
                    is&mdash;is trying to&mdash;to take an instant in man's struggle within
                    the&mdash;the human dilemma and isolate it in some dramatic form, and he
                    hasn't got the time to do it that&mdash;that living people
                    would&mdash;would have. They would have days and weeks to tell this story,
                    but he has got to tell it in thirty minutes or two or three hours or, at most,
                    two days. He has got to emphasize, over-emphasize at times. He's got to
                    under-emphasize at others.  So that is his&mdash;the privilege of his craft
                    to&mdash;to put a sort of poetry into the mouths of people that in&mdash;<span class="unclear tooltip" title="Text was unclear">[you're 
                        right]</span>&mdash;would be incapable of speaking poetry. He sticks just enough to the natural
                        and to dialect to make what they say believable, even
                    though you say, "Well, he couldn't have expressed this idea in this way." You
                    say, "Well, anyway, he would have expressed it in <span class="unclear tooltip" title="Text was unclear">[this]</span>
                    language." That's one of the&mdash;the privileges that you must give the
                    writer, that he is sticking to the fundamental truth, but he can distort fact
                    just a little if&mdash;in order to&mdash;to get his story told in a
                    moving, dramatic way.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.7">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:30.69:00',
					'endtime','00:12:57.57:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Sir, how did you happen to choose Old Ben ?</p>
<p><span class="speaker">William Faulkner</span>He was the&mdash;the biggest untamed creature in the woods at that
                    time. The&mdash;the other&mdash;the Indian was gone,
                    the&mdash;the&mdash;the buffalo, the&mdash;the other big, wild
                    creatures had been eliminated by that time. Only the bear remained. He was the
                    biggest wild thing to be a protagonist in the&mdash;the story of this little
                    boy's adjustment to the adult world.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Then&mdash;so I think that maybe]</span> Old Ben was a
                    non-fictional character then?</p>
<p><span class="speaker">William Faulkner</span>No, there's no writer ever will be satisfied to take any character from
                    real life, put him in the book, because he's convinced he can do a much better
                    at that than God can. He's going to improve and warp and distort no matter how
                    much he concentrates on trying to tell&mdash;stick to facts. A writer simply
                    couldn't stick to facts. The truth really is not in him. That's why they call it
                    fiction. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.8">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:57.58:00',
					'endtime','00:15:42.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes ma'am.</p>
<p><span class="speaker">Unidentified participant</span>I'd like to go back to Charles Bon in <em>Absalom,
                        Absalom!</em> I have the impression that <span class="unclear tooltip" title="Text was unclear">[up until]</span> very
                    near the end of the book that he did not realize <span class="unclear tooltip" title="Text was unclear">[that he was Sutpem's son]</span>. Because he's several times
                        mentioned wondering what the secret was that his mother
                        kept and worried about. And yet about twenty or
                            thirty pages from the end of the book he says to Henry that "It's the  
                    miscegenation and not the incest that <span class="unclear tooltip" title="Text was unclear">[you fear]</span> in my marriage to Judith."
                    So at what point
                    did&mdash;did he find this out and how did he find out?</p>
<p><span class="speaker">William Faulkner</span>I think that Bon knew all the time that&mdash;that his mother was
                    part Negress, but during Bon's childhood that was not important. He grew up
                    in&mdash;in the Indies and New Orleans where that wasn't too important. His
                    mother was a wealthy woman. She could have called herself a Creole, whether she
                    had Negro blood along with the French or not. It became important only when Bon
                    realized that it was important to his father. I think that Bon got into that
                    business&mdash;well, of course, because he formed a friendship with Henry
                    and felt that he&mdash;that Henry, the&mdash;the ignorant country boy
                    had given him a sort of worship, an admiration and a worship,
                    which&mdash;which he enjoyed. Then when he saw the sort of stiff-necked man
                    that Henry's father was and knew that that was his father too, he, in a way, had
                    given his father a chance to say, "I will acknowledge you, but if
                    you&mdash;if I do  <span class="unclear tooltip" title="Text was unclear">[here]</span>  you will wreck what I have devoted my life to and
                    so take my love and go," I think Bon would have done, but this old man was
                    afraid to do that. And Bon tempted him, to hold him over the coals in
                    partly&mdash;in revenge on his treatment of his&mdash;Bon's mother,
                    until Bon got involved too deeply. No, Bon knew that he was a Negro, but until
                    he found it was important to Sutpen, that wasn't important to him, that he was
                    a&mdash;a gentleman, had been well bred, cultured, much better bred and
                    cultured than Henry himself was.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.9">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:44.85:00',
					'endtime','00:16:04.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Did Bon love Judith <span class="unclear tooltip" title="Text was unclear">[or was he just using her]</span> ?</p>
<p><span class="speaker">William Faulkner</span>I think he loved her. I think that he loved her. He knew
                    that&mdash;that if she knew that he was part Negro, with her training and
                    background, it would have destroyed her too.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.10">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:16.45:00',
					'endtime','00:17:37.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Returning to "The Bear," Mr. Faulkner, why did you
                    put Part Five after Part Four?</p>
<p><span class="speaker">William Faulkner</span>That story was part of a novel. It was&mdash;the&mdash;the
                    pursuit of the bear was simply, what you might call, a&mdash;a&mdash;a
                    dangling clause in the description of that man when he was a young boy. When it
                    was taken from the book and printed as a short story, the publisher, who is very
                    considerate, has a great respect for&mdash;for all work and for mine in
                    particular, he would not have altered one word of that without asking me. And he
                    didn't ask me. If he had&mdash;had told me he was going to print it
                    separately, I would have said, "Take this out. This doesn't belong in this <span class="unclear tooltip" title="Text was unclear">[as]</span>
                     a short story. It's part of the novel, but not a part of the story." But
                    rather than to go ahead and do that without asking me&mdash;I&mdash;I
                    wasn't available at that time&mdash;he printed it as it was. It&mdash;it
                    doesn't belong in there <span class="unclear tooltip" title="Text was unclear">[as]</span> a short story. The way to read
                    that is to skip that when you come to it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.11">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:39.60:00',
					'endtime','00:19:29.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In <em>Absalom, Absalom!</em> is any one of the people who
                    talks about Sutpen have the right view, or is it more or less a case of thirteen
                    ways of looking at a blackbird with none of them <span class="unclear tooltip" title="Text was unclear">[getting it]</span>
                    right?</p>
<p><span class="speaker">William Faulkner</span>That's it exactly. I think that&mdash;that no one individual
                    can&mdash;can look at truth. It&mdash;it&mdash;it blinds you. You
                    look at it, and&mdash;and you&mdash;you see one phase of it. Someone
                    else looks at it and sees a slightly awry phase of it, but taken all together,
                    the truth is&mdash;is in what they saw, though nobody saw the truth intact.
                    So&mdash;so these are&mdash;are true as far as&mdash;as Miss Rosa
                    and as Quentin saw it. Quentin's father saw what&mdash;what he believed was
                    truth. That was all he saw. But the old man was&mdash;was himself a little
                    too big for&mdash;for people no greater in stature than Quentin and Miss
                    Rosa and Mr. Compson to see all at once. It would've taken, probably, a wiser or
                    more tolerant or more sensitive or more thoughtful person to see him as he was.
                    It was, as you say, thirteen ways looking at a blackbird. But the truth, I would
                    like to think, comes out, that when the reader has read all these thirteen
                    different ways of looking at the blackbird, the reader has his own fourteenth
                    image of that blackbird, which I would like to think is the true one.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.12">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:31.19:00',
					'endtime','00:20:52.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Coldfield, in <em>Absalom, Absalom!</em>, retreats into
                    the attic when the war between the states starts. Now, why did he do that? Was
                    it because he was sort of a conscientious objector, or was he all or part
                    coward?</p>
<p><span class="speaker">William Faulkner</span>No, he&mdash;he was probably by religious scruples a conscientious
                    objector. Also, he was very likely a Unionist, that he hated that threat to the
                    dissolution of the Union.  That he hadn't enough courage to do anything about it
                    except to hide his head in the sand. But I&mdash;I think that he was
                    probably a Unionist. He probably came from&mdash;from eastern Tennessee,
                    where the people were Unionists at that time. His background was a&mdash;a
                    tradition of&mdash;of fidelity to the United States, as it was. He had no
                    agrarian tradition behind him in which slavery was&mdash;was an important
                    part of it.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.13">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:20:57.11:00',
					'endtime','00:21:48.06:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Was Mr. Coldfield an honest man or was he ?</p>
<p><span class="speaker">William Faulkner</span>He was probably honest in a&mdash;a timorous sort of way. He was a
                    man probably without a great deal of courage. He was honest simply because
                    that wasn't very risky. That he was cold, and I imagine, selfish,
                    but&mdash;but in his&mdash;his dealings behind the counter of his store,
                    he was probably honest because that was less trouble and less risk. He was not
                    rapacious. He had no driving desire to amass a lot of money.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.14">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:53.20:00',
					'endtime','00:22:22.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, why does  <span class="unclear tooltip" title="Text was unclear">[stop the railroad]</span> ?</p>
<p><span class="speaker">William Faulkner</span>The bear would have stayed up the tree and starved until the train
                    stopped running and it got quiet. Then he would come down again. But he would
                    stay up the tree, and then when he decided things were quiet and would start
                    down, another train would pass. He would go back up the tree and stay there
                    until he starved. That was the reason.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.15">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:25.39:00',
					'endtime','00:23:01.59:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Sir&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Are there any <span class="unclear tooltip" title="Text was unclear">[real life]</span> Sam Fathers left?</p>
<p><span class="speaker">William Faulkner</span>Well, in the sense that too much time has passed, there could be nobody
                    half Negro slave and half an Indian chief. He might be one-eighth an Indian
                    chief by now, but he couldn't have been the son of an Indian chief and a Negro
                    slave anymore. And so he would be changed, warped, softened a little by
                    a&mdash;a different  environment than Sam Fathers grew up
                        in.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.16">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:03.31:00',
					'endtime','00:24:07.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>In the creation of "The Bear," were you in any way influenced by
                    Melville?</p>
<p><span class="speaker">William Faulkner</span>A writer, I have said several times this year and last year too, is
                    influenced by everything he ever reads. He&mdash;he himself doesn't bother.
                    He knows&mdash;he doesn't think it important enough to say, "I was
                    influenced at this moment by so and so." He is omnivorous, voracious, and
                    completely amoral. He is influenced by everything he ever reads. He will rob and
                    steal, right and left, with complete impunity, because he's not only perfectly
                    willing, but he's flattered when people after him rob and steal from him, that
                    if it's good enough for another writer to steal from him, it must have been
                    pretty good. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> So, if anything, he's flattered.
                    I'm sure I was influenced by Melville, influenced by Flaubert, by the Old
                    Testament, by everything that I ever read in the days when I read voraciously
                    with no judgment.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.17">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:10.27:00',
					'endtime','00:25:04.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>How did you happen to start using this particular means of communication,
                    your style? <span class="unclear tooltip" title="Text was unclear">[How did you hit on this]</span> ?</p>
<p><span class="speaker">William Faulkner</span>That just happened so. I&mdash;my opinion is that the book creates
                    its own style. The writer is too busy to bother with style. He's too busy to
                    bother with grammar, or even standard punctuation. Get it down, and somebody in the
                    publishing office will correct it for you. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> The
                    main thing is&mdash;is to get it down, and the exigencies 
                    of the story, the people in it, compel and create the style. That if you begin
                    to write style then that implies that you ain't got very much to put in it, and
                    so you begin to write prose and rhetoric, which is all right and pleasant enough,
                    but it's hardly worth anybody's trouble to read. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.18">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:08.73:00',
					'endtime','00:25:47.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in <em>Sartoris</em>, did you make
                        Simon, the Negro house man, a tricky or comic character, or did something
                        corrupt him to make him ?</p>
<p><span class="speaker">William Faulkner</span>That was just what the white folks saw in him because his training,
                    his&mdash;his environment, had taught him that that's what the white folks
                    look to see in Negroes, and Negroes got along better if they act like
                    black-faced comedians when white people were looking at them. That's one of the
                    Negro's tragedies. No, that was just Simon's Sunday suit, you might
                        say.
                </p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.19">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:50.99:00',
					'endtime','00:26:17.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner, in "The Bear," who is your favorite character?</p>
<p><span class="speaker">William Faulkner</span>Well, I never&mdash;never thought about that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I probably haven't one. I like all of them.
                    I&mdash;I&mdash;I admire the fyce dog very much. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But I had&mdash;I never thought which one was
                    my favorite character.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.20">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:22.20:00',
					'endtime','00:27:17.78:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span><span class="unclear tooltip" title="Text was unclear">[Speaking of your style]</span>, <span class="unclear tooltip" title="Text was unclear">[do you find that at first in]</span>
                    your writing that you manipulated <span class="unclear tooltip" title="Text was unclear">[a good many things]</span> and then
                    it became easier and easier and&mdash;and probably no longer seems to worry
                    about such things as revising ?</p>
<p><span class="speaker">William Faulkner</span>No, it never has got any easier. If anything it's harder.</p>
<p><span class="speaker">Unidentified participant</span>But you manipulate and change words ?</p>
<p><span class="speaker">William Faulkner</span>Sometimes until it comes right. Sometimes I don't have to. I never have
                    to change a word. Sometimes I work the thing six and seven and eight and nine
                    years. But I never know. That's part of the charm of writing to me, is
                    the&mdash;the absolute uncertainty of it.</p>
<p><span class="speaker">Unidentified participant</span>
                    <span class="unclear tooltip" title="Text was unclear">[Yes, but at any rate]</span>  <span class="unclear tooltip" title="Text was unclear">[spontaneous]</span> ?
                </p>
<p><span class="speaker">William Faulkner</span>Well, sometimes it is, yes.</p>
<p><span class="speaker">Unidentified participant</span> not always.</p>
<p><span class="speaker">William Faulkner</span>Not always.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.21">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:21.84:00',
					'endtime','00:28:35.22:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Unidentified participant</span>Mr. Faulkner&mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, sir.</p>
<p><span class="speaker">Unidentified participant</span>You said <span class="unclear tooltip" title="Text was unclear">[that]</span> in&mdash;in <em>Absalom, Absalom!</em> 
                    there were thirteen ways of looking at it. What is
                    your way? How do you feel about Thomas Sutpen?</p>
<p><span class="speaker">William Faulkner</span>That the truth about Thomas Sutpen came out of all the thirteen
                    different people that looked at him.</p>
<p><span class="speaker">Unidentified participant</span>I mean&mdash; I mean, like you said about Caddy, you said that Caddy
                    .</p>
<p><span class="speaker">William Faulkner</span>I said only that I worked hardest and anguished and suffered more over
                    that book, over <em>The Sound and the Fury</em>.
                    It&mdash;I&mdash;I feel toward that as&mdash;as the parent does
                    toward the&mdash;the afflicted child, maybe.  That I worked the longest and
                    the hardest over it, and it still is not as good as it should be.  So
                        did I&mdash;so is  <em>Absalom, Absalom!</em> not as good as it should be, but then I
                    didn't have to anguish over that as much. I could bring myself to the point of
                    saying, "I've done the best I can with it and write something else now. Let it
                    alone." It took a long time with <em>The Sound and the Fury</em>
                    for that.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.22">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:28:39.46:00',
					'endtime','00:29:37.33:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>Sir, speaking of those two books, as you read <em>Absalom,
                        Absalom!</em>, how much can a reader feel that this is the Quentin, the same
                    Quentin, who appears in <em>The Sound and the Fury</em>, that is a
                    man thinking about his own Compson family, his own sister?</p>
<p><span class="speaker">William Faulkner</span>To me he's consistent, that he approached the Sutpen family
                    with&mdash;with the same ophthalmia that he approached his own troubles,
                    that he probably never saw anything very clearly, that his was just one of the
                    thirteen ways to look at Sutpen, and his may have been the&mdash;one of the
                    most erroneous. Probably his friend, McCannon, had a much clearer picture of
                    Sutpen from what Quentin told him than Quentin himself would.</p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.23">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:38.12:00',
					'endtime','00:30:17.43:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">Frederick Gwynn</span>It's still Sutpen's story, not Quentin's story.</p>
<p><span class="speaker">William Faulkner</span>No, it's&mdash;it's Sutpen's story. But then every time any
                    character gets into a&mdash;a&mdash;a book, no matter how minor, he is
                    actually telling his biography. That's all anyone ever does, tells his own 
                    biography, talks about himself. In a thousand different
                    <span class="unclear tooltip" title="Text was unclear">[terms]</span>, but himself. Quentin was still trying to&mdash;to
                    get God to tell him why. In <em>Absalom, Absalom!</em>
                    <span class="unclear tooltip" title="Text was unclear">[maybe he was]</span> and <em>The Sound and the
                        Fury.</em></p>
</div>
<hr>
<div class="utterance">
<div class="audio play-clip" id="wfaudio29_1.24">
			Play section
	    	<script type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio29_1.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:30:17.44:00',
					'endtime','00:31:35.44:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><span class="speaker">William Faulkner</span>Yes, ma'am.</p>
<p><span class="speaker">Unidentified participant</span>Sir, I'd like some help on understanding the&mdash;what I call the
                    bedroom scene in the fourth section of "The Bear." You made one statement, "She
                    is lost. She was born lost." Can you help me to understand what you meant by
                    that?</p>
<p><span class="speaker">William Faulkner</span>Who does that refer to?</p>
<p><span class="speaker">Unidentified participant</span>That refers to Ike McCaslin's wife. In&mdash;in that section
                    &mdash;</p>
<p><span class="speaker">William Faulkner</span>Yes, I&mdash;I think I remember now. She&mdash;from her
                    background, her tradition, sex was&mdash;was something evil, that it had to
                    be justified by acquiring property. She was, ethically, a prostitute. Sexually
                    she was frigid. I think what he meant&mdash;he knew that&mdash;that
                    there was no warmth that he would ever find from her, no understanding,
                    no&mdash;no chance ever to&mdash;to accept love or return love because
                    she was incapable of it. That's probably what he meant.</p>
<p><span class="speaker">Unidentified participant</span>And I wondered why she laughed ? <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio29_1.1" class="hidden">Writing "The Bear"</a></li>
<li><a href="#wfaudio29_1.2" class="hidden">Boon Hogganbeck</a></li>
<li><a href="#wfaudio29_1.3" class="hidden">Meaning of the Hunt</a></li>
<li><a href="#wfaudio29_1.4" class="hidden">Curse on the South</a></li>
<li><a href="#wfaudio29_1.5" class="hidden">Sutpen Acknowledging Bon</a></li>
<li><a href="#wfaudio29_1.6" class="hidden">Characters' Language</a></li>
<li><a href="#wfaudio29_1.7" class="hidden">Old Ben</a></li>
<li><a href="#wfaudio29_1.8" class="hidden">Bon's Knowledge</a></li>
<li><a href="#wfaudio29_1.9" class="hidden">Bon and Judith</a></li>
<li><a href="#wfaudio29_1.10" class="hidden">"Bear," Parts 4 and 5</a></li>
<li><a href="#wfaudio29_1.11" class="hidden">Understanding Sutpen</a></li>
<li><a href="#wfaudio29_1.12" class="hidden">Coldfield's Withdrawal</a></li>
<li><a href="#wfaudio29_1.13" class="hidden">Coldfield's Character</a></li>
<li><a href="#wfaudio29_1.14" class="hidden">The Train and the Bear</a></li>
<li><a href="#wfaudio29_1.15" class="hidden">Sam Fathers</a></li>
<li><a href="#wfaudio29_1.16" class="hidden">Melville and "The Bear"</a></li>
<li><a href="#wfaudio29_1.17" class="hidden">His Style</a></li>
<li><a href="#wfaudio29_1.18" class="hidden">Simon's Character</a></li>
<li><a href="#wfaudio29_1.19" class="hidden">Favorite Character</a></li>
<li><a href="#wfaudio29_1.20" class="hidden">Mastering Style</a></li>
<li><a href="#wfaudio29_1.21" class="hidden">Truth about Sutpen</a></li>
<li><a href="#wfaudio29_1.22" class="hidden">Quentin in Two Novels</a></li>
<li><a href="#wfaudio29_1.23" class="hidden">Sutpen or Quentin</a></li>
<li><a href="#wfaudio29_1.24" class="hidden">Ike's Wife [part 1]</a></li>
</ul></aside>
        
