<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio28_1.1">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio28_1.2">Eccentric Characters</a>
    </li>
    <li>
      <a href="#wfaudio28_1.3">Experience with Madness</a>
    </li>
    <li>
      <a href="#wfaudio28_1.4">Irrationality</a>
    </li>
    <li>
      <a href="#wfaudio28_1.5">Writer's Aim</a>
    </li>
    <li>
      <a href="#wfaudio28_1.6">Making Judgments</a>
    </li>
    <li>
      <a href="#wfaudio28_1.7">Human Motives</a>
    </li>
    <li>
      <a href="#wfaudio28_1.8">The Subconscious</a>
    </li>
    <li>
      <a href="#wfaudio28_1.9">Character Prototypes</a>
    </li>
    <li>
      <a href="#wfaudio28_1.10">Observing People</a>
    </li>
    <li>
      <a href="#wfaudio28_1.11">One Person v People</a>
    </li>
    <li>
      <a href="#wfaudio28_1.12">Cultural Conditioning</a>
    </li>
    <li>
      <a href="#wfaudio28_1.13">Symbolism</a>
    </li>
    <li>
      <a href="#wfaudio28_1.14">Modern Conformity</a>
    </li>
    <li>
      <a href="#wfaudio28_1.15">Second-Rate People</a>
    </li>
    <li>
      <a href="#wfaudio28_1.16">Innate Character</a>
    </li>
    <li>
      <a href="#wfaudio28_1.17">Freedom</a>
    </li>
    <li>
      <a href="#wfaudio28_1.18">Predicting Behavior</a>
    </li>
    <li>
      <a href="#wfaudio28_1.19">Future of Culture</a>
    </li>
    <li>
      <a href="#wfaudio28_1.20">Work in Progress</a>
    </li>
    <li>
      <a href="#wfaudio28_1.21">Monk</a>
    </li>
    <li>
      <a href="#wfaudio28_1.22">Human Change</a>
    </li>
    <li>
      <a href="#wfaudio28_1.23">Segregation v Education</a>
    </li>
    <li>
      <a href="#wfaudio28_1.24">Education [part 1]</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudio28_1.1"/>
  <p> that there was a possibility of meeting with you, we
                    thought it might be an opportunity for us to get together and talk about some of
                    these things.</p>
</div>
<div class="section">
  <a name="wfaudio28_1.2"/>
  <p>From your people that you select&#x2014;of course, they're unusual
                    people, in a way. Do you select the&#x2014;them as unusual? Or is there a
                    type that seems to appeal to you?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.3"/>
  <p>And you haven't had much experience in state hospitals or anything
                    ?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.4"/>
  <p>Mr. Faulkner, could you say a few words about what you might consider as
                    irrational human behavior?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.5"/>
  <p>Is the writer's motivation then simply just a portrayal of that which
                    most people see but perhaps don't take in?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.6"/>
  <p>Theoretically, the psychiatrist also does not make judgments. He
                    essentially takes man as he is, and life as it is, and tries to understand him.
                    And yet  we think that we would be kidding ourselves if we  do
                        nevertheless look at these
                    things from our own perspective, and certainly when&#x2014;when the idea
                    comes in of trying to do anything about it, which the writer doesn't do and
                    which we do actually do attempt to do as we attempt to better the situation,
                    you've got to think in terms of bettering it to what aim or what goal, and those
                    are essentially the goals that we, ourselves, will hold at the&#x2014;at the
                    present time or at any given time. Can a writer really avoid personal judgment
                    or value systems or &#x2014;?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.7"/>
  <p>What is your idea of what makes man do what he does?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.8"/>
  <p>You don't have a&#x2014;any idea of the subconscious,
                        something going on ?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.9"/>
  <p>Would you tell us something perhaps about your acquaintanceship with some
                    of the people that  have been the&#x2014;the prototypes for the characters in
                    your writing? I'm just wondering how you got to know them so well, to
                    have been able to pick their thoughts. I think this is related to Dr. Wilson's
                    idea about the subconscious.</p>
</div>
<div class="section">
  <a name="wfaudio28_1.10"/>
  <p>Do you actually make notes of people who arouse your curiosity?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.11"/>
  <p>Mr. Faulkner, as I understand it&#x2014;correctly when you said that
                    you thought the psychiatrist took a man and was capable of knowing him well
                    enough or understanding him well enough, he would know about the nature of man
                    more as&#x2014;as much as that you would otherwise, for example studying
                    people as a group or as a culture?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.12"/>
  <p>How much influence in&#x2014;for example, in your portrayal and
                    creation of people, how much influence does&#x2014;does a given culture have
                    in determining this person that you make or write about?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.13"/>
  <p>You don't deliberately use symbolism, do you?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.14"/>
  <p>Most of your characters are certainly highly
                    individualized human beings. Do you have any particular ideas on the
                    so-called trend toward conformity or loss of individualization in our current
                    society?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.15"/>
  <p>Could you go further and say how you rate people like that, for instance
                    second-rate?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.16"/>
  <p>Mr. Faulkner, do you feel like&#x2014;that man is, you might say, by
                    nature, first-rate or second-rate and influences or
                    circumstances lead to he being what he is? By nature being
                    one&#x2014;being other&#x2014;in other words, man, by nature,
                    has to pull himself up or&#x2014;to first-rate&#x2014;being a first-rate
                    person or man, by nature, would be a first-rate person, and some are pulled down
                    to being second-rate people?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.17"/>
  <p>This freedom that you insist on interests me a great deal. It seems to me
                    that that's where much of psychiatry goes astray, is in loss of&#x2014;of
                    freedom to think and act and so forth as we would if we were totally free or, as
                    you say, relinquish our individuality. Aside from joining the things,
                        though, do you find&#x2014;find that it's a constant path of
                    maintaining freedom or is&#x2014;is it something that comes natural to you.
                    In other words, are you a natural rebel against convention or conformity?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.18"/>
  <p>How long do you think that&#x2014;if we know an individual's
                    experiences&#x2014;I mean, which is very difficult to do, but if we just say
                    that ideally we know all these experiences that a person
                    has&#x2014;have, don't you think that we can predict his behavior?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.19"/>
  <p>With this loss of freedom and conformity, materialism, and so forth, how
                    optimistic or pessimistic do you feel about our current culture, as we see it
                    today?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.20"/>
  <p>You're writing a novel now, I guess. </p>
</div>
<div class="section">
  <a name="wfaudio28_1.21"/>
  <p>Sir, let me ask you to discuss very briefly the character of Monk, in
                    light of his freedom and inevitability  and so on?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.22"/>
  <p> do you think that man changes chiefly through
                    economic changes, that educational measures, for example, have rather little
                    impact ?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.23"/>
  <p>Some of us have been very interested in the psychological aspects of
                    segregation. I should be interested to know whether you believe that hope for
                    that problem lies in education?</p>
</div>
<div class="section">
  <a name="wfaudio28_1.24"/>
  <p>What are the greatest defects that you see in our current education
                    system other than this mediocrity and mass leveling
                        thing? </p>
</div>
