<?xml version="1.0"?>

			
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio11_1.1">Warmup</a>
    </li>
    <li>
      <a href="#wfaudio11_1.2">Blend Words</a>
    </li>
    <li>
      <a href="#wfaudio11_1.3">Introduction</a>
    </li>
    <li>
      <a href="#wfaudio11_1.4">Mississippi v Southern Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.5">Types of Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.6">Dialect and Status</a>
    </li>
    <li>
      <a href="#wfaudio11_1.7">Suption</a>
    </li>
    <li>
      <a href="#wfaudio11_1.8">Pussel-gutted</a>
    </li>
    <li>
      <a href="#wfaudio11_1.9">Kernal v Cunnel</a>
    </li>
    <li>
      <a href="#wfaudio11_1.10">Peakling</a>
    </li>
    <li>
      <a href="#wfaudio11_1.11">Ay for Yes</a>
    </li>
    <li>
      <a href="#wfaudio11_1.12">Beholden</a>
    </li>
    <li>
      <a href="#wfaudio11_1.13">Spelling Dialect</a>
    </li>
    <li>
      <a href="#wfaudio11_1.14">Winder</a>
    </li>
    <li>
      <a href="#wfaudio11_1.15">Aguer</a>
    </li>
    <li>
      <a href="#wfaudio11_1.16">Ara v Ary</a>
    </li>
    <li>
      <a href="#wfaudio11_1.17">Awry and Ory</a>
    </li>
    <li>
      <a href="#wfaudio11_1.18">Dog v Dawg</a>
    </li>
    <li>
      <a href="#wfaudio11_1.19">Hit for It</a>
    </li>
    <li>
      <a href="#wfaudio11_1.20">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio11_1.21">Fragment</a>
    </li>
    <li>
      <a href="#wfaudio11_1.22">Close</a>
    </li>
    <li>
      <a href="#wfaudio11_1.23">Break, 1</a>
    </li>
    <li>
      <a href="#wfaudio11_1.24">Break, 2</a>
    </li>
    <li>
      <a href="#wfaudio11_1.25">Elefunk</a>
    </li>
    <li>
      <a href="#wfaudio11_1.26">Jaybirds and Hell</a>
    </li>
    <li>
      <a href="#wfaudio11_1.27">No more despair</a>
    </li>
    <li>
      <a href="#wfaudio11_1.28">Technical Terms</a>
    </li>
    <li>
      <a href="#wfaudio11_1.29">Starting Program Two</a>
    </li>
    <li>
      <a href="#wfaudio11_1.30">Swurge for Surge</a>
    </li>
    <li>
      <a href="#wfaudio11_1.31">Opening Program Two</a>
    </li>
    <li>
      <a href="#wfaudio11_1.32">Hogfish</a>
    </li>
    <li>
      <a href="#wfaudio11_1.33">Frailed</a>
    </li>
    <li>
      <a href="#wfaudio11_1.34">Dust-dark and Dust-dawn</a>
    </li>
    <li>
      <a href="#wfaudio11_1.35">Kain't and Class</a>
    </li>
    <li>
      <a href="#wfaudio11_1.36">Holler</a>
    </li>
    <li>
      <a href="#wfaudio11_1.37">Figures of Speech</a>
    </li>
    <li>
      <a href="#wfaudio11_1.38">Sources of Figures</a>
    </li>
    <li>
      <a href="#wfaudio11_1.39">Christmas Masts</a>
    </li>
    <li>
      <a href="#wfaudio11_1.40">Bot as Misprint</a>
    </li>
    <li>
      <a href="#wfaudio11_1.41">Chapping</a>
    </li>
    <li>
      <a href="#wfaudio11_1.42">Lawed</a>
    </li>
    <li>
      <a href="#wfaudio11_1.43">Tongued</a>
    </li>
    <li>
      <a href="#wfaudio11_1.44">A Tie-up</a>
    </li>
    <li>
      <a href="#wfaudio11_1.45">Soopled</a>
    </li>
    <li>
      <a href="#wfaudio11_1.46">Regional Dialects Q</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 7 May 1957</h3>
  <h3>OCCASION: University Radio Show</h3>
  <h3>TAPE: T-123c</h3>
  <h3>LENGTH: 31:47</h3>
</div>
<div id="body">
  <a name="wfaudio11_1.1"/>
  <p><strong>Atcheson Hench:</strong>
						 road shows, as he says.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong> Well, we haven't heard from the agent, the
							circuit.  Right now there are none planned. </p>
  <hr/>
  <p><strong>Engineer:</strong> Just a little bit there. If you can lean in, Mr. Faulkner, without
						hurting it. <span class="event tooltip" title="There was some laughter happening">[laughter]</span>
						</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong> This is to remind us of our names. Wait a minute. I haven't got
						Blotner down there.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong> Yeah, you have.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong> But not&#x2014;not&#x2014;</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong> No.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong> Why don't you just turn it around?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Just write his name on a piece of paper and pin it to him. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
  <hr/>
  <p><strong>Unidentified participant:</strong> Like they do at conventions.</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>Preferably on the inside.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong> 'Cause every now and then one of us just goes blind as far as the
						words are concerned&#x2014;I mean names are concerned. Have you ever forgotten your
						own name, Joe?</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>No, but I've heard another announcer do it.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong> You did?</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>He said, "And your announcer has been"&#x2014;<span class="event tooltip" title="There was some laughter happening">[laughter]</span>. He
						just turned on the record.</p>
  <hr/>
  <p><strong>Engineer:</strong>Mr. Faulkner, do you think you will be sitting forward like that most
						of the time?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I can sit wherever you want me to.</p>
  <hr/>
  <p><strong>Engineer:</strong>Well,that&#x2014;that'll be fine. Just about like that. I think Mr. Hench
						has a slightly louder voice <span class="unclear tooltip" title="Text was unclear">[and so it should balance it out]</span>.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Does he want to try us out?</p>
  <hr/>
  <p><strong>Engineer:</strong> Yes, sir.  In just a second.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Alright. Well, this is cheating, in a way, to do these two fifteen
						minuteses and then to say that "Last week"&#x2014;it's going to be awful hard&#x2014; <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>You just lie one thing after another, don't you?
						A terrible liar.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Who, me?</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Mmhmm.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Well, how is this&#x2014;how does this sound? Is that alright? And Mr.
						Faulkner you could say, "Eeny meeny miney mo" or anything else.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>If I know it, I will. <span class="event tooltip" title="There was some laughter happening">[laughter]</span> You mean the rest of
						it or just "eeny meeny miney mo"?</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong> just testing your voice.</p>
  <hr/>
  <p><strong>Engineer:</strong>All right.</p>
  <hr/>
  <a name="wfaudio11_1.2"/>
  <p><strong>Edward Stephenson:</strong>Is that all right now? Can anyone tell me where these wonderful
						blend words in "Spotted Horses" are? "Sward" is one of them I remember. Can
						you hear me all right?</p>
  <hr/>
  <p><strong>Robert Davis:</strong>I haven't read "Spotted Horses" in a year, so I won't be able to
						tell you about that one.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>I'm not sure I know where they are, Steve.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Did you make up that word "sward" or is that something you've
						heard?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no, that's the way they pronounce it.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Joe, Joe.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>One, two, three, four, five. How's that? Does that&#x2014;is that alright? A
						little more volume? Do you need some more gain?</p>
  <hr/>
  <p><strong>Engineer:</strong>Down a little.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>One two, three, four, five. How's that? Okay?</p>
  <hr/>
  <p><strong>Engineer:</strong>That's all right."</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>What'd you say, <span class="unclear tooltip" title="Text was unclear">[game?]</span></p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>
						Gain, gain.
					</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Oh, gain.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>The engineer rides the gain. He picks it up or
						cuts it down.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Oh. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
  <hr/>
  <p><strong>Engineer:</strong>The opening is already on the tape, so any time you gentlemen feel
						ready. </p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Are you going to set the clock for us?</p>
  <hr/>
  <p><strong>Engineer:</strong>It is set, and we'll just start it. we'll give you twelve
						and a half minutes, <span class="unclear tooltip" title="Text was unclear">[sir]</span>, for the first show.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong><span class="unclear tooltip" title="Text was unclear">[He's got some signals]</span> he doesn't understand. Oh, yes.</p>
  <hr/>
  <p><strong>Engineer:</strong>No rattling of elbows, then.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>No rattling of elbows then. Let's not pound the table for once,
						shall we?<span class="event tooltip" title="There was some laughter happening">[laughter]</span> I pounded the table once, and Steve
						pounded the table once in excitement.</p>
  <hr/>
  <p><strong>Engineer:</strong>It hasn't been done since.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I mustn't say <span class="unclear tooltip" title="Text was unclear">["uh-huh"]</span>.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Yesterday I opened that door, and it sounded like a pistol shot when
						it hit the wall in <span class="unclear tooltip" title="Text was unclear">[that basement]</span>.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>It did.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong> jumped.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>They ought to do something about ventilating that room. It was
						awfully hot in there.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>It was getting pretty stuffy.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Blowers weren't on, were they?</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I don't know.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It's supposed to be air conditioning with blowers, but I
							don't think they were on.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Mr. Stephenson, can I have a match, sir?</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Sure.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Thank you.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Well, do you have&#x2014;</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Would you like to light it, Mr. Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, thank you, sir. I'm just about smoked out.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Do you have a lot of eloquent, impromptu comments there, Atch? Typed
						out?</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I got my&#x2014;my stuff. I&#x2014; </p>
  <hr/>
  <a name="wfaudio11_1.3"/>
  <p><strong>Atcheson Hench:</strong>Today as our special guest we have with us the American novelist
						William Faulkner, author-in-residence at the University of Virginia this
						semester. We are indeed fortunate to have him with us. Also around our table
						today are our regular panel members Mr. Edward Stephenson and Mr. Robert
						Davis. As&#x2014;and, as another special panel member today, we have Mr. Joseph
						Blotner, of the English Department. And our subject today is Mr. Faulkner's
						dialect. And I suppose we might as well lay on the table one plain fact, one
						simple fact at first, that it is Mississippi dialect. Isn't it, Mr.
						Faulkner?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>As far as I know. I wouldn't limit it to Mississippi, though. I
						think I've heard this same dialect in Arkansas, Louisiana, Alabama. And I
						imagine, in time, I'll hear it here in Virginia.</p>
  <hr/>
  <a name="wfaudio11_1.4"/>
  <p><strong>Atcheson Hench:</strong>Would you hear the same words, all the same vocabulary?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I wouldn't be surprised. <span class="unclear tooltip" title="Text was unclear">[I probably would.]</span></p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Do you think so, Mr. Stephenson?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well, I&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Well, the southern dialect&#x2014;of course, I'm a native of
						Georgia, and I read many things in Mr. Faulkner's writings that are familiar
						to me. I run across some things that are not. I expect there might be some
						small differences.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, yes, there would be small differences.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>But it is a southern dialect.</p>
  <hr/>
  <a name="wfaudio11_1.5"/>
  <p><strong>Edward Stephenson:</strong> By the way, Mr. Faulkner, how many
						different types of dialect do you try to distinguish? Now I notice, of
						course, the difference between the speech of the Negroes and the poor white
						trash. Are there any other distinctions that you try to make?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say there are three. The&#x2014;the dialect, the diction, of the
						educated, semi-metropolitan white southerner, the dialect of the&#x2014;of the
						hill, backwoods southerner, and the dialect of the Negro&#x2014;four, the dialect
						of the Negro who has been influenced by the northern cities, who has been to
						Chicago and Detroit.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Four different dialects?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Four.</p>
  <hr/>
  <a name="wfaudio11_1.6"/>
  <p><strong>Atcheson Hench:</strong>Do you find that your characters change their dialect as they
						improve in financial status?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not always. Sometimes. The ones that are&#x2014;that take up snobbery
						easily, yes, they will change their dialect, and young people have an
						aptitude for changing their dialect, like a chameleon does.</p>
  <hr/>
  <a name="wfaudio11_1.7"/>
  <p><strong>Atcheson Hench:</strong>By the way, a friend of yours asked me to ask you a question today.
						He said that Flem Snopes doesn't smoke, but he'll chew a little tobacco till
						all the "suption" is out of it. He wanted me to ask you if you coined that
						word "suption."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no. Did you ever hear of that in Georgia, Mr. Stephenson?</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>No, I'm not familiar with that.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, it means nourishment. Now I don't know that I&#x2014;</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>It doesn't mean juice?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, nourishment. There's suption in meat, in bread, it's&#x2014;I think
						it's more nourishment than juice.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>The goodness. We'd&#x2014;I think we'd say he got the goodness out of
						it.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Goodness, yes, that's right.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Have you heard that in Alabama, Mr. Davis?</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Suption? I don't think I've heard of suption but&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Maybe it's a Mississippi word.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>When chewing gum is no longer sweet, the suption is gone.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Mmhmm.</p>
  <hr/>
  <a name="wfaudio11_1.8"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, I had&#x2014;have down here on a list several words that I
						would like to ask you about. It's&#x2014;one is the word "pussel-gutted." You spoke
						about Jewel calling his horse "pussel-gutted," and that was in mock
						affection. And then in another place Peabody&#x2014;this is in, by the way, in <em>As I Lay Dying</em>&#x2014;Peabody has "pussel-gutted" himself
						eating cold greens. I suppose that means make yourself flabby.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Bloated, yes.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>That's a Georgia term. I know that term.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Is there a plant that you're&#x2014;that is behind that figure of speech,
						pussel?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>There's a plant in Virginia called <span class="unclear tooltip" title="Text was unclear">[pussley]</span>, and
						I thought maybe it was the same thing. It's a hideous plant, an ugly plant.
						It gets full of water.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It could derive from that. I don't know. I've heard it all my life.
						It means someone that is bloated, that has a tremendous belly that he
						shouldn't have.</p>
  <hr/>
  <a name="wfaudio11_1.9"/>
  <p><strong>Edward Stephenson:</strong>May I come back for a moment to this distinction between the speech
						of the Negroes and of the&#x2014;of what used to be called the poor white trash. In
						your short story "Wash," Mr. Faulkner, when Wash is talking about Colonel
						Sutpen, he call&#x2014;you spell it K-E-R-N-E-L, when the Negroes are talking you
						spell it C-U-N-N-E-L. Is that supposed to be "Kernal' that Wash says, and
						"Cunnel" that the Negroes say. In other words, Negroes drop the "r."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's correct.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>That's the idea.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's correct. And the&#x2014;what we call the redneck white man has a
						hard "r."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>He has the&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He says "fur" for far. He says "far" for fire.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Yes.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The Negro don't have the hard "r."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>I assumed that that was the purpose of that. Now if Colonel Sutpen
						or one of his&#x2014;upper class characters was speaking, then you just use the
						conventional spelling, which really would be rather like Wash's
						pronunciation, though not as hard on "r"'s.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right, it's between&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>But the&#x2014;between Wash and the Negroes, "Kernal" versus "Cunnel."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes.</p>
  <hr/>
  <a name="wfaudio11_1.10"/>
  <p><strong>Atcheson Hench:</strong>May I ask you about another word that I noticed, and that's the word
							"peakling."  You said about Jewel, or rather in
						connection with Jewel it was said, "I told them that's why ma always whipped
						him and petted him more. Because he was "peakling" around the house.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's probably a&#x2014;a corruption or contraction between "puny" and
						"weakly." Just like the contraction or corruption between "mist" and
						"drizzle" becomes "mizzle."</p>
  <hr/>
  <a name="wfaudio11_1.11"/>
  <p><strong>Robert Davis:</strong>Mr. Faulkner, I noticed that Vernon and Uncle Billy, in <em>As I Lay Dying, </em>often say "ay" for "yes." I wondered
						if that was&#x2014;if that was common or whether it was just characteristic of the
						older generation?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That is common among the older people whose ancestry was
						Scottish.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Oh, yes, sir.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>They came to the mountains of North Carolina, then they came to the
						mountains of Virginia, then they came to the hills of Mississippi, and they
						kept their old ways. They would say to "red up" a room, just as you hear in
						Scotland&#x2014;means to&#x2014;to clean a room, to make the beds, sweep.</p>
  <hr/>
  <a name="wfaudio11_1.12"/>
  <p><strong>Atcheson Hench:</strong>Is the same thing true about "beholden"? I'm "beholden" to you.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Now would that be Scottish or is that Old English?</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Well, I suppose it's English and Scottish.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, yes. That's right.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>"Red" is certainly Scottish. You're right there.</p>
  <hr/>
  <a name="wfaudio11_1.13"/>
  <p><strong>Edward Stephenson:</strong>I'd like to make a point about the importance of knowing the
						author's speech in interpreting his dialect spellings. Now Thomas Nelson
						Page, for instance, when he wants to represent an Old Virginia Negro who
						says "cawn't," will spell that sometimes C-A-R-N-T. And I noticed you've done
						the same thing in "Wash." When the old Negro woman is talking to Colonel
						Sutpen, she says "Yes, mawster," and you spell it M-A-R-S-T-E-R. Now we
						should interpret that "mawster" rather than "master", but it isn't "marster,"
						is it?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It's "moster." And the "ar" spelling then, since we know that you
						are from a part of the country&#x2014;and you yourself drop the "r" after a vowel,
						then the "ar" can be a symbol for the sound "aw."</p>
  <hr/>
  <a name="wfaudio11_1.14"/>
  <p><strong>Robert Davis:</strong>I suppose, Mr. Faulkner, that'd be the same thing as when Dilsey
						says, "winda," and you spell it W-I-N-D-E-R. That she says "winda," rather
						than "winder."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right. There's no "r."</p>
  <hr/>
  <p><strong>Robert Davis:</strong>But now the backwoodsman would say "winder."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Wouldn't he?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>"Winder."</p>
  <hr/>
  <p><strong>Robert Davis:</strong>"Winder."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>And then you'd have a problem because you'd have to spell it the
						same way if you wanted to represent it in dialect, wouldn't you? That'd be a
						problem for the author to worry about there.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I should say, being a Mississippian, I would probably put two r's on
						it.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>That's what Page does, by the way&#x2014;no not Page, but James Russell
						Lowell in his "Bigelow Papers" when he wants to represent&#x2014;in certain parts
						of New England where they have a very hard "r," he puts two "r"'s. That's
						the same thing he does.</p>
  <hr/>
  <a name="wfaudio11_1.15"/>
  <p><strong>Atcheson Hench:</strong>Is that&#x2014;is it the same way with that disease that I saw somewhere?
						A-G-U-E-R. An "aga"? Is that right? "Aga."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right.</p>
  <hr/>
  <a name="wfaudio11_1.16"/>
  <p><strong>Edward Stephenson:</strong>What did you mean, Mr. Faulkner, in&#x2014;I'm not quite sure how you
						intended this to be pronounced&#x2014;I know the word, but this particular spelling
						of it. Wash says, "if you was A-R-A other man." "Ary other man. Or
						"ara."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right, "ara."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>"Ara."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>"Ara" or "nara."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Mmhmm.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>"Ara." I remember in Alabama, where I lived sort of back in the
						hills myself, and it was "ary" back there, rather than "ara." Funny&#x2014;</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>"Ary."</p>
  <hr/>
  <p><strong>Robert Davis:</strong>"Ary." U-huh.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>And "nary."</p>
  <hr/>
  <p><strong>Robert Davis:</strong>"Nary."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>You know that may be an example of of over-correction, just like in
						the mountains when the name Andy becomes "Anda" sometimes, and Naomi becomes
						"Naoma."</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Or it may be&#x2014;it may be the&#x2014;the mountain speech coming down into
						Northern Alabama there.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Might be.</p>
  <hr/>
  <a name="wfaudio11_1.17"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, how do you pronounce these words: "A-W-R-Y haired" and
						"A-W-R-Y feathered."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Awry.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Awry.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's what I was trying to spell.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I see. Have you ever heard the pronunciation "ory" haired?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Not in Mississippi&#x2014;</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>"Ory" feathered"?</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Is that at all similar to <span class="unclear tooltip" title="Text was unclear">["ory eyed"]</span>? Or does that
						refer to another condition or pronunciation.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I think it is. I think it is.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Very likely is, but I never heard "ory" applied to anything except
						"eye."</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Mmmhmm.  That's the only usage I know.</p>
  <hr/>
  <a name="wfaudio11_1.18"/>
  <p><strong>Edward Stephenson:</strong>I want to ask Mr. Faulkner&#x2014;ask you Mr. Faulkner why once you spell
						the word dog D-A-W-G for Wash. It seems to me that I don't approve of that
						spelling. That doesn't really differentiate Wash from any of the other
						characters. Wouldn't they all say "dawg"? Don't you say "dawg"? Doesn't
						everybody in Mississippi say "dawg."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, the reason for that is that someone has said southerners don't
						read books; they write books. And I think that when the southerner writes
						deliberately spelled dialect, he is writing not for the man that calls "dog"
						"dawg," but for the man that calls "dog" "dog."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>But "dawg"&#x2014;"dawg" is very general all over the country. Of course in
						some parts of the Midwest people do say "dog." But in New England and the
						South, and a large part of the rest of the country D-O-G is "dawg"</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, but these people would speak with a&#x2014;even more flatness than
						that. It would be "Dawg."</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Stretched out.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes.</p>
  <hr/>
  <a name="wfaudio11_1.19"/>
  <p><strong>Edward Stephenson:</strong>Well another&#x2014;another point I'd like to ask you about. In the use of
						"hit" which I'm familiar with in Georgia. It's an old form that's survived.
						But it seems to me, at least in Georgia, the distinction is this. In an
						unstressed, where the&#x2014;where the syllable would not be accented&#x2014;for instance,
						you could hardly say&#x2014;if you wanted to say "Move it over thar," you&#x2014;it would
						be hard say "move hit over thar." But if you said, "Hit don't make no
						difference"&#x2014;or&#x2014;when it's stressed, it would be "hit." But I notice you use it
						rather indiscriminately whether it would be in a stress position or not in a
						stress position. I think&#x2014;I think you were careless in that regard.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Perhaps so, but I think I have heard it used&#x2014;sometimes the same man
						will say "move hit yonder" or "move it yonder."</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>And "make it now" and "make hit now."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right, the same&#x2014;</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>More deliberation.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well, I don't know. It's&#x2014;he probably is not aware himself. At
						one time he puts an  and the next time he drops it.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>I should think his&#x2014;the speed with which he spoke or the emotion&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, has a lot to do with it.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>That might even determine which spelling&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>For instance, here's one. Wash says, "You make hit right," and you
						spell it H-I-T, which&#x2014;but again, he says, "Hit don't need no ticket."</p>
  <hr/>
  <a name="wfaudio11_1.20"/>
  <p><strong>Robert Davis:</strong>Mr. Faulkner, one thing that I'd like to get in 
						I've wondered how you do it. Just how you go about it. I see some every now
						again, some of these words that I think are&#x2014;are brilliant. Luster, I
						remember, in the end of <em>The Sound and the Fury</em>, says&#x2014;
							<span class="event tooltip" title="There was some recording is interrupted by seventeen seconds of music happening">[recording is interrupted by seventeen seconds of music]</span></p>
  <hr/>
  <a name="wfaudio11_1.21"/>
  <p><strong>Robert Davis:</strong> in our memory I should think.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Do you ever create these things?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Probably.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>He doesn't mean to, though.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't deliberately, but I&#x2014;probably I have corrupted words
							 on my own ticket.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>To get a good result.</p>
  <hr/>
  <a name="wfaudio11_1.22"/>
  <p><strong>Atcheson Hench:</strong>We've enjoyed being with you for the past fifteen minutes for this
						chat. There is much more on the subject that we could say, but our time has
						run out on us again. However, we cordially invite you to be in our listening
						audience next week at this same time, when Mr. Faulkner will again be in
						our&#x2014;will be our special guest. Joining us around the table today were Mr. Ed
						Stephenson, Mr. Joseph Blotner, and Mr. Robert Davis. Our special guest for
						this program was Mr. William Faulkner. This is Atcheson Hench thanking you
						for joining our discussion today and inviting you to listen again next week
						at this time for another chat on some aspect of the language we speak.</p>
  <hr/>
  <a name="wfaudio11_1.23"/>
  <p><strong>Frederick Gwynn:</strong>
						<span class="event tooltip" title="There was some cough happening">[cough]</span>
					</p>
  <hr/>
  <p><strong>Robert Davis:</strong>Have you been waiting all that time to cough, Mr. Gwynn?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Now's the time for Mr. Hench to get up and do this again. <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
  <hr/>
  <a name="wfaudio11_1.24"/>
  <p><strong>Engineer:</strong>You may stretch your muscles just a moment just while we switch tapes
						and then we'll continue again as though we never stopped.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Well wasn't it brilliant?</p>
  <hr/>
  <p><strong>Frederick Gwynn:</strong>That worked very well.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>You were great, Hench.  <span class="event tooltip" title="There was some laughter happening">[laughter]</span></p>
  <hr/>
  <a name="wfaudio11_1.25"/>
  <p><strong>Atcheson Hench:</strong>Oh dear. You know I&#x2014;you speaking about <span class="unclear tooltip" title="Text was unclear">["elefunk"]</span>.
						I think that's one of those rebuildings to suit what the man probably thinks
						it ought to be, like <span class="unclear tooltip" title="Text was unclear">["plathform"]</span> instead of "platform."
						Though what <span class="unclear tooltip" title="Text was unclear">["funk"]</span>&#x2014;"elefunk" would be I wouldn't have any idea. But he's got
						some notion in there.</p>
  <hr/>
  <a name="wfaudio11_1.26"/>
  <p><strong>Robert Davis:</strong>There's something I've wondered about, and I don't guess 
						we can ask it on this program, so I'll just ask it
						now. I remember Luster says&#x2014;he chunks some rocks at some jaybirds, and he
						says, "Git on back to hell, whar you belong at. 'Taint Monday yit." I
						wondered what that superstition&#x2014;I never heard that superstition&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>The superstition is that on Friday the jaybirds all go to hell; they
						don't come back till Monday.</p>
  <hr/>
  <p><strong>Robert Davis:</strong> around from that Monday until the next Friday.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Quite often you never hear a jaybird over the weekend, and the
						superstition is they've gone to hell.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>That's probably what they've done.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Sometimes that is where they should go&#x2014;</p>
  <hr/>
  <a name="wfaudio11_1.27"/>
  <p><strong>Joseph Blotner:</strong>Gee, there was one that I wanted to ask about. In "Spotted Horses,"
						when Armstid's wife tells how badly off they are and says that "He aint no
						more despair than to spend four dollars for a horse." I know what she means,
						but I've just never heard those words put together that way before.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>
						
						I'm familiar with that.
					</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Are you?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It means he has no more shame, no more consideration, for
							our trouble.</p>
  <hr/>
  <a name="wfaudio11_1.28"/>
  <p><strong>Joseph Blotner:</strong>I'm glad you didn't use any&#x2014;any technical terms on us, Steve, like
							 post-vocalic "r."   Stuff like that it was the wrong
						thing to do.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>I slipped up and did that one time. It was the first program we did then I realized
						that was the wrong thing to do &#x2014;</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>You might just as well use Esperanto.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>I won't talk about this  vowel then.</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Good.</p>
  <hr/>
  <a name="wfaudio11_1.29"/>
  <p><strong>Engineer:</strong>Okay? You gentleman ready for&#x2014;?</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Do you want to reset the clock?</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I think it does, and that every now and then helps me if I think of
						it.</p>
  <hr/>
  <a name="wfaudio11_1.30"/>
  <p><strong>William Faulkner:</strong>Did you ever hear of "swurge" for "surge?"</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>No, that was another one I marked in "Spotted Horses." And you
						didn't invent that either. I thought maybe you invented that. It's a
						wonderful term, I think. It conveys the idea beautifully, but&#x2014;</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>I think I've heard that "w" in certain places. I can't pull one out
						of my head right now. But I think in the mountains up here, in the Blue
						Ridge, I've heard a "w" that gets&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It could be. I could see how it happens. It could be the reverse of
						the loss of the "w" in "sword." "Sward."</p>
  <hr/>
  <a name="wfaudio11_1.31"/>
  <p><strong>Atcheson Hench:</strong>Today as our special guest again we have with us the American
						novelist Mr. William Faulkner, author-in-residence at the University of
						Virginia this semester. We are indeed fortunate, as we were last week, to
						have him with us. Also around our table today are our special&#x2014;are our
						regular panel members Mr. Edward Stephenson and Mr. Robert Davis. And as
						another panel member today, we have Mr. Joseph Blotner.</p>
  <hr/>
  <a name="wfaudio11_1.32"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, following up what we said last week, I should like to
						ask you about the meanings of one or two words. By the way, is there a fish
						in Mississippi called a "hog"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Then I misunderstood a line. Somewhere I thought you called a fish a
						hog. Maybe&#x2014;there's no hogfish?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I think somebody said the catfish the little boy had was as
						bloody as a hog. It's as full of blood as a hog.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Oh, I see. </p>
  <hr/>
  <a name="wfaudio11_1.33"/>
  <p><strong>Atcheson Hench:</strong> What about the word "frailed"? He "frailed him time and
						time." What's that mean?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>To whip, thrash.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It's a variant of flail, isn't it? Yes, I&#x2014;I know that. It's a
						variant of flail.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>&#x2014;but they say "frail."</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>You use that, Mr. Davis?</p>
  <hr/>
  <p><strong>Robert Davis:</strong>No, sir, I never heard that&#x2014;I don't think. Not frail.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Oh, you're too much of a city boy.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>I guess so.</p>
  <hr/>
  <a name="wfaudio11_1.34"/>
  <p><strong>Atcheson Hench:</strong>What about these two that are&#x2014;that always have interested me:
						"dust-dark" and "dust-dawn." The time of day which is "dust-dark" and
						"dust-dawn."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Twilight.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>What does "dust" mean there?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It's "dusk" really.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Dusk.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>But they say "dust." That is, they say "dus-dark" and "dus-dawn."
						They don't say "dusk-dark" and "dusk-dawn."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>If you all would let me be technical I'd say that's assimilation to
						the following "d." You see&#x2014;</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Of course.</p>
  <hr/>
  <p>
    <strong>Edward Stephenson:</strong>
    <span class="unclear tooltip" title="Text was unclear">[The assimilated "d."]</span>
  </p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Dusky dark? Have you ever, Mr. Stephenson, heard "dusk-dawn," 
						"dusk-dark"?</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>No, I don't know that.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>But I've heard "dust" for dusk. For the time of day, it's just
						"dust."</p>
  <hr/>
  <a name="wfaudio11_1.35"/>
  <p><strong>Edward Stephenson:</strong>Mr. Faulkner, you have&#x2014;to come back to the story "Wash" again, which
						I read quite recently&#x2014;you have Wash say "kain't," but you don't represent
						the colonel as saying that. Don't you think he would have said "kaint"
						too?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That was to make a distinction between their social position.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It's&#x2014;it's really a sort of faking in a way. I mean I don't mean to
						be nitpicking but&#x2014;</p>
  <hr/>
  <p><strong>Joseph Blotner:</strong>Well, don't you think really the&#x2014;the colonel himself would have been
						conscious of such things as pronunciation and perhaps would have stressed it
						where Colonel Sartoris might not have?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I doubt that. It was Wash's flat drawl. The colonel would have said
						"kaint"; Wash would have said "kayint." And the only way I know to do that
						is to spell it slightly different. Wash has a flatter voice than the
						plantation owner&#x2014;and the master. <span class="unclear tooltip" title="Text was unclear">[Though they would use the
							same&#x2014;]</span></p>
  <hr/>
  <a name="wfaudio11_1.36"/>
  <p><strong>Edward Stephenson:</strong>In that same story, Millie says to Wash, "You'll have to
						holler&#x2014;you'll have to holler louder than that." "Holler," I suppose.
						H-O-L-L-E-R, you spelled it. That comes back to the question we asked last
						week about what would you do with "winder" if you wanted to have one of the
						poor white trash&#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Well&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>It's a problem, isn't it. Because now if this were one of the upper
						class characters, H-O-L-L-E-R would represent "holla," But knowing that it's
						Wash's daughter it's going to be "holler."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's right.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>So we have to know something about the background.</p>
  <hr/>
  <a name="wfaudio11_1.37"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, do you&#x2014;you have&#x2014;must have an astonishingly retentive
						memory for figures of speech. I noticed you spoke of a coffin "as neat as a
						sewing basket." And the talk of some women as kind of like "bees murmuring
						in a water bucket." Do you&#x2014;are these phrases that are proverbial in your
						talk&#x2014;in the talk of people in Mississippi, or do you make these up, or&#x2014;or
						what? They're delightful phrases.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Those, I imagine, the circumstances of the story invent themselves,
						suggest to me. I've never heard them as&#x2014; <span class="unclear tooltip" title="Text was unclear">[as
							analogies]</span>. Simply the circumstances of the story&#x2014;or the desire
						to describe that the best I can in comprehensible phrases or figures of
						speech.</p>
  <hr/>
  <a name="wfaudio11_1.38"/>
  <p><strong>Atcheson Hench:</strong>Do you have any idea which kinds of things you like most to use
						figures of speech&#x2014;make figures of speech out of. Flowers or fish or horses
						or dogs or trees or just&#x2014;or don't you worry and care less?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say that the&#x2014;the&#x2014;the instant I am involved
						with does the commanding in that.</p>
  <hr/>
  <p><strong>Robert Davis:</strong>I think one of the most unusual kinds of figures of speech that I've
						noticed&#x2014;when certain of your characters&#x2014;certain of your more perceptive
						characters like Benjy in <em>The Sound and the fury </em>and
						Darl in <em>As I Lay Dying</em>&#x2014;their sense of smell seems to
						be very acute. I know Darl says&#x2014;when it's getting ready to rain he says it
						smells like sulfur. Well, even Quentin in <em>The Sound and
							the Fury</em> remembers the smell of the honeysuckle and so forth. I&#x2014;I
						think that's particulary good and it's rather unusual, I think. Because usually that's one
						of the senses&#x2014;one of the five that's left out so often in writing. It gives
						that added touch of realism to it.</p>
  <hr/>
  <a name="wfaudio11_1.39"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, may I ask you if I&#x2014;if there's something here in
						Mississippi folklore that I missed, not having grown up in Mississippi. Cora
						says, "His face looked like one of these here Christmas masts that had
						been&#x2014;that had done been buried a while and then dug up." What is a Christmas
						"mast"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh, the toy mask, the comic faces that children buy in the&#x2014;in the
						stores for Halloween and&#x2014;and Christmas time.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>And "mast" is really for "mask"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Mask, yes.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Just like "dusty" for "dusk."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right.</p>
  <hr/>
  <a name="wfaudio11_1.40"/>
  <p><strong>Edward Stephenson:</strong>Mr. Faulkner, in "The Bear," here's a word I don't know.  I wonder if you
						can tell me what it means. The word is B-O-T: "The old game crossing over
						which he'd trailed bucks wounded and not wounded and more than once seen
						them anything but wounded bot out of the woods and up and across the
						embankment&#x2014;" What's that word B-O-T mean? It looks like a verb having to do
						with rapid motion or something of the sort.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would have to see it.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Maybe it's a misprint?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It is a misprint, yes. There's no such word as that. If it's not a
						misprint for "but" then&#x2014;</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>"But out of the woods" would make sense. Or could it be "hot out of
						the woods"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's a good point.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>Wherever </p>
  <hr/>
  <p><strong>William Faulkner:</strong>"Hot."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>"Hot out of the woods."  I see.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, I remember. It was hot.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>"Hot out of the woods."  That's a misprint. </p>
  <hr/>
  <p><strong>William Faulkner:</strong>Running at top speed. Yes, "hot out of the woods."</p>
  <hr/>
  <a name="wfaudio11_1.41"/>
  <p><strong>Atcheson Hench:</strong>Do all&#x2014;do many people use the word "chapping" for having children.
						Somebody said, "We ain't nigh done chapping yet."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's quite colloquial. You hear that only in the remote hill
						country. People that&#x2014;that have no&#x2014;where there are no Negroes and their
						speech is not corrupted by&#x2014;by Negro inflections and the Negro usage of words.
						That came from Scotland.</p>
  <hr/>
  <a name="wfaudio11_1.42"/>
  <p><strong>Atcheson Hench:</strong>Is "lawed"&#x2014;would you say of&#x2014;the same thing of "lawed." "He should be
						lawed for treating her so." In other words arrested or something.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's <span class="unclear tooltip" title="Text was unclear">[not all]</span>&#x2014;making a verb out of a noun.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>You did that yourself?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No. I've heard that.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Oh, I see.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's&#x2014;I imagine that that's in Georgia and Alabama, too.</p>
  <hr/>
  <a name="wfaudio11_1.43"/>
  <p><strong>Edward Stephenson:</strong>What does this mean, Mr. Faulkner? Let's see, "They all piled over
						the crest of the hill just in time to see Tomey's Turl a way out across the
						flat almost to the woods and the dogs streaking down the hill and out onto
						the flat. They just tongued once and when they
						came boiling up around Tomey's Turl they looked like they were going to jump
						up and lick him in the face."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Another verb made from a noun. They "gave tongue" once.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>You've never hunted.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>No, I'm not a hunter.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Well, Mr. Faulkner is. He's heard the sound of dogs.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That means they were&#x2014;they were on game. They bayed once, then they
						recognized Tomey's Turl, a friend, so they quit.</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>I see.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>They just caught up with him to lick his hand, to run along with
						him.</p>
  <hr/>
  <a name="wfaudio11_1.44"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, what is a tie-up in a barn?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's anything you tie cattle to. It's near a rack for feeding.</p>
  <hr/>
  <p><strong>Atcheson Hench:</strong>Oh, I see. A rack or a bar.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>A hitch or a lead is snapped into the halter&#x2014;tied to a
						<span class="unclear tooltip" title="Text was unclear">[bar]</span>.</p>
  <hr/>
  <a name="wfaudio11_1.45"/>
  <p><strong>Edward Stephenson:</strong>And another place, Mr. Faulkner, "Black John came out of the trees,
						driving, soopled out flat and level as a hawk." Is that a verb made from the
						adjective "supple"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, they pronounce "supple," "soople."</p>
  <hr/>
  <p><strong>Edward Stephenson:</strong>I've heard the pronunciation of the adjective as "soople." This is a
						verb in the past tense, "soopled."</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right. To&#x2014;to "soople" is to do something rapid and
							limber.</p>
  <hr/>
  <a name="wfaudio11_1.46"/>
  <p><strong>Atcheson Hench:</strong>Mr. Faulkner, some days ago I remember your saying that you thought
						you could move, say, to a Maine village, a fishing village or a lumbering
						village, and it wouldn't be long before you would be writing about people
						there. Yet I remember yesterday you said that it was the inflection, the
						sound of the words and the dialect that was very much a part of the people
						that you write about. Don't you think that, though you could see stories
						quickly in the lives of this imagined Maine group of people, it would take
						you a long time to get on to their talk, their pronunciation, and so forth?
							<span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

		
