<?xml version="1.0"?>
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudioUVA.1">Bowers' Introduction</a>
    </li>
    <li>
      <a href="#wfaudioUVA.2">Faulkner at UVA</a>
    </li>
    <li>
      <a href="#wfaudioUVA.3">Faulkner in the Classroom</a>
    </li>
    <li>
      <a href="#wfaudioUVA.4">The Faulkner Foundation</a>
    </li>
    <li>
      <a href="#wfaudioUVA.5">Faulkner's Papers</a>
    </li>
    <li>
      <a href="#wfaudioUVA.6">Departmental Statement</a>
    </li>
    <li>
      <a href="#wfaudioUVA.7">Faulkner's Favorite Topic</a>
    </li>
    <li>
      <a href="#wfaudioUVA.8">Faulkner's Shyness</a>
    </li>
    <li>
      <a href="#wfaudioUVA.9">Faulkner and Flying</a>
    </li>
    <li>
      <a href="#wfaudioUVA.10">Faulkner and Charlottesville</a>
    </li>
    <li>
      <a href="#wfaudioUVA.11">Faulkner's Philosophy</a>
    </li>
  </ul>
</div>
<div class="section">
  <a name="wfaudioUVA.1"/>
  <p>Mr. Faulkner came to this university, as so many things happen in real life, more by good luck than by good management on our part, as
                        we later found. In the winter of 1956-57, the Department of English had received some&#x2014;a bequest from the estate of Emily Clark Balch
                        for the advancement of American letters at this university. We felt that we wanted to expend this on a Writer-in-Residence program. We discussed
                        various prominent American writers who might be persuaded to come here to be in residence to talk to our students, to the public here, to meet in
                        conferences, meet classes, and so on. We had difficulty deciding really the person we wanted to choose. And finally, by great good fortune,
                        someone said, "You know, Mr. Faulkner, who is a very devoted grandfather, is often in town visiting his daughter and grandchild." We had all seen
                        him, of course, walking the streets inconspicuously. We knew that he liked to keep to himself and not to be spoken to. We had not made any
                        effort. We wrote him, therefore, suggested that perhaps he would like to come, and to our great pleasure, he did want to come. He responded
                        that he would come. He didn't know what he could do for us but at least he wanted to try. This, therefore, in the year of&#x2014;the winter of
                        '57 he came and took up duties as Writer-in-Residence at this university. We were so pleased with his&#x2014;the ardent following of the students and his
                        popularity that we invited him back for a second&#x2014;second year of&#x2014;round of conferences.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.2"/>
  <p>In those early days,
                        Mr.&#x2014;Professor Stovall was chairman and dealt with Mr. Faulkner most directly. I want to ask him now to say something of the early life
                        that we had when Mr. Faulkner first came to this university's grounds.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.3"/>
  <p>Mr. Faulkner, at the university, did not like to deliver formal lectures so much as he enjoyed the informal conferences with students.
                        When he addressed the various public meetings that were&#x2014;were held, the last of which in Cabell Hall this past spring, we could've
                        filled the Cabell&#x2014;Cabell Hall three times over with people from the whole state who came to hear him give the first reading from his
                        new novel, The Reivers. He always liked to read from his novels or short stories and then to answer questions afterwards.
                        Many of these questions and the answers are, of course, perpetuated in the little book, Faulkner at the University, and
                        they are, indeed, most illuminating for his own comments, because he loved to talk about his characters beyond what you found in the books, to
                        speculate sometimes as to what they did in&#x2014;after&#x2014;after the book had ended and why they did certain things that were not
                        always so clear in the book itself.  But perhaps his most intimate talks were given to the students in the classes, and Professor
                        Colvert, whose classes Mr. Faulkner often attended, wants to say a few words about what this was like in the classroom.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.4"/>
  <p>Mr. Faulkner did a great deal of good by stealth. He didn't really like everyone to know many of the things he was doing for the
                        students and for the benefit of other writers. One of his good was the Faulkner Foundation that was set up in Charlottesville. It had two
                        purposes: one, to devoting itself to scholarships, to bringing students to the University for&#x2014;who were good&#x2014;good writers;
                        secondly, to award a special plaque and prize for the best first novels of the year. Several such awards were made, the most recent to Mr. John
                        Knowles. Mr. Bornhauser was present&#x2014;was a member of this Faulkner Foundation Committee for the awards of these
                        prize&#x2014;book prizes and attended the Knowles' presentation as well as others.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.5"/>
  <p>Among Faulkner's benefactions to the university, the great collection of manuscripts and books that has been formed in great part by
                        the local collector, Mr. Linton Massey, was greatly amplified. The account of this collection of&#x2014;of Faulkner's works with
                        all&#x2014; with its manuscripts is properly in the hands of Mr. John Wyllie, the librarian.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.6"/>
  <p>This is not really the place for any eloquent remarks except to say that&#x2014;that we all miss Mr. Faulkner greatly here. This
                        little figure strolling through our Grounds with his alpine hat, sometimes his cape, and always a very sporty coat or&#x2014;or vest, with the
                        students speaking to him, coming up into the English office, having his door open as he sat and students would drift by, occasionally coming in
                        to read to him and to hear him talk about their writing, about his own. This is a statement in the name of the Department of English of the
                        University of Virginia: "William Faulkner's death will be felt as a personal loss by every reader in English-speaking countries, as well as in
                        all the nations of the world that know him in translation. He was a magnificently individual writer whose view of life was communicated to
                        readers in terms of personal immediacy. Faulkner felt deeply about the subjects of his narratives, and since he was a born storyteller, he always
                        spoke directly, as to a friend, when he re-created in his books the life that he had observed with admiration for its tenacious struggle and with
                        compassion for its fate. The largeness of his understanding made significant to the reader the great arch of life from outrageous comedy to a
                        tragedy that was Greek in its inevitability. Fittingly, his last book, The Reivers, was his most comic and relaxed in its reminiscences of
                        boyhood and of lost innocence. The Faulkner narrative could never be fully appreciated except from his own lips. The University of Virginia and
                        its Department of English are proud that in his latter years he chose to associate himself with academic life as Balch Lecturer in American
                        Literature. By his public readings and discussions of his books, he brought to students the direct experience of life as his mind and memory had
                        formed it and as his colorful Mississippi speech gave it vigor and reality."</p>
</div>
<div class="section">
  <a name="wfaudioUVA.7"/>
  <p>Dr. Bowers, I think you say&#x2014;stated or one of you gentlemen stated that Mr. Faulkner didn't particularly care to discuss
                        literature at any time in more-or-less of a social atmosphere. What was his favorite topic of discussion at that time?</p>
</div>
<div class="section">
  <a name="wfaudioUVA.8"/>
  <p>Dr. Bowers, you mentioned that&#x2014;you pointed out that Mr. Faulkner was a little hesitant in speaking before audiences. Was he
                        by nature a shy man or did he ever give any explanation for not appearing to want to appear before audiences?</p>
</div>
<div class="section">
  <a name="wfaudioUVA.9"/>
  <p>The breadth of some of his interest, I think, is&#x2014;could be shown by his conversations with Mr. Colvert about airplanes. I
                        just want to throw in a special question you might want to ask because I think it's unusual&#x2014;ask what he talked to you about.</p>
</div>
<div class="section">
  <a name="wfaudioUVA.10"/>
  <p>What was his feeling about the community of Charlottesville in itself, Sto&#x2014;Stovall?</p>
</div>
<div class="section">
  <a name="wfaudioUVA.11"/>
  <p>Did he ever express specifically a philosophy of life?</p>
</div>
