<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio26_1_2.1">Spliced clip</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 2 May 1958</h3>
  <h3>OCCASION: Undergraduate Class in Contemporary American Literature,
                    Undergraduate Class in Writing, Graduate Class in American Fiction</h3>
  <h3>This clip was created by splicing the end of T-143a and the beginning of T-143b together.</h3>
</div>
<div id="body">
  <a name="wfaudio26_1_2.1"/>
  <p><strong>William Faulkner:</strong> Yes, sir.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Did Quentin, before, actually have a conversation with his father about
                        sleeping with his sister? Or was that part of his ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He never did. He said, "If I were brave I would&#x2014;I&#x2014;I
                        might say this to my father, whether it was a lie or not." Or&#x2014;or, "If
                        I were&#x2014;if I would say this to my father, maybe he could answer me back
                        the magic word which would relieve me of this anguish and agony which I live
                        with." No, they were imaginary. He just said "Suppose I say this to my father.
                        Would it help me? Would it clarify? Would I see clearer
                        what it is that I anguish over?"</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>The feeling between him and his sister is pretty strong, though,
                        <span class="unclear tooltip" title="Text was unclear">[isn't it]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, yes. But in Caddy's opinion he was&#x2014;was such a&#x2014;a
                        weakling that even if they had been no kin, she would never had chosen him for
                        her sweetheart. She would have chosen one like the&#x2014;the ex-soldier she
                        did, but never anybody like Quentin.</p>
  <hr/>
</div>

        
