
            <div id="side_nav"><ul><li><a href="#wfaudio20_1_2.1" class="hidden">Spliced clip</a></li></ul></div><div id="header">
<h3>DATE: 20 February 1958</h3>
<h3>OCCASION: The Raven, Jefferson and Omicron Delta Kappa Societies</h3>
<h3>This clip was created by splicing the end of T-140begins and the beginning of T-140ends together.</h3>
<script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio20_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit');
		      }
		      catch (e) {
			     //document.write(e);
			  }</script><hr>
</div><div id="body">
<a name="wfaudio20_1_2.1">&nbsp;</a><script language="JavaScript" type="text/javascript">
			try {
				QT_WriteOBJECT(
				'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio20_1_2clip.mp4', '300', ' 16', '',
				'autoplay', 'false',
				'scale', 'tofit',
				'starttime','00:00:00.32:00',
				'endtime','00:01:55.55:00');
		}
		catch (e) {
			//document.write(e);
		}</script><p><strong>William Faulkner: </strong>Yes, sir.</p>
<p><strong>Unidentified participant: </strong>Mr. Faulkner, it seems that the need by the early first colonies, the
					need for an agrarian society to have labor, gave birth to this great problem,
					and it also seems that the continual effort and attempt to maintain the society
					even after 1865 has prolonged and added to the problem. Do you think, and this
					is my question, that the advent of industry in the South, the industrialization
					of the South, and the possible eventual destruction of the
				    remaining&mdash;of the agrarian&mdash;agrarian society will have any
                    effect upon this problem?</p>
<p><strong>William Faulkner: </strong>It will in that, I think, the agrarian culture was the only culture the
                    white man went to much trouble to&mdash;to train the Negro in. As that
                    vanishes, the Negro becomes more and more of a problem. When that's completely
                    gone, he will be still more and more of a problem, and for that reason
                    the white man will have to do something to&mdash;to substitute that agrarian
                    economy, which took care of the Negro. I&mdash;I mean by&mdash;by "took
                    care," which assimilated the Negro. The Negro had a&mdash;a definite place
                    in that economy. Now the only contact the Negro has with the white man's culture
                    is the time-payment icebox and&mdash;and the automobile that he'll own some
                    day, if he don't tear it up before he finishes paying for it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but there's no other contact with the white man's
                    culture that the Negro has since he was&mdash;since he left the agrarian
                    economy of slavery.
                </p>
<hr>
</div>

