
			<section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 27 April 1957</h4>
<h4>OCCASION: Blotner's Novel and Gwynn's American Fiction Classes</h4>
<h4>TAPE: T-117</h4>
<h4>LENGTH: 14:40</h4>
<div class="audio play-all">
        				Play entire recording
            			<script language="JavaScript" type="text/javascript">
							try {
								QT_WriteOBJECT(
								'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
								'autoplay', 'false',
								'scale', 'tofit');
						      }
						      catch (e) {
							     //document.write(e);
							  }
            			</script>
</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio09_2.1">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:00.00:00',
					'endtime','00:00:11.29:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>  memory of the old miracle plays,
						the morality plays in early English literature, Chaucer.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.2">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:21.18:00',
					'endtime','00:01:37.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Sir, are you conscious of any similarity between Thomas Sutpen and
						Flem Snopes? They are&mdash;I don't suppose there's any comedy in <em>Absalom</em> anywhere, and there's a great deal, of
						course, in <em>The Hamlet</em> and <em>The
							Town</em>, but both of them are&mdash;have a grand design and are unscrupulous
						about getting it&mdash;and they use people.</p>
<p><div class="speaker">William Faulkner</div>Well, only Sutpen had a grand design. Snopes's design was pretty
						base. He just wanted to&mdash;to get rich. He didn't care how. Sutpen wanted to
						get rich only incidentally. He wanted to take revenge for all the&mdash;the
						redneck people against the&mdash;the aristocrat who told him to go around to the
						back door. He wanted to show that he could establish a dynasty, too. He
						could make himself a king and raise a&mdash;a&mdash;a line of princes.</p>
<p><div class="speaker">Frederick Gwynn</div>It seems as if Flem had something of the same thing in mind. He wants
						respectability even more than money, doesn't he?</p>
<p><div class="speaker">William Faulkner</div>No, no, he only found out when he thought it was almost too late
						that he'd have to have respectability. He didn't want it until he found out
						he had to have it. He would have done without it if he could, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> but he suddenly had to have it. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.3">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:40.37:00',
					'endtime','00:02:02.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>In this democracy of ours, is not money an assumed respectability
						regardless of conduct?</p>
<p><div class="speaker">William Faulkner</div>Not always. I imagine a man like Dave Beck ain't
						very interested in respectability. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> He
						don't symbolize respectability, but he's got a lot of money.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.4">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:14.09:00',
					'endtime','00:03:08.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>This callous attitude of Sutpen and Flem Snopes, this ability to use
						people without realizing they're people, <span class="unclear tooltip" title="Text was unclear">[sort of]</span>
						dehumanizing them, it seems to progress and get worse as they go from the
						country into towns and cities. Is that&mdash;is that a definite&mdash;is that a
						conscious thing?</p>
<p><div class="speaker">William Faulkner</div>It didn't get worse because they came into cities. They had to come
						into cities to find more people to use. But it&mdash;it got worse because of the
						contempt which&mdash;which the ability to use people develops in anyone. There are
						very few people that have&mdash;have enough grandeur of soul to be able to use
						people and not develop contempt for. And that&mdash;the contempt for people
						came not because they moved to the city, but out of success. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.5">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:16.33:00',
					'endtime','00:04:11.09:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>When did you think of the title of <em>Light in August</em>
						for your book? Was it after you had written the story,
						and&mdash;and what is it <span class="unclear tooltip" title="Text was unclear">[exactly]</span>
						?</p>
<p><div class="speaker">William Faulkner</div>To me, to a&mdash;to people in my country, that is a&mdash;a&mdash;a pleasant,
						evocative sentence. There's a&mdash;a certain quality that for a little while in
						the month of August light has, that it has at no other time. There's a&mdash;a&mdash;a&mdash;a
						luminosity in which something pagan might live and flourish just for a few
						days. That's all it meant. It was just a nice, pleasant, evocative sentence
						to me. It really has little to do with the book. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.6">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:15.04:00',
					'endtime','00:05:29.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I have two questions. One of them relates to this idea of money.
						Wouldn't you say that the gentleman is confusing the traditions of the North
						with the traditions of the South? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> The
						South, the Old South, is best pictured in the ideals in the story "A Rose
						for Emily," where the old woman gets along without the money and keeps up
						the family traditions. Don't you think that there would be a distinction as
						far as the respectability in this?</p>
<p><div class="speaker">William Faulkner</div>Yes, there is. In the South respectability has a little connection
						with money. Money don't hurt the respectability, but the respectability
						don't need the money in the South. You're quite right.</p>
<p><div class="speaker">Unidentified participant</div>Wouldn't this be shown in <em>The Sound and the
							Fury</em>, too? Jason would be trying to get money, whereas the rest of
						the family, they don't care, and the Negroes really regard them as
						respectable people.</p>
<p><div class="speaker">William Faulkner</div>That's right, yes.</p>
<p><div class="speaker">Unidentified participant</div>They regard Jason as white trash.</p>
<p><div class="speaker">William Faulkner</div>Yes, that's right.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.7">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:29.96:00',
					'endtime','00:07:01.36:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>And I would like to ask you on this business of the Old South and the
						New South, in "The Bear," where the young boy returns as a man and sees the
						forest cut down, I would like to know, do you like the Old South or the New
						South better? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Well, the New South has got too many people in it, and it is
						changing the country too much. It' has&mdash;it&mdash;it gets rid of&mdash;of the&mdash;the
						part of Mississippi that I liked when I was&mdash;when I was young, which was the
						forest. Though it's foolish to&mdash;to be against progress because everyone is a
						part of progress, and he'll have no other chance except this one, so he&mdash;it's
						silly not to&mdash;to cope with it, to compromise with it, cope with it. Probably
						anyone remembers with something of nostalgia the&mdash;his young years. He forgets
						the&mdash;the unpleasant, the unhappy things that happened, he remembers only the
						nice things, and so maybe the northerner feels the same way about the Old
						North and the New North that the southerner feels about the Old South and
						the New South. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.8">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:02.77:00',
					'endtime','00:08:08.01:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, about this New South, this last Supreme Court school decision
						has made all the states around here go through quite a bit of gyrations,
						plotting and planning things, but <span class="unclear tooltip" title="Text was unclear">[very little is]</span> heard
						about or seen in the newspapers about what Mississippi, for instance, plans
						to do about it, or what is being done, or what they're thinking. I was
						wondering whether you could 
						<span class="unclear tooltip" title="Text was unclear">[give some light on that]</span>?</p>
<p><div class="speaker">William Faulkner</div>Well, Mississippi is pretty well on record about what they think
						and&mdash;and what they're going to do. They have proved it two or three times,
						and that will be the&mdash;the last stronghold of&mdash;of the obsolescence which
						insists that a minority of seventeen million people still must be second
						rate, second class citizens. We will be the ones that will hold onto that after
						everybody else has realized that it just don't work any longer. We will
						still believe that it can be made somehow to work. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.9">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:12.69:00',
					'endtime','00:10:31.20:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, <span class="unclear tooltip" title="Text was unclear">[in]</span> part answer to the gentleman's
						question, I think in a recent <em>Life</em> magazine, there
						was an article about your governor. It was citing the progress being made in
						Mississippi as&mdash;as far as the schools were concerned, how the governor will,
						just as you said, he will stand by segregation until his last dying breath,
						but he will do all that he can to improve the colored
							schools.</p>
<p><div class="speaker">William Faulkner</div>This one is a better man than anybody in Mississippi expected. I
						imagine if they had known his true sentiments, they would never have elected
						him in Mississippi. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And he is&mdash;I have had
						some correspondence with him since he was elected, and every now and then he
						sends me copies of letters he writes to his legislature, and every now and
						then he quotes me, things that I have said on the subject of segregation.
						And he is someone that&mdash;that realizes, that sees that&mdash;that this is an
						obsolescence that simply ain't going to work any longer. Something must be
						done about it. But he has got to represent his state, too, and he cannot
						come out for a sudden abolishment of segregation, but he knows that
						something must be done, and he thinks that&mdash;that, as a lot of people in
						Mississippi do, that&mdash;that all the Negro wants is equality, is educational,
						economic equality, that he don't want to mix with white people any more than
						white people want to mix with him, and the governor says that if he has
						decent schools, as good schools as he could get anywhere, if he has&mdash;has the
						right to go where he wants to into white churches, if he wants to go there,
						into the white stores as he can do, that that will solve the question. As
						someone has said, apparently the difficulty is the Mississippian don't want
						the&mdash;the Negro to sit down with him. They can stand up, that's alright. They
						can ride in the same elevator, but they can't sit in the same church. Maybe
						if everybody stood up in church, the Negro could come in, too. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.10">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:32.88:00',
					'endtime','00:12:02.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>In your book <em>As I Lay Dying</em>, do 
						you&mdash;you feel that you strayed from your main mission of writing, that is, the
						writing of people, since what I feel is the main character in that, the
						dead grandmother, who suffered the majority of the pain and the&mdash;the torment
						in having her face have auger holes bored in it and floating down the creek
						in a coffin and eventually burning the barn. She&mdash;she, being dead, could feel
						none of this torment, and I just wondered if that was sort of an aside from
						your main mission in writing about people, since she being dead is no longer
						a person.</p>
<p><div class="speaker">William Faulkner</div>No, I don't think so. I was writing about people. I took a&mdash;a family
						of&mdash;of the people that I know well. I don't mean that I&mdash;that the Bundrens
						actually live in Mississippi, but their&mdash;their kind live there. That was <em>tour
						de force</em>. I simply took this group of&mdash;of country people and subjected them
							to the two great catastrophes, flood and fire. That was simple <em>tour de
						force</em>. I wrote that in about six weeks without changing a word, because I
						knew from the beginning where that book was going, because that, in a way,
						did have a plot. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.11">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:04.52:00',
					'endtime','00:13:02.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>Sir, did Joyce's <em>Ulysses&mdash;Ulysses</em> have any
						affect on <em>Light in August</em>?</p>
<p><div class="speaker">William Faulkner</div>It has probably had influence on everything I ever wrote, just like
						everything else I ever read has, from the telephone directory up and down.
							<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I think that everything the writer
						reads influences his work, that he is completely amoral, he has no hesitancy
						whatever about taking what he wants from any source he wants, because he
						knows that anyone after him is welcome to use anything that he has
						discovered or invented. But I don't believe the writer has time to say,
						"Now, I'm going to write a book and let Joyce influence it," or "I'm going
						to write a book and let Flaubert influence it." He is simply writing about
						people, and he uses&mdash;he reaches back in his lumber room and gets whatever
						plank fits the <span class="unclear tooltip" title="Text was unclear">[corner]</span>. </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.12">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:06.85:00',
					'endtime','00:14:20.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>I just wanted to say that the theory of parallel cases in evolution,
						of two plants at the opposite ends of the country developing in the same way,
						and I don't see why it couldn't happen in the writer's experience, that 
						it was&mdash;that certain devices were the same, shouldn't necessarily mean that perhaps one was
						influenced by the other,  to be able to develop from the writer
						in parallel cases <span class="unclear tooltip" title="Text was unclear">[with]</span> perhaps no communication, and I
						wondered if&mdash;is that's the case in <em>Light in August</em>, ?
&mdash;?</p>
<p><div class="speaker">William Faulkner</div>It&mdash;it could well be because there are only a limited number of
						stories to tell and only a limited number of ways in which to tell them, so
						that's something that the writer couldn't answer either, whether that
						was&mdash;was some form of osmosis, or whether it was an actual cribbing from what
						he had read, or whether two impulses did develop for&mdash;at&mdash;at poles apart.
						He&mdash;it's impossible to say.  Though I agree with your theory, that that's very
						possible, that it could be done, because there're so few stories to tell, so
						few methods to tell them in.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio09_2.13">&nbsp;</a><div class="audio play-clip">
			Play section
	    	<script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio09_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:25.59:00',
					'endtime','00:14:38.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Gwynn: Mr. Faulkner, we're all very grateful to you for coming down
						and answering our questions at this point. Thank you, sir.</p>
<p><div class="speaker">William Faulkner</div>Thank you. <span class="event tooltip" title="There was some applause happening">[applause]</span>
						<span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="post" action="/transcripts/search">
<input type="text" size="30" name="q[text]" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio09_2.1" class="hidden">Naming Characters</a></li>
<li><a href="#wfaudio09_2.2" class="hidden">Sutpen and Snopes</a></li>
<li><a href="#wfaudio09_2.3" class="hidden">Money v Respectability</a></li>
<li><a href="#wfaudio09_2.4" class="hidden">Country to City</a></li>
<li><a href="#wfaudio09_2.5" class="hidden">Light in August's Title</a></li>
<li><a href="#wfaudio09_2.6" class="hidden">Respectability, North v South</a></li>
<li><a href="#wfaudio09_2.7" class="hidden">Old v New South</a></li>
<li><a href="#wfaudio09_2.8" class="hidden">Integration Efforts</a></li>
<li><a href="#wfaudio09_2.9" class="hidden">Mississippi's Governor</a></li>
<li><a href="#wfaudio09_2.10" class="hidden">Writing about Dead People</a></li>
<li><a href="#wfaudio09_2.11" class="hidden">Joyce's Ulysses</a></li>
<li><a href="#wfaudio09_2.12" class="hidden">Influence v Simultaneity</a></li>
<li><a href="#wfaudio09_2.13" class="hidden">Close</a></li>
</ul></aside>
		
