
            <script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio19_2.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 5 June 1957</h4>
<h4>OCCASION: Local Public and University Community</h4>
<h4>TAPE: T-139</h4>
<h4>LENGTH: 27:36</h4>
<div class="audio play-all" id="event1">
        				Play entire recording
        			</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio19_2.1">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:06.87:00',
					'endtime','00:00:58.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div> happen among people, and if anything can happen to&mdash;to
                    improve man's condition and get rid of his bother and trouble, it will be for
                    amateur to meet amateur, not for professional to meet professional, but for
                    amateur to meet amateur, and if I do have the amateur quality that
                    people in Charlottesville have&mdash;have&mdash;have felt and been in
                    sympathy with, then&mdash;then my time here has been more than just happy,
                    it's been worthwhile, too. I imagine that&mdash;that there could be circles,
                    conditions in which the Writer-In-Residence would have to be a literary man,
                    but&mdash;but I'm not a literary man, and&mdash;and I'm happy to know
                    that&mdash;that in Charlottesville, at least, I've been forgiven for that.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>
                    </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.2">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:01.14:00',
					'endtime','00:02:24.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>How much of yourself do you include in your characters? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Well, I consider that I'm in the public domain, just like you and Mr.
                    Gwynn and anybody else that I meet, but I'm still convinced that I can make a
                    much better job of Faulkner than God made of Faulkner, so I will&mdash;if I
                    were writing my own biography very likely I couldn't possibly tell the truth
                    about it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Actually, the writer has got to
                    write from experience, observation, imagination, and&mdash;and imagination
                    and observation are bound to be colored just a little by experience, so actually
                    any artist is simply recounting time after time his own biography or his own
                    history or his own reaction to the human condition, which is&mdash;which is
                    universal to all men.  But his is a&mdash;what he thinks is a particular ache
                    and anguish, which to him, anyway, is important enough to put into the music or
                    the picture or into the poem.  But he must write from what he knows, and all he
                    knows is just a little of himself because he will die not knowing too much
                    about himself, but he would certainly know very little about anything
                        else.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.3">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:02:27.53:00',
					'endtime','00:02:58.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Your demon sounds relentless. Is there any hope for anyone learning to
                    write if they have a part-time demon? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Well, I think that&mdash;that there's a&mdash;a limitless supply
                    of demons just like germs that hang around maybe just looking for lodgment in
                    anyone that shows any aptitude for ink. That it's&mdash;that's&mdash;as
                    I said, it's a vice, and it's a virulent sort of vice, too. If you ain't
                    careful, it'll get you.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.4">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:09.73:00',
					'endtime','00:04:01.98:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>You've often talked about the <span class="unclear tooltip" title="Text was unclear">[effort to convey]</span> condition of man, do you
                        think that this can be achieved in comedy?</p>
<p><div class="speaker">William Faulkner</div>Oh, yes, certainly, because so much of man's condition is comedy. It's
                    difficult to say just where comedy stops and tragedy begins. His condition is
                    his eternal struggle with himself, with his fellows, and with his environment,
                    and that takes the form of&mdash;of&mdash;of comic or tragic situations,
                    and the comic situations show the tragedy of his&mdash;his constant,
                    indomitable striving with his own heart, the heart of mankind, or the condition
                    in which mankind has to function, so one is just as valid as
                    the other, just as important, and who can say just where one stops and the other
                    starts?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.5">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:04:03.23:00',
					'endtime','00:05:32.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, <span class="unclear tooltip" title="Text was unclear">[isn't it]</span> rather unusual for a man to write his
                        first book <span class="unclear tooltip" title="Text was unclear">[setting in full-blown and starting]</span> that way rather than an outline, maybe a first
                        chapter&mdash;a whole book for the first time. Is that what's usually done?</p>
<p><div class="speaker">William Faulkner</div>Well, it's probably a little unusual for a&mdash;a 
                    reasonably prospering young bootlegger to meet a writer like Sherwood Anderson.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That don't happen to everybody, you know.
                        <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, how old were you then?</p>
<p><div class="speaker">William Faulkner</div>Twenty-two, twenty-three. That was in the early '20s after the old
                    war.</p>
<p><div class="speaker">Unidentified participant</div>Did he advise you on your writing? Did he criticize you?</p>
<p><div class="speaker">William Faulkner</div>No'm, he wouldn't even read it. That was the trade he made. 
                     He would never read it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Unidentified participant</div>Did he talk about writing to you at all, about your work?</p>
<p><div class="speaker">William Faulkner</div>No'm, we talked about people. Rather, he talked, and I listened. He was
                    telling me the fantastic stories, which later he would probably write, but I
                    couldn't believe any of it, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because I knew he
                    was a writer. He talked, and I listened, but it was not about books because
                    neither one of us were literary people, because we were not really interested in
                    literature and books. We were interested in people and the comic and tragic
                    ephemera of man's condition, interested in laughing, maybe.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.6">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:05:34.61:00',
					'endtime','00:06:45.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you feel that a writer might be hampered by a college
                    education? Keep him from creating the characters &mdash;</p>
<p><div class="speaker">William Faulkner</div>No, sir, I do not. I think that a college education is not going to
                    hamper anyone. I think that a lot of people are subject to it that don't deserve
                    it and can do nothing with it, but it's not going to hamper anyone. I think
                    that&mdash;that the college education will save the writer a great deal
                    of&mdash;of&mdash;of trouble, which he would have to go to in simply
                    learning about man, about the&mdash;the history, the record, the history of
                    man, that is available to him in the university, which otherwise he has got to
                    get out and dig for himself, and I'm sorry that I didn't have a&mdash;a
                    college education myself. I think that if you have the demon you're going
                    to&mdash;to write anyway. Nothing is going to stop you, and it may be you
                    don't want things too easy. But I never heard of anyone that was hurt by a
                    college education, and any writer that says, "I would have been a good writer
                    except"&mdash;I put no stock in that because I believe that the "mute,
                    inglorious Milton" is a complete myth.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.7">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:51.20:00',
					'endtime','00:08:04.07:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, in spite of what happens to General Compson and Colonel
                    Sutpen and Colonel Sartoris, there seems to be a heroic quality about them. Do
                    you think that it is still possible for that kind of heroism in the time of
                    which the story in <em>The Town</em> is set?</p>
<p><div class="speaker">William Faulkner</div>Yes, I think that&mdash;that although man is not always matched with
                    his finest hour, I'm convinced that&mdash;that the hour, the need finds the
                    men it&mdash;it requires. That the men like&mdash;like Compson and
                    Sutpen who&mdash;who had the&mdash;the desire to&mdash;to be heroic,
                    they failed through&mdash;through lack of character or absence of things in
                    their character which should not have been there, but at least they tried. But
                    I'm convinced that the hour will find the men it needs. Though the tragedy is
                    the man who didn't find his hour, didn't find his chance to&mdash;to be what
                    he could have been and might have been.  He's tragic.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.8">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:09.62:00',
					'endtime','00:08:49.66:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>What effect, if any, have the opinions of literary critics had
                        on your writing?</p>
<p><div class="speaker">William Faulkner</div>None. I don't read critics. I imagine that most writers don't. They're
                    too busy. That is, the book the writer just finished ain't good enough. He knows
                    that before he's finished it, and so he's forgot about that book. He's going to
                    try one next that will be, and so since it&mdash;it didn't meet with his
                    approval, he don't care what anybody else's opinion of it is. And, in my own
                    case, I like to read, but I ain't going to read what anybody thinks about
                    somebody else's ideas. I'd rather read about people.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.9">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:08:49.67:00',
					'endtime','00:10:52.80:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Have you ever received any rejection slips, Mr. Faulkner? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">William Faulkner</div>Yes'm, for the first few years when I'd try to write short stories, I
                    got plenty of rejection slips.</p>
<p><div class="speaker">Unidentified participant</div>How did it affect you? Or did it?</p>
<p><div class="speaker">William Faulkner</div>Well, I would&mdash;I would be frustrated and&mdash;and
                    enraged in the time when I hoped I could get a little money for it, but if I
                    didn't need money at that time, it didn't make much difference. I sent it
                    somewhere else, or&mdash;or I was busy still writing another one. I'd
                    probably&mdash;that's&mdash;</p>
<p><div class="speaker">Unidentified participant</div>I've heard it's had a very depressive affect on many writers.</p>
<p><div class="speaker">William Faulkner</div>It&mdash;it could on a young writer, yes. I think
                    that&mdash;that the young writer maybe doesn't always know or doesn't always
                    have time to decide exactly why he writes.  Under the pressure of&mdash;of
                    our&mdash;our culture, the only measure for his writing is whether people
                    buy it, whether it's in the magazines or not, and he accepts that, and it gives
                    him a lot of bother and trouble, until he gets along a little and realizes
                    that's not at all why one writes, that the reason one writes is from the full
                    knowledge of death that we all have.  He knows that some day he will pass into
                    oblivion. He has seen something so&mdash;so moving, so
                    beautiful, so aching in the human condition that he wants to write about it, and
                    what he is&mdash;is actually doing is to make a scratch on that
                    wall.  Before he passes through the last wall into nothingness, he will
                    leave on that wall "Kilroy was here." Not for glory, not for money, just to
                    say "I was here for a little while. I did this. I made something that wasn't here
                    before." That's probably the reason he sticks at it, why he's not discouraged by
                    a rejection slip.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.10">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:53.10:00',
					'endtime','00:11:14.37:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, what became of those stories that were rejected in the
                    first few years you were writing? Did you just abandon them?</p>
<p><div class="speaker">William Faulkner</div>No, I kept them. I kept them, and after a while the folks that rejected
                    them bought them.  They bought them. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.11">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:19.02:00',
					'endtime','00:12:13.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Frederick Gwynn</div>Mr. Faulkner?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Frederick Gwynn</div>This demon that follows you, could it be described as one that insists on
                    your writing a certain story, one story, or is it one that suggests lots of
                    different stories, and you'll have to use your rational mind and select?</p>
<p><div class="speaker">William Faulkner</div>No, it's the sort of demon that is like the mosquito that won't let you
                    sleep. You want to say, "Oh, go away, let's&mdash;let's be quiet a while.
                    What's the use in going to all this bother and trouble just to write books and
                    stories?" But it won't let you sleep. It's not that it says, "You must tell this
                    story." It's just that it won't let you alone. That it keeps on whispering to
                    you, "If you wake up, this is a lot of fun. Come on. Wake up and try it now."</p>
<p><div class="speaker">Unidentified participant</div>The demon doesn't really care which story you write, then&mdash;</p>
<p><div class="speaker">William Faulkner</div>No'm, I think it's just against repose more than in favor of
                    anything.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.12">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:18.00:00',
					'endtime','00:12:40.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you see any faces as you describe characters? Do you see a physical
                    person as you write?</p>
<p><div class="speaker">William Faulkner</div>Yes, yes, I don't always hear a name, but I always see a&mdash;a
                    physical face, a body, mannerisms, and quite often they name themselves, but not
                    always.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.13">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:12:40.11:00',
					'endtime','00:13:26.21:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>So where did you get your names?</p>
<p><div class="speaker">William Faulkner</div>The&mdash;the characters usually name themselves, or the situation
                    names the characters. I've never had to hunt around and say, "Now, let's see,
                    what shall I call Smith this time?" That he has said, "This is who I am, and this
                    is what I'm going to be called."</p>
<p><div class="speaker">Unidentified participant</div>Have you usually known people with these names?</p>
<p><div class="speaker">William Faulkner</div>No, I try not to use a name I've ever heard because once you do it, two
                    days later, you get a letter saying, "Dear Sir, I have just turned this matter
                    over to my lawyer. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> How much
                        money <span class="unclear tooltip" title="Text was unclear">[do you have]</span>?"&mdash;<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> And so any writer is awful
                    careful not to put down any name he ever heard or&mdash;or to describe any
                    incident he ever actually saw.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.14">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:30.40:00',
					'endtime','00:15:35.31:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I read that you admired Mr. Wolfe&mdash;Thomas Wolfe's
                    work very much. Just what about it, what&mdash;what do you admire about his
                    work?</p>
<p><div class="speaker">William Faulkner</div>Now, that was an unfortunate remark I made. It was a group of students.
                         They asked me what I thought about my
                    contemporaries. I said, "It's too soon to say. We're not done writing." This was,
                    oh, twenty&mdash;twenty, thirty years ago. They said, "Well, don't you have
                    any opinion of them at all?" I said, "Opinion of who?" He named Wolfe, Caldwell,
                    Hemingway, Dos Passos. And I said, "Well, I think we all failed, so I'll have to
                    rate us on what I consider the splendor of our failure, and so this is the way I
                    would rate us," and ever since that I've been trying to explain that or live it
                    down. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But that's all it was. To tell the
                    truth, I haven't read much of Wolfe. I've read one or two of his stories. I've
                    opened his books and read pages or paragraphs, but that was&mdash;was an
                    opinion on the&mdash;the tremendous effort that he had gone into to try to
                    put all of&mdash;of the history of the human heart on the head of the pin.
                    That is, to tell it all in each paragraph until he died, as though he had
                    a&mdash;a premonition of his own early death. That was what I meant
                    by&mdash;by the failure. That he failed the best because he had tried the
                    hardest, he had&mdash;had taken the longest gambles, taken the longest
                    shots. I rated Hemingway last not on the value of&mdash;of the product at
                    all, but simply because of&mdash;of Hemingway having taught himself a
                    pattern, a method which he could use, and he stuck to that without splashing
                    around to try to experiment. It had nothing to do with the value of the work at
                    all. It was simply on the degree of the&mdash;of the attempt to reach the
                    unattainable dream, to&mdash;to accomplish more than any flesh and blood man
                    could accomplish, could touch.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.15">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:15:46.51:00',
					'endtime','00:17:08.63:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, I understand that in writing <em>The Sound
                        and the Fury</em>, you meant for the first part, Benjy's story, to be the book
                    and then you went then on afterwards to add three more parts. What prompted you
                    to do that? Did you feel the need to go on and explain &mdash; ?</p>
<p><div class="speaker">William Faulkner</div>It was to be a short story. It was those three children who had been
                    forbidden to come into the house that afternoon, for what reason they didn't
                    know. They only knew dimly that&mdash;that grandmama had been sick, and
                    they didn't know that they'd been forbidden to come in the house because of the
                    funeral, and they were curious enough to climb up to see why they couldn't go
                    into the parlor that they had been forbidden to enter. I thought it would be a
                    short story of ten pages maybe. It got longer and longer, and then I began to
                    know more and more about the people in it, and I finished the first section, and
                    that wasn't right.  So I wrote another section. I let somebody else try it. That
                    wasn't right. I let another brother try it. That still wasn't right. I tried it
                    once myself, and that still wasn't right. It still is not&mdash;not good
                    enough to suit me. It's still not the book that I'm convinced if I hadn't
                    written it and could start again tomorrow, I would write it better. Probably
                    wouldn't, but I'm convinced of that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.16">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:17:16.23:00',
					'endtime','00:19:55.19:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div>I'd like to ask you about  two incidents in <em>The
                        Sound and the Fury</em>, which I didn't&mdash;I didn't&mdash;I
                    wasn't able to&mdash;to relate to the rest of the story, but I thought they
                    were&mdash;the fact that you threw them in was interesting.  And one
                    was&mdash;well, I haven't read this for a while, and you&mdash;you say you haven't
                    either. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> One was about something to do
                    with&mdash;with a broken leg, as I recall. And another was a description of
                    an operation which took place in the woods, as I remember, with a razor blade.
                    And I'd like for you to&mdash;to try to help me understand just how these fit in with the
                    rest of the book and what they had to do with the story as  you recall.</p>
<p><div class="speaker">William Faulkner</div>I don't remember about the operation with the razor blade in the woods,
                    though without doubt it&mdash;it referred to&mdash;to&mdash;to the
                    castration of the idiot child. After he had tried to molest a little girl, they
                    had to do something about him, so he was castrated, and if the operation in the
                    woods had any application, and I can't remember now, it was probably something
                    out of the older brother's garbled, half-mad history and background, which he
                    had used as a&mdash;as a&mdash;as a transference. The&mdash;the
                    brutality of it as a transference onto this shameful thing which&mdash;which
                    his idiot brother had had to suffer. The&mdash;the broken bone&mdash;I
                    don't remember&mdash;but I'm&mdash;I'm&mdash;I worked so hard at
                    that book that I doubt if there's anything in it that&mdash;that didn't
                    belong there. I would have to look at the book again to&mdash;</p>
<p><div class="speaker">Frederick Gwynn</div>That's <em>As I Lay Dying</em>,
                    <span class="unclear tooltip" title="Text was unclear">[isn't it?]</span> Cash's broken leg?</p>
<p><div class="speaker">William Faulkner</div>Oh, well, yes, that was to&mdash;to show
                    the&mdash;the&mdash;the ignorance of these people in trying to repair
                    that&mdash;that broken bone with cement in order to make this completely
                    foolish hegira with that decaying body, which they were
                    doing, which was in its own way heroic because they had promised that woman that
                    they would take her back to&mdash;to her people to bury her, and so they
                    went through fire and flood and all possible natural catastrophes
                    to&mdash;to do this thing, which didn't need to be done at all, but they had
                    promised to do it, so they did.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.17">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:55.01:00',
					'endtime','00:21:17.30:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, did&mdash;when you wrote either <em>The Sound and the Fury</em> and&mdash;or
                        <em>As I Lay Dying</em>, did you&mdash;were you conscious
                    of&mdash;of making the characters, the brothers and sisters and their
                    relationships, somewhat similar? I mean, would you think back, as
                        you&mdash;as you recall&mdash;that it seems to me that there's a certain type of
                    family relationship in each of the families, which&mdash;I
                        wouldn't&mdash;I don't know which one of the books you wrote first&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, yes, probably there is, due to the fact that in each one of them,
                    there was a sister surrounded by a&mdash;a gang of brothers.
                        The one, <em>As I Lay Dying</em>, was <em>tour de 
                            force</em>. I knew when I put down the first word what
                    the last word of that would be. The other was anything but <em>tour 
                        de force</em>. I was completely submerged in the other one.
                    I&mdash;I struggled and anguished with it for a year. This is&mdash;<em>As I Lay Dying</em> I 
                    wrote in about six weeks without
                    changing any of it. If there is any relationship, it's probably simply because
                    both of them happened to&mdash;to have a sister in a&mdash;a roaring
                    gang of men folks.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.18">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.18">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:24.94:00',
					'endtime','00:22:51.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you spoke about <em>The Sound and the
                        Fury</em> as starting out to write a short story, and it kept growing. Well,
                    now, do you think that it's easier to write a novel than a short story?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir, you can be more careless. You can put more trash in it and be
                    excused for it than a short story&mdash;that's next to the poem. Almost
                    every word has got to be almost exactly right. In the novel you can be careless,
                    but in the short story you can't. I mean by that the good short stories like
                    Chekhov wrote. That's why I rate that second&mdash;it's because
                    it's&mdash;it demands a nearer absolute exactitude. You have less room to be
                    slovenly and careless. There's less room in it for trash. In poetry, of course,
                    there's no room at all for trash. It's got to be absolutely impeccable,
                    absolutely perfect.</p>
<p><div class="speaker">Unidentified participant</div>It's more like playwriting then?</p>
<p><div class="speaker">William Faulkner</div>Yes'm, that's right.</p>
<p><div class="speaker">Unidentified participant</div>
                    
                </p>
<p><div class="speaker">William Faulkner</div>That's right. That's right. Of course, playwriting has one more demand,
                    that you're&mdash;you're not going to keep your audience that long. With a
                    book you can read that a while and put it down and then go back and read it, but
                    if it's a play you can't. If you don't use up your ticket tonight, you've got to
                    buy another ticket.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.19">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.19">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:22:52.00:00',
					'endtime','00:23:52.48:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, sir.</p>
<p><div class="speaker">Unidentified participant</div> Mr. Faulkner, would you care&mdash;I&mdash;I think you've made us understand
                    your feeling that a writer is never satisfied with his work, but would you care
                    to suggest which one of your works, or one or two of your works that you
                    consider&mdash;that are your own favorites?</p>
<p><div class="speaker">William Faulkner</div>Well, that goes back to&mdash;to the old standard of failure. The
                    one that's the dearest to me is the one that&mdash;that caused me the most
                    anguish and trouble, just like the&mdash;the idiot child is&mdash;is
                    the&mdash;the dearest to the&mdash;to the parent, and that's <em>The Sound and the Fury</em>. That's the one I worked at the
                    hardest, made the most splendid and to me the most beautiful failure, so that's
                    the one that I love. The others didn't cause that much trouble. That is,
                    I&mdash;I&mdash;I found out sooner that I couldn't make them perfect and
                    was willing to quit. With <em>The Sound and the Fury</em>, it took
                    me a long time to realize I couldn't make it good enough to suit me before I'd
                    give it up.
                </p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.20">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.20">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:23:54.31:00',
					'endtime','00:24:33.24:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Yes, ma'am.</p>
<p><div class="speaker">Unidentified participant</div>Do you <span class="unclear tooltip" title="Text was unclear">[like to]</span> read modern works and if so, how do you
                    choose the ones that you like to read?</p>
<p><div class="speaker">William Faulkner</div>I think most writers as they get old read less and less, and I know that
                    I read now the books that I knew and loved when I was a young man. I haven't
                    read a&mdash;a dozen contemporary books in the last dozen years, and they
                    were books which someone gave me and said, "Read this, I think you will like it,"
                    or "There's something interesting in it," then I'll read it. But the reason I do
                    is&mdash;is in the old books which I go back to as you go to call on an old
                    friend and talk with him for a while.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.21">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.21">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:24:43.32:00',
					'endtime','00:25:42.46:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, do you feel that your war experiences in World War I had
                    any significant influence on the perspective of the South that you developed in
                    Yoknapatawpha County?</p>
<p><div class="speaker">William Faulkner</div>I don't know. As I said, the writer uses every experience that ever
                    happened to him, and he is not interested in just how much one experience changes
                    his own point of view, that he is too involved and too engaged with the people
                    that he thinks he is writing about, that he hopes to make come alive and stand
                    up in three dimensions and cast a shadow behind them, that he himself can't say
                    because he don't really care how much any of his own private experience has
                    changed him, that he's going to use it all, that he stores everything away
                    willy-nilly, regardless, just as&mdash;as the magpie picks up everything that
                    glitters, or as the professional carpenter don't ever throw away a plank no
                    matter how crooked or short it is, that some day he will use it.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.22">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.22">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:44.79:00',
					'endtime','00:27:17.93:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div><span class="unclear tooltip" title="Text was unclear">[Can I have one other]</span> question in that general area?  Do
                    you see or have you seen in the South an analogy between the Civil War and the First 
                    World War as you knew it?</p>
<p><div class="speaker">William Faulkner</div>No, I&mdash;I don't. I imagine that&mdash;that literary experts
                    or maybe even war literary experts might find analogies. I myself don't recall
                    any. All I remember about the&mdash;the only war I know about was that was the first war
                    when if you were scared, you said so. Up to that time, nobody every admitted he
                    was scared. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> There may have&mdash;there was
                    a lot of romantic foolishness talked about air fighting in that war which wasn't
                    really there because you were still contending with a machine which
                    would come to pieces or would burn up, that there was nothing of
                    the&mdash;of the quality of matching your&mdash;your own skill against
                    another human being with the same fine high hopes and desires that you had. You
                    were involved with a confounded machine that would kill you.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio19_2.23">&nbsp;</a><div class="audio play-clip" id="wfaudio19_2.23">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio19_2.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:27:21.49:00',
					'endtime','00:27:31.45:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, we're very grateful to you for being with us, and we thank
                    you very much.</p>
<p><div class="speaker">William Faulkner</div>Well, thank you all. <span class="event tooltip" title="There was some audience applause happening">[audience applause]</span> <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio19_2.1" class="hidden">Time in Charlottesville</a></li>
<li><a href="#wfaudio19_2.2" class="hidden">The Writer's Sources</a></li>
<li><a href="#wfaudio19_2.3" class="hidden">Part-Time Demons</a></li>
<li><a href="#wfaudio19_2.4" class="hidden">Comedy</a></li>
<li><a href="#wfaudio19_2.5" class="hidden">Sherwood Anderson</a></li>
<li><a href="#wfaudio19_2.6" class="hidden">Writing and College</a></li>
<li><a href="#wfaudio19_2.7" class="hidden">Modern Heroism</a></li>
<li><a href="#wfaudio19_2.8" class="hidden">Effect of Critics</a></li>
<li><a href="#wfaudio19_2.9" class="hidden">Rejection Slips</a></li>
<li><a href="#wfaudio19_2.10" class="hidden">Rejected Stories</a></li>
<li><a href="#wfaudio19_2.11" class="hidden">The Writer's Demon</a></li>
<li><a href="#wfaudio19_2.12" class="hidden">Seeing Characters</a></li>
<li><a href="#wfaudio19_2.13" class="hidden">Naming Characters</a></li>
<li><a href="#wfaudio19_2.14" class="hidden">Thomas Wolfe</a></li>
<li><a href="#wfaudio19_2.15" class="hidden">Writing Sound and Fury</a></li>
<li><a href="#wfaudio19_2.16" class="hidden">Incidents in Sound and Fury</a></li>
<li><a href="#wfaudio19_2.17" class="hidden">Compson v Bundren Families</a></li>
<li><a href="#wfaudio19_2.18" class="hidden">Stories v Novels</a></li>
<li><a href="#wfaudio19_2.19" class="hidden">Favorite Work</a></li>
<li><a href="#wfaudio19_2.20" class="hidden">Reading Modern Works</a></li>
<li><a href="#wfaudio19_2.21" class="hidden">War Experience</a></li>
<li><a href="#wfaudio19_2.22" class="hidden">Civil vs Great War</a></li>
<li><a href="#wfaudio19_2.23" class="hidden">Close</a></li>
</ul></aside>
        
