
			<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$("#event1").qtp("wfaudio13.mp4");
			
			});
		</script><section id="main-content" class="span-16"><header class="collection-title"><hgroup><h1><a href="/">William Faulkner Audio Collection</a></h1>
<h3>Transcript</h3>
<h4>DATE: 13 May 1957</h4>
<h4>OCCASION: English Department Faculty and Wives</h4>
<h4>TAPE: T-127</h4>
<h4>LENGTH: 60:20</h4>
<div class="audio play-all" id="event1">
        				Play entire recording
        			</div></hgroup></header><div id="transcript-body">
<div class="utterance">
<a name="wfaudio13.1">&nbsp;</a><div class="audio play-clip" id="wfaudio13.1">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:01.63:00',
					'endtime','00:00:14.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>We all know why we're here, and we're very lucky to be here with Mr. Faulkner,
						and that's all I'll say, and ask you to begin. Any questions you want to ask
						Mr. Faulkner?</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.2">&nbsp;</a><div class="audio play-clip" id="wfaudio13.2">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:00:19.24:00',
					'endtime','00:01:36.41:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Boggs</div>Mr. Faulkner, there's been a lot
						of talk about the&mdash;some kind of Southern Renascence, an outburst of
						creativity in the South. I wonder&mdash;from your own experience&mdash;you have any
						ideas on why it should come at this time, or is there one?</p>
<p><div class="speaker">William Faulkner</div>No, I don't because I'm&mdash;I'm not
						very literary and don't keep up with things like that. Somebody said
						that&mdash;that southerners don't read books, they write books. Maybe that's all
						it is, but I&mdash;I can't say unless it may be that until the last war,
						southerners never got away from home. Their only chance to&mdash;to adventure was
						in the imagination. Their only chance for&mdash;for change, for a&mdash;an experience
						that was romantic and&mdash;and interesting was to invent it and put it down on
						paper. I'm not too certain that I believe that very much myself, but that's
						the sort of thing .</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.3">&nbsp;</a><div class="audio play-clip" id="wfaudio13.3">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:01:49.48:00',
					'endtime','00:03:29.88:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>It's been both stated and denied
						that Sir Walter Scott has greatly influenced southern people, especially
						during the&mdash;not the recent unpleasantness but the less recent unpleasantness,
						the mid-nineteenth century war, the War Between the States. I notice you
						name one of your characters Quentin, as a rather romantic-minded individual.
						<span class="unclear tooltip" title="Text was unclear">[Do you ]</span> suggest by that name that he is the type of southerner who
						was influenced by the kind of things that Walter Scott&mdash;</p>
<p><div class="speaker">William Faulkner</div>Not necessarily. I think that&mdash;that Scott was read more in the South
						for the reason that at a time the southerner had very little of his money to
						devote to the buying of books, and there was a kinship perhaps between
						the&mdash;the life of&mdash;of&mdash;of&mdash;of Scott's Highland and the&mdash;the life the&mdash;the
						southerner led after Reconstruction. They too were&mdash;were in the aftermath of
						a&mdash;of a land which had been conquered and devastated by people&mdash;people speaking
						its own language, which hasn't happened too many times. And so every
						southern household, when they bought books, they&mdash;they bought Scott. I reckon
						it was because you got more words for your money, maybe, could have had
						something to do with that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But every
						household that all&mdash;that at all pretended to be literate had Scott.</p>
<p><div class="speaker">Unidentified participant</div>That's true.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.4">&nbsp;</a><div class="audio play-clip" id="wfaudio13.4">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:03:36.42:00',
					'endtime','00:06:21.84:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>While we are on that literary
						angle, which we dreamed up a little bit on the literary side, do you feel
						that the&mdash;the subject Mr. Boggs raised about the literary renaissance, or
						whatever you want to call it, the flourishing of literature in the South,
						has been in any notable way indebted to the fact that a number of young
						people, writers, were resident in Paris, came under French influence perhaps
						in the Twenties?</p>
<p><div class="speaker">William Faulkner</div>I don't know. It seems to me
						that&mdash;that very few southerners were a part of that group of expatriates of
						the Twenties in Paris. Most of the ones I knew were&mdash;were northerners. I
						don't remember a single southerner that had any part in it. I would say that
						the reasons for the renaissance in southern writing was in the&mdash;the cards, in
						the making, long before that. I think this may have had a little to do with
						it: since the Civil War, there has been a&mdash;a great deal of&mdash;misunderstanding
						is not quite the right word, the northerner, the outlander, had a&mdash;a queer
						and erroneous idea of&mdash;of what southern people were. It may be that that was
						an instinctive desire in southerners to&mdash;to tell the&mdash;the outlander just what
						we were, just what we might have had that&mdash;that we felt was&mdash;was worth
						accepting four years of war, in which we knew we had no chance to win it, to
						say this is what we had that we thought was worth that, or this is what we
						actually are. I don't know. That&mdash;that's probably valid. I&mdash;I imagine there
						are so many things that went into it that probably nobody could say, "This is
						where the resurgence of writing in the South came from." I myself am inclined
						to think it was because of the&mdash;the&mdash;the barrenness of the southerner's life,
						that he had to resort to his own imagination to&mdash;to create his own
						Carcassone.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.5">&nbsp;</a><div class="audio play-clip" id="wfaudio13.5">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:06:21.65:00',
					'endtime','00:07:44.77:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>In that connection&mdash;</p>
<p><div class="speaker">William Faulkner</div>
						
					</p>
<p><div class="speaker">Unidentified participant</div>&mdash;would you mind commenting on this
						question? You&mdash;you said a minute ago, facetiously, that southerners don't
						read books, they write them. It has long been known, of course, to literary
						historians that southern writers both before and after the Civil War counted
						pretty largely on northern readers. And Hayne, for example, was a notable
						example. Lanier is another example. Do you suppose that has been in the
						consciousness of the average southern writer and could possibly have
						influenced his work in any way?</p>
<p><div class="speaker">William Faulkner</div>Yes, it has. It's in his
						consciousness that the man that will publish his book is a northerner, and
						he&mdash;he is never unaware of that, that the publisher and&mdash;and, to an extent,
						his readers are northerners. I think that most southerners know that his&mdash;his
						home folks ain't going to like what he writes anyway, that he's not really
						writing to them, and that&mdash;and that they simply do not read books. They are
						good people, but they just do not read books.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.6">&nbsp;</a><div class="audio play-clip" id="wfaudio13.6">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:07:51.70:00',
					'endtime','00:09:04.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>The clash, <span class="unclear tooltip" title="Text was unclear">[sir]</span>, between
						the explanations of the South, does that help square the fact that the
						explanations offered are not always greeted with warmth in the  South
							itself?</p>
<p><div class="speaker">William Faulkner</div>Can I have your specific question again? I&mdash;I got two or three
						different ideas there.</p>
<p><div class="speaker">Unidentified participant</div>What I meant was that if&mdash;if part of the renascence in southern
						writers is due to an urge to explain the southern&mdash;the South to explain
						itself, is it not also true that once one gets out of the moonlight and
						magnolias school, that various of the non-writing southerners do not like
						what the writing southerners do or the picture they present?</p>
<p><div class="speaker">William Faulkner</div>Yes, that's quite true. The&mdash;the
						non-writing southerner, the non-reading southerner, he wants the sort of
						brochure that the Chamber of Commerce gets out. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> There are things in his country that he's not
						too proud of himself, but&mdash;but to him it's bad manners to&mdash;to show that in
						public.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.7">&nbsp;</a><div class="audio play-clip" id="wfaudio13.7">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:09:06.32:00',
					'endtime','00:10:52.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Does any locality like to read
						the books that are written about that locality, do you think? Is it
						characteristic that a locality is&mdash;is generally offended when it finds itself
						in a novel or a story?</p>
<p><div class="speaker">William Faulkner</div>The&mdash;an element of the locality, but didn't the people of his own
						country have a&mdash;a sort of a&mdash;a fierce pride in people like Thoreau and
						Emerson? Or was that just the&mdash;the educated intellectual New Englander that
						felt that?</p>
<p><div class="speaker">A. K. Davis</div>I don't know&mdash;</p>
<p><div class="speaker">William Faulkner</div>Well, I always thought that&mdash;that everybody, they might not have
						approved so much of all that&mdash;that Emerson or Thoreau said, but they had
						a&mdash;a&mdash;a fierce, almost provincial pride in&mdash;</p>
<p><div class="speaker">A. K. Davis</div>They did, but neither Emerson nor Thoreau were writing about the
						people of New England, in the way we're talking about, in the way you write
						about the people of the South, or Eudora Welty, or whoever. They were
						writing about ideas and nature, but as far as I know they didn't write
						about&mdash;they didn't give pictures of the locality, <span class="unclear tooltip" title="Text was unclear">[that is&mdash;is to
							say ]</span>, this is what things are like in New England. I&mdash;I think I'm
						right, aren't I?</p>
<p><div class="speaker">Joseph Blotner</div>You'd have to go to Hawthorne, wouldn't you, to find&mdash;</p>
<p><div class="speaker">A. K. Davis</div>You'd have to go to Hawthorne to find if the&mdash;the&mdash;</p>
<p><div class="speaker">William Faulkner</div>Would that have held true of Hawthorne?</p>
<p><div class="speaker">A. K. Davis</div>I don't know, sir. I don't know whether that&mdash;whether Hawthorne
						would have been perceived .</p>
<p><div class="speaker">Unidentified participant</div> Anyway, <span class="unclear tooltip" title="Text was unclear">[as far as that's concerned,]</span> as far as
						I know, he was just as popular at home as he was anywhere else.
						</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.8">&nbsp;</a><div class="audio play-clip" id="wfaudio13.8">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:10:52.18:00',
					'endtime','00:11:41.74:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">William Faulkner</div>Well, that gets back to
						something else. Can a man write about ideas except in&mdash;in the provincial
						terms of his background?</p>
<p><div class="speaker">A. K. Davis</div>Well, they certainly must affect him.</p>
<p><div class="speaker">William Faulkner</div>Could Emerson have&mdash;have written Emerson&mdash;would it have been the same
						Emerson if he'd been a Mississippian, say, or a Texan or a Californian?</p>
<p><div class="speaker">A. K. Davis</div>Well, I think not, but still when you are writing about self-reliance
						in general, it could apply all over the world.</p>
<p><div class="speaker">William Faulkner</div>But would a Californian in a
						climate that don't change, where you don't need <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> even a warm house to live in&mdash;what would he
						care about self-reliance? <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.9">&nbsp;</a><div class="audio play-clip" id="wfaudio13.9">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:11:44.64:00',
					'endtime','00:12:57.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>That reminds&mdash;that&mdash;that brings up
						this question, Mr. Faulkner, in my mind, that I often&mdash;Carlyle says Walt
						Whitman&mdash;he says, "Walt Whitman thinks that because he lives in a big
						country, he's a big man." What do you suppose&mdash;I&mdash;I gather that he thought that
						Whitman thought that the climate and the general landscape, background
						of&mdash;the geographical features of a place had some influence on the&mdash;on the
						person who grows up in that, whether he be a writer or not. Do you suppose
						there's anything in that? In the South, for example, what&mdash;how does that turn
						out in the South?</p>
<p><div class="speaker">William Faulkner</div>Well, I would say that&mdash;that
						Carlyle's and Whitman's definition of a big man were completely different.
						Carlyle's an islander&mdash;a small country. His idea of a big man is a&mdash;is a
						big individual man. I should think that Whitman's idea of a big man is one
						that is lucky enough to belong to a race of giants, that he's one too. I
						wonder if Whitman believed that he was a bigger man than anybody else in
						America.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.10">&nbsp;</a><div class="audio play-clip" id="wfaudio13.10">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:13:01.81:00',
					'endtime','00:14:06.94:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>What I was getting at was
						whether the peculiarities of Southern climate and topography might possibly
						have any influence on the nature of the writing?</p>
<p><div class="speaker">William Faulkner</div>It would have to, just like the language the man knows to write in
						would have some influence on him. But I don't think that the&mdash;that the
						topography&mdash;one topography will produce a writer where another topography
						won't. But of course&mdash;</p>
<p><div class="speaker">Floyd Stovall</div>You don't think there's any relationship then between the lack of
						roads in Yoknapatawpha County and the difficulties of your sentence
						structure?</p>
<p><div class="speaker">William Faulkner</div>No, sir, <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> because&mdash;because the lack of&mdash;the lack of roads
						in Yoknapatawpha County ain't near as complex as&mdash;as Madison Avenue or 42nd
						Street. Though, of course, that depends upon who is looking at each one.
						Yoknapatawpha County ain't near as complex as the Empire State Building.
							<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.11">&nbsp;</a><div class="audio play-clip" id="wfaudio13.11">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:14:08.99:00',
					'endtime','00:16:34.96:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Mr. Faulkner, I spoke to you
						about your long sentences and asked you if one reason for them were not that
						you were trying to give the past and the present and the future, more or
						less all at the same time, to throw light on the present action by referring
						to the past and to the future. And I understand why throwing light on the
						past would throw light on a present action. And I think I understand why
						reference to the future would do it. But I am not sure that I do understand,
						and I would like to ask you why you&mdash;you feel it is necessary to bring in the
						future while you are telling the present. Why&mdash;why the&mdash;why is that
						significant? It's not going to happen yet. So why&mdash;why bring in something
						that has not yet happened while you are recounting something that is
						happening?</p>
<p><div class="speaker">William Faulkner</div>Well, a man's future is
						inherent in that man. I&mdash;in the sense that&mdash;that life, A.D. 1957, is&mdash;is not
						the end of life, that there'll be a&mdash;a 2057. That we assume that. There may
						not be, but we assume that. And in man, in man's behavior today is 1950&mdash;2057. 
						If we just had a machine that could project ahead and could capture
						that, that machine could&mdash;could isolate and&mdash;and freeze a&mdash;a picture, an image,
						of what man will be doing in 2057, just as&mdash;as the machine might capture and
						fix the light rays showing what he was doing in&mdash;in B.C. 28. That is, that's
						the mystical belief that&mdash;that there is no such thing as "was." That&mdash;that
						time "is," and if there's no such thing as "was," then there is no such
						thing as "will be." That time is a&mdash;is a&mdash;not a fixed condition, that time
						is, in a way&mdash;in a way, the sum of the combined intelligences of all men who
						breathe at that moment.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.12">&nbsp;</a><div class="audio play-clip" id="wfaudio13.12">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:16:38.41:00',
					'endtime','00:18:07.68:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>So you&mdash;so you arrogate to
						yourself the power of knowing the future of your characters and use that in
						your depicting of them and what happens to them.</p>
<p><div class="speaker">William Faulkner</div>No&mdash;</p>
<p><div class="speaker">A. K. Davis</div>You&mdash;you are, in a sense, in 2057, and you're writing about somebody
						in 1957, and you also know what happened in 1857.</p>
<p><div class="speaker">William Faulkner</div>Well, I&mdash;I can assume the
						fact that&mdash;that in the people which I create is the&mdash;the genesis, the&mdash;the seed
						of 2057. I don't know it, and I don't think I need to know it. But the
						people behave according to the&mdash;the&mdash;the pattern by which man has been able to
						endure this long. Then, if he holds to that pattern, he will continue to
						endure, assuming that there's not some&mdash;some tremendous cataclysmic explosion
						which will wreck everything. That the&mdash;the verities which are true now will
						be true in 2057, and man will&mdash;will go through the same struggle to&mdash;to live
						up to them, to behave as he&mdash;he wants to behave, whether he can or not,
						whether he fails or not. That his problems really won't be any different.
						The important problems won't be any different in 2057 than they are now.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.13">&nbsp;</a><div class="audio play-clip" id="wfaudio13.13">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:18:07.39:00',
					'endtime','00:19:29.38:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>I&mdash;I was thinking of something a
						little more specific than&mdash;than that. You&mdash;you are talking about a man brushing
						his hair, and you refer to the fact that twenty years ago he was a child
						playing in the dust, and at the same time you know he's going to commit a
						murder up here. And you bring in the murder, and you bring in the playing in
						the dust, and you bring in the combing of his hair, all together, we will
						say, as I see it, in&mdash;in one passage, in one&mdash;one sentence.</p>
<p><div class="speaker">William Faulkner</div>Oh, I see what you mean. Well, of course the writer arrogates to
						himself that right, to know the future of his own people. He don't know the
						future of the human race, but he does know the future of&mdash;of&mdash;of that
						individual, that character, or he never could get his book done. That is, he
						has got to know where the thing's going, in a way, before he starts because
						then he won't know when to stop it.</p>
<p><div class="speaker">A. K. Davis</div>And you think this future murder throws light on the way this
						fellow&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, yes.</p>
<p><div class="speaker">A. K. Davis</div>&mdash;combs his hair, and the playing in the dust&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes, yes.</p>
<p><div class="speaker">A. K. Davis</div>&mdash;also throws light on the way he combs his hair, and you can describe
						the combing of the hair the better because&mdash;</p>
<p><div class="speaker">William Faulkner</div>I think so.</p>
<p><div class="speaker">A. K. Davis</div>&mdash;you have this in mind and that in mind.</p>
<p><div class="speaker">William Faulkner</div>I think if&mdash;if we could know
						the future of ourselves and one another we would never be as baffled and
						confused by&mdash;by people, by our contact with people, as we are. It wouldn't be
						as much fun, of course, but&mdash;</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.14">&nbsp;</a><div class="audio play-clip" id="wfaudio13.14">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:32.53:00',
					'endtime','00:19:51.78:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Didn't you have a question you
						wanted to ask in connection with Dostoevsky, the Russians in general?</p>
<p><div class="speaker">Unidentified participant</div> let me figure a way
						to&mdash;to phrase it and get it clear in my mind 
						<span class="unclear tooltip" title="Text was unclear">[in so long. I don't know]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.15">&nbsp;</a><div class="audio play-clip" id="wfaudio13.15">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:19:54.14:00',
					'endtime','00:21:27.28:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Turner</div>Well, what&mdash;what do you think is
						the&mdash;was the difference in quality of the impact on the&mdash;to the southern
						people after the Civil War and the&mdash;as a mental experience and though&mdash;and say
						World War I&mdash;the people that were involved in World War I?</p>
<p><div class="speaker">William Faulkner</div>I would say possibly it
						was&mdash;was sharper, a harder experience, because for&mdash;for
						years the southerner had lived a&mdash;a safe and isolated life in which nothing
						actually had happened to him, except the&mdash;the simple things of&mdash;of crop
						failures and&mdash;and trouble with&mdash;with his own particular plantation economy. The Civil War was&mdash;was a great deal of a
						shock to him because suddenly it thrust him into the world. He had to become
						a member, not of a class or of a&mdash;a provincial segment, but a member of the
						whole human race. When he got into the second World War he had gotten used to
						having to be a member of the human race, whether he wanted to or not, and so
						that wasn't as much shock. Also, if anybody did, he won that war. That is,
						he was on the side that was succesful. In the Civil War, the southerner was
						on the side that lost.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.16">&nbsp;</a><div class="audio play-clip" id="wfaudio13.16">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:21:32.73:00',
					'endtime','00:25:01.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>I suppose my question in
						reference to Dostoevsky boils down to this. Why do you consider Benjy a good
						tool in the&mdash;the telling of this story, one of the&mdash;the instruments in telling
						the story? The same question, why do you often use children who are quite
						young and not much of a&mdash;the one in&mdash;Vardaman. Is it
						possibly because the idiot and the child are free of any preconceived ideas 
						about the truth? They have no convention. They haven't had any religion
							<span class="unclear tooltip" title="Text was unclear">[to fog them]</span> or anything like that. They're sort of
						open-minded and free. And are they better judges of the truth? Can they see
						the truth better than the more sophisticated and more intelligent
							human beings?</p>
<p><div class="speaker">William Faulkner</div>Only in this sense: say there
						was a mirror which would obliterate everything from the image it reflected
						except&mdash;except the verities. To me, that is the child. As you say, it has less
						trash that it&mdash;it has had to&mdash;to assimilate and live with in order to&mdash;to cope
						with the adult world. It&mdash;it sees with a&mdash;not a clearer eye, that's not the
						word I want&mdash;but it&mdash;it is incapable of seeing the things which are&mdash;which are
						not true, which don't match the verities, which the adult has been trained
						and had to learn, so that he no longer knows that&mdash;that he&mdash;what he sees is&mdash;is
						obfuscated. The child don't even know that it doesn't see something that the
						adult sees. And what the child sees is closer to the verities, the important
						things. I think that's&mdash;the most interesting thing to write about is the
						child as it learns to cope with the adult world which it didn't create, that
						it's got to learn to&mdash;to live with in order to&mdash;to endure, to get along, to
						have enough to eat, and how it makes those adjustments, how it gradually
						comes to believe that&mdash;that&mdash;that lies are truths. It&mdash;it don't know that it is
						coming to believe that. It just has to learn that or die. And when it's
						still a child, it doesn't know yet. It hasn't had to believe that lies are
						truth. To the child the lie is still a lie, and the truth is truth. Benjy,
						the idiot&mdash;he was a sublimated idiot, probably, but he had some of that
						quality. He had the child's quality to&mdash;to see and recognize only the truth,
						but he had a man's long years of&mdash;of simple experience, whether he could
						assimilate that experience or not. He had a longer time to see that more
						human beings were capable of believing that&mdash;that lies were true, than the
						child of three or four or five or six.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.17">&nbsp;</a><div class="audio play-clip" id="wfaudio13.17">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:25:03.71:00',
					'endtime','00:26:37.14:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edgar Shannon</div>Mr. Faulkner, I think it's a
						very interesting point you raise, and&mdash;and&mdash;but how do you reconcile that view
						of the&mdash;of the child, which I think is the correct one and agreeable to me,
						with the other aspects of the child, as children are very often the most
						savage to each other, hurt each other, have&mdash;have less sensitivity toward
						each other than&mdash;than adults do. Whereas they sometimes seem to perceive the
						truth, seem to cut through so much of the&mdash;the sham that adults build up, still
						we have to educate children to be&mdash;on the whole, to be considerate.</p>
<p><div class="speaker">William Faulkner</div>Well, that savagery, that
							ruthless<span class="unclear tooltip" title="Text was unclear">[ness]</span>, that's one of the verities. It's not a
						virtue, but it&mdash;it's a verity. To me, there's&mdash;there's a distinction between
						verity and virtue. Some of the verities, when they are practiced, the
						practice of them becomes virtue. The child is&mdash;is incapable of being
							<span class="unclear tooltip" title="Text was unclear">[clubbed]</span> up by your shibboleth, "you musn't do this
						because it's wrong." The child says, "I will do this because I want to," and
						he tries to do it. That in&mdash;that&mdash;that&mdash;that's a truth in&mdash;in the world, too,
						that&mdash;that man can be inhuman to man. It's a verity. It's&mdash;it's a&mdash;a vice when
						practiced, but it's one of the verities. Just like&mdash;like honor and
						honesty.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.18">&nbsp;</a><div class="audio play-clip" id="wfaudio13.18">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:26:43.75:00',
					'endtime','00:29:31.27:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>You have various children. You
						spoke of Benjy. There is&mdash;and also of <em>The Sound and the
							Fury</em> and Vardaman. I was thinking&mdash;been thinking recently about this
						boy who participates in the telling of the story in <em>The
							Town</em>. I don't know&mdash;I'm not sure that I know how you would explain
						the function of Charles Mallison in&mdash;in this last novel, whether he
						has&mdash;whether he is&mdash;his part of the story is supposed to have any particular
						value because he is a child or&mdash;and&mdash;and whether&mdash;and then Ratliff&mdash;there are three
						people, you see. There is yourself, and I&mdash;I'm&mdash;I haven't been able to see at
						the moment, and I've only read it one time, quite as well as I do in <em>The Sound and the Fury </em>the 
						distinct values which come
						from the three points of view. I don't know whether I am making myself clear
						or not. You can comment on that problem.</p>
<p><div class="speaker">William Faulkner</div>That's&mdash;was simply a&mdash;a&mdash;well, I
						don't like the word "trick," but it was used deliberately to look at&mdash;at
						the&mdash;the object from three points of view. Just as when you&mdash;you examine a&mdash;a
						monument you will walk around it. You are not satisfied to look at it from
						just one side. Also, it&mdash;to look at it from&mdash;from three different
						mentalities. That was&mdash;one was the mirror which obliterated all except truth
						because the mirror didn't know the other factors existed. Another was to
						look at it from the point of view of&mdash;of someone who had made of himself a
						more or less artificial man through his desire to practice what he had been
						told was a virtue, apart from his belief in virtues, what he had been told,
						trained by his respect for education in the old classical sense. The other
						was from the point of view of a man who&mdash;who practiced virtue from simple
						instinct, from&mdash;from&mdash;well, more than that, because&mdash;for a practical reason,
						because it was better. There was less confusion if all people didn't tell
						lies to one another and didn't pretend. That seemed to me to give a more
						complete picture of the specific incidents as they occurred if they could
						be <span class="unclear tooltip" title="Text was unclear">[expressed]</span> three times.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.19">&nbsp;</a><div class="audio play-clip" id="wfaudio13.19">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:31.33:00',
					'endtime','00:29:48.04:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>And yet you didn't mean that
						Charles Mallison was quite as much of a child or an innocent as some of
						these other children?</p>
<p><div class="speaker">William Faulkner</div>Well, he changed. He grew up
						in that book. And, of course, his point of view changed.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.20">&nbsp;</a><div class="audio play-clip" id="wfaudio13.20">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:29:48.05:00',
					'endtime','00:32:00.58:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>One other question about that
						book. Someone has said recently&mdash;and I don't present this as my view, it is
						something that&mdash;that I would like you to comment on if you will&mdash;that Gavin
						Stevens in <em>The Town</em> is a less mature, a less
						responsible, somehow or other a less likable person than he appears in some
						other places, as in the stories of <em>Knight's
						Gambit</em>.</p>
<p><div class="speaker">William Faulkner</div>Well, he had got out of his
						depth&mdash;depth. He had got into&mdash;to the real world. While he was&mdash;could be&mdash;a county
						attorney, an amateur Sherlock Holmes, then he was at home, but&mdash;but he got
						out of that. He got into a&mdash;a real world in which people anguished and
						suffered, not simply did things which they shouldn't do. And he wasn't as
						prepared to cope with people who were following their own bent, not for
						profit but simply because they had to. That is, he knew a good deal less
						about people than he knew about the law and about the weighing of evidence
						and&mdash;and drawing the right conclusions from what he&mdash;he saw with his legal
						mind. When he&mdash;when he had to deal with people, he was an amateur. He was&mdash;at
						times he had a good deal less judgment than his nephew did. Which is&mdash;is not
						against education, as probably the passion he had for getting degrees, for
						trying this and trying that and going all the way to Europe to get more
						degrees, to study more, was&mdash;was in his own nature. It was the same character
						that made him shy away from marriage. He was probably afraid to be married.
						He might get too involved with the human race if he married one of them.
							<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.21">&nbsp;</a><div class="audio play-clip" id="wfaudio13.21">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:00.59:00',
					'endtime','00:32:55.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Did you mean Gavin Stevens to be
						like that in <em>Intruder in the Dust</em>?</p>
<p><div class="speaker">William Faulkner</div>No'm. These people I&mdash;I invent, and after that I just run along and
						put down what they say and do. I don't know always what they are going to
						develop into myself.</p>
<p><div class="speaker">Unidentified participant</div>I mean, is Gavin at the same stage of development in <em>Intruder 
						in the Dust</em>? Is he younger in <em>The Town</em>?</p>
<p><div class="speaker">William Faulkner</div><em>Intruder in
						the Dust</em> happened after <em>The Town</em>. <em>Intruder 
							in the Dust</em> happened about 1935 or '40, and
							<em>The Town</em> began in&mdash;in 1909 and went to 1927.
						Probably Stevens learned something from <em>The Town</em> to
						carry into <em>Intruder in the Dust</em>.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.22">&nbsp;</a><div class="audio play-clip" id="wfaudio13.22">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:32:56.50:00',
					'endtime','00:33:43.18:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, the fight that
						Gavin has with de Spain in <em>The Town</em> reminded me in
						some ways of the fight that Quentin had when he was in Cambridge. They both
						seemed a little bit like Don Quixote&mdash;</p>
<p><div class="speaker">William Faulkner</div>Yes.</p>
<p><div class="speaker">Joseph Blotner</div>&mdash;fighting for the honor of a lady. Is there any such similarity
						there, in character, between the two men at that time?</p>
<p><div class="speaker">William Faulkner</div>No, that's&mdash;that's a constant, sad
						and&mdash;and funny picture too. It is the knight that goes out to defend somebody
						who don't want to be defended and don't need it. But it's a very fine
						quality in&mdash;in human nature. I hope it will always endure. It is comical and a
						little sad, and Quentin and Stevens were that much alike.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.23">&nbsp;</a><div class="audio play-clip" id="wfaudio13.23">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:33:44.98:00',
					'endtime','00:35:04.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, what did you start
						with in <em>Intruder in the Dust</em>? Was it the idea of a
						single character or ?</p>
<p><div class="speaker">William Faulkner</div>Well, it began with the
						notion&mdash;there was a tremendous flux of detective stories going about at that
						time, and my children were always buying them and bringing them home. I'd
						stumble over them everywhere I went. And I thought of an idea for one would
						be a man in jail, just about to be hung, that would have to be his own
						detective. He couldn't get anybody to help him. Then the next thought was,
						the man for that would be a Negro. Then the character of&mdash;of Lucas&mdash;Lucas
						Beauchamp came along. And the book came out of that. It was the notion of a
						man in jail who couldn't hire a detective, couldn't hire one of these tough
						guys that slapped women around <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> and took a
						drink every time he couldn't think of what to say next. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> But 
						once I thought of Beauchamp, then he took
						charge of the story, and the story was a good deal different from the idea
						that&mdash;of the detective story that I had started with.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.24">&nbsp;</a><div class="audio play-clip" id="wfaudio13.24">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:35:04.33:00',
					'endtime','00:36:16.34:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, speaking of technique and
						the way characters are handled, somebody's accused you of going to school to
						Joyce. Would you mind commenting on his and perhaps any other individual
						influences on you?</p>
<p><div class="speaker">William Faulkner</div>I don't believe that any&mdash;any
						writer has time to go to school to any one man. He learn&mdash;learns from
						everything he reads. He steals from any source that's available. He has no
						morals whatever. But he&mdash;I don't think he ever sets out to say, "Now I'm
						going to write like Joyce" or write like anybody else, that he's too busy
						writing about people. He remembers everything he reads without having to
						memorize. He is&mdash;he is voracious and amoral. He stores away everything,
						telephone directories, up and down. Congressional record, I used to read
						that. And the time comes when he needs something, and sure enough, there it
						is. He don't remember where he got it and don't care, because he is perfectly
						willing for anyone after him to take anything from his work, at least I am.
						I'm quite sure that everything I ever read has influenced me.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.25">&nbsp;</a><div class="audio play-clip" id="wfaudio13.25">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:36:17.85:00',
					'endtime','00:36:54.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Sir, do you look at your own
						work and look at the&mdash;and look at the novels of Joseph Conrad, which I've heard
						you express a liking for&mdash;do you see any sort of similarities in method?</p>
<p><div class="speaker">William Faulkner</div>No, I don't. I've said this before. That's &mdash;</p>
<p><div class="speaker">A. K. Davis</div>I'm sorry I didn't know </p>
<p><div class="speaker">William Faulkner</div>&mdash; one good thing about writing. When you
						write a book you don't ever have to read it again, because you're busy on
						another one. And I think the writer never goes back to see where he got what
						from. I'm sure he could find plenty of sources, but he&mdash;he don't do it because
						he's busy with another one then.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.26">&nbsp;</a><div class="audio play-clip" id="wfaudio13.26">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:36:54.10:00',
					'endtime','00:38:25.13:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>We&mdash;we discussed Joseph Conrad in
						the course that I teach. We frequently come up against you, and vice versa,
						and&mdash;and I was&mdash;I was curious to know whether you&mdash;you saw any similarities?</p>
<p><div class="speaker">William Faulkner</div>I imagine if I went back over the work I could find similarities. I
						can find similarities between Conrad and Hardy. And I'm sure I can find
						Conrad in my stuff and find almost anybody else you could name.</p>
<p><div class="speaker">A. K. Davis</div>I was thinking of the particular thing of Conrad's effort to surround
						an event by throwing light on it from past&mdash;past and future, as well as
						present. He&mdash;he&mdash;he seems to&mdash;seems to stop at a particular event and&mdash;and throw
						light from this character and that character, and from&mdash;from the front and
						the rear and the side, in a way that I don't remember other novelists doing
						before his time.</p>
<p><div class="speaker">William Faulkner</div>I'm inclined to think that all
						writers do that, only most of them, except Conrad and me, may be a little
						more clever about it. Probably Conrad was because he deliberately taught
						himself a foreign language to write in. And mine may be because I
						never&mdash;never went to school enough to save myself the shortcuts of learning
						English. That we both are a little more obvious than the others for that
						reason.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.27">&nbsp;</a><div class="audio play-clip" id="wfaudio13.27">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:38:42.02:00',
					'endtime','00:40:04.08:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Sir, some months ago you
						expressed a fear in the loss of frontiers in American writing. Do you see
						any new frontiers opening up?</p>
<p><div class="speaker">William Faulkner</div>Well, not exactly a frontier.
						I think now that we are faced with more of a&mdash;of a threat. It could hardly be
						a frontier to be conquered. It's&mdash;it's a force to be resisted, the force that
						is the pressure to make everybody belong to a mass or a group, which, in my
						opinion, would be the death of the writing and the painting and the music
						and everything else, that man has got to resist that. It's difficult to
						resist because, to a certain extent, he has got to compromise now, simply in
						order to get along. It's the&mdash;you've got to&mdash;to be on the alert
						constantly to know just exactly where to draw the line, which is&mdash;is too bad
						for the artist who should have all his time free to&mdash;to fight simpler dragons
						than that.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.28">&nbsp;</a><div class="audio play-clip" id="wfaudio13.28">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:40:05.90:00',
					'endtime','00:41:48.85:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Fredson Bowers</div>Do you find <span class="unclear tooltip" title="Text was unclear">[as]</span> your own work
						comes nearer to the future, that you yourself alter in any respect in
							relation to it?</p>
<p><div class="speaker">William Faulkner</div>No, that would belong to the same belief that it&mdash;I have never quite
						done it yet, that it fails in all respects.  That it hasn't&mdash;hasn't shown the
						future.  It hasn't been a good enough picture of the past. It's not a&mdash;a
						good enough picture of&mdash;of now, "is," to please me.</p>
<p><div class="speaker">Fredson Bowers</div>I was thinking of&mdash;of&mdash;as&mdash;as the setting and the time element in this
						series comes nearer to the present day, whether as you get nearer to the
						modern scene, you feel any difference. Rather than <span class="unclear tooltip" title="Text was unclear">[going]</span>
						back to 1909.</p>
<p><div class="speaker">William Faulkner</div>I can't say because I haven't quite got up to 1957 yet. It's&mdash;that's
						an interesting thought, and I'll be curious to know if I do begin to run
						into trouble then. So far I haven't got up to that yet.</p>
<p><div class="speaker">Edgar Shannon</div>Well then, <span class="unclear tooltip" title="Text was unclear">[on that score,]</span> do you feel that though
						you write  <span class="unclear tooltip" title="Text was unclear">[personally]</span>  <span class="unclear tooltip" title="Text was unclear">[that 
							maybe it would be better]</span>  though you write about a past 
						time, you are inevitably influenced by the
						circumstances of the immediate time and reflect some of the concerns of that
						time?</p>
<p><div class="speaker">William Faulkner</div>Oh yes, yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.29">&nbsp;</a><div class="audio play-clip" id="wfaudio13.29">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:41:47.39:00',
					'endtime','00:43:22.56:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Anna Barringer</div>I know you admire Wolfe
						tremendously, but don't you feel that as Wolfe caught up to the present that
						he lost something that he had when he had a little more time between him and
						the&mdash;and the event to digest?</p>
<p><div class="speaker">William Faulkner</div>Now that comes back to a&mdash;a
						more or less idle remark I made years ago. I have no particular great
						admiration for Wolfe. This is what happened in that. It was at a group years
						ago. Somebody asked what I thought about my contemporaries. I said, "We're
						not done writing yet, I couldn't say." And he said, "Well, haven't you got
						any opinion at all about them?" I said, "About who?" He named Wolfe, Dos
						Passos, Erskine Caldwell, Hemingway and me. I said, "Well, I will&mdash;I would
						rate us this way," which I did, and that's what that came from, and for
						about twenty years now I've been trying to explain that. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
<p><div class="speaker">Anna Barringer</div><span class="unclear tooltip" title="Text was unclear">[Well, I didn't hear it.]</span> But actually, don't you think
						that&mdash;that Wolfe was <span class="unclear tooltip" title="Text was unclear">[obvious,]</span> and I wondered if you felt
						at all the same way, that when he had a little time between him and his
						childhood to digest what had happened <span class="unclear tooltip" title="Text was unclear">[it felt like it sort of
							seemed cooked]</span> and came out different. It was much better than
						when he was writing about something that happened about a year and a half
						before.</p>
<p><div class="speaker">William Faulkner</div>I don't know because I haven't
						read much of Wolfe. I have just glanced&mdash;glanced into it. I think I've read
						one of his short stories, but none of the books have I ever finished. I have
						opened them and read a little here and a little there, but I never have
						finished one, so I&mdash;I just don't know.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.30">&nbsp;</a><div class="audio play-clip" id="wfaudio13.30">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:43:23.98:00',
					'endtime','00:45:02.53:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>Do you think that
						<span class="unclear tooltip" title="Text was unclear">[question goes a little]</span>&mdash;I'm&mdash;I'm interested in&mdash;in this
						question, which I come across in Henry James, for example, that an
						author has a&mdash;a given&mdash;has something to
							write&mdash;you get an idea such as you mentioned a while ago in
						connection to <em>Intruder in the Dust</em>. Which&mdash;and I&mdash;I ask
						you for yourself because I think it will have a bearing on the question in
						general&mdash;which is better for you, to have a great mass of facts and details,
						which are facts, and belong to a human situation, and all you got to do is
						work them up and give them order, or would you rather just have the
						essential things, the germ of the idea, so that you can build in all the
						other things with the imagination?</p>
<p><div class="speaker">William Faulkner</div>I would rather have as few facts as possible because I&mdash;in my
						opinion, the writer is writing about truth, and&mdash;and I think truth and facts
						have almost no relation to one another. They ain't very closely connected.
						And I would rather have as few facts as possible, and let observation and
						experience and imagination <span class="unclear tooltip" title="Text was unclear">[do the rest of it]</span>.</p>
<p><div class="speaker">Floyd Stovall</div>And wouldn't that then be, in a way, an answer to Miss
							Barringer's question, that if you are remote from a
						time, it has less hold on you, that it constricts your imagination less than
						that which is just a year or two ago.</p>
<p><div class="speaker">William Faulkner</div>I don't know, if you as immune to facts as I am, it don't
						matter. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.31">&nbsp;</a><div class="audio play-clip" id="wfaudio13.31">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:45:02:52:00',
					'endtime','00:47:23.10:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Joseph Blotner</div>Mr. Faulkner, in view of the
						fact that those people asked you for ratings when the&mdash;when the horse race
						had gotten maybe to the first quarter mark, and we're now perhaps halfway
						around the course, would you feel inclined to make any revision in the order
						that you saw at that time?</p>
<p><div class="speaker">William Faulkner</div>No, because I made my estimate
						on the&mdash;the gallantry of the failure, not on the&mdash;on the&mdash;on the success or
						the&mdash;or the validity of&mdash;of the work. It's on the gallantry of the effort which
						failed. In my opinion, my work has all failed. It&mdash;it ain't quite good
						enough, which is the only reason to write another one, because writing really
						ain't any fun. I mean the mechanics of putting the stuff down on paper is no
						fun. I can think of too many other things I'd rather do. And I&mdash;I don't see
						any reason to change that, no. After we have all written out, and if there's
						time to&mdash;to look back at it, then I could&mdash;could make a private estimate of
						the work. But right now, I think it's too soon. Of course, Wolfe is&mdash;is
						finished because he's dead, but the others are not. Caldwell seems to have
						written himself out years ago, which has nothing to do with the value
						of&mdash;of&mdash;of the first books, and I think that&mdash;that the first books, <em>God's Little Acre</em> and the short stories, that's
						enough for any man. He should be content with that, but&mdash;but knowing writers,
						I know he's not, just as I'm not content with mine. I meant only that
						Hemingway had sense enough to find a method which he could control and
						didn't need or&mdash;or didn't have to, wasn't driven by his private demon to
						waste himself in trying to do&mdash;do more than that. So, he has done
						consistently probably the most solid work of all of us. But it wasn't
						the&mdash;the&mdash;the splendid, magnificent bust that Wolfe made in trying to put the
						whole history of the human heart on the head of a pin, you might say.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.32">&nbsp;</a><div class="audio play-clip" id="wfaudio13.32">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:47:27.10:00',
					'endtime','00:48:07.77:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>You've almost answered this, but
						I'll ask you anyway. Do you think you'll ever write an historical novel
						set&mdash;dealing with the last century? Would it interest you to do so?</p>
<p><div class="speaker">William Faulkner</div>No, because I don't have much
						patience with facts, and any writer is&mdash;is a congenital liar to begin with,
						or he wouldn't take up writing, and so I couldn't tell the truth even about
						history. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> That's why I'll never write a
						biography. I couldn't tell the truth about Faulkner, I'm sure about it 
						<span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span>. Any writer tries to improve on what he
						sees. In his opinion, the Lord ain't near as good as he is at creating people.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.33">&nbsp;</a><div class="audio play-clip" id="wfaudio13.33">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:48:07.78:00',
					'endtime','00:48:59.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Mr. Faulkner, you said that
						Hemingway developed a method he could control. What do you think&mdash;what is
						your personal opinion of <em>Across the River and into the
							Trees</em>?</p>
<p><div class="speaker">William Faulkner</div>I would say it was&mdash;that he considered it a&mdash;a bad book. Just like he
						considers <em>To Have and Have Not</em> a bad book, probably.
						But then the man that&mdash;that wrote some of the stories in <em>Men Without Women</em> 
						and some of the early books&mdash;he can afford to
						write a bad book, whenever he wants to, I think. Miss Hale will agree with
						that, won't you?</p>
<p><div class="speaker">Nancy Hale</div>Oh, yes.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.34">&nbsp;</a><div class="audio play-clip" id="wfaudio13.34">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:49:06.96:00',
					'endtime','00:49:53.32:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Do you still read any of the
						books that come out today, <span class="unclear tooltip" title="Text was unclear">[like the books by Herman Wouk and writers like him]</span>?</p>
<p><div class="speaker">William Faulkner</div>No, I don't. I think that most
						writers, as they get old, read less and less. The books that I read now are the
						ones I read and liked when I was twenty-one years old. I haven't read a new
						book, unless it was specifically put in my hand, in, oh, fifteen years.
						There have been exceptions, of course, that I have read for some particular
						reason, like that&mdash;that someone asked me to look at it, or I picked it up by
						chance and read a page and found I liked it,  but I don't keep up with
						modern books anymore. When I was young I read everything, but not
						anymore.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.35">&nbsp;</a><div class="audio play-clip" id="wfaudio13.35">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:49:54.35:00',
					'endtime','00:50:53.90:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>What were the books that you
						read at twenty-one that you&mdash;you set store by? Can you mention a few of
						them?</p>
<p><div class="speaker">William Faulkner</div>All of Balzac, <em>Don Quixote</em>, <em>Madame Bovary</em>,
						<em>Salammbo</em>, <em>The Temptation of Saint Anthony,</em> Turgenev&mdash;I wonder what
						became of him. He's not even writing any more. Is he dead? Does anybody
						know?</p>
<p><div class="speaker">A. K. Davis</div>He must be dead&mdash;</p>
<p><div class="speaker">William Faulkner</div>Dostoevsky, Tolstoy, most of
						Dickens, the Old Testament, Shakespeare&mdash;I don't read as much poetry as I did
						once.  Some of Conrad. I&mdash;I reckon there's maybe fifty books that&mdash;that every
						five years I will read through again, some for the story, some for a
						character. One of my favorite people is Mrs. Gamp.  I get her out every winter
						and read about her again.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.36">&nbsp;</a><div class="audio play-clip" id="wfaudio13.36">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:50:53.91:00',
					'endtime','00:51:30.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Which one of Conrad do&mdash;do you
						read?</p>
<p><div class="speaker">William Faulkner</div>
						<em>The Nigger of the Narcissus.</em>
					</p>
<p><div class="speaker">A. K. Davis</div>Do you read <em>Nostromo</em>?</p>
<p><div class="speaker">William Faulkner</div>Haven't read that in years.</p>
<p><div class="speaker">A. K. Davis</div><em>Victory</em>?</p>
<p><div class="speaker">William Faulkner</div>Not in years. "Falk."  "The End of the Tether." What's the one about
						the young man that was given command of the&mdash;</p>
<p><div class="speaker">Joseph Blotner</div><em>Lord Jim</em>.</p>
<p><div class="speaker">William Faulkner</div>&mdash;barque in&mdash;?</p>
<p><div class="speaker">A. K. Davis</div>Deserted?</p>
<p><div class="speaker">William Faulkner</div>&mdash;Bangkok?  "Youth."</p>
<p><div class="speaker">A. K. Davis</div>"Youth," yes.</p>
<p><div class="speaker">William Faulkner</div>"Youth."</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.37">&nbsp;</a><div class="audio play-clip" id="wfaudio13.37">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:51:35.11:00',
					'endtime','00:53:03.17:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>Mr. Faulkner, there's a question
						that you may have&mdash;it may have been asked of you. I haven't been to all of the
						meetings and if you have answered it already, you can just
						ignore it. But a question that always comes up in the classroom in teaching
						an author who writes both short stories and novels, as to what&mdash;what, if 
						any, is the essential distinction in the&mdash;in the mind of the author, say, when he
						writes the story, whether it is to be a short story&mdash;is it merely a matter of
						the&mdash;of the quantity of materials, or is it a matter of the purpose which he
						wishes to produce, the effect, or is it simply a combination of various
						things?</p>
<p><div class="speaker">William Faulkner</div>It's a question of the
						writer's confidence. I think that&mdash;that what every writer wanted to be is a
						poet. He failed, and so the next is the short story. He failed, and so all
						that remains is to&mdash;is to write the novel. The poet can take the&mdash;the
						instance, the&mdash;the <span class="unclear tooltip" title="Text was unclear">[single]</span> instant of man's anguish, into
						four lines or fourteen lines. The short story writer can't do that, but he
						can do it in a thousand words. The novelist can't do either, and it takes
						him a hundred thousand words to do.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.38">&nbsp;</a><div class="audio play-clip" id="wfaudio13.38">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:53:12.80:00',
					'endtime','00:54:45.54:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Robert Turner</div>Sir, you&mdash;you seemed from that to
						place a premium on conciseness, yet your most brilliant successes seem to
						have been in the other direction.</p>
<p><div class="speaker">William Faulkner</div>Conciseness is the wrong word.
						It's a&mdash;it's a&mdash;a distillation. Down to the&mdash;to the&mdash;the&mdash;to perfection. You've
						got to use the clumsy language to communicate. It's a distillation of&mdash;of
						the anguish to its essence, which the poet can do. The short story
						writer is not that good. He has got to take a little more space, a little
						more of the clumsy, mean tools of communication. The novelist has got to
						take still more. But any story can be told in one sentence. If it can't be
						told in one sentence, you'd better throw it away and think of one that can
						be. Of course, the ramifications devolve from that&mdash;out of that, but the
						story itself, the moment of anguish or triumph, can be distilled into one
						sentence, and the poet does it in&mdash;in the&mdash;the most moving and most memorable
						way. He has touched it with&mdash;with a&mdash;a magic as though that anguish, or that
						triumph, had never occurred before.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.39">&nbsp;</a><div class="audio play-clip" id="wfaudio13.39">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:54:56.29:00',
					'endtime','00:55:35.99:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Edgar Shannon</div>You were saying that you
						sometimes read something that you wouldn't ordinarily because somebody asked
						you to or puts it in your hands. Are you besieged with aspiring writers who
						wish an opinion on a manuscript or something of that sort?</p>
<p><div class="speaker">William Faulkner</div>Yes.  Nobody can escape that,
						of course. But I think any writer that&mdash;that brings you a manuscript to read,
						you can save time by not reading that one, because the ones that write the
						good ones haven't got time to bring it to you and say, "Read this." They don't
						care whether you read it or not or whether you like it or not. They're the
						good ones.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.40">&nbsp;</a><div class="audio play-clip" id="wfaudio13.40">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:55:46.04:00',
					'endtime','00:56:22.35:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>I'm not quite sure how
						long this meeting is supposed to last. We've had an hour. Could you bear a
						few more questions, if there are questions?</p>
<p><div class="speaker">William Faulkner</div>Yes, sir. Yes, sir.  Yes, indeed.</p>
<p><div class="speaker">A. K. Davis</div>Any of you? The rest of you? Questions you'd like to ask Mr. Faulkner?</p>
<p><div class="speaker">Unidentified participant</div>Some of the books&mdash;</p>
<p><div class="speaker">Unidentified participant</div>You've done&mdash;you've done well  to hush up these people. They're
						so full of information.</p>
<p><div class="speaker">William Faulkner</div>They don't need anything from
						me. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.41">&nbsp;</a><div class="audio play-clip" id="wfaudio13.41">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:56:22.36:00',
					'endtime','00:56:48.69:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>I&mdash;I will say this, sir. You speak
						of <em>Don Quixote</em> as well as your&mdash;as one of your&mdash;one of
						the great books, one of the books that you most admire. It's a right long
						book, isn't it?</p>
<p><div class="speaker">William Faulkner</div>I hadn't noticed it. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> Just like <em>The Nigger of the
							Narcissus</em> is very short. I probably hadn't noticed that much
						either.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.42">&nbsp;</a><div class="audio play-clip" id="wfaudio13.42">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:56:51.94:00',
					'endtime','00:57:59.12:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Unidentified participant</div>Well, you have mentioned some of
						the&mdash;the novels that you like most. Is there any particular poetry that you
						think came closest to saying the truth in a few words?</p>
<p><div class="speaker">William Faulkner</div>Almost all of it. Burns,
						Keats, Wordsworth, now and then Whitman, Ben Johnson, Marlowe&mdash;almost all of
						it.  Laforgue.  Goethe.  Almost all of it. That's why people still read it, why
						the names are still known.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.43">&nbsp;</a><div class="audio play-clip" id="wfaudio13.43">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','00:57:59.13:00',
					'endtime','01:00:06.86:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">Floyd Stovall</div>Which do you suppose is&mdash;is the
						most difficult, the most unattainable, for an ambitious youngster who wants
						to write but doesn't know yet whether he is a poet or a novelist or what? I
						gather&mdash;I may be wrong&mdash;from what you say that&mdash;that in general you think
						that&mdash;that poetry is&mdash;is perhaps the most difficult thing to achieve 
						real intentions.</p>
<p><div class="speaker">William Faulkner</div>Well, few are good ones. I&mdash;I
						don't think that difficulty is the word. It's&mdash;it's a combination of&mdash;of&mdash;of
						a demon and&mdash;and&mdash;and a fire that you have. Difficult or ease has nothing to
						do with it. I&mdash;I&mdash;I wish I did know exactly what it is that it takes to make a
						poet. I think that any writer is&mdash;is better off if he looks on himself as a
						poet. He's a failed poet. I agree with you. But to look on himself primarily
						as a poet. That he has&mdash;has found man's history in its&mdash;its mutations, in
						the&mdash;the&mdash;the instances in which it&mdash;it becomes apparent, his anguish, his
						triumph, his&mdash;his failures, the whole passion of&mdash;of breathing, is so strong and
						so urgent that it&mdash;it must be recorded. And if he is very fortunate, he
						can&mdash;can do it as the poets did it, and if he's a little less fortunate, he
						can do it as the short story writers do it, as Chekhov did it. If he is
						least fortunate, he's got to go back to the clumsy method of&mdash;of Mark Twain
						and Dreiser.</p>
</div>
<hr>
<div class="utterance">
<a name="wfaudio13.44">&nbsp;</a><div class="audio play-clip" id="wfaudio13.44">
			Play section
		
	    <script language="JavaScript" type="text/javascript">
				try {
					QT_WriteOBJECT(
					'http://qss.itc.virginia.edu/medialab/faulkner_audio/wfaudio13.mp4', '610', ' 16', '',
					'autoplay', 'false',
					'scale', 'tofit',
					'starttime','01:00:11.48:00',
					'endtime','01:00:19.65:00');
				}
				catch (e) {
					//document.write(e);
				}
	    	</script>
</div>
<p><div class="speaker">A. K. Davis</div>Well, if there are no
						further questions, we're very much obliged to you indeed, Mr. Faulkner.</p>
<p><div class="speaker">Unidentified participant</div>Yes we are.</p>
<p><div class="speaker">William Faulkner</div>Well, thank you. <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
</div>
<hr>
</div></section><aside class="span-6 last" id="sidebar"><div id="search-box"><form method="get" action="/transcripts/search">
<input type="text" size="30" name="q" id="q_text" class="search-text span-4"><input type="submit" value="search" name="submit" id="submit" class="search-form-submit">
</form></div>
<div class="subnav"><a href="/">&#8606; Return to the Collection</a></div>
<h3>Table of Contents</h3>
<ul>
<li><a href="#wfaudio13.1" class="hidden">Opening</a></li>
<li><a href="#wfaudio13.2" class="hidden">A Southern Renaissance</a></li>
<li><a href="#wfaudio13.3" class="hidden">Scott and the South</a></li>
<li><a href="#wfaudio13.4" class="hidden">Expatriates in France</a></li>
<li><a href="#wfaudio13.5" class="hidden">Northern Readership</a></li>
<li><a href="#wfaudio13.6" class="hidden">Idealizing the South</a></li>
<li><a href="#wfaudio13.7" class="hidden">Regional Responses</a></li>
<li><a href="#wfaudio13.8" class="hidden">Region and Writing</a></li>
<li><a href="#wfaudio13.9" class="hidden">Environment and Art</a></li>
<li><a href="#wfaudio13.10" class="hidden">Topography as Influence</a></li>
<li><a href="#wfaudio13.11" class="hidden">Time in Long Sentences</a></li>
<li><a href="#wfaudio13.12" class="hidden">A Writer's Omniscience</a></li>
<li><a href="#wfaudio13.13" class="hidden">Telescoping Time</a></li>
<li><a href="#wfaudio13.14" class="hidden">Prompting Audience</a></li>
<li><a href="#wfaudio13.15" class="hidden">Civil War vs WW I</a></li>
<li><a href="#wfaudio13.16" class="hidden">Children, Idiots, Truth</a></li>
<li><a href="#wfaudio13.17" class="hidden">Nature of Children</a></li>
<li><a href="#wfaudio13.18" class="hidden">Charles in The Town</a></li>
<li><a href="#wfaudio13.19" class="hidden">Charles Growing Up</a></li>
<li><a href="#wfaudio13.20" class="hidden">Gavin in The Town</a></li>
<li><a href="#wfaudio13.21" class="hidden">Gavin in Intruder</a></li>
<li><a href="#wfaudio13.22" class="hidden">Gavin and Quentin</a></li>
<li><a href="#wfaudio13.23" class="hidden">Intruder's Origin</a></li>
<li><a href="#wfaudio13.24" class="hidden">Joyce and Influence</a></li>
<li><a href="#wfaudio13.25" class="hidden">Conrad's Influence</a></li>
<li><a href="#wfaudio13.26" class="hidden">Conrad's Technique</a></li>
<li><a href="#wfaudio13.27" class="hidden">Frontiers in Writing</a></li>
<li><a href="#wfaudio13.28" class="hidden">Past and Present</a></li>
<li><a href="#wfaudio13.29" class="hidden">Wolfe and the Past</a></li>
<li><a href="#wfaudio13.30" class="hidden">Facts v Truth</a></li>
<li><a href="#wfaudio13.31" class="hidden">Ranking Writers</a></li>
<li><a href="#wfaudio13.32" class="hidden">A Historical Novel</a></li>
<li><a href="#wfaudio13.33" class="hidden">Hemingway's Recent Work</a></li>
<li><a href="#wfaudio13.34" class="hidden">Contemporary Books</a></li>
<li><a href="#wfaudio13.35" class="hidden">Favorite Writers</a></li>
<li><a href="#wfaudio13.36" class="hidden">Reading Conrad</a></li>
<li><a href="#wfaudio13.37" class="hidden">Stories v Novels</a></li>
<li><a href="#wfaudio13.38" class="hidden">Distilling the Truth</a></li>
<li><a href="#wfaudio13.39" class="hidden">Requests from Young Writers</a></li>
<li><a href="#wfaudio13.40" class="hidden">Prompting Audience</a></li>
<li><a href="#wfaudio13.41" class="hidden">Long v Short Books</a></li>
<li><a href="#wfaudio13.42" class="hidden">Favorite Poetry</a></li>
<li><a href="#wfaudio13.43" class="hidden">Poet v Novelist</a></li>
<li><a href="#wfaudio13.44" class="hidden">Close</a></li>
</ul></aside>
		
