<?xml version="1.0"?>

            
<div id="side_nav">
  <ul>
    <li>
      <a href="#wfaudio27.1">Program Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.2">Show 1 Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.3">Doom's Name</a>
    </li>
    <li>
      <a href="#wfaudio27.4">Use of Aint</a>
    </li>
    <li>
      <a href="#wfaudio27.5">Title Light in August</a>
    </li>
    <li>
      <a href="#wfaudio27.6">Character Names</a>
    </li>
    <li>
      <a href="#wfaudio27.7">Sartoris' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.8">Lief</a>
    </li>
    <li>
      <a href="#wfaudio27.9">Dialect and Characterization</a>
    </li>
    <li>
      <a href="#wfaudio27.10">Ourn and Hisn</a>
    </li>
    <li>
      <a href="#wfaudio27.11">Old Man Falls' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.12">Y'awl</a>
    </li>
    <li>
      <a href="#wfaudio27.13">Sophonisba v Sophonsiba</a>
    </li>
    <li>
      <a href="#wfaudio27.14">Dialect and Caste</a>
    </li>
    <li>
      <a href="#wfaudio27.15">Show 1 Close</a>
    </li>
    <li>
      <a href="#wfaudio27.16">Program Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.17">Show 2 Introduction</a>
    </li>
    <li>
      <a href="#wfaudio27.18">Short v Long Titles</a>
    </li>
    <li>
      <a href="#wfaudio27.19">Jefferson's Name</a>
    </li>
    <li>
      <a href="#wfaudio27.20">Use of Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.21">Child Narrators</a>
    </li>
    <li>
      <a href="#wfaudio27.22">Historicizing Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.23">Faulkner's Own Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.24">Negro Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.25">Molly Beauchamp v Falls</a>
    </li>
    <li>
      <a href="#wfaudio27.26">Southern Dialects</a>
    </li>
    <li>
      <a href="#wfaudio27.27">Wash Jones' Dialect</a>
    </li>
    <li>
      <a href="#wfaudio27.28">Use of Alliteration</a>
    </li>
    <li>
      <a href="#wfaudio27.29">Show 2 Close</a>
    </li>
  </ul>
</div>
<div id="header">
  <h3>DATE: 6 May 1958</h3>
  <h3>OCCASION: What's the Good Word Radio Program</h3>
  <h3>TAPE: T-141c</h3>
  <h3>LENGTH: 26:20</h3>
</div>
<div id="body">
  <a name="wfaudio27.1"/>
  <p><strong>Engineer:</strong>You can hear the opening <span class="unclear tooltip" title="Text was unclear">[for the program]</span>.</p>
  <hr/>
  <p><strong>Announcer:</strong>"What's the good word?" <span class="event tooltip" title="There was some theme music happening">[theme music]</span> </p>
  <hr/>
  <p><strong>Engineer:</strong>It's going on </p>
  <hr/>
  <p><strong>Announcer:</strong>Welcome now
                    to <em>What's the Good Word</em>, a weekly presentation of the
                    University of Virginia designed to inform and entertain the people of Virginia
                    about our English language and literature. How much do you know about the
                    language you speak? Our host for the program is Mr. Edward Stevenson of the
                    Department English Language and Literature of the University in Charlottesville.
                        <span class="event tooltip" title="There was some theme music happening">[theme music]</span> Now here's Mr. Stevenson.</p>
  <hr/>
  <a name="wfaudio27.2"/>
  <p><strong>Edward Stevenson:</strong>Today we are very fortunate to have as our special guest Mr. William
                    Faulkner of Oxford, Mississippi, the celebrated&#x2014;justly celebrated
                    Southern writer of fiction and winner of the Nobel Prize for Literature in 1949.
                    Our panel is somewhat larger than usual today, as several of the students from
                    my English 32 class have joined us. In addition to Mr. Robert Kellogg of the
                    Department of English, one of our regular panel members, we have with us
                    also today Mr. Houk, Mrs. Massey, Miss Winslow, Miss Taylor, Miss Marston, Mr.
                    Bagley, Mr. Nesbit, Mr. Miller, Mr. Carlson and Miss Frame of
                    the class in the history of the English language who are here to ask Mr.
                    Faulkner some questions about his use of dialect and other questions concerning
                    language in his fiction writing. And I suppose without further ado we might as
                    well start on the questions. 
                        Mr. Houk, will you lead off with the first question, please?   
                    </p>
  <hr/>
  <a name="wfaudio27.3"/>
  <p><strong>Houk:</strong>Yes. Mr. Faulkner, your character Doom has the&#x2014;a curious
                    history for his name. His Indian name Ikkemotubbe was translated  
                    <em>L'homme</em> or <em>De l'homme</em> in French,
                    then was translated by him back to Doom in English. I understand that's
                    correct.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That's correct. It was translated back to Doom not by him but by his
                    associates trying to pronounce his French name, given to him by the French
                    adventurer who called himself the Chevalier Soeur-Blonde de Vitry, that he met
                    in New Orleans. That was simply an anglicization of the French <em>De l'homme</em>.</p>
  <hr/>
  <p><strong>Houk:</strong>And that Anglicization would be your imagination&#x2014;from your
                    imagination rather than from facts. In other words, you do not know a parallel
                    such as this one in Indian lore.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I would certainly like to think I invented that.</p>
  <hr/>
  <a name="wfaudio27.4"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I'd like to ask you about your use of "aint" in the
                    dialogue of your characters. In particular, in <em>As I Lay
                        Dying.</em> When Anse Bundren is talking to Vernon Tull he says, "I aint
                    asking it of you, he says, I can always do it for me and mine. I aint asking you to
                    risk your mule. It aint your dead; I am not blaming you." Now why do you have
                    the switch between&#x2014;from "aint" to "am not"?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>"Am not" is more positive.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>So you use the "am not" when you are definite &#x2014;</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, to be very positive, yes. Otherwise they would have said
                    "aint."</p>
  <hr/>
  <a name="wfaudio27.5"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in <em>The Portable Faulkner</em> the editor
                    says, "Incidentally the title of the novel has nothing to do with August
                    sunlight; it refers to Lena Grove and her baby. In the Mississippi backwoods, it
                    is sometimes said of a pregnant woman, but more often of a mare or cow, that she
                    will be light in August or September." Is this how you meant it to
                    be&#x2014;the title?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I never heard of that. It refers to a texture of the light in August
                    in my country, in a spell of two or three cool days we call "blackberry winter."
                    It's the light. I had never heard that business of after the cow drops the calf
                    she's light in August.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>And that&#x2014;you don't know that expression at all.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>I haven't heard it in Georgia either.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>I suppose people have spoken to you of it since then?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes.</p>
  <hr/>
  <a name="wfaudio27.6"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in connection with this class in particular, we've been
                    very interested in reading about names in America, about personal and
                    geographical names. I wonder to what extent the names that you use parallel
                    those that have actually occurred in your lifetime, or in any history that you
                    may have learned.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think any writer is very careful always not to use actual names if he
                    can help it because a great deal of his time would be taken up explaining to the
                    actual owner of that name that he didn't refer to him, was not impugning his
                    character nor his past nor his parentage.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Originally in "The Spotted Horses" story, weren't you going to call the
                    sewing machine salesman Suratt, and then you met somebody by that name so you
                    changed the name to Ratliff, <span class="unclear tooltip" title="Text was unclear">[didn't you]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that's right.</p>
  <hr/>
  <a name="wfaudio27.7"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, does the speech of Sartoris in the story "Ad Astra" have
                    any special dialect qualities? Is it a southern speech, or is it just the speech
                    of an average educated American?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>It would be the speech of a limited young man, who had no particular
                    education. It was a speech he had heard from his associates back on his
                    Mississippi plantation, colored just a little by what he had listened to serving
                    with English troops probably.</p>
  <hr/>
  <a name="wfaudio27.8"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, Ek Snopes uses the archaic word "<span class="unclear tooltip" title="Text was unclear">[lief]</span>"
                    in "I'd just as lief let them stay out there." Is this word still common in
                    Mississippi?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Oh yes, there are any number of words derived from lowland Scottish in
                    Mississippi country people's talk. They say "to ret up a room."</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>That <span class="unclear tooltip" title="Text was unclear">[leif]</span>&#x2014;it may be just my own
                    inexperience, but I haven't come across that in Georgia. I wonder&#x2014;it
                    may be a difference between the speech of Georgia&#x2014;popular speech, folk
                    speech in Georgia and in Mississippi. I remember being struck by that too,
                    because I wasn't familiar with it in Georgia speech.</p>
  <hr/>
  <a name="wfaudio27.9"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, to what degree do you consider dialect in speech important
                    in characterization?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think you can't draw a character simply by putting dialect into his
                    mouth. It is important as a part of the picture of the man, an indigenous
                    picture of the individual. In that sense it's important, that is a man will
                    speak according to his nature, his degree and his geography.</p>
  <hr/>
  <a name="wfaudio27.10"/>
  <p><strong>Edward Stevenson:</strong>Here's an example, Mr. Faulkner, that might have a bearing on that. In
                    the story "Barn Burning," the little boy, Sarty Snopes, uses the forms, the
                    grammatical forms, "ourn" and "hisn." What do these tell the reader about the
                    speaker, would you say?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>That he came from an uneducated class of white people.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Those terms are in use in the southern mountains more than in the
                    lowlands, I think, in the South, more than in the coastal plains of the South.
                    Is there any implication that these people are from mountain extraction or
                    anything of that sort?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, they're people whose dialect has not been colored at all by the
                    talk of&#x2014;of Negroes. They are mountain people, where there are not many
                    Negroes. Their speech is harsher. The "r" is more definite than the "r" in the
                    white child that has lived with Negroes.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Yes. Of course that's an old controversy, whether the Negroes learned
                    their speech from the white people, or whether the white people were influenced
                    by the Negroes. I guess we'd better not get into that&#x2014;it's too
                    complicated a question.</p>
  <hr/>
  <a name="wfaudio27.11"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, again from <em>Sartoris</em>: Old Man Falls is a
                    strong dialect characterization. How did you arrive at his speech, and what
                    level of society is he intended to represent?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>He represents the&#x2014;the older class of Southerner. He was not
                    quite illiterate in his time as the&#x2014;as a Snopes would be in his. He
                    had a close association with people that&#x2014;that were literate. But he too belongs to
                    the&#x2014;the class whose ancestors owned no slaves.</p>
  <hr/>
  <a name="wfaudio27.12"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, I was wondering, from your short story "That Evening
                    Sun"&#x2014;there's a section when Jason talks with Nancy, he says, I'm
                    quoting now, "'I didn't have fun,' Jason said. 'You hurt me. You put smoke in my
                    eyes. Y'awl made me come.'" And I wonder, are you using "y'awl" there as
                    a&#x2014;directed at Nancy? In other words, is he&#x2014;is that
                    singular?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, no, never.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>You've never used "y'awl" in the singular?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Never singular.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Have you ever heard it used in the singular?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>I never have either. I'll bear you out on that.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I've heard Northerners use it in the singular. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <a name="wfaudio27.13"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, there's a traditional character in literature, Sophonisba,
                    who was the daughter of Hasdrubal, and the subject of many tragedies. She is not
                    known too much today, I don't think, but your character from the short story
                    "Was," from <em>Go Down, Moses</em> I believe, Miss Sophonsiba I
                    believe is the way you pronounce her name, is that&#x2014;is the change of
                    that "s" from Sophonisba to Sophonsiba, a change just of the "s" not of the
                    accent, is that your&#x2014;is that intentional?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Intentional in this sense: to imply that the people of her
                    class and her time were involved with books, with culture, but they were
                    careless with it too, and they would mispronounce the names, they would take
                    classical names and give to the Negro slaves and would probably mispronounce
                    them, so that after the Negro had passed it on to his children it became
                    something else, but at one time it came out of the classics, that someone who
                    had read the Latin or the Greek had seen it.</p>
  <hr/>
  <a name="wfaudio27.14"/>
  <p><strong>Unidentified participant:</strong>We've sort of talked around this. I was wondering, do you have any key by
                    which you go to make a distinction between the dialogue of your
                    various&#x2014;the various levels of your characters, such as between the
                    Compsons, the Snopes, the Negroes, and the Indians and so forth? Is there
                    anything that you use as a distinction between these two, between all of
                    these?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, of course not deliberately. It's a&#x2014;a&#x2014;a concept
                    that the Compson would speak a little differently from a Snopes, or from an
                    intermediate between Compson and Snopes. That's a matter of the
                    ear, that these people&#x2014;when a writer gets the character properly on
                    his feet, the character takes charge of things. The character says, "This is what
                    I'm going to say, you put it down."</p>
  <hr/>
  <a name="wfaudio27.15"/>
  <p><strong>Edward Stevenson:</strong>Thank you very much, Mr. Faulkner. Our time will not permit further
                    questioning at this session, but be with us again next week, when again our
                    Writer in Residence, Mr. William Faulkner of Oxford, Mississippi, will be with
                    the members of the English 32 class in order to answer questions concerning his
                    use of dialect and of language in general in his fiction. With us on the panel
                    today have been Mr. Robert Kellogg of the Department of English, and various and
                    sundry members of the English 32 class whose names I haven't time to mention at
                    this time. This is Edward Stevenson with the Department of English, asking you
                    to be again with us at the same next week for another session on this same
                        subject.</p>
  <hr/>
  <a name="wfaudio27.16"/>
  <p><strong>Announcer:</strong>Our host for the pr&#x2014; <span class="event tooltip" title="There was some gap in tape happening">[gap in tape]</span>
                    Stevenson of the Department English Language and Literature of the University in
                    Charlottesville. <span class="event tooltip" title="There was some theme music happening">[theme music]</span> Now here's Mr. Stevenson.</p>
  <hr/>
  <a name="wfaudio27.17"/>
  <p><strong>Edward Stevenson:</strong>We're very happy to bring you again today our Writer in Residence at the
                    University, Mr. William Faulkner of Oxford, Mississippi, who has consented to
                    speak to the members of the English 32 class in the history of the English
                    language concerning matters involving his use of dialect or any feature of his
                    use of language in his fiction. Our panel is therefore somewhat larger than
                    usual. Besides myself and Mr. Kellogg of the Department of English, we have Mr.
                    Houk, Mrs. Massey, Miss Winslow, Miss Taylor, Miss Marston, Mr. Bagley, Mr.
                    Nesbit, Mr. Miller, Mr. Carlson and Miss Frame of the English
                    32 class. 
                      And now without further ado, Miss Winslow, will you please lead off with the first question?
                    </p>
  <hr/>
  <a name="wfaudio27.18"/>
  <p><strong>Winslow:</strong>Mr. Faulkner, I've noticed a lot of your short stories have very short
                    titles. Do you think that's more effective than a long title?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I doubt if there can be any rule about that. I think that anything, the
                    shorter it's said the better. I think that&#x2014;that stories title
                    themselves quite often. Yes, in that anything, the shorter it's said the better
                    it is.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>"Long" is a  good long title, or "Wash."</p>
  <hr/>
  <a name="wfaudio27.19"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, this might sound like a typical question from a proud
                    Virginian, but how did you arrive at&#x2014;at&#x2014;arrive at the name
                    Jefferson for the town?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I told that in a book called <em>Requiem for a Nun</em>.
                    It was the mail carrier, in 1811 or '12 it was, who brought the mail into what was
                    then an Indian trading post had&#x2014;had been a tenant on Mr. Jefferson's
                    place, one of Mr. Jefferson's places here in Albemarle County. It's an involved,
                    long story, but it explains how they named the town Jefferson.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Well that's interesting. I never knew that it really was connected with
                    Thomas Jefferson. Very good.</p>
  <hr/>
  <a name="wfaudio27.20"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in your writing of dialogues, do you present the words of
                    your characters as they would have spoken them? Or do you just use a touch of
                    dialect to color the character?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think it's best to use as little dialect as possible because it
                    confuses people who are not familiar with it. That nobody should let the
                    character speak completely in his own vernacular.  It's best indicated by a few
                    simple, sparse but recognizable touches.</p>
  <hr/>
  <a name="wfaudio27.21"/>
  <p><strong>Robert Kellogg:</strong>Mr. Faulkner, I'd like to ask you a question if it's not too involved
                    along those lines. Last week we were talking about the use of dialect to
                    differentiate the classes that people originated in, the social classes, the
                    geographical location. I was wondering perhaps about the use of language of a
                    child narrator. I've noticed in, say for example "That Evening Sun," lots of
                    Quentin's sentences seem short and perhaps the way a child might speak them and
                    yet it's pretty grown-up for a nine-year-old to report all of the things he
                    does. I wonder whether you'd comment on his rather accurate reporting.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>One has to take liberties to that extent. I think that some of the
                    things that Huck Finn recorded he couldn't have done at his age. That's the
                    liberties which the writer must take in order to make his story clear and
                    interesting.</p>
  <hr/>
  <p><strong>Robert Kellogg:</strong>And yet we&#x2014;we assume his point of view throughout the story, is
                    that not so?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Yes, that his point of view is still that of his age, even though his
                    diction may not be.</p>
  <hr/>
  <p><strong>Robert Kellogg:</strong>Yes, sir.</p>
  <hr/>
  <a name="wfaudio27.22"/>
  <p><strong>Unidentified participant:</strong>Sir, would you make any distinction between what, say, a southern
                    mountain character would say in 1920 and what he would say in 1950, or is it
                    just all what you heard when you were in ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think that his&#x2014;his vernacular, his dialect wouldn't alter so
                    much as his vocabulary might increase a little because of radio and books
                    and&#x2014;and newspapers which he can get or he can't escape from getting in
                    1950 which he couldn't get in 1910 or '20.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Let me put in a sort of a variation on that question. Do you try to make
                    any distinction between what you conceive today to be the speech, say, of the
                    1880s and maybe the 1920s?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No more than we just stated, the vocabulary might change but
                    the&#x2014;the diction wouldn't.</p>
  <hr/>
  <a name="wfaudio27.23"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, in listening to several of your talks I find <span class="unclear tooltip" title="Text was unclear">[it sort 
                        of curious and rather remarkable]</span> that often you use what is generally considered to be bad
                    grammar, for instance "he dont," "aint." Do you have a conscious intent in
                    talking <span class="unclear tooltip" title="Text was unclear">[in this manner]</span>?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No.</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Is it a&#x2014;certainly I have no question that you know what <span class="unclear tooltip" title="Text was unclear">[good]</span> 
                    grammar is . Is it just a recollection in your mind of the speech
                    in Mississippi at the ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Probably old muscular habits in speech, if you will agree
                    that&#x2014;that speech can have old muscular habits, just like the arm or
                    the hand can. To me that's not really too important, that a little bad grammar
                    don't hurt anything.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>That's really more old fashioned, I think, than anything else.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Probably, yes.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>You find&#x2014;you find for instance things like "he don't" in the
                    letters of Lord Byron, I've noticed.</p>
  <hr/>
  <a name="wfaudio27.24"/>
  <p><strong>Unidentified participant:</strong>Sir, do you think that the dialect or speech of southern Negroes is a
                    deterrent to his progress ?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I shouldn't think that&#x2014;that anyone's speech should be a
                    deterrent to his progress if he just don't use too much of it. I think a lot
                    of&#x2014; <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span></p>
  <hr/>
  <p><strong>Unidentified participant:</strong>Well put.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I think a lot of people talk too much.</p>
  <hr/>
  <a name="wfaudio27.25"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, the wife in "The Fire and the Hearth,"  an educated
                    Negro woman, seems in direct contrast to Old Man Falls in <em>Sartoris</em>. This is a transcription of her speech: "Where are you going
                    this time of night? Messing around up yonder in the bottom all last night!
                    Getting back home just in time to hitch up and get to the field a good hour
                    after sunup." Whereas Old Man Falls is: "Cunnel was settin' thar in a cheer, his
                    sock feet propped on the po'ch railin', smokin' this hyer very pipe." Since the
                    copyright date on <em>Sartoris</em> is 1929 and the copyright date
                    on <em>Go Down, Moses</em>, from which "The Fire and the Hearth"
                    is taken, is much later, does this difference in true&#x2014;in the
                    representation of dialect indicate a definite trend on your part, or is this
                    merely a social difference?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I would say it's a social difference, that the Negro woman maybe had a
                    little more to say to tell the story, which gets back to what we just spoke of.
                    Also she had been associated with a better class of white&#x2014;a more
                    literate, cultured class of white people for more of her life than Old Man Falls
                    had. It may be the Negro woman had a little more chance to talk than Old Man
                    Falls had.</p>
  <hr/>
  <a name="wfaudio27.26"/>
  <p><strong>Unidentified participant:</strong>Mr. Faulkner, there has appeared in <em>American
                        Speech</em> magazine some articles on the Southern dialect, and it points
                    out certain peculiarities about the Southern dialect. Now these articles were
                    written by men who&#x2014;in the Mississippi and Louisiana area. The
                    inconsistency seems to appear in the fact that some of these examples that they
                    show are not consistent with examples shown in the Georgia dialect, or perhaps
                    in the Carolinas. My question is this: do you think that there could possibly be
                    a split in the Southern dialect, between the Carolinas and Georgia, and perhaps
                    draw a rough line down Alabama, and have a different dialect on your side?</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>Sort of two subdialects, maybe an eastern and a western division of the
                    Southern dialect?</p>
  <hr/>
  <p><strong>Unidentified participant:</strong>That's right.</p>
  <hr/>
  <p><strong>William Faulkner:</strong>I'm not too certain of that. I do know the dialect in some parts of
                    Mississippi and Louisiana has been colored a little by French and Spanish
                    influence. I think that the dialect would be consistent more by contour lines.
                    As Mr. Stevenson spoke of, the people of the lowlands speak differently from the
                    people in the hills, so the people in the north Alabama hills and east Tennessee
                    hills and Georgia hills would speak a dialect. The people in the flatlands of
                    Georgia, the flatlands of Alabama and Mississippi would speak a dialect, which
                    would be almost identical. The people along the coast would speak a dialect
                    colored just a little by the influence of Spanish and French and Creole.</p>
  <hr/>
  <a name="wfaudio27.27"/>
  <p><strong>Unidentified participant:</strong>In connection with this, sir, Wash Jones uses speech characterized by the
                    following: "air" for "are," "yit" for "yet," and "hit" for "it," and various
                    others of course. Although we know from our studies in our class that this is
                    generally common Southern speech, many of your characters on somewhat the same
                    social plane as Wash Jones do not use this type of speech. In the genealogy at
                    the rear of the&#x2014;<em>Absalom</em>, 
                    Modern Library 
                    <em>Absalom, Absalom!</em>, Wash Jones is said to&#x2014;it's
                    said that the date and location of his birth is unknown. Could we assume possibly
                    that he comes from&#x2014;from somewhere in Tennessee, if he uses this
                    speech?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>From a hill country, yes.</p>
  <hr/>
  <a name="wfaudio27.28"/>
  <p><strong>Edward Stevenson:</strong>Here's a question I'd like to get in before our time runs out, about a
                    linguistic device that writers often use, more commonly seen in poets perhaps
                    than in prose fiction, in poetry rather than in prose fiction. Mr. Faulkner, I
                    refer to the use of alliteration. And let me read you a sentence from "Barn
                    Burning," and note the alliteration on the "s" sounds. "His two hulking
                    sisters"&#x2014;this is the little boy's point of view&#x2014;"His two
                    hulking sisters in their Sunday dresses and his mother and her sister in calico
                    and sunbonnets were already in it, sitting on and among the sorry residue of the
                    dozen and more movings which even the boy could remember." Was that a conscious
                    use of alliteration, or is it just happenstance?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>Happenstance.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong><span class="unclear tooltip" title="Text was unclear">[Sure enough.]</span> Do you ever use alliteration
                    consciously?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>No, I don't have time. <span class="event tooltip" title="There was some audience laughter happening">[audience laughter]</span> I mean by that
                    the writer is too busy getting the story down before he forgets it to bother too
                    much about his grammar or his style or the tricks he might use.</p>
  <hr/>
  <p><strong>Edward Stevenson:</strong>But in the process of revision mightn't you scratch out sometimes and
                    substitute something which you think would sound a little better?</p>
  <hr/>
  <p><strong>William Faulkner:</strong>A reviser would but nobody is going to revise if he can help it. That
                    is, nobody revises for fun. If it's all right he lets it go. The publisher can
                    correct the grammar if he thinks it's needed.</p>
  <hr/>
  <a name="wfaudio27.29"/>
  <p><strong>Edward Stevenson:</strong>Well, I see our time has run out. I want to thank Mr.
                        Faulkner&#x2014; <span class="event tooltip" title="There was some end of recording happening">[end of recording]</span></p>
  <hr/>
</div>

        
