<dl>
<dt><a href="/transcripts/show/wfaudio01_1">15 February 1957</a></dt>
<dd>Gwynn's American Fiction Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio01_2">25 February 1957</a></dt>
<dd>John Coleman's Writing Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio02_1">7 March 1957</a></dt>
<dd>The English Club</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio02_1read">7 March 1957</a></dt>
<dd>The English Club</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio02_2">7 March 1957</a></dt>
<dd>The English Club</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio03">9 March 1957</a></dt>
<dd>Undergraduate Class in Contemporary Literature</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio04">11 March 1957</a></dt>
<dd>Twentieth-Century Literature Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio05_1">13 March 1957</a></dt>
<dd>McAleer's Twentieth Century Literature Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio05_2">13 March 1957</a></dt>
<dd>McAleer's Twentieth Century Literature Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio06_1">13 April 1957</a></dt>
<dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio06_2">13 April 1957</a></dt>
<dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio07_1">15 April 1957</a></dt>
<dd>Virginia Colleges Conference</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio07_1read">15 April 1957</a></dt>
<dd>Virginia Colleges Conference</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio07_2">15 April 1957</a></dt>
<dd>Virginia Colleges Conference</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio08_1">25 April 1957</a></dt>
<dd>At Mary Washington College</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio08_1read">25 April 1957</a></dt>
<dd>At Mary Washington College</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio08_2">25 April 1957</a></dt>
<dd>At Mary Washington College</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio09_1">27 April 1957</a></dt>
<dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio09_2">27 April 1957</a></dt>
<dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio10">30 April 1957</a></dt>
<dd>The Jefferson Society</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio10read">30 April 1957</a></dt>
<dd>The Jefferson Society</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio11_1">7 May 1957</a></dt>
<dd>University Radio Show</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio11_2">7 May 1957</a></dt>
<dd>University Radio Show</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio12_1">8 May 1957</a></dt>
<dd>Engineering School Students</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio12_1read">8 May 1957</a></dt>
<dd>Engineering School Students</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio12_2">8 May 1957</a></dt>
<dd>Engineering School Students</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio12_2read">8 May 1957</a></dt>
<dd>Engineering School Students</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio12_3">8 May 1957</a></dt>
<dd>Engineering School Students</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio13">13 May 1957</a></dt>
<dd>English Department Faculty and Wives</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio14_1">15 May 1957</a></dt>
<dd>Session with the General Public</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio14_2">15 May 1957</a></dt>
<dd>Session with the General Public</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio15">16 May 1957</a></dt>
<dd>Law School Wives</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio16_1">20 May 1957</a></dt>
<dd>English II Class</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio16_1read">20 May 1957</a></dt>
<dd>English II Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio16_2">20 May 1957</a></dt>
<dd>English II Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio17">20 May 1957</a></dt>
<dd>Press Conference</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio18_1">30 May 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio18_1read">30 May 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio18_2">30 May 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio18_3">30 May 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio19_1">5 June 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio19_1read">5 June 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio19_2">5 June 1957</a></dt>
<dd>Local Public and University Community</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio20_1">20 February 1958</a></dt>
<dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio20_1_2clip">20 February 1958</a></dt>
<dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio20_1read">20 February 1958</a></dt>
<dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio20_2">20 February 1958</a></dt>
<dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio21">21 February 1958</a></dt>
<dd>Graduate Class in American Fiction</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio22_1">26 February 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio22_1_2clip">26 February 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio22_1read">26 February 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio22_2">26 February 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio23_1">24 April 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio23_1_2clip">24 April 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio23_1read">24 April 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio23_2">24 April 1958</a></dt>
<dd>Undergraduate Writing Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio24_1">28 April 1958</a></dt>
<dd>First-Year English Class</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio24_1_2clip">28 April 1958</a></dt>
<dd>First-Year English Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio24_2">28 April 1958</a></dt>
<dd>First-Year English Class</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio25">1 May 1958</a></dt>
<dd>McAleer's Undergraduate Class in Contemporary American Literature</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio26_1">2 May 1958</a></dt>
<dd>Undergraduate Class in Contemporary American Literature, Undergraduate
                        Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio26_1_2clip">2 May 1958</a></dt>
<dd>Undergraduate Class in Contemporary American Literature,
                        Undergraduate Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio26_2">2 May 1958</a></dt>
<dd>Undergraduate Class in Contemporary American Literature, Undergraduate
                        Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio27">6 May 1958</a></dt>
<dd>What's the Good Word Radio Program</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio28_1">7 May 1958</a></dt>
<dd>Department of Psychiatry</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio28_2">7 May 1958</a></dt>
<dd>Department of Psychiatry</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio29_1">8 May 1958</a></dt>
<dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio29_1_2clip">8 May 1958</a></dt>
<dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio29_2">8 May 1958</a></dt>
<dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio30_1">12 May 1958</a></dt>
<dd>Representatives from Other Colleges</dd>
</dl>
<dl>
<dt class="clip"><a href="/transcripts/show/wfaudio30_1_2clip">12 May 1958</a></dt>
<dd>Representatives from Other Colleges</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio30_2">12 May 1958</a></dt>
<dd>Representatives from Other Colleges</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio31">15 May 1958</a></dt>
<dd>At Washington &amp; Lee University</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio31read">15 May 1958</a></dt>
<dd>At Washington &amp; Lee University</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudio32">23 May 1958</a></dt>
<dd>General Public</dd>
</dl>
<dl>
<dt class="reading"><a href="/transcripts/show/wfaudio32read">23 May 1958</a></dt>
<dd>General Public</dd>
</dl>
<dl>
<dt><a href="/transcripts/show/wfaudioUVA">6 July 1962</a></dt>
<dd>English Department Press Conference</dd>
</dl>
