<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 February 1957</a>
  </dt>
  <dd>Gwynn's American Fiction Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">25 February 1957</a>
  </dt>
  <dd>John Coleman's Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 March 1957</a>
  </dt>
  <dd>The English Club</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 March 1957</a>
  </dt>
  <dd>The English Club</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 March 1957</a>
  </dt>
  <dd>The English Club</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">9 March 1957</a>
  </dt>
  <dd>Undergraduate Class in Contemporary Literature</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">11 March 1957</a>
  </dt>
  <dd>Twentieth-Century Literature Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">13 March 1957</a>
  </dt>
  <dd>McAleer's Twentieth Century Literature Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">13 March 1957</a>
  </dt>
  <dd>McAleer's Twentieth Century Literature Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">13 April 1957</a>
  </dt>
  <dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">13 April 1957</a>
  </dt>
  <dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 April 1957</a>
  </dt>
  <dd>Virginia Colleges Conference</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 April 1957</a>
  </dt>
  <dd>Virginia Colleges Conference</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 April 1957</a>
  </dt>
  <dd>Virginia Colleges Conference</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">25 April 1957</a>
  </dt>
  <dd>At Mary Washington College</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">25 April 1957</a>
  </dt>
  <dd>At Mary Washington College</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">25 April 1957</a>
  </dt>
  <dd>At Mary Washington College</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">27 April 1957</a>
  </dt>
  <dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">27 April 1957</a>
  </dt>
  <dd>Blotner's Novel and Gwynn's American Fiction Classes</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 April 1957</a>
  </dt>
  <dd>The Jefferson Society</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 April 1957</a>
  </dt>
  <dd>The Jefferson Society</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 May 1957</a>
  </dt>
  <dd>University Radio Show</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 May 1957</a>
  </dt>
  <dd>University Radio Show</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1957</a>
  </dt>
  <dd>Engineering School Students</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1957</a>
  </dt>
  <dd>Engineering School Students</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1957</a>
  </dt>
  <dd>Engineering School Students</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1957</a>
  </dt>
  <dd>Engineering School Students</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1957</a>
  </dt>
  <dd>Engineering School Students</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">13 May 1957</a>
  </dt>
  <dd>English Department Faculty and Wives</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 May 1957</a>
  </dt>
  <dd>Session with the General Public</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 May 1957</a>
  </dt>
  <dd>Session with the General Public</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">16 May 1957</a>
  </dt>
  <dd>Law School Wives</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 May 1957</a>
  </dt>
  <dd>English II Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 May 1957</a>
  </dt>
  <dd>English II Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 May 1957</a>
  </dt>
  <dd>English II Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 May 1957</a>
  </dt>
  <dd>Press Conference</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 May 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 May 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 May 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">30 May 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">5 June 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">5 June 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">5 June 1957</a>
  </dt>
  <dd>Local Public and University Community</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 February 1958</a>
  </dt>
  <dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 February 1958</a>
  </dt>
  <dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 February 1958</a>
  </dt>
  <dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">20 February 1958</a>
  </dt>
  <dd>The Raven, Jefferson and Omicron Delta Kappa Societies</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">21 February 1958</a>
  </dt>
  <dd>Graduate Class in American Fiction</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">26 February 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">26 February 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">26 February 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">26 February 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">24 April 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">24 April 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">24 April 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">24 April 1958</a>
  </dt>
  <dd>Undergraduate Writing Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">28 April 1958</a>
  </dt>
  <dd>First-Year English Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">28 April 1958</a>
  </dt>
  <dd>First-Year English Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">28 April 1958</a>
  </dt>
  <dd>First-Year English Class</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">1 May 1958</a>
  </dt>
  <dd>McAleer's Undergraduate Class in Contemporary American Literature</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">2 May 1958</a>
  </dt>
  <dd>Undergraduate Class in Contemporary American Literature, Undergraduate
                        Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">2 May 1958</a>
  </dt>
  <dd>Undergraduate Class in Contemporary American Literature,
                        Undergraduate Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">2 May 1958</a>
  </dt>
  <dd>Undergraduate Class in Contemporary American Literature, Undergraduate
                        Class in Writing, Graduate Class in American Fiction</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">6 May 1958</a>
  </dt>
  <dd>What's the Good Word Radio Program</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 May 1958</a>
  </dt>
  <dd>Department of Psychiatry</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">7 May 1958</a>
  </dt>
  <dd>Department of Psychiatry</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1958</a>
  </dt>
  <dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1958</a>
  </dt>
  <dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">8 May 1958</a>
  </dt>
  <dd>Introductory Class in Types of Literature, Graduate Class in American
                        Literature</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">12 May 1958</a>
  </dt>
  <dd>Representatives from Other Colleges</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">12 May 1958</a>
  </dt>
  <dd>Representatives from Other Colleges</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">12 May 1958</a>
  </dt>
  <dd>Representatives from Other Colleges</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 May 1958</a>
  </dt>
  <dd>At Washington &amp; Lee University</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">15 May 1958</a>
  </dt>
  <dd>At Washington &amp; Lee University</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">23 May 1958</a>
  </dt>
  <dd>General Public</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">23 May 1958</a>
  </dt>
  <dd>General Public</dd>
</dl>
<?xml version="1.0"?>
<dl>
  <dt>
    <a href="/transcripts/show?file=.xml">6 July 1962</a>
  </dt>
  <dd>English Department Press Conference</dd>
</dl>
