<div id="search-box">	
	<% form_tag("/transcripts/search") do %>
		<%= text_field :q, "text", {:class => "search-text span-4"} %>
		<%= submit_tag "search", :id => "submit", :name => "submit", :class => "search-form-submit" %>
	<% end -%>
</div>
<% if params[:controller] == "transcripts" %>
	<div class="subnav"><%= link_to "&#8606; Return to the Collection", "/" %></div>
<% end %>