<aside id="sidebar" class="span-6 last">
	<%= render :partial => "search" %>
	<h3>About the Faulkner Audio Collection</h3>
	<p>This is a work in progress by the Scholars' Lab at the <a href="http://lib.virginia.edu">University of Virginia Library</a>.  Professor Stephen Railton introduces and contextualizes Faulkner's time in residence at UVa at his related project, <em><a href="http://faulkner.lib.virginia.edu">Faulkner at Virginia</a></em>.</p>
	
	<p class="sourcecode" style="background:#fff; line-height: 2em; margin: 5px; padding: 5px; text-align: right;">Get the <a href="http://github.com/scholarslab/Faulkner-Audio-Collection">source code</a></p>
</aside>