<aside id="sidebar" class="span-6 last">
	<div class="subnav"><%= link_to "&#8606; Return to the Collection", :action => "index" unless :action == "index" %></div>
	<h3>Table of Contents</h3>
	<ul>
		<li>one</li>
		<li>two</li>
	</ul>
</aside>