<h1>TEI Files</h1>

<%- counter = 0 %>
<%- file_prefix = RAILS_ROOT + "/db/tei/" %>

<ul>
<% @files.each do |file| %>
	<%- counter += 1 %>
	
		<%- file_name = file.gsub(/['#{file_prefix}']/, '') %>
	
	<li><%= link_to "#{file_name}", :controller => "transcripts" ,:action=> "show", :file => "#{file_name}" %></a></li>
<% end %>
</ul>