<h1>Results</h1>

<div class="pagination">
	<%= will_paginate @transcripts.docs %>
</div>

<div class="search_results">
	<% @transcripts.docs.each do |transcript| %>
	<div class="result">
		
		<h3><%= link_to (transcript[:head], :controller => "transcripts", :action=>"show", :file => transcript[:doc_id] + ".xml") %></h3>
		<p><%= transcript[:fulltext]%></p>
	</div>
	<% end %>
</div>