/* GLOBAL */

body {
	font-size: 100.01%;
	font-family: "Hoefler Text", "Goudy Old Style", "Book Antiqua", Georgia, serif;
}

a {
	color: #310;
}

header {
	letter-spacing: 0.025em;
}

/* HEADER */

#main-hd {
	background: url("http://static.lib.virginia.edu/images/globalHd/blue_gradient_bg_hd1.png") repeat-x scroll center top transparent;
	color:#A7BDDF;
	height: 90px;
}

header .container {
	position: relative;
}

#site-title {
	background: url("http://static.lib.virginia.edu/images/globalHd/library_logo_horiz.png") no-repeat scroll left 33px transparent;
	padding-bottom:30px;
	padding-top:30px;
	float: left;
}

#logo {
	display:block;
	height:30px;
	overflow:hidden;
	text-indent:-1000px;
}

#bookmark {
	background:url("http://static.lib.virginia.edu/images/globalHd/bookmark_motif.png") no-repeat scroll 0 0 transparent;
	bottom:0;
	height:420px;
	position:absolute;
	right:40px;
	width:66px;
	z-index:2;
}

/* MAIN CONTENT */

#content {
	padding-top: 2em;
}

.collection-title h1 {
	font-size: 2.2em;
}

.collection-title h1, .collection-title h3 {
	text-shadow: 1px 1px 2px #AAAAAA;
}

.collection-title a, .collection-title a:hover, .collection-title a:link {
	text-decoration: none !important;
}

#bd a:hover {
	text-decoration: underline;
}

#bd dl {
	margin: 0;
	padding: 10px;
	clear: both;
	display: inline-block;
	letter-spacing: 0.025em;
}

#bd dt {
	float: left;
	margin: 0;
	width: 220px;
}

#bd dd {
	float: right;
	margin: 0;
	width: 360px;
}

#body strong {
	display: inline-block;
	font-variant: small-caps;
	letter-spacing: 0.025em;
	text-transform: lowercase;
	font-size:1.2em;
	/*line-height:1%;*/
	font-weight:normal;
	padding:0 2px;
	height: 1.5em;
	background: #eed;
	color: #310;
	margin-right: 1em;
}

/* SIDEBAR */

#sidebar {
	background: #eed;
	border-top: 0.25em solid #531;
	display: inline-block;
}

#search-box {
	background: #975;
	padding: 0.5em;
}

#search-box .search-text {
	padding: 3px;
	margin: 0;
	border: 1px solid #531;
}

#search-box .search-form-submit {
	background: #eed;
	border: 1px solid #531;
	padding: 2px;
	margin: 0 0 0 4px;
	cursor: pointer;
	vertical-align: top;
}

#search-box .search-form-submit:hover {
	background: #ffe;
}

#sidebar .subnav {
	background: #531;
	padding: 0.75em 1em 1em;
	text-align: right;
}

#sidebar .subnav a, #sidebar .subnav a:link {
	color: #eed;
	text-decoration: none;
}

#sidebar .subnav a:hover {
	color: #fff;
}

#sidebar h3, #sidebar p, #sidebar ul {
	margin: 20px;
}

#sidebar ul {
	padding: 0;
	list-style-position: inside;
	list-style-type: circle;
}

/* FOOTER */

#main-ft {
	background:url("http://static.lib.virginia.edu/images/globalFt/blue_gradient_bg.png") repeat-x scroll center top #4672AF;
	color:#A7BDDF;
	height:125px;
	padding-top:18px;
}

#main-ft a, #main-ft a:visited {
color:#fff;
text-decoration: none;
}

#main-ft p {
margin:0;
}

#author-container {
display:block;
float:left;
padding-right:10px;
width:300px;
text-align: left;
}

#author-container a {
text-decoration:underline !important;
}

#util-container {
display:block;
float:right;
padding-right:10px;
text-align:right;
width:300px;
}

#main-ft {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}

#ft-wrap {
margin:auto !important;
padding-top:20px;
width:928px;
}

.scholars-lab-logo {
border-left:1px dotted #bbb;
display:block;
float:right;
height:76px;
padding-left:10px;
}

.scholars-lab-logo img {
border:medium none;
height:30px;
padding-top:23px;
}

#ft .addr {
display:block;
height:18px;
padding-bottom:2px;
width:100%;
}
