<footer id="main-ft">
	<div id="ft-wrap">
			<div class="scholars-lab-logo">
				<a href="http://lib.virginia.edu/scholarslab/"><img src="/images/slab.png" alt="Scholars' Lab"/></a>
			</div>
			<div id="util-container">
				<div class="addr">University of Virginia Library</div>
				<div class="addr">PO Box 400113, Charlottesville, VA 22904-4113</div>
				<div class="addr">ph: (434) 423-8800 | fax: (434) 924-1431</div>
			</div>
			<div id="author-container">
				<p><a id="copyrightLink" href="http://www.virginia.edu/copyright.html">©</a> Rector and Visitors of the <a href="http://www.virginia.edu">University of Virginia</a></p>
				<p>See UVa Library Special Collections <a href="http://www2.lib.virginia.edu/small/using/use_of_materials_policy.html">use and reproduction policies</a>.</p>
				<p>Download the <a href="http://github.com/scholarslab/Faulkner-Audio-Collection">source code</a> for the Faulkner Audio Collection.</p>
			</div>
	</div>
</footer>