<header id="main-hd">
	<div class="container">
		<div class="span-8" id="site-title"><a id="logo" href="http://lib.virginia.edu">University of Virginia Library</a>
		</div>
		<div id="bookmark"><!-- bookmark motif --></div>
	</div>
</header>